﻿@model intra.Models.Inventario.Localidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Localidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalidadNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalidadDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalidadTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipality_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipality_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalidadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
