﻿@model intra.Models.Inventario.Localidad

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    .panelLoading {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url("/intra/Content/images/ajax-loader.gif") 50% 50% no-repeat;
    }

    body.loading {
        overflow: hidden;
    }

    #showPolicy {
        padding: 10px 10px 0 10px;
    }

    body.loading .panelLoading {
        display: block;
    }
</style>

<h2>Modificar Localidad</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-top:20px;">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LocalidadId)

        <div class="form-group">
            <label for="LocalidadNombre" class="control-label col-md-1">Nombre</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.LocalidadNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalidadNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="LocalidadDireccion" class="control-label col-md-1">Dirección</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.LocalidadDireccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalidadDireccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="LocalidadTelefono" class="control-label col-md-1">Teléfono</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.LocalidadTelefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalidadTelefono, "", new { @class = "text-danger" })
            </div>
            <label for="LocalidadContacto" class="control-label col-md-1">Contacto</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.LocalidadContacto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalidadContacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Municipality_ID" class="control-label col-md-1">Municipio</label>
            <div class="col-md-2">
                @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio)
                @Html.ValidationMessageFor(model => model.Municipality_ID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 col-md-1" style="margin-right:5px;">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
            <div class="col-md-1">@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })</div>
        </div>

    </div>
}


