﻿@model intra.Suplidores

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select, input[type='text'], input[type="datetime"] {
        /*width: 500px !important;*/
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
    }
</style>



<h2 style="margin-bottom:20px;">Crear Suplidor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <section class="serviciosSolicitud">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-1">
                Nombre
            </div>
            <div class="col-lg-5">
                @Html.EditorFor(model => model.SuplidorNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
                Dirección
            </div>
            <div class="col-lg-11">
                @Html.EditorFor(model => model.SuplidorDireccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorDireccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
                Teléfono
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(model => model.SuplidorTelefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorTelefono, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-1">
                Contacto
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(model => model.SuplidorContacto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorContacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-9">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
        <br />
        <br />
    </section>
}

