﻿@model intra.Suplidores

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Suplidores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuplidorNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplidorDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplidorTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplidorUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SuplidorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
