﻿@model intra.Suplidores

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2 style="margin-top:20px;">Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Suplidores</h4>
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SuplidorId)

        <div class="form-group">
            <label for="SuplidorNombre" class="control-label col-md-1">Nombre</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.SuplidorNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="SuplidorDireccion" class="control-label col-md-1">Dirección</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.SuplidorDireccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorDireccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="SuplidorTelefono" class="control-label col-md-1">Teléfono</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.SuplidorTelefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorTelefono, "", new { @class = "text-danger" })
            </div>
            <label for="SuplidorContacto" class="control-label col-md-1">Contacto</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.SuplidorContacto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuplidorContacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="SuplidorUsuario" class="control-label col-md-1">Usuario</label>
            <div class="col-md-11">
                @Html.DisplayFor(model => model.SuplidorUsuario)
            </div>
        </div>

        @Html.HiddenFor(model => model.SuplidorUsuario)
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
            <div class="col-md-1">@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })</div>
        </div>
    </div>
    <br />
}

