﻿@model intra.Models.Repositorio.SeccionRepositorio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SeccionRepositorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeccionRepositorioDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeccionRepositorioDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeccionRepositorioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
