﻿@model intra.Models.Repositorio.SeccionRepositorio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>


<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SeccionRepositorio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SeccionRepositorioId)

        <div class="row">
            <div class="col-lg-2">
                @Html.Label("Sección")
            </div>
            <div class="col-lg-10">
                @Html.EditorFor(model => model.SeccionRepositorioDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SeccionRepositorioDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Seccion")
</div>
