﻿@model IEnumerable<intra.Models.Repositorio.SeccionRepositorio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />

<section class="row">
        <div class="col-lg-10">
            <h2>Sección</h2>
        </div>
        @*<div class="col-lg-2 col-no-padding">
            <p style="text-align:right;">
                @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
            </p>
        </div>*@
    </section>

<table id="table6" class="table table-striped table-hover responsive display  no-wrap" width="100%">
<thead>
    <tr>
        <th>Nombre de Sección</th>
    </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.SeccionRepositorioDescripcion, "Index", "SubSeccionRepositorio", new { seccionRepositorioId = item.SeccionRepositorioId }, null)
                </td>
               
            </tr>
        }
    </tbody>

</table>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table6').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    });

</script>


