﻿@model IEnumerable<intra.Models.Repositorio.SubSeccionRepositorio>

@{
    ViewBag.Title = "Repositorio";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />


<h2>Repositorio</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table id="table1" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                Repositorio
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeccionRepositorio.SeccionRepositorioDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubSeccionRepositorioDescripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SubSeccionRepositorioId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SubSeccionRepositorioId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SubSeccionRepositorioId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    });
  
</script>
