﻿@model IEnumerable < intra.Models.GestionHumana.RolesUsuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Roles y Permisos</h2>
<p>Gestion de Relos y Permisos de Usuarios del Sistema</p>

<p>

    @Html.ActionLink("Usuarios", "Index","Usuarios", null, new { @class = "buttonAceptar" })
    @Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class = "buttonAceptar" })
    @Html.ActionLink("Grupos", "Index", "Grupos", null, new { @class = "buttonAceptar" })
    @Html.ActionLink("Roles", "Index","Roles", null, new { @class = "buttonAceptar" })
    @Html.ActionLink("Sistemas", "Index", "Sistemas", null, new { @class = "buttonAceptar" })
   
</p>



