﻿@model intra.Models.GestionHumana.DocIdVisual

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />

<h2>Nuevo Documento</h2>

@using (Html.BeginForm("Create", "DocIdVisual", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="DocIdVisualNombre" class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocIdVisualNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocIdVisualNombre, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            <label for="ArchivoSubido" class="control-label col-md-2">Subir archivo</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ArchivoSubido, new { type = "file", multiple = "false", @class = "file", @data_show_upload = "false"})
                @Html.ValidationMessageFor(model => model.ArchivoSubido, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/scripts/fileinput.min.js"></script>