﻿@model intra.Models.GestionHumana.DocIdVisual

@{
    ViewBag.Title = "Detalles";

    if (ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />

@if (ViewBag.access == "public_user")
{
    <br />
}


<h4>Detalles</h4>
@using (Html.BeginForm("Edit", "DocIdVisual", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DocIdVisualId)
        @Html.HiddenFor(model => model.DocIdVisualFhCreacion)
        @Html.HiddenFor(model => model.DocIdVisualUsuarioCreador)
        @Html.HiddenFor(model => model.DocIdVisualUsuarioCreadorNombre)

        <div class="form-group">
            <label for="DocIdVisualNombre" class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocIdVisualNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.DocIdVisualNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewBag.EmptyFile == "Empty")
        {
            <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div_a">
                <center><strong>Este modelo no tiene archivo.</strong></center>
            </div>
        }
        else
        {
            <div class="form-group" style="background-color:#f6f6f6;padding:15px;padding-left:0px !important;margin-left:5px;margin-right:5px;" id="file_div">
                <label class="control-label col-md-2">Archivo</label>
                <div class="col-md-10">
                    <a href="@ViewBag.FileSource" target="_blank" download="@Model.DocIdVisualNombre" title="Descargar @Model.DocIdVisualNombre">
                        <img src="@ViewBag.IconImage" width="100" height="100" />
                        <p>Haga click aquí para descargar</p>
                    </a>
                    
                    <br /><br />
                </div>
            </div>
        }

    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/scripts/sweetalert2.js"></script>