﻿@model intra.Models.GestionHumana.DocIdVisual

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />

<h4>Editar</h4>
@using (Html.BeginForm("Edit", "DocIdVisual", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DocIdVisualId)
        @Html.HiddenFor(model=>model.DocIdVisualFhCreacion)
        @Html.HiddenFor(model => model.DocIdVisualUsuarioCreador)
        @Html.HiddenFor(model => model.DocIdVisualUsuarioCreadorNombre)
    
        <div class="form-group">
            <label for="DocIdVisualNombre" class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocIdVisualNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.DocIdVisualNombre, "", new { @class = "text-danger" })
                <p style="font-size:12px;color:gray;">Si desea cambiar el nombre de este archivo, favor enviar solicitud a <strong>Dirección de Tecnología de Información</strong> > <strong>Sistema/Aplicaciones</strong> > <strong>Intranet</strong></p>
            </div>
        </div>
    
        @if (ViewBag.EmptyFile == "Empty")
        {
            <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div_a">
                <center><strong>Este modelo no tiene archivo.</strong></center>
            </div>
        }
        else
        {
            <div class="form-group" style="background-color:#f6f6f6;padding:15px;padding-left:0px !important;margin-left:5px;margin-right:5px;" id="file_div">
                <label class="control-label col-md-2">Archivo</label>
                <div class="col-md-10">
                    <a href="@ViewBag.FileSource" target="_blank" download="@Model.DocIdVisualNombre" title="Descargar @Model.DocIdVisualNombre">
                        <img src="@ViewBag.IconImage" width="100" height="100" />
                        <p>Haga click aquí para descargar</p>
                    </a>
                    <br /><br />
                    <div>
                        <input type="button" value="Eliminar" class="btn btn-danger" id="delete_button" />
                    </div>
                </div>
            </div>
        }

        <div class="form-group" id="fileupload_div">
            <label for="ArchivoSubido" class="control-label col-md-2">Subir archivo</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ArchivoSubido, new { type = "file", multiple = "false", @class = "file", @data_show_upload = "false" })
                @Html.ValidationMessageFor(model => model.ArchivoSubido, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group" id="div_button_submit">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}
    
<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/scripts/sweetalert2.js"></script>
<script src="~/scripts/fileinput.min.js"></script>
@if (ViewBag.EmptyFile != "Empty")
{
    <script>
    $(document).ready(function () {
        $('#fileupload_div').hide();
        $('#div_button_submit').hide();
    });
    </script>
}
<script>
    $('#delete_button').click(function () {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar este archivo?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            $.ajax({
                url: '@Url.Action("DeleteFile")',
                type: "POST",
                data: { id: +$('#DocIdVisualId').val() },
                success: function (data) {
                    //Insert success code here
                    if (data == "success") {
                        $('#file_div').html("<center><strong>Ha eliminado el archivo de este modelo. Debe cargar uno nuevo.</strong></center>");
                        $('#fileupload_div').show();
                        $('#div_link').hide();
                        swal("", "Archivo eliminado", "success");
                    } else {
                        swal("", "Ha ocurrido un error", "error");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                }
            });
        }).catch(function () {

        });
    });

    $('#ArchivoSubido').change(function () {
        $('#div_button_submit').show();
    });
</script>