﻿@model IEnumerable<intra.Models.GestionHumana.DocIdVisual>

@{
    ViewBag.Title = "Index";

    if (ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

@if (ViewBag.access == "public_user")
{
    <br/>
}

@try
{
    if (User.IsInRole("DocIdVisual (Admin)"))
    {
        <section class="row">
            <div class="col-lg-10">
                <h2>Identidad Visual Institucional</h2>
            </div>
            <div class="col-lg-2 col-no-padding">
                <p style="text-align:right;">
                    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
                </p>
            </div>
        </section>

    }
    else
    {
        <section class="row">
            <div class="col-lg-10">
                <h2>Identidad Visual Institucional</h2>
            </div>
        </section>
    }
}
catch (Exception)
{
    <section class="row">
        <div class="col-lg-10">
            <h2>Identidad Visual Institucional</h2>
        </div>
    </section>
}
<br/>
<section style="width:100%;background-color:#f6f6f6;">
    <article>
        <p style="text-align:center;padding:20px;font-weight:100;font-style:italic"><quote>"Estamos trabajando para el fortalecimiento y estandarización de nuestra identidad institucional"</quote></p>
    </article>
</section>
<br />
<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Fecha
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (User.IsInRole("DocIdVisual (Admin)"))
                    {
                        @Html.ActionLink(item.DocIdVisualNombre, "Edit", new { id = item.DocIdVisualId })
                    }
                    else
                    {
                        @Html.ActionLink(item.DocIdVisualNombre, "Details", new { id = item.DocIdVisualId })
                    }  
                </td>
                <td>
                    @if (item.DocIdVisualFhModificacion == null)
                    {
                        @Html.DisplayFor(modelItem => item.DocIdVisualFhCreacion)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DocIdVisualFhModificacion)
                    }
                    
                </td>
            </tr>
        }
    </tbody>    
</table>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {

        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    });
</script>