﻿@model intra.Models.ViewModel.MarcaTipoViewModel

@{
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
       .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    } 
</style>

<h2>Marca</h2>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MarcaEquipo.MarcaEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })

                    @if (ViewBag.error == null) {
                    <span class="field-validation-error text-danger" data-valmsg-for="">@ViewBag.error</span>
                    }
                </div>
            </div>

            <ul>
                @foreach (var g in Model.ListaTipoEquipo) {
                    <li>
                        <input type="checkbox"
                               name="TipoSelecionados"
                               value="@g.TipoEquipoId"
                               @if (Model.TipoSelecionados.Contains(g.TipoEquipoId)) {
                                   <text> checked="checked" </text>
                               }
                               />
                        <label>@g.TipoEquipoDescripcion</label>

                    </li>
                }
            </ul>

            <div class="form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>

