﻿@model intra.Models.ViewModel.MarcaTipoViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
      .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>

<h2>Edit</h2>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        Html.EnableClientValidation(true);

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MarcaEquipo.MarcaEquipoId)

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MarcaEquipo.MarcaEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarcaEquipo.MarcaEquipoDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>
          
            <ul>
                @foreach (var g in Model.ListaTipoEquipo) {
                    <li>
                        <input type="checkbox"
                               name="TipoSelecionados"
                               value="@g.TipoEquipoId"
                               @if (Model.TipoSelecionados.Contains(g.TipoEquipoId)) {
                                   <text> checked="checked" </text>
                               }
                               />
                        <label>@g.TipoEquipoDescripcion</label>

                    </li>
                }
            </ul>

            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Guardar" class="buttonAceptar" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>
