﻿@model intra.Models.ViewModel.MarcaTipoViewModel
<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>



@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Nueva Marca</h2>

@using (Html.BeginForm("AgregarMarcaModal", "MarcaEquipo", FormMethod.Post, new { id = "formModal" }))
{
    <div class="form-horizontal">

        <div class="row">
            @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MarcaEquipo.MarcaEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <ul>
            @foreach (var g in (SelectList)ViewBag.TipoEquipoId)
            {
                <li>
                    <input type="checkbox"
                           id="TipoSelecionados"
                           value="@g.Value"
                           />
                    <label>@g.Text</label>

                </li>
            }
        </ul>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="button" id="btnGuardarMarca" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    $('#btnGuardarMarca').click(function () {

    var tipos = [];

    $("#TipoSelecionados:checked").each(function () {
        tipos.push($(this).val());
    });

    $.ajax({
        type: 'POST',
        url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/AgregarMarcaModal",
        dataType: 'json',
        data: { TipoSelecionados: tipos, marcaNombre: $('#MarcaEquipo_MarcaEquipoDescripcion').val() },
        success: function (result) {
            if (result == 'Guardado') {

                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#MarcaEquipoId').html("");
                        $('#MarcaEquipoId').append('<option value> ----- SELECCIONE LA MARCA ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#MarcaEquipoId').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });

                swal({
                    title: result,
                    type: 'success',
                    confirmButtonText: 'OK'
                }).then(function () {
                    $('#myModal').modal('hide');
                    })
                $('input[id="TipoSelecionados"]').each(function () { this.checked = false; });
                $('#MarcaEquipo_MarcaEquipoDescripcion').val('');
            } else {
                swal(result, "", "error");
            }
        }
    });
});

</script>