﻿@model intra.Sol_Tecnicos_Alternativos

@using intra.Models.ViewModel;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

@{ 
    List<SupervisoresVM> supervisor = ViewBag.SupervisorId;
}

<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />
<script src="~/Content/Chossen/ajaxchosen.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>


<script type="text/javascript">
    function loadSupervisor() {
        $("#SupervisorId").hide();
        $("#SupervisorId").empty();
        $.ajax({
            url: "@Url.Action("SelecccionarSupervisor")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ id:' + $("#ActividadId").val() + '  }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#ActividadId").append('<option value="' + state.SupervisorId + '">' +
                     state.Usuario + '</option>');
                     $("#ActividadId").trigger("chosen:updated");
                     $("#hola").val(states.Usuario)
                     $("#SupervisorId").val(states.SupervisorId)
                     $("#SupervisorId").hide();

                });

                if (states <= 0) {
                    $("#hola").val('');
                    $("#hola").trigger("chosen:updated");
                }
            },
            error: function (ex) {
                alert('No pudo cargar los supervisores: ' + ex);
            }
        });

        return;

    }

    $(document).ready(function () {
        $("#ActividadId").change(function () {
            loadSupervisor();
            $("#super").show();
            $("#SupervisorId").hide();
            return;
        })
    });


    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });



    function cargarEmpleado() {
        $.ajax({
            url: "@Url.Action("BuscarEmpleado")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ Codigo:' + $("#TecnicoId").val() + '  }',

            success: function (states) {
                $("#empleado").val(states.Nombre);

            },
            error: function (ex) {
                alert('No pudo cargar los supervisores: ' + ex);
            }
        });

        return;

    };

    function Buscar (){
        $("#empleado").keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                cargarEmpleado();
                $("#empleado").show();
                $("#empleado").prop('disabled', true)
                return;
            }

        });
        
    }


</script>

<h2>Agregar Usuarios de Soporte</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Tipo Soporte", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ActividadId", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.ActividadId, "", new { @class = "text-danger" })*@
            </div>
        </div>
      
        <div class="row" id="super" hidden="hidden">
            <div class="form-group">

                @Html.Label("Supervisor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="hola" id="hola" value="" class="form-control" />
                    <input type="text" name="SupervisorId" id="SupervisorId" class="form-control" hidden="hidden" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Soporte Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="TecnicoId" id="TecnicoId" onkeypress="Buscar()" value="" />
            </div>
            <div class="col-md-10">
                <input type="text" name="empleado" id="empleado" value="" hidden="hidden" />
            </div>

        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Estado" name="Estado">
                    <option value="">Seleccionar</option>
                    <option value="True">Activo</option>
                    <option value="False">Inactivo</option>
                </select>
            </div>
        </div>
       
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


