﻿@model intra.Sol_Tecnicos_Alternativos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sol_Tecnicos_Alternativos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sol_Actividades.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sol_Actividades.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TecnicoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FhCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FhCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependenciaRegionalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependenciaRegionalId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OtrosTecnicos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
