﻿@model IEnumerable<intra.Sol_Tecnicos_Alternativos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sol_Actividades.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TecnicoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FhCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependenciaRegionalId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sol_Actividades.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TecnicoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FhCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependenciaRegionalId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OtrosTecnicos }) |
            @Html.ActionLink("Details", "Details", new { id=item.OtrosTecnicos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OtrosTecnicos })
        </td>
    </tr>
}

</table>
