﻿@model intra.Models.EstadisticasAsignadas

@{
    ViewBag.Title = "Estadísticas de tareas asignadas - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";

    var cantidadesAbiertas = Model.CantidadesAbiertas;
    var cantidadesCerradas = Model.CantidadesCerradas;
}

<script type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>

<style>
    #tab-container {
        border-bottom: 3px solid #9762cd !important;
    }

        #tab-container ul li.selected {
            background-color: #9762cd !important;
        }

    h4 {
        margin-bottom: 0px !important;
    }
</style>

<div class="content">

    <div>

        <script language="Javascript" type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
        <script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>
        <link href="~/Content/css/estadisticas/servicios-tabs.css" rel="stylesheet" type="text/css">

        <div id="tab-container">
            <h4 style="padding-top:13px; margin-left:8px; border:none; float:left; text-transform:uppercase; color:#2b2d2f; font-family:'robotobold' !important;"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Asignadas</h4>
            <ul>
                <li><a href="~/estadisticas/valorhoras">Valor / Horas</a></li>
                <li><a style="color:#fff; font-weight:bold;" href="~/estadisticas/gerencias">Gerencias</a></li>@*serviciosgrupos.aspx*@
                <li class="selected"><a href="~/estadisticas/asignadas">Asignadas</a></li>@*serviciosasignadas.aspx*@
                <li><a href="~/estadisticas/cantidades">Cantidades</a></li>@*serviciosEstadisticas.aspx*@
            </ul>
        </div>

        <br>

        <br />
        <br />

        <div class="form" style="background-color:#9762cd; margin-top:-13px;">
            <h4 style="color:#fff; padding:10px;"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp; Servicios Abiertos: Últimos 7 Días</h4>
        </div>

        <div id="chart1"></div>


        <script>
            FusionCharts.ready(function () {
                var theFirstChart = new FusionCharts({
                    "type": "Column3D",
                    "renderAt": "chart1",
                    "width": "100%",
                    "height": "400",
                    "dataFormat": "json",
                    "dataSource": {
                        "chart": {
                            "palette": "2",
                            "caption": "Servicios abiertos y cerrados últimos 7 días",
                            "showvalues": "0",
                            "xAxisName": "",
                            "divlinedecimalprecision": "1",
                            "limitsdecimalprecision": "1",
                            "formatnumberscale": "0",
                            "showborder": "0",
                            "captionFontSize": "17",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0",
                            "useroundedges": "1",
                            "bgcolor": "#f5f2e6",
                            "canvasBgColor": "#ffffff",
                            "outCnvBaseFontSize": "10",
                            "outCnvBaseFontColor": "000000",
                            "xAxisNameFontSize": "7",
                            "yAxisNameFontSize": "12",
                            "plotgradientcolor": "",
                            "showalternatehgridcolor": "0",
                            "showplotborder": "0",
                            "divlinecolor": "CCCCCC",
                            "canvasborderalpha": "0",
                            "legendBgAlpha": "0",
                            "legendShadow": "0",
                            "showHoverEffect": "1",
                            "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                            "theme": "fint",
                            "toolTipColor": "#ffffff",
                            "toolTipBorderThickness": "0",
                            "toolTipBgColor": "#000000",
                            "toolTipBgAlpha": "80",
                            "toolTipBorderRadius": "2",
                            "toolTipPadding": "5"
                        },
                        "data": [
                           //{
                           //    "label": "tecnico1",
                           //    "value": "0.50"
                           //},
                           //{
                           //    "label": "tecnico2",
                           //    "value": "2.0"
                           //},
                           //{
                           //    "label": "tecnico3",
                           //    "value": "2.50"
                           //},
                           //{
                           //    "label": "tecnico4",
                           //    "value": "4"
                           //}
                           @foreach(var a in cantidadesAbiertas)
                            {
                    // 0 -> nombre
                    // 1 -> cantidad

                    <text>
                                {
                                    'label': '@a[0]',
                                    'value': '@a[1]'
                                },
                    </text>
                            }
            ]
                    }
                });
                theFirstChart.configure("ChartNoDataText", "No hay datos a mostrar");
                theFirstChart.render();
            })
        </script>

        <div width="36%;"><h4 style="color:#fff; padding:5px; background-color:#9762cd; padding:13px;"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Servicios Cerrados: Últimos 7 Días</h4></div>

        <div id="chart2"></div>


        <script>
            FusionCharts.ready(function () {
                var theSecondChart = new FusionCharts({
                    "type": "column2d",
                    "renderAt": "chart2",
                    "width": "100%",
                    "height": "400",
                    "dataFormat": "json",
                    "dataSource": {
                        "chart": {
                            "palette": "2",
                            "caption": "Servicios abiertos y cerrados últimos 7 días",
                            "showvalues": "0",
                            "xAxisName": "",
                            "divlinedecimalprecision": "1",
                            "limitsdecimalprecision": "1",
                            "formatnumberscale": "0",
                            "showborder": "0",
                            "captionFontSize": "17",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0",
                            "useroundedges": "1",
                            "bgcolor": "#f5f2e6",
                            "canvasBgColor": "#ffffff",
                            "outCnvBaseFontSize": "10",
                            "outCnvBaseFontColor": "000000",
                            "xAxisNameFontSize": "7",
                            "yAxisNameFontSize": "12",
                            "plotgradientcolor": "",
                            "showalternatehgridcolor": "0",
                            "showplotborder": "0",
                            "divlinecolor": "CCCCCC",
                            "canvasborderalpha": "0",
                            "legendBgAlpha": "0",
                            "legendShadow": "0",
                            "showHoverEffect": "1",
                            "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                            "theme": "fint",
                            "toolTipColor": "#ffffff",
                            "toolTipBorderThickness": "0",
                            "toolTipBgColor": "#000000",
                            "toolTipBgAlpha": "80",
                            "toolTipBorderRadius": "2",
                            "toolTipPadding": "5"
                        },
                        "data": [
                           //{
                           //    "label": "tecnico1",
                           //    "value": "0.50"
                           //},
                           //{
                           //    "label": "tecnico2",
                           //    "value": "2.0"
                           //},
                           //{
                           //    "label": "tecnico3",
                           //    "value": "2.50"
                           //},
                           //{
                           //    "label": "tecnico4",
                           //    "value": "4"
                           //}
                           @foreach(var a in cantidadesAbiertas)
                            {
                    // 0 -> nombre
                    // 1 -> cantidad

                    <text>
                                {
                                    'label': '@a[0]',
                                    'value': '@a[1]'
                                },
                    </text>
                            }
            ]
                    }
                });
                theSecondChart.configure("ChartNoDataText", "No hay datos a mostrar");
                theSecondChart.render();
            })
        </script>




    </div>

</div>