﻿@model intra.Models.EstadisticasViewModel
@{
    ViewBag.Title = "Estadísticas de cantidades - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";

    var cantidad_solicitudes = Model.ListaCantidades;
    var años_solicitudes = Model.Años;
    var meses_solicitudes = Model.Meses;
    var cantidades_por_meses = Model.CantidadesPorMeses;
    var cantidades_ultima_semana = Model.CantidadesUltimaSemana;
    var tiempo_respuesta = Model.ListaTiempoRespuesta;
    var tiempo_respuesta_mensual = Model.ListaTiempRespMensual;
}

<script type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>



<script language="Javascript" type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>
<link href="~/Content/css/estadisticas/servicios-tabs.css" rel="stylesheet" type="text/css">


<style>
    #tab-container ul li.selected {
        background-color: #0b867f !important;
    }

    #tab-container {
        border-bottom: 3px solid #0b867f !important;
    }


</style>



<div class="content">

    <div>

     
        <div id="tab-container">
            <h2 class="h2_title_page">Estadísticas de servicios</h2>
            <hr class="hr2" />
            <ul>
                <li><a href="~/estadisticas/valorhoras">Valor / Horas</a></li>
                <li><a style="color:#fff; font-weight:bold;" href="~/estadisticas/gerencias">Gerencias</a></li>@*serviciosgrupos.aspx*@
                <li><a href="~/estadisticas/asignadas">Asignadas</a></li>@*serviciosasignadas.aspx*@
                <li class="selected"><a href="~/estadisticas/cantidades">Cantidades</a></li>@*serviciosEstadisticas.aspx*@
            </ul>
        </div>

        <br>
        <br />
        <br />

        <div class="form" style="background-color:#0b867f; margin-top:-13px;">
            <h4 style="color:#fff; padding:10px;"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp; Servicios Abiertos: Últimos 7 Días</h4>
        </div>

        <div id="chart1">

            <script>
                FusionCharts.ready(function () {
                    var theFirstChart = new FusionCharts({
                        "type": "Column3D",
                        "renderAt": "chart1",
                        "width": "100%",
                        "height": "400",
                        "dataFormat": "json",
                        "dataSource": {
                            "chart": {
                                "caption": "",
                                "subCaption": "",
                                "xAxisName": "",
                                "yAxisName": "Servicios",
                                "divlinedecimalprecision": "1",
                                "limitsdecimalprecision": "1",
                                "formatnumberscale": "0",
                                "showborder": "0",
                                "captionFontSize": "17",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0",
                                "useroundedges": "1",
                                "bgcolor": "#f5f2e6",
                                "canvasBgColor": "#ffffff",
                                "outCnvBaseFontSize": "10",
                                "outCnvBaseFontColor": "000000",
                                "xAxisNameFontSize": "7",
                                "yAxisNameFontSize": "12",
                                "plotgradientcolor": "",
                                "showalternatehgridcolor": "0",
                                "showplotborder": "0",
                                "divlinecolor": "CCCCCC",
                                "canvasborderalpha": "0",
                                "legendBgAlpha": "0",
                                "legendShadow": "0",
                                "showHoverEffect": "1",
                                "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                                "theme": "fint",
                                "toolTipColor": "#ffffff",
                                "toolTipBorderThickness": "0",
                                "toolTipBgColor": "#000000",
                                "toolTipBgAlpha": "80",
                                "toolTipBorderRadius": "2",
                                "toolTipPadding": "5"
                            },
                            "data": [
                               //{
                               //    "label": "tecnico1",
                               //    "value": "0.50"
                               //},
                               //{
                               //    "label": "tecnico2",
                               //    "value": "2.0"
                               //},
                               //{
                               //    "label": "tecnico3",
                               //    "value": "2.50"
                               //},
                               //{
                               //    "label": "tecnico4",
                               //    "value": "4"
                               //}
                               @foreach (var a in cantidades_ultima_semana)
                               {
                                   // 0 -> nombre
                                   // 1 -> cantidad

            <text>
                            {
                                'label': '@a[0]',
                                'value': '@a[1]'
                            },
                </text>
                           }
                            ]
                        }

                    });
                    theFirstChart.configure("ChartNoDataText", "No hay datos a mostrar");
                    theFirstChart.render();
                })
            </script>

        </div>
        <br />
        <br />
        <div style="background-color:#0b867f; height:50px; color:#fff; padding:14px;">
            <h4><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; Tiempo de Respuesta</h4>
        </div>
        <div id="chart2">

            <script>

             FusionCharts.ready(function () {
                 var theSecondChart = new FusionCharts({
                     "type": "scrollline2d",
                     "dataFormat": "json",
                     "renderAt": "chart2",
                     "width": "100%",
                     " height": "600",
                     "dataSource": {
                         "chart": {
                             "caption": "Servicios últimos 7 dias",
                             "subCaption": "",
                             "xAxisName": "Semanal",
                             "yAxisName": "Promedio Tiempo Respuesta",
                             "showValues": "0",
                             "numberPrefix": "min,",
                             "showBorder": "0",
                             "showShadow": "0",
                             //Background color,ratio and alpha
                             "bgColor": "#ffffff,#d5ddcf",
                             "bgratio": "60,40",
                             "bgAlpha": "70,80",
                             //Theme
                             "theme": "fint",
                             "showCanvasBorder": "0",
                             "showAxisLines": "0",
                             "showAlternateHGridColor": "0",
                             "outCnvBaseFontSize": "10",
                             "outCnvBaseFontColor": "000000",
                             "divlineAlpha": "100",
                             "divlineThickness": "1",
                             "divLineIsDashed": "1",
                             "divLineDashLen": "1",
                             "divLineGapLen": "5",
                             "divLineDashGap": "6",
                             "lineThickness": "5",
                             "flatScrollBars": "1",
                             "scrollheight": "10",
                             "numVisiblePlot": "12",
                             "showHoverEffect": "1",
                             "toolTipColor": "#ffffff",
                             "toolTipBorderThickness": "0",
                             "toolTipBgColor": "#000000",
                             "toolTipBgAlpha": "80",
                             "toolTipBorderRadius": "2",
                             "toolTipPadding": "5",
                             "canvasBgColor": "none",
                             "paletteColors": "#0973b9",
                         },
                         "categories": [
                             {
                                 "category": [
                                     //{ "label": "Jan 2012" },
                                     //{ "label": "Feb 2012" },
                                     //{ "label": "Mar 2012" },
                                     //{ "label": "Apr 2012" },
                                     //{ "label": "May 2012" },


                                     @foreach (var a in tiempo_respuesta)

                                     {
                            <text>
                            {
                                'label': '@a.Nombre'

                            },
                         </text>


                                     }

                                 ]
                             }
                         ],
                         "dataset": [
                             {
                                 "data": [
                                     //{ "value": "27400" },
                                     //{ "value": "29800" },
                                     //{ "value": "25800" },
                                     //{ "value": "26800" },
                                     //{ "value": "29600" },

                            @foreach (var a in tiempo_respuesta)

                            {
                            <text>
                            {
                                'value': '@a.Cantidad'

                            },
                        </text>

                                }


                            ]
                        }
                    ]
                }
            })
                 theSecondChart.configure("ChartNoDataText", "No hay datos a mostrar");
                 theSecondChart.render();
             });

            </script>
        </div>

        <br />
        <br />
        <div class="form" style="background-color:#0b867f; margin-top:-13px;">
            <table>
                <tbody>
                    <tr>
                        <td><h4 style="color:#fff; padding:16px;"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Solicitudes Realizadas por Mes:</h4> </td>
                        <td width="36%">
                            <select id="lista_ano" style="width:100%" name="ctl00$ContentPlaceHolder1$txt_ano" onchange="updateChart(1)">
                                @*<option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option selected="selected" value="2016">2016</option>*@
                                @foreach (var a in años_solicitudes)
                                {
                                    <option value="@a">@a</option>
                                }
                            </select>
                        </td>
                        <td width="28%">
                            <select id="lista_mes" style="width:100%" name="ctl00$ContentPlaceHolder1$txt_mes" onchange="updateChart()">
                                @*<option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option selected="selected" value="12">12</option>*@
                                @foreach (var a in meses_solicitudes)
                                {
                                    <option years="@Model.MesesPorAños[a]" value="@a" @if (!cantidades_por_meses.ContainsKey(años_solicitudes.First() + "|" + a)) { <text> style="display: none" </text>   }>@a</option>

                                }
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*<span id="ctl00_ContentPlaceHolder1_lbl_2">
                        <!-- START Script Block for Chart Mensual -->
                        <div id="MensualDiv" align="center"><embed type="application/x-shockwave-flash" src="FusionCharts/FCF_MSColumn3DLineDY.swf" width="690" height="400" id="Mensual" name="Mensual" quality="high" allowscriptaccess="always" flashvars="chartWidth=690&amp;chartHeight=400&amp;debugMode=0&amp;DOMId=Mensual&amp;registerWithJS=0&amp;scaleMode=noScale&amp;lang=EN&amp;dataXML=<graph caption='Servicios Mensual'  PYAxisName='Horas de Trabajo'  SYAxisName='Tiempo Excedido en Minutos!' decimalPrecision='0' showPercentageValues='0' showNames='1' showValues='1' showPercentageInLabel='1'    ><categories><category name='LAUREL'  /><category name='LISSETTE'  /><category name='RAMONA'  /><category name='RAMONA'  /><category name='JESUS'  /><category name='MARIELI'  /><category name='VICTOR'  /></categories><dataset><set  value='0.50'  color='0973b9'  /><set  value='0.50'  color='e6535e'  /><set  value='0.50'  color='eca91a'  /><set  value='0.50'  color='6fb729'  /><set  value='1.00'  color='c77134'  /><set  value='3.00'  color='46c4d3'  /><set  value='3.50'  color='9762cd'  /></dataset><dataset seriesname='Promedio Tiempo Respuesta (min.)' showValues='0' color='21438c' anchorBorderColor='FF8000' parentYAxis='S' lineThickness='4'><set  value='2696' /><set  value='0' /><set  value='2824' /><set  value='8597' /><set  value='217' /><set  value='10498' /><set  value='4724' /></dataset> </graph>"></div>
                        <script type="text/javascript">
            var chart_Mensual = new FusionCharts("FusionCharts/FCF_MSColumn3DLineDY.swf", "Mensual", "690", "400", "0", "0");
            chart_Mensual.setDataXML("<graph caption='Servicios Mensual'  PYAxisName='Horas de Trabajo'  SYAxisName='Tiempo Excedido en Minutos!' decimalPrecision='0' showPercentageValues='0' showNames='1' showValues='1' showPercentageInLabel='1'    ><categories><category name='LAUREL'  /><category name='LISSETTE'  /><category name='RAMONA'  /><category name='RAMONA'  /><category name='JESUS'  /><category name='MARIELI'  /><category name='VICTOR'  /></categories><dataset><set  value='0.50'  color='0973b9'  /><set  value='0.50'  color='e6535e'  /><set  value='0.50'  color='eca91a'  /><set  value='0.50'  color='6fb729'  /><set  value='1.00'  color='c77134'  /><set  value='3.00'  color='46c4d3'  /><set  value='3.50'  color='9762cd'  /></dataset><dataset seriesname='Promedio Tiempo Respuesta (min.)' showValues='0' color='21438c' anchorBorderColor='FF8000' parentYAxis='S' lineThickness='4'><set  value='2696' /><set  value='0' /><set  value='2824' /><set  value='8597' /><set  value='217' /><set  value='10498' /><set  value='4724' /></dataset> </graph>");
            chart_Mensual.render("MensualDiv");
                        </script>
                        <!-- END Script Block for Chart Mensual -->
                    </span>*@
        <div id="chart3"> </div>
        <script type="text/javascript">
                        var monthlyData = {
                        @foreach(var a in años_solicitudes)
                            {
                                <text>
                        'y@(a)': {
                            @foreach(var b in meses_solicitudes)
                            {
                                <text>
                            'm@(b)': {
                                'cantidades': [
                                    @if (cantidades_por_meses.ContainsKey(a + "|" + b))
                    {
                            foreach (var c in cantidades_por_meses[a + "|" + b])
                    {
                        // 0 -> nombre
                        // 1 -> cantidad
                        <text>
                                                {
                                                    'label': '@c[0]',
                                                    'value': '@c[1]'
                                                },
                                            </text>
                                            }
                                        }
                                ],
                                'usuarios': [
                                        @if(tiempo_respuesta_mensual !=null)
                                        {

                                        foreach (var c in tiempo_respuesta_mensual)
                                        {
                                            // 0 -> nombre
                                            // 1 -> cantidad
                                            var es = c.Split('|');
                                <text>
                                {
                                    'label': '@es[0]',
                                    'value': '@es[1]'
                                },
                             </text>
                                    }
                                }

                            ]
                            },
                            </text>
                            }
                        },
                        </text>
                            }
                            };

                var theThirdChart = '';
                FusionCharts.ready(function () {
                    theThirdChart = new FusionCharts({
                        "type": "Column3D",
                        "renderAt": "chart3",
                        "width": "100%",
                        "height": "400",
                        "dataFormat": "json",
                        "dataSource": {
                            "chart": {
                                "caption": "Servicios Mensual",
                                "xAxisName": "",
                                "yAxisName": "Horas",
                                "theme": "fint",
                                "captionFontSize": "17",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0",
                                "useroundedges": "1",
                                "bgcolor": "#f5f2e6",
                                "canvasBgColor": "#ffffff",
                                "outCnvBaseFontSize": "10",
                                "outCnvBaseFontColor": "000000",
                                "yAxisNameFontSize": "12",
                                "plotgradientcolor": "",
                                "showalternatehgridcolor": "0",
                                "showplotborder": "0",
                                "divlinecolor": "CCCCCC",
                                "canvasborderalpha": "0",
                                "legendBgAlpha": "0",
                                "legendShadow": "0",
                                "showHoverEffect": "1",
                                "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                                "theme": "fint",
                                "toolTipColor": "#ffffff",
                                "toolTipBorderThickness": "0",
                                "toolTipBgColor": "#000000",
                                "toolTipBgAlpha": "80",
                                "toolTipBorderRadius": "2",
                                "toolTipPadding": "5"
                            },
                            "data": monthlyData.y@(años_solicitudes.First()).m@(meses_solicitudes.First()).cantidades
                            //"data": [
                            //   {
                            //       "label": "tecnico1",
                            //       "value": "0.50"
                            //   },
                            //   {
                            //       "label": "tecnico2",
                            //       "value": "2.0"
                            //   },
                            //   {
                            //       "label": "tecnico3",
                            //       "value": "2.50"
                            //   },
                            //   {
                            //       "label": "tecnico4",
                            //       "value": "4"
                            //   }
                            //]
                        }
                    });
                    theThirdChart.configure("ChartNoDataText", "No hay datos a mostrar");
                    theThirdChart.render();
                })
        </script>

        <br>
        <br>
        <div style="background-color:#0b867f; margin-top:-13px;"><h4 style="color:#fff; padding:10px;"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; Tiempo Excedido Mensual</h4> </div>

        @*<span id="ctl00_ContentPlaceHolder1_lbl_2">
                        <!-- START Script Block for Chart Mensual -->
                        <div id="MensualDiv" align="center"><embed type="application/x-shockwave-flash" src="FusionCharts/FCF_MSColumn3DLineDY.swf" width="690" height="400" id="Mensual" name="Mensual" quality="high" allowscriptaccess="always" flashvars="chartWidth=690&amp;chartHeight=400&amp;debugMode=0&amp;DOMId=Mensual&amp;registerWithJS=0&amp;scaleMode=noScale&amp;lang=EN&amp;dataXML=<graph caption='Servicios Mensual'  PYAxisName='Horas de Trabajo'  SYAxisName='Tiempo Excedido en Minutos!' decimalPrecision='0' showPercentageValues='0' showNames='1' showValues='1' showPercentageInLabel='1'    ><categories><category name='LAUREL'  /><category name='LISSETTE'  /><category name='RAMONA'  /><category name='RAMONA'  /><category name='JESUS'  /><category name='MARIELI'  /><category name='VICTOR'  /></categories><dataset><set  value='0.50'  color='0973b9'  /><set  value='0.50'  color='e6535e'  /><set  value='0.50'  color='eca91a'  /><set  value='0.50'  color='6fb729'  /><set  value='1.00'  color='c77134'  /><set  value='3.00'  color='46c4d3'  /><set  value='3.50'  color='9762cd'  /></dataset><dataset seriesname='Promedio Tiempo Respuesta (min.)' showValues='0' color='21438c' anchorBorderColor='FF8000' parentYAxis='S' lineThickness='4'><set  value='2696' /><set  value='0' /><set  value='2824' /><set  value='8597' /><set  value='217' /><set  value='10498' /><set  value='4724' /></dataset> </graph>"></div>
                        <script type="text/javascript">
            var chart_Mensual = new FusionCharts("FusionCharts/FCF_MSColumn3DLineDY.swf", "Mensual", "690", "400", "0", "0");
            chart_Mensual.setDataXML("<graph caption='Servicios Mensual'  PYAxisName='Horas de Trabajo'  SYAxisName='Tiempo Excedido en Minutos!' decimalPrecision='0' showPercentageValues='0' showNames='1' showValues='1' showPercentageInLabel='1'    ><categories><category name='LAUREL'  /><category name='LISSETTE'  /><category name='RAMONA'  /><category name='RAMONA'  /><category name='JESUS'  /><category name='MARIELI'  /><category name='VICTOR'  /></categories><dataset><set  value='0.50'  color='0973b9'  /><set  value='0.50'  color='e6535e'  /><set  value='0.50'  color='eca91a'  /><set  value='0.50'  color='6fb729'  /><set  value='1.00'  color='c77134'  /><set  value='3.00'  color='46c4d3'  /><set  value='3.50'  color='9762cd'  /></dataset><dataset seriesname='Promedio Tiempo Respuesta (min.)' showValues='0' color='21438c' anchorBorderColor='FF8000' parentYAxis='S' lineThickness='4'><set  value='2696' /><set  value='0' /><set  value='2824' /><set  value='8597' /><set  value='217' /><set  value='10498' /><set  value='4724' /></dataset> </graph>");
            chart_Mensual.render("MensualDiv");
                        </script>
                        <!-- END Script Block for Chart Mensual -->
                    </span>*@

        <div id="chart4"></div>
        <script>


                var theFourthChart = '';
                FusionCharts.ready(function () {
                    theFourthChart = new FusionCharts({
                        "type": "Column3D",
                        "renderAt": "chart4",
                        "width": "100%",
                        "height": "400",
                        "dataFormat": "json",
                        "dataSource": {
                            "chart": {
                                "caption": "Servicios Mensual",
                                "xAxisName": "",
                                "yAxisName": "Horas",
                                "theme": "fint",
                                "captionFontSize": "17",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0",
                                "useroundedges": "1",
                                "bgcolor": "#f5f2e6",
                                "canvasBgColor": "#ffffff",
                                "outCnvBaseFontSize": "10",
                                "outCnvBaseFontColor": "000000",
                                "yAxisNameFontSize": "12",
                                "plotgradientcolor": "",
                                "showalternatehgridcolor": "0",
                                "showplotborder": "0",
                                "divlinecolor": "CCCCCC",
                                "canvasborderalpha": "0",
                                "legendBgAlpha": "0",
                                "legendShadow": "0",
                                "showHoverEffect": "1",
                                "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                                "theme": "fint",
                                "toolTipColor": "#ffffff",
                                "toolTipBorderThickness": "0",
                                "toolTipBgColor": "#000000",
                                "toolTipBgAlpha": "80",
                                "toolTipBorderRadius": "2",
                                "toolTipPadding": "5"
                            },
                            "data": monthlyData.y@(años_solicitudes.First()).m@(meses_solicitudes.First()).usuarios
                            //"data": [
                            //   {
                            //       "label": "tecnico1",
                            //       "value": "0.50"
                            //   },
                            //   {
                            //       "label": "tecnico2",
                            //       "value": "2.0"
                            //   },
                            //   {
                            //       "label": "tecnico3",
                            //       "value": "2.50"
                            //   },
                            //   {
                            //       "label": "tecnico4",
                            //       "value": "4"
                            //   }
                            //]
                        }
                    });
                    theFourthChart.configure("ChartNoDataText", "No hay datos a mostrar");
                    theFourthChart .render();
                })

                  function updateChart(year) {
                    months = document.querySelector("#lista_mes");
                    years = document.querySelector("#lista_ano");

                    if (year) {
                        temp_nodes = months.children;
                        for (x = 0; x < temp_nodes.length; x++) {
                            temp_ = temp_nodes[x];

                            if (temp_.style.display === "none" && temp_.getAttribute("years").indexOf(years.value) !== -1)
                                temp_.style.display = "";
                            else if (temp_.style.display === "" && temp_.getAttribute("years").indexOf(years.value) === -1)
                                temp_.style.display = "none";
                        }

                        nothidden = document.querySelectorAll('#lista_mes>option:not([style*="display:"])');
                        if (nothidden.length === 0) {
                            months.setAttribute("disabled", "true");
                            months.value = "";
                            return;
                        }
                        else {
                            months.removeAttribute("disabled");
                            months.value = nothidden[0].value;
                        }
                    }

                    temp_val = theThirdChart.getJSONData();
                    temp_val.data = monthlyData["y" + years.value]["m" + months.value]["cantidades"];
                    theThirdChart.setJSONData(temp_val);

                    temp_val = theFourthChart.getJSONData();
                    temp_val.data = monthlyData["y" + years.value]["m" + months.value]["usuarios"];
                    theFourthChart.setJSONData(temp_val);
                }
        </script>

    </div>
</div>