﻿@model intra.Models.EstadisticasViewModel

@{
    ViewBag.Title = "Estadísticas de gerencias - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";

    var info_gerencia_por_meses = Model.infoGerenciaPorMeses;
    var info_usuarios_por_meses = Model.infoUsusarioPorMeses;
    var años_solicitudes = Model.Años;
    var meses_solicitudes = Model.Meses;
}

<script type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>

<style>
    #tab-container {
        border-bottom: 32px solid #0973b9;
    }

    h4 {
        margin-bottom: 0px !important;
    }
</style>

<div class="content">

    <div>

        <script language="Javascript" type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
        <script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>
        <link href="~/Content/css/estadisticas/servicios-tabs.css" rel="stylesheet" type="text/css">

        <div id="tab-container">
            <h4 style="padding-top:13px; margin-left:8px; border:none; float:left; text-transform:uppercase; color:#2b2d2f; font-family:'robotobold' !important;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Estadísticas de servicios</h4>
            <ul>
                <li><a href="~/estadisticas/valorhoras">Valor / Horas</a></li>
                <li class="selected"><a style="color:#fff; font-weight:bold;" href="~/estadisticas/gerencias">Gerencias</a></li>@*serviciosgrupos.aspx*@
                <li><a href="~/estadisticas/asignadas">Asignadas</a></li>@*serviciosasignadas.aspx*@
                <li><a href="~/estadisticas/cantidades">Cantidades</a></li>@*serviciosEstadisticas.aspx*@
            </ul>
        </div>

        <br>
        <br />
        <br />

        <div class="form" style="background-color:#0973b9; margin-top:-13px;">
            <div><h4 style="color:#fff; padding:15px; text-transform:uppercase">Solicitudes Realizadas por Gerencias</h4> </div>
            <div style="background-color:#89957a; ">
                <table>
                    <tbody>
                        <tr>
                            <td><h4 style="color:#fff; padding:16px;"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Solicitudes Realizadas por Mes:</h4> </td>
                            <td width="36%">
                                <select id="lista_ano" style="width:100%" name="ctl00$ContentPlaceHolder1$txt_ano" onchange="updateChart(1)">
                                    @*<option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option selected="selected" value="2016">2016</option>*@
                                    @foreach (var a in años_solicitudes)
                                    {
                                        <option value="@a">@a</option>
                                    }
                                </select>
                            </td>
                            <td width="28%">
                                <select id="lista_mes" style="width:100%" name="ctl00$ContentPlaceHolder1$txt_mes" onchange="updateChart()">
                                    @*<option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option selected="selected" value="12">12</option>*@
                                    @foreach (var a in meses_solicitudes)
                                    {
                                        <option years="@Model.MesesPorAños[a]" value="@a" @if (!info_gerencia_por_meses.ContainsKey(años_solicitudes.First() + "|" + a)) { <text> style="display: none" </text> }>@a</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div id="chart1"></div>

        <script>
            var monthlyData = {
                @foreach(var a in años_solicitudes)
                    {
                        <text>
                'y@(a)': {
                    @foreach(var b in meses_solicitudes)
                                {
                                    <text>
                    'm@(b)': {
                        'gerencias': [
                            @if (info_gerencia_por_meses.ContainsKey(a + "|" + b))
                            {
                                foreach (var c in info_gerencia_por_meses[a + "|" + b])
                                    {
                                        // 0 -> nombre
                                        // 1 -> cantidad
                                        <text>
                            {
                                'label': '@c[0]',
                                'value': '@c[1]'
                            },
                </text>
                                    }
                            }
                        ],
                        'usuarios': [
                            @if (info_usuarios_por_meses.ContainsKey(a + "|" + b))
                            {
                                foreach (var c in info_usuarios_por_meses[a + "|" + b])
                                {
                                    // 0 -> nombre
                                    // 1 -> cantidad
                                        <text>
                            {
                                'label': '@c[0]',
                                'value': '@c[1]'
                            },

                </text>
                                    }
                            }
                        ]
                    },
                    </text>
                                }
                },
                </text>
                    }
            };

            var theFirstChart = "";
            FusionCharts.ready(function () {
                theFirstChart = new FusionCharts({
                    "type": "Column3D",
                    "renderAt": "chart1",
                    "width": "100%",
                    "height": "400",
                    "dataFormat": "json",
                    "dataSource": {
                        "chart": {
                            "caption": "Solicitudes realizadas por gerencias",
                            "xAxisName": "Gerencias",
                            "yAxisName": "Cantidad de solicitudes",
                                "captionFontSize": "17",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0",
                                "useroundedges": "1",
                                "bgcolor": "#f5f2e6",
                                "canvasBgColor": "#ffffff",
                                "outCnvBaseFontSize": "10",
                                "outCnvBaseFontColor": "000000",
                                "xAxisNameFontSize": "7",
                                "yAxisNameFontSize": "12",
                                "plotgradientcolor": "",
                                "showalternatehgridcolor": "0",
                                "showplotborder": "0",
                                "divlinecolor": "CCCCCC",
                                "canvasborderalpha": "0",
                                "legendBgAlpha": "0",
                                "legendShadow": "0",
                                "showHoverEffect": "1",
                                "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                                "theme": "fint",
                                "toolTipColor": "#ffffff",
                                "toolTipBorderThickness": "0",
                                "toolTipBgColor": "#000000",
                                "toolTipBgAlpha": "80",
                                "toolTipBorderRadius": "2",
                                "toolTipPadding": "5"
                        },
                        @* Aqui abajo van ambos "First" *@
                        "data": monthlyData.y@(años_solicitudes.Last()).m@(meses_solicitudes.First()).gerencias
                    }

                });
                theFirstChart.configure("ChartNoDataText", "No hay datos a mostrar");
                theFirstChart.render("chart1");

            })
        </script>


        <br>
        <br>
        <div width="36%;"><h4 style="color:#fff; padding:5px; background-color:#89957a; padding:13px;"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Servicios Solicitados por Usuarios</h4> </div>

        <div id="chart2"></div>

        <script>
            var theOtherChart = "";
            FusionCharts.ready(function () {
                theOtherChart = new FusionCharts({
                    "type": "Column3D",
                    "renderAt": "chart2",
                    "width": "100%",
                    "height": "400",
                    "dataFormat": "json",
                    "dataSource": {
                        "chart": {
                            "caption": "Solicitudes realizadas por usuarios",
                            "xAxisName": "Usuarios",
                            "yAxisName": "Cantidad de solicitudes",
                                "captionFontSize": "17",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0",
                                "useroundedges": "1",
                                "bgcolor": "#f5f2e6",
                                "canvasBgColor": "#ffffff",
                                "outCnvBaseFontSize": "10",
                                "outCnvBaseFontColor": "000000",
                                "xAxisNameFontSize": "7",
                                "yAxisNameFontSize": "12",
                                "plotgradientcolor": "",
                                "showalternatehgridcolor": "0",
                                "showplotborder": "0",
                                "divlinecolor": "CCCCCC",
                                "canvasborderalpha": "0",
                                "legendBgAlpha": "0",
                                "legendShadow": "0",
                                "showHoverEffect": "1",
                                "paletteColors": "#eca91a,#1aaf5d,#f2c500, #0973b9, #e6535e, #6fb729, #46c4d3, #9762cd, #eee83e, #d74505, #0b867f, #e6535e, #ff5904",
                                "theme": "fint",
                                "toolTipColor": "#ffffff",
                                "toolTipBorderThickness": "0",
                                "toolTipBgColor": "#000000",
                                "toolTipBgAlpha": "80",
                                "toolTipBorderRadius": "2",
                                "toolTipPadding": "5"
                        },
                        "data": monthlyData.y@(años_solicitudes.Last()).m@(meses_solicitudes.First()).usuarios
                    }

                });
                theOtherChart.configure("ChartNoDataText", "No hay datos a mostrar");
                theOtherChart.render("chart2");

            })

            function updateChart(year) {
                months = document.querySelector("#lista_mes");
                years = document.querySelector("#lista_ano");

                if (year) {
                    temp_nodes = months.children;
                    for (x = 0; x < temp_nodes.length; x++) {
                        temp_ = temp_nodes[x];

                        if (temp_.style.display === "none" && temp_.getAttribute("years").indexOf(years.value) !== -1)
                            temp_.style.display = "";
                        else if (temp_.style.display === "" && temp_.getAttribute("years").indexOf(years.value) === -1)
                            temp_.style.display = "none";
                    }

                    nothidden = document.querySelectorAll('#lista_mes>option:not([style*="display:"])');
                    if (nothidden.length === 0) {
                        months.setAttribute("disabled", "true");
                        months.value = "";
                        return;
                    }
                    else {
                        months.removeAttribute("disabled");
                        months.value = nothidden[0].value;
                    }
                }

                temp_val = theFirstChart.getJSONData();
                temp_val.data = monthlyData["y" + years.value]["m" + months.value]["gerencias"];
                theFirstChart.setJSONData(temp_val);

                temp_val = theOtherChart.getJSONData();
                temp_val.data = monthlyData["y" + years.value]["m" + months.value]["usuarios"];
                theOtherChart.setJSONData(temp_val);
            }
        </script>

    </div>

</div>