@font-face {
    font-family: 'Gill Sans MT Italic';
    src: url('GillSansMT-Italic.eot');
    src: url('GillSansMT-Italic.eot?#iefix') format('embedded-opentype'),
        url('GillSansMT-Italic.woff') format('woff'),
        url('GillSansMT-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans MT Bold';
    src: url('GillSansMT-Bold.eot');
    src: url('GillSansMT-Bold.eot?#iefix') format('embedded-opentype'),
        url('GillSansMT-Bold.woff') format('woff'),
        url('GillSansMT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSansMT.eot');
    src: url('GillSansMT.eot?#iefix') format('embedded-opentype'),
        url('GillSansMT.woff') format('woff'),
        url('GillSansMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans MT Bold Italic';
    src: url('GillSansMT-BoldItalic.eot');
    src: url('GillSansMT-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GillSansMT-BoldItalic.woff') format('woff'),
        url('GillSansMT-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans Ultra Bold Condensed';
    src: url('GillSans-UltraBoldCondensed.eot');
    src: url('GillSans-UltraBoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('GillSans-UltraBoldCondensed.woff') format('woff'),
        url('GillSans-UltraBoldCondensed.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


