﻿
@{
    ViewBag.Title = "reportAsignaUltimaSemanaAbiertas";
    Layout = null;
}

<!DOCTYPE html>

<style>
    body{
        font-family:Arial, Helvetica, sans-serif;
    }

    h3 {
        font-size:16px;
    }

    h2{
        font-size:19px;
    }

    table td{
        border-bottom:1px solid lightgrey;
        font-size:13px;
    }

    table th{
        background-color:#0053a3;
        height:30px;
        color:#fff;
        border-bottom:1px solid lightgrey;
        text-align:left;
        text-transform:uppercase;
    }

    tr:nth-child(even) {background: #fff;}
    tr:nth-child(odd) {background: #eaeaea;}

</style>

<html>

<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>ReportAsignacionesUltimaSemanaAbiertas</title>
</head>
<body>
    <div align="center" style="padding-top:20px;">
        <img src="~/Content/images/logo.png" height="85" />
        <h2 align="center"><strong>PROCURADURÍA GENERAL DE LA REPÚBLICA</strong></h2>
    </div>
    <h3 align="center">Reporte estadístico de las asignaciones abiertas<br /> para los técnicos de la última semana</h3>
    <div align="center">
        <table border="0" width="90%" cellpadding="10" cellspacing="0">
                <tr>
                    <th>Técnicos</th>
                    <th>Asignaciones abiertas</th>
                </tr>
            @foreach (var a in ViewBag.datosAsignadGrafica1)
            {
                <tr>
                    <td>@a.Nombre</td>

                    <td> @a.TiempoMinuto</td>
                </tr>
            }
        </table>
    </div>
  
</body>
</html>
