﻿
@{
    ViewBag.Title = "Carga de documentos - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";
}

@*<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css" crossorigin="anonymous">*@

@* To use the function "$(...).modal()" *@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

@*<link href="~/Content/css/scancheck/mycarousel.css" rel="stylesheet" />*@

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger text-center">
        <a class="close" aria-label="close" style="cursor:pointer" onclick="this.parentNode.remove()">&times;</a>
        <strong>Error: </strong>@ViewBag.Error
    </div>
}
else if (TempData["Success"] != null)
{
    <div class="alert alert-success text-center">
        <a class="close" aria-label="close" style="cursor:pointer" onclick="this.parentNode.remove()">&times;</a>
        @TempData["Success"]
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group col-sm-6">
                <h4>Razón del documento:</h4>
                <input type="text" name="reason" class="form-control" autofocus />
            </div>
            <div class="form-group col-sm-6">
                <h4>Lugar de procedencia:</h4>
                <input type="text" name="Lugar" class="form-control" autofocus />
            </div>
            <div class="form-group col-sm-6">
                <h4>Persona que envia:</h4>
                <input type="text" name="Emisor" class="form-control" autofocus />
            </div>

            <div class="form-group col-sm-6">
                <h4>Comentario:</h4>
                <textarea name="comment" class="form-control" placeholder="Escriba su mensaje aquí..."
                          style="height:3cm;max-width:100%;min-width:100%;max-height:3cm;min-height:3cm"></textarea>
            </div>

            <div class="form-group col-sm-6 subirdocumento">
                <h4>Subir documento escaneado:</h4>
                <input id="selectFiles" type="button" class="btn btn-default" value="Buscar" />
                <span>Seleccione al menos un archivo</span>
                <div id="fileBunch">

                    @*<input id="getFiles" type="file" style="display:none" onchange="loadImg(this)" accept="image/*" multiple />*@
                </div>
                <div style="margin-top:10px;">
                    <h4>Vista previa:</h4>

                    <div class="well" style="background-color:inherit;padding-top:5px">
                        <div class="row" style="min-height:2.3cm;max-height:5cm;overflow-y:auto;padding-top:10px;">
                            @* Here is the "gallery" section *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 text-right">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>

            <style>
                .text-right {
                    margin-left: -15px;
                }

                .rmv-btn {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: #8d8d8d;
                    cursor: pointer;
                    position: absolute;
                    right: 5px;
                    top: -5px;
                    border: 1px solid gray;
                    color: white;
                }

                    .rmv-btn:hover {
                        background-color: #8a1919;
                        border-color: white;
                    }

                    .rmv-btn:not(:hover) {
                        background-color: #8d8d8d;
                        border-color: gray;
                    }
            </style>
        </form>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">&lt;Document name&gt;</h4>
            </div>
            <div class="modal-body">
                <img id="mymodal-img" class="img-responsive" style="margin:auto" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<myspan myvalue="~/" />

<script>

    function myPreview(obj) {
        $('#mymodal-img')[0].src = obj.children[0].src;
        $('.modal-title')[0].innerHTML = obj.children[1].innerHTML;
        $('#myModal').modal()
    }

    window.onload = function () {

        $('#selectFiles').on("click", null, function () {
            bunch = document.querySelector("#fileBunch").children;

            if (bunch.length != 0 && (temp = bunch[bunch.length - 1]).files.length == 0) {
                temp.click();
                return;
            }

            @*<input id="getFiles" type="file" style="display:none" onchange="loadImg(this)" accept="image/*" multiple />*@

            num_val = bunch.length;

            temp = document.createElement("input");
            if (document.querySelector("#getFiles" + bunch.length))
                for (x = 0; ; x++)
                    if (!document.querySelector("#getFiles" + x))
                    {
                        num_val = x;
                        break;
                    }
            temp.id = "getFiles" + num_val;
            temp.name = "getFiles";
            temp.type = "file";
            temp.style = "display:none";
            temp.accept = ".pdf,image/*";
            //temp.multiple = "true";
            temp.addEventListener("change", function () {
                this.parentNode.parentNode.querySelector("span").innerHTML = "Seleccionar más elementos";

                wellPreview = document.querySelector(".form-group>.well");

                @*<div class="col-xs-1 text-center" style="padding:5px">
                    <span class="rmv-btn" onclick="this.parentNode.remove()">
                        &times;
                    </span>
                    <a href="javascript:;" onclick="myPreview(this)">
                        <img class="img-responsive img-thumbnail" src="http://placehold.it/470x480&amp;text=3" style="max-height:2cm;margin:auto">
                        <span class="text-muted" style="font-size:10px">
                            nombre de la imagen
                        </span>
                    </a>
                </div>*@

                innerWell = wellPreview.children[0];

                for (x = 0; x < this.files.length; x++) {
                    div = document.createElement("div");
                    div.className = "col-xs-2 text-center";
                    div.style.padding = "5px";
                    div.id = this.id + "-" + x;

                    span1 = document.createElement("span");
                    span1.className = "rmv-btn";
                    span1.innerHTML = "&times;";
                    span1.onclick = function () {
                        document.querySelector('#' + (temp_str = this.parentNode.id).substring(0, temp_str.lastIndexOf("-"))).remove();
                        this.parentNode.remove();
                    };

                    myA = document.createElement("a");
                    if (this.files[x].type === "application/pdf")
                    {
                        myA.href = window.URL.createObjectURL(this.files[x]);
                        myA.target = "_blank";
                    }
                    else
                    {
                        myA.href = "javascript:;";
                        myA.addEventListener("click", function () { myPreview(this) });
                    }

                    myImg = document.createElement("img");
                    myImg.className = "img-responsive img-thumbnail";
                    myImg.style.maxHeight = "2cm";
                    myImg.style.margin = "auto";
                    if (this.files[x].type === "application/pdf")
                        myImg.src = document.querySelector("myspan").getAttribute("myvalue") + "content/images/pdf-img.png";
                    else
                        myImg.src = window.URL.createObjectURL(this.files[x]);

                    span2 = document.createElement("span");
                    span2.className = "text-muted";
                    span2.style.fontSize = "10px";
                    span2.style.display = "block";
                    span2.innerHTML = this.files[x].name;

                    myA.appendChild(myImg);
                    myA.appendChild(span2);
                    div.appendChild(span1);
                    div.appendChild(myA);

                    innerWell.appendChild(div);
                }
            });

            temp = document.querySelector("#fileBunch").appendChild(temp);
            temp.click();
        });
    }
</script>