﻿@model IEnumerable<intra.Models.ScanLinkedDocs>

@{
    ViewBag.Title = "Documentos vinculados - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <h3>Documentos vinculados a su cuenta</h3>
        <br />
    </div>

    <div class="col-sm-6 text-right">
        <input id="inputsearch" type="text" class="form-control" style="display:inline;width:5cm"
               autofocus placeholder="Filtrar (fecha, razón...)"@if (Model.Count() == 0) { <text> disabled</text> } />
        <button id="btnsearch" class="btn btn-default"@if (Model.Count() == 0) { <text> disabled</text> }>
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>

<div id="myContainer">
    <div id="nfound" class="well text-center"@if (Model.Count() != 0) { <text> style="display: none"</text> }>
        <span>
            No hay información para mostrar
        </span>
    </div>

    @foreach (var a in Model)
    {
        <a class="myAlink" href="~/scancheck/viewscan?document=@a.ScanRegisterId" myfilter="@a.FechaPublicacion|@a.Razon.ToLower()|@a.NombreUsuario.ToLower()">
            <div class="well" style="padding-bottom:2px">
                <div class="row">
                    <div class="col-sm-2">
                        @a.FechaPublicacion
                    </div>

                    <div class="col-sm-10">
                        @a.Razon
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <span class="small text-muted">
                            <b>Responsable: </b>
                            @a.NombreUsuario
                        </span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>



<script>

    function doSearch() {
        myinput = document.querySelector("#inputsearch");

        myinput.value = myinput.value.trim();

        if (myinput.value.length === 0)
        {
            result = document.querySelectorAll("#myContainer>a");
            for (x = 0; x < result.length; x++)
                if (result[x].style.display === "none")
                    result[x].style.display = "";

            if (result.length > 0)
                document.querySelector("#nfound").style.display = "none";

            myinput.focus();
            return;
        }

        result = document.querySelectorAll("a.myAlink[myfilter*='{0}']".replace("{0}", myinput.value.toLowerCase()));

        for (x = 0; x < result.length; x++)
            result[x].style.display = "";

        result = document.querySelectorAll("a.myAlink:not([myfilter*='{0}'])".replace("{0}", myinput.value.toLowerCase()));

        for (x = 0; x < result.length; x++)
            result[x].style.display = "none";

        result = document.querySelectorAll("a.myAlink:not([style*='display: none'])");

        if (result.length === 0)
            document.querySelector("#nfound").style.display = "";
        else
            document.querySelector("#nfound").style.display = "none";

        myinput.select();
        myinput.focus();
    }

    window.onload = function()
    {
        document.querySelector("#btnsearch").addEventListener("click", doSearch);
        document.querySelector("#inputsearch").addEventListener("keydown", function (ev) {
            if (ev.keyCode == 13)
                doSearch();
        });
    }
</script>
