﻿@model intra.Models.ScanViewModel


@{
    ViewBag.Title = "Ver documento - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";

    var linked_users = Model.LinkedUsers;
    var view_doc = Model.viewDoc;
    var scan_chat = Model.scanChat;
    var files_paths = Model.RutasArchivos;

    var currentUserId = Convert.ToInt32(Session["empleadoId"]);
    // Know if the current user is the same that published this document
    var isThisCurrentUser = view_doc.IdUsuario == currentUserId;
}

<link href="~/Content/css/Chat.css" rel="stylesheet" />

@*<link href="~/Content/css/scancheck/mycarousel.css" rel="stylesheet" />*@

<style>
    .img-responsive {
        max-width: 78%;
    }

    .panel-title {
        font-size: 14px !important;
    }

    .descargar {
        margin: 0 !important;
        padding: 3px !important;
        font-size: 10px !important;
    }
</style>



<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />


<link href="~/CSS/jquery-customselect.css" rel="stylesheet" />

<script src="~/scripts/Chat.js"></script>

<script src="~/JS/jquery-customselect.js"></script>


<script src="~/JS/jquery-customselect-1.9.1.min.js"></script>

@* To use the function "$(...).modal()" *@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">


    $(function () {

        $("#ActividadId").change(function () {

            var url = 'GetSubActividades'

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: $("#ActividadId").val() },
                success: function (data) {
                    $("#SubActividadesId").empty();
                    $("#SubActividadesId").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>')
                    $.each(data, function (i, Subactividades) {
                        $("#SubActividadesId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                    })
                }



            });



        });


        $('#SubActividadesId').change(function () {
            if ($(this).val() != 0) {
                $('#SubActividadesId').val($(this).val());
            }

        });

    });
</script>

<script type="text/javascript">
    $(function () {
        $("#EmpleadoOtrosId").customselect();
    });
</script>

<script type='text/javascript'>
    $(function () {


        $('.date-picker').datepicker();

    })
</script>

<style>
    .table td {
        width: 0 !important;
    }

    .glyphicon {
        color: #4BBCE3;
    }

    .detalleSolicitud td {
        font-size: 13px !important;
        padding: 10px !important;
    }

    .detalleSolicitud table {
        margin-bottom: 25px;
    }

    .detalleSolicitud {
        font-family: 'robotolight' !important;
        font-size: 12px;
    }

        .detalleSolicitud textarea {
            width: 46.9%;
        }

        .detalleSolicitud strong {
            font-family: 'robotobold' !important;
        }

        .detalleSolicitud ul li {
            list-style: none;
        }

        .detalleSolicitud input {
            padding: 5px;
            border-radius: 3px;
            border: solid 1px #4BBCE3;
            margin-bottom: 5px !important;
            vertical-align: middle;
        }

    .bubble, .bubble-other {
        color: #999;
    }

    .chatSolicitud {
        float: right;
        float: right;
        margin-right: 388px;
    }

    .panel-default {
        border-top: 4px solid #4ABCE2 !important;
        border-left: 1px solid #4ABCE2 !important;
        border-right: 1px solid #4ABCE2 !important;
    }

    .bordeRegistro {
        border: 1px solid #4BBCE3;
        margin: 0px;
        border-radius: 4px;
    }

    .tagRegistro {
        font-size: 9px;
        padding: 0px 10px 0 8px;
        border-radius: 5px;
        background: #ededed;
        line-height: normal;
        padding-bottom: 6px;
        margin-bottom: 5px;
        color: #999;
        /*width: 31.6%;*/
        text-align: left;
        border: 1px solid #ccc;
    }


    .table {
        margin-bottom: 10px;
    }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            color: #7e7e7e;
        }
</style>


@* My dependencies *@
<link rel="stylesheet" type="text/css" media="all" href="~/Content/css/awesomplete.css">
<script type="text/javascript" src="~/scripts/awesomplete.min.js"></script>

<style>
    .awesomplete {
        width: 100%;
    }

    /*ul{
        max-height: 5cm;
        overflow-y: auto
    }*/
</style>

<section class="row">
    <div class="col-lg-12">
        <h2>Detalles del documento</h2>
    </div>
</section>

<section class="detalleSolicitud" id="chat">
    <div>
        <input type="hidden" name="idSolicitud" value="@view_doc.ScanRegisterId" id="codSolicitud" />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover responsive ">
                    <tbody>
                        <tr>
                            <td><strong>Código del documento</strong></td>
                            <td id="codigo-documento">@view_doc.IdDepartamento-@view_doc.IdUsuario-@view_doc.ScanRegisterId</td>
                        </tr>
                        <tr>
                            <td><strong>Usuario responsable de la publicación</strong></td>
                            <td id="usuario-responsable">@view_doc.NombreUsuario</td>
                        </tr>
                        <tr>
                            <td><strong>Departamento</strong></td>
                            <td id="nombre-departamento">@view_doc.NombreDepartamento</td>
                        </tr>
                        <tr>
                            <td><strong>Fecha de publicación</strong></td>
                            <td id="fecha-publicacion">@view_doc.FechaPublicacion</td>
                        </tr>
                        @*<tr>
                                <td><strong>Grupo</strong></td>
                                <td>@Html.DisplayFor(model => model.DEDepartamento)</td>
                            </tr>*@
                        <tr>
                            <td><strong>Razón del documento</strong></td>
                            <td id="razon-documento">@view_doc.Razon</td>
                        </tr>
                        <tr>
                            <td><strong>Detalles</strong></td>
                            <td id="detalle-documento">@view_doc.Detalle</td>
                        </tr>
                        <tr>
                            <td><strong>Lugar de procedencia del documento</strong></td>
                            <td id="lugar-documento">@view_doc.LugarProcedencia</td>
                        </tr>
                        <tr>
                            <td><strong>Persona que envió el documento</strong></td>
                            <td id="detalle-documento">@view_doc.EscanEmisor</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                Agregar usuario al Chat
            </div>
            <div class="col-lg-5">
                @*<select class="custom-select" data-val="true"
                            data-val-number="The field CodigoOtrosEmpleados must be a number."
                            data-val-required="The CodigoOtrosEmpleados field is required."
                            id="EmpleadoOtrosId" name="CodigoOtrosEmpleados">
                        <option value="">Seleccione</option>
                        <option value="18312">Ismael Reynaldo Febles Mejia</option>
                    </select>*@

                <input id="mySearch" class="awesomplete form-control" placeholder="Buscar" />
            </div>
            <div class="col-lg-3">
                @*<input type="submit" name="Agregar" value="+ Agregar" class="buttonEnviar" />*@
                <button id="btn-add" class="btn btn-default" style="color:#4ABCE3" disabled>
                    <span class="glyphicon glyphicon-plus"></span> Agregar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                Usuarios en Chat
            </div>


            <div id="myLinks" class="col-sm-4">

                @if (linked_users.Count == 0)
                {
                    <span class="text-center" style="color:lightgray;font-size:10pt;display:block">
                        <i>No hay usuarios vinculados a este documento</i>
                    </span>
                }
                else
                {
                    <ul id="Grid" style="margin:inherit; padding:inherit;">

                        @* linked_users *@

                        @foreach (var a in linked_users)
                        {
                            <li class="tagRegistro row">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            @a.NombreEmpleado
                                        </td>
                                        <td class="text-right" val="@a.IdEmpleado">
                                            <a style="padding-left:5px; color:#999; font-size: 16px;" onclick="removePerson(this)">
                                                <i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        }

                    </ul>
                }

            </div>

            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-6">
                <div style="float:left;">
                    <input type="button" value="Volver" class="buttonEnviar" onclick="location.href = document.querySelector('myspan').getAttribute('myvalue') + 'scancheck/linkeddocs'" />
                </div>
                <div style="float:left;">
                    <input type="button" value="Imprimir" class="buttonEnviar" onclick="createReport()" />
                </div>
            </div>
        </div>

        <div class="form-group col-lg-6">
            <h4>Vista previa:</h4>

            <div class="well" style="background-color:inherit;padding-top:5px">
                <div class="row" style="min-height:5cm;max-height:5cm;overflow-y:auto;padding-top:10px">

                    @for (int x = 0; x < files_paths.Count; x++)
                    {
                        @* 2 -> File extension *@
                    var isPDF = files_paths.ElementAt(x)[2] == ".pdf";

                    <div class="col-xs-2 text-center" style="padding:5px">
                        @if (isPDF)
                        {
                            @* 0 -> File path *@
                            <a href="~/@files_paths.ElementAt(x)[0]" target="_blank">
                                <img class="img-responsive img-thumbnail" src="~/Content/images/pdf-img.png" style="max-height:2cm;margin:auto">
                                <span class="text-muted" style="font-size:10px;display:block">
                                    @* 1 -> File name *@
                                    @(files_paths.ElementAt(x)[1])
                                </span>
                            </a>
                        }
                        else
                        {
                            <a href="javascript:;" onclick="myPreview(this)">
                                @* 0 -> File path *@
                                <img class="img-responsive img-thumbnail" src="~/@files_paths.ElementAt(x)[0]" style="max-height:2cm;margin:auto">
                                <span class="text-muted" style="font-size:10px;display:block">
                                    @* 1 -> File name *@
                                    @(files_paths.ElementAt(x)[1])
                                </span>
                            </a>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <br />
            </div>
        </div>


        <style>
            #mychat-header {
                background-color: #ccc;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: 41px;
            }

            #mychat-body {
                overflow-y: auto;
                height: 7cm;
                background-color: #e5e5e5;
            }

            .mychat-sentMsg {
                background-color: #fff;
                border-radius: 5px;
                border-top-right-radius: 0;
                padding: 3px;
            }

            .mychat-recvMsg {
                background-color: #fff;
                border-radius: 5px;
                border-top-left-radius: 0;
                padding: 3px;
            }
        </style>

        <div class="row">
            <div class="col-lg-offset-7 col-xs-6"></div>

            <div class="col-xs-5 text-right" style="padding-right:30px; float:right; margin-top:-270px">
                <div id="mychat-header" class="row">
                    @* chat_window_1 *@
                    <table style="width:100%">
                        <tr>
                            <td style="height:1cm;padding-left:15px" class="text-left">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span style="font-size:10pt;text-decoration:solid">
                                    Chat - @view_doc.NombreUsuario
                                </span>
                            </td>
                            <td style="height:1cm;padding-right:2px">
                                @*<a href="#">
                                        <span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span>
                                    </a>*@
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="mychat-body" class="row">
                    <div class="col-sm-12">
                        <div class="row" style="padding:5px 0">
                            @* panel-body msg_container_base

                                This code here (all the <text></text> part) is to "adapt" the messages:
                                if the logged user is the one who sent the message: dock it to the right
                                else: dock it to the left
                        *@
                        <div class="col-xs-10 @if (!isThisCurrentUser) { <text>col-xs-push-2</text> }">
                            <div class="@if (isThisCurrentUser) { <text>mychat-sentMsg</text> } else { <text>text-left mychat-recvMsg</text> }">
                                @* messages msg_sent *@
                                <p style="font-size:10pt;padding-left:3px;padding-right:3px">@view_doc.Razon</p>

                                <time style="font-size:7pt" datetime="2009-11-13T20:00">@view_doc.NombreUsuario • @view_doc.FechaPublicacion</time>
                            </div>
                        </div>

                        <div class="col-xs-2 avatar @if (!isThisCurrentUser) { <text>col-xs-pull-10</text> }">
                            @if (view_doc.OwnerAvatar == null)
                            {
                                <img src="~/Content/images/avatar-user.jpg" class="img-responsive" />
                            }
                            else
                            {
                                <img src="@view_doc.OwnerAvatar" class="img-responsive" />
                            }
                        </div>

                    </div>

                    <div class="row" style="padding:5px 0">
                        @* msg_container base_sent

                            This code here (all the <text></text> part) is to "adapt" the messages:
                            if the logged user is the one who sent the message: dock it to the right
                            else: dock it to the left*@
                        <div class="col-xs-10 @if (!isThisCurrentUser) { <text>col-xs-push-2</text> }">
                            <div class="@if (isThisCurrentUser) { <text>mychat-sentMsg</text> } else { <text>text-left mychat-recvMsg</text> }">
                                @* messages msg_sent *@
                                <p style="font-size:10pt;padding-left:3px;padding-right:3px">@view_doc.Detalle</p>

                                <time style="font-size:7pt" datetime="2009-11-13T20:00">@view_doc.NombreUsuario • @view_doc.FechaPublicacion</time>
                            </div>
                        </div>

                        <div class="col-xs-2 avatar @if (!isThisCurrentUser) { <text>col-xs-pull-10</text> }">
                            @if (view_doc.OwnerAvatar == null)
                            {
                                <img src="~/Content/images/avatar-user.jpg" class="img-responsive" />
                            }
                            else
                            {
                                <img src="@view_doc.OwnerAvatar" class="img-responsive" />
                            }
                        </div>
                    </div>

                    @foreach (var a in scan_chat)
                    {
                        <div class="row" style="padding:5px 0">
                            @* msg_container base_receive

                                This code here (all the <text></text> part) is to "adapt" the messages:
                                if the logged user is the one who sent the message: dock it to the right
                                else: dock it to the left*@
                            <div class="col-xs-10 @if (a.IdUsuario != currentUserId) { <text>col-xs-push-2</text> }">
                                <div class="@if (a.IdUsuario == currentUserId) { <text>mychat-sentMsg</text> } else { <text>text-left mychat-recvMsg</text> }">
                                    @* messages msg_receive *@
                                    <p style="font-size:10pt">
                                        @a.Descripcion

                                        @if (a.Archivo != null)
                                        {
                                            <a href="~/scancheck/download?file=@a.Archivo" target="_blank">
                                                Descargar
                                            </a>
                                        }
                                    </p>

                                    <time style="font-size:7pt" datetime="2009-11-13T20:00">@a.Usuario • @a.FechaCreacion</time>

                                </div>
                            </div>

                            <div class="col-xs-2 avatar @if (a.IdUsuario != currentUserId) { <text>col-xs-pull-10</text> }">
                                @if (a.Avatar == null)
                                {
                                    <img src="~/Content/images/avatar-user.jpg" class="img-responsive" />
                                }
                                else
                                {
                                    <img src="@a.Avatar" class="img-responsive" />
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="row" style="background-color:#ccc;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
                <div class="col-sm-12" style="padding-top:3px;padding-bottom:3px">
                    @* panel-footer *@
                    <div class="input-group">
                        <input id="btn-input" type="text" name="DescripcionChat" class="form-control input-sm chat_input" placeholder="Envíe un comentario..." autocomplete="off" />
                        <span class="input-group-btn">
                            <input class="btn btn-default btn-sm" type="button" name="Enviar" value="Enviar" />
                        </span>
                    </div>

                    <div class="text-left">
                        <input id="myUploadBtn" type="button" value="Seleccionar archivo" class="btn btn-default btn-sm" onclick="document.querySelector('#Subir').click()" />
                        <span id="mySelectedFile">
                            Ningún archivo seleccionado
                        </span>

                        <input type='file' id="Subir" name="SubirArchivo" style="display:none"
                               onchange="document.querySelector('#mySelectedFile').innerHTML = this.files[0].name" />@* descargar *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">&lt;Document name&gt;</h4>
            </div>
            <div class="modal-body">
                <img id="mymodal-img" class="img-responsive" style="margin:auto" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

@* An element to hold the web page's root path *@
<myspan myvalue="~/" />

<script type="text/javascript">

    function createReport()
    {
        tempForm = document.createElement("form");
        tempForm.method = "post";
        tempForm.action = document.querySelector("myspan").getAttribute("myvalue") + "scancheck/createreport";

        tempVal1 = document.querySelector("#codigo-documento");
        tempVal2 = document.querySelector("#usuario-responsable");
        tempVal3 = document.querySelector("#nombre-departamento");
        tempVal4 = document.querySelector("#fecha-publicacion");
        tempVal5 = document.querySelector("#razon-documento");
        tempVal6 = document.querySelector("#detalle-documento");
        tempVal7 = document.querySelectorAll("#Grid>li.tagRegistro");
        tempVal8 = document.querySelectorAll(".well>div.row");
        tempVal9 = document.querySelectorAll("#mychat-body>div>div.row");

        vals =
        {
            cod_doc: tempVal1.innerHTML.trim(),
            usr_resp: tempVal2.innerHTML.trim(),
            nomb_dept: tempVal3.innerHTML.trim(),
            fech_publ: tempVal4.innerHTML.trim(),
            razon_doc: tempVal5.innerHTML.trim(),
            detall_doc: tempVal6.innerHTML.trim(),
            usrs: [],
            docs: {
                imgs: [],
                pdfs: []
            },
            msgs: []
        }

        @*
        // Added users
        "#Grid>li.tagRegistro"
        {
            temp = querySelector("table>tr>td");
            temp.innerHTML.trim();
        }

        // Documents
        ".well>div.row"
        {
            temp = querySelector("div>a:not([href='javascript:;']) , div>a:not([target])>img");
            if(temp.href)
                temp.href;
            else
                temp.src;
        }

        // Msgs
        "#mychat-body>div>div.row"
        {
            temp = querySelector("div>div>p");
            temp.innerHTML;
            temp1 = querySelector("div>div>time");
            temp1.innerHTML;
        }
        *@

        @* Added users *@
        for(x = 0; x < tempVal7.length; x++)
            vals.usrs.push(tempVal7[x].querySelector("tr>td").innerHTML.trim());

        @* Documents *@
        for(x = 0; x < tempVal8.length; x++)
        {
            _temp = tempVal8[x].querySelectorAll("div>a:not([href='javascript:;']) , div>a:not([target])>img");

            for(y = 0; y < _temp.length; y++)
            {
                if(_temp[y].href)
                    vals.docs.pdfs.push(_temp[y].href);
                else
                    vals.docs.imgs.push(_temp[y].src);
            }
        }

        @* Msgs *@
        for(x = 0; x < tempVal9.length; x++)
        {
            _temp = tempVal9[x].querySelector("div>div>p");
            _temp2 = tempVal9[x].querySelector("div>div>time").innerHTML.trim();
            if(_temp.querySelector("a"))
                _temp = _temp.innerHTML.replace(_temp.querySelector("a").outerHTML, "");
            else
                _temp = _temp.innerHTML.trim();
            vals.msgs.push([_temp, _temp2]);
        }


        @* Create the input *@
        tempInput = document.createElement("input");
        tempInput.name = "values";
        tempInput.value = JSON.stringify(vals);
        tempInput.type = "hidden";

        tempForm.appendChild(tempInput);
        alert(JSON.stringify(vals));
        document.body.appendChild(tempForm);
        tempForm.submit();
    }

    function myPreview(obj) {
        $('#mymodal-img')[0].src = obj.children[0].src;
        $('.modal-title')[0].innerHTML = obj.children[1].innerHTML;
        $('#myModal').modal()
    }

    function sendVal() {

        txt = document.querySelector('input[name=DescripcionChat]');
        myfile = document.querySelector("#Subir");
        mybtn = document.querySelector("#myUploadBtn");
        detailmsg = txt.value.trim();

        if(detailmsg.length === 0)
            return;

        mybtn.setAttribute("disabled", "true");
        this.setAttribute("disabled", "true");
        txt.setAttribute("disabled", "true");
        route = document.querySelector("myspan").getAttribute("myvalue");
        tempDate = new Date(Date.now());
        var myTempDate = tempDate.getDay() + "/" + (tempDate.getMonth() + 1) + "/" + tempDate.getFullYear();

        myFormData = new FormData();
        myFormData.append("cp", @Request.QueryString["document"]);
        myFormData.append("msg", detailmsg);
        myFormData.append("file", myfile.files.length === 0 ? false: myfile.files[0]);

        $.ajax({
            type: 'POST',
            url: route + 'scancheck/viewscan',
            data: myFormData,
            success: function (data) {

                btn = document.querySelector('input[name=Enviar]');
                txt = document.querySelector('input[name=DescripcionChat]');
                mybtn = document.querySelector("#myUploadBtn");
                myfile = document.querySelector("#Subir");

                //console.log(data);
                //console.log(data.toString());

                if(data.toString() === "True")
                {
                    detailmsg = txt.value.trim();
                    @*
                    <div class="row" style="padding:5px 0">
                       <div class="col-xs-10 ">
                           <div class=" mychat-sentMsg ">
                               <p style="font-size:10pt;padding-left:3px;padding-right:3px">jdlkajsdlkasjl</p>

                               <time style="font-size:7pt" datetime="2009-11-13T20:00">Ismael Febles • 20/12/2016</time>
                           </div>
                       </div>

                       <div class="col-xs-2 avatar ">
                               <img src="/intra/Content/images/avatar-user.jpg" class="img-responsive" />
                       </div>
                   </div>
                    *@

                    @* <CreateFirstPart> *@
                    div1 = document.createElement("div");
                    div1.classList.add("row");
                    div1.style.padding = "5px 0";

                    div2 = document.createElement("div");
                    div2.classList.add("col-xs-10");

                    div3 = document.createElement("div");
                    div3.classList.add("mychat-sentMsg");

                    myP = document.createElement("p");
                    myP.style.fontSize = "10pt";
                    myP.style.paddingLeft = "3px";
                    myP.style.paddingRight = "3px";
                    myP.innerHTML = detailmsg + " ";
                    if(myfile.value !== "")
                    {
                        myA = document.createElement("a");
                        myA.innerHTML = "Ver Adjunto";
                        myA.href = window.URL.createObjectURL(myfile.files[0]);
                        myA.target = "_blank";

                        myP.appendChild(myA);
                    }

                    myTime = document.createElement("time");
                    myTime.style.fontSize = "7pt";
                    myTime.setAttribute("datetime", "2009-11-13T20:00");
                    myTime.innerHTML = "@view_doc.NombreUsuario • " + myTempDate;
                    @* </CreateFirstPart> *@

                    @* <AppendFirstElements> *@
                    div3.appendChild(myP);
                    div3.appendChild(myTime);

                    div2.appendChild(div3);

                    div1.appendChild(div2);
                    @* </AppendFirstElements> *@

                    @* <CreateSecondPart> *@
                    div4 = document.createElement("div");
                    div4.className = "col-xs-2 avatar";

                    myImg = document.createElement("img");
                    myImg.className = "img-responsive";
                    @if (view_doc.Avatar == null)
                    {
                        <text>myImg.src = document.querySelector("myspan").getAttribute("myvalue") + "Content/images/avatar-user.jpg";</text>
                    }
                    else
                    {
                        <text>myImg.src = "@view_doc.Avatar";</text>
                    }

                    @* </CreateSecondPart> *@

                    @* <AppendSecondElements> *@
                    div4.appendChild(myImg);

                    div1.appendChild(div4);

                    document.querySelector('#mychat-body>div').appendChild(div1);
                    @* </AppendSecondElements> *@

                    txt.value = "";
                    myfile.value = "";
                    document.querySelector("#mySelectedFile").innerHTML = "Ningún archivo seleccionado";

                    _temp = document.querySelector('#mychat-body');
                    _temp.scrollTop = _temp.scrollHeight;
                }
                else
                    alert("Ha ocurrido un error al intentar enviar el mensaje");

                btn.removeAttribute("disabled");
                txt.removeAttribute("disabled");
                mybtn.removeAttribute("disabled");

                txt.select();
                txt.focus();
            },
            error: function(resp){
                document.querySelector('input[name=Enviar]').removeAttribute("disabled");;
                document.querySelector('input[name=DescripcionChat]').removeAttribute("disabled");
                document.querySelector("#myUploadBtn").removeAttribute("disabled");

                alert("No se pudo enviar el mensaje");
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function removePerson(obj)
    {
        if(obj.hasAttribute("disabled"))
            return;

        obj.setAttribute("disabled", true);

        @*~/scancheck/eliminarregistro?info=@a.IdEmpleado&cp=@Request.QueryString["document"]*@
        $.ajax({
            url: document.querySelector("myspan").getAttribute("myvalue") + "scancheck/eliminarregistro",
            data: { info: obj.parentNode.getAttribute("val"), cp: @Request.QueryString["document"] },
            method: "post",
            success: function (data) {
                if(data.toString() === "True")
                {
                    @* Get the <li> tag *@
                    obj.parentNode.parentNode.parentNode.parentNode.parentNode.remove();

                    longitud = document.querySelector("#Grid").children.length;

                    if(longitud === 0)
                    {
                        @*
                            <span class="text-center" style="color:lightgray;font-size:10pt;display:block">
                                <i>No hay usuarios vinculados a este documento</i>
                            </span>
                        *@

                        mySpan = document.createElement("span");
                        mySpan.classList.add("text-center");
                        mySpan.style.color = "lightgray";
                        mySpan.style.fontSize = "10pt";
                        mySpan.style.display = "block";

                        myI = document.createElement("i");
                        myI.innerHTML = "No hay usuarios vinculados a este documento";

                        mySpan.appendChild(myI);

                        document.querySelector("#Grid").remove();
                        document.querySelector("#myLinks").appendChild(mySpan);
                    }
                }
                else
                {
                    obj.removeAttribute("disabled");
                    alert("Error: no se pudo desvincular a esta persona");
                }
            },
            error: function (info) {
                obj.removeAttribute("disabled");
                alert("Error: ocurrió un problema al intentar desvincular a esta persona");
            }
        });
    }

    window.onload = function()
    {
        document.querySelector('input[name=Enviar]').addEventListener("click", sendVal);
        document.querySelector('#btn-input').addEventListener("keydown", function(ev){
            if(ev.keyCode == 13)
            {
                ev.preventDefault();
                document.querySelector('input[name=Enviar]').click();
            }
        });

        _temp = document.querySelector('#mychat-body');
        _temp.scrollTop = _temp.scrollHeight;

        @* Added for the "Add person" feature *@

        $.ajax({
            url: document.querySelector("myspan").getAttribute("myvalue") + "scancheck/getinfo",
            method: "post",
            success: function (data) {
                var autoComplete = new Awesomplete(document.querySelector("#mySearch"),
                {
                    list: JSON.parse(data),
                    minChars: 1,
                    //maxItems: 100,
                    replace: function (text) {
                        @* text = { label: "blabla", value: "blabla" } *@
                        this.input.value = text.label;
                    },
                    filter: function (text, input) {
                        @* text = { label: "blabla", value: "blabla" }
                        return Awesomplete.FILTER_CONTAINS(text, input);*@
                        words = input.split(" ");
                        result = false;

                        for(x = 0; x < words.length; x++)
                        {
                            if(result)
                            {
                                if(!(text.label.toLowerCase().indexOf(words[x]) !== -1
                                        || text.value.toLowerCase().replace(/\|/g, "").indexOf(words[x]) !== -1))
                                {
                                    result = false;
                                    break;
                                }
                                continue;
                            }
                            else
                            {
                                if(text.label.toLowerCase().indexOf(words[x]) !== -1
                                        || text.value.toLowerCase().replace(/\|/g, "").indexOf(words[x]) !== -1)
                                {
                                    if(x !== 0)
                                        break;
                                    result = true;
                                }
                            }

                        }

                        @*return text.label.toLowerCase().indexOf(input) !== -1 || text.value.toLowerCase().replace(/\|/g, "").indexOf(input) !== -1;*@
                        return result;
                    },
                    data: function (item, input) {
                        @* item = list[x] *@
                        return { label: item.label, value: item.value + "|" + item.code };
                        @*return { label: item.label, value: item.value };*@
                    }
                });

                //console.log("OK");
                document.querySelector("#mySearch").focus();
            },
            error: function (info) {
                console.log("Error");
                //console.log(info);
            }
        });

        window.addEventListener("awesomplete-select", function (ev) {
            btn = document.querySelector("#btn-add");
            btn.setAttribute("val", ev.text.value.split('|')[1]);
            btn.removeAttribute("disabled");
            btn.focus();
        }, false);

        @*window.addEventListener("awesomplete-selectcomplete", function (e) {
            // User made a selection from dropdown.
            // This is fired after the selection is applied
        }, false);*@

        document.querySelector("#btn-add").addEventListener("click", function () {
            val = this.getAttribute("val");

            if (val === null) {
                document.querySelector("#mySearch").value = "";
                return;
            }

            document.querySelector("#mySearch").setAttribute("disabled", true);
            this.setAttribute("disabled", true);

            $.ajax({
                url: document.querySelector("myspan").getAttribute("myvalue") + "scancheck/addperson",
                method: "post",
                data: { info: val, cp: @Request.QueryString["document"] },
                success: function (data) {
                    if (data.toString() === "True") {
                        txt = document.querySelector("#mySearch");
                        btn = document.querySelector("#btn-add");
                        @*
                        <li class="tagRegistro row">
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        &lt;Aquí se debe ver el nombre&gt;
                                    </td>
                                    <td class="text-right">
                                        <a style="padding-left:5px; color:#999; font-size: 16px;" href="~/RegistroSolicitud/EliminarRegistro?id=elid">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>

                        </li>
                        *@

                        myLi = document.createElement("li");
                        myLi.className = "tagRegistro row";

                        myTable = document.createElement("table");
                        myTable.style.width = "100%";

                        myTr = document.createElement("tr");

                        myTd1 = document.createElement("td");
                        myTd1.innerHTML = txt.value;

                        myTd2 = document.createElement("td");
                        myTd2.classList.add("text-right");
                        myTd2.setAttribute("val", btn.getAttribute("val"));

                        myA = document.createElement("a");
                        @*myA.href = "~/RegistroSolicitud/EliminarRegistro?id=elid";*@
                        myA.style.paddingLeft = "5px";
                        myA.style.color = "#999";
                        myA.style.fontSize = "16px";
                        myA.onclick = removePerson;

                        myI = document.createElement("i");
                        myI.className = "fa fa-trash-o";
                        myI.setAttribute("aria-hidden", "true");
                        myI.style.cursor = "pointer";

                        myA.appendChild(myI);
                        myTd2.appendChild(myA);
                        myTr.appendChild(myTd1);
                        myTr.appendChild(myTd2);
                        myTable.appendChild(myTr);
                        myLi.appendChild(myTable);

                        myUl = document.querySelector("#Grid");
                        if(myUl)
                            document.querySelector("#Grid").appendChild(myLi);
                        else
                        {
                            @* <ul id="Grid" style="margin:inherit; padding:inherit;"> *@

                            myUl = document.createElement("ul");
                            myUl.id = "Grid";
                            myUl.style.margin = "inherit";
                            myUl.style.padding = "inherit";

                            myUl.appendChild(myLi);

                            temp = document.querySelector("#myLinks");
                            temp.innerHTML = "";
                            temp.appendChild(myUl);
                        }

                        txt.value = "";
                        txt.removeAttribute("disabled");
                        txt.focus();
                        btn.removeAttribute("val");
                    }
                    else
                    {
                        alert("Error: no se pudo agregar a esta persona");
                        document.querySelector("#btn-add").removeAttribute("disabled");
                        temp = document.querySelector("#mySearch");
                        temp.removeAttribute("disabled");
                        temp.select();
                        temp.focus();
                    }
                },
                error: function (info) {
                    alert("Error: no se pudo realizar la solicitud");
                    document.querySelector("#btn-add").removeAttribute("disabled");
                    temp = document.querySelector("#mySearch");
                    temp.removeAttribute("disabled");
                    temp.select();
                    temp.focus();
                }
            });
        });

        document.querySelector("#mySearch").addEventListener("input", function () {
            btn = document.querySelector('#btn-add');
            btn.setAttribute('disabled', true)
            btn.removeAttribute("val");
        });

        document.querySelector('#mySearch').addEventListener("keydown", function (ev) {
            if (ev.keyCode === 13 && !(btn = document.querySelector('#btn-add')).hasAttribute("disabled"))
                btn.click();
        });
    }

</script>