﻿@model intra.Models.SolicitudModel 

@*Usado para Mostrar el Avatar del Usuario*@
@using intra.Models
@{
    dbIntranet db = new dbIntranet();

}
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .panel img {
        width: 50%;
        border-radius: 50%;
    }
    .panel textarea{
            width: 100%;
    height: 57px;
    }
</style>
<link href="~/Content/css/Chat.css" rel="stylesheet" />
<h2>Tipo de solicitud: @Html.DisplayFor(model => model.DETipoSolicitud)</h2>

<div>
    @using (Html.BeginForm("Proceso", "OtrosChat", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {    
        <div class="panel panel-default">
            <div class="panel-heading top-bar">
                <div class="col-md-8 col-xs-8">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Solicitado por: @Model.DENombreSolicitante</h3>
                </div>
                <div class="col-md-4 col-xs-4" style="text-align: right;">
                    <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                </div>
            </div>

            <div class="panel-body msg_container_base">
                <div class="row msg_container base_sent">
                    <div class="col-md-10 col-xs-10">
                        <div class="messages msg_sent">
                            <p>
                                @Html.DisplayFor(model => model.DEDescripcionSolicitudes)
                            </p>
                            <time datetime="2009-11-13T20:00">@Html.DisplayFor(model => model.DEUsuarioDominioSolic) • @Html.DisplayFor(model => model.DEFechaCreacion)</time>
                        </div>
                    </div>
                    @*Validacion para Mostrar el Avatar*@
                    @{ 
                        var empID = Model.DECodigoSolicitante;
                        var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == Model.DECodigoSolicitante.ToString()).FirstOrDefault();
                     }


                    @if (EmpAvatar!=null)


                    {
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="@EmpAvatar.avatar" class="img-responsive">
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="~/Content/images/avatar-user.jpg" class="img-responsive">
                        </div>
                    }
                </div>
                @foreach (var item in Model.Tb_Chat)
                {
                    <div class="row msg_container base_receive">

                        @*Validacion para Mostrar el Avatar*@
                        @{                          
                            var EmpAvatars = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == item.Empleadoid).FirstOrDefault();
                        }

                        @if (EmpAvatars != null)
                        {
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="@EmpAvatars.avatar" class="img-responsive">
                        </div>
                        }
                        else
                        {
                            <div class="col-md-2 col-xs-2 avatar">
                                <img src="/intra/Content/images/avatar-user.jpg" class="img-responsive">
                            </div>
                        }

                        <div class="col-md-10 col-xs-10">
                          
                            <div class="messages msg_receive">
                                <p>
                                    @item.Descripcion
                                </p>
                                <time datetime="2009-11-13T20:00">@item.Usuario • @item.FhCreacion</time>
                                @if (item.Archivo != "NoContiene")
                                {
                                    @*<a href="~/Content/Archivos/@item.Archivo">"Download"</a>*@
                                    <a href="~/OtrosChat/Download?file=@item.Archivo">
                                        Descargar
                                    </a>
                                }

                              
                            </div>
                        </div>
                    </div>
                }
                <a name="Ancla" id="a"></a>
            </div>

            <div class="panel-footer">
                <div class="input-group">
                    @Html.TextAreaFor(model => model.DescripcionChat, new { @style = "form-control input-sm chat_input" })
                    <span class="input-group-btn">
                        <input type='file' id="Subir" name="SubirArchivo" />
                        <input class="btn btn-primary btn-sm" type="submit" name="Enviar" value="Enviar Correo" />
                    </span>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function llamaralancla() {
        document.location.href = "#Ancla";
    }

    llamaralancla();
    
</script>