﻿@model intra.Models.GestionHumana.FotoGestionHumana

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<style>
    .btn-file{
        display: flex;
        align-items: center;
        padding: 7.5px 10px;
        background-color: #0c4ba4;
        border-color: #0c4ba4;
    }
    .glyphicon{
        font-family: 'Glyphicons Halflings'!important;
        margin-right: 10px;
        margin-top: -5px;
    }
    .button_white:focus{
        padding: 6px 12px;
        margin-bottom: 0;
    }
</style>

<div style="width:100%;">
    @if (TempData["MsjError"] != null)
    {
        <label class="alert alert-warning" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @TempData["MsjError"].ToString()
        </label>
    }
</div>

@using (Html.BeginForm("Create", "FotoGestionHumana", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Subir fotografias </h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top">
                <button type="submit" value="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                     
                    @Html.ActionLink("Volver", "Index", new { AlbumId = ViewBag.IdAlbum }, new {@class ="btn button_white"})

            </div>
        </div>
    </section>
    <br />
    <br />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="AlbumGHId" id="AlbumGHId" value="@ViewBag.IdAlbum"/>

        <div class="form-group">
         
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FotoVista, new { type = "file", multiple = "true", @class = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\"]" })
                @*@Html.ValidationMessageFor(model => model.FotoGHArchivo, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            <label for="FotoGHDescripcion" class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                <textarea id="FotoGHDescripcion" name="FotoGHDescripcion" class="form-control" rows="5"></textarea>
                @Html.ValidationMessageFor(model => model.FotoGHDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/jquery.filedrop.js"></script>
<script src="~/scripts/create_incautaciones2.js"></script>
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script>
    $('#FotoVista').fileinput();

    $('#FotoVista').change(function () {
        $("#descripcion").html("");
        for (var i = 0; i < $('#FotoVista')[0].files.length; i++) {
            $("#descripcion").append("<div class='form-group' hidden='hidden'> <label class='control-label col-md-2' >" + "Archivo " + (i + 1) + " : </label><div class='col-md-10'><input type='text' class='form-control fotoDescripcion' name='fotoDescripcion' class='form-control'/></div><div><label class='col-md-2'></label><div class='col-md-10'><label class='text-danger'></labe></div></div></div>");
        }
    });

    $('.fileinput-remove').click(function () {
        $('#descripcion').html("")
    });

    $('#formulario_create').submit(function (ev) {
        if (document.getElementById('FotoVista').files.length == 0) {
            swal("", "Debe subir un archivo", "warning");
            ev.preventDefault();
        }
    });
</script>