﻿@model intra.Models.GestionHumana.FotoGestionHumana

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />

<h2>Editar foto</h2>

@using (Html.BeginForm("Edit", "FotoGestionHumana", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.AlbumGHId)
    @Html.HiddenFor(model => model.FotoGHId)
    @Html.HiddenFor(model => model.FotoGHAlto.Value)
    @Html.HiddenFor(model => model.FotoGHAncho.Value)
    @Html.HiddenFor(model => model.FotoGHUsuarioCreador)
    @Html.HiddenFor(model => model.FotoGHFhSubida.Value)
    @Html.HiddenFor(model => model.FotoGHFhCreacion)
    @Html.HiddenFor(model => model.FotoGHArchivo)

    <div class="form-group">
        <label class="control-label col-md-2">Álbum</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AlbumGestionHumana.AlbumGHNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

            @*<input type="text" class="form-control" id="AlbumGestionHumana.AlbumGHNombre" name="AlbumGestionHumana.AlbumGHNombre" value="@Model.AlbumGestionHumana.AlbumGHNombre" readonly="readonly" />*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nombre</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="FotoGHNombre" name="FotoGHNombre" value="@Model.FotoGHNombre" readonly="readonly"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Extensión</label>
        <div class="col-md-10">
            <input type="text" name="FotoGHExtension" id="FotoGHExtension" class="form-control" readonly="readonly" value="@Model.FotoGHExtension"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Fecha de subida</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value='@Model.FotoGHFhSubida.Value.ToString("dd/MM/yyyy")' readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tamaño</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value='@Model.FotoGHAncho.Value x @Model.FotoGHAlto.Value' readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Usuario creador</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value='@ViewBag.UsuarioCreador' readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Fecha creación</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value='@Model.FotoGHFhCreacion.Value.ToString("dd/MM/yyyy")' readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label for="FotoGHDescripcion" class="control-label col-md-2">Descripción</label>
        <div class="col-md-10">
            <textarea id="FotoGHDescripcion" name="FotoGHDescripcion" class="form-control" rows="5">@Model.FotoGHDescripcion</textarea>
            @Html.ValidationMessageFor(model => model.FotoGHDescripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div">
        <label class="control-label col-md-2">Foto</label>
        <div class="col-md-10">
            <a href='@Url.Action("PhotoDownload")/@Model.FotoGHId' target="_blank" download="@Model.FotoGHNombre" title="@Model.FotoGHNombre">
                <img src="@ViewBag.IconImage" width="100" height="100" />
            </a>
            <br />
            <label>Haga click en la imagen para descargar</label>
            <br />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index", new { AlbumId = Model.AlbumGHId })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/jquery.filedrop.js"></script>
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script src="~/scripts/sweetalert2.js"></script>