﻿@model IEnumerable<intra.Models.GestionHumana.FotoGestionHumana>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link href="~/Content/css/fotos.css" rel="stylesheet" />
<link href="~/Content/css/imageviewer.css" rel="stylesheet" />
<link href="~/Content/css/demo.css" rel="stylesheet" />
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/set1.css" rel="stylesheet" />
<style>
    .bla {
        font-weight: 200;
    }

    .card-image {
        width: 100%;
        max-width: 180px;
    }

    .card-img {
        width: 320px;
        height: 221px;
        /*max-width: 180px;*/
    }

    .icon-links a i {
        color: #848484;
        padding-left: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

        .icon-links a i:hover {
            color: #616161;
        }

    igure.effect-zoe:hover p.icon-links a:hover,
    figure.effect-zoe:hover p.icon-links a:focus {
        background-color: white !important;
    }

    figcaption span {
        font-size: 16px;
    }
    #Volver{
        margin-bottom: 2px;
        padding-top: 10px;
    }
</style>
<section class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Albúm Gestión Humana</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">
@if (User.IsInRole("RRHHA"))
{
    @Html.ActionLink("+ Subir Foto", "Create", new { AlbumId = ViewBag.IdAlbum }, new { @class = "button_white " })
    <button type="button" id="Volver" name="volver" onclick="volverAtras()" class="btn button_white">Volver</button>

}
        </div>
    </div>
</section>


<br />
<br />

<div class="row cf" id="image-gallery-1">
    <form method="post">
        <input type="hidden" name="AlbumId" id="AlbumId" value="@ViewBag.IdAlbum" />
    </form>

    @foreach (var item in Model)
    {
      
        <div class="grid col-md-4">
            <figure class="effect-zoe">
                <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/GH_IMAGES/AlbumFotos/@item.FotoGHNombre" class="card-img" data-high-res-src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/GH_IMAGES/AlbumFotos/@item.FotoGHNombre" />
                <figcaption>
                    <span>@item.FotoGHNombre.Substring(0, item.FotoGHNombre.LastIndexOf('.'))</span>
                    <p class="icon-links">
                        @if (User.IsInRole("RRHHA"))
                        {
                            <a href='@Url.Action("Edit", new { id = item.FotoGHId, AlbumId = ViewBag.IdAlbum })'><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="icon-trash" onclick='EliminarFoto(@item.FotoGHId)'><i class="fa fa-trash" aria-hidden="true"></i></a>
                        }

                        <a class="view" onclick='ViewImage($(this).parent().parent().parent().children("img"))'><i class="fa fa-eye" aria-hidden="true"></i></a>

                        <a class="icon-download" href='@Url.Action("PhotoDownload")/@item.FotoGHId'><i class="fa fa-download" aria-hidden="true"></i></a>
                    </p>
                    <p class="description">@item.FotoGHDescripcion</p>
                </figcaption>
            </figure>
        </div>
    }
</div>
<script>
    function volverAtras() {
        window.history.back();
    }
</script>


<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/Content/js/imageviewer.js"></script>
<script>
    function ViewImage(e) {
        var viewer = ImageViewer();
        var imgSrc = e.attr("src"),
            highResolutionImage = e.attr('high-res-img');
        viewer.show(imgSrc, highResolutionImage);
    }

    function EliminarFoto(albumId) {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar esta foto?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ id:' + albumId + ' }',
                success: function (data) {
                    if (data == "Success") {
                        swal("", "La foto se ha eliminado correctamente", "success")
                            .then(function () {
                                location.reload();
                            });
                    } else {
                        swal("", "Ha ocurrido un error al eliminar la foto", "error");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error al eliminar la foto", "error");
                }
            });
        });
    }
</script>