﻿@model intra.Models.Docs.IntraDocumentos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IntraDocumentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IntDocumentoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDocumentoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntDocumentoFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDocumentoFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntCarpetaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntCarpetaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntDocumentoArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDocumentoArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntDocumentoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDocumentoTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntDocumentoEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDocumentoEstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntDocumentoFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntDocumentoFechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntDocumentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
