﻿@model IEnumerable<intra.Models.Docs.IntraDocumentos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IntDocumentoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntDocumentoFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntCarpetaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntDocumentoArchivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntDocumentoTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntDocumentoEstatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntDocumentoFechaCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IntDocumentoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntDocumentoFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntCarpetaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntDocumentoArchivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntDocumentoTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntDocumentoEstatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntDocumentoFechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IntDocumentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IntDocumentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IntDocumentoId })
        </td>
    </tr>
}

</table>
