﻿@model intra.Models.Docs.IntraDocumentos

@{
    ViewBag.Title = "Subir Archivo";
    Layout = "~/Views/intraMaster.cshtml";
    var FechaActual = DateTime.Now;
}
}

<h2>Cargar Archivo</h2>


<script type="text/javascript" src="~/Content/js/bootstrap-filestyle.min.js"></script>



@using (Html.BeginForm("SubirArchivo", "IntraDocumentos", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Documentos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @*<input type="hidden" name="CarpetaId" value="@ViewBag.CarpetaId" />*@

        <div class="form-group">
            @Html.Label("Título", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="IntDocumentoNombre" class="form-control" />
                @Html.ValidationMessageFor(model => model.IntDocumentoArchivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha documento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <div class='input-group date' id='datetimepicker1'>
                    <input type='date' value="@FechaActual" class="form-control" name="IntDocumentoFecha" id='datetimepicker4' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>


                @Html.ValidationMessageFor(model => model.IntDocumentoArchivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Archivo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="ArchivoVista" type="file" multiple="True" class="form-control filestyle" />
                @Html.ValidationMessageFor(model => model.IntDocumentoArchivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Subir" class="btn btn-default" />
            </div>
        </div>
    </div>
}
