﻿<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>

@model intra.Sol_Tecnico_Dependencia

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>NUEVO TECNICO</h2>

@using (Html.BeginForm("AgregarServicioModal", "Sol_Sub_Actividades", FormMethod.Post, new { id = "formModal" }))
{
    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="margin: 0;">

                <div class="form-group" style="margin: 0;">
                    <div class="col-md-12">
                        @Html.Label("Dependencia", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("DependenciaId", (SelectList)ViewBag.Dependencias, new { @class = "form-control", @style = "height: 37px;" })
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin: 0;">
                    <div class="col-md-12">
                        @Html.Label("Código del Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="TecnicoDependenciaEmpleadoId" name="TecnicoDependenciaEmpleadoId" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin: 0;">
                    <div class="col-md-12">
                        @Html.Label("Permiso a Solicitar", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="hidden" id="TecnicoDependenciaCrearSolicitante" name="TecnicoDependenciaCrearSolicitante" value="false" />
                            <input type="radio" name="dependientes2" id="true" value="true" hidden>Si
                            <label for="true">
                                <span></span>
                            </label>

                            <input type="radio" name="dependientes2" id="false" value="false" checked="checked" hidden>No
                            <label for="false">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin:0;">
                    <div class="col-md-12">
                        @Html.Label("Nombre del Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" disabled id="TecnicoDependenciaNombre" name="TecnicoDependenciaNombre" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin:0;">
                    <div class="col-md-12">
                        @Html.Label("Correo del Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" disabled id="Correo" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="button" id="btnAgregarTecnico" value="Agregar" class="btn btn-default button_white" style="margin-left: 4%;" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}

    <script>

        $("[name='dependientes2']").change(function () {

            $("#TecnicoDependenciaCrearSolicitante").val($(this).attr('value'));

        });

    function GetTecnico(id) {

        $.ajax({
            url: '@Url.Action("GetEmpleado", "TipoSolicitudes")',
            data: { codigoEmpleado: id },
            dataType: 'json',
            method: 'POST',
            success: function (data, status, xhr) {
                $("#TecnicoDependenciaNombre").val(data.displayName);
                $("#Correo").val(data.samAccountName + ".pgr.gob.do");
                console.log(data);
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log('Error' + errorMessage);
            }
        });

    }

    $("#TecnicoDependenciaEmpleadoId").on("blur", function () {
        GetTecnico($("#TecnicoDependenciaEmpleadoId").val());
    });

    $('#btnAgregarTecnico').click(function () {

        if ($('#TecnicoId').val() != "") {
            AnimacionCarga.show();
            $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/Nmdependencias_Permisos/AgregarTecnicos",
            method: "POST",
            data: $("#formModal").serialize(),
            success: function (result) {
                if (result == "Guardado") {
                    success(result);
                } else {
                    error(result);
                }
            },
            error: function (ex) {
                error("Ha ocurrido un error")
            }
            });

        } else {
            AnimacionCarga.hide();
            swal("","Ingrese un Tecnico","info")
        }
    });
    </script>