﻿@model intra.Models.GestionHumana.Permisos.Nmdependencias_Permisos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .ui-autocomplete-loading {
        background: url("/intra/Content/images/ajax-loader.gif") right center no-repeat;
    }
</style>

<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />

<h2>Directores y Encargados</h2>

<!-- Trigger the modal with a button -->
<button type="button" style="display:none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="background-color:none;opacity:0.0;">

        <!-- Modal content-->
        <div class="modal-content" style="background-color:none">
            <div class="modal-header" style="background-color:none;opacity:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color:none;opacity:1;">
            </div>
            <div class="modal-footer" style="background-color:none;opacity:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <center><img src="~/Content/images/gif_intranet_loading.gif" width="200" height="200" /></center>
</div>

@using (Html.BeginForm("Create", "Nmdependencias_Permisos", FormMethod.Post,new{ id = "formulario_create_dependencias"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group" id="DIV_DEPENDENCIA">
            <label for="DependenciaID" class="control-label col-md-2">Dependencia</label>
            <div class="col-md-10">
                @Html.DropDownList("DependenciaID", (SelectList)ViewBag.Dependencia, "Seleccionar", new { @class = "form-control" })
            </div>
            <div>
                <label for="DirectorDependencia" class="control-label col-md-2">Director</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DirectorDependencia, new { htmlAttributes = new { @class = "form-control TxtUsuario" } })
                </div>
            </div>
        </div>
        
        <div class="form-group" id="DIV_DEPARTAMENTO">
            <label for="DeptoID" class="control-label col-md-2">Departamento</label>
            <div class="col-md-10">
                @Html.DropDownList("DeptoID", (SelectList)ViewBag.Depto, "Seleccionar", new { @class = "form-control" })
            </div>
            <div>
                <label for="EncargadoDepartamento" class="control-label col-md-2">Encargado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EncargadoDepartamento, new { htmlAttributes = new { @class = "form-control TxtUsuario" } })
                </div>
            </div>
        </div>

        <div class="form-group" id="DIV_DIVISION">
            <label for="DivisionID" class="control-label col-md-2">División</label>
            <div class="col-md-10">
                @Html.DropDownList("DivisionID", (SelectList)ViewBag.Division, "Seleccionar", new { @class = "form-control"})
            </div>
            <div>
                <label for="EncargadoDivision" class="control-label col-md-2">Encargado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EncargadoDivision, new { htmlAttributes = new { @class = "form-control TxtUsuario" } })
                </div>
            </div>
        </div>
        
        <div class="form-group" id="DIV_SECCION">
            <label for="SeccionID" class="control-label col-md-2">Sección</label>
            <div class="col-md-10">
                @Html.DropDownList("SeccionID", (SelectList)ViewBag.Seccion, "Seleccionar", new { @class = "form-control" })
            </div>
            <div>
                <label for="EncargadoSeccion" class="control-label col-md-2">Encargado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EncargadoSeccion, new { htmlAttributes = new { @class = "form-control TxtUsuario" } })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model=>model.NombreTablaAGuardar,new { @class = "form-control"})
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Guardar" class="buttonAceptar button_white " id="success"/>
                <input type="button" value="Desplegar sub-áreas" class="buttonAceptar btn-default" id="sub_areas" hidden="hidden"/>
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>*@

        @*<div>
            @Html.ActionLink("Volver", "Index")
        </div>*@
    </div>
}

<!--Jquery para Autocompletar Via Ajax-->
<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script type="text/javascript">
    $(function () {
        $(".TxtUsuario").autocomplete({
            source: 
                function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetUsuarios")',
                        type: "GET",
                        dataType: "json",
                        data: {
                            parameter1: $('#DependenciaID').val(),
                            parameter2: $('#DeptoID').val(),
                            parameter3: $('#DivisionID').val(),
                            parameter4: $('#SeccionID').val(),
                            parameter5: document.activeElement.value
                        },
                        success: function(data) {
                            response($.map(data, function (item) {
                                return { label: item };
                            }));
                        },
                        select: function (event, ui) {
                            var x = document.activeElement.getAttribute('name');
                            $("#" + x).val(ui.item.id);
                        }
                    });
                }
            });
        });
</script>
<script type="text/javascript">
    function load_departamentos()
    {
        $("#DeptoID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Departamento")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ dependencia: ' + $("#DependenciaID").val() + ' }',
            success: function (states) {
                if (states.selected_list.length > 0) {
                    $("#DeptoID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(states.selected_list, function (i, state) {
                        $("#DeptoID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    });
                    if (states.chain != null) {
                        if (states.chain == "JONATHAN ARIAS GUEVARA") {
                            $('#DirectorDependencia').val("");
                        } else {
                            $('#DirectorDependencia').val(states.chain);
                        }
                    }

                    return true;
                } else if (states.selected_list.length == 0) {
                    $("#DeptoID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $('#DIV_DEPARTAMENTO').hide();
                    $('#DirectorDependencia').val(states.chain);
                    $('#DirectorDependencia').prop("readonly", false);
                    return false;
                }
            },
            error: function (ex) {
                swal("","Ha ocurrido un error.","error");
            }
        });
        return;
    }
</script>
<script type='text/javascript'>
    function load_divisiones()
    {
        $("#DivisionID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Division")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ depto: ' + $("#DeptoID").val() + ', dependencia: ' + $("#DependenciaID").val() + ' }',
            success: function (states) {
                if (states.selected_list.length > 0) {
                    $("#DivisionID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(states.selected_list, function (i, state) {
                        $("#DivisionID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    });
                    if (states.chain != null) {
                        if (states.chain == "JONATHAN  ARIAS GUEVARA") {
                            $('#EncargadoDepartamento').val("");
                        } else {
                            $('#EncargadoDepartamento').val(states.chain);
                        }
                    }

                    return true;
                } else if (states.selected_list.length == 0) {
                    $("#DivisionID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>');
                    $('#DIV_DIVISION').hide();
                    $('#EncargadoDepartamento').val(states.chain);
                    $('#EncargadoDepartamento').prop("readonly", false);
                    return false;
                }

            },
            error: function (ex) {
                swal("","Ha ocurrido un error.","error");
            }
        });
        return;
    }
</script>
<script type='text/javascript'>
    function load_secciones()
    {
        $("#SeccionID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Seccion")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ division: ' + $("#DivisionID").val() + ', depto: ' + $("#DeptoID").val() + ', dependencia: ' + $("#DependenciaID").val() + '}',
            success: function (states) {
                if (states.selected_list.length > 0) {
                    $("#SeccionID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>');
                    $.each(states.selected_list, function (i, state) {
                        $("#SeccionID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    });
                    if (states.chain != null) {
                        if (states.chain == "JONATHAN ARIAS GUEVARA") {
                            $('#EncargadoDivision').val("");
                        } else {
                            $('#EncargadoDivision').val(states.chain);
                        }
                    }
                    return true;
                } else if (states.selected_list.length == 0) {
                    $("#SeccionID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>');
                    $('#DIV_SECCION').hide();
                    $('#EncargadoDivision').val(states.chain);
                    $('#EncargadoDivision').attr("readonly", false);
                    return false;
                }
            },
            error: function (ex) {
                swal("","Ha ocurrido un error.","error");
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#DIV_DEPENDENCIA').show();
        $('#DIV_DEPARTAMENTO').hide();
        $('#DIV_DIVISION').hide();
        $('#DIV_SECCION').hide();
        $('#DirectorDependencia').attr("readonly", true);
        $('#DirectorDependencia').val("");
    });

    $("#DependenciaID").change(function () {
        $('#sub_areas').hide();

        if ($("#DependenciaID").val() == 0) {
            $('#DIV_DEPARTAMENTO').hide();
            $('#DIV_DIVISION').hide();
            $('#DIV_SECCION').hide();
            $('#DirectorDependencia').attr("readonly", true);
            $('#DirectorDependencia').val("");
            $('#DeptoID').val(0);
            $('#EncargadoDepartamento').val("")
            $('#DivisionID').val(0);
            $('#EncargadoDivision').val("");
            $('#SeccionID').val(0);
            $('#EncargadoSeccion').val("");
        }
        else if (($('#DirectorDependencia').val() == null || $('#DirectorDependencia').val() == "") && ($('#DeptoID').val() == null || $('#DeptoID').val() == 0 || $('#DeptoID').val() == "") && ($('#EncargadoDepartamento').val() == null || $('#EncargadoDepartamento').val() == "") && ($('#DivisionID').val() == null || $('#DivisionID').val() == 0 || $('#DivisionID').val() == "") && ($('#EncargadoDivision').val() == null || $('#EncargadoDivision').val() == "") && ($('#SeccionID').val() == null || $('#SeccionID').val() == 0 || $('#SeccionID').val() == "") && ($('#EncargadoSeccion').val() == null || $('#EncargadoSeccion').val() == "")) {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí"
            }).then(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#DirectorDependencia').attr("readonly", true);
                $('#EncargadoDepartamento').attr("readonly", true);
                $('#DIV_DEPARTAMENTO').show();
                load_departamentos();

                $("[data-dismiss=\"modal\"]").click();
            }).catch(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#DirectorDependencia').prop("readonly", false);
                load_departamentos();

                $("[data-dismiss=\"modal\"]").click();
            });
        } else if (($('#EncargadoSeccion').val() != null || $('#EncargadoSeccion').val() != "") || ($('#SeccionID').val() != null || $('#SeccionID').val() != "" || $('#SeccionID').val() != 0) ||
            ($('#EncargadoDivision').val() != null || $('#EncargadoDivision').val() != "") || ($('#DivisionID').val() != null || $('#DivisionID').val() != "" || $('#DivisionID').val() != 0) ||
            ($('#EncargadoDepartamento').val() != null || $('#EncargadoDepartamento').val() != "") || ($('#DeptoID').val() != null || $('#DeptoID').val() != "" || $('#DeptoID').val() != 0) /*||
                ($('#DirectorDependencia').val() != null || $('#DirectorDependencia').val() != "")*/) {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
                closeOnConfirm: true
            }).then(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#DirectorDependencia').attr("readonly", true);
                $('#EncargadoDepartamento').attr("readonly", true);
                $('#EncargadoDivision').attr("readonly", true);
                $('#EncargadoSeccion').attr("readonly", true);

                $('#DirectorDependencia').val("");

                $('#DIV_DEPARTAMENTO').show();
                $('#DIV_DIVISION').hide();
                $('#DIV_SECCION').hide();

                $('#DeptoID').val(0);
                $('#EncargadoDepartamento').val("")
                $('#DivisionID').val(0);
                $('#EncargadoDivision').val("");
                $('#SeccionID').val(0);
                $('#EncargadoSeccion').val("");
                load_departamentos();

                $("[data-dismiss=\"modal\"]").click();
            }).catch(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#DirectorDependencia').attr("readonly", false);
                $('#DirectorDependencia').val("");

                $('#DIV_DEPARTAMENTO').hide();
                $('#DIV_DIVISION').hide();
                $('#DIV_SECCION').hide();

                $('#DeptoID').val(0);
                $('#EncargadoDepartamento').val("")
                $('#DivisionID').val(0);
                $('#EncargadoDivision').val("");
                $('#SeccionID').val(0);
                $('#EncargadoSeccion').val("");
                load_departamentos();

                $("[data-dismiss=\"modal\"]").click();
            });
        }
    });

    $("#DeptoID").change(function () {
        $('#sub_areas').hide();

        if ($("#DeptoID").val() == 0) {
            $('#DIV_DIVISION').hide();
            $('#DIV_SECCION').hide();
            $('#EncargadoDepartamento').attr("readonly", true);
            $('#EncargadoDepartamento').val("")
            $('#DivisionID').val(0);
            $('#EncargadoDivision').val("");
            $('#SeccionID').val(0);
            $('#EncargadoSeccion').val("");
        }
        else if (($('#EncargadoDepartamento').val() == null || $('#EncargadoDepartamento').val() == "") && ($('#DivisionID').val() == null || $('#DivisionID').val() == 0 || $('#DivisionID').val() == "") && ($('#EncargadoDivision').val() == null || $('#EncargadoDivision').val() == "") && ($('#SeccionID').val() == null || $('#SeccionID').val() == 0 || $('#SeccionID').val() == "") && ($('#EncargadoSeccion').val() == null || $('#EncargadoSeccion').val() == "")) {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
                closeOnConfirm: true
            }).then(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDepartamento').attr("readonly", true);
                $('#EncargadoDivision').attr("readonly", true);
                $('#DIV_DIVISION').show();
                load_divisiones();

                $("[data-dismiss=\"modal\"]").click();
            }).catch(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDepartamento').attr("readonly", false);
                $('#DIV_DIVISION').hide();
                load_divisiones();

                $("[data-dismiss=\"modal\"]").click();
            });
        } else if (($('#EncargadoSeccion').val() != null || $('#EncargadoSeccion').val() != "") || ($('#SeccionID').val() != null || $('#SeccionID').val() != "" || $('#SeccionID').val() != 0) ||
            ($('#EncargadoDivision').val() != null || $('#EncargadoDivision').val() != "") || ($('#DivisionID').val() != null || $('#DivisionID').val() != "" || $('#DivisionID').val() != 0) /*||
                ($('#EncargadoDepartamento').val() != null || $('#EncargadoDepartamento').val() != "")*/) {

            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
                closeOnConfirm: true
            }).then(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDepartamento').attr("readonly", true);
                $('#EncargadoDivision').attr("readonly", true);
                $('#EncargadoSeccion').attr("readonly", true);

                $('#EncargadoDepartamento').val("");

                $('#DIV_DIVISION').show();
                $('#DIV_SECCION').hide();

                $('#DivisionID').val(0);
                $('#EncargadoDivision').val("");
                $('#SeccionID').val(0);
                $('#EncargadoSeccion').val("");
                load_divisiones();

                $("[data-dismiss=\"modal\"]").click();
            }).catch(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDepartamento').attr("readonly", false);
                $('#EncargadoDivision').attr("readonly", true);
                $('#EncargadoSeccion').attr("readonly", true);

                $('#EncargadoDepartamento').val("");

                $('#DIV_DIVISION').hide();
                $('#DIV_SECCION').hide();

                $('#DivisionID').val(0);
                $('#EncargadoDivision').val("");
                $('#SeccionID').val(0);
                $('#EncargadoSeccion').val("");
                load_divisiones();

                $("[data-dismiss=\"modal\"]").click();
            });
        }
    });

    $("#DivisionID").change(function () {
        $('#sub_areas').hide();

        if ($("#DivisionID").val() == 0) {

            $('#DIV_SECCION').hide();
            $('#EncargadoDivision').attr("readonly", true);
            $('#EncargadoDivision').val("")
            $('#SeccionID').val(0);
            $('#EncargadoSeccion').val("");
        }
        else if (($('#EncargadoDivision').val() == null || $('#EncargadoDivision').val() == "") && ($('#SeccionID').val() == null || $('#SeccionID').val() == 0 || $('#SeccionID').val() == "") && ($('#EncargadoSeccion').val() == null || $('#EncargadoSeccion').val() == "")) {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
                closeOnConfirm: true
            }).then(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDivision').attr("readonly", true);
                $('#EncargadoSeccion').attr("readonly", true);
                $('#DIV_SECCION').show();
                load_secciones();

                $("[data-dismiss=\"modal\"]").click();
            }).catch(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDivision').attr("readonly", false);
                load_secciones();

                $("[data-dismiss=\"modal\"]").click();
            });
        }
        else if (($('#EncargadoSeccion').val() != null || $('#EncargadoSeccion').val() != "") || ($('#SeccionID').val() != null || $('#SeccionID').val() != "" || $('#SeccionID').val() != 0) /*||
                ($('#EncargadoDivision').val() != null || $('#EncargadoDivision').val() != "")*/) {

            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
                closeOnConfirm: true
            }).then(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoSeccion').attr("readonly", true);
                $('#EncargadoDivision').attr("readonly", true);

                $('#EncargadoDivision').val("");

                $('#DIV_SECCION').show();

                $('#SeccionID').val(0);
                $('#EncargadoSeccion').val("");
                load_secciones();

                $("[data-dismiss=\"modal\"]").click();
            }).catch(function () {
                $("[data-target=\"#myModal\"]").click();

                $('#EncargadoDivision')[0].removeAttribute("readonly");
                $('#EncargadoSeccion').attr("readonly", true);

                $('#EncargadoDivision').val("");

                $('#DIV_SECCION').hide();

                $('#SeccionID').val(0);
                $('#EncargadoSeccion').val("");
                load_secciones();

                $("[data-dismiss=\"modal\"]").click();
            });
        }
    });

    $("#SeccionID").change(function () {
        if ($("#SeccionID").val() == 0) {

            $('#EncargadoSeccion').attr("readonly", true);
            $('#EncargadoSeccion').val("");

        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEncargadoSeccion")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ depto: ' + $("#DeptoID").val() + ', dependencia: ' + $("#DependenciaID").val() + ', division: ' + $("#DivisionID").val() + ', seccion: ' + $("#SeccionID").val() + '}',
                success: function (data) {
                    if (data != null && data != "Error" && data !="NotFound") {
                        $('#EncargadoSeccion').val(data.EncargadoNombre);
                    } else if (data == "NotFound") {
                        swal("", "Esta sección no tiene encargado(a)", "info");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error.", "error");
                }
            })

            $('#EncargadoSeccion').attr("readonly", false);
        }
    });

    $('#success').click(function () {
        if (($('#DIV_DEPARTAMENTO').is(":hidden") == true) && ($('#DIV_DIVISION').is(":hidden") == true) && ($('#DIV_SECCION').is(":hidden") == true)) {
            $('#NombreTablaAGuardar').val("DEPENDENCIA");
            //$('#DirectorDependencia').attr("required", true);
        } else if (($('#DIV_DIVISION').is(":hidden") == true) && ($('#DIV_SECCION').is(":hidden") == true)) {
            $('#NombreTablaAGuardar').val("DEPARTAMENTO");
            //$('#EncargadoDepartamento').attr("required", true);
        } else if ($('#DIV_SECCION').is(":hidden") == true) {
            $('#NombreTablaAGuardar').val("DIVISION");
            //$('#EncargadoDivision').attr("required", true);
        } else if (($('#DIV_DEPENDENCIA').is(":hidden") == false) && ($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == false)) {
            $('#NombreTablaAGuardar').val("SECCION");
            //$('#EncargadoSeccion').attr("required", true);
        }

        $("[data-target=\"#myModal\"]").click();

        var model = {
            DependenciaID: +$('#DependenciaID').val(),
            DirectorDependencia: $('#DirectorDependencia').val(),
            DeptoID: +$('#DeptoID').val(),
            EncargadoDepartamento: $('#EncargadoDepartamento').val(),
            DivisionID: +$('#DivisionID').val(),
            EncargadoDivision: $('#EncargadoDivision').val(),
            SeccionID: +$('#SeccionID').val(),
            EncargadoSeccion: $('#EncargadoSeccion').val(),
            NombreTablaAGuardar: $('#NombreTablaAGuardar').val()
        }

        $.ajax({
            url: '@Url.Action("SetInCharge")',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(model),
            success: function (data) {
                if (data == 'Success') {
                    $("[data-dismiss=\"modal\"]").click();
                    swal("", "El registro se ha guardado correctamente", "success");
                } else if (data == "Duplicated") {
                    $("[data-dismiss=\"modal\"]").click();
                    swal("", "Esta persona ha sido previamente designada como directora o encargada de un área.", "error");
                } else {
                    $("[data-dismiss=\"modal\"]").click();
                    swal("", "Ha ocurrido un error.", "error");
                }
            },
            error: function (ex) {
                $("[data-dismiss=\"modal\"]").click();
                swal("", "Ha ocurrido un error", "error");
            },
        });

        if ($('#NombreTablaAGuardar').val() != "SECCION") {
            $('#sub_areas').show();
        }
    });

    $('#sub_areas').click(function () {
        if ($('#NombreTablaAGuardar').val() == "DEPENDENCIA") {
            $('#DirectorDependencia').attr("readonly", true);
            $('#EncargadoDepartamento').attr("readonly", true);
            $('#DIV_DEPARTAMENTO').show();
            var yn = load_departamentos();

            if (yn==false) {
                swal("No existen departamentos para esta dependncia.");
            }
        } else if ($('#NombreTablaAGuardar').val() == "DEPARTAMENTO") {
            $('#EncargadoDepartamento').attr("readonly", true);
            $('#EncargadoDivision').attr("readonly", true);
            $('#DIV_DIVISION').show();
            var yn = load_divisiones();

            if (yn == false) {
                swal("No existen divisiones para este departamento.");
            }
        } else if ($('#NombreTablaAGuardar').val() == "DIVISION") {
            $('#EncargadoSeccion').attr("readonly", true);
            $('#EncargadoDivision').attr("readonly", true);

            $('#EncargadoDivision').val("");

            $('#DIV_SECCION').show();

            $('#SeccionID').val(0);
            $('#EncargadoSeccion').val("");
            var yn = load_secciones();

            if (yn == false) {
                swal("No existen secciones para esta división.");
            }
        }

        $('#sub_areas').hide();
    });
</script>