﻿@model intra.Models.GestionHumana.Permisos.Nmdependencias_Permisos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nmdependencias_Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DependenciaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
