﻿@model IEnumerable<intra.Models.GestionHumana.Permisos.Nmdependencias_Permisos>
    @*@model intra.Models.Nmdependencias_Permisos*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    .ui-autocomplete-loading {
        background: url("/intra/Content/images/ajax-loader.gif") right center no-repeat;
    }
</style>
<!--Jquery para Autocompletar Via Ajax-->
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
            $("#TxtUsuario").autocomplete({
                source:'@Url.Action("GetUsuarios")'/*Action Obtiene Json Con Los Usuarios*/

            });

        });

</script>

<h2>Elegir Encargado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="UsuarioLogin" id="TxtUsuario" class="form-control" />

                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Error</strong>
                    </div>
                }

              
            </div>
        </div>
    </div>

            @Html.DropDownList("DependenciaID", (SelectList)ViewBag.Dependencia, "Seleccione")
    

        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                @Html.ActionLink("Volver", "Index")
            </div>


            <div class="col-md-offset-5 col-md-2">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>


        </div>

}


