﻿@model IEnumerable<intra.Sol_Tecnico_Dependencia>

@{
    ViewBag.Title = "Tecnicos de las Dependencia";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .fila {
        color: #70707a !important;
    }

    .btn-crear {
        line-height: 2em;
        margin: 2% 0;
    }

    .CambiarEstado,.CambiarEstadoSolicitante {
        cursor: pointer;
    }

    #loading-animation-container {
        display: none;
    }
</style>

@Styles.Render("~/datatables/css")

<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<div class="btn-crear pull-right">
    <button id="modal" class="button_white">Agregar Tecnico</button>
</div>

<h2>Tecnicos de las Dependencia</h2>

<table class="table display responsive nowrap tableGrid">
    <thead>
        <tr>
            <th>
                Nombre del Tecnico
            </th>
            <th>
                Dependencia
            </th>
            <th>
                Fecha en que se asigno
            </th>
            <th>
                Estado
            </th>
            <th>
                Solicitar
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr class="fila">
                <td>
                    @Html.DisplayFor(modelItem => item.TecnicoDependenciaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dependencia.DependenciaNombre)
                </td>

                <td>
                    @item.TecnicoDependenciaFhCreacion.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a class="CambiarEstado" id="@item.TecnicoDependenciaId">
                        @(item.TecnicoDependenciaEstado ? "Activo" : "Inactivo")
                    </a>
                </td>
                <td>
                    <a class="CambiarEstadoSolicitante" id="@item.TecnicoDependenciaId">
                        @(item.TecnicoDependenciaCrearSolicitante ? "Activo" : "Inactivo")
                    </a>
                </td>
            </tr>
        }

    </tbody>



</table>
@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Nmdependencias_Permisos/AgregarTecnicoModal.cshtml", new intra.Sol_Tecnico_Dependencia());
            }
        </div>
    </div>
</div>


<script>

    var AnimacionCarga = $("#loading-animation-container");

    $('#modal').click(function () {
        $('#myModal').modal();
    });

    $('.tableGrid tbody').on('click', '.CambiarEstado', function () {

        var id = $(this).attr('id');

        swal({
            title: "Estas seguro/a de que quiere cambiar el estado de este tecnico?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Cambiar',
            cancelButtonText: 'Cancelar'
        }).then(function () {

            AnimacionCarga.show();
            $.ajax({
                method: 'POST',
                url: "@Url.Action("CambiarEstado")",
                data: { id: id },
                success: function (data) {
                    if (data == 'Activado') {
                        success(data);
                    } else if (data == 'Desactivado') {
                        success(data);
                    } else {
                        error('A ocurrido un error, refresque la pagina y trate otra vez.');
                    }
                },
                error: function (ex) {
                    error('Un error ha ocurrido.');
                }
            });
        })

    });

    $('.tableGrid tbody').on('click', '.CambiarEstadoSolicitante', function () {

        var id = $(this).attr('id');

        swal({
            title: "Estas seguro/a de que quiere cambiar el estado de este tecnico?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Cambiar',
            cancelButtonText: 'Cancelar'
        }).then(function () {

            AnimacionCarga.show();
            $.ajax({
                method: 'POST',
                url: "@Url.Action("CambiarEstadoSolicitante")",
                data: { id: id },
            success: function (data) {
                if (data == 'Activado') {
                    success(data);
                } else if (data == 'Desactivado') {
                    success(data);
                } else {
                    error('A ocurrido un error, refresque la pagina y trate otra vez.');
                }
            },
            error: function (ex) {
                error('Un error ha ocurrido.');
            }
        });
    })

    });

    function success(mensaje) {
        AnimacionCarga.hide();
        swal({
            title: mensaje,
            type: 'success',
            confirmButtonText: 'OK'
        }).then(function () {
            location.reload();
        })
    }
    function error(mensaje) {
        AnimacionCarga.hide();
        swal('Error', mensaje, 'error');
    }
</script>