﻿@model IEnumerable<intra.Categorias>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.CategoriaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CategoriaId })
        </td>
    </tr>
}

</table>
