﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<h2>Solicitud nuevo usuario SIC</h2>
@using (Html.BeginForm("Create", "Sic", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="nombre" class="control-label col-md-2">Nombre del solicitante</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="nombre" name="nombre"/>
                <label class="text-danger" for="nombre"></label>
            </div>
        </div>

        <div class="form-group">
            <label for="razon" class="control-label col-md-2">Razón de la solicitud</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" id="razon" name="razon"></textarea>
                <label class="text-danger" for="razon"></label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="enviar" value="Crear" class="buttonAceptar btn-success" />
            </div>
        </div>
    </div>
}
<script src="~/scripts/sweetalert2.js"></script>
<script>
    $('#enviar').click(function () {
        $.ajax({
            url: '@Url.Action("CreateUser")',
            type: "POST",
            dataType: "json",
            data: { name: $('#nombre').val(), reason: $('#razon').val() },
            success: function (data) {
                if (data != "Success") {
                    swal("", "Ha ocurrido un error", "error");
                } else {
                    swal("", "Usuario registrado", "success");
                }

            },
            error: function (ex) {
                swal("", "Ha ocurrido un error", "error");
            }

        });
    });
</script>