﻿@model intra.Models.Inventario.MarcasInventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MarcasInventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarcaDescripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDescripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarcaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
