﻿@model intra.Models.Inventario.MarcasInventario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}


<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>


<section class="serviciosSolicitud">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Editar</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MarcaId)

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Marca Descripción")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.MarcaDescripción, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarcaDescripción, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Tipo Equipo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.MarcaTipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarcaTipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Fecha")
                </div>
                <div class="col-lg-9">
                    @Html.DisplayFor(model=>model.MarcaFecha)
                    @*@Html.EditorFor(model => model.MarcaFecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarcaFecha, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                @Html.Label("Usuario")    
                </div>
                
                <div class="col-lg-9">
                    @Html.DisplayFor(model=>model.MarcaUsuario)
                    @*@Html.EditorFor(model => model.MarcaUsuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarcaUsuario, "", new { @class = "text-danger" })*@
                </div>
            </div>
            @Html.HiddenFor(model => model.MarcaUsuario)
            @Html.HiddenFor(model => model.MarcaFecha)


            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver", "Index",null,new {@class="buttonEnviar"})
                </div>
            </div>
        </div>
    }

    <div>
        
    </div>
</section>