﻿@using System.Globalization;
@model intra.Models.MiPerfil


    <div class="row">
        <div class="col-md-9">
            <h4>DETALLE</h4>
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.nomina_value, (SelectList)Model.NominaDropDownValues)
        </div>
    </div>


    <div class="barra"></div>

        <div class="row" id="div_nomina">
            <div class="col-md-12">
                <table id="table_1" class="table2 responsive display  no-wrap" width="100%">
                    <thead>
                        <tr>
                            <td colspan="2" id="header_table_1"><h4>Sueldo de @Model.CurrentNomina.NominaMesNombre @Model.CurrentNomina.NominaAnio</h4></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ingreso bruto </td>
                            <td id="ingreso_bruto">RD$@Model.CurrentNomina.NominaIngresoBruto</td>
                        </tr>
                        <tr>
                            <td>Otros ingresos </td>
                            <td id="otros_ingresos">RD$@Model.CurrentNomina.NominaOtrosIngresos</td>
                        </tr>
                        <tr>
                            <td>Descuento AFP </td>
                            <td id="afp">RD$@Model.CurrentNomina.NominaAFP</td>
                        </tr>
                        <tr>
                            <td>Descuento ISR </td>
                            <td id="isr">RD$@Model.CurrentNomina.NominaISR</td>
                        </tr>
                        <tr>
                            <td>Descuento SFS </td>
                            <td id="sfs">RD$@Model.CurrentNomina.NominaSFS</td>
                        </tr>
                        <tr>
                            <td>Otros descuentos </td>
                            <td id="otros_descuentos">RD$@Model.CurrentNomina.NominaOtrosDescuentos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





        <div class="row comprobante" id="color_stuff">
            <div class="col-md-4">
                <span>SUELDO BRUTO</span>
                <p id="total_ingresos">RD$@Model.CurrentNomina.NominaTotalIngresos</p>
            </div>
            <div class="col-md-4">
                <div class="">
                    <span>TOTAL DE DEDUCCIONES</span>
                    <p id="total_descuentos">RD$@Model.CurrentNomina.NominaTotalDescuentos</p>
                </div>
            </div>
            <div class="col-md-4">
                <span>TOTAL NETO</span>
                <p id="ingreso_neto">RD$@Model.CurrentNomina.NominaIngresoNeto</p>
            </div>
        </div>

