﻿@model intra.Models.GestionHumana.Permisos.Nmdependencias_Permisos

@{
    ViewBag.Title = "Prioridades";
    Layout = null;
}

@if (ViewBag.Hierarchy != "N/A")
{
    <style>
        .ui-autocomplete-loading {
            background: url("/intra/Content/images/ajax-loader.gif") right center no-repeat;
        }

        .one td, .two td {
            color: black !important;
            font-size: 14px;
        }
    </style>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/CSS/sweetalert2.css" rel="stylesheet" />

    <h2>Asignación de actividades</h2>

    <!-- Trigger the modal with a button -->
    <button type="button" style="display:none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="background-color:none;opacity:0.0;">

            <!-- Modal content-->
            <div class="modal-content" style="background-color:none">
                <div class="modal-header" style="background-color:none;opacity:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" style="background-color:none;opacity:1;">
                </div>
                <div class="modal-footer" style="background-color:none;opacity:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <center><img src="~/Content/images/gif_intranet_loading.gif" width="200" height="200" /></center>
    </div>

    using (Html.BeginForm("Prioridades", "Nmdependencias_Permisos", FormMethod.Post, new { id = "formulario_prioridades_dependencias" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" value="@Model.DependenciaID" id="dependency_id" />
            <input type="hidden" value="@Model.DeptoID" id="department_id" />
            <input type="hidden" value="@Model.DivisionID" id="division_id" />
            <input type="hidden" value="@Model.SeccionID" id="section_id" />

            <h4>Actividades de mi área</h4>

            <div id="current_area_table">
                <table id="tableGrid2" class="table table-striped responsive display no-wrap" width="100%">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Asignado a</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="one">
                            <td>Ponches</td>
                            <td>
                                @Html.DropDownListFor(model => model.CurrentPonchesResponsible, (SelectList)ViewBag.CurrentPonchesResponsibles, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr class="two">
                            <td>Permisos y vacaciones</td>
                            <td>
                                @Html.DropDownListFor(model => model.CurrentPermisosVacacionesResponsible, (SelectList)ViewBag.CurrentPonchesResponsibles, new { @class = "form-control" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="Guardar" class="buttonAceptar btn-success" id="success_ca" />
                </div>
            </div>
            <hr id="line_below_incharge" />
            <br />
            <h4 id="below_incharge">Actividades de áreas bajo mi cargo</h4>

            <div class="form-group" id="DIV_DEPARTAMENTO">
                <label for="DeptoID" class="control-label col-md-2">Departamento</label>
                <div class="col-md-10">
                    <select name="DeptoID" class="form-control" id="DeptoID"></select>
                </div>
            </div>

            <div class="form-group" id="DIV_DIVISION">
                <label for="DivisionID" class="control-label col-md-2">División</label>
                <div class="col-md-10">
                    <select name="DivisionID" class="form-control" id="DivisionID"></select>
                </div>
            </div>

            <div class="form-group" id="DIV_SECCION">
                <label for="SeccionID" class="control-label col-md-2">Sección</label>
                <div class="col-md-10">
                    <select name="SeccionID" class="form-control" id="SeccionID"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Mostrar tabla de actividades" class="buttonAceptar btn-default" id="show_table" />
                </div>
            </div>

            <div id="priorities_table">
                <table id="tableGrid3" class="table table-striped responsive display no-wrap" width="100%">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Asignado a</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="one">
                            <td>Ponches</td>
                            <td><select name="PonchesResponsible" id="ponches" class="form-control"></select></td>
                        </tr>
                        <tr class="two">
                            <td>Permisos y vacaciones</td>
                            <td><select name="PermisosVacacionesResponsible" id="permisos_vacaciones" class="form-control"></select></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @Html.HiddenFor(model => model.NombreTablaAGuardar, new { @class = "form-control" })
            <input type="hidden" id="hierarchy" value="@ViewBag.Hierarchy" />

            <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="Guardar" class="buttonAceptar btn-success" id="success" />
                </div>
            </div>
        </div>
    }
    <script>
    function load_departments(dependency, origin) {
        $.ajax({
            url: '@Url.Action("Area")',
            type: "POST",
            dataType: "json",
            data: {
                dependency: dependency,
                department: "",
                division: ""
            },
            success: function (states) {

                $("#DeptoID").html("");
                $("#DeptoID").append('<option value="' + 0 + '">' +
                    'Seleccione' + '</option>');
                $.each(states, function (i, state) {
                    $("#DeptoID").append('<option value="' + state.value + '">' +
                    state.text + '</option>');
                });

                if (origin == "change") {
                    if (states.length > 0) {
                        $('#DIV_DEPARTAMENTO').show();
                        $('#DIV_DIVISION').show();
                        $('#DIV_SECCION').hide();
                        $('#priorities_table').hide();
                        $('#success').hide();
                    } else {
                        swal("", "Este departamento no tiene divisiones", "info");
                    }
                }
            },
            error: function (ex) {

            }
        });

        return;
    }

    function load_divisions(dependency, department, origin) {
        $.ajax({
            url: '@Url.Action("Area")',
            type: "POST",
            dataType: "json",
            data: {
                dependency: dependency,
                department: department,
                division: ""
            },
            success: function (states) {

                $("#DivisionID").html("");
                $("#DivisionID").append('<option value="' + 0 + '">' +
                    'Seleccione' + '</option>');
                $.each(states, function (i, state) {
                    $("#DivisionID").append('<option value="' + state.value + '">' +
                    state.text + '</option>');
                });

                if (origin == "change") {
                    if (states.length > 0) {
                        $('#DIV_DEPARTAMENTO').show();
                        $('#DIV_DIVISION').show();
                        $('#DIV_SECCION').hide();
                        $('#priorities_table').hide();
                        $('#success').hide();
                    } else {
                        swal("", "Este departamento no tiene divisiones", "info");
                    }
                }
            },
            error: function (ex) {

            }
        });

        return;
    }

    function load_sections(dependency, department, division, origin) {
        $.ajax({
            url: '@Url.Action("Area")',
            type: "POST",
            dataType: "json",
            data: {
                dependency: dependency,
                department: department,
                division: division
            },
            success: function (states) {
                $("#SeccionID").html("");
                $("#SeccionID").append('<option value="' + 0 + '">' +
                    'Seleccione' + '</option>');
                $.each(states, function (i, state) {
                    $("#SeccionID").append('<option value="' + state.value + '">' +
                    state.text + '</option>');
                });

                if (origin == "change") {
                    if ($('#hierarchy').val()=="DEPENDENCIA") {
                        if (states.length > 0) {
                            $('#DIV_DEPARTAMENTO').show();
                            $('#DIV_DIVISION').show();
                            $('#DIV_SECCION').show();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        } else {
                            $('#DIV_SECCION').hide();
                            swal("", "Esta división no tiene secciones", "info");
                        }
                    } else if ($('#hierarchy').val() == "DEPARTAMENTO") {
                        if (states.length > 0) {
                            $('#DIV_DEPARTAMENTO').hide();
                            $('#DIV_DIVISION').show();
                            $('#DIV_SECCION').show();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        } else {
                            $('#DIV_SECCION').hide();
                            swal("", "Esta división no tiene secciones", "info");
                        }
                    }
                }
            },
            error: function (ex) {

            }
        });

        return;
    }
    </script>
    <script>
    $(document).ready(function () {

        $('#CurrentPonchesResponsible').val(@Model.PoncheStatus.ToString());
        $('#CurrentPermisosVacacionesResponsible').val(@Model.PermisosVacacionesStatus.ToString());

        if ($('#CurrentPonchesResponsible').val() == "1") {
            $('#ponches').attr("disabled", true);
            $('#CurrentPonchesResponsible').attr("disabled", true);
        }

        if ($('#CurrentPermisosVacacionesResponsible').val() == "1") {
            $('#permisos_vacaciones').attr("disabled", true);
            $('#CurrentPermisosVacacionesResponsible').attr("disabled", true);
        }

        if ($('#hierarchy').val() == "DEPENDENCIA") {
            $.ajax({
                url: '@Url.Action("VerifyBelow")',
                type: "POST",
                dataType: "json",
                data: {
                    dependency: $('#dependency_id').val(),
                    department: "",
                    division: ""
                },
                success: function (data) {
                    if (data != "Error") {
                        if (data == "Yes") {
                            load_departments($('#dependency_id').val(),"document_ready");
                            $('#DIV_DEPARTAMENTO').show();
                            $('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').hide();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        } else if (data == "No") {
                            $("#line_below_incharge").hide();
                            $('#below_incharge').hide();
                            $('#DIV_DEPARTAMENTO').hide();
                            $('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').hide();
                            $('#show_table').hide();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        }
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                }
            });
        } else if ($('#hierarchy').val() == "DEPARTAMENTO") {
            $.ajax({
                url: '@Url.Action("VerifyBelow")',
                type: "POST",
                dataType: "json",
                data: {
                    dependency: $('#dependency_id').val(),
                    department: $('#department_id').val(),
                    division: ""
                },
                success: function (data) {
                    if (data != "Error") {
                        if (data == "Yes") {
                            load_divisions($('#dependency_id').val(),$('#department_id').val(),"document_ready");
                            $('#DIV_DEPARTAMENTO').hide();
                            $('#DIV_DIVISION').show();
                            $('#DIV_SECCION').hide();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        } else if (data == "No") {
                            $("#line_below_incharge").hide();
                            $('#below_incharge').hide();
                            $('#DIV_DEPARTAMENTO').hide();
                            $('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').hide();
                            $('#show_table').hide();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        }
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                }
            });
        } else if ($('#hierarchy').val() == "DIVISION") {
            $.ajax({
                url: '@Url.Action("VerifyBelow")',
                type: "POST",
                dataType: "json",
                data: {
                    dependency: $('#dependency_id').val(),
                    department: $('#department_id').val(),
                    division: $('#division_id').val()
                },
                success: function (data) {
                    if (data != "Error") {
                        if (data == "Yes") {
                            load_sections($('#dependency_id').val(), $('#department_id').val(), $('#division_id').val(),"document_ready");
                            $('#DIV_DEPARTAMENTO').hide();
                            $('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').show();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        } else if (data == "No") {
                            $("#line_below_incharge").hide();
                            $('#below_incharge').hide();
                            $('#DIV_DEPARTAMENTO').hide();
                            $('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').hide();
                            $('#show_table').hide();
                            $('#priorities_table').hide();
                            $('#success').hide();
                        }
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                }
            });
        } else if ($('#hierarchy').val() == "SECCION") {
            $("#line_below_incharge").hide();
            $('#below_incharge').hide();
            $('#DIV_DEPARTAMENTO').hide();
            $('#DIV_DIVISION').hide();
            $('#DIV_SECCION').hide();
            $('#show_table').hide();
            $('#priorities_table').hide();
            $('#success').hide();
        }
    });
    </script>
    <script>
    $('#DeptoID').change(function () {
        if ($('#hierarchy').val() == "DEPENDENCIA") {
            if ($('#DeptoID').val() == "0") {
                $('#DIV_DEPARTAMENTO').show();
                $('#DIV_DIVISION').hide();
                $('#DIV_SECCION').hide();
                $('#priorities_table').hide();
                $('#success').hide();
            } else {
                swal({
                    title: "",
                    text: "¿Desea seguir seleccionando?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#70db70",
                    confirmButtonText: "Sí"
                }).then(function () {
                    $("[data-target=\"#myModal\"]").click();
                    load_divisions($('#dependency_id').val(), $('#DeptoID').val(), "change");
                    $('#priorities_table').hide();
                    $('#success').hide();
                    $("[data-dismiss=\"modal\"]").click();
                });
            }
        }
    });

    $('#DivisionID').change(function () {
        if ($('#hierarchy').val() == "DEPENDENCIA") {
            if ($('#DivisionID').val() == "0") {
                $('#DIV_DEPARTAMENTO').show();
                $('#DIV_DIVISION').show();
                $('#DIV_SECCION').hide();
                $('#priorities_table').hide();
                $('#success').hide();
            } else {
                swal({
                    title: "",
                    text: "¿Desea seguir seleccionando?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#70db70",
                    confirmButtonText: "Sí"
                }).then(function () {
                    $("[data-target=\"#myModal\"]").click();
                    load_sections($('#dependency_id').val(), $('#DeptoID').val(), $('#DivisionID').val(), "change");
                    $('#priorities_table').hide();
                    $('#success').hide();
                    $("[data-dismiss=\"modal\"]").click();
                });
            }
        } else if ($('#hierarchy').val() == "DEPARTAMENTO") {
            if ($('#DivisionID').val() == "0") {
                $('#DIV_DEPARTAMENTO').hide();
                $('#DIV_DIVISION').show();
                $('#DIV_SECCION').hide();
                $('#priorities_table').hide();
                $('#success').hide();
            } else {
                swal({
                    title: "",
                    text: "¿Desea seguir seleccionando?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#70db70",
                    confirmButtonText: "Sí"
                }).then(function () {
                    $("[data-target=\"#myModal\"]").click();
                    load_sections($('#dependency_id').val(), $('#department_id').val(), $('#DivisionID').val(), "change");
                    $('#priorities_table').hide();
                    $('#success').hide();
                    $("[data-dismiss=\"modal\"]").click();
                });
            }
        }
    });

    $('#SeccionID').change(function () {
        $('#priorities_table').hide();
        $('#success').hide();
    });

    $('#success_ca').click(function () {
        $("[data-target=\"#myModal\"]").click();
        if ($('#hierarchy').val() == "DEPARTAMENTO") {
            if ($('#CurrentPonchesResponsible').val() == "1" || $('#CurrentPermisosVacacionesResponsible').val() == "1") {
                swal("", "Las dependencias no se pueden dejar sin autorizar", "error");
            } else {
                $.ajax({
                    url: '@Url.Action("SaveMyArea")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        ponches_values: $('#CurrentPonchesResponsible').val(),
                        permisos_vacaciones_values: $('#CurrentPermisosVacacionesResponsible').val()
                    },
                    success: function (data) {
                        if (data != "Error") {
                            if ($('#CurrentPonchesResponsible').val() == "1") {
                                $('#CurrentPonchesResponsible').attr("disabled", true);
                                $('#ponches').attr("disabled", true);
                            }

                            if ($('#CurrentPermisosVacacionesResponsible').val() == "1") {
                                $('#CurrentPermisosVacacionesResponsible').attr("disabled", true);
                                $('#permisos_vacaciones').attr("disabled", true);
                            }

                            swal("", "Se han actualizado los datos correctamente.", "success");
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        } else {
            $.ajax({
                url: '@Url.Action("SaveMyArea")',
                type: "POST",
                dataType: "json",
                data: {
                    ponches_values: $('#CurrentPonchesResponsible').val(),
                    permisos_vacaciones_values: $('#CurrentPermisosVacacionesResponsible').val()
                },
                success: function (data) {
                    if (data != "Error") {
                        if ($('#CurrentPonchesResponsible').val() == "1") {
                            $('#CurrentPonchesResponsible').attr("disabled", true);
                            $('#ponches').attr("disabled", true);
                        }

                        if ($('#CurrentPermisosVacacionesResponsible').val() == "1") {
                            $('#CurrentPermisosVacacionesResponsible').attr("disabled", true);
                            $('#permisos_vacaciones').attr("disabled", true);
                        }

                        swal("", "Se han actualizado los datos correctamente.", "success");
                    } else {
                        swal("", "Ha ocurrido un error", "error");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                }
            });
        }

        $("[data-dismiss=\"modal\"]").click();

    });

    $('#show_table').click(function () {
        if ($('#hierarchy').val() == "DEPENDENCIA") {
            if(($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == true)
                && ($('#DIV_SECCION').is(":hidden") == true)) {
                $.ajax({
                    url: '@Url.Action("BringAuthorizedPersonal")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        dependency: $('#dependency_id').val(),
                        department: $('#DeptoID').val(),
                        division: "",
                        section: ""
                    },
                    success: function (states) {
                        if (states != "Error") {
                            $('#ponches').html("");
                            $('#permisos_vacaciones').html("");
                            $.each(states, function (i, state) {
                                $("#ponches").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                                $("#permisos_vacaciones").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                            });
                            $('#priorities_table').show();
                            $('#success').show();
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {

                    }
                });
            } else if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
                && ($('#DIV_SECCION').is(":hidden") == true)) {
                $.ajax({
                    url: '@Url.Action("BringAuthorizedPersonal")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        dependency: $('#dependency_id').val(),
                        department: $('#DeptoID').val(),
                        division: $('#DivisionID').val(),
                        section: ""
                    },
                    success: function (states) {
                        if (states != "Error") {
                            $('#ponches').html("");
                            $('#permisos_vacaciones').html("");
                            $.each(states, function (i, state) {
                                $("#ponches").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                                $("#permisos_vacaciones").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                            });
                            $('#priorities_table').show();
                            $('#success').show();
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {

                    }
                });
            } else if(($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
                && ($('#DIV_SECCION').is(":hidden") == false)) {
                $.ajax({
                    url: '@Url.Action("BringAuthorizedPersonal")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        dependency: $('#dependency_id').val(),
                        department: $('#DeptoID').val(),
                        division: $('#DivisionID').val(),
                        section: $('#SeccionID').val()
                    },
                    success: function (states) {
                        if (states != "Error") {
                            $('#ponches').html("");
                            $('#permisos_vacaciones').html("");
                            $.each(states, function (i, state) {
                                $("#ponches").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                                $("#permisos_vacaciones").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                            });
                            $('#priorities_table').show();
                            $('#success').show();
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {

                    }
                });
            }
        } else if ($('#hierarchy').val() == "DEPARTAMENTO") {
            if (($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == true)) {
                $.ajax({
                    url: '@Url.Action("BringAuthorizedPersonal")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        dependency: $('#dependency_id').val(),
                        department: $('#department_id').val(),
                        division: $('#DivisionID').val(),
                        section: ""
                    },
                    success: function (states) {
                        if (states != "Error") {
                            $('#ponches').html("");
                            $('#permisos_vacaciones').html("");
                            $.each(states, function (i, state) {
                                $("#ponches").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                                $("#permisos_vacaciones").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                            });
                            $('#priorities_table').show();
                            $('#success').show();
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {

                    }
                });
            } else if (($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == false)) {
                $.ajax({
                    url: '@Url.Action("BringAuthorizedPersonal")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        dependency: $('#dependency_id').val(),
                        department: $('#department_id').val(),
                        division: $('#DivisionID').val(),
                        section: $('#SeccionID').val()
                    },
                    success: function (states) {
                        if (states != "Error") {
                            $('#ponches').html("");
                            $('#permisos_vacaciones').html("");
                            $.each(states, function (i, state) {
                                $("#ponches").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                                $("#permisos_vacaciones").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                            });
                            $('#priorities_table').show();
                            $('#success').show();
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {

                    }
                });
            }
        } else if ($('#hierarchy').val() == "DIVISION") {
            if (($('#DIV_SECCION').is(":hidden") == false)) {
                $.ajax({
                    url: '@Url.Action("BringAuthorizedPersonal")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        dependency: $('#dependency_id').val(),
                        department: $('#department_id').val(),
                        division: $('#division_id').val(),
                        section: $('#SeccionID').val()
                    },
                    success: function (states) {
                        if (states != "Error") {
                            $('#ponches').html("");
                            $('#permisos_vacaciones').html("");
                            $.each(states, function (i, state) {
                                $("#ponches").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                                $("#permisos_vacaciones").append('<option value="' + state.EncargadoStatusId + '">' +
                                state.EncargadoStatusDescripcion + '</option>');
                            });
                            $('#priorities_table').show();
                            $('#success').show();
                        } else {
                            swal("", "Ha ocurrido un error", "error");
                        }
                    },
                    error: function (ex) {

                    }
                });
            }
        }
    });

    $('#CurrentPonchesResponsible').change(function () {
        if ($('#hierarchy').val() == "DEPENDENCIA") {
            if ($('#CurrentPonchesResponsible').val() == "1") {
                $('#CurrentPonchesResponsible').val("2");
                swal("", "Las dependencias no se pueden dejar sin autorizar", "error");
            }
        }
    });

    $('#CurrentPermisosVacacionesResponsible').change(function () {
        if ($('#hierarchy').val() == "DEPENDENCIA") {
            if ($('#CurrentPermisosVacacionesResponsible').val() == "1") {
                $('#CurrentPermisosVacacionesResponsible').val("2");
                swal("", "Las dependencias no se pueden dejar sin autorizar", "error");
            }
        }
    });

    $('#success').click(function () {

    });

    </script>
}
else
{
    <h1>No Acceso</h1>
}

