﻿@model intra.Models.MiPerfil
@using System.Globalization;
@using intra.Code;
@{
    ViewBag.Title = "Mi Perfil";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/JS/jquery-ui.min.js"></script>
@*<script src="~/scripts/jquery.dataTables.min.js"></script>*@
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
@*<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-3.3.7/fonts/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@*<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
    <script src="~/scripts/dataTables.responsive.min.js"></script>*@
<script src="~/scripts/moment.js"></script>
@*<script src="~/scripts/bootstrap.min.js"></script>*@
<script src="~/scripts/bootstrap-datetimepicker.js"></script>
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>
@Styles.Render("~/datatables/css")

<!-- ========== -->
<!-- PERMISOS Y VACACIONES -->
<!-- ========== -->

<style>
    .profilepic {
        margin: auto;
        width: 110px;
        height: 124px;
    }


        .profilepic img {
            vertical-align: middle;
            display: inline-block;
            vertical-align: middle;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            width: 110px;
            height: 110px;
            border: solid 2px #fff;
        }

    .tableprofile {
        width: 100%;
        margin-top: 10px;
    }

    .profilename {
        font-size: 22px;
        color: #38afd4;
        font-family: 'robotobold' !important;
        text-transform: uppercase;
    }

    .changepass {
        font-size: 11px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        padding: 7px;
    }

    .nameprofile {
        width: 100%;
        height: 100px;
        text-align: right;
        border-bottom: 2px solid #38afd4;
    }

    table td {
        border-bottom: 1px solid #e5e5e6;
        margin: 0px;
        padding-right: 0px;
    }

    .menuprofile {
        width: 100%;
        height: 357px;
        list-style-type: none;
        background-color: #39afd5;
        font-weight: 600;
        color: #2a2e31;
        border-left: 4px solid #2c2d2f;
        margin-top: 10px;
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
    }

        .menuprofile a:hover {
            color: #3bb7dd;
        }

        .menuprofile ul {
            list-style-type: none;
            padding: 0px;
        }

            .menuprofile ul a {
                color: #2a2e31;
            }

        .menuprofile li {
            list-style-type: none;
            padding: 10px;
            margin-top: 2px;
            width: 100%;
            color: #2c2d2f;
        }

    .peropcion {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background-image: url(/intra/Content/images/MiPerfil/icon_permisos.png);
        background-repeat: no-repeat;
    }

        .peropcion:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #2c2d2f;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .peropcion:hover, .peropcion:focus, .peropcion:active {
            color: #3bb6dc;
        }

            .peropcion:hover:before, .peropcion:focus:before, .peropcion:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                background-image: url(/intra/Content/images/MiPerfil/icon_permisos_over.png);
                background-repeat: no-repeat;
            }

    /*----comprobante-----*/

    .compropcion {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background-image: url(/intra/Content/images/MiPerfil/icon_comprobante.png);
        background-repeat: no-repeat;
    }

        .compropcion:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #2c2d2f;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .compropcion:hover, .compropcion:focus, .compropcion:active {
            color: #3bb6dc;
        }

            .compropcion:hover:before, .compropcion:focus:before, .compropcion:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                background-image: url(/intra/Content/images/MiPerfil/icon_comprobante_over.png);
                background-repeat: no-repeat;
            }

    /*----RRHH-----*/

    .rrhhopcion {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background-image: url(/intra/Content/images/MiPerfil/icon_rrhh.png);
        background-repeat: no-repeat;
    }

        .rrhhopcion:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #2c2d2f;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .rrhhopcion:hover, .rrhhopcion:focus, .rrhhopcion:active {
            color: #3bb6dc;
        }

            .rrhhopcion:hover:before, .rrhhopcion:focus:before, .rrhhopcion:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                background-image: url(/intra/Content/images/MiPerfil/icon_rrhh_over.png);
                background-repeat: no-repeat;
            }

    /*----Equipos-----*/

    .equiopcion {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background-image: url(/intra/Content/images/MiPerfil/icon_equipos.png);
        background-repeat: no-repeat;
    }

        .equiopcion:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #2c2d2f;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .equiopcion:hover, .equiopcion:focus, .equiopcion:active {
            color: #3bb6dc;
        }

            .equiopcion:hover:before, .equiopcion:focus:before, .equiopcion:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                background-image: url(/intra/Content/images/MiPerfil/icon_equipos_over.png);
                background-repeat: no-repeat;
            }


    /* Opcion Subir foto */
    .cambiarpic {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

        .cambiarpic a {
            text-align: center;
            padding-bottom: 10px;
        }

        .cambiarpic:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .cambiarpic:hover, .cambiarpic:focus, .cambiarpic:active {
            color: #3a849d;
        }

            .cambiarpic:hover:before, .cambiarpic:focus:before, .cambiarpic:active:before {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }



    /**********ROSALIA'S CSS********/

    /*Salario*/
    .control-label {
        text-align: inherit !important;
    }

    #salario_modal h2 {
        width: 100%;
        margin-bottom: 25px;
    }

    /*.table {
        margin-top: 33px !important;
    }*/

    #nomina_value {
        /*border: solid 1px #34495e !important;
        border-radius: 0 !important;*/
    }

    #load_nomina_button {
        border: solid 1px #34495e !important;
        background-color: #34495e !important;
        color: white !important;
        border-radius: 0;
    }

        #load_nomina_button:hover {
            border: solid 1px #34495e !important;
            background-color: white !important;
            color: #34495e !important;
            transition: background-color 0.5s ease;
        }

    #color_stuff {
        margin-top: 33px !important;
    }


    /*#table1 tr:nth(odd) {
        background-color: #34495e !important;
    }*/

    #ponche_modal {
        width: 100% !important;
        margin-bottom: 25px !important;
    }

    /*#tableGrid {
        padding-top: 33px !important;
    }*/


    /*#tableGrid_length select, #tableGrid_filter input {
        border: solid 1px #34495e !important;
        border-radius: 0 !important;
    }

    #table_1 td {
        padding: 9.5px 20px !important;
    }

    #table_1 tr:nth-child(2n+3) {
        background: rgba(52, 73, 94, 0.23) !important;
        color: #34495e !important;
    }

    #tableGrid tr:nth-child(2n) {
        background: rgba(52, 73, 94, 0.23) !important;
        color: #34495e !important;
    }

    #table_1 tr:nth-child(2n) {
        background: white !important;
        color: #34495e;
    }

    .table.dataTable.display tbody tr.odd > .sorting_1 {
        background-color: white !important;
    }

    .table.dataTable.display tbody tr.even > .sorting_1 {
        background: rgba(52, 73, 94, 0) !important;
        color: #34495 !important;
    }*/

    /*****END ROSALIA'S CSS******/
</style>



@*Actualizar Datos*@

<style>
    .fila {
        color: #70707a !important;
        font-family: 'Gill Sans MT' !important;
    }

    .ui-widget-content a {
        color: #337ab7;
    }

    .CambiarEstado:hover {
        text-decoration: none;
        cursor: pointer;
    }

    #loading-animation-container {
        display: none;
    }

    .dl-horizontal dt {
        width: 145px;
        margin-top: 0.5%;
    }
    /*TABS NUEVOS*/
    .ui-widget-header {
        border: none !important;
        background: transparent !important;
        color: #222;
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 1.5em;
        text-decoration: none;
    }


    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #fff !important;
        text-decoration: none;
    }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #03607e !important;
        text-decoration: none;
        background-color: #53c7ed;
        font-weight: 500 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #2a9abe;
        background: #38afd5;
        font-weight: normal;
        color: #fff !important;
    }

    /*TABS*/
    .card {
        margin-top: 20px;
        padding: 30px 0;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            /*text-align: center;*/
        }

            .card.hovercard .card-background {
                height: 130px;
            }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard .useravatar {
        /*position: absolute;*/
        top: 15px;
        left: 0;
        right: 0;
    }

    .card.hovercard .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
    }

        .card.hovercard .card-info .card-title {
            padding: 0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .card.hovercard .card-info {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }

    .btn:active, .btn-primary {
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        color: #fff;
    }

    .btn-default:hover {
        background: #eee;
        border: 1px solid #999;
    }

    .well {
        border: none;
        background: transparent;
    }

    dd {
        /* background: #eee; */
        color: #999;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        line-height: 2em;
        font-weight: bold;
    }
</style>

<!-- ========== -->
<!-- PERMISOS Y VACACIONES -->
<!-- ========== -->

<style>
    .user-row {
        margin-bottom: 14px;
    }

        .user-row:last-child {
            margin-bottom: 0;
        }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

        .dropdown-user:hover {
            cursor: pointer;
        }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

        .table-user-information > tbody > tr:first-child {
            border-top: 0;
        }


        .table-user-information > tbody > tr > td {
            border-top: 0;
        }

    .toppad {
        margin-top: 20px;
    }
</style>

<style>
    .DetalleHome {
        padding: 8px;
    }

    .DetalleHome {
        padding: 0 8px 8px 8px;
    }

    .DetalleHome {
    }


        .DetalleHome img {
            max-width: 100%;
        }

        .DetalleHome h1 {
            font-size: 16px;
            text-align: left;
        }

    .UsuarioDetalle {
        background-color: #fff;
        min-height: 135px;
        padding: 10px;
        margin-bottom: 8px;
        border-bottom: 6px solid #38afd4;
        position: relative;
    }

        .UsuarioDetalle a {
            color: #2b2d2f !important;
            font-family: roboto;
        }
</style>

<style>
    .DetalleHome {
        padding: 8px;
    }

    .DetalleHome {
        padding: 0 8px 8px 8px;
    }

    .DetalleHome {
    }


        .DetalleHome img {
            max-width: 100%;
        }

        .DetalleHome h1 {
            font-size: 16px;
            text-align: left;
        }

    .UsuarioDetalle {
        background-color: #fff;
        min-height: 135px;
        padding: 10px;
        margin-bottom: 8px;
        border-bottom: 6px solid #38afd4;
        position: relative;
    }

        .UsuarioDetalle a {
            color: #2b2d2f !important;
            font-family: roboto;
        }

    .swal2-title {
        width: 100%;
    }

    #contenedor-info-encargado {
        background-color: #f1f1f1;
        color: #0c4ba4;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        text-align: center;
        font-weight: normal;
    }

    #nombre-encargado {
        font-weight: bold;
    }

    .oculto {
        display: none;
    }
</style>

<script src="~/scripts/sweetalert2.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<!-- ========== -->
<!-- ========== -->
@*<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />*@

@if (TempData["Encargado"] != null)
{
    <script>
        swal(
                'Usted no tiene un supervisor asignado',
                'Comuniquese a rrhh para que le sea asignado uno',
                'error'
            ).then(function (){
                window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index"
            });

    </script>
}

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

<div class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Mi Perfil</h2>
        <hr class="hr2" />

    </div>
    <div class="col-md-8">
        <div class="pull-right">
            <h1 class="h1_section">@Session["nombre"].ToString() </h1>
            
            @*<button class="button_white" id="modal">Actualizar Perfil</button>*@
        </div>
    </div>
</div>



<div class="row">


    <div class="col-md-2">
        <div class="image-perfil">
            @if (@ViewBag.FotoPerfil != null)
            {
                <img class=" img-responsive" src="@ViewBag.FotoPerfil">
            }
            else
            {
                <img class=" img-responsive" src="Content/images/user.png">
            }
            <p>
                @if (@ViewBag.FotoPerfil != null)
                {
                    <a href="~/MiPerfilAvatars/Edit?id=@Session["empleadoId"].ToString()" class="cambiarpic changepass"> <span>Editar</span></a>
                }
                else
                {
                    <a href="~/MiPerfilAvatars/Create" class="cambiarpic changepass"> <span>Cambiar Foto de Perfil</span></a>
                }
            </p>
        </div>
    </div>

    <div class="col-md-10">
        <table class="table2">
            <tr>
                <td>@ViewBag.Cargo </td>
                <td>@Session["empleadoId"].ToString()</td>
            </tr>
            <tr>
                <td>@Session["departamento"].ToString()</td>
                <td>@Session["dependencia"].ToString()</td>
            </tr>
            <tr>
                <td>Fecha de ingreso: @ViewBag.FechaIngreso.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</td>
                <td>
                    Correo:
                    @if (Session["departamentoId"].ToString() == "15")
                    {
                        <i style="font-size: 20px;color: #38afd4; padding-right:10px;" class="fa fa-envelope-o" aria-hidden="true"></i>
                        <strong>@Utilities2.obtenerCorreoUsuario(Session["cedula"].ToString())@@pgr.gob.do</strong>
                    }
                    else
                    {
                        <i style="font-size: 20px;color: #38afd4; padding-right:10px;" class="fa fa-envelope-o" aria-hidden="true"></i><strong>
                            @Session["usuario"]@@pgr.gob.do
                        </strong>
                    }
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            @*<tr>
                <td>@Html.Action("viewFlotasExt", "Miperfil")</td>
                <td></td>
                </tr>*@
        </table>
    </div>

</div>




<div class="tab br-perfil">
    <div class="row">
        <div class="col-sm-6 col-lg-3 center">
            <button id="comprobanteButtonID" class="tablinks" onclick="openCity(event, 'comprobante')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/comprobante_gradient.svg" />
                </div>
                <span>Comprobante</span>
            </button>
        </div>
        @*<div class="col-sm-6 col-lg-3 center">
            <div>
                <button class="tablinks" onclick="openCity(event, 'permisos')">
                    <div class="icon_perfil">
                        <img src="~/Content/images/icons/permisos_gradient.svg" />
                    </div>
                    <span>Permisos</span>
                </button>
            </div>
        </div>*@
        @*<div class="col-sm-6 col-lg-3 center">
            <button class="tablinks" onclick="openCity(event, 'vacaciones')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/vacaciones_gradient.svg" />
                </div>
                Vacaciones
            </button>
        </div>*@
        @*<div class="col-sm-6 col-lg-3 center">
            <button class="tablinks btnponches" onclick="openCity(event, 'ponches')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/ponches_gradient.svg" />
                </div>
                Mis Ponches
            </button>
        </div>*@
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="comprobante" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-1">
            @Html.Partial("_Comprobante")
        </div>

        @*<div id="permisos" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-2">
            @Html.Action("_Permisos", "Permisos", new { EmpleadoId = Session["empleadoId"].ToString() })
        </div>*@

        @*<div id="vacaciones" class="tabcontent">

            <img src="~/content/images/triangulo.png" class="triangulo-3">

            @if (!String.IsNullOrEmpty(@ViewBag.NombreEncargado)) {
            <div id="contenedor-info-encargado">
                El nombre de su encargado es <span id="nombre-encargado">@ViewBag.NombreEncargado</span>. En dado caso de que esta persona no sea su encargado por favor comunicarse con Recursos Humanos.
            </div>
            }

            @Html.Action("_Vacaciones", "Permisos", new { EmpleadoId = Session["empleadoId"].ToString() })
        </div>*@

        @*<div id="ponches" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-4">
            <h4>Mis Ponches</h4>
            @Html.Action("vPoncheEmpleado", "sp_report_ponches_Result", new { EmpleadoId = Session["empleadoId"].ToString() })
        </div>*@
    </div>
</div>

@Scripts.Render("~/datatables/js")




@*<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/MiPerfil/ActualizarDatos.cshtml", new intra.VISTA_EMPLEADOS());
            }
        </div>
    </div>
</div>*@
<script>
    $(document).ready(function () {

        // Inmediatamente carga la pagina, realiza una consulta y muestra la informacion

        load_view_nomina();

        // Realiza la accion cuando se cambia la opcion
        $('#nomina_value').on('change', function () {

            load_view_nomina();
        });

    });
    //LLama la funcion para cuando se acceda a la vista, muestre el segmento.
    openElement('comprobante');


    function openElement(div) {
        // $('#comprobanteButtonID').removeClass('tablinks');
        $('#comprobanteButtonID').addClass(' active');

        $("#comprobante").css("display", "block");
    }

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;



        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>



@* preguntar a gabriel <a href="@(HttpRuntime.AppDomainAppVirtualPath)/SubSeccionRepositorio/Index?seccionRepositorioId=@Session["departamentoId"].ToString()" id="link_salario"><li class="peropcion" style="padding-left:47px;">REPOSITORIO</li></a>*@


@*@if (ViewBag.AuthorizeCharge == "YES")
                {
        <div><a id="link_prioridades"><li class="peropcion" style="padding-left:47px;">TAREAS ENCARGADOS</li></a></div>
    }



    <div id="Prioridades" class="form-horizontal">
        @Html.Action("_Prioridades", "MiPerfil")
    </div>*@




<!-- ========== -->
<!-- PERMISOS Y VACACIONES -->
<!-- ========== -->


<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'MM/DD/YYYY HH:mm'
        });
        $('#datetimepicker3').datetimepicker({
            format: 'MM/DD/YYYY HH:mm'
        });
        $('#datetimepicker4').datetimepicker({
            format: 'MM/DD/YYYY HH:mm'
        });
        $(".oculto").hide();
    })
</script>




@*<script src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/dataTables.responsive.min.js"></script>*@
<script>
    //$('#tableGrid').scrollTableBody();
</script>
<script>
 
    $(document).ready(function () {
        /**/

        $('#modal').click(function () {
            $('#myModal').modal();
        });

        if (@Model.ShowTable) {
            /**/
            $('#nomina_value').val("@Model.CurrentNomina.NominaId");
            /**/
        }
        else {
            $('#div_nomina').hide();
        }

        $('#salario_modal').hide();

        $("#Prioridades").hide();


    });
</script>
<script>
    $('#link_salario').click(function () {
        /**/
        @*$('#salario_iframe').attr('src', '@Url.Action("Salario")');*@
        /**/
        /**/
        if (@Model.ShowTable) {
            /**/
            $('#div_nomina').show();
        }

        $("#Prioridades").hide();
        $('#salario_modal').show();

    });

    $("#link_prioridades").click(function () {
        $('#salario_modal').hide();

        $("#Prioridades").show();

    });

    function numberWithCommas(x) {
        var parts = x.split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        if (parts[1] && parts[1].length) {
            if (parts[1].length == 1) {
                parts[1] += "0";
            }
        } else {
            parts[1] = "00";
        }

        return parts.join(".");
    }




    function load_view_nomina(){
        $.ajax({
            /**/
            url: '@Url.Action("GetNomina")',
            /**/
            type: "POST",
            data: { id: +$('#nomina_value').val() },
            success: function (data) {
                //Insert success code here
                if (data != "Error") {
                    $('#header_table_1').html("Sueldo de ");
                    $('#header_table_1').append(data.NominaMesNombre + " " + data.NominaAnio);

                    $('#ingreso_bruto').html("");
                    $('#ingreso_bruto').append("RD$" + numberWithCommas(data.NominaIngresoBruto.toString()));

                    $('#otros_ingresos').html("");
                    $('#otros_ingresos').append("RD$" + numberWithCommas(data.NominaOtrosIngresos.toString()));

                    $('#total_ingresos').html("");
                    $('#total_ingresos').append("RD$" + numberWithCommas(data.NominaTotalIngresos.toString()));

                    $('#afp').html("");
                    $('#afp').append("RD$" + numberWithCommas(data.NominaAFP.toString()));

                    $('#isr').html("");
                    $('#isr').append("RD$" + numberWithCommas(data.NominaISR.toString()));

                    $('#sfs').html("");
                    $('#sfs').append("RD$" + numberWithCommas(data.NominaSFS.toString()));

                    $('#otros_descuentos').html("");
                    $('#otros_descuentos').append("RD$" + numberWithCommas(data.NominaOtrosDescuentos.toString()));

                    $('#total_descuentos').html("");
                    $('#total_descuentos').append("RD$" + numberWithCommas(data.NominaTotalDescuentos.toString()));

                    $('#ingreso_neto').html("");
                    $('#ingreso_neto').append("RD$" + numberWithCommas(data.NominaIngresoNeto.toString()));

                    $('#div_nomina').show();
                    $('#color_stuff').show();
                } else {
                    swal("", "Usted no tiene registros en la nómina", "info");
                }
            },
            error: function (ex) {
                swal("", "Ha ocurrido un error", "error");
            },
        });
    }
    $('#load_nomina_button').click(function () {
        $.ajax({
            /**/
            url: '@Url.Action("GetNomina")',
            /**/
            type: "POST",
            data: { id: +$('#nomina_value').val() },
            success: function (data) {
                //Insert success code here
                if (data != "Error") {
                    $('#header_table_1').html("Sueldo de ");
                    $('#header_table_1').append(data.NominaMesNombre + " " + data.NominaAnio);

                    $('#ingreso_bruto').html("");
                    $('#ingreso_bruto').append("RD$" + numberWithCommas(data.NominaIngresoBruto.toString()));

                    $('#otros_ingresos').html("");
                    $('#otros_ingresos').append("RD$" + numberWithCommas(data.NominaOtrosIngresos.toString()));

                    $('#total_ingresos').html("");
                    $('#total_ingresos').append("RD$" + numberWithCommas(data.NominaTotalIngresos.toString()));

                    $('#afp').html("");
                    $('#afp').append("RD$" + numberWithCommas(data.NominaAFP.toString()));

                    $('#isr').html("");
                    $('#isr').append("RD$" + numberWithCommas(data.NominaISR.toString()));

                    $('#sfs').html("");
                    $('#sfs').append("RD$" + numberWithCommas(data.NominaSFS.toString()));

                    $('#otros_descuentos').html("");
                    $('#otros_descuentos').append("RD$" + numberWithCommas(data.NominaOtrosDescuentos.toString()));

                    $('#total_descuentos').html("");
                    $('#total_descuentos').append("RD$" + numberWithCommas(data.NominaTotalDescuentos.toString()));

                    $('#ingreso_neto').html("");
                    $('#ingreso_neto').append("RD$" + numberWithCommas(data.NominaIngresoNeto.toString()));

                    $('#div_nomina').show();
                    $('#color_stuff').show();
                } else {
                    swal("", "Ha ocurrido un error", "error");
                }
            },
            error: function (ex) {
                swal("", "Ha ocurrido un error", "error");
            },
        });
    });
</script>

<!-- ========== -->
<!-- PERMISOS Y VACACIONES -->
<!-- ========== -->

<script>
    $(".tipoSolicitud").click(function () {
        var tipo = $(this).val();

        switch (tipo) {
            case "permiso":
                $("#DivPermisos").show();
                $("#DivVacaciones").hide();
                break;
            case "vaciones":
                $("#DivPermisos").hide();
                $("#DivVacaciones").show();
                break;
        }
    });
</script>


<script>

    $("#tabs").tabs();




</script>

<script src="~/scripts/Validate.js"></script>

<!-- ========== -->
<!-- ========== -->
