﻿@using System.Globalization;
@model intra.Models.MiPerfil
@{
    ViewBag.Title = "Salario";
    Layout = null;
}
@{ 
    System.Globalization.CultureInfo customCulture = (System.Globalization.CultureInfo)System.Threading.Thread.CurrentThread.CurrentCulture.Clone();
    customCulture.NumberFormat.NumberDecimalSeparator = ".";

    System.Threading.Thread.CurrentThread.CurrentCulture = customCulture;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @*<link rel="shortcut icon" type="image/ico" href="~/favicon.ico">*@
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">*@
    @*<link rel="stylesheet" href="~/Content/fonts.css" type="text/css" charset="utf-8" />*@
    @*<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    @*<link href="~/Content/css/pop-up.css" rel="stylesheet" />*@
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.js"></script>
    @*<script src="~/scripts/pop-up.js"></script>*@
</head>
<body style="width:100%;max-width:100%;">
    <h2>Salario</h2>
    @using (Html.BeginForm("Salario", "MiPerfil", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_salario" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="nomina_value" class="control-label col-md-2">Seleccione una fecha</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.nomina_value, (SelectList)ViewBag.DropDownValues, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="button" value="Cargar" class="form-control" id="load_nomina_button" />
                </div>
            </div>

        </div>

        <table id="table_1" class="table  table-hover responsive display  no-wrap" width="100%">
            <tr>
                <th colspan="2" id="header_table_1">Sueldo de @ViewBag.CurrentNomina.NominaMesNombre @ViewBag.CurrentNomina.NominaAnio</th>
            </tr>
            <tr>
                <td>Ingreso bruto </td>
                <td id="ingreso_bruto">RD$@ViewBag.CurrentNomina.NominaIngresoBruto.ToString("N", new CultureInfo("en-US"))</td>
            </tr>
            <tr>
                <td>Otros ingresos </td>
                <td id="otros_ingresos">RD$@ViewBag.CurrentNomina.NominaOtrosIngresos.ToString("N", new CultureInfo("en-US"))</td>
            </tr>
            @*<tr>
                    <td>Total de ingresos </td>
                    <td id="total_ingresos"></td>
                </tr>*@
            <tr>
                <td>Descuento AFP </td>
                <td id="afp">RD$@ViewBag.CurrentNomina.NominaAFP.ToString("N", new CultureInfo("en-US"))</td>
            </tr>
            <tr>
                <td>Descuento IRS </td>
                <td id="isr">RD$@ViewBag.CurrentNomina.NominaISR.ToString("N", new CultureInfo("en-US"))</td>
            </tr>
            <tr>
                <td>Descuento SFS </td>
                <td id="sfs">RD$@ViewBag.CurrentNomina.NominaSFS.ToString("N", new CultureInfo("en-US"))</td>
            </tr>
            <tr>
                <td>Otros descuentos </td>
                <td id="otros_descuentos">RD$@ViewBag.CurrentNomina.NominaOtrosDescuentos.ToString("N", new CultureInfo("en-US"))</td>
            </tr>
            @*<tr>
                    <td>Total de descuentos </td>
                    <td id="total_descuentos"></td>
                </tr>
                <tr>
                    <td style="font-size:18px;font-weight:bold;">Ingreso neto </td>
                    <td id="ingreso_neto" style="font-size:18px;font-weight:bold;"></td>
                </tr>*@
        </table>

        <div class="row" id="color_stuff">
            <div class="col-lg-4">
                <div class="alert alert-info fechaEntrada" role="alert">
                    <strong>Total de ingresos: </strong> <label id="total_ingresos">RD$@ViewBag.CurrentNomina.NominaTotalIngresos.ToString("N", new CultureInfo("en-US"))</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="alert alert-warning tiempo" role="alert">
                    <strong>Total de descuentos :</strong> <label id="total_descuentos">RD$@ViewBag.CurrentNomina.NominaTotalDescuentos.ToString("N", new CultureInfo("en-US"))</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="alert alert-success acumulados" role="alert">
                    <strong>Total neto: </strong> <label id="ingreso_neto">RD$@ViewBag.CurrentNomina.NominaIngresoNeto.ToString("N", new CultureInfo("en-US"))</label>
                </div>
            </div>
        </div>
    }

    <script>
    $(document).ready(function () {
        if(@ViewBag.ShowTable=="true")
        {
            $('#nomina_value').val("@ViewBag.CurrentNomina.NominaId");
        }else{
            $('#table_1').hide();
            $('#color_stuff').hide();
        }

    });

    function numberWithCommas(x) {
        var parts = x.split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        if (parts[1] && parts[1].length) {
            if (parts[1].length == 1) {
                parts[1] += "0";
            }
        } else {
            parts[1] = "00";
        }

        return parts.join(".");
    }

    $('#load_nomina_button').click(function () {
        $.ajax({
            url: '@Url.Action("GetNomina")',
            type: "POST",
            data: { id: +$('#nomina_value').val() },
            success: function (data) {
                //Insert success code here
                if (data != "Error") {
                    $('#header_table_1').html("Sueldo de ");
                    $('#header_table_1').append(data.NominaMesNombre + " " + data.NominaAnio);

                    $('#ingreso_bruto').html("");
                    $('#ingreso_bruto').append("RD$" + numberWithCommas(data.NominaIngresoBruto.toString()));

                    $('#otros_ingresos').html("");
                    $('#otros_ingresos').append("RD$" + numberWithCommas(data.NominaOtrosIngresos.toString()));

                    $('#total_ingresos').html("");
                    $('#total_ingresos').append("RD$" + numberWithCommas(data.NominaTotalIngresos.toString()));

                    $('#afp').html("");
                    $('#afp').append("RD$" + numberWithCommas(data.NominaAFP.toString()));

                    $('#isr').html("");
                    $('#isr').append("RD$" + numberWithCommas(data.NominaISR.toString()));

                    $('#sfs').html("");
                    $('#sfs').append("RD$" + numberWithCommas(data.NominaSFS.toString()));

                    $('#otros_descuentos').html("");
                    $('#otros_descuentos').append("RD$" + numberWithCommas(data.NominaOtrosDescuentos.toString()));

                    $('#total_descuentos').html("");
                    $('#total_descuentos').append("RD$" + numberWithCommas(data.NominaTotalDescuentos.toString()));

                    $('#ingreso_neto').html("");
                    $('#ingreso_neto').append("RD$" + numberWithCommas(data.NominaIngresoNeto.toString()));

                    $('#table_1').show();
                    $('#color_stuff').show();
                } else {
                    swal("", "Ha ocurrido un error", "error");
                }
            },
            error: function (ex) {
                swal("", "Ha ocurrido un error", "error");
            },
        });
    });
    </script>
</body>
</html>
