﻿@model intra.Models.FlotasExtensiones.AsignacionFlots


<tr>
    <td>
        <i style="font-size: 20px;color: #38afd4; padding-right:10px;" class="fa fa-phone" aria-hidden="true"></i>
        Flota: 
      
            @if (!string.IsNullOrEmpty(ViewBag.Flota))

            {
                <strong>
                   @ViewBag.Flota
                </strong>
            }
            else
            {
            <label> No tiene Flota </label>
            }
            
            | Ext.: 
        
            @if (!string.IsNullOrEmpty(ViewBag.Extencion))

            {
                <strong>
                    @ViewBag.Extencion
                </strong>
            }
            else
            {
                <label>No tiene Ext.</label>
            }

    </td>
</tr>
