﻿@{

    Layout = "~/Views/intraMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <!-- Insert to your webpage before the </head> -->
        <link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />

        <script src="~/Content/slider/jquery.js"></script>
        <script src="~/Content/slider/amazingslider.js"></script>
        <script src="~/Content/slider/initslider-1.js"></script>

        <!-- End of head section HTML codes -->
        <style>
            .amazingslider-arrow-right-1 {
                background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
                border-radius: 50%;
            }

            .amazingslider-arrow-left-1 {
                background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
                border-radius: 50%;
            }
        </style>





        <!-- Insert to your webpage where you want to display the slider -->
        <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;padding-left:0px; padding-right:244px;margin:0px auto 0px;">
            <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                <ul class="amazingslider-slides" style="display:none;">
                    <li>
                        <img src="~/content/images/23109148.jpg" alt="23109148" title="23109148" />
                    </li>
                    <li><img src="~/content/images/batman-arkham-origins-wallpaper-n2og8adwrnwonhp5zqws5dm48v4o3h6jl4y6fvo0o0.jpg" alt="batman-arkham-origins-wallpaper-n2og8adwrnwonhp5zqws5dm48v4o3h6jl4y6fvo0o0" title="batman-arkham-origins-wallpaper-n2og8adwrnwonhp5zqws5dm48v4o3h6jl4y6fvo0o0" /></li>
                    <li>
                        <img src="~/content/images/batman-logo-theme-ek11.jpg" alt="batman-logo-theme-ek11" title="batman-logo-theme-ek11" />
                    </li>
                    <li>
                        <img src="~/content/images/batman-wallpaper-13.jpg" alt="batman-wallpaper-13" title="batman-wallpaper-13" />
                    </li>
                    <li>
                        <img src="~/content/images/batman-logo-theme-ek11.jpg" alt="batman-logo-theme-ek11" title="batman-logo-theme-ek11" />
                    </li>
                    <li>
                        <img src="~/content/images/batman-wallpaper-13.jpg" alt="batman-wallpaper-13" title="batman-wallpaper-13" />
                    </li>
                    <li>
                        <img src="~/content/images/il_fullxfull.729433925_9ugh.jpg" alt="video" title="video" />
                        <video preload="none" src="~/content/images/video.mp4"></video>
                    </li>
                </ul>
                <ul class="amazingslider-thumbnails" style="display:none;">
                    <li><img src="~/content/images/23109148-tn.jpg" alt="23109148" title="23109148" /></li>
                    <li><img src="~/content/images/batman-arkham-origins-wallpaper-n2og8adwrnwonhp5zqws5dm48v4o3h6jl4y6fvo0o0-tn.jpg" alt="batman-arkham-origins-wallpaper-n2og8adwrnwonhp5zqws5dm48v4o3h6jl4y6fvo0o0" title="batman-arkham-origins-wallpaper-n2og8adwrnwonhp5zqws5dm48v4o3h6jl4y6fvo0o0" /></li>
                    <li><img src="~/content/images/batman-logo-theme-ek11-tn.jpg" alt="batman-logo-theme-ek11" title="batman-logo-theme-ek11" /></li>
                    <li><img src="~/content/images/batman-wallpaper-13-tn.jpg" alt="batman-wallpaper-13" title="batman-wallpaper-13" /></li>
                    <li><img src="~/content/images/batman-logo-theme-ek11-tn.jpg" alt="batman-logo-theme-ek11" title="batman-logo-theme-ek11" /></li>
                    <li><img src="~/content/images/batman-wallpaper-13-tn.jpg" alt="batman-wallpaper-13" title="batman-wallpaper-13" /></li>
                    <li><img src="~/content/images/il_fullxfull.729433925_9ugh-tn.jpg" alt="video" title="video" /></li>
                </ul>
                <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive JavaScript Slider">Responsive JavaScript Slider</a></div>
            </div>
        </div>
        <!-- End of body section HTML codes -->
        <script>
    	$(document).ready(function(){
    		$(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
    	});
        </script>

    </div>
</body>
</html>
