﻿@model intra.Models.SolicitudModel

@using intra.Models;
@{
    ViewBag.Title = "Servicios Asignados";
    Layout = "~/Views/intraMaster.cshtml";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");

    //if (Model.TB_Detalle_Lista.Where(x=>x.DependenciaId == 3).Any() && ViewBag.TecnicoAlternativo != null) {

    //    ViewBag.tecnico.Add(new PersonalPgrModel() { EmpleadoId = "121003", Descripcion = "JEAN CARLOS PUJOLS PIMENTEL", Cedula = "402-0074066-6" });
    //}

}
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>
<style>
    .chosen-container-multi .chosen-choices {
        background-color: #494b54 !important;
        border: none !important;
        border-radius: 4px !important;

    }
   .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            color: #949ba2 !important;
        }

        .chosen-container-multi .chosen-choices select {
            border: 0px !important;
        }
    .chosen-drop {
        padding-left: 10px;

    }
    #trAjust th {
        width: 5% !important;
    }
    .chosen-container {
        width: 110px !IMPORTANT;
    }
    .chosen-drop {
        width: auto !important;
    }

</style>

@if (TempData["Actualizar"] != null)
{
    <script>
            swal({
                title: 'LISTO!!',
                text: 'SERVICIO ACTUALIZADO CORRECTAMENTE',
                type: 'success',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

@Styles.Render("~/datatables/css")

@using (Html.BeginForm("Consultas_de_Servicios", "Asignados", FormMethod.Post))
{
    <div class="row br-solicitados-head">
        <div class="col-md-2 title">
            <h2 class="h2_title_page">Asignados</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-10 content">
            <div class="cont">
                <div style="float:left; margin-left:2px" class="br-item">
                    <label>   Filtrar Por:</label>
                    @Html.DropDownListFor(model => model.CodigoTipoConsulta, new SelectList(Model.TipoConsulta, "ConsultaId", "Descripcion"), "Seleccione", new { id = "TipoConsultaId" })
                </div>
                <div style="float:left; margin-left:2px" >
                    <div id="Usuario" style="float:left;margin-left:2px; display:none" class="br-item">
                        <label>Usuario:</label>
                        <div>
                            @Html.TextBoxFor(model => model.FiltrarPorUsuario, new { @class = "form-control" })
                        </div>
                    </div>
                    <div id="Responsable" style="float:left;margin-left:2px;display:none">
                        <div>
                            <label>Responsable:</label>
                            @Html.TextBoxFor(model => model.FiltrarPorResponsable, new { @class = "form-control" })
                        </div>
                    </div>
                    <div id="Fechas" style="float:left;margin-left:2px;display:none">
                        <div style="float:left;margin-left:2px">
                            <label>Fecha Inicial:</label>
                            @Html.TextBoxFor(model => model.FechaInicial, DateTime.Now.ToString("{0:dd/MM/yyyy}"), new { id = "date-picker", @class = "date-picker form-control" })
                        </div>
                        <div style="float:left;margin-left:2px">
                            <label>Fecha Final:</label>
                            @Html.TextBoxFor(model => model.FechaFinal, DateTime.Now.ToString("{0:dd/MM/yyyy}"), new { id = "date-picker2", @class = "date-picker form-control" })
                        </div>
                    </div>
                </div>
                <div style="float:left; margin-left:2px" class="br-item">
                    <label>Estados:</label>
                    @Html.DropDownListFor(model => model.CodigoEstadoConsulta, new SelectList(Model.EstadoConsulta, "EstadoId", "Descripcion"), "Todos", new { id = "EstadoConsultaId" })
                </div>
                <div style="float:left;">
                    <button style="margin-top: 21px;margin-left: 5px;" id="Consultar" name="Consultar" value="Consultar" type="submit" class="button_white"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>
         
            </div>
        

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
@if (ViewBag.Director != null || ViewBag.TecnicoAlternativo != null || ViewBag.Supervisor != null || ViewBag.Otrostecnicos != null || ViewBag.SupervisorDependencia != null)
{
    <a id="instructivo" class="estatus estatus_informacion" href="javascript:void(0);" onclick="startIntro();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
     <button style="margin-bottom:15px;" type="button" name="AgregarAsignacion" id="AgregarAsignacion" onclick="Asignado()" class="estatus estatus_informacion"><i class="fa fa-retweet alejar_icono"></i>Reasignar</button>

}
            </div>
        </div>

    </div>



}

<div style="width:99%;overflow:hidden; height:auto;">
    @if (Model.MensajeError != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.MensajeError.ToString()
        </div>
    }
</div>

<div class="@*table-responsive br-table*@">
    <table id="tableGrid" class="table display table-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr class="trAjust">
                <th>Solicitante</th>
                <th>servicio</th>
                @if (ViewBag.Director != null || ViewBag.TecnicoAlternativo != null || ViewBag.Supervisor != null || ViewBag.Otrostecnicos != null || ViewBag.SupervisorDependencia != null)
                {
                    <th id="tecnicosss">seleccionar</th>
                    @*<th>Cambiar usuario</th>*@
                }
                else
                {
                    <th hidden="hidden"></th>

                }
                <th>Estatus</th>
                <th>Responsable</th>
                <th>Fecha </th>


                <th>Descripción Solicitud</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TB_Detalle_Lista)
            {
                @*if(item.DependenciaId == 10001)
                {
                    @ViewBag.tecnico = DatosEmpleado;

                }
                else { @ViewBag.tecnico = empleadosDependencia; }*@

                <tr>

                    <td id="Descripcion">@item.NombreSolicitante</td>
                    <td>
                        <a href="~/RegistroSolicitud/RegistroSolicitud?id=@item.CodigoSolicitud" style="padding-left: 10px;">
                            @if (item.DependenciaId == 1)
                            {
                                @item.SubTipoSolicitud
                            }
                            else
                            {
                                @item.DependenciaNombre
                            }
                        </a>
                    </td>
                    @if ((ViewBag.Director != null) && (item.EstadoSolicitud == "Pendiente") || (ViewBag.TecnicoAlternativo != null) || (ViewBag.SupervisorDependencia != null
                        ) && (item.EstadoSolicitud == "Pendiente") || (ViewBag.Supervisor != null) && (item.EstadoSolicitud == "Pendiente")
                        || (ViewBag.Otrostecnicos != null) && (item.EstadoSolicitud == "Pendiente"))
                    {
                        <td id="td_asignados">
                            @Html.DropDownList("tecnico", new SelectList(ViewBag.tecnico, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select empleado" })
                        <input class="codigo" type="hidden" id="show" name="show" value="@item.CodigoSolicitud" />
                        <input type="hidden" id="asign" name="asign" value="hola" />
                    </td>
                    @*<td id="btn_asignado"><button type="button" name="AgregarAsignacion" id="AgregarAsignacion" onclick="Asignado()" class="estatus estatus_informacion"><i class="fa fa-retweet alejar_icono"></i>Reasignar</button></td>*@
                }
                else
                {
                    <td hidden="hidden"></td>

                }
                    <td><a class="estatus estatus_rechazado" href="~/RegistroSolicitud/RegistroSolicitud?id=@item.CodigoSolicitud">@item.EstadoSolicitud</a></td>
                    <td>@item.NombreTecnico</td>
                    <td>@item.FechaInicioSolicitud.ToString("dd/MM/yyyy")</td>
                    <td>@item.DescripcionSolicitud</td>


                </tr>
            }
        </tbody>
    </table>
</div>

<script type='text/javascript'>

    $(document).ready(function () {

        if ($("#TipoConsultaId").val() == 1) { $("#Usuario").show(); }
        else if ($("#TipoConsultaId").val() == 2) { $("#Responsable").show(); }
        else if ($("#TipoConsultaId").val() == 3) { $("#Fechas").show(); }

        $(function  () {
            $('.date-picker').datepicker({
                dateFormat: "dd/mm/yy"
            });
        });

        $("#Consultar").click(function (e) {

            if ($("#TipoConsultaId").val() == 1 && $("#FiltrarPorUsuario").val() == "") {
                e.preventDefault();
                swal("Ingrese el usuario para buscar.", "", "info");
            }
            if ($("#TipoConsultaId").val() == 2 && $("#FiltrarPorResponsable").val() == "") {
                e.preventDefault();
                swal("Ingrese el responsable para buscar.", "", "info");
            }
            var reg = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
            if ($("#TipoConsultaId").val() == 3 && ($("input[name='FechaInicial']").val().match(reg) == null || $("input[name='FechaFinal']").val().match(reg) == null)) {
                e.preventDefault();
                swal("Ingrese formatos de fecha valida.", "", "info");
            }
        });

        $(function () {
            $("#TipoConsultaId").change(function () {
                if ($(this).val() == 1) {
                    $("#Usuario").show();
                    $("#Responsable").hide();
                    $("#Fechas").hide();
                }
                else if ($(this).val() == 2) {
                    $("#Usuario").hide();
                    $("#Responsable").show();
                    $("#Fechas").hide();
                }
                else if ($(this).val() == 3) {
                    $("#Usuario").hide();
                    $("#Responsable").hide();
                    $("#Fechas").show();
                }
                else {
                    $("#Usuario").hide();
                    $("#Responsable").hide();
                    $("#Fechas").hide();
                }
            });
        });

    });
</script>

<script>
    function Guardar() {
        $("#Guardar").click(function () {
            $("#enviar").show();
            $("#Asignar").hide();

        })
    }

</script>
<script>
    $(document).ready(function ()
    {
        if ($("#CodigoEstadoConsulta").val() != 1 || $("#tecnico").val() != "")
        {
            $("#tecnicosss").hide();

        }

        if($("#asign").val() == "hola")
        {
            $("#AgregarAsignacion").show();
            $("#instructivo").show();
            $("#tecnicosss").show();

        }
        else
        {
            $("#AgregarAsignacion").hide();
            $("#tecnicosss").hide();
            $("#instructivo").hide();
        }
        
    })
</script>


<script>
    function Asignado(a) {
        $("#loading-animation-container").show();
 
        var selected = $(".empleado");
        var solicitados = $(".codigo");
        var codigos = [];
        var selectValue = [];

        for (var i = 0; i < selected.length; i++) {
            if (selected[i].value != "") {
                selectValue.push(selected[i].value);
                codigos.push(solicitados[i].value);
            }
        }

        var request = $.ajax({
            url: '@Url.Action("Asignar")',
            method: 'Post',
            data: { solicitudId: codigos, tecnico1: selectValue }
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success) {
                swal({
                    title: 'Servicio reasignado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados"});
            }
            else
            {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados" });

            }
        })

    }
</script>

<script type="text/javascript">
    function startIntro() {


        var intro = introJs();

        intro.setOptions({
            steps: [
            {
               
                intro: "Para asignar uno o mas servicios"
            },
            {
                element: document.querySelector('#td_asignados'),
                intro: "Seleccione  la(s) persona(s) a la que quiere asignar"
            },

            {
                element: document.querySelector('#AgregarAsignacion'),
                intro: "Click en el boton asignar "
            },
              
            {
                intro: "¡Y listo!",
                position: 'right'
            }
            ]
        });

        intro.start();

        intro.onexit(function () {
            $('#cardnet').hide();
        })
    }
</script>



<script src="~/JS/jquery-ui.min.js"></script>
@Scripts.Render("~/datatables/js")