﻿
@{
    ViewBag.Title = "Repositorio";
    Layout = "~/Views/intraMaster.cshtml";
}

    <link href="~/Content/css/SistemaArchivos.css" rel="stylesheet" />
    <link href="~/CSS/fileinput.min.css" rel="stylesheet" />
    <link href="~/CSS/sweetalert2.css" rel="stylesheet" />

    <script src="~/scripts/fileinput.min.js"></script>
    <script src="~/scripts/es.js"></script>

    @*<meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/SistemaArchivos.css" rel="stylesheet" />
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/theme.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <!-- piexif.min.js is only needed if you wish to resize images before upload to restore exif data.
    This must be loaded before fileinput.min.js -->
    <script src="~/Scripts/piexif.min.js"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
    This must be loaded before fileinput.min.js -->
    <script src="~/Scripts/sortable.min.js"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
    This must be loaded before fileinput.min.js -->
    <script src="~/Scripts/purify.min.js"></script>
    <!-- the main fileinput plugin file -->
    <script src="~/Scripts/fileinput.min.js"></script>
    <!-- bootstrap.js below is needed if you wish to zoom and view file content
    in a larger detailed modal dialog -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- optionally if you need a theme like font awesome theme you can include
    it as mentioned below -->
    <link href="~/Content/theme.css" rel="stylesheet" />
    <!-- optionally if you need translation for your language then include
    locale file as mentioned below -->
    <!-- <script src="~/Scripts/lang.js"></script> -->
    <script src="~/Scripts/es.js"></script>*@

    <p>
        @*<a href="@HttpRuntime.AppDomainAppVirtualPath/SubSeccionRepositorio/Index?seccionRepositorioId=@Session["departamentoId"]" class="btn btn-primary"><i class="fa fa-long-arrow-left back" aria-hidden="true"></i>Regresar a Sub-Secciones</a>*@
        @*@Html.ActionLink("Regresar a Sub-Secciones", "Index", "SubSeccionRepositorio", new { seccionRepositorioId = 15 } ,new {@class="btn btn-primary" })*@
    </p>

    <div id="loading-animation-container">
        <div id="loading-animation">
            <div id="loading-image-container">
                <img src="~/Content/images/gif_intranet_loading.gif" />
            </div>
        </div>
    </div>

    <div id="info-carpeta-actual">
        @*<i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>*@

        <div id="info-carpeta-actual-nombre"></div>
    </div>

    <div id="controles-navegacion" class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        <div id="volver-atras" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
        </div>

        <div id="volver-home">
            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        </div>
    </div>

    <div id="carpeta-crear" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            Nombre carpeta
            <input id="carpeta-campo-nombre" class="form-control" type="text" />
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <button id="carpeta-boton-crear" class="controles-boton btn button_white "><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Crear carpeta</button>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <button id="carpeta-boton-cerrar" class="controles-boton btn btn-danger">Cerrar</button>
        </div>
    </div>

    <div id="archivo-subir" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <input id="subir-archivo" type="file" name="subir-archivo[]" multiple class="file-loading">

        <br />

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <button id="archivo-boton-cerrar" class="controles-boton btn btn-danger">Cerrar</button>
        </div>
    </div>

    <div id="controles-crear-subir" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <button id="controles-boton-crear-carpeta" class="controles-boton btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Crear carpeta</button>
        </div>
            
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <button id="controles-boton-subir-archivo" class="controles-boton btn btn-info"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Subir archivo</button>
        </div>
    </div>

    <div id="carpeta-hijos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    </div>

    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/scripts/SistemaArchivos.js"></script>
    
    <script>
        Iniciar(
            "@Url.Action("IniciarSistema")",
            "@Url.Action("CrearCarpeta")",
            "@Url.Action("ObtenerElementosHijos")",
            "@Url.Action("EliminarElemento")",
            "@Url.Action("RenombrarElemento")",
            "@Url.Action("GuardarArchivo")",
            "@Url.Action("DescargarArchivo")",
            "@HttpRuntime.AppDomainAppVirtualPath"
        );
    </script>
