﻿@model intra.Models.Cumpleanos.Vw_Mostrar_Empleados_Cumpleanos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vw_Mostrar_Empleados_Cumpleanos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDependencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDependencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dependencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
