﻿@model intra.Models.Cumpleanos.Vw_Mostrar_Empleados_Cumpleanos
    @using intra.Models.Cumpleanos
@{
    ViewBag.Title = "Felicitar";
    Layout = "~/Views/intraMaster.cshtml";
    var CodFestejado = Model.Codigo;
    List<MostraFelicitaciones> MostraFelicitaciones = ViewBag.Felicitaciones;
    dbIntranet db = new dbIntranet();
}

<link href="~/Content/Carousel/css/owl.carousel.min.css" rel="stylesheet" />
<script src="~/Content/Carousel/js/owl.carousel.min.js"></script>

<style>

    .felicitar-empleado{
        -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        border-radius: 5px;
        height:auto;
        padding: 0;
        margin:50px 0 0 0;
    }

    .felicitacion h3, span{
        color: #70707a;
    }

    .felicitacion #mensaje-felicitacion{
        font-size: 16px;
        margin-top: 10px;
    }

    .felicitacion #nombre-empleado{
        margin:0;
        padding: 0px 0 5px 0px;
    }

    #enviar-felicitacion{
        float:right;
    }

    .datos-usuario{
        padding: 20px 0;
    }

    .felicitar-empleado .padding-foto {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        top: 0;
        overflow: hidden;
        border-image: linear-gradient(to bottom, #01a9fb, rgba(13, 75, 164, 0)) 1 100%;
        background: linear-gradient(to right, #01a9fb, #0d4ba4);
        padding: 0px;
    }

    .felicitar-empleado .padding-foto img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        vertical-align: middle;
        margin: 5px;
    }
</style>


@using (Html.BeginForm("EnviarFelicitar", "Vw_Mostrar_Empleados_Cumpleanos", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <input type="hidden" name="Codigo" value="@CodFestejado" />

    <div class="felicitar-empleado">
        <img src="~/Content/images/bombillitos.png" width="100%;"/>
            <div class="row" style="padding: 20px;margin: 0;">
                <div class="col-md-6">
                    <h2 style="text-align:center; color:#0c4ba4; padding:0 0 20px 0;">FELICITACIONES</h2>
                    @if (MostraFelicitaciones.Count > 0)
                    {
                        <div id="demos">
                            <div class="owl-carousel owl-theme carousel-felicitacion">
                                @foreach (var item in MostraFelicitaciones)
                                {
                                    <div class="felicitacion">
                                        <h4 id="nombre-empleado">@item.NombreEmpleado</h4>
                                        <span><i class="fas fa-calendar-alt"></i>@item.Fecha</span><br />
                                        <p id="mensaje-felicitacion">@item.Mensaje</p>
                                    </div>
                                }
                            </div>
                        </div>
                    }
            </div>
            <div class="col-md-6" style="border-left: 1px solid #0c4ba4;">
                <div class="row" style="padding:0 0 20px 0;">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="padding-foto">
                        
                            @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == CodFestejado).FirstOrDefault(); }
                            @if (EmpAvatar != null)
                            {
                                <img src="@EmpAvatar.avatar" alt="cumple-1" width="100px" />
                            }
                            else
                            {
                                <img src="~/content/images/user-cumple.png" alt="cumple-1" width="100px" />
                            }

                            @*<img src="~/Content/Carousel/images/foto.jpg" alt="cumple-1" width="100px" />*@
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2 style="color:#0c4ba4;text-align:center; padding:0 0 20px 0;">¡FELICITA A @Model.NombreCompleto!</h2>
                    </div>
                </div>
                <div class="status-upload">
                    <form>
                        <textarea placeholder="Escriba aqui su mensaje de felicitaciones" name="TxtFelicitaciones" id="TCumple" style="min-width: 100%; max-height: 100px; background: rgba(255, 255, 255, 0.8);" required="required"></textarea>
                        <button type="submit" name="Enviar" class="button_white" id="enviar-felicitacion"> Felicitar  </button>
                        @*@Html.ActionLink("Volver", "Index", "home", null, new { @class = "buttonEnviar" })*@
                    </form>
                </div>
            </div>
        </div>
    </div>







    @*<div>
        <div class="row">
            <div class="col-lg-7">
                <h3 style="text-align:left; color:#38afd4; font-family:'robotobold' !important;    font-size: 21px; ">@Model.NombreCompleto</h3>
                <input type="hidden" name="Codigo" value="@CodFestejado" />
                <h5 style="color:#999; font-family:'robotolight' !important; ">@Model.Departamento</h5>
                <div style="padding:15px;    height: 390px; border:2px solid #f5f5f5;border-radius:5px; overflow:scroll;">
                    <span style="text-transform:uppercase; color:#222222;">Felicitaciones <i style="color:#38afd4;" class="fa fa-birthday-cake" aria-hidden="true"></i></span>
                    <br />
                    @if (MostraFelicitaciones.Count > 0)
                    {
                        <div>
                            @foreach (var item in MostraFelicitaciones)
                            {
                               
                            <div style="margin-top:10px;">
                                <span style="color:#38afd4; font-family:'robotolight' !important; "> @item.NombreEmpleado</span><br />
                                <span style="font-size: 11px;">@item.Fecha</span>
                            </div>
                            
                            <div style="background:rgba(252, 251, 251, 0.78); padding:8px; border-radius:5px; font-size: 13px;">
                                @item.Mensaje
                               
                            </div>
                           

                            }
                        </div>
                    }
                   
                </div>
            </div>
           
            <div class="col-lg-5">
                    <div class="widget-area no-padding blank cumple">
                        <img src="~/Content/images/cumple.png" />
                        <div class="status-upload">
               
                            <form>
                                <textarea placeholder="Escriba aqui su mensaje de felicitaciones" name="TxtFelicitaciones" id="TCumple" style="width:100%;     background: rgba(255, 255, 255, 0.8); margin: 0px 0px 1px; height: 77px; font-size: 13px;    margin-top: -67px;"></textarea>
                               <button type="submit" name="Enviar" class="buttonEnviar" > Enviar  </button>
                                @Html.ActionLink("Volver", "Index", "home", null, new { @class = "buttonEnviar" })
                            </form>
             
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>
        </div>
    </div>*@
}

<script>
    $(document).ready(function () {
        $('.carousel-felicitacion').owlCarousel({
            loop: false,
            margin: 10,
            touchDrag: true,
            dots: true,
            autoplay: true,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1,
                    margin: 20
                }
            }
        })
    })
</script>

<script src="~/Content/Carousel/js/highlight.js"></script>
<script src="~/Content/Carousel/js/app.js"></script>