﻿@model IEnumerable<intra.Models.Cumpleanos.Vw_Mostrar_Empleados_Cumpleanos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2 class="br-bday-title" >cumpleaños</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        
 
        
        <td>
            @Html.DisplayFor(modelItem => item.Departamento)
        </td>
       
        <td>
            @Html.ActionLink("Felicitar", "Felicitar", new { id=item.Codigo }) 

        </td>
    </tr>
}

</table>
