﻿@model IEnumerable<intra.Models.Cumpleanos.Vw_Mostrar_Empleados_Cumpleanos>
@using System.Globalization;

@using intra.Models
@{
    dbIntranet db = new dbIntranet();

}

<link href="~/Content/Carousel/css/owl.carousel.min.css" rel="stylesheet" />
<script src="~/Content/Carousel/js/owl.carousel.min.js"></script>

<div class="row">
    <div class="col-md-8">
        @if (ViewBag.NohayCumpleaños != null)
        {
        <h2 class="h2_title_page">No Hay Cumpleaños este Día</h2>
        }
        else
        { 
        <h2 class="h2_title_page">Cumpleaños del Día</h2>
        }
        <hr class="hr2">
    </div>
    <div class="col-md-4"></div>
</div>


<div class="row">
    <section id="demos">

        <!--bday original----bday original----bday original----bday original----bday original----bday original----bday original----bday original----bday original-->

        <div class="br-bday-uno">
            <div class="owl-carousel owl-theme br-bday-cont">
                @foreach (var item in Model)
                {
                    <div class="item ">
                        <img src="~/Content/Carousel/images/globos.png" class="globos img-responsive" width="100%;" />
                        <div class="row">
                            <div class="br-bday-foto">
                                @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == item.Codigo).FirstOrDefault(); }
                                @if (EmpAvatar != null)
                                {
                                    <img src="@EmpAvatar.avatar" alt="cumple-1" width="100px" />
                                }
                                else
                                {
                                    <img src="~/content/images/user-cumple.png" alt="cumple-1" width="100px" />
                                }
                            </div>
                            <div class="br-bday-text">
                                <h6 class="cumpleanero">@Html.DisplayFor(modelItem => item.NombreCompleto)</h6>
                                <p class="cargo">@Html.DisplayFor(modelItem => item.Departamento)</p>

                                @Html.ActionLink("Felicitar", "Felicitar", new { id = item.Codigo }, new { @class = "br-bday-btn button_white" })
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <!--bday responsive----bday responsive----bday responsive----bday responsive----bday responsive----bday responsive----bday responsive----bday responsive-->

        <div class="br-bday-dos">
            <div class="br-bday-cont">
                @foreach (var item in Model)
                {
                    <div class="item br-bday">
                        <!--<img src="~/Content/Carousel/images/globos.png" class="globos img-responsive" width="100%;" />-->
                        <div class="row">
                            <div class="br-bday-foto">
                                @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == item.Codigo).FirstOrDefault(); }
                                @if (EmpAvatar != null)
                                {
                                    <img src="@EmpAvatar.avatar" alt="cumple-1" width="100px" />
                                }
                                else
                                {
                                    <img src="~/content/images/user-cumple.png" alt="cumple-1" width="100px" />
                                }
                            </div>
                            <div class="br-bday-text">
                                <h6 class="cumpleanero">@Html.DisplayFor(modelItem => item.NombreCompleto)</h6>
                                <p class="cargo">@Html.DisplayFor(modelItem => item.Departamento)</p>

                                @Html.ActionLink("Felicitar", "Felicitar", new { id = item.Codigo }, new { @class = "br-bday-btn button_white" })
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </section>
</div>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            touchDrag: true,
            dots: true,
            autoplay: true,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 2,
                    margin: 20
                }
            }
        })
    })
</script>

<script src="~/Content/Carousel/js/highlight.js"></script>
<script src="~/Content/Carousel/js/app.js"></script>
