﻿@model IEnumerable<intra.Models.Cumpleanos.Vw_Mostrar_Empleados_Cumpleanos>
@using System.Globalization;

<style>
    .misFelicitaciones ul li{
        background: #A460B7;
    }

</style>



@foreach (var item in Model)
            {
                <li>@Html.ActionLink("Mis felicitaciones", "Felicitar", new { id = item.Codigo }, new { @class = "misFelicitaciones" })</li>
            }
      