﻿@model intra.Models.Inventario.VistaConectividads

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConectividadInventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Servicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadServicio)
        </dd>

        <dt>
            @Html.DisplayName("No. Contrato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadNoContrato)
        </dd>

        <dt>
            @Html.DisplayName("Tecnico Asignado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadTecnicoAsignado)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadUsuario)
        </dd>

        <dt>
            @Html.DisplayName("Fecha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadFecha)
        </dd>

        <dt>
            @Html.DisplayName("Proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorNombre)
        </dd>

        <dt>
            @Html.DisplayName("Localidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index","ComputadoraInventario")
        </div>
    }
</div>
