﻿@model  IEnumerable < intra.Models.Inventario.VistaConectividads>

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h2>ConectividadInventario</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Region")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionDescripcion)
        </dd>
        <dt>
            @Html.DisplayName("Provincia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province_Name)
        </dd>

        <dt>
            @Html.DisplayName("Municipio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipality_Name)
        </dd>
        <dt>
            @Html.DisplayName("Localidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>
        
        <dt>
            @Html.DisplayName("Servicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadServicio)
        </dd>

        <dt>
            @Html.DisplayName("No.Contrato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadNoContrato)
        </dd>

        <dt>
            @Html.DisplayName("Tecnico Asignado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadTecnicoAsignado)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadUsuario)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Registro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConectividadFecha)
        </dd>

        <dt>
            @Html.DisplayName("Proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorNombre)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConectividadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
