﻿@model IEnumerable<intra.Models.Inventario.VistaConectividads>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />





<script type='text/javascript'>
    @*function load_Municipios4()
    {
        alert("estoy en conectividad")
    $("#Muni").empty();
    $.ajax({
        type: 'POST',
        url: '@Url.Action("Municipio","ConectividadInventario")',
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data: '{ Provincia: ' + $("#Provi").val() + ' }',
        success: function (states) {
            $.each(states, function (i, state) {
                $("#Muni").append('<option value="' + state.Value + '">' +
                 state.Text + '</option>');
            });
        },
        error: function (ex) {
            console.log('No pudo cargar los tipos conectividad: ' + ex.responseText);
        }
    });
    return false;



    }*@


  

    //function filterInput1() {
    //    inputVal = document.getElementById("myInput1").value;
    //    var table = $('#tableGrid3');
    //    table.find('tr').each(function(index, row)
    //    {
    //        var allCells = $(row).find('td');
    //        if(allCells.length > 0)
    //        {
    //            var found = false;
    //            allCells.each(function(index, td)
    //            {
    //                var regExp = new RegExp(inputVal, 'i');
    //                if(regExp.test($(td).text()))
    //                {
    //                    found = true;
    //                    return false;
    //                }
    //            });
    //            if(found == true)$(row).show();else $(row).hide();
    //        }
    //    });
        //var input, filter, table, tr, td, i;
        //input = document.getElementById("myInput1");
        //filter = input.value.toUpperCase();
        //table = document.getElementById("tableGrid3");
        //tr = table.getElementsByTagName("tr");
        //for (i = 0; i < tr.length; i++) {
        //    td = tr[i].getElementsByTagName("td")[3];
        //    if (td) {
        //        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        //            tr[i].style.display = "";
        //        } else {
        //            tr[i].style.display = "none";
        //        }
        //    }
        //}
    //}




    //$(document).ready(function () {
    //    $("#Provi").change(function () {

           
    //        return false;
    //    })
    //});
</script>


    <section class="row">
        <div class="col-lg-10">
            <h2>Conectividad</h2>
        </div>
        <div class="col-lg-2 col-no-padding">
       
            <p style="text-align:right;">
                @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
            </p>
        </div>
    </section>
    <div class="row">
         <div class="col-lg-3">
        @Html.Label("Provincia", new { style = "color:#333" })
        </div>
            <div class="col-lg-9">
            @Html.DropDownList("Provi", (SelectList)ViewBag.Provincia,"Seleccione")
            </div>

        <div class="col-lg-3">
        @Html.Label("Municipio", new { style = "color:#333" })
        </div>
            <div class="col-lg-9">
            @Html.DropDownList("Muni", (SelectList)ViewBag.Municipio, "Seleccione")
            </div>
    </div>
@*<input type="text" id="myInput1" onkeyup="filterInput1()" placeholder="" title="Type in a name">*@


    <table id="tableGrid3" class="table table-striped table-hover responsive display  no-wrap" width="100%">
        <thead>
            <tr>
                <th>Contrato</th>
                <th>Servicio</th>
                <th>Tecnico Asignado</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Municipio</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.ConectividadNoContrato, "Edit", new { id = item.ConectividadId }) </td>
                    <td>@Html.DisplayFor(modelItem => item.ConectividadServicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.ConectividadTecnicoAsignado)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocalidadNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Province_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Municipality_Name)</td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ConectividadId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ConectividadId }) 
                    </td>*@
                </tr>
            }

        </tbody>

    </table>

<script>
        $(document).ready(function () {
          var s =  $('#tableGrid3').DataTable({
                "language": {
                    "processing": "...Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron registros disponibles",
                    "emptyTable": "No hay Datos Disponibles en esta Tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "",
                    "search": "Buscar:",
                    "url": "",
                    "infoThousands": ",",
                    "loadingRecords": "...Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                responsive: true



          })
          function load_Municipios4() {
             // alert($("#Provi"))
           
              $("#Muni").empty();
              $.ajax({
                  type: 'POST',
                  url: '@Url.Action("Municipio")',
                  contentType: "application/json; charset=utf-8",
                  dataType: 'json',
                  data: '{ Provincia: ' + $("#Provi").val() + ' }',
                  success: function (states) {
                      $.each(states, function (i, state) {
                          $("#Muni").append('<option value="' + state.Value + '">' +
                           state.Text + '</option>');
                      });
                  },
                  error: function (ex, status, error) {
                      console.log('No pudo cargar los tipos equiposred: ' + ex, status, error);
                  }
              });

              return;
          }
            /* Add event listener to the dropdown input */

            $('select#Provi').on('change', function () {
                var a = $(this).find('option:selected').text();
                var q = $(this).val();
                if (a == 'Seleccione' || a == '-') {
                    a = "";
                }

                load_Municipios4()
                s.columns(4).search(a).draw();
                
            });
            $('select#Muni').on('change', function () {
                var b = $(this).find('option:selected').text()
                s.columns(5).search(b).draw();
            });
        });
</script>