﻿@model intra.Models.BienesIncautados.INV_CASOS

@{
    ViewBag.Title = "Creacion de Casos";
    Layout = "~/Views/intraMaster.cshtml";
}

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script>
    $(document).ready(function () {
        $('#CASO_FECHA').datepicker();
    })
</script>

<h2>CREACION DE CASOS</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre del Caso</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.CASO_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CASO_NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Fecha del Caso</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CASO_FECHA, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @*@Html.ValidationMessageFor(model => model.CASO_FECHA, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">No. Caso Judicial</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CASO_NO, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            <label for="ESTA_ID" class="control-label col-md-2">Estatus</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ESTA_ID, (SelectList)ViewBag.Estatus)
                @Html.ValidationMessageFor(model => model.ESTA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="FISCALIA_ID" class="control-label col-md-2">Fiscalía</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FISCALIA_ID, (SelectList)ViewBag.Fiscalia)
                @Html.ValidationMessageFor(model => model.FISCALIA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="FISCALIA_ID" class="control-label col-md-2">Nota</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CASO_NOTA, new {@class="form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.CASO_NOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la busqueda", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/jquery.filedrop.js"></script>
<script src="~/scripts/create_incautaciones2.js"></script>