﻿@model intra.Models.BienesIncautados.INV_CASOS

@{
    ViewBag.Title = "Editar Caso - Intranet PGR";
    Layout = "~/Views/intraMaster.cshtml";
}
<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<style>
    .boton {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $('#CASO_FECHA').datepicker();
    })
</script>

<h2>Actualizacion de Caso</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CASO_ID)

        <div class="form-group">
            <label class="control-label col-md-2">Nombre del Caso</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CASO_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CASO_NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha del Caso</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CASO_FECHA, new { htmlAttributes = new { @class = "form-control"} })
                @*@Html.ValidationMessageFor(model => model.CASO_FECHA, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">No. Caso Judicial</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CASO_NO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CASO_NO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="ESTA_ID" class="control-label col-md-2">Estatus</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ESTA_ID, (SelectList)ViewBag.Estatus)
                @Html.ValidationMessageFor(model => model.ESTA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="FISCALIA_ID" class="control-label col-md-2">Fiscalía</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FISCALIA_ID, (SelectList)ViewBag.Fiscalia)
                @Html.ValidationMessageFor(model => model.FISCALIA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_NOTA" class="control-label col-md-2">Nota</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CASO_NOTA, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.CASO_NOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Usuario</label>
            <div class="col-md-10" style="padding-top:7px;">
                @*@Html.EditorFor(model => model.USUA_ID)*@
                <input type="text" value="@Model.USUA_ID" name="USUA_ID" id="USUA_ID" readonly="readonly" class="form-control"/>
                @Html.HiddenFor(model=>model.USUA_ID)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Bienes Incautados</label>
            <div class="col-md-10">
                <table id="tableGrid" class="table table-striped table-hover responsive display no-wrap">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>No. BI</th>
                            <th>Entrada</th>
                            <th>Caso</th>
                            <th>Tipo</th>
                            <th>Estatus</th>
                            <th>Dirección</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int x = 0;

                            foreach (var item in Model.CASO_INCAUTACIONES)
                            {
                                <tr>
                                    @{x++;}
                                    <td style="color:#34495e;">@x</td>
                                    <td><a href='@Url.Action("Edit","Incautaciones")/@item.INCA_ID'/>@item.INCA_NO</td>
                                    <td style="color:#34495e;"> @item.INCA_FHENTRADA.ToString("dd/MM/yyyy")</td>
                                    <td style="color:#34495e;"> @Html.DisplayFor(modelItem => item.CASO_NOMBRE) </td>
                                    <td style="color:#34495e;"> @Html.DisplayFor(modelItem => item.TIPO_NOMBRE) </td>
                                    <td style="color:#34495e;"> @Html.DisplayFor(modelItem => item.ESTA_NOMBRE) </td>
                                    <td style="color:#34495e;"> @Html.DisplayFor(modelItem => item.INCA_DIRECCION) </td>
                                    <td style="color:#34495e;"> @Html.DisplayFor(modelItem => item.INCA_VALOR) </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
                {
                <input type="submit" value="Guardar" class="button_white" />
                }
                @Html.ActionLink("Generar Reporte", "ReporteCaso", new { id = Model.CASO_ID }, new { @target = "_blank", @class = "button_white" })
                @Html.ActionLink("Volver a la búsqueda", "Index", null, new { @class = "button_white" })
                @if (User.IsInRole("BIA"))
                {
                <a class="button_white boton eliminar-caso">Eliminar Caso</a>
                }
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/jquery.filedrop.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script>

    var AnimacionCarga = $("#loading-animation-container");

    function load_datatable() {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    }

    $(".eliminar-caso").click(function () {

        swal({
            title: "Esta Seguro de que quiere Eliminar este Caso?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Cambiar',
            cancelButtonText: 'Cancelar'
        }).then(function () {

            var id = @Model.CASO_ID;
            AnimacionCarga.show();

            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/Casos/Delete",
                method: "post",
                data: { id: id },
                success: function (data) {

                    AnimacionCarga.hide();

                    if (data == "Eliminado") {

                        swal({
                            title: data,
                            type: 'success',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Casos/";
                        })

                    } else if (data == "Error") {
                        swal("", "Ha ocurrido un error.", "error");
                    }
                },
                error: function (data) {
                    swal("", "Ha ocurrido un error.", "error");
                }
            });
            AnimacionCarga.hide();
        })
    });
</script>