﻿@model IEnumerable<intra.Models.BienesIncautados.INV_CASOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<section class="row">
    <div class="col-lg-10">
        <h2>Listado de Casos</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
            {
                @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
            }
        </p>
    </div>
</section>

<table id="tableGrid" class="table table-striped table-hover responsive ">
    <thead>
        <tr>
            <th>
                Ref
            </th>
            <th>
                Nombre del Caso
            </th>
            <th>
                No. Caso Judicial
            </th>
            <th>
                Fecha
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.CASO_ID)
                    </td>
                    <td align="left">
                        @Html.ActionLink(item.CASO_NOMBRE, "Edit", new { id = item.CASO_ID })

                    </td>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.CASO_NO)
                    </td>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.CASO_FECHA)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/index_casos.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>