﻿@model intra.Models.INV_CASOS
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>REPORTE DEL CASO</title>

    <style>

        * {
            font-family: 'Roboto', sans-serif;
        }

        .breakhere {
            page-break-after: always;
        }

        .fondo {
            background: url(../Content/images/Infracciones.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .tabla1, .tabla2 {
            border: 1px solid#ddd;
            font-size: 13pt;
        }

            .tabla1 td, .tabla2 td, .tabla2 th {
                border-right: 1px solid#ddd;
                border-bottom: 1px solid#ddd;
                padding: 15px 10px;
            }

        .columna-derecha {
            border: none;
            padding-left: 10px;
        }

        .colunma-izquierda {
            font-weight: bold;
            font-size: 13pt;
        }

        h2 {
            text-align: center;
            color: #0c4ba4;
            line-height: 1.8em;
        }

        .tabla2 td {
            padding: 15px 10px;
        }

        .espaciado {
            padding: 8% 23% 12% 5.5%;
            overflow: auto;
            width: 89%;
            border: transparent;
            /* margin-left: -5%; */
            /* padding-top: 12%; */
            /* padding-bottom: 20%; */
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* text-overflow: ellipsis; */
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 18px !important;
            z-index: -10000;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 20%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }

        /*FOOTER*/
        .caja-bolita {
            text-align: center;
            width: 87.2%;
            height: 25px; 
            position: absolute;
            padding-top: 14%;
        }
        .bolita {
            color: #fff;
            font-weigth: bold;
            font-size: 15pt;
            bottom: 0;
            background: #0c4ba4;
            border-radius: 50%;
            padding: 1% 1.8%;
            z-index: 10000;
        }
    </style>
</head>

<body>
    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />
        <div class="espaciado">
            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td> <h2>FICHA DEL CASO</h2></td>
                </tr>
                <tr>
                    <td style="margin-bottom: 10%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tabla1">
                            <tr>
                                <td class="colunma-izquierda">
                                    Caso
                                </td>
                                <td class="columna-derecha">
                                    @Model.CASO_NOMBRE
                                </td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Fecha del Caso</td>
                                <td class="columna-derecha">@Model.CASO_FECHA</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">No. Caso Judicial</td>
                                <td class="columna-derecha">@Model.CASO_NO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Estatus </td>
                                <td class="columna-derecha">@ViewBag.Estatus</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Fiscalía </td>
                                <td class="columna-derecha">@ViewBag.Fiscalia</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Creador por </td>
                                <td class="columna-derecha">@Model.USUA_ID</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda" style="border-bottom: none;">Impreso por </td>
                                <td class="columna-derecha" style="border-bottom: none;">@ViewBag.UsuarioImpresor</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="margin-bottom: 5%;"><h2>NOTA</h2></td>
                </tr>
                <tr style="font-size: 12pt; margin-bottom: 10%;">
                    <td style="height: 65px;">
                        @Model.CASO_NOTA
                    </td>
                </tr>

                @if ((Model.CASO_INCAUTACIONES.Count < 6 && Model.CASO_INCAUTACIONES.Count != 0) && Model.CASO_NOTA.Length <= 800)
                {
                    <tr>
                        <td>
                            <table class="bienes-incautados">
                                <tbody>
                                    <tr>
                                        <td><h2>Bienes Incautados</h2></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="tabla2">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>No. BI</th>
                                                        <th>Entrada</th>
                                                        <th>Caso</th>
                                                        <th>Tipo</th>
                                                        <th>Estatus</th>
                                                        <th>Dirección</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.CASO_INCAUTACIONES != null)
                                                    {
                                                        int x = 0;

                                                        foreach (var item in Model.CASO_INCAUTACIONES)
                                                        {
                                                            <tr>
                                                                @{x++;}
                                                                <td>@x</td>
                                                                <td> @Html.DisplayFor(modelItem => item.INCA_NO)</td>
                                                                <td> @item.INCA_FHENTRADA.ToString("dd/MM/yyyy")</td>
                                                                <td> @Html.DisplayFor(modelItem => item.CASO_NOMBRE) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.TIPO_NOMBRE) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.ESTA_NOMBRE) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.INCA_DIRECCION) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.INCA_VALOR) </td>
                                                            </tr>
                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                }
                else if (Model.CASO_INCAUTACIONES.Count == 0)
                {
                    <tr>
                        <td>
                            <h1 style="text-align: center; margin-top: 10%;">No hay Bienes asociados con este caso</h1>
                        </td>
                    </tr>
                }

                @*<tr>
                        <td class="caja-bolita"><span class="bolita">1</span></td>
                    </tr>*@

            </table>
        </div>

    </div>

    @if (Model.CASO_INCAUTACIONES != null)
        {
            bool terminar_paginacion = false;
            int filas_contador = 0;
            int filas_restantes = 0;

            if (Model.CASO_INCAUTACIONES.Count > 11)
            {
                filas_restantes = filas_contador + 11;
            }
            else
            {
                filas_restantes = Model.CASO_INCAUTACIONES.Count;
            }

            int pie_pagina = 2;
            int x = 0;

            do
            {
                var lista = Model.CASO_INCAUTACIONES;
                <p class="breakhere"></p>
                <div class="container">
                    <img class="logoooo" src="~/Content/images/Infracciones.png" />
                    <div class="espaciado">
                        <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <table class="bienes-incautados">
                                        <tbody>
                                            <tr>
                                                <td><h2>Bienes Incautados</h2></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="tabla2">
                                                        <thead>
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>No. BI</th>
                                                                <th>Entrada</th>
                                                                <th>Caso</th>
                                                                <th>Tipo</th>
                                                                <th>Estatus</th>
                                                                <th>Dirección</th>
                                                                <th>Valor</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.CASO_INCAUTACIONES != null)
                                                            {
                                                                for (int ix = filas_contador; ix < filas_restantes; ix++)
                                                                {
                                                                    <tr>
                                                                        @{x++;}
                                                                        <td>@x</td>
                                                                        <td> @(lista[ix].INCA_NO)</td>
                                                                        <td> @(lista[ix].INCA_FHENTRADA.ToString("dd/MM/yyyy"))</td>
                                                                        <td> @(lista[ix].CASO_NOMBRE) </td>
                                                                        <td> @(lista[ix].TIPO_NOMBRE) </td>
                                                                        <td> @(lista[ix].ESTA_NOMBRE) </td>
                                                                        <td> @(lista[ix].INCA_DIRECCION)</td>
                                                                        <td> @(lista[ix].INCA_VALOR) </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @if (filas_restantes == lista.Count)
                    {
                        terminar_paginacion = true;
                    }

                    @if (filas_restantes < lista.Count)
                    {
                        if (lista.Count - (filas_restantes) >= 11)
                        {
                            filas_contador = filas_restantes;
                            filas_restantes = filas_contador + 11;
                        }
                        else if (lista.Count - (filas_restantes) < 11)
                        {
                            filas_contador = filas_restantes;
                            filas_restantes = lista.Count;
                        }
                    }

                </div>
                pie_pagina++;
            } while (!terminar_paginacion);
        }


    <!--Following pages-->
    @*@if (Model.CASO_INCAUTACIONES.Count > 6)
        {
            bool terminar_paginacion = false;
            int filas_contador = 0;
            int filas_restantes = 0;

            if (Model.CASO_INCAUTACIONES.Count > 11)
            {
                filas_restantes = filas_contador + 11;
            }
            else
            {
                filas_restantes = Model.CASO_INCAUTACIONES.Count;
            }

            int pie_pagina = 2;
            int x = 0;

            do
            {
                var lista = Model.CASO_INCAUTACIONES;
                <p class="breakhere"></p>
                <div class="container">
                    <img class="logoooo" src="~/Content/images/Infracciones.png" />
                    <div class="espaciado">
                        <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <table class="bienes-incautados">
                                        <tbody>
                                            <tr>
                                                <td><h2>Bienes Incautados</h2></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="tabla2">
                                                        <thead>
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>No. BI</th>
                                                                <th>Entrada</th>
                                                                <th>Caso</th>
                                                                <th>Tipo</th>
                                                                <th>Estatus</th>
                                                                <th>Dirección</th>
                                                                <th>Valor</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.CASO_INCAUTACIONES != null)
                                                            {
                                                                for (int ix = filas_contador; ix < filas_restantes; ix++)
                                                                {
                                                                    <tr>
                                                                        @{x++;}
                                                                        <td>@x</td>
                                                                        <td> @(lista[ix].INCA_NO)</td>
                                                                        <td> @(lista[ix].INCA_FHENTRADA.ToString("dd/MM/yyyy"))</td>
                                                                        <td> @(lista[ix].CASO_NOMBRE) </td>
                                                                        <td> @(lista[ix].TIPO_NOMBRE) </td>
                                                                        <td> @(lista[ix].ESTA_NOMBRE) </td>
                                                                        <td> @(lista[ix].INCA_DIRECCION)</td>
                                                                        <td> @(lista[ix].INCA_VALOR) </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @if (filas_restantes == lista.Count)
                    {
                        terminar_paginacion = true;
                    }

                    @if (filas_restantes < lista.Count)
                    {
                        if (lista.Count - (filas_restantes) >= 11)
                        {
                            filas_contador = filas_restantes;
                            filas_restantes = filas_contador + 11;
                        }
                        else if (lista.Count - (filas_restantes) < 11)
                        {
                            filas_contador = filas_restantes;
                            filas_restantes = lista.Count;
                        }
                    }

                </div>
                pie_pagina++;
            } while (!terminar_paginacion);
        }*@

</body>
</html>