﻿@model intra.Models.BienesIncautados.INV_CASOS

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>REPORTE DEL CASO</title>
    <style>

        * {
            font-family: 'Roboto', sans-serif;
        }

        .breakhere {
            page-break-after: always;
        }

        .fondo {
            background: url(../Content/images/Infracciones.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .tabla1, .tabla2 {
            border: 1px solid#ddd;
            font-size: 13pt;
        }

            .tabla1 td, .tabla2 td, .tabla2 th {
                border-right: 1px solid#ddd;
                border-bottom: 1px solid#ddd;
                padding: 15px 10px;
            }

        .columna-derecha {
            border: none;
            padding-left: 10px;
        }

        .colunma-izquierda {
            font-weight: bold;
            font-size: 13pt;
        }

        h2 {
            text-align: center;
            color: #0c4ba4;
            line-height: 1.8em;
        }

        .tabla2 td {
            padding: 15px 10px;
        }

        .espaciado {
            padding: 8% 23% 0 5.5%;
            width: 89%;
            border: transparent;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 1240px !important;
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 18px !important;
            z-index: -10000;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 20%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }

        /*FOOTER*/

        .bolita {
            color: #fff !important;
            font-weigth: bold;
            font-size: 15pt;
            bottom: 0;
            background: #0c4ba4;
            border-radius: 50%;
            z-index: 10000;
        }

        .footerpage {
            text-align: center;
            /*margin-top: 600px !important;*/
            color: #064b8e;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 30px;
            background-color: #fff;
            width: 45px;
            height: 44px;
            margin: auto;
            font-weight: 600;
            background: #0c4ba4;
            border-radius: 50%;
            /*padding: 0.1% 2%;*/
        }

            .footerpage p {
                color: #fff;
                font-weigth: bold;
                font-size: 14pt;
                line-height: 2.3;
            }
    </style>
</head>

<body>
    <div class="container">
        <img class="logoooo" src="~/Content/images/bienes-incautados-min.png" />
        <div class="espaciado">
            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0" class="reporte_2">
                <tr>
                    <td> <h2>FICHA DEL CASO</h2></td>
                </tr>
                <tr>
                    <td style="margin-bottom: 10%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tabla1">
                            <tr>
                                <td class="colunma-izquierda">
                                    Caso
                                </td>
                                <td class="columna-derecha">
                                    @Model.CASO_NOMBRE
                                </td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Fecha del Caso</td>
                                <td class="columna-derecha">@Model.CASO_FECHA</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">No. Caso Judicial</td>
                                <td class="columna-derecha">@Model.CASO_NO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Estatus </td>
                                <td class="columna-derecha">@ViewBag.Estatus</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Fiscalía </td>
                                <td class="columna-derecha">@ViewBag.Fiscalia</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Creador por </td>
                                <td class="columna-derecha">@Model.USUA_ID</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda" style="border-bottom: none;">Impreso por </td>
                                <td class="columna-derecha" style="border-bottom: none;">@ViewBag.UsuarioImpresor</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="margin-bottom: 5%;"><h2>NOTA</h2></td>
                </tr>
                <tr style="font-size: 12pt; margin-bottom: 10%;">
                    <td style="height: 65px;">
                        @Model.CASO_NOTA
                    </td>
                </tr>

                @if (Model.CASO_INCAUTACIONES.Count == 0)
                {
                    <tr>
                        <td>
                            <h1 style="text-align: center; margin-top: 10%;">No hay bienes asociados con este caso</h1>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
    <footer class="footerpage">
        <p class="bolita">1</p>
    </footer>

    @if (Model.CASO_INCAUTACIONES != null)
    {
        int inca = 0;
        int pie_pagina = 2;
        foreach (var item in Model.CASO_INCAUTACIONES)
        {

            <p class="breakhere"></p>

            <div class="container">
                <img class="logoooo" src="~/Content/images/bienes-incautados-min.png" />
                <div class="espaciado">
                    <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0" class="reporte_2">
                        <tr>
                            @{inca++;}
                            <td> <h2>Ficha de Incautación #@inca</h2></td>
                        </tr>
                        <tr>
                            <td style="margin-bottom: 10%;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tabla1">
                                    <tr>
                                        <td class="colunma-izquierda">Código del bien</td>
                                        <td class="columna-derecha">@item.INCA_NO</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Fecha Entrada</td>
                                        <td class="columna-derecha">@item.INCA_FHENTRADA</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Tipo</td>
                                        <td class="columna-derecha">@item.TIPO_NOMBRE</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Lugar de incautación</td>
                                        <td class="columna-derecha">@item.ProvinciaOrigen</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Localización actual</td>
                                        <td class="columna-derecha">@item.ProvinciaDestino</td>
                                    </tr>

                                    @if (item.CLAS_ID == 2)
                                    {
                                        <tr>
                                            <td class="colunma-izquierda">Matrícula</td>
                                            <td class="columna-derecha">@item.INCA_MATRICULA</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="colunma-izquierda">Dirección</td>
                                            <td class="columna-derecha">@item.INCA_DIRECCION</td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="colunma-izquierda">Estatus </td>
                                        <td class="columna-derecha">@item.ESTA_NOMBRE</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Custodio</td>
                                        <td class="columna-derecha">@item.CUST_NOMBRE</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Valor / Tasación</td>
                                        <td class="columna-derecha">@item.INCA_VALOR</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Valor Acuerdo</td>
                                        <td class="columna-derecha">@item.INCA_ACUERDO</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Creador por</td>
                                        <td class="columna-derecha">@item.USUA_ID</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Creacion Reg.</td>
                                        <td class="columna-derecha">@item.INCA_FHCREACION</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Nota</td>
                                        <td class="columna-derecha">@item.INCA_NOTA</td>
                                    </tr>
                                    <tr>
                                        <td class="colunma-izquierda">Descripción</td>
                                        <td class="columna-derecha">@item.INCA_DESCRIPCION</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <footer class="footerpage">
                    <p class="bolita">@pie_pagina</p>
                </footer>
            </div>

            pie_pagina++;
        }
    }
</body>
</html>