﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
 <head>
     <title>REPORTE DE CASO</title>

     <style>
         /*#reporte{
             background: url(../Content/images/Infracciones.png);
             background-repeat: no-repeat;
             background-size: contain;
             background-position: center;
         }*/

         *{
             font-family: 'Roboto', sans-serif;
         }

         .fondo{
             background: url(../Content/images/Infracciones.png);
             background-repeat: no-repeat;
             background-size: contain;
             background-position: center;
         }

         .tabla1, .tabla2{
             border: 1px solid#ddd;
             font-size: 13pt;
         }

         .tabla1 td, .tabla2 td, .tabla2 th{
             border-right: 1px solid#ddd;
             border-bottom: 1px solid#ddd;
             padding: 15px 10px;
         }

         .columna-derecha{
             border: none;
             padding-left: 10px;
         }

         .colunma-izquierda{
             font-weight: bold;
             font-size: 13pt;
         }

         h2{
             text-align:center;
             color: #0c4ba4;
             line-height: 1.8em;
         }

         .tabla2 td{
             padding: 15px 10px;
         }

         .espaciado{
             padding: 8% 23% 12% 5.5%;
             overflow: auto;
             width: 89%;
            border: transparent;
            /* margin-left: -5%; */
            /* padding-top: 12%; */
            /* padding-bottom: 20%; */
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* text-overflow: ellipsis; */
         }

          .logoooo {
        width: 97% !important;
        height: auto !important;
        background-position: left top;
        background-repeat: no-repeat;
        position: absolute;
        text-align: center;
        margin-left: 18px !important;
    }

    .contenedor{
        width:96%;
        margin: 0 auto;
        position: relative;
        top: 150px !important;
        font-family: 'Gill Sans MT Italic', sans-serif;
        padding: 0 40px 0 40px;
    }

    .contenedor .cabecera{
        text-align:center;
        margin-top:20%;
    }

    .contenedor .cabecera h1{
        font-size: 25px;
        font-family: 'Gill Sans MT Italic', sans-serif;
        font-weight:bold;
        margin-left:12%;
        color:#0c4ba4;
    }

    .contenedor .cuerpo{
        margin-top:10%;
    }

    .contenedor .cuerpo h2{
        font-size: 20px;
        margin-top: 50px;
        padding:0;
        font-family: 'Gill Sans MT Italic', sans-serif;
        font-weight:bold;
    }

    .contenedor .cuerpo .table th, .wi-20{
        width:20%;
    }

    .container .cuerpo .table{
        font-size:14px;
    }

    .container .cuerpo .table th{
        font-weight:bold;
    }

     input{
        text-align:center;
    }

     </style>
 </head>

 <body>
     <div class="container">
         <img class="logoooo" src="~/Content/images/MARCO BIENES INCAUTADOS.jpg" />
         <div class="espaciado">
             <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                 <tr>
                     <td> <h2>FICHA DEL CASO</h2></td>
                 </tr>
                 <tr>
                     <td style="margin-bottom: 10%;">
                         <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tabla1">
                             <tr>
                                 <td class="colunma-izquierda">
                                     Caso
                                 </td>
                                 <td class="columna-derecha">
                                     Caso Enmanuel Kingsley
                                 </td>
                             </tr>
                             <tr>
                                 <td class="colunma-izquierda">Fecha del Caso</td>
                                 <td class="columna-derecha">09/02/2014 0:00:00</td>
                             </tr>
                             <tr>
                                 <td class="colunma-izquierda">No. Caso Judicial</td>
                                 <td class="columna-derecha">0001-ABRIL-2014</td>
                             </tr>
                             <tr>
                                 <td class="colunma-izquierda">Estatus </td>
                                 <td class="columna-derecha">Abierto</td>
                             </tr>
                             <tr>
                                 <td class="colunma-izquierda">Fiscalía </td>
                                 <td class="columna-derecha">ESTEBANÍA</td>
                             </tr>
                             <tr>
                                 <td class="colunma-izquierda">Creador por </td>
                                 <td class="columna-derecha">nabila.duque</td>
                             </tr>
                             <tr>
                                 <td class="colunma-izquierda" style="border-bottom: none;">Impreso por </td>
                                 <td class="columna-derecha" style="border-bottom: none;">glosario.arias</td>
                             </tr>

                         </table>
                     </td>
                 </tr>
                 <tr>
                     <td style="margin-bottom: 5%;"><h2>NOTA</h2></td>
                 </tr>
                 <tr style="font-size: 12pt; margin-bottom: 10%;">
                     <td style="height: 65px;">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is. has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is. has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is. has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is. has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is. has been the industry's ever since the 1500s, Lorem.. the 1500s, Lorem Ipsum is. has been the industry's ever since the 1500s, Lorem..
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <table class="bienes-incautados">
                             <tbody>
                                 <tr>
                                     <td><h2>Bienes Incautados</h2></td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <table width="100%" cellpadding="0" cellspacing="0" border="0" class="tabla2">
                                             <thead>
                                                 <tr>
                                                     <th>No.</th>
                                                     <th>No. BI</th>
                                                     <th>Entrada</th>
                                                     <th>Caso</th>
                                                     <th>Tipo</th>
                                                     <th>Estatus</th>
                                                     <th>Dirección</th>
                                                     <th>Valor</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 <tr>
                                                     <td>1</td>
                                                     <td>C201709125024256</td>
                                                     <td>12/09/2017</td>
                                                     <td>Caso Enmanuel Kingsley</td>
                                                     <td>EDIFICIO</td>
                                                     <td>Custodia - Designado</td>
                                                     <td>Sambil, Avenida John F. Kennedy, Santo Domingo, Dominican Republic</td>
                                                     <td>500,000.00</td>
                                                 </tr>
                                                 <tr>
                                                     <td>1</td>
                                                     <td>C201709125024256</td>
                                                     <td>12/09/2017</td>
                                                     <td>Caso Enmanuel Kingsley</td>
                                                     <td>EDIFICIO</td>
                                                     <td>Custodia - Designado</td>
                                                     <td>Sambil, Avenida John F. Kennedy, Santo Domingo, Dominican Republic</td>
                                                     <td>500,000.00</td>
                                                 </tr>
                                                 <tr>
                                                     <td>1</td>
                                                     <td>C201709125024256</td>
                                                     <td>12/09/2017</td>
                                                     <td>Caso Enmanuel Kingsley</td>
                                                     <td>EDIFICIO</td>
                                                     <td>Custodia - Designado</td>
                                                     <td>Sambil, Avenida John F. Kennedy, Santo Domingo, Dominican Republic</td>
                                                     <td>500,000.00</td>
                                                 </tr>
                                                 <tr>
                                                     <td>1</td>
                                                     <td>C201709125024256</td>
                                                     <td>12/09/2017</td>
                                                     <td>Caso Enmanuel Kingsley</td>
                                                     <td>EDIFICIO</td>
                                                     <td>Custodia - Designado</td>
                                                     <td>Sambil, Avenida John F. Kennedy, Santo Domingo, Dominican Republic</td>
                                                     <td>500,000.00</td>
                                                 </tr>
                                                 <tr>
                                                     <td>1</td>
                                                     <td>C201709125024256</td>
                                                     <td>12/09/2017</td>
                                                     <td>Caso Enmanuel Kingsley</td>
                                                     <td>EDIFICIO</td>
                                                     <td>Custodia - Designado</td>
                                                     <td>Sambil, Avenida John F. Kennedy, Santo Domingo, Dominican Republic</td>
                                                     <td>500,000.00</td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                     </td>
                 </tr>
             </table>
         </div>

     </div>
 </body>
</html>

