﻿

@*@model intra.Models.Eventos*@

@using (Html.BeginForm("CoberturaPrensa", "Eventos", FormMethod.Post, new {@id="FormularioCobertura"}))
{
    @Html.AntiForgeryToken()

    <style type="text/css">

        .tipoeventoselect {
            width: 100% !important;
            float: left;
        }
        input[type=text]{
            margin-bottom: 5px;
        }

        input[type=date] {
            margin-bottom: 5px;
        }

        .input-group  {
            margin-bottom: 5px;
        }

        .termino-condiciones {
            text-align: left !important;
            background-color:#e8e8e8;
            padding: 15px;
        }

        .btn-primary {
            margin-top: 5px;
            
        }
       textarea {
        width: 100%;
        resize:none;
        height: 150px;
       }

       /*.detalles-observaciones{
           margin-top: 20px !important;
       }*/

       .bigtextarea {
          margin-bottom: 22px !important;
          margin-top: -10px !important;
}
       .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
     text-align: left; 
}


         
    </style>

    <div class="form-horizontal">
        <h4>Cobertura de prensa</h4>
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- FECHA INICIAL / CAMPO OBLIGATORIO -->
            <div class="row">
                <input type="hidden" value="0" class="SubActividadIdHidden" name="SubActividadId">
                <input type="hidden" value="0" class="DepartamentoIdHidden" name="DepartamentoId" />
                <input type="hidden" value="0" class="ActividadesIdHidden" name="ActividadesId" />
                <input type="hidden" value="0" class="DescripcionHidden" name="Descripcion" />

                @Html.Label("EventoFhInicio", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-lg-3">
                    <div class='input-group date' id="datepicker1">
                        @Html.Editor("EventoFhInicio", new { htmlAttributes = new { @class = "form-control ", @readonly = "true", @id = "Cob_EventoFhInicio1" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <!-- HORA INICIAL/ CAMPO OBLIGATORIO -->

                @Html.Label("EventoHoraInicio", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-lg-3">
                    <div class="input-group date">
                        @Html.Editor("EventoHoraInicio", new { htmlAttributes = new { @class = "form-control timepicker", @id = "Cob_horario1" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- FECHA FINAL/ CAMPO OBLIGATORIO -->
            <div class="row">
                @Html.Label("EventoFhFinal", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-lg-3">
                    <div class='input-group date'>
                        @Html.Editor("EventoFhFinal", new { htmlAttributes = new { @class = "form-control", @readonly = "true",@id = "Cob_EventoFhFinal2" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <!-- HORA FINAL/ CAMPO OBLIGATORIO -->
                @Html.Label("EventoHoraFinal", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-lg-3">
                    <div class="input-group date" id="horario2">
                        @Html.Editor("EventoHoraFinal", new { htmlAttributes = new { @class = "form-control timepicker", @id = "Cob_horario2" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- CANTIDAD DE PERSONAS PERMITIDAS EN EL AUDITORIO, SALON DE PRENSA,AREA DE RESTAURANT/ CAMPO OBLIGATORIO-->
            <div class="row">
                @Html.Label("EventoCantidadPersonas", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.Editor("EventoCantidadPersonas", new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <!-- TIPOS DE EVENTOS QUE SE PUEDEN REALIZAR EN EL AUDITORIO,SALON DE PRENSA,AREA DE RESTAURANT/ CAMPO OBLIGATORIO-->
                <!-- ESTE DROPDOWN CAMBIARÁ EN BASE AL ESPACIO SOLICITADO(AUDITORIO,SALON DE PRENSA,AREA DE RESTAURANT)-->

                @Html.Label("TipoEventoId", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    <select id="TipoEvento" name="TipoEventoId" style="width:100%;" class="tipoeventoselect">
                        <option value="0">Seleccione</option>
                        @foreach (var item in ViewBag.TipoEvento)
                {
                            <option value="@item.TipoEventoId" class="clase_@item.SubActividadId">@item.TipoEventoDescripcion</option>
                        }
                    </select>
                </div>
            </div>

            <!-- NOMBRE DE LA ACTIVIDAD/ CAMPO OBLIGATORIO-->
            <div class="row">

                @Html.Label("EventoNombreActividad", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.Editor("EventoNombreActividad", new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <!--RESPONSABLE DE DIRIGIR LA ACTIVIDAD EN EL AUDITORIO,SALON DE PRENSA,AREA DE RESTAURANT/ CAMPO OBLIGATORIO-->
                @Html.Label("EventoResponsable", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.Editor("EventoResponsable", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <!--Telefono O IP DEL RESPONSABLE / CAMPO OBLIGATORIO-->
            <div class="row">
                @Html.Label("EventoTelefonoIP", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.Editor("EventoTelefonoIP", new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <!--CORREO DEL RESPONSABLE-->
                @Html.Label("EventoEmail", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @Html.Editor("EventoEmail", new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

                <!-- ESTOS CHECKBOX CAMBIARÁN EN BASE AL TIPO DE COBERTURA QUE INCLUYA EL ESPACIO SOLICITADO(AUDITORIO,SALON DE PRENSA,AREA DE RESTAURANT)-->
                @*<div class="form-control">*@
        <div class="row" style="margin: 10px -14px;">
            @Html.Label("TipoCoberturaId", htmlAttributes: new { @class = "control-label col-md-3" })

            <div class=" col-md-6">

                @foreach (var cobertura in ViewBag.tipoCoberturas)
                {

                    <div class="CheckCob claseCob_@cobertura.SubActividadId">
                        <input type="checkbox" name="TipoCoberturaId" value="@cobertura.TipoCoberturaId" />@cobertura.TipoCoberturaDescripcion
                    </div>

                }

            </div>
            
        </div>



                
        <!--DETALLES U OBSERVACIONES DE LA ACTIVIDAD-->
        <div class="row ">

            <div class="col-lg-3">
                @Html.Label("EventoDetalles", htmlAttributes: new { @class = "control-label  detalles-observaciones" })
            </div>
                
            <div class="col-lg-offset-3 col-lg-9 bigtextarea">
                @Html.TextArea(".EventoDetalles", new { htmlAttributes = new { @class = "form-control text-box multi-line", @rows = "20" } })

            </div>
        </div>
                
                <!-- Terms and conditions -->
                <div class="row">
                    <div class="col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="confirmar" value="agree" id="tc2">Acepta los términos y condiciones
                                @*@Html.CheckBox("confirmar", false, new {@class="agree"})Acepta los términos y condiciones*@
                            </label>
                        </div>
                    </div>
                </div>

               
        <div class="row">
            <div class="col-lg-12">
                <div class="termino-condiciones">
                    <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                        <div id="terminosCondiciones2">

                            @Html.Partial("~/Views/Eventos/TerminosCondiciones.cshtml", new intra.Models.Eventos())


                        </div>

                    </div>
                </div>
            </div>

                
            </div>

            <div class="row">
                <div class="col-lg-offset-10 col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block" name="solicitud">Solicitar</button>
                    </div>
                </div>



        </div>
      

}
<script type="text/javascript">
    $(document).ready(function () {

        $('#FormularioCobertura').validate({
            rules: {
                EventoFhInicio: {
                    required: true
                },
                EventoHoraInicio: {
                    required: true
                }
                ,
                EventoFhFinal: {
                    required: true
                },
                EventoHoraFinal: {
               required: true
                },
                EventoCantidadPersonas: {
                    required: true
                },
                EventoNombreActividad: {
                    required: true
                }
                ,
                EventoResponsable: {
                    required: true
                },
                EventoTelefonoIP: {
                    required: true
                },
                EventoEmail: {
                    required: true
                },
                EventoDetalles: {
                    required: true
                }
            },
            messages: {
                EventoFhInicio: {
                    required: "El campo Fecha de inicio es obligatorio"
                },
                EventoHoraInicio: {
                    required: "El campo Fecha de inicio es obligatorio"

                },
                EventoFhFinal: {
                required: "El campo Fecha de inicio es obligatorio"

                },

                EventoHoraFinal: {
                    required: "El campo Fecha de inicio es obligatorio"
                },
                EventoCantidadPersonas: {
                 required: "El campo Fecha de inicio es obligatorio"
                },
                EventoNombreActividad: {
                 required: "El campo Fecha de inicio es obligatorio"

                },
             EventoResponsable: {
             required: "El campo Fecha de inicio es obligatorio"

             },
             EventoTelefonoIP: {
            required: "El campo Fecha de inicio es obligatorio"

                 },
             EventoEmail: {
                 required: "El campo Fecha de inicio es obligatorio"

             },
             EventoDetalles: {
            required: "El campo Fecha de inicio es obligatorio"

                 }

            },
            submitHandler: function (form) {
                $(".SubActividadIdHidden").val($("#SubActividadesId").val());
                $(".DepartamentoIdHidden").val($("#DepartamentoId").val());
                $(".ActividadesIdHidden").val($("#ActividadesId").val());
                $(".DescripcionHidden").val($("#Descripcion").val());
                form.submit();
            }
        });
    })

</script>