﻿@model intra.Models.Eventos


<ul>
        <li>Todos los eventos deben ser solicitados con una semana de anterioridad.</li>
        <li>La Dirección de Comunicaciones contactará vía telefónica al solicitante a través del número proporcionado.</li>
        <li>Todas las solicitudes deben ser impresas y firmadas por el superior inmediato del área que solicita, ésta debe ser enviada a la Dirección de Comunicaciones y Prensa tan pronto sean validadas la fecha y la hora.</li>
        <li>Es de carácter obligatorio enviar en un rango de 3 días luego de generada la solicitud, todos los insumos del evento (Programa, Mesa Principal, Invitados, etc.).</li>

</ul>





