﻿@model IEnumerable<intra.Models.GestionHumana.DiasFeriados>
@using System.Globalization;
@{
    ViewBag.Title = "Calendario de días feriados";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/FullCalendar.css" rel="stylesheet" />

<style>

    #wrap {
        width: 1100px;
        margin: 0 auto;
    }

    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        text-align: left;
    }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

    .external-event { /* try to mimick the look of a real event */
        margin: 10px 0;
        padding: 2px 4px;
        background: #3366CC;
        color: #fff;
        font-size: .85em;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }

    #calendar {
        /* 		float: right; */
        margin: 0 auto;
        width: 900px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
        -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
        box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    }

    .h2_title_page {
        margin: 0px;
    }

    .fc-other-month {
        background: #ded1d1 !important;
    }

    .alinear {
        margin-bottom: 25px;
    }

</style>

@if (User.IsInRole("RRHHA"))
{
    <div class="row alinear">
        <div class="col-lg-8">
            @*<h2>álbumes Fotograficos</h2>*@
        </div>

        <div class="col-lg-4">
            @Html.ActionLink("Administrar días feriados", "Index", null, new { @class = "button_white " })
        </div>
    </div>
}

<div id='wrap'>
    <div id='calendar'></div>
    <div style='clear:both'></div>
</div>

<script src="~/scripts/FullCalender.js"></script>

<script>

	$(document).ready(function() {
	    var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		/*  className colors

		className: default(transparent), important(red), chill(pink), success(green), info(blue)

		*/


		/* initialize the external events
		-----------------------------------------------------------------*/

		//var eventos = [
		//		{
		//		    title: 'All Day Event',
		//		    start: new Date(y, m, 1)
		//		},
		//		{
		//		    id: 999,
		//		    title: 'Repeating Event',
		//		    start: new Date(y, m, d - 3, 16, 0),
		//		    allDay: false,
		//		    className: 'info'
		//		},
		//		{
		//		    id: 999,
		//		    title: 'Repeating Event',
		//		    start: new Date(y, m, d + 4, 16, 0),
		//		    allDay: false,
		//		    className: 'info'
		//		},
		//		{
		//		    title: 'Meeting',
		//		    start: new Date(y, m, d, 10, 30),
		//		    allDay: false,
		//		    className: 'important'
		//		},
		//		{
		//		    title: 'Lunch',
		//		    start: new Date(y, m, d, 12, 0),
		//		    end: new Date(y, m, d, 14, 0),
		//		    allDay: false,
		//		    className: 'important'
		//		},
		//		{
		//		    title: 'Birthday Party',
		//		    start: new Date(y, m, d + 1, 19, 0),
		//		    end: new Date(y, m, d + 1, 22, 30),
		//		    allDay: false,
		//		},
		//		{
		//		    title: 'Click for Google',
		//		    start: new Date(y, m, 28),
		//		    end: new Date(y, m, 29),
		//		    url: 'https://ccp.cloudaccess.net/aff.php?aff=5188',
		//		    className: 'success'
		//		}
		//];

		var eventos = [];

        @if (Model != null) {

            foreach (var item in Model)
		    {
                var fecha = item.DiasFeriadosFecha;
		        // An array of dates
		        <text>
                @*eventDates[new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')] =
                new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")');
	            feriados[new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')] = "";*@

	            eventos.push({
	                title: '@item.DiasFeriadosDescripcion',
	                start: new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')
	            });

		        </text>
		    }
        }

		console.log(eventos);

		/* initialize the calendar
		-----------------------------------------------------------------*/

		var calendar =  $('#calendar').fullCalendar({
			header: {
				left: 'title',
				//center: 'agendaDay,agendaWeek,month',
				right: 'prev,next today'
			},
			editable: true,
			firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
			selectable: true,
			defaultView: 'month',
			aspectRatio: 1.7,
			axisFormat: 'h:mm',
			columnFormat: {
			    month: 'dddd',    // Mon
                week: 'dddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
            },
			allDaySlot: false,
			selectHelper: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date, allDay) { // this function is called when something is dropped

				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');

				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);

				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;

				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}

			},

			events: eventos,
		});

		calendar.setHeight(900);

	});

</script>

@*<script>
            $(function () {
                var eventDates = {};
                var feriados = {};
                @foreach (var item in DiasFeriados)
                  {
                      // An array of dates
                 <text>
                eventDates[new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')] =
                 new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")');
                feriados[new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')] = "@item.DiasFeriadosDescripcion";
                </text>
                  }
                //console.log(eventDates);
                //console.log(feriados);
                // datepicker
                $('#datepicker').datepicker({
                    beforeShowDay: function (date) {
                        var highlight = eventDates[date];
                        var diaFeriado = feriados[date];

                        if (highlight) {
                            return [true, "event", diaFeriado];
                        } else {
                            return [true, '', ''];
                        }
                    }
                });
            });
    </script>*@
