﻿@model intra.Models.GestionHumana.DiasFeriados

@{
    Layout = "~/Views/intraMaster.cshtml";
    ViewBag.Title = "Edit";
} 

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<style>
    #DiasFeriadosDescripcion {
        width: 100%;
    }
</style>
<h2>Editar día feriado</h2>

@using (Html.BeginForm("Edit", "DiasFeriados", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DiasFeriadosId)
        @Html.HiddenFor(model => model.qken)

        <div class="form-group">
            <label for="DiasFeriadosFecha" class="control-label col-md-2">Fecha</label>
            <div class="col-md-10">
                <input type="datetime" id="DiasFeriadosFecha" name="DiasFeriadosFecha" autocomplete="off" class="form-control" value="@Model.DiasFeriadosFecha.ToString("dd/MM/yyyy")" />
                @Html.ValidationMessageFor(model => model.DiasFeriadosFecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="DiasFeriadosDescripcion" class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DiasFeriadosDescripcion, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.DiasFeriadosDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $('#DiasFeriadosFecha').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>