﻿
@using System.Globalization;
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="~/JS/datepicker-es.js"></script>
@{
    intra.Models.GestionHumana.DFMPModel db = new intra.Models.GestionHumana.DFMPModel();
    ViewBag.Title = "DiasFeriados";
    Layout = "~/Views/intraMaster.cshtml";
    var DiasFeriados = db.DiasFeriados.ToList();
}
<style>
    #header-banner {
        height: 164px !important;
    }

        #header-banner h1 {
            display: initial;
        }

    #breadcrums {
        margin-top: 5px;
    }

    .event a {
        background-color: #FF0000 !important;
        color: #ffffff !important;
    }
</style>


<div class="row br-slider-top">
    <div class="col-md-4">
        <h2 class="h2_title_page">Días Feriados</h2>
        <hr class="hr2">
    </div>
    <div class="col-md-8">
        <div id="datepicker"></div>
    </div>
</div>


    <script>
        $(function () {
            var eventDates = {};
            var feriados = {};
            @foreach (var item in DiasFeriados)
              {
                  // An array of dates
             <text>
            eventDates[new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')] =
             new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")');
            feriados[new Date('@item.DiasFeriadosFecha.ToString("MM/dd/yyyy")')] = "@item.DiasFeriadosDescripcion";
            </text>
              }
            console.log(eventDates);
            console.log(feriados);
            // datepicker
            $('#datepicker').datepicker({
                beforeShowDay: function (date) {
                    var highlight = eventDates[date];
                    var diaFeriado = feriados[date];

                    if (highlight) {
                        return [true, "event", diaFeriado];
                    } else {
                        return [true, '', ''];
                    }
                }
            });
        });
    </script>
