﻿@model intra.Models.TallerPgr.TipoEquipo

@{
    Layout = "~/Views/intraMaster.cshtml";
}


<style>
    .ServicioSolicitud select{
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>

<h2>Edit</h2>
<section class="ServicioSolicitud">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TipoEquipoId)

            <div class="row">
                @Html.Label("Tipo equipo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TipoEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TipoEquipoDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>

