﻿@model intra.Models.RolesUsuarios.Usuarios
@using intra.Models.RolesUsuarios;
@{

    List<Categorias>Categorias = ViewBag.Categorias;
    List<Grupos> Grupos = ViewBag.Grupos;
    List<RolesSet> Roles = ViewBag.Roles;
    GruposUsuarios[] GruposUsuarios = ViewBag.GruposUsuarios;
}
@{
    ViewBag.Title = "Asociar";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Asociar</h2>

@using (Html.BeginForm("Asociar", "Usuarios",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario: @Model.UsuarioLogin</h4>
        <hr />
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">
                <strong> @ViewBag.Error</strong>
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Succes))
        {
            <div class="alert alert-success">
                <strong>@ViewBag.Succes </strong>
            </div>
        }


        <label><b>Grupos Por Categorias</b></label>
        <hr />
      
       
        <div class="row">
            <input type="hidden" name="idUsuario" value="@Model.UsuarioId" />
           
         

            @foreach (var cat in Categorias)
            { <div class="col-md-3">
                @if (cat.SistemaId == 1) { 
               
                                    
                    <h4><label style="color:#f38950;"><span>@cat.CategoriaNombre</span></label></h4>
                    <h4><label style="color:#2b2d2f;">Grupo</label></h4>
                    }

                    @foreach (var gp in Grupos)
                    {
                        if (cat.CategoriaId == gp.CategoriaId && gp.SistemaId == 1)
                        {

                            if (!Array.Exists(GruposUsuarios, e => e.GrupoId == gp.GrupoId))//Determinar si un valor Existe return bool
                            {
                               
                                <h5> <label>@Html.CheckBox("checkbox", new { value = gp.GrupoId }) @gp.GrupoNombre <br /></label></h5>

                                @*Muestra Roles Asociado al Grupo*@
                                @* <h4><label style="color:#2b2d2f;">Roles</label></h4>
                                    foreach (var rl in Roles)
                                    {
                                        if (rl.GrupoId == gp.GrupoId)
                                        {
                                    <label style="color:#2b2d2f;">@rl.RolNombre</label>
                                        <span>@rl.RolDescripcion</span>
                                        <br />
                                        }
                                    }*@

                            }

                        }
                       
                    }

                </div>
            }
         
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
