﻿@model intra.Models.RolesUsuarios.Usuarios
@using intra.Models.RolesUsuarios;
@{

    List<Categorias> Categorias = ViewBag.Categorias;
    List<Grupos> Grupos = ViewBag.Grupos;
    List<RolesSet> Roles = ViewBag.Roles;
}


@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    .ui-autocomplete-loading {
        background: url("/intra/Content/images/ajax-loader.gif") right center no-repeat;
    }

    .group-user {
        font-size: 12pt;
        font-weight: bold;
    }

    .grupo-nombre {
        margin-top: 15px;
    }

    .col-sm-3:nth-child(0n+2) {
        margin-right: 15px;
        margin-left: 15px;
        width: auto !important;
    }

    li + li {
        border-right: 1px solid#ddddd;
    }



    ul li {
        list-style: none;
    }


    .group-categories label {
        text-align: left;
        width: 100%;
    }

    h4, h5 {
        margin-bottom: 0 !important;
        padding: 5px !important;
    }

    h4 {
        border-top: 1px solid#ccc;
        background: #fff5f0;
    }

    h5 {
        margin-top: 0 !important;
        color: #00aeff;
        margin-bottom: 10px !important;
        border-bottom: 1px solid#ccc;
        background: #eff9f9;
    }
</style>
<!--Jquery para Autocompletar Via Ajax-->
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#TxtUsuario").autocomplete({
            source: '@Url.Action("GetUsuarios")'/*Action Obtiene Json Con Los Usuarios*/

        });

    });

</script>



@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-8">
            <h2 class="h2_title_page">Crear usuario</h2>
        </div>
        <div class="col-lg-4">
            <span class="pull-right">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn button_white" })

                <input type="submit" value="Crear" class="btn button_white" />

            </span>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @if (!string.IsNullOrEmpty(ViewBag.ErrorNotFound))
        {
            <div class="alert alert-danger">
                <strong> @ViewBag.ErrorNotFound</strong>
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Succes))
        {
            <div class="alert alert-success">
                <strong>@ViewBag.Succes </strong>
            </div>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="UsuarioLogin" id="TxtUsuario" class="form-control" />

                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Error</strong>
                    </div>
                }

                @Html.ValidationMessageFor(model => model.UsuarioLogin, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><label><h4 style="background:none!important; border: none!important;">Grupos Por Categorías</h4></label></div>
    </div>

    <div class="row group-categories">

        <div class="group-user">
            <div class="form-group">


                @foreach (var cat in Categorias)
                {

                    if (cat.SistemaId == 1)
                    {
                        <div class="col-sm-3 name-categories" style="margin-top:35px;">
                            <h4><label style="color:#f38950;">@cat.CategoriaNombre</label></h4>

                            <h5>Grupos</h5>



                            @foreach (var gp in Grupos)
                            {

                                if (gp.CategoriaId == cat.CategoriaId && gp.SistemaId == 1)
                                {


                                    <label>@Html.CheckBox("checkbox", new { value = gp.GrupoId }) @gp.GrupoNombre</label>
                                }
                            }
                        </div>
                    }

                }

            </div>

        </div>

    </div>


}


@*Muestra Roles del Grupo...*@
@* <h5>Roles Asociados</h5>
    foreach (var rl in Roles)
     {
         if (rl.GrupoId == gp.GrupoId)
         {
             <span>@rl.RolNombre</span>

                <br />
         }
     }@*Tercer For*@



@* } Condicion Grupo*@

@* }Segundo For*@

                            </div>

@*  }Primer For*@









