﻿@model intra.Models.RolesUsuarios.GruposUsuarios

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro que desea Eliminar este Registro?</h3>
<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("id Usuairo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>

        <dt>
            @Html.DisplayName("Grupo Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoId)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
