﻿@model intra.Models.RolesUsuarios.InfoUsuario
@using System.Globalization;

@*Usado para Mostrar el Avatar del Usuario*@
@using intra.Models.RolesUsuarios
@{
    dbIntranet db = new dbIntranet();

}    
@{
    ViewBag.Title = "Informacion del Usuario";
    Layout = "~/Views/intraMaster.cshtml";


    List<Categorias> Categoria = ViewBag.Categorias;
    List<Grupos> Grupos = ViewBag.Grupos;
    List<RolesSet> Roles = ViewBag.Roles;


 }
 <style>
.user-row {
 margin-bottom: 14px;
}

.user-row:last-child {
 margin-bottom: 0;
 }

.dropdown-user {
margin: 13px 0;
padding: 5px;
height: 100%;
        }

.dropdown-user:hover {
cursor: pointer;
}

.table-user-information > tbody > tr {
border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
 border-top: 0;
}


.table-user-information > tbody > tr > td {
border-top: 0;
color: #014984;
}

.toppad {
 margin-top: 20px;
}

/*.correo{
    color:#fff;
}*/

.panel-info>.panel-heading{
    background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
    color: #fff;
}

</style>

    <h2>Detalle</h2>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Informacion del Usuario</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                 @*Validacion para Mostrar el Avatar*@
                  @{
                      var EmpID = @Session["empleadoId"].ToString();
                      var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == Model.EmpleadoId).FirstOrDefault(); }

                  @if (EmpAvatar != null)
                  {
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="@EmpAvatar.avatar" class="img-circle img-responsive"> </div>
                  }
                  else
                  {
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/Content/images/user.png" class="img-circle img-responsive"> </div>
                  }
                <div class="col-md-9 col-lg-9">
                    <table class="table-user-information table">
                        <tbody>
                            <tr>
                                <td>Usuario:</td>
                                <td>@Model.UsuarioLogin</td>
                            </tr>
                            <tr>
                                <td>Nombre Completo:</td>
                                <td>@Model.Nombre</td>
                            </tr>
                            @*<tr>
                                <td>Fecha Creacion</td>
                                <td>@Model.UsuarioFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</td>
                            </tr>*@

                            <tr>
                                <td>Correo</td>
                                <td><a href="#" class="correo">@Model.UsuarioLogin@@pgr.gob.do</a></td>
                            </tr>
                            <tr>
                                <td>Departamento:</td>
                                <td>@Model.Departamento</td>
                            </tr>
                            <tr>
                                <td>Cargo:</td>
                                <td>@Model.Cargo</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


<style>


.DetalleHome {
        padding: 8px;
    }

.DetalleHome {
        padding: 0 8px 8px 8px;
    }

.DetalleHome {
    }


.DetalleHome img {
            
            max-width: 100%;
        }

.DetalleHome h1 {
            font-size: 16px;
            text-align: left;
        }

.UsuarioDetalle {
        background-color: #fff;
        min-height: 135px;
        padding: 10px;
        margin-bottom: 8px;
        border-bottom: 6px solid #38afd4;
        position: relative;
}

.UsuarioDetalle a {
            color: #2b2d2f !important;
            font-family: roboto;
}
</style>

   
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Grupos Asignados Por Categorias</h3> 
               
    </div>
    <div class="panel-body">
        <div class="row">

           @foreach (var cat in Categoria)
           {         
                <div class="col-md-6">               
                    <h4><label style="color:#f38950;"><span>@cat.CategoriaNombre</span></label></h4>
                    <h4><label style="color:#2b2d2f;">Grupo</label></h4>

               @foreach (var gp in Grupos)
                {
                    if (cat.CategoriaId == gp.CategoriaId)
                    {
                      <h5>@gp.GrupoNombre | @if (User.IsInRole("RUA")){ @Html.ActionLink("Eliminar", "Delete", new { usId = Model.UsuarioId, gpId = gp.GrupoId })} </h5> 
                        
                     @*Muestra Roles Asociado al Grupo*@
                     @*<h4><label style="color:#2b2d2f;">Roles</label></h4>                   
                      
                        @foreach (var rl in Roles)
                        {
                            if (rl.GrupoId == gp.GrupoId)
                            {
                                <label style="color:#2b2d2f;">@rl.RolNombre</label>
                                <span>@rl.RolDescripcion</span>
                                <br/>
                            }
                        }*@
                      
                   
                    }
                }
            </div>
            }

      </div>               
  </div>

    @if (User.IsInRole("RUA")) { 
<div class="panel-footer">@Html.ActionLink("Asociar Grupo", "Asociar", new { id = Model.UsuarioId }, new { @class = "buttonAceptar" })</div>
    }
</div>

    <p>
        @*@Html.ActionLink("Editar", "Edit", new { id = Model.UsuarioId }) |*@
        @*@Url.Action("Editar", "Edit", new { IdUsuario = Model.UsuarioId, IdGrupo = Model. })*@        
        @Html.ActionLink("Volver", "Index")
    </p>
