﻿@model IEnumerable<intra.Models.RolesUsuarios.Usuarios>
@using System.Globalization;
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    /*.control-label{
        color: #0d48a1;
    }*/
</style>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<h2>Usuarios</h2>

<p class="pull-right">
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class="btn button_white"})
</ppull>
<table class="table" id="tableGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Usuario")
            </th>
            @*<th>
                @Html.DisplayName("Fecha Creacion")
            </th>*@
            <th>
                @Html.DisplayName("Creado Por")
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioLogin)
                </td>
                @*<td>
                    @item.UsuarioFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCreadoPor)
                </td>
                <td>
                   
                    @Html.ActionLink("Informacion del Usuario", "Details", new { id = item.UsuarioId },
                   htmlAttributes: new { @class = "control-label btn button_white" }) 
                  
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>