﻿@model intra.Models.MiPerfilAvatars

@{
    ViewBag.Title = "Cambiar Imagen";
    Layout = "~/Views/intraMaster.cshtml";
}
<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/scripts/jquery-te-1.4.0.js"></script>
<script src="~/scripts/jquery.validate.js"></script>

<style>
    .cerrar{display:none;}
</style>


@using (Html.BeginForm("create", "MiPerfilAvatars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Código", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Session["empleadoId"].ToString()
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Cargar Foto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" class="form-control" />
            </div>
        </div>
    </div>

    if (!string.IsNullOrEmpty(ViewBag.MsjError))
    {
        <div class="alert alert-danger">
            <strong> @ViewBag.MsjError</strong>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="Guardar" value="Guardar" class="buttonAceptar" />
        </div>
    </div>
}


<div>
    @Html.ActionLink("Volver", "Index","MiPerfil")
</div>


<script>
	$('.jqte-test').jqte();

	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});

</script>

<script>
$().ready(function() {
        // valida Formulario
        $("form").validate({
            rules: {
                avatar: "required",

                    },
            messages: {
                avatar: "El nombre es Requerido",
                      }
        })

});

</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
