﻿

#tab-container
{
   width: 100%;
   float:left;
   border-bottom: 3px solid #0973b9;
}



#tab-container ul
{
   list-style: none;
   text-align: center; 
}
#tab-container ul li
{

margin-left:2px;
   background-color: #ccc;
   color:#666;
   list-style: none;
  display: inline-block;
  float:right;

}
#tab-container ul li a,
#tab-container ul li a:visited
{
   text-decoration: none;
   color: #fff;
   display: block;
   padding: 14px 16px;
}

#tab-container ul li a:hover
{
   color: #fff;
   background-color: #9a9b9d;


}
#tab-container ul li.selected
{



  background-color: #0973b9;

}
#main-container
{
   min-height: auto;
   padding: 30px;


}


