﻿@model  intra.Models.PersonalSeguridad.FormularioPersonalSeguridads
@{
    ViewBag.Title = "Formulario Personal de Seguridad";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/Content/Chossen/ajaxchosen.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />


<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    .dropdown {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }


    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>
<script type="text/javascript">

    $(function () {
        $("#InstitucionID").change(function () {
            var url = 'GetRango'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#InstitucionID").val() },
                success: function (data) {
                    $("#RangoId").empty();
                    $("#RangoId").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, Rangos) {
                        $("#RangoId").append('<option value="' + Rangos.Value + '">' + Rangos.Text + '</option>')
                    })
                }

            });

        });


        $('#RangoId').change(function () {
            if ($(this).val() != 0) {
                $('#RangoId').val($(this).val());
            }

        });
    });
    $(document).ready(function () {
        $("#submit").on("click", function () {
            alert('Your Message');
        });

    });

    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });


</script>
@*Formato Calendario*@
<script type='text/javascript'>

    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'mm/dd/yy'
        });

    })
</script>



<script type="text/javascript">
    $("#Armas").hide();
    $(document).ready(function () {
        $(".ArmasFuego").change(function () {

            if ($(".ArmasFuego:checked").val() == "Si") {
            //alert('Hola');
               $("#Armas").show();
           }
            else if ($(".ArmasFuego:checked").val() == "No") {

             $("#Armas").hide();

              }
        })

    });
</script>

<script type="text/javascript">
    //Filtrar por dependencia
    function load_Departamento() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("obtenerDepartamento")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ dependencia: ' + $("#DependenciaId").val() + ' }',
            success: function (states) {
                $("#DeptoID").html('');
                for (var i in states) {
                    $("#DeptoID").append('<option value="' + states[i].Id + '">' +
                     states[i].Nombre + '</option>');
                }
            },
            error: function (ex, a, v) {
                console.log(ex, a, v);
            }
        });
        return;
    }
    $(document).ready(function () {
        $("#DependenciaId").change(function () {
            load_Departamento();
            return false;
        })
    });
</script>

<section class="serviciosSolicitud">
    <h2>Formulario Personal de Seguridad</h2>
    @using (Html.BeginForm("create", "FormularioPersonalSeguridad", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <input type="text" value="@ViewBag.Guardar" id="save" hidden="hidden" />
        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Nombre")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Apellido)
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Cédula")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Cedula)
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Fecha de Nacimiento")
            </div>
            <div class="col-lg-3">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                @*<input style=" margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker form-control" data-date-format="dd/mm/yyyy" name="ComputadoraFechaCompra" id="datepicker2"  />*@
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>

            @*<div class="col-lg-3">
                    @Html.Label("Fecha Nacimiento")
                </div>
                <div class="col-lg-3">
                    <input style=" margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker" name="FechaNacimiento" id="datepicker3" />
                </div>*@


            <div class="col-lg-6">
                Asignado a PGR @Html.RadioButtonFor(model => model.EstadoAsignacion, "Asignado a PGR", new { @checked = "checked" })
                Adiccion a PGR @Html.RadioButtonFor(model => model.EstadoAsignacion, "Adiccion a PGR")
            </div>
        </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Institución")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("InstitucionID", (SelectList)ViewBag.Institucion, "Seleccione", htmlAttributes: new { @class = "form-control dropdown chosen - select" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Rango")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("RangoId", (SelectList)ViewBag.Rango, "Seleccione", htmlAttributes: new { @class = "form-control dropdown chosen - select" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Teléfono")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Telefono)
                    @Html.ValidationMessageFor(model => model.Telefono, "")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.Correo)
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Correo)
                    @Html.ValidationMessageFor(model => model.Correo, "")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Tipo de Sangre")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TipoSangre)
                    @Html.ValidationMessageFor(model => model.TipoSangre, "")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Dirección")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Direccion)
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Teléfono Emergencia")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TelefonoEmergencia)
                    @Html.ValidationMessageFor(model => model.TelefonoEmergencia, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Designación")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Designacion)
                        @Html.ValidationMessageFor(model => model.Designacion, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Label("Dependencia")
                        </div>
                        <div class="col-lg-9">
                            @Html.DropDownList("DependenciaId", (SelectList)ViewBag.Dependencia, "Seleccione", htmlAttributes: new { @class = "form-control dropdown chosen - select" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Label("Departamento")
                        </div>
                        <div class="col-lg-9">
                            @Html.DropDownList("DeptoID", (SelectList)ViewBag.Departamentos, "Seleccione", htmlAttributes: new { @class = "form-control dropdown chosen - select" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Label("Arma de Fuego")
                        </div>
                        <div class="col-lg-9">
                            <input type="radio" name="ArmaFuego" id="ArmaFuego" value="Si" class="ArmasFuego"> Si
                            <input type="radio" name="ArmaFuego" id="ArmaFuego" value="No" class="ArmasFuego" checked="checked"> No

                        </div>
                    </div>
                        <panel id="Armas" name="Armas" hidden="hidden">
                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.Label("Marca")
                                </div>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.ArmaMarca)
                                    @Html.ValidationMessageFor(model => model.ArmaMarca, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.Label("Modelo")
                                </div>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.ArmaModelo)
                                    @Html.ValidationMessageFor(model => model.ArmaModelo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.Label("Serie")
                                </div>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.ArmaSerie)
                                    @Html.ValidationMessageFor(model => model.ArmaSerie, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </panel>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            @Html.Label("Fecha de Ingreso")
                                        </div>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                                            @*<input style=" margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker form-control" data-date-format="dd/mm/yyyy" name="ComputadoraFechaCompra" id="datepicker2"  />*@
                                            @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            @Html.Label("Fecha de Salida")
                                        </div>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                                            @*<input style=" margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker form-control" data-date-format="dd/mm/yyyy" name="ComputadoraFechaCompra" id="datepicker2"  />*@
                                            @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-3">
                                            @Html.LabelFor(model => model.Estado)
                                        </div>
                                        <div class="col-lg-9">
                                            Activo @Html.RadioButtonFor(model => model.Estado, "1", new { @checked = "checked" })
                                            Inactivo @Html.RadioButtonFor(model => model.Estado, "0")
                                        </div>
                                    </div>

                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.Label("Observación General")
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.TextAreaFor(model => model.ObservacionGeneral, new { style = "width:500px", @maxlength = "300" })
                                                        @Html.ValidationMessageFor(model => model.ObservacionGeneral, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            @Html.Label("Cargar Foto")
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="file" name="file" />
                                                        </div>
                                                    </div>

                                                                <div class="form-group">
                                                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-3">
                                                                    </div>
                                                                    <div class="col-lg-9">
                                                                        <input type="submit" value="Guardar" onclick="guardar ()" class="buttonEnviar" />
                                                                        @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                                                                    </div>
                                                                </div>
    }
</section>

<script>
        $().ready(function () {
            // valida Formulario
            $("form").validate({
                rules: {
                    Nombre: "required",
                    DependenciaId: "required",
                    DeptoID: "required",
                },

                messages: {
                    Nombre: "El nombre es Requerido",
                    DependenciaId: "La Dependencia es Requerida",
                    DeptoID: "El Departamento es Requerido",
                }
            })

        });


</script>

