﻿@model intra.Models.PersonalSeguridad.FormularioPersonalSeguridads

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FormularioPersonalSeguridad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoAsignacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoAsignacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitucionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitucionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmaFuego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmaFuego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmaMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmaMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmaModelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmaModelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmaSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmaSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionGeneral)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
