﻿@model intra.Models.PersonalSeguridad.FormularioPersonalSeguridads

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}
<link href="~/CSS/styles.css" rel="stylesheet" />
<style>
    .profilepic img {
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    width: 150px;
    height: 150px;
    border: solid 2px #38afd4;
}
    tr td{
        font-family:Arial !important;
        font-size:16px;
        color:black;
        font-style:normal;
    }

</style>

<h2>@Html.DisplayFor(model => model.Nombre)</h2>



    <div class="profilepic">
        <img src="@Model.Imagen" type="image/jpeg" />
    </div>
      <table class="table font">
             <tr>
               
             </tr>
          <tr>

              <td>
                  @Html.DisplayNameFor(model => model.Nombre)
              </td>

              <td>
                  @Html.DisplayFor(model => model.Nombre)
              </td>
          </tr> 
          <tr>
              <td>
                  @Html.DisplayNameFor(model => model.Apellido)
              </td>

              <td>
                  @Html.DisplayFor(model => model.Apellido)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayNameFor(model => model.Cedula)
              </td>

              <td>
                  @Html.DisplayFor(model => model.Cedula)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Rango")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Rangos.RangoNombre)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Asignacion")
              </td>

              <td>
                  @Html.DisplayFor(model => model.EstadoAsignacion)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Institucion")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Institucions.InstitucionNombre)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("FechaNacimiento")
              </td>

              <td>
                  @Html.DisplayFor(model => model.FechaNacimiento)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Telefono")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Telefono)
              </td>
          </tr>
          <tr>
              <td>
              @Html.DisplayName("Correo")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Correo)
              </td>
          </tr>
          <tr>
              <td>

                  @Html.DisplayName("Tipo de Sangre")
              </td>

              <td>
                  @Html.DisplayFor(model => model.TipoSangre)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Direccion")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Direccion)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Telefono Emergencia")
              </td>

              <td>
                  @Html.DisplayFor(model => model.TelefonoEmergencia)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Designacion")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Designacion)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Dependencia")
              </td>

              <td>
                  @ViewBag.Dependencia
                  @*@Model.vw_Dependencias.Descripcion*@
                  @*@Html.DisplayFor(model => model.Nmdependencias_Permisos.Descripcion)*@
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Departamento")
              </td>

              <td>
                  @ViewBag.deptDescripcion
                  @*@Html.DisplayFor(model => model.Nmdeptos_Permisos.Descripcion)*@
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Arma de Fuego")
              </td>

              <td>
                  @Html.DisplayFor(model => model.ArmaFuego)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Marca de Arma")
              </td>

              <td>
                  @Html.DisplayFor(model => model.ArmaMarca)
              </td>
          </tr>
          <tr>

              <td>
                  @Html.DisplayName("Modelo de  Arma")
              </td>

              <td>
                  @Html.DisplayFor(model => model.ArmaModelo)
              </td>
          </tr>
          <tr>

              <td>
                  @Html.DisplayName("Serie de Arma")
              </td>

              <td>
                  @Html.DisplayFor(model => model.ArmaSerie)
              </td>
          </tr>
          <tr>

              <td>
                  @Html.DisplayName("Fecha de Ingreso")
              </td>

              <td>
                  @Html.DisplayFor(model => model.FechaIngreso)
              </td>
          </tr>
          <tr>

              <td>
                  @Html.DisplayName("Fecha de Salida")
              </td>

              <td>
                  @Html.DisplayFor(model => model.FechaSalida)
              </td>
          </tr>
          <tr>

              <td>
                  @Html.DisplayName("Estado")
              </td>

              <td>
                  @Html.DisplayFor(model => model.Estado)
              </td>
          </tr>
          <tr>
              <td>
                  @Html.DisplayName("Observacion General")
              </td>

              <td>
                  @Html.DisplayFor(model => model.ObservacionGeneral)
              </td>
          </tr>
 
</table>
@Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
