﻿@model  intra.Models.PersonalSeguridad.FormularioPersonalSeguridads
@{
    ViewBag.Title = "Formulario Personal de Seguridad";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/Content/Chossen/ajaxchosen.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />
<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    .dropdown {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
       .ArmasFuego
    {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;

    }
</style>

<script type="text/javascript">


    $(function () {
        $("#InstitucionID").change(function () {
            var url = 'GetRango'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#InstitucionID").val() },
                success: function (data) {
                    $("#RangoId").empty();
                    $("#RangoId").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, Rangos) {
                        $("#RangoId").append('<option value="' + Rangos.Value + '">' + Rangos.Text + '</option>')
                    })
                }

            });

        });


        $('#RangoId').change(function () {
            if ($(this).val() != 0) {
                $('#RangoId').val($(this).val());
            }

        });
    });
    $(document).ready(function () {
        $("#submit").on("click", function () {
            alert('Your Message');
        });

    });

    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

    //Filtrar por dependencia
    function load_Departamento() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("obtenerDepartamento")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ dependencia: ' + $("#DependenciaID").val() + ' }',
            success: function (states) {
                $("#DeptoID").html('');
                for (var i in states) {
                    $("#DeptoID").append('<option value="' + states[i].Id + '">' +
                     states[i].Nombre + '</option>');
                }
            },
            error: function (ex, a, v) {
                console.log(ex, a, v);
            }
        });
        return;
    }
    $(document).ready(function () {
        $("#DependenciaID").change(function () {
            load_Departamento();
            return false;
        })
    });

</script>
@*<script type='text/javascript'>
    $(function () {
        $('.date-picker').datepicker();

    })
</script>*@

<script type='text/javascript'>

    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'mm/dd/yy'
        });

    })
</script>

@*Formato Calendario*@
@*<script>

    var fechaActual = @DateTime.Now.ToShortDateString();
    $(document).ready(function () {
        $('#FechaNacimiento').datepicker({
            language: 'es',
            orientation: "bottom auto",
            format: 'yyyy/mm/dd',
            autoclose: true,
            todayHighlight: true,
            onSelect: function (dateText, inst) {
                var date = $(this).val();
            }
        });

        $('#FechaSalida').datepicker({
            language: 'es',
            orientation: "bottom auto",
            format: 'yyyy/mm/dd',
            autoclose: true,
            todayHighlight: true,
            onSelect: function (dateText, inst) {
                var date = $(this).val();
            }
        });
        $('#FechaIngreso').datepicker({
            language: 'es',
            orientation: "bottom auto",
            format: 'yyyy/mm/dd',
            autoclose: true,
            todayHighlight: true,
            onSelect: function (dateText, inst) {
                var date = $(this).val();
            }
        });
    });
</script>*@
<script type="text/javascript">
    $("#Armas").hide();
    $(".ArmasFuego").val();
    $(document).ready(function () {
        $(".ArmasFuego").change(function () {
            armas();
        })
        armas();

    });

    function armas() {
        if ($(".ArmasFuego:checked").val() == "Si") {
            //alert('Hola');
            $("#Armas").show();
        }
        else if ($(".ArmasFuego:checked").val() == "No") {
            $("#Armas").hide();
            $("#ArmaMarca").val("");
            $("#ArmaModelo").val("");
            $("#ArmaSerie").val("");
        }
    }
</script>

<section class="serviciosSolicitud">
    <h2>Formulario Personal de Seguridad</h2>
    @using (Html.BeginForm("Edit", "FormularioPersonalSeguridad", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.FormId)
        </div>
        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Nombre")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Apellido)
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Cédula")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Cedula)
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Fecha Nacimiento")
            </div>
            @*<div class="col-lg-3">
                <input style=" margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker" value="@Model.FechaNacimiento" name="FechaNacimiento" id="FechaNacimiento" />
            </div>*@

            <div class="col-lg-3">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-6">
                Asignado a PGR @Html.RadioButtonFor(model => model.EstadoAsignacion, "Asignado a PGR", new { @checked = "checked" })
                Adiccion a PGR @Html.RadioButtonFor(model => model.EstadoAsignacion, "Adiccion a PGR")
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Institución")
            </div>
            <div class="col-lg-9">
               
                @Html.DropDownList("InstitucionID", null, htmlAttributes: new { @class = "form-control dropdown" })
               
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Rango")
            </div>
            <div class="col-lg-9">
         
                @Html.DropDownList("RangoId", null, htmlAttributes: new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Teléfono")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Telefono)
                @Html.ValidationMessageFor(model => model.Telefono, "")
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Correo)
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Correo)
                @Html.ValidationMessageFor(model => model.Correo, "")
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Tipo de Sangre")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.TipoSangre)
                @Html.ValidationMessageFor(model => model.TipoSangre, "")
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Dirección")
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Teléfono Emergencia")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TelefonoEmergencia)
                    @Html.ValidationMessageFor(model => model.TelefonoEmergencia, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Designación")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Designacion)
                        @Html.ValidationMessageFor(model => model.Designacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Dependencia")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("DependenciaID", null, htmlAttributes: new { @class = "form-control dropdown" })
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Label("Departamento")
                        </div>
                        <div class="col-lg-9">
                            @Html.DropDownList("DeptoID", null, htmlAttributes: new { @class = "form-control dropdown" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Label("Arma de Fuego")
                        </div>
                        <div class="col-lg-9">
                            Si @Html.RadioButtonFor(model => model.ArmaFuego, "Si", new { @class = "ArmasFuego" })
                            No @Html.RadioButtonFor(model => model.ArmaFuego, "No", new { @class = "ArmasFuego" })
                         
                        </div>
                    </div>
                    <panel id="Armas" name="Armas" hidden="hidden">
                        <div class="row">
                            <div class="col-lg-3">
                                @Html.Label("Marca")
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.ArmaMarca)
                                @Html.ValidationMessageFor(model => model.ArmaMarca, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                @Html.Label("Modelo")
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.ArmaModelo)
                                @Html.ValidationMessageFor(model => model.ArmaModelo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                @Html.Label("Serie")
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.ArmaSerie)
                                @Html.ValidationMessageFor(model => model.ArmaSerie, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </panel>

                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Label("Fecha de Ingreso")
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                            @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                        </div>
                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            @Html.Label("Fecha de Salida")
                                        </div>
                                        <div class="col-lg-3">
                                            @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                                            @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
                                        </div>
                                        @*<div class="col-lg-9">
                                            <input style=" margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker" value="@Model.FechaSalida" name="FechaSalida" id="FechaSalida" />
                                        </div>*@
                                    </div>

                        <div class="row">
                            <div class="col-lg-3">
                                @Html.LabelFor(model => model.Estado)
                            </div>
                            <div class="col-lg-9">
                                Activo @Html.RadioButtonFor(model => model.Estado, "1", new { @checked = "checked" })
                                Inactivo @Html.RadioButtonFor(model => model.Estado, "0")
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                @Html.Label("Observación General")
                            </div>
                            <div class="col-lg-9">
                                @Html.TextAreaFor(model => model.ObservacionGeneral, new { style = "width:500px", @maxlength = "300" })
                                @Html.ValidationMessageFor(model => model.ObservacionGeneral, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                @Html.Label("Cargar Foto")
                            </div>
                            <div class="col-lg-9">
                                <input type="file" name="file" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <input type="submit" value="Guardar" class="buttonEnviar" />
                                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                            </div>
                        </div>
                        }
</section>


<script>
        $().ready(function () {
            // valida Formulario
            $("form").validate({
                rules: {
                    Nombre: "required",

                },
                messages: {
                    Nombre: "El nombre es Requerido",
                }
            })

        });

</script>
