﻿@model IEnumerable<intra.Models.PersonalSeguridad.FormularioPersonalSeguridads>
   
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    table {
        max-width: 100% !important;
    }
</style>
<section class="row">
    <div class="col-lg-10">
        <h2>Registro Personal Seguridad</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Nuevo Registro", "Create", null, new { @class = "buttonAceptar" })
    </div>
</section>
<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Institucion")
            </th>
            <th>
                @Html.DisplayName("Rango")
            </th>
            <th>
                @Html.DisplayName("Telefono")
            </th>
            <th>
                @Html.DisplayName("Correo")
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre @item.Apellido
                </td>
                <td>
                    @item.Institucions.InstitucionNombre
                </td>

                <td>
                    @item.Rangos.RangoNombre
                </td>

                <td>
                    @item.Telefono
                </td>
                <td>
                    @item.Correo
                </td>       
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.FormId }) |
                    @Html.ActionLink("Ver", "Details", new { id = item.FormId }) @*|
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.FormId })*@
                </td>
            </tr>
        }
    </tbody>

</table>



<script>
        $(document).ready(function () {
            $('#tableGrid').DataTable({
                "language": {
                    "processing": "...Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron registros disponibles",
                    "emptyTable": "No hay Datos Disponibles en esta Tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "",
                    "search": "Buscar:",
                    "url": "",
                    "infoThousands": ",",
                    "loadingRecords": "...Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                responsive: true



            })
        });
</script>


