﻿@model intra.Tutoriales

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/scripts/jquery-te-1.4.0.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.js"></script>

@if(ViewBag.Tutoriales != null)
{
    <script>
        swal('Error',
            'Debe Seleccionar un video',
            'error');
    </script>
}

@using (Html.BeginForm("create", "Tutoriales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()


    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Tutoriales</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">
                <input type="submit" value="Subir tutorial" class="btn button_white" />
                   @Html.ActionLink("Volver", "/Index", null, new { @class= "btn button_white" })

            </div>

        </div>
    </section>

    <div class="row">
           <div class="col-lg-6">
               <label>Tutorial</label>
                <div>
                    <input type="text" name="Tutorial" value="" class="form-control" />
                </div>
            </div>

            <div class="col-lg-6">
                <label>Cargar Video</label>
                <div>
                    <input type="file" name="file" class="file" />
                </div>
            </div>
        <div class="form-group" hidden="hidden">
                @Html.Label("Portada", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="portada" class="form-control" />
                </div>
            </div>
        

        </div>

}



<script>
	$('.jqte-test').jqte();

	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});

</script>

<script>
$().ready(function() {
        // valida Formulario
        $("form").validate({
            rules: {
                Tutorial: "required",

                    },
            messages: {
                Tutorial: "El nombre es Requerido",
                      }
        })

});

</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>