﻿@model intra.Tutoriales

@{
    ViewBag.Title = "Details";    
   Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .noticias {
        margin-bottom: 15px;
    }
</style>


    <div class="row">
        <div class="col-lg-9">
            <h2 class="h2_title_page">@Html.DisplayFor(model => model.TutorialNombre)</h2>
        </div>
        <div class="col-lg-3">
            <div class="pull-right alejar_top">
                <span>
                    @Html.ActionLink("Salir", "Index", "home", null, new { @class = "btn button_white" })
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr class="hr2" style="width: 100% !important;">
            <video controls poster="@Model.Portada" style="width:100% !important;">
                <source src="@Model.TutorialUrl" type="video/mp4" />
            </video>
        </div>
    </div>
   


