﻿@model intra.Tutoriales

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TutorialId)

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Tutoriales</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">
                <input type="submit" value="Guardar" class="btn button_white" />
                @Html.ActionLink("Volver", "/Index", null, new { @class = "btn button_white" })

            </div>

        </div>
    </section>

    <div class="row">
      
        <div class="col-lg-4">
            <label>Nombre del Tutorial</label>
            <div>
                @Html.EditorFor(model => model.TutorialNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TutorialNombre, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="col-lg-4" hidden="hidden">
            <label>Portada</label>
            <div>
                <input type="file" name="file" class="form-control" />
            </div>
        </div>

        <div class="col-lg-4">
            <label>Cargar Video</label>
            <div>
                <input type="file"  name="file" class="form-control" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Creado Por</label>
            <div>
                @Html.DisplayFor(model => model.TutorialUsuario)
            </div>
        </div>
        <div class="col-lg-2">
            <label>Fecha Creacion</label>
            <div>
                @Html.DisplayFor(model => model.FechaCreacion)
            </div>
        </div>

        @Html.HiddenFor(model => model.TutorialUsuario)
        @Html.HiddenFor(model => model.FechaCreacion)

        <div style="width:30%">
            Video Actual
            <video controls poster="@Model.Portada" style="height: 80vh !important;">
                <source src="@Model.TutorialUrl" type="video/mp4" />
            </video>
        </div>

    </div>
}

