﻿
@{
    ViewBag.Title = "EncuestaClima";
    Layout = "~/Views/intraMaster.cshtml";
}

<style> 
       video {
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 320px;
        background: #1f3075;
    }

    .pk_video {
     background-color: red !important; 

    </style> 
<h2>EncuestaClima</h2>
<div class="col-lg-8 centerHomeContent">

    <video style="border:#207a95 solid;"controls poster="~/Content/images/portada_solicitud_servicios_intranet.jpg">
        <source src="~/Content/videos/Encuesta Clima Laboral 2017.mp4" type="video/mp4">
        <source src="~/Content/videos/SolicituddeServicios-Intranet.mp4" type="video/webm">
    </video>
    </div>



