﻿@model IEnumerable<intra.Tutoriales>

@using System.Globalization;

@*@model PagedList.IPagedList<intra.Tutorial>
    @using PagedList.Mvc;*@
@{
    ViewBag.Title = "Index";

    if (ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.js"></script>
<style>
    table {
        max-width: 100% !important;
    }
</style>

@if(ViewBag.EliminarTutorial != null)
{
    <script>
        swal('Eliminado',
            'Datos eliminado Correctamente',
            'success')
    </script>
}
<section class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Tutoriales</h2>
        <hr class="hr2" />
    </div>
@if (User.IsInRole("TUTORIALES(ADMIN)"))
{
    <div class="col-md-6">
        <div class="pull-right alejar_top btn-group botones">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn button_white" })
        </div>

    </div>
}
</section>
<br />
<br />

<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tutorial")
            </th>

            <th>
                @Html.DisplayName("Fecha Creacion")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var tutorial in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(tutorial.TutorialNombre ?? " ", "Details", new { id = tutorial.TutorialId })
                    @*@Html.DisplayFor(modelItem => item.TutorialNombre)*@
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TutorialUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TutorialVideo)
                    </td>*@
                <td>
                    @tutorial.FechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))
                    @*@Html.DisplayFor(modelItem => item.FechaCreacion)*@
                </td>
             
                <td>
                    @Html.ActionLink("Ver", "Details", new { id = tutorial.TutorialId }, new { @class = "btn button_white" })
                   @if (User.IsInRole("TUTORIALES(ADMIN)"))
                    {
                    @Html.ActionLink("Actualizar", "Edit", new { id = tutorial.TutorialId },  new { @class = "btn button_white" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = tutorial.TutorialId }, new { @class = "btn button_white" })
                   }
                </td>
               
            </tr>
        }

    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>

