﻿@model IEnumerable<intra.Tutoriales>


 
<div class="col-lg-4 leftHomeContent">
    <div class="inicioTutoriales">
        <div class="arrow-rightWhite"></div><h3>Tutoriales</h3>
        <ul>
            @foreach (var item in Model.OrderByDescending(c => c.TutorialId).Take(4))
            {
                <li><a href="~/Tutoriales/Details?id=@item.TutorialId">@item.TutorialNombre</a></li>
            }
        </ul>
      

        @Html.ActionLink("+ Más", "Index", "Tutoriales", null, new { @class = "botonFlotante" })
    </div>

    @*<div class="col-lg-4 leftHomeContent">
            <div class="inicioDirectorio">
                <div class="arrow-rightWhiteDirectorio"></div>
                <h3>Directorio Departamental</h3>
                <ul>
                    <li>Crear y formatear tablas en excel</li>
                    <li>Configurar paginas para impresion</li>
                    <li>Solicitar servicios por la intranet</li>
                    <li>Consifurar Outlook en el celular</li>
                </ul>
                @Html.ActionLink("+ Más", "Create", null, new { @class = "botonFlotante" })
            </div>
        </div>
        <div class="col-lg-4 leftHomeContent">
            <div class="inicioPlantillas">
                <div class="arrow-rightt"></div> <h3>Plantillas</h3>
                <ul>
                    <li><i class="fa fa-file-word-o" aria-hidden="true" style="color:#2b5796"></i>Formato de Carta 8.5x11</li>
                    <li><i class="fa fa-file-powerpoint-o" aria-hidden="true" style="color:#d04727"></i>Presentación de Power Point</li>
                    <li><i class="fa fa-file-excel-o" aria-hidden="true" style="color:#207347"></i>Tablas de Excel</li>
                    <li><i class="fa fa-file-word-o" aria-hidden="true" style="color:#2b5796"></i>Diagramas de Visio</li>
                </ul>
                @Html.ActionLink("+ Más", "Create", null, new { @class = "botonFlotantePlantillas" })
            </div>
        </div>*@
</div>

