﻿@model intra.Models.GestionHumana.AutorLibroBiblioteca
<style>
    h2 { 
        padding: 10px;
    }

    .modal-content{
        width: 700px;
        color: #262626;
    }

   .form-control-1 {
    margin-left: -5px;
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: 10px;
}

</style>



@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Nuevo Autor</h2>

@using (Html.BeginForm("AgregarAutorModal", "Autor", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(model => model.AutorLBNombre, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AutorLBNombre, new { htmlAttributes = new { @class = "form-control-1" } })
                    @Html.ValidationMessageFor(model => model.AutorLBNombre, "", new { @class = "text-danger" })
                </div>



                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input data-dismiss="modal" type="button" id="btnGuardarModal" value="Agregar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>


}

    <script>

    $("#btnGuardarModal").click(function () {
        if ($('#AutorLBNombre').val() == '' || $('#AutorLBNombre').val() == null) {
            swal("", "Debe de completar el campo nombre", "error");
        } else {
            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/Autor/AgregarAutorModal",
                method: "post",
                data: $("#formModal").serialize(),
                success: function (data) {
                    swal(
                        'Mensaje: ',
                        data,
                        'info'
                    )
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CargarAutores")',
                        dataType: 'json',
                        success: function (autores) {
                            //resetea el select
                            $('#AutorLBId').html("");
                            //itera los autores
                            $.each(autores, function (i, autor) {
                                $('#AutorLBId').append('<option value="' + autor.Value + '">' + autor.Text + '</option>');
                            });
                        }
                    });
                },
                error: function (data) { console.log(data) }
            });
        }
    });


    </script>