﻿@model intra.Models.GestionHumana.AutorLibroBiblioteca

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true,"", new { @class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.AutorLBNombre, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutorLBNombre, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor(model => model.AutorLBNombre,"", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar","Index")
</div>