﻿@model intra.Models.GestionHumana.AutorLibroBiblioteca

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/sweetalert2.all.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AutorLBId)

        <div class="form-group">
            @Html.LabelFor(model => model.AutorLBNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutorLBNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutorLBNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
                <button type="button" class="btn btn-default">Eliminar</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
<script>
    $(document).ready(function () {
        $('button').click(function () {
            swal({
                title: 'Estas seguro/a de que quiere eliminar a este autor?',
                text: "Al eliminar este autor los libros asignador al mismo seran cambiados a 'Anónimo'.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("Eliminar")',
                        data: { id: $('#AutorLBId').val() },
                        success: function (data) {
                            if (data != 'Error') {
                                window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/Autor";
                            } else {
                                swal('Error', 'A ocurrido un error.', 'error');
                            }
                        },
                        error: function (ex) {
                            swal('Error', 'Un error ha ocurrido.', 'error');
                        }
                    });
                }
            })
        });
    })
</script>   