﻿@model IEnumerable<intra.Models.GestionHumana.AutorLibroBiblioteca>

@{
    ViewBag.Title = "Autores";
}

<h2>Autores</h2>

<a href="~/Autor/Create" class="btn btn-default">Agregar una nueva autor</a>

<table id="tableGrid" class="table table-striped table-hover responsive display no-wrap">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.AutorLBNombre,"Edit",new { id=item.AutorLBId})</td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Regresar", "Index", "Biblioteca", null, htmlAttributes: new { @class = " btn btn-info " })
</div>