﻿@model IEnumerable<intra.Noticias>

@using System.Globalization;

@{
    ViewBag.Title = "Intranet PGR - Inicio";
    Layout = "~/Views/intraMasterPublic.cshtml";
}

<link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
<style>
        /*---- Estilos para slider las noticias */

        .control-box {
            text-align: center;
            margin: auto 0 !important;
        }

            .control-box a {
                color: #fff !important;
            }

        .carousel-control {
            border: 0px;
            border-radius: 0px;
            display: inline-block;
            font-size: 34px;
            font-weight: 200;
            line-height: 18px;
            padding: 4px 10px 0px;
            position: relative;
            height: 30px;
            width: 28px;
            margin: auto 0;
        }

        .carousel-controles {
            width: 30px !important;
            color: #fff;
            border: 0px;
            margin-top: 0;
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
        }

        .glyphiconicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 2;
            -webkit-font-smoothing: antialiased;
            margin-left: 8px !important;
        }

        .carousel-control {
            opacity: 0px !important;
            background-image: none !important;
            font-size: 24px !important;
            margin-top: 28px;
        }

            .carousel-control a {
                color: #fff !important;
            }

        .izquierdo {
            background-color: #38afd4 !important;
            opacity: unset;
            color: #fff !important;
        }

        .derecho {
            background-color: #38afd4 !important;
            opacity: unset;
            color: #fff !important;
        }

        .izquierdo:hover {
            color: yellow !important;
        }

        .derecho:hover {
            color: yellow !important;
        }

        .carousel-inner {
            position: relative;
            width: 100% !important;
            overflow: hidden;
        }

        /*--- fin del slider -----*/

        #contentAnimacion {
            background-color: #f6f6f5 !important;
        }

        .leftHomeContent {
            /*padding-left: 8px;
        padding-right: 8px;*/
        }

        .rightHomeContent {
            /*padding-left: 8px;
        padding-right: 8px;*/
        }

        .noticiasHome {
            padding: 0px;
        }

        .noticiasHome {
            padding: 0 0px 0px 0px;
        }

        .noticiasHome {
        }

            .noticiasHome img:hover {
            }

            .noticiasHome img {
                /*max-width: 302px;*/
                max-width: 100%;
            }

            .noticiasHome h1 {
                font-size: 16px;
                text-align: left;
            }

        .noticiasHomeDetalle {
            background-color: #fff;
            min-height: 135px;
            padding: 10px;
            border-bottom: 6px solid #38afd4;
            position: relative;
        }

            .noticiasHomeDetalle a {
                color: #2b2d2f !important;
                font-family: 'robotobold' !important;
                font-size: 13px;
                font-weight: 900;
            }

        video {
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 320px;
            background: #1f3075;
        }

        .pk_video {
            background-color: red !important; /* or whatever you want */
        }
    </style>
   
<br />
<div class="row">
    <div class="col-lg-6">
        <label style="margin-bottom:0; text-transform:uppercase; color:#2b2d2f; font-family:'robotobold' !important;"><strong>@DateTime.Now.ToString("dddd d ", new CultureInfo("es-ES"))</strong> </label>
        <label style="margin-bottom:0; color:#37AFD3; text-transform:capitalize; font-family:'robotolight' !important;   font-weight: 700; "> @DateTime.Now.ToString("MMMM, yyyy", new CultureInfo("es-ES"))</label>
    </div>
    <div class="col-lg-6" style="text-align:right;">
        <i style="color:#2b2d2f;" class="fa fa-clock-o" aria-hidden="true"></i>
        <label style="color:#2b2d2f; font-family:'robotobold' !important;"> @DateTime.Now.ToString("hh:mm")</label>
        <label style="color:#37AFD3; font-family:Roboto !important; font-weight: 700; "> @DateTime.Now.ToString("tt")</label>
    </div>
</div>
<div class="row">

    <div class="col-lg-4">
        <div id="carousel-example-generic" class="slide" data-ride="carousel" style="background-color:#fff; height:278px;">
            <!-- Wrapper for slides -->
            <div class="carousel-inner noticiasHome ">
                @foreach (var item in Model)
                {
                    <div class="noticiasHome item ">
                        <img src="@item.NoticiaImages" />
                        <div class="noticiasHomeDetalle">
                            <h1><a href="~/noticias/viewNews?id=@item.NoticiaId">@item.NoticiaTitulo</a></h1>
                            <div class="botonFlotanteNoticias">
                                <label style="font-family:'robotolight' !important; font-size:12px; color:#636363;">
                                    <i style="color:#37AFD3;" class="fa fa-calendar" aria-hidden="true"></i>
                                    @item.NoticiaFechaCreacion.ToString("d MMMM, yyyy", new CultureInfo("es-ES"))
                                </label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Controls -->
            <div style="margin:auto; width:70px; margin-top:-40px; position:relative;">
                <a class="izquierdo carousel-controles" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphiconicon glyphicon-chevron-left"></span>
                </a>
                <a class="derecho carousel-controles" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphiconicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div> <!-- Carousel -->
        <!-- /.control-box -->

    </div><!-- /#myCarousel -->


    @Html.Action("vLecturaDelDia", "Public")
    @Html.Action("PalabraIngles", "Public")
</div>
<div class="row">
    @Html.Action("ListaAvisos", "Avisos")<!--Avisos-->
    <div class="col-lg-8 leftHomeContent" style="padding-top: 15px;">
        @*<div class="inicioTutorialesHome">*@
        <h3 class="botonFlotanteTutoriales-title"><div class="arrow-rightWhite"></div>   Videos</h3>
        <video style="border:#207a95 solid;" controls poster="~/Content/images/img_clima_laboral.jpg">
            <source src="~/Content/videos/Encuesta Clima Laboral 2017.mp4" type="video/mp4">
            @*<source src="~/Content/videos/SolicituddeServicios-Intranet.mp4" type="video/mp4">*@
            <source src="~/Content/videos/SolicituddeServicios-Intranet.mp4" type="video/webm">
        </video>

        @Html.ActionLink("+ Más", "Index", "Tutoriales", null, new { @class = "botonFlotanteTutoriales" })
        @*</div>*@
    </div>
</div>     
<script src="~/scripts/jquery-ow.min.js"></script>
<script src="~/scripts/owl.carousel.min.js"></script>
<script src="~/scripts/owl.carousel.js"></script>          
<script>
        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("palabra")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: {},
                success: function (states) {
                    if (states != "Error") {
                        console.log(states);
                        var json = jQuery.parseJSON(states);
                        $(".inglestitle").append(json.titulo)
                        var arr = json.descripcion.split(". -");
                        for (var i in arr) {
                            var txt = "<br>" + arr[i] + "</br>";
                            $(".segundoBloque").append(txt);
                        }

                        aplicarEstilo();
                    } else {

                    }


                },
                error: function (ex) {
                    console.log('No pudo cargar los tipos: ' + ex);
                }
            });

            function aplicarEstilo() {
                $(".textenglishword p:nth-child(2)").addClass("texthidden");
                $(".segundoBloque font strong font:nth-child(1)").addClass("texthidden");
                $(".segundoBloque font p:nth-child(2)").addClass("textshow");
                $(".segundoBloque img").addClass("hidden");
            }

            $(".noticiasHome:first-child").addClass("active");

            $('.owl-carousel').owlCarousel({
                stagePadding: 50,
                loop: true,
                margin: 30,
                //autoplay: true,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        });
</script>