﻿
@model intra.Feed


<style>
    .rightt {
        display: inline-block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background: #A660B6;
        margin-right: 5px;
    }

        .rightt:after {
            content: '';
            display: inline-block;
            margin-top: 0.50em;
            margin-left: 0.40em;
            width: 1em;
            height: 1em;
            border-top: 0.3em solid #fff;
            border-right: 0.3em solid #fff;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    .arrow-rightWhiteLectura {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #000000 !important;
        display: inline-block;
        padding-right: 8px;
        float: left;
        margin-top: 2px;
    }

    .arrow-rightWhiteIngles {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #ffffff !important;
        display: inline-block;
        padding-right: 8px;
        float: left;
        margin-top: 2px;
    }

    .textenglishword{
        margin-top: -67px !important;
    }

    .texthidden{
        display:none !important;
    }
    
    .textshow{

    }

    .segundoBloque{
        margin-top:-26px !important;
        color:#fff !important;
        font-size:12px !important;
    }
    


</style>





<div class="col-lg-4 leftHomeContent">
    <div class="lecturaIngles">
        <div class="arrow-rightWhiteLectura"></div>
        <h3>Word of the  Day</h3>

        <div style="margin-top:0px;">
            <span class="inglestitle"></span> 
        </div>
        <br />
            <div class="segundoBloque">
        
            </div>
        <a href="" target="_blank" class="botonlecturaIngles"></a>

    </div>

</div>


<script type="text/javascript" >
    $(document).ready(function () {


        $.ajax({
            type: 'GET',
            url: '@Url.Action("palabra")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: {},
            success: function (states) {
                if (states != "Error") {
                    console.log(states);
                    var json = jQuery.parseJSON(states);
                    $(".inglestitle").append(json.titulo)
                    var arr = json.descripcion.split(". -");
                    for (var i in arr) {
                        var txt = "<br>" + arr[i] + "</br>";
                        $(".segundoBloque").append(txt);
                    }

                    aplicarEstilo();
                } else {

                }


            },
            error: function (ex) {
                console.log('No pudo cargar los tipos: ' + ex);
            }
        });

        function aplicarEstilo()
        {
            $(".textenglishword p:nth-child(2)").addClass("texthidden");
            $(".segundoBloque font strong font:nth-child(1)").addClass("texthidden");
            $(".segundoBloque font p:nth-child(2)").addClass("textshow");
            $(".segundoBloque img").addClass("hidden");
        }

  });
</script>