﻿@*model intra.Models.GestionHumana.ConcursoMadres.RH_ConcursoMadres*@

@{
    ViewBag.Title = "Concurso";
    Layout = "~/Views/intraMaster.cshtml";
}
 <style>
     .background-botones{
         background:#fff;
         box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
         padding: 20px;
         height: 35vh;
         border-radius: 15px;
         display:flex;
         flex-direction:column;
         flex-wrap:wrap;
         justify-content:center;
         align-items: center;
     }
 </style>
<h2 class="h2_title_page">Concuso Dia de Las Madres</h2>
<hr class="hr2">
<br /><br />
<section>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <div class="background-botones ">
                <button type="button" id="Participar" onclick="Concursar()" class="btn button_white btn-block">Concursar</button>
                 
                <button type="button" onclick="Votar()" id="VotarConcurso" class="btn button_white btn-block">Vota por tu madre favorita</button>

                <button type="button" id="Base del Concurso" class="btn button_white btn-block">Bases del Concurso</button>
            </div>
        </div>
    </div>
</section>


<script>
    function Concursar() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/RH_ConcursoMadres/CrearConcursante";
        //window.history.back();
    };
    function Votar() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/RH_ConcursoMadres/ListaConcursantes";
        //window.history.back();
    };
    
</script>

