﻿@model intra.Models.GestionHumana.ConcursoMadres.RH_ConcursoMadres

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/scripts/maskjs.js"></script>
@*<link href="~/Content/css/login2.css" rel="stylesheet" />*@
<style>
    .card-titulos {
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        margin: 25px 0 40px 0;
        display: flex;
        justify-content: center;
    }

    input[type=file].file {
        padding: 25px 10px 50px 10px;
    }

    .tamano-imagen-upload img{
        width:100%;
    }
    
    .alinear-derecha{
        text-align:right;
    }
</style>

<form id="FormConcursante" method="post" enctype="multipart/form-data">
    @*@using (Html.BeginForm("CrearConcursante", "Rh_ConcursoMadres", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
    @*{*@
    @*@Html.AntiForgeryToken()*@

    <h2 class="h2_title_page">Registo Concursante</h2>
    <hr class="hr2"/>
    <br /><br />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
          <div class="container">
              <div class="row card-titulos">
                  <input type="hidden" id="Empleado" name="Empleado" />
                  <form>
                    
                          @*<label class="col-lg-1 alejar_top alinear-derecha">Cédula</label>*@
                          <div class="col-lg-6 ">
                              <input type="text" id="Cedula" name="Cedula" placeholder="Introducir el numero de cédula" class="form-control " />
                          </div>
                          <div class="col-lg-2">
                              <a id="consulta" class="btn button_white"><i class="fa fa-search"> Consultar</i></a>
                          </div>
                    
                  </form>
              </div>
          </div>
    


    

    <div id="Concurso" hidden="hidden">
        <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label alejar_top alinear-derecha">Nombres y Apellidos</label>
                        <div class="col-sm-8">
                            <div>
                                <input type="text" id="Nombres" name="Nombres" class="form-control" required disabled="disabled" />
                                <input type="hidden" id="Nombre1" name="Nombre1" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="CantidadHijos" class="col-sm-4 col-form-label alejar_top alinear-derecha">Cantidad de Hijos</label>
                        <div class="col-sm-8">
                            <input type="text" id="CantidadHijos" name="CantidadHijos" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Dependencia" class="col-sm-4 col-form-label alejar_top alinear-derecha">Dependencia</label>
                        <div class="col-lg-8">
                            <input type="text" id="Dependencia" name="Dependencia" class="form-control" required disabled="disabled" />
                            <input type="hidden" id="DependenciaId" name="DependenciaId" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Departamento" class="col-sm-4 col-form-label alejar_top alinear-derecha">Departamento</label>
                        <div class="col-sm-8">
                            <input type="text" id="Departamento" name="Departamento" class="form-control" required disabled="disabled" />
                            <input type="hidden" id="DepartamentoId" name="DepartamentoId" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NumeroTelefono" class="col-sm-4 col-form-label alejar_top alinear-derecha">Número de contacto</label>
                        <div class="col-sm-8">
                            <input type="text" id="NumeroTelefono" required name="NumeroTelefono" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Correo" class="col-sm-4 col-form-label alejar_top alinear-derecha">Correo personal</label>
                        <div class="col-sm-8">
                            <input id="Correo" required type="text" name="Correo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Descripcion" class="col-sm-4 col-form-label alejar_top alinear-derecha">Comparte</label>
                        <div class="col-sm-8">
                            <textarea id="Descripcion" name="Descripcion" placeholder="¿Cuál es la experiencia como madre que más te ha marcado?" required class="form-control"></textarea>
                        </div>
                    </div>
                   
                    
                </form>
            </div>
            <div class="col-lg-4">
                <div class="col-sm-12">
                    <div id="image-holder" class="tamano-imagen-upload" name=""></div>
                    <input type="file" id="file" name="file" class="form-control file"/>
                    <button type="button" id="Guardar" onclick="GuardarConcursante()" class="btn btn-block button_white"><i class="fa-paper-plane alejar_icono"></i>Enviar</button>
                </div>
            </div>
        </div>            
     </div>
</form>



<script>
    $("#consulta").click(function () {
        $("#loading-animation-container").show();
        var request = $.ajax({
            url: '@Url.Action("BuscarCedula")',
            type: 'Post',
          
            data: { cedula: $("#Cedula").val() },
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success == false) {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                })
            }
            else {
                console.log(data);
                $("#Concurso").show();
                $("#Nombres").val(data.nombre);
                $("#Dependencia").val(data.dependencia);
                $("#Departamento").val(data.departamento);
                $("#DepartamentoId").val(data.departamentoid);
                $("#DependenciaId").val(data.dependenciaid);
                $("#NumeroTelefonos").val(data.telefono1);
                $("#Correo").val(data.Email);
                $("#CantidadHijos").val(data.Dependiente);
                $("#Empleado").val(data.empleadoid);
                $("#Cedula").val(data.cedula);
                document.getElementById("Nombre1").value = $("#Nombres").val();
                //document.getElementById("Dependencia").value = $("#DependenciaId").val();
                //document.getElementById("Departamento").value = $("#DepartamentoId").val();

            }
        });
    });

    $("#Cedula").mask("000-0000000-0");
    $("#NumeroTelefono").mask("(000)-000-0000");
</script>



<script>

$(".file").on('change', function () {

     //Get count of selected files
     var countFiles = $(this)[0].files.length;

     var imgPath = $(this)[0].value;
     var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
     var image_holder = $("#image-holder");
     image_holder.empty();

     if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
         if (typeof (FileReader) != "undefined") {

             //loop for each file selected for uploaded.
             for (var i = 0; i < countFiles; i++) {

                 var reader = new FileReader();
                 reader.onload = function (e) {
                     $("<img />", {
                         "src": e.target.result,
                             "class": "thumb-image"
                     }).appendTo(image_holder);
                 }

                 image_holder.show();
                 reader.readAsDataURL($(this)[0].files[i]);
             }

         } else {
             alert("This browser does not support FileReader.");
         }
     } else {
         alert("Pls select only images");
     }
 });

</script>



<script>
    function GuardarConcursante(e) {

        var formInput = document.getElementById('file');
        var dependenciaid2 = $("#DependenciaId").val();  
        var departamendoid2 = $("#DepartamentoId").val();
        var nombre2 = $("#Nombre1").val(); 
        var NumeroTelefonos2 = $("#NumeroTelefono").val(); 
        var Correo2 = $("#Correo").val(); 
        var Dependiente = $("#CantidadHijos").val(); 
        var Empleado1 = $("#Empleado").val(); 
        var identificacion = $("#Cedula").val();
        var Nota = $("#Descripcion").val();

        //FormData Formulario
        var formulario = $("#FormConcursante").serialize();
        var formData = new FormData(formulario);
        var archivo = formInput.files[0];
        formData.append('file', archivo);    
        formData.append('Nombre1', nombre2);
        formData.append('Correo', Correo2);
        formData.append('NumeroTelefonos', NumeroTelefonos2);
        formData.append('CantidadHijos', Dependiente);
        formData.append('Cedula', identificacion);
        formData.append('Descripcion', Nota);
        formData.append('DepartamentoId', departamendoid2);
        formData.append('DependenciaId', dependenciaid2);
        formData.append('Empleado', Empleado1);

        $("#loading-animation-container").show();

        var request = $.ajax({
        type: 'Post',
        url: '@Url.Action("CrearConcursante")',
        contentType: false,
        processData: false,
        data: formData,
    });
        request.done(function (data) {
            if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    Votar();
                   // window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/Rh_ConcursoMadres/CrearConcursante";               
                });
                $("#loading-animation-container").hide();
            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });

                $("#loading-animation-container").hide();
            }
        });
    }
</script>
<script>
 function Votar() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/RH_ConcursoMadres/ListaConcursantes";
        //window.history.back();
 };
</script>