﻿@model intra.Models.GestionHumana.ConcursoMadres.RH_ConcursoMadres

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<section class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Datos del Participante</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top btn-group botones">
            <button type="button" id="Declinar" name="Declinar" onclick="cerrar()" class="btn button_white"><i class="fa fa-close alejar_icono"></i>Cerrar</button>
            <button type="button" id="pendiente" name="pendiente" onclick="VerPendiente()" class="btn button_white"><i class="fa fa-eye alejar_icono"></i>Ver Pendientes</button>

        </div>

    </div>
</section>
<br />
<br />

<section class="row">
    <div><img src="@Model.Imagen" /></div>
    <div><p style="font-weight:bold">Nombre: @Model.Nombres.ToUpper()</p></div>
    <div><p style="font-weight:bold">Dependencia: @ViewBag.Dependencia </p></div>
    <div><p style="font-weight:bold">Departamento: @ViewBag.Departamento </p></div>
    <div><p style="font-weight:bold">Cantidad de Hijos: @Model.CantidadHijos</p></div>
    <div><p style="font-weight:bold">Correo: @Model.Correo</p></div>
    <div><p style="font-weight:bold">Frase: @Model.Descripcion</p></div>
   

</section>




<script>
    function cerrar() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/Home/Index";
        //window.history.back();
    };

    function VerPendiente() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/RH_ConcursoMadres/ListaConcursoMadres";
        //window.history.back();
    };

</script>