﻿@model intra.Models.GestionHumana.ConcursoMadres.RH_ConcursoMadres

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<section class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Motivo Cancelación</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top btn-group botones">
            <button type="button" id="Declinar" name="Declinar" onclick="cerrar()" class="btn button_white"><i class="fa fa-close alejar_icono"></i>Cerrar</button>
        </div>

    </div>
</section>

<section class="row">
    <label>Motivo</label>

    <textarea id="MotivoCancelacion" name="MotivoCancelacion" cols="10"  class="form-control" rows="10">@Model.MotivoCancelacion</textarea>
    <input type="hidden" id="CancelarParticipante" name="CancelarParticipante" />
</section>

<script>
    function cerrar() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/Home/Index";
        //window.history.back();
    };

</script>