﻿@model IEnumerable<intra.Models.GestionHumana.ConcursoMadres.RH_ConcursoMadres>

@{
    ViewBag.Title = "Lista Concurso Madres";
    Layout = "~/Views/intraMaster.cshtml";
    dbIntranet db = new dbIntranet();
}

<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/css/fotos.css" rel="stylesheet" />

<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
<script src="~/Content/slider/amazingslider.js"></script>
<script src="~/Content/slider/initslider-1.js"></script>

<link href="~/Content/css/imageviewer.css" rel="stylesheet" />
<link href="~/Content/css/demo.css" rel="stylesheet" />
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/set1.css" rel="stylesheet" />

@*<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
    <script src="~/Content/slider/amazingslider.js"></script>
    <script src="~/Content/slider/initslider-1.js"></script>*@

<!-- Magnific Popup core CSS file -->
<link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
<!-- Magnific Popup core JS file -->
<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
<style>
    .card-body {
        padding: 10px 15px;
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }

    .card-img {
        width: 100%;
        height: 221px;
    }

    .icon-links a i {
        color: #848484;
        padding-left: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

        .icon-links a i:hover {
            color: #616161;
        }

    igure.effect-zoe:hover p.icon-links a:hover,
    figure.effect-zoe:hover p.icon-links a:focus {
        background-color: white !important;
    }

    .botones-votacion{
        display:flex;
        justify-content:space-between;
    }

    .card-titulos {
       box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        margin: 25px 0 40px 0;
        display: flex;
        justify-content: center;
    }
    

    figcaption span {
        font-size: 16px;
    }

    .modal-content {
        height: 502px;
    }

    .bla {
        font-weight: 200;
    }

    .btn-votar {
        cursor: pointer;
         margin: 0 auto;
    }

    .btn-aceptar {
        background: green;
        transition: all .5s ease-in-out;
    }

        .btn-aceptar:hover {
            background: -webkit-linear-gradient(left, #047312, #61ce3a) !important
        }
    
    .btn-cancelar{
        background: red;
    }
        .btn-cancelar:hover {
            background: linear-gradient(to left, #de0d0d, #a00f0f );
        }

    .btn-cancelar, .btn-aceptar {
        display: flex;
        justify-content: center;
        align-items: center;
     
        transition: all .5s ease-in-out;
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        border-radius:5px
    }

</style>


<h2 class="h2_title_page">Lista participantes Pendiente de Aprobación</h2>

<hr class="hr2">
<br /><br />
<form id="consultar2" method="post">
    <section class="row card-titulos">
        <input type="hidden" id="Empleado" name="Empleado" />
        <div class="col-lg-6">
            <input type="text" id="Busqueda" name="Busqueda" placeholder="Busqueda por nombre" class="form-control" />
        </div>
        <div class="col-lg-2">
            <button type="submit" id="Consulta" class="btn button_white consulta"><i class="fa fa-search"> Consultar</i></button>
            @*<a id="consultar" onclick="consultas()" class="btn button_white consulta">Consultar</a>*@
        </div>
    </section>
</form>

<div class="row cf" id="image-gallery-1">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4">
            <input type="hidden" class="codigo" id="codigoConcursante" value="@item.ConcursanteId" />
           
            <div class="card" >
                <div class="card-image popup-gallery-@item.ConcursanteId hovereffect">
                <img class="AlbumSlide_@item.ConcursanteId. card-img gallery-items" src="@item.Imagen" />
                </div>
                <div class="card-body">
                    <label>@item.Nombres.ToUpper()</label>
                    <br />
                    <label>Madre de (@item.CantidadHijos) hijo(s)</label>
                    <br />
                    <label>@item.Descripcion.ToUpper()</label>
                    <br />
                    <div class="botones-votacion">
                        <span type="button" id="Cancelar" name="Cancelar" onclick="Cancelar(@item.ConcursanteId)" class="btn-votar btn-cancelar">Cancelar</span>
                        <span type="button" onclick="AprobarConcursante(@item.ConcursanteId)" class="btn-votar btn-aceptar"> Aceptar</span>
                    </div>

                    
                </div>
            </div>
        </div>



        <script>

                                    $(document).ready(function () {
                                        var myIndex = 0;
                                    carousel@(item.ConcursanteId)();

                                    function carousel@(item.ConcursanteId)() {
                                        //var i;
                                        var x = document.getElementsByClassName('AlbumSlide_@item.ConcursanteId');

                                        for (var i = 0; i < x.length; i++) {
                                            x[i].style.display = "none";
                                        }

                                        myIndex++;

                                        if (myIndex > x.length) {
                                            myIndex = 1
                                        }

                                        x[myIndex - 1].style.display = "block";
                                        setTimeout(carousel@(item.ConcursanteId), 5000);
                                        fadeIn(5000);
                                        fadeOut(5000);
                                    }
                                    })


                        /**GALLERY MODAL**/
                        $(document).ready(function () {
                            $('.popup-gallery-@item.ConcursanteId').magnificPopup({
                                delegate: 'a',
                                type: 'image',
                                tLoading: 'Loading image #%curr%...',
                                mainClass: 'mfp-img-mobile',
                                gallery: {
                                    enabled: true,
                                    navigateByImgClick: true,
                                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                                },
                                image: {

                                }
                            });
                        });

        </script>
    }
</div>

<div id="myModal" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <section class="row">
                <div class="col-md-6">
                    <h2 class="h2_title_page">Cancelar Participante</h2>
                    <hr class="hr2" />
                </div>
                <div class="col-md-6">
                    <div class="pull-right alejar_top btn-group botones">
                        <button type="button" id="Enviar" name="Enviar" onclick="EnviarCancelacion()" class="btn button_white">Enviar</button>
                        <button type="button" id="Declinar" name="Declinar" class="btn button_white cerrar">Cerrar</button>                    </div>

                </div>
            </section>

            <section class="row">
                <label>Motivo</label>

                <textarea id="MotivoCancelacion" name="MotivoCancelacion" cols="10" required class="form-control" rows="10"></textarea>
               <input type="hidden" id="CancelarParticipante" name="CancelarParticipante" />
            </section>

        </div>
    </div>
</div>


@*<script>
                $(document).ready(function () {
                    $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
                    $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
                    $(".amazingslider-arrow-right-1").append('<img class="flechas" src="~/content/slider/lightbox-navnext.png"/>');
                    $(".amazingslider-arrow-left-1").append('<img class="flechas" src="~/content/slider/lightbox-navprev.png"/>');
                });
               
</script>*@

<script>
    function Cancelar(a) {
        $('#myModal').modal();
        $('#CancelarParticipante').val(a);
        
    };

        $('.cerrar').click(function () {
            $('#myModal').modal('hide');
          
        });
 
</script>

<script>
   
    function AprobarConcursante(a) {
        $("#loading-animation-container").show();
        var Concurso = $(".codigo").val();
        var request = $.ajax({
            url: '@Url.Action("AprobacionConcursante")',
            type: 'Post',
            data: { idConcursante: a },
        });
        request.done(function (data) {
            if (data.success == true) {
                swal({
                    title: 'Solicitud Aprobada',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { location.reload();});
                 
                $("#loading-animation-container").hide();
            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });

                $("#loading-animation-container").hide();
            }
        });
    }


</script>

<script>
    function EnviarCancelacion() {
      
      var id =  $("#CancelarParticipante").val();

        swal({
            title: 'Estas Seguro de que quieres cancelar esta participante?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Cancelar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            $("#loading-animation-container").show();
          $.ajax({
                type: 'POST',
                data: { idConcursante: id, motivo: $("#MotivoCancelacion").val() },
                url: "@Url.Action("CancelacionConcursante")",
                success: function (data) {
                    $("#loading-animation-container").hide();
                    if (data == 'Cancelada') {
                        success(data);
                        //CargarCarreras();
                        
                        return data;

                    } else {
                        error('A ocurrido un error, refresque la pagina y trate otra vez.');
                        $("#loading-animation-container").hide();
                    }
                },
            error: function (ex) {
                error('Un error ha ocurrido.');
            }
          });
            $('#myModal').modal('hide');
            Recargar();
    })


    }
</script>

<script>
    function Recargar() {
        location.reload();
    };
</script>