﻿@model IEnumerable<intra.Models.GestionHumana.ConcursoMadres.RH_ConcursoMadres>

@{
    ViewBag.Title = "Lista Concurso Madres";
    Layout = "~/Views/intraMaster.cshtml";
    dbIntranet db = new dbIntranet();
    var usuarioId = Session["empleadoId"].ToString();
    ViewBag.usuario = usuarioId;
}

<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/css/fotos.css" rel="stylesheet" />

<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
<script src="~/Content/slider/amazingslider.js"></script>
<script src="~/Content/slider/initslider-1.js"></script>

<link href="~/Content/css/imageviewer.css" rel="stylesheet" />
<link href="~/Content/css/demo.css" rel="stylesheet" />
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/set1.css" rel="stylesheet" />

@*<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
    <script src="~/Content/slider/amazingslider.js"></script>
    <script src="~/Content/slider/initslider-1.js"></script>*@

<!-- Magnific Popup core CSS file -->
<link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
<!-- Magnific Popup core JS file -->
<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
<style>
    .card-body {
        padding: 10px 15px;
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .card-img {
        width: 100%;
        height: 221px;
    }

    .icon-links a i {
        color: #848484;
        padding-left: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

        .icon-links a i:hover {
            color: #616161;
        }

    .botones-votacion {
        display: flex;
        justify-content: space-between;
    }

    .card-titulos {
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        margin: 25px 0 40px 0;
        display: flex;
        justify-content: center;
    }

    igure.effect-zoe:hover p.icon-links a:hover,
    figure.effect-zoe:hover p.icon-links a:focus {
        background-color: white !important;
    }

    figcaption span {
        font-size: 16px;
    }

    .modal-content {
        height: 502px;
    }

    .bla {
        font-weight: 200;
    }







    .btn-votar {
        width: 50px !important;
        height: 50px !important;
        cursor: pointer;
        border-radius: 100%;
        margin: 0 auto;
    }

    .btn-me-gusta {
        background: #0d48a1;
        transition: all .5s ease-in-out;
    }

        .btn-me-gusta:hover {
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        }

    .btn-no-me-gusta {
        background: #555555;
        /*transform: rotate(180deg);*/
        transition: all .5s ease-in-out;
    }

        .btn-no-me-gusta:hover {
            background: linear-gradient(to left, #808080, #cccccc );
            /*transform: rotate(180deg);*/
        }

    .btn-no-me-gusta, .btn-me-gusta {
        width: inherit;
        border-radius: inherit;
    }
</style>

<h2>Lista de Concursantes</h2>
<form id="consultar2" method="post">
    <section class="row card-titulos">
        <input type="hidden" id="Empleado" name="Empleado" />
        <div class="col-lg-3">
            <label>Filtrar Por:</label>
            <div>
                <div>
                    <select id="filtro" name="filtro" class="filtro">
                        <option value="">Seleccione</option>
                        <option value="1">Nombre</option>
                        <option value="2">Dependencia</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-lg-3 nombres alejar_top" hidden="hidden">

            <input type="text" id="Busqueda" name="Busqueda" placeholder="Busqueda por nombre" value="@ViewBag.Participante" class="form-control" />
        </div>
        <div class="col-lg-3 dependencia" hidden>
            <label>Dependencia</label>
            <div>
                @Html.DropDownList("dependencias", null, "Seleccione el Dependencia", new { @class = "form-control chosen-select" })

            </div>
        </div>
        <div class="col-lg-3 alejar_top">
            <button type="submit" id="Consulta" class="btn button_white consulta"><i class="fa fa-search"> Consultar</i></button>
            @*<a id="consultar" onclick="consultas()" class="btn button_white consulta">Consultar</a>*@
        </div>
    </section>
</form>
<div class="row cf" id="image-gallery-1">
    <div class="col-lg-12">
        @foreach (var item in Model)
        {

            <div class="col-lg-3 col-md-4">
                <input type="hidden" class="estado" id="EstadoConcursante" value="@item.EstadoConcursoId" />
                <input type="hidden" class="usuario" id="usuario" name="usuario" value="@ViewBag.usuario" />
                <input type="hidden" id="Dependencias" name="Dependencias" value="@ViewBag.Dependencia" />
                <div class="card">
                    <div class="card-image popup-gallery-@item.ConcursanteId hovereffect">
                        <img class="AlbumSlide_@item.ConcursanteId. card-img gallery-items" src="@item.Imagen" />
                    </div>
                    <div class="card-body">
                        <label>@item.Nombres.ToUpper()</label>
                        <br />
                        <label>Madre de (@item.CantidadHijos) hijo(s)</label>
                        <br />
                        <label>@item.Descripcion.ToUpper()</label>
                        <br />
                        @{
                            int usuarioVotos = int.Parse(Session["empleadoId"].ToString());

                            var voto = item.Votos.FirstOrDefault(x => x.UsuarioId == usuarioVotos && x.ConcursanteId == item.ConcursanteId);
                            <label>@item.ConteoFinal votos</label>
                        }
                        @if (voto?.VotoConteo == 0 || voto == null)
                        {

                            <div id="votar" onclick="VotarConcursante(@item.ConcursanteId)" class="votar btn-votar "><img src="~/Content/images/svg/me-gusta.svg" class="btn-no-me-gusta" /></div>
                        }
                        else
                        {
                            @*<label>@item.ConteoFinal votos</label>*@
                            <div id="cancelarVoto" class="cancelarVoto btn-votar" onclick="CancelarVotarConcursante(@item.ConcursanteId)"><img src="~/Content/images/svg/me-gusta.svg" class="btn-me-gusta" /></div>
                        }
                    </div>
                </div>
            </div>
            <script>

                $(document).ready(function () {
                    var myIndex = 0;
                    carousel@(item.ConcursanteId)();

                    function carousel@(item.ConcursanteId)() {
                        //var i;
                        var x = document.getElementsByClassName('AlbumSlide_@item.ConcursanteId');

                        for (var i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }

                        myIndex++;

                        if (myIndex > x.length) {
                            myIndex = 1
                        }

                        x[myIndex - 1].style.display = "block";
                        setTimeout(carousel@(item.ConcursanteId), 5000);
                        fadeIn(5000);
                        fadeOut(5000);
                    }
                })


                /**GALLERY MODAL**/
                $(document).ready(function () {
                    $('.popup-gallery-@item.ConcursanteId').magnificPopup({
                        delegate: 'a',
                        type: 'image',
                        tLoading: 'Loading image #%curr%...',
                        mainClass: 'mfp-img-mobile',
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                        },
                        image: {

                        }
                    });
                });

            </script>

                            }
    </div>

</div>




@*<script>
    $(document).ready(function () {
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-arrow-right-1").append('<img class="flechas" src="~/content/slider/lightbox-navnext.png"/>');
        $(".amazingslider-arrow-left-1").append('<img class="flechas" src="~/content/slider/lightbox-navprev.png"/>');
    });

</script>*@



<script>

    function VotarConcursante(a) {
        $("#loading-animation-container").show();
        var Estado = $(".estado").val();
        var usuario = $("#usuario").val();
        var request = $.ajax({
            url: '@Url.Action("VotacionConcursante")',
            type: 'Post',
            data: { idConcursante: a, EstadoId: Estado, UsuarioId: usuario },
        });
        request.done(function (data) {
            if (data.success == true) {
                swal({
                    title: 'Solicitud Aprobada',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { location.reload(); });

                $("#loading-animation-container").hide();
            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });

                $("#loading-animation-container").hide();
            }
        });
    }


</script>



<script>
    function Recargar() {
        location.reload();
    };
</script>

<script>

    function CancelarVotarConcursante(a) {
        $("#loading-animation-container").show();
        var Estado = $(".estado").val();
        var usuario = $("#usuario").val();
        var request = $.ajax({
            url: '@Url.Action("CancelarVotacionConcursante")',
            type: 'Post',
            data: { idConcursante: a, EstadoId: Estado, UsuarioId: usuario },
        });
        request.done(function (data) {
            if (data.success == true) {
                swal({
                    title: 'Solicitud Aprobada',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { location.reload(); });

                $("#loading-animation-container").hide();
            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });

                $("#loading-animation-container").hide();
            }
        });
    }


</script>

<script>
    function consultas() {
        var concursante = $("#Nombres").val();
        var request = $.ajax({
            url: '@Url.Action("ListaConcursantes")',
            type: 'Post',
            data: { nombre: concursante, },
        });
        request.done(function (data) {
            if (data) {
                console.log(data);
                window.location.href = "@Url.Action("ListaConcursantes")/" + concursante;

            }
        })
    };

</script>

<script>
    $(document).ready(function () {

        $('.filtro').on('change', function () {
            if ($("#filtro").val() == "1") {
                $(".dependencia").hide();
                $(".nombres").show();

            } else if ($("#filtro").val() == "2") {
                $(".nombres").hide();
                $(".dependencia").show();
            } else {

                $(".nombres").hide();
                $(".dependencia").hide();
            }
        })
    })
</script>