﻿@model intra.Models.RequisicionesCompra.vw_REQUISICION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>vw_REQUISICION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REQUISICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REQUISICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ENTRADA_SISTEMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ENTRADA_SISTEMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_PROCESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_PROCESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NO_REQUISICION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
