﻿@model IEnumerable<intra.Models.RequisicionesCompra.vw_REQUISICIONGRUPOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
@{ 
    var datos = ViewBag.datos;
    
}



@Styles.Render("~/datatables/css")


<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">REQUISICIONES DE COMPRAS PEDIENTES</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">
            <h4>Existen <span class="estatus estatus_rechazado">@ViewBag.CantidadPendiente</span> Requisiciones</h4>
        </div>
    </div>
</div>

 

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Requisición")
            </th>
            <th>
                @Html.DisplayName("TIPO DE COMPRA")
            </th>
            <th>
                @Html.DisplayName("FECHA SOLICITUD")
            </th>
            <th>
                @Html.DisplayName("ENTRADA SISTEMA")
            </th>
            <th>
                @Html.DisplayName("ESPERA PROCESAR")
            </th>
            <th>
                @Html.DisplayName("ESPERA DE COMPRA")
            </th>
            <th>
                @Html.DisplayName("DEPARTAMENTO")
            </th>
            <th>
                @Html.DisplayName("EMPLEADO")
            </th>
            <th>
                @Html.DisplayName("ESTADO")
            </th>
         
            <th>
            </th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var Digitar = item.FECHA_ENTRADA_SISTEMA - item.FECHA_REQUISICION;
            ViewBag.Digitar = Digitar.TotalDays;

            var Compra = DateTime.Now.Date - item.FECHA_REQUISICION;
            ViewBag.Compra = Compra.TotalDays;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NO_REQUISICION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_DE_COMPRA)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_REQUISICION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_ENTRADA_SISTEMA)
                </td>

                <td>
                    @ViewBag.Digitar Dias
                </td>
                <td>
                    @ViewBag.Compra Dias
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPTO)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EMPLEADO)
                </td>
                <td> @Html.DisplayFor(modelItem => item.ESTADO_PROCESO)</td>
              <td>
                    @Html.ActionLink("Ver Productos", "requisiciones", new { id = item.NO_REQUISICION }, new  {@class= "estatus estatus_informacion" })
                </td>
            </tr>

        }
    </tbody>

</table>


@Scripts.Render("~/datatables/js")