﻿@model IEnumerable<intra.Models.RequisicionesCompra.vw_REQUISICION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">DETALLE DE PRODUCTOS</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">

            <button type="button" id="Volver" onclick="volver()" name="Volver" class="button_white">Volver</button>
           
        </div>
    </div>
</div>



<table id="table4" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("PRODUCTO")
            </th>

            <th>
                @Html.DisplayName("DETALLE DE PRODUCTO")
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPCIÓN)
                </td>
            </tr>

        }
    </tbody>

</table>


<script>
    $(document).ready(function () {
        $('#table4').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true



        })
    });
</script>
<script>
    function volver ()
    {
        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath" + "/Requisiciones/Index";
    }

</script>