﻿@model intra.Models.FlotasExtensiones.FlotaExtensionEmpleado

@{
    ViewBag.Title = "Actualizar Extensiones";
    Layout = null;
}

@{ 
    dbIntranet db = new dbIntranet();
    

}
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<style>
    .chosen-container {
        width: 100% !important;
    }

    .tecnico {
        width: 82% !important;
    }

    .modal-content {
        width: 727px;
        height: 292px;
    }
</style>


<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

</script>
@using (Html.BeginForm())
{
 @Html.AntiForgeryToken()

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@*@Html.HiddenFor(model => model.FlotExtEmpId)*@
<input type="hidden" id="FlotaId" name="FlotaId" />
<input type="hidden" id="EmpleadoId" name="EmpleadoId" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="h2_title_page">Actualizar Extensiones</h2>
                <hr class="hr2" />
            </div>
            <div class="col-lg-6">
                <a style="margin-top:15px;" id="Guardar" name="Guardar" onclick="ActualizarExtensiones()" class="btn button_white">Guardar</a>
            </div>
        </div>
    </div>
</section>


<div class="row">
    <div class="form-group alejar_top" style="margin:0px;">

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <h5>Ingresar Extensión</h5>
            </div>
            <div class="col-md-8">
                <input type="text" style="width:100%; height:30%;" id="Extesion"  name="Extesion" class="form-control" />

            </div>

        </div>
    </div>

    <div class="form-group" style="margin-top:5px;">
        <div class="form-group col-md-12">
            <div class="col-md-4">
                <h5> Seleccionar Empleado</h5>
            </div>
            <div class="col-md-8">
                <input disabled type="text" style="width:100%; height:30%;" id="EmpleadoNombre" name="EmpleadoNombre"  class="form-control" />
            </div>

        </div>
    </div>

 

</div>

}
<script>
    function ActualizarExtensiones() {
        $("#loading-animation-container").show();
        var Id = $("#EmpleadoId").val();
        var Extensiones = $("#Extesion").val();
        var request = $.ajax({
            url: '@Url.Action("ActualizarExtensiones")',
            type: 'Post',
            dataType: 'Json',
            data: { codigo: Id, Extension: Extensiones },
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success) {

                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                }).then(Consultar());
            }

            else {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(Consultar());

            }
        });
    };

  
</script>
