﻿@model IEnumerable<intra.Models.FlotasExtensiones.AsignacionFlots>

@using intra.Code;
@{
    ViewBag.Title = "Consulta de Flotas y Extensiones";
    Layout = null;
    var CorreosEmpleado = ViewBag.Email;
    //Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

@*<section class="row">
        <div class="col-lg-10">
            <h2 class="h2_title_page">Flotas</h2>
            <hr class="hr2" />
        </div>
    </section>*@

<table id="table4" class="table table-striped table-hover responsive display tableGrid no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Flota
            </th>

            <th>
                Extensión/IP
            </th>
            <th>
                Departamento
            </th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //ViewBag.Correo = Utilities2.obtenerCorreoUsuario(item.AsignacionCedula);
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.AsignacionEmpleado)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsignacionNoFlota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsignacionExt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AsignacionDepto)
                </td>
                <td>
                    
                        <button type="button" id="BusCorreo" name="BusCorreo" onclick="ConsultaCorreo(@item.AsignacionEmpleadoId)" class="btn button_white codigo">Consultar</button>
                         @*@*<label id="correo"  name="correo" hidden="hidden">@ViewBag.Email</label>*@
                
                    @*@if (ViewBag.Correo == "NO TIENE")
                        {
                            @ViewBag.Correo;
                        }
                        else
                        {
                            @ViewBag.Correo<text>@@pgr.gob.do</text>
                        }*@


                </td>

            </tr>
        }
    </tbody>
</table>



<script>
    function ConsultaCorreo(id) {
        var request = $.ajax({
            url: '@Url.Action("BuscarCorreo")',
            type: 'Post',
            data: { codigoEmpleado: id },
        });
        request.done(function (data) {
            if (data.success == true) {
                console.log(data);
                $("#myModal2").modal();
                $("#Correos").val(data);
               
            }
            else {
                console.log(data);
                $("#myModal2").modal();
                $("#Correos").val(data);
               
            }
        });
    };

 
</script>
<script>
    $(document).ready(function () {
        $("#Cerrar").click(function () {
            $('#myModal2').modal('hide');
        });
    });
</script>


<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
           
            <form id="formCorreo">
                <input type="hidden" id="correo1" value="@ViewBag.Email" name="correo2" />
                
                <div class="row" style="margin:0;">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" style="margin: 0;">
                               <h4>Correo</h4>
                            <div class="col-md-12">
                              <h2 id="CorreoEmpleado"@ViewBag.Email</h2>
                                <input type="text" id="Correos" name="correos" disabled="disabled" />
                                
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="button" id="Cerrar" value="Cerrar" class="btn btn-default button_white" style="margin-left: 2%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>


        
         </div>
</div>
</div>