﻿@model  intra.Models.FlotasExtensiones.AsignacionFlots

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}



<script src="~/scripts/jquery.maskedinput.js"></script>


<script type="text/javascript">

    //var cedulaEmpleado = $("#AsignacionCedula").val();


    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("body").addClass("loading");
        });
        $(document).ajaxComplete(function () {
            $("body").removeClass("loading");
        });

        $("#AsignacionCedula").on("blur", CargarEmpleado);

    });

    @*function CargarEmpleado() {

        if (cedulaEmpleado == "") {

            var request = $.ajax({
                url: '@Url.Action("GetEmpleado")',
                type: "GET",
                data: { cedula: cedulaEmpleado },
                contentType: "application/json; charset=utf-8"
            });

            request.done(function (data) {
                $("#AsignacionEmpleadoId").val(data.empleadoid);
                $("#dptoEmpleado").val(data.departamentoid);
                $("#cargoEmpleado").val(data.cargo);
                $("#AsignacionEmpleado").val(data.nombre);
                $("#depto").val(data.departamento);

            });

            request.fail(function(jqXHR, textStatus) {
                alert("Esta cedula es invalidad o no existe en el sistema ");
                $("#AsignacionCedula").val('');
                $("#AsignacionCedula").focus();
            });

        }*@

    function CargarEmpleado() {

        var cedulaEmpleado = $("#AsignacionCedula").val();

        if (cedulaEmpleado != "") {

            var characterReg = /^\d{3}-\d{7}-\d{1}$/;

            var valido = (characterReg.test(cedulaEmpleado));

            if (characterReg.test(cedulaEmpleado)) {

                $('#cedulaValida').text('');

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetEmpleado")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: { cedula: cedulaEmpleado },
                    success: function (data) {

                        $("#AsignacionEmpleadoId").val(data.empleadoid);
                        $("#dptoEmpleado").val(data.departamentoid);
                        $("#cargoEmpleado").val(data.cargo);
                        $("#AsignacionEmpleado").val(data.nombre);
                        $("#AsignacionDepto").val(data.departamento);
                    },
                    error: function (ex) {
                        alert("Esta cedula es invalidad o no existe en el sistema ");
                        $("#AsignacionCedula").val('');
                        $("#AsignacionCedula").focus();
                    }
                })
            } else {

                $('#cedulaValida').text('Cedula Invalida');

            }

        }

    }

</script>

<script type="text/javascript">

    function load_modelos()
    {
        $("#ModeloId").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Modelo")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ marca: ' + $("#MarcaId").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#ModeloId").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    $(document).ready(function () {

        $("#MarcaId").change(function () {

            load_modelos();
            return false;
        })
    });

</script>

<style>
    .panelLoading {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url("/intra/Content/images/ajax-loader.gif") 50% 50% no-repeat;
    }

    body.loading {
        overflow: hidden;
    }

    #showPolicy {
        padding: 10px 10px 0 10px;
    }

    body.loading .panelLoading {
        display: block;
    }
</style>

<div class="row alejar_top">
    <div class="col-lg-6">
        <h2>Crear Registro</h2>
    </div>
    <div class="col-lg-6">
        <div class="pull-right actualizarDatos">
            <button type="button" id="Guardar" onclick="CrearFlota()" class="button_white alejar_top"><i class="fa fa-save alejar_icono"></i>Guardar</button>
            <a class="btn button_white alejar_top" href="~/AsignacionFlots/"><i class="fa fa-chevron-circle-left alejar_icono"></i>Volver</a>
        </div>
    </div>
</div>

<section class="serviciosSolicitud alejar_top">
    <div class="panelLoading"></div>

        <form id="frmCrearFlota"  enctype="multipart/form-data">
            <input type="hidden" id="IdReporte" name="IdReporte" />
            <section class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4">
                        <label>Cédula</label>
                        <div>
                            @Html.EditorFor(model => model.AsignacionCedula, new { htmlAttributes = new { @class = "form-control", @placeholder = "000-0000000-0" } })
                            <span class="field-validation-error text-danger" id="cedulaValida"></span>
                            @Html.ValidationMessageFor(model => model.AsignacionCedula, "", new { @class = "text-danger" })
                        </div>
                        <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
                            <img src="/intra/Content/images/ajax-loader.gif" width="64" height="64" /><br>Loading..
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Código</label>
                        <div>
                            <input type="text" id="AsignacionEmpleadoId" name="AsignacionEmpleadoId" value="" class="form-control" />
                            @Html.ValidationMessageFor(model => model.AsignacionEmpleadoId, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label>Nombre</label>
                        <div>
                            <input type="text" id="AsignacionEmpleado" name="AsignacionEmpleado" value="" class="form-control" />
                            @Html.ValidationMessageFor(model => model.AsignacionEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <input type="text" id="dptoEmpleado" name="deptoEmpleado" value="" hidden />

                    <div class="col-md-4">
                        <label>Departamento</label>
                        <div>
                            <input type="text" id="AsignacionDepto" name="AsignacionDepto" value="" class="form-control" />
                            @Html.ValidationMessageFor(model => model.AsignacionDepto, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label>Cargo</label>
                        <div>
                            <input type="text" id="cargoEmpleado" name="cargoEmpleado" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Marcas</label>
                        <div>
                            @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marcas)
                            @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Modelos</label>
                        <div>
                            @Html.DropDownList("ModeloId", (SelectList)ViewBag.Modelos)
                            @Html.ValidationMessageFor(model => model.ModeloId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>IMEI</label>
                        <div>

                            @Html.EditorFor(model => model.AsignacionImei, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsignacionImei, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-4">
                        <label>Número.Ref</label>
                        <div>

                            @Html.EditorFor(model => model.AsignacionNoReferencia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsignacionNoReferencia, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

                <div class="row">
                  
                    <div class="col-md-4">
                        <label>#SIM</label>
                        <div>
                            @Html.EditorFor(model => model.AsignacionSimNumeracion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsignacionSimNumeracion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">

                        <label>Despachado</label>
                        <div>
                            @Html.EditorFor(model => model.AsignacionDespachado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsignacionDespachado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">

                        <label>No. Flota</label>
                        <div>
                            @Html.EditorFor(model => model.AsignacionNoFlota, new { htmlAttributes = new { @class = "form-control", @placeholder = "000-000-0000" } })
                            @Html.ValidationMessageFor(model => model.AsignacionNoFlota, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-4">

                        <label>Costo del Equipo</label>
                        <div>
                            @Html.EditorFor(model => model.AsignacionCosto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsignacionCosto, "", new { @class = "text-danger" })
                        </div>
                    </div>

               
                    <div class="col-lg-4">
                        <label>Estatus</label>
                        <div>
                            @Html.DropDownList("EstatusId", (SelectList)ViewBag.Estatus, new {@class= "form-control" })
                            @Html.ValidationMessageFor(model => model.EstatusId, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label>Extension</label>

                        <div>
                            @Html.EditorFor(model => model.AsignacionExt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsignacionExt, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </section>
          
        </form>
</section>



<script>

    $("#AsignacionCedula").mask('999-9999999-9');
    $("#AsignacionNoFlota").mask('999-999-9999');

    CargarEmpleado();
</script>


<script>
    function CrearFlota() {
        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("Create")',
            type: 'Post',
            data: $("#frmCrearFlota").serialize(),
            success: function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {
                    swal({
                        title: "",
                        text: data.Mensaje + ", Desea imprimir el reporte?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#70db70",
                        confirmButtonText: "Sí"
                    }).then(function () {
                       
                        BuscarIdUltimoRegistros();

                    });
                    $("#frmCrearFlota")[0].reset();
                }
                            },
                            error: function (ex) {
                                swal({
                                    title: 'Error',
                                    text: data.Mensaje,
                                    type: 'error',
                                    confirmButtonColor: '#18212f',
                                    confirmButtonText: 'Aceptar'
                                });
                            }
                        });
            //        });
            //    };
            //}
        //});
    }

</script>
      
<script>

    function BuscarIdUltimoRegistros() {
        $.ajax({
            url: '@Url.Action("ObtenerIdFlota")',
            type: 'Post',
            success: function (data) {
                if (data) {
                    var id = data;
                    var url = "@HttpRuntime.AppDomainAppVirtualPath/AsignacionFlots/DetailsReport/" + id;
                    window.open(url, "_blank");

                } else {
                    swal('Error',
                        'Ha orcurrido un error al intentar imprimir el reporte verificar',
                        'error');
                }
            }
        });
    };
  
</script>

