﻿@model intra.Models.FlotasExtensiones.FlotaExtensionEmpleado

@{
    ViewBag.Title = "CrearExtensiones";
    Layout = null;
}
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<style>
    .chosen-container  {
        width: 100% !important;
    }
    .tecnico{
           width: 82% !important;
    }

    .modal-content {
        width:727px;
        height:4000px;
    }

</style>


<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

</script>

    @Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
   <section>
       <div class="container">
           <div class="row">
               <div class="col-lg-6">
                   <h2 class="h2_title_page">Crear Extensiones</h2>
                   <hr class="hr2" />
               </div>
               <div class="col-lg-6">
                       <button style="margin-top:15px;" id="Guardar" name="Guardar" onclick="GuardarExtensiones()" class="btn button_white">Guardar</button>
               </div>
           </div>
       </div>
</section>
    

    <div class="row">
    <div class="form-group alejar_top" style="margin:0px;">

        <div class="form-group col-md-12">
            <div class="col-md-4">
                <h5>Ingresar Extensión</h5>
            </div>
            <div class="col-md-8">
                <input type="text" style="width:100%; height:30%;" id="FlotExtEmpExtesion" name="FlotExtEmpExtesion" class="form-control" />
            </div>

        </div>
    </div>

    <div class="form-group" style="margin-top:5px;">
        <div class="form-group col-md-12">
            <div class="col-md-4">
                <h5> Seleccionar Dependencia</h5>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("DependenciaID1", null, "Seleccionar", new { @class = "form-control chosen-select" })

            </div>
        </div>
    </div>

        <div class="form-group" style="margin-top:5px;">
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <h5>Departamento</h5>
                </div>
              
                <div class="col-md-8">
                    @Html.DropDownList("DeptoID1", null, "Seleccionar", new { @class = "form-control chosen-select departamento1" })
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:5px;">
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <h5> Seleccionar Empleado</h5>
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("tecnico", null, "Seleccionar", new { @class = "form-control chosen-select empleado tecnico" })
                </div>

            </div>
        </div>

        <div class="form-group" style="margin-top:5px;">

        </div>

    </div>



    <script>
        function GuardarExtensiones() {
            $("#loading-animation-container").show();
            var Id = $("#tecnico").val();
            var Extensiones = $("#FlotExtEmpExtesion").val();
            var request = $.ajax({
                url: '@Url.Action("GuardarExtensiones")',
                type: 'Post',
                dataType: 'Json',
                data: { codigo: Id, Extension: Extensiones },
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success) {

                    swal({
                        title: 'Guardado',
                        text: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#0c4ba4',
                        confirmButtonText: 'Aceptar'
                    });
                }

                else {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    });

                }
            });
        }
    </script>

<script>
    $(document).ready(function () {
        $("#DependenciaID1").change(function () {
            $("#departamento").show();
            var id = $("#DependenciaID1").val();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionarDepartamento")',
                data: { DependenciaID: id },
                success: function (data) {
                    // var municipio = data;
                    $("#DeptoID1").empty();
                    $("#DeptoID1").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, depto) {
                        $("#DeptoID1").append('<option value="' + depto.DeptoID + '">' + depto.Descripcion + '</option>')
                    })
                    $("#DeptoID1").trigger("chosen:updated");


                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $(".departamento1").change(function () {
            //$("#departamento").show();
            var depen = $("#DependenciaID1").val();
            var id = $("#DeptoID1").val();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionarPersona")',
                data: { dependencia: depen, departamento: id},
                success: function (data) {
                    // var municipio = data;
                    $("#tecnico").empty();
                    $("#tecnico").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, emp) {
                        $("#tecnico").append('<option value="' + emp.EmpleadoId + '">' + emp.Descripcion + '</option>')
                    })
                    $("#tecnico").trigger("chosen:updated");


                }
            });
        });

    });
</script>