﻿@model intra.Models.FlotasExtensiones.AsignacionFlots

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asignacion de Flotas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionImei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionImei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionSimNumeracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionSimNumeracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionDespachado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionDespachado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionNoFlota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionNoFlota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionDepartamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionDepartamentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionCedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionCedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionCargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionCargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionEmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionEmpleadoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionEstatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
