﻿@model intra.Models.FlotasExtensiones.AsignacionFlots

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asignacion de Flotas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionImei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionImei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionSimNumeracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionSimNumeracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionDespachado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionDespachado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionNoFlota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionNoFlota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionDepartamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionDepartamentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionCedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionCedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionCargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionCargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionEmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionEmpleadoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsignacionEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsignacionEstatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsignacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
