﻿@model intra.Models.FlotasExtensiones.AsignacionFlots

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}


<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>

<script type="text/javascript">

    function load_modelos()
    {
        $("#ModeloId").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Modelo")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ marca: ' + $("#MarcaId").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#ModeloId").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    $(document).ready(function () {

        $("#MarcaId").change(function () {

            load_modelos();
            return false;
        });
        //funciones para consultar el empleado
        $(document).ajaxStart(function () {
            $("body").addClass("loading");
        });
        $(document).ajaxComplete(function () {
            $("body").removeClass("loading");
        });

        $("#cedulaEmpleado").on("blur", function () {
            console.log(4);
            var cedulaEmpleado = $("#cedulaEmpleado").val();

            var request = $.ajax({
                url: '@Url.Action("GetEmpleado")',
                //url: "empleado/GetEmpleado",
                type: "GET",
                data: { cedula: cedulaEmpleado },
                contentType: "application/json; charset=utf-8"
            });

            request.done(function (data) {
                $("#codigoEmpleado,#AsignacionEmpleadoId").val(data.empleadoid);
                $("#dptoEmpleado").val(data.departamentoid);
                $("#cargoEmpleado").val(data.cargo);
                $("#nombre").val(data.nombre);
                $("#depto").val(data.departamento);
                console.log(data);

            });

            request.fail(function (jqXHR, textStatus) {
                alert("Esta cedula es invalidad o no existe en el sistema ");
                $("#cedulaEmpleado").val('');
                $("#cedulaEmpleado").focus();
            });
        });


    });
</script>

<h2>Editar</h2>
<section class="serviciosSolicitud">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AsignacionId)

            <div class="form-group">
                @Html.Label("Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="cedulaEmpleado" name="cedulaEmpleado" value="@ViewBag.CedulaEmpleado" placeholder="000-0000000-0">
                    @*@Html.EditorFor(model => model.AsignacionCedula, new { htmlAttributes = new { @class = "form-control" } })*@
                    @*@Html.ValidationMessageFor(model => model.AsignacionCedula, "", new { @class = "text-danger" })*@
                </div>


                <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
                    <img src="/intra/Content/images/ajax-loader.gif" width="64" height="64" /><br>Loading..
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Código", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="AsignacionEmpleadoId" name="AsignacionEmpleadoId" value="@ViewBag.codigoEmpleado" class="form-control" />
                    @*@Html.ValidationMessageFor(model => model.AsignacionEmpleadoId, "", new { @class = "text-danger" })*@
                    <input type="text" id="codigoEmpleado" name="codigoEmpleado" value="@ViewBag.codigoEmpleado" hidden />
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.AsignacionEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionEmpleado, "", new { @class = "text-danger" })*@
                    <input type="text" id="nombre" name="nombre" value="@ViewBag.nombre" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Cargo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.AsignacionCargo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionCargo, "", new { @class = "text-danger" })*@
                    <input type="text" id="cargoEmpleado" name="cargoEmpleado" value="@ViewBag.cargoEmpleado" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Código Depto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.AsignacionDepartamentoId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionDepartamentoId, "", new { @class = "text-danger" })*@
                    <input type="text" id="dptoEmpleado" name="deptoEmpleado" value="@ViewBag.dptoEmpleado" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Depto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.AsignacionDepto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionDepto, "", new { @class = "text-danger" })*@
                    <input type="text" id="depto" name="depto" value="@ViewBag.depto" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="MarcaId" class="control-label col-md-2">Marcas</label>
                <div class="col-md-10">
                    @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marcas)
                    @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label for="ModeloId" class="control-label col-md-2">Modelos</label>
                <div class="col-md-10">
                    @Html.DropDownList("ModeloId", (SelectList)ViewBag.Modelos)
                    @Html.ValidationMessageFor(model => model.ModeloId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionImei" class="control-label col-md-2">IMEI</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionImei, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionImei, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionNoReferencia" class="control-label col-md-2">Número.Ref</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionNoReferencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionNoReferencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionSimNumeracion" class="control-label col-md-2">#SIM</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionSimNumeracion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionSimNumeracion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionDespachado" class="control-label col-md-2">Despachado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionDespachado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionDespachado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionNoFlota" class="control-label col-md-2">No. Flota</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionNoFlota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionNoFlota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionCosto" class="control-label col-md-2">Costo del Equipo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionCosto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionCosto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="EstatusId" class="control-label col-md-2">Estatus</label>
                <div class="col-md-10">
                    @Html.DropDownList("EstatusId", (SelectList)ViewBag.Estatus)
                    @Html.ValidationMessageFor(model => model.EstatusId, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label for="AsignacionExt" class="control-label col-md-2">Extension</label>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.AsignacionExt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsignacionExt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="FechaCreacion" hidden="hidden">
                <div class="form-group">
                    <label for="AsignacionFechaCreacion" class="control-label col-md-2">Fecha Creacion</label>
                    <div class="col-md-10">
                        @Model.AsignacionFechaCreacion
                        <input type="hidden" value="@Model.AsignacionFechaCreacion" hidden="hidden" />

                        @*@Html.EditorFor(model => model.AsignacionFechaCreacion, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.AsignacionFechaCreacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*@if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            <strong> @ViewBag.Error</strong>
        </div>
    }

    <div class="form-group">
        <label for="AsignacionMarca" class="control-label col-md-2">Marcas</label>
        <div class="col-md-10">
            @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marcas)
            @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <label for="ModeloId" class="control-label col-md-2">Modelos</label>
        <div class="col-md-10">
            @Html.DropDownList("ModeloId", (SelectList)ViewBag.Modelos)
            @Html.ValidationMessageFor(model => model.ModeloId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionImei" class="control-label col-md-2">IMEI</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionImei, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionImei, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionNoReferencia" class="control-label col-md-2">Número.Ref</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionNoReferencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionNoReferencia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionSimNumeracion" class="control-label col-md-2">#SIM</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionSimNumeracion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionSimNumeracion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionDespachado" class="control-label col-md-2">Despachado por:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionDespachado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionDespachado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionNoFlota" class="control-label col-md-2">Flota</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionNoFlota, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionNoFlota, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionCosto" class="control-label col-md-2">Costo del Equipo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionCosto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionCosto, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label for="EstatusId" class="control-label col-md-2">Estatus</label>
        <div class="col-md-10">
            @Html.DropDownList("EstatusId", (SelectList)ViewBag.Estatus)
            @Html.ValidationMessageFor(model => model.EstatusId, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionExt" class="control-label col-md-2">Extensión</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsignacionExt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AsignacionExt, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label for="AsignacionCedula" class="control-label col-md-2">Cédula</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AsignacionCedula)
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionEmpleadoId" class="control-label col-md-2">Empleado</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AsignacionEmpleado)
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionEmpleadoId" class="control-label col-md-2">Depto</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AsignacionDepto)
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionCargo" class="control-label col-md-2">Cargo</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AsignacionCargo)
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionUsuario" class="control-label col-md-2">Usuario Creador</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AsignacionUsuario)
        </div>
    </div>

    <div class="form-group">
        <label for="AsignacionFechaCreacion" class="control-label col-md-2">Fecha de Creacion</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.AsignacionFechaCreacion)
        </div>
    </div>*@

    @Html.HiddenFor(model => model.AsignacionCedula)
    @Html.HiddenFor(model => model.AsignacionFechaCreacion)

    @Html.HiddenFor(model => model.AsignacionUsuario)
    @Html.HiddenFor(model => model.AsignacionEmpleado)
    @Html.HiddenFor(model => model.AsignacionCargo)
    @Html.HiddenFor(model => model.AsignacionDepto)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Volver", "Index", null, new { @class = "button_white" })
                    <input type="submit" value="Guardar" class="button_white" />
                    @Html.ActionLink("Reporte", "DetailsReport", new { id = Model.AsignacionId }, new { @class = "button_white" })
                </div>
            </div>
        </div>
    }

    </section>