﻿@*@model  IEnumerable<intra.Models.ViewModel.EmpleadoExtensionesVM>*@

@{
    ViewBag.Title = "Extensiones";
    //Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>

<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<style>
    .chosen-container {
        width: 100% !important;
    }

    .modal-content {
        width: 727px;
        height: 1000px;
    }

    .modal-flotas {
        margin-top: 5% !important;
        width: 727px !important;
        height: 380px !important;
    }
</style>


<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

</script>

@Styles.Render("~/datatables/css")

@*<section class="row">
        <div class="col-lg-10">
            <h2 class="h2_title_page">Extensiones</h2>
            <hr class="hr2" />
        </div>
    </section>*@
<section class="row">
    <div class="col-lg-6">
        <h2 class="h2_title_page">Extensiones</h2>
        <hr class="hr2" />
    </div>
    <div class="col-lg-6">
        <div class="pull-right alejar_top">
            <button class="btn button_white" id="Consultar" name="Consultar" onclick="Consultar()">Consultar</button>
            @if (User.IsInRole("AFA") || User.IsInRole("AFWR"))
            {
                <button class="btn button_white" id="modal">Crear Nuevo</button>
            }
        </div>
    </div>
</section>

<section>
    <div class="row alejar_top">

        <div class="col-lg-4 dependencia">
            <label>Dependencia</label>
            <div>
                @Html.DropDownList("DependenciaID", null, "Seleccionar", new { @class = "form-control chosen-select" })

            </div>
        </div>

        <div class="col-lg-4 departamento">
            <label>Departamento</label>
            <div>
                @Html.DropDownList("DeptoID", null, "Seleccionar", new { @class = "form-control chosen-select" })
            </div>
        </div>


    </div>
    <br />
    <br />

    <div class="row" id="table" hidden="hidden">

        <table id="tableGrid1" class="table display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> Nombre </th>
                    <th>Extensión</th>
                    <th>Dependencia</th>
                    <th>Departamento</th>
                    <th>Cargo </th>
                </tr>
            </thead>
            <tbody id="EmpExtensiones"></tbody>

        </table>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-flotas">

                @{
                    Html.RenderPartial("~/Views/AsignacionFlots/CrearExtensiones.cshtml", new intra.Models.FlotasExtensiones.FlotaExtensionEmpleado());
                }
            </div>
        </div>
    </div>
    <div id="Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                @{
                    Html.RenderPartial("~/Views/AsignacionFlots/ActualizarExtensiones.cshtml", new intra.Models.FlotasExtensiones.FlotaExtensionEmpleado());
                }
            </div>

        </div>
    </div>
</section>
@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>

<script>
    $(document).ready(function(){

    });
</script>
<script>
    function load_datatable() {

        $('#DIV_TABLA').show();

        $('#tableGrid1').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },

                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    }
</script>





<script>
    $(document).ready(function () {
        $("#DependenciaID").change(function () {
            $("#departamento").show();
            var id = $("#DependenciaID").val();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionarDepartamento")',
                data: { DependenciaID: id },
                success: function (data) {
                    // var municipio = data;
                    $("#DeptoID").empty();
                    $("#DeptoID").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, depto) {
                        $("#DeptoID").append('<option value="' + depto.DeptoID + '">' + depto.Descripcion + '</option>')
                    })
                    $("#DeptoID").trigger("chosen:updated");


                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('.closebutton').click(function (e) {
            //Cancel the link behavior
            e.preventDefault();
            $('#mask').hide();
            $('.window').hide();
            $("#Modal").hide();

        });
    });
</script>
<script>



    $('#modal').click(function () {
        $('#myModal').modal();
    });

    function Modal2(id, nombre,extension,codigo) {
        console.log(id);
        //var nombre = $(this).attr('name');
        console.log(nombre);


        @*$.ajax({
            url: '@Url.Action("ActualizarExtensiones")',
            type: 'Get',
            //dataTape: 'json',
            data: { id: id },
            success: function (data) {*@
                $("#FlotaId").val(id);
                $("#Extesion").val(extension);
                $("#EmpleadoId").val(codigo)
                $("#EmpleadoNombre").val(nombre);
        //    }, error: function(ex)
        //    {
        //        swal('error',
        //            'Ha ocurrido un error');
        //    }
        //});


        $('#Modal').modal();


    };

    function Consultar() {

        var dependencia1 = $("#DependenciaID").val();
        var departamento1 = $("#DeptoID").val();

        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("Extensiones")',
            type: 'POST',
            dataTape: 'json',
            data: { dependencia: dependencia1, departamento: departamento1 },
            success: function (data) {

                if (data) {
                    console.log(data);
                    $("#loading-animation-container").hide();
                    $("#tableGrid1").DataTable().destroy();
                    $("#EmpExtensiones").empty();
                    if ("@User.IsInRole("AFA")" == "True" || "@User.IsInRole("AFWR")" == "True") {
                        $.each(data, function (i, state) {

                            $("#EmpExtensiones").append('<tr><td><a onclick="Modal2(' + state.FlotaId + ',\'' + state.nombre + '\',' + state.extensiones + ',' + state.empleadoId + ')">' + state.nombre + '</a></td>'
                                + '<td>' + state.extensiones + '</td>'
                                + '<td>' + state.dependencia + '</td>'
                                + '<td>' + state.departamento + '</td>'
                                + '<td>' + state.cargo + '</td></tr>')

                            //console.log(data);
                        });
                    }
                    else {
                        $.each(data, function (i, state) {

                            $("#EmpExtensiones").append('<tr><td>' + state.nombre + '</td>' +
                                '<td>' + state.extensiones + '</td>' +
                                '<td>' + state.dependencia + '</td>' +
                                '<td>' + state.departamento + '</td>' +
                                '<td>' + state.cargo + '</td></tr>')

                            console.log(data);
                        });
                    }


                    $("#table").show();
                    load_datatable();

                }
                else {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'

                    });
                }
            }


        });
    };

</script>