﻿@model List<intra.Models.FlotasExtensiones.AsignacionFlots>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
@*<script src="~/JS/jquery-1.11.0.min.js"></script>*@
@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@
@*<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>*@
<link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>



<section class="row">
    <div class="col-lg-6">
        <h2 class="h2_title_page">Flotas Asignadas</h2>
        <hr class="hr2" />
    </div>
    <div class="col-lg-6">
        <div class="pull-right alejar_top">
            <a class="btn button_white" href="~/AsignacionFlots/Create"><i class="fa fa-plus alejar_icono"></i>Crear Nuevo</a>
        </div>
    </div>
</section>
@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Flota</th>
            <th>Extension/IP</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@HttpRuntime.AppDomainAppVirtualPath/AsignacionFlots/Edit/@item.AsignacionId?empleadoId=@item.AsignacionEmpleadoId">@item.AsignacionEmpleado</a>
                </td>
                <td> @Html.DisplayFor(modelItem => item.AsignacionNoFlota) </td>
                <td> @Html.DisplayFor(modelItem => item.AsignacionExt) </td>
                <td> @Html.DisplayFor(modelItem => item.AsignacionDepto) </td>
                <td><a href="~/AsignacionFlots/DetailsReport/@item.AsignacionId" target="_blank" class="btn button_white"><i class="fa fa-file alejar_icono"></i>Reporte</a>
                <td><a class="btn button_white"                                           onclick="EliminarFlota(@item.AsignacionId)" ><i class="fa fa-trash"></i> Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>


@Scripts.Render("~/datatables/js")





<script>

    function EliminarFlota(id) {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar este numero?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EliminarNumeroFlotas")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ id:' + id + ' }',
                success: function (data) {
                    if (data.success == true) {
                        swal({
                            title: 'Guardado',
                            text: data.Mensaje,
                            type: 'success',
                            confirmButtonColor: '#18212f',
                            confirmButtonText: 'Aceptar'
                        }).then(function () {
                            window.location.reload();
                        });

                    } else {
                        swal({
                            title: 'Error',
                            text: data.Mensaje,
                            type: 'error',
                            confirmButtonColor: '#18212f',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function (ex) {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });
    };

 

</script>
