﻿@model intra.Models.FlotasExtensiones.AsignacionFlots

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>Reporte Asignacion Flotas</title>*@
</head>
<body>
    <div>
        <h4>AsignacionFlots</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ModeloId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModeloId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MarcaId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MarcaId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionImei)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionImei)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionSimNumeracion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionSimNumeracion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionDespachado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionDespachado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionNoFlota)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionNoFlota)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionFechaCreacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionFechaCreacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionCedula)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionCedula)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionCargo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionCargo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionEmpleadoId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionEmpleadoId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionEmpleado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionEmpleado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionDepartamentoId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionDepartamentoId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionDepto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionDepto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstatusId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstatusId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionExt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionExt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionCosto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionCosto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignacionNoReferencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignacionNoReferencia)
            </dd>
    
        </dl>
    </div>
  
</body>
</html>
