﻿@model IEnumerable<intra.Models.FlotasExtensiones.VwAsignacionFlotas>
@{
    Layout = null;
    ViewBag.Title = null;
}
<head>
    @*<title>Reportes - Acuerdode Asignacióny/oEntrega de Equipo</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">*@
    <title>Reporte De la Flota</title>
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
    <style>
          .container {
              width: auto;
              margin: 70px auto;
          }

          img {
              width: 60px;
          }

          .pgr, .reporte {
              text-transform: uppercase;
              color: #014984;
          }

          .pgr {
              font-size: 18px;
              font-weight: bold;
              text-align: center;
          }

          .reporte {
              font-size: 12px;
              color: #000;
          }

          .header-form {
              padding: 20px;
          }

          .header-title {
              background-color: #014984;
              color: #fff;
              padding: 10px;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: bold;
          }

          .line {
              padding-top: 25px;
              padding-right: 10px;
          }

          .bold {
              padding: 10px;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 12px;
          }

          ul {
              padding: 15px;
          }

              ul > li {
                  text-align: justify;
                  font-size: 12px;
              }

          .valor {
              background: #014984;
              border-radius: 5px;
              color: #fff;
              font-size: 24px;
              text-align: center;
              padding: 5px 25px;
          }

          h2 {
              padding-top: 10px;
              font-weight: bold;
              font-size: 18px;
              text-transform: uppercase;
              color: #014984;
          }

          p.done {
              font-size: 14px;
              font-weight: bold;
          }

          .departament-use {
              margin: 35px 0;
              text-transform: uppercase;
              color: #000;
              font-size: 16px;
              font-weight: bold;
          }

          .date {
              text-transform: uppercase;
              font-weight: bold;
              width: 20%;
          }

          .space {
              width: 130px;
          }

          .details-date p {
              text-align: center;
          }

          .padding-tabla {
              padding: 0px 0 20px 0;
          }

          .info-personal td {
              font-size: 14px;
              padding-top: 2%;
              font-weight:bold;
          }
        .underline {
            width: 390px;
            border-bottom: 1px solid#000 !important;
            border: none;
            overflow: auto;
            max-height: 300px;
            height: auto !important;
        }

          .list{
              padding-left:10px;
          }

          .name{
              width: 150px;
              padding-right: 12px;
              padding-left: 0px;
          }
          .push-right{
              padding-left: 12px;
          }

        .departamento {
            max-height: 300px;
            height: auto !important;
            padding-bottom: 7px;
            padding-top: 17px;
        }

        .sombreado-fila {
            background: rgba(0, 174, 255,0.2);
        }

        .logo img{
            display: block;
            margin: 0 auto;
        }

        .titulo {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo"><img src="~/Content/images/logo-mp-azul.svg" /></div>
        <div class="titulo">
            <p class="pgr">procuraduría general de la república</p>
            <p class="reporte">Acuerdo de Asignación y/o Entrega de Equipo</p>
        </div>
        <br />
        <div class="header-title">Información personal</div>
        <div class="padding-tabla">
            <table class="info-personal">
                <tr>
                    <td class="name">Nombre </td>
                    <td class="line"><input type="text" value="@Model.FirstOrDefault().AsignacionEmpleado" class="underline" /> </td>
                    <td class="name push-right">Código Empleado </td>
                    <td class="line"><input type="text" value="@Model.FirstOrDefault().AsignacionEmpleadoId" class="underline" /> </td>
                </tr>
                <tr>
                    <td class="name">Cédula </td>
                    <td class="line"><input type="text" value="@Model.FirstOrDefault().AsignacionCedula" class="underline" /> </td>
                    <td class="name push-right">Cargo </td>
                    <td class="line"><input type="text" value="@Model.FirstOrDefault().AsignacionCargo" class="underline" /> </td>
                </tr>
                <tr>
                    <td style="width:120px;!important" class="name">Departamento </td>
                    <td class="line"><textarea class="underline departamento">@Model.FirstOrDefault().AsignacionDepto</textarea> </td>
                    <td class="name push-right">Ext. </td>
                    <td class="line"><textarea class="underline departamento">@Model.FirstOrDefault().AsignacionExt</textarea> </td>
                </tr>

            </table>
        </div>
        <div class="header-title">Información del equipo</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">MARCA</th>
                    <th scope="col">MODELO</th>
                    <th scope="col">IMEI</th>
                    <th scope="col">NO. SIM</th>
                    <th scope="col">NO. FLOTA</th>
                    <th scope="col">NO.REF</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">FECHA</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null) {

                    foreach (var flota in Model) {

                        <tr @if (flota.AsignacionId == ViewBag.id) {<text> class="sombreado-fila" </text>}>
                        <td>@flota.MarcaDescripcion</td>
                        <td>@flota.ModeloDescripcion</td>
                        <td>@flota.AsignacionImei</td>
                        <td>@flota.AsignacionSimNumeracion</td>
                        <td>@flota.AsignacionNoFlota</td>
                        <td>@flota.AsignacionNoReferencia</td>
                        <td>@flota.AsignacionEstado</td>
                        <td>@flota.Fecha.ToString("MM/dd/yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>


        <div class="header-title">condiciones y responsabilidades</div>
        <div class="list">
            <ul>
                <li>Ser empleado de la Institución.</li>
                <li>Solo se asigna una flota por empleado.</li>
                <li>La reparación, reemplazos u otros servicios vinculados al equipo o al servicio de comunicación serán suministrados por la compañía telefónica de acuerdo al procedimiento establecido en su normativa, previa autorización del área de servicios telefónico.</li>
                <li>Los costo de repación y/o reemplazo del equipo que no este incluido en la garantía del fabricante deberán ser cubiertos por el usuario de la flota. (Mal uso, robo ó perdida). </li>
                <li>Si al momento de retornar la flota a la institución, no dispone del equipo asignado u obtenido mediante el programa de cambiazos ,debe proveer un equipo con las mismas caracteristicas del equipo que había sido asignado.</li>
                <li>Con la firma de este acuerdo se asume toda responsabilidad por las llamadas ofensivas realizadas desde esta flota. En caso de ser requerida la cancelación del servicio por el usuario, debe cubrir los costos de penalidad por	incumplimiento de contrato con la empresa proveedora.</li>
                <li>El usuario de la flota puede optar por un equipo que no este incluido gratis en el programa de cambiazo, pagando la diferencia.</li>
                <li>La institución se reserva el derecho de suspender, reasignar, cancelar o retirar la flota cuando lo considere necesario.</li>
            </ul>
        </div>
        <hr>
        <table>
            <tr>
                <td>Costo del equipo </td>
                <td class="space"> </td>
                <td class="valor">RD$ @ViewBag.costo</td>
            </tr>
        </table>
        <hr>
        <br>
        <p class="done">Yo <input type="text" class="underline" />   acepto las condiciones y responsabilidades.</p>
        <br>
        <table style="margin-top: 30px;">
            <tr>
                <td class="date">fecha de impresión </td>
                <td class="space"></td>
                <td class="details-date">@DateTime.Now.ToString("MM/dd/yyyy")</td>
            </tr>
        </table>
        <br />
    </div>
</body>