﻿@*@model intra.Models.ViewModel.vEmpleados*@

@{
    ViewBag.Title = "ConsultaEmpleado";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/scripts/maskjs.js"></script>
@*<script src="~/Content/js/jQuery.js"></script>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h2>Consulta Empleado</h2>


<div class="row">
    <div class="col-lg-3">
        <label>Tipo Busqueda</label>
        <select id="identificacion" name="identificacion">
            <option value="">Seleccione</option>
            <option value="1">Usuario</option>
            <option value="2">Cedula</option>
        </select>

    </div>
    <div class="col-lg-3">
        <label id="datos1">Introduzca la busqueda</label>
        <input type="text" name="Cedula" hidden="hidden"   id="Cedula" class="form-control" placeholder="Cedula con guiones" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;"/>
        <input type="text" name="usuarioId" hidden="hidden" id="usuarioId" class="form-control" placeholder="Usuario" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" />

    </div>
    <div class="col-lg-6" style="margin-top:20px;" >

        @*<a class="estatus estatus_informacion" target="_blank" href="@Url.Action("ConsultaEmpleado", "ConsultaEmpleado", new { cedul =  '$("#")'})"> Ver reporte</a>*@

        <button class="button_white" type="button" value="Consultar" name="Buscar" id="Buscar">Consultar</button>
        <button class="button_white" type="button" value="Salir" onclick="window.location.href='@HttpRuntime.AppDomainAppVirtualPath/Home/Index'" name="Salir" id="Buscar">Salir</button>

    </div>
</div>

    <div class="col-lg-12" id="form" hidden="hidden">
        <div class="row">
            <h2>Datos Empleado Dominio</h2>

            <div class="row">
                <div class="col-lg-6">
                    <label>Cedula</label>
                    <input type="text" name="CedulaAD" id="CedulaAD" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>
                <div class="col-lg-6">
                    <label>Nombre Completo</label>
                    <input type="text" name="NombreAD" id="NombreAD"  class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>Usuario</label>
                    <input type="text" name="UsuarioAD" id="UsuarioAD"  class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>
                <div class="col-lg-6">
                    <label>Departamento</label>
                    <input type="text" name="DepartamentoAD" id="DepartamentoAD"  class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Datos Empleado Gestión Humana</h2>
            <div class="row">

                <div class="col-lg-5">
                    <label>Nombre Completo</label>
                    <input type="text" name="NombreVE" id="NombreVE" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>

                <div class="col-lg-2">
                    <label>Cedula </label>
                    <input type="text" name="CedulaVE" id="CedulaVE" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>

                <div class="col-lg-2">
                    <label>Codigo</label>
                    <input type="text" name="CodigoVE" id="CodigoVE" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>

            </div>
            <div class="row">

                <div class="col-lg-4">
                    <label>Departamento</label>
                    <input type="text" name="DepartamentoVE" id="DepartamentoVE" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>

                <div class="col-lg-4">
                    <label>Dependencia </label>
                    <input type="text" name="DependenciaVE" id="DependenciaVE" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>
                <div class="col-lg-4">
                    <label>Cargo </label>
                    <input type="text" name="CargoVE" id="CargoVE" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                </div>

            </div>
        </div>
    </div>
}

<script>
    $('#Buscar').click(function () {
        $("#loading-animation-container").show();
        var cedula;
        if ($('select').val() == 2) {
            cedula = $("#Cedula").val();

        }
        else if ($('select').val() == 1) {
            cedula = $("#usuarioId").val()
        };

        var request = $.ajax({
            url: '@Url.Action("BuscarCedula")',   
            type: 'Post',
            data: {
                tipoIdentificacion: $('select').val(),
                cedula: cedula,
                //  usuario: $("#usuarioId").val()
            },
        });

            request.done(function (data) {
            $("#loading-animation-container").hide();

            console.log(data);

                if (data.success == false) {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })

                }
                else {

                    $("#form").show();
                    $("#CedulaAD").val(data.CedulaAD);
                    $("#DepartamentoAD").val(data.DepartamentoAD);
                    $("#NombreAD").val(data.NombreAD);
                    $("#UsuarioAD").val(data.UsuarioAD);
                    $("#CedulaVE").val(data.CedulaVE);
                    $("#NombreVE").val(data.NombreVE);
                    $("#DepartamentoVE").val(data.DepartamentoVE);

                    $("#DependenciaVE").val(data.DependenciaVE);
                    $("#CodigoVE").val(data.CodigoVE);
                    $("#CargoVE").val(data.CargoVE);
                           
                }
            });
    });

</script>

<script>
        $(document).ready(function ()
        {
            $("#Cedula").focus(function () {
                $("#form").hide();
            });

           
        })
</script>
<script>
    $(document).ready(function () {
        if($("select").val() == "") {
            $("#usuarioId").hide();
            $("#Cedula").hide();
            $("#datos1").hide();
        }
        
    });
</script>
<script>
    $('select').on('change', function () {

        if ($("select").val() == "") {
            $("#usuarioId").hide();
            $("#Cedula").hide();
            $("#datos1").hide();
        }
        else if($("select").val() == "2")
        {
            $("#Cedula").show();
            $("#Cedula").mask("000-0000000-0");
            $("#usuarioId").hide();
            $("#datos1").show();
        }
        else
        {
            $("#Cedula").hide();
            $("#usuarioId").show();
            $("#datos1").show();
        }

    });

   
</script>