﻿@model IEnumerable<intra.Noticias>

@using System.Globalization;
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="~/JS/datepicker-es.js"></script>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/intraMaster.cshtml";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var breadcrumbOrder = intra.Code.UtilityMethods.GetBreadcrumbHierarchy(controllerName, actionName);

}

<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
<script src="~/Content/slider/amazingsliderv1.js"></script>
<script src="~/Content/slider/initslider-1.js"></script>

<style>
    #header-banner {
        height: 164px !important;
    }

        #header-banner h1 {
            display: initial;
        }

    #breadcrums {
        margin-top: 5px;
    }

    .event a {
        background-color: #FF0000 !important;
        color: #ffffff !important;
    }

    .col-lg-3.no-padding, .col-lg-2.no-padding{ 
        padding:0!important;
    }
</style>




@*<script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("palabra")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: {},
                success: function (states) {
                    if (states != "Error") {
                        console.log(states);
                        var json = jQuery.parseJSON(states);
                        $(".inglestitle").append(json.titulo)
                        var arr = json.descripcion.split(". -");
                        for (var i in arr) {
                            var txt = "<br>" + arr[i] + "</br>";
                            $(".segundoBloque").append(txt);
                        }

                        aplicarEstilo();
                    } else {

                    }
                },
                error: function (ex) {
                    console.log('No pudo cargar los tipos: ' + ex);
                }
            });
        });
    </script>*@



<section id="menu-opciones">
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="profile">
                <img src="@Session["avatar"].ToString()" />
                <p>
                    @if (Session["nombre"] != null)
                    {
                        @Session["nombre"].ToString()
                    }
                    else
                    {
                        <a href="~/login/Index"></a>
                    }
                    <br>
                </p>
                <p>
                    @Session["cargo"].ToString()
                </p>
            </div>

            <style>
                .dropdown {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    /*width: 500px !important;*/
                    text-transform: capitalize;
                    font-size: 12px;
                }


                .dropdown-content {
                    background: #fff;
                    border: solid 1px #ddd;
                    border-radius: 10px;
                    color: #81817f;
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 142px;
                    -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
                    -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
                    box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
                    padding: 12px 0px;
                    z-index: 1;
                    left: 3px;
                    top: 41px;
                }

                    .dropdown-content a {
                        color: #81817f;
                        border-radius: 10px !important;
                        border-bottom: none !important;
                        margin-left: 7px !important;
                        padding: 3px 10px !important;
                    }



                        .dropdown-content a:hover {
                            color: #fff !important;
                        }

                .dropdown:hover .dropdown-content {
                    display: block;
                }



                #menu-opciones #options img.gh-icono {
                    max-width: 50px !important;
                }
            </style>

            <div class="col-md-10" id="options">

                @*menu label nuevo*@
                <div class="row">
                    <div class="col-md-2 no-padding" style="padding:0px!important;">
                        <div>
                            <img src="~/Content/images/icons/inicio.svg" width="100%" alt="">
                            <span><a href="~/home"> INICIO </a></span>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding" style="padding:0px!important;">
                        <div>
                            @if (Session["Sexo"].ToString() == "FEMENINO")
                            {
                                <img src="~/Content/images/icons/woman.svg" width="100%" alt="">
                            }
                            else
                            {
                                <img src="~/Content/images/icons/man.svg" width="100%" alt="">
                            }

                            <span><a href="~/miperfil"> MI PERFIL </a></span>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding" style="padding:0px!important;">
                        <div class="dropdown">
                            <div>
                                <img src="~/Content/images/icons/servicios-gris.svg" width="100%" alt="">
                                <span><a href="#"> SERVICIOS </a></span>
                            </div>

                            <div class="dropdown-content animated fadeIn nav">
                                <ul>
                                    @*<li><a href="~/helpDesk/Solicitud/">Solicitar Servicio</a></li>*@
                                    <li><a href="~/SolicitudesServicios/CrearServicio">Solicitar Servicio</a></li>
                                    <li><a href="~/Asignados/Asignados/">Servicios Asignados</a></li>
                                    <li><a href="~/Solicitados/Solicitados/">Servicios Solicitados</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-padding" style="padding:0px !important;" >
                        <div>
                            <img src="~/Content/images/icons/documentos_gray.svg" width="100%" alt="">
                            <span><a href="~/DocumentoGestionHumana/"> DOCUMENTOS </a></span>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-left:0px; padding:0px!important;" >
                        <div>
                            <img src="~/Content/images/svg/gestion-humana-icon.svg" width="100%" alt=""/>
                            @*<img class="gh-icono" src="~/Content/images/svg/PGR-ICONOS-1-2.svg" width="60" />*@
                            @*<img src="~/Content/images/icons/gestion-humana.svg" width="100%" alt="">*@
                            <span><a href="~/avisos/vActividadesGestionHumana">RECURSOS HUMANOS </a></span>
                        </div>
                    </div>

                </div>

                @*menu label viejo*@
                @*<div class="row">
                    <div class="col-md-3">
                        <div>
                            <img src="~/Content/images/icons/inicio.svg" width="100%" alt="">
                            <span><a href="~/home"> INICIO </a></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            @if (Session["Sexo"].ToString() == "FEMENINO")
                            {
                                <img src="~/Content/images/icons/woman.svg" width="100%" alt="">
                            }
                            else
                            {
                                <img src="~/Content/images/icons/man.svg" width="100%" alt="">
                            }

                            <span><a href="~/miperfil"> MI PERFIL </a></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <div>
                                <img src="~/Content/images/icons/servicios-gris.svg" width="100%" alt="">
                                <span><a href="#"> SERVICIOS </a></span>
                            </div>

                            <div class="dropdown-content animated fadeIn nav">
                                <ul>
                                    @*<li><a href="~/helpDesk/Solicitud/">Solicitar Servicio</a></li>* @
                                    <li><a href="~/SolicitudesServicios/CrearServicio">Solicitar Servicio</a></li>
                                    <li><a href="~/Asignados/Asignados/">Servicios Asignados</a></li>
                                    <li><a href="~/Solicitados/Solicitados/">Servicios Solicitados</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img src="~/Content/images/icons/documentos_gray.svg" width="100%" alt="">
                            <span><a href="~/DocumentoGestionHumana/"> DOCUMENTOS </a></span>
                        </div>
                    </div>
                    @*<div class="col-md-3">
                        <div>
                            <img src="~/Content/images/icons/gestion-humana.svg" width="100%" alt="" />
                            @*<img src="~/Content/images/icons/documentos_gray.svg" width="100%" alt="">* @
                            <span><a href="~/avisos/vActividadesGestionHumana"> GESTIÓN HUMANA </a></span>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</section>


<div class="row br-slider-top">
    <div class="col-md-6">
        <h2 class="h2_title_page">Actividades y noticias</h2>
        <hr class="hr2">
    </div>
    <div class="col-md-6">
        <div class="pull-right" style="padding: 12px 16px 10px 10px;">
            <h6>
                <span>
                    <strong>@DateTime.Now.ToString("dddd d ", new CultureInfo("es-ES"))</strong>
                    <span> @DateTime.Now.ToString("MMMM, yyyy", new CultureInfo("es-ES"))</span> -
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>@DateTime.Now.ToString("hh:mm")</span>
                    <span>@DateTime.Now.ToString("tt")</span>
                </span>
            </h6>
        </div>
    </div>
</div>

<div class="row br-slider-bottom">

    <div class="col-md-12" style="float:none;">
        <div class="slider-wrapper">
            <div class="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                @foreach (var item in Model)
                {
                    <ul class="amazingslider-slides" style="display:none;">
                        <li class="identificador">
                            <a href="~/noticias/viewNews?id=@item.NoticiaId">
                                <img src="@item.NoticiaImages" title="@item.NoticiaTitulo" />
                            </a>
                        </li>
                    </ul>
                    <ul class="amazingslider-thumbnails" style="display:none;">
                        <li>
                            <img src="@item.NoticiaImages" title="@item.NoticiaTitulo" />
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<br />
<script>
    $(document).ready(function () {
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-arrow-right-1").append('<img class="flechas" src="content/slider/lightbox-navnext.png"/>');
        $(".amazingslider-arrow-left-1").append('<img class="flechas" src="content/slider/lightbox-navprev.png"/>');
    });
</script>

<div class="row br-home-varios">

    @Html.Action("vLecturaDelDia", "Home")
    @Html.Action("PalabraIngles", "Home")
    @Html.Action("ListaAvisos", "Avisos")
</div>