﻿@using System.Globalization;
<div class="col-md-4">
    <div class="box_informative">
        <h2 class="h2_title_page">Palabra del día</h2>
        <hr class="hr2" />
        <div style="clear:both;">
            <h6 class="inglestitle">
                <strong>@DateTime.Now.ToString("dddd d De", new CultureInfo("es-ES"))</strong>
                <span> @DateTime.Now.ToString("MMMM", new CultureInfo("es-ES"))</span>
            </h6>
            <p class="CitaBloque">@ViewBag.cita</p>
            <p class="AutorBloque">@ViewBag.autor</p>
        </div>
    </div>
</div>

<span id="seoo" hidden></span>

@*<script type="text/javascript">

    dame_frase_wikiquote();

    function dame_frase_wikiquote() {
        var now = new Date();
        var day = now.getDay();
        if (day == 0) titulo = '{{Plantilla:Frase-domingo}}';
        if (day == 1) titulo = '{{Plantilla:Frase-lunes}}';
        if (day == 2) titulo = '{{Plantilla:Frase-martes}}';
        if (day == 3) titulo = '{{Plantilla:Frase-miércoles}}';
        if (day == 4) titulo = '{{Plantilla:Frase-jueves}}';
        if (day == 5) titulo = '{{Plantilla:Frase-viernes}}';
        if (day == 6) titulo = '{{Plantilla:Frase-sábado}}';

        url = 'http://es.wikiquote.org/w/api.php?action=parse&text=' + titulo + '&format=json&callback=pon_frase_en_span';

        var elem = document.createElement('script');
        elem.setAttribute('src', url);
        elem.setAttribute('type', 'text/javascript');
        document.getElementsByTagName('head')[0].appendChild(elem);
    };

    var pon_frase_en_span = function (data) {

        frase = data['parse']['text']['*'];

        //para los enlaces

        //frase = frase.replace("<img alt", "<img class=\"AutorCita\" alt")

        frase = frase.replace("style=\"text-align:right\"", "style=\"text-align:right\" class=\"AutorCita\"")

        frase = frase.replace("<div style=\"text-align:center; font-weight: bold; color: #090960;\">", "<div class=\"CitaContainer\" style=\"text-align:center; font-weight: bold; color: #090960;\">")

        //console.log(frase);
        ///////////////////////////////////<img alt="«"
        //si para dentro de un span es asi:

        document.getElementById ('seoo').innerHTML = frase;
        ///////////////////////////////////

        $(".CitaBloque").text($(".CitaContainer").text());
        $(".AutorBloque").text($(".AutorCita a:first").text());

        //console.log($(".CitaContainer").text());
        //console.log($(".AutorCita a:first").text());

    };

</script>*@