﻿@model intra.Models.ViewModel.bible_fts_full

<div class="col-md-4">
    <div class="box_informative">
        <h2 class="h2_title_page">Lectura del día</h2>
        <hr class="hr2" />
        <div style="clear:both;">

            @if (Model != null)
            {
                <h6>@(Model.c0book + " " + Model.c1chapter + " : " + Model.c2verse )</h6>

                if (Model.c3content.ToString().Length >= 300)
                {
                    <p>@Model.c3content.Substring(0, 299)...</p>
                }
                else
                {
                    <p>@Model.c3content</p>

                }

                <div class="pull-right pull-right-dont alejar_top">
                    <a class="button_white" href="~/PalabraDiaria"><i class="fa fa-plus alejar_icono" aria-hidden="true"></i> Más</a>
                </div>

            }
            else {

                <h6 style="color: red;">Ha ocurrido un error al cargar la lectura</h6>

                <div class="pull-right pull-right-dont alejar_top">
                </div>
            }

        </div>
    </div>
</div>


