﻿@model intra.Models.SistemaRepatriados.SSR_Repatriados

@{
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
    //ViewBag.Title = "Create";
    //Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<style>
    .chosen-container {
        width: 100% !important;
    }
</style>

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<form id="FormRepatriados">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">DATOS PERSONALES Repatriados</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">
                <button type="button" id="cerrar" name="cerrar" onclick="cerrarModalRepatriado()" class="btn button_white"><i class="fa fa-close alejar_icono" aria-hidden="true"></i>Cerrar</button>
                @*@Html.ActionLink("Cerrar", "Index", null, new { @class = "btn button_white" })*@
                <button type="button" id="Guardar" onclick="CrearRepatriados()" name="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
            </div>

        </div>
    </section>


  
    <div id="Personales">
        <div class="br-section">
            <div class="row br-first">

                @*<div class="br-item">
                    <label>Tipo de Identificacion</label>
                    <div>
                        <select type="text" id="TipoIdentificacionId" class="form-control" name="TipoIdentificacionId" disabled="disabled">
                            <option value="1">Cédula </option>
                           
                        </select>
                    </div>
                </div>*@

                <div class="br-item">
                    <label>Cédula</label>
                    <input type="text" id="NumeroIdentificacion" name="NumeroIdentificacion" placeholder="000-0000000-0" class="form-control" />
                </div>

                <div class="br-item">
                    <label>Nombres</label>
                    <input type="text" id="Nombres1" name="Nombres1" class="form-control" />
                    <input type="hidden" id="Nombres" name="Nombres" class="form-control"/>
                </div>

                <div class="br-item">
                    <label>Primer Apellido</label>
                    <input type="text" id="Apellidos1" name="Apellidos1" class="form-control"/>
                    <input type="hidden" id="Apellido1" name="Apellido1" class="form-control"/>
                </div>

                <div class="br-item">
                    <label>Segundo Apellido</label>
                    <input type="text" id="Apellidos2" name="Apellidos2" class="form-control"/>
                    <input type="hidden" id="Apellido2" name="Apellido2" class="form-control" />
                </div>

                <div class="br-item">
                    <label>Fecha de Nacimiento:</label>
                    <div style="">
                        <input type="text" id="FechaNacimiento" name="FechaNacimiento" class="datepicker date-picker form-control Inicio" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                </div>

                <div class="br-item">
                    <label>Sexo</label>
                    <select id="Sexo" name="Sexo" class="form-control chosen-select">
                        <option value="">Seleccionar</option>
                        <option value="true">Femenino</option>
                        <option value="false">Masculino</option>
                    </select>
                </div>

                <div class="br-item">
                    <label>País Procedencia</label>
                    @Html.DropDownList("PaisId", null, "Seleccione", new { @class = "form-control chosen-select actualizar" })
                </div>
                <div class="br-item">
                    <div style="">
                        <label>Fecha Retorno</label>
                        <input type="text" id="FechaRetorno" name="FechaRetorno" class="datepicker form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
                <div class="br-item">
                    <label>Numero Repatriado</label>
                    <input type="text" id="NumeroIdentificador" name="NumeroIdentificador" class="form-control" />
                </div>

                <div class="br-item">
                    <label>Tipo Telefono</label>
                    @Html.DropDownList("TelefonoTipoId", null, "Seleccione", new { @class = "form-control chosen-select actualizar" })
                </div>

                <div class="br-item">
                    <label>Telefono</label>
                    <input type="text" id="NumeroTelefono" name="NumeroTelefono" placeholder="(000)-000-0000" class="form-control" />
                </div>


            </div> <!-- br-first -->

        </div><!--br-section-->

        <h2>Direcciones</h2>
        <div class="br-section">
            <div class="row br-second">

                <div class="br-item">
                    <label>Provincia</label>
                    <div id="provincia">
                        @Html.DropDownList("ProvinciaId", null, "Seleccione", new { @class = "form-control provincia chosen-select actualizar" })
                    </div>
                </div>

                <div class="br-item">
                    <label>Municipio</label>
                    <div id="municipio">
                        @Html.DropDownList("MunicipioId", null, "Seleccione", new { @class = "form-control chosen-select mun actualizar", @disabled = "disabled" })
                    </div>
                </div>
                
                <div class="br-item">
                    <label>Ciudad</label>
                    <div id="localidad">
                        @Html.DropDownList("DistritoId", null, "Seleccione", new { @class = "form-control chosen-select actualizar", @disabled = "disabled" })
                    </div>
                </div>

                <div class="br-item">
                    <label>Localidad</label>
                    <div id="ciudad">
                        @Html.DropDownList("CiudadId", null, "Seleccione", new { @class = "form-control chosen-select actualizar", @disabled = "disabled" })
                    </div>
                </div>

                <div class="br-item">
                    <label>Sector</label>
                    <div id="sector">
                        @Html.DropDownList("SectorId", null, "Seleccione", new { @class = "form-control chosen-select actualizar", @disabled = "disabled" })
                    </div>
                </div>


                <div class="br-item">
                    <label>Calle</label>
                    <div>
                        <input type="text" name="Calle" id="Calle" class="form-control" />
                    </div>
                </div>

                <div class="br-item">
                    <label>Número</label>
                    <div>
                        <input type="text" name="Numero" id="Numero" class="form-control" />
                    </div>
                </div>
            </div><!--br-second-->

        </div><!--br-section-->

        <div class="br-item">
            <label>Motivo Repatriación</label>
            <div>
                <textarea name="MotivoRepatriacion" id="MotivoRepatriacion" rows="8" cols="45" class="form-control"></textarea>
            </div>
            @*<input type="text"  name="MotivoRepatriacion" id="MotivoRepatriacion" rows="10" colsclass="form-control" />*@
        </div>

    </div><!--Personales-->
    
        

        


</form>

<script src="~/JS/jquery-ui.min.js"></script>


<script type='text/javascript'>



</script>

<script>
    $(document).ready(function () {
        if($('#group1').prop("checked", true) == "true")
        {
            $("#Personales").show();
        }

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy"
        });

   
    })
</script>
<script>
    $(document).ready(function () {
        $("#NumeroIdentificacion").mask('000-0000000-0');
        $("#NumeroTelefono").mask('(000)-000-0000');
    });
</script>


<script>
      $("#NumeroIdentificacion").on("keydown", function (e) {
          if (e.keyCode === 13) {
              $("#NumeroIdentificacion").mask('000-0000000-0');
              $("#NumeroTelefono").mask('(000)-000-0000');

              $("#NumeroIdentificacion").change(function () {
                  var cedula = $("#NumeroIdentificacion").val();
                 // var tipoIdentificacion = $("#TipoIdentificacionId").val();
                  $.ajax({
                      type: 'Post',
                      url: '@Url.Action("GetPersona")',
                      dataType: 'json',
                      data: { tipoIdentificacion: 1, cedula: cedula },
                      success: function (data) {
                          var obj = JSON.parse(data)
                          $("#TipoIdentificacionId").val(obj.ID_Tipoidentificacion);
                          $("#NumeroIdentificacion").val(obj.Numero);
                          $("#Nombres1").val(obj.Nombres);
                          $("#Apellidos1").val(obj.Apellido1);
                          $("#Apellidos2").val(obj.Apellido2);
                          document.getElementById("Apellido1").value = $("#Apellidos1").val();
                          document.getElementById("Nombres").value = $("#Nombres1").val();
                          document.getElementById("Apellido2").value = $("#Apellidos2").val();

                      }
                    

                  });
                  $("#Nombres1").focus();
              })
          }
        });
    </script>

 

<script>
    function CrearRepatriados() {
        $("#loading-animation-container").show();
        
        var request = $.ajax({
            url: '@Url.Action("CrearRepatriados")',
            method: 'Post',
            data: $("#FormRepatriados").serialize(),
        });
        request.done(function (data) {
         if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    // $("#loading-animation-container").show();
                    //openCity(event, 'contactos');
                    //$('#btnCargo').toggleClass('active');
                    $("#FormRepatriados")[0].reset();
                    $(".actualizar").val("");
                    $(".actualizar").trigger("chosen:updated");

                });
                $("#loading-animation-container").hide();
            }
            else {

             swal({
                 title: 'Error',
                 text: data.Mensaje,
                 type: 'error',
                 confirmButtonColor: '#18212f',
                 confirmButtonText: 'Aceptar'
             });

                $("#loading-animation-container").hide();
            }
        })
    }
</script>

<script>
    $(document).ready(function () {

        $("#ProvinciaId").change(function () {
            var id = $("#ProvinciaId").val();
            $("#MunicipioId").prop('disabled', false);
            $.ajax({
                type: 'Post',
                url:'@Url.Action("SeleccionMunicipio")',
                data: { provinciaId: id },
                success: function (data) {
                    // var municipio = data;
                    $("#MunicipioId").empty();
                    $("#MunicipioId").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, municipio) {
                        $("#MunicipioId").append('<option value="' + municipio.MunicipioId + '">' + municipio.MunicipioDescripcion + '</option>')
                    })
                    $("#MunicipioId").trigger("chosen:updated");


                }
            });
        });

    });

//Distritos
$(document).ready(function () {

    $("#MunicipioId").change(function () {

        //function CargarMunicipios () {

        var id = $("#MunicipioId").val();
        $("#DistritoId").prop('disabled', false);
        $.ajax({
            type: 'Post',
            url:  '@Url.Action("SeleccionarDistricto")',
            data: { MunicipioId: id },
            success: function (data) {
                // var municipio = data;
                $("#DistritoId").empty();
                $("#DistritoId").append('<option value>' + "Seleccionar" + '</option>')

                $.each(data, function (i, distrito) {
                    $("#DistritoId").append('<option value="' + distrito.DistritoId + '">' + distrito.DistritoDescripcion + '</option>')
                })
                $("#DistritoId").trigger("chosen:updated");


            }
        });
    });

});
//Ciudades
$(document).ready(function () {
    $("#DistritoId").change(function () {

        //function CargarMunicipios () {
        var id = $("#DistritoId").val();
        $("#CiudadId").prop('disabled', false);
        $.ajax({
            type: 'Post',
            url: '@Url.Action("SeleccionarCiudad")',
            data: { DistritoId: id },
            success: function (data) {
                // var municipio = data;
                $("#CiudadId").empty();
                $("#CiudadId").append('<option value>' + "Seleccionar" + '</option>')

                $.each(data, function (i, ciudad) {
                    $("#CiudadId").append('<option value="' + ciudad.CiudadId + '">' + ciudad.CiudadDescripcion + '</option>')
                })
                $("#CiudadId").trigger("chosen:updated");


            }
        });
    });

});


$(document).ready(function () {
    $("#CiudadId").change(function () {
        var id = $("#CiudadId").val();
        $("#SectorId").prop('disabled', false);
        $.ajax({
            type: 'Get',
            url:  '@Url.Action("SeleccionarSector")',
            data: { CiudaId: id },
            success: function (data) {
                $("#SectorId").empty();
                $("#SectorId").append('<option value>' + "Seleccionar" + '</option>')
                $.each(data, function (i, sector) {
                    $("#SectorId").append('<option value="' + sector.SectorId + '">' + sector.SectorDescripcion + '</option>')
                })
                $("#SectorId").trigger("chosen:updated");


            }
        });
    });

});

</script>
