﻿@model  intra.IncidenciasTipos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select, input[type='text'], input[type="datetime"] {        
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
    }

    .dropd select{
        width: 300px !important;
    }
</style>





<h2 style="margin-bottom:20px;">Crear nuevo</h2>

@using (Html.BeginForm("Create","IncidenciasTipos",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <section class="serviciosSolicitud">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-lg-2">
                <label for="Suplidor">Suplidor</label>
            </div>
            <div class="col-lg-2 dropd">
                @Html.DropDownList("SuplidorId", (SelectList)ViewBag.SuplidorTipoes, "--Seleccione")
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                Tipo de Incidencia
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(model => model.IncidenciasTipoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasTipoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
        <br />
        <br />
    </section>
}


