﻿@model intra.IncidenciasTipos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Incidencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasTipoNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncidenciasTipoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
