﻿@model intra.IncidenciasTipos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .dropd select {
        width: 250px !important;
    }
</style>



<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-bottom:20px;">
        <h4>Incidencias</h4>
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IncidenciasTipoId)

        <div class="form-group">
            <label for="SuplidorId" class="control-label col-md-1">Suplidor</label>
            <div class="col-md-10 dropd">
                @Html.DropDownList("SuplidorId", (SelectList)ViewBag.SuplidorTipoes)
                @*@Html.ValidationMessageFor(model => model.SuplidorId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidenciasTipoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasTipoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
            <div class="col-md-1">@Html.ActionLink("Volver", "Index",null, new { @class = "btn btn-default" })</div>
        </div>
    </div>
    <br />
    <br />
}
