﻿@model intra.Models.TallerPgr.EntradaTallerPgr

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/Content/js/selectize/selectize.min.js"></script>
<link href="~/Content/js/selectize/css/selectize.default.css" rel="stylesheet" />
<script src="~/Content/js/selectize/plugin.js"></script>
@*<link href="~/Content/js/selectize/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/js/selectize/css/stylesheet.css" rel="stylesheet" />*@

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"], input[type="number"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

    .chosen-container {
        margin-bottom: 15px;
    }

    .selectize-input {
        width: 500px;
        height: 37px;
    }

    .selectize-dropdown [data-selectable].option {
        opacity: 1;
        cursor: pointer;
    }
</style>

<h2>Entrada Taller</h2>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Equipo serie")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="equipoSerie" style=" text-transform: uppercase; " name="equipoSerie" value="" placeholder="e.j.ABCED2512" />
                    @Html.ValidationMessageFor(model => model.EquipoId, "", new { @class = "text-danger" })

                </div>
                <div id="wait" style="display:none;width:69px; height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
                    <img src="/intra/Content/images/ajax-loader.gif" width="64" height="64" /><br>Loading..
                </div>
                <div class="col-lg-3">
                    @Html.Label("Equipo tipo")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="tipoEquipo" name="tipoEquipo" value="" readonly />
                </div>
                <div class="col-lg-3">
                    @Html.Label("Marca equipo")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="marca" name="marca" value="" readonly />
                </div>
                <div class="col-lg-3">
                    @Html.Label("Modelo equipo")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="modelo" name="modelo" value="" readonly />
                </div>
                <div class="col-lg-3">
                    @Html.Label("Equipo codigo")
                </div>
                <div class="col-lg-9">
                    @*<input type="text" id="EquipoId" name="EquipoId" value="" readonly />*@
                    @Html.EditorFor(model => model.EquipoId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <button type="button" class="btn btn-default" id="modal">Nuevo Equipo</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Código del Empleado Dueño del Equipo")
                </div>
                <div class="col-lg-9">
                    @*<input type="text" id="codigoEmpleado" name="codigoEmpleado" value="" placeholder="Código del Empleado" />*@
                    @Html.EditorFor(model => model.EmpleadoTallerId)
                    @Html.ValidationMessageFor(model => model.EmpleadoTallerId, "", new { @class = "text-danger", @id = "empleadoError" })
                </div>
                <div class="col-lg-3">
                    @Html.Label("Empleado Dueño del Equipo")
                </div>
                <div class="col-lg-9">
                    @*<input type="text" id="nombre" name="nombre" value="" readonly />*@
                    @Html.DropDownList("nombre", null, "", new { @class = "selectize" })

                </div>

                <div class="col-lg-3">
                    @Html.Label("Documento")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="cedulaEmpleado" name="cedulaEmpleado" value="" readonly />
                </div>

                <div class="col-lg-3">
                    @Html.Label("Departamento del Empleado")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="departamentoEmpleado" name="departamentoEmpleado" value="" readonly />
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Razón entrada")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaRazon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaRazon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Persona responsable del Equipo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsable, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Documento")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsableDocumento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba aquí la cédula del responsable" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsableDocumento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Contacto")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsableTelefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba la el telefono del responsable" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsableTelefono, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="radio" name="DeptoLocal" id="departamento" value="2" checked class="DeptoLocal">Departamento.
                    <input type="radio" name="DeptoLocal" id="fiscalia" value="1" class="DeptoLocal">Fiscalia.
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpleadoTallerId" data-valmsg-replace="true" id="empleadoError">@ViewBag.lugarvalido</span>
                </div>
            </div>

            @*campos de busqueda de localidades*@
            <panel id="Local" name="Local" hidden="hidden">
                <div class="row" id="RegionId_div">
                    <div class="col-lg-3">
                        @Html.Label("Region")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("RegionId", (SelectList)ViewBag.Region, "Seleccione")
                    </div>
                </div>
                <div class="row" id="ProvinciaId_div">
                    <div class="col-lg-3">
                        @Html.Label("Provincia")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("ProvinciaId", (SelectList)ViewBag.Provincia, "Seleccione")
                    </div>
                </div>
                <div class="row" id="MunicipioId_div">
                    <div class="col-lg-3">
                        @Html.Label("Municipio")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("MunicipioId", (SelectList)ViewBag.Municipio, "Seleccione")
                    </div>
                </div>

                <div class="row" id="LocalizacionId_div">
                    <div class="col-lg-3">
                        @Html.Label("Localización")
                    </div>
                    <div class="col-lg-9">

                        @Html.DropDownList("LocalizacionId", (SelectList)ViewBag.Localizacion, "Seleccione")

                    </div>
                </div>
            </panel>

            <div class="row" id="Depto" name="Depto">
                <div class="col-lg-3">
                    @Html.Label("Departamento")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.DeparamentoId, "Seleccione", htmlAttributes: new { @class = "chosen-select" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Procedencia (Opcional)")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Técnico Responsable")
                </div>
                <div class="col-lg-9">
                    @*<input type="text" id="EntradaTecnicoResponsable" name="EntradaTecnicoResponsable" value="@ViewBag.EntradaTecnicoResponsable" />*@
                    @Html.DropDownList("EntradaTecnicoResponsable", null, "SELECCIONE EL TÉCNICO", htmlAttributes: new { @class = "form-control" })
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpleadoTallerId" data-valmsg-replace="true" id="empleadoError">@ViewBag.tecnicovalido</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Activo fijo")
                </div>
                <div class="col-lg-9">
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpleadoTallerId" data-valmsg-replace="true" id="empleadoError">@ViewBag.activofijovalido</span>
                    @Html.EditorFor(model => model.ActivoFijo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivoFijo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
    }

    <div class="btn btn-info">
        @Html.ActionLink("Back to List", "Index")
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @{
                    Html.RenderPartial("~/Views/Equipo/CreateEquipoModal.cshtml", new intra.Models.TallerPgr.Equipo());
                }
            </div>
        </div>
    </div>

</section>

@*<script src="~/Content/Chossen/chosen.jquery.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {

        var $select = $('.selectize').selectize({
            plugins: ['clear_on_type']
            ,placeholder: " "
        });

        var control = $select[0].selectize;

        $('#nombre-selectized').attr('autocomplete', 'nope');

        $('.chosen-select').chosen({ placeholder_text_single: " " });

        $("#EntradaPersonaResponsableTelefono").mask('(999) 999-9999');
        $("#EntradaPersonaResponsableDocumento").mask('999-9999999-9');

        //llamado a funciones
        $("#RegionId").change(function () {
            load_provincias();
        });

        $("#ProvinciaId").change(function () {
            load_municipios();
        });

        $("#MunicipioId").change(function () {
            load_localizaciones();
        });

        $("#nombre").change(function () {
            cargarempleado($("#nombre").val());
        });

        if ($("#EquipoId").val() != "") {
            cargarDatosEquipoPorId($("#EquipoId").val());
        }

        if ($("#EmpleadoTallerId").val() != "") {
            cargarempleado($("#EmpleadoTallerId").val());
            control.setValue($("#EmpleadoTallerId").val());
        }

        function cargarDatosEquipoPorId(id) {
            var request = $.ajax({
                url: '@Url.Action("GetDatosEquipo")',
                method: "GET",
                data: {
                    EquipoId: id
                },
                dataType: "json"
            });

            request.done(function (data) {
                console.log(data);
                $("#tipoEquipo").val(data[0].TipoEquipoDescripcion);
                $("#marca").val(data[0].MarcaEquipoDescripcion);
                $("#equipoSerie").val(data[0].EquipoSerie);
                $("#modelo").val((data[0].ModeloEquipoDescripcion == null) ? "NINGUNO" : data[0].ModeloEquipoDescripcion);
            });

            request.fail(function (jqXHR, textStatus) {
                console.log("Falló obtener datos equipo: " + textStatus);
            });
        };

        if ("@ViewBag.lugar" == "2"){
            $('#departamento').attr('checked', 'checked');
            $("#Local").hide();
            $("#Depto").show();

        }

        $(".DeptoLocal").change(function () {
            if ($("input[name=DeptoLocal]:checked").val() == "1") {
                $("#Local").show();
                $("#Depto").hide();
            }
            else if ($("input[name=DeptoLocal]:checked").val() == "2") {
                $("#Depto").show();
                $("#Local").hide();
            }
        });

        $("#equipoSerie").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetEquipo")',
                    type: "GET",
                    dataType: "json",
                    data: { serie: $("#equipoSerie").val() },
                    success: function (data) {

                        response($.map(data, function (item) {
                            return { label: item };
                        }));
                        console.log(data);
                        //$("#tipoEquipo").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>');
                        //$.each(states, function (i, state) {
                        //    $("#tipoEquipo").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                        //});
                    },
                    //error: function (ex) {
                    //    alert('No pudo cargar los tipos: ' + ex);
                    //},

                });
            },

            select: function (event, ui) {
                    var serialEquipo = ui.item.value;

                    cargarDatosEquipo(serialEquipo);

                    var x = document.activeElement.getAttribute('name');
                    $("#" + x).val(ui.item.id);
                }
        });

        $("#EmpleadoTallerId").on("blur", function () {

            if ($("#EmpleadoTallerId").val() != "") {

                cargarempleado($("#EmpleadoTallerId").val());

                if (control.options[$("#EmpleadoTallerId").val()] != undefined)
                    control.setValue($("#EmpleadoTallerId").val());
                //console.log(control.options[$("#EmpleadoTallerId").val()]);
            } else {

                control.setValue("");
            }
        });

        $('#modal').click(function () {
            $('#myModal').modal();
        });

        //funciones
        function load_provincias() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetProvincias")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: { regId: $("#RegionId").val() },
                success: function (Provincias) {

                    CargarSelectList(Provincias, $("#ProvinciaId"));

                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                }
            })
            return;
        };

        function load_municipios() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetMunicipios")',
                contentType: "application/json; charset=uft-8",
                dataType: 'json',
                data: { provinId: $("#ProvinciaId").val() },
                success: function (Municipios) {

                    CargarSelectList(Municipios, $("#MunicipioId"));

                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                }
            })
            return;
        };

        function load_localizaciones() {
            $("#LocalizacionId").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLocalizaciones")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: { municipId: $("#MunicipioId").val() },
                success: function (Localizaciones) {

                    CargarSelectList(Localizaciones, $("#LocalizacionId"));
                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                }
            })
            return;
        };

        function cargarDatosEquipo(serialEquipo) {
            var request = $.ajax({
                url: '@Url.Action("GetDatosEquipo")',
                method: "GET",
                data: {
                    SerialEquipo: serialEquipo
                },
                dataType: "json"
            });

            request.done(function (data) {
                $("#tipoEquipo").val(data[0].TipoEquipoDescripcion);
                $("#marca").val(data[0].MarcaEquipoDescripcion);
                $("#modelo").val((data[0].ModeloEquipoDescripcion == null) ? "NINGUNO" : data[0].ModeloEquipoDescripcion);
                $("#EquipoId").val(data[0].EquipoId);
            });

            request.fail(function (jqXHR, textStatus) {
                console.log("Falló obtener datos equipo: " + textStatus);
            });
        };

        function cargarempleado(empleadoid) {

            $.ajax({
                url: '@Url.Action("GetEmpleado")',
                method : 'POST',
                data: { codigoEmpleado: empleadoid },
                dataType: 'json',
                success: function (data, status, xhr) {
                    $("#EmpleadoTallerId").val(data.empleadoid);
                    //$("#nombre").val(data.empleadoid);
                    //$('#nombre option[value=' + data.empleadoid + ']').attr('selected', 'selected');
                    //$("#nombre").trigger("chosen:updated");
                    $("#cedulaEmpleado").val(data.cedula);
                    $("#departamentoEmpleado").val(data.departamento);
                    $('#empleadoError').text('');
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    //swal('error',"Usuario no encontrado")
                    $('#empleadoError').text('Usuario no encontrado');
                }
            });
        }

        function CargarSelectList(Lista, SelectList) {
            SelectList.empty();
            SelectList.append('<option value>' + "Seleccionar" + '</option>')
            $.each(Lista, function (i, elemento) {
                SelectList.append('<option value="' + elemento.Value + '">' + elemento.Text + '</option>');
            });
        }

    });
</script>
