﻿@model intra.Models.TallerPgr.EntradaTallerPgr

@{
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Detalles Entrada Taller</h2>
<div>
  
    <dl class="dl-horizontal">

        <dt> @Html.DisplayName("Serie")</dt>
        <dd> @Html.DisplayFor(model => model.Equipo.EquipoSerie)</dd>
        <dt>@Html.DisplayName("Código empleado")</dt>
        <dd>@Html.DisplayFor(model => model.EmpleadoTallerId)</dd>
        <dt>@Html.DisplayName("Técnico responsable")</dt>
        <dd>@Html.DisplayFor(model => model.EntradaTecnicoResponsable)</dd>
        <dt>@Html.DisplayName("Razón entrada")</dt>
        <dd>@Html.DisplayFor(model => model.EntradaRazon)</dd>
        <dt>@Html.DisplayName("Fecha")</dt>
        <dd> @Html.DisplayFor(model => model.EntradaFecha)</dd>
        <dt>@Html.DisplayName("Persona responsable")</dt>
        <dd>@Html.DisplayFor(model => model.EntradaPersonaResponsable)</dd>
        <dt>@Html.DisplayName("Cédula")</dt>
        <dd> @Html.DisplayFor(model => model.EntradaPersonaResponsableDocumento)</dd>
        <dt>@Html.DisplayName("Télefono")</dt>
        <dd>@Html.DisplayFor(model => model.EntradaPersonaResponsableTelefono)</dd>

        @if (Model.LocalizacionId != null)
            {
            <dt>@Html.DisplayName("Localización")</dt>
            <dd>@Html.DisplayFor(model => model.localizacion.LocalizacionDescripcion)</dd>

                <dt>@Html.DisplayName("Teléfono")</dt>
                <dd>@Html.DisplayFor(model => model.localizacion.LocalizacionTelefono)</dd>
                <dt hidden="hidden">@Html.DisplayName("Departamento")</dt>
                <dd hidden="hidden">@Html.DisplayFor(model => model.Departamento.DepartamentoDescripcion)</dd>
        }
        else
        {
            <dt>@Html.DisplayName("Departamento")</dt>
            <dd>@Html.DisplayFor(model => model.Departamento.DepartamentoDescripcion)</dd>
                <dt hidden="hidden">@Html.DisplayName("Localización")</dt>
                <dd hidden="hidden">@Html.DisplayFor(model => model.localizacion.LocalizacionDescripcion)</dd>
        }

        <dt>@Html.DisplayName("Activo fijo")</dt>
        <dd>@Html.DisplayFor(model => model.ActivoFijo)</dd>

        @if (Model.EntradaEstatus == true)
            {
            <dt>@Html.DisplayName("Estatus")</dt>
            <dd>@("Terminado")</dd>
        }
        else
        {
            <dt>@Html.DisplayName("Estatus")</dt>
            <dd>@("En proceso")</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EntradaId }, new { @class = "buttonEnviar" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
</p>

