﻿@model intra.Models.TallerPgr.EntradaTallerPgr

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
    ViewBag.modelo = (Model.Equipo.ModeloEquipo == null) ? "Ninguno" : Model.Equipo.ModeloEquipo.ModeloEquipoDescripcion;
}

<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/sweetalert.css" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/Content/js/selectize/selectize.min.js"></script>
<link href="~/Content/js/selectize/css/selectize.default.css" rel="stylesheet" />
<script src="~/Content/js/selectize/plugin.js"></script>

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    intput[type="textarea"], input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    #loading-animation-container {
        display: none;
    }

    #loading-animation {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
    }

    #loading-image-container img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .avance-texto {
        text-transform: capitalize;
    }

    .equipo {
        text-transform: uppercase !important;
    }

    #transparent-element {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #000000;
        opacity: .7;
    }

    .chosen-container {
        margin-bottom: 5px;
    }

    .selectize-input {
        width: 500px;
        height: 37px;
    }

    .selectize-dropdown [data-selectable].option {
        opacity: 1;
        cursor: pointer;
    }

</style>


<link rel="stylesheet" href="~/Content/css/sweetalert.css" />
<script src="~/scripts/sweetalert2.min.js"></script>

<h2>Editar Entrada Taller</h2>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.EntradaId)

            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Equipo Serie")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Equipo.EquipoSerie, new { htmlAttributes = new { @readonly = true, @class = "equipo" } })
                </div>
                <div class="col-lg-3">
                    @Html.Label("Equipo Tipo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Equipo.TipoEquipo.TipoEquipoDescripcion, new { htmlAttributes = new { @readonly = true, @class = "equipo" } })
                </div>
                <div class="col-lg-3">
                    @Html.Label("Marca Equipo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Equipo.MarcaEquipo.MarcaEquipoDescripcion, new { htmlAttributes = new { @readonly = true, @class = "equipo" } })
                </div>
                <div class="col-lg-3">
                    @Html.Label("Modelo Equipo")
                </div>
                <div class="col-lg-9">
                    <input type="text" name="ModeloEquipoDescripcion" id="ModeloEquipoDescripcion" value="@ViewBag.modelo" readonly class = "equipo" />
                </div>
                <div class="col-lg-3">
                    @Html.Label("Equipo Codigo")
                </div>
                <div class="col-lg-9">
                    @*@Html.EditorFor(model => model.EquipoId, new { htmlAttributes = new { @readonly = true, @class = "equipo" } })*@
                    <input type="text" name="EquipoId" id="EquipoId" value="@Model.EquipoId" readonly class="equipo" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Código empleado")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EmpleadoTallerId)
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpleadoTallerId" id="empleadoError"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Nombre del Empleado")
                </div>
                <div class="col-lg-9">
                    @*@Html.EditorFor(model => model.Empleado.nombre, new { htmlAttributes = new { @readonly = true } })*@
                    @Html.DropDownList("nombre", null,"", new { @class = "selectize" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Razón entrada")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaRazon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaRazon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Persona responsable")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsable, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Documento del responsable")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsableDocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsableDocumento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Contacto")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsableTelefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsableTelefono, "", new { @class = "text-danger" })
                </div>
            </div>

            @*campos de busqueda de localidades*@
            <panel>
                <div class="row" id="LocalizacionId_div">
                    <div class="col-lg-3">
                        <input type="radio" name="DeptoLocal" id="departamento" value="2" class="DeptoLocal" @*@(Model.LocalizacionId != null ? "" : "checked=checked"*@>Departamento.
                        <input type="radio" name="DeptoLocal" id="fiscalia" value="1" class="DeptoLocal" @*@(Model.LocalizacionId == null ? "" : "checked=checked")*@>Fiscalia.
                    </div>
                    <div id="Local" name="Local" class="col-lg-9" >
                        @Html.DropDownList("LocalizacionId",(SelectList)ViewBag.Localizacion, "---SELECCIONE---", new { @class = "chosen-select" })
                    </div>
                    <div id="Depto" name="Depto" class="col-lg-9">
                        @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.DeparamentoId, "---SELECCIONE---", new { @class = "chosen-select" })
                    </div>
                </div>
            </panel>

            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Procedencia (Opcional)")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Activo fijo")
                </div>
                <div class="col-lg-9">
                    @*@Html.EditorFor(model => model.ActivoFijo, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input id="ActivoFijo" name="ActivoFijo" type="text" value="@Model.ActivoFijo" />
                    @Html.ValidationMessageFor(model => model.ActivoFijo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Avance o Solución")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="TallerPgrAvance" name="TallerPgrAvance"/>
                </div>
            </div>


            @if (Model.TallerPgr.Count > 0)
            {
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Historico de Avance")
                </div>
                <div class="col-lg-9">
                    @foreach (var avance in Model.TallerPgr.OrderByDescending(x=>x.TallerPgrFecha)) {
                    <p class="avance-texto">@avance.TallerPgrAvance @avance.TallerPgrFecha.ToString("dd/MM/yyyy")</p>
                    }
                </div>
            </div>
            }

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Estado del Equipo")
                </div>
                <div class="col-lg-9">

                    <select id="EntradaEstatus" name="EntradaEstatus">
                        <option value="">Seleccione</option>
                        <option value="0" class="entradaEstatus" @(Model.EntradaEstatus == false ? "selected=selected" : "")>En Proceso</option>
                        <option value="1" class="entradaEstatus" @(Model.EntradaEstatus == true ? "selected=selected" : "")>Terminado</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpleadoTallerId" data-valmsg-replace="true" id="empleadoError">@ViewBag.estatus</span>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-9">
                        <input type="text" name="entradaFecha" value="@Model.EntradaFecha" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Técnico Responsable")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("EntradaTecnicoResponsable", null, new { @class = "form-control" })
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpleadoTallerId" data-valmsg-replace="true" id="empleadoError">@ViewBag.tecnicovalido</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                    @Html.ActionLink("Imprimir Reporte", "ReporteTaller", new { entradaId = Model.EntradaId }, new { @class = "buttonEnviar" })

                </div>
            </div>
        </div>
    }

</section>

<script src="~/Content/Chossen/chosen.jquery.js"></script>


<script>
    $(document).ready(function () {

        var $select = $('.selectize').selectize({
            plugins: ['clear_on_type']
            ,placeholder: " "
        });

        var control = $select[0].selectize;

        $('#nombre-selectized').attr('autocomplete', 'nope');

        if ($("#EmpleadoTallerId").val() != "" && $("#EmpleadoTallerId").val()!= @Model.EmpleadoTallerId) {
            cargarempleado($("#EmpleadoTallerId").val());
        }

        $("#EmpleadoTallerId").on("blur", function () {

            if ($("#EmpleadoTallerId").val() != "" && $("#EmpleadoTallerId").val()!= @Model.EmpleadoTallerId) {
                cargarempleado($("#EmpleadoTallerId").val());
                control.setValue($("#EmpleadoTallerId").val());
            }
        });

        $("#nombre").change(function () {
            cargarempleado($("#nombre").val());
        });

        $('.chosen-select').chosen({ placeholder_text_single: " " });

        active = '@Model.LocalizacionId';
        console.log($('#LocalizacionId').val());

        if(active!=''){
            $('#fiscalia').attr('checked','checked');
            $("#Local").show();
            $("#Depto").hide();

            //$('#Depto select option[value=""]').attr("selected", true);
            //$('#Depto select option[value="0"]').attr("selected", true);
        } else if(active == ''){
            $('#departamento').attr('checked','checked');
            $("#Depto").show();
            $("#Local").hide();

            //$('#Local select option[value=""]').attr("selected", true);
            //$('#Local select option[value="0"]').attr("selected", true);
        }

        $(".DeptoLocal").change(function () {
            if ($("input[name=DeptoLocal]:checked").val() == "1") {
                $("#Local").show();
                $("#Depto").hide();

                //$('#Depto select option[value=""]').attr("selected", true);
                //$('#Depto select option[value="0"]').attr("selected", true);
            }
            else if ($("input[name=DeptoLocal]:checked").val() == "2") {
                $("#Depto").show();
                $("#Local").hide();

                //$('#Local select option[value=""]').attr("selected", true);
                //$('#Local select option[value="0"]').attr("selected", true);
            }
        });

        @*$("#entradaEstatus").change(function () {
            $("#loading-animation-container").fadeIn();

            var request = $.ajax({
                url: '@Url.Action("CambiarEstado")',
                method: 'GET',
                data: {
                    estado: $("#entradaEstatus").val(),
                    entradaId: '@Model.EntradaId'
                }
            });

            request.done(function (Data) {
                $("#loading-animation-container").fadeOut();
            });

            request.fail(function (jqXHR, textStatus) {
                console.log("Falló cambiar estado: " + textStatus);
            });
        });*@

        var terminado = $(".EntradaEstatus")[1];
        var EnProceso = $(".EntradaEstatus")[2];

        $(document).ajaxStart(function () {
            $("body").addClass("loading");
        });
        $(document).ajaxComplete(function () {
            $("body").removeClass("loading");
        });
        //funcion para cargar el empleado
        $("#cedulaEmpleado").on("blur", function () {

            var cedulaEmpleado = $("#cedulaEmpleado").val();
            var request = $.ajax({
                url: '@Url.Action("GetEmpleado")',
                type: "GET",
                data: { cedula: cedulaEmpleado },
                contentType: "application/json; charset=utf-8"
            });

            request.done(function (data) {
                $("#codigoEmpleado").val(data.empleadoid);
                $("#nombre").val(data.nombre);
            });

            request.fail(function (jqXHR, textStatus) {
                $("#codigoEmpleado").val("");
                $("#nombre").val("");
                alert("Esta cédula es invalida o no existe en el sistema ");
                $("#cedulaEmpleado").val('');
                $("#cedulaEmpleado").focus();
            });
        });

        //funcion que carga el equipo
        $("#equipoSerie").on("blur", function () {

            var equipoSerie = $("#equipoSerie").val();

            var request = $.ajax({
                url: '@Url.Action("GetEquipo")',
                type: "GET",
                data: { serie: equipoSerie },
                contentType: "application/json; charset=utf-8"
            });

            request.done(function (data) {
                console.log(data);
                $("#tipoEquipo").val(data.TipoEquipo);
                $("#marca").val(data.MarcaEquipo);
                $("#equipoID").val(data.Equipo);
            });

            request.fail(function (jqXHR, textStatus) {
                $("#tipoEquipo").val("");
                $("#marca").val("");
                $("#equipoID").val("");
                alert("Este equipo no esta registrado! ");
                $("#equipoSerie").val('');
                $("#equipoSerie").val(focus);
            });
        });

        //funcion para buscar localidades

        //var buscarLocalidad = $("#buscarLocalidad").val();

        function cargarempleado(empleadoid) {
            $.ajax({
                url: '@Url.Action("GetEmpleado")',
                method : 'POST',
                data: { codigoEmpleado: empleadoid },
                dataType: 'json',
                success: function (data, status, xhr) {
                    $("#EmpleadoTallerId").val(data.empleadoid);
                    //$("#nombre").val(data.empleadoid);
                    //$('#nombre option[value=' + data.empleadoid + ']').attr('selected', 'selected');
                    //$("#nombre").trigger("chosen:updated");
                    $('#empleadoError').text('');
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    //swal('error',"Usuario no encontrado")
                    $('#empleadoError').text('Usuario no encontrado');
                }
            });
        }

        var botonGetLocalidades = $("#botonGetLocalidades");

        botonGetLocalidades.click(function () {
            var localParametro = $("#buscarLocalidad").val();

            var request = $.ajax({
                url: '@Url.Action("GetLocalidad", "EntradaTallerPgr")',
                method: "GET",
                data: {
                    LocalParametro: localParametro
                }
            });

            request.done(function (data) {
                console.log(data.localidades);
                var selectLocalidades = $("#selectLocalidades");

                selectLocalidades.empty();

                var option = `<option selected=selected>Seleccione</option>`;

                selectLocalidades.append(option);

                for (var i = 0; i < data.localidades.length; i++) {
                    option = `<option value="` + data.localidades[i].LocalizacionId + `">` + data.localidades[i].LocalizacionDescripcion + `</option>`;

                    selectLocalidades.append(option);
                }
            })
        });
    });
</script>

