﻿@model IEnumerable<intra.Models.TallerPgr.EntradaTallerPgr>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />

<section class="row">
    <div class="col-lg-10">
        <h2>Entrada taller</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "button_white" })
        </p>
    </div>
    <br /><br /><br />
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right">
            @Html.ActionLink("Reporte de Salida", "ReporteSalida", null, new { @class = "button_white" })
        </p>
    </div>
</section>
<br />
<table id="tableEntrada" class="table table-striped table-hover responsive display no-wrap" width="100%">
    <thead>
        <tr>
            @*<th>Equipo Serie</th>*@
            <th>Activo fijo</th>
            <th>Persona responsable</th>
            <th>Deparamento o Localidad </th>
            <th>Técnico Responsable</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style=" text-transform: capitalize">
                <td>@Html.ActionLink(item.ActivoFijoView, "Edit", new { id = item.EntradaId })</td>
                <td>@Html.DisplayFor(modelItem => item.EntradaPersonaResponsable)</td>
                <td>
                    @if (item.LocalizacionId != null && item.localizacion != null)
                    {
                        @item.localizacion.LocalizacionDescripcion
                    }
                    else if (item.DepartamentoId != null)
                    {
                        @item.Departamento.DepartamentoDescripcion
                    }
                </td>
                <td>
                    @(item.Tecnico?.TecnicoNombre)
                </td>
                <td>
                    @(item.EntradaEstatus == true ? "Terminado" : "En proceso")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EntradaId }) |
                    @if (item.EntradaEstatus == true)
                    {
                        @Html.ActionLink("Reporte", "ReporteTaller", new { entradaId = item.EntradaId } , new { @target = "_blank" });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tableEntrada').DataTable({
            "order": [],
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            // responsive: true
        })
    });
</script>