﻿@model IEnumerable<intra.Models.TallerPgr.EntradaTallerPgr>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@

    <style>
        * {
            font-family: "Arial";
        }
        body {
             font-family: "Arial";
             font-size:20px !important;
        }
        body img {
            width: 98%;
            position: absolute;
            height: 1500px;
            margin-bottom: 0 !important;
            margin-left: 15px;
        }

        th {
            text-align: left;
            border: 1px solid black;
            padding: 10px;
            border-collapse: collapse;
            background-color: #f1f1f1;
            width: 25%;
        }

        td {
            border: 1px solid black;
            padding: 10px;
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            width: 74%;
            position: relative;
            top: 700px;
        }

        .otherpagebrake {
            border-collapse: collapse;
            width: 74%;
            position: relative;
            top: 180px;
        }

        img {
            width: 230px;
            height: 83px;
            margin-bottom: 1px;
        }

        h1 {
            position: absolute;
            margin: 40%;
            top: -43%;
        }

        #titulo {
            position: absolute;
            top: 110px;
            width: 100%;
            text-align: center;
            font-size: 20pt;
        }
        
        #titulo p {
            margin: 8px 0px;
            padding: 0px;
        }
        #titulo p:nth-child(1) {
            font-size: 20px;
            font-weight:bold;
        }
        #titulo p:nth-child(2) {
            font-size: 18px;
            font-weight:bold;
        }
        #titulo p:nth-child(3) {
            font-size: 18px;
            font-weight:400;
        }
        .description {
            position: absolute;
            top: 550px;
            width: 100%;
            text-align: left;
            left: 158px;
            width:74%;
        }
        .equipos-title {
            position: absolute;
            top: 650px;
            width: 100%;
            left: 158px;
            text-align: left;
        }

        footer {
            margin-top: 800px;
            margin-left: 154px;
        }
        footer p:nth-child(1) {
            margin-bottom: 20px;
        } 
        footer p:nth-child(2) {
            font-weight:bold;
            margin: 0px;
        } 
        footer p:nth-child(3) {
            margin-top: 2px;
            text-transform: capitalize !important;
        }
        .fecha {
            position: absolute;
            top: 250px;
            width: 100%;
            left: 158px;
            text-align: left;
        }
        .fecha p {
            margin: 0px;
        }
        .cuerpo-asunto {
            position: absolute;
            top: 340px;
            width: 100%;
            left: 150px;
            text-align: left;
        }
         .cuerpo-asunto table {
            top: 0px;
            border: 0px;
         }
         .cuerpo-asunto table td{
             border: 0px;
         }
         .cuerpo-asunto table td p{
             margin: 2px;
         }
         .cuerpo-asunto table td p:nth-child(1){
             font-weight: bold;
         }
         .cuerpo-asunto table tr:nth-child(3) td:nth-child(2){
             font-weight: bold;
         }
         .breakhere {
            page-break-after: always;
        }

    </style>

    <title></title>
</head>
<body>
    <img src="~/Content/images/Infracciones.png" />

    <div id="titulo">
        <p>PROCURADURIA GENERAL DE LA REPUBLICA</p>
        <p>"Año del Fomento de las Exportaciones"</p>
        <p>DIRECCION DE INFORMATICA</p>
    </div>
    <div class="fecha">
        <p>Santo Domingo, D.N.-</p>
        <p>@ViewBag.fecha</p>
    </div>
    <div class="cuerpo-asunto">
        <table>
            <tr>
                <td>A</td>
                <td>
                    <p>: Ing. Javier Forteza</p>
                    <p>Director de Tecnología de la Información</p>
                </td>
            </tr>
            <tr>
                <td>De</td>
                <td>
                    <p>Licdo. Ynocencio Rosey Santos</p>
                    <p>Encargado de Taller DTI.</p>
                </td>
            </tr>
            <tr>
                <td>Asunto</td>
                <td>: Salida de Equipos.</td>
            </tr>
        </table>
    </div>
    <section>
        <p class="description">Por medio de la presente tengo a bien solicitar su autorizacion para la salida de equipos desde el Taller de Informatica, hasta
la @ViewBag.dirigido, la cual estaban en reparacion. </p>
    </section>
    <section>
       
            @if (ViewBag.count > 1)
            {
                <h3 class="equipos-title">EQUIPOS (@ViewBag.count) </h3>
            }
            else
            {
                <h3 class="equipos-title">EQUIPO</h3>
            }

       <table align="center">
           <tr>
               <th>Activo Fijo</th>
               <th>Tipo</th>
               <th>Marca</th>
               <th>Modelo</th>
           </tr>
           @{ 
               var count = 0;
            }
            @foreach (var item in Model)
            {
                if (count >= 14) { break; }
                count++;
                <tr>
                    <td>@item.ActivoFijo</td>
                    <td>@item.Equipo.TipoEquipo.TipoEquipoDescripcion</td>
                    <td>@item.Equipo.MarcaEquipo.MarcaEquipoDescripcion</td>
                    <td>@(item.Equipo.ModeloEquipo == null ? "DESCONOCIDA" : item.Equipo.ModeloEquipo.ModeloEquipoDescripcion)</td>
                </tr>
            }
       </table>
    </section>
    @if(count >= 14) { 
    <p class="breakhere"></p>
    <div class="">
        <img src="~/Content/images/Infracciones.png" />
        <table class="otherpagebrake" align="center">
            <tr>
                <th>Activo Fijo</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
            </tr>
            @foreach (var item in Model.Skip(14))
            {
                <tr>
                    <td>@item.ActivoFijo</td>
                    <td>@item.Equipo.TipoEquipo.TipoEquipoDescripcion</td>
                    <td>@item.Equipo.MarcaEquipo.MarcaEquipoDescripcion</td>
                    <td>@(item.Equipo.ModeloEquipo == null ? "DESCONOCIDA" : item.Equipo.ModeloEquipo.ModeloEquipoDescripcion)</td>
                </tr>
            }
        </table>
    </div>
    }
    <footer style="@if(count >= 14) { <text>margin-top: 300px;</text> }">
        <p>Atentamente,</p>
        <p>Licdo. Ynocencio Rosey Santos</p>
        <p>Encargado de Taller DTI.</p>
    </footer>
</body>
</html>