﻿@using intra.Models.TallerPgr

@model EntradaTallerPgr

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@

    <style>
        * {
            font-family: "Arial";
        }

        body img {
            width: 98%;
            position: absolute;
            height: auto;
            margin-bottom: 0 !important;
        }

        th {
            text-align: right;
            border: 1px solid black;
            padding: 10px;
            border-collapse: collapse;
            background-color: #f1f1f1;
            width: 25%;
        }

        td {
            border: 1px solid black;
            padding: 10px;
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            width: 74%;
            position: relative;
            top: 280px;
        }

        img {
            width: 230px;
            height: 83px;
            margin-bottom: 1px;
        }

        h1 {
            position: absolute;
            margin: 40%;
            top: -43%;
        }

        #titulo {
            position: absolute;
            top: 180px;
            width: 100%;
            text-align: center;
            font-size: 20pt;
        }

        footer {
            margin-top: 410px;
        }
    </style>

    <title></title>
</head>
<body>
    <img src="~/Content/images/Infracciones.png" />

    <div id="titulo">
        Reporte de Taller
    </div>

    <section>
        <table align="center" width="100%">
            <tr>
                <th width="70%">Equipo</th>
                <td width="30%">@Model.Equipo.EquipoSerie</td>
            </tr>
            <tr>
                <th>Activo Fijo</th>
                <td>@Model.ActivoFijoView</td>
            </tr>
            <tr>
                <th>Fecha Entrada</th>
                <td> @Model.EntradaFecha</td>
            </tr>
            <tr>
                <th>Entregado Por</th>
                <td>@Model.EntradaPersonaResponsable</td>
            </tr>
            <tr><th>Código Empleado</th>
            <td>@ViewBag.PersonaEntrega</td>
            </tr>
            <tr>
                <th>Documento de Identidad </th>
                <td>@Model.EntradaPersonaResponsableDocumento</td>
            </tr>
            <tr>
                <th width="40%">Teléfono o IP Localidad</th>
                <td width="60%">@Model.EntradaPersonaResponsableTelefono</td>
            </tr>

            <tr>

                @if (Model.LocalizacionId != null)
                {
                    <th>Dependencia</th>
                    <td>@Model.localizacion.LocalizacionDescripcion</td>
                }
                else if (Model.DepartamentoId != null)
                {
                    <th>Departamento</th>
                    <td>@Model.Departamento.DepartamentoDescripcion</td>
                }
            </tr>

            
            <tr>
                <th>Recibido Por</th>
                <td>@ViewBag.EntregadoPor</td>
            </tr>
            <tr>
                <th>Código Empleado</th>
                <td>@Model.EmpleadoTallerId</td>
            </tr>
            
            
            <tr>
                <th>Razón Entrada</th>
                <td>@Model.EntradaRazon</td>
            </tr>
            
            <tr>
                <th>Estado</th>
                @if (Model.EntradaEstatus == false)
                {
                    <td>@("En proceso")</td>
                }
                else
                {
                    <td>@("Terminado")</td>
                }

            </tr>
            <tr>
                <th>Fecha de Impresión</th>
                <td>@DateTime.Now.ToShortDateString()</td>
            </tr>
        </table>
    </section>
    <footer>
        <br /><br /><br /><br />
        <hr align="center" width="35%" style="background-color: black; border:1px solid black;display: block;" />
        <p align="center">Firma del Responsable</p>
    </footer>
</body>
</html>