﻿
@{
    ViewBag.Title = "Reporte de Salida";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/css/textext/textext.core.css" rel="stylesheet" />
<link href="~/Content/css/textext/textext.plugin.autocomplete.css" rel="stylesheet" />
<link href="~/Content/css/textext/textext.plugin.tags.css" rel="stylesheet" />
<script src="~/Content/js/textext/textext.core.js"></script>
<script src="~/Content/js/textext/textext.plugin.autocomplete.js"></script>
<script src="~/Content/js/textext/textext.plugin.filter.js"></script>
<script src="~/Content/js/textext/textext.plugin.tags.js"></script>


<style>

    /*.form-control {
        width: 500px !important;
    }*/

    .text-core {
        width:100% !important;
        height: 80px !important;
    }
    .text-core .text-wrap{
        width:100% !important;
        height: 80px !important;
    }
    .text-core .text-wrap textarea{
        width:100% !important;
        height: 80px !important;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-source: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255) 100%);
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-image-slice: 1;
    }

    .text-core .text-wrap .text-tags .text-tag .text-button {
        height: 22px;
        border: 1px solid #0b4aa4;
        background: #80cdff;
    }
    span.text-label {
        font-size: 15px;
        font-weight: bold;

    }
</style>


<h2>Reporte Salida</h2>
@using (Html.BeginForm("ReporteSalidaPdf", "EntradaTallerPgr", FormMethod.Post))
{

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-lg-3">
            @Html.Label("Equipos")
        </div>
        <div class="col-lg-9">
            <textarea id="activosfijos"></textarea>

            <input type="hidden" name="activosfijosval" id="activosfijosval" value="" />
            <br /><br />
        </div>
        <div class="col-lg-3">
            @Html.Label("Dirigido a:")
        </div>
        <div class="col-lg-9">
            <input type="text" id="dirigido" name="dirigido" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            <input type="submit" value="Generar Salida" class="button_white btnGenerarSalida" />
            @*@Html.ActionLink("Imprimir Reporte", "ReporteTaller", new { entradaId = Model.EntradaId }, new { @class = "buttonEnviar" })*@
        </div>
    </div>

</div>
}
<script>

    $(document).ready(function () {

        var activosfijos = $("#activosfijos");

        activosfijos.on('keypress', function (e) {
            keys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
            return keys.indexOf(event.key) > -1
        })


        activosfijos.textext({
            plugins: 'tags autocomplete filter'
        })
       
        activosfijos.bind('getSuggestions', function (e, data) {

            $.ajax({
                url: '@Url.Action("GetEntrada")',
                data: { activofijo: data.query },
                dataType: 'json',
                cacheResults: false,
                success: function (result) {
                    activosfijos.textext()[0].tags()._formData.forEach(function (element) {
                        var index = result.indexOf(element);
                        if (index > -1) {
                            result.splice(index, 1);
                        }
                    });
                   
                   textext = $(e.target).textext()[0],
                       query = (data ? data.query : '') || '';
                   activosfijos.trigger(
                       'setSuggestions',
                       { result: textext.itemManager().filter(result, query) }
                   );

                }

            });

        });

        $(".btnGenerarSalida").click(function () {
            activosfijos.textext()[0].tags()._formData
            var seleccionados = activosfijos.textext()[0].tags()._formData;
            $("#activosfijosval").val(seleccionados.toString());
        });

        

    });


</script>