﻿@model intra.Models.TallerPgr.EntradaTallerPgr
@{
    ViewBag.Title = "SalidaTaller";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    intput[type="textarea"], input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    #loading-animation-container {
        display: none;
    }

    #loading-animation {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
    }

    #loading-image-container img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #transparent-element {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #000000;
        opacity: .7;
    }
</style>




<h2>SalidaTaller</h2>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.EntradaId)
            @Html.HiddenFor(model=>model.EntradaTecnicoResponsable)


            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Equipo serie")
                </div>
                <div class="col-lg-9">
                    <input type="text" name="equipoSerie" value="@Model.Equipo.EquipoSerie" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Equipo tipo")
                </div>
                <div class="col-lg-9">
                   <input type="text" id="tipoEquipo" name="tipoEquipo" value="@Model.Equipo.TipoEquipo.TipoEquipoDescripcion" readonly />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Marca equipo")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="marca" name="marca" value="@Model.Equipo.MarcaEquipo.MarcaEquipoDescripcion" readonly />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Equipo código")
                </div>
                <div class="col-lg-9">
                    <input type="text" id="equipoId" name="equipoId" value="@Model.EquipoId" readonly />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Código empleado")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EmpleadoTallerId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Razón entrada")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaRazon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaRazon, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Persona responsable")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsable, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Documento")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsableDocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsableDocumento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Teléfono")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EntradaPersonaResponsableTelefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntradaPersonaResponsableTelefono, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Localización")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("LocalizacionId", (SelectList)ViewBag.Localizacion)
                </div>
            </div>*@
            @*<div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Departamento")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.DeparamentoId, "Seleccione")
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Activo fijo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.ActivoFijo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivoFijo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @if(Model.LocalizacionId != null)
                {
                    <div class="col-lg-3">
                        @Html.Label("Localizacion")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("LocalizacionId", (SelectList)ViewBag.Localizacion)
                    </div>
                }
                else if(Model.DepartamentoId != null)
                {
                    <div class="col-lg-3">
                        @Html.Label("Departamento")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.DeparamentoId, "Seleccione") 
                    </div>
                }

            </div>

            <div class="form-group">
                @if (Model.EntradaEstatus == true)
                {
                    <div class="col-lg-3">
                        @Html.DisplayName("Estatus")
                    </div>
                    <div class="col-lg-9">
                        @Html.Label("Terminado")
                    </div>  
                }
                else
                {
                    <div class="col-lg-3">
                        @Html.Label("Estatus")
                    </div>
                    <div class="col-lg-9">
                        @Html.DisplayName("En proceso")
                    </div>  
                }
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver","Index", null, new {@class="buttonEnviar" })
                </div>
            </div>
        </div>
    }
</section>

