﻿@model IEnumerable<intra.Models.TallerPgr.TecnicoTaller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<style>
    .fila {
        color: #70707a !important;
    }

    .btn-crear {
        line-height: 2em;
        margin: 2% 0;
    }

    .CambiarEstado:hover {
        text-decoration: none;
        cursor: pointer;
    }
</style>
@Styles.Render("~/datatables/css")

<div class="btn-crear pull-right">
    <button class="button_white" id="modal">Agregar Técnico</button>
</div>

<table class="table display responsive nowrap tableGrid" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>
                Nombre del Técnico
            </th>
            <th>
                Código de Empleado
            </th>
            <th>
                Correo
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="fila">
                <td>
                    @Html.DisplayFor(modelItem => item.TecnicoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TecnicoCodigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TecnicoUsuario)<text>@@pgr.gob.do</text>
                </td>
                <td>
                    <a class="CambiarEstado" onclick="CambiarEstadoTecnico(@item.TecnicoTallerId)">@(item.Estado ? "Activo" : "Inactivo")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/datatables/js")

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/TipoSolicitudes/TecnicoAlternativoModal.cshtml");
            }
        </div>
    </div>
</div>

<script>

    var AnimacionCarga = $("#loading-animation-container");

    $("#modal").click(function () {
        $("#myModal").modal();
    });

    $("#btnAgregarTecnico").click(function () {

        if ($('#TecnicoId').val() != "") {
            AnimacionCarga.show();
            $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/TecnicosTaller/AgregarTecnico",
            method: "POST",
            data: { actividadId: $('#ActividadId').val(), tecnicoId: $('#TecnicoId').val() },
            success: function (result) {
                if (result == "Guardado") {
                    success(result);
                } else {
                    error(result);
                }
            },
            error: function (ex) {
                error("Ha ocurrido un error")
            }
            });

        } else {
            swal("","Ingrese un Tecnico","info")
        }
    });

    function CambiarEstadoTecnico(id) {

        swal({
            title: 'Estas seguro/a de que quiere cambiar el estado de este tecnico?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Cambiar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            AnimacionCarga.show();
            $.ajax({
                method: 'POST',
                url: '@Url.Action("CambiarEstado")',
                data: { id: id },
                success: function (data) {
                    if (data == 'Activado') {
                        success(data);
                    } else if (data == 'Desactivado') {
                        success(data);
                    } else if (data == 'Incambiable') {
                        error('Este es el unico tecnico del taller activo, no se puede desactivar');
                    } else {
                        error('A ocurrido un error, refresque la pagina y trate otra vez.');
                    }
                },
                error: function (ex) {
                    error('Un error ha ocurrido.');
                }
            });
        })

    }

    function success(mensaje) {
        AnimacionCarga.hide();
        swal({
            title: mensaje,
            type: 'success',
            confirmButtonText: 'OK'
        }).then(function () {
            location.reload();
        })
    }
    function error(mensaje) {
        AnimacionCarga.hide();
        swal('Error', mensaje, 'error');
    }

</script>