﻿@model intra.Models.RolesUsuarios.Categorias

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm())  
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-8">
            <h2>Categorias</h2>
        </div>
        <div class="col-lg-4">
            <span class="pull-right">
                @Html.ActionLink("Volver", "Index", null, new { @class=" btn button_white" })
                <input type="submit" value="Crear" class="btn button_white" />
            </span>
        </div>
    </div>

    <div class="row alejar_top">
        <div class="col-lg-12">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Categoría", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CategoriaNombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoriaNombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CategoriaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoriaDescripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Sistema", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SistemaId", (SelectList)ViewBag.Sistemas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SistemaId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}


