﻿@model intra.Models.RolesUsuarios.Categorias

@{
    ViewBag.Title = "eliminar";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Seguro que Desea Borrar Este Registro?</h3>
<div>
    <h4>Categorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
           @Html.DisplayFor(model => model.CategoriaNombre)
        </dd>

        <dt>
            @Html.DisplayName("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaDescripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
