﻿@model intra.Models.RolesUsuarios.Categorias

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaNombre)
        </dd>

        <dt>
            @Html.Display("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaDescripcion)
        </dd>

        <dt>
            @Html.Display("SistemaID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaId }) |
    @Html.ActionLink("Volver", "Index")
</p>
