﻿@model IEnumerable<intra.Models.RolesUsuarios.Categorias>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/intraMaster.cshtml";
}



@Styles.Render("~/datatables/css")



<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Categorías</h2>
        <hr class="hr2" />
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top"> 
        @Html.ActionLink("Crear Nueva", "Create", null, new { @class = "button_white" })
       </div>
    </div>
</div>




<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Categoria")
            </th>
            <th>
                @Html.DisplayName("Descripcion")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CategoriaId }, new { @class = "btn button_white" } ) 
                    @Html.ActionLink("Detalle", "Details", new { id = item.CategoriaId }, new { @class = "btn button_white" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CategoriaId }, new { @class = "btn button_white" })
                </td>
            </tr>
        }
    </tbody>
</table>



@Scripts.Render("~/datatables/js")