﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Intranet PGR</title>

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Content/fonts.css" type="text/css" charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">

    <script src="~/scripts/jquery-3.1.0.min.js"></script>

    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/slider-login.css" rel="stylesheet" />

    @*Sweet alert 2*@
    <link href="~/CSS/sweetalert2.css" rel="stylesheet" />
    <script src="~/scripts/sweetalert2.min.js"></script>

    <style>
        .br-fix-btn i:hover {
            background-color: transparent !important;
        }

        .br-modal .modal-content {
            padding: 40px 60px 60px 60px;
            border-radius: 15px;
        }

        h4.actividades {
            color: brown;
            font-weight: bold;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
        }

        .alert-danger {
            border-radius: 5px;
        }

        .img-bg {
            width: 100%;
        }

        .login-img {
            height: 80px;
            margin-bottom: 43px !important;
            margin-top: 25px !important;
        }

    </style>

</head>
<body>
    @*<div class="container-fluid">
            <div class="row">
                <div class="clipout">
                    <video playsinline autoplay muted loop>
                        <source src="~/Content/videos/video-intranet2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>*@
    @*<div class="row">
        <div class="col-lg-6">*@

    <div id="loading-animation-container" hidden>
        <div id="loading-animation">
            <div id="loading-image-container">
                <img src="~/Content/images/gif_intranet_loading.gif" />
            </div>
        </div>
        <div id="transparent-element"></div>
    </div>

    <script>
        AnimacionCarga = $("#loading-animation-container");
    </script>
    <!--End Loading on pages-->


    <masterlink style="display:none;">@HttpRuntime.AppDomainAppVirtualPath</masterlink>
    <form class="accesos" method="post">
        @*<div class="contenedor">
    <img src="~/Content/images/fondo-intranet.jpg" class="img-bg" />
    <video autoplay="" loop class="video">
            <source src="~/Content/images/fondo-intranet.jpg"/>
        </video>
        </div>
        *@

        <div class="contenedor-2">
            <div class="container">

                <div class="row">

                    <div class="col-md-6 col-lg-offset-1 col-lg-5">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="form-group">
                                <img class="form-control-img" src="~/content/images/logo_intranet_2018.svg">
                                <label for="exampleInputEmail1"></label>
                                <input id="usuario" class="form-control" name="usuario" type="text" autofocus placeholder="Usuario" required />
                                <label for="exampleInputPassword1"></label>
                                <input id="clave" class="form-control" name="clave" type="password" placeholder="Contraseña" required />
                            </div>
                            @if (TempData["MensajeError"] != null)
                            {
                                <div id="MensajeError" class="alert alert-danger">
                                    @TempData["MensajeError"]
                                    @*@ViewBag.MensajeError*@
                                </div>
                            }
                            <div class="alert alert-info">
                                • Acceder con las mismas credenciales del computador
                            </div>
                          
                            <div class="alert-danger" hidden="hidden">
                                <p> <h4 class="actividades">Debe iniciar sesión para ver las actividades.</h4></p>
                            </div>
                           
                            <button type="submit" class="br-fix-btn button_white login-button"><i class="fa fa-sign-in alejar_icono"></i>Entrar</button>

                            <div class="alert-info alert-help">
                                • Si necesita alguna asistencia favor llamar a Mesa de Ayuda <br /> <b> Ext.: 1246, 1010, 1011</b>
                            </div>

                            @*<div class="footer-login alert-footer alert-info">Si necesita alguna asistencia favor llamar a Mesa de Ayuda Ext.: 1246, 1010, 1011</div>*@
                        </fieldset>
                    </div>
                    <div class="col-md-6 col-lg-5 ">
                        <div class="contetenedor-gestion-humana">
                            <div class="gestion-humana">
                                <span>Actívate con la Dirección de Recursos Humanos</span>
                            </div>
                            <span class="slider-text">
                                @Html.Action("vNovedadesGestionHumana", "Login")
                            </span>
                            <div class="footer-panel">
                                <div class="row" style="background:#fff; border-radius:15px; padding:5px; display:flex; align-items: center;">
                                    <div class=" col-lg-2"><img class="img-size" src="~/content/images/svg/buzon.svg"></div>
                                    <div class="col-lg-offset-1 col-lg-9" style="display:flex; flex-direction:column; justify-content:flex-start;">
                                        <div class="footer-bg-card">
                                            <p><b>¡Compártenos tu idea, iniciativa <br />o  aporte para mejorar nuestro servicio!</b></p>
                                        </div>
                                        <a href="#" class="btn btn-footer btnSugerenciaModal">
                                            <span>Click aquí</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </form>

    <div class="modal br-modal fade SugerenciaModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                @Html.Action("EnviarSugerenciaModal", "RH_Sugerencia")

            </div>
        </div>
    </div>

    <script src="~/content/js/script-login.js"></script>
    @if (ViewBag.MensajeError != null)
    {
        <script>
            $('#clave').change(function () {
                $('#MensajeError').hide();
            });
        </script>
    }
</body>
</html>

<script>
    $(document).ready(function () {

        //console.log(window.location.href);

        var url = window.location.href;

        if (url.indexOf("Avisos") != -1 || url.indexOf("avisos") != -1) {

            //swal('Advertencia',
            //    'Debe iniciar sesión para ver las actividades',
            //    'warning');

            swal({
                text: 'Debes iniciar sesión para ver las actividades',
                imageUrl: '@HttpRuntime.AppDomainAppVirtualPath/Content/images/svg/enter-right.svg',
                imageClass: 'login-img',
            });
        }

    });
</script>
