﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Intranet PGR</title>

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Content/fonts.css" type="text/css" charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">

    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/login.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="clipout">
                <video playsinline autoplay muted loop>
                    @*<source src="~/Content/videos/video-intranet2.mp4" type="video/mp4" />*@
                </video>
            </div>
        </div>
    </div>
    <form class="accesos" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <img class="form-control-img" src="~/content/images/logo_intranet_2018.svg">
                            <label for="exampleInputEmail1"></label>
                            <input id="usuario" class="form-control" name="usuario" type="text" autofocus placeholder="Usuario" required />
                            <label for="exampleInputPassword1"></label>
                            <input id="clave" class="form-control" name="clave" type="password" placeholder="Contraseña" required />
                        </div>
                        @if (ViewBag.MensajeError != null)
                        {
                            <div id="MensajeError" class="alert alert-danger">
                                @ViewBag.MensajeError
                            </div>
                        }
                        <div class="alert alert-info">
                            Acceder con las mismas credenciales del computador
                        </div>
                        <button type="submit" class="button_white"><i class="fa fa-sign-in alejar_icono"></i>Entrar</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    @if (ViewBag.MensajeError != null)
    {
        <script>
            $('#clave').change(function () {
                $('#MensajeError').hide();
            });
        </script>
    }
</body>
</html>
