﻿@model IEnumerable<intra.Models.AvisosActividades.Avisos>

@{
    Layout = null;
}

<style>
    .img-card {
        width: 100%;
    }
    p.paragraph{
        width:100%;
        text-transform: capitalize!important;
        font-size: 14pt;
    }
</style>


    <div class="center-carousel">
        <ul id="@(Model.ToList().Count > 3 ? "carousel" : "")">
            @*<li class="" style="display: none;">
            </li>*@

            @{ bool active = true; }

            @if (Model.ToList().Count > 0) {

                foreach (var item in Model)
                {
                    <li class="Avisos1 @(active ? "active" : "")" id="@item.AvisosId">

                            <div class="row"  style="display:flex; align-items:center;" >
                           
                                <div class="col-md-4">
                                    <img class="img-card" src="~/Content/Avisos/@item.AvisosImagen">
                                </div>
                                <div class="col-md-8"><p style="max-height:50px; max-height: 77px; overflow: hidden;"  class="paragraph">@item.AvisosTitulo.ToLower()</p></div>
                            </div>
                   
                    </li>

                    active = false;
               
                }

            }

        </ul>
    </div>
<script>

    $("ul").on('click', 'li.Avisos1', function (e) {
        var id = $(this).attr("id");
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath/Avisos/Details/' + id;

    });

</script>


