﻿@model intra.Models.GestionHumana.CarpetasDocumentosGH

@{
    ViewBag.Title = "Agregar Carpeta";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm())
{
    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Agregar Carpeta</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">

                <button type="submit" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                @*<input type="submit" value="Guardar" class="btn button_white" />*@
                <button type="button" id="atras" onclick="IrAtras()" class="btn button_white">Volver</button>
                @*@Html.ActionLink("Cerrar", "Index", null, new { @class = "btn button_white" })*@
            </div>

        </div>
    </section>

    <div class="form-horizontal alejar_top">
        <div class="form-group">
            @Html.Label("Nombre de la Carpeta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarpetaNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarpetaNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Carpeta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CarpetaRaizId, (SelectList)ViewBag.carpetas, (ViewBag.carpetaid==null) ? "Ninguna" : null , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarpetaRaizId, "", new { @class = "text-danger" })
            </div>
        </div>

        
    </div>
}


<script>
      function IrAtras() {
        window.history.back();
    }
</script>
