﻿@model intra.Models.GestionHumana.DocumentoGestionHumana

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />

<h2>Crear Documento</h2>

@using (Html.BeginForm("Create", "DocumentoGestionHumana", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="DocGHDescripcion" class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                <textarea id="DocGHDescripcion" name="DocGHDescripcion" class="form-control" rows="5">@(Model != null ? Model.DocGHDescripcion : "" )</textarea>
                @Html.ValidationMessageFor(model => model.DocGHDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="DocGHCarpeta" class="control-label col-md-2">Carpeta</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.CarpetaId , (SelectList)ViewBag.carpetas , (ViewBag.carpetaid == null) ? "Ninguna" : null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subir archivo</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DocGHArchivoVista, new { type = "file", @class = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\",\"ppt\",\"pptx\",\"zip\" ]" })
                <span class="field-validation-error text-danger">@ViewBag.errorDocumento</span>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="buttonAceptar btn-success" />
            </div>
        </div>
    </div>
}
    
<div class="btn btn-info">
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.carpetaid })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/jquery.filedrop.js"></script>
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script>
    $('#formulario_create').submit(function (ev) {
        if ($('#DocGHDescripcion').val() == "" || $('#DocGHDescripcion').val() == null) {
            swal("", "El campo Descripción es obligatorio", "warning");
            ev.preventDefault();
        }
        else if (document.getElementById('DocGHArchivoVista').files.length == 0) {
            swal("", "Debe subir un archivo", "warning");
            ev.preventDefault();
        }
    });
</script>