﻿@model intra.Models.GestionHumana.DocumentoGestionHumana

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<form>
    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Descargar Documento</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">
                <button type="button" id="atras" onclick="IrAtras()" class="btn button_white">Volver</button>
            </div>

        </div>
    </section>
    <div hidden="hidden">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="DocGHDescripcion" class="control-label col-md-2">Descripción</label>
                <div class="col-md-10">
                    <textarea id="DocGHDescripcion" name="DocGHDescripcion" class="form-control" rows="5" readonly="readonly">@Model.DocGHDescripcion</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="DocCarpeta" class="control-label col-md-2">Carpeta</label>
                <div class="col-md-10">
                    <input type="text" id="DocCarpeta" name="Carpeta" class="form-control" value="@(Model.Carpeta==null ? "Ninguna" : Model.Carpeta.CarpetaNombre)" readonly="readonly" />
                </div>
            </div>

            <div class="form-group">
                <label for="DocGHExtension" class="control-label col-md-2">Extensión</label>
                <div class="col-md-10">
                    <input type="text" id="DocGHExtension" name="DocGHExtension" class="form-control" value="@Model.DocGHExtension" readonly="readonly" />
                </div>
            </div>
        </div>
    </div>
        <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div">
            <label class="control-label col-md-2">Documento</label>
            <div class="col-md-10">
                <a href='@Url.Action("DownloadFile")/@Model.DocGHId' target="_blank" download="@Model.DocGHArchivoNombre" title="@Model.DocGHArchivoNombre">
                    <img src="@ViewBag.IconImage" width="100" height="100" />
                </a>
                <br />
                <label>Haga click en la imagen para descargar</label>
            </div>
        </div>
    
</form>
    @*<p>
        @Html.ActionLink("Volver a la lista", "Index" , new { id = Model.CarpetaId })
    </p>*@

<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>


<script>
       function IrAtras() {
        window.history.back();
    }
</script>