﻿@model intra.Models.GestionHumana.DocumentoGestionHumana

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/intraMaster.cshtml";
}

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />

<h2>Editar documento</h2>

    @using (Html.BeginForm("Edit", "DocumentoGestionHumana", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            @Html.HiddenFor(model => model.DocGHId)
            @Html.HiddenFor(model => model.DocGHFhCreacion)
            @Html.HiddenFor(model => model.DocGHFhModificacion)
            @Html.HiddenFor(model => model.DocGHUsuarioCreador)
            @Html.HiddenFor(model => model.DocGHUsuarioModificador)
    
            <div class="form-group">
                <label for="DocGHDescripcion" class="control-label col-md-2">Descripción</label>
                <div class="col-md-10">
                    @*@Html.TextAreaFor(model => model.DocGHDescripcion, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })*@
                    <textarea id="DocGHDescripcion" name="DocGHDescripcion" class="form-control" rows="5">@Model.DocGHDescripcion</textarea>
                    @Html.ValidationMessageFor(model => model.DocGHDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="DocGHCarpeta" class="control-label col-md-2">Carpeta Asignada</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model=>model.CarpetaId ,(SelectList)ViewBag.carpetas , "Ninguna" , new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <label for="DocGHArchivoNombre" class="control-label col-md-2">Nombre</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DocGHArchivoNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

                </div>
            </div>

            <div class="form-group">
                <label for="DocGHExtension" class="control-label col-md-2">Extensión</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DocGHExtension, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Fecha de creación</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" readonly="readonly" value="@Model.DocGHFhCreacion.Value.ToString("dd/MM/yyyy")"/>
                </div>
            </div>

            <div class="form-group">
                <label for="DocGHNombreUsuarioCreador" class="control-label col-md-2">Creado por</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DocGHNombreUsuarioCreador, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                </div>
            </div>

            @if (Model.DocGHFhModificacion != null)
            {
                <div class="form-group">
                    <label for="DocGHNombreUsuarioCreador" class="control-label col-md-2">Última fecha de modificación</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" readonly="readonly" value="@Model.DocGHFhModificacion.Value.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.DocGHNombreUsuarioModificador))
            {
                <div class="form-group">
                    <label for="DocGHNombreUsuarioModificador" class="control-label col-md-2">Última vez modificado por</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DocGHNombreUsuarioModificador, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    </div>
                </div>
            }

            <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div">
                <label class="control-label col-md-2">Documento</label>
                <div class="col-md-10">
                    @if(Model.DocGHExtension == ".pdf")
                    { 

                    <a style="width:20px" href="~/DocumentoGestionHumana/Pdf?DocumentoId=@Model.DocGHId" target="_blank" src="~/Content/img/word.png">
                    <img src="@ViewBag.IconImage" width="100" height="100" />
                    </a>
                    } else
                    { 

                    <a href='@Url.Action("DownloadFile")/@Model.DocGHId' target="_blank"  title="@Model.DocGHArchivoNombre">
                        <img src="@ViewBag.IconImage" width="100" height="100" />
                    </a>
                 
                    <br />
                    <label>Haga click en la imagen para descargar</label>
                    <br/><br/>
                    }
                    <div>
                        <input type="button" value="Reemplazar" class="buttonAceptar btn-danger" id="replace_button" />
                    </div>
                </div>
            </div>

            <div class="form-group" id="file_upload">
                <label class="control-label col-md-2">Subir archivo</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DocGHArchivoVista, new { type = "file", @class = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\",\"ppt\",\"pptx\"]" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div class="btn btn-info">
        @Html.ActionLink("Volver a la lista", "Index" , new { id = Model.CarpetaId})
    </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/jquery.filedrop.js"></script>
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script src="~/scripts/sweetalert2.js"></script>

<script>
    $(document).ready(function () {
        $('#file_upload').hide();
    });

    $('#replace_button').click(function () {
        $('#file_upload').show();
    });

    $('#formulario_edit').submit(function (ev) {
        if ($('#DocGHDescripcion').val() == "" || $('#DocGHDescripcion').val() == null) {
            swal("", "El campo Descripción es obligatorio", "warning");
            ev.preventDefault();
        }
        else if (document.getElementById('DocGHArchivoVista').files.length == 0 && ($('#file_upload').is(":hidden") == false)) {
            swal("", "Debe subir un archivo", "warning");
            ev.preventDefault();
        }
    });
</script>

