﻿@model intra.Models.GestionHumana.CarpetasDocumentosGH

@{
    ViewBag.Title = "Editar Carpeta";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm())
{

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Editar Carpeta</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">

                <button type="submit" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                @*<input type="submit" value="Guardar" class="btn button_white" />*@
                <button type="button" id="atras" onclick="IrAtras()" class="btn button_white">Volver</button>
                @*@Html.ActionLink("Cerrar", "Index", null, new { @class = "btn button_white" })*@
            </div>

        </div>
    </section>

    <section class="alejar_top">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CarpetaId)

        <div class="row">
            <label>Nombre de la Carpeta</label>
            <div>
                @Html.EditorFor(model => model.CarpetaNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarpetaNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <label>Carpeta</label>
            <div>
                @Html.DropDownListFor(model => model.CarpetaRaizId, (SelectList)ViewBag.carpetas, "Ninguna", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    
    </section>
}



<script>
   function IrAtras() {
        window.history.back();
    }
</script>