﻿@model intra.Models.ViewModel.DocumentosGHViewModel

@{
    ViewBag.Title = "Documentos";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .carpeta-nombre {
        margin-top: -1px;
        margin-bottom: 15px;
        font-size: 14pt;
    }

    .button-icon {
        cursor: pointer;
    }

</style>

<div class="row">
    <div class="col-md-12" style="padding:0;">
        <div class="col-md-6" style="padding:0;">
            <h2 class="h2_title_page">Documentos INSTITUCIONALES</h2>

        </div>
        <div class="col-md-6" style="padding:0;">
            <div class="pull-right alejar_top">
                @if (Model.CarpetasDocumentosGH != null)
                {
                    <button type="button" id="volver" onclick="Volver()" class="btn button_white">Volver</button> 
                    @*@Html.ActionLink("Volver", "Index", new { id = Model.CarpetasDocumentosGH.CarpetaRaizId }, new { @class = "button_white" })*@

                }
                @if (User.IsInRole("DOCINS"))
                {

                    <span>

                        @if (Model.CarpetasDocumentosGH == null)
                        {
                            @Html.ActionLink("Subir", "CrearDocumentos", null, new { @class = "button_white" })
                        }
                        else
                        {
                            @Html.ActionLink("Subir", "CrearDocumentos", new { id = Model.CarpetasDocumentosGH.CarpetaId }, new { @class = "button_white" })
                        }
                    </span>


                    if (Model.CarpetasDocumentosGH == null)
                    {
                        @Html.ActionLink("Crear Carpeta", "AgregarCarpeta", null, new { @class = "button_white", @style = "margin-right: 4px;" })
                    }
                    else
                    {
                        @Html.ActionLink("Crear Carpeta", "AgregarCarpeta", new { id = Model.CarpetasDocumentosGH.CarpetaId }, new { @class = "button_white", @style = "margin-right: 4px;" })
                        @Html.ActionLink("Editar", "EditarCarpeta", new { id = Model.CarpetasDocumentosGH.CarpetaId }, new { @class = "button_white" })
                    }
                }

            </div>
        </div>
        <hr class="hr2" style="width: 100% !important;" />
    </div>
    @if (Model.CarpetasDocumentosGH != null)
    {
        <div class="col-md-12">
            <h2 class="h2_title_page carpeta-nombre">
                <img src="~/Content/images/BI_Images/record.svg" width="50" style="margin-right: 20px" />  @Model.CarpetasDocumentosGH.CarpetaNombre
            </h2>
        </div>
    }


</div>
@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">

    @*<table id="tabla" class="table table-striped table-hover responsive display  no-wrap" width="100%">*@
    <thead>
        <tr>
            <th></th>
            <th>
                Descripción
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarpetasDocumentosGHs)
        {
            <tr>
                <td>
                    <img width="20" src="~/Content/images/BI_Images/folder.png" />
                </td>
                <td>

                    @Html.ActionLink(item.CarpetaNombre, "Index", new { id = item.CarpetaId })
                </td>
                <td>
                    @if (User.IsInRole("DOCINS"))
                    {
                        <img class="button-icon" title="Eliminar Carpeta" width="20" src="~/Content/images/restriccion.png" onclick="EliminarCarpeta(@item.CarpetaId)" />
                    }
                </td>
            </tr>
        }
        @foreach (var item in Model.DocumentoGestionHumana)
        {
            <tr>

                @switch (item.DocGHExtension)
                {

                    case ".png":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/png.png" />
                        </td>
                        break;

                    case ".pdf":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/pdf.png" />
                        </td>
                        break;

                    case ".txt":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/txt.png" />
                        </td>
                        break;

                    case ".doc":
                    case ".docx":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/doc.png" />
                        </td>
                        break;

                    case ".xls":
                    case ".xlsx":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/xls.png" />
                        </td>
                        break;

                    case ".ppt":
                    case ".pptx":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/ppt.png" />
                        </td>
                        break;

                    case ".jpg":
                    case ".jpeg":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/jpg.png" />
                        </td>
                        break;

                    case ".zip":
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/zip.png" />
                        </td>
                        break;

                    default:
                        <td>
                            <img width="20" src="~/Content/images/BI_Images/file.png" />
                        </td>
                        break;
                }

                <td>
                    @if (item.DocGHExtension == ".pdf")
                    {
                        <a style="width:20px" href="~/DocumentoGestionHumana/Pdf?DocumentoId=@item.DocGHId" target="_blank">
                            @item.DocGHDescripcion
                            </a>

                            @*@Html.ActionLink(item.DocGHDescripcion, "Edit", new { id = item.DocGHId })*@
                    }
                    else
                    {

                        <a href='@Url.Action("DownloadFile")/@item.DocGHId' target="_blank" title="@item.DocGHArchivoNombre">
                            @item.DocGHDescripcion
                        </a>
                            @*@Html.ActionLink(item.DocGHDescripcion, "Details", new { id = item.DocGHId })*@
                      }
                       </td>
              
                    @if (User.IsInRole("DOCINS"))
                    {
                        <td>
                            <i style="width:50px; font-size: 20px;"> <img class="button-icon" title="Eliminar Documento" width="20" src="~/Content/images/restriccion.png" onclick="EliminarDocumento(@item.DocGHId)" /></i>
                        </td>
                        <td>
                            <a href="~/DocumentoGestionHumana/Edit/@item.DocGHId"><i class="fa  fa-edit no-padding" style="width:50px; font-size: 20px;"></i></a>
                        </td>
                           
                    }
                
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/datatables/js")

@*<script src="~/scripts/jquery.dataTables.min.js"></script>*@
<script>
    
    function Volver(){
        window.history.back();
    }
    var AnimacionCarga = $("#loading-animation-container");

    function EliminarCarpeta(id) {
        Eliminar(id, "carpeta");
    }

    function EliminarDocumento(id) {
        Eliminar(id, "documento");
    }

    function Eliminar(id, objeto) {

        var texto = "";

        if (objeto == "documento") {
            texto = "Estas seguro/a de que quiere eliminar este documento?";
        } else {
            texto = "Estas seguro/a de que quiere eliminar esta carpeta? Si hay archivos en la misma serán movidos a esta carpeta.";
        }

        var link = "";

        if (objeto == "documento") {
            link =  "@Url.Action("EliminarDocumento")/"+id;
        } else {
            link = "@Url.Action("EliminarCarpeta")/"+id;
        }

        swal({
            title: texto,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            AnimacionCarga.show();
            $.ajax({
                method: 'POST',
                url: link,
                success: function (data) {
                    if (data != 'Error') {
                        AnimacionCarga.hide();
                        swal({
                            title: data,
                            type: 'success',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            location.reload();
                        })
                    } else {
                        swal('Error', 'A ocurrido un error, refresque la pagina y trate otra vez.', 'error');
                    }
                },
                error: function (ex) {
                    swal('Error', 'Un error ha ocurrido.', 'error');
                }
            });
        })
    }

 

</script>