﻿@model intra.Models.GestionHumana.DocumentoGestionHumana


@{
    ViewBag.Title = "Visualizar Documento";
}

<header class="entry-header">
    <h1 class="entry-title">
       @*@Model.Carpeta.Seccion.DocGHArchivoNombre*@
    </h1>
</header>

<h2>@Model.DocGHArchivoNombre</h2>
@if (Model.DocGHExtension == "application/pdf")
{
<iframe style="width:100%; height:500px " src="/DocumentoGestionHumana/Pdf?documentoId=@Model.DocGHId"></iframe>
< a href = "~/Views/DocumentoGestionHumana/VisualizarDocumento.cshtml" > ~/ Views / DocumentoGestionHumana / VisualizarDocumento.cshtml </ a >

}
else if(Model.DocGHExtension == "application/msword")
{
<a href="@Model.String64" target="_blank" download="@Model.DocGHArchivoNombre"><img src="~/Content/img/word.png" style="height:80px;width:80px" /></a>

}
else if (Model.DocGHExtension == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
{
<a href="@Model.String64" target="_blank" download="@Model.DocGHArchivoNombre"><img src="~/Content/img/Excel.png" style="height:80px;width:80px" /></a>

}