﻿@model intra.Models.BienesIncautados.INV_CUSTODIO

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
@*<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">*@
<link rel="stylesheet" href="~/Content/fonts.css" type="text/css" charset="utf-8" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/pop-up.css" rel="stylesheet" />

    <h2>Nuevo custodio</h2>

    @using (Html.BeginForm(new { @action = "/Create", @method = "post", @id = "guardar_modal_cust" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="CUST_CEDULA" class="control-label col-md-2">Cédula</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CUST_CEDULA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba aquí la cédula del custodio" } })
                    @Html.ValidationMessageFor(model => model.CUST_CEDULA, "", new { @class = "text-danger" })
                    <br />
                    <input id="boton-validar" type="button" value="Validar cédula" class="btn btn-info" />
                </div>
            </div>

            <div id="formulario-custodio">
                <div class="form-group">
                    <label for="CUST_NOMBRE" class="control-label col-md-2">Nombre</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CUST_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_NOMBRE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_TELRES" class="control-label col-md-2">Tel. Residencial</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CUST_TELRES, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_TELRES, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_TELCEL" class="control-label col-md-2">Tel.Celular</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CUST_TELCEL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_TELCEL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_DIRECCION" class="control-label col-md-2">Dirección</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.CUST_DIRECCION, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.CUST_DIRECCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_CORREO" class="control-label col-md-2">Correo electrónico</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CUST_CORREO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_CORREO, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.USUA_ID, new { htmlAttributes = new { @class = "form-control" } })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="button_white "/>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>


@*<script src="~/scripts/sweetalert.min.js"></script>
<script src="~/scripts/jquery-3.1.0.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/pop-up.js"></script>*@
<script src="~/scripts/sweetalert2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#formulario-custodio').hide();
        $('form').keypress(function (e) {
            if(e.which==13)
            {
                e.preventDefault();
            }
        })
    })

    $('#boton-validar').click(function () {
        $.ajax({
            url: "ValidarCedula",
            method: "post",
            data: { cedula: $('#CUST_CEDULA').val() },
            success: function (data) {
                if (data.Respuesta == "OK") {
                    $('#formulario-custodio').show();
                    $('#CUST_NOMBRE').val(data.Nombres + " " + data.Apellido1 + " " + data.Apellido2).attr("readonly", true);
                    console.log(data);
                } else {
                    swal("", data, "success");
                }
            },
            error: function (data) { console.log(data) }

        });
    });


</script>