﻿@model intra.Models.BienesIncautados.INV_INCAUTACIONES

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    .modal-content {
        padding: 15px;
    }

    .padding-formulario {
        padding: 0 15px !important;
    }

    .form-horizontal .control-label {
        font-size: 13px;
    }

    .label-form {
        padding-left: 0 !important;
        margin-bottom: 5px !important;
    }

    .form-horizontal .control-label {
        text-align: left !important;
        margin-top: 5%;
    }

    .btn-subir-archivo .btn-primary {
        padding: 1px 15px !important;
        text-align: center !important;
        /*border-radius: 0 !important;*/
        font-size: 8pt !important;
    }



    .form-control {
        border: 2px solid transparent !important;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        border-image-slice: 1 !important;
    }

    .margin-boton {
        margin-top: 5px;
    }

    .btn-guardar {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .buttonAceptar {
        background: #0c4ba4 !important;
        border: 0;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: 0;
        padding: 6px 8px;
        transition: all .1s linear;
        text-transform: uppercase;
        margin-right: 13px;
        font-size: 12px;
        text-decoration: none;
        color: #fff;
        border: solid 1px;
    }

        .buttonAceptar:hover {
            text-decoration: none;
            color: #fff !important;
            -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        }

    .btn-file {
        background: #0c4ba4 !important;
    }

    .input-group-btn .btn-file {
        background: #0c4ba4 !important;
        border: 0 !important;
        /*border-radius: 0 !important;*/
        margin-bottom: 10px !important;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: 0;
        padding: 4px 14px !important;
        transition: all .1s linear !important;
        text-transform: uppercase;
        margin-right: 9pt;
        font-size: 9pt;
        text-decoration: none;
        color: #fff;
        border: solid 1px !important;
        margin-top: -1px;
    }

        .input-group-btn .btn-file:hover {
            text-decoration: none;
            color: #fff !important;
            -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        }

    .input-group-btn {
        display: block !important;
    }

        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            margin-left: -2px !important;
        }

    .form-horizontal .form-group {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .buttonAceptar:active {
        box-shadow: none;
    }

    .volver-a-lista {
        padding: 11px 15px;
        margin-right: 0px;
        margin-left: 5px;
    }

    .fila {
        padding: 0;
    }

    .borde-no {
        border: none !important;
    }

        .borde-no:hover {
            border: none !important;
        }

    .btn-file {
        border-bottom-right-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }
    .botones a, input,button {
        border: none !important;
            padding: 11px 24px !important;
    }
</style>
<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYwTenGsJiHSNuxvCrJe4YlAlrwON6GE&libraries=places"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

@*<div class="col-md-12">
    <h2 class="h2_title_page" style="font-size: 21px;">Nueva Incautación</h2>
    <hr class="hr2">
</div>*@

@using (Html.BeginForm("Create", "Incautaciones", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal padding-formulario">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group col-md-3">
            <div class="label-form">
                <label for="CASO_ID" class="control-label">Caso</label>
            </div>

            <div style="padding-left: 0;">
                @Html.DropDownListFor(model => model.CASO_ID, (SelectList)ViewBag.Casos)
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="label-form">
                <label for="INCA_FHENTRADA" class="control-label">Fecha Entrada</label>
            </div>
            <div style="padding-left: 0;">
                <input type="text" required name="PRE_INCA_FHENTRADA" id="INCA_FHENTRADA" value="@ViewBag.FechaEntrada" class="form-control" />
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="label-form">
                <label for="clase" class="control-label">Clase</label>
            </div>

            <div style="padding-left: 0;">
                @Html.DropDownListFor(model => model.CLAS_ID, (SelectList)ViewBag.Clases)
                @Html.ValidationMessageFor(model => model.CLAS_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="label-form">
                <label for="TIPO_ID" class="control-label">Tipo</label>
            </div>

            <div style="padding-left: 0;">
                @Html.DropDownListFor(model => model.TIPO_ID, (SelectList)ViewBag.Tipos)
                @Html.ValidationMessageFor(model => model.TIPO_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="label-form">
                <label for="INCA_LOCALIDADINC" class="control-label">Lugar Incautacion</label>
            </div>

            <div style="padding-left: 0;">
                @Html.DropDownListFor(model => model.INCA_LOCALIDADINC, (SelectList)ViewBag.ProvInc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 label-form">
                <label for="INCA_LOCALIDADINV" class="control-label">Localizacion Actual</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.DropDownListFor(model => model.INCA_LOCALIDADINV, (SelectList)ViewBag.ProvInv)
            </div>
        </div>

        <div class="form-group" id="INCA_MODELO_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_MODELO" class="control-label">Modelo</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_MODELO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_MODELO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_MARCA_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_MARCA" class="control-label">Marca</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_MARCA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_MARCA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_ANO_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_ANO" class="control-label">Año</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_ANO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_ANO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_CHASIS_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_CHASIS" class="control-label">Chasis</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_CHASIS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_CHASIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_MATRICULA_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_CHASIS" class="control-label">Matrícula</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_MATRICULA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_MATRICULA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_PLACA_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_PLACA" class="control-label">Placa</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_PLACA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_PLACA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_REMITIDO_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_REMITIDO" class="control-label">Remitido por</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_REMITIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_REMITIDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_FHVENCSEGURO_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_FHVENCSEGURO" class="control-label">Fecha de vencimiento del seguro</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                <input type="text" name="PRE_INCA_FHVENCSEGURO" id="INCA_FHVENCSEGURO" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group" id="INCA_DEVOLUCION_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_DEVOLUCION" class="control-label">Devuelto a</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_DEVOLUCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_DEVOLUCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_TELEDEVCONTACTO_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_TELEDEVCONTACTO" class="control-label">Teléfono de contacto</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_TELEDEVCONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_TELEDEVCONTACTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_FHDEVOLUCION_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_FHDEVOLUCION" class="control-label">Fecha de devolución</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                <input type="text" name="PRE_INCA_FHDEVOLUCION" id="INCA_FHDEVOLUCION" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group" id="INCA_PAGOMANT_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_PAGOMANT" class="control-label">Pago de mantenimiento</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_PAGOMANT, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                @Html.ValidationMessageFor(model => model.INCA_FHDEVOLUCION, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group" id="INCA_DIRECCION_DIV_HDN" hidden="hidden">
                <label for="INCA_DIRECCION" class="control-label col-md-2">Dirección</label>
                <div class="col-md-10">
                    <iframe src="http://192.168.46.5:85/maps/map.html" style="width:100%;height:370px;border-width:0px;overflow:hidden;" scrolling="no">
                        Su navegador no soporta iframes
                    </iframe>
                </div>
                @Html.HiddenFor(model => model.INCA_LATITUD, new { @class = "form-control" })
                @Html.HiddenFor(model => model.INCA_LONGITUD, new { @class = "form-control" })
                @Html.HiddenFor(model => model.INCA_DIRECCION, new { @class = "form-control" })
            </div>

    @*<div class="form-group" id="INCA_DIRECCION_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_DIRECCION" class="control-label">Dirección</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.TextAreaFor(model => model.INCA_DIRECCION, new { @class = "form-control", @rows = "12" })
                @Html.ValidationMessageFor(model => model.INCA_DIRECCION, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.INCA_LATITUD, new { @class = "form-control" })
                @Html.HiddenFor(model => model.INCA_LONGITUD, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" id="INCA_DESCRIPCION_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_DESCRIPCION" class="control-label">Descripción</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.TextAreaFor(model => model.INCA_DESCRIPCION, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.INCA_DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="INCA_ESTATUS_DIV">
            <div class="col-md-12 label-form">
                <label for="INCA_ESTATUS" class="control-label">Estatus</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.DropDownListFor(model => model.INCA_ESTATUS, (SelectList)ViewBag.Estatus)
                @Html.ValidationMessageFor(model => model.INCA_ESTATUS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 label-form">
                <label for="INCA_SUJETO" class="control-label">Custodio</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.DropDownListFor(model => model.CUST_ID, (SelectList)ViewBag.Custodios)
                @Html.ValidationMessageFor(model => model.CUST_ID, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-primary margin-boton buttonAceptar" data-toggle="modal" data-target="#myModal" style="margin-top: 5px;">Agregar custodio</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 label-form">
                <label for="INCA_VALOR" class="control-label">Valor Tasación</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_VALOR, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @required = "true" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 label-form">
                <label for="INCA_ACUERDO" class="control-label">Valor Acuerdo</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.EditorFor(model => model.INCA_ACUERDO, new { htmlAttributes = new { @class = "form-control", @type = "number", min = "0", @required = "true" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 label-form">
                <label for="INCA_NOTA" class="control-label">Nota</label>
            </div>

            <div class="col-md-12" style="padding-left: 0;">
                @Html.TextAreaFor(model => model.INCA_NOTA, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.INCA_NOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <!----NO USAR ESTO------------------------>
        @*<input type="hidden" name="INCA_FHENTRADA" />
            <input type="hidden" name="INCA_FHVENCSEGURO" />
            <input type="hidden" name="INCA_FHDEVOLUCION" />*
    <!----SIGUE TU CAMINO, NO MIRES AQUI------------------------>


    @*<div class="form-group">
            <div class="form-group col-md-12 btn-subir-archivo" style=" padding: 0; margin-left: 0; margin-right: 0;float: left;">
                <div class="col-md-12 label-form">
                    <label class="control-label">Subir archivo(s)</label>
                </div>
                <div class="col-md-10 btn-examinar" style="padding: 0;">
                    @Html.TextBoxFor(model => model.ARCHIVO_VISTA, new
                    {
                        type = "file",
                        multiple = "true",
                        @class = "file",
                        @data_show_upload = "false",
                        @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\"" +
                                ",\"ppt\",\"pptx\",\"mp4\",\"3gp\",\"avi\",\"flv\",\"mpg\",\"wmv\"]"
                    })
                </div>
            </div>
        </div>

        <div id="descripcion"></div>

        <div class="form-group col-md-12" style="margin-right: 0;margin-left: 0;padding: 0;">
            <div class="btn-guardar">
                <input type="submit" value="Guardar" class="buttonAceptar" style="padding: 10px 15px;" />|
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "buttonAceptar volver-a-lista" })
            </div>
        </div>
        </div>*@

    <!--NUEVA VERSION FORMULARIO-->

    <section class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Nueva Incautación</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right alejar_top btn-group botones">
          
                    <button type="submit" value="Crear" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                    <button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>
                </div>
      
        </div>
    </section>

    <div class="row form-horizontal">
        <div class="col-md-12 fila">
            <div class="form-group col-md-6">
                <div class="label-form">
                    <label for="CASO_ID" class="control-label">Caso</label>
                    @Html.DropDownListFor(model => model.CASO_ID, (SelectList)ViewBag.Casos, null , new { @class= "chosen" })
                </div>
            </div>

            <div class="form-group col-md-2">
                <div class="label-form">
                    <label for="INCA_FHENTRADA" class="control-label">Fecha Entrada</label>
                    <input type="text" required name="PRE_INCA_FHENTRADA" id="INCA_FHENTRADA" value="@ViewBag.FechaEntrada" class="form-control" autocomplete="off" />
                </div>
            </div>

            <div class="form-group col-md-2">
                <div class="label-form">
                    <label for="clase" class="control-label">Clase</label>
                    @Html.DropDownListFor(model => model.CLAS_ID, (SelectList)ViewBag.Clases)
                    @Html.ValidationMessageFor(model => model.CLAS_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="label-form">
                    <label for="TIPO_ID" class="control-label">Tipo</label>
                    @Html.DropDownListFor(model => model.TIPO_ID, (SelectList)ViewBag.Tipos)
                    @Html.ValidationMessageFor(model => model.TIPO_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="col-md-12 fila">

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_LOCALIDADINV" class="control-label">Localizacion Actual</label>
                    @Html.DropDownListFor(model => model.INCA_LOCALIDADINV, (SelectList)ViewBag.ProvInv)
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class=" label-form">
                    <label for="INCA_LOCALIDADINC" class="control-label">Lugar Incautacion</label>
                    @Html.DropDownListFor(model => model.INCA_LOCALIDADINC, (SelectList)ViewBag.ProvInc)
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_PAGOMANT" class="control-label">Cuota de mantenimiento</label>
                    @Html.EditorFor(model => model.INCA_PAGOMANT, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.INCA_FHDEVOLUCION, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="col-md-12 fila">

            <div class="form-group col-md-3" id="COLOR_ID_DIV">
                <div class="label-form">
                    <label for="COLOR_ID" class="control-label">Color</label>
                    @Html.DropDownListFor(model => model.COLOR_ID, (SelectList)ViewBag.Colores)
                </div>
            </div>

            <div class="form-group col-md-3 " id="INCA_MODELO_DIV">
                <div class="label-form">
                    <label for="INCA_MODELO" class="control-label">Modelo</label>
                    @Html.EditorFor(model => model.INCA_MODELO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_MODELO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3 " id="INCA_MARCA_DIV">
                <div class="label-form">
                    <label for="INCA_MARCA" class="control-label">Marca</label>
                    @Html.EditorFor(model => model.INCA_MARCA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_MARCA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3 " id="INCA_ANO_DIV">
                <div class="label-form">
                    <label for="INCA_ANO" class="control-label">Año</label>
                    @Html.EditorFor(model => model.INCA_ANO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_ANO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 fila">

            <div class="form-group col-md-3 " id="INCA_CHASIS_DIV">
                <div class="label-form">
                    <label for="INCA_CHASIS" class="control-label">Chasis</label>
                    @Html.EditorFor(model => model.INCA_CHASIS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_CHASIS, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group col-md-3" id="INCA_MATRICULA_DIV">
                <div class="label-form">
                    <label for="INCA_CHASIS" class="control-label">Matrícula</label>
                    @Html.EditorFor(model => model.INCA_MATRICULA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_MATRICULA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3" id="INCA_PLACA_DIV">
                <div class="label-form">
                    <label for="INCA_PLACA" class="control-label">Placa</label>
                    @Html.EditorFor(model => model.INCA_PLACA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_PLACA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3" id="INCA_REMITIDO_DIV">
                <div class="label-form">
                    <label for="INCA_REMITIDO" class="control-label">Remitido por</label>
                    @Html.EditorFor(model => model.INCA_REMITIDO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_REMITIDO, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-12 fila">

            <div class="form-group col-md-3" id="INCA_FHVENCSEGURO_DIV">
                <div class="label-form">
                    <label for="INCA_FHVENCSEGURO" class="control-label">Fecha de vencimiento del seguro</label>
                    <input type="text" name="PRE_INCA_FHVENCSEGURO" id="INCA_FHVENCSEGURO" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group col-md-4" id="INCA_DEVOLUCION_DIV">
                <div class="label-form">
                    <label for="INCA_DEVOLUCION" class="control-label">Devuelto a</label>
                    @Html.EditorFor(model => model.INCA_DEVOLUCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_DEVOLUCION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_TELEDEVCONTACTO_DIV">
                <div class="label-form">
                    <label for="INCA_TELEDEVCONTACTO" class="control-label">Teléfono de contacto</label>
                    @Html.EditorFor(model => model.INCA_TELEDEVCONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_TELEDEVCONTACTO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-2" id="INCA_FHDEVOLUCION_DIV">
                <div class="label-form">
                    <label for="INCA_FHDEVOLUCION" class="control-label">Fecha de devolución</label>
                    <input type="text" name="PRE_INCA_FHDEVOLUCION" id="INCA_FHDEVOLUCION" value="" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 fila">
            <div class="form-group col-md-6" id="INCA_DIRECCION_DIV">
                <div class="label-form">
                    <label for="INCA_DIRECCION" class="control-label">Dirección</label>
                    @Html.TextAreaFor(model => model.INCA_DIRECCION, new { @class = "form-control", @rows = "12" })
                    @Html.ValidationMessageFor(model => model.INCA_DIRECCION, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.INCA_LATITUD, new { @class = "form-control" })
                    @Html.HiddenFor(model => model.INCA_LONGITUD, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-6" id="INCA_DESCRIPCION_DIV">
                <div class="label-form">
                    <label for="INCA_DESCRIPCION" class="control-label">Descripción</label>
                    @Html.TextAreaFor(model => model.INCA_DESCRIPCION, new { @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.INCA_DESCRIPCION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3" id="INCA_ESTATUS_DIV">
                <div class="label-form">
                    <label for="INCA_ESTATUS" class="control-label">Estatus</label>
                    @Html.DropDownListFor(model => model.INCA_ESTATUS, (SelectList)ViewBag.Estatus)
                    @Html.ValidationMessageFor(model => model.INCA_ESTATUS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_SUJETO" class="control-label">Custodio</label>
                    @Html.DropDownListFor(model => model.CUST_ID, (SelectList)ViewBag.Custodios, null , new { @class = "chosen" })
                    @Html.ValidationMessageFor(model => model.CUST_ID, "", new { @class = "text-danger" })
                    <button type="button" class="btn btn-primary margin-boton buttonAceptar borde-no" data-toggle="modal" data-target="#myModal" style="margin-top: 5px;">Agregar custodio</button>
                </div>
            </div>

            <div class="form-group col-md-3" id="INCA_VALOR_DIV">
                <div class="label-form">
                    <label for="INCA_VALOR" class="control-label">Valor Tasación</label>
                    @Html.EditorFor(model => model.INCA_VALOR, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @required = "true" } })
                </div>
            </div>

            <div class="form-group col-md-3" id="INCA_ACUERDO_DIV">
                <div class="label-form">
                    <label for="INCA_ACUERDO" class="control-label">Valor Acuerdo</label>
                    @Html.EditorFor(model => model.INCA_ACUERDO, new { htmlAttributes = new { @class = "form-control", @type = "number", min = "0", @required = "true" } })
                </div>
            </div>
        </div>
        <div class="col-md-12 fila">
            <div class="form-group col-md-6">
                <div class="label-form">
                    <label for="INCA_NOTA" class="control-label">Nota</label>
                    @Html.TextAreaFor(model => model.INCA_NOTA, new { @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.INCA_NOTA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 btn-subir-archivo" style=" padding: 0; margin-left: 0; margin-right: 0;float: left;">
                <div class="label-form">
                    <label class="control-label">Subir archivo(s)</label>

                </div>
                <div class="col-md-10 btn-examinar" style="padding: 0;">
                    @Html.TextBoxFor(model => model.ARCHIVO_VISTA, new
                    {
                        type = "file",
                        multiple = "true",
                        @class = "file",
                        @data_show_upload = "false",
                        @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\"" +
                                        ",\"ppt\",\"pptx\",\"mp4\",\"3gp\",\"avi\",\"flv\",\"mpg\",\"wmv\"]"
                    })
                </div>
            </div>
        </div>
        <div class="col-md-12 fila">
            <div class="form-group col-md-12">

            </div>

            <div id="descripcion"></div>

            @*<div class="form-group col-md-12" style="margin-right: 0;margin-left: 0;">
                <div class="btn-guardar">
                    <input type="submit" value="Crear" class="buttonAceptar" style="padding: 10px 15px;" />|
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "buttonAceptar volver-a-lista" })
                </div>
            </div>*@
        </div>
    </div>
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Custodio/CreateModal.cshtml", new intra.Models.BienesIncautados.INV_CUSTODIO());
            }
        </div>
    </div>
</div>

@*<script src="~/js/jquery-1.11.0.min.js"></script>*@
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>*@
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
@*<script src="~/scripts/jquery.filedrop.js"></script>*@
<script src="~/scripts/create_incautaciones2.js"></script>
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
@*<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />*@
<script src="~/scripts/google_maps/main.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var chosen = $('.chosen').chosen();

    });

    function load_tipos() {
        $("#TIPO_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("dbTipos")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ clase: ' + $("#CLAS_ID").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#TIPO_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                swal('','No pudo cargar los tipos: ' + ex, 'error');
            }
        });

        return;
    }

    function valor_div(accion) {

        if (accion == "show") {

            $('#INCA_VALOR_DIV,#INCA_ACUERDO_DIV').show();
            $('#INCA_VALOR,#INCA_ACUERDO').val("");

        } else if (accion == "hide") {
            $('#INCA_VALOR_DIV,#INCA_ACUERDO_DIV').hide();
            $('#INCA_VALOR,#INCA_ACUERDO').val("0");
        }

    }

    $('#ARCHIVO_VISTA').fileinput({ language: "es", maxFileSize: 20480 });

</script>
<script type="text/javascript">
    $(document).ready(function (ev) {

        $('#INCA_TELEDEVCONTACTO').mask('(999) 999-9999');

        $('#INCA_FHDEVOLUCION').datepicker({
            dateFormat: "dd/mm/yy"
        });

        $('#INCA_FHVENCSEGURO').datepicker({
            dateFormat: "dd/mm/yy"
        });

        $('#INCA_FHENTRADA').datepicker({
            dateFormat: "dd/mm/yy"
        });

        load_tipos();

        $('#ARCHIVO_VISTA').change(function () {
            $("#descripcion").html("");
            for (var i = 0; i < $('#ARCHIVO_VISTA')[0].files.length; i++) {
                $("#descripcion").append("<div class='form-group' hidden='hidden'> <label class='control-label col-md-2' >" + "Archivo " + (i + 1) + " : </label><div class='col-md-10'><input type='text' class='form-control fotoDescripcion' name='fotoDescripcion' value='Archivo' class='form-control'/></div><div><label class='col-md-2'></label><div class='col-md-10'><label class='text-danger'></labe></div></div></div>");
            }
        });

        $('.fileinput-remove').click(function () {
            $('#descripcion').html("")
        })

        $('#formulario_create').submit(function (ev) {
            //$('#INCA_FHENTRADA').val($('#INCA_FHENTRADA').val());

            if (!this._ValidateAddress)
                this._ValidateAddress = false;

            if (!this._ValidateAddress)
                if ($('#INCA_DIRECCION').val() == '') {
                    document.querySelector('iframe').contentWindow.window.postMessage('requestAddress', 'http://192.168.46.5:85');
                    ev.preventDefault();
                }

            validacion = true;
            $('.fotoDescripcion').each(function (key) {
                if ($(this).val() == "") {
                    $(this).parent().parent().find("label.text-danger").html("El campo no puede estar vacío");
                    validacion = false;
                } else {
                    $(this).parent().parent().find("label.text-danger").html("");
                }
            })
            if (validacion == false) {
                return false;
            }
        });

        $('#myModal').on('hidden.bs.modal', function () {

            var valorAnterior = $("#CUST_ID").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadCustodios")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states != "Error") {
                        $('#CUST_ID').html("");
                        $("#CUST_ID").append('<option value="1">NO CUSTODIO</option>');
                        $.each(states, function (i, state) {
                            $("#CUST_ID").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                        });
                        $('#CUST_ID option[value=' + valorAnterior + ']').attr('selected', 'selected');
                        $("#CUST_ID").trigger("chosen:updated");
                    } else {
                        swal("", "Ha ocurrido un error actualizando la lista de custodios", "error");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error actualizando la lista de custodios", "error");
                }
            });
        });

        $('#INCA_MODELO_DIV').hide();
        $('#INCA_MODELO').val("");
        $('#INCA_MARCA_DIV').hide();
        $('#INCA_MARCA').val("");
        $('#INCA_ANO_DIV').hide();
        $('#INCA_ANO').val("");
        $('#INCA_CHASIS_DIV').hide();
        $('#INCA_CHASIS').val("");
        $('#INCA_MATRICULA_DIV').hide();
        $('#INCA_MATRICULA').val("");
        $('#INCA_PLACA_DIV').hide();
        $('#INCA_PLACA').val("");
        $('#INCA_REMITIDO_DIV').hide();
        $('#INCA_REMITIDO').val("");
        $('#INCA_FHVENCSEGURO_DIV').hide();
        $('#INCA_FHVENCSEGURO').val("");
        $('#INCA_DEVOLUCION_DIV').hide();
        $('#INCA_DEVOLUCION').val("");
        $('#INCA_TELEDEVCONTACTO_DIV').hide();
        $('#INCA_TELEDEVCONTACTO').val("");
        $('#INCA_FHDEVOLUCION_DIV').hide();
        $('#INCA_FHDEVOLUCION').val("");
        $('#INCA_LATITUD').val("");
        $('#INCA_LONGITUD').val("");
        $('#COLOR_ID_DIV').hide();
        $('#COLOR_ID').val("");
        

        $("#CLAS_ID").change(function () {
            if ($('#CLAS_ID').val() == "2" || $('#CLAS_ID').val() == "4" || $('#CLAS_ID').val() == "5" || $('#CLAS_ID').val() == "6") {
                load_tipos();
                $('#INCA_MODELO_DIV').show();
                $('#INCA_MARCA_DIV').show();
                $('#INCA_ANO_DIV').show();
                $('#INCA_CHASIS_DIV').show();
                $('#INCA_MATRICULA_DIV').show();
                $('#INCA_PLACA_DIV').show();
                $('#INCA_REMITIDO_DIV').show();
                $('#INCA_FHVENCSEGURO_DIV').show();
                $('#INCA_DEVOLUCION_DIV').show();
                $('#INCA_TELEDEVCONTACTO_DIV').show();
                $('#INCA_FHDEVOLUCION_DIV').show();
                $('#COLOR_ID_DIV').show();

                $('#INCA_PAGOMANT_DIV').hide();
                $('#INCA_PAGOMANT').val("");
                $('#INCA_DIRECCION_DIV').hide();
                $('#INCA_DIRECCION').val("");
                $('#INCA_LATITUD').val("");
                $('#INCA_LONGITUD').val("");

                valor_div("hide");

            } else if ($('#CLAS_ID').val() == "1") {
                load_tipos();
                $('#INCA_MODELO_DIV').hide();
                $('#INCA_MODELO').val("");
                $('#INCA_MARCA_DIV').hide();
                $('#INCA_MARCA').val("");
                $('#INCA_ANO_DIV').hide();
                $('#INCA_ANO').val("");
                $('#INCA_CHASIS_DIV').hide();
                $('#INCA_CHASIS').val("");
                $('#INCA_MATRICULA_DIV').hide();
                $('#INCA_MATRICULA').val("");
                $('#INCA_PLACA_DIV').hide();
                $('#INCA_PLACA').val("");
                $('#INCA_REMITIDO_DIV').hide();
                $('#INCA_REMITIDO').val("");
                $('#INCA_FHVENCSEGURO_DIV').hide();
                $('#INCA_FHVENCSEGURO').val("");
                $('#INCA_DEVOLUCION_DIV').hide();
                $('#INCA_DEVOLUCION').val("");
                $('#INCA_TELEDEVCONTACTO_DIV').hide();
                $('#INCA_TELEDEVCONTACTO').val("");
                $('#INCA_FHDEVOLUCION_DIV').hide();
                $('#INCA_FHDEVOLUCION').val("");
                $('#COLOR_ID_DIV').hide();
                $('#COLOR_ID').val("");

                $('#INCA_PAGOMANT_DIV').show();
                $('#INCA_PAGOMANT').val("");
                $('#INCA_DIRECCION_DIV').show();
                $('#INCA_DIRECCION').val("");
                $('#INCA_LATITUD').val("");
                $('#INCA_LONGITUD').val("");

                valor_div("show");

            } else {
                load_tipos();
                $('#INCA_MODELO_DIV').hide();
                $('#INCA_MODELO').val("");
                $('#INCA_MARCA_DIV').hide();
                $('#INCA_MARCA').val("");
                $('#INCA_ANO_DIV').hide();
                $('#INCA_ANO').val("");
                $('#INCA_CHASIS_DIV').hide();
                $('#INCA_CHASIS').val("");
                $('#INCA_MATRICULA_DIV').hide();
                $('#INCA_MATRICULA').val("");
                $('#INCA_PLACA_DIV').hide();
                $('#INCA_PLACA').val("");
                $('#INCA_REMITIDO_DIV').hide();
                $('#INCA_REMITIDO').val("");
                $('#INCA_FHVENCSEGURO_DIV').hide();
                $('#INCA_FHVENCSEGURO').val("");
                $('#INCA_DEVOLUCION_DIV').hide();
                $('#INCA_DEVOLUCION').val("");
                $('#INCA_TELEDEVCONTACTO_DIV').hide();
                $('#INCA_TELEDEVCONTACTO').val("");
                $('#INCA_FHDEVOLUCION_DIV').hide();
                $('#INCA_FHDEVOLUCION').val("");
                $('#INCA_PAGOMANT_DIV').hide();
                $('#INCA_PAGOMANT').val("");
                $('#INCA_DIRECCION_DIV').hide();
                $('#INCA_DIRECCION').val("");
                $('#INCA_LATITUD').val("");
                $('#INCA_LONGITUD').val("");
                $('#COLOR_ID_DIV').hide();
                $('#COLOR_ID').val("");

                valor_div("hide");

            }

            return false;
        })
    });
</script>
@*<script>
        document.querySelector('iframe').addEventListener('load', function () {
            this.contentWindow.window.postMessage('start', 'http://192.168.46.5:85');
        });

        window.addEventListener("message", function (val) {
            if (val.data.indexOf('address') === 0) {
                var address_string = val.data.substring('address'.length);
                $('#INCA_DIRECCION').val(address_string);

                $('#formulario_create')[0]._ValidateAddress = true;
                $('#formulario_create').submit();
            }
            else {
                var data = JSON.parse(val.data);

                $('#INCA_LATITUD').val(data.latitude);
                $('#INCA_LONGITUD').val(data.longitude);
                $('#INCA_DIRECCION').val(data.address);
            }
        });
    </script>*@

