﻿@model intra.Models.BienesIncautados.INV_INCAUTACIONES

@{
    ViewBag.Title = "Editar Bienes Incautados";
    Layout = "~/Views/intraMaster.cshtml";
    //var VideosSoportados = new string[] { ".mp4", ".3gp", ".avi", ".flv", ".mpg", ".wmv" };
}
<style>

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: white !important;
        opacity: 1;
    }

    .modal-content {
        padding: 15px;
    }

    .boton {
        cursor: pointer;
    }

    .eliminar-archivo {
        line-height: 67px;
    }

    .h2_title_page {
        font-size: 21px;
    }

    .fila {
        padding: 0;
    }

    .form-horizontal .form-group {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .buttonAceptar {
        background: #0c4ba4 !important;
        border: 0;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: 0;
        padding: 6px 8px;
        transition: all .1s linear;
        text-transform: uppercase;
        margin-right: 13px;
        font-size: 12px;
        text-decoration: none;
        color: #fff;
        border: solid 1px;
    }

    .borde-no {
        border: none !important;
    }

    .buttonAceptar:hover {
        text-decoration: none;
        color: #fff !important;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
    }

    .margin-boton {
        margin-top: 5px;
    }

    .form-control {
        border: 2px solid transparent !important;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        border-image-slice: 1 !important;
    }

    .botones a, input, button {
        border: none !important;
        padding: 11px 24px !important;
    }

    #INCA_NO {
        padding-left: 10px !important;
    }

    .custodio-historial {
        float: right;
        background: #0c4ba4 !important;
    } 
    
    
    
    @@media (min-width: 768px) {
        .modal-historial {
            width: 80% !important;
            margin: 30px auto;
        }
    }

</style>
<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEYwTenGsJiHSNuxvCrJe4YlAlrwON6GE&libraries=places"></script>*@
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />


@*@if (TempData["msjError"] != null)
        {<div class="alert alert-warning">
                <b>@TempData["msjError"]</b>
            </div>
        }
        @using (Html.BeginForm("Edit", "Incautaciones", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
        {
            @Html.AntiForgeryToken()

    @*<div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <label for="CASO_ID" class="control-label">Caso</label>
                        @Html.DropDownListFor(model => model.CASO_ID, (SelectList)ViewBag.Casos)
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_NO" class="control-label col-md-2">Código del bien</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_FHENTRADA" class="control-label col-md-2">Fecha Entrada</label>
                    <div class="col-md-10">
                        <input type="text" name="PRE_INCA_FHENTRADA" id="INCA_FHENTRADA" value="" class="form-control" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="clase" class="control-label col-md-2">Clase</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CLAS_ID, (SelectList)ViewBag.Clases)
                        @Html.ValidationMessageFor(model => model.CLAS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="TIPO_ID" class="control-label col-md-2">Tipo</label>
                    <div class="col-md-10">
                        @Html.DropDownList("TIPO_ID", null, new { @id = "TIPO_ID", @name = "TIPO_ID" })
                        @Html.ValidationMessageFor(model => model.TIPO_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_LOCALIDADINC" class="control-label col-md-2">Lugar Incautacion</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.INCA_LOCALIDADINC, (SelectList)ViewBag.ProvInc)
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_LOCALIDADINC" class="control-label col-md-2">Localizacion Actual</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.INCA_LOCALIDADINV, (SelectList)ViewBag.ProvInv)
                    </div>
                </div>

                <div class="form-group" id="INCA_MODELO_DIV">
                    <label for="INCA_MODELO" class="control-label col-md-2">Modelo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_MODELO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_MODELO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_MARCA_DIV">
                    <label for="INCA_MARCA" class="control-label col-md-2">Marca</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_MARCA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_MARCA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_ANO_DIV">
                    <label for="INCA_ANO" class="control-label col-md-2">Año</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_ANO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_ANO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_CHASIS_DIV">
                    <label for="INCA_CHASIS" class="control-label col-md-2">Chasis</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_CHASIS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_CHASIS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_MATRICULA_DIV">
                    <label for="INCA_MATRICULA" class="control-label col-md-2">Matrícula</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_MATRICULA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_MATRICULA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_PLACA_DIV">
                    <label for="INCA_PLACA" class="control-label col-md-2">Placa</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_PLACA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_PLACA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_REMITIDO_DIV">
                    <label for="INCA_REMITIDO" class="control-label col-md-2">Remitido por</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_REMITIDO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_REMITIDO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_FHVENCSEGURO_DIV">
                    <label for="INCA_FHVENCSEGURO" class="control-label col-md-2">Fecha de vencimiento del seguro</label>
                    <div class="col-md-10">
                        <input type="text" name="PRE_INCA_FHVENCSEGURO" id="INCA_FHVENCSEGURO" value="" class="form-control" />
                    </div>
                </div>

                <div class="form-group" id="INCA_DEVOLUCION_DIV">
                    <label for="INCA_DEVOLUCION" class="control-label col-md-2">Devuelto a</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_DEVOLUCION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_DEVOLUCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_TELEDEVCONTACTO_DIV">
                    <label for="INCA_TELEDEVCONTACTO" class="control-label col-md-2">Teléfono de contacto</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_TELEDEVCONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_TELEDEVCONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="INCA_FHDEVOLUCION_DIV">
                    <label for="INCA_FHDEVOLUCION" class="control-label col-md-2">Fecha de devolución</label>
                    <div class="col-md-10">
                        <input type="text" name="PRE_INCA_FHDEVOLUCION" id="INCA_FHDEVOLUCION" value="" class="form-control" />
                    </div>
                </div>

                <div class="form-group" id="INCA_PAGOMANT_DIV">
                    <label for="INCA_PAGOMANT" class="control-label col-md-2">Pago de mantenimiento</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_PAGOMANT, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.INCA_FHDEVOLUCION, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group" id="INCA_DIRECCION_DIV">
                    <label for="INCA_DIRECCION" class="control-label col-md-2">Dirección</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.INCA_DIRECCION, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.INCA_DIRECCION, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.INCA_LATITUD, new { @class = "form-control" })
                        @Html.HiddenFor(model => model.INCA_LONGITUD, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group" id="INCA_DESCRIPCION_DIV">
                    <label for="INCA_DESCRIPCION" class="control-label col-md-2">Descripción</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.INCA_DESCRIPCION, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.INCA_DESCRIPCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_ESTATUS" class="control-label col-md-2">Estatus</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.INCA_ESTATUS, (SelectList)ViewBag.Estatus)
                        @Html.ValidationMessageFor(model => model.INCA_ESTATUS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_SUJETO" class="control-label col-md-2">Custodio</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CUST_ID, (SelectList)ViewBag.Custodios)
                        @Html.ValidationMessageFor(model => model.CUST_ID, "", new { @class = "text-danger" })
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Agregar custodio</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_VALOR" class="control-label col-md-2">Valor / Tasación</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_VALOR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_VALOR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_ACUERDO" class="control-label col-md-2">Valor Acuerdo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INCA_ACUERDO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INCA_ACUERDO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_NOTA" class="control-label col-md-2">Nota</label>
                    <div class="col-md-10">
                        <textarea id="INCA_NOTA" name="INCA_NOTA" class="form-control" rows="5">@Model.INCA_NOTA</textarea>
                        @Html.ValidationMessageFor(model => model.INCA_NOTA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="USUA_ID" class="control-label col-md-2">Usuario Creador</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.USUA_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        @Html.HiddenFor(model => model.USUA_ID)
                    </div>
                </div>

                <div class="form-group">
                    <label for="INCA_FHCREACION" class="control-label col-md-2">Creacion Reg.</label>
                    <div class="col-md-10">
                        <input type="text" name="PRE_INCA_FHCREACION" id="INCA_FHCREACION" value="" class="form-control" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group">
                    <h2 style="margin-left:20px;">Archivos subidos</h2>
                </div>

                @if (Model.INV_FOTOS != null)
                {
                    int x = 1;
                    foreach (var item in Model.INV_FOTOS)
                    {
                        <div class="form-group" style="background:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="myDiv@(item.FOTO_ID)">
                            <label class="control-label col-md-2">Archivo @x</label>
                            <div class="col-md-10">
                                @if (VideosSoportados.Contains(item.FOTO_TIPO.ToLower()))
                                {

                                    <a href='@Url.Action("DownloadFile")/@item.FOTO_ID' target="_blank" download="@item.FOTO_NOMBRE" title="@item.FOTO_NOMBRE">
                                        <img src="~/Content/images/BI_Images/iconos/videoDownload.svg" id="@item.FOTO_ID" width="100" height="100" />
                                    </a>

                                    //}

                                }
                                else
                                {
                                    <a href='@Url.Action("DownloadFile")/@item.FOTO_ID' target="_blank" download="@item.FOTO_NOMBRE" title="@item.FOTO_NOMBRE">
                                        <img src="@item.IMAGE_IMAGE" id="@item.FOTO_ID" width="100" height="100" />
                                    </a>
                                }

                                <br /><br />
                                <input type="text" name="FOTO_DESCRIPCION" value="@item.FOTO_DESCRIPCION" class="form-control fotoDescripcion" />
                                <br />
                                <label>Fecha de subida: @item.FOTO_FHCREACION</label> | <label>Peso: @item.FOTO_PESO</label>
                                <div class='col-md-12'>
                                    <div>
                                        <label class='text-danger'></label>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <label for="foto_estado">Estado </label>

                                    <select id="foto_estado" onchange="actualizarEstado(@item.FOTO_ID, $(this).val())">
                                        @if (item.FOTO_ESTATUS == true)
                                        {
                                            <option value="Activo" selected>Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        }
                                        else
                                        {
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo" selected>Inactivo</option>
                                        }
                                    </select>

                                </div>
                                <div>
                                    @if (User.IsInRole("BIA"))
                                    {
                                        <a id="@item.FOTO_ID" class="button_white eliminar-archivo boton">Eliminar Archivo</a>
                                    }
                                </div>

                            </div>
                        </div>
                        x++;
                    }

                    <input type="hidden" id="cantidad_archivos" value="@x" />
                }

                <div class="form-group">
                    <label class="control-label col-md-2">Subir archivo(s)</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ARCHIVO_VISTA, new
                        {
                            type = "file",
                            multiple = "true",
                            @class = "file",
                            @data_show_upload = "false",
                            @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\"" +
                                  ",\"ppt\",\"pptx\",\"mp4\",\"3gp\",\"avi\",\"flv\",\"mpg\",\"wmv\"]"
                        })
                    </div>
                </div>

                <div id="descripcion"></div>
                <hr />
                <br />

                @Html.HiddenFor(model => model.INCA_ID)
                @Html.HiddenFor(model => model.INCA_NO)
                <input type="hidden" name="INCA_FHENTRADA" value="@Model.INCA_FHENTRADA" />
                <input type="hidden" name="INCA_FHVENCSEGURO" value="@Model.INCA_FHVENCSEGURO" />
                <input type="hidden" name="INCA_FHDEVOLUCION" value="@Model.INCA_FHDEVOLUCION" />
                <input type="hidden" name="INCA_FHCREACION" value="@Model.INCA_FHCREACION" />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="button_white " /> |
                        <a target="_blank" class="button_white" href="@Url.Action("ReporteEditar", "Incautaciones", new { @id = Model.INCA_ID })">Generar PDF</a> |
                        <a target="_blank" class="button_white" href="@Url.Action("RegistroActividad", "Incautaciones", new { @id = Model.INCA_ID })">Historial de actividades</a> |
                        @Html.ActionLink("Volver", "Index", null, new { @class = "button_white" })
                        @if (User.IsInRole("BIA"))
                        {
                            <span>| </span><a class="button_white boton eliminar-incautacion">Eliminar incautacíon</a>
                        }
                    </div>
                </div>
            </div>
        }*@


@if (TempData["msjError"] != null)
{
    <div class="alert alert-warning">
        <b>@TempData["msjError"]</b>
    </div>
}
@using (Html.BeginForm("Edit", "Incautaciones", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <section class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">EDITAR  INCAUTACIÓN</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right alejar_top btn-group botones">

                @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
                {
                    <button type="submit" value="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                    <a target="_blank" class="btn button_white" href="@Url.Action("ReporteEditar", "Incautaciones", new { @id = Model.INCA_ID })"><i class="fa fa-print alejar_icono"></i>Generar PDF</a>
                    <a target="_blank" class="btn button_white" href="@Url.Action("RegistroActividad", "Incautaciones", new { @id = Model.INCA_ID })"><i class="fa fa-history alejar_icono"></i>Historial</a>
                    @*@Html.ActionLink("Volver", "Index", null, new { @class = "btn button_white" })*@
                    <button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>

                    if (User.IsInRole("BIA"))
                    {
                        <a class="btn button_white boton eliminar-incautacion"><i class="fa fa-trash alejar_icono"></i>Eliminar</a>
                    }
                }
                else
                {
                    <a target="_blank" class="btn button_white" href="@Url.Action("ReporteEditar", "Incautaciones", new { @id = Model.INCA_ID })"><i class="fa fa-print alejar_icono"></i>Generar PDF</a>
                    <button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>

                }

            </div>
        </div>
    </section>

    <div class="container">
        <div class="col-md-12 fila">
            <div class="form-group col-md-6">
                <div class="label-form">
                    <label for="CASO_ID" class="control-label">Caso</label>
                    @Html.DropDownListFor(model => model.CASO_ID, (SelectList)ViewBag.Casos, null, new { @class="chosen"})
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="label-form">
                    <label for="INCA_NO" class="control-label">Código del bien</label>
                    @Html.EditorFor(model => model.INCA_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="label-form">
                    <label for="INCA_FHENTRADA" class="control-label">Fecha Entrada</label>
                    <input type="text" name="PRE_INCA_FHENTRADA" id="INCA_FHENTRADA" value="" class="form-control" required="required" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="label-form">
                    <label for="clase" class="control-label">Clase</label>
                    @Html.DropDownListFor(model => model.CLAS_ID, (SelectList)ViewBag.Clases)
                    @Html.ValidationMessageFor(model => model.CLAS_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 fila">
            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="TIPO_ID" class="control-label col-md-2">Tipo</label>
                    @Html.DropDownList("TIPO_ID", null, new { @id = "TIPO_ID", @name = "TIPO_ID" })
                    @Html.ValidationMessageFor(model => model.TIPO_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_LOCALIDADINC" class="control-label">Lugar Incautacion</label>
                    @Html.DropDownListFor(model => model.INCA_LOCALIDADINC, (SelectList)ViewBag.ProvInc)
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_LOCALIDADINC" class="control-label">Localizacion Actual</label>
                    @Html.DropDownListFor(model => model.INCA_LOCALIDADINV, (SelectList)ViewBag.ProvInv)
                </div>
            </div>
            <div class="form-group col-md-3" id="COLOR_ID_DIV">
                <div class="label-form">
                    <label for="COLOR_ID" class="control-label col-md-2">Color</label>
                    @Html.DropDownListFor(model => model.COLOR_ID, (SelectList)ViewBag.Colores)
                </div>
            </div>
        </div>


        <div class="col-md-12 fila">
            <div class="form-group col-md-3" id="INCA_MODELO_DIV">
                <div class="label-form">
                    <label for="INCA_MODELO" class="control-label">Modelo</label>
                    @Html.EditorFor(model => model.INCA_MODELO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_MODELO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_MARCA_DIV">
                <div class="label-form">
                    <label for="INCA_MARCA" class="control-label ">Marca</label>
                    @Html.EditorFor(model => model.INCA_MARCA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_MARCA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_ANO_DIV">
                <div class="label-form">
                    <label for="INCA_ANO" class="control-label">Año</label>
                    @Html.EditorFor(model => model.INCA_ANO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_ANO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_CHASIS_DIV">
                <div class="label-form">
                    <label for="INCA_CHASIS" class="control-label">Chasis</label>
                    @Html.EditorFor(model => model.INCA_CHASIS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_CHASIS, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_MATRICULA_DIV">
                <div class="label-form">
                    <label for="INCA_MATRICULA" class="control-label">Matrícula</label>
                    @Html.EditorFor(model => model.INCA_MATRICULA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_MATRICULA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_PLACA_DIV">
                <div class="label-form">
                    <label for="INCA_PLACA" class="control-label">Placa</label>
                    @Html.EditorFor(model => model.INCA_PLACA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_PLACA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_REMITIDO_DIV">
                <div class="label-form">
                    <label for="INCA_REMITIDO" class="control-label ">Remitido por</label>
                    @Html.EditorFor(model => model.INCA_REMITIDO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_REMITIDO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_FHVENCSEGURO_DIV">
                <div class="label-form">
                    <label for="INCA_FHVENCSEGURO" class="control-label">Fecha de vencimiento del seguro</label>
                    <input type="text" name="PRE_INCA_FHVENCSEGURO" id="INCA_FHVENCSEGURO" value="" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_DEVOLUCION_DIV">
                <div class="label-form">
                    <label for="INCA_DEVOLUCION" class="control-label">Devuelto a</label>
                    @Html.EditorFor(model => model.INCA_DEVOLUCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_DEVOLUCION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_FHDEVOLUCION_DIV">
                <div class="label-form">
                    <label for="INCA_FHDEVOLUCION" class="control-label">Fecha de devolución</label>
                    <input type="text" name="PRE_INCA_FHDEVOLUCION" id="INCA_FHDEVOLUCION" value="" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-3" id="INCA_PAGOMANT_DIV">
                <div class="label-form">
                    <label for="INCA_PAGOMANT" class="control-label">Cuota de mantenimiento</label>
                    @Html.EditorFor(model => model.INCA_PAGOMANT, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.INCA_FHDEVOLUCION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_ESTATUS" class="control-label">Estatus</label>
                    @Html.DropDownListFor(model => model.INCA_ESTATUS, (SelectList)ViewBag.Estatus)
                    @Html.ValidationMessageFor(model => model.INCA_ESTATUS, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_SUJETO" class="control-label">Custodio</label>
                    @Html.DropDownListFor(model => model.CUST_ID, (SelectList)ViewBag.Custodios, null, new { @class="chosen"})
                    @Html.ValidationMessageFor(model => model.CUST_ID, "", new { @class = "text-danger" })
                    @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
                    {
                        <button type="button" class="btn btn-primary margin-boton buttonAceptar borde-no" @*data-toggle="modal" data-target="#myModal"*@ style="margin-top: 5px; margin-right: 0px;">Agregar custodio</button>
                    }
                    <button type="button" class="btn btn-primary margin-boton borde-no custodio-historial"><i class="fa fa-history"></i></button>
                </div>
            </div>
        </div>

        <div class="col-md-12 fila">
            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="USUA_ID" class="control-label">Usuario Creador</label>
                    @Html.EditorFor(model => model.USUA_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.HiddenFor(model => model.USUA_ID)
                </div>
            </div>
            <div class="form-group  col-md-3">
                <div class="label-form">
                    <label for="INCA_FHCREACION" class="control-label">Creacion Reg.</label>
                    @*@Html.EditorFor(model => model.INCA_FHCREACION, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })*@
                    <input type="text" name="PRE_INCA_FHCREACION" id="INCA_FHCREACION" value="" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group col-md-3 valor">
                <div class="label-form">
                    <label for="INCA_VALOR" class="control-label">Valor / Tasación</label>
                    @Html.EditorFor(model => model.INCA_VALOR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_VALOR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3 valor">
                <div class="label-form">
                    <label for="INCA_ACUERDO" class="control-label">Valor Acuerdo</label>
                    @Html.EditorFor(model => model.INCA_ACUERDO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INCA_ACUERDO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 fila">
            <div class="form-group col-md-6" id="INCA_DIRECCION_DIV">
                <div class="label-form">
                    <label for="INCA_DIRECCION" class="control-label">Dirección</label>
                    @Html.TextAreaFor(model => model.INCA_DIRECCION, new { @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.INCA_DIRECCION, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.INCA_LATITUD, new { @class = "form-control" })
                    @Html.HiddenFor(model => model.INCA_LONGITUD, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-6" id="INCA_DESCRIPCION_DIV">
                <div class="label-form">
                    <label for="INCA_DESCRIPCION" class="control-label">Descripción</label>
                    @Html.TextAreaFor(model => model.INCA_DESCRIPCION, new { @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.INCA_DESCRIPCION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="label-form">
                    <label for="INCA_NOTA" class="control-label">Nota</label>
                    <textarea id="INCA_NOTA" name="INCA_NOTA" class="form-control" rows="5">@Model.INCA_NOTA</textarea>
                    @Html.ValidationMessageFor(model => model.INCA_NOTA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
        {

            <div class="col-md-12 fila">
                <div class="form-group col-md-6">
                    <div class="label-form">
                        <h2 class="h2_title_page">Subir archivo(s)</h2>
                        <hr class="hr2">
                        <div class="col-md-12 btn-examinar" style="padding: 0;">
                            @Html.TextBoxFor(model => model.ARCHIVO_VISTA, new
                            {
                                type = "file",
                                multiple = "true",
                                @class = "file",
                                @data_show_upload = "false",
                                @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\"" +
                         ",\"ppt\",\"pptx\",\"mp4\",\"3gp\",\"avi\",\"flv\",\"mpg\",\"wmv\"]"
                            })
                        </div>
                    </div>
                </div>
            </div>

        }

        <div id="descripcion"></div>

    </div>

    <hr />
    <br />

    @Html.HiddenFor(model => model.INCA_ID)
    @Html.HiddenFor(model => model.INCA_NO)
    @*@Html.HiddenFor(model => model.INCA_FHCREACION)*@
    <input type="hidden" name="INCA_FHENTRADA" value="@Model.INCA_FHENTRADA" />
    <input type="hidden" name="INCA_FHVENCSEGURO" value="@Model.INCA_FHVENCSEGURO" />
    <input type="hidden" name="INCA_FHDEVOLUCION" value="@Model.INCA_FHDEVOLUCION" />
    <input type="hidden" name="INCA_FHCREACION" value="@Model.INCA_FHCREACION" />
    <input type="hidden" name="CUST_ID_ANTERIOR" value="@Model.CUST_ID" />

}

@if (Model.INV_FOTOS.Count > 0)
{
    @*<div class="col-md-12 fila">
            <div class="form-group col-md-12">
                <h2 class="h2_title_page">Archivos subidos</h2>
                <hr class="hr2">
            </div>
        </div>*@

    <div class="col-md-12 fila">
        <div class="form-group col-md-12">
            <div class="col-md-10 pull-left" style="padding: 0;">
                <h2 class="h2_title_page">Archivos subidos</h2>
                <hr class="hr2">
            </div>
        </div>
    </div>

    <div class="tomatudiv col-md-12 fila">


        @{ int x = 1; }
        @foreach (var item in Model.INV_FOTOS)
        {

            <div class="col-md-4" style="margin:0; margin-top: 15px; padding: 0;" id="myDiv@(item.FOTO_ID)">
                <div class="label-form" style="margin: 0 10px;background:#f6f6f6;padding: 20px !important;">
                    <label class="control-label" style="margin-left: 4px;">Archivo @x</label> <br />
                    @if (item.FOTO_TIPO.ToLower() == ".mp4")
                    {
                        <video height="135" controls>
                            <source src="~/Content/images/BI_Images/@item.FOTO_NOMBRE" type="video/mp4" />
                        </video>
                        <a href='@Url.Action("DownloadFile")/@item.FOTO_ID' target="_blank" download="@item.FOTO_NOMBRE" title="Descargar Archivo @item.FOTO_NOMBRE">
                            <img src="@item.IMAGE_IMAGE" style="margin-top:-1.5%; float: right;" id="@item.FOTO_ID" width="40" height="40" />
                        </a>
                    }
                    else
                    {
                        <a href='@Url.Action("DownloadFile")/@item.FOTO_ID' target="_blank" download="@item.FOTO_NOMBRE" title="Descargar Archivo @item.FOTO_NOMBRE">
                            <img src="@item.IMAGE_IMAGE" id="@item.FOTO_ID" width="150" height="140" />
                        </a>
                    }

                    <br /><br />
                    <input type="text" name="FOTO_DESCRIPCION" value="@item.FOTO_DESCRIPCION" class="form-control fotoDescripcion" />
                    <br />
                    <label>Fecha de subida: @item.FOTO_FHCREACION</label> | <label>Peso: @item.FOTO_PESO</label>
                    <div class='col-md-12'>
                        <div>
                            <label class='text-danger'></label>
                        </div>
                    </div>
                    <br />

                    @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
                    {

                        <div>
                            <label for="foto_estado">Estado </label>

                            <select id="foto_estado" onchange="actualizarEstado(@item.FOTO_ID, $(this).val())">
                                @if (item.FOTO_ESTATUS == true)
                                {
                                    <option value="Activo" selected>Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                }
                                else
                                {
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo" selected>Inactivo</option>
                                }
                            </select>

                        </div>

                    }

                    <div>
                        @if (User.IsInRole("BIA"))
                        {
                            <a id="@item.FOTO_ID" class="button_white eliminar-archivo boton"><i class="fa fa-trash alejar_icono"></i>Eliminar Archivo</a>
                        }
                    </div>

                </div>
            </div>
            x++;
        }
    </div>
    <input type="hidden" id="cantidad_archivos" value="@x" />
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Custodio/CreateModal.cshtml", new intra.Models.BienesIncautados.INV_CUSTODIO());
            }
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-historial">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Custodio/HistorialModal.cshtml");
            }
        </div>
    </div>
</div>

@*<script src="~/js/jquery-1.11.0.min.js"></script>*@
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
@*<script src="~/scripts/jquery.filedrop.js"></script>*@
<script src="~/scripts/create_incautaciones2.js"></script>
<script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/fa/theme.js"></script>
<script src="~/scripts/locales/es.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
@*<sckript src="~/scripts/custodio_incautaciones.js"></sckript>*@
@*<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />*@

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/moment.js"></script>

<script>

    var AnimacionCarga = $("#loading-animation-container");

    function actualizarEstado(ident, est) {
        console.log(ident);
        console.log(est);
        AnimacionCarga.show();

        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/Incautaciones/CambiarEstadoArchivo",
            method: "post",
            data: { id: ident, estado: est },
            success: function (data) {
                if (data == "Cambios guardados" && est == "Eliminado") {

                    AnimacionCarga.hide();

                    swal({
                        title: data,
                        type: 'success',
                        confirmButtonText: 'OK'
                    }).then(function () {

                        location.reload();

                    })
                }
                else if (data == "Cambios guardados") {
                    swal("", data, "success");
                } else {
                    swal("", "Ha ocurrido un error.", "error");
                }
            },
            error: function (data) {
                swal("", "Ha ocurrido un error.", "error");
            }
        });
        AnimacionCarga.hide();
    }

    $(".eliminar-archivo").click(function () {

        var id = $(this).attr('id');

        swal({
            title: "Esta Seguro de que quiere Eliminar este Archivo?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            actualizarEstado(id, "Eliminado");
        })

    });

    $(".eliminar-incautacion").click(function () {

        swal({
            title: "Esta Seguro de que quiere Eliminar esta Incautacíon?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {

            AnimacionCarga.show();

            var id = @Model.INCA_ID;

            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/Incautaciones/Delete",
                method: "post",
                data: { id: id },
                success: function (data) {

                    if (data == "Eliminado") {

                        swal({
                            title: data,
                            type: 'success',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Incautaciones";
                        })

                    } else if (data == "Error") {
                        swal("", "Ha ocurrido un error.", "error");
                    }
                },
                error: function (data) {
                    swal("", "Ha ocurrido un error.", "error");
                }
            });
        })
    });

</script>
<script type="text/javascript">

    function load_tipos() {
        $("#TIPO_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("dbTipos")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ clase: ' + $("#CLAS_ID").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#TIPO_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
                $('#TIPO_ID').val("@Model.TIPO_ID");
            },
            error: function (ex) {
                swal("","Ha ocurrido un error","error");
            }
        });

        return;
    }

</script>
<script>
    function mostrar_campos() {
        if ($('#CLAS_ID').val() == "2" || $('#CLAS_ID').val() == "4" || $('#CLAS_ID').val() == "5" || $('#CLAS_ID').val() == "6") {
            $('#INCA_MODELO_DIV').show();
            $('#INCA_MARCA_DIV').show();
            $('#INCA_ANO_DIV').show();
            $('#INCA_CHASIS_DIV').show();
            $('#INCA_MATRICULA_DIV').show();
            $('#INCA_PLACA_DIV').show();
            $('#INCA_REMITIDO_DIV').show();
            $('#INCA_FHVENCSEGURO_DIV').show();
            $('#INCA_DEVOLUCION_DIV').show();
            $('#INCA_TELEDEVCONTACTO_DIV').show();
            $('#INCA_FHDEVOLUCION_DIV').show();

            $('#INCA_PAGOMANT_DIV').hide();
            $('#INCA_PAGOMANT').val("");
            $('#INCA_DIRECCION_DIV').hide();
            $('#INCA_DIRECCION').val("");
            $('#INCA_LATITUD').val("");
            $('#INCA_LONGITUD').val("");

            $('#COLOR_ID_DIV').show();
            $('#COLOR_ID').val("");

            $('.valor').hide();

        } else if ($('#CLAS_ID').val() == "1") {
            $('#INCA_MODELO_DIV').hide();
            $('#INCA_MODELO').val("");
            $('#INCA_MARCA_DIV').hide();
            $('#INCA_MARCA').val("");
            $('#INCA_ANO_DIV').hide();
            $('#INCA_ANO').val("");
            $('#INCA_CHASIS_DIV').hide();
            $('#INCA_CHASIS').val("");
            $('#INCA_MATRICULA_DIV').hide();
            $('#INCA_MATRICULA').val("");
            $('#INCA_PLACA_DIV').hide();
            $('#INCA_PLACA').val("");
            $('#INCA_REMITIDO_DIV').hide();
            $('#INCA_REMITIDO').val("");
            $('#INCA_FHVENCSEGURO_DIV').hide();
            $('#INCA_FHVENCSEGURO').val("");
            $('#INCA_DEVOLUCION_DIV').hide();
            $('#INCA_DEVOLUCION').val("");
            $('#INCA_TELEDEVCONTACTO_DIV').hide();
            $('#INCA_TELEDEVCONTACTO').val("");
            $('#INCA_FHDEVOLUCION_DIV').hide();
            $('#INCA_FHDEVOLUCION').val("");

            $('#INCA_PAGOMANT_DIV').show();
            $('#INCA_PAGOMANT').val("");
            $('#INCA_DIRECCION_DIV').show();
            $('#INCA_DIRECCION').val("");
            $('#INCA_LATITUD').val("");
            $('#INCA_LONGITUD').val("");

            $('#COLOR_ID_DIV').hide();
            $('#COLOR_ID').val("");

            $('.valor').show();


        } else {
            $('#INCA_MODELO_DIV').hide();
            $('#INCA_MODELO').val("");
            $('#INCA_MARCA_DIV').hide();
            $('#INCA_MARCA').val("");
            $('#INCA_ANO_DIV').hide();
            $('#INCA_ANO').val("");
            $('#INCA_CHASIS_DIV').hide();
            $('#INCA_CHASIS').val("");
            $('#INCA_MATRICULA_DIV').hide();
            $('#INCA_MATRICULA').val("");
            $('#INCA_PLACA_DIV').hide();
            $('#INCA_PLACA').val("");
            $('#INCA_REMITIDO_DIV').hide();
            $('#INCA_REMITIDO').val("");
            $('#INCA_FHVENCSEGURO_DIV').hide();
            $('#INCA_FHVENCSEGURO').val("");
            $('#INCA_DEVOLUCION_DIV').hide();
            $('#INCA_DEVOLUCION').val("");
            $('#INCA_TELEDEVCONTACTO_DIV').hide();
            $('#INCA_TELEDEVCONTACTO').val("");
            $('#INCA_FHDEVOLUCION_DIV').hide();
            $('#INCA_FHDEVOLUCION').val("");
            $('#INCA_PAGOMANT_DIV').hide();
            $('#INCA_PAGOMANT').val("");
            $('#INCA_DIRECCION_DIV').hide();
            $('#INCA_DIRECCION').val("");
            $('#INCA_LATITUD').val("");
            $('#INCA_LONGITUD').val("");
            $('#COLOR_ID_DIV').hide();
            $('#COLOR_ID').val("");
            $('.valor').hide();
        }
    }
</script>
<script>
    $("#CLAS_ID").change(function () {
        load_tipos();
        mostrar_campos();

        return false;
    });

    var tabla = $('.tableGrid').DataTable({
        "order": [],
        "pageLength": 4,
        "bLengthChange": false,
        "language": {
            "processing": "...Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron registros disponibles",
            "emptyTable": "No hay Datos Disponibles en esta Tabla",
            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "infoPostFix": "",
            "search": "Buscar:",
            "url": "",
            "infoThousands": ",",
            "loadingRecords": "...Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        responsive: true
    });

    $('#ARCHIVO_VISTA').fileinput({ language: "es", maxFileSize: 20480 });

</script>
<script type="text/javascript">
    $(document).ready(function () {

        var chosen = $('.chosen').chosen();

        $('.custodio-historial').click(function () {
            GetCustodioHistorial($('#INCA_ID').val());
            $('#myModal2').modal('show');
        });

        $('.buttonAceptar').click(function () {
            $('#myModal').modal('show');
        });

        $('#INCA_TELEDEVCONTACTO').mask('(999) 999-9999');

        $('#INCA_FHDEVOLUCION').datepicker({
            dateFormat: "dd/mm/yy"
        });

        $('#INCA_FHVENCSEGURO').datepicker({
            dateFormat: "dd/mm/yy"
        });

        $('#INCA_FHENTRADA').datepicker({
            dateFormat: "dd/mm/yy"
        });

        function GetCustodioHistorial(inca_ID) {

            $.ajax({
                url: "@Url.Action("GetCustodioHistorial", "Custodio")",
                data: { inca_ID: inca_ID },
                dataType: 'json',
                method: 'POST',
                success: function (CustodioLogs) {

                    ListarCustodios(CustodioLogs);

                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                    console.log(inca_ID);
                }
            });

        }

        function ListarCustodios(CustodioLogs) {

            tabla.clear().draw();

            for (var i in CustodioLogs) {
                var custodiolog = CustodioLogs[i];

                var valor = @Model.INCA_ACUERDO;

                console.log(custodiolog);

                tabla.row.add({
                    0: moment(custodiolog.Log.LogFecha).format("DD/MM/YYYY h:mm:ss a").toUpperCase(),
                    1: custodiolog.Log.LogAccion.toUpperCase(),
                    2: (custodiolog.Custodio == null ? "NINGUNO" : custodiolog.Custodio.CUST_NOMBRE),
                    3: "RD$ " + valor.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"),
                    4:  (custodiolog.Custodio == null ? "" : (custodiolog.Custodio.CUST_TIPO == "Departamento" ? "" : "<ul style='padding-left: 5px;'>" +
                        (custodiolog.Custodio.CUST_TELRES == null ? "" : "<li>Teléfono residencial: " + custodiolog.Custodio.CUST_TELRES + "</li>") +
                        (custodiolog.Custodio.CUST_TELCEL == null ? "" : "<li>Teléfono celular: " + custodiolog.Custodio.CUST_TELCEL + "</li>") +
                        (custodiolog.Custodio.CUST_TELOFI == null ? "" : "<li>Teléfono de oficina: " + custodiolog.Custodio.CUST_TELOFI + "</li>") + "</ul>")),
                    5: custodiolog.Log.LogUsuarioNombre,
                }).draw();
            }
        }

        $('#INCA_FHENTRADA').val('@ViewBag.INCA_FHENTRADA_String');
        $('#INCA_FHDEVOLUCION').val('@ViewBag.INCA_FHDEVOLUCION_String');
        $('#INCA_FHVENCSEGURO').val('@ViewBag.INCA_FHVENCSEGURO_String');
        $('#INCA_FHCREACION').val('@ViewBag.INCA_FHCREACION_String');

        load_tipos();

        if ($('#CLAS_ID').val() == "1") {
            $('#INCA_MODELO_DIV').hide();
            $('#INCA_MODELO').val("");
            $('#INCA_MARCA_DIV').hide();
            $('#INCA_MARCA').val("");
            $('#INCA_ANO_DIV').hide();
            $('#INCA_ANO').val("");
            $('#INCA_CHASIS_DIV').hide();
            $('#INCA_CHASIS').val("");
            $('#INCA_MATRICULA_DIV').hide();
            $('#INCA_MATRICULA').val("");
            $('#INCA_PLACA_DIV').hide();
            $('#INCA_PLACA').val("");
            $('#INCA_REMITIDO_DIV').hide();
            $('#INCA_REMITIDO').val("");
            $('#INCA_FHVENCSEGURO_DIV').hide();
            $('#INCA_FHVENCSEGURO').val("");
            $('#INCA_DEVOLUCION_DIV').hide();
            $('#INCA_DEVOLUCION').val("");
            $('#INCA_TELEDEVCONTACTO_DIV').hide();
            $('#INCA_TELEDEVCONTACTO').val("");
            $('#INCA_FHDEVOLUCION_DIV').hide();
            $('#INCA_FHDEVOLUCION').val("");

            $('#COLOR_ID_DIV').hide();
            $('#COLOR_ID').val("");

            $('.valor').show();


        } else if ($('#CLAS_ID').val() == "2" || $('#CLAS_ID').val() == "4" || $('#CLAS_ID').val() == "5" || $('#CLAS_ID').val() == "6") {
            $('#INCA_PAGOMANT_DIV').hide();
            $('#INCA_PAGOMANT').val("");
            $('#INCA_DIRECCION_DIV').hide();
            $('#INCA_LATITUD').val("");
            $('#INCA_LONGITUD').val("");
            $('#INCA_DIRECCION').val("");

            $('#COLOR_ID_DIV').show();

            $('.valor').hide();

        } else {
            $('#INCA_MODELO_DIV').hide();
            $('#INCA_MODELO').val("");
            $('#INCA_MARCA_DIV').hide();
            $('#INCA_MARCA').val("");
            $('#INCA_ANO_DIV').hide();
            $('#INCA_ANO').val("");
            $('#INCA_CHASIS_DIV').hide();
            $('#INCA_CHASIS').val("");
            $('#INCA_MATRICULA_DIV').hide();
            $('#INCA_MATRICULA').val("");
            $('#INCA_PLACA_DIV').hide();
            $('#INCA_PLACA').val("");
            $('#INCA_REMITIDO_DIV').hide();
            $('#INCA_REMITIDO').val("");
            $('#INCA_FHVENCSEGURO_DIV').hide();
            $('#INCA_FHVENCSEGURO').val("");
            $('#INCA_DEVOLUCION_DIV').hide();
            $('#INCA_DEVOLUCION').val("");
            $('#INCA_TELEDEVCONTACTO_DIV').hide();
            $('#INCA_TELEDEVCONTACTO').val("");
            $('#INCA_FHDEVOLUCION_DIV').hide();
            $('#INCA_FHDEVOLUCION').val("");
            $('#INCA_PAGOMANT_DIV').hide();
            $('#INCA_PAGOMANT').val("");
            $('#INCA_DIRECCION_DIV').hide();
            $('#INCA_LATITUD').val("");
            $('#INCA_LONGITUD').val("");
            $('#INCA_DIRECCION').val("");

            $('#COLOR_ID_DIV').hide();
            $('#COLOR_ID').val("");

            $('.valor').hide();
        }

        $('#ARCHIVO_VISTA').change(function () {
            $("#descripcion").html("");
            var ca = +$('#cantidad_archivos').val();
            for (var i = 0; i < $('#ARCHIVO_VISTA')[0].files.length; i++) {
                $("#descripcion").append("<div class='form-group'> <label class='control-label col-md-2' >" + "Archivo " + (ca + i) + " : </label><div class='col-md-10'><input type='text' class='form-control fotoDescripcion' name='fotoDescripcion' class='form-control'/></div><div><label class='col-md-2'></label><div class='col-md-10'><label class='text-danger'></labe></div></div></div>");
            }
        })

        $('.fileinput-remove').click(function () {
            $('#descripcion').html("")
        })

        $('#formulario_edit').submit(function (ev) {
            if (!this._ValidateAddress)
                this._ValidateAddress = false;

            if (!this._ValidateAddress)
                if ($('#INCA_DIRECCION').val() == '' && (($('#INCA_LATITUD').val() == '' || $('#INCA_LATITUD').val() == null) && $(('#INCA_LONGITUD').val() == '' || $('#INCA_LONGITUD').val() == null))) {
                    document.querySelector('iframe').contentWindow.window.postMessage('requestAddress', 'http://192.168.46.5:85');
                    ev.preventDefault();
                }

            validacion = true;
            $('.fotoDescripcion').each(function (key) {
                if ($(this).val() == "") {
                    $(this).parent().parent().find("label.text-danger").html("El campo no puede estar vacío");
                    validacion = false;
                } else {
                    $(this).parent().parent().find("label.text-danger").html("");
                }
            });
            if (validacion == false) {
                return false;
            }

        });
    });

    $('#myModal').on('hidden.bs.modal', function () {

        var valorAnterior = $("#CUST_ID").val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("LoadCustodios")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (states) {
                if (states != "Error") {
                    $('#CUST_ID').html("");
                    $("#CUST_ID").append('<option value="1">NO CUSTODIO</option>');
                    $.each(states, function (i, state) {
                        $("#CUST_ID").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    });
                    $('#CUST_ID option[value=' + valorAnterior + ']').attr('selected', 'selected');
                    $("#CUST_ID").trigger("chosen:updated");
                } else {
                    swal("", "Ha ocurrido un error actualizando la lista de custodios", "error");
                }
            },
            error: function (ex) {
                swal("", "Ha ocurrido un error actualizando la lista de custodios", "error");
            }
        });
    });

</script>
@*<script>
        document.querySelector('iframe').addEventListener('load', function () {
            this.contentWindow.window.postMessage('start', 'http://192.168.46.5:85');

        });
        window.addEventListener("message", function (val) {
            if (val.data == 'ready') {
                var json_maps = {
                    latitude: document.querySelector('#INCA_LATITUD').value,
                    longitude: document.querySelector('#INCA_LONGITUD').value,
                    address: document.querySelector('#MyDirection').value
                };

                $('#INCA_DIRECCION').val(json_maps.address);

                document.querySelector('iframe').contentWindow.window.postMessage('json' + JSON.stringify(json_maps), 'http://192.168.46.5:85');
            } else if (val.data.indexOf('address') === 0) {
                var address_string = val.data.substring('address'.length);
                $('#INCA_DIRECCION').val(address_string);

                $('#formulario_edit')[0]._ValidateAddress = true;
                $('#formulario_edit').submit();
            }
            else {
                var data = JSON.parse(val.data);

                $('#INCA_LATITUD').val(data.latitude);
                $('#INCA_LONGITUD').val(data.longitude);
                $('#INCA_DIRECCION').val(data.address);
            }
        })
    </script>*@
@*<script>
        $('#ARCHIVO_VISTA').fileinput();
    </script>*@
