﻿@model IEnumerable<intra.Models.BienesIncautados.VISTA_INCAUTACIONES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />


<section class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Listado de Bienes incautados</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-8">
        <div class="pull-right alejar_top btn-group botones">
           @if (User.IsInRole("BIA") || User.IsInRole("BIWR"))
           {
            <a href="@Url.Action("Create","Incautaciones")" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Crear Nuevo</a>
            @*<button type="submit" value="Crear" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Crear Nuevo</button>*@
           }
        </div>
    </div>
</section>


<section class="serviciosSolicitud">
    <div class="row">
        <div class="col-md-12">
            <div style="width:99%;overflow:hidden; height:auto; margin-top:10px;margin-bottom:10px">
                <div style="float:left; margin-left:2px">
                    <label>Filtrar Por:</label>
                    <select id="tipo">
                        <option value="">Seleccione</option>
                        <option value=1>Localización</option>
                        <option value=2>Lugar de Origen</option>
                        <option value=3>Chasis</option>
                        <option value=4>Matrícula</option>
                        <option value=5>Placa</option>
                        <option value=6>Modelo</option>
                        <option value=7>Marca</option>
                    </select>
                </div>
                <div id="localizacion" style="float:left;margin-left:2px; display:none">
                    <label id="provincialabel"></label>
                    @*@Html.TextBoxFor(model => model.FiltrarPorUsuario, new { @class = "form-control" })*@

                    @Html.DropDownList("provincias",(SelectList)ViewBag.provincias )

                </div>

                <div id="vehiculo" style="float:left;margin-left:2px;display:none;">
                    <label id="vehiculolabel"></label>
                    @*@Html.TextBoxFor(model => model.FiltrarPorResponsable, new { @class = "form-control" })*@
                    <input id="vehiculoinput" type="text" class="form-control"/>
                </div>
                <div style="float:left;  margin-left: 8px; margin-top: 20px;">

                    <button id="Consultar" class="button_white"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>

            </div>
        </div>
    </div>
</section>


<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>No. BI</th>
            <th>Entrada</th>
            <th>Caso</th>
            <th>Tipo</th>
            <th>Estatus</th>
            <th>Dirección</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td> @Html.ActionLink(item.INCA_NO, "Edit", new { id = item.INCA_ID })</td>
                    <td> @item.INCA_FHENTRADA.ToString("dd/MM/yyyy") </td>
                    <td> @Html.DisplayFor(modelItem => item.CASO_NOMBRE) </td>
                    <td> @Html.DisplayFor(modelItem => item.TIPO_NOMBRE) </td>
                    <td> @Html.DisplayFor(modelItem => item.ESTA_NOMBRE) </td>
                    <td> @Html.DisplayFor(modelItem => item.INCA_DIRECCION) </td>
                    <td> @Html.DisplayFor(modelItem => item.INCA_VALOR) </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>