﻿@model IEnumerable<intra.Models.Logs>

@{
    ViewBag.Title = "Registro de actividad";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<section class="row">
    <div class="col-lg-10">
        <h2>Registro de actividad del bien incautado</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
    </div>
</section>
<table class="table table-striped table-hover responsive display  no-wrap tableGrid" width="100%">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Actividad</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td align="left"> @item.LogFecha.ToString("dd/MM/yyyy hh:mm:ss") </td>
                    <td align="left"> @Html.DisplayFor(modelItem => item.LogAccion) </td>
                    <td align="left"> @Html.DisplayFor(modelItem => item.LogUsuarioNombre) </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script>
    $('.tableGrid').DataTable({
        "order": [],
        "language": {
            "processing": "...Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron registros disponibles",
            "emptyTable": "No hay Datos Disponibles en esta Tabla",
            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "infoPostFix": "",
            "search": "Buscar:",
            "url": "",
            "infoThousands": ",",
            "loadingRecords": "...Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        responsive: true
    })
</script>