﻿@{
    ViewBag.Title = "ReporteExcel";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .modal-content {
        padding: 15px;
    }

    .padding-formulario {
        padding: 0 15px !important;
    }

    .form-horizontal .control-label {
        font-size: 13px;
    }

    .label-form {
        padding-left: 0 !important;
        margin-bottom: 5px !important;
    }

    .form-horizontal .control-label {
        text-align: left !important;
        margin-top: 5%;
    }

    .btn-subir-archivo .btn-primary {
        padding: 1px 15px !important;
        text-align: center !important;
        /*border-radius: 0 !important;*/
        font-size: 8pt !important;
    }

    .form-control {
        border: 2px solid transparent !important;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        border-image-slice: 1 !important;
    }

    .margin-boton {
        margin-top: 5px;
    }

    .btn-guardar {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .buttonAceptar {
        background: #0c4ba4 !important;
        border: 0;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: 0;
        padding: 6px 8px;
        transition: all .1s linear;
        text-transform: uppercase;
        margin-right: 13px;
        font-size: 12px;
        text-decoration: none;
        color: #fff;
        border: solid 1px;
    }

        .buttonAceptar:hover {
            text-decoration: none;
            color: #fff !important;
            -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        }

    .btn-file {
        background: #0c4ba4 !important;
    }

    .input-group-btn .btn-file {
        background: #0c4ba4 !important;
        border: 0 !important;
        /*border-radius: 0 !important;*/
        margin-bottom: 10px !important;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: 0;
        padding: 4px 14px !important;
        transition: all .1s linear !important;
        text-transform: uppercase;
        margin-right: 9pt;
        font-size: 9pt;
        text-decoration: none;
        color: #fff;
        border: solid 1px !important;
        margin-top: -1px;
    }

        .input-group-btn .btn-file:hover {
            text-decoration: none;
            color: #fff !important;
            -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        }

    .input-group-btn {
        display: block !important;
    }

        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            margin-left: -2px !important;
        }

    .form-horizontal .form-group {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .buttonAceptar:active {
        box-shadow: none;
    }

    .volver-a-lista {
        padding: 11px 15px;
        margin-right: 0px;
        margin-left: 5px;
    }

    .fila {
        padding: 0;
    }

    .borde-no {
        border: none !important;
    }

        .borde-no:hover {
            border: none !important;
        }

    .btn-file {
        border-bottom-right-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

    .botones a, input, button {
        border: none !important;
        padding: 11px 24px !important;
    }

    .chosen-choices {
        padding: 3px 12px !important;
        border: 2px solid transparent !important;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%) !important;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        border-image-slice: 1 !important;
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .default {
        padding-left: 1px !important;
        padding-right: 1px !important;
        color: #333333 !important;
    }

</style>

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<section class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Reporte Excel</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-8">
        <div class="pull-right alejar_top btn-group botones">

            <a class="btn button_white descagar-archivo"><i class="fa fa-save alejar_icono"></i>Generar Excel</a>
            <button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>
        </div>

    </div>

</section>

<form id="reportexcel">

    <div class="row form-horizontal">

        <div class="col-md-12 fila">
            <div class="form-group col-md-6">
                <div class="label-form">
                    <label for="CASO_ID" class="control-label">Caso</label>
                    @Html.DropDownList("Casos", null, "TODOS")
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="clase" class="control-label">Clase</label>
                    @Html.DropDownList("Clases", null, new { @multiple="multiple" })
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class="label-form label-clase" hidden>
                    <label for="TIPO_ID" class="control-label">Tipo</label>
                    <select id="Tipos" name="Tipos"></select>
                    @*@Html.DropDownList("Tipos")*@
                </div>
            </div>
        </div>

        <div class="col-md-12 fila">

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="COLOR_ID" class="control-label">Color</label>
                    @Html.DropDownList("Colores", null, "TODOS")
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="INCA_LOCALIDADINV" class="control-label">Localizacion Actual</label>
                    @Html.DropDownList("ProvInv", null, "TODOS")
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class=" label-form">
                    <label for="INCA_LOCALIDADINC" class="control-label">Lugar Incautacion</label>
                    @Html.DropDownList("ProvInc", null, "TODOS")
                </div>
            </div>

            <div class="form-group col-md-3">
                <div class="label-form">
                    <label for="CUST_ID" class="control-label">Custodio</label>
                    @Html.DropDownList("Custodios", null, "TODOS")
                </div>
            </div>

        </div>

        <div class="col-md-12 fila">
            <div class="form-group col-md-3 " id="INCA_MODELO_DIV">
                <div class="label-form">
                    <label for="INCA_ESTATUS" class="control-label">Estatus</label>
                    @Html.DropDownList("Estatus", null, "Todos")
                </div>
            </div>

            <div class="form-group col-md-3 " id="INCA_MARCA_DIV">
                <div class="label-form">
                    <label for="INCA_FHTIPO" class="control-label">Fecha</label>
                    <select id="FechaTipo" name="FechaTipo">
                        <option>Seleccione</option>
                        <option value="1">Entrada</option>
                        <option value="2">Digitación</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-3 fechas" id="INCA_FHINICIAL_DIV" hidden>
                <div class="label-form">
                    <label for="INCA_FHINICIAL" class="control-label">Fecha Inicial</label>
                    <input type="text" name="INCA_FHINICIAL" id="INCA_FHINICIAL" class="form-control" autocomplete="off" />
                </div>
            </div>

            <div class="form-group col-md-3 fechas" id="INCA_FHFINAL_DIV" hidden>
                <div class="label-form">
                    <label for="INCA_FHFINAL" class="control-label">Fecha Final</label>
                    <input type="text" name="INCA_FHFINAL" id="INCA_FHFINAL" class="form-control" autocomplete="off" />

                </div>
            </div>
        </div>
    </div>
</form>

@*<script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>
    <script src="~/scripts/jquery.maskedinput.js"></script>
    <script src="~/scripts/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="~/scripts/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="~/scripts/plugins/purify.min.js" type="text/javascript"></script>
    <script src="~/scripts/fa/theme.js"></script>
    <script src="~/scripts/locales/es.js"></script>
    <script src="~/scripts/sweetalert2.js"></script>
*@

<script src="~/scripts/create_incautaciones2.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/JS/datepicker-es.js"></script>
<script>

    switch ("@TempData["Mensaje"]") {

        case "fecha":
            error("La fecha ingresada es inválida.");
            break;
        case "error":
            error("A ocurrido un error.");
            break;
        default:
    }

    //Casos Custodios INCA_FHINICIAL INCA_FHFINAL
    $("#Casos,#Custodios").chosen();
    $("#Clases").chosen({ max_selected_options: 100, placeholder_text_multiple: "TODOS"});
    $("#INCA_FHINICIAL,#INCA_FHFINAL").datepicker().datepicker("setDate", new Date());


    function load_tipos() {
        $("#Tipos").empty();
        if ($("#Clases").val() != "" && $("#Clases").val().length == 1 ) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("dbTipos")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ clase: ' + $("#Clases").val() + ' }',
                success: function (states) {
                    $("#Tipos").append('<option>TODOS</option>');
                    $.each(states, function (i, state) {
                        $("#Tipos").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    });
                    $(".label-clase").show();
                    //$('#Tipos').val("Model.TIPO_ID");
                },
                error: function (ex) {
                    $(".label-clase").hide();
                    swal("","Ha ocurrido un error","error");
                }
            });
        } else {
            $(".label-clase").hide();
        }

    }

    $("#Clases").change(function () {
        //console.log($("#Clases").val());
        //console.log($("#Clases").val().length);
        load_tipos();
    });

    $("#FechaTipo").change(function () {

        if ($("#FechaTipo").val() == "1" || $("#FechaTipo").val() == "2") {
            $(".fechas").show();
        } else {
            $(".fechas").hide();
        }

    });

    $(".descagar-archivo").click(function () {

        if (($("#FechaTipo").val() == "1" || $("#FechaTipo").val() == "2") && ( $("#FechaTipo").val() == "" && $("#FechaTipo").val() == "" )){
            swal('', "Favor de elegir las dos fechas para realizar la consulta.", 'warning');
        }

        if ($("#FechaTipo").val() == "1" || $("#FechaTipo").val() == "2") {
            var INCA_FHINICIAL = new Date($("#INCA_FHINICIAL").val());
            var INCA_FHFINAL = new Date($("#INCA_FHFINAL").val());

            if (INCA_FHINICIAL > INCA_FHFINAL) {
                error("La fecha inicial no debe ser mayor que la final.");
                return;
            }
        }

        console.log($("#INCA_FHFINAL").val());
        console.log($("#INCA_FHINICIAL").val());

        $.ajax({
            method: 'POST',
            url: '@Url.Action("ValidarConsultaExcel")',
            dataType: 'json',
            data: $("#reportexcel").serialize(),
            success: function (data) {

                if (data == "fechaError") {
                    error("La fecha ingresada es inválida.");
                    return;
                }

                if (data.cantidad > 0) {

                    window.location = "@HttpRuntime.AppDomainAppVirtualPath/Incautaciones/GenerarExcel/?" + $("#reportexcel").serialize();

                }
                else {
                    swal('', "No hubo resultado para esta búsqueda.", 'warning');
                }

            },
            error: function (ex) {
                swal("","Ha ocurrido un error","error");
            }
        });


    });

    function error(mensaje) {
        swal('Error', mensaje, 'error');
    }

</script>