﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reporte Bienes Incautados</title>

    <style>

        * {
            font-family: 'Roboto', sans-serif;
        }

        .breakhere {
            page-break-after: always;
        }

        .fondo {
            background: url(../Content/images/Infracciones.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .tabla1, .tabla2 {
            border: 1px solid#ddd;
            font-size: 13pt;
        }

            .tabla1 td, .tabla2 td, .tabla2 th {
                border-right: 1px solid#ddd;
                border-bottom: 1px solid#ddd;
                padding: 15px 10px;
            }

        .columna-derecha {
            border: none;
            padding-left: 10px;
        }

        .colunma-izquierda {
            font-weight: bold;
            font-size: 13pt;
        }

        h2 {
            text-align: center;
            color: #0c4ba4;
            line-height: 1.8em;
        }

        .tabla2 td {
            padding: 15px 10px;
        }

        .espaciado {
            padding: 8% 23% 12% 5.5%;
            overflow: auto;
            width: 89%;
            border: transparent;
            /* margin-left: -5%; */
            /* padding-top: 12%; */
            /* padding-bottom: 20%; */
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* text-overflow: ellipsis; */
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 18px !important;
            z-index: -10000;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 20%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }

        /*FOOTER*/
        .caja-bolita {
            text-align: center;
            width: 87.2%;
            height: 25px; 
            position: absolute;
            padding-top: 14%;
        }
        .bolita {
            color: #fff;
            font-weigth: bold;
            font-size: 15pt;
            bottom: 0;
            background: #0c4ba4;
            border-radius: 50%;
            padding: 1% 1.8%;
            z-index: 10000;
        }
    </style>
</head>

<body>

    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />
        <div class="espaciado">
            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="margin-bottom: 10%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tabla1" style="margin-top: 5%;">
                            <tr>
                                <td style="padding:0;"><h2 style="text-transform: uppercase; padding:0;">Ficha de Incautación</h2></td>
                                <td colspan="2" style="padding:0;">

                                    <table style="border: none !important;" width="100%">
                                        <tr>
                                            @if (ViewBag.Clase == "Inmuebles")
                                            {
                                            <td style="border: none; padding:0;"><h2 style="text-align: center; padding:0; margin-left: 38px;">INMUEBLE</h2> </td>
                                            <td width="22%" style="border: none; padding:0;"><img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/inmueble.png" id="imagen" width="50" style="text-align: right;margin-left: -10px;"/></td>
                                            }
                                            else if (ViewBag.Clase == "Objetos")
                                            {
                                            <td style="border: none; padding:0;"><h2 style="text-align: center; padding:0;  margin-left: 38px;">OBJETOS</h2></td>
                                            <td width="22%" style="border: none;padding:0;"><img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/objeto.png" id="imagen" width="50" style="text-align: right;margin-left: -10px;"/></td>
                                            }
                                            else if (ViewBag.Clase == "Vehiculos de Motor")
                                            {
                                            <td style="border: none; padding:0;"><h2 style="text-align:center; padding:0;  margin-left: 38px;">VEHICULOS DE MOTOR</h2></td>
                                            <td width="22%" style="border: none;padding:0;"><img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/vehiculo.png" id="imagen" width="50" align="middle" style="text-align: right;margin-left: -10px;"/></td>
                                            }
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="colunma-izquierda">Caso</td>
                                <td class="columna-derecha">@ViewBag.Caso</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Código del bien</td>
                                <td class="columna-derecha">@ViewBag.ModeloFinal.INCA_NO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Fecha Entrada</td>
                                <td class="columna-derecha">@ViewBag.ModeloFinal.INCA_FHENTRADA</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Clase</td>
                                <td class="columna-derecha">@ViewBag.Clase</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Tipo</td>
                                <td class="columna-derecha">@ViewBag.Tipo</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Lugar de incautación</td>
                                <td class="columna-derecha">@ViewBag.ProvInc</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Localización actual</td>
                                <td class="columna-derecha">@ViewBag.ProvInv</td>
                            </tr>

                            @if (ViewBag.Clase == "Vehiculos de Motor")
                            {
                                <tr>
                                    <td class="colunma-izquierda">Matrícula</td>
                                    <td class="columna-derecha">@ViewBag.matricula</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="colunma-izquierda">Dirección</td>
                                    <td class="columna-derecha">@ViewBag.direccion</td>
                                </tr>
                            }

                            <tr>
                                <td class="colunma-izquierda">Estatus </td>
                                <td class="columna-derecha">@ViewBag.Estatus</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Custodio</td>
                                <td class="columna-derecha">
                                    @if (ViewBag.ModeloFinal.INV_CUSTODIO.CUST_NOMBRE.Equals("Ninguno"))
                                    {
                                        @ViewBag.ModeloFinal.INV_CUSTODIO.CUST_DEPARTAMENTO
                                    }
                                    else
                                    {
                                        @ViewBag.ModeloFinal.INV_CUSTODIO.CUST_NOMBRE
                                    }
                                </td>
                            </tr>
                            @if (!ViewBag.ModeloFinal.INV_CUSTODIO.CUST_NOMBRE.Equals("Ninguno"))
                            {
                                <tr>
                                    <td class="colunma-izquierda">Identificación de custodio</td>
                                    <td class="columna-derecha">@ViewBag.ModeloFinal.INV_CUSTODIO.CUST_CEDULA</td>
                                </tr>
                            }

                            <tr>
                                <td class="colunma-izquierda">Valor / Tasación</td>
                                <td class="columna-derecha">@ViewBag.ModeloFinal.INCA_VALOR</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Valor Acuerdo</td>
                                <td class="columna-derecha">@ViewBag.ModeloFinal.INCA_ACUERDO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Creador por</td>
                                <td class="columna-derecha">@ViewBag.ModeloFinal.USUA_ID</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Creacion Reg.</td>
                                <td class="columna-derecha">@ViewBag.ModeloFinal.INCA_FHCREACION</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Archivos anexados</td>
                                <td class="columna-derecha">@ViewBag.Anexos</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Impreso por</td>
                                <td class="columna-derecha">@ViewBag.UsuarioImpresor</td>
                            </tr>

                            <tr>
                                <td class="colunma-izquierda">Descripción</td>
                                <td class="columna-derecha">@ViewBag.descripcion</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @*<tr>
                          <td class="caja-bolita"><span class="bolita">@pie_pagina</span></td>
                    </tr>*@
            </table>
        </div>
    </div>

    <p class="breakhere"></p>
    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />
        <div class="espaciado">
            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <table class="bienes-incautados" width="100%" style="text-align: center;">
                            <tbody>
                                <tr>
                                    <td><h2 style="margin-top:5%;margin-bottom:8px; text-align:center; line-height:0.2em;"><strong style="border-bottom: 1px solid#0c4ba4; padding-bottom: 7px;">Nota</strong></h2></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 style="color: black;"><strong style="border-bottom: 1px solid;">@ViewBag.ModeloFinal.INCA_NOTA</strong></h2>
                                    </td>
                                </tr>

                                @if (ViewBag.FotosActicvas != null) {

                                    var lista = ViewBag.FotosActicvas;

                                    for (int ix = 0; ix < 2; ix++)
                                    {
                                        <tr>
                                            <td style="text-align: center;">
                                                <img src="@lista[ix].IMAGE_IMAGE" id="@lista[ix].FOTO_ID" width="auto" height="350" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                @*<tr>
                    <td class="caja-bolita"><span class="bolita">2</span></td>
                </tr>*@
            </table>
        </div>
    </div>



    @*@if (ViewBag.FotosActicvas != null && ViewBag.FotosActicvas.Count < 3)
    {
        int inca = 0;
        int pie_pagina = 2;
        foreach (var item in Model.CASO_INCAUTACIONES)
        {

            <p class="breakhere"></p>



            if (item.INV_FOTOS.Count > 0)
            {
                bool terminar_paginacion = false;
                int fotos_contador = 0;
                int fotos_restantes = 0;

                if (item.INV_FOTOS.Count > 3)
                {
                    fotos_restantes = fotos_contador + 3;
                }
                else
                {
                    fotos_restantes = item.INV_FOTOS.Count;
                }

                do
                {
                    var lista = item.INV_FOTOS;
                    <p class="breakhere"></p>
                    <div class="container">
                        <img class="logoooo" src="~/Content/images/Infracciones.png" />
                        <div class="espaciado">
                            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <table class="bienes-incautados" width="100%" style="text-align: center;">
                                            <tbody>
                                                <tr>
                                                    <td><h2 style="margin-bottom:8px; text-align:center"><strong>Imágenes Asosiadas a la Incautación #@inca</strong></h2></td>
                                                </tr>

                                                @for (int ix = fotos_contador; ix < fotos_restantes; ix++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center;">
                                                            <img src="@lista[ix].IMAGE_IMAGE" id="@lista[ix].FOTO_ID" width="auto" height="350" />
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caja-bolita"><span class="bolita">@pie_pagina</span></td>
                                </tr>
                            </table>
                        </div>

                        @if (fotos_restantes == lista.Count)
                        {
                            terminar_paginacion = true;
                        }

                        @if (fotos_restantes < lista.Count)
                        {
                            if (lista.Count - (fotos_restantes) >= 3)
                            {
                                fotos_contador = fotos_restantes;
                                fotos_restantes = fotos_contador + 3;
                            }
                            else if (lista.Count - (fotos_restantes) < 3)
                            {
                                fotos_contador = fotos_restantes;
                                fotos_restantes = lista.Count;
                            }
                        }

                    </div>
                    pie_pagina++;
                } while (!terminar_paginacion);
            }
        }
    }*@

</body>
</html>