﻿@{ 
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        body{
            padding:0px !important;
            margin:0px !important;
        }
        *{
            padding:0px;
            margin:0px;
        }
        #tabla {
            border-collapse: collapse;
            border:1px solid #333333;
            width: 100%;
        }
        th {
            font-size: 17px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            color: #000;  
            background-color:#eaeaea; 
            border-right:1px solid #333333;
        }
        td {
            font-size: 15px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 10px;            
            margin-left:5px;
            height:35px;
        }
        h1, h2, h3 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .div_izquierdo{
            height:1390px;
            width:20%;
            background-color:#064b8e;            
            display:inline;
            margin:0px !important;
            padding:0px !important;
            float:left !important;
            clear:both;
        }
        .div_derecho{
            width:70%;
            float:right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px; 
        }

        .div_derecho2{
            width:76%;
            float:right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size:17px; 
            padding:20px;
            margin-top:15px !important;
        }
        .breakhere{
            page-break-after: always;
        }
 
        .images{
            text-align:center;
            margin-bottom:10px;
            width:100%;
        }

        .images img{
            border:1px solid #f1f1f1;
        }

        .footerpage{
            text-align:center; margin-top:1180px !important; color:#064b8e; font-family:Arial, Helvetica, sans-serif;
            border-radius:30px;
            background-color:#fff;
            width:20px;
            margin:auto;  
            font-weight:600;          
        }

        .footerpage p{
            font-size:17px !important;
        }
    </style>

    <title>Reporte Bienes Incautados</title>
</head>
<body>
    <div class="div_izquierdo">
        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/logo_MP_unidad_bienes_incautados.jpg" id="imagen" width="150" style="margin-top:20px; margin-left:22px;" />
        <footer class="footerpage"><p>1</p></footer>
    </div>
    <div style="width:30%; height:30px; float:right; clear:right !important; margin-top:20px; margin-right:20px !important;">
        @if (ViewBag.Clase == "Inmuebles")
        {
            <div style="width:70%; height:60px; margin:0px; float:right;"><h2>INMUEBLE</h2> <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/inmueble.png" id="imagen" width="50" style="float:right; margin-top:-40px !important;" /></div>
        }
        else if (ViewBag.Clase == "Objetos")
        {
            <div style="width:70%; height:60px; margin:0px; float:right;"><h2>OBJETOS</h2> <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/objeto.png" id="imagen" width="50" style="float:right; margin-top:-40px !important;" /></div>
        }
        else if (ViewBag.Clase == "Vehiculos de Motor")
        {
            <div style="width:370px; height:60px; margin:0px; float:right;"><h2>VEHICULOS DE MOTOR</h2> <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/vehiculo.png" id="imagen" width="50" style="float:right; margin-top:-40px !important;" /></div>
        }
    </div>
    <div class="div_derecho" style="margin-top:80px; margin-right:50px;">
        <center><h1>Ficha de incautación</h1></center>
        <br/>
        <table id="tabla">
            <tr class="f1">
                <th style="width:30%">Caso</th>
                <td>@ViewBag.Caso</td>
            </tr>

            <tr>
                <th>Código del bien</th>
                <td>@ViewBag.ModeloFinal.INCA_NO</td>
            </tr>

            <tr class="f1">
                <th>Fecha Entrada</th>
                <td>@ViewBag.ModeloFinal.INCA_FHENTRADA</td>
            </tr>

            <tr class="f1">
                <th>Clase</th>
                <td>@ViewBag.Clase</td>
            </tr>

            <tr>
                <th>Tipo</th>
                <td>@ViewBag.Tipo</td>
            </tr>

            <tr class="f1">
                <th>Lugar de incautación</th>
                <td>@ViewBag.ProvInc</td>
            </tr>

            <tr>
                <th>Localización actual</th>
                <td>@ViewBag.ProvInv</td>
            </tr>

            @if (ViewBag.Clase == "Vehiculos de Motor")
            {
            <tr>
                <th>Matrícula</th>
                <td>@ViewBag.matricula</td>
            </tr>
            }
            else {
            <tr>
                <th>Dirección</th>
                <td>@ViewBag.direccion</td>
            </tr>
            }

            <tr class="f1">
                <th>Estatus</th>
                <td>@ViewBag.Estatus</td>
            </tr>

            <tr>
                <th>Custodio</th>
                @if (ViewBag.ModeloFinal.INV_CUSTODIO.CUST_NOMBRE.Equals("Ninguno"))
                {
                    <td>@ViewBag.ModeloFinal.INV_CUSTODIO.CUST_DEPARTAMENTO</td>
                }
                else
                {
                    <td>@ViewBag.ModeloFinal.INV_CUSTODIO.CUST_NOMBRE</td>
                }
            </tr>

            <tr class="f1">
                <th>Identificación de custodio</th>
                <td>@ViewBag.ModeloFinal.INV_CUSTODIO.CUST_CEDULA</td>
            </tr>

            <tr>
                <th>Valor / Tasación</th>
                <td>@ViewBag.ModeloFinal.INCA_VALOR</td>
            </tr>

            <tr class="f1">
                <th>Valor Acuerdo</th>
                <td>@ViewBag.ModeloFinal.INCA_ACUERDO</td>
            </tr>

            <tr class="f1">
                <th>Creador por</th>
                <td>@ViewBag.ModeloFinal.USUA_ID</td>
            </tr>

            <tr>
                <th>Creacion Reg.</th>
                <td>@ViewBag.ModeloFinal.INCA_FHCREACION</td>
            </tr>

            <tr>
                <th>Archivos anexados</th>
                <td>@ViewBag.Anexos</td>
            </tr>

            <tr>
                <th>Impreso por</th>
                <td>@ViewBag.UsuarioImpresor</td>
            </tr>

            <tr>
                <th>Descripción</th>
                <td>@ViewBag.descripcion</td>
            </tr>

        </table>
    </div>
    <p class="breakhere"></p>
    <!--2nd page -->
    <div class="div_izquierdo">
        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/logo_MP_unidad_bienes_incautados.jpg" id="imagen" width="150" style="margin-top:20px !important; margin-left:25px;" />
        <footer class="footerpage">2</footer>
    </div>
    <div class="div_derecho2">
        <h3 style="margin-bottom:8px; text-align:center !important"><strong>Nota</strong></h3>
        @ViewBag.ModeloFinal.INCA_NOTA

        <br />
        <br />

        @if (ViewBag.FotosActivas != null && ViewBag.FotosActivas.Count > 0)
        {
            <h3 style="margin-bottom:8px; text-align:center"><strong>Imágenes</strong></h3>

            var lista = ViewBag.FotosActivas;
            
            if (lista.Count == 1)
            {
                for (int ix = 0; ix < 1; ix++)
                {
                    <div id="myDiv@(lista[ix].FOTO_ID)" class="images">
                        <img src="@lista[ix].IMAGE_IMAGE" id="@lista[ix].FOTO_ID" width="650" height="auto" />
                    </div>
                }
            }
            else
            {
                for (int ix = 0; ix < 2; ix++)
                {
                    <div id="myDiv@(lista[ix].FOTO_ID)" class="images">
                        <img src="@lista[ix].IMAGE_IMAGE" id="@lista[ix].FOTO_ID" width="650" height="auto" />
                    </div>
                }
            }
        }
    </div>
    <p class="breakhere"></p>
    <!--Following pages-->
    @if (ViewBag.FotosActivas.Count > 2 && ViewBag.FotosActivas.Count != null)
    {
        bool terminar_paginacion = false;
        int fotos_contador = 2;
        int fotos_restantes = 0;

        if (ViewBag.FotosActivas.Count > 5)
        {
            fotos_restantes = fotos_contador + 3;
        }else
        {
            fotos_restantes = ViewBag.FotosActivas.Count;
        }

        int pie_pagina = 3;

        do
        {
            var lista = ViewBag.FotosActivas;

            <div class="div_izquierdo">
                <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/logo_MP_unidad_bienes_incautados.jpg" id="imagen" width="150" style="margin-top:20px; margin-left:25px;" />
                <footer class="footerpage">@pie_pagina</footer>
            </div>

            <div class="div_derecho2">

                <h3 style="margin-bottom:8px; text-align:center"><strong>Imágenes</strong></h3>

                @for (int ix = fotos_contador; ix < fotos_restantes; ix++)
                {
                    <div id="myDiv@(lista[ix].FOTO_ID)" class="images">
                        <img src="@lista[ix].IMAGE_IMAGE" id="@lista[ix].FOTO_ID" width="650" height="auto" />
                    </div> 
                }
                
                @if (fotos_restantes == lista.Count)
                {
                    terminar_paginacion = true;
                }

                @if (fotos_restantes < lista.Count)
                {
                    if(lista.Count - (fotos_restantes) >= 3)
                    {
                        fotos_contador = fotos_restantes;
                        fotos_restantes = fotos_contador + 3;
                    }
                    else if(lista.Count - (fotos_restantes) < 3)
                    {
                        fotos_contador = fotos_restantes;
                        fotos_restantes = lista.Count;
                    }
                }   
            </div>              
            pie_pagina++;
            <p class="breakhere"></p>
        } while (!terminar_paginacion);
    }
</body>
</html>