﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reporte Bienes Incautados</title>

    <style>

        * {
            font-family: 'Roboto', sans-serif;
        }

        .breakhere {
            page-break-after: always;
        }

        .fondo {
            background: url(../Content/images/Infracciones.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .tabla1, .tabla2 {
            border: 2px solid#999;
            font-size: 13pt;
        }

            .tabla1 td, .tabla2 td, .tabla2 th {
                border-right: 2px solid#999;
                border-bottom: 2px solid#999;
                padding: 15px 10px;
            }

            .tabla1 td:nth-last-child(2) {
                border-right: 2px solid#999;
            }

            .tabla2 td:nth-last-child(2) {
                border-right: 2px solid#999;
             }

            .tabla3 td:nth-last-child(2) {
                border-right: 2px solid#999;
            }

        .columna-derecha {
            border: none;
            padding-left: 10px;
        }

        .colunma-izquierda {
            font-weight: bold;
            font-size: 13pt;
        }

        h2 {
            text-align: center;
            color: #0c4ba4;
            line-height: 1.8em;
        }

        .tabla2 td {
            padding: 15px 10px;
        }

        .espaciado {
            padding: 8% 112% 12% 5.5%;
            /*overflow: auto;*/
            width: 89%;
            border: transparent;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            /*overflow: hidden;*/
            height: 1513px !important;
            /*border: 1px solid red;*/
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 18px !important;
            z-index: -10000;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 20%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }

        /*FOOTER*/

        .bolita {
            color: #fff !important;
            font-weigth: bold;
            font-size: 15pt;
            bottom: 0;
            background: #0c4ba4;
            border-radius: 50%;
            z-index: 10000;
        }

        .footerpage {
            text-align: center;
            /*margin-top: 600px !important;*/
            color: #064b8e;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 30px;
            background-color: #fff;
            width: 45px;
            height: 44px;
            margin: auto;
            font-weight: 600;
            background: #0c4ba4;
            border-radius: 50%;
            /*padding: 0.1% 2%;*/
        }

            .footerpage p {
                color: #fff;
                font-weigth: bold;
                font-size: 14pt;
                line-height: 2.3;
            }

            .colunma-izquierda, .columna-derecha {
                font-size: 17pt;
             }

        #imagen {
            border: 1px solid;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <div class="container">
        <img class="logoooo" src="~/Content/images/bienes-incautados.png" />
        <div class="espaciado">
            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="margin-bottom: 10%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tabla1" style="margin-top: 5%;">
                            <tr>
                                <td style="padding:0;"><h2 style="text-transform: uppercase; padding:0;">Ficha de Incautación</h2></td>
                                <td colspan="2" style="padding:0;">

                                    <table style="border: none !important;" width="100%">
                                        <tr>
                                            @if (ViewBag.a_reporte.CLAS_ID == 1)
                                            {
                                                <td style="border: none; padding:0;"><h2 style="text-align: center; padding:0; margin-left: 38px;">INMUEBLE</h2> </td>
                                                <td width="22%" style="border: none; padding:0;"><img src="~/Content/images/BI_Images/iconos/inmueble.png" id="imagen" width="50" style="text-align: right;margin-left: -10px;" /></td>
                                            }
                                            else if (ViewBag.a_reporte.CLAS_ID == 3)
                                            {
                                                <td style="border: none; padding:0;"><h2 style="text-align: center; padding:0;  margin-left: 38px;">OBJETOS</h2></td>
                                                <td width="22%" style="border: none;padding:0;"><img src="~/Content/images/BI_Images/iconos/objeto.png" id="imagen" width="50" style="text-align: right;margin-left: -10px;" /></td>
                                            }
                                            else if (ViewBag.a_reporte.CLAS_ID == 2)
                                            {
                                                <td style="border: none; padding:0;"><h2 style="text-align:center; padding:0;  margin-left: 38px;">VEHÍCULOS DE MOTOR</h2></td>
                                                <td width="22%" style="border: none;padding:0;"><div><img src="~/Content/images/BI_Images/iconos/car.svg" id="imagen" width="50" align="middle" style="text-align: right;margin-left: -10px;" /></div></td>
                                            }
                                            else if (ViewBag.a_reporte.CLAS_ID == 4)
                                            {
                                                <td style="border: none; padding:0;"><h2 style="text-align:center; padding:0;  margin-left: 38px;">VEHÍCULO AÉREO</h2></td>
                                                <td width="22%" style="border: none;padding:0;"><img src="~/Content/images/BI_Images/iconos/plane.svg" id="imagen" width="50" align="middle" style="text-align: right;margin-left: -10px;" /></td>
                                            }
                                            else if (ViewBag.a_reporte.CLAS_ID == 5)
                                            {
                                                <td style="border: none; padding:0;"><h2 style="text-align:center; padding:0;  margin-left: 38px;">VEHÍCULO MARITIMO</h2></td>
                                                <td width="22%" style="border: none;padding:0;"><img src="~/Content/images/BI_Images/iconos/boat-from-front-view.svg" id="imagen" width="50" align="middle" style="text-align: right;margin-left: -10px;" /></td>
                                            }
                                            else if (ViewBag.a_reporte.CLAS_ID == 6)
                                            {
                                                <td style="border: none; padding:0;"><h2 style="text-align:center; padding:0;  margin-left: 38px;">MOTOCICLETA</h2></td>
                                                <td width="22%" style="border: none;padding:0;"><img src="~/Content/images/BI_Images/iconos/motorcycle.svg" id="imagen" width="50" align="middle" style="text-align: right;margin-left: -10px;" /></td>
                                            }
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="colunma-izquierda">Caso</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.CASO_NOMBRE</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Código del bien</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_NO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Fecha Entrada</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_FHENTRADA.ToString("M/d/yyyy hh:mm:ss tt")</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Clase</td>
                                <td class="columna-derecha">@ViewBag.Clase</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Lugar de incautación</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.ProvinciaOrigen</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Localización actual</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.ProvinciaDestino</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Tipo</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.TIPO_NOMBRE</td>
                            </tr>
                            @if (ViewBag.Clase == "Vehículos de Motor" || ViewBag.Clase == "Vehículos de Aéreo" || ViewBag.Clase == "Vehículos de Maritimo" || ViewBag.Clase == "Motocicletas" )
                            {
                                if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_MODELO))
                                {
                                <tr>
                                    <td class="colunma-izquierda">Modelo</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_MODELO</td>
                                </tr>
                                }
                                if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_MARCA))
                                {
                                <tr>
                                    <td class="colunma-izquierda">Marca</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_MARCA</td>
                                </tr>
                                }
                                if (ViewBag.a_reporte.INCA_ANO != null)
                                {
                                <tr>
                                    <td class="colunma-izquierda">Año</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_ANO</td>
                                </tr>
                                }
                                if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_CHASIS))
                                {
                                <tr>
                                    <td class="colunma-izquierda">Chasis</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_CHASIS</td>
                                </tr>
                                }
                                if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_MATRICULA))
                                {
                                <tr>
                                    <td class="colunma-izquierda">Matrícula</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_MATRICULA</td>
                                </tr>
                                }
                                if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_PLACA))
                                {
                                <tr>
                                    <td class="colunma-izquierda">Placa</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_PLACA</td>
                                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="colunma-izquierda">Dirección</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.INCA_DIRECCION</td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_REMITIDO)) {
                            <tr>
                                <td class="colunma-izquierda">Remitido por</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_REMITIDO</td>
                            </tr>
                            }

                            @if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_DEVOLUCION))
                            {
                            <tr>
                                <td class="colunma-izquierda">Devuelto a</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_DEVOLUCION</td>
                            </tr>
                            }
                            @if (!string.IsNullOrEmpty(ViewBag.a_reporte.INCA_TELEDEVCONTACTO))
                            {
                            <tr>
                                <td class="colunma-izquierda">Teléfono de contacto</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_TELEDEVCONTACTO</td>
                            </tr>
                            }
                            <tr>
                                <td class="colunma-izquierda">Estatus </td>
                                <td class="columna-derecha">@ViewBag.a_reporte.ESTA_NOMBRE</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Custodio</td>
                                <td class="columna-derecha">
                                    @if (ViewBag.a_reporte.CUST_NOMBRE.Equals("Ninguno"))
                                    {
                                        @ViewBag.a_reporte.CUST_DEPARTAMENTO
                                    }
                                    else
                                    {
                                        @ViewBag.a_reporte.CUST_NOMBRE
                                    }
                                </td>
                            </tr>
                            @if (!ViewBag.a_reporte.CUST_NOMBRE.Equals("Ninguno"))
                            {
                                <tr>
                                    <td class="colunma-izquierda">Identificación de custodio</td>
                                    <td class="columna-derecha">@ViewBag.a_reporte.CUST_CEDULA</td>
                                </tr>
                            }

                            @if (ViewBag.Clase == "Inmuebles") {
                            <tr>
                                <td class="colunma-izquierda">Valor / Tasación</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_VALOR</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Valor Acuerdo</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_ACUERDO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Relacionado al Custodio</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.CUST_RELACIONADO</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Contacto del Relacionado</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.CUST_RELACIONADO_CONTACTO</td>
                            </tr>
                            }

                            <tr>
                                <td class="colunma-izquierda">Creador por</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.USUA_ID</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Creacion Reg.</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_FHCREACION.ToString("M/d/yyyy hh:mm:ss tt")</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Archivos anexados</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INV_FOTOS.Count</td>
                            </tr>
                            <tr>
                                <td class="colunma-izquierda">Impreso por</td>
                                <td class="columna-derecha">@ViewBag.UsuarioImpresor</td>
                            </tr>

                            <tr>
                                <td class="colunma-izquierda">Descripción</td>
                                <td class="columna-derecha">@ViewBag.a_reporte.INCA_DESCRIPCION</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <footer class="footerpage">
            <p class="bolita">1</p>
        </footer>
    </div>

    <p class="breakhere"></p>
    <div class="container">
        <img class="logoooo" src="~/Content/images/bienes-incautados.png" />
        <div class="espaciado">
            <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-bottom:8px;">
                <tr>
                    <td>
                        <table class="bienes-incautados" width="100%" style="text-align: center;">
                            <tbody>
                                <tr>
                                    <td><h2 style="margin-top:5%;margin-bottom:8px; text-align:center; line-height:0.2em;  font-size: 25pt; margin-bottom: 21px;"><strong style="border-bottom: 1px solid#0c4ba4; padding-bottom: 7px;">Nota</h2></td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px dashed#0c4ba4; padding-bottom: 7px;">
                                        <h2 style="color: black; line-height: 1.3em; font-size: 17pt;">@ViewBag.a_reporte.INCA_NOTA</h2>
                                    </td>
                                </tr>

                                @if (ViewBag.a_reporte.INV_FOTOS.Count > 0)
                                {
                                    <tr style="margin-bottom: 5%;">
                                        <td style="text-align: center; padding-top: 37px;">
                                            <img src="@ViewBag.a_reporte.INV_FOTOS[0].IMAGE_IMAGE" id="@ViewBag.a_reporte.INV_FOTOS[0].FOTO_ID" height="1200" style="width: 100%; max-width:1300px;"/>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <footer class="footerpage">
            <p class="bolita">2</p>
        </footer>
    </div>

    @if (ViewBag.a_reporte.INV_FOTOS.Count > 1)
    {
        int pie_pagina = 3;

        bool terminar_paginacion = false;
        int fotos_contador = 1;
        int fotos_restantes = 0;

        if (ViewBag.a_reporte.INV_FOTOS.Count > 3)
        {
            fotos_restantes = fotos_contador + 1;
        }
        else
        {
            fotos_restantes = ViewBag.a_reporte.INV_FOTOS.Count;
        }

        do
        {
            var lista2 = ViewBag.a_reporte.INV_FOTOS.Count;
            <p class="breakhere"></p>
            <div class="container">
                <img class="logoooo" src="~/Content/images/bienes-incautados.png" />
                <div class="espaciado">
                    <table id="reporte" width="100%" cellpadding="0" cellspacing="0" border="0" class="reporte_2">
                        <tr>
                            <td>
                                <table class="bienes-incautados" width="100%" style="text-align: center;">
                                    <tbody>

                                        @for (int ix = fotos_contador; ix < fotos_restantes; ix++)
                                        {
                                            <tr>
                                                <td style="text-align: center;">
                                                    <img src="@ViewBag.a_reporte.INV_FOTOS[ix].IMAGE_IMAGE" id="@ViewBag.a_reporte.INV_FOTOS[ix].FOTO_ID"  height="1650" style="margin-bottom: 2%; width: 100%; max-width:1300px; "/>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

                @if (fotos_restantes == lista2)
                {
                    terminar_paginacion = true;
                }

                @if (fotos_restantes < lista2)
                {
                    if (lista2 - (fotos_restantes) >= 1)
                    {
                        fotos_contador = fotos_restantes;
                        fotos_restantes = fotos_contador + 1;
                    }
                    else if (lista2 - (fotos_restantes) < 1)
                    {
                        fotos_contador = fotos_restantes;
                        fotos_restantes = lista2;
                    }
                }

            </div>
            <footer class="footerpage">
                <p class="bolita">@pie_pagina</p>
            </footer>
        pie_pagina++;
        } while (!terminar_paginacion);
    }

</body>
</html>