﻿@model IEnumerable<intra.Models.AvisosActividades.Avisos>
@using System.Globalization;


<div class="col-lg-4 leftHomeContent">
    <div class="inicioNovedades">
        <div class="arrow-rightWhite"></div>
        <h3>Novedades</h3>
        <ul>
            @foreach (var item in Model.OrderByDescending(c => c.AvisosId).Take(4))
            {
                <li><a href="~/Avisos/Details?id=@item.AvisosId">@item.AvisosTitulo</a></li>
            }
        </ul>
        @Html.ActionLink("+ Más", "Index", "Avisos", null, new { @class = "botonFlotante" })
    </div>
</div>






