﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing cropping and uploading</title>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>

    <link href="~/JsLibraries/Jcrop-v0.9.12/css/jquery.Jcrop.min.css" rel="stylesheet" />
    <script src="~/JsLibraries/Jcrop-v0.9.12/js/jquery.Jcrop.min.js"></script>

    <script src="~/JsLibraries/file-upload/jquery.fileupload.js"></script>
    <script src="~/JsLibraries/file-upload/jquery.fileupload-ui.js"></script>
    <script src="~/JsLibraries/file-upload/jquery.iframe-transport.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>