﻿<div class="col-lg-4 noticiasContenidoSecundario">
    <div>
        <img src="~/Content/images/campania.jpg" />
    </div>
    @*<div class="inicioTutoriales">
            <h3>Tutoriales</h3>
            <ul>
                <li>Crear y formatear tablas en excel</li>
                <li>Configurar paginas para impresion</li>
                <li>Solicitar servicios por la intranet</li>
                <li>Consifurar Outlook en el celular</li>
            </ul>
            @Html.ActionLink("+ Más", "Create", null, new { @class = "botonFlotante" })
        </div>*@
    </div>
