﻿@model intra.Models.ModuloVisitas.Visitas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .borde-foto {
        border: 15px solid;
        border-radius: 15px;
    }
</style>
<script src="~/scripts/maskjs.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

    <form id="FormularioVisitas">

        <h4>Visitas</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <section class="row">
            <div class="col-md-6">
                <h2 class="h2_title_page">Registro de Visitantes</h2>
                <hr class="hr2" />
            </div>
            <div class="col-md-6">
                <div class="pull-right alejar_top btn-group botones">
                    <button type="button" id="cerrar" name="cerrar" class="btn button_white"><i class="fa fa-close alejar_icono" aria-hidden="true"></i>Cerrar</button>
        
                    <button type="button" id="Guardar" onclick="CrearVisitante()" name="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                </div>

            </div>
        </section>

        <div class="row">
            <div id="promoNode"></div>


            <div class="camara-web">
                <video id="video" autoplay width="320" class="borde-foto"></video>
                <button id="snap" type="button" class="btn button_white sexyButton">TOMAR FOTO</button>
                <input type="hidden" id="ImagenVisita" name="ImagenVisita" />
            </div>

            <div id="foto-almacenada">
                <canvas id="canvas" width="320" height="240" class="borde-foto"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Cédula</label>
                <input type="text" id="NumeroIdentificacion" name="NumeroIdentificacion" placeholder="000-0000000-0" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Nombres</label>
                <input id="Nombres" name="Nombres" class="form-control" />
                <input type="hidden" id="NombreCompleto" name="NombreCompleto" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Primer Apellido</label>
                <input id="PrimerApellido" name="PrimerApellido" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Segundo Apellido</label>
                <input id="SegundoApellido" name="SegundoApellido" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Departamento</label>
                @Html.DropDownList("DepartamentoId", null, "Seleccione", new { @class = "form-control chosen-select actualizar" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.VisitaImagen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VisitaImagen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VisitaImagen, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



    </form>


<script>
    $(document).ready(function () {
        $("#NumeroIdentificacion").mask('000-0000000-0');
    });
</script>

<script>
      $("#NumeroIdentificacion").on("keydown", function (e) {
          if (e.keyCode === 13) {
              $("#NumeroIdentificacion").mask('000-0000000-0');

              $("#NumeroIdentificacion").change(function () {
                  var cedula = $("#NumeroIdentificacion").val();
           
                  $.ajax({
                      type: 'Post',
                      url: '@Url.Action("GetPersona")',
                      dataType: 'json',
                      data: { tipoIdentificacion: 1, cedula: cedula },
                      success: function (data) {
                          var obj = JSON.parse(data)
                          $("#NumeroIdentificacion").val(obj.Numero);
                          $("#Nombres").val(obj.Nombres);
                          $("#PrimerApellido").val(obj.Apellido1);
                          $("#SegundoApellido").val(obj.Apellido2);

                      }


                  });
                  $("#Nombres").focus();
              })
          }
        });
</script>



<script>
    function CrearVisitante() {
        var image = document.getElementById("canvas").toDataURL("image/png");
        image = image.replace('data:image/png;base64,', '');
        document.getElementById("ImagenVisita").value = image;
        $("#loading-animation-container").show();
        

        var request = $.ajax({
            url: '@Url.Action("CrearVisitantes")',
            method: 'Post',
            data: $("#FormularioVisitas").serialize(),
        });
        request.done(function (data) {
         if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    $("#FormularioVisitas")[0].reset();
                    $(".actualizar").val("");
                    $(".actualizar").trigger("chosen:updated");

                });
                $("#loading-animation-container").hide();
            }
            else {

             swal({
                 title: 'Error',
                 text: data.Mensaje,
                 type: 'error',
                 confirmButtonColor: '#18212f',
                 confirmButtonText: 'Aceptar'
             });

                $("#loading-animation-container").hide();
            }
        })
    }
</script>

@*script para imagenes*@
@*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
@*<script src="~/scripts/say-cheese.js"></script>
<script src="~/scripts/script.js"></script*@>



@*Tomar foto al visitante*@

<script>


		// Put event listeners into place
		window.addEventListener("DOMContentLoaded", function () {
			// Grab elements, create settings, etc.
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');
			var video = document.getElementById('video');
			var img = null;
			var mediaConfig = { video: true };
			var errBack = function (e) {
				console.log('An error has occurred!', e)
			};



			// Put video listeners into place
			if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
				navigator.mediaDevices.getUserMedia(mediaConfig).then(function (stream) {
					//video.src = window.URL.createObjectURL(stream);
					video.srcObject = stream;
					video.play();
				});
			}

			/* Legacy code below! */
			else if (navigator.getUserMedia) { // Standard
				navigator.getUserMedia(mediaConfig, function (stream) {
					video.src = stream;
					video.play();
				}, errBack);
			} else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
				navigator.webkitGetUserMedia(mediaConfig, function (stream) {
					video.src = window.webkitURL.createObjectURL(stream);
					video.play();
				}, errBack);
			} else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
				navigator.mozGetUserMedia(mediaConfig, function (stream) {
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errBack);
			}

			// Trigger photo take
			document.getElementById('snap').addEventListener('click', function () {
				context.drawImage(video, 0, 0, 320, 240);
				//console.log(context);
				var dataURL = canvas.toDataURL();
				//console.log(dataURL);
				var node = document.createElement("canvas");
				var context1 = node.getContext('2d');
				context1.drawImage(video, 0, 0, 320, 240);
				//node.appendChild(textnode);
				document.getElementById("foto-almacenada").appendChild(node);

				context.drawImage(video, 0, 0, 320, 240);

				node.classList.add("borde-foto");
				node.style.width = "320px";
				node.style.height = "240px";
			});


		}, false);



	/*	$('#guardar-foto').on('click', function(){
			var src = img.src;
			data = {
				src: src
			}
			$ajax ({
				url: '<?php echo base_url() ?>webcam/ajax',
				data: data,
				type: 'post',
				success: function(respuesta) {
					$('#fotoGuardada').attr('src, respuesta').show(300);


				$.each(respuesta, function( index, value ) {
					//alert( index + ": " + value );


				});

				}
			})
		});*/

</script>


@*<script>
    $("#btnSave").click(function () {

        var image = document.getElementById("canvas").toDataURL("image/png");
        image = image.replace('data:image/png;base64,', '');

        $.ajax({
            type: 'POST',
            url: '@Url.Action('UploadImage')'  // "../../Home/UploadImage",
            data: '{ "imageData" : "' + image + '" }',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (msg) {
                alert('Image saved successfully !');
            }
        });
    });

</script>*@