﻿@model intra.Models.ModuloVisitas.Visitas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Visitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitaCedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaCedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitaImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaImagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaFecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
