﻿@model IEnumerable<intra.Models.ModuloVisitas.Visitas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VisitaCedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitaImagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitaFecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VisitaCedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitaImagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitaFecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VisitaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VisitaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VisitaId })
        </td>
    </tr>
}

</table>
