﻿@model intra.Models.GestionHumana.SeccionBiblioteca

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.js"></script>

@using (Html.BeginForm("Create", "Seccion", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SeccionBibliotecaDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeccionBibliotecaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SeccionBibliotecaDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="SeccionVista" class="control-label col-md-2">Imagen de la Seccion</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SeccionVista, new { type = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\"]" })
                @Html.ValidationMessageFor(model => model.SeccionVista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script src="~/scripts/fileinput.min.js"></script>

<script>
    $('#SeccionVista').fileinput();
</script>