﻿<style>
    h2 {
        font-family: 'robotoitalic' !important;
        text-transform: uppercase;
        font-size: 19px !important;
        border-bottom: solid 2px #eee;
        padding-bottom: 6px;
        width: 100%;
        color: red !important;
    }

        h2.editar {
            color: #000 !important;
        }
</style>

@model intra.Models.GestionHumana.SeccionBiblioteca

@{
    ViewBag.Title = "Edit";
}
<h2 class="editar">Editar</h2>

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/sweetalert2.all.min.js"></script>

@using (Html.BeginForm("Edit", "Seccion", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SeccionBibliotecaId)

        <div class="form-group">
            @Html.LabelFor(model => model.SeccionBibliotecaDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeccionBibliotecaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SeccionBibliotecaDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Imagen actual</label>
            <div class="col-md-10">
                @if (Model.SeccionBibliotecaImagen != null)
                {
                    <a href='@Url.Action("DesgarcarImagen")/@Model.SeccionBibliotecaId' title="Haz click para descargar la imagen" download="@String.Concat(Model.SeccionBibliotecaDescripcion, ".jpg")">
                        <img src="@Url.Action("DesgarcarImagen", new { id = Model.SeccionBibliotecaId})" height="200" class="img-radius" />
                    </a>
                }
                else
                {
                    <img src="~/Content/images/imagen-no-disponible.png" class="image-bg" height="200" />
                }
            </div>
        </div>

        <div class="form-group">
            <label for="SeccionVista" class="control-label col-md-2">Cambiar Imagen de la Seccion</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SeccionVista, new { type = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\"]" })
                @Html.ValidationMessageFor(model => model.SeccionVista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn button_white" />
                <button type="button" id="eliminar" class="btn btn-danger">Eliminar</button>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = " btn btn-info " })
</div>

<script src="~/scripts/fileinput.min.js"></script>

<script>
    $('#SeccionVista').fileinput();
    $(document).ready(function () {
        $('#eliminar').click(function () {
            swal({
                title: 'Estas seguro/a de que quiere eliminar esta sección?',
                text: "Al eliminar esta sección, los libros asignador a la misma seran cambiados a la sección de 'Otros'.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("Eliminar")',
                        data: { id: $('#SeccionBibliotecaId').val() },
                        success: function (data) {
                            if (data != 'Error') {
                                window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/Seccion";
                            } else {
                                swal('Error', 'A ocurrido un error.', 'error');
                            }
                        },
                        error: function (ex) {
                            swal('Error', 'Un error ha ocurrido.', 'error');
                        }
                    });
                }
            })
        });
    })
</script>   