﻿<style>
    .button_white  {
        margin-bottom: 10px;
    }
</style>

@model IEnumerable<intra.Models.GestionHumana.SeccionBiblioteca>

@{
    ViewBag.Title = "Secciones";
}

<h2>Secciones</h2>

<a href="~/Seccion/Create/" class="btn button_white ">Agregar una nueva sección</a>

<table id="tableGrid" class="table table-striped table-hover responsive display no-wrap">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.SeccionBibliotecaDescripcion, "Edit", new { id = item.SeccionBibliotecaId })</td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Regresar", "Index", "Biblioteca" , null, htmlAttributes: new { @class = " btn btn-info " })
</div>