﻿@*@model  intra.Models.DetalleSolicitud

@{
    ViewBag.Title = "Servicios Asignados";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<style>
    .chosen-container-multi .chosen-choices {
        background-color: #494b54 !important;
        border: none !important;
        border-radius: 4px !important;
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            color: #949ba2 !important;
        }

        .chosen-container-multi .chosen-choices select {
            border: 0px !important;
        }
</style>

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

@Styles.Render("~/datatables/css")
  <table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("USUARIO")
            </th>
            <th>
                @Html.DisplayName("SERVICIO")
            </th>

            <th></th>
            <th></th>
            <th>
                @Html.DisplayName("ESTADO")
            </th>
            <th>
                @Html.DisplayName("FECHA")
            </th>
            <th>
                @Html.DisplayName("RESPONSABLE")
            </th>
            <th>
                @Html.DisplayName("SOLICITUD")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
        @Html.DisplayFor(modelItem => item. )
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sol_Sub_Actividades.Descripcion.ToUpper())
    </td>*@
                @*<td>
                    @Html.DropDownList("tecnico", new SelectList(ViewBag.tecnico, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select" })
                 </td>
                <td><button name="AgregarAsignacion" id="AgregarAsignacion" onclick="Asignado()" class="button_white"><i class="fa fa-retweet alejar_icono"></i>Reasignar</button></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sol_Estado_Solicitud.Descripcion.ToUpper())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FhModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VISTA_EMPLEADOS.nombre.ToUpper())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionSolicitud)
                </td>

            </tr>
        }
    </tbody>

</table>

@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>*@