﻿

<link href="~/CSS/jquery-customselect.css" rel="stylesheet" />

<script src="~/scripts/jquery.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>


<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

    .chosen-single {
        margin-bottom: 15px;
    }

    .chosen-container-multi .chosen-choices .search-field input[type="text"] {
        background: #38afd4 !important;
        color: #fff !important;
        width: 300px;
    }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }

    .selectize-input.items.not-full.has-options {
        height: 37px;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        font-size: 12px !important;
    }

    .selectize-input.items.has-options.full.has-items .item {
        width: 216px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .selectize-dropdown-content {
        font-size: 12px !important;
        text-align: left !important;
    }

    .selectize-control.single .selectize-input {
        /*width: 500px;*/
        height: 37px;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        font-size: 12px !important;
        background-image: none !important;
        background-color: #fff !important;
    }

    .selectize-input.items.not-full.has-options::after {
        top: 55% !important;
    }

    .selectize-input.items.not-full.has-options .input {
        font-size: 12px !important;
        text-align: left;
    }

    .selectize-dropdown [data-selectable].option {
        opacity: 1;
        cursor: pointer;
    }

    .selectize-input > input {
        height: 18px !important;
    }

    .ancho > .items > .item {
        overflow: unset !important;
    }
    /*HOVER SELECT*/
    .selectize-dropdown [data-selectable].active {
        background-color: #1e90ff !important;
        background-image: rgb(30,144,255) !important;
        background-image: -moz-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -webkit-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -webkit-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -o-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        /*background-image: -moz-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -webkit-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -o-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;*/
        background-repeat: repeat-x;
        color: #fff !important;
        filter: none;
    }

    ul.chosen-choices {
        height: 37px !important;
        border: 2px solid transparent !important;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        border-image-slice: 1 !important;
        font-size: 12px !important;
    }
</style>


<div class="row">
    <div class="col-md-4">
        <label>Dependencia regional:</label>
        @Html.DropDownList("DependenciaRegionalId", new SelectList(ViewBag.DependenciaRegionalId, "dRegionalId", "dNombre"), "Seleccione", new { id = "select-dependencia-regional", required = "true" })
    </div>
    <div class="campo-departamento-central col-md-4" hidden>
        <label>Solicitud de Servicio a:</label>
        @Html.DropDownList("DepartamentoId", new SelectList(ViewBag.DepartamentoId, "DepartamentoId", "DepNombre"), "Seleccione", new { id = "DepartamentoId" })
    </div>
</div>


<div class="row">

    <div class="campo-sede-central campo-actividad col-md-3" hidden>
        <label>Tipo de Solicitud</label>
        <select id="ActividadesId" name="Tipo_SolicitudId"></select>
    </div>

    <div class="campo-sede-central campo-servicio col-md-3" hidden>
        <label>Servicio Solicitud</label>
        <select id="SubActividadesId" name="Tipo_Sub_SolicitudId" class="viatico1"></select>
    </div>

        <div class="col-md-3 tecnico" hidden="hidden">
            <label>Reasignar</label>
            @Html.DropDownList("tecnico", new SelectList(ViewBag.DatosEmpleado, "EmpleadoId", "Descripcion"), "SELECCIONE", new { @class = "selectize" })
        </div>
    <div class="col-md-3 tecnicoDependencia" hidden="hidden">
        <label>Reasignar</label>
        @Html.DropDownList("tecnicoDependencia", new SelectList(ViewBag.empleadosDependencia, "EmpleadoId", "TecnicoNombre"), "SELECCIONE", new { @class = "selectize" })
    </div>
   
</div>



<script>
  
    $(document).ready(function () {
        $("#loading-animation-container").show();
        var dependencia = $("#select-dependencia-regional").val();
        $("#select-dependencia-regional").change(function () {

            $("#tecnicoDependencia").prop('disabled', false);
            var request = $.ajax({
                url: '@Url.Action("TecnicoDependencia")',
                type: 'post',
                data: { dependenciaRegionalId: dependencia },

                success: function (data) {
                    // var municipio = data;
                    $("#tecnicoDependencia").empty();
                    $("#tecnicoDependencia").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, empleado) {
                        $("#tecnicoDependencia").append('<option value="' + empleado.empleadoId + '">' + empleado.TecnicoDependenciaNombre + '</option>')
                    })
                    $("#tecnicoDependencia").trigger("chosen:updated");

                    $("#loading-animation-container").hide();
                }
            });


        });
    });

</script>



<script>
    $(document).ready(function () {
        if ($("#select-dependencia-regional").val() == "1") {
            $(".campo-departamento-central").show();
            $(".campo-actividad").show();
            $(".campo-servicio").show();
            $(".tecnicoDependencia").hide();
            $(".tecnico").show();

        } else {
            $(".campo-departamento-central").hide();
            $(".campo-actividad").hide();
            $(".campo-servicio").hide();
            $(".tecnicoDependencia").hide();
            $(".tecnico").hide();
        }
    });
</script>