﻿@model intra.Models.PaseProduccion.AprobacioneServicios

@{
    ViewBag.Title = "PaseProduccion";
    Layout = "~/Views/intraMaster.cshtml";
}
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
@*<script src="~/Content/js/jQuery.js"></script>*@


<style>
    .textarea{
            min-height: 285px !important
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Aprobar Pase a Producción</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">

           @*@if (User.IsInRole("SOL-PASE-PROD(Admin)"))*@
           @if (ViewBag.encargadoPaseProduccion != null)
               {
            <div class="pull-right">
              
                    <a class="button_white open_report" target="_blank" href="@Url.Action("ReportePaseProduccion", "RegistroSolicitud", new { aprobado = Model.AprobacionesId })">Ver reporte</a>

                @if (ViewBag.EstaFirmada != null && ViewBag.EstaFirmada != "" @*|| !string.IsNullOrEmpty(ViewBag.aprobaciones)*@)
                {
                    <input type="button" id="aproved" value="Aprobado" class="button_white estatus_aprobado" disabled />
                }
                else if(ViewBag.EstaFirmada == null)
                {
                    <input type="button" id="aproved" onclick="AprobarProduccion()" value="Aprobar" class="button_white estatus_informacion" />
                }
                <input type="button" value="Cancelar" onclick="cancelarPaseProduccion()" class="button_white" />
                @*<input type="button" value="Salir" onclick="Salir()" class="button_white" />*@
                
               
            </div>
           }
           else
           {
            <div class="pull-right">

                <a  class="button_white open_report" target="_blank" href="@Url.Action("ReportePaseProduccion", "RegistroSolicitud", new { aprobado = Model.AprobacionesId })">Ver reporte</a>
            </div>

           }
            </div>
    </div>


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AprobacionesId)

        <div class="form-group">

            <input id="AprobacionesId" name="AprobacionesId" value="@Model.AprobacionesId" hidden="hidden" />
            @*<input id="usuario" name="usuario" value="@ViewBag.Usuario" hidden="hidden" />*@
            <input id="FechaCreacion" name="FechaCreacion" value="@ViewBag.Fecha" hidden="hidden" />
            <input id="ApEstatusId" name="ApEstatusId" value="@ViewBag.Estado" hidden="hidden" />
            <input id="EmpleadoId" name="EmpleadoId" value="@ViewBag.EmpleadoId" hidden="hidden" />
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Aplicación</label>
                        <input type="text" name="Descripcion" id="Descripcion" value="@Model.Sol_Sub_Actividades.Descripcion" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                    </div>
                    <div class="col-lg-6">
                        <label>Tipo de Solicitud</label>
                        <input type="text" name="Descripcion" id="Descripcion" value="@Model.Sol_Actividades.Descripcion" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Lider del Equipo</label>
                        <input type="text" name="usuario" id="usuario" value="@ViewBag.Lider" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                    </div>
                    <div class="col-lg-6">
                        <label>Solicitante</label>
                        <input type="text" name="usuario" id="usuario" value="@Model.Solicitante" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Fase del Proyecto</label>

                        <input type="text" name="FaseProyecto" id="FaseProyecto" value="@Model.FaseProyecto" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />

                    </div>
                    <div class="col-lg-3">
                        <label>Prioridad</label>

                        <input type="text" name="AreasImplicadas" id="AreasImplicadas" value="@Model.Prioridad" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />
                    </div>
                    <div class="col-lg-3">
                        <label>Impacto</label>

                        <input type="text" name="Impacto" id="Impacto" value="@Model.Impacto" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />

                    </div>
                    <div class="col-lg-3">
                        <label>Riesgo</label>

                        <input type="text" name="Riesgo" id="Riesgo" value="@Model.Riesgo" class="form-control" style="width:100%;max-width:100%;border-color:#4BBCE3 !important;" disabled="disabled" />

                    </div>
                </div>
                <div class="row alert alert-info">
                    <div class="col-lg-6">
                        <div class="pru">
                            <label>Areas Implicadas </label>
                            <ul>
                                @foreach (var item in Model.areasImplicadas)
                                {
                                    <li>
                                        @item.AreasImplicadasPaseProduccion.AreasImplicadasDescripcion
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Categorias </label>
                        <ul>
                            @foreach (var item in Model.categorias)
                            {
                                <li>@item.CategoriasProduccion.CategoriasProduccionDescripcion</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label>Detalle Solicitud</label>
                        @Html.TextArea("DetallePaseProduccion", Model.DetallePaseProduccion, new { @class = "form-control textarea", @rows = "5", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>

    </div>


}

<script type="text/javascript">

    function AprobarProduccion() {

        var button;

        swal({

            title: '<i>Desea Aprobar la solicitud?</i>',
            type: 'warning',
            html: '<div><button type="button" id="aplicar" name="aplicar" class="btn button_white">Aprobar</button> ' +
                 '<button type="button" id="cancel" name="cancel" class="btn button_white">Cancelar</button> ' +
                  `${$($('.open_report')[0].outerHTML).addClass('btn')[0].outerHTML}</div>`,


            showConfirmButton: false,
            onOpen: function () {
                $('#aplicar').click(function () {
                    $("#loading-animation-container").show();
                    var ap = $("#AprobacionesId").val();
                    var user = $("#usuario").val();
                    var fecha = $("#FechaCreacion").val();
                    var estado = $("#ApEstatusId").val();
                    var empleado = $("#EmpleadoId").val();

                    var request = $.ajax({
                        url: '@Url.Action("PaseProdu")/' + $("#aprobaciones").val(),

                        type: 'Post',
                        data: {
                            AprobacionesId: ap,
                            usuario: user,
                            FechaCreacion: fecha,
                            ApEstatusId: estado,
                            EmpleadoId: empleado
                        },
                    });
                    request.done(function (data) {
                        $("#loading-animation-container").hide();
                        if (data.success) {

                            $("#aproved").attr('disabled', true).val('Aprobado');

                            swal(

                                'Aprobada',
                                'Solicitud Aprobada Correctamente',
                                'success'
                            )
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: data.message,
                                type: 'error',
                                confirmButtonColor: '#18212f',
                                confirmButtonText: 'Aceptar'
                            })
                        }
                    });//.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/RegistroSolicitud/SolicitudesPaseProduccion" })
                });

                $('#cancel').click(function () {
                    swal.close();
                });

                $('#report').click(function () {
                    $('#open_report').click();
                });
            }


        }).then(function () {

            $(document).on('click', "aplicar", function () {

                //$("#aplicar").click(function (){
                alert("Hoooooola");
            })
        })
    }
</script>

<script>
    function cancelacion() {
        this.close();
    }

</script>

<script>
    function cancelarPaseProduccion() {
        swal({
            title: '<i>Desea Aprobar la Cancelar la Solicitud?</i>',
            type: 'warning',
            html: '<div><button type="button" id="Cancelar" name="aplicar" class="btn button_white">Cancelar</button> ' +
                 '<button type="button" id="Salir" name="cancel" class="btn button_white">Salir</button> ',
            showConfirmButton: false,
            onOpen: function () {
                $('#Cancelar').click(function () {
                    var ap = $("#AprobacionesId").val();
                    var request = $.ajax({
                        url: '@Url.Action("CancelarSolicitud")/' + ap,
                        type: 'Post',
                        data: { aprobar: ap }
                    });
                    request.done(function (data) {
                        if (data.success) {
                            swal(

                                    'Cancelada',
                                    'Solicitud Cancelada',
                                    'success'
                                ).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/RegistroSolicitud/SolicitudesPaseProduccion" })
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: data.message,
                                type: 'error',
                                confirmButtonColor: '#18212f',
                                confirmButtonText: 'Aceptar'
                            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/RegistroSolicitud/SolicitudesPaseProduccion" })
                        }
                    })

                })

                $('#Salir').click(function () {
                    swal.close();
                });
            }
        })


    }

</script>

<script>
    function Salir() {
        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index";
    }

</script>

