﻿@model intra.Models.SolicitudModel

@using intra.Models

@{

    dbIntranet db = new dbIntranet();
    List<Eventos> evento = new List<Eventos>();

    //if (Model.CodigoDependencia == 3 && ViewBag.TecnicoAlternativo != null) { Model.EmpleadoPGR.Add(new PersonalPgrModel() { EmpleadoId = "121003", Descripcion = "JEAN CARLOS PUJOLS PIMENTEL", Cedula = "402-0074066-6" }); }

    int i = 0;
}

@{
    ViewBag.Title = "Detalle de servicio";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/Chat.css" rel="stylesheet" />

<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@*<script src="~/JS/jquery-customselect.js"></script>
 <script src="~/JS/jquery-customselect-1.9.1.min.js"></script>*@
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<style>

    .img-chat {
        /*width: 86%;
    height: 52px;*/
        vertical-align: middle;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 52px;
        height: 52px;
        margin-bottom: 5px;
    }

    #chat_window_1 {
        -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    }

    .panel-title {
        font-size: 14px !important;
    }

    .descargar {
        margin: 0 !important;
        padding: 3px !important;
        font-size: 10px !important;
    }
</style>
<style>
    .bubble, .bubble-other {
        color: #999;
    }

    .chatSolicitud {
        z-index: 99999;
        width: 100%;
        position: absolute;
    }

    .panel-default {
        border-top: 4px solid #4ABCE2 !important;
        border-left: 1px solid #4ABCE2 !important;
        border-right: 1px solid #4ABCE2 !important;
    }

    .bordeRegistro {
        border: 1px solid #4BBCE3;
        margin: 0px;
        border-radius: 4px;
    }

    .tagRegistro {
        font-size: 9px;
        padding: 0px 10px 0 8px;
        border-radius: 5px;
        background: #ededed;
        line-height: normal;
        padding-bottom: 6px;
        margin-bottom: 5px;
        color: #999;
        width: 31.6%;
        text-align: left;
        border: 1px solid #ccc;
    }

    .chosen-container-multi .chosen-choices .chosen-container-single {
        background-color: #494b54 !important;
        border: none !important;
        border-radius: 4px !important;
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            color: #949ba2 !important;
        }

        .chosen-container-multi .chosen-choices select {
            border: 0px !important;
        }

    .btn-chat {
        padding: 5.5px 24px;
    }

    #DEDepartamento {
        text-transform: uppercase;
    }
    /*.chosen-container .chosen-container-single{
        width:100% !important;

    }*/
    .chosen-container {
        width:100% !important;
    }

</style>
<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>



@if (TempData["Actualizar"] != null)
{
<script>
    swal({
        title: 'LISTO!!',
        text: 'SERVICIO ACTUALIZADO CORRECTAMENTE',
        type: 'success',
        confirmButtonColor: '#0c4ba4',
        confirmButtonText: 'Aceptar'
    }).then(function () {
            @if (Session["RetornoSolicitud"] != null && Session["RetornoSolicitud"].ToString() == "Asignados")
            {
            <text>
            window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados"
            </text>

            } else if (Session["RetornoSolicitud"] != null && Session["RetornoSolicitud"].ToString() == "Solicitados")
            {

            <text>
            window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Solicitados/Solicitados"
            </text>

            }
           
        });
</script>
}
<script>
    $('#date-picker').datepicker({ dateFormat: 'dd/MM/yyyy' }).val();
</script>


<div style="width:100%;">

    @if (ViewBag.MSJ != null)
    {
        <label class="alert alert-success" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @ViewBag.MSJ
        </label>
    }

    @if (ViewBag.MessageTipoSol != null)
    {
        <label class="alert alert-success" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @ViewBag.MessageTipoSol
        </label>
    }

</div>



<section id="chat">
    @using (Html.BeginForm("Registro", "RegistroSolicitud", FormMethod.Post, new { enctype = "multipart/form-data", id = "formRegistro" }))
    {

        @*<input type="hidden" id="CodigoDependencia" name="CodigoDependencia" value="@Model.CodigoDependencia"/>*@

        <section class="row">
            <div class="col-md-4">
                <h2 class="h2_title_page">Detalle de Solicitud @ViewBag.TecnicoAlternativo</h2>
                <hr class="hr2" />
            </div>
            <div class="col-md-8">
                <div class="pull-right alejar_top btn-group fix-box-2">
                    <button type="button" name="Volver" id="Volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>
                    <button type="submit" name="Guardar" id="Guardar" value="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                    <button type="submit" name="Tracking" value="Tracking" class="btn button_white"><i class="fa fa-history alejar_icono"></i>Tracking</button>
                    <button type="submit" name="Imprimir" value="Imprimir" class="btn button_white"><i class="fa fa-print alejar_icono"></i>Imprimir</button>
                    @if (User.IsInRole("EC"))
                    {
                        <button type="button" class="btn button_white" id="modal"><i class="fa fa-plus alejar_icono"></i>Cambiar Servicio</button>
                    }
                    @if (User.IsInRole("EC"))
                    {
                        <button type="button" class="btn button_white" id="modal1"><i class="fa fa-plus alejar_icono"></i>Completar Soporte</button>
                    }
                </div>
            </div>
        </section>


        @Html.HiddenFor(model => model.CodigoSolicitud);
        @Html.HiddenFor(model => model.CodigoDependencia);
        @Html.HiddenFor(model => model.DECodigoSolicitante);
        <input type="hidden" name="idSolicitud" value="@Model.DECodigoSolicitud" id="codSolicitud" />
        <input type="hidden" value="@Model.DECodigoEstadoSolicitud" id="estadoID" />
        <input type="hidden" value="@Model.DETipodeAsistencia" id="estadoAsistenciaID" />
        <input type="hidden" value="@Model.DECodigoTecnico" name="DECodigoTecnico" id="DECodigoTecnico" />
        <input type="hidden" value="@Model.Extension" name="Extension" id="Extension" />
        <input type="hidden" value="@Model.Flota" name="Flota" id="Flota" />
        <input type="hidden" value="@ViewBag.Produccion" name="Pase" id="Pase" />



        <div class="row">
            <div class="col-md-4">
                <label>Usuario</label>
                <input type="text" name="DENombreSolicitante" id="DENombreSolicitante" value="@Model.DENombreSolicitante" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4">
                <label>Flota</label>
                <input type="text" name="Flota" id="Flota" value="@Model.Flota" class="form-control" readonly="readonly" />
                @if (ViewBag.Confirmed != null)
                {
                    if (!ViewBag.Confirmed)
                    {
                        <label>&nbsp;(Dato sin confirmar)</label>
                    }
                    else
                    {
                        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/success.png" title="Número verificado" width="20" height="20" />
                    }
                }
            </div>
            <div class="col-md-4">
                <label>Extensión </label>
                <input type="text" name="Extension" id="Extension" value="@Model.Extension" class="form-control" readonly="readonly" />
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <label>Dependencia</label>
                <input type="text" name="DependenciaNombre" id="DependenciaNombre" value="@Model.DependenciaNombre" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-6">
                <label>Departamento</label>
                <input type="text" name="DepartamentoSolicitante" id="DepartamentoSolicitante" value="@Model.DepartamentoSolicitante" class="form-control" readonly="readonly" />
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Asignado a</label>
                @if (Model.DENombreTecnico != null)
                {
                    <input type="text" name="DENombreTecnico" id="DENombreTecnico" value="@Model.DENombreTecnico" class="form-control" readonly="readonly" />
                }
                else if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                {
                    @Html.DropDownListFor(model => model.CodigoEmpleadosTecnicos, new SelectList(Model.EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { id = "EmpleadoId" })
                }
            </div>
            <div class="col-md-4">
                <label>Fecha Abierto</label>
                <input type="text" name="DEFechaInicioSolicitud" id="DEFechaInicioSolicitud" value="@Model.DEFechaInicioSolicitud" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4">
                <label>Fecha Compromiso</label>
                @if (Model.CodigoSupervisor == Model.CodigoEmpleado || ViewBag.Supervisor != null)
                {
                    @Html.TextBoxFor(model => model.DEFechaFinalSolicitud, new { id = "date-picker", @class = "form-control date-picker" })
                    @*<input type="submit" name="ActulizarFechaCompromiso" value="Cambiar" class="buttonEnviar" />*@
                }
                else
                {
                    <input type="text" name="DEFechaFinalSolicitud" id="DEFechaFinalSolicitud" value="@Model.DEFechaFinalSolicitud" class="form-control" readonly="readonly" />
                }
            </div>
        </div>
        <div class="row">

            @if (Model.DECodigoEstadoSolicitud == 2)
            {


                <div class="col-md-6">
                    <label>Fecha Cerrado</label>
                    <input type="text" name="DEFechaFinalSolicitud" id="DEFechaFinalSolicitud" value="@Model.DEFechaFinalSolicitud" class="form-control" readonly="readonly" />
                </div>

            }

            @if (Model.CodigoDependencia == 1)
            {


                <div class="col-md-3">
                    <label>Tipo de servicio</label>
                    <input type="text" name="DEDepartamento" id="DEDepartamento" value="@Model.DETipoSolicitud" class="form-control" readonly="readonly" />
                </div>

                <div class="col-md-3">
                    <label>Tipo de servicio</label>
                    <input type="text" name="DESubTipoSolicitud" id="DESubTipoSolicitud" value="@Model.DESubTipoSolicitud" class="form-control" readonly="readonly" />
                </div>


            }

            <!--Tipo de Solicitud-->
            @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
            {
                if (Model.CodigoDependencia == 1)
                {


                    <div class="col-md-6">
                        <label>Descripción del Servicio</label>
                        <input type="text" name="DETipoSolicitud" id="DETipoSolicitud" value="@Model.DETipoSolicitud" class="form-control" readonly="readonly" />
                    </div>

                }
            }

            @if (Model.CodigoDependencia == 1)
            {


                <div class="col-md-6">
                    <label>Tipo de Solicitud</label>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado || ViewBag.Supervisor != null)
                    {
                        @Html.DropDownListFor(model => model.ActividadId, new SelectList(Model.TipoActividades, "ActividadId", "Descripcion"), "Seleccione", new { id = "ActividadId" })
                        @*<input type="button" value="Cambiar" class="buttonEnviar" id="ActualizarTipoActividad" onclick='validar();' />*@
                    }
                    else if (Model.DETipoSolicitud == "NoEspecificado")
                    {

                        <input type="text" name="NoEspecificado" id="NoEspecificado" value="@Model.DETipoSolicitud" class="form-control" readonly="readonly" />
                    }
                    else
                    {
                        <input type="text" name="DETipoSolicitud" id="DETipoSolicitud" value="@Model.DETipoSolicitud" class="form-control" readonly="readonly" />
                    }
                </div>

            }
        </div>

        <div class="row">

            @if (Model.CodigoDependencia == 1)
            {
                <!--ACTUALIZAR ACTIVIDAD-->


                <div class="col-md-3">
                    <label>Tipo de Servicio</label>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado || ViewBag.Supervisor != null)
                    {
                        @Html.DropDownListFor(model => model.SubActividadId, new SelectList(Model.SubTipoActividades, "SubActividadId", "Descripcion"), "Seleccione", new { id = "SubActividadId" })
                        @*<input type="button" name="ActulizarActividad" value="Cambiar" class="buttonEnviar" onclick='validar();' />*@
                    }
                    else
                    {
                        <input type="text" name="DESubTipoSolicitud" id="DESubTipoSolicitud" value="@Model.DESubTipoSolicitud" class="form-control" readonly="readonly" />
                    }
                </div>

            }

            <div class="col-md-3">
                <label>Valor / Horas</label>
                @if (Model.CodigoSupervisor == Model.CodigoEmpleado || ViewBag.Supervisor != null)
                {
                    @*@Html.TextBoxFor(model => model.ReAsignarHora)*@
                    <input type="text" name="ReAsignarHora" id="ReAsignarHora" value="@Model.ReAsignarHora" class="form-control" />
                    @*<input type="submit" name="ActulizarHora" value="Actualizar" class="button_white" />*@
                }
                else
                {
                    <input type="text" name="DEHoras" id="DEHoras" value="@Model.DEHoras" class="form-control" readonly="readonly" />
                }
            </div>

            <div class="col-md-3">
                <label>Tipo de asistencia</label>
                @if (Model.DENombreTecnico != null)
                {
                    @Html.DropDownList("CodigoTipoRB", new SelectList(Model.TB_Tipo_Asistencia, "TipoAsistenciaId", "Descripcion", "Seleccione"), new { id = "TipoAsistenciaId" })
                }
            </div>

            <div class="col-md-3">
                <label>Estatus</label>
                @if (Model.DENombreTecnico != null)
                {
                    @Html.DropDownList("CodigoEstadoRB", new SelectList(Model.EstadoConsulta, "EstadoId", "Descripcion"), "Seleccione", new { id = "EstadoId" })
                }
            </div>
        </div>




        <div class="row">

            @*@if (((Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.CodigoOtrosTecnicos == 1)) || (ViewBag.TecnicoAlternativo != null) && (Model.DENombreTecnico != null) || (Model.CodigoDirector == Convert.ToInt32(Session["empleadoId"])))
                {*@
            @if ((ViewBag.Director != null) || (ViewBag.TecnicoAlternativo != null) || (ViewBag.Supervisor != null) || (ViewBag.Otrostecnicos != null) || (ViewBag.SupervisorDependencia != null))
            {
                
            <div class="col-md-6 alinear-boton">
                
                    <div class="col-md-8 width-select" style="padding: 0;">
                        <label>Re-Asignar</label>
                        @Html.DropDownListFor(model => model.CodigoEmpleadosReAsignacion, new SelectList(Model.EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select", id = "ReAsignarEmpleadoId" })
                    </div> 
                    <div class="col-md-4 boton" >
                        <button type="submit" name="AgregarAsignacion" value="+ Reasignar" class="button_white width-select" style="width: 100%;"><i class="fa fa-retweet alejar_icono"></i> Reasignar</button>
                    </div>
                
            </div>
            }


            <div class="col-md-6 alinear-boton" >
                @*fix-box*@
                
                    <div class="col-md-8 width-select" >
                        <label>Agregar usuario al Chat</label>
                        @Html.DropDownListFor(model => model.CodigoOtrosEmpleados, new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select", id = "EmpleadoOtrosId" })
                    </div>

                    <div class="col-md-4 boton"  >
                        <button type="submit" name="Agregar" value="+ Agregar" class="button_white btn-block" style="width: 100%;"> <i class="fa fa-user-plus alejar_icono"></i>Agregar </button>
                        @if (ViewBag.MSJ != null)
                        {
                            @ViewBag.MSJ;
                        }
                    </div>
                </div>
            

        </div>


        <!--ACTUALIZAR ACTIVIDAD Descripcion del Servicio-->
        <div>
            @if (Model.CodigoSupervisor == Model.CodigoEmpleado || ViewBag.Supervisor != null)
            {
                if (Model.CodigoDependencia == 1)
                {

                    <script>
                     $(document).ready(function () {
                         $("#solSubActividad").hide();
                         $("#solSubActividad").hide();
                     });
                    </script>
                    <div class="col-md-6" id="solSubActividad">
                        <label>Descripción del Servicio</label>
                        <input type="text" name="DESubTipoSolicitud" id="DESubTipoSolicitud" value="@Model.DESubTipoSolicitud" class="form-control" readonly="readonly" />
                    </div>

                }
            }
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-12" id="TipoSolicitud">
                        <label>Descripción Solicitud</label>
                        @*<label>@Model.DescripcionSolicitud</label>*@
                        <textarea style="height:120px !important" width="100%" name="DescripcionSolicitud" id="DescripcionSolicitud" class="form-control" readonly="readonly">@Model.DEDescripcionSolicitudes</textarea>
                    </div>
                </div>

                <label>Solución</label>
                @if (Model.DENombreTecnico != null)
                {
                    <textarea name="DEDescripcionSolucion" id="DEDescripcionSolucion" class="form-control" rows="5">@Model.DEDescripcionSolucion</textarea>
                }

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Usuarios participantes en el Chat</h4>
                        <hr class="hr2" />
                        <div class="clearfix"></div>
                        <a name="minMaxChat" id="a"></a>

                        <ul id="Grid" style="margin:0; padding:0;">

                            @foreach (var item in Model.TB_Mostrar_Otros_Tecnicos)
                            {
                                <li class="tagRegistro">
                                    @item.NombreTecnico
                                    <a style="padding-left:5px; color:#999; font-size: 16px;" href="~/RegistroSolicitud/EliminarRegistro?id=@item.Otros_Id">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <label>Chat de servicio</label>
                <div id="chat_window_1" class="chat_window_1">
                    <div class="panel-heading top-bar">
                        <div class="col-md-12 col-xs-12">
                            <h3 class="panel-title"><i style="padding-right: 5px;" class="fa fa-comments"></i> Chat - @Html.DisplayFor(model => model.DEUsuarioDominioSolic)</h3>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                        <div class="row msg_container base_sent">
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_sent">
                                    <p>
                                        Hola, necesito ayuda con esta solicitud
                                        @*@Html.DisplayFor(model => model.DEDescripcionSolicitudes)*@
                                    </p>

                                    <time datetime="2009-11-13T20:00">@Html.DisplayFor(model => model.DEUsuarioDominioSolic) • @Html.DisplayFor(model => model.DEFechaCreacion)</time>
                                </div>
                            </div>

                            @*Validacion para Mostrar el Avatar*@
                            @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == Model.DECodigoSolicitante.ToString()).FirstOrDefault(); }

                            @if (EmpAvatar != null)
                            {
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="@EmpAvatar.avatar" class="img-chat">
                                </div>
                            }
                            else
                            {
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="~/Content/images/avatar-user.jpg" class="img-chat">
                                </div>
                            }
                        </div>
                        @foreach (var item in Model.Tb_Chat)
                        {
                            <div class="row msg_container base_receive">

                                @*Validacion para Mostrar el Avatar*@
                                @{ var EmpAvatars = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == item.Empleadoid).FirstOrDefault(); }

                                @if (EmpAvatars != null)
                                {
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="@EmpAvatars.avatar" class="img-chat">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="~/Content/images/avatar-user.jpg" class="img-chat">
                                    </div>
                                }

                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_receive">
                                        <p>
                                            @item.Descripcion

                                            @if (item.Archivo != "NoContiene")
                                            {
                                                <a href="~/RegistroSolicitud/Download?file=@item.Archivo">
                                                    Descargar
                                                </a>
                                            }
                                        </p>
                                        <time datetime="2009-11-13T20:00">@item.Usuario • @item.FhCreacion</time>
                                    </div>
                                </div>
                            </div>
                        }
                        <a name="Ancla" id="a"></a>
                    </div>


                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" name="DescripcionChat" maxlength="200" class="form-control input-sm chat_input" placeholder="Envie un comentario a la solicitud..." />
                            <span class="input-group-btn">
                                @*<input type="submit" value="Upload" class="btn" />*@
                                <input class="btn button_white btn-sm btn-chat" type="submit" name="Enviar" id="Enviar" value="Enviar" />
                            </span>
                        </div>
                        <input type='file' id="Subir" name="SubirArchivo" class="descargar" />
                    </div>
                </div>
            </div>
        </div>





        <div>
            <!--Solo el supervisor de comunicaciones podrá visualizar detalles de los espacios reservados-->
            @if ((Model.CodigoSupervisor == Model.DECodigoSolicitante) || (Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.DECodigoTecnico == Model.CodigoEmpleado) || (Model.DECodigoSolicitante == Model.CodigoEmpleado))
            {
                <table class="table table-bordered tabladetalles">
                    <tbody>
                        @if (ViewBag.detalleEvento != null)
                        {
                            foreach (var ev in ViewBag.detalleEvento)
                            {
                                <tr>
                                    <td style="width:20% !important;">Fecha de inicio</td>
                                    <td>@ev.EventoFhInicio</td>
                                </tr>
                                <tr>
                                    <td>Hora de inicio</td>
                                    <td>@ev.EventoHoraInicio</td>
                                </tr>
                                <tr>
                                    <td>Fecha final</td>
                                    <td>@ev.EventoFhFinal</td>
                                </tr>
                                <tr>
                                    <td>Hora final</td>
                                    <td>@ev.EventoHoraFinal</td>
                                </tr>
                                <tr>
                                    <td>Cantidad de Personas</td>
                                    <td>@ev.EventoCantidadPersonas</td>
                                </tr>
                                <tr>
                                    <td>Tipo de Evento</td>
                                    <td>@ev.TipoEventos.TipoEventoDescripcion</td>
                                </tr>
                                <tr>
                                    <td>Nombre de la Actividad</td>
                                    <td>@ev.EventoNombreActividad</td>
                                </tr>
                                <tr>
                                    <td>Responsable</td>
                                    <td>@ev.EventoResponsable</td>
                                </tr>
                                <tr>
                                    <td>Teléfono/Ip</td>
                                    <td>@ev.EventoTelefonoIP</td>
                                </tr>
                                <tr>
                                    <td>Correo</td>
                                    <td>@ev.EventoEmail</td>
                                </tr>
                                <tr>
                                    <td>Detalles/Observaciones</td>
                                    <td>@ev.EventoDetalles</td>
                                </tr>

                                foreach (var item in ev.EventoTipoCobertura)
                                {
                                    <tr>
                                        <td>
                                            @if (i == 0)
                                            {
                                                i++;<text>Tipo de Cobertura</text>
                                            }
                                        </td>
                                        <td>@item.TipoCobertura.TipoCoberturaDescripcion</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }
            <!--FIN-->
        </div>

        @*Guardar Comentado*@

        @*@if ((Model.CodigoSupervisor == Model.DECodigoSolicitante) || (Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.DECodigoTecnico == Model.CodigoEmpleado) || (Model.DECodigoSolicitante == Model.CodigoEmpleado))
            {*@




        @*<div style="width:99%;overflow:hidden; height:auto; margin-top:5px;margin-bottom:5px">
                <div style="float:left; margin-left:5px">
                    @if (ViewBag.MSJG != null)
                    {
                        @ViewBag.MSJG;
                    }

                    @if
                    (ViewBag.MessageTipoSol != null)
                    {
                        @ViewBag.MessageTipoSol;
                    }

                </div>
            </div>*@



    }


</section>




@if (Model.CodigoSupervisor == Model.CodigoEmpleado)
{
    <div class="row">
        ENCARGADO
    </div>
}
else
{
    <div class="row">
        USUARIO NORMAL
    </div>
}

<script src="~/scripts/Chat.js"></script>
<script src="js/form-validation.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@*SCRIPTS DEL SELECTIZE*@
<script src="~/Content/js/selectize/selectize.min.js"></script>
<script src="~/Content/js/selectize/plugin.js"></script>
<link href="~/Content/js/selectize/css/selectize.bootstrap2.css" rel="stylesheet" />



<script type="text/javascript">

    function llamaralancla() {
        document.location.href = "#Ancla";
    }
    llamaralancla()

    //setTimeout('window.location.reload()', 1000);
    $(document).ready(function () {
        $("#EstadoId").val($("#estadoID").val());
        //$("#TipoAsistenciaId").val($("#estadoID").val());
        $('#TipoAsistenciaId').val('@Model.DETipodeAsistencia');
    });

    $(function () {
        $("#ActividadId").change(function () {

            var url = 'GetSubActividades'

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: $("#ActividadId").val() },
                success: function (data) {
                    $("#SubActividadId").empty();
                    $("#SubActividadId").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>')
                    $.each(data, function (i, Subactividades) {
                        $("#SubActividadId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                    })
                }
            });
        });

        $('#SubActividadId').change(function () {
            if ($(this).val() != 0) {
                $('#SubActividadId').val($(this).val());
            }
        });
    });

    $(function () {
        $("#EmpleadoOtrosId").customselect();
    });

    $(function () {
        $('.date-picker').datepicker();
    })

    function validar() {
        if ($("#ActividadId").val() == "" || $("#ActividadId").val() == null) {
            swal({
                title: "¡ATENCION!",
                text: "SELECCIONE EL TIPO DE SOLICITUD",
                padding: 50,
                Type: "warning",
                confirmButtonText: "OK"

            });
            return false;
        } else if ($("#SubActividadId").val() == "" || $("#SubActividadId").val() == 0) {
            swal({
                title: "¡ATENCION!",
                text: "DEBE SELECCIONAR EL TIPO DE SERVICIO",
                padding: 50,
                Type: "warning",
                confirmButtonText: "OK"

            });
            return false;
        }

        $('<input />').attr('type', 'hidden')
              .attr('name', 'ActividadDescripcion')
              .attr('value', $("#ActividadId option:selected").text())
              .appendTo('#formRegistro');

        $('<input />').attr('type', 'hidden')
              .attr('name', 'SubActividadDescripcion')
              .attr('value', $("#SubActividadId option:selected").text())
              .appendTo('#formRegistro');

        $('<input />').attr('type', 'hidden')
              .attr('name', 'ActualizarTipoSolicitud')
              .attr('value', 'Cambiar')
              .appendTo('#formRegistro');
        $("#formRegistro").submit();
    }

    $(document).ready(function () {

        $("#Guardar").click(function () {
            if ($("#EstadoId").val() == 2 && $("#DEDescripcionSolucion").val() == "") {
                swal({
                    title: "¡ATENCION!",
                    text: "DEBE INDICAR LA SOLUCIÓN DEL CASO",
                    padding: 50,
                    Type: "warning",
                    confirmButtonText: "OK"

                });
                return false;
            }
            if ($("#EstadoId").val() == 3 && $("#DEDescripcionSolucion").val() == "") {
                swal({
                    title: "¡ATENCION!",
                    text: "DEBE INDICAR EL MOTIVO DE LA CANCELACION",
                    padding: 50,
                    Type: "error",
                    confirmButtonText: "OK"

                });
                return false;
            }
            //if ($("#EstadoId").val() == 1 && $("#DEDescripcionSolucion").val() == "") {
            //    swal({
            //        title: "¡ATENCION!",
            //        text: "EL ESTADO ESTA PENDIENTE Y LA SOLUCION ",
            //        padding: 50,
            //        Type: "warning",
            //        confirmButtonText: "OK"

            //    });
            //    return false;
            //}
        })
    })



</script>

@if (Model.CodigoDependencia == 1)
{
    if (Model.CodigoSupervisor == Model.CodigoEmpleado)
    {
        <script>
            $(document).ready(function () {
                $('#ActividadId').val('@Model.DECodigoTipoSolicitud');
                $('#SubActividadId').val('@Model.DECodigoSubTipoSolicitud');

            });
        </script>
    }

}

<div id="myModal" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <form id="CambiarLocalidad">
                <input type="hidden" id="SolicitudId" name="SolicitudId" value="@ViewBag.SolicitudId" />
                <div class="row" style="margin-bottom:15px">
                    <div class="col-md-6">
                        <h2 class="h2_title_page">Cambio Localidad</h2>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right alejar_top">
                            <button type="button" id="Cerrar" name="Cerrar"  class="btn button_white"><i class="fa fa-close"></i> Cerrar</button>
                            <button type="button" class="btn button_white" id="Guardar" name="Guardar" onclick="GuardarCambioLocalidadServicio()"> <i class="fa fa-save alejar_icono"></i>Guardar</button>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>Dependencia regional:</label>
                        @Html.DropDownList("DependenciaRegionalId", new SelectList(ViewBag.DependenciaRegionalId, "dRegionalId", "dNombre"), "Seleccione", new { id = "select-dependencia-regional", required = "true" })
                    </div>
                    <div class="campo-departamento-central col-md-4" hidden>
                        <label>Solicitud de Servicio a:</label>
                        @Html.DropDownList("DepartamentoId", new SelectList(ViewBag.DepartamentoId, "DepartamentoId", "DepNombre"), "Seleccione", new { id = "DepartamentoId" })
                    </div>
                </div>


                <div class="row">

                    <div class="campo-sede-central campo-actividad col-md-3" hidden>
                        <label>Tipo de Solicitud</label>
                        <select id="ActividadesId" name="Tipo_SolicitudId"></select>
                    </div>

                    <div class="campo-sede-central campo-servicio col-md-3" hidden>
                        <label>Servicio Solicitud</label>
                        <select id="SubActividadesId" name="Tipo_Sub_SolicitudId" class="viatico1"></select>
                    </div>

                    <div class="col-md-4 tecnico" hidden="hidden">
                        <label>Re-asignar</label>
                        
                        <select id="tecnico" name="tecnico"  class="form-control chosen-select"></select>

                        @*@Html.DropDownList("tecnico", new SelectList(ViewBag.DatosEmpleado, "EmpleadoId", "Descripcion"), "SELECCIONE", new { @class = "selectize" })*@
                    </div>
                    <div class="col-md-4 tecnicoDependencia" hidden="hidden">
                        <label>Re-Asignar</label>
                        <select id="tecnicoDependencia" name="tecnicoDependencia" class="form-control chosen-select" style="width:100%!important;"></select>

                    </div>

                </div>
            </form>
             

        </div>
    </div>
</div>





<div id="myModalSoporteTecnico" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <form id="SoporteTecnico">
                <input type="hidden" id="SolicitudId" name="SolicitudId" value="@ViewBag.SolicitudId" />
                <div class="row" style="margin-bottom:15px">
                    <div class="col-md-6">
                        <h2 class="h2_title_page">Datos Reporte Soporte Tecnico</h2>

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right alejar_top">
                            <button type="button" id="CerrarSoporte" name="CerrarSoporte" class="btn button_white"><i class="fa fa-close"></i> Cerrar</button>
                            <button type="button" class="btn button_white" id="Guardar" name="Guardar" onclick="GuardarReporteSoporte()"> <i class="fa fa-save alejar_icono"></i>Guardar</button>
                        </div>

                    </div>

                </div>

                <div class="row">
                   <div class="col-md-4">
                       <label>Tipo de Equipo</label>
                       @Html.DropDownList("TipoEquipoId", (SelectList)ViewBag.TipoEquipoId, "SELECCIONE EL TIPO")

                   </div>
                    <div class="col-md-4">
                        <label>Marca</label>
                        <select class="form-control" id="MarcaEquipoId" name="MarcaEquipoId"></select>
                    </div>
                    <div class="col-md-4">
                        <label>Modelos</label>
                        <select class="form-control" id="ModeloEquipoId" name="ModeloEquipoId"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>Sistema Operativo</label>
                        <input type="text" id="SistemaOperativo" name="SistemaOperativo" class="form-control" />
                        

                    </div>
                    <div class="col-md-4">
                        <label>Procesador</label>
                        <input type="text" id="Procesador" name="Procesador" class="form-control" />


                    </div>
                    <div class="col-md-4">
                        <label>Memoria Ram</label>
                        <input type="text" id="MemoriaRam" name="MemoriaRam" class="form-control" />


                    </div>
                    
                </div>
                <div class="row">
                    
                        <label>Causa</label>
                    <textarea id="Causa" name="Causa" cols="10"></textarea>


                    </div>
                <div class="row">
                    <label>Observaciones</label>
                    <textarea id="Observaciones" name="Observaciones" cols="10" ></textarea>

                </div>
                    
</form>


        </div>
    </div>
</div>




<script>
    $('#modal').click(function () {
        $('#myModal').modal();
    });
    $("#Cerrar").click(function () {
        $('#myModal').modal('hide');
    });
  
    $('#modal1').click(function () {
        $('#myModalSoporteTecnico').modal();
    });
    $("#CerrarSoporte").click(function () {
        $('#myModalSoporteTecnico').modal('hide');
    });
    </script>


<script>

    $(document).ready(function () {
        $("#loading-animation-container").show();
     
        $("#select-dependencia-regional").change(function () {
            if ($("#select-dependencia-regional").val() == "1") {
                
                
                $(".campo-departamento-central").show();
                $(".tecnicoDependencia").hide();
           

            } else {

                $("#tecnicoDependencia").prop('disabled', false);
                var dependenciaId = $("#select-dependencia-regional").val();
                var request = $.ajax({
                url: '@Url.Action("TecnicoDependencia")',
                type: 'post',
                data: { dependenciaRegionalId : dependenciaId },

                success: function (data) {
                    // var municipio = data;
                    $("#tecnicoDependencia").empty();
                    $("#tecnicoDependencia").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, empleado) {
                        $("#tecnicoDependencia").append('<option value="' + empleado.Value + '">' + empleado.Text + '</option>')
                    })
                    $("#tecnicoDependencia").trigger("chosen:updated");
               

                    $("#loading-animation-container").hide();
                }
            });
                $(".campo-departamento-central").hide();
                $(".campo-actividad").hide();
                $(".campo-servicio").hide();
                $(".tecnicoDependencia").show();
                $(".tecnico").hide();
            };


        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#DepartamentoId").change(function () {

            $("#tecnico").prop('disabled', false);
            var dependenciaId = 10001;
            var departamento = $("#DepartamentoId").val();
            var request = $.ajax({
                url: '@Url.Action("TecnicoSede")',
                type: 'post',
                data: { dependencia: dependenciaId, departamentoId: departamento },

                success: function (data) {
                    // var municipio = data;
                    $("#tecnico").empty();
                    $("#tecnico").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, empleado1) {
                        $("#tecnico").append('<option value="' + empleado1.Value + '">' + empleado1.Text + '</option>')
                    })
            
                    $("#tecnico").trigger("chosen:updated");

                    $("#loading-animation-container").hide();
                }
            });

           CargarActividades();
            $(".campo-actividad").show();
            $(".tecnico").show();
        });
        $("#ActividadesId").change(function () {
            $(".campo-servicio").show();
            //$("#SubActividadesId").show();
        });
    });
</script>


<script>

    $("[name=Agregar]").on('click', function (event) {

        if ($("#EmpleadoOtrosId").val() == "") {

            event.preventDefault();
            swal('', 'Ingrese el usuario para el chat', 'warning');
        }
    });

    function CargarActividades() {
        var departamentoId = $("#DepartamentoId").val();

        var url = '@(HttpRuntime.AppDomainAppVirtualPath)/SolicitudesServicios/GetActividades';

        //console.log(url);

        $.ajax({
            type: 'POST',
            url: url,
            data: { id: departamentoId },
            success: function (data) {
                //console.log(data);

                var actividades = data;
                $("#ActividadesId").empty();

                $("#ActividadesId").append('<option value>' + "Seleccionar" + '</option>')
                //$.each(data, function (i, actividades) {
                //    $("#ActividadesId").append('<option value="' + actividades.Value + '">' + actividades.Text + '</option>')
                //})
                for (var i in actividades) {
                    var actividad = actividades[i];
                    $("#ActividadesId").append('<option value="' + actividad.Value + '">' + actividad.Text + '</option>');

                }

            }
        });
    };


    $("#ActividadesId").change(function () {

        var url = '@(HttpRuntime.AppDomainAppVirtualPath)/SolicitudesServicios/GetSubActividades'

        $.ajax({
            type: 'POST',
            url: url,
            data: { id: $("#ActividadesId").val() },
            success: function (data) {
                $("#SubActividadesId").empty();

                $("#SubActividadesId").append('<option value>' + "Seleccionar" + '</option>')
                $.each(data, function (i, Subactividades) {
                    $("#SubActividadesId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                })

            }

        });

        $('.campo-servicio').show();
        $('#SubActividadesId').prop("required", true);
    });

</script>


<script>
    function GuardarCambioLocalidadServicio(){
        var DependenciaRegional = $("#select-dependencia-regional").val();
        $("#loading-animation-container").show();
        var request = $.ajax({
            url: '@Url.Action("CambiarLocalidadServicio")',
            type: 'Post',
            data: $("#CambiarLocalidad").serialize(),
        });
        request.done(function (data) {
            if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    $("#myModal").modal('hide')
                    location.reload();
                    //$("#myModal").modal('hide')
                });
                $("#loading-animation-container").hide();
            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    $("#myModal").modal('hide');
                    location.reload();
                    
                });
                
                $("#loading-animation-container").hide();

            }
        });
    }

</script>

<script>
    function GuardarReporteSoporte(){
      
        $("#loading-animation-container").show();
        var request = $.ajax({
            url: '@Url.Action("ReporteSoporteTecnico")',
            type: 'Post',
            data: $("#SoporteTecnico").serialize(),
        });
        request.done(function (data) {
            if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensajes,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    $("#myModalSoporteTecnico").modal('hide')
                    location.reload();
                    //$("#myModal").modal('hide')
                });
                $("#loading-animation-container").hide();
            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    $("#myModalSoporteTecnico").modal('hide');
                    location.reload();

                });

                $("#loading-animation-container").hide();

            }
        });
    }

</script>




@*Cargar Marca y Modelo Modulo Soporte*@
<script>

    $(document).ready(function () {

        $('#TipoEquipoId').change(function () {
            if ($('#TipoEquipoId').val() != "") {
                //$('#marca').show();
                //$('#modelo').hide();
                $('#ModeloEquipoId').html("");
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#MarcaEquipoId').html("");
                        $('#MarcaEquipoId').append('<option value> ----- SELECCIONE LA MARCA ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#MarcaEquipoId').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });
                $('input[id="TipoSelecionados"]').each(function () { this.checked = false; });
            } else { $('#marca').hide(); $('#MarcaEquipoId').html(""); $('#modelo').hide(); $('#ModeloEquipoId').html(""); }
        });

        $('#MarcaEquipoId').change(function () {
            if ($('#MarcaEquipoId').val() != "") {
                //$('#modelo').show();
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/CargarModelos",
                    method: "post",
                    data: { tipoid: $('#TipoEquipoId').val(), marcaid: $('#MarcaEquipoId').val() },
                    success: function (modelos) {
                        $('#ModeloEquipoId').html("");
                        $('#ModeloEquipoId').append('<option value> NINGUNO </option>');
                        $.each(modelos, function (i, modelos) {
                            $('#ModeloEquipoId').append('<option value="' + modelos.Value + '">' + modelos.Text + '</option>');
                        });
                    }
                });
            } else { $('#modelo').hide(); $('#ModeloEquipoId').html(""); }
        });

    });
    </script>
