﻿@model intra.Models.SolicitudModel

@using intra.Models

@{

    dbIntranet db = new dbIntranet();
    List<Eventos> evento = new List<Eventos>();



    int i = 0;
}

@{
    ViewBag.Title = "Detalle de servicio";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/Chat.css" rel="stylesheet" />

<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert.css">
<script src="~/scripts/sweetalert.min.js"></script>
<style>

   .img-chat{
        /*width: 86%;
    height: 52px;*/
            vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 52px;
    height: 52px;
    margin-bottom: 5px;
    }

    #chat_window_1 {
            -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    }

    .panel-title {
        font-size: 14px !important;
    }

    .descargar {
        margin: 0 !important;
        padding: 3px !important;
        font-size: 10px !important;
    }
</style>
<style>
    .bubble, .bubble-other {
        color: #999;
    }

    .chatSolicitud {
        z-index: 99999;
        width: 100%;
        position: absolute;
    }

    .panel-default {
        border-top: 4px solid #4ABCE2 !important;
        border-left: 1px solid #4ABCE2 !important;
        border-right: 1px solid #4ABCE2 !important;
    }

    .bordeRegistro {
        border: 1px solid #4BBCE3;
        margin: 0px;
        border-radius: 4px;
    }

    .tagRegistro {
        font-size: 9px;
        padding: 0px 10px 0 8px;
        border-radius: 5px;
        background: #ededed;
        line-height: normal;
        padding-bottom: 6px;
        margin-bottom: 5px;
        color: #999;
        width: 31.6%;
        text-align: left;
        border: 1px solid #ccc;
    }

    .chosen-container-multi .chosen-choices {
        background-color: #494b54 !important;
        border: none !important;
        border-radius: 4px !important;
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            color: #949ba2 !important;
        }

        .chosen-container-multi .chosen-choices select {
            border: 0px !important;
        }

    .glyphicon {
        color: #babbc1;
    }
</style>
<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<div style="width:100%;">

    @if (ViewBag.MSJ != null)
            {
        <label class="alert alert-success" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @ViewBag.MSJ
        </label>
    }

    @if (ViewBag.MessageTipoSol != null)
    {
        <label class="alert alert-success" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @ViewBag.MessageTipoSol
        </label>
    }

</div>



<section id="chat">
    @using (Html.BeginForm("Registro", "RegistroSolicitud", FormMethod.Post, new { enctype = "multipart/form-data", id = "formRegistro" }))
    {


        <section class="row">
            <div class="col-md-5">
                <h2 class="h2_title_page">Detalle de Solicitud</h2>
                <hr class="hr2" />
            </div>
            <div class="col-md-7">
                <div class="pull-right alejar_top btn-group">
		    <button type="button" name="Volver" id="Volver"class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>
                    <button type="submit" name="Guardar" id="Guardar" value="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                    <button type="submit" name="Tracking" value="Tracking" class="btn button_white"><i class="fa fa-history alejar_icono"></i>Tracking</button>
                    <button type="submit" name="Imprimir" value="Imprimir" class="btn button_white"><i class="fa fa-print alejar_icono"></i>Imprimir</button>
                </div>
            </div>
        </section>


        @Html.HiddenFor(model => model.CodigoSolicitud);
        <input type="hidden" name="idSolicitud" value="@Model.DECodigoSolicitud" id="codSolicitud" />
        <input type="hidden" value="@Model.DECodigoEstadoSolicitud" id="estadoID" />
        <input type="hidden" value="@Model.DETipodeAsistencia" id="estadoAsistenciaID" />
        <input type="hidden" value="@Model.DECodigoTecnico" name="DECodigoTecnico" id="DECodigoTecnico" />
        <input type="hidden" value="@Model.Extension" name="Extension" id="Extension" />
        <input type="hidden" value="@Model.Flota" name="Flota" id="Flota" />
        <input type="hidden" value="@ViewBag.Produccion" name="Pase" id="Pase" />



        <div class="row">
            <div class="col-md-4">
                <label>Usuario</label>
                <input type="text" name="DENombreSolicitante" id="DENombreSolicitante" value="@Model.DENombreSolicitante" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4">
                <label>Flota</label>
                <input type="text" name="Flota" id="Flota" value="@Model.Flota" class="form-control" readonly="readonly" />
                @if (ViewBag.Confirmed != null)
                    {
                        if (!ViewBag.Confirmed)
                        {
                    <label>&nbsp;(Dato sin confirmar)</label>
                        }
                        else
                        {
                    <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/success.png" title="Número verificado" width="20" height="20" />
                        }
                    }
            </div>
            <div class="col-md-4">
                <label>Extensión </label>
                <input type="text" name="Extension" id="Extension" value="@Model.Extension" class="form-control" readonly="readonly" />
            </div>
        </div>



            <div class="row">
                <div class="col-md-6">
                    <label>Departamento</label>
                    <input type="text" name="DepartamentoSolicitante" id="DepartamentoSolicitante" value="@Model.DepartamentoSolicitante" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-6">
                    <label>Dependencia</label>
                    <input type="text" name="DependenciaNombre" id="DependenciaNombre" value="@Model.DependenciaNombre" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Asignado a</label>
                    @if (Model.DENombreTecnico != null)
                    {
                        <input type="text" name="DENombreTecnico" id="DENombreTecnico" value="@Model.DENombreTecnico" class="form-control" readonly="readonly" />
                    }
                    else if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                    {
                        @Html.DropDownListFor(model => model.CodigoEmpleadosTecnicos, new SelectList(Model.EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { id = "EmpleadoId" })
                    }
                </div>
                <div class="col-md-4">
                    <label>Fecha Abierto</label>
                    <input type="text" name="DEFechaInicioSolicitud" id="DEFechaInicioSolicitud" value="@Model.DEFechaInicioSolicitud" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-4">
                    <label>Fecha Compromiso</label>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                    {
                        @Html.TextBoxFor(model => model.DEFechaFinalSolicitud, "{0:dd/MM/yyyy}", new { id = "date-picker", @class = "form-control date-picker" })
                        <input type="submit" name="ActulizarFechaCompromiso" value="Cambiar" class="buttonEnviar" />
                    }
                    else
                    {
                        <input type="text" name="DEFechaFinalSolicitud" id="DEFechaFinalSolicitud" value="@Model.DEFechaFinalSolicitud" class="form-control" readonly="readonly" />
                    }
                </div>
            </div>
            <div class="row">

                @if (Model.DECodigoEstadoSolicitud == 2)
                {


                <div class="col-md-6">
                    <label>Fecha Cerrado</label>
                    <input type="text" name="DEFechaFinalSolicitud" id="DEFechaFinalSolicitud" value="@Model.DEFechaFinalSolicitud" class="form-control" readonly="readonly" />
                </div>

                }

                @if (Model.CodigoDependencia == 1)
                {


                <div class="col-md-6">
                    <label>Grupo</label>
                    <input type="text" name="DEDepartamento" id="DEDepartamento" value="@Model.DEDepartamento" class="form-control" readonly="readonly" />
                </div>

                }

                <!--Tipo de Solicitud-->
                @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                {
                    if (Model.CodigoDependencia == 1)
                    {


                <div class="col-md-6">
                    <label>Descripción del Servicio</label>
                    <input type="text" name="DETipoSolicitud" id="DETipoSolicitud" value="@Model.DETipoSolicitud" class="form-control" readonly="readonly" />
                </div>

                    }
                }

                @if (Model.CodigoDependencia == 1)
                {


                <div class="col-md-6">
                    <label>Tipo de Solicitud</label>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                        {
                        @Html.DropDownListFor(model => model.ActividadId, new SelectList(Model.TipoActividades, "ActividadId", "Descripcion"), "Seleccione", new { id = "ActividadId" })
                        <input type="button" value="Cambiar" class="buttonEnviar" id="ActualizarTipoActividad" onclick='validar();' />
                        }
                        else
                        {
                        <input type="text" name="DETipoSolicitud" id="DETipoSolicitud" value="@Model.DETipoSolicitud" class="form-control" readonly="readonly" />
                        }
                </div>

                }
            </div>

            <div class="row">

                @if (Model.CodigoDependencia == 1)
                {
                        <!--ACTUALIZAR ACTIVIDAD-->


                    <div class="col-md-3">
                        <label>Tipo de Servicio</label>
                        @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                        {
                        @Html.DropDownListFor(model => model.SubActividadId, new SelectList(Model.SubTipoActividades, "SubActividadId", "Descripcion"), "Seleccione", new { id = "SubActividadId" })
                        <input type="button" name="ActulizarActividad" value="Cambiar" class="buttonEnviar" onclick='validar();' />
                        }
                        else
                        {
                        <input type="text" name="DESubTipoSolicitud" id="DESubTipoSolicitud" value="@Model.DESubTipoSolicitud" class="form-control" readonly="readonly" />
                        }
                    </div>

                }



                <div class="col-md-3">
                    <label>Valor / Horas</label>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                    {
                        @*@Html.TextBoxFor(model => model.ReAsignarHora)*@
                        <input type="text" name="ReAsignarHora" id="ReAsignarHora" value="@Model.ReAsignarHora" class="form-control" />
                            <input type="submit" name="ActulizarHora" value="Actualizar" class="button_white" />
                    }
                    else
                    {
                        <input type="text" name="DEHoras" id="DEHoras" value="@Model.DEHoras" class="form-control" readonly="readonly" />
                    }
                </div>




                <div class="col-md-3">
                    <label>Tipo de asistencia</label>
                    @if (Model.DECodigoTecnico != null)
                        {
                        @Html.DropDownList("CodigoTipoRB", new SelectList(Model.TB_Tipo_Asistencia, "TipoAsistenciaId", "Descripcion", "Seleccione"), new { id = "TipoAsistenciaId" })
                        }
                </div>

         


                <div class="col-md-3">
                    <label>Estatus</label>
                    @if (Model.DECodigoTecnico != null)
                        {
                        @Html.DropDownList("CodigoEstadoRB", new SelectList(Model.EstadoConsulta, "EstadoId", "Descripcion"), "Seleccione", new { id = "EstadoId" })
                        }
                </div>




            </div>


            <div class="row">

                @if (((Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.CodigoOtrosTecnicos == 1)) && (Model.DENombreTecnico != null) || (Model.CodigoDirector == Convert.ToInt32(Session["empleadoId"])))
                {
                    <div class="col-md-4">
                        <label>Re-Asignar</label>
                        @Html.DropDownListFor(model => model.CodigoEmpleadosReAsignacion, new SelectList(Model.EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select", id = "ReAsignarEmpleadoId" })
                    </div>

                    <div class="col-md-2">
                        <div class="pull-right alejar_top">
                            <button type="submit" name="AgregarAsignacion" value="+ Reasignar" class="button_white"><i class="fa fa-retweet alejar_icono"></i> Reasignar</button>
                        </div>
                    </div>
                }
                

                <div class="col-md-4">

                    <label>Agregar usuario al Chat</label>
                    @Html.DropDownListFor(model => model.CodigoOtrosEmpleados, new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select", id = "EmpleadoOtrosId" })


                </div>
                <div class="col-md-2">
                    <div class="pull-right alejar_top">
                        <button type="submit" name="Agregar" value="+ Agregar" class="button_white"> <i class="fa fa-user-plus alejar_icono"></i>Agregar </button>
                        @if (ViewBag.MSJ != null)
                        {
                            @ViewBag.MSJ;
                        }
                    </div>
                </div>

            </div>



                <!--ACTUALIZAR ACTIVIDAD Descripcion del Servicio-->
            <div>
                @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                {
                    if (Model.CodigoDependencia == 1)
                    {


                        <div class="col-md-6">
                            <label>Descripción del Servicio</label>
                            <input type="text" name="DESubTipoSolicitud" id="DESubTipoSolicitud" value="@Model.DESubTipoSolicitud" class="form-control" readonly="readonly" />
                        </div>

                    }
                }
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <label>Descripción Solicitud</label>
                            @*<label>@Model.DescripcionSolicitud</label>*@
                            <textarea style="height:120px !important" width="100%"  name="DescripcionSolicitud" id="DescripcionSolicitud" class="form-control" readonly="readonly">@Model.DEDescripcionSolicitudes</textarea>
                        </div>
                    </div>

                    <label>Solución</label>
                    @if (Model.DECodigoTecnico != null)
                    {

                        <textarea name="DEDescripcionSolucion" id="DEDescripcionSolucion" class="form-control" rows="5">@Model.DEDescripcionSolucion</textarea>


                    }

                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Usuarios participantes en el Chat</h4>
                            <hr class="hr2" />
                            <div class="clearfix"></div>
                            <a name="minMaxChat" id="a"></a>

                            <ul id="Grid" style="margin:0; padding:0;">
                         
                                @foreach (var item in Model.TB_Mostrar_Otros_Tecnicos)
                                {
                                    <li class="tagRegistro">
                                        @item.NombreTecnico
                                        <a style="padding-left:5px; color:#999; font-size: 16px;" href="~/RegistroSolicitud/EliminarRegistro?id=@item.Otros_Id">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <label>Chat de servicio</label>
                    <div id="chat_window_1" class="chat_window_1">
                        <div class="panel-heading top-bar">
                            <div class="col-md-12 col-xs-12">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - @Html.DisplayFor(model => model.DEUsuarioDominioSolic)</h3>
                            </div>
                        </div>
                        <div class="panel-body msg_container_base">
                            <div class="row msg_container base_sent">
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_sent">
                                        <p>
                                            Hola, necesito ayuda con esta solicitud
                                            @*@Html.DisplayFor(model => model.DEDescripcionSolicitudes)*@
                                        </p>

                                        <time datetime="2009-11-13T20:00">@Html.DisplayFor(model => model.DEUsuarioDominioSolic) • @Html.DisplayFor(model => model.DEFechaCreacion)</time>
                                    </div>
                                </div>

                                @*Validacion para Mostrar el Avatar*@
                                @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == Model.DECodigoSolicitante.ToString()).FirstOrDefault(); }

                                @if (EmpAvatar != null)
                                {
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="@EmpAvatar.avatar" class="img-chat">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="~/Content/images/avatar-user.jpg" class="img-chat">
                                    </div>
                                }
                            </div>
                            @foreach (var item in Model.Tb_Chat)
                            {
                                <div class="row msg_container base_receive">

                                    @*Validacion para Mostrar el Avatar*@
                                    @{ var EmpAvatars = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == item.Empleadoid).FirstOrDefault(); }

                                    @if (EmpAvatars != null)
                                    {
                                        <div class="col-md-2 col-xs-2 avatar">
                                            <img src="@EmpAvatars.avatar" class="img-chat">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-2 col-xs-2 avatar">
                                            <img src="~/Content/images/avatar-user.jpg" class="img-chat">
                                        </div>
                                    }

                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_receive">
                                            <p>
                                                @item.Descripcion

                                                @if (item.Archivo != "NoContiene")
                                                {
                                                    <a href="~/RegistroSolicitud/Download?file=@item.Archivo">
                                                        Descargar
                                                    </a>
                                                }
                                            </p>
                                            <time datetime="2009-11-13T20:00">@item.Usuario • @DateTime.Now</time>
                                        </div>
                                    </div>
                                </div>
                                        }
                            <a name="Ancla" id="a"></a>
                        </div>

                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" name="DescripcionChat" class="form-control input-sm chat_input" placeholder="Envie un comentario a la solicitud..." />
                                <span class="input-group-btn">
                                    @*<input type="submit" value="Upload" class="btn" />*@
                                    <input class="btn button_white btn-sm" type="submit" name="Enviar" value="Enviar" />
                                </span>
                            </div>
                            <input type='file' id="Subir" name="SubirArchivo" class="descargar" />
                        </div>
                    </div>
                </div>
            </div>





                    <div>
                        <!--Solo el supervisor de comunicaciones podrá visualizar detalles de los espacios reservados-->
                        @if ((Model.CodigoSupervisor == Model.DECodigoSolicitante) || (Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.DECodigoTecnico == Model.CodigoEmpleado) || (Model.DECodigoSolicitante == Model.CodigoEmpleado))
                        {
                            <table class="table table-bordered tabladetalles">
                                <tbody>
                                    @if (ViewBag.detalleEvento != null)
                                    {
                                        foreach (var ev in ViewBag.detalleEvento)
                                        {
                                            <tr>
                                                <td style="width:20% !important;">Fecha de inicio</td>
                                                <td>@ev.EventoFhInicio</td>
                                            </tr>
                                            <tr>
                                                <td>Hora de inicio</td>
                                                <td>@ev.EventoHoraInicio</td>
                                            </tr>
                                            <tr>
                                                <td>Fecha final</td>
                                                <td>@ev.EventoFhFinal</td>
                                            </tr>
                                            <tr>
                                                <td>Hora final</td>
                                                <td>@ev.EventoHoraFinal</td>
                                            </tr>
                                            <tr>
                                                <td>Cantidad de Personas</td>
                                                <td>@ev.EventoCantidadPersonas</td>
                                            </tr>
                                            <tr>
                                                <td>Tipo de Evento</td>
                                                <td>@ev.TipoEventos.TipoEventoDescripcion</td>
                                            </tr>
                                            <tr>
                                                <td>Nombre de la Actividad</td>
                                                <td>@ev.EventoNombreActividad</td>
                                            </tr>
                                            <tr>
                                                <td>Responsable</td>
                                                <td>@ev.EventoResponsable</td>
                                            </tr>
                                            <tr>
                                                <td>Teléfono/Ip</td>
                                                <td>@ev.EventoTelefonoIP</td>
                                            </tr>
                                            <tr>
                                                <td>Correo</td>
                                                <td>@ev.EventoEmail</td>
                                            </tr>
                                            <tr>
                                                <td>Detalles/Observaciones</td>
                                                <td>@ev.EventoDetalles</td>
                                            </tr>

                                            foreach (var item in ev.EventoTipoCobertura)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (i == 0)
                                                        {
                                                            i++; <text>Tipo de Cobertura</text>
                                                        }
                                                    </td>
                                                    <td>@item.TipoCobertura.TipoCoberturaDescripcion</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        <!--FIN-->
                    </div>

                    @*Guardar Comentado*@

                                        @*@if ((Model.CodigoSupervisor == Model.DECodigoSolicitante) || (Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.DECodigoTecnico == Model.CodigoEmpleado) || (Model.DECodigoSolicitante == Model.CodigoEmpleado))
                                            {*@




                                        @*<div style="width:99%;overflow:hidden; height:auto; margin-top:5px;margin-bottom:5px">
                                                <div style="float:left; margin-left:5px">
                                                    @if (ViewBag.MSJG != null)
                                                    {
                                                        @ViewBag.MSJG;
                                                    }

                                                    @if
                                                    (ViewBag.MessageTipoSol != null)
                                                    {
                                                        @ViewBag.MessageTipoSol;
                                                    }

                                                </div>
                                            </div>*@



                                        }


</section>



@if (Model.CodigoSupervisor == Model.CodigoEmpleado)
{
    <div class="row">
        ENCARGADO
    </div>
}
else
{
    <div class="row">
        USUARIO NORMAL
    </div>
}

<script src="~/scripts/Chat.js"></script>
<script src="~/JS/jquery-customselect.js"></script>
<script src="~/JS/jquery-customselect-1.9.1.min.js"></script>
<script src="js/form-validation.js"></script>
<script src="~/scripts/sweetalert.min.js"></script>

<script type="text/javascript">

    function llamaralancla() {
        document.location.href = "#Ancla";
    }
    llamaralancla()

    //setTimeout('window.location.reload()', 1000);
    $(document).ready(function () {
        $("#EstadoId").val($("#estadoID").val());
        //$("#TipoAsistenciaId").val($("#estadoID").val());
        $('#TipoAsistenciaId').val('@Model.DETipodeAsistencia');
    });

    $(function () {
        $("#ActividadId").change(function () {

            var url = 'GetSubActividades'

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: $("#ActividadId").val() },
                success: function (data) {
                    $("#SubActividadId").empty();
                    $("#SubActividadId").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>')
                    $.each(data, function (i, Subactividades) {
                        $("#SubActividadId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                    })
                }
            });
        });

        $('#SubActividadId').change(function () {
            if ($(this).val() != 0) {
                $('#SubActividadId').val($(this).val());
            }
        });
    });

    $(function () {
        $("#EmpleadoOtrosId").customselect();
    });

    $(function () {
        $('.date-picker').datepicker();
    })

    function validar() {
        if ($("#ActividadId").val() == "" || $("#ActividadId").val() == null) {
            swal({
                title: "¡ATENCION!",
                text: "SELECCIONE EL TIPO DE SOLICITUD",
                padding: 50,
                Type: "warning",
                confirmButtonText: "OK"

            });
            return false;
        } else if ($("#SubActividadId").val() == "" || $("#SubActividadId").val() == 0) {
            swal({
                title: "¡ATENCION!",
                text: "DEBE SELECCIONAR EL TIPO DE SERVICIO",
                padding: 50,
                Type: "warning",
                confirmButtonText: "OK"

            });
            return false;
        }

        $('<input />').attr('type', 'hidden')
              .attr('name', 'ActividadDescripcion')
              .attr('value', $("#ActividadId option:selected").text())
              .appendTo('#formRegistro');

        $('<input />').attr('type', 'hidden')
              .attr('name', 'SubActividadDescripcion')
              .attr('value', $("#SubActividadId option:selected").text())
              .appendTo('#formRegistro');

        $('<input />').attr('type', 'hidden')
              .attr('name', 'ActualizarTipoSolicitud')
              .attr('value', 'Cambiar')
              .appendTo('#formRegistro');
        $("#formRegistro").submit();
    }

    $(document).ready(function () {

        $("#Guardar").click(function () {
            if ($("#EstadoId").val() == 2 && $("#DEDescripcionSolucion").val() == "") {
                swal({
                    title: "¡ATENCION!",
                    text: "DEBE INDICAR LA SOLUCIÓN DEL CASO",
                    padding: 50,
                    Type: "warning",
                    confirmButtonText: "OK"

                });
                return false;
            }
            if ($("#EstadoId").val() == 3 && $("#DEDescripcionSolucion").val() == "") {
                swal({
                    title: "¡ATENCION!",
                    text: "DEBE INDICAR EL MOTIVO DE LA CANCELACION",
                    padding: 50,
                    Type: "errot",
                    confirmButtonText: "OK"

                });
                return false;
            }
            if ($("#EstadoId").val() == 1 && $("#DEDescripcionSolucion").val() == "") {
                swal({
                    title: "¡ATENCION!",
                    text: "EL ESTADO ESTA PENDIENTE Y LA SOLUCION ",
                    padding: 50,
                    Type: "warning",
                    confirmButtonText: "OK"

                });
                return false;
            }
        })
    })

    

</script>

@if (Model.CodigoDependencia == 1)
{
    if (Model.CodigoSupervisor == Model.CodigoEmpleado)
    {
        <script>
            $(document).ready(function () {
                $('#ActividadId').val('@Model.DECodigoTipoSolicitud');
                $('#SubActividadId').val('@Model.DECodigoSubTipoSolicitud');

            });
        </script>
    }

}