﻿@model intra.Models.SolicitudModel 

@*Usado para Mostrar el Avatar del Usuario*@
@using intra.Models
@{
    dbIntranet db = new dbIntranet();

}
@{
    ViewBag.Title = "RegistroSolicitud";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/Chat.css" rel="stylesheet" />


<style>
    .img-responsive{max-width:78%;}
    .panel-title{font-size:14px !important;}
    .descargar{margin: 0 !important; padding:3px !important;     font-size: 10px !important;}
    .detalleSolicitud{    padding-bottom: 100px;}
</style>



<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />


<link href="~/CSS/jquery-customselect.css" rel="stylesheet" />

<script src="~/scripts/Chat.js"></script>

<script src="~/JS/jquery-customselect.js"></script>


<script src="~/JS/jquery-customselect-1.9.1.min.js"></script>
<script type="text/javascript">


    $(function () {

        $("#ActividadId").change(function () {

            var url = 'GetSubActividades'

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: $("#ActividadId").val() },
                success: function (data) {
                    $("#SubActividadesId").empty();
                    $("#SubActividadesId").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>')
                    $.each(data, function (i, Subactividades) {
                        $("#SubActividadesId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                    })
                }



            });



        });


        $('#SubActividadesId').change(function () {
            if ($(this).val() != 0) {
                $('#SubActividadesId').val($(this).val());
            }

        });

    });
</script>

<script type="text/javascript">
    $(function () {
        $("#EmpleadoOtrosId").customselect();
    });
</script>

<script type='text/javascript'>
    $(function () {

      
        $('.date-picker').datepicker();

    })
</script>

<style>
    .table td {width:0 !important;}

    .glyphicon{color:#4BBCE3;}
    .detalleSolicitud { font-family: 'robotolight' !important;  font-size: 12px; }
    .detalleSolicitud textarea{width:46.9%;}
    .detalleSolicitud strong {font-family: 'robotobold' !important;}
    .detalleSolicitud ul li { list-style: none; }
    .detalleSolicitud input {
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #4BBCE3;
    margin-bottom: 5px !important;
    vertical-align: middle;

    }
    .bubble, .bubble-other {
        color: #999;
    }
    .chatSolicitud{float:right;
                       float: right;
    margin-right: 388px;
    }

    .panel-default {
        border-top: 4px solid #4ABCE2 !important;
        border-left: 1px solid #4ABCE2 !important;
        border-right: 1px solid #4ABCE2 !important;
    }
    .bordeRegistro{
    border: 1px solid #4BBCE3;
    margin: 0px;
    border-radius: 4px;
    }

    .tagRegistro{
    font-size: 9px;
    padding: 0px 10px 0 8px;
    border-radius: 5px;
    background: #ededed;
    line-height: normal;
    padding-bottom: 6px;
    margin-bottom: 5px;
    color: #999;
    width:31.6%;
    text-align:left;
    border: 1px solid #ccc;
    }

.detalleSolicitud select{width: 166px !important;}

    .table{margin-bottom:10px;}
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{color:#7e7e7e;}

</style>

<section class="row">
    <div class="col-lg-12">
        <h2>Detalle de Solicitud</h2>
    </div>
</section>

<section class="detalleSolicitud" id="chat">
    @using (Html.BeginForm("Registro", "RegistroSolicitud", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="idSolicitud" value="@Model.DECodigoSolicitud" id="codSolicitud"/>
        <table  class="table table-striped table-hover responsive ">
            <tbody>
                <tr>
                    <td><strong>Usuario</strong></td>
                    <td>@Html.DisplayFor(model => model.DENombreSolicitante)</td>
                </tr>
                <tr>
                    <td><strong>Departamento</strong></td>
                    <td>@Html.DisplayFor(model => model.DepartamentoSolicitante)</td>
                </tr>
                <tr>
                    <td><strong>Fecha Abierto</strong></td>
                    <td>@Html.DisplayFor(model => model.DEFechaInicioSolicitud)</td>
                </tr>
                    <tr>
                    <td><strong>Fecha Compromiso</strong></td>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                    {
                        <td>
                            <div style="float:left;">
                                @Html.TextBoxFor(model => model.DEFechaFinalSolicitud, "{0:dd/MM/yyyy}", new { id = "date-picker", @class = "date-picker" })
                             </div>
                            <div style="float:left;; margin-left:5px">
                                <input type="submit" name="ActulizarFechaCompromiso" value="Cambiar" class="buttonEnviar" />    
                            </div> 
                            </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(model => model.DEFechaFinalSolicitud)</td>
                    }
                </tr>
                <tr>
                    @if (Model.DECodigoEstadoSolicitud == 2)
                    {
                        <td><strong>Fecha Cerrado</strong></td>
                        <td>@Html.DisplayFor(model => model.DEFechaFinalSolicitud)</td>

                    }
                </tr>
                <tr>
                    <td><strong>Grupo</strong></td>
                    <td>@Html.DisplayFor(model => model.DEDepartamento)</td>
                </tr>
                

                <tr>
                    <td><strong>Tipo de Solicitud</strong></td>
                    <td>
                        @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                        {
                            <div style="float:left;">
                                @*@Html.DropDownListFor(model => model.ActividadId, new SelectList(Model.TipoActividades, "ActividadId", "Descripcion"), new { id = "ActividadId" })*@
                                @Html.DisplayFor(model => model.DETipoSolicitud)
                            </div>
                            
                        }
                        else
                        {

                            <div style="float:left;">
                                @Html.DisplayFor(model => model.DETipoSolicitud)
                            </div>
                        }


                    </td>
                </tr>
                <tr>
                    @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                    {
                        <td><strong>Descripcion del Servicio</strong></td>
                        <td>
                            @Html.DisplayFor(model => model.DESubTipoSolicitud)
                        </td>
                    }
                </tr>
                    <tr>
                    <td><strong>Tipo Servicios</strong></td>
                    <td>
                        @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                        {
                            <div style="float:left;">
                                @*@Html.DropDownList("SubActividades", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { id = "SubActividadesId" })*@
                                @Html.DropDownListFor(model => model.SubActividadId, new SelectList(Model.SubTipoActividades, "SubActividadId", "Descripcion"), "Seleccione", new { id = "SubActividadId" })
                            </div>
                            <div style="float:left; margin-left:5px">
                                @*<input id="SubActividadesId" name="SubActividades" type="hidden" />*@
                                <input type="submit" name="ActulizarActividad" value="Cambiar" class="buttonEnviar" />
                            </div>
                        }
                        else
                        {

                            <div style="float:left;">
                                @Html.DisplayFor(model => model.DESubTipoSolicitud)
                            </div>
                        }


                    </td>
                </tr>
                <tr>
                    <td><strong>Valor / Horas</strong></td>
                    <td>
                        @if (Model.CodigoSupervisor == Model.CodigoEmpleado)
                        {
                            <div style="float:left;">
                                @Html.TextBoxFor(model => model.ReAsignarHora)
                            </div>
                            <div style="float:left; margin-left:5px">
                                <input type="submit" name="ActulizarHora" value="Actualizar" class="buttonEnviar" />
                            </div>
                        }
                        else
                        {
                            <div style="float:left;">
                                @Html.DisplayFor(model => model.DEHoras)
                            </div>
                        }
                    </td>
                </tr>

            </tbody>
        </table>

        if (Model.DENombreTecnico != null)
            {
                <div class="col-lg-4 col-no-padding">
                    <strong style="float:left;">Tipo de asistencia</strong>
                </div>
                    <div class="col-lg-8 col-no-padding">
                  @Html.DropDownList("CodigoTipoRB", new SelectList(Model.TB_Tipo_Asistencia, "TipoAsistenciaId", "Descripcion"),"Seleccione",new {id ="TipoAsistenciaId"})
                     
                </div><!--Tipo de asistencia-->
            }


        if (Model.DENombreTecnico != null)
            {
                <div class="col-lg-4 col-no-padding">
                    <strong style="float:left;"> Estatus</strong>
                </div>
                    <div class="col-lg-8 col-no-padding">
                          
                 @Html.DropDownList("CodigoEstadoRB", new SelectList(Model.EstadoConsulta, "EstadoId","Descripcion"),"Seleccione",new { id ="EstadoId"})
                        </div><!--Estatus-->
        }



        //if ((Model.CodigoSupervisor == Model.DECodigoSolicitante) || (Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.CodigoSupervisor == Model.DECodigoTecnico))
        //{
            <div class="row">
                <div class="col-lg-4" style="    padding-left: 5px;">
                    Asignado a
                </div>
                <div class="col-lg-8">
                    @if (Model.DENombreTecnico != null)
                    {
                        <strong>  @Model.DENombreTecnico</strong>
                    }
                    else if(Model.CodigoSupervisor == Model.CodigoEmpleado)
                    {
                        @Html.DropDownListFor(model => model.CodigoEmpleadosTecnicos, new SelectList(Model.EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { id = "EmpleadoId" })
                    }
                </div>
                @if ((Model.CodigoSupervisor == Model.CodigoEmpleado) && (Model.DENombreTecnico != null))
                {

                    <div class="col-lg-4" style=">
                        Re-Asignar
                    </div>
                    <div class="col-lg-4">
                        @Html.DropDownListFor(model => model.CodigoEmpleadosReAsignacion, new SelectList(Model.EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { id = "ReAsignarEmpleadoId" })
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" name="AgregarAsignacion" value="+ Reasignar" class="buttonEnviar" />
                    </div>
                }
            </div> <!--Asignado-->
            //}


            if (Model.DENombreTecnico != null)
            {
            <div class="row">
                <div class="col-lg-4" >
                    Solución
                </div>
                <div class="col-lg-8" style="    padding-left: 5px;">
                    @if (Model.DEDescripcionSolucion != null)
                    {
                        @Html.TextAreaFor(model => model.DEDescripcionSolucion)
                    }
                    else
                    {
                        @Html.TextAreaFor(model => model.Descripcion)
                    }
                </div>
            </div> <!--Solucion-->
        }
        <div class="row">
            <div class="col-lg-4" >
                Agregar usuario al Chat
            </div>
            <div class="col-lg-4" style="    padding-left: 5px;">
                @Html.DropDownListFor(model => model.CodigoOtrosEmpleados, new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione" ,new { @class = "custom-select", id = "EmpleadoOtrosId" })
            </div>
            <div class="col-lg-4">
                <input type="submit" name="Agregar" value="+ Agregar" class="buttonEnviar" />
            </div>
            <div style="float:left; margin-left:5px">
                @if (ViewBag.MSJ != null)
                    {
                    @ViewBag.MSJ;
                    }
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" >
                Usuarios en Chat
            </div>
            <a name="minMaxChat" id="a"></a>
            <div class="col-lg-8" style="    padding-left: 5px;">
                <ul id="Grid" style="margin:0; padding:0;">
                    @foreach (var item in Model.TB_Mostrar_Otros_Tecnicos)
                        {
                            <li class="tagRegistro">
                                    @item.NombreTecnico
                                    <a style="padding-left:5px; color:#999; font-size: 16px;" href="~/RegistroSolicitud/EliminarRegistro?id=@item.Otros_Id">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                            </li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8" style="    padding-left: 5px;">

                @if ((Model.CodigoSupervisor == Model.DECodigoSolicitante) || (Model.CodigoSupervisor == Model.CodigoEmpleado) || (Model.DECodigoTecnico == Model.CodigoEmpleado) || (Model.DECodigoSolicitante == Model.CodigoEmpleado))
                {
                <div style="float:left; ">
                    <input type="submit" name="Guardar" value="Guardar" class="buttonEnviar" />
                </div>
                }

                <div style="float:left;">
                    <input type="submit" name="Volver" value="Volver" class="buttonEnviar" />
                </div>
                <div style="float:left;" >
                    <input type="submit" name="Tracking" value="Tracking" class="buttonEnviar" />
                </div>
                <div style="float:left;">
                    <input type="submit" name="Imprimir" value="Imprimir" class="buttonEnviar" />
                </div>
            </div>
            <div style="width:99%;overflow:hidden; height:auto; margin-top:5px;margin-bottom:5px">
                <div style="float:left; margin-left:5px">
                    @if (ViewBag.MSJG != null)
                    {
                    @ViewBag.MSJG;
                    }
                </div>
            </div>

        </div>

        <section class="chatSolicitud" >
                <div class="row chat-window col-xs-5 col-md-5" id="chat_window_1" style="margin-left:10px;">
                    <div class="col-xs-12 col-md-12">
                        <div class="panel panel-default" >
                            <div class="panel-heading top-bar">
                                <div class="col-md-8 col-xs-8">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - @Html.DisplayFor(model => model.DEUsuarioDominioSolic)</h3>
                                </div>
                                <div class="col-md-4 col-xs-4" style="text-align: right;">
                                    <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                                </div>
                            </div>

                            <div class="panel-body msg_container_base">
                                <div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_sent">
                                            <p>

                                                @Html.DisplayFor(model => model.DEDescripcionSolicitudes)
                                            </p>

                                            <time datetime="2009-11-13T20:00">@Html.DisplayFor(model => model.DEUsuarioDominioSolic) • @Html.DisplayFor(model => model.DEFechaCreacion)</time>
                                        </div>
                                    </div>

                                    @*Validacion para Mostrar el Avatar*@
                                     @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == Model.DECodigoSolicitante.ToString()).FirstOrDefault(); }

                                         @if (EmpAvatar != null)
                                         {
                                            <div class="col-md-2 col-xs-2 avatar">
                                                <img src="@EmpAvatar.avatar" class="img-responsive">
                                            </div>
                                         }
                                         else
                                         {
                                            <div class="col-md-2 col-xs-2 avatar">
                                                <img src="~/Content/images/avatar-user.jpg" class="img-responsive">
                                            </div>
                                         }
                                </div>
                                @foreach (var item in Model.Tb_Chat)
                                {
                                    <div class="row msg_container base_receive">

                                        @*Validacion para Mostrar el Avatar*@
                                         @{ var EmpAvatars = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == item.Empleadoid).FirstOrDefault(); }

                                         @if (EmpAvatars != null)
                                            {
                                                <div class="col-md-2 col-xs-2 avatar">
                                                    <img src="@EmpAvatars.avatar" class="img-responsive">
                                                </div>
                                         }
                                         else
                                         {
                                            <div class="col-md-2 col-xs-2 avatar">
                                                <img src="~/Content/images/avatar-user.jpg" class="img-responsive">
                                            </div>
                                         }

                                        <div class="col-md-10 col-xs-10">
                                            <div class="messages msg_receive">
                                                <p>
                                                    @item.Descripcion


                                                    @if (item.Archivo!= "NoContiene")
                                                    {
                                                        <a href="~/RegistroSolicitud/Download?file=@item.Archivo">
                                                            Descargar
                                                        </a>
                                                    }

                                                </p>

                                                <time datetime="2009-11-13T20:00">@item.Usuario • @DateTime.Now</time>
                                                
                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                     }
                                <a name="Ancla" id="a"></a>
                            </div>
                            
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" name="DescripcionChat" class="form-control input-sm chat_input" placeholder="Envie un comentario a la solicitud..." />
                                    <span class="input-group-btn">

                                        @*<input type="submit" value="Upload" class="btn" />*@
                                  

                                        <input class="btn btn-primary btn-sm" type="submit" name="Enviar" value="Enviar"/>
                                    </span>

                                </div>
                                <input type='file' id="Subir" name="SubirArchivo" class="descargar" />
                            </div>
                        </div>
                    </div>
                </div>



            </section>
        }
</section><!--End-->

<script>
    function llamaralancla() {
        document.location.href = "#Ancla";
    }    
        llamaralancla()

</script>

<script type="text/javascript">
 
    //setTimeout('window.location.reload()', 1000);

</script>