﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href='@Server.MapPath("~/Content/bootstrap-3.3.7/css/bootstrap.css")' rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src='@Server.MapPath("~/Content/bootstrap-3.3.7/js/bootstrap.js")'></script>
    <style type="text/css">
        .r_and_e {
            font-size: 16px;
            padding-bottom: 1px;
        } 

        hr {
            border: 1px solid black;
        }

        .details {
            font-weight: normal;
        }

        body {
            font-family: Arial;
        }

        th {
            background-color: gray;
            color: black;
            padding:4.5px;
        }
        td{
            padding:4.5px;
        }
    </style>
    <title></title>
</head>
<body style="padding: 20px;">
    <header>
        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/logo_PGR.png">
        <p style="float: right;margin-top: 25px;">Página 1 de 1 <br />Fecha de impresión ---- @ViewBag.Date</p>
        <center><h3 style="font-weight: bold;">Solicitud de Servicios</h3></center>
    </header>
    <section>
        <form>
            <span class="r_and_e">Ref <strong>@ViewBag.Reference</strong></span>
            <span class="r_and_e" style="float: right;">Estatus <strong>@ViewBag.State</strong></span>
            <hr width="100%" style="margin-top: 1px;" />
            <div style="display: block !important;">
                <span style="float: left;">
                    <strong>Solicitado por: &nbsp</strong><label class="details">@ViewBag.RequestedBy</label>
                    <br />
                    <strong>Gerencia: &nbsp</strong><label class="details">@ViewBag.RequestedDepartment</label>
                    <br />
                    <strong>Fecha solicitados: &nbsp</strong><label class="details">@ViewBag.RequestedDate</label>
                </span>
                <span style="float: right;">
                    <strong>Resuelto por: &nbsp</strong><label class="details">@ViewBag.SolverBy</label>
                    <br />
                    <strong>Gerencia: &nbsp</strong><label class="details">@ViewBag.SolvedDepartment</label>
                    <br />
                    <strong>Fecha solución: &nbsp</strong><label class="details">@ViewBag.SolutionDate</label>
                </span>
            </div>
            <br /><br /><br />
            <hr style="margin-bottom: 0.5px;border:1.5px solid black;" />
            <center><h4 style="font-weight: bold;">Dependencia</h4></center>
            <hr style="margin-top: 0.5px;margin-bottom: 3.5px;" />
            <p align="center">@ViewBag.Dependency</p>
            <hr style="margin-bottom: 0.5px;border:1.5px solid black;" />
            @if (ViewBag.DependencyId == 1)
            {
                <center><h4 style="font-weight: bold;">Tipo de Solicitud</h4></center>
                <hr style="margin-top: 0.5px;margin-bottom: 3.5px;" />
                <p align="center">@ViewBag.RequestType</p>
                <hr style="margin-bottom: 0.5px;border:1.5px solid black;" />
            }
            <center><h4 style="font-weight: bold;">Descripción Solicitud</h4></center>
            <hr style="margin-top: 0.5px;margin-bottom: 3.5px;" />
            <p align="justify">@ViewBag.RequestDescription</p>
            <hr style="margin-bottom: 0.5px;" />
            <center><h4 style="font-weight: bold;">Descripción Solución</h4></center>
            <hr style="margin-top: 0.5px;margin-bottom: 3.5px;" />
            <p align="justify">@ViewBag.SolutionDescription</p>
            <hr style="margin-bottom: 0.5px;" />
            <center><h4 style="font-weight: bold;">Conversaciones</h4></center>
            <hr style="margin-top: 0.5px;margin-bottom: 3.5px;" />
            <table width="100%" border="1" style="border:1px solid black;">
                <thead>
                    <tr>
                        <th>Fecha/Hora</th>
                        <th>Usuario</th>
                        <th>Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ChatHistory)
                    {
                        <tr>
                            <td>@item.FhCreacion.ToString("dd/MM/yyyy hh:mm tt")</td>
                            <td>@item.Usuario</td>
                            <td>@item.Mensaje</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </section>
    <footer></footer>
</body>
</html>
