﻿@model intra.Models.ViewModel.PaseaProduccion
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Pase a Produccion</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Gill Sans MT Italic', sans-serif;
            color: black;
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 8px !important;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 16%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }


        .estatus_pendiente {
            color:white;
            background:#efb11e;
            padding:6px 10px;
            border-radius:10px;
        }

        .estatus_aprobado {
                 color:white;
            background:#68c249;
            padding:6px 10px;
            border-radius:10px;
        }

        .estatus_cancelado {
                 color:white;
            background:#ee3c3c;
            padding:6px 10px;
            border-radius:10px;
        }

       

        div.firmas > span:nth-child(1){
            width:20%;
            display: inline;
        }

        div.firmas > span:nth-child(2){
            width:60%;
            display: inline;
        }

        .firmantes{
            text-transform: uppercase;
            font-weight:bold;
            text-align:center;
            border-bottom:1px solid#000;
            
        }

        .center-firmas{
            font-size:14pt;
            text-align:center;
            width:50%;
        }

        .cargos{
            font-family: 'Gill Sans MT Italic', sans-serif;
            text-align: center;
            font-style: italic;
        }
        
    </style>
</head>

<body>

    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />
        <div style="position:relative; top:85px;float:right; margin-right: 50px;color: darkgray;">
            <span>
                Estatus:
                @if (Model.EstadoAprobacion == "Pendiente")
                {
                    <span class="estatus_pendiente">@Model.EstadoAprobacion</span>
                }
                else if (Model.EstadoAprobacion == "Aprobado")
                {
                    <span class="estatus_aprobado">@Model.EstadoAprobacion</span>
                }
                else if (Model.EstadoAprobacion == "Cancelado")
                {
                    <span class="estatus_cancelado">@Model.EstadoAprobacion</span>
                }
            </span>
            <br /><br />
            <span>
                Prioridad:
                @if (Model.Prioridad == "Alta")
                {
                    <span class="estatus_cancelado">@Model.Prioridad</span>
                }
                else if (Model.Prioridad == "Media")
                {
                    <span class="estatus_pendiente ">@Model.Prioridad</span>
                }
                else if (Model.Prioridad == "Baja")
                {
                    <span class="estatus_aprobado">@Model.Prioridad</span>
                }
            </span>
        </div>

        <div class="contenedor">
            <div class="cabecera">
                <h1>PROCEDIMIENTO DE PASE A PRODUCCIÓN</h1>
            </div>
            <div class="cuerpo">
                <h2>SOLICITUD DE CAMBIO</h2>
                <hr style="margin-top:-2px;" />
                <span style="position: relative; top:-20px;font-size:15px;">(Describa de forma sencilla las actividades que se realizan para cumplir con el propósito de este cambio o procedimiento.)</span>

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row" style="width:20%;">Asunto:</th>
                            <td>@Model.Asunto</td>
                            <th scope="row" width="15%">Fecha Solicitud:</th>
                            <td width="20%">@Model.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                        </tr>

                        <tr>
                            <th scope="row">Solicitante:</th>
                            <td width="40%;">@Model.Solicitante</td>
                            <th scope="row" width="15%">Aplicación:</th>
                            <td width="20%">@Model.Proyecto</td>
                        </tr>
                        <tr>
                            <th scope="row">Líder:</th>
                            <td>@Model.LiderEquipo</td>
                            <th scope="row" width="15%">Fase del Proyecto:</th>
                            <td width="20%">@Model.FaseProyecto</td>


                        </tr>
                        <tr>
                            <th scope="row">Impacto:</th>
                            <td>@Model.Impacto</td>
                            <th scope="row" width="15%">Riesgo:</th>
                            <td width="20%">@Model.Riesgo</td>
                        </tr>
                        <tr>
                            <th scope="row" width="15%">Areas Implicadas:</th>

                            <td width="20%">
                                <ul>
                                    @foreach (var item in Model.areasImplicadas)
                                    {
                                        <li>@item.AreasImplicadasPaseProduccion.AreasImplicadasDescripcion</li> }
                                </ul>
                            </td>
                            <th scope="row" width="15%">Categorías:</th>
                            <td width="20%">
                                <ul>
                                    @foreach (var item in Model.categoria)
                                    {
                                        <li>@item.CategoriasProduccion.CategoriasProduccionDescripcion</li> }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Razón:</th>
                            <td colspan="4" height="150">@Model.Razon</td>
                        </tr>
                    </tbody>
                </table>

                <h2 style="margin-top:5%;">APROBADO POR: <span style="font-size: 20px;font-style: oblique;">(Firmas del comité de cambios)</span></h2>
                <hr style="margin-top:-2px;" />

                <div style="margin-top:50px;width:100%; height:auto;">
                    <div style="width:70%;float:left;padding: 0 40px 0 0;">
                        <span style="width:20%;font-weight: bold;font-size: 16px;">1. Firma:</span>
                        <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:5px;text-align: center;font-size:15px;font-weight:bold;">@Model.EncargadoDTI</div>
                        <h5 style="font-family: 'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 10px;">DIRECTOR DTI</h5>
                    </div>

                    <div style="width:30%;float:right;">
                        <span style="width:20%;font-weight: bold;font-size: 16px; margin-left:-10px;">Fecha:</span>
                        <div style="width: 80%;float: right; margin:-16px 0 0 10px;display:inline-flex;">
                            @{ var fechaDTI = Model.FechaAprobacionDTI; }
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaDTI!=""? Convert.ToDateTime(fechaDTI).Day.ToString() :"")" />/
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaDTI!=""? Convert.ToDateTime(fechaDTI).Month.ToString() :"")" />/
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaDTI!=""? Convert.ToDateTime(fechaDTI).Year.ToString() :"")" />
                        </div>
                    </div>
                </div>

       
                @if(Model.SubActividadId != 315)
                { 


                <div style="width:100%; height:auto;margin-top:5%;">
                    <div style="width:70%;float:left;padding: 0 40px 0 0;">
                        <span style="width:20%;font-weight: bold;font-size: 14px; ">2. Firma:</span>
                        <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:5px;text-align: center;font-size:15px;font-weight:bold;">@Model.EncargadoDesarrollo</div>
                        <h5 style="font-family: 'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 10px; text-transform:uppercase;">ENCARGADO DESARROLLO SISTEMAS (DSI)</h5>
                    </div>
                    <div style="width:30%;float:right;">
                        <span style="width:20%;font-weight: bold;font-size: 16px; margin-left:-10px;">Fecha:</span>
                        <div style="width: 80%;float: right; margin:-16px 0 0 10px;display:inline-flex;">
                            @{ var fechaDesarrollo = Model.FechaAprobacionDesarrollo; }
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaDesarrollo!=""? Convert.ToDateTime(fechaDesarrollo).Day.ToString() :"")" />/
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaDesarrollo!=""? Convert.ToDateTime(fechaDesarrollo).Month.ToString() :"")" />/
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaDesarrollo!=""? Convert.ToDateTime(fechaDesarrollo).Year.ToString() :"")" />
                        </div>
                    </div>
                </div>


                <div style="margin-top:200px;width:100%; height:auto;">
                    <div style="width:70%;float:left;padding: 0 40px 0 0;">
                        <span style="width:15%;font-weight: bold;font-size: 16px;">3. Firma:</span>
                        <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:5px;text-align: center;font-size:15px;font-weight:bold;">@Model.EncargadoProyecto</div>
                        <h5 style="font-family:'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 10px;">SOPORTE ADMINISTRATIVO II,(DTI)</h5>
                    </div>
                    <div style="width:30%;float:right; margin-top:0px;" >
                        <span style="width:20%;font-weight: bold;font-size: 16px; margin-left:-10px;">Fecha:</span>
                        <div style="width: 80%;float: right; margin:-16px 0 0 10px;display:inline-flex;">
                            @{ var fechaProyecto = Model.FechaAprobacionProyecto; }
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaProyecto!=""? Convert.ToDateTime(fechaProyecto).Day.ToString() :"")" />/
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaProyecto!=""? Convert.ToDateTime(fechaProyecto).Month.ToString() :"")" />/
                            <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaProyecto!=""? Convert.ToDateTime(fechaProyecto).Year.ToString() :"")" />
                        </div>
                    </div>
                </div>
                                }
                                else
                                {
                                    <div style="width:100%; height:auto;margin-top:5%;">
                                        <div style="width:70%;float:left;padding: 0 40px 0 0;">
                                            <span style="width:20%;font-weight: bold;font-size: 16px; ">2. Firma:</span>
                                            <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:5px;text-align: center;font-size:15px;font-weight:bold;">@Model.EncargadoOperaciones</div>
                                            <h5 style="font-family: 'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 10px; text-transform:uppercase;">ENCARGADO DEL ÁREA DE OPERACIONES</h5>
                                        </div>
                                        <div style="width:30%;float:right;">
                                            <span style="width:20%;font-weight: bold;font-size: 16px; margin-left:-10px;">Fecha:</span>
                                            <div style="width: 80%;float: right; margin:-16px 0 0 10px;display:inline-flex;">
                                                @{ var fechaOperaciones = Model.FechaEncargadoOperaciones; }
                                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaOperaciones!=""? Convert.ToDateTime(fechaOperaciones).Day.ToString() :"")" />/
                                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaOperaciones!=""? Convert.ToDateTime(fechaOperaciones).Month.ToString() :"")" />/
                                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaOperaciones!=""? Convert.ToDateTime(fechaOperaciones).Year.ToString() :"")" />
                                            </div>
                                        </div>
                                    </div>



                                    <div style="margin-top:100px;width:100%; height:auto;">
                                        <div style="width:70%;float:left;padding: 0 40px 0 0;">
                                            <span style="width:15%;font-weight: bold;font-size: 16px;">3. Firma:</span>
                                            <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:5px;text-align: center;font-size:15px;font-weight:bold;">@Model.EncargadoSeguridadDTI</div>
                                            <h5 style="font-family:'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 10px;">ENCARGADO DE SEGURIDAD DE LA INFORMACIÓN</h5>
                                        </div>
                                        <div style="width:30%;float:right; margin-top:0px;">
                                            <span style="width:20%;font-weight: bold;font-size: 16px; margin-left:-10px;">Fecha:</span>
                                            <div style="width: 80%;float: right; margin:-16px 0 0 10px;display:inline-flex;">
                                                @{ var fechaSeguridad = Model.FechaEncargadoSeguridadDTI; }
                                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaSeguridad!=""? Convert.ToDateTime(fechaSeguridad).Day.ToString() :"")" />/
                                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaSeguridad!=""? Convert.ToDateTime(fechaSeguridad).Month.ToString() :"")" />/
                                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaSeguridad!=""? Convert.ToDateTime(fechaSeguridad).Year.ToString() :"")" />
                                            </div>
                                        </div>
                                    </div>


                                                    }

                @*<div style="margin-top:280px;width:100%; height:auto;">
                        <div style="width:70%;float:left;padding: 0 40px 0 0;">
                            <span style="width:15%;font-weight: bold;font-size: 16px;">4. Firma:</span>
                            <div style="width: 85%;float: right;border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:15px;font-weight:bold;">@Model.LiderEquipo</div>
                            <h5 style="font-family:'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 0px;">Líder Proyecto</h5>
                        </div>
                        <div style="width:30%;float:right;">
                            <span style="width:20%;font-weight: bold;font-size: 16px;">Fecha:</span>
                            <div style="width: 80%;float: right; margin-top:-20px;display:inline-flex;">
                                @{ var fechaLider = Model.FechaAprobacionLider; }
                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaLider!=""? Convert.ToDateTime(fechaLider).Day.ToString() :"")" />/
                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaLider!=""? Convert.ToDateTime(fechaLider).Month.ToString() :"")" />/
                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaLider!=""? Convert.ToDateTime(fechaLider).Year.ToString() :"")" />
                            </div>
                        </div>
                    </div>*@
                <div style="position: absolute;bottom: 0px; top: 1000px; width:80%; text-align:center;">
                    <p style="font-size: 8pt;">
                        Formulario de control de cambios por la Dirección de Tecnologia de la Informacion, es creado por <b style="color: #0c4ba4;">el área de Proyecto e Implementaciones (PEI)</b> de la <b>(DTI)</b> de
                        la ProcuraduríaGeneral de la Republica (PGR). <b style="color: #0c4ba4;">tecnologíadelainformacion@pgr.gob.do</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>