﻿@model IEnumerable<intra.Models.PaseProduccion.AprobacioneServicios>

@{
    ViewBag.Title = "Solicitudes Pase a Produccion";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
@*<script src="~/Content/js/jQuery.js"></script>*@

<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Solicitudes Pase a Produccion</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">

    </div>
</div>
@Styles.Render("~/datatables/css")

@if (TempData["Reporte"] != null)
{
<script>
    swal(
           'Error',
           'Este reporte  no ha sido Firmado',
           'error'
        )
</script>
}




<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table id="tableGrid" class="table display responsive" cellspacing="0">
        <thead>
            <tr>

                <th>
                    Solicitante
                </th>
                <th>
                    Lider
                </th>
                <th>
                    Aplicación
                </th>
                <th>
                    Fecha Creación
                </th>

                <th>Estado</th>
@if (User.IsInRole("SOL-PASE-PROD(Admin)"))
{
                <th></th>
}
else
{
    <th hidden="hidden"></th>
}
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Solicitante)

                        <input style="display:none;" type="hidden" id="aprobaciones" name="aprobaciones" value="@item.SolicitudId" />
                        <input style="display:none;" type="hidden" id="FechaCreacion" name="FechaCreacion" value="@item.FechaCreacion" hidden="hidden" />
                        <input style="display:none;" type="hidden" id="ApEstatusId" name="ApEstatusId" value="@item.ApEstatusId" hidden="hidden" />
                        <input style="display:none;" type="hidden" id="EmpleadoId" name="EmpleadoId" value="@ViewBag.empleadoId" hidden="hidden" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario)
                    </td>
                    <td>
                        <a href="~/RegistroSolicitud/PaseProduccion?aprobacion=@item.AprobacionesId">
                            @item.Sol_Sub_Actividades.Descripcion
                         </a>                     
                        </td>

                    <td>
                        @item.FechaCreacion.ToString("dd/MM/yyyy")
                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.AprobacionEstatus.DescripcionEstatus)
                    </td>
                    @if (User.IsInRole("SOL-PASE-PROD(Admin)"))
                    {
                    <td>
                        @if (item.EstaFirmada == true)
                        {
                            <input style="display:none;" class="aproba" type="hidden" id="AprobacionesId" name="AprobacionesId" value="@item.AprobacionesId" />

                            <button type="button" id="Aprobar" name="Aprobar" onclick="AprobarProduccion(@item.AprobacionesId)" class="estatus estatus_aprobado" disabled>Aprobado</button>
                        }
                        else

                        {
                            <button type="button" id="Aprobar" name="Aprobar" onclick="AprobarProduccion(@item.AprobacionesId)" class="estatus estatus_informacion"><i class="fa fa-check alejar_icono"></i> Aprobar</button>

                        }
                    </td>
                    }
                    else
                    {
                      
                        <td hidden ="hidden"></td>
                    }
                    <td>
          @if (item.EstaFirmada == true)
                 {
                        <a class="estatus estatus_aprobado" target="_blank" href="@Url.Action("ReportePaseProduccion", "RegistroSolicitud", new { aprobado = item.AprobacionesId })"> Ver reporte</a>
          }
          else
          {
            <a class="estatus estatus_informacion" target="_blank" href="@Url.Action("ReportePaseProduccion", "RegistroSolicitud", new { aprobado = item.AprobacionesId })"> Ver reporte</a>

             @*<button type="button" class="estatus estatus_informacion" target="_blank" disabled="disabled"> Ver reporte</button>*@
              }
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@Scripts.Render("~/datatables/js")
@*<script src="~/JS/jquery-ui.min.js"></script>*@

<script type="text/javascript">

    function AprobarProduccion(aprobacion) {
        
        var button;
     
        swal({

            title: '<i>Desea Aprobar la solicitud?</i>',
            type: 'warning',
            html: '<div><button type="button" id="aplicar" name="aplicar" class="btn button_white">Aprobar</button> ' +
                 '<button type="button" id="cancel" name="cancel" class="btn button_white">Cancelar</button></div> ',
                  //`${$($('.open_report')[0].outerHTML).addClass('btn')[0].outerHTML}`,

            // html:button,
            showConfirmButton: false,
            onOpen: function () {
                $('#aplicar').click(function () {
                    $("#loading-animation-container").show();
                
                    var user = $("#usuario").val();
                    var fecha = $("#FechaCreacion").val();
                    var estado = $("#ApEstatusId").val();
                    var empleado = $("#EmpleadoId").val();
                    var ap = $(".aproba");
                    //var selectValue = [];
                    //for (var i = 0; i < ap.length; i++) {
                    //    if (ap[i].value != "") {
                    //        selectValue.push(ap[i].value);

                    //    }
                    //}
                    var request = $.ajax({
                        url: '@Url.Action("PaseProdu")/' + aprobacion ,

                        type: 'Post',
                        data: {
                            AprobacionesId: aprobacion ,
                            usuario: user,
                            FechaCreacion: fecha,
                            ApEstatusId: estado,
                            EmpleadoId: empleado
                        },
                    });
                    request.done(function (data) {
                        $("#loading-animation-container").hide();
                        if (data.success) {

                            $("#aproved").attr('disabled', true).val('Aprobado');

                            swal(

                                'Aprobada',
                                'Solicitud Aprobada Correctamente',
                                'success'
                            )
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: data.message,
                                type: 'error',
                                confirmButtonColor: '#18212f',
                                confirmButtonText: 'Aceptar'
                            })
                        }
                    }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/RegistroSolicitud/SolicitudesPaseProduccion" })
                });

                $('#cancel').click(function () {
                    swal.close();
                });

                $('#report').click(function () {
                    $('#open_report').click();
                });
            }


        }).then(function () {

            $(document).on('click', "aplicar", function () {

                //$("#aplicar").click(function (){
                alert("Hoooooola");
            })
        })
    }
</script>

<script>
    function cancelacion() {
        this.close();
    }

</script>

<script>
    function cancelarPaseProduccion() {
        swal({
            title: '<i>Desea Aprobar la Cancelar la Solicitud?</i>',
            type: 'warning',
            html: '<div><button type="button" id="Cancelar" name="aplicar" class="btn button_white">Cancelar</button> ' +
                 '<button type="button" id="Salir" name="cancel" class="btn button_white">Salir</button> ',
            showConfirmButton: false,
            onOpen: function () {
                $('#Cancelar').click(function () {
                    var ap = $("#AprobacionesId").val();
                    var request = $.ajax({
                        url: '@Url.Action("CancelarSolicitud")/' + ap,
                        type: 'Post',
                        data: { aprobar: ap }
                    });
                    request.done(function (data) {
                        if (data.success) {
                            swal(

                                    'Cancelada',
                                    'Solicitud Aprobada Correctamente',
                                    'success'
                                )//.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index" })
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: data.message,
                                type: 'error',
                                confirmButtonColor: '#18212f',
                                confirmButtonText: 'Aceptar'
                            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index" })
                        }
                    })

                })

                $('#Salir').click(function () {
                    swal.close();
                });
            }
        })


    }

</script>

<script>

    function Salir() {
        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index";
    }

</script>