﻿@model intra.Noticias

@{
    ViewBag.Title = "Crear Entrada";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    label.error{
    color:red;
    }
</style>


<script src="~/Content/js/jQuery.js"></script>

<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/scripts/jquery-te-1.4.0.js"></script>
<script src="~/scripts/jquery.validate.js"></script>


@using (Html.BeginForm("create","noticias",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section>
   
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2_title_page">Crear Noticias</h2>
                    <hr class="hr2" />
                    <div class="clearfix"></div>
                    <div style="background:#eae8e8;height:75px;border-radius: 8px; padding:8px 10px;margin-bottom: 19px;">
                        <label>Elija el tipo de publicación</label><br />
                        <select style="width: 400px;float: left;" id="TipoUrl" name="TipoUrl" onchange="CambiaUrl()" class="form-control">
                            <option value="0">Seleccione</option>
                            <option value="1">Externa</option>
                            <option value="2">Interna</option>
                        </select>
                        <div class="pull-right">
                            <input type="submit" value="Guardar" class="button_white " />
                            @Html.ActionLink("Volver", "gestorNoticias", null, new { @class = "btn-danger" })
                        </div>
                    </div>
                </div>
         
            </div>
        <div class="row">
            <div class="col-md-12" hidden="hidden" id="Url2">
                <label>Intoducir la URL</label>
                <div>
                    <input type="text" id="url" name="url" class="form-control" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Título</label>
                                <input type="text" name="Titulo" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12"><div class="form-group">
    <label>Cargar Foto</label>
  
        <input type="file" name="file" class="form-control" required="required" />

</div></div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label>   Pie de Foto</label>
                      
                                <input type="text" name="PieImages" value="" class="form-control" />
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"><div class="form-group" id="contenido1">
   <label>Cuerpo de la Noticia</label>

        <input name="__contenido" type="text" class="jqte-test" style="margin: 0!important; border:none;">

 
</div></div>

        </div>

            <div>
          
           

       

            </div>
    
    </section>
}


<script>
	$('.jqte-test').jqte();

	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});

</script>

<script>
$().ready(function() {
        // valida Formulario
        $("form").validate({
            rules: {
                Titulo: "required",
               // __contenido: "required"
                    },
            messages: {
                Titulo: "El Titulo es Requerido",
              //  __contenido: "El Contenido es Requerido"
                      }
        })

});

</script>


<script>
   
        function CambiaUrl(){
            if($("#TipoUrl").val() == "1") {
                $("#Url2").show();
                $("#contenido1").hide();
            }
            else {
                $("#Url2").hide();
                $("#contenido1").show();
            }
        };
</script>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>