﻿@model intra.Noticias
@using System.Globalization;

@{
    ViewBag.Title = "Eliminar Entrada";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro que Desea Borrar Esta Entrada?</h3>
<div>
    <h4>noticias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Titulo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticiaTitulo)
        </dd>
        
        <dt>
            @Html.DisplayName("Imagen")
        </dt>

        <dd>
            <img src="@Model.NoticiaImages" />
        </dd>

        <dt>
            @Html.DisplayName("Pie Imagen")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticiaPieImages)
        </dd>

        <dt>
            @Html.DisplayName("Contenido")
        </dt>

        <dd>
            @Html.Raw(Model.NoticiaCuerpo)
        </dd>

      
             
        <dt>
            @Html.DisplayName("Fecha Creacion")
        </dt>

        <dd>
          @Model.NoticiaFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
