﻿@model intra.Noticias

@{
    ViewBag.Title = "Editar Entradas";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/scripts/jquery-te-1.4.0.js"></script>


@if(Model.NoticiasUrl != "Interna")
{
    <script>
        $(document).ready(function () {
            $("#contenido1").hide();
        })
    </script>
}

@using (Html.BeginForm("edit", "noticias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
 //   <div class="form-horizontal">
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NoticiaId)
        <section>

            <div class="row">
                <div class="col-lg-4">
                    <h2 class="h2_title_page">Editar Noticias</h2>
                    <hr class="hr2" />
                   </div>
                    <div class="col-lg-8">
                        <div class="pull-right">
                            <input type="submit" value="Guardar" class="button_white " />
                            @Html.ActionLink("Volver", "gestorNoticias", null, new { @class = "btn-danger" })
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12"  id="Url2">
                    <label>Intoducir la URL</label>
                    <div>
                        <input type="text" value="@Model.NoticiasUrl" id="url" name="url" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Título</label>
                                <input type="text" name="Titulo" value="@Model.NoticiaTitulo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Cargar Foto</label>
                               <input type="file" name="file" class="form-control"/>
                                </div>

                                <div class="col-md-offset-2 col-md-4">
                                    <img src="@Model.NoticiaImages" name="img" width="100px" height="100px" />
                                </div>

                                @*<input type="file" name="file" class="form-control" required="required" />*@

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>   Pie de Foto</label>

                                <input type="text" name="PieImages" value="@Model.NoticiaPieImages" class="form-control" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="contenido1">
                        <label>Cuerpo de la Noticia</label>

                        <input name="__contenido" type="text" value="@Model.NoticiaCuerpo" id="contenido2" class="jqte-test" style="margin: 0!important; border:none;">


                    </div>
                </div>

  

            <div>

            </div>

        </section>
        }




        @*<div class="form-group">
            @Html.Label("Título", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">              
                <input type="text" name="Titulo" value="@Model.NoticiaTitulo" class="form-control" />
                @Html.ValidationMessageFor(model => model.NoticiaTitulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contenido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input name="__contenido" type="text" value="@Model.NoticiaCuerpo" class="jqte-test">

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cargar Foto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" class="form-control"  required="required"/>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <img src="@Model.NoticiaImages" name="img" width="100px" height="100px" />
            </div>

        </div>

        <div class="form-group">
            @Html.Label("Pie de Foto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                         
                <input type="text" name="PieImages" value="@Model.NoticiaPieImages" class="form-control" />
                @Html.ValidationMessageFor(model => model.NoticiaPieImages, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="button_white " />
                @Html.ActionLink("Cancelar", "gestorNoticias", "noticias", new { @class = "btn-danger" })
            </div>
        </div>
    </div>
}*@



<script>
	$('.jqte-test').jqte();

	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});
</script>