﻿@model IEnumerable<intra.Noticias>
@using System.Globalization;
@{
    ViewBag.Title = "Gestor de Noticias";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />


<style>
    table {
        max-width:100% !important;

    }

    .table>tbody>tr>td{
        padding: 10px !important;
    }

    table a {
        padding-left:0px !important;
        font-size: 12px;
        text-decoration:none !important;
    }
</style>

<section class="row">
    <div class="col-lg-10">
        <h2>Gestor de Noticias</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Entrada", "Create", null, new { @class = "button_white " })
        </p>
    </div>
</section>
<table id="tableGrid" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Titulo")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.cuerpo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.images)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pieImages)
                </th>*@
            <th>
                @Html.DisplayName("Fecha Creacion")
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.NoticiaTitulo ?? " ", "Edit", new { id = item.NoticiaId })
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.cuerpo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.images)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pieImages)
                    </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.fechaCreacion)*@
                    @item.NoticiaFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))
                </td>
                <td>
                    @if(User.IsInRole("NSA") || User.IsInRole("NSWR")) { 
                        @Html.ActionLink("Editar", "Edit", new { id = item.NoticiaId }) 
                    }
                    |
                     @if (User.IsInRole("NSA")) {
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.NoticiaId })
                     }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>
