﻿@*@model IEnumerable<intra.noticias>*@
@using System.Globalization

@model PagedList.IPagedList<intra.Noticias>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Resumen Informativo";

    if (ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

@using PagedList
@if (ViewBag.access == "public_user")
{
    <br />
}

<style>
    .noticias_textos {
        /*padding-top: 20px;*/
    }

        .noticias_textos a {
            text-decoration: none;
        }

        .noticias_textos h1 {
            color: #0c4ba4;
            font-size: 17pt;
            margin: 0 0 15px 0;
            text-transform: uppercase;
        }

        .noticias_textos span blockquote p {
            padding: initial !important;
            margin-bottom: initial !important;
            outline: none !important;
            list-style: none !important;
            border-width: initial !important;
            border-style: none !important;
            border-color: initial !important;
            border-image: initial !important;
            color: initial !important;
            font-family: initial !important;
            font-size: initial !important;
            line-height: initial !important;
            font-style: initial !important;
            text-align: justify !important;
            font-size: 14px !important;
            font-size: 14px !important;
            color: #2b2d2f !important;
            font-weight: initial !important;
            font-family: 'Gill Sans MT' !important;
        }

        .noticias_textos span blockquote {
            padding: initial !important;
            margin-bottom: initial !important;
            outline: none !important;
            list-style: none !important;
            border-width: initial !important;
            border-style: none !important;
            border-color: initial !important;
            border-image: initial !important;
            color: initial !important;
            font-family: initial !important;
            font-size: initial !important;
            line-height: initial !important;
            font-style: initial !important;
            text-align: justify !important;
            font-size: 14px !important;
            font-size: 14px !important;
            color: #2b2d2f !important;
            font-weight: initial !important;
            font-family: 'Gill Sans MT' !important;
        }


        .noticias_textos span {
            padding: initial !important;
            margin-bottom: initial !important;
            outline: none !important;
            list-style: none !important;
            border-width: initial !important;
            border-style: none !important;
            border-color: initial !important;
            border-image: initial !important;
            color: initial !important;
            font-family: initial !important;
            font-size: initial !important;
            line-height: initial !important;
            font-style: initial !important;
            text-align: justify !important;
            font-size: 14px !important;
            font-size: 14px !important;
            color: #2b2d2f !important;
            font-weight: initial !important;
            font-family: 'Gill Sans MT' !important;
            line-height: 22px !important;
        }


        .noticias_textos p, b {
            padding: initial !important;
            margin-bottom: initial !important;
            outline: none !important;
            list-style: none !important;
            border-width: initial !important;
            border-style: none !important;
            border-color: initial !important;
            border-image: initial !important;
            color: initial !important;
            font-family: initial !important;
            font-size: initial !important;
            line-height: initial !important;
            font-style: initial !important;
            text-align: justify !important;
            font-size: 14px !important;
            font-size: 14px !important;
            color: #2b2d2f !important;
            font-weight: initial !important;
            font-family: 'Gill Sans MT' !important;
            line-height: 22px !important;
        }

    .noticias_textos {
    -webkit-box-shadow: -1px 8px 18px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 8px 18px -3px rgba(0,0,0,0.3);
    box-shadow: -1px 8px 18px -3px rgba(0, 0, 0, 0.09);

    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5%;
    padding-bottom: 39px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 5%;
    border: 1px solid#cccccc47;
    line-height: 22px !important;
    }

        .noticias_textos img {
        webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.12);
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.12);
            width: 140%;
            position: absolute;
            top: -40px;
            margin-bottom: 5%;
        }

    .contenido-noticias {
        width: 55%;
        float: right;
        margin-top: 2%;
    }

    .lista-iconos ul li {
        display: inline;
        list-style: none;
    }

    .lista-iconos {
position: absolute;
    /* bottom: -92.5%; */
    left: -36px;
    padding: 0;
    text-align: left;
    /* z-index: 9999; */
    top: 204px;
    }

        .lista-iconos .fa {
            color: #0c4ba4;
            font-size: 13pt;
            padding-left: 11px;
        }

    .btn-ver-mas {
        text-decoration: none;
        color: #0c4ba4;
        font-size: 11pt;
        float: right;
    }
</style>


<section class="row">
    <div class="col-lg-10">
        <h2 class="h2_title_page">Resumen Informativo</h2>
        <hr class="hr2" />
    </div>
    <div class="col-lg-2">

    </div>
</section>


@foreach (var item in Model)
{ 
    <div class="noticias_textos">
        <div class="row">

            <div class="col-md-5">
                <img src="@item.NoticiaImages" class="img-responsive" />
                <div class="lista-iconos">
                    <ul>
                        <li> <i class="fa fa-calendar" aria-hidden="true"></i> 14 de Noviembre 2017</li>
                        <li> <i class="fa fa-eye"></i> 4 vistas</li>
                        <li> <i class="fa fa-user"></i> Eddy Cristian Grull&oacute;n Abreu</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-7 contenido-noticias">
                @if (ViewBag.access == "public_user")
                {
                    <a href="~/noticias/viewNews?id=@item.NoticiaId" alt="Leer Mas">
                        <h1> @item.NoticiaTitulo</h1>
                    </a>
                }
                else
                {
                    <a href="~/noticias/viewNews?id=@item.NoticiaId" alt="Leer Mas">
                        <h1> @item.NoticiaTitulo</h1>
                    </a>
                }


                <span>
                    @if (item.NoticiaCuerpo.Length > 1000)
                    {
                        @Html.Raw(item.NoticiaCuerpo.Substring(0, 900)) <label>...</label>
                    }
                    else
                    {
                        @Html.Raw(item.NoticiaCuerpo)
                    }
                </span>
                <div class="pull-right alejar_top">
                    <a href="~/noticias/viewNews?id=@item.NoticiaId" class="button_white">Ver m&aacute;s +</a>
                </div>
              
            </div>

    
        </div>
    </div>

}


<br />
<div class="pull-right">
    @*Paginador*@
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) De @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>