﻿@model intra.Noticias
@using System.Globalization;

@{
    ViewBag.Title = "Resumen Informativo";


        Layout = "~/Views/intraMaster.cshtml";

}

<style>
    .noticias {  font-family:'Gill Sans MT' !important;  margin-bottom: 15px;}
    .noticias p {
        font-size: 15px !important;
    line-height: 22px;}
</style>

@if(ViewBag.access=="public_user")
{
    <br/>
}
<section class="row">
    <div class="col-lg-8 noticias">
        <div class="noticiasImagen">
            <img src="@Model.NoticiaImages" />
            <h4> @Html.DisplayFor(model => model.NoticiaPieImages)</h4>
        </div>
        <div>
            <h1>@Html.DisplayFor(model => model.NoticiaTitulo)</h1>
            <div class="noticiasFecha">
                <i style="color:#0c4ba4;" class="fa fa-calendar" aria-hidden="true"></i>
                <span style="padding-right:5px;">@Model.NoticiaFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</span>
                <i style="color:#0c4ba4;" class="fa fa-eye" aria-hidden="true"></i> <span style="padding-right:5px;">@Model.NoticiaVistas Vistas</span>
                <i style="color:#0c4ba4;" class="fa fa-user" aria-hidden="true"></i><span> Autor: @ViewBag.Autor</span>
            </div>
            <p>@Html.Raw(Model.NoticiaCuerpo)</p>
            <div class="pull-right alejar_top">
                @Html.ActionLink("+ Más Noticias", "Index", null, new { @class = "button_white" })
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_noticiasContenidoSecundario.cshtml")
    @Html.Action("ListaAvisos", "Avisos")
</section>
