﻿@model intra.Models.Nomina.ArchivoNominaIntranet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />

<h2>Nuevo Archivo de Nómina</h2>

@if (ViewBag.Nomina != null)
{

    <script>
            swal({
                title: 'ERROR',
                text: 'Ya fue digitada una nomina correspondiente a este mes',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

@using (Html.BeginForm("Create", "ArchivoNominaIntranet", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="ArchNomMes" class="control-label col-md-2">Mes</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArchNomMes, new { htmlAttributes = new { @class = "form-control" , @min = "1", @max = "12"} })
                @Html.ValidationMessageFor(model => model.ArchNomMes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="ArchNomAnio" class="control-label col-md-2">Año</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArchNomAnio, new { htmlAttributes = new { @class = "form-control", @min = "2010", @max = DateTime.Now.Year.ToString()} })
                @Html.ValidationMessageFor(model => model.ArchNomAnio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subir archivo</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ArchivoSubido, new { type = "file", multiple = "false", @class = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"xls\",\"xlsx\"]" })
                @Html.ValidationMessageFor(model => model.ArchivoSubido, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ArchNomArchivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArchNomArchivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArchNomArchivo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/scripts/fileinput.min.js"></script>