﻿@model intra.Models.Nomina.ArchivoNominaIntranet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />

<h2>Editar</h2>

@using (Html.BeginForm("Edit", "ArchivoNominaIntranet", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArchNomId)
        @Html.HiddenFor(model => model.Jmnx)

        <div class="form-group">
            <label for="ArchNomMes" class="control-label col-md-2">Mes</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArchNomMes, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.ArchNomMes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="ArchNomAnio" class="control-label col-md-2">Año</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArchNomAnio, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.ArchNomAnio, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewBag.EmptyFile == "Empty")
        {
            <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div_a">
                <center><strong>Este modelo no tiene archivo.</strong></center>
            </div>
        }
        else
        {
            <div class="form-group" style="background-color:#f6f6f6;padding:15px;margin-left:5px;margin-right:5px;" id="file_div">
                <label class="control-label col-md-2">Archivo</label>
                <div class="col-md-10">
                    <a href="@ViewBag.FileSource" target="_blank" download="Nomina-@Model.ArchNomMes-@Model.ArchNomAnio" title="Nomina-@Model.ArchNomMes-@Model.ArchNomAnio"><img src="@ViewBag.IconImage" id="NominaExcelFile" width="100" height="100" /></a>
                    <br />
                    <label>Nomina-@Model.ArchNomMes-@Model.ArchNomAnio</label>
                    <br /><br/>
                    <div>
                        <input type="button" value="Eliminar" class="btn-danger" id="delete_button" />
                    </div>
                </div>
            </div>
        }

        <div class="form-group" id="fileupload_div">
            <label class="control-label col-md-2">Subir archivo</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ArchivoSubido, new { type = "file", multiple = "false", @class = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"xls\",\"xlsx\"]" })
                @Html.ValidationMessageFor(model => model.ArchivoSubido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="div_button_submit">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}

<div id="div_link">
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/scripts/sweetalert2.js"></script>
<script src="~/scripts/fileinput.min.js"></script>
@if (ViewBag.EmptyFile != "Empty")
{
    <script>
    $(document).ready(function () {
        $('#fileupload_div').hide();
        $('#div_button_submit').hide();
    });
    </script>
}
<script>
    $('#delete_button').click(function () {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar este archivo?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            $.ajax({
                url: '@Url.Action("DeleteFile")',
                type: "POST",
                data: { id: +$('#ArchNomId').val() },
                success: function (data) {
                    //Insert success code here
                    if (data == "success") {
                        $('#file_div').html("<center><strong>Ha eliminado el archivo de este modelo. Debe cargar uno nuevo.</strong></center>");
                        $('#fileupload_div').show();
                        $('#div_link').hide();
                        swal("", "Archivo eliminado", "success");
                    } else {
                        swal("", "Ha ocurrido un error", "error");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                }
            });
        }).catch(function () {
            
        });
    });

    $('#ArchivoSubido').change(function () {
        if ($('#ArchivoSubido').val().split('.').pop() == "xls" || $('#ArchivoSubido').val().split('.').pop() == "xlsx") {
            $('#div_button_submit').show();
        }

    });

    //function myConfirmation() {
    //    return 'No ha cargado un archivo ¿Está seguro que desea abandonar la página?';
    //}

    //window.onbeforeunload = myConfirmation;

    //$('body').onunload(function () {
    //    alert()
    //});
</script>
