﻿@model IEnumerable<intra.Models.Nomina.ArchivoNominaIntranet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<section class="row">
    <div class="col-lg-10">
        <h2>Archivos de nómina</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>


<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>Mes</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    @*<td>@Html.DisplayFor(modelItem => item.ArchNomId)</td>*@
                    <td><span style="display:none;">@item.ArchNomAnio@item.ArchNomMes</span>@Html.ActionLink(item.ArchNomMesNombre, "Edit", new { id = item.ArchNomId }) (@item.ArchNomMes)</td>
                    <td>@Html.DisplayFor(modelItem => item.ArchNomAnio)</td>
                </tr>
            }

        }
    </tbody>
</table>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {

        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    });
</script>