﻿<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
			<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
			<title>Intranet PGR</title>
			<link rel="icon" type="image/png" href="favicon.png" />
			<link rel="stylesheet" type="text/css" href="css/style.css">
			<link rel="stylesheet" href="fonts.css" type="text/css" charset="utf-8" />
			<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
			<link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		</head>
	<body data-spy="scroll">
		<section class="container mainConteiner">
			<div class="row">
				<div class="col-lg-12 col-no-padding">
					<header>
						<div class="row">
							<div class="col-lg-2" style="padding-right: 0;">
								<div class="logo">
									<img class="logoImg" style="width: 90%;" src="images/logo.png">
									<img  style="float:right;" src="images/separador.png">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="row">
									<div class="col-lg-4">
										<div class="notificaciones">
									        <a href="#"> 
									        	<i class="fa fa-bell fa-2x"> 
									        		<div class="notificacion">1</div>
									        	</i> 
									        </a>
									        <a href="#"> 
									        	<i class="fa fa-inbox fa-2x">
									        		<div id="notificacionNone" class="notificacion"></div>
									        	</i>
									        </a>   
							   			 </div>
									</div>
									<div class="col-lg-8">
										<div class="user">
											<div>
				    							<ul>
									              <li><h4 style="color:#01339c; margin-bottom:0px; margin-top:0px;">NOMBRE APELLIDO</h4></li> 
									              <li><h5 style="color:#7e7e7e; margin-bottom:0px; margin-top:0px;">DEPARTAMENTO</5></li> 
				               					  <li><i class="fa fa-user fa-1x"></i> 
				               					  	<a href="#" style="color:#7e7e7e; font-size:12px; text-decoration: none;"> Mi Perfil </a>   
				             						<a href="#" style="color:#7e7e7e; font-size:12px; text-decoration: none;">| Cerrar sesión</a></li>       
				           						</ul>
		  										<a href="#"><img src="images/user.png" style="border-width:0px;"></a>
		 									</div>       
										</div>
									</div>
								</div>
							</div>
						</div>
					</header>
					<section>
						<div class="col-lg-2 col-no-padding">
							<div class="leftContent">
							<nav class="navbar navbar-default" role="navigation">
								  <!-- Brand and toggle get grouped for better mobile display -->
								  <div class="navbar-header">
								    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								      <span class="sr-only">Toggle navigation</span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								    </button>
								    <a class="navbar-brand" href="#">MENU</a>
								  </div>

								  <!-- Collect the nav links, forms, and other content for toggling -->
								  <div class="collapse navbar-collapse navbar-ex1-collapse">
								  	<h4 class="navbarInteres">DE INTERÉS</h4>
								    <ul class="nav navbar-nav interesSection">			    
								    	<li><a href="#"><span><hr>NOTICIAS</span></a></li>
								      	<li><a href="#"><span><hr>CALENDARIO</span></a></li>
								      	<li><a href="#"><span><hr>PORTAL INSTITUCIONAL</span></a></li>
								      	<li><a href="#"><span><hr>TRANSPARENCIA</span></a></li>
								    </ul>
								    <h4 class="navbarServicios">SERVICIOS</h4>
								    <ul class="nav navbar-nav serviciosSection">
								    	<li><a href="solicitud.html"><span><hr>SOLICITUD</span></a></li>
								        <li><a href="#"><span><hr>ESTADÍSTICAS</span></a></li>
								        <li><a href="#"><span><hr>AUTORIZACIONES</span></a></li>
								        <li><a href="#"><span><hr>SOLICITADOS</span></a></li>
								        <li><a href="#"><span><hr>ASIGNADOS</span></a></li>
								    </ul>
								   	<h4 class="navbarGestion">GESTIÓN HUMANA</h4>
								    <ul class="nav navbar-nav gestionSection">
								   		<li><a href="#"><span><hr>PERMISOS</span></a></li>
								    	<li><a href="vacaciones.html"><span><hr>VACACIONES</span></a></li>
								      	<li><a href="#"><span><hr>CUMPLE AÑOS</span></a></li>
								    </ul>
								    <div class="sugerencias">
								    	<a href="#" class="typography"> SUGERENCIAS</a>
								    </div>
								    <div class="footer">
									    <img src="images/escudo.png">
									    <p>[ INTRANET ]</p>
									    <p>PROCURADURÍA GENERAL DE LA REPÚBLICA</p>
								    </div>
								  </div><!-- /.navbar-collapse -->
								</nav>
						</div>
						</div>
						<div class="col-lg-10" style="padding-right: 0px; background:#fff;">
							<div class="rightContent">
							<div class="row">
								<div class="col-lg-12" style="padding-left: 0px;">
									<div class="menuDinamico" style="padding:0px;background-color:#f8f8f8;background-image: url(images/bg.gif);background-repeat: repeat;">
										<ul>
											<li><a href="#">Opción 1</a>
												<ul>
													<li><a href="#">Opcion 1.1</a></li>
													<li><a href="#">Opcion 1.2</a></li>
													<li><a href="#">Opcion 1.3</a></li>
													<li><a href="#">Opcion 1.4</a></li>
													<li><a href="#">Opcion 1.5</a></li>
													<li><a href="#">Opcion 1.6</a></li>
												</ul>	
											</li>
											<li><a href="#">Opción 2</a></li>
											<li><a href="#">Opción 3</a>
												<ul>
													<li><a href="#">Opcion 3.1</a></li>
													<li><a href="#">Opcion 3.2</a></li>
													<li><a href="#">Opcion 3.3</a></li>
													<li><a href="#">Opcion 3.4</a></li>
													<li><a href="#">Opcion 3.5</a></li>
													<li><a href="#">Opcion 3.6</a></li>
												</ul>	
											</li>
											<li><a href="#">Opción 4</a></li>
										</ul>
										<div class="arrow-right"></div>
									</div> <!--Menu Dinamico-->
								</div>
							</div>
							<div class="row">
								<div class="col-lg-7"> 
									<ol class="breadcrumb">
									  <li class="breadcrumb-item"><a href="index.html">INICIO</a></li>
									  <li class="breadcrumb-item"><a href="#">SERVICIOS</a></li>
									  <li class="breadcrumb-item active">SOLICITUD</li>
									</ol>
								</div>
								<div class="col-lg-5">
									<h4 class="tituloSeccion">SOLICITUD DE SERVICIO</h4>
								</div>
							</div>
							<hr>	
							<div class="mainContent">
								<div id="contentAnimacion" class="Content" style="padding-right:15px;">
									<h3>Seleccione un Departamento:</h3>
									<select>
										<option>Gestión Humana</option>
										<option>Sistema y Tecnología</option>
									</select>
									<h3>Tipo de servicio:</h3>
										<select>
										<option>Carta de trabajo</option>
										<option>Soporte Técnico</option>
									</select>
									<h3>Descripcion:</h3>
									<textarea></textarea>
									<button class="buttonEnviar">Enviar</button>
									<button class="buttonCancelar">CANCELAR</button>
								</div> <!--contenido principal-->
							</div>
							</div>
						</div>		
					</section>
				</div>
			<div class="row">
				<div class="col-lg-12 footerBig">
						<img src="images/escudo.png">
						<p>[ INTRANET ]</p>
						<p>PROCUTADORIA GENERAL DE LA REPÚBLICA</p>
				</div>
			</div>
		</section> <!--mainContainer-->
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script src="bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script> 
		<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
</body>
</html>