﻿@model intra.Models.GestionHumana.LibroBiblioteca

@{
    ViewBag.Title = "Agregar Libro";
}

<div style="width:100%;">
    @if (TempData["MsjError"] != null)
    {
        <label class="alert alert-warning" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @TempData["MsjError"].ToString()
        </label>
    }
</div>

<h2 class="h2_title_page">Agregar Libro</h2>
<hr class="hr2" />

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/CSS/toggle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/sweetalert2.js"></script>

<style>
    #elemento-http {
        border: 1px solid #38afd5;
        width: 15% !important;
        float: left;
        border-radius: 3px 0 0 3px;
        padding: 7px;
        text-align: center;
        background: #fff;
        margin-right: -3px !important;
        height: 34px;
    }

    #LibroBibliotecaRuta {
        width: 85% !important;
    }

    .hidden-xs {
    display: inline !important;
}

    .input-group-btn > .btn + .btn {
    margin-left: -2px;
    height: 34px;
    width:150px;
}

    .modal-dialog {
    right: auto;
    left: 0 !important;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: red;
}

    .bottom{
        margin-bottom:10px;
    }

</style>

@using (Html.BeginForm("AgregarLibro", "Biblioteca", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-lg-offset-2 col-lg-10" style="text-align:right;">
                <span> @Html.ActionLink("Regresar", "List", new { id = ViewBag.id }, htmlAttributes: new { @class = "btn button_white bottom alejar_top" })</span>


                <span>
                    <input type="submit" value="Agregar Libro" class="btn button_white bottom alejar_top" />
                </span>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.LibroBibliotecaNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LibroBibliotecaNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LibroBibliotecaNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="SeccionBibliotecaId" class="control-label col-md-2">Sección</label>
            <div class="col-md-10">
                @Html.DropDownList("SeccionBibliotecaId", (SelectList)ViewBag.secciones, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeccionBibliotecaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="AutorLBId" class="control-label col-md-2">Autor</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AutorLBId, (SelectList)ViewBag.autores, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AutorLBId, "", new { @class = "text-danger" })
                <button type="button" class="btn button_white" data-toggle="modal" data-target="#myModal">Agregar Autor</button>
            </div>
        </div>

        <div class="form-group">
            <label for="LibroVista" class="control-label col-md-2">Imagen del Libro</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LibroVista, new { type = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\"]" })
                @Html.ValidationMessageFor(model => model.LibroVista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="div-externo" class="form-group">
            <label for="LibroBibliotecaExterno" class="control-label col-md-2">Libro Externo?</label>
            <div class="col-md-10">
                <input for="LibroBibliotecaExterno" name="LibroBibliotecaExterno" class="tgl tgl-skewed" id="cb3" type="checkbox" value="false" />
                <label class="tgl-btn" data-tg-off="No" data-tg-on="Si" for="cb3"></label>
            </div>
        </div>

        <div id="div-archivo" class="form-group">
            <label for="LibroArchivo" class="control-label col-md-2">Subir Libro</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LibroArchivo, new { type = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"pdf\"]" })
            </div>
        </div>

        <div id="div-ruta" class="form-group">
            <label for="LibroBibliotecaRuta" class="control-label col-md-2">Ruta</label>
            <div class="contenedor-input-campo col-lg-10 col-md-10">
                <span id="elemento-http">http://</span>
                @Html.EditorFor(model => model.LibroBibliotecaRuta, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>

}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Autor/AgregarAutorModal.cshtml", new intra.Models.GestionHumana.AutorLibroBiblioteca());
            }
        </div>
    </div>
</div>

<script src="~/scripts/fileinput.min.js"></script>

<script>
    $('#LibroVista').fileinput();
    $('#LibroArchivo').fileinput();
    $('#div-ruta').hide();
    $(document).ready(function () {
        $('#cb3').click(function () {
            if ($(this).val() == "false") {
                $('#div-ruta').show();
                $('#div-archivo').hide();
                $(this).val("true");
            }
            else {
                $('#div-ruta').hide();
                $('#div-archivo').show();
                $(this).val("false");
            }
            //$('#cb3').prop('checked') return boolean
            //alert(jQuery.type( $(this).val() )); return type
        });
    });

    $('#formulario_create').submit(function (ev) {
        if ($('#cb3').val() == "false") {
            if (document.getElementById('LibroArchivo').files.length == 0) {
                swal("", "Debe subir un archivo", "warning");
                ev.preventDefault();
            }
        } else {
            if (is_url(document.getElementById('LibroBibliotecaRuta').value) == false) {
                swal("", "Debe ingresar un link", "warning");
                ev.preventDefault();
            }
        }
    });
    function is_url(str) {
        regexp = /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
        if (regexp.test(str)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>