﻿@model intra.Models.GestionHumana.LibroBiblioteca

@{
    ViewBag.Title = "Editar Libro";
}

<h2 class="h2_title_page">Editar Libro</h2>
<hr class="hr2" />

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/CSS/toggle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/sweetalert2.all.min.js"></script>


<style>
    #elemento-http {
        border: 1px solid #38afd5;
        width: 15%;
        float: left;
        border-radius: 3px 0 0 3px;
        padding: 7px;
        text-align: center;
        margin-right: -3px;
        height: 34px;
        background: #fff;
    }

    #LibroBibliotecaRuta {
        width: 85% !important;
    }

    .hidden-xs {
    display: inline !important;
}

    .input-group-btn > .btn + .btn {
    margin-left: -2px;
    height: 34px;
    width:150px;
}
    
    /*h2 {
    font-family: 'robotoitalic' !important;
    text-transform: uppercase;
    font-size: 19px !important;
    padding-bottom: 6px;
    width: 100%;
    color: red !important;
}
    h2.editar{
        color:#000 !important;
    }*/

    .h2_title_page{
        font-size:21px;
    }

    .date{
        color: #aaa;
        border-radius: 4px; 
        border: 1px solid#aaa;
        padding: 7px;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select:none;
    }
    .image-bg{
        background-color: #014884;
        border-radius: 3px;
    }

    .img-radius {
        border-radius: 5px;
        border: 2px solid#014884;
    }

    .button_white {
    color: #ffffff;
    background-color: #0c4ba4;
    border:none;
    }

    .date {
    color: #aaa;
    background:#f5f5f5;
    border-radius: 4px;
    border: 1px solid#dedede;
    padding: 7px;
    height: 33px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

    .space {
    margin-left: 5px;
}

    .bottom{
        margin-bottom:10px;
    }
    .tgl-skewed + .tgl-btn{
    background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%)!important;}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div >
                        @Html.ActionLink("Regresar", "List", new { id = ViewBag.id }, htmlAttributes: new { @class = " btn button_white pull-right alejar_top space bottom" })
                        <input type="submit" value="Guardar" class="btn button_white pull-right alejar_top space" />
                        <button type="button" id="eliminar" class="btn button_white pull-right alejar_top space">Eliminar</button>
                    </div>

                    
                </div>
            </div>
        </div>
        @using (Html.BeginForm("EditarLibro", "Biblioteca", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.LibroBibliotecaId)

                <div class="form-group">
                    @Html.LabelFor(model => model.LibroBibliotecaNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LibroBibliotecaNombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LibroBibliotecaNombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="SeccionBibliotecaId" class="control-label col-md-2">Sección</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SeccionBibliotecaId, (SelectList)ViewBag.secciones, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SeccionBibliotecaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="AutorLBId" class="control-label col-md-2">Autor</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AutorLBId, (SelectList)ViewBag.autores, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AutorLBId, "", new { @class = "text-danger" })
                        <button type="button" class="btn button_white" data-toggle="modal" data-target="#myModal">Agregar Autor</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="LibroBibliotecaFhCreacion" class="control-label col-md-2">Fecha de Subida</label>
                    <div class="col-md-10">
                        <div class="date">
                            @String.Format("{0:dd/MM/yyyy}", Model.LibroBibliotecaFhCreacion)
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2">Imagen actual</label>
                    <div class="col-md-10">
                        @if (Model.LibroBibliotecaImagen != null)
                {
                            <a href='@Url.Action("DesgarcarImagen")/@Model.LibroBibliotecaId' title="Haz click para descargar la imagen" download="@String.Concat(Model.LibroBibliotecaNombre, ".jpg")">
                                <img src="@Url.Action("DesgarcarImagen", new { id = Model.LibroBibliotecaId})" height="200" class="img-radius" />
                            </a>
                        }
                        else
                        {
                            <img src="~/Content/images/imagen-no-disponible.png" class="image-bg" height="200" />
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label for="LibroVista" class="control-label col-md-2">Elegir otra imagen</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.LibroVista, new { type = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\"]" })
                        @Html.ValidationMessageFor(model => model.LibroVista, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="LibroVista" class="control-label col-md-2">Recurso del Archivo</label>
                    <div class="col-md-10">
                        @if (Model.LibroBibliotecaExterno == false)
                {
                            <a href='@Url.Action("DescargarLibro")/@Model.LibroBibliotecaId' download="@ViewBag.ruta">
                                @*<img  src="~/Content/images/download.png" />*@
                                <img height="70" src="~/Content/images/download.png" />
                            </a>
                        }
                        else
                        {
                            <a href="@("http://" + Model.LibroBibliotecaRuta)">@Model.LibroBibliotecaRuta</a>
                        }
                    </div>
                </div>

                @*<div class="form-group">
                        <label for="LibroVista" class="control-label col-md-2">Tamaño del Libro</label>
                        <div class="col-md-10">
                            @ViewBag.size
                        </div>
                    </div>*@

                <div id="div-externo" class="form-group">
                    <label for="LibroBibliotecaExterno" class="control-label col-md-2">Libro Externo?</label>
                    <div class="col-md-10">
                        <input class="tgl tgl-skewed" id="cb3" type="checkbox" />
                        <label class="tgl-btn" data-tg-off="No" data-tg-on="Si" for="cb3"></label>
                        <input for="LibroBibliotecaExterno" name="LibroBibliotecaExterno" id="LibroBibliotecaExterno" type="hidden" value="@Model.LibroBibliotecaExterno.ToString()" />
                        @*@Html.TextBoxFor(model => model.LibroBibliotecaExterno, new { type = "checkbox" , @class="tgl tgl-skewed" , @id= "cb3" })*@
                    </div>
                </div>

                <div id="div-archivo" class="form-group">
                    <label for="LibroArchivo" class="control-label col-md-2">Subir Libro</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.LibroArchivo, new { type = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"pdf\"]" })
                    </div>
                </div>

                <div id="div-ruta" class="form-group">
                    <label for="LibroBibliotecaRuta" class="control-label col-md-2">Ruta</label>
                    <div class="contenedor-input-campo col-lg-10 col-md-10">
                        <span id="elemento-http">http://</span>
                        @Html.EditorFor(model => model.LibroBibliotecaRuta, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Autor/AgregarAutorModal.cshtml", new intra.Models.GestionHumana.AutorLibroBiblioteca());
            }
        </div>
    </div>
</div>
<script src="~/scripts/fileinput.min.js"></script>
<script>
    $('#LibroVista').fileinput();
    $('#LibroArchivo').fileinput();
    $('#div-ruta').hide();
    if ($('#LibroBibliotecaExterno').val() == "True") { $('#cb3').prop('checked', true); $('#div-ruta').show(); $('#div-archivo').hide(); }
    $(document).ready(function () {
        $('#cb3').click(function () {
            if ($('#LibroBibliotecaExterno').val() == "False") {
                $('#div-ruta').show();
                $('#div-archivo').hide();
                $('#LibroBibliotecaExterno').val("True");
            }
            else {
                $('#div-ruta').hide();
                $('#div-archivo').show();
                $('#LibroBibliotecaExterno').val("False");
            }
            //$('#cb3').prop('checked') return boolean
            //alert(jQuery.type( $(this).val() )); return type
        });
    });

    $(document).ready(function () {
        $('#eliminar').click(function () {
            swal({
                title: 'Estas seguro/a de que quiere eliminar a este libro?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("EliminarLibro")',
                        data: { id: $('#LibroBibliotecaId').val() },
                        success: function (data) {
                            if (data != 'Error') {
                                window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/Biblioteca/List/" + data;
                            } else {
                                swal('Error', 'A ocurrido un error.', 'error');
                            }
                        },
                        error: function (ex) {
                            swal('Error', 'Un error ha ocurrido.', 'error');
                        }
                    });
                }
            })
        });
    })
</script>   