﻿@model IEnumerable<intra.Models.GestionHumana.SeccionBiblioteca>
    

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2 class="h2_title_page">Lista de Secciones</h2>
<hr class="hr2" />

<link href="~/Content/css/fotos.css" rel="stylesheet" />
<link href="~/Content/css/imageviewer.css" rel="stylesheet" />
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/set1.css" rel="stylesheet" />
<style>
    
.grid figure {
        width:450px;
        height:450px;
        /*position:relative;
        clip: rect(50px, 50px, 50px, 50px);*/
        display:flex;
        align-items:center;
        justify-content:center;
    }

.img-size{
    padding:15px;
    width:100%;
    max-width:450px;
}

    .space{
        margin-left:5px;
    }
    .display{
        text-align:center;
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
     }
    .categoria{
        width:83%!important;
        padding: 10px 15px;
        text-transform:uppercase!important;
           }

    /*.grid figure {
    position: relative;
     float: left; 
     overflow: hidden; 
    margin: 10px 1%;
     min-width: 370px; 
     max-width: 480px; 
     max-height: 360px; 
     width: 48%; 
     background: #3085a3; 
    background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
     text-align: center; 
     cursor: pointer; 
     border-radius: 15px; 
     border: 2px solid#ccc; 
     -webkit-box-shadow: 27px 14px 95px -26px rgba(0,0,0,0.45); 
    -moz-box-shadow: 27px 14px 95px -26px rgba(0,0,0,0.45);
    box-shadow: 27px 14px 95px -26px rgba(0,0,0,0.45);
}*/

    
</style>

<div class="row">
    <div class="col-lg-12">

        @if (User.IsInRole("RRHHA"))
        {
            @Html.ActionLink("Administrar Secciones", "Index", "Seccion", null, htmlAttributes: new { @class = "btn button_white pull-right alejar_top space" })
            @Html.ActionLink("Administrar Autores", "Index", "Autor", null, htmlAttributes: new { @class = "btn button_white pull-right alejar_top space" })
        }
    </div>
</div>

@foreach (var item in Model)
{
    <div class="grid col-md-4 display">
        <figure class="effect-zoe ">
            <a href='@Url.Action("List")/@item.SeccionBibliotecaId'>
                @if (item.SeccionBibliotecaImagen != null)
                {
                
                 <img src="@Url.Action("DesgarcarImagen", "Seccion", new { id = item.SeccionBibliotecaId })" class="card-img img-size" href='@Url.Action("List", new { id = item.SeccionBibliotecaId })' />
                
                }
                else
                {<img src="~/Content/images/imagen-no-disponible.png" class="card-img img-size" data-high-res-src="~/Content/images/imagen-no-disponible.png" />}
            </a>
        </figure>
        <div class="">
            @Html.ActionLink(item.SeccionBibliotecaDescripcion, "List", new { id = item.SeccionBibliotecaId } , htmlAttributes : new { @class= "categoria" })
        </div>
        
    </div>
}