﻿@model IEnumerable<intra.Models.GestionHumana.LibroBiblioteca>
<link href="~/Content/css/fotos.css" rel="stylesheet" />
<link href="~/Content/css/imageviewer.css" rel="stylesheet" />
<link href="~/Content/css/demo.css" rel="stylesheet" />
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/set1.css" rel="stylesheet" />


@{
    ViewBag.Title = "Bliblioteca";
    Layout = "~/Views/intraMaster.cshtml";
}


<style>
    .bla {
        font-weight: 200;
    }

    .card-img {
        width: 100%;
        max-width: 150px;
        text-align: center;
        position: absolute;
        clip: rect(0px, 331px, 198px, -25px);

    }

    .icon-links a i {
        color: #848484;
        padding-left: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

        .icon-links a i:hover {
            color: #616161;
        }

    igure.effect-zoe:hover p.icon-links a:hover,
    figure.effect-zoe:hover p.icon-links a:focus {
        background-color: white !important;
    }

    .grid figure {
        height: 190px !important;
        background-image: url('../../Content/images/bg-pgr.jpg');
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

    .effect-zoe {
        display: flex;
        justify-content: center;
        heigth: 100%;
        max-height: 190px !important;
    }

    figcaption span {
        font-size: 16px;
    }

    ul{
        list-style:none;
    }

    ul.icons {
        display: flex;
        justify-content: flex-end;
    }

        ul.icons li {
            margin: 0 5px;
        }

    .btn-download {
        padding: 0 !important;
    }

    .btn-info {
        margin-top: 10px !important;
    }
   
    .description{
        padding-top: 123px!important;
    }

    .display{
        text-align:center;
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        aligg-items:center;
        justify-content:center;
        
     }
</style>



@{
    ViewBag.Title = "List";
}

<h2 class="h2_title_page">@ViewBag.Seccion</h2>
<hr class="hr2">
<div class="row">
    <div class="col-lg-12" style="text-align:right;">
        @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn button_white " })
    @Html.ActionLink("Agregar libro", "AgregarLibro", new { id = ViewBag.id }, htmlAttributes: new { @class = "btn button_white " })
       
    </div>
</div>

<br />
<div class="row cf" id="image-gallery-1">
    <form method="post">
        <input type="hidden" name="AlbumId" id="AlbumId" value="@ViewBag.IdAlbum" />
    </form>

    @foreach (var item in Model)
    {
        <div class="grid col-md-4 display">
            <figure class="effect-zoe">

                @if (item.LibroBibliotecaImagen != null)
                {
                    <img src="@Url.Action("DesgarcarImagen", new { id = item.LibroBibliotecaId })" class="card-img" data-high-res-src="@Url.Action("DesgarcarImagen", new { id = item.LibroBibliotecaId })" />
                }
                else
                {<img src="~/Content/images/imagen-no-disponible.png" class="card-img" data-high-res-src="~/Content/images/imagen-no-disponible.png" />}
                <figcaption>



                    <ul class="icons">

                        @if (User.IsInRole("RRHHA"))
                        {
                            <li> <a href='@Url.Action("EditarLibro", new { id = item.LibroBibliotecaId })'><i class="fas fa-edit" aria-hidden="true"></i></a></li>
                                <li><a class="icon-trash" onclick='EliminarLibro(@item.LibroBibliotecaId)'><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                        }
                        @if (item.LibroBibliotecaExterno == false)
                        {
                            <li>
                                <a class="icon-download" href='@Url.Action("DescargarLibro")/@item.LibroBibliotecaId' download="@item.LibroBibliotecaRuta"><i class="fa fa-download" aria-hidden="true"></i></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@("http://" + item.LibroBibliotecaRuta)" class="btn btn-download"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                            </li>
                        }
                    </ul>


                    <p class="description">Subido:@String.Format("{0:dd/MM/yyyy}", item.LibroBibliotecaFhCreacion)</p>
                </figcaption>
            </figure>
            <div class="categoria">
                <li style="width:100%; text-align:center;"><a href='@Url.Action("VerLibro", new { id = item.LibroBibliotecaId })'>@item.LibroBibliotecaNombre</a></li>

            </div>
        </div>
    }

</div>
<div class="go-top">
    <i class="fas fa-chevron-circle-up"></i>
</div>


<script src="~/scripts/jquery-3.1.0.min.js"></script>
<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script>
    function EliminarLibro(libroId) {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar este libro?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EliminarLibro")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ id:' + libroId + ' }',
                success: function (data) {
                    if (data == "Error") {
                        swal("", "Ha ocurrido un error al eliminar el libro", "error");
                    } else {
                        swal("", "La foto se ha eliminado correctamente", "success")
                            .then(function () {
                                location.reload();
                            });
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error al eliminar el libro", "error");
                }
            });
        });
    }

    // Back to top button//
    $(function () {

        //Scroll event
        $(window).scroll(function () {
            var scrolled = $(window).scrollTop();
            if (scrolled > 50) $('.go-top').fadeIn('2000');
            if (scrolled < 50) $('.go-top').fadeOut('slow');
        });

        //Click event
        $('.go-top').click(function () {
            $("html, body").animate({ scrollTop: "0" }, 500);
        });

    });

</script>

