﻿@model intra.Models.GestionHumana.LibroBiblioteca
<style>
    dt, dd{
        padding:15px 0 5px 0;
    }

    dd{
        border-left: 1px solid#eee;
        padding-left: 30px; 
    }

    dt.definicion{
        color: #38afd5;
        text-transform: uppercase;
    }

    .img-radius{
        border-radius:5px;
        border: 2px solid#014884;
    }

    .image-bg{
        background-color: #014884;
        border-radius: 3px;
    }

    
}
    
</style>



@{
    ViewBag.Title = "Ver Libro";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Ver Libro</h2>

<div>
    <dl class="dl-horizontal">

        <dt class="definicion">Nombre del Libro</dt>
        <dd>@Html.DisplayFor(model => model.LibroBibliotecaNombre)</dd>

        <dt class="definicion">Autor Del Libro</dt>
        <dd>@Html.DisplayFor(model => model.AutorLibroBiblioteca.AutorLBNombre)</dd>

        <dt class="definicion">Sección Del Libro</dt>
        <dd>@Html.DisplayFor(model => model.SeccionBiblioteca.SeccionBibliotecaDescripcion)</dd>

        <dt class="definicion">Imagen</dt>
        <dd>
            @if (Model.LibroBibliotecaImagen != null)
            {
                <a href='@Url.Action("DesgarcarImagen")/@Model.LibroBibliotecaId' title="Haz click para descargar la imagen" download="@String.Concat(Model.LibroBibliotecaNombre, ".jpg")">
                    <img src="@Url.Action("DesgarcarImagen", new { id = Model.LibroBibliotecaId})" class="img-radius" height="200" />
                </a>
            }
            else
            {
                <img src="~/Content/images/imagen-no-disponible.png" class="image-bg" height="200" />
            }
        </dd>

        <dt class="definicion">Fecha Agregada</dt>
        <dd>@Model.LibroBibliotecaFhCreacion.ToString()</dd>

        @if (Model.LibroBibliotecaExterno == false)
        {
        <dt class="definicion">Peso del Libro</dt>
        <dd>@ViewBag.pesodellibro</dd>

        <dt class="definicion">Recurso</dt>
        <dd>
            <a href='@Url.Action("DescargarLibro")/@Model.LibroBibliotecaId' download="@Model.LibroBibliotecaRuta">
                <img height="70" src="~/Content/images/download.png" />
            </a>
        </dd>
        }
        else {
        <dt class="definicion">Recurso</dt>
        <dd><a href="@("http://" + Model.LibroBibliotecaRuta)">@Model.LibroBibliotecaRuta</a></dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "List", new { id = Model.SeccionBibliotecaId } , htmlAttributes: new { @class = " btn btn-info " })
</p>
