﻿@model intra.Models.Votaciones.Hoja

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<h2>Votaciones</h2>

<section class="serviciosSolicitud">
    <div class="panelLoading"></div>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="cedulaEmpleado" name="cedulaEmpleado" value="" placeholder="000-0000000-0" class="form-control">
                    @Html.ValidationMessageFor(model => model.CEDULA, "", new { @class = "text-danger" })
                </div>

            
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Consultar" class="buttonEnviar" id="consultar_boton" />
            </div>
        </div>

    }


</section>
<br/><br /><br />
<table id="table4" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Dependencia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="nombre_empleado" style="color:#000;"></td>
            <td id="localidad" style="color:#000;"></td>
            <td id="procuraduria" style="color:#000;"></td>
        </tr>
    </tbody>
</table>
<script src="~/scripts/sweetalert2.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/maskjs.js"></script>
<script>
    $(document).ready(function () {
        $('#table4').hide();
        $('#cedulaEmpleado').mask('000-0000000-0'); 
    });
</script>
<script>
    $('#consultar_boton').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetHojaInfo")',
            data: { cedula: $('#cedulaEmpleado').val() },
            success: function (data) {
                if (data != "Empty" && data != "Error" && data != null) {
                    $('#nombre_empleado').html(data.PERSONA);
                    $('#localidad').html(data.LOCALIDAD);
                    $('#procuraduria').html(data.PROCURADURIA);
                    $('#table4').show();

                } else {
                    swal("", "No se encontró coincidencias", "warning");
                }
            },
            error: function (ex) {
                swal("", "Ha ocurrido un error", "error");
            }
        });
    });
</script>

