﻿@model intra.Models.GestionHumana.Documentos

@{
    ViewBag.Title = "Programa de Verano";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Boletines de Seguridad</h2>

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Documentos", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_create" }))
{ 
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DocId)*@

        <div class="row">
            <div class="">
                <label>Titulo</label>
                <div>
                    <input type="text" name="DocTitulo" id="DocTitulo" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Subir archivo</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ArchivoVista, new { type = "file", @class = "file", @data_show_upload = "false", @data_allowed_file_extensions = "[\"jpeg\", \"jpg\", \"gif\", \"png\",\"pdf\",\"doc\",\"docx\",\"xls\",\"xlsx\",\"txt\",\"ppt\",\"pptx\",\"zip\" ]" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="button_white" />
            </div>
        </div>
    </div>
}
<script>
    $('#formulario_create').submit(function (ev) {
        if ($('#DocTitulo').val() == "" || $('#DocTitulo').val() == null) {
            swal("", "El campo Descripción es obligatorio", "warning");
            ev.preventDefault();
        }
        else if (document.getElementById('ArchivoVista').files.length == 0) {
            swal("", "Debe subir un archivo", "warning");
            ev.preventDefault();
        }
    });
</script>
<script src="~/scripts/fileinput.min.js"></script>

@*<ul class="nav navbar-nav gestionSection">

    <li>
        <a href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/postImages/Formulario Campamento 2017.pdf" download="Formulario Campamento 2017">
            Formulario Campamento 2017.
        </a>
    </li>


</ul>*@


