﻿@model IEnumerable<intra.Models.GestionHumana.DocumentoGestionHumana>
<link href="~/Content/css/boletines.css" rel="stylesheet" />
@{
    ViewBag.Title = "Boletines de Seguridad";


    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Boletines de Seguridad</h2>

<br />

    <div class="row">
        @foreach (var item in Model) { 

        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="card-img" src="~/Content/images/Seguridad/Foto Boletines de Seguridad.jpg" />
                </div>
                <div class="card-body">
                    <a class="card-title">@item.DocGHArchivoNombre</a>
                    <p class="card-text">@item.DocGHDescripcion</p>

                    @if (item.DocGHExtension == ".pdf")
                    {
                        <a class="btn btn-primary card-button"  href="~/DocumentoGestionHumana/Pdf?DocumentoId=@item.DocGHId" target="_blank">
                            Ver más
                        </a>

                    }
                    else
                    {

                        <a class="btn btn-primary card-button" href='@Url.Action("DownloadFile")/@item.DocGHId' target="_blank" title="@item.DocGHArchivoNombre">
                            Ver más
                        </a>
                    }
                </div>
            </div>
        </div>
        }

     
</div>