﻿@model IEnumerable<intra.Models.GestionHumana.Documentos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Documento
        </th>
        
        <th></th>
    </tr>


    <a href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/Resultado Encuesta MP Intr1..pdf" download="Reporte2Mayo2010">
        Resultado Encuesta MP Intr1..
    </a>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocTitulo)
        </td>
    
        <td>
            @Html.ActionLink("VisualizarDocumento", "VisualizarDocumento", new { id = item.DocId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.DocId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocId })
        </td>
    </tr>
}

</table>
