﻿@model intra.Models.GestionHumana.Documentos

@{
    ViewBag.Title = "VisualizarDocumento";

    if(ViewBag.access=="public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

@if(ViewBag.access=="public_user")
{
    <br/>
}
<h2>Resultados de la Encuesta Climática Laboral</h2>

<br/>

<ul class="nav navbar-nav gestionSection">
    
    <li>
        <a href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/Resultado Encuesta MP Intr1..pdf" download="Reporte2Mayo2010">
            Resultado Encuesta MP Intr1..
        </a>
    </li>

    <li>
        <a href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/Resultado Encuesta Sistema Penitenciario Intr.2.pdf" download="Reporte2Mayo2010">
            Resultado Encuesta Sistema Penitenciario Intr.2
        </a>
    </li>

    <li>
        <a href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/Resultados Encuesta TécnicoAdministrativo Intr.1.pdf" download="Reporte2Mayo2010">
            Resultados Encuesta TécnicoAdministrativo Intr.1
        </a>
    </li>

</ul>


