﻿@model intra.Models.SolicitudModel

@using intra.Models.ViewModel;

@{ 
    List<AreasProduccionVM> areas = ViewBag.AreasImplicadas;
    List <CategoriaProduccioVM> categorias = ViewBag.CategoriasProduccion;
}

@{
    ViewBag.Title = "Solicitud de servicios";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/wickedpicker.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="~/Content/css/wickedpicker.css" />
<link href="~/CSS/jquery-customselect.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
@*<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />*@
<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: #38afd4 !important;
            color: #fff !important;
            width: 300px;
        }

        /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }
</style>
<script>
     $(function () {
            $('.chosen-select').chosen();
            $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        });
    </script>

<div style="width:100%;">
    @if (ViewBag.MSJ != null)
            {
        <label class="alert alert-success" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
            @ViewBag.MSJ
        </label>
    }
    else
    {
        if (Model.MensajeError != null)
        {
            <label class="alert alert-warning" role="alert" style="margin-top:15px; font-size: 12px;width:100%;">
                @Html.DisplayFor(x => x.MensajeError)
            </label>
        }
    }
</div>






@using (Html.BeginForm("Insertrar_Informacion_Servicios", "HelpDesk", FormMethod.Post, new { id = "formulario_solicitud" }))
{

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Solicitar Servicio</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                @*<input id="ActividadesId" name="Actividades" type="hidden" />
                <input id="SubActividadesId" name="SubActividades" type="hidden" />*@
                <span class="button_white">
                    <i class="fa fa-check alejar_icono"></i> <input id="Solicitar" name="Solicitar" type="submit" value="Solicitar Servicio">
                </span>
            </div>
        </div>
    </section>

    <script>

    </script>

    <section class="serviciosSolicitud">
        <h4>Datos del solicitante</h4>
        <div class="row">
            <div class="col-md-4">
                <label>Flota:</label>
                <input type="hidden" value="@TempData["PrimerNombre"]" hidden="hidden" />
                <input type="text" name="Flota" id="Flota" class="form-control text-box" value="@Model.Flota" />

                @if (ViewBag.Confirmed != null)
                {
                    if (ViewBag.Confirmed == false)
                    {
                        <span id="sin_verificar"><label>Dato sin confirmar</label></span>
                        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/success.png" title="Número verificado" width="25" height="25" id="verificado" style="display:none;" />
                    }
                    else
                    {
                        <span id="sin_verificar" style="display:none;"><label>Dato sin confirmar</label></span>
                        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/success.png" title="Número verificado" width="25" height="25" id="verificado" />
                    }
                }

                <input type="hidden" value="yes" id="flotas" />
            </div>

            <div class="col-md-4">
                <label> Extensión:</label>
                <input type="text" name="Extension" id="Extension" class="form-control text-box" value="@Model.Extension" required="required" />
                <input type="hidden" value="yes" id="extension" />
            </div>
            <div class="col-md-4">
                <label>Dependencia regional:</label>
                @Html.DropDownListFor(model => model.CodigoDependencia, new SelectList(Model.ListadoDependenciasRegionales, "DependenciaId", "DependenciaNombre"), "Seleccione", new { id = "select-dependencia-regional" })
            </div>
        </div>


        <h4>Datos de la solicitud</h4>
        <div class="row">

            @if ((Model.CodigoSupervisor == 1) || (Model.CodigoDirector == 1) || (Model.CodigoOtrosTecnicos == 1))
                {
                <div class="col-md-3">
                    <label>Nombres Completos:</label>
                    @Html.DropDownListFor(model => model.CodigoOtrosEmpleados, new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "custom-select", id = "EmpleadoOtrosId" })
                </div>
            }

            <div class="campo-sede-central col-md-3" hidden>
                <label>Solicitud de Servicio a:</label>
                @Html.DropDownListFor(model => model.DepartamentoId, new SelectList(Model.Departamentos, "DepartamentoId", "Descripcion"), "Seleccione", new { id = "DepartamentoId" })
            </div>

            <div class="campo-sede-central col-md-3" hidden>
                <label>Tipo de Solicitud:</label>
                @Html.DropDownList("Actividades", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { id = "ActividadesId" })
            </div>

            <div class="campo-sede-central col-md-3" hidden>
                <label>Servicio Solicitud:</label>
                @Html.DropDownList("SubActividades", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { id = "SubActividadesId" })
            </div>
        </div>

        <div class="row" id="ProyectoProduccion" hidden="hidden">
            <div class="campo-sede-central col-md-2">
                <label>Fase del Proyecto</label>
                <select id="FaseProyecto" name="FaseProyecto">
                    <option value="">Seleccione</option>
                    <option value="Requerimientos">Requerimientos</option>
                    <option value="Desarrollo">Desarrollo</option>
                    <option value="Implementacion">Implementacion</option>
                    <option value="Pruebas de Sistemas">Pruebas de Sistemas</option>
                    <option value="Pruebas de Usuario">Pruebas de Usuario</option>
                </select>
            </div>
            <div class="campo-sede-central col-md-2">
                <label>Riesgo</label>
                <select id="Riesgo" name="Riesgo">
                    <option value="">Seleccione</option>
                    <option value="Alto">Alto</option>
                    <option value="Medio">Medio</option>
                    <option value="Bajo">Bajo</option>
                </select>
            </div>
            <div class="campo-sede-central col-md-2">
                <label>Impacto</label>
                <select id="Impacto" name="Impacto">
                    <option value="">Seleccione</option>
                    <option value="Alto">Alto</option>
                    <option value="Medio">Medio</option>
                    <option value="Bajo">Bajo</option>
                </select>
            </div>
            <div class="campo-sede-central col-md-3">
                <label>Areas Implicadas</label>
                <select data-placeholder="Areas Implicadas" class="form-control chosen-select" multiple tabindex="4" name="AreasImplicadas" id="AreasImplicadas">
                   @foreach (var item in areas)
                   {
                       <option value="@item.AreaId">@item.AreasDescripcion</option>
                   }
               </select>
               </div>

            <div class="campo-sede-central col-md-3">
                <label>Categorias</label>

                <select  data-placeholder="CategoriasProduccion" class="form-control chosen-select ancho" multiple tabindex="4" name="CategoriasProduccion" id="CategoriasProduccion">
                    @foreach (var item in categorias)
                    {
                        <option value="@item.CategoriaId">@item.CategoriaDescripcion</option>
                    }
                </select>

            </div>

        </div>
   


        <div class="row" hidden="hidden" id="solicitudes">
            <div class="campo-sede-central col-md-4">
                <label>Prioridad</label>
                <select id="Prioridad" name="Prioridad">
                    <option value="">Seleccione</option>
                    <option value="Alta">Alta</option>
                    <option value="Media">Media</option>
                    <option value="Baja">Baja</option>
                </select>
            </div>
            <div class="col-lg-8">
                <label>Solicitante</label>
                @Html.DropDownList("Solicitante", new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select ancho", id = "Solicitante" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 textarea">
                <label>Descripción de la Solicitud:</label>
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "textareafull", @required = "true" })
            </div>
        </div>
    </section>
}
<div id="contenedorFormulario" style="display:none">
    <div id="solicitudEspacios">
        @{
            Html.RenderPartial("~/Views/Eventos/SolicitudEspacios.cshtml", (intra.Models.Eventos)ViewBag.Evento);
        }
    </div>
    <div id="coberturaPrensa">
        @{
            Html.RenderPartial("~/Views/Eventos/CoberturaPrensa.cshtml", new intra.Models.Eventos());
        }
    </div>
    <div id="montajeEventos">
        @{
            Html.RenderPartial("~/Views/Eventos/MontajeEventos.cshtml", new intra.Models.Eventos());
        }
    </div>
</div>
<script src="~/JS/jquery-1.11.0.min.js"></script>

<script>
    $("#select-dependencia-regional").change(function () {
        var dependenciaId = + $(this).val();

        if (dependenciaId == 1) {
            $(".campo-sede-central").show();
        }
        else {
            $(".campo-sede-central").hide();
        }
    });
</script>

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/datepicker.js"></script>
<script src="~/scripts/wickedpicker.min.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/JS/jquery-customselect.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
@*<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />*@

<script>

    $("#ActividadesId").change(function () {
        var actividad = +$(this).val();

        if(actividad == "1020" || actividad == 35)
            {
            $("#ProyectoProduccion").show();
            $("#solicitudes").show();

        }
        else
        {
            $("#ProyectoProduccion").hide();
            $("#solicitudes").hide();
        }
        })

</script>

<script>
    $('#EmpleadoOtrosId').change(function () {
        $.ajax({
            url: '@Url.Action("CargarFlotaExtension")',
            type: 'POST',
            data: { id: $('#EmpleadoOtrosId').val() },
            success: function (data) {
                if(data!='Error')
                {
                    $('#Flota').val(data.flota);
                    $('#Extension').val(data.extension);

                    if (data.flota_verificada == false) {
                        $('#sin_verificar').show();
                        $('#verificado').hide();
                    } else {
                        $('#sin_verificar').hide();
                        $('#verificado').show();
                    }
                }
            }
        });
    });

    $('#formulario_solicitud').submit(function () {
         if ($('#Extension').val() == "" || $('#Extension').val() == null) {
            $("#extension_flota").val("Campo requerido");
        } else {
            return;
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        @*$('#Flota').val(@Model.Flota);
    $('#Extension').val(@Model.Extension);*@

    $('#Flota').mask("999-999-9999");

    $('#terminosCondiciones1').hide();
    $('form button[type="submit"]').prop("disabled", true);
    $("#tc1").click(function () {
        if ($(this).prop("checked") == true) {
            $("#terminosCondiciones1").show();
            $('form button[type="submit"]').prop("disabled", false);

        }
        else if ($(this).prop("checked") == false) {
            $("#terminosCondiciones1").hide();
            $('form button[type="submit"]').prop("disabled", true);
        }
    });

    $('#terminosCondiciones2').hide();
    $('form button[type="submit"]').prop("disabled", true);
    $("#tc2").click(function () {
        if ($(this).prop("checked") == true) {
            $("#terminosCondiciones2").show();
            $('form button[type="submit"]').prop("disabled", false);

        }
        else if ($(this).prop("checked") == false) {
            $("#terminosCondiciones2").hide();
            $('form button[type="submit"]').prop("disabled", true);
        }
    });

    $('#terminosCondiciones3').hide();
    $('form button[type="submit"]').prop("disabled", true);
    $("#tc3").click(function () {
        if ($(this).prop("checked") == true) {
            $("#terminosCondiciones3").show();
            $('form button[type="submit"]').prop("disabled", false);

        }
        else if ($(this).prop("checked") == false) {
            $("#terminosCondiciones3").hide();
            $('form button[type="submit"]').prop("disabled", true);
        }
    });

    });


</script>
<!--Manejo de los Terminos-->
<!--Manejo de las fecha y hora de los formularios -->
<script type="text/javascript">
    $(document).ready(function () {
        //<!-- solicitud de espacios-->
        $("#Sol_EventoFhInicio1").datepicker({

            dateFormat: 'dd/mm/yy'

        });
        $("#Sol_EventoFhFinal2").datepicker({

            dateFormat: 'dd/mm/yy',

        });
        $("#Sol_horario1").wickedpicker();
        $("#Sol_horario2").wickedpicker();
        //<!--  Cobertura de Prensa-->
        $("#Cob_EventoFhInicio1").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Cob_EventoFhFinal2").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Cob_horario1").wickedpicker();
        $("#Cob_horario2").wickedpicker();
        //<!--  Montaje de eventos-->
        $("#Mont_EventoFhInicio1").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Mont_EventoFhFinal2").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Mont_horario1").wickedpicker();
        $("#Mont_horario2").wickedpicker();

    });
</script>
<script type="text/javascript">
    $(function () {
        $("#DepartamentoId").change(function () {
            var departamentoId = $("#DepartamentoId").val();

            var url = '@(HttpRuntime.AppDomainAppVirtualPath)/HelpDesk/GetActividades';

            //console.log(url);

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: departamentoId },
                success: function (data) {
                    console.log(data);
                    var actividades = data;
                    $("#ActividadesId").empty();
                    $("#ActividadesId").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>')
                    //$.each(data, function (i, actividades) {
                    //    $("#ActividadesId").append('<option value="' + actividades.Value + '">' + actividades.Text + '</option>')
                    //})
                    for (var i in actividades) {
                        var actividad = actividades[i];
                        console.log(actividad.Text);

                        $("#ActividadesId").append('<option value="' + actividad.Value + '">' + actividad.Text + '</option>');
                    }
                }
            });
        });

        $("#ActividadesId").change(function () {

            var url = '@(HttpRuntime.AppDomainAppVirtualPath)/HelpDesk/GetSubActividades'

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: $("#ActividadesId").val() },
                success: function (data) {
                    $("#SubActividadesId").empty();
                    $("#SubActividadesId").append('<option value="' + 0 + '">' + "Seleccionar" + '</option>')
                    $.each(data, function (i, Subactividades) {
                        $("#SubActividadesId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                    })
                }

            });
        });

        $('#ActividadesId').change(function () {
            if ($(this).val() != 0) {
                $('#ActividadesId').val($(this).val());
            }
            $('#solicitudEspacios').hide();
            $('#coberturaPrensa').hide();
            $('#montajeEventos').hide();
        });

        $('#SubActividadesId').change(function () {
            if ($(this).val() != 0) {
                $('#SubActividadesId').val($(this).val());

            }

            if ($("#ActividadesId option:selected").html() == "SOLICITUD DE ESPACIOS") {
                $("#TipoEvento option").hide();
                $('#TipoEvento option[value="0"]').show();
                $('#TipoEvento option[value="0"]').prop("selected", "true");
                $("#TipoEvento option.clase_" + $("#SubActividadesId").val() + "").show();
                $('#TipoEvento option[value="0"]').show();
            }
            if
                ($("#ActividadesId option:selected").html() == "COBERTURA DE PRENSA") {
                $("#TipoEvento option").hide();
                $('#TipoEvento option[value="0"]').show();
                $('#TipoEvento option[value="0"]').prop("selected", "true");
                $("#TipoEvento option.clase_" + $("#SubActividadesId").val() + "").show();
                $(".CheckCob").hide();
                $(".claseCob_" + $("#SubActividadesId").val() + "").find("input[type=checkbox]");
                $(".claseCob_" + $("#SubActividadesId").val() + "").show();

            }
            if ($("#ActividadesId option:selected").html() == "MONTAJE DE EVENTOS") {
                $("#TipoEvento option").hide();
                $('#TipoEvento option[value="0"]').show();
                $('#TipoEvento option[value="0"]').prop("selected", "true");
                $("#TipoEvento option.clase_" + $("#SubActividadesId").val() + "").show();
                $(".CheckCobMontaje").hide();
                $(".claseCobM_" + $("#SubActividadesId").val() + "").find("input[type=checkbox]");
                $(".claseCobM_" + $("#SubActividadesId").val() + "").show();
            }
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#solicitudEspacios').hide();
        $('#coberturaPrensa').hide();
        $('#montajeEventos').hide();
        // cambia el formulario por cada vez que se selecciona una de las subActividades//
        $("#DepartamentoId").change(function () {
            if ($("#DepartamentoId").val() == 37) {
                $("#contenedorFormulario").show();
                $("#Solicitar").hide();
            } else {
                $("#contenedorFormulario").hide();
                $('#solicitudEspacios').hide();
                $('#coberturaPrensa').hide();
                $('#montajeEventos').hide();
                $("#Solicitar").show();
            }
        });
        //Llama al formulario de Solicitud de espacios//
        $('#SubActividadesId').change(function () {
            $('#solicitudEspacios').hide();
            $('#coberturaPrensa').hide();
            $('#montajeEventos').hide();
            if ($('#SubActividadesId').val() == 174 || $('#SubActividadesId').val() == 177 || $('#SubActividadesId').val() == 178 || $('#SubActividadesId').val() == 1132 || $('#SubActividadesId').val() == 1135 || $('#SubActividadesId').val() == 1136) {
                setTimeout(function () {
                    $('#solicitudEspacios').show();
                    $('#coberturaPrensa').hide();
                    $('#montajeEventos').hide();
                }, 75);

            } if
            //Llama al formulario de Cobertura de Prensa//
            ($('#SubActividadesId').val() == 179 || $('#SubActividadesId').val() == 175 || $('#SubActividadesId').val() == 180 || $('#SubActividadesId').val() == 1137 || $('#SubActividadesId').val() == 1133 || $('#SubActividadesId').val() == 1138) {
                setTimeout(function () {
                    $('#solicitudEspacios').hide();
                    $('#coberturaPrensa').show();
                    $('#montajeEventos').hide();
                }, 75);
            }  //Llama al formulario de Montaje de eventos//
            if ($('#SubActividadesId').val() == 181 || $('#SubActividadesId').val() == 182 || $('#SubActividadesId').val() == 176 || $('#SubActividadesId').val() == 1139 || $('#SubActividadesId').val() == 1140 || $('#SubActividadesId').val() == 1134) {
                setTimeout(function () {
                    $('#solicitudEspacios').hide();
                    $('#coberturaPrensa').hide();
                    $('#montajeEventos').show();
                }, 75);
            }
        })

    })
</script>
<script type="text/javascript">
    $(function () {
        $("#EmpleadoOtrosId").customselect();

    });
</script>
<script>
 $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>
