﻿@model intra.Models.RolesUsuarios.Roles

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <div class="row">
            <div class="col-lg-8">
                <h4>Roles</h4>
            </div>
            <div class="col-lg-4">
                <span class="pull-right">
                    @Html.ActionLink("Volver", "Index", null,  new { @class = "btn button_white" })
                    <input type="submit" value="Create" class="btn button_white" />
                </span>
            </div>
        </div>
        <div class="row alejar_top">
            <div class="col-lg-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RolNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RolNombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RolNombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RolDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RolDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RolDescripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GrupoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("GrupoId", (SelectList)ViewBag.Grupos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GrupoId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>    
        </div>
       


   
}


