﻿@model intra.Models.RolesUsuarios.Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RolNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RolDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
