﻿@model intra.Models.ViewModel.TipoSolicitudVM

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<style>
    .fila {
        color: #70707a !important;
        font-family: 'Gill Sans MT' !important;
    }

    .ui-widget-content a {
        color: #337ab7;
    }

    .CambiarEstado:hover {
        text-decoration: none;
        cursor:pointer;
    }

    #loading-animation-container {
        display: none;
    }

    .dl-horizontal dt {
        width: 145px;
        margin-top: 0.5%;
    }
    /*TABS NUEVOS*/
    .ui-widget-header {
        border: none !important;
        background: transparent !important;
        color: #222;
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 1.5em;
        text-decoration: none;
    }


    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #fff !important;
        text-decoration: none;
    }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #03607e !important;
        text-decoration: none;
        background-color: #53c7ed;
        font-weight: 500 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #2a9abe;
        background: #38afd5;
        font-weight: normal;
        color: #fff !important;
    }

    /*TABS*/
    .card {
        margin-top: 20px;
        padding: 30px 0;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            /*text-align: center;*/
        }

            .card.hovercard .card-background {
                height: 130px;
            }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard .useravatar {
        /*position: absolute;*/
        top: 15px;
        left: 0;
        right: 0;
    }

    .card.hovercard .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
    }

        .card.hovercard .card-info .card-title {
            padding: 0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .card.hovercard .card-info {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }

    .btn:active, .btn-primary {
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        color: #fff;
    }

    .btn-default:hover {
        background: #eee;
        border: 1px solid #999;
    }

    .well {
        border: none;
        background: transparent
    }

    dd {
        /* background: #eee; */
        color: #999;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        line-height: 2em;
        font-weight: bold;
    }
</style>

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

<div class="col-md-6">
    <h2 class="h2_title_page" style="padding-left: 0;">@Model.Actividad.Descripcion</h2>
    <hr class="hr2" style="width: 60%!important;">
</div>

<div class="col-md-6" style="padding-top: 4%; text-align: right;">
    @if (User.IsInRole("ASOL"))
    {
        @Html.ActionLink("Editar Solicitud", "EditarTipoSolicitud", new { id = Model.Actividad.ActividadId }, new { @class = "button_white" })
    }
    @Html.ActionLink("Volver", "Index", null, new { @class = "button_white" })
</div>
@Styles.Render("~/datatables/css")

@* TABS DE SERVICIOS *@

<div class="col-lg-12 col-sm-12" style="padding:0;">
    <div class="card hovercard">
        <div class="useravatar">
            <div>
                <input type="hidden" id="ActividadId" value="@Model.Actividad.ActividadId" />
                <input type="hidden" id="DepartamentoId" value="@Model.Actividad.DepartamentoId" />
                <dl class="dl-horizontal">

                    <dt>
                        Departamento
                    </dt>

                    <dd>
                        @Model.Actividad.Departamento.Descripcion
                    </dd>
                    <dt>
                        Supervisor ID
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Actividad.SupervisorId)
                    </dd>

                    <dt>
                        Supervisor
                    </dt>

                    <dd>
                        @ViewBag.encargado
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Actividad.Correo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Actividad.Correo)<text>@@pgr.gob.do</text>
                    </dd>

                    <dt>
                        Fecha de Creación
                    </dt>

                    <dd>
                        @Model.Actividad.Fhcreacion.ToString("dd/MM/yyyy")
                    </dd>

                </dl>
            </div>
        </div>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">SERVICIOS DE SOLICITUD</a></li>
            <li><a href="#tabs-2">TECNICOS ALTERNATIVOS</a></li>

        </ul>

        <div id="tabs-1">
            <div class="tab-pane fade in active" id="tab1">
                <div class="row pull-right alejar_top">
                    <button class="button_white" id="modal">Agregar Servicio</button>
                </div>
                <table class="table display responsive nowrap tableGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Servicios de Solicitud
                            </th>
                            <th>
                                Fecha de Creación
                            </th>
                            <th>
                                Estado
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Actividad.SubActividades)
                        {
                            <tr class="fila">
                                <td>
                                    @Html.ActionLink(item.Descripcion, "EditarServicioSolicitud", new { id = item.SubActividadId })
                                </td>
                                <td>
                                    @item.FhCreacion.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <a class="CambiarEstado" onclick="CambiarEstadoServicio(@item.SubActividadId)">@(item.Estado == true ? "Activo" : "Inactivo")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <div id="tabs-2">
            <div class="tab-pane fade in" id="tab2">
                <div class="row pull-right alejar_top">
                    <button class="button_white" id="modal2">Agregar Tecnico</button>
                </div>

                <table class="table display responsive nowrap tableGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Nombre Del Técnico
                            </th>
                            <th>
                                Código de Empleado
                            </th>
                            <th>
                                Fecha de Asignacion
                            </th>
                            <th>
                                Estado del Tecnico
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Tecnicos)
                        {
                            <tr class="fila">
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    @item.Codigo
                                </td>
                                <td>
                                    @item.FhCreacion.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <a class="CambiarEstado" onclick="CambiarEstadoTecnico(@item.TecnicoID)">@(item.Estado == true ? "Activo" : "Inactivo")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/TipoSolicitudes/ServicioSolicitudModal.cshtml", new intra.Sol_Sub_Actividades());
            }
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/TipoSolicitudes/TecnicoAlternativoModal.cshtml", new intra.Sol_Tecnicos_Alternativos());
            }
        </div>
    </div>
</div>
@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>
<script>

    var AnimacionCarga = $("#loading-animation-container");

    $("#tabs").tabs();

    $('#modal').click(function () {
        $('#myModal').modal();
    });

    $('#modal2').click(function () {
        $('#myModal2').modal();
    });

    $('#btnAgregarTecnico').click(function () {

        if ($('#TecnicoId').val() != "") {
            AnimacionCarga.show();
            $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/TecnicosAlternativos/CreateJson",
            method: "POST",
            data: { actividadId: $('#ActividadId').val(), tecnicoId: $('#TecnicoId').val() },
            success: function (result) {
                if (result == "Guardado") {
                    success(result);
                } else {
                    error(result);
                }
            },
            error: function (ex) {
                error("Ha ocurrido un error")
            }
            });

        } else {
            AnimacionCarga.hide();
            swal("","Ingrese un Tecnico","info")
        }
    });

    function CambiarEstadoTecnico(id) {
        CambiarEstado(id, "tecnico");
    }

    function CambiarEstadoServicio(id) {
        CambiarEstado(id, "servicio");
    }

    function CambiarEstado(id, objeto) {

        var texto = "";

        if (objeto == "tecnico") {
            texto = "Estas seguro/a de que quiere cambiar el estado de este tecnico?";
        } else {
            texto = "Estas seguro/a de que quiere cambiar el estado este servicio?";
        }

        var link = "";

        if (objeto == "tecnico") {
            link = "@Url.Action("CambiarEstadoTecnico", "TecnicosAlternativos")/"+id;
        } else {
            link = "@Url.Action("CambiarEstado")/"+id;
        }

        swal({
            title: texto,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Cambiar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            AnimacionCarga.show();
            $.ajax({
                method: 'POST',
                url: link,
                success: function (data) {
                    if (data == 'Activado') {
                        success(data);
                    } else if (data == 'Desactivado') {
                        success(data);
                    } else if (data == 'Incambiable') {
                        error('Este es el unico servicio activo de esta solicitud, no se puede desactivar');
                    } else {
                        error('A ocurrido un error, refresque la pagina y trate otra vez.');
                    }
                },
                error: function (ex) {
                    error('Un error ha ocurrido.');
                }
            });
        })
    }

    function success(mensaje) {
        AnimacionCarga.hide();
        swal({
            title: mensaje,
            type: 'success',
            confirmButtonText: 'OK'
        }).then(function () {
            location.reload();
        })
    }
    function error(mensaje) {
        AnimacionCarga.hide();
        swal('Error', mensaje, 'error');
    }

</script>