﻿@model intra.Sol_Sub_Actividades

@{
    ViewBag.Title = "Editar Servicio";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .btn-info, .button_white, .btn-primary, .btn-danger, btn-back {
        margin-bottom: 3px;
    }

    .form-control > .form-control {
        width: 100%;
    }

    .form-horizontal {
        padding: 0 20%;
    }

    #loading-animation-container {
        display: none;
    }
</style>

<div class="col-md-12" style="margin-bottom: 2%;">
    <h2 class="h2_title_page">Editar Servicio</h2>

    <hr class="hr2"/>
</div>

<script src="~/scripts/sweetalert2.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SubActividadId)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (User.IsInRole("ASOL"))
        {

            <div class="form-group">
                @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.departamentos, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

        }

        @if (User.IsInRole("ASOL"))
        {

            <div class="form-group">
                @Html.Label("Tipo de Solicitud", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="actividades" class="form-control"></select>
                </div>
            </div>

        }

        <div class="form-group">
            @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                @if (User.IsInRole("ASOL"))
                {
                    <input type="button" value="Guardar" id="btnGuardarServicio" class="button_white" style="margin-bottom: 3px;"/>
                }
                else
                {
                    <input type="button" value="Guardar" id="btnGuardar" class="button_white" style="margin-bottom: 3px;" />
                }

                @Html.ActionLink("Volver", "Detalles", new { id = Model.ActividadId }, new { @class = "button_white", @style = "margin-left: 2%;" })
            </div>
        </div>
    </div>
}

    <script>

$(document).ready(function () {

    var AnimacionCarga = $("#loading-animation-container");

    CargarActividades(@Model.DepartamentoId);

    function CargarActividades(id) {

        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/TipoSolicitudes/GetActividades",
            method: "post",
            data: { DepartamentoId: id },
            success: function (actividades) {
                $('#actividades').html("");
                $('#actividades').append('<option value> ----- Seleccione La Actividades ----- </option>');
                $.each(actividades, function (i, actividad) {
                    $('#actividades').append('<option value="' + actividad.Value + '">' + actividad.Text + '</option>');
                });
                $('#actividades option[value=@Model.ActividadId]').attr('selected', 'selected');
            }
        });
    }

    $("#DepartamentoId").change(function () {
        CargarActividades($("#DepartamentoId").val());
    });

    $("#btnGuardarServicio").click(function () {

        AnimacionCarga.show();
        $.ajax({
            url: '@Url.Action("EditarServicioSolicitud")',
            data: { id: $("#SubActividadId").val(), actividadId: $("#actividades").val(), departamento: $("#DepartamentoId").val(), descripcion: $("#Descripcion").val() },
            dataType: 'json',
            method: 'POST',
            success: function (result) {
                if ($.isNumeric(result)) {
                    AnimacionCarga.hide();
                    swal({
                        title: "Guardado",
                        type: 'success',
                        confirmButtonText: 'OK'
                    }).then(function () {
                        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/TipoSolicitudes/Detalles/"+result;
                    })

                } else {
                    AnimacionCarga.hide();
                    swal(result,"","error");
                }
            },
            error: function (ex) {
                AnimacionCarga.hide();
                swal("", "Ha ocurrido un error", "error");
            }
        });
    });

    $("#btnGuardar").click(function () {
        AnimacionCarga.show();
        $.ajax({
            url: '@Url.Action("EditarServicioSolicitud")',
            data: { id: $("#SubActividadId").val(), descripcion: $("#Descripcion").val() },
            dataType: 'json',
            method: 'POST',
            success: function (result) {
                if ($.isNumeric(result)) {
                    AnimacionCarga.hide();
                    swal({
                        title: "Guardado",
                        type: 'success',
                        confirmButtonText: 'OK'
                    }).then(function () {
                        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/TipoSolicitudes/Detalles/" + result;
                        })

                } else {
                    AnimacionCarga.hide();
                    swal(result,"","error");
                }
            },
            error: function (ex) {
                AnimacionCarga.hide();
                swal("", "Ha ocurrido un error", "error");
            }
        });
    });
});

    </script>