﻿@model intra.Sol_Actividades

@{
    ViewBag.Title = "Editar Tipo Solicitud";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .btn-info, .button_white, .btn-primary, .btn-danger, btn-back {
        margin-bottom: 4px;
    }

    .btn-volver{
        margin-left: 2%;
    }

    .form-control > .form-control {
        width: 100%;
    }

    .form-horizontal {
        padding: 0 20%;
    }
    #loading-animation-container {
        display: none;
    }

</style>

<script src="~/scripts/sweetalert2.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ActividadId)

    <div class="col-md-12" style="margin-bottom: 2%;">
        <h2 class="h2_title_page">Editar Solicitud</h2>
        <hr class="hr2">
    </div>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.departamentos, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Código del Encargado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupervisorId, new { htmlAttributes = new { @class = "form-control" } })
                @*<input type="text" id="SupervisorId" name="SupervisorId" form="SupervisorId" placeholder="Código" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre del Encargado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SupervisorId, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" disabled id="NombreEncargado" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Correo del Encargado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.Editor(model => model.SupervisorId, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" disabled id="CorreoEncargado" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } }) 
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Guardar" id="btnGuardarTipoSolicitud" class="button_white" style="margin-bottom: 3px;"/>
                @Html.ActionLink("Volver", "Detalles", new { id = Model.ActividadId }, new { @class = "button_white", @style= "margin-left: 2%;" })
            </div>
        </div>
    </div>
}

    <script>

    var AnimacionCarga = $("#loading-animation-container");

    GetEncargado($("#SupervisorId").val());

    function GetEncargado(id) {

        $.ajax({
            url: '@Url.Action("GetEmpleado")',
            data: { codigoEmpleado: id },
            dataType: 'json',
            method: 'POST',
            success: function (data, status, xhr) {
                $("#NombreEncargado").val(data.displayName);
                $("#CorreoEncargado").val(data.samAccountName +"@@pgr.gob.do");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log('Error' + errorMessage);
            }
        });

    }

    $("#SupervisorId").on("blur", function () {
        GetEncargado($("#SupervisorId").val());
    });

    $("#btnGuardarTipoSolicitud").click(function () {
        AnimacionCarga.show();
        $.ajax({
            url: '@Url.Action("EditarTipoSolicitud")',
            data: { id: $("#ActividadId").val(), supervisorId: $("#SupervisorId").val(), departamento: $("#DepartamentoId").val(), descripcion: $("#Descripcion").val() },
            dataType: 'json',
            method: 'POST',
            success: function (result) {
                if ($.isNumeric(result)) {
                    AnimacionCarga.hide();
                    swal({
                        title: "Guardado",
                        type: 'success',
                        confirmButtonText: 'OK'
                    }).then(function () {
                        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/TipoSolicitudes/Detalles/" + result;
                        })
                } else {
                    AnimacionCarga.hide();
                    swal(result,"","error");
                }
            },
            error: function (ex) {
                AnimacionCarga.hide();
                swal("", "Ha ocurrido un error", "error");
            }
        });
    });

    </script>