﻿@model IEnumerable<intra.Sol_Actividades>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

    <style>
        .fila {
            color: #70707a !important;
        }

        .btn-crear {
            line-height: 2em;
            margin: 2% 0;
        }
    </style>
@Styles.Render("~/datatables/css")

@if (User.IsInRole("ASOL")) {
    <div class="btn-crear pull-right">
        @Html.ActionLink("Crear Tipo de Solicitud", "CrearTipoSolicitud", null, new { @class = "button_white" })
    </div>
}

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>
                Descripción
            </th>
            <th>
                Encargado
            </th>
            <th>
                Correo
            </th>
            <th>
                Departamento
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="fila">
                <td>
                    @Html.ActionLink(item.Descripcion, "Detalles", new { id = item.ActividadId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupervisorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)<text>@@pgr.gob.do</text>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/datatables/js")