﻿<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }

</style>

@model intra.Sol_Sub_Actividades

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Nuevo Servicio</h2>

@using (Html.BeginForm("AgregarServicioModal", "Sol_Sub_Actividades", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin:0;">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin: 0;">
                <div class="col-md-12">
                    @Html.Label("Servicio de la Solicitud", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="button" id="btnGuardarServicio" value="Agregar" class="btn btn-default button_white" style="margin-left: 2%;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <script>

    $('#btnGuardarServicio').click(function () {

        if ($('#Descripcion').val() != "") {
            AnimacionCarga.show();
            $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/TipoSolicitudes/CrearServicioSolicitud",
            method: "POST",
            data: { actividad: $('#ActividadId').val(), departamento: $('#DepartamentoId').val(), descripcion: $('#Descripcion').val() },
            success: function (result) {
                if (result == "Valido") {
                    success("Guardado");
                } else {
                    error(result);
                }
            },
            error: function (ex) {
                error("Ha ocurrido un error");
            }

            });

        } else {
            swal("","Ingrese un Servicio","info")
        }
    });
    </script>