﻿@model IEnumerable<intra.Sol_Sub_Actividades>

@{
    ViewBag.Title = "Lista de Sub-Actividades";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .fila {
        color: #70707a !important;
    }
</style>

<h2>Sub-Actividades</h2>

<p>
    @Html.ActionLink("Create New", "CrearSubActividad", null, new {@class = "button_white" })
</p>
@Styles.Render("~/datatables/css")

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="fila">
                <td>
                    @Html.ActionLink(item.Descripcion, "EditarSubActividad", new { id = item.SubActividadId })
                </td>
            </tr>
        }
    </tbody>

</table>
@Scripts.Render("~/datatables/js")