﻿<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>NUEVO TECNICO</h2>

@using (Html.BeginForm("AgregarTecnicoAlternativoModal", "Sol_Tecnicos_Alternativos", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="margin: 0;">

                <div class="form-group" style="margin: 0;">
                    <div class="col-md-12">
                        @Html.Label("Código del Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="TecnicoId" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin:0;">
                    <div class="col-md-12">
                        @Html.Label("Nombre del Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" disabled id="Nombre" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin:0;">
                    <div class="col-md-12">
                        @Html.Label("Correo del Tecnico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" disabled id="Correo" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="button" id="btnAgregarTecnico" value="Agregar" class="btn btn-default button_white" style="margin-left: 4%;"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

    <script>

    function GetTecnico(id) {

        $.ajax({
            url: '@Url.Action("GetEmpleado","TipoSolicitudes")',
            data: { codigoEmpleado: id },
            dataType: 'json',
            method: 'POST',
            success: function (data, status, xhr) {
                $("#Nombre").val(data.displayName);
                $("#Correo").val(data.samAccountName +"@@pgr.gob.do");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log('Error' + errorMessage);
            }
        });

    }

    $("#TecnicoId").on("blur", function () {
        GetTecnico($("#TecnicoId").val());
    });
    </script>