﻿
@{
    ViewBag.Title = "Asignadas";
    Layout = "~/Views/intraMaster.cshtml";
}
>
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
<script src="~/scripts/chartJS/chartist-plugin-threshold.min.js"></script>
<script src="~/scripts/chartJS/chartist-plugin-threshold.js"></script>
<script src="~/scripts/chartJS/Chart.min.js"></script>
<script src="~/scripts/chartist-bar-labels.js"></script>
<link href="~/Content/css/estadisticas/flat-admin.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/chartist.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/graficoAnimado.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/servicios-tabs.css" rel="stylesheet" />
<script src="~/scripts/chartJS/chartist-plugin-axistitle.js"></script>
<script src="~/scripts/chartJS/chartist-plugin-axistitle.min.js"></script>
<script type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>
<script type="text/javascript"> ruta = "@ViewBag.ruta";</script>
<script src="~/JS/Estadistica.js"></script>

<script type="text/javascript">
     arrayDatosGraficaCategoria1 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica1){<text> datosAsignadGrafica1 = '@a.Nombre'; arrayDatosGraficaCategoria1.push(datosAsignadGrafica1); </text> }
    arrayDatosGrafica1 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica1){<text> datosAsignadGrafica1 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica1.push(datosAsignadGrafica1); </text> }
    arrayDatosGraficaCategoria2 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica2){<text> datosAsignadGrafica2 = '@a.Nombre'; arrayDatosGraficaCategoria2.push(datosAsignadGrafica2);</text> }
    arrayDatosGraficaData2 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica2){<text> datosAsignadGrafica2 = { value: '@a.TiempoMinuto' }; arrayDatosGraficaData2.push(datosAsignadGrafica2);</text> }

</script>
<div style="background-color:#eaedf1 !important; margin:-15px;">
    <div style="margin-left:10px; margin-right:10px; background-color:#fff !important">
        <h2><strong>Asignadas</strong></h2>
        <div id="tab-container">
            <input type="hidden" id="nombreVista" value="EstadisticaFiltroAsignadas" />
            <h4 style="padding-top:13px; margin-left:8px; border:none; float:left; text-transform:uppercase; color:#ffffff; font-family:'robotobold' !important;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Estadísticas de servicios</h4>
            <ul>
                <li><a href="~/EstadisticaAvanzadas/ValorHoras">Valor / Horas</a></li>
                <li><a href="~/EstadisticaAvanzadas/gerencias">Gerencias</a></li>
                <li class="selected"><a style="color:#fff; font-weight:bold;" href="~/EstadisticaAvanzadas/asignadas">Asignadas</a></li>
                <li><a href="~/EstadisticaAvanzadas/cantidades">Cantidades</a></li>
            </ul>
            <div class="row grafica" style="margin-bottom:13px;">
                <div class="col-lg-12">
                    <div class="card card-banner card-chart card-blue">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Servicios de los:Últimos 7 Días</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div></div>
        <div class="form" style="background-color:#2b2d2f; width:100%">
            <h2 style="font-size:15px !important; padding-top:6px; margin-left:28px; width:220px; border:none; float:left; text-transform:uppercase; color:#ffffff; font-family:'robotobold' !important;">Seleccione por Gerencia</h2>@Html.DropDownList("dropDownDept", "Seleccionar")
        </div><br />
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Asignadas</div>
        <div id="contenidoEstadistica">
            <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Asignadas abiertas hace 7 dias</div>
            <div id="Chart1"></div><br /><br />
            <div style="width:8%" class="buttonEnviar" id="reportAsignaUltimaSemanaAbiertas"><a href="~/ReportesEstadisticos/reportAsignaUltimaSemanaAbiertas">Reportes</a></div><br />
            <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Asignadas Cerradas hace 7 dias</div>
            <div id="Chart2" style="background-color:#fff;"></div><br />
            <div style="width:8%" class="buttonEnviar" id="reportAsignaUltimaSemanaCerradas"><a href="~/ReportesEstadisticos/reportAsignaUltimaSemanaCerradas">Reportes</a></div>
            <input type="hidden" id="nombreVista" value="EstadisticaFiltroAsignadas" />
        </div>
        </div>
    </div>

        <script src="~/JS/Graficas-AsignadasGerencias.js"></script>
