﻿@model intra.Models.TiempoRespuesta
@{
    ViewBag.Title = "AutocompleteSuggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/Content/Chossen/chosen.jquery.min.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<h2>AutocompleteSuggestions</h2>

@using(Html.BeginForm())

