﻿@model intra.Models.TiempoRespuesta

@{
    ViewBag.Title = "Cantidades";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<style>
     .swal2-title {
         text-align: center;
     }

     .serviciosSolicitud select {
         width: 500px !important;
         text-transform: capitalize;
         font-size: 12px;
     }

     .dropdown[type="select"] {
         padding: 5px;
         border-radius: 3px;
         border: solid 1px #4BBCE3;
         margin-bottom: 5px !important;
         vertical-align: middle;
         width: 500px !important;
         text-transform: capitalize;
         font-size: 12px;
     }


  


     .dropdown {
         padding: 5px;
         border-radius: 3px;
         /*border: solid 1px #4BBCE3;*/
         margin-bottom: 5px !important;
         vertical-align: middle;
         width: 500px !important;
         text-transform: capitalize;
         font-size: 12px;
     }

     input[type=file] {
         padding: 5px;
         border-radius: 3px;
         border: solid 1px #4BBCE3;
         margin-bottom: 5px !important;
         vertical-align: middle;
         width: 250px !important;
         text-transform: capitalize;
         font-size: 12px;
     }

     .ct-bar {
         stroke-width: 15px;
     }

     .form-horizontal .control-label{
         text-align: left;
         margin-bottom: 8px;
         margin-left: 5px;
     }



    .btn-info {
         color: #5bc0de;
         background-color: white;
         border-color: #46b8da;
     }
     /*.ct-series-b .ct-bar {
     transform: translateY(-10px);
     }*/

     /* Diseño de los "Tabs" de los graficos */
     .ui-widget-header {
        border: none !important;
        background: transparent !important;
        color: #222;
        font-weight: bold;
        }
     .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 1.5em;
        text-decoration: none;
        }

    
    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #fff !important;
        text-decoration: none;
        }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #03607e !important;
        text-decoration: none;
        background-color: #53c7ed;
        font-weight: 500 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #2a9abe;
        background: #38afd5;
        font-weight: normal;
        color: #fff !important;
    }
    
</style>
<script>

        $(function  () {
            $("#tabs").tabs()
        });

        $(function () {
            $("#tabs").tabs({
                select:
                    function (event, ui) {

                        return CheckSomething();
                    },

                show:
                    function (event, ui) {
                        //do some stuff
                    }
            });


        });


</script>

<h2 class="h2_title_page">Estadisticas de servicios</h2>
<hr class="hr2" />
<div class="clearfix"></div>

<!-- Trigger the modal with a button -->
<button type="button" style="display:none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="background-color:none;opacity:0.0;">

        <!-- Modal content-->
        <div class="modal-content" style="background-color:none">
            <div class="modal-header" style="background-color:none;opacity:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color:none;opacity:1;">
            </div>
            <div class="modal-footer" style="background-color:none;opacity:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <center><img src="~/Content/images/gif_intranet_loading.gif" width="200" height="200" /></center>
</div>


@using (Html.BeginForm("Estadistica", "EstadisticaAvanzada", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_cantidades" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!--Aqui van los dos dropdown-->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="DependienciaId" class="control-label col-md-12">Dependencia</label>
                    <div class="col-md-12">
                        @Html.DropDownList("DependenciaId", (SelectList)ViewBag.Dependencias, "Seleccione", htmlAttributes: new { @class = "chosen-select from-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="ActividadId" class="control-label col-md-12">Tipo de Servicio</label>
                    <div class="col-md-12">
                        @Html.DropDownList("ActividadId", (SelectList)ViewBag.TipoServicios, null, htmlAttributes: new { @class = "chosen-select form-control" })
                        @*@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="SubActividadId" class="control-label col-md-12">Área de Servicio</label>
                    <div class="col-md-12">
                        @Html.DropDownList("SubActividadId", (SelectList)ViewBag.AreaServicios, null, htmlAttributes: new { @class = "chosen-select form-control" })
                        @*@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="seltecnico" class="control-label col-md-12">Responsable</label>
                    <div class="col-md-12">
                        <select class="chosen-select form-control" id="seltecnico">
                            <option value="0" selected="selected">Seleccione</option>
                            @foreach (var itemResponsable in ViewBag.responsable)
                            {
                                <option value="@itemResponsable.TecnicoId">@itemResponsable.NombreCompleto</option>
                            }
                        </select>
                        @*@Html.DropDownList("TecnicoId",(SelectList)ViewBag.responsable,"Responsable", htmlAttributes: new {@class="form-control dropdown"})*@
                        @*@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="selsolicitante" class="control-label col-md-12">Solicitante</label>
                    <div class="col-md-12">
                        <select class="chosen-select form-control" id="selsolicitante">
                            <option value="0" selected="selected">Seleccione</option>
                            @foreach (var item in ViewBag.solicitante)
                            {
                                <option value="@item.SolicitanteId">@item.NombreCompleto</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="EstadoId" class="control-label col-md-12">Estado</label>
                    <div class="col-md-12">
                        @Html.DropDownList("EstadoId", (SelectList)ViewBag.EstadoSolicitud, null, htmlAttributes: new { @class = "chosen-select form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fecha1" class="control-label col-md-12">Fecha Inicio</label>
                    <div class="col-md-12">
                        <input type="text" id="fecha1" name="fecha1" placeholder="Fecha Inicial" class="date-picker fechaEstadisticas form-control" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="fecha2" class="control-label col-md-12">Fecha Fin</label>
                    <div class="col-md-12">
                        <input type="text" id="fecha2" name="fecha2" placeholder="Fecha Final" class="date-picker fechaEstadisticas form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <input type="button" value="Buscar" class="button_white " id="cargar_graficos" />
                <input type="button" value="Imprimir Reporte" class="buttonAceptar btn-info" id="imprimir_reporte" />
            </div>
        </div>
    

        <div style="margin-top:20px;">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">GRAFICA POR ESTADO</a></li>
                    <li><a href="#tabs-2">GRAFICA POR TIEMPO EXCEDIDO</a></li>
                    <li><a href="#tabs-3">TOTAL SOLICITUDES</a></li>

                </ul>

                <div id="tabs-1">
                    <div id="chart-container" style="overflow:auto; resize:both; height:400px">
                        <canvas id="canvas" height="400px"></canvas>
                    </div>

                </div>

                <div id="tabs-2">

                    <div id="chart-container2" style="overflow:auto; resize:both; height:400px">
                        <canvas id="canvas2" height="400px"></canvas>
                    </div>

                </div>

                <div id="tabs-3">
                    <div id="chart-container3" style="overflow:auto; resize:both; height:400px">
                        <canvas id="canvas3" height="400px"></canvas>
                    </div>

                </div>
            </div>
        </div>



        @*<div id="chart-container" style="overflow:auto; resize:both; height:400px">
            <canvas id="canvas" height="400px"></canvas>
        </div>
        <br />
        <div id="chart-container2" style="overflow:auto; resize:both; height:400px">
            <canvas id="canvas2" height="400px" ></canvas>
        </div>
        <br />
        <div id="chart-container3" style="overflow:auto; resize:both; height:400px">
            <canvas id="canvas3" height="400px"></canvas>
        </div>*@
    </div>
        <br />
}



<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/chart_js/Chart.bundle.min.js"></script>
<script src="~/scripts/select2/select2.full.min.js"></script>
<script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
<!--document.ready-->
<script>
    var data = null;
    var data2 = null;
    var data3 = null;

    var x = null;

    $(document).ready(function () {
        //var dependenciaId = $('#DependenciaId').val("1");

        $('#ActividadId').val("0");
        $('#SubActividadId').val("0");
        $('#EstadoId').val("0");

        $('#chart-container').hide();
        $('#chart-container2').hide();
        $('#chart-container3').hide();

        $('#imprimir_reporte').hide();
        $('#tabs').hide()

        //$('.chosen-select').chosen();

        $("#ActividadId").change(function () {
            $("[data-target=\"#myModal\"]").click();

            $("#SubActividadId").html("");
            $("#SubActividadId").append("<option value='0'>Seleccione</option>");


            if ($("#ActividadId").val() != '') {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeTipoServicio")',
                    data: { tecnicoId: $("#seltecnico").val(), tipoSolicitud: $("#ActividadId").val() == '' ? 0 : $("#ActividadId").val(), solicitanteId: $("#selsolicitante").val() },
                    success: function (states) {

                            $.each(states, function (i, states) {

                                $("#SubActividadId").append('<option value ="' + states.Value + '">' +
                                    states.Text + '</option>');
                            });

                    },
                    error: function (ex) {
                        // alert('No puede cargar los datos: ' + ex);
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeResponsable")',
                    data: { tipo_servicio: $('#ActividadId').val() == "" ? "0" : $('#ActividadId').val(), area_servicio: "0", dependencia: "0" },
                    success: function (states) {
                        $('#seltecnico').html("");

                        $('#seltecnico').append("<option value='0'>Seleccione</option>")

                        $.each(states, function (i, states) {
                            $("#seltecnico").append('<option value ="' + states.Codigo + '">' +
                                    states.NombreCompleto + '</option>');
                        });
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangeSolicitante")',
                    data: { tipo_servicio: $('#ActividadId').val() == "" ? "0" : $('#ActividadId').val(), area_servicio: "0", tecnico_id : "0" },
                    success: function (states) {
                        $('#selsolicitante').html("");

                        $('#selsolicitante').append("<option value='0'>Seleccione</option>")

                        $.each(states, function (i, states) {
                            $("#selsolicitante").append('<option value ="' + states.Codigo + '">' +
                                    states.NombreCompleto + '</option>');
                        });
                    }
                });
            }

            $("[data-dismiss=\"modal\"]").click();
        });
        //cambio de item Dependencia dropdownlist



        $('#SubActividadId').change(function () {
            $("[data-target=\"#myModal\"]").click();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeResponsable")',
                data: { tipo_servicio: $('#ActividadId').val() == "" ? "0" : $('#ActividadId').val(), area_servicio: $('#SubActividadId').val() == "" ? "0" : $('#SubActividadId').val(), dependencia: "0" },
                success: function (states) {
                    $('#seltecnico').html("");

                    $('#seltecnico').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#seltecnico").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeSolicitante")',
                data: { tipo_servicio: $('#ActividadId').val() == "" ? "0" : $('#ActividadId').val(), area_servicio: $('#SubActividadId').val() == "" ? "0" : $('#SubActividadId').val(), tecnico_id: "0" },
                success: function (states) {
                    $('#selsolicitante').html("");

                    $('#selsolicitante').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#selsolicitante").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });

            $("[data-dismiss=\"modal\"]").click();
        });

        $('#seltecnico').change(function () {
            $("[data-target=\"#myModal\"]").click();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeSolicitante")',
                data: { tipo_servicio: $('#ActividadId').val() == "" ? "0" : $('#ActividadId').val(), area_servicio: $('#SubActividadId').val() == "" ? "0" : $('#SubActividadId').val(), tecnico_id: $('#seltecnico').val() == "" ? "0" : $('#seltecnico').val() },
                success: function (states) {
                    $('#selsolicitante').html("");

                    $('#selsolicitante').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#selsolicitante").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });

            $("[data-dismiss=\"modal\"]").click();
        });

        /*First chart*/
        var chart = $('#canvas');

        var colors = {
            "red": "rgba(255, 0, 0, .75)",
            "orange": "rgb(255, 159, 64)",
            "yellow": "rgb(255, 205, 86)",
            "green": "rgb(75, 192, 192)",
            "blue": "rgb(54, 162, 235)",
            "purple": "rgb(153, 102, 255)",
            "grey": "rgb(201, 203, 207)"
        };

        var horizontalBarChartData = {
           
            labels: ["", "", ""],
          
            datasets: [{
                label: '',
                backgroundColor: colors.red,
              //backgroundColor: Chart.helpers.color(colors.red).alpha(0.75).rgbString(),
                data: [0, 0, 0],

            },
            {
                label: '',
                backgroundColor: colors.blue,
                //backgroundColor: Chart.helpers.color(colors.red).alpha(0.75).rgbString(),
                data: [0, 0, 0],
            },
            {
                label: '',
                backgroundColor: colors.green,
                //backgroundColor: Chart.helpers.color(colors.red).alpha(0.75).rgbString(),
                data: [0, 0, 0],
            },
            {
                label: '',
                backgroundColor: colors.yellow,
                //backgroundColor: Chart.helpers.color(colors.red).alpha(0.75).rgbString(),
                data: [0, 0, 0],
             
            }
            ]
        };

        window.myHorizontalBar = new Chart(chart, {
            type: 'horizontalBar',
            data: horizontalBarChartData,

            options: {
                elements: {
                    rectangle: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                legend: {
                    position: 'right',
                },
             
                title: {
                    display: true,
                    text: 'Por estado'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        /*Second chart*/
        var chart2 = $('#canvas2');

        var colors2 = {
            "red": "rgba(255, 0, 0, .75)",
            "orange": "rgb(255, 159, 64)",
            "yellow": "rgb(255, 205, 86)",
            "green": "rgb(75, 192, 192)",
            "blue": "rgb(54, 162, 235)",
            "purple": "rgb(153, 102, 255)",
            "grey": "rgb(201, 203, 207)"
        };

        var horizontalBarChartData2 = {
            labels: ["", "", ""],
            datasets: [{
                label: '',
                backgroundColor: colors2.grey,
                //backgroundColor: Chart.helpers.color(colors.red).alpha(0.75).rgbString(),
                data: [0, 0, 0]
            }]
        };

        window.myHorizontalBar2 = new Chart(chart2, {
            type: 'horizontalBar',
            data: horizontalBarChartData2,

            options: {
                elements: {
                    rectangle: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                legend: {
                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Por tiempo excedido (en horas)'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        /*Third chart*/
        var chart3 = $('#canvas3');

        var colors3 = {
            "red": "rgba(255, 0, 0, .75)",
            "orange": "rgb(255, 159, 64)",
            "yellow": "rgb(255, 205, 86)",
            "green": "rgb(75, 192, 192)",
            "blue": "rgb(54, 162, 235)",
            "purple": "rgb(153, 102, 255)",
            "grey": "rgb(201, 203, 207)"
        };

        var horizontalBarChartData3 = {
            labels: ["", "", ""],
            datasets: [{
                label: '',
                backgroundColor: colors2.orange,
                //backgroundColor: Chart.helpers.color(colors.red).alpha(0.75).rgbString(),
                data: [0, 0, 0]
            }]
        };

        window.myHorizontalBar3 = new Chart(chart3, {
            type: 'horizontalBar',
            data: horizontalBarChartData3,

            options: {
                elements: {
                    rectangle: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                legend: {
                    position: 'right'
                },
                title: {
                    display: true,
                    text: 'Total solicitudes'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        padding: 120
                    }]
                }
            }
        });

        $('#cargar_graficos').click(function () {
            $("[data-target=\"#myModal\"]").click();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStatistics")',
                data: {
                    applicant: $('#selsolicitante').val(),
                    responsible: $('#seltecnico').val(),
                    state: $('#EstadoId').val(),
                    service_type: $('#ActividadId').val(),
                    service_area: $('#SubActividadId').val(),
                    begin_date: $('#fecha1').val(),
                    end_date: $('#fecha2').val(),
                    dependency: $('#DependenciaId').val()
                },
                success: function (states) {
                    //swal("", "Se han cargado los datos. Revise la consola", "success");

                    $('#chart-container').show();
                    $('#chart-container2').show();
                    $('#chart-container3').show();

                    x = states;

                    /*First chart*/
                    var names = new Array(x[0].length);

                    for (var i = 0; i < x[0].length; i++) {
                        names[i] = x[0][i].name;
                    }

                    window.myHorizontalBar.chart.config.data.labels = names;

                    for (var i = 0; i < window.myHorizontalBar.chart.config.data.datasets.length; i++) {

                         data = new Array(x[0].length);
                        if (i == 0) {
                            for (var j = 0; j < data.length; j++) {
                                data[j] = x[0][j].pending;
                            }

                            window.myHorizontalBar.chart.config.data.datasets[i].data = data;
                            window.myHorizontalBar.chart.config.data.datasets[i].label = 'Pendientes';
                        } else if (i == 1) {
                            for (var j = 0; j < data.length; j++) {
                                data[j] = x[0][j].closed;
                            }

                            window.myHorizontalBar.chart.config.data.datasets[i].data = data;
                            window.myHorizontalBar.chart.config.data.datasets[i].label = 'Cerrados';
                        } else if (i == 2) {
                            for (var j = 0; j < data.length; j++) {
                                data[j] = x[0][j].canceled;
                            }

                            window.myHorizontalBar.chart.config.data.datasets[i].data = data;
                            window.myHorizontalBar.chart.config.data.datasets[i].label = 'Cancelados';
                        } else if (i == 3) {
                            for (var j = 0; j < data.length; j++) {
                                data[j] = x[0][j].pending_evaluation;
                            }

                            window.myHorizontalBar.chart.config.data.datasets[i].data = data;
                            window.myHorizontalBar.chart.config.data.datasets[i].label = 'Evaluaciones Pendientes';
                        }
                    }

                    window.myHorizontalBar.update();

                    /*Second chart*/
                    var names2 = new Array(x[1].length);

                    for (var i = 0; i < x[1].length; i++) {
                        names2[i] = x[1][i].name;
                    }

                    window.myHorizontalBar2.chart.config.data.labels = names2;

                    data2 = new Array(x[1].length);

                    for (var j = 0; j < data2.length; j++) {
                        data2[j] = x[1][j].total;
                    }

                    for (var i = 0; i < window.myHorizontalBar2.chart.config.data.datasets.length; i++) {
                        window.myHorizontalBar2.chart.config.data.datasets[i].data = data2;
                        window.myHorizontalBar2.chart.config.data.datasets[i].label = 'Total tiempo excedido';
                    }

                    window.myHorizontalBar2.update();

                    /*Third chart*/
                    var names3 = new Array(x[2].length);

                    for (var i = 0; i < x[2].length; i++) {
                        names3[i] = x[2][i].name;
                    }

                    window.myHorizontalBar3.chart.config.data.labels = names3;

                    data3 = new Array(x[2].length);

                    for (var j = 0; j < data3.length; j++) {
                        data3[j] = x[2][j].total;
                    }

                    for (var i = 0; i < window.myHorizontalBar3.chart.config.data.datasets.length; i++) {
                        window.myHorizontalBar3.chart.config.data.datasets[i].data = data3;
                        window.myHorizontalBar3.chart.config.data.datasets[i].label = 'Total solicitudes';
                    }

                    window.myHorizontalBar3.update();

                    $("[data-dismiss=\"modal\"]").click();
                    $('#imprimir_reporte').show();
                    $('#tabs').show();
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error", "error");
                    // alert('No puede cargar los datos: ' + ex);
                }
            });


        });

        $('#imprimir_reporte').click(function () {
            window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/EstadisticaAvanzadas/ReporteEstadisticaAvanzadas/?applicant=" + $('#selsolicitante').val() +
                "&responsible=" + $('#seltecnico').val() + "&state=" + $('#EstadoId').val() + "&service_type=" + $('#ActividadId').val() + "&service_area=" + $('#SubActividadId').val() +
                "&begin_date=" + $('#fecha1').val() + "&end_date=" + $('#fecha2').val() + "&dependency=" + $('#DependenciaId').val();
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        fecha1 = $('#fecha1').datepicker({
            dateFormat: 'mm/dd/yy',
            onSelect: function () {
                if (fecha2.val() != ""){
                    Date1 = new Date(fecha1.val());
                    Date2 = new Date(fecha2.val());
                    if (Date1 > Date2) {
                        swal({
                            title: '',
                            text: 'La fecha inicial no puede ser mayor a la fecha final',
                            type: 'error'
                        });

                        fecha1.val('');
                    }
                }
            }
        });

        fecha2 = $('#fecha2').datepicker({
            dateFormat: 'mm/dd/yy',
            onSelect: function () {
                if (fecha1.val() != ""){
                    Date1 = new Date(fecha1.val());
                    Date2 = new Date(fecha2.val());
                    if (Date1 > Date2) {
                        swal({
                            title: '',
                            text: 'La fecha inicial no puede ser mayor a la fecha final',
                            type: 'error'
                        });

                        fecha2.val('');
                    }

                }
            }
        });
    });
</script>
<script>
    $('#DependenciaId').change(function () {
        $("[data-target=\"#myModal\"]").click();

        if ($("#DependenciaId").val() != "1") {
            $("#ActividadId").prop("disabled", true);
            $("#SubActividadId").prop("disabled", true);
            $('#ActividadId').val("0");
            $("#SubActividadId").val("0");
        } else {

            $("#ActividadId").prop("disabled", false);
            $("#SubActividadId").prop("disabled", false);
        }

        if ($('#DependenciaId').val() != 0 && $('#DependenciaId').val() != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeResponsable")',
                data: { tipo_servicio: "0", area_servicio: "0", dependencia: $('#DependenciaId').val() },
                success: function (states) {
                    $('#seltecnico').html("");

                    $('#seltecnico').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#seltecnico").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeSolicitante")',
                data: { tipo_servicio: "0", area_servicio: "0", tecnico_id: "0", dependencia: $('#DependenciaId').val() },
                success: function (states) {
                    $('#selsolicitante').html("");

                    $('#selsolicitante').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#selsolicitante").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeResponsable")',
                data: { tipo_servicio: "0", area_servicio: "0", dependencia: "0" },
                success: function (states) {
                    $('#seltecnico').html("");

                    $('#seltecnico').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#seltecnico").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeSolicitante")',
                data: { tipo_servicio: "0", area_servicio: "0", tecnico_id: "0", dependencia: "0" },
                success: function (states) {
                    $('#selsolicitante').html("");

                    $('#selsolicitante').append("<option value='0'>Seleccione</option>")

                    $.each(states, function (i, states) {
                        $("#selsolicitante").append('<option value ="' + states.Codigo + '">' +
                                states.NombreCompleto + '</option>');
                    });
                }
            });
        }

        $("[data-dismiss=\"modal\"]").click();
    });

</script>

