﻿@{
    ViewBag.Title = "EstadisticaFiltro";
    Layout = null;
}

<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
<script src="~/scripts/chartJS/chartist-plugin-threshold.min.js"></script>
<script src="~/scripts/chartJS/chartist-plugin-threshold.js"></script>
@*<script src="~/scripts/chartJS/chartist-plugin-tooltip.js"></script>*@
<script src="~/scripts/chartJS/Chart.min.js"></script>
<script src="~/scripts/chartist-bar-labels.js"></script>
<link href="~/Content/css/estadisticas/flat-admin.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/chartist.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/graficoAnimado.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/servicios-tabs.css" rel="stylesheet" />
<script src="~/scripts/chartJS/chartist-plugin-axistitle.js"></script>
<script src="~/scripts/chartJS/chartist-plugin-axistitle.min.js"></script>
<script type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>
@*<script src="~/JS/Estadistica.js"></script>*@
<script type="text/javascript">

    //SCRIPT para GRAFICAS DE CANTIDADES//
    @if (ViewBag.graficasCantidades == true) {<text>
    arrayDatosGraficaCategoria1 = [];
    @foreach (var a in ViewBag.datosCantGrafica1) {<text> datosCantGrafica1 = '@a.Nombre'; arrayDatosGraficaCategoria1.push(datosCantGrafica1);  </text>}
    arrayDatosGrafica1 = [];
    @foreach (var a in ViewBag.datosCantGrafica1) {<text> datosCantGrafica1 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica1.push(datosCantGrafica1);  </text>}
    arrayDatosGraficaCategoria2 = [];
    @foreach (var a in ViewBag.datosCantGrafica2) {<text> datosCantGrafica2 = '@a.Nombre'; arrayDatosGraficaCategoria2.push(datosCantGrafica2); </text>}
    arrayDatosGraficaData2 = [];
    @foreach (var a in ViewBag.datosCantGrafica2) {<text>datosCantGrafica2 = { value: '@a.TiempoMinuto' }; arrayDatosGraficaData2.push(datosCantGrafica2);</text>}
    arrayDatosGraficaCategoria3 = [];
    @foreach (var a in ViewBag.datosCantGrafica3) {<text>datosCantGrafica3 = '@a.Nombre'; arrayDatosGraficaCategoria3.push(datosCantGrafica3);  </text>}
    arrayDatosGrafica3 = [];
    @foreach (var a in ViewBag.datosCantGrafica3) {<text>datosCantGrafica3 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica3.push(datosCantGrafica3);  </text>}
    arrayDatosGraficaCategoria4 = [];
    @foreach (var a in ViewBag.datosCantGrafica4) {<text> datosCantGrafica4 = '@a.Nombre'; arrayDatosGraficaCategoria4.push(datosCantGrafica4); </text>}
    arrayDatosGrafica4 = [];
    @foreach (var a in ViewBag.datosCantGrafica4) {<text> datosCantGrafica4 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica4.push(datosCantGrafica4); </text>}
    </text>
    }
    else if (ViewBag.graficasAsignadas == true) { <text>
    //SCRIPT para GRAFICAS DE ASIGNADAS//
    arrayDatosGraficaCategoria1 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica1) {<text> datosAsignadGrafica1 = '@a.Nombre'; arrayDatosGraficaCategoria1.push(datosAsignadGrafica1); </text> }
    arrayDatosGrafica1 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica1) {<text> datosAsignadGrafica1 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica1.push(datosAsignadGrafica1); </text> }
    arrayDatosGraficaCategoria2 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica2) {<text> datosAsignadGrafica2 = '@a.Nombre'; arrayDatosGraficaCategoria2.push(datosAsignadGrafica2);</text> }
    arrayDatosGraficaData2 = [];
    @foreach (var a in ViewBag.datosAsignadGrafica2) {<text> datosAsignadGrafica2 = { value: '@a.TiempoMinuto' }; arrayDatosGraficaData2.push(datosAsignadGrafica2);</text> }
    //SCRIPT para GRAFICAS DE GERENCIAS//
    </text>
    } else if (ViewBag.graficasGerencias == true) { <text>
    arrayDatosGraficaCategoria1 = [];
    @foreach(var a in ViewBag.datosGerenciasGrafica1){<text> datosGerenciasGrafica1 = '@a.Departamento'; arrayDatosGraficaCategoria1.push(datosGerenciasGrafica1);</text>}
    arrayDatosGrafica1 = [];
    @foreach(var a in ViewBag.datosGerenciasGrafica1){<text> datosGerenciasGrafica1 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica1.push(datosGerenciasGrafica1);</text>}
    arrayDatosGraficaCategoria2 = [];
    @foreach(var a in ViewBag.datosGerenciasGrafica2){<text> datosGerenciasGrafica2 = '@a.Nombre'; arrayDatosGraficaCategoria2.push(datosGerenciasGrafica2);</text>}
    arrayDatosGraficaData2 = [];
    @foreach(var a in ViewBag.datosGerenciasGrafica2){<text> datosGerenciasGrafica2 = { value: '@a.TiempoMinuto' }; arrayDatosGraficaData2.push(datosGerenciasGrafica2);</text>}
    </text>
    } else
    { <text>
        //SCRIPT para GRAFICAS DE VALOR/HORAS//

        arrayDatosGraficaCategoria1 = [];
        @foreach(var a in ViewBag.datosValorHGrafica1){<text> datosValorHGrafica1 = '@a.Nombre'; arrayDatosGraficaCategoria1.push(datosValorHGrafica1);</text>}
        arrayDatosGrafica1 = [];
        @foreach(var a in ViewBag.datosValorHGrafica1){<text> datosValorHGrafica1 = { value: '@a.cantidadHoras' }; arrayDatosGrafica1.push(datosValorHGrafica1);</text>}
        arrayDatosGraficaCategoria2 = [];
        @foreach(var a in ViewBag.datosValorHGrafica2){<text> datosValorHGrafica2 = '@a.Nombre'; arrayDatosGraficaCategoria2.push(datosValorHGrafica2);</text>}
        arrayDatosGraficaData2 = [];
        @foreach(var a in ViewBag.datosValorHGrafica2){<text> datosValorHGrafica2 = { value: '@a.TiempoMinuto' }; arrayDatosGraficaData2.push(datosValorHGrafica2);</text> }
        arrayDatosGraficaCategoria3 = [];
        @foreach(var a in ViewBag.datosValorHGrafica3){<text> datosValorHGrafica3 = '@a.Nombre'; arrayDatosGraficaCategoria3.push(datosValorHGrafica3);</text>}
        arrayDatosGrafica3 = [];
        @foreach(var a in ViewBag.datosValorHGrafica3){<text> datosValorHGrafica3 = { value: '@a.cantidadHoras' }; arrayDatosGrafica3.push(datosValorHGrafica3);</text>}
        arrayDatosGraficaCategoria4 = [];
        @foreach(var a in ViewBag.datosValorHGrafica4){<text> datosValorHGrafica4 = '@a.Nombre'; arrayDatosGraficaCategoria4.push(datosValorHGrafica4);</text>}
        arrayDatosGrafica4 = [];
        @foreach(var a in ViewBag.datosValorHGrafica4){<text> datosValorHGrafica4 = { value: '@a.TiempoMinuto' }; arrayDatosGrafica4.push(datosValorHGrafica4);</text>}
        </text>
    }




</script>
@if (ViewBag.graficasCantidades == true)
{
    <div id="contenidoEstadistica">
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Servicio ultimos 7 dias</div>
        <div id="Chart1" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportServUlt7Dias"><a href="~/ReportesEstadisticos/reportServUlt7Dias">Reportes</a></div><br /><br />
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Tiempo de Respuesta</div>
            <div id="Chart2" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportTiempoRespuesta"><a href="~/ReportesEstadisticos/reportTiempoRespuesta">Reportes</a></div><br />
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Solicitudes por mes</div>
            <div id="dropDownMes">@Html.DropDownList("annos")@Html.DropDownList("meses")</div>
            <div id="Chart3" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportSolicitudesXmes"><a href="~/ReportesEstadisticos/reportSolicitudesXmes">Reportes</a></div><br />
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Tiempo Respuesta por mes</div>
            <div id="Chart4" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportTiempoRespuestaXmes"><a href="~/ReportesEstadisticos/reportTiempoRespuestaXmes">Reportes</a></div>
        </div>
    <script src="~/JS/Graficas-CantidadesValorHoras.js"></script>
}
else if (ViewBag.graficasAsignadas == true)
{
    <div id="contenidoEstadistica">
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Asignadas abiertas hace 7 dias</div>
        <div id="Chart1" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportAsignaUltimaSemanaAbiertas"><a href="~/ReportesEstadisticos/reportAsignaUltimaSemanaAbiertas">Reportes</a></div><br />
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Asignadas Cerradas hace 7 dias</div>
          <div id="Chart2" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportAsignaUltimaSemanaCerradas"><a href="~/ReportesEstadisticos/reportAsignaUltimaSemanaCerradas">Reportes</a></div>
        <script src="~/JS/Graficas-AsignadasGerencias.js"></script>
    </div>        
}
else if (ViewBag.graficasGerencias == true)
{
    <div id="contenidoEstadistica">
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Solicitudes realizadas por gerencias</div>
        <div id="Chart1" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportSolicitudRealizadasXGerencias"><a href="~/ReportesEstadisticos/reportSolicitudRealizadasXGerencias">Reportes</a></div><br />
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px;">Solicitudes realizadas por usuarios</div>
            <div id="Chart2" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportSolicitudesRealizadasXUsuarios"><a href="~/ReportesEstadisticos/reportSolicitudesRealizadasXUsuarios">Reportes</a></div>
        </div>
    <script src="~/JS/Graficas-AsignadasGerencias.js"></script>
}
else
{
    <div id="contenidoEstadistica">
        <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">
            Servicios Cantidades de Horas Ultima Semana
        </div>
        <div id="Chart1" style="background-color:#fff !important;"></div>
        <div style="width:8%" class="buttonEnviar" id="reportServCantidadHoraUltimaSemana"><a href="~/ReportesEstadisticos/reportServCantidadHoraUltimaSemana">Reportes</a><br /><br /></div>
    </div><br />
    <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Tiempo Excedido Respuesta</div>
            <div id="Chart2" style="background-color:#fff !important;"></div>
            <div style="width:8%" class="buttonEnviar" id="reportTiempoExcedRespuesta"><a href="~/ReportesEstadisticos/reportTiempoExcedRespuesta">Reportes</a><br /></div><br />
            <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Servicio Cantidad de Hora Mensual</div>
            <div id="dropDownMes">@Html.DropDownList("annos")@Html.DropDownList("meses")</div>
            <div id="Chart3" style="background-color:#fff !important;"></div>
            <div style="width:8%" class="buttonEnviar" id="reportServCantidadHoraMensual"><a class="buttonEnviar" href="~/ReportesEstadisticos/reportServCantidadHoraMensual ">Reportes</a><br /></div><br />
            <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Tiempo excedido mensual</div>
            <div id="Chart4" style="background-color:#fff !important;"></div>
            <div style="width:8%" class="buttonEnviar" id="reportTiempoExcedMensual"><a href="~/ReportesEstadisticos/reportTiempoExcedMensual">Reportes</a><br /></div><br />
            <script src="~/JS/Graficas-CantidadesValorHoras.js"></script>
}