﻿@{ 
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        body{
            padding:0px !important;
            margin:0px !important;
        }
        *{
            padding:0px;
            margin:0px;
        }

        .container{
            width: 100%;
            max-width: 1000px;

        }

        #tabla {
            border-collapse: collapse;
            border:1px solid #333333;
            width: 100%;
        }

        .tabla{
            position:absolute; 
            top:140px; 
            margin-right:50px; 
            margin-left:50px;
        }

        th {
            font-size: 17px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            color: #000;  
            background-color:#eaeaea; 
            border-right:1px solid #333333;
        }
        td {
            font-size: 15px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 10px;            
            margin-left:5px;
            height:35px;
        }
        h1, h2, h3 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .div_izquierdo{
            height:1390px;
            width:20%;
            background-color:#064b8e;            
            display:inline;
            margin:0px !important;
            padding:0px !important;
            float:left !important;
            clear:both;
        }
        .div_derecho{
            width:70%;
            float:right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px; 
        }

        .div_derecho2{
            width:76%;
            float:right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size:17px; 
            padding:20px;
            margin-top:15px !important;
        }
        .breakhere{
            page-break-after: always;
        }
 
        .images{
            text-align:center;
            margin-bottom:10px;
            width:100%;
        }

        .images img{
            border:1px solid #f1f1f1;
        }

        .footerpage{
            text-align:center; margin-top:1180px !important; color:#064b8e; font-family:Arial, Helvetica, sans-serif;
            border-radius:30px;
            background-color:#fff;
            width:20px;
            margin:auto;  
            font-weight:600;          
        }

        .footerpage p{
            font-size:17px !important;
        }

        h1{
            text-transform: uppercase;
            font-size: 18px;
            color: #014984;
        }

        .datos{
            padding:40px 40px 0 0;
            float:right;
        }

        .datos p.datos-principales{
            color: #014984;
        }

        tr{
            width: 100%;
        }

        tr.header td{
            font-weight: bold;
            background-color: #014984;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
        }

        td {
            font-size: 12px;
        }
        .logo {
            margin: 30px 0 0 50px;
        }
        
    </style>

    <title>Reporte De Estadisticas Avanzadas</title>
    
</head>
<body>
    <div class="container">
        <img class="logo" src="~/Content/images/logo.png" />
        <div class="datos">

            @if (ViewBag.begin_date != "")
            {
                <p >Fecha : Del @ViewBag.begin_date , Hasta : @ViewBag.end_date</p>
            }
            else
            {
                <p >Fecha : No Especificada.</p>
            }

            @if (ViewBag.applicant != "0")
            {
                <p >Solicitante : @ViewBag.applicant</p>
            }

            @if (ViewBag.dependency != "")
            {
                <p >
                    Dependencia : @ViewBag.dependency
                </p>
            }
            else
            {
                <p >
                    Dependencia :  No Especificada.
                </p>
            }

            @if (ViewBag.service_type != "0")
            {
                <p >
                    Tipo de Servicio : @ViewBag.service_type
                </p>
                if (ViewBag.service_area != "0")
                {
                    <p >
                        Area de Servicio : @ViewBag.service_area
                    </p>
                }
            }

        </div>

        <p id="demo" hidden></p>

        <div class="tabla">
            <center><h1>Reporte de Solicitudes</h1></center>
            <br />
            <table id="tabla">

                @if (ViewBag.state == "0")
                {
                    <tr class="header">
                        <td>Nombre</td>
                        <td>Solicitudes Pendientes</td>
                        <td>Solicitudes Cerradas</td>
                        <td>Solicitudes Canceladas</td>
                        <td>Evaluaciones Pendientes</td>
                        <td>Total de Solicitudes</td>
                    </tr>
                }
                else
                {
                    <tr class="header">
                        <td style="width:100%;">Nombre</td>
                        <td >@ViewBag.state</td>
                    </tr>

                }

            </table>
        </div>
    </div>

    <script>

        document.getElementById("demo").innerHTML = '@Json.Encode(ViewBag.data)';

        var str = document.getElementById("demo").innerHTML;

        var obj = JSON.parse(str);

        var tabla = document.getElementById("tabla");

        if ( "@ViewBag.state" == "0") {
            for (var i = 0; i < obj[0].length; i++) {

                var fila = tabla.insertRow(-1);

                var columna_nombre = fila.insertCell(0);
                var columna_pendiente = fila.insertCell(1);
                var columna_cerradas = fila.insertCell(2);
                var columna_canceladas = fila.insertCell(3);
                var columna_evaluacion = fila.insertCell(4);
                var columna_total = fila.insertCell(5);

                columna_nombre.innerHTML = obj[0][i].name;
                columna_pendiente.innerHTML = obj[0][i].pending;
                columna_cerradas.innerHTML = obj[0][i].closed;
                columna_canceladas.innerHTML = obj[0][i].canceled;
                columna_evaluacion.innerHTML = obj[0][i].pending_evaluation;
                columna_total.innerHTML = obj[0][i].total;
            }
        } else {

            for (var i = 0; i < obj[0].length; i++) {

                var fila = tabla.insertRow(-1);

                var columna_nombre = fila.insertCell(0);
                var columna_total = fila.insertCell(1);

                columna_nombre.innerHTML = obj[0][i].name;
                columna_total.innerHTML = obj[0][i].total;
            }
        }

    </script>
</body>
</html>