﻿
@{
    ViewBag.Title = "ValorHoras";
    Layout = "~/Views/intraMaster.cshtml";
}
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
<script src="~/scripts/chartJS/chartist-plugin-threshold.min.js"></script>
<script src="~/scripts/chartJS/chartist-plugin-threshold.js"></script>
<script src="~/scripts/chartJS/Chart.min.js"></script>
<script src="~/scripts/chartist-bar-labels.js"></script>
<link href="~/Content/css/estadisticas/flat-admin.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/chartist.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/graficoAnimado.css" rel="stylesheet" />
<link href="~/Content/css/estadisticas/servicios-tabs.css" rel="stylesheet" />
<script src="~/scripts/chartJS/chartist-plugin-axistitle.js"></script>
<script src="~/scripts/chartJS/chartist-plugin-axistitle.min.js"></script>
<script type="text/javascript" src="~/scripts/chart/fusioncharts.js"></script>
<script src="~/scripts/chart/themes/fusioncharts.theme.zune.js"></script>
@*<script src="~/scripts/chartJS/chartist-plugin-tooltip.js"></script>*@
<script type="text/javascript"> ruta = "@ViewBag.ruta";</script>
<script src="~/JS/Estadistica.js"></script>

<script type="text/javascript">
    arrayDatosGraficaCategoria1 = [];
    @foreach(var a in ViewBag.datosValorHGrafica1){<text> datosValorHGrafica1 = '@a.Nombre'; arrayDatosGraficaCategoria1.push(datosValorHGrafica1);</text>}
        arrayDatosGrafica1 = [];
    @foreach(var a in ViewBag.datosValorHGrafica1){<text> datosValorHGrafica1 = { value: '@a.cantidadHoras' }; arrayDatosGrafica1.push(datosValorHGrafica1);</text>}
        arrayDatosGraficaCategoria2 = [];
    @foreach(var a in ViewBag.datosValorHGrafica2){<text> datosValorHGrafica2 = '@a.Nombre'; arrayDatosGraficaCategoria2.push(datosValorHGrafica2);</text>}
        arrayDatosGraficaData2 = [];
    @foreach(var a in ViewBag.datosValorHGrafica2){<text> datosValorHGrafica2 = { value: '@a.TiempoMinuto' }; arrayDatosGraficaData2.push(datosValorHGrafica2);</text> }
        arrayDatosGraficaCategoria3 = [];
    @foreach(var a in ViewBag.datosValorHGrafica3){<text> datosValorHGrafica3 = '@a.Nombre'; arrayDatosGraficaCategoria3.push(datosValorHGrafica3);</text>}
        arrayDatosGrafica3 = [];
    @foreach(var a in ViewBag.datosValorHGrafica3){<text> datosValorHGrafica3 = { value: '@a.cantidadHoras' }; arrayDatosGrafica3.push(datosValorHGrafica3);</text>}
        arrayDatosGraficaCategoria4 = [];
    @foreach(var a in ViewBag.datosValorHGrafica4){<text> datosValorHGrafica4 = '@a.Nombre'; arrayDatosGraficaCategoria4.push(datosValorHGrafica4);</text>}
        arrayDatosGrafica4 = [];
    @foreach(var a in ViewBag.datosValorHGrafica4){<text> datosValorHGrafica4 = {value:'@a.TiempoMinuto'};arrayDatosGrafica4 =.push(datosValorHGrafica4);</text>}
   
</script>

<div style="background-color:#eaedf1 !important; margin:-15px;">
    <div style="margin-left:10px; margin-right:10px">
        <h2><strong>Valor/Horas</strong></h2>


        <div id="tab-container">
            <input type="hidden" id="nombreVista" value="EstadisticaFiltroValorHora" />
            <h4 style="padding-top:13px; margin-left:8px; border:none; float:left; text-transform:uppercase; color:#ffffff; font-family:'robotobold' !important;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Estadísticas de servicios</h4>
            <ul>
                <li class="selected"><a style="color:#fff; font-weight:bold;" href="~/EstadisticaAvanzadas/ValorHoras">Valor / Horas</a></li>
                <li><a href="~/EstadisticaAvanzadas/gerencias">Gerencias</a></li>
                <li><a href="~/EstadisticaAvanzadas/asignadas">Asignadas</a></li>
                <li><a href="~/EstadisticaAvanzadas/cantidades">Cantidades</a></li>
            </ul>
            <div class="row grafica" style="margin-bottom:13px;">
                <div class="col-lg-12">
                    <div class="card card-banner card-chart card-blue">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Servicios de los:Últimos 7 Días</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div></div>
        <div class="form" style="background-color:#2b2d2f;">
            <h2 style="padding-top:13px; margin-left:8px; border:none; float:left; text-transform:uppercase; color:#ffffff; font-family:'robotobold' !important;">Seleccione por Gerencia</h2>@Html.DropDownList("dropDownDept", "Seleccionar")
        </div>
        <div></div>
        @*<h3>Seleccione por Gerencia</h3>
            <div>
                @Html.DropDownList("dropDownDept", "Seleccionar")
            </div>*@

        <div id="contenidoEstadistica">
            <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Servicios Cantidades de Horas Ultima Semana
            </div>
            <div id="Chart1" style="background-color:#fff !important;"></div><br />
            <div style="width:8%" class="buttonEnviar" id="reportServCantidadHoraUltimaSemana"><a href="~/ReportesEstadisticos/reportServCantidadHoraUltimaSemana">Reportes</a><br /><br /></div>
                <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Tiempo Excedido Respuesta</div>
                <div id="Chart2" style="background-color:#fff !important;"></div><br />
                <div style="width:8%" class="buttonEnviar" id="reportTiempoExcedRespuesta"><a href="~/ReportesEstadisticos/reportTiempoExcedRespuesta">Reportes</a><br /></div><br />
                <div id="dropDownMes">@Html.DropDownList("annos")@Html.DropDownList("meses")</div>
                <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Servicio Cantidad de Hora Mensual</div>
                <div id="Chart3" style="background-color:#fff !important;"></div><br />
                <div style="width:8%" class="buttonEnviar" id="reportServCantidadHoraMensual"><a class="buttonEnviar" href="~/ReportesEstadisticos/reportServCantidadHoraMensual ">Reportes</a><br /></div><br />
                <div style="background-color:#2b2d2f !important; height:35px; color:#fff; text-transform:uppercase; font-family:'robotobold'; padding:8px">Tiempo excedido mensual</div>
                <div id="Chart4" style="background-color:#fff !important;"></div><br />
            <div style="width:8%" class="buttonEnviar" id="reportTiempoExcedMensual"><a href="~/ReportesEstadisticos/reportTiempoExcedMensual">Reportes</a><br /></div><br />

                </div>
        </div>
</div>

        <script src="~/JS/Graficas-CantidadesValorHoras.js"></script>
