﻿@model intra.Models.Inventario.ModeloInventario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>


<section class="serviciosSolicitud">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Modelo</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       
            <div class="row">
                <div class="col-lg-3">
                       @Html.Label("Marcas")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("MarcaId", (SelectList)ViewBag.MarcaId, "Seleccione")
                    @Html.ValidationMessageFor(model => model.MarcaId, "", new {@class="text-danger" })  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Modelo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.ModeloDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModeloDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model=>model.ModeloFecha)
            @Html.HiddenFor(model=>model.ModeloUsuario)

           
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver", "Index",null,new {@class= "buttonEnviar" })
                </div>
            </div>
        </div>
    }
</section>


