﻿@model intra.Models.Cumpleanos.EstadoCumpleanos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Desea Excluir A: @Model.NombreCompleto ?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdEstado)

        <div class="form-group">

            <div class="col-md-10">
                <div class="checkbox">
                    @if (Model.Estado == "1")
                    {
                        <input type="checkbox" name="Estado" value="@Model.Estado" checked="checked" hidden="hidden" />

                    }
                    else
                    {
                        <input type="checkbox" name="Estado" value="@Model.Estado" hidden="hidden" />

                    }
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Excluir" class="btn btn-default" />
            </div>
        </div>
    </div>
}


       

