﻿@model IEnumerable<intra.Models.GestionHumana.Permisos.VistaPermisos>


<style>
    #mesaje-permiso {
        font-size: 18pt;
        text-align: center;
        margin: 15px 0 25px 0;
        display: none;
    }

    #dia-estudio-campos {
        margin-top: 20px;
        padding: 0;
        display: none;
    }


</style>
@*<script src="~/scripts/jquery.maskedinput.min.js"></script>*@

<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>


<form id="formulario-permiso">

    <div class="row">
        <div class="col-md-5">
            <h4>SOLICITAR Y VER PERMISOS</h4>
        </div>
        <div class="col-md-7">
            <div class="pull-right">
                <a class="btn button_white" href="javascript:void(0);" onclick="InstructivoPermiso();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                <button type="button" id="historialPermisos" class="button_white" data-toggle="modal" data-target="#verHistorial"> <i class="fa fa-history alejar_icono"></i>VER HISTORIAL  </button>
                <button type="button" id="boton-enviar-permiso" class="button_white"><i class="fa fa-check alejar_icono"></i>SOLICITAR PERMISO</button>
            </div>
        </div>
    </div>

    <div class="barra"></div>
  

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <label>Tipo de permiso: </label>
            <div class="empty-field-container">
                <select id="tipo-permiso" class="empty-field form-control">
                    <option value="0">-- SELECCIONE --</option>

                    @foreach (var tipoLicencia in ViewBag.TiposLicencias)
                    {
                        if (tipoLicencia.TipoLicenciaId < 9)
                        {
                            continue;
                        }
                        else
                        {
                            <option value="@tipoLicencia.TipoLicenciaId">@tipoLicencia.TipoDescripcion</option>
                        }
                    }
                </select>

            </div>
        </div>
        <div id="" class="col-lg-4 col-md-4 col-sm-4">
            <label>Fecha inicio:</label>
            <div class="empty-field-container">
                <input id="fecha-inicio-permiso" class="empty-field datetimepicker form-control" type="text" name="FechaSalida" value="" />

            </div>
        </div>
        <div id="" class="col-lg-4 col-md-4 col-sm-4">
            <label>Fecha fin:</label>
            <div class="empty-field-container">
                <input id="fecha-fin-permiso" class="empty-field datetimepicker form-control" type="text" name="FechaSalida" value="" />

            </div>
        </div>


        <div id="dia-estudio-campos" class="col-lg-12 col-md-12 col-sm-12">
            <div id="" class="col-lg-4 col-md-4 col-sm-4">
                <label>Día:</label>
                <div class="empty-field-container">
                    <select id="dia-estudio-dia" class="empty-field form-control">
                        <option value="0">-- SELECCIONE --</option>
                        <option value="1">Lunes</option>
                        <option value="2">Martes</option>
                        <option value="3">Miércoles</option>
                        <option value="4">Jueves</option>
                        <option value="5">Viernes</option>
                    </select>

                </div>
            </div>

            <div id="" class="col-lg-4 col-md-4 col-sm-4">
                <label>Hora inicio:</label>
                <div class="empty-field-container">
                    <input id="dia-estudio-hora-inicio" class="empty-field datetimepicker2 form-control" type="text" name="FechaSalida" value="" />

                </div>
            </div>

            <div id="" class="col-lg-4 col-md-4 col-sm-4">
                <label>Hora fin:</label>
                <div class="empty-field-container">
                    <input id="dia-estudio-hora-fin" class="empty-field datetimepicker2 form-control" type="text" name="FechaSalida" value="" />

                </div>
            </div>
        </div>

        <div id="" class="col-lg-12 col-md-12 col-sm-12">
            <br>

            <label>Observación:</label>
            <div class="empty-field-container">
                <textarea class="empty-field form-control" id="observacion-permiso" name="PermisoObservacion" rows="5"></textarea>

            </div>
        </div>


    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="verHistorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Histórico  de permisos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                @if (ViewBag.Permisos != null)
                {
                    @*<table class="table2 tabla-permiso-vacacion  table-striped table-hover responsive display  no-wrap" width="100%">*@
                    <table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Fecha Registro
                                </th>
                                <th>
                                    Tipo de permiso
                                </th>

                                <th>
                                    Fecha inicial
                                </th>
                                <th>
                                    Fecha Final
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var permiso in ViewBag.Permisos)
                            {
                                <tr>
                                    <td>
                                        <span style="display:none;">@permiso.PermisoFechaRegistro.ToString("yyyyMMddHHmmss")</span>
                                        @permiso.PermisoFechaRegistro
                                    </td>
                                    <td>
                                        @permiso.TipoLicencia.TipoDescripcion
                                    </td>
                                    <td>
                                        <span style="display:none;">@permiso.PermisoFechaInicio.ToString("yyyyMMdd")</span>
                                        @permiso.PermisoFechaInicio
                                    </td>
                                    <td>
                                        <span style="display:none;">@permiso.PermisoFechaFin.ToString("yyyyMMdd")</span>
                                        @permiso.PermisoFechaFin
                                    </td>
                                    <td>
                                        @permiso.PermisosEstados.PermisoEstadoNombre
                                    </td>
                                    <td>
                                        <a href="@Url.Action("PermisoReporte","Permisos",new { id=permiso.PermisoId })" target="_blank" >Reporte</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="button_white" data-dismiss="modal"><i class="fa fa-times-circle alejar_icono"></i>Cerrar</button>

            </div>
        </div>
    </div>
</div>





<div id="mesaje-permiso" class="alert alert-warning col-lg-12 col-md-12 col-sm-12 col-xs-12">

</div>

@*<div class="panel panel-info" style="clear: both;">
        <div class="panel-heading">
            <h3 class="panel-title">Histórico de permisos</h3>
        </div>

        <div class="panel-body">
            @if (ViewBag.Permisos != null)
            {
                <table class="tabla-permiso-vacacion table table-striped table-hover responsive display  no-wrap" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Fecha Registro
                            </th>
                            <th>
                                Tipo de permiso
                            </th>

                            <th>
                                Fecha inicial
                            </th>
                            <th>
                                Fecha Final
                            </th>
                            <th>
                                Estado
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var permiso in ViewBag.Permisos)
                        {
                            <tr>
                                <td>
                                    <span style="display:none;">@permiso.PermisoFechaRegistro.ToString("yyyyMMddHHmmss")</span>
                                    @permiso.PermisoFechaRegistro
                                </td>
                                <td>
                                    @permiso.TipoLicencia.TipoDescripcion
                                </td>
                                <td>
                                    <span style="display:none;">@permiso.PermisoFechaInicio.ToString("yyyyMMdd")</span>
                                    @permiso.PermisoFechaInicio
                                </td>
                                <td>
                                    <span style="display:none;">@permiso.PermisoFechaFin.ToString("yyyyMMdd")</span>
                                    @permiso.PermisoFechaFin
                                </td>
                                <td>
                                    @permiso.PermisosEstados.PermisoEstadoNombre
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>*@

<script>
    $('.datetimepicker').datetimepicker({
        format: "DD-MM-YYYY hh:mm A",
        sideBySide: true
    });

    $('.datetimepicker2').datetimepicker({
        format: "hh:mm A",
        sideBySide: true
    });

    //==========

    $("#boton-enviar-permiso").click(function () {
        $("#boton-enviar-permiso").prop('disabled', true);

        swal({
            title: '',
            text: '¿Seguro/a que desea enviar solicitud?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#31B404',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then(function () {
            $("#loading-animation-container").show();

            var permisoFechaInicio = $("#fecha-inicio-permiso").val().trim();
            var permisoFechaFin = $("#fecha-fin-permiso").val().trim();
            var tipoPermiso = $("#tipo-permiso").val().trim();
            var diaEstudioDiaId = $("#dia-estudio-dia option:selected").val();
            var diaEstudioHoraInicio = $("#dia-estudio-hora-inicio").val().trim();
            var diaEstudioHoraFin = $("#dia-estudio-hora-fin").val().trim();
            var permisoObservacion = $("#observacion-permiso").val().trim();

            console.log(permisoFechaInicio);
            console.log(permisoFechaFin);

            if (permisoFechaInicio == "") {
                permisoFechaInicio = "01-01-0001"
            }

            if (permisoFechaFin == "") {
                permisoFechaFin = "01-01-0001"
            }

            var request = $.ajax({
                url: "@(HttpRuntime.AppDomainAppVirtualPath)/Permisos/GuardarPermiso",
                method: "POST",
                data: {
                    tipoPermiso: tipoPermiso,
                    _fechaInicio: permisoFechaInicio,
                    _fechaFin: permisoFechaFin,
                    diaEstudioDiaId: diaEstudioDiaId,
                    diaEstudioHoraInicio: diaEstudioHoraInicio,
                    diaEstudioHoraFin: diaEstudioHoraFin,
                    observacion: permisoObservacion
                }
            });

            request.done(function (data) {
                console.log(data);

                $("#loading-animation-container").hide();

                if (data.TextosErrores.length == 0) {
                    swal(
                        '',
                        '¡Su solicitud ha sido enviada!',
                        'success'
                    ).then(function () {
                        location.reload()
                    });
                }
                else {
                    var mensajeSwal = "";

                    $.each(data.TextosErrores, function (indice) {
                        mensajeSwal += data.TextosErrores[indice] + ".\n";
                    });

                    swal(
                        '',
                        mensajeSwal,
                        'error'
                    )

                    $("#boton-enviar-permiso").prop('disabled', false);
                }
            });

            request.fail(function (jqXHR, textStatus) {
                console.log("Falló: " + textStatus);
            });
        }).catch(function () {
            $("#boton-enviar-permiso").prop('disabled', false);
        });
    });

    // ==========

    var request = $.ajax({
        url: "@(HttpRuntime.AppDomainAppVirtualPath)/Permisos/VerificarUltimoPermisoPendiente",
        method: "POST"
    });

    // ==========
    // Se verifica si el último permiso solicitado esta pediente.
    // Esto esta desabilitado porque se asume que se pueden solicitar varios
    // permisos en diferentes días y diferentes horas.
    // ==========

    //request.done(function (Data) {
    //    var mensajePermiso = $("#mesaje-permiso");
    //    var formularioPermiso = $("#formulario-permiso");

    //    if (Data.UltimoPermisoPendiente == true) {
    //        formularioPermiso.hide();
    //        mensajePermiso.show();
    //        mensajePermiso.text("¡Tiene un permiso pendiente de aprobación!");
    //    }
    //    else {
    //        mensajePermiso.hide();
    //        formularioPermiso.show();
    //    }
    //});

    //request.fail(function (jqXHR, textStatus) {
    //    console.log("Falló: " + textStatus);
    //});

    // =====
    // ==========

    var PermisoSelect = $("#tipo-permiso");
    var DiaEstudioContenedor = $("#dia-estudio-campos");

    PermisoSelect.click(function () {
        var tipoPermisoId = PermisoSelect.val();

        if (tipoPermisoId == 9) {
            DiaEstudioContenedor.show();
        }
        else {
            DiaEstudioContenedor.hide();
        }
    });
</script>

<script type="text/javascript">
    function InstructivoPermiso() {


        var intro = introJs();

        intro.setOptions({
            steps: [
            {
                element: document.querySelector('#tipo-permiso'),
                intro: "Seleccione el tipo de permiso."
            },
            {
                element: document.querySelector('#fecha-inicio-permiso'),
                intro: "Seleccione  la fecha de inicio"
            },

            {
                element: document.querySelector('#fecha-fin-permiso'),
                intro: "Seleccione la fecha de final"
            },
              {
                  element: document.querySelector('#observacion-permiso'),
                  intro: "Describa el motivo de su permiso"
              },

             {
                 element: document.querySelector('#boton-enviar-permiso'),
                 intro: "Click aqui para solicitar su permiso"
             },
            {
                intro: "¡Y listo!",
                position: 'right'
            }
            ]
        });

        intro.start();

        intro.onexit(function () {
            $('#cardnet').hide();
        })
    }
</script>



