﻿
@using intra.Code

@{
    DateCalculations dateCalculations = new DateCalculations();
}


<style>
    .fila-coloreada {
        background-color: #D7D7D7;
    }

    #circle1 {
        width: 80px;
        height: 80px;
        background-color: #DE6444;
        border-radius: 50px;
        text-align: center;
        position: absolute;
        z-index: 1000;
        padding: 0;
        color: #ffffff;
        font-size: 22pt;
        margin-right: 0;
        display: table;
        top: -5px;
        right: 0;
    }

        #circle1 span {
            display: table-cell;
            vertical-align: middle;
        }

    #datos-vacaciones {
        padding-left: 15px;
        padding-right: 15px;
    }

    .boton-permiso-vacacion {
        background-color: #5CB85C;
        border: 0;
        color: #ffffff;
        width: 150px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-bottom: 5px solid #109210;
        font-weight: normal;
    }

    #campo1 {
        padding-right: 10px;
    }

    #campo2 {
        padding-left: 10px;
    }

    .campo-vacaciones {
        padding: 0;
    }

        .campo-vacaciones label {
            font-weight: bold;
        }



    #contenedor-vacaciones, #contenedor-vacaciones2 {
        /*display: none;*/
    }

    #contenedor-campos-vacaciones {
        display: none;
    }

    #mesaje-vacacion {
        font-size: 18pt;
        text-align: center;
        margin: 15px 0 25px 0;
    }

    #boton-enviar {
        display: none;
    }

    #info-usuario-vacacion {
        display: none;
    }

    #historico {
        clear: both;
    }

    .texto-alerta {
        font-size: 9pt;
    }

    #contenedor-info-vacacion {
        background-color: #34495E;
        color: #ffffff;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        text-align: center;
        font-weight: normal;
        margin-top: 20px;
    }
</style>






<div id="contenedor-vacaciones">
    <div class="row">
        <div class="col-md-8">
            <h4>SOLICITAR VACACIONES</h4>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <a class="btn btn-primary" href="javascript:void(0);" onclick="InstructivoVacaciones();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                <button type="button" id="detalles" class="button_white" data-toggle="modal" data-target="#modal_detalles_vacaciones"><i class="fa fa-info-circle alejar_icono"></i>Detalles</button>
                <button type="button" id="boton-enviar" class="button_white"><i class="fa fa-check alejar_icono"></i>solicitar</button>


            </div>
        </div>
    </div>



    <div class="barra"></div>




    <div id="info-usuario-vacacion">

        <div class="row comprobante" id="color_stuff">
            <div class="col-md-4">
                <span><strong>INGRESO EN PGR:</strong> </span>
                <p id="total_ingresos">@ViewBag.FechaIngreso</p>
            </div>
            <div class="col-md-4">
                <div class="">
                    <span><strong>TIEMPO EN EL ESTADO:</strong></span>
                    <p id="total_ingresos">@ViewBag.TiempoLaborando</p>
                </div>
            </div>
            <div class="col-md-4">
                <span><strong>ACUMULADOS</strong> </span>
                <p id="total_ingresos">@ViewBag.DiasAcumulados</p>
            </div>
        </div>
    </div>


    <div id="contenedor-campos-vacaciones">
        <h3>Seleccione el Período de sus Vacaciones</h3>
        <form id="form-vacacion">
            <div class="row">
                <div id="campo1" class="form-group campo-vacaciones col-md-6">
                    <label>Fecha de Salida:</label>
                    <div class="empty-field-container">
                        <input id="datepicker" class="empty-field form-control" type="text" name="FechaSalida" value="" />

                    </div>
                </div>
                <div id="campo2" class="form-group campo-vacaciones col-lg-6 col-md-6 col-sm-6">
                    <label>Días a tomar:</label>
                    <div class="empty-field-container">
                        <input id="cantidad-dias" class="empty-field form-control" type="number" name="Dias" />

                    </div>
                </div>
                <input id="cantidadDias" class="form-control" type="number" name="empleadoID" value="@(Session["empleadoId"].ToString())" style="display: none" />
            </div>
        </form>
    </div>

</div>


<div id="historico">
    <h4>Histórico de vacaciones</h4>
    <div class="table-responsive br-table-vacation">
        <table class="tabla-permiso-vacacion table2 table-striped table-hover responsive display" style="width: 100%;">
            <thead>
                <tr class="tabla-cabecera">
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Dias tomados</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.Vacaciones.Count; i++)
                {
                    <tr class="@(i % 2 == 0 ? "fila-coloreada" : "")" style="color: #34495E">
                        <td>
                            <span style="display:none;">@ViewBag.Vacaciones[i].FechaInicio.ToString("yyyyMMdd")</span>
                            @ViewBag.Vacaciones[i].FechaInicio.ToString("dd/MM/yyyy")
                        </td>

                        <td>
                            <span style="display:none;">@ViewBag.Vacaciones[i].FechaFin.ToString("yyyyMMdd")</span>
                            @ViewBag.Vacaciones[i].FechaFin.ToString("dd/MM/yyyy")
                        </td>

                        <td>@(dateCalculations.ObtenerDiasLaborables(ViewBag.Vacaciones[i].FechaInicio, ViewBag.Vacaciones[i].FechaFin))</td>
                        <td>@(ViewBag.Vacaciones[i].Aprobado == true ? "Aprobado" : "Rechazado")</td>
                    </tr>
                }

                @if (ViewBag.UltimoPermiso != null)
                {
                    if (ViewBag.UltimoPermiso.PermisoEstado != 2 && (ViewBag.UltimoPermiso.PermisoEstado == 1 || ViewBag.UltimoPermiso.PermisoFechaFin > DateTime.Now.Date))
                    {
                        <tr>
                            <td>
                                <span style="display:none;">@ViewBag.UltimoPermiso.PermisoFechaInicio.ToString("yyyyMMdd")</span>
                                @ViewBag.UltimoPermiso.PermisoFechaInicio.ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                <span style="display:none;">@ViewBag.UltimoPermiso.PermisoFechaFin.ToString("yyyyMMdd")</span>
                                @ViewBag.UltimoPermiso.PermisoFechaFin.ToString("dd/MM/yyyy")
                            </td>

                            <td>@(dateCalculations.ObtenerDiasLaborables(ViewBag.UltimoPermiso.PermisoFechaInicio, ViewBag.UltimoPermiso.PermisoFechaFin))</td>
                            <td>@(ViewBag.UltimoPermiso.PermisoEstado == 1 ? "Pendiente" : "Aprobado")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div id="mesaje-vacacion" class="alert alert-warning">

</div>





<!-- Modal -->
<div class="modal fade" id="modal_detalles_vacaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Condiciones y reglas vacaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="contentAnimacion" class="Content">
                    <p>
                        Las vacaciones se le otorgarán de acuerdo el Artículo 53 de la Ley No. 41-08, de Función Pública luego de haber cumplido un año de servicio en la Institución, con una autorización previa por
                        parte del Supervisor y el Director del área. Dicha autorización debe enviarse a la Dirección de Gestión Humana, como mínimo una semana antes de tomar las mismas.
                    </p>

                    <p>
                        Solo se acumulan las vacaciones de dos (2) años consecutivos.
                    </p>

                    <p>
                        <strong>El tiempo a disfrutar de las vacaciones será como lo muestra la siguiente tabla:</strong>
                    </p>
                    <table class="table2">
                        <tr class="tabla-cabecera">
                            <td>
                                Tiempo en la institución
                            </td>
                            <td>
                                Período de vacaciones
                            </td>
                        </tr>
                        <tr class="fila-coloreada">
                            <td>De 1 a 5 Años</td>
                            <td>15 días</td>
                        </tr>
                        <tr>
                            <td>De 5 a 10 Años</td>
                            <td>20 días</td>
                        </tr>
                        <tr class="fila-coloreada">
                            <td>De 10 a 15 Años</td>
                            <td>25 días</td>
                        </tr>
                        <tr>
                            <td>De 15 Años en Adelante</td>
                            <td>30 días</td>
                        </tr>
                    </table>

                    <div id="contenedor-info-vacacion">
                        Si no ha presentado alguna carta de procedencia desde otra institución del estado es posible que su tiempo en el estado y la cantidad de días acumulados que se muestras arriba no sean correctos.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button_white" data-dismiss="modal"><i class="fa fa-times-circle alejar_icono"></i>Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>








<script>
    $(document).ready(function () {
        $('#datepicker').datetimepicker({
            format: "DD-MM-YYYY",
        });

        // ==========

        localStorage.setItem('IntervalosObservacion', '@Html.Raw(ViewBag.IntervalosObservacion)')

        // ==========

        // ==========
        // Asegura que en el input de cantidad de días no se introduzcan valores negativos
        // ni que se seleccione una cantidad de días mayor a la acumulada.
        // ==========
        $('#cantidad-dias').on('input', function () {
            if ($(this).val() < 1) {
                $(this).val('');
            }

            if ($(this).val() > parseInt('@ViewBag.DiasAcumulados')) {
                $(this).val('@ViewBag.DiasAcumulados');
            }
        });
        // =====
        // ==========

        // ==========
        // Se validan los campos fecha salida y días, de ser correctos se realiza la
        // solicitud.
        // ==========
        $("#boton-enviar").click(function () {

            $("#boton-enviar").prop('disabled', true);

            var fechaSalida = moment($("#datepicker").val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss");

            console.log(fechaSalida);

            swal({
                title: "¿Seguro/a que quiere enviar solicitud?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí',
                cancelButtonText: 'No',
            }).then(function () {
                $('#loading-animation-container').fadeIn(0);

                var request = $.ajax({
                    method: "POST",
                    url: "@(HttpRuntime.AppDomainAppVirtualPath)/Permisos/VacacionSolicitud",
                    data: {
                        FechaInicio: fechaSalida,
                        Dias: $("#cantidad-dias").val(),
                        IntervalosObservacion: JSON.parse(localStorage.IntervalosObservacion)
                    }
                });

                request.done(function (data) {
                    // VALORES DEL ESTATUS
                    // 0 : fechaSalida y días vacíos
                    // 1 : días vacíos
                    // 2 : fechaSalida vacía
                    // 3 : fecha salida atrazada
                    // 4 : fecha salida inválida
                    // 5 : todo correcto

                    console.log(data.Estatus);

                    var estatus = data.Estatus;
                    var mensaje = "";

                    console.log(status);

                    switch (estatus) {
                        case 0:
                            mensaje = "Introduzca la fecha de salida y los días a tomar";
                            break;
                        case 1:
                            mensaje = "Introduzca los días a tomar";
                            break;
                        case 2:
                            mensaje = "Introduzca una fecha de salida";
                            break;
                        case 3:
                            mensaje = "La fecha de salida no puede ser hoy ni un dia anterior al de hoy";
                            break
                        case 4:
                            mensaje = "La fecha de salida no puede ser un Sábado, Domingo o día feriado";
                            break;
                        default:
                            mensaje = "";
                    }

                    if (estatus == 5) {
                        $('#loading-animation-container').fadeOut(500);

                        swal({
                            title: "Su solicitud ha sido enviada con éxito",
                            text: "",
                            type: "success"
                        }).then(function () {
                            location.reload()
                        });
                    }
                    else {
                        $('#loading-animation-container').fadeOut(0);

                        swal({
                            title: mensaje,
                            text: "",
                            type: "error"
                        }).then(function () {
                            $("#boton-enviar").prop('disabled', false);
                        });
                    }
                });

                request.fail(function (jqXHR, textStatus) {
                    $("#myModal").modal("hide");
                    console.log(jqXHR);
                    console.log(textStatus);
                });
            }).catch(function () {
                $("#boton-enviar").prop('disabled', false);
            });
        });
        // =====
        // ==========

        // ==========
        // Se buscan los datos de vacaciones y see verifica si existe una solicitud pendiente
        // o una vacación en proceso, de ser positivo no se muestran los campos de fecha salida ni de los días.
        // ==========

        // VALORES DEL ESTATUS
        // 0 : solicitud pendiente de aprobación
        // 1 : vacaciones en proceso
        // 2 : no solicitudes pendientes ni vacaciones en proceso

        var statusVacacion = parseInt(@ViewBag.EstatusVacacion);
        var mensajeStatus;

        console.log(statusVacacion);

        switch (statusVacacion) {
            case 0:
                mensajeStatus = '¡Tiene una solicitud pendiente de aprobación!';
                break;
            case 1:
                mensajeStatus = '¡Vacaciones aprobadas!';
                break;
            case 2:
                $('#contenedor-campos-vacaciones').show();
                $('#mesaje-vacacion').hide();
                $('#boton-enviar').show();
                $('#info-usuario-vacacion').show();


            default:
                mensajeStatus = '';
        }

        $('#mesaje-vacacion').text(mensajeStatus);

        if (parseInt(@ViewBag.DiasAcumulados) == 0) {
            var mensajeNoAplica = '¡Usted aún no aplica para vacaciones!';

            $('#mesaje-vacacion').show();
            $('#mesaje-vacacion').text(mensajeNoAplica);
        }
    });

    // =====
    // ==========

    $(document).ready(function () {
        $('.tabla-permiso-vacacion').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        })
    });
</script>

<script type="text/javascript">
    function InstructivoVacaciones() {
        //$("#cardnet").show();

        var intro = introJs();

        intro.setOptions({
            steps: [
            {
                element: document.querySelector('#datepicker'),
                intro: "Seleccione la fecha de salida."
            },
            {
                element: document.querySelector('#cantidad-dias'),
                intro: "Seleccione la cantidad de dias a tomar"
            },

            {
                element: document.querySelector('#boton-enviar'),
                intro: "Click aquí para solicitar su vacaciones",
                position: 'right'
            },
              {
                  element: document.querySelector('#detalles'),
                  intro: "Detalles cantidad de dias a tomar segun antiguedad en servicio"
              },

             {
                 element: document.querySelector('#historico'),
                 intro: "Aqui puede ver su historial de vacaciones"
             },

            {
                intro: "¡Y listo!",
                position: 'right'
            }
            ]
        });

        intro.start();

        intro.onexit(function () {
            $('#cardnet').hide();
        })
    }
</script>



