﻿@model intra.Models.GestionHumana.Permisos.Permisos
@using intra.Code

@{
    DateCalculations dateCalculations = new DateCalculations();
}

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

@using System.Globalization;

@*<script src="~/JS/jquery-1.11.0.min.js"></script>*@
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
@*<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">*@
@*<link href="~/Content/bootstrap-3.3.7/fonts/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-3.3.7/fonts/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.js"></script>


<style>
    .user-row {
        margin-bottom: 14px;
    }

        .user-row:last-child {
            margin-bottom: 0;
        }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

        .dropdown-user:hover {
            cursor: pointer;
        }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

        .table-user-information > tbody > tr:first-child {
            border-top: 0;
        }


        .table-user-information > tbody > tr > td {
            border-top: 0;
        }

    .toppad {
        margin-top: 20px;
    }

    /* ==========
       =====
    */

    #loading-animation-container {
        display: none;
    }

    #loading-animation {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
    }

    #loading-image-container img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #transparent-element {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #000000;
        opacity: .7;
    }

    /*#spinner-container {
        width: 50px;
        height: 40px;
        display: table-cell;
        vertical-align: middle;
    }

    .spinner {
        margin: auto;
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
    }

        .spinner > div {
            background-color: #ffffff;
            height: 100%;
            width: 6px;
            display: inline-block;
            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }

        .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }

        .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }

        .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }

    @@-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% {
            -webkit-transform: scaleY(0.4)
        }

        20% {
            -webkit-transform: scaleY(1.0)
        }
    }

    @@keyframes sk-stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }

        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }*/

    /* =====
       ==========
    */
</style>

<style>
    .DetalleHome {
        padding: 8px;
    }

    .DetalleHome {
        padding: 0 8px 8px 8px;
    }

    .DetalleHome {
    }


        .DetalleHome img {
            max-width: 100%;
        }

        .DetalleHome h1 {
            font-size: 16px;
            text-align: left;
        }

    .UsuarioDetalle {
        background-color: #fff;
        min-height: 135px;
        padding: 10px;
        margin-bottom: 8px;
        border-bottom: 6px solid #38afd4;
        position: relative;
    }

        .UsuarioDetalle a {
            color: #2b2d2f !important;
            font-family: roboto;
        }
</style>

<style>
    .DetalleHome {
        padding: 8px;
    }

    .DetalleHome {
        padding: 0 8px 8px 8px;
    }

    .DetalleHome {
    }


        .DetalleHome img {
            max-width: 100%;
        }

        .DetalleHome h1 {
            font-size: 16px;
            text-align: left;
        }

    .UsuarioDetalle {
        background-color: #fff;
        min-height: 135px;
        padding: 10px;
        margin-bottom: 8px;
        border-bottom: 6px solid #38afd4;
        position: relative;
    }

        .UsuarioDetalle a {
            color: #2b2d2f !important;
            font-family: roboto;
        }

    .swal2-title {
        width: 100%;
    }

    #contenedor-info-encargado {
        background-color: #34495E;
        color: #ffffff;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        text-align: center;
        font-weight: normal;
    }

    #nombre-encargado {
        font-weight: bold;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'MM/DD/YYYY HH:mm'
        });
        $('#datetimepicker3').datetimepicker({
            format: 'MM/DD/YYYY HH:mm'
        });
        $('#datetimepicker4').datetimepicker({
            format: 'MM/DD/YYYY HH:mm'
        });
        $(".oculto").hide();
    })
</script>


<h2>Permisos y Vacaciones</h2>

@*<div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">Información del Empleado</h3>
        </div>

        <div class="panel-body">

            <div class="row">
                 <!-- Validacion para Mostrar el Avatar  -->

                @if (@ViewBag.FotoPerfil != null)
        {
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="@ViewBag.FotoPerfil" class="img-circle img-responsive"> </div>
    }
    else
    {
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/Content/images/user.png" class="img-circle img-responsive"> </div>
    }


                <div class="col-md-9 col-lg-9">
                    <table class="table-user-information table">
                        <tbody>
                            <tr>
                                <td colspan="2">Datos</td>
                            </tr>
                            <tr>
                                <td>Nombre Completo:</td>
                                <td>@Session["nombre"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Código:</td>
                                <td>@Session["empleadoId"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Departamento:</td>
                                <td>@Session["departamento"].ToString()</td>
                            </tr>
                            <tr>
                                <td>Cargo:</td>
                                <td>@ViewBag.Cargo </td>
                            </tr>
                            <tr>
                                <td>Correo:</td>
                                <td>@ViewBag.Correo</td>
                            </tr>
                            <tr>
                                <td>Fecha de Ingreso:</td>
                                <td>@ViewBag.FechaIngreso.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@

<!-- Trigger the modal with a button -->
<button type="button" style="display:none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="background-color:none;opacity:0.0;">

        <!-- Modal content-->
        <div class="modal-content" style="background-color:none">
            <div class="modal-header" style="background-color:none;opacity:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color:none;opacity:1;">
            </div>
            <div class="modal-footer" style="background-color:none;opacity:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <center><img src="~/Content/images/gif_intranet_loading.gif" width="200" height="200" /></center>
</div>

<div id="loading-animation-container">
    <div id="loading-animation">
        <div id="loading-image-container">
            <img src="~/Content/images/gif_intranet_loading.gif" />
        </div>
    </div>

    <div id="transparent-element">

    </div>
</div>

<div id="contenedor-info-encargado">
    El nombre de su encargado es <span id="nombre-encargado">@ViewBag.NombreEncargado</span>. En dado caso de que esta persona no sea su encargado por favor comunicarse con Recursos Humanos.
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Seleccione el tipo de solicitud</h3>

        <br>

        <button class="tipoSolicitud" value="permiso">Permisos</button>
        <button class="tipoSolicitud" value="vaciones">Vacaciones</button>
    </div>
</div>

<div id="DivPermisos" class="oculto">
    @Html.Action("_Permisos", "Permisos", new { EmpleadoId = Session["empleadoId"].ToString() })<!--Historico de permisos-->
</div>

<div id="DivVacaciones" class="oculto">
    @Html.Action("_Vacaciones", "Permisos", new { EmpleadoId = Session["empleadoId"].ToString() })
</div>

@*<div class="panel panel-info" style="clear: both;">
    <div class="panel-heading">
        <h3 class="panel-title">Histórico de permisos</h3>
    </div>

    <div class="panel-body">
        @if (ViewBag.Permisos != null)
        {
            <table class="tabla-permiso-vacacion table table-striped table-hover responsive display  no-wrap" width="100%">
                <thead>
                    <tr>
                        <th>
                            Fecha Registro
                        </th>
                        <th>
                            Tipo de permiso
                        </th>

                        <th>
                            Fecha inicial
                        </th>
                        <th>
                            Fecha Final
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var permiso in ViewBag.Permisos)
                    {
                        <tr>
                            <td>
                                <span style="display:none;">@permiso.PermisoFechaRegistro.ToString("yyyyMMddHHmmss")</span>
                                @permiso.PermisoFechaRegistro
                            </td>
                            <td>
                                @permiso.TipoLicencia.TipoDescripcion
                            </td>
                            <td>
                                <span style="display:none;">@permiso.PermisoFechaInicio.ToString("yyyyMMdd")</span>
                                @permiso.PermisoFechaInicio
                            </td>
                            <td>
                                <span style="display:none;">@permiso.PermisoFechaFin.ToString("yyyyMMdd")</span>
                                @permiso.PermisoFechaFin
                            </td>
                            <td>
                                @permiso.PermisosEstados.PermisoEstadoNombre
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>*@

@*<div id="historico" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Histórico de vacaciones</h3>
    </div>

    <div class="panel-body">
        <table class="tabla-permiso-vacacion table table-striped table-hover responsive display  no-wrap" style="width: 100%;">
            <thead>
                <tr class="tabla-cabecera">
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Dias tomados</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < ViewBag.Vacaciones.Count; i++)
                {
                    <tr class="@(i % 2 == 0 ? "fila-coloreada" : "")" style="color: #34495E">
                        <td>
                            <span style="display:none;">@ViewBag.Vacaciones[i].FechaInicio.ToString("yyyyMMdd")</span>
                            @ViewBag.Vacaciones[i].FechaInicio
                        </td>

                        <td>
                            <span style="display:none;">@ViewBag.Vacaciones[i].FechaFin.ToString("yyyyMMdd")</span>
                            @ViewBag.Vacaciones[i].FechaFin
                        </td>

                        <td>@(dateCalculations.ObtenerDiasLaborables(ViewBag.Vacaciones[i].FechaInicio, ViewBag.Vacaciones[i].FechaFin))</td>
                        <td>@(ViewBag.Vacaciones[i].Aprobado == true ? "Aprobado" : "Rechazado")</td>

                    </tr>
                }

                @if (ViewBag.UltimoPermiso != null)
                {
                    if (ViewBag.UltimoPermiso.PermisoEstado != 2 && (ViewBag.UltimoPermiso.PermisoEstado == 1 || ViewBag.UltimoPermiso.PermisoFechaFin > DateTime.Now.Date))
                    {
                        <tr>
                            <td>
                                <span style="display:none;">@ViewBag.UltimoPermiso.PermisoFechaInicio.ToString("yyyyMMdd")</span>
                                @ViewBag.UltimoPermiso.PermisoFechaInicio
                            </td>

                            <td>
                                <span style="display:none;">@ViewBag.UltimoPermiso.PermisoFechaFin.ToString("yyyyMMdd")</span>
                                @ViewBag.UltimoPermiso.PermisoFechaFin
                            </td>

                            <td>@(dateCalculations.ObtenerDiasLaborables(ViewBag.UltimoPermiso.PermisoFechaInicio, ViewBag.UltimoPermiso.PermisoFechaFin))</td>
                            <td>@(ViewBag.UltimoPermiso.PermisoEstado == 1 ? "Pendiente" : "Aprobado")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>*@

<script>
    $(".tipoSolicitud").click(function () {
        var tipo = $(this).val();

        switch (tipo) {
            case "permiso":
                $("#DivPermisos").show();
                $("#DivVacaciones").hide();
                break;
            case "vaciones":
                $("#DivPermisos").hide();
                $("#DivVacaciones").show();
                break;
        }
    });
</script>

<script src="~/scripts/Validate.js"></script>