﻿@model intra.Models.GestionHumana.Permisos.Permisos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpleadoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLicenciaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLicenciaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoObservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoObservacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoAprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoFechaNombramiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoFechaNombramiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoFechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoFechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoFechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoFechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoFechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoFechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermisoFechaAprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermisoFechaAprobado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
