﻿@model intra.Models.GestionHumana.Permisos.Permisos
@using System.Globalization;
@{
    ViewBag.Title = "Detalle del permiso";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.min.css" rel="stylesheet" />

@Html.Action("vInformacionEmpleado", "Permisos", new { id = Model.EmpleadoId })<!--Historico de permisos-->

<style>

    #boton-aprobar {
        background-color: #3478B4;
        border-bottom: 5px solid #295F8E;
        margin-right: 10px;
    }

    #boton-rechazar {
        background-color: #E9403A;
        border-bottom: 5px solid #C1312C;
    }
    
    .volver {
        background-color: #26A15E;
        border:none;
        padding:5px 15px !important;
        border-radius:17px;
        color: #fff!important;
        margin-right: 10px;
        overflow:visible;
    }


    /* ==========
       =====
    */
    #loading-animation-container {
        display: none;
    }

    #loading-animation {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
    }

    #loading-image-container img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #transparent-element {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #000000;
        opacity: .7;
    }


    #mesaje-vacacion {
        font-size: 18pt;
        text-align: center;
        margin: 15px 0 25px 0;
        display: none;
    }

    #tabla-detalles-estudio thead tr td {
        color: #ffffff !important;
        font-size: 10pt !important;
    }


    #tabla-detalles-estudio td {
        color: #000000;
        font-size: 10pt;
    }
    /* =====
       ==========
    */
</style>

<div>
    <h2 class="h2_title_page">Detalle del Permiso</h2>
    <hr class="hr2" />

    <table id="tabla-detalles" class="table2 table-striped table-hover responsive display  no-wrap" width="100">
        <thead>
            <tr>
                <td>Tipo de permiso</td>
                <td>Fecha de inicio</td>
                <td>Fecha de culminación</td>
                <td>Estado del permiso</td>
                <td>Motivo del permiso</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.TipoLicencia.TipoDescripcion</td>
                <td class="fechaInicio">@Model.PermisoFechaInicio.Value.ToString("dd/MM/yyyy hh:mm tt", CultureInfo.InvariantCulture)</td>
                <td class="fechaFin">@Model.PermisoFechaFin.Value.ToString("dd/MM/yyyy hh:mm tt", CultureInfo.InvariantCulture)</td>
                <td id="permiso-estado"><span class="estatus estatus_aprobado">@Model.PermisosEstados.PermisoEstadoNombre</span></td>
                <td>@Model.PermisoObservacion</td>
            </tr>
        </tbody>
    </table>

    @if (Model.TipoLicenciaId == 4 && ViewBag.DiaEstudio != null)
    {
        <table id="tabla-detalles-estudio" class="table2 table-striped table-hover responsive display  no-wrap" width="100">
            <thead>
                <tr>
                    <td>Día</td>
                    <td>Hora inicio</td>
                    <td>Hora fin</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@ViewBag.DiaEstudio.DiaEstudioNombre</td>
                    <td>@ViewBag.DiaEstudio.DiaEstudioHoraInicio</td>
                    <td>@ViewBag.DiaEstudio.DiaEstudioHoraFin</td>
                </tr>
            </tbody>
        </table>
    }
</div>

<br />

<div id="mesaje-vacacion_rechazada" class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12">
    Solicitud Rechazada!
</div>


<div id="mesaje-vacacion_aprobada" class="alert alert-success col-lg-12 col-md-12 col-sm-12 col-xs-12">
    Solicitud Aprobada!
</div>


<div style="margin-bottom: 10px;">
    <button type="button" id="boton-aprobar" class="boton-permiso estatus estatus_aprobado" value="0">Aprobar</button>

    <button type="button" id="boton-rechazar" class="boton-permiso estatus estatus_rechazado" value="1">Rechazar</button>
 
    @Html.ActionLink("Volver", "Index", null, new { @class = "boton-permiso volver" })
 
</div>

<div id="loading-animation-container">
    <div id="loading-animation">
        <div id="loading-image-container">
            <img src="~/Content/images/gif_intranet_loading.gif" />
        </div>
    </div>

    <div id="transparent-element">

    </div>
</div>




<script src="~/scripts/moment.js"></script>
<script>
    // ==========
    // Verifica el estado del permiso, para determinar cual botón mostrar.
    // ==========
    var request = $.ajax({
        url : "@Url.Action("VerificarEstado")",
        type: "POST",
        data: {PermisoID: @Model.PermisoId}
    });

    request.done(function (data) {


   

        if (data.PermisoEstado == 3)
        {
            $("#mesaje-vacacion_aprobada").show();
            $("#mesaje-vacacion_rechazada").hide();
        }
        else if(data.PermisoEstado == 2)
        {
            $("#mesaje-vacacion_rechazada").show();
            $("#mesaje-vacacion_aprobada").hide();
        }
        else if(data.PermisoEstado == 1)
        {
            $("#mesaje-vacacion_rechazada").hide();
            $("#mesaje-vacacion_aprobada").hide();
        }






        if (data.PermisoEstado == 2 || data.PermisoEstado == 3) {
            $("#boton-rechazar").hide();
            $("#boton-aprobar").hide();

        }

        var textoEstado = 'Pendiente'

        if (data.PermisoEstado == 2) {
            textoEstado = 'Rechazado';
        }
        else if (data.PermisoEstado == 3) {
            textoEstado = 'Aprobado';
        }

        $("#permiso-estado").text(textoEstado);
    });
    // =====
    // ==========

    // ==========
    // Cambia el estado del permiso.
    // ==========
    $(".boton-permiso").click(function () {
        var value = $(this).val();

        var mensaje = value == 0 ? "aprobar" : "rechazar";

        swal({
            title: "¿Seguro/a que desea " + mensaje + " esta solicitud?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then(function () {
            $('#loading-animation-container').fadeIn(0);

            var request = $.ajax({
                url: "@Url.Action("CambiarEstado")",
                type: "POST",
                data: { Value: value, PermisoId: @Model.PermisoId }
            });

            request.done(function (data) {
                if (data.Estatus == "OK") {
                    $('#loading-animation-container').fadeOut(0);

                    var mensaje = data.PermisoEstado == 2 ? "rechazada!" : "aprobada!";

                    swal({
                        title: '¡Solicitud ' + mensaje,
                        text: '',
                        type: 'success'
                    });

                    //if (data.PermisoEstado == 1 || data.PermisoEstado == 2) {
                    //    $("#boton-rechazar").hide();
                    //    $("#boton-aprobar").show();
                    //}
                    //else if (data.PermisoEstado == 3) {
                    //    $("#boton-aprobar").hide();
                    //    $("#boton-rechazar").show();
                    //}

                    if (data.PermisoEstado == 3)
                    {
                        $("#mesaje-vacacion_aprobada").show();
                        $("#mesaje-vacacion_rechazada").hide();
                    }
                    else if(data.PermisoEstado == 2)
                    {
                        $("#mesaje-vacacion_rechazada").show();
                        $("#mesaje-vacacion_aprobada").hide();
                    }
                    else if(data.PermisoEstado == 1)
                    {
                        $("#mesaje-vacacion_rechazada").hide();
                        $("#mesaje-vacacion_aprobada").hide();
                    }

                    if (data.PermisoEstado == 2 || data.PermisoEstado == 3) {
                        $("#boton-rechazar").hide();
                        $("#boton-aprobar").hide();
                       
                    }

                    $("#permiso-estado").text(data.PermisoEstado == 3 ? 'Aprobado' : 'Rechazado');
                }
            });

            request.fail(function (jqXHR, textStatus) {
                console.log(jqXHR);
                console.log(textStatus);
            });
        }).catch(function () {
            //$("#boton-enviar").prop('disabled', false);
        });
    });
</script>