﻿@model intra.Models.GestionHumana.Permisos.Permisos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Permisos</h2>

@Html.Action("vInformacionEmpleado", "Permisos")<!--Info del empleado-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Permisos</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PermisoId)

        

        <div class="form-group">
            <label for="TipoLicenciaId" class="control-label col-md-2">Tipo de permiso</label>
            <div class="col-md-10">
                @Html.DropDownList("TipoLicenciaId", (SelectList)ViewBag.TipoLicencia)
            </div>
        </div>

        <div class="form-group">
            <label for="PermisoFechaInicio" class="control-label col-md-2">Fecha de Inicio</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PermisoFechaInicio)
            </div>
        </div>

        <div class="form-group">
            <label for="PermisoFechaFin" class="control-label col-md-2">Fecha de Culminación</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PermisoFechaFin)
            </div>
        </div>

        <div class="form-group">
            <label for="PermisoObservacion" class="control-label col-md-2">Justificación</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PermisoObservacion)
            </div>
        </div>


        <div class="form-group">
            <label for="PermisoAprobacion" class="control-label col-md-2">Aprobación</label>
            <div class="col-md-10">
                <div class="radio">
                    <label><input type="radio" name="PermisoAprobacion" value="1">Aprobado</label>

                    <label><input type="radio" name="PermisoAprobacion" value="2">Denegado</label>
                </div>
               
                @*@Html.EditorFor(model => model.PermisoAprobacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PermisoAprobacion, "", new { @class = "text-danger" })*@
            </div>
        </div>

       
        @Html.HiddenFor(model => model.EmpleadoId)
        @Html.HiddenFor(model => model.PermisoUsuario)
        @Html.HiddenFor(model => model.PermisoObservacion)
        @Html.HiddenFor(model => model.PermisoFechaInicio)
        @Html.HiddenFor(model => model.PermisoFechaFin)
        @Html.HiddenFor(model => model.PermisoFechaRegistro)
        @Html.HiddenFor(model => model.TipoLicenciaId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
