﻿@model IEnumerable<intra.Models.GestionHumana.Permisos.Permisos>

@{
    ViewBag.Title = "Bandeja de solicitud de permisos";
    Layout = "~/Views/intraMaster.cshtml";
}


<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-3.3.7/fonts/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.js"></script>


@Styles.Render("~/datatables/css")





<h2 class="h2_title_page">Bandeja de solicitud de permisos y vacaciones</h2>
<hr class="hr2" />
<div class="clearfix"></div>


@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        <strong>Advertencia!</strong> @ViewBag.Message
    </div>
}

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Solicitante</th>
            <th>Tipo de permiso</th>
            <th>Estado </th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.EmpleadoNombre) </td>
                <td> @Html.DisplayFor(modelItem => item.TipoLicencia.TipoDescripcion) </td>
                <td>
                    @if (@item.PermisosEstados.PermisoEstadoId == 2)
                    {
                        <span class="estatus estatus_rechazado"> @item.PermisosEstados.PermisoEstadoNombre</span>
                    }
                    else if (@item.PermisosEstados.PermisoEstadoId == 3)
                    {
                        <span class="estatus estatus_aprobado"> @item.PermisosEstados.PermisoEstadoNombre</span>
                    }
                    else if (@item.PermisosEstados.PermisoEstadoId == 1)
                    {
                        <span class="estatus estatus_pendiente"> @item.PermisosEstados.PermisoEstadoNombre</span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.PermisoFechaInicio) </td>

                <td> @Html.ActionLink("Ver solicitud", "Details", new { id = item.PermisoId }, new { @class = "estatus estatus_informacion" }) </td>
            </tr>
        }
    </tbody>
</table>


@Scripts.Render("~/datatables/js")\
















<div class="container">
    <div class="row hidden-xs">
        <div class="col-sm-4 col-sm-offset-4">
            <ul class="identidad">
                <li><img class="alignnone size-full wp-image-4906 aligncenter" src="http://pgr.gob.do/wp-content/uploads/2015/10/logo_footer.png" alt="logo_footer" width="165" height="104" /></li>
            </ul>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
            <!-- sello NORTIC -->
            <span style="     position: absolute;   right: 0;">
                <!-- CÓDIGO DE SELLO ESCRITORIO NORTIC A2:2013 -->
                <!-- CÓDIGO DE SELLO NORTIC A2:2013 -->
                <span id="selloNortic"><a href="http://optic.gob.do/nortic/index.php/certificaciones/instituciones-certificadas/item/procuraduria-general-de-la-republica-pgr" hreflang="es" target="_blank" rel="nofollow" title="Medio web certificado bajo la NORTIC A2:2013 con el NIU 16007-03-A20D01"><img src="http://optic.gob.do/nortic/images/sellos/pgr-sello-a2-2013/03-pgr.png" lang="es" width="83" height="100" alt="Sello de certificación de la A2:2013 con el NIU 16007-03-A20D01"></a></span>
                <!-- FIN CÓDIGO DE SELLO NORTIC A2:2013 -->
                <!-- FIN CÓDIGO DE SELLO -->
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p style="text-align: center;">
                <span style="color: #333333;">
                    <strong>Procuraduría General de la República (PGR)</strong></br>
                    Ave. Jiménez Moya esq. Juan Ventura Simó, Centro de los Héroes,</br>
                    Santo Domingo, República Dominicana
                </span>
                <span style="color: #000000;">
                    </br> Tel: 809-533-3522
                    | Email: <a href="mailto:info@pgr.gob.do">info@pgr.gob.do</a>
                </span>
            </p>
            <p style="text-align: center;"><span style="color: #000000;"><a href="https://transparencia.pgr.gob.do/blog/terminos-de-uso">Términos de Uso</a> | <a href="https://transparencia.pgr.gob.do/blog/politicas-de-privacidad">Políticas de Privacidad</a> | <a href="https://transparencia.pgr.gob.do/blog/preguntas-frecuentes">Preguntas Frecuentes</a></span></p>
        </div>
    </div>
</div>









<div class="container">
    <div class="row hidden-xs">
        <div class="col-sm-4 col-sm-offset-4">
            <ul class="identidad">
                <!-- logo organismo para footer -->
                <li><img class="alignnone size-full wp-image-4906 aligncenter" src="http://pgr.gob.do/wp-content/uploads/2015/10/logo_footer.png" alt="logo_footer" width="165" height="104" /></li>
            </ul>
        </div>
        <div class="col-sm-2 col-sm-offset-2 selloNortic">
            <!-- sello NORTIC -->
            <span>
                <!-- CÓDIGO DE SELLO ESCRITORIO NORTIC A2:2013 -->
                <!-- CÓDIGO DE SELLO NORTIC A2:2013 -->
                <span id="selloNortic"><a href="http://optic.gob.do/nortic/index.php/certificaciones/instituciones-certificadas/item/procuraduria-general-de-la-republica-de-la-republica-pgr" hreflang="es" target="_blank" rel="nofollow" title="Medio web certificado bajo la NORTIC A2:2013 con el NIU 16007-03-A20D01"><img src="http://optic.gob.do/nortic/images/sellos/pgr-sello-a2-2013/03-pgr.png" lang="es" width="83" height="100" alt="Sello de certificación de la A2:2013 con el NIU 16007-03-A20D01"></a></span>
                <!-- FIN CÓDIGO DE SELLO NORTIC A2:2013 -->
                <!-- FIN CÓDIGO DE SELLO -->
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><a class="nombreOrganismo" href="#">Transparencia PGR</a></p>
            <p class="hidden-xs">Ave. Jiménez Moya esq. Juan Ventura Simó, Centro de los Héroes, Santo Domingo, República Dominicana</p>
            <p class="hidden-xs">Tel.: 809-533-3522 |  <a href="mailto:info@mp.gob.do?subject=Transparencia PGR - Contacto">info@mp.gob.do</a></p>
            <p class="hidden-xs">
            </p><div class="menu-menu-top-container">
                <ul id="menu-menu-top-1" class="menu hidden-xs">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-59 current_page_item menu-item-208"><a href="../blog/terminos-de-uso/index.html">Términos de Uso</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a href="../blog/politicas-de-privacidad/index.html">Políticas de Privacidad</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-206"><a href="../blog/preguntas-frecuentes/index.html">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <p>2017. República Dominicana</p>


            <p class="visible-xs">
            </p><div class="menu-menu-top-container">
                <ul id="menu-menu-top-2" class="menu text-center visible-xs">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-59 current_page_item menu-item-208"><a href="../blog/terminos-de-uso/index.html">Términos de Uso</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a href="../blog/politicas-de-privacidad/index.html">Políticas de Privacidad</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-206"><a href="../blog/preguntas-frecuentes/index.html">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <p></p>

            <p class="boton visible-xs"><a href="#" class="subir"><span class="glyphicon glyphicon-download"></span>Subir</a></p>
            <p class="visible-xs selloMobile">
                &#65279;<!-- CÓDIGO DE SELLO MÓVIL NORTIC A2:2013 -->
                <!-- FIN CÓDIGO DE SELLO MÓVIL NORTIC A2:2013 -->
            </p>

        </div>
    </div>
</div>





