﻿@model intra.Models.GestionHumana.Permisos.Permisos
@{
    ViewBag.Title = null;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Permiso</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style>
        * {
            color: black;
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 8px !important;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 16%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }


        .estatus_pendiente {
            color: white;
            background: #efb11e;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_aprobado {
            color: white;
            background: #68c249;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_cancelado {
            color: white;
            background: #ee3c3c;
            padding: 6px 10px;
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />
        <div style="position:relative; top:85px;float:right; margin-right: 50px;color: darkgray;">
            <span>
                Estatus:
                    <span class="estatus_pendiente">@Model.PermisosEstados.PermisoEstadoNombre</span>

            </span>
            <br /><br />
        </div>

        <div class="contenedor">
            <div class="cabecera">
                <h1>FOMULARIO SOLICITUD PERMISO Y/O TARDANZA</h1>
            </div>
            <div class="cuerpo">
                <h2>FOMULARIO SOLICITUD</h2>
                <hr style="margin-top:-2px;" />
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row" width="15%">Fecha Solicitud:</th>
                            <td width="20%">@Model.PermisoFechaRegistro.Value.ToString("dd/MM/yyyy")</td>
                            <th scope="row" style="width:20%;">Cédula:</th>
                            <td>@ViewBag.empleado.cedula</td>
                        </tr>

                        <tr>
                            <th scope="row">Solicitante:</th>
                            <td width="40%;">@ViewBag.empleado.nombre</td>
                            <th scope="row" width="15%">Código Empleado:</th>
                            <td width="20%">@Model.EmpleadoId</td>
                        </tr>
                        <tr>
                            <th scope="row">Departamento:</th>
                            <td>@ViewBag.empleado.dependencia</td>
                            <th scope="row" width="15%">Cargo:</th>
                            <td width="20%">@ViewBag.empleado.cargo</td>
                        </tr>
                        <tr>
                            <th colspan="2" scope="row">Tipo de Acción:</th>
                            <td colspan="2">@Model.TipoLicencia.TipoDescripcion</td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Duracion del Permiso</th>
                        </tr>
                        <tr>
                            <th scope="row">Desde:</th>
                            <td>@Model.PermisoFechaInicio.Value.ToString("dd/MM/yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <th scope="row">Hasta:</th>
                            <td>@Model.PermisoFechaFin.Value.ToString("dd/MM/yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                        </tr>
                        <tr>
                            <th scope="row">Observación:</th>
                            <td colspan="4" height="150">@Model.PermisoObservacion</td>
                        </tr>
                    </tbody>
                </table>

                <h2 style="margin-top:9%; text-align:center">APROBADO POR:</h2>
                <hr style="margin-top:-2px;" />
                <div>
                    <div style="width:100%; height:auto;margin-top:3%;">
                        <div style="width:50%;float:left;padding: 0 10px 0 0;">
                            <div style="width: 80%; border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:16px;font-weight:bold;">@ViewBag.empleado.nombre</div>
                            <h5 style="margin-left: 80px;font-style: oblique;font-size: 16px;margin-top: 0px;">Firma del Solicitante</h5>
                        </div>
                    </div>

                    <div style="margin-top:120px;width:100%; height:auto;">
                        <div style="width:50%;float:right;padding: 0 10px 0 0;">
                            <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:16px;font-weight:bold;">@ViewBag.supervisor</div>
                            <h5 style=" text-align: center;margin-left: 90px;font-style: oblique;font-size: 16px;margin-top: 0px;">Firma del Supervisor</h5>
                        </div>
                    </div>
                </div>
                @*<div style="width:100%; height:auto;margin-top:5%;">
                    <div style="width:40%;float:left;padding: 0 40px 0 0;">
                        <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:18px;font-weight:bold;">@ViewBag.empleado.nombre</div>
                        <h5 style="text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 0px;">Firma del Solicitante</h5>
                    </div>
                </div>

                <div style="margin-top:120px;width:100%; height:auto;">
                    <div style="width:40%;float:right;padding: 0 40px 0 0;">
                        <div style="width: 80%;float: right;border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:18px;font-weight:bold;">@ViewBag.supervisor</div>
                        <h5 style=" text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 0px;">Firma del Supervisor</h5>
                    </div>
                </div>*@

                <div style="position: absolute;bottom: 0;top: 143%;width:80%; text-align:center;">
                    <p style="font-size: 8pt;">
                        Formulario de control de cambios por la Dirección de Tecnologia de la Informacion, es creado por <b style="color: #0c4ba4;">el área de Proyecto e Implementaciones (PEI)</b> de la <b>(DTI)</b> de
                        la ProcuraduríaGeneral de la Republica (PGR). <b style="color: #0c4ba4;">tecnologíadelainformacion@pgr.gob.do</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>