﻿@model intra.Models.GestionHumana.Permisos.Permisos


<p>
    Este procedimiento digital está concebido con la finalidad de agilizar el proceso de las Solicitudes de Permisos, y a la vez llevar unos registros
    estadísticos de los requerimientos de nuestro personal.

    El empleado debe llenar cada uno de los espacios que esta aplicación le presenta de acuerdo al permiso solicitado. La solicitud llegará vía electrónica
    al supervisor de área el cual deberá aprobar o rechazar dicho permiso.

    Es importante destacar que hay solicitudes de permiso que se pueden prever y éstas deben ser solicitadas por lo menos el día anterior, y otras solicitudes
    que por no ser previstas deben ser notificadas en el transcurso del día de ocurrencia de la situación, y luego formalizar el permiso, realizando el procedimiento
    establecido.

    El supervisor del área es el responsable de la aprobación de la solicitud de permiso. Automáticamente se apruebe, el sistema envía a Recursos Humanos la aprobación,
    y luego el supervisor y el empleado solicitante recibirán la notificación de la aprobación o del status de pendiente de aprobación con la justificación de la misma.

    La <strong> Gerencia de Recursos Humanos</strong>, validará las solicitudes de permisos registradas en el sistema, en un plazo de tiempo no mayor de <strong>cinco (5) días laborables (1 semana)</strong>,
    esto según lo establecido en el<strong> Artículo 12</strong> del Reglamento Interno.

</p>