﻿@model intra.Models.GestionHumana.VISTA_EMPLEADOS


@using System.Globalization;

@using intra.Models

@{
    var CodFestejado = Model.empleadoid;
    List<MostraFelicitaciones> MostraFelicitaciones = ViewBag.Felicitaciones;
    dbIntranet db = new dbIntranet();
 }

<style>
    .imagenEmpleado{
        webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    width: 100%;
        height: 289px;
    }
</style>



        <h2 class="h2_title_page"> Información del Empleado</h2>
        <hr class="hr2" />
        <div class="clearfix"></div>






<div class="row" style="margin-bottom:15px;">

    <div class="col-md-3">


        @{ var EmpAvatar = db.MiPerfilAvatars.Where(x => x.codigoEmpleado == CodFestejado).FirstOrDefault(); }
        @if (EmpAvatar != null)
            {
            <img class="imagenEmpleado" src="@EmpAvatar.avatar" alt="cumple-1"  />
        }
        else
        {
            <img class="imagenEmpleado" src="~/content/images/user-cumple.png" alt="cumple-1" />
        }
    </div>


    <div class="col-md-9">
        <table class="table2">
            <tbody>

                <tr>
                    <td>Nombre Completo:</td>
                    <td>@Model.nombre</td>
                </tr>

                <tr>
                    <td>Código:</td>
                    <td>@Model.empleadoid</td>
                </tr>
                <tr>
                    <td>Departamento:</td>
                    <td>@Model.departamento</td>
                </tr>
                <tr>
                    <td>Cargo:</td>
                    <td>@Model.cargo </td>
                </tr>
                <tr>
                    <td>Correo:</td>
                    <td>@ViewBag.Correo </td>
                </tr>
                <tr>
                    <td>Fecha de Ingreso:</td>
                    <td>@Model.fechaingreso.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />