﻿@model intra.IncidenciasAreas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select, input[type='text'], input[type="datetime"] {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
    }
</style>



<h2>Crear localidad</h2>

@using (Html.BeginForm())
{
    <section class="serviciosSolicitud">
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-3">
                <label>Nombre de localidad</label>
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.IncidenciasAreaNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasAreaNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
        </section>
        }


