﻿@model intra.IncidenciasAreas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IncidenciasAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasAreaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasAreaNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncidenciasAreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
