﻿@model intra.Models.GestionHumana.AlbumGestionHumana

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Editar Albúm</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top">
                @if (User.IsInRole("RRHHA"))
                {
                    <button type="submit" value="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                    <button type="button" id="Volver" name="volver" onclick="volverAtras()" class="btn button_white">Volver</button>

                }
            </div>
        </div>
    </section>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AlbumGHId)
        @Html.HiddenFor(model => model.AlbumGHFhCreacion)
        @Html.HiddenFor(model => model.AlbumGHUsuarioCreador)
        @Html.HiddenFor(model => model.AlbumEstado)

        <div class="form-group">
            <label for="AlbumGHNombre" class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlbumGHNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlbumGHNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha de creación</label>
            <div class="col-md-10">
                <input type="text" value='@Model.AlbumGHFhCreacion.Value.ToString("dd/MM/yyyy")' class="form-control" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Usuario creador</label>
            <div class="col-md-10">
                <input type="text" value="@ViewBag.NombreUsuario" class="form-control" readonly="readonly" />
            </div>
        </div>

    </div>
}


<script>
    function volverAtras() {
        window.history.back();
    }
</script>
