﻿@model IEnumerable<intra.Models.GestionHumana.AlbumGestionHumana>

@{
    ViewBag.Title = "Álbumes Fotograficos";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/fotos.css" rel="stylesheet" />

<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
<script src="~/Content/slider/amazingslider.js"></script>
<script src="~/Content/slider/initslider-1.js"></script>

<link href="~/Content/css/imageviewer.css" rel="stylesheet" />
<link href="~/Content/css/normalize.css" rel="stylesheet" />
<link href="~/Content/css/set1.css" rel="stylesheet" />

<link href="~/Content/css/slider-beneficiarios-style.css" rel="stylesheet" />
<script src="~/Content/js/script-beneficiarios.js"></script>

<!-- Magnific Popup core CSS file -->
<link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
<!-- Magnific Popup core JS file -->
<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
<style>
    .bla {
        font-weight: 200;
    }

    .card-image {
        max-width: 100%;
    }

    .card-img {
        width: 320px;
        height: 221px;
        /*max-width: 180px;*/
    }

    .icon-links a i {
        color: #848484;
        padding-left: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

        .icon-links a i:hover {
            color: #616161;
        }

    igure.effect-zoe:hover p.icon-links a:hover,
    figure.effect-zoe:hover p.icon-links a:focus {
        background-color: white !important;
    }

    figcaption span {
        font-size: 16px;
    }

    .modal-content {
        height: 502px;
    }

    .bla {
        font-weight: 200;
    }


    .card-img {
        width: 100%;
        height: auto;
    }

    .card-body {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 3fr);
        width: 100%;
        height: 166px;
        text-align: center;
    }

    .botones {
        grid-row: 4/5;
    }



    .card-body .btn {
        padding: 8px 18px 8px 10px;
        background-color: #0b4ba4;
        color: #fff;
        font-size: 12px;
    }

    .card-body label {
        text-transform: uppercase;
        font-weight: 400;
    }

    .overefect {
        background-color: #eee !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .chosen-container {
        width: 100% !important;
    }

    .estatus {
        cursor: pointer;
    }

    .date-picker-slct {
        width: 110px !important;
    }

    .thumb-image-size {
        width: 100%;
    }

    .button_badge_repatriados {
        background-color: #ff3c3c;
        border-radius: 50%;
        color: white;
        width: 25px;
        padding: 6px 3px;
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 181px;
        text-align: center;
        height: 25px;
        -webkit-text-fill-color: white !important;
    }

    .accordion-filtro {
        display: none;
    }

    .tabcontent {
        /*height:80vh;*/
        padding: 10px 24px 10px 24px;
    }

    .hidden-cards {
        padding: 50px;
        width: auto;
        height: auto;
        overflow: hidden;
        /*height: 80vh;*/
    }

    .button_white {
        margin: 0 2px !important;
    }

    .card-titulos {
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        display: flex;
        justify-content: center;
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

        .card-titulos p {
            color: #fff !important;
            font-weight: bold;
            font-size: 14pt;
        }

    .catalogo-bottom {
        background-color: #dedede;
        text-align: center;
        padding: 40px 0;
        border-radius: 3px;
        margin-top: 20px;
    }

        .catalogo-bottom p {
            margin: 0;
            padding: 0;
        }

    .catalogo-options {
        display: flex;
        justify-content: flex-end;
    }

        .catalogo-options a {
            display: inline-block;
        }

    .catalogo-header {
        display: flex;
        align-items: center;
    }

    body {
        padding-right: 0px !important;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tab {
        overflow: hidden;
        background-color: #fff;
        margin: 40px 0px 0px 0px;
    }

    .tgl-active {
        display: block !important;
    }

    .tab button {
        font-weight: bold;
        font-size: 14px;
    }

    .carousel-cell {
        width: 30% !important;
    }

    .hovereffect {
        height: 55%;
    }


    .style-title {
        text-align: left;
        line-height: 0;
        color: #0298eb;
    }

    .tab img {
        max-height: 40px;
        -webkit-filter: grayscale(0%) !important;
        filter: grayscale(0%) !important;
        opacity: 1 !important;
        -webkit-transition: background-color 500ms ease-out 1s;
        -moz-transition: background-color 500ms ease-out 1s;
        -o-transition: background-color 500ms ease-out 1s;
        transition: background-color 500ms ease-out 1s;
    }

    .hovereffect img {
        border-radius: 10px 10px 0px 0px;
    }

    .tab button.active {
        line-height: 2;
        font-size: 16pt;
        font-weight: 100;
    }

    .card-body label {
        padding-top: 10px;
    }

    .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        border-radius: 10px 10px 0px 0px;
    }

    .hovereffect .overlay {
        border-radius: 10px 10px 0px 0px;
    }
</style>

@if (User.IsInRole("RRHHA"))
{
    <div class="row alinear">
        <div class="col-lg-10">
            @*<h2>álbumes Fotograficos</h2>*@
        </div>

        <div class="col-lg-2 ">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "button_white " })
        </div>
    </div>
}

<!-- Content Section -->
<div class="container tab br-datos-p-cont">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 br-datos-p">

                    <div class="col-lg-12" style="padding-bottom:10px;" id="p1">

                        <div class="imagen-icon col-xs-1">
                            <img src="~/Content/images/icons/novedades-azul.svg" />
                        </div>

                        <button id="btn-1" codigo="1" class="tablinks active style-title">
                            Album de Fotos Gestión Humana
                        </button>

                        <img style="position: absolute;top: 48px; left: 44px;" class="tgl tgl-active tgl" src="~/content/images/triangulo.png">
                    </div>
                </div>
                <!-- //col-lg-12 -->
            </div>
            <!-- //row -->
        </div>
    </div>
    <!-- //col-lg-12 -->
</div>

<div class="row br-tri">
    <div class="col-md-12 tabs_actualizarDatos">

        <div id="openCity-Id" class="tabcontent" style="display:block;">

            <div class="row">
                <div class="col-lg-12">
                    <div class="hidden-cards">
                        <div class="carousel-wrapper-album">
                            <div class="carousel">

                                @{ var album = Model.Where(x => x.FotoGestionHumana.Where(y => y.FotoEstado).Count() > 0); }

                                @if (album.Count() > 0)
                                {
                                    foreach (var item in Model.Where(x => x.FotoGestionHumana.Where(y => y.FotoEstado).Count() > 0))
                                    {
                                        <div class="carousel-cell">
                                            <div class="card-image popup-gallery-@item.AlbumGHId hovereffect">
                                                @foreach (var item2 in item.FotoGestionHumana.Where(x => x.FotoEstado == true).OrderBy(x => x.FotoGHId))
                                                {
                                                    <img class="AlbumSlide_@item.AlbumGHId card-img gallery-items" src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/GH_IMAGES/AlbumFotos/@item2.FotoGHNombre" />

                                                    <div class="overlay">

                                                        <a class="info" href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/GH_IMAGES/AlbumFotos/@item2.FotoGHNombre" title="@item.AlbumGHNombre">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                            <h2>Ver album</h2>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                            <div class="card-body">
                                                <label>@(item.AlbumGHNombre.ToString().Length > 90 ? item.AlbumGHNombre.Substring(0, 90) + "..." : item.AlbumGHNombre )</label>

                                                <div class="botones">
                                                    @if (User.IsInRole("RRHHA"))
                                                    {

                                                        <a class="btn bla" href='@Url.Action("Edit", new { id = item.AlbumGHId })'><i class="fa fa-edit alejar_icono"></i>Editar</a>

                                                        <button class="btn bla" id="eliminar" name="eliminar" onclick="EliminarAlbumnes(@item.AlbumGHId)"><i class="fa fa-trash alejar_icono"></i>Eliminar</button>
                                                    }
                                                    <a class="btn bla" codigo="@item.AlbumGHId" href='@Url.Action("Index", "FotoGestionHumana", new { AlbumId = item.AlbumGHId })'><i class="fa fa-folder-open alejar_icono"></i>Abrir</a>
                                                </div>
                                                <script>

                                                $(document).ready(function () {

                                                    var myIndex = 0;
                                                    carousel@(item.AlbumGHId)();

                                                    function carousel@(item.AlbumGHId)() {
                                                        //var i;
                                                        var x = document.getElementsByClassName('AlbumSlide_@item.AlbumGHId');

                                                        for (var i = 0; i < x.length; i++) {
                                                            x[i].style.display = "none";
                                                        }

                                                        myIndex++;

                                                        if (myIndex > x.length) {
                                                            myIndex = 1
                                                        }

                                                        x[myIndex - 1].style.display = "block";
                                                        setTimeout(carousel@(item.AlbumGHId), 5000);
                                                        //fadeIn(5000);
                                                        //fadeOut(5000);
                                                    }
                                                })


                                                /**GALLERY MODAL**/
                                                $(document).ready(function () {
                                                    $('.popup-gallery-@item.AlbumGHId').magnificPopup({
                                                        delegate: 'a',
                                                        type: 'image',
                                                        tLoading: 'Loading image #%curr%...',
                                                        mainClass: 'mfp-img-mobile',
                                                        gallery: {
                                                            enabled: true,
                                                            navigateByImgClick: true,
                                                            preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                                                        },
                                                        image: {

                                                        }
                                                    });
                                                });

                                                </script>

                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="carousel-cell-no">No existen albumes en este momento.</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row cf" id="image-gallery-1">
        @foreach (var item in Model.Where(x => x.FotoGestionHumana.Where(y => y.FotoEstado).Count() > 0))
        {
            //var Fotos = db.FotoGestionHumana.Where(x => x.AlbumGHId == item.AlbumGHId).FirstOrDefault();
            //ViewBag.fotografias = Fotos;
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image popup-gallery-@item.AlbumGHId hovereffect">
                        @foreach (var item2 in item.FotoGestionHumana.Where(x => x.FotoEstado == true).OrderBy(x => x.FotoGHId))
                        {
                            <img class="AlbumSlide_@item.AlbumGHId card-img gallery-items" src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/GH_IMAGES/@item2.FotoGHNombre" />

                            <div class="overlay">

                                <a class="info" href="@HttpRuntime.AppDomainAppVirtualPath/Content/images/GH_IMAGES/@item2.FotoGHNombre" title="@item.AlbumGHNombre">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <h2>Ver album</h2>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <label>@item.AlbumGHNombre</label>
                        <br />

                        @if (User.IsInRole("RRHHA"))
                        {
                            <a class="btn bla" href='@Url.Action("Edit", new { id = item.AlbumGHId })'><i class="fa fa-edit alejar_icono"></i>Editar</a>

                            <button class="btn bla" id="eliminar" name="eliminar" onclick="EliminarAlbumnes(@item.AlbumGHId)"><i class="fa fa-trash alejar_icono"></i>Eliminar</button>
                        }
                        <a class="btn bla" codigo="@item.AlbumGHId" href='@Url.Action("Index", "FotoGestionHumana", new { AlbumId = item.AlbumGHId })'><i class="fa fa-folder-open alejar_icono"></i>Abrir</a>

                    </div>
                </div>
            </div>

            <script>
            $(document).ready(function () {

                var myIndex = 0;
                carousel@(item.AlbumGHId)();

                function carousel@(item.AlbumGHId)() {
                    //var i;
                    var x = document.getElementsByClassName('AlbumSlide_@item.AlbumGHId');

                    for (var i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }

                    myIndex++;

                    if (myIndex > x.length) {
                        myIndex = 1
                    }

                    x[myIndex - 1].style.display = "block";
                    setTimeout(carousel@(item.AlbumGHId), 5000);
                    //fadeIn(5000);
                    //fadeOut(5000);
                }
            })

            /**GALLERY MODAL**/
            $(document).ready(function () {
                $('.popup-gallery-@item.AlbumGHId').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    tLoading: 'Loading image #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                    },
                    image: {

                    }
                });
            });

            </script>
        }
    </div>*@


<script>

    $carousel = $('.carousel').flickity({ initialIndex: 1, draggable: false, pageDots: false });

    $(document).ready(function () {
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-arrow-right-1").append('<img class="flechas" src="~/content/slider/lightbox-navnext.png"/>');
        $(".amazingslider-arrow-left-1").append('<img class="flechas" src="~/content/slider/lightbox-navprev.png"/>');
    });
</script>

<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/Content/js/imageviewer.js"></script>
<script>

    $(document).ready(function () {

        //$(".info").on('click', function () {

        //    $('html, body').animate({
        //        scrollTop: ($('#header-banner').offset().top)
        //    }, 500);

        //    document.getElementById("header-banner").scrollIntoView();

        //});

    });

    function ViewImage(e) {
        var viewer = ImageViewer();
        var imgSrc = e.attr("src"),
            highResolutionImage = e.attr('high-res-img');
        viewer.show(imgSrc, highResolutionImage);
    }

    function EliminarFoto(albumId) {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar esta foto?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ id:' + albumId + ' }',
                success: function (data) {
                    if (data == "Success") {
                        swal("", "La foto se ha eliminado correctamente", "success")
                            .then(function () {
                                location.reload();
                            });
                    } else {
                        swal("", "Ha ocurrido un error al eliminar la foto", "error");
                    }
                },
                error: function (ex) {
                    swal("", "Ha ocurrido un error al eliminar la foto", "error");
                }
            });
        });
    }
</script>

<script>

    function EliminarAlbumnes(albumId) {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar esta foto?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            var a = albumId;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EliminarAlbum")',
                data: { id: a },
                success: function (data) {
                    if (data.success == true) {
                        swal({
                            title: 'Eliminado',
                            text: data.Mensaje,
                            type: 'success',
                            confirmButtonColor: '#18212f',
                            confirmButtonText: 'Aceptar'
                        })
                    .then(function () {
                        location.reload();
                    });
                    } else {
                        swal({
                            title: 'Error',
                            text: data.Mensaje,
                            type: 'error',
                            confirmButtonColor: '#18212f',
                            confirmButtonText: 'Aceptar'
                        });
                        $("#loading-animation-container").hide();
                    }

                }
            });
        })
    }
</script>
