﻿@model IEnumerable<intra.Models.GestionHumana.AlbumGestionHumana>

@*Modal Creacion de Repatriados*@

<div id="myModal" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="row br-slider-bottom">
                <div class="col-md-12">
                    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:100%;padding-left:0px; padding-right:244px;margin:0px auto 0px;">
                        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                            @foreach (var item in Model)
                            {
                                <ul class="amazingslider-slides" style="display:none;">
                                    <li class="identificador">
                                        <a href="~/AlbumGestionHumana/Index?id=@item.NoticiaId">
                                            <img src="@item.NoticiaImages" title="@item.NoticiaTitulo" />
                                        </a>
                                    </li>
                                </ul>
                                <ul class="amazingslider-thumbnails" style="display:none;">
                                    <li>
                                        <img src="@item.FotoGestionHumana" />
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>


<script>
    $(document).ready(function () {
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-box-1").children().eq(2).css("z-index", "-999999");
        $(".amazingslider-arrow-right-1").append('<img class="flechas" src="content/slider/lightbox-navnext.png"/>');
        $(".amazingslider-arrow-left-1").append('<img class="flechas" src="content/slider/lightbox-navprev.png"/>');
    });
</script>
