﻿
@{
    ViewBag.Title = "Cookies deshabilitadas";
    //Layout = "~/Views/intraMaster.cshtml";
    if(Session["empleadoId"] == null) {
        Layout = "~/Views/Shared/NotIntraMaster.cshtml";
    }
    else {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

<style type="text/css">
    .containererror {
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .errorcookie {
        width: 100%;
        height: 60px;
        font-size: 150px;
        font-family: "Roboto";
        margin-top: -40px;
        font-weight: bold;
        color: #38afd4;
        text-align: center;
    }

    .textoestandard {
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 14px;
        font-family: "Roboto";
        margin-top: 120px;
        border-top: 1px solid #d5d5d5;
        font-weight: bold;
        color: #000000;
        font-style: italic;
        padding-top: 10px;
    }
</style>


<div class="row">
    <div class="col-sm-1"></div>

    <div class="col-lg-10 text-center" style="@if(Session["empleadoId"] == null) { <text> background:rgba(255, 255, 255, 0.88);</text> } margin:auto; padding:60px 10px">

        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <div class="containererror">

                    <div class="errorcookie">Error</div>
                    <div class="textoestandard">Las cookies del navegador estan desactivadas</div>

                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>

    </div>

    <div class="col-sm-1"></div>
</div>