﻿@model Exception
@using System.Configuration;
@{
    ViewBag.Title = "Ha ocurrido un error en el sistema";
    Layout = "~/Views/intraMaster.cshtml";
}

<style type="text/css">
    .containererror {
        width: 400px;
        height: 200px;
        margin: auto;
        margin-top: 50px;
    }

    .errorcookie {
        width: 100%;
        height: 60px;
        font-size: 150px;
        font-family: "Roboto";
        margin-top: -40px;
        font-weight: bold;
        color: #38afd4;
        text-align: center;
    }

    .textoestandard {
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 14px;
        font-family: "Roboto";
        margin-top: 120px;
        border-top: 1px solid #d5d5d5;
        font-weight: bold;
        color: #000000;
        font-style: italic;
        padding-top: 10px;
    }

    .error {
        color: red;
    }

    .exception {
        color: brown;
    }
</style>

<div class="row">

    <div class="col-sm-1"><a class="button_white pull-right" onclick="window.history.back();" @*@if (ViewBag.pagina_anterior != null) { <text> href="@ViewBag.pagina_anterior" </text> }*@>Volver atrás</a></div>

    <div class="col-lg-10 text-center" style="@if(Session["empleadoId"] == null) { <text> background:rgba(255, 255, 255, 0.88);</text> } @*margin:auto; padding:60px 10px*@">

        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <div class="containererror">

                    <div class="errorcookie">Error</div>
                    @*<div class="textoestandard">Las cookies del navegador estan desactivadas</div>*@

                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>

        @if (ConfigurationManager.AppSettings["DebugSetting"] == "true" && Model != null)
        {
            <div class="row">

                <b>Message:</b> @Model.Message<br /><br />

                <b>StackTrace:</b> @Model.StackTrace.Replace(Environment.NewLine, string.Empty)<br /><br />

                <b>Source:</b> @Model.Source.Replace(Environment.NewLine, string.Empty) <br /><br />

                <b>TargetSite: </b> @Model.TargetSite.ToString().Replace(Environment.NewLine, string.Empty)

            </div>
        }

    </div>

</div>