﻿@{
    Layout = null;
 }

<style type="text/css">
    *{
        margin:0;
        padding:0;
    }
    .centrar {
        background-image: url('../Content/images/fondo-intranet.jpg');
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .centralizar {
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, .8);
        display: flex;
        flex-direction: column;
       
        justify-content: center;
        align-items: center;
    }
    .button_white {
        font-family: Roboto;
        color: #fff;
        margin: 0;
        outline: 0;
        padding: 11px 24px;
        text-transform: uppercase;
        font-size: 13px !important;
        border-radius: 4px;
        margin-bottom: 10px;
        text-decoration: none !important;
        background: #0c4ba4;
        border: none;
        cursor: pointer;
    }

        .button_white:hover {
            text-decoration: none;
            color: #fff;
            -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        }    

    

    .textoestandard {
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 14px;
        font-family: "Roboto";
        margin-top: 120px;
        border-top: 1px solid #d5d5d5;
        font-weight: bold;
        color: #000000;
        font-style: italic;
        padding-top: 10px;
    }

   
 
</style>
<div class="centrar">
    <div class="centralizar">
        <div class="containererror">

            <img src="~/Content/images/svg/error-fallo.svg" />
            @*<div class="textoestandard">Las cookies del navegador estan desactivadas</div>*@
        </div>

        <a class="button_white pull-right">Volver al Iniciar Sesión</a>
    </div>
</div>
        





