﻿@model object
@using System.Configuration;
@{
    ViewBag.Title = "No encontrado";
    //Layout = "~/Views/intraMaster.cshtml";
    if(Session["empleadoId"] == null) {
        Layout = "~/Views/Shared/NotIntraMaster.cshtml";
    }
    else {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

<style type="text/css">
    .containererror {
        /**width: 600px;/**/
        margin: auto;
        margin-top: 50px;
    }

    .error {
        width: 100%;
        font-size: 50px;
        font-family: "Roboto";
        margin-top: 80px;
        font-weight: bold;
        /**/margin-left: 17px;/**/
    }

    .error404 {
        /**/width: 100%;/**/
        height: 60px;
        font-size: 200px;
        font-family: "Roboto";
        margin-top: -45px;
        font-weight: bold;
        color: #38afd4;
        margin-bottom: 5px;
    }

    .textoestandard {
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 14px;
        font-family: "Roboto";
        margin-top: 150px;
        border-top: 1px solid #d5d5d5;
        font-weight: bold;
        color: #000000;
        font-style: italic;
        padding-top: 10px;
    }
</style>

<div class="row">
    <div class="col-sm-1"></div>

    @if (ConfigurationManager.AppSettings["DebugSetting"] == "true" && Model != null)
    {

        <div class="row">

            <b>Message:</b> @ViewBag.exception.Message<br /><br />

            <b>StackTrace:</b> @ViewBag.exception.StackTrace.Replace(Environment.NewLine, string.Empty)<br /><br />

            <b>Source:</b> @ViewBag.exception.Source.Replace(Environment.NewLine, string.Empty) <br /><br />

            <b>TargetSite: </b> @ViewBag.exception.TargetSite.ToString().Replace(Environment.NewLine, string.Empty)

        </div>


    }

    <div class="col-lg-10 text-center" style="@if(Session["empleadoId"] == null) { <text> background:rgba(255, 255, 255, 0.88);</text> } margin:auto; padding:60px 10px">

        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <div class="containererror">
                    <div class="error">Error</div>
                    <div class="error404">404</div>
                    <div class="textoestandard">
                        La dirección @if (Model.ToString() == "requerida")
                        {<text>@Model</text> }
                    else
                    { <i>@Model</i>} no existe
                    </div>
                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>

    </div>

    <div class="col-sm-1"></div>
</div>

