﻿@model IEnumerable<intra.Models.ViewModel.bible_fts_full>
@{
    ViewBag.Title = "Palabra Diaria";

    if(ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }

}

<br/>

<div class="bgpalabra" style="background-color:#ebf6e8; padding: 20px !important; margin: -20px !important;">
    <h3>Lectura del Día</h3>

    @if (Model.Count() > 0)
    {

        foreach (var item in Model)
        {
            if (item != null)
            {
                <div style="font-size:16px; margin-bottom: 25px;">
                    <h6>@(item.c0book + " " + item.c1chapter + " : " + item.c2verse )</h6>
                    <h6 style="line-height:22px; margin-top:15px !important; color:#252525 !important; font-size:13px !important; font-weight:300 !important;">@item.c3content</h6>
                </div>
            }
            else {
                <div style="font-size:16px; margin-bottom: 25px;">
                    <strong style="color: red;">Ha ocurrido un error al cargar la lectura</strong>
                </div>
            }
        }
        <div class="col-sm-10"><h5></h5></div>
    }
    else {
            <div style="font-size:16px; margin-bottom: 25px;">
                <strong style="color: red;">Ha ocurrido un error al cargar la lectura</strong>
            </div>
    }

    <br />
    <br />
</div>