﻿@model intra.Models.TallerPgr.ModeloEquipo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Modelo</h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row" id="tipo">
            @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoEquipoId, (SelectList)ViewBag.Tipos, " ----- Seleccione El Tipo ----- ", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row" id="marca">
            @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="marcas" class="form-control"></select>
            </div>
        </div>

        <div class="row">
            @Html.Label("Modelo equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModeloEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="button" id="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="btn btn-info">
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $('#marca').hide();

    $(document).ready(function () {

        $('#TipoEquipoId').change(function () {
            if ($('#TipoEquipoId').val() != "") {
                $('#marca').show();
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#marcas').html("");
                        $('#marcas').append('<option value> ----- Seleccione El Tipo ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#marcas').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });
            } else { $('#marca').hide(); $('#marcas').html(""); }
        });

        $('#submit').click(function () {

            if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
            if ($('#marcas').val() == "") { swal("Seleccione una marca", "", 'info') }
            if ($('#ModeloEquipoDescripcion').val() == "") { swal("Ingrese la descripcion del Equipo", "", 'info') }

            if ($('#ModeloEquipoDescripcion').val() != "" && $('#TipoEquipoId').val() != "" && $('#marcas').val() != "") {
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/Create",
                    method: "POST",
                    data: { modeloNombre: $('#ModeloEquipoDescripcion').val(), tipoid: $('#TipoEquipoId').val(), marcaid: $('#marcas').val()},
                    success: function (result) {
                        if (result == "Guardado") {
                            swal({
                                title: result,
                                type: 'success',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/";
                            })
                        } else {
                            swal(result,"","error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        });
    });
</script>