﻿@model intra.Models.TallerPgr.ModeloEquipo

@{
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h4>Modelo Equipo</h4>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ModeloEquipoId)

        <div class="row" id="tipo">
            @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoEquipoId, (SelectList)ViewBag.tipos, " ----- Seleccione El Tipo ----- ", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row" id="marca">
            @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.MarcaEquipoId, (SelectList)ViewBag.marcas, " ----- Seleccione El Tipo ----- ", new { htmlAttributes = new { @class = "form-control" } })*@
                <select id="MarcaEquipoId" class="form-control"></select>
            </div>
        </div>

        <div class="row">
            @Html.Label("Modelo equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModeloEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="btn btn-info">
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $(document).ready(function () {

        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
            method: "post",
            data: { id: $('#TipoEquipoId').val() },
            success: function (marcas) {
                $('#MarcaEquipoId').html("");
                $('#MarcaEquipoId').append('<option value> ----- Seleccione El Tipo ----- </option>');
                $.each(marcas, function (i, marca) {
                    $('#MarcaEquipoId').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                });
                $('#MarcaEquipoId option[value=@Model.MarcaEquipoId]').attr('selected', 'selected');
            }
        });

        $('#TipoEquipoId').change(function () {
            if ($('#TipoEquipoId').val() != "") {
                $('#marca').show();
                var cosa = $('#TipoEquipoId').val();
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#MarcaEquipoId').html("");
                        $('#MarcaEquipoId').append('<option value> ----- Seleccione El Tipo ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#MarcaEquipoId').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });
            } else { $('#marca').hide(); $('#MarcaEquipoId').html(""); }
        });

        $('#submit').click(function () {

            if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
            if ($('#MarcaEquipoId').val() == "") { swal("Seleccione una marca", "", 'info') }
            if ($('#ModeloEquipoDescripcion').val() == "") { swal("Ingrese la descripcion del Equipo", "", 'info') }

            if ($('#ModeloEquipoDescripcion').val() != "" && $('#TipoEquipoId').val() != "" && $('#MarcaEquipoId').val() != "") {
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/Edit",
                    method: "POST",
                    data: { modeloNombre: $('#ModeloEquipoDescripcion').val(), tipoid: $('#TipoEquipoId').val(), marcaid: $('#MarcaEquipoId').val(), id: $('#ModeloEquipoId').val()},
                    success: function (result) {
                        if (result == "Actualizado") {
                            swal({
                                title: result,
                                type: 'success',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/";
                            })
                        } else {
                            swal(result,"","error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        });
    });
</script>