﻿<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }

</style>

@model intra.Models.TallerPgr.ModeloEquipo

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Nuevo Modelo</h2>

@using (Html.BeginForm("AgregarModeloModal", "ModeloEquipo", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div id="tipoM">
                    @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("TipoEquipoIdM", (SelectList)ViewBag.TipoEquipoId, " ----- SELECCIONE EL TIPO ----- ")
                    </div>
                </div>
                <div id="marcaM">
                    @Html.Label("Marca", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <select id="marcasM" class="form-control"></select>
                    </div>
                </div>
                <div id="modeloM">
                    @Html.Label("Modelo equipo", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ModeloEquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="button" id="btnGuardarModelo" value="Agregar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

$('#TipoEquipoIdM').change(function () {
if ($('#TipoEquipoIdM').val() != "") {
    $('#marcaM').show();
    $.ajax({
        url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
        method: "post",
        data: { id: $('#TipoEquipoIdM').val() },
        success: function (marcas) {
            $('#marcasM').html("");
            $('#marcasM').append('<option value> ----- Seleccione La Marca ----- </option>');
            $.each(marcas, function (i, marca) {
                $('#marcasM').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                });
            }
        });
    } else { $('#marcaM').hide(); $('#marcasM').html(""); }
});

$('#btnGuardarModelo').click(function () {

    if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
    if ($('#marcasM').val() == "") { swal("Seleccione una marca", "", 'info') }
    if ($('#ModeloEquipoDescripcion').val() == "") { swal("Ingrese la descripcion del Equipo", "", 'info') }

    if ($('#ModeloEquipoDescripcion').val() != "" && $('#TipoEquipoId').val() != "" && $('#marcasM').val() != "") {
        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/Create",
            method: "POST",
            data: { modeloNombre: $('#ModeloEquipoDescripcion').val(), tipoid: $('#TipoEquipoId').val(), marcaid: $('#marcasM').val()},
            success: function (result) {
                if (result == "Guardado") {
                    $.ajax({
                        type: 'POST',
                        url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/CargarModelos",
                        dataType: 'json',
                        data: { tipoid: $('#TipoEquipoId').val(), marcaid: $('#marcasM').val() },
                        success: function (modelos) {
                            //resetea el select
                            $('#ModeloEquipoId').html("");
                            $('#ModeloEquipoId').append('<option value> NINGUNO </option>');
                            //itera los modelos
                            $.each(modelos, function (i, modelo) {
                                $('#ModeloEquipoId').append('<option value="' + modelo.Value + '">' + modelo.Text + '</option>');
                            });
                        }
                    });

                    swal({
                        title: result,
                        type: 'success',
                        confirmButtonText: 'OK'
                    }).then(function() {
                        $('#myModal2').modal('hide');
                        })
                        $('#ModeloEquipoDescripcion').val('');

                } else {
                    swal(result,"","error");
                }
            },
            error: function (ex) {
                swal("", "Ha ocurrido un error", "error");
            }
        });
    }
});
</script>