﻿@model intra.Models.GestionHumana.EmpleadoHorarioEspecial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmpleadoHorarioEspecial</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpleadoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpExeNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpExeNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpExeHoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpExeHoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpExeHoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpExeHoraSalida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpleadoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
