﻿@model intra.Models.GestionHumana.EmpleadoHorarioEspecial

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    .option {
        font-weight: bold;
        font-size: medium;
    }
</style>
<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />
<script src="~/Content/Chossen/ajaxchosen.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.js"></script>



<script type="text/javascript">

    function cargarEmpleado() {

        $.ajax({
            url: "@Url.Action("BuscarEmpleado")",
            type: "POST",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: '{ Codigo:' + $("#EmpleadoId").val() + '  }',

        success: function (states) {
            $("#EmpExeNombre").val(states.Nombre);
            $("#EmpleadoId").val(states.EmpleadoId);
            $("#NombresPersonas").val(states.Nombre);

        },
        error: function (ex) {
            alert('No pudo cargar el empleado: ' + ex);
        }
    });

    return;

    };



</script>
<form id="HorarioEspecial">
    @Html.HiddenFor(model => model.EmpleadoId)

    <section class="row">
        <div class="col-lg-6">
            <h2 class="h2_title_page">Empleado Horario Especial</h2>
            <hr class="hr2" />
        </div>
        <div class="col-lg-6">
            <div class="pull-right alejar_top">
                <button type="button" onclick="Guardar()" class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                <a href="~/EmpleadoHorarioEspecial/" class="btn button_white"><i class="fa fa-arrow-circle-left alejar_icono"></i>Volver</a>
            </div>
        </div>
    </section>

    <section class="row alejar_top">


        <div class="row">
            <div class="col-lg-6">
                <h4>Codigo Empleado</h4>
                <div>
                    <input type="text" id="EmpleadoId" class="form-control" name="EmpleadoId"  value="@Model.EmpleadoId" disabled="disabled" />

                </div>
            </div>
            <div class="col-lg-6">
                <h4>Nombre Empleado</h4>
                <div>
                    <input type="text" id="EmpExeNombre"  name="EmpExeNombre" class="form-control" value="@Model.EmpExeNombre" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h4>Horario Entrada</h4>
                <select id="EmpExeHoraEntrada" class="option" name="EmpExeHoraEntrada">
                    <option selected="@Model.EmpExeHoraEntrada">@Model.EmpExeHoraEntrada</option>
                    <option value="6:00am">6:00am</option>
                    <option value="6:30am">6:30am</option>
                    <option value="7:00am">7:00am</option>
                    <option value="7:30am">7:30am</option>
                    <option value="8:00am">8:00am</option>
                    <option value="8:30am">8:30am</option>
                    <option value="9:00am">9:00am</option>
                    <option value="9:30am">9:30am</option>
                    <option value="10:00am">10:00am</option>
                    <option value="10:30am">10:30am</option>
                    <option value="11:00am">11:00am</option>
                    <option value="11:30am">11:30am</option>
                    <option value="12:00pm">12:00pm</option>
                    <option value="12:30pm">12:30pm</option>
                    <option value="1:00pm">1:00pm</option>
                    <option value="1:30pm">1:30pm</option>
                    <option value="2:00pm">2:00pm</option>
                    <option value="2:30pm">2:30pm</option>
                    <option value="3:00pm">3:00pm</option>

                </select>
            </div>
            <div class="col-lg-6">
                <h4>Horario Salida</h4>
                <div>
                    <select id="EmpExeHoraSalida" name="EmpExeHoraSalida"  class="option">
                        <option  selected="@Model.EmpExeHoraSalida">@Model.EmpExeHoraSalida</option>
                        <option value="12:00pm">12:00pm</option>
                        <option value="12:30pm">12:30pm</option>
                        <option value="1:00pm">1:00pm</option>
                        <option value="1:30pm">1:30pm</option>
                        <option value="2:00pm">2:00pm</option>
                        <option value="2:30pm">2:30pm</option>
                        <option value="3:00pm">3:00pm</option>
                        <option value="3:30pm">3:30pm</option>
                        <option value="4:00pm">4:00pm</option>
                        <option value="4:30pm">4:30pm</option>
                        <option value="5:00pm">5:00pm</option>
                        <option value="5:30pm">5:30pm</option>
                        <option value="6:00pm">6:00pm</option>
                        <option value="6:30pm">6:30pm</option>
                        <option value="7:00pm">7:00pm</option>
                        <option value="7:30pm">7:30pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="8:30pm">8:30pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="9:30pm">9:30pm</option>
                    </select>
                   
                </div>
            </div>
        </div>

    </section>
</form>

@*</div>
    }*@

<script type="text/javascript">
    function Guardar() {

        var request = $.ajax({

            url: '@Url.Action("Edit")',
            type: 'post',
            data: $("#HorarioEspecial").serialize(),
        });
        request.done(function (data) {

            if (data.success) {
                return swal({
                    title: 'Listo',
                    text: data.message,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'

                }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/EmpleadoHorarioEspecial/Index" });
            }
            else {
                swal({
                    title: 'Error',
                    text: data.message,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'

                });
                return false;
            }
           
        });
        }



</script>
