﻿@model IEnumerable<intra.Models.GestionHumana.EmpleadoHorarioEspecial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    table {
        max-width: 100% !important;
    }
</style>



    <section class="row">
        <div class="col-lg-6">
            <h2 class="h2_title_page">Empleados Horario Especial</h2>
            <hr class="hr2" />
        </div>
        <div class="col-lg-6">
            <div class="pull-right alejar_top">
                <a href="~/EmpleadoHorarioEspecial/Create" class="btn button_white"><i class="fa fa-plus alejar_icono"></i>Crear Nuevo</a>
            </div>
        </div>
    </section>

<div class="alejar_top">
@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>

                @Html.DisplayName("Codigo Empleado")

            </th>
            <th>
                @Html.DisplayName("Nombre")

            </th>
            <th>

                @Html.DisplayName("Hora de Entrada")

            </th>
            <th>
                @Html.DisplayName("Hora de Salida")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpleadoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpExeNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpExeHoraEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpExeHoraSalida)
                </td>
                <td>
                    <a href="~/EmpleadoHorarioEspecial/Edit/@item.EmpleadoId" class = "btn button_white"><i class="fa fa-edit alejar_icono"></i>Editar</a>
                </td>
                <td><button type="button" onclick="EliminarEmpleadoHorario( @item.EmpleadoId)" class="btn button_white"><i class="fa fa-trash alejar_icono"></i>Eliminar</button>
                  </td>
            </tr>
        }
    </tbody>

</table>
    @Scripts.Render("~/datatables/js")

</div>


<script>

    function     EliminarEmpleadoHorario(id) {
        swal({
            title: "",
            text: "¿Está seguro que desea eliminar este registro?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#70db70",
            confirmButtonText: "Sí"
        }).then(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EliminarHorario")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: '{ id:' + id + ' }',
                success: function (data) {
                    if (data.success == true) {
                        swal({
                            title: 'Guardado',
                            text: data.Mensaje,
                            type: 'success',
                            confirmButtonColor: '#18212f',
                            confirmButtonText: 'Aceptar'
                        }).then(function () {
                            window.location.reload();
                        });

                    } else {
                        swal({
                            title: 'Error',
                            text: data.Mensaje,
                            type: 'error',
                            confirmButtonColor: '#18212f',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function (ex) {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });
    };



</script>