﻿@model intra.Models.BienesIncautados.INV_CUSTODIO

@{
    ViewBag.Title = null;
    Layout = null;
}


    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">*@
    <link rel="stylesheet" href="~/Content/fonts.css" type="text/css" charset="utf-8" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/pop-up.css" rel="stylesheet" />
    <style>
        #form-horizontal{
            padding:5px;
        }
    </style>

    @using (Html.BeginForm("CreateModal", "custodio", FormMethod.Post, new { id = "formModal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-12">
                <h2>Nuevo custodio</h2>
            </div>

            <div class="form-group">
                <label for="CUST_TIPO" class="control-label col-md-12">Tipo de custodio</label>
                <div class="col-md-12">
                    <select name="CUST_TIPO" class="form-control" id="CUST_TIPO">
                        <option value="Departamento">Departamento</option>
                        <option value="Persona">Persona</option>
                    </select>
                </div>
            </div>
            


            <div class="form-group" id="div_cedula">

                <label for="CUST_CEDULA" class="control-label col-md-12">Cédula</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CUST_CEDULA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba aquí la cédula del custodio" } })
                    @Html.ValidationMessageFor(model => model.CUST_CEDULA, "", new { @class = "text-danger" })
                    <div class="col-lg-12 pasaporte" style="padding-bottom: 15px;">
                        <input type="checkbox" id="checkbox" style="margin-right: 10px;" /><label for="checkbox" class="control-label">Pasaporte</label>
                    </div>
                    <br />
                    <input id="boton-validar" type="button" value="Validar cédula" class="btn btn-info" />
                </div>

            </div>

            <div id="formulario-custodio">
                <div class="form-group">
                    <label for="CUST_NOMBRE" class="control-label col-md-12">Nombre</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_NOMBRE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_TELRES" class="control-label col-md-12">Tel. Residencial</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_TELRES, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_TELRES, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_TELCEL" class="control-label col-md-12">Tel. Celular</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_TELCEL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_TELCEL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_TELOFI" class="control-label col-md-12">Tel. Oficina</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_TELOFI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_TELOFI, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_RELACIONADO" class="control-label col-md-12">Contacto Relacionado al Custodio</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_RELACIONADO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_RELACIONADO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_RELACIONADO_CONTACTO" class="control-label col-md-12">Tel. del Contacto Relacionado</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_RELACIONADO_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_RELACIONADO_CONTACTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_DIRECCION" class="control-label col-md-12">Información del Custodio</label>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.CUST_DIRECCION, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.CUST_DIRECCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_CORREO" class="control-label col-md-12">Correo electrónico</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_CORREO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_CORREO, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.USUA_ID, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div id="formulario-departamento">
                <div class="form-group">
                    <label for="CUST_DEPARTAMENTO" class="control-label col-md-12">Departamento</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_DEPARTAMENTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_DEPARTAMENTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="CUST_DIRECTORDPT" class="control-label col-md-12">Director(a) de departamento</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CUST_DIRECTORDPT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUST_DIRECTORDPT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.USUA_ID, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group" id="div-boton">
                <div class="col-md-10">
                    <input data-dismiss="modal" type="button" id="btnGuardarModal" value="Guardar" class="btn btn-success buttonAceptar borde-no" />
                </div>
            </div>
        </div>
        <input type="hidden" name="isModal" value="true"/>
    }

 

<script src="~/scripts/jquery.maskedinput.js"></script>
@*<script src="~/scripts/jquery-3.1.0.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/pop-up.js"></script>*@
<script>
    $(document).ready(function () {
        $('#CUST_CEDULA').mask('999-9999999-9');
        $('#CUST_TELRES,#CUST_TELCEL,#CUST_TELOFI,#CUST_RELACIONADO_CONTACTO').mask('(999) 999-9999');
        $('#formulario-custodio').hide();
        $('#div_cedula').hide();

        $('form').keypress(function (e) {
            if(e.which==13)
            {
                e.preventDefault();
            }
        })
    })

    $('#CUST_TIPO').change(function () {

        if ($('#CUST_TIPO').val() == "Departamento") {
            $('#formulario-custodio').hide();
            $('#div_cedula').hide();
            $('#CUST_CEDULA').val("");
            $('#CUST_NOMBRE').val("");
            $('#CUST_TELRES').val("");
            $('#CUST_TELCEL').val("");
            $('#CUST_DIRECCION').val("");
            $('#CUST_CORREO').val("");
            $('#div-boton').show();
            $('#formulario-departamento').show();
        } else if ($('#CUST_TIPO').val() == "Persona") {
            $('#div_cedula').show();
            $('#formulario-departamento').hide();
            $('#div-boton').hide();
            $('#CUST_DEPARTAMENTO').val("");
            $('#CUST_DIRECTORDPT').val("");
        }

    });

    $('#checkbox').change(function () {

        if ($("input[id=checkbox]:checked")[0] != undefined ? true : false) {

            $("#CUST_CEDULA").unmask($('#CUST_CEDULA'));
            $("#CUST_CEDULA").attr('placeholder', 'Escriba aquí el pasaporte del custodio');
            $("label[for='CUST_CEDULA']").text("Pasaporte");
            $('#boton-validar').hide();
            $('#div-boton,#formulario-custodio').show();
        } else {
            $('#CUST_CEDULA').mask('999-9999999-9');
            $("#CUST_CEDULA").attr('placeholder', 'Escriba aquí la cédula del custodio');
            $("label[for='CUST_CEDULA']").text("Cédula");
            $('#boton-validar').show();
            $('#div-boton,#formulario-custodio').hide();
        }

    });


    $('#boton-validar').click(function () {


        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/Custodio/ValidarCedula",
            method: "post",
            data: { cedula: $('#CUST_CEDULA').val() },
            success: function (data) {
                if (data.Respuesta == "OK") {
                    $(".pasaporte").hide();
                    $('#formulario-custodio').show();
                    $('#div-boton').show();
                    $('#CUST_NOMBRE').val(data.Nombres + " " + data.Apellido1 + " " + data.Apellido2).attr("readonly", true);
                    console.log(data);
                } else {
                    alert(data);
                }
            },
            error: function (data) { console.log(data) }

        })
    })

    function isNullOrEmpty(stng) {
        if (stng == '' || stng == null) {
            return true;
        } else {
            return false;
        }
    }

    $("#btnGuardarModal").click(function () {

        if ($('#CUST_TIPO').val() == "Departamento" && (isNullOrEmpty($('#CUST_DEPARTAMENTO')) || isNullOrEmpty($('#CUST_DIRECTORDPT').val()))) {
            swal("", "Debe de completar todos los campos", "error");
        } else {
            fdata = new FormData();

            var MyForm = document.querySelector('#formModal');
            var MyElements = MyForm.querySelectorAll('[name]');

            for (var x = 0; x < MyElements.length; x++) {
                fdata.append(MyElements[x].name, MyElements[x].value);
            }

            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/Custodio/CreateModal",
                method: "post",
                data: $("#formModal").serialize(),
                success: function (data) {
                    swal(
                          'Mensaje: ',
                           data,
                          'info'
                        )
                },
                error: function (data) { console.log(data) }

            });
        }
    });
</script>