﻿@model intra.Models.BienesIncautados.INV_CUSTODIO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<link rel="stylesheet" href="~/Content/css/sweetalert.css" />

@if (TempData["msjError"] != null)
{   <div class="alert alert-warning">

        <b>@TempData["msjError"]</b>
    </div>
}

    <h2>Nuevo custodio</h2>

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                <label for="CUST_TIPO" class="control-label col-md-2">Tipo de custodio</label>
                <div class="col-md-10">
                    <select name="CUST_TIPO" class="form-control" id="CUST_TIPO">
                        <option value="Departamento">Departamento</option>
                        <option value="Persona">Persona</option>
                    </select>
                </div>
            </div>

            @*<div class="form-group">
                <label for="CUST_TELCEL" class="control-label col-md-2">Valor del custodio</label>
                <div class="col-md-10">
                    @* @Html.EditorFor(model => model.CUST_VALOR, new { htmlAttributes = new { @class = "form-control" } }) * @
                    <div class="col-md-1" style="padding-left: 0px;width:90px;">
                        @Html.DropDownList("MONEDA_TIPO_ID", null, new { @class = "form-control" , @style="padding: 8px 10px 5px 10px;" })
                    </div>
                    <div class="col-md-2">
                        <input id="VALOR" name="VALOR" type="text" class="form-control" />
                    </div>
                </div>
            </div>*@

            <div id="no_custodio">
                <div class="form-group" id="div_cedula">
                    <label for="CUST_CEDULA" class="control-label col-md-2">Cédula</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CUST_CEDULA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba aquí la cédula del custodio" } })
                        @Html.ValidationMessageFor(model => model.CUST_CEDULA, "", new { @class = "text-danger" })
                        <br />
                        <input id="boton-validar" type="button" value="Validar cédula" class="btn btn-info" />
                    </div>
                </div>

                <div id="formulario-custodio">
                    <div class="form-group">
                        <label for="CUST_NOMBRE" class="control-label col-md-2">Nombre</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_NOMBRE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CUST_TELRES" class="control-label col-md-2">Tel. Residencial</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_TELRES, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_TELRES, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CUST_TELCEL" class="control-label col-md-2">Tel. Celular</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_TELCEL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_TELCEL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CUST_TELOFI" class="control-label col-md-2">Tel. Oficina</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_TELOFI, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_TELOFI, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CUST_DIRECCION" class="control-label col-md-2">Dirección</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CUST_DIRECCION, new { @class = "form-control", @rows = "5" })
                            @Html.ValidationMessageFor(model => model.CUST_DIRECCION, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CUST_CORREO" class="control-label col-md-2">Correo electrónico</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_CORREO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_CORREO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.USUA_ID, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div id="formulario-departamento">
                    <div class="form-group">
                        <label for="CUST_DEPARTAMENTO" class="control-label col-md-2">Departamento</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_DEPARTAMENTO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_DEPARTAMENTO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CUST_DIRECTORDPT" class="control-label col-md-2">Director(a) de departamento</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CUST_DIRECTORDPT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUST_DIRECTORDPT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" id="div-boton">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="button_white " />
                </div>
            </div>

        </div>     
    }
    
    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>

<script src="~/scripts/sweetalert.min.js"></script>
<script src="~/scripts/jquery.maskMoney.min.js"></script>

<script>
    $(document).ready(function () {

        //$("#VALOR").maskMoney({ thousands: ',', decimal: '.' });

        $('#formulario-custodio').hide();
        $('#div_cedula').hide();

    })

    $('#CUST_TIPO').change(function () {

        if ($('#CUST_TIPO').val() == "Departamento") {
            $('#formulario-custodio').hide();
            $('#div_cedula').hide();
            $('#CUST_CEDULA').val("");
            $('#CUST_NOMBRE').val("");
            $('#CUST_TELRES').val("");
            $('#CUST_TELCEL').val("");
            $('#CUST_DIRECCION').val("");
            $('#CUST_CORREO').val("");
            $('#div-boton').show();
            $('#formulario-departamento').show();
        } else if ($('#CUST_TIPO').val() == "Persona") {
            $('#div_cedula').show();
            $('#formulario-departamento').hide();
            $('#div-boton').hide();
            $('#CUST_DEPARTAMENTO').val("");
            $('#CUST_DIRECTORDPT').val("");
        }

    });

    $('#boton-validar').click(function () {
        $.ajax({
            url: "ValidarCedula",
            method: "post",
            data: {cedula: $('#CUST_CEDULA').val()},
            success: function(data)
            {
                if(data.Respuesta=="OK")
                {
                    $('#formulario-custodio').show();
                    $('#div-boton').show();
                    $('#CUST_NOMBRE').val(data.Nombres + " " + data.Apellido1 + " " + data.Apellido2).attr("readonly",true);
                    console.log(data);
                }else
                {
                    alert(data);
                }
            },
            error: function (data) { console.log(data)}

        })
    })
</script>