﻿@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Historial de Custodios</h2>

<table class="table table-striped table-hover responsive display no-wrap tableGrid" width="100%">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Custodiado por</th>
            <th>Valor del custodio</th>
            <th>Contacto</th>
            <th>Usuario digitador</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>