﻿@model IEnumerable<intra.Models.BienesIncautados.INV_CUSTODIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .col-id {
        width: 30px !important;
    }

    .col-eliminar {
        width: 1px !important;
        text-align: center !important;
    }

    .button-icon {
        cursor: pointer;
    }


</style>

@if (TempData["msjError"] != null)
{   <div class="alert alert-warning">

        <b>@TempData["msjError"]</b>
    </div>
}

<section class="row">
    <div class="col-lg-10">
        <h2>Listado de Custodios</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>

<table id="tableGrid" class="table table-striped table-hover display responsive ">
    <thead>
        <tr>
            <th class="col-id">
                ID
            </th>
            <th>
                Persona o Departamento
            </th>
            <th>
                Contacto
            </th>
            <th>
                Dirección
            </th>
            @if (User.IsInRole("BIA")) {
                <th class="col-eliminar"></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td align="left" class="col-id">
                       @Html.ActionLink(item.CUST_ID.ToString(), "Edit", new { id = item.CUST_ID })
                    </td>
                    <td align="left">
                        @Html.ActionLink(item.CUST_NOMBRE, "Edit", new { id = item.CUST_ID })
                    </td>
                    <td align="left">
                        <ul>
                            @if (!string.IsNullOrEmpty(item.CUST_TELRES)) {
                            <li>Teléfono residencial: @item.CUST_TELRES</li>
                            }
                            @if (!string.IsNullOrEmpty(item.CUST_TELCEL)) {
                            <li>Teléfono celular: @item.CUST_TELCEL</li>
                            }
                            @if (!string.IsNullOrEmpty(item.CUST_TELOFI)) {
                            <li>Teléfono de oficina: @item.CUST_TELOFI</li>
                            }
                        </ul>
                    </td>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.CUST_DIRECCION)
                    </td>
                    @if (User.IsInRole("BIA"))
                    {
                    <td class="col-eliminar">
                        <img class="button-icon" title="Eliminar Custodio" width="20" src="~/Content/images/restriccion.png" onclick="EliminarCustodio(@item.CUST_ID)">
                    </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/index_casos.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script>

    var AnimacionCarga = $("#loading-animation-container");

    function EliminarCustodio(id) {

        swal({
            title: "Esta seguro(a) de que quiere eliminar este custodio?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {

            AnimacionCarga.show();

            //var id = @@Model.INCA_ID;

            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/Custodio/Delete",
                method: "post",
                data: { id: id },
                success: function (data) {

                    if (data == "Eliminado") {

                        AnimacionCarga.hide();

                        swal({
                            title: data,
                            type: 'success',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            window.location.reload();
                        })

                    } else if (data == "Error") {
                        swal("", "Ha ocurrido un error.", "error");
                        AnimacionCarga.hide();
                    }
                },
                error: function (data) {
                    swal("", "Ha ocurrido un error.", "error");
                    AnimacionCarga.hide();
                }
            });
        })

    }

</script>