﻿@*model intra.Models.CartaProcedencia.ProcedenciaDTO*@

<style>

    .modal-content-1 {
        width: 700px;
        color: #262626;
    }

    .contenedor-ingreso-carta {
        display: block;
        /*border: red solid;*/
        overflow: auto;
    }

    #contenedor-ingreso-carta {
        /*border: red solid;*/
        overflow: auto;
        background: white;
        /* border: 1px solid #ddd; */
        border-top: 0;
        border-bottom: 0;
        padding: 15px;
        -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    }

    #carta-fecha-ingreso-contenedor,
    #carta-fecha-salida-contenedor {
        padding-left: 0;
    }

    #carta-fecha-salida-contenedor {
        padding-right: 0;
    }

    #carta-documento-contenedor {
        overflow: visible;
        width: 400px;
    }

    #procedencia-boton-buscar-contenedor,
    #carta-boton-guardar-contenedor {
        margin-top: 23px;
        margin-left: -11px;
        padding-left: 15px !important;
    }

    #carta-boton-cerrar-contenedor {
        margin-top: 23px;
        margin-left: -60px;
        color: #34495E;
        width: 3%;
        height: 35px;
        float: right;
        position: absolute;
        margin-top: -15px;
        z-index: 1000000000;
        padding: 4px 8px;
        /* overflow: auto; */
        right: 17px;
        /* border: red solid; */
        -webkit-box-shadow: -2px 5px 10px 4px rgba(0,0,0,0.14);
        -moz-box-shadow: -2px 5px 10px 4px rgba(0,0,0,0.14);
        box-shadow: -2px 5px 10px 4px rgba(0,0,0,0.14);
        background: white;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Carta Procedencia Modal</h2>

<form>
    <div class="row">
        <div class="form-horizontal">

            <div class="form-group" style="margin: 0;">

                <div id="contenedor-ingreso-carta">
                    <div id="carta-fecha-ingreso-contenedor" class="form-group col-md-2 col-sm-2">
                        <label>Fecha ingreso:</label>
                        <input id="carta-fecha-ingreso" type="text" class="form-control" />
                    </div>

                    <div id="carta-fecha-salida-contenedor" class="form-group col-md-2 col-sm-2">
                        <label>Fecha salida:</label>
                        <input id="carta-fecha-salida" type="text" class="form-control" />
                    </div>

                    <div id="carta-documento-contenedor" class="form-group col-md-2 col-sm-2">
                        <label>Documento:</label>
                        <input id="carta-documento" type="file" @*data-show-upload="false"*@ data-allowed-file-extensions='["jpeg", "jpg", "gif", "png", "pdf"]' class="form-control" />
                    </div>

                    <div id="carta-boton-guardar-contenedor" class="col-md-2 col-sm-2">
                        <button id="carta-boton-guardar" class="btn button_white ">Guardar</button>
                    </div>

                    <div id="carta-boton-cerrar-contenedor" class="col-md-1 col-sm-1">
                        <i id="carta-boton-cerrar" class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>