﻿
@{
    ViewBag.Title = "Registrar Procedencia";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.min.css" rel="stylesheet" />
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/es.js"></script>

<style>

    #contenedor-procedencia {
        margin-top: 20px;
    }

    #carta-fecha-ingreso-contenedor,
    #carta-fecha-salida-contenedor {
        padding-left: 0;
    }

    .fileinput-upload-button {
        visibility: hidden;
    }

    #carta-fecha-salida-contenedor {
        padding-right: 0;
    }

    #procedencia-codigo-empleado-contenedor {
        padding: 0;
    }

    #procedencia-boton-buscar-contenedor,
    #carta-boton-guardar-contenedor {
        margin-top: 23px;
        margin-left: -11px;
        padding-left: 15px !important;
    }

    /*#procedencia-boton-buscar,
    #carta-boton-guardar {
        height: 34px;
    }*/

    #procedencia-boton-buscar{
        margin-top: -0.1vw;
    }
    #carta-boton-guardar {
        padding: 9px 24px;
    }

    .btn-file {
       background: #0c4ba4 !important
    } 
    .procedencia-celda {
        color: #34495e;
        font-size: 10pt !important;
        text-align: left;
    }

    #boton-procedencia-editar {
        margin-right: 10px;
        margin-top: 3px;
    }



    #procedencia-aviso {
        text-align: center;
    }

    #carta-boton-cerrar-contenedor {
        margin-top: 23px;
        margin-left: -60px;
        color: #34495E;
        width: 3%;
        height: 35px;
        float: right;
        position: absolute;
        margin-top: -15px;
        z-index: 1000000000;
        padding: 4px 8px;
        /* overflow: auto; */
        right: 17px;
        /* border: red solid; */
        -webkit-box-shadow: -2px 5px 10px 4px rgba(0,0,0,0.14);
        -moz-box-shadow: -2px 5px 10px 4px rgba(0,0,0,0.14);
        box-shadow: -2px 5px 10px 4px rgba(0,0,0,0.14);
        background: white;
    }

        #carta-boton-cerrar-contenedor:hover {
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
            color: white;
        }

    .btn-primary:hover {
        border: none !important;
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
    }

    #carta-boton-cerrar:hover {
        cursor: pointer;
    }

    .swal2-title {
        text-align: center;
        width: 100%;
    }


    #loading-animation-container {
        display: none;
    }

    #loading-animation {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
    }

    #loading-image-container img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #transparent-element {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #000000;
        opacity: .7;
    }

    .contenedor-ingreso-carta {
        display: block;
        /*border: red solid;*/
        overflow: auto;
    }
    /*ADJUNTAR ARCHIVO*/
    .file-input-ajax-new {
        width: 400px;
    }

    .btn-file {
        padding: 8px 24px;
        margin-bottom: 0;
        margin-left: -3px !important;
    }

    #carta-documento-contenedor {
        overflow: visible;
        width: 400px;
    }

    #carta-boton-guardar-contenedor {
        float: right;
        width: 11.5%;
        /* border: red solid; */
        margin-top: -2vh;
        /* position: absolute; */
        margin-right: 3vw;
    }

    #contenedor-ingreso-carta {
        /*border: red solid;*/
        overflow: auto;
        background: white;
        /* border: 1px solid #ddd; */
        border-top: 0;
        border-bottom: 0;
        padding: 15px;
        -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
    }

    #preview-1531161565368-0 {
        width: 300px !important;
    }

    .fileinput-remove-button {
        margin-left: 5% !important;
    }

    .close {
        color: #333;
    }

    .procedencia-celda-boton {
        cursor: pointer !important;
    }


    .fa .fa-plus:active {
        cursor: pointer;
        background: red;
    }

    .krajee-default.file-preview-frame {
        width: 307px !important;
        overflow: auto !important;
        margin: 8px 5px !important;
    }


    /*.file-preview-thumbnails {
        overflow: auto;
        border: red solid;
    }*/

    .file-drop-zone .file-preview-thumbnails {
        overflow: auto;
        padding: 0;
        margin: 0;
    }

    .btn-file {
        margin-left: -19px !important;
    }
</style>


<section class="row">
    <div class="col-lg-6">
        <h2 class="h2_title_page">Registrar procedencia</h2>
        <hr class="hr2" />
    </div>
    <div class="col-lg-6 col-no-padding" style="padding-bottom:10px;">

    </div>
</section>



<div id="contenedor-procedencia">
    <div id="procedencia-codigo-empleado-contenedor" class="form-group col-md-2 col-sm-2">
        <label>Código empleado:</label>
        <input id="procedencia-codigo-empleado" type="text" class="form-control" />
    </div>

    <div id="procedencia-boton-buscar-contenedor" class="col-md-4 col-sm-4">
        <button id="procedencia-boton-buscar" class="button_white ">Buscar empleado</button>
    </div>
</div>

<table id="tabla-empleado" class="table table-striped table-hover responsive display  no-wrap" width="100%" hidden>
    <thead>
        <tr>
            <th>
                Codigo
            </th>

            <th>
                Nombre
            </th>

            <th>
                Departamento
            </th>

            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="procedencia-fila">
            <td id="procedencia-info-codigo" class="procedencia-celda">
                <span></span>
            </td>

            <td id="procedencia-info-nombre" class="procedencia-celda"></td>

            <td id="procedencia-info-departamento" class="procedencia-celda"></td>

            <td class="procedencia-celda procedencia-celda-botones">
                <div class="col-md-4 col-sm-4">
                    <i id="boton-procedencia-agregar" class="procedencia-celda-boton fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!--
==========
==========
-->

<div id="contenedor-ingreso-carta" hidden>
    <div id="carta-fecha-ingreso-contenedor" class="form-group col-md-2 col-sm-2">
        <label>Fecha ingreso:</label>
        <input id="carta-fecha-ingreso" type="text" class="form-control" />
    </div>

    <div id="carta-fecha-salida-contenedor" class="form-group col-md-2 col-sm-2">
        <label>Fecha salida:</label>
        <input id="carta-fecha-salida" type="text" class="form-control" />
    </div>

    <div id="carta-documento-contenedor" class="form-group col-md-2 col-sm-2">
        <label>Documento:</label>
        <input id="carta-documento" type="file" @*data-show-upload="false"*@ data-allowed-file-extensions='["jpeg", "jpg", "gif", "png", "pdf"]' class="form-control" />
    </div>

    <div id="carta-boton-guardar-contenedor" class="col-md-2 col-sm-2">
        <button id="carta-boton-guardar" class="btn button_white ">Guardar</button>
    </div>

    <div id="carta-boton-cerrar-contenedor" class="col-md-1 col-sm-1">
        <i id="carta-boton-cerrar" class="fa fa-times fa-2x" aria-hidden="true"></i>
    </div>
</div>

<!--
==========
==========
-->

<div id="procedencia-aviso" class="alert alert-warning col-md-12 col-sm-12" hidden>
    Este usuario no ha entregado carta de procedencia.
</div>

<!--
==========
==========
-->

<table id="tabla-procedencias" class="table table-striped table-hover responsive display  no-wrap" width="100%" hidden>
    <thead>
        <tr>
            <th>
                Fecha ingreso
            </th>

            <th>
                Fecha salida
            </th>

            <th>
                Tiempo
            </th>

            <th>

            </th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<script src="~/scripts/moment.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.js"></script>

<script>
    $('#carta-fecha-ingreso').datetimepicker({
        format: "DD-MM-YYYY",
    });

    $('#carta-fecha-salida').datetimepicker({
        format: "DD-MM-YYYY",
    });

    $('#carta-documento').fileinput({
        language: "es",
        uploadAsync: false,
        fileActionSettings: {
            showUpload: false
        },
        uploadUrl: "@HttpRuntime.AppDomainAppVirtualPath/CartaProcedencia/GuardarProcedencia",
        uploadExtraData: function () {
            return {
                CodigoEmpleado: InputCodigoEmpleado.val(),
                FechaIngreso: moment(InputCartaFechaIngreso.val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss"),
                fechaSalida: moment(InputCartaFechaSalida.val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss")
            }
        },
    });

    $("#carta-documento").on('filebatchuploadsuccess', function (event, data, previewId, index) {

        AnimacionCarga.hide();

        var cantidadArchivosSubidos = data.filescount;
        var mensaje = "";

        if (cantidadArchivosSubidos == 0) {

            swal(
                '',
                'No se guardó el archivo',
                'error'
            )
        }
        else if (cantidadArchivosSubidos == 1) {
            swal({
                title: "Los datos se guardaron con éxito",
                text: "",
                type: "success"
            }).then(function () {
                InputCartaFechaIngreso.val("");
                InputCartaFechaSalida.val("");
                $("#carta-documento").fileinput("clear");

                BuscarEmpleado();
            });
        }
    });

</script>

<script>
    var TablaEmpleado = $("#tabla-empleado");
    var TablaProcedencias = $("#tabla-procedencias");
    var InputCodigoEmpleado = $("#procedencia-codigo-empleado");
    var BotonBuscarEmpleado = $("#procedencia-boton-buscar");
    var ProcedenciaAviso = $("#procedencia-aviso");
    var ContenedorIngresoCarta = $("#contenedor-ingreso-carta");
    var CartaBotonCerrar = $("#carta-boton-cerrar");
    var CartaBotonGuardar = $("#carta-boton-guardar");
    var InputCartaFechaIngreso = $("#carta-fecha-ingreso");
    var InputCartaFechaSalida = $("#carta-fecha-salida");

    var CeldaCodigo = $("#procedencia-info-codigo");
    var CeldaNombre = $("#procedencia-info-nombre");
    var CeldaCarta = $("#procedencia-info-carta");
    var CeldaDepartamento = $("#procedencia-info-departamento");

    var BotonAgregar = $("#boton-procedencia-agregar");
    var AnimacionCarga = $("#loading-animation-container");

    CartaBotonGuardar.click(function () {

        if (document.getElementById('carta-documento').files.length == 0) {
            swal("", "Debe subir un archivo", "warning");
        } else if (InputCartaFechaIngreso.val()=="" || InputCartaFechaIngreso.val()==""){
            swal("", "Ingrese las dos fechas", "warning");
        } else {
            var fechaIngreso = moment(InputCartaFechaIngreso.val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss");
            var fechaSalida = moment(InputCartaFechaSalida.val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss");

            if (fechaIngreso > fechaSalida) {
                swal("", "La fecha de entrada no puede ser mayor que la fecha de salida", "warning");
            } else {
                GuardarCarta();
            }
        }
    });

    CartaBotonCerrar.click(function () {
        ContenedorIngresoCarta.hide();

        InputCartaFechaIngreso.val("");
        InputCartaFechaSalida.val("");
    });

    BotonAgregar.click(function () {
        var codigoEmpleado = InputCodigoEmpleado.val() == "" ? -1 : InputCodigoEmpleado.val();

        ContenedorIngresoCarta.show();
    });

    $(document).on("click", ".boton-procedencia-eliminar", function () {
        var codigoId = $(this).attr("value");

        EliminarCarta(codigoId)
    })

    BotonBuscarEmpleado.click(function () {
        BuscarEmpleado();
    });

    // ==========
    // BUSCAR EMPLEADO
    // ==========

    function BuscarEmpleado() {
        AnimacionCarga.show();

        ContenedorIngresoCarta.hide();

        var codigoEmpleado = InputCodigoEmpleado.val() == "" ? -1 : InputCodigoEmpleado.val();

        var request = $.ajax({
            url: "@(HttpRuntime.AppDomainAppVirtualPath)/CartaProcedencia/BuscarEmpleado",
            method: "GET",
            data: {
                codigo: codigoEmpleado
            },
            dataType: "json"
        });

        request.done(function (resultado) {
            var empleadoProcedencia = resultado;

            console.log(empleadoProcedencia);

            if (empleadoProcedencia.CodigoEmpleado > 0) {
                CeldaCodigo.text(empleadoProcedencia.CodigoEmpleado);
                CeldaNombre.text(empleadoProcedencia.Nombre);
                CeldaDepartamento.text(empleadoProcedencia.Departamento);

                CargarTablaProcedencias(empleadoProcedencia.CartasProcedencia);
                TablaEmpleado.show();
                TablaProcedencias.show();

                if (empleadoProcedencia.CartasProcedencia.length == 0) {
                    ProcedenciaAviso.show();
                    TablaProcedencias.hide();
                    ContenedorIngresoCarta.hide();
                }
                else {
                    ProcedenciaAviso.hide();
                }
            }
            else {
                TablaEmpleado.hide();
                TablaProcedencias.hide();
                ProcedenciaAviso.hide();
            }

            AnimacionCarga.hide();
        });

        request.fail(function (jqXHR, textStatus) {
            console.log("Falló buscar empleado: " + textStatus);
        });
    }

    // ==========
    // CARGAR TABLA PROCEDENCIA
    // ==========

    function CargarTablaProcedencias(cartasProcedencia) {
        var cuerpoTablaProcedencias = $("#tabla-procedencias tbody");

        cuerpoTablaProcedencias.empty();

        for (var i in cartasProcedencia) {
            var carta = cartasProcedencia[i];

            var filaTabla = `
                <tr class="procedencia-fila">
                    <td id="procedencia-info-fecha-ingreso" class="procedencia-celda">` + moment(carta.FechaIngreso).format("DD/MM/YYYY") + `</td>

                    <td id="procedencia-info-fecha-salida" class="procedencia-celda">` + moment(carta.FechaSalida).format("DD/MM/YYYY") + `</td>

                    <td id="procedencia-info-tiempo" class="procedencia-celda">` + carta.Tiempo + ` meses</td>

                    <td class="procedencia-celda procedencia-celda-botones">
                        <div class="col-md-4 col-sm-4">
                            <i class="boton-procedencia-eliminar procedencia-celda-boton fa fa-trash-o fa-2x" aria-hidden="true" value="` + carta.Codigo + `"></i>
                            <a href=CartaProcedencia/DescargarDocumento/` + carta.Codigo + ` target="_blank" download='` + carta.DocumentoNombre + `'>Descargar Documento</a>
                        </div>
                    </td>
                </tr>
            `;

            cuerpoTablaProcedencias.append(filaTabla);

            AnimacionCarga.hide();
        }
    }

    // ==========
    // GUARDAR CARTA
    // ==========

    function GuardarCarta() {
        //var codigoEmpleado = InputCodigoEmpleado.val();
        //var fechaIngreso =  moment(InputCartaFechaIngreso.val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss");
        //var fechaSalida = moment(InputCartaFechaSalida.val(), "DD-MM-YYYY", true).format("YYYY-MM-DD hh:mm:ss");

        //console.log(fechaIngreso);
        //console.log(fechaSalida);

        swal({
            title: '',
            text: '¿Seguro/a que desea guardar?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#31B404',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then(function () {
            AnimacionCarga.show();

            $('.fileinput-upload-button').trigger('click');

            BuscarEmpleado();

        }).catch(function () {

        });
    }

    // ==========
    // ELIMINAR CARTA
    // ==========

    function EliminarCarta(cartaId) {
        swal({
            title: '',
            text: '¿Seguro/a que desea eliminar?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#31B404',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then(function () {
            AnimacionCarga.show();

            var request = $.ajax({
                url: "@(HttpRuntime.AppDomainAppVirtualPath)/CartaProcedencia/EliminarProcedencia",
                method: "POST",
                data: {
                    cartaId: cartaId
                },
                dataType: "json"
            });

            request.done(function (resultado) {
                AnimacionCarga.hide();

                swal({
                    title: "Se eliminó con éxito",
                    text: "",
                    type: "success"
                }).then(function () {
                    BuscarEmpleado();
                });
            });

            request.fail(function (jqXHR, textStatus) {
                console.log("Falló eliminar procedencia: " + textStatus);
            });
        }).catch(function () {

        });
    }
</script>

