﻿@model IEnumerable<intra.Models.CartaProcedencia.ProcedenciaDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>

    .table > tbody > tr > td {
        color: #34495e;
    }

    .boton {
        cursor: pointer;
    }
</style>

@Styles.Render("~/datatables/css")

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Crear")
</p>
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Nombre del Empleado</th>
            @*<th>Fecha de Ingreso</th>
                <th>Fecha de Salida</th>*@
            <th>Tiempo</th>
            <th>Verificado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.NombreEmpleado
                </td>
                @*<td>
                        @item.FechaIngreso.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @item.FechaSalida.ToString("MM/dd/yyyy")
                    </td>*@
                <td>
                    @item.Tiempo meses
                </td>
                <td>
                    @if (item.Verificado)
                    {
                        <text>SI</text>
                    }
                    else
                    {
                        <a class="boton boton-procedencia-verificar" value=@item.Codigo>NO</a>
                    }

                </td>
                <td>
                    <i class="boton-procedencia-eliminar boton procedencia-celda-boton fa fa-trash-o fa-2x" aria-hidden="true" value=@item.Codigo></i>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Codigo })
                </td>
            </tr>
        }
    </tbody>



</table>

@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>
<script>

    var AnimacionCarga = $("#loading-animation-container");

    $(document).on("click", ".boton-procedencia-eliminar", function () {
        var codigoId = $(this).attr("value");

        EliminarCarta(codigoId);
    })

    $(document).on("click", ".boton-procedencia-verificar", function () {
        var codigoId = $(this).attr("value");

        VerificarCarta(codigoId);
    })

    // ==========
    // VERIFICAR CARTA
    // ==========

    function VerificarCarta(cartaId) {
        swal({
            title: '',
            text: '¿La carta de procedencia es valída?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#31B404',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then(function () {
            AnimacionCarga.show();

            var request = $.ajax({
                url: "@(HttpRuntime.AppDomainAppVirtualPath)/CartaProcedencia/VerificarProcedencia",
                method: "POST",
                data: {
                    cartaId: cartaId
                },
                dataType: "json"
            });

            request.done(function (resultado) {
                AnimacionCarga.hide();

                swal({
                    title: "Procedencia Actualizada",
                    text: "",
                    type: "success"
                }).then(function () {

                    location.reload();

                });
            });

            request.fail(function (jqXHR, textStatus) {

                swal('','Falló actualizar procedencia: ' + textStatus,'error');

                console.log("Falló actualizar procedencia: " + textStatus);
                AnimacionCarga.hide();
            });
        }).catch(function () {

        });
    }

    // ==========
    // ELIMINAR CARTA
    // ==========

    function EliminarCarta(cartaId) {
        swal({
            title: '',
            text: '¿Seguro/a que desea eliminar?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#31B404',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then(function () {
            AnimacionCarga.show();

            var request = $.ajax({
                url: "@(HttpRuntime.AppDomainAppVirtualPath)/CartaProcedencia/EliminarProcedencia",
                method: "POST",
                data: {
                    cartaId: cartaId
                },
                dataType: "json"
            });

            request.done(function (resultado) {
                AnimacionCarga.hide();

                swal({
                    title: "Se eliminó con éxito",
                    text: "",
                    type: "success"
                }).then(function () {

                    location.reload();

                });
            });

            request.fail(function (jqXHR, textStatus) {

                swal('','Falló eliminar procedencia: ' + textStatus,'error');

                console.log("Falló eliminar procedencia: " + textStatus);
                AnimacionCarga.hide();
            });
        }).catch(function () {

        });
    }

</script>