﻿@model IEnumerable<intra.Models.Cumpleanos.Vw_Mostrar_Empleados_Cumpleanos>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<style>
    table {
        max-width: 100% !important;
    }
</style>
<section class="row">
    <div class="col-lg-10">
        <h2>Ver Cumpleaños</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">

            @*<p>
                    @Html.ActionLink("Create New", "Create")
                </p>*@
    </div>
</section>
<script type="text/javascript">
   

    //$(function () {
    //    $("#Meses").change(function () {
    //        var foo = $("#Meses option:selected").Value();
    //    });

    //});

    $('#Meses').change(function () {
        if ($(this).val() != 0) {
            $('#Meses').DataTable($(this).val());
        }

    });
</script>

<select id="Meses" name="Meses" > 
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>       
</select>
<table id="tableGrid" class="table table-striped table-hover responsive">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>@Html.DisplayNameFor(model => model.Dependencia)</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dependencia)
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>
