﻿@model intra.Sol_DependenciasRegionales

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

@*################### STYLES ###################*@
<style>
    .form-horizontal {
        margin-top: 5%;
    }

    .btn-info, .button_white, .btn-primary, .btn-danger, btn-back {
        margin-bottom: 3px;
    }

    .form-control > .form-control {
        width: 100%;
    }

    .form-horizontal {
        padding: 0 20%;
    }

    #loading-animation-container {
        display: none;
    }
</style>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" style="margin-bottom: 2%;">
        <h2 class="h2_title_page">Crear dependencias regionales</h2>
        <hr class="hr2">
    </div>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DependenciaNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DependenciaNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Código del Supervisor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="DependenciaSupervisorId" name="DependenciaSupervisorId" placeholder="Código" class="form-control" />
                @Html.ValidationMessageFor(model => model.DependenciaSupervisorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre del Supervisor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SupervisorId, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" disabled id="NombreEncargado" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Correo del Supervisor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DependenciaSupervisorCorreo, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" disabled id="correo" class="form-control" />
                <input name="DependenciaSupervisorCorreo" id="DependenciaSupervisorCorreo" type="hidden">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" id="btnGuardar" class="button_white" style="margin-bottom: 3px;" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "button_white", @style = "margin-left: 2%;" })
            </div>
        </div>

    </div>
}


@*################### SCRIPT ###################*@
<script>
    var AnimacionCarga = $("#loading-animation-container");

    $("#DependenciaSupervisorId").on("blur", function ()
    {
        $.ajax({
        url: '@Url.Action("GetEmpleado", "TipoSolicitudes")',
            data: { codigoEmpleado: $("#DependenciaSupervisorId").val() },
            dataType: 'json',
            method: 'POST',
            success: function(data, status, xhr) {
                $("#NombreEncargado").val(data.displayName);
                $("#correo").val(data.samAccountName + "@@pgr.gob.do");
                $("#DependenciaSupervisorCorreo").val(data.samAccountName);
                //$("#cedulaEmpleado").val(data.cedula);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                console.log('Error' + errorMessage);
            }
        });
    });
</script>