﻿@model IEnumerable<intra.Sol_DependenciasRegionales>

@{
    ViewBag.Title = "Dependencias Regionales";
    Layout = "~/Views/intraMaster.cshtml";
}

@*###### STYLES ######*@
@Styles.Render("~/datatables/css")
<link href="~/Content/toastr/css/toastr.min.css" rel="stylesheet" />

@*###### BODY ######*@
<div class="btn-crear pull-right">
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "button_white" })
</div>

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Supervisor</th>
            <th>Correo</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.DependenciaNombre, "Edit", new { id = item.DependenciaId })</td>
                
                <td>@Html.DisplayFor(modelItem => item.supervisor)</td>

                <td>@Html.DisplayFor(modelItem => item.DependenciaSupervisorCorreo)@@pgr.gob.do</td>
            </tr>
        }
    </tbody>

</table>


@*####### SCRIPTS ######*@
@Scripts.Render("~/datatables/js")
<script src="~/Content/toastr/js/toastr.min.js"></script>
<script src="~/Content/toastr/js/toastr-init.js"></script>

<script>
     window.onload = function () {
         showMessage("success", "@TempData["toastrMessage"]")
         @{
             TempData.Clear();
         }
     }
</script>