﻿@model intra.Models.SolicitudModel 
@{
    ViewBag.Title = "Historico";
    Layout = "~/Views/intraMaster.cshtml";
}



<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>


 <h2>Movimientos de la Solicitud</h2>  

<div style="width:99%;overflow:hidden; height:auto; margin-top:10px;margin-bottom:10px">
    <div style="width:99%;overflow:hidden;height:auto">
        <table id="tableGrid" class="table">
            <thead>
                <tr>
                    <th>Accion</th>

                    <th>Usuario</th>

                    <th>Fecha</th>

                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TB_Mostrar_Logs)
                {
                    <tr>

                        <td>@item.logAccion</td>

                        <td>@item.Responsable</td>

                        <td>@item.logFecha.ToString("dd/MM/yyyy")</td>

                        <td>@item.Departamento</td>

                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>
@using (Html.BeginForm("Volver", "Historico", FormMethod.Post))
{

    <input id="Volver" name="Volver" value="Volver" type="submit" class="buttonEnviar">

}
