﻿@model  intra.Models.SistemaRepatriados.SSR_Telefonos
@{
  ViewBag.Contactorepatriados = Session["ContactoRepetriado"];
}
<script src="~/Content/js/CargaDirecciones.js"></script>
<script src="~/scripts/maskjs.js"></script>
<style>
    .chosen-container {
        width: 100% !important;
    }
</style>

<form id="contactosRepatriados" method="post">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="RepatriadoId" name="RepatriadoId" value="@ViewBag.Contactorepatriados" />
    <section class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Contacto Repatriado</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right alejar_top btn-group botones">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn button_white"})
                <button type="button" id="Guardar" name="Guardar" onclick="CrearContacto()" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
            </div>

        </div>
    </section>



    <div class="row">

        <div class="col-lg-4">
            <label>Tipo Telefono</label>
            @Html.DropDownList("TelefonoTipoId", null, "Seleccione", new { @class = "form-control chosen-select" })
        </div>

        <div class="col-lg-4">
            <label>Telefono</label>
            <input type="text" id="NumeroTelefono" name="NumeroTelefono" placeholder="(000)-000-0000" class="form-control" />
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#NumeroTelefono").mask('(000)-000-0000');
    });
</script>

<script>
    function CrearContacto() {

        $("#loading-animation-container").show();

        var request = $.ajax({
            url: '@Url.Action("CrearContactosRepatriados")',
            method: 'Post',
            data: $("#contactosRepatriados").serialize(),
        });
        request.done(function (data) {
         if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    openCity(event, 'familiares');
                });
                $("#loading-animation-container").hide();
            }
            else {

             swal({
                 title: 'Error',
                 text: data.Mensaje,
                 type: 'error',
                 confirmButtonColor: '#18212f',
                 confirmButtonText: 'Aceptar'
             });
                $("#loading-animation-container").hide();

            }
        })
    }
</script>