﻿@model  intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Actualización de Datos";
    Layout = "~/Views/intraMaster.cshtml";

}

@using intra.Models.ActualizacionDatos
@{
    var Datos = ViewBag.EmpleadoComplemento1;
    vDatosEmpleados empleado = ViewBag.Datos;
}
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

@*<script src="~/scripts/openCityActalizarDatos.js"></script>*@
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>*@
<style>
    .chosen-container {
        width: 100% !important;
    }

    .estatus {
        cursor: pointer;
    }

    .date-picker-slct {
        width: 110px !important;
    }

    .button_badge_repatriados {
        background-color: #ff3c3c;
        border-radius: 50%;
        color: white;
        width: 25px;
        padding: 6px 3px;
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 181px;
        text-align: center;
        height: 25px;
        -webkit-text-fill-color: white !important;
    }

    .accordion-filtro {
        display: none;
    }



</style>

@Styles.Render("~/datatables/css")

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

<script>

        $(function  () {
            $("#tabs").tabs()
        });

        $(function () {
            $("#tabs").tabs({
                select:
                    function (event, ui) {

                        return CheckSomething();
                    },

                show:
                    function (event, ui) {
                        //do some stuff
                    }
            });


        });


</script>

@if (TempData["Index"] != null)
{
    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Index"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/" });
    </script>

}

@*<div class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Datos Personales</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-8">
            <div class="pull-right">
                <h1 class="h1_section">@Session["nombre"].ToString() </h1>
            </div>
        </div>
</div>*@


<!-- Content Section -->
<div class="container tab br-datos-p-cont">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 br-datos-p">
                    <div class="col-xs-3 " id="p1">
                        <button id="btngenerales" class="tablinks" onclick="openCity(event, 'generales')">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/datosgenerales.svg" />
                            </div>
                            Generales
                        </button>
                    </div>
                    @*<div class="col-xs-2 " id="p1">
                        <button id="btncontactos" class="tablinks" onclick="openCity(event, 'contactos')">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/contacto.svg" />
                            </div>
                            Contactos
                        </button>
                    </div>
                    <div class="col-xs-2" id="p3">
                        <button id="btnfamiliares" class="tablinks" onclick="openCity(event,'familiares')">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/familiares.svg" />
                            </div>
                            Familiares
                        </button>
                    </div>*@

                     @*@if (Session["usuario"] != null)
    {*@
                    <div class="col-xs-3" id="p4">
     @if ((Session["CantidadServicioSolicitadosRepatriados"] != null) && ((int)Session["CantidadServicioSolicitadosRepatriados"] != 0))
{
                        <button id="btnServicios" class="tablinks btnponches" onclick="openCity(event, 'servicios')">
                         
                            <div class="icon_perfil">
                                <span class="button_badge_repatriados">
                                    @Session["CantidadServicioSolicitadosRepatriados"].ToString()
                                </span>
                                <img src="~/Content/images/icons/servicios-1.svg" />
                               

                            </div>
                          
                            Servicios
                        </button>
     }
                     
                    </div>

                    <div class="col-xs-3" id="p4">
@if ((Session["CantidadServicioSolicitadosRepatriados"] != null) && ((int)Session["CantidadServicioSolicitadosRepatriados"] != 0))
{
                        <button id="btnBandeja" class="tablinks btnponches" onclick="openCity(event, 'bandeja')">

                            <div class="icon_perfil">
                                <span class="button_badge_repatriados">
                                    @Session["CantidadServicioAsignadosRepatriados"].ToString()
                                </span>
                                <img src="~/Content/images/icons/bandeja-de-entrada.svg" />
                            </div>
                             
                            Bandeja
                          </button>
}
                           </div>
                   
                    <div class="col-xs-3" id="p2">
                        <button id="btndocumentos" class="tablinks" onclick="openCity(event, 'reporte')">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/documentos.svg" />
                            </div>
                            Reporte
                        </button>
                    </div>
                </div>
                <!-- //col-lg-12 -->
            </div>
            <!-- //row -->
        </div>
    </div>
    <!-- //col-lg-12 -->
</div>



<div class="row br-tri">
    <div class="col-md-12 tabs_actualizarDatos">
        <div id="generales" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-1">
            @Html.Action("ListadoRepatriados", "SistemaRepatriados")

        </div>
        @*<div id="contactos" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-2">
         
        </div>
        <div id="familiares" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-3">
           
        </div>*@

        <div id="servicios" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-4">
            @Html.Action("SolicitadosPartial", "ServiciosRepatriados")
        </div>
        <div id="bandeja" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-5">
            <div class="br-table table-responsive">
                @Html.Action("AsignadosPartial", "serviciosrepatriados")
            </div>
        </div>
        <div id="documentos" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-6">
            @*@Html.Action("vObservaciones", "ActualizarDatos")*@
        </div>
        <div id="reporte" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-5">
            @Html.Action("ReporteFiltro", "ServiciosRepatriados")
        </div>
    </div>
</div>


<script src="~/scripts/moment.js"></script>
@Scripts.Render("~/datatables/js")



<div class="modal fade RegistroServicioModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
         
      @Html.Action("RegistroServicioModal", "ServiciosRepatriados")
        </div>
    </div>
</div>

<script>
    openElement('generales');

    function openElement(div) {
        // $('#comprobanteButtonID').removeClass('tablinks');
        $('#btngenerales').addClass(' active');
        $('#btnServicios').addClass(' active');
        $('#btnBandeja').addClass(' active');
        $('#btndocumentos').addClass(' active');
        $('#btngenerales').addClass(' active');

        $("#generales").css("display", "block");
    }

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;



        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        //tablinks = document.getElementsByClassName("tablinks");
        //for (i = 0; i < tablinks.length; i++) {
        //    tablinks[i].className = tablinks[i].className.replace("active", "");
        //}
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<script>

    var link = $("masterlink").text();
    var tablaAsignados = $(".tblAsignados").DataTable();
    var tablaSolicitados = $(".tblSolicitados").DataTable();
  
    //COMENTADO POR MARIA
    var esAdmin = @(User.IsInRole("SRA") ? "false" : "true");


    $(document).ready(function () {
        $('.tblAsignados').DataTable().order([[0, 'desc']]).draw();
        $('.tblSolicitados').DataTable().order([[0, 'desc']]).draw();
       

        $("#btnServicios").on("click", { opcion: "solicitados", tabla : tablaSolicitados, servicioEstadoId : 1 }, cargarServiciosRepatriados);
        $("#btnBandeja").on("click", { opcion: "asignados", tabla: tablaAsignados, servicioEstadoId : 1 }, cargarServiciosRepatriados);

        $("#btnConsultar").on("click", {
            opcion: "asignados",
            tabla: tablaAsignados,
            servicioEstadoId: $(".estado").val(),
            codigoUsuario: $(".usuarioCreador").val(),
            codigoResponsable: $(".codigoResponsable").val(),
            repatriado: $(".repatriadosSeleccionado").val(),
            tipoServicioId: $(".tiposervicio").val(),
            institucionId: $(".institucion").val(),
            fechainicio_string: $(".fecha_inicio").val(),
            fechafinal_string: $(".fecha_final").val()
        } , cargarServiciosRepatriados);

        CargarServicioModal =  function(id) {

            $(".RegistroServicioModal").modal();

            $.ajax({
                url: link + "/ServiciosRepatriados/RegistroServicioModal",
                type: 'Post',
                dataType: 'json',
                data: { id: id },
                success: function (ServicioRepatriado, status, xhr) {

                    $(".ServicioIdEditModal").val(ServicioRepatriado.ServicioId);
                    $(".PersonaRepatriadaModal").val(ServicioRepatriado.SSR_Repatriados.NombreCompleto);
                    $("#ServicioEstadoIdModal").val(ServicioRepatriado.ServicioEstadoId);
                    $(".Notas").val(ServicioRepatriado.Notas);
                    $(".conclusion").val(ServicioRepatriado.Conclusion);

                    @if (User.IsInRole("SRA"))
                    {
                        <text>
                     
                    $("#ServicioTipoIdModal").val(ServicioRepatriado.ServicioTipoId);
                    $("#InstitucionIdModal").val(ServicioRepatriado.InstitucionId);
                    $(".FechaFinModal").val(moment(ServicioRepatriado.FechaFin).format("DD/MM/YYYY"));
                    $(".CodigoCreadorEditModal").val(ServicioRepatriado.CodigoCreador);
                    $("#CodigoResponsableModal").val(ServicioRepatriado.CodigoResponsable);
                    $("#CodigoResponsableModal").trigger('chosen:updated');

                    </text>

                    } else
                    {
                        <text>

                    $(".ServicioTipoModal").val(ServicioRepatriado.SSR_ServiciosTipos.Descripcion);
                    $(".InstitucionModal").val(ServicioRepatriado.SSR_Instituciones.Descripcion);

                    </text>

                    }

                },

               
                error: function (jqXhr, textStatus, errorMessage) {
                    swal('Un Error ha ocurrido', '', 'error');
                    AnimacionCarga.hide();
                }
            });

        };


        $(".ConsultarSlct, .ConsultarAsnd").click(function () {

            var esSlct = $(this).is('.ConsultarSlct');

            var menu_tipo = esSlct ? "Slct" : "Asnd";
            var opcion = esSlct ? "solicitados" : "asignados";
            var tabla_consulta = esSlct ? tablaSolicitados : tablaAsignados;

            switch ($(".Opciones"+menu_tipo).val()) {
                case "1":
                    cargarServiciosRepatriados({
                        data: {
                            opcion: opcion,
                            servicioEstadoId: $("#estados"+menu_tipo).val(),
                            institucionId: $("#institucion"+menu_tipo).val(),
                            tabla: tabla_consulta
                        }
                    });
                    break;
                case "2":
                    cargarServiciosRepatriados({
                        data: {
                            opcion: opcion,
                            servicioEstadoId: $("#estados"+menu_tipo).val(),
                            tipoServicioId: $("#tipoServicio"+menu_tipo).val(),
                            tabla: tabla_consulta
                        }
                    });
                    break;
                case "3":
                    cargarServiciosRepatriados({
                        data: {
                            opcion: opcion,
                            servicioEstadoId: $("#estados"+menu_tipo).val(),
                            fechainicio_string: $("#fechainicio"+menu_tipo).val(),
                            fechafinal_string: $("#fechafinal"+menu_tipo).val(),
                            tabla: tabla_consulta
                        }
                    });
                    break;
                default:
                    cargarServiciosRepatriados({
                        data: {
                            opcion: opcion,
                            servicioEstadoId: $("#estados"+menu_tipo).val(),
                            tabla: tabla_consulta
                        }
                    });
            }

        });


        $(".OpcionesSlct,.OpcionesAsnd").change(function () {

            var menu_tipo = $(this).is('.OpcionesSlct') ? "Slct" : "Asnd";

            switch ($(this).val()) {
                case "1":
                    $(".institucion_div_"+menu_tipo+"").show();
                    $(".tipoServicio_div_"+menu_tipo+",.Fechas_div_"+menu_tipo+"").hide();
                    break;
                case "2":
                    $(".tipoServicio_div_"+menu_tipo+"").show();
                    $(".institucion_div_"+menu_tipo+",.Fechas_div_"+menu_tipo+"").hide();
                    break;
                case "3":
                    $(".Fechas_div_"+menu_tipo+"").show();
                    $(".institucion_div_"+menu_tipo+",.tipoServicio_div_"+menu_tipo+"").hide();
                    break;
                default:
                    $(".institucion_div_"+menu_tipo+",.tipoServicio_div_"+menu_tipo+",.Fechas_div_"+menu_tipo+"").hide();
            }
        });
    



    });

    function cargarServiciosRepatriados(event) {

        AnimacionCarga.show();

        $.ajax({
            url: link + "/ServiciosRepatriados/CargarServiciosRepatriados",
            method: 'POST',
            dataType: 'json',
            data: { 
                opcion: event.data.opcion, 
                servicioEstadoId: event.data.servicioEstadoId, 
                codigoUsuario: event.data.codigoUsuario,
                codigoResponsable: event.data.codigoResponsable,
                repatriado: event.data.repatriado,
                tipoServicioId: event.data.tipoServicioId,
                institucionId: event.data.institucionId,
                fechainicio_string: event.data.fechainicio_string,
                fechafinal_string: event.data.fechafinal_string
            },
            success: function (ListaServiciosRepatriados, status, xhr) {

                ListarServicios(ListaServiciosRepatriados, event.data.tabla);
                $(".TablaSeleccionada").val(event.data.opcion);
                AnimacionCarga.hide();

            },
            error: function (jqXhr, textStatus, errorMessage) {
                swal('Un Error a ocurrido', '', 'error');
                AnimacionCarga.hide();
            }
        });
    };


    

    function ListarServicios(ServicioRepatriados, tabla) {

        var tablaEditable = $(tabla.table().node()).is('.tblAsignados');

        tabla.clear().draw();

        for (var r in ServicioRepatriados) {
            var servicio = ServicioRepatriados[r];

            tabla.row.add({
                0: servicio.ServicioId,
                1: servicio.Repatriado,
                2: servicio.Servicios,
                3: '<a class="estatus estatus_rechazado" ' + ((esAdmin == true || tablaEditable == true) && "onclick=CargarServicioModal(" + servicio.ServicioId + ")") + ' >' + servicio.ServiciosEstado + '</a>',
                4: moment(servicio.FechaCreacion).format("DD/MM/YYYY"),
                5: servicio.Notas
            }).draw();
        }
    };

   
  

    //LLama la funcion para cuando se acceda a la vista, muestre el segmento.
 

</script>
