﻿@model IEnumerable<intra.Models.SistemaRepatriados.SSR_Familiares>

@{
    ViewBag.Title = "ListaFamiliaresRepatriados";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>ListaFamiliaresRepatriados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Parentesco
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSR_Repatriados.NumeroIdentificador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NacionalidadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVinculacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSR_Parentescos.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSR_Repatriados.NumeroIdentificador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NacionalidadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVinculacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCreador)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FamiliarId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FamiliarId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FamiliarId })
                </td>
            </tr>
        }
    </tbody>

</table>
@Scripts.Render("~/datatables/js")