﻿@model intra.Models.ReposicionFondos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    #fondoObjetivo, #fondoHallazgos, #fondoLeyes, #fondoMejoras {
        width: 100%;
    }
</style>
<h2>Crear Registro</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reposición de Fondos</h4>
        <hr />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="fiscaliaId" class="control-label col-md-2">Fiscalía y/o Unidad</label>
            <div class="col-md-10">
                @Html.DropDownList("fiscaliaId", (SelectList)ViewBag.Fiscalia, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fiscaliaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="fondoTitular" class="control-label col-md-2">Titular de la Fiscalía y/o Unidad</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoTitular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fondoTitular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="tipoFondoId" class="control-label col-md-2">Tipo de Fondo</label>
            <div class="col-md-10 ">
                @Html.DropDownList("tipoFondoId", (SelectList)ViewBag.TipoFondo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoFondoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Monto de Reposición", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoMontoReposicion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fondoMontoReposicion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Responsable del Fondo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoResponsable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fondoResponsable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Auditor Actuante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoAuditor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fondoAuditor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Objetivo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.fondoObjetivo, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.fondoObjetivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Alcance", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoAlcance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fondoAlcance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="termino-condiciones">
                    <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                        <div id="terminosCondiciones2">
                            <div>Criterios de Revisión</div>
                            <ul>
                                <li>Ley 340-06 Sobre compras y contrataciones.</li>
                                <li>Ley 87-01 Sobre la seguridad social.</li>
                                <li>Decreto 254-06 N[umero de comprobante fiscal gubernamental.</li>
                                <li>Comunicación emitida en fecha 04/10/2016 sobre no exceder el monto del fondo asignado.</li>
                                <li>Normal de Caja Chica.</li>
                                <li>Norma viáticos.</li>
                                <li>Ley 557-05 sobre retenciones del estado.</li>
                            </ul>


                        </div>

                    </div>
                </div>
            </div>


        </div>

        <br />
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="termino-condiciones">
                        <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                            <div id="terminosCondiciones2">
                                <div>Criterios de Revisión</div>
                                <ul>
                                    <li>Todos los eventos deben ser solicitados con una semana de anterioridad.</li>
                                    <li>La Dirección de Comunicaciones contactará vía telefónica al solicitante a través del número proporcionado.</li>
                                    <li>Todas las solicitudes deben ser impresas y firmadas por el superior inmediato del área que solicita, ésta debe ser enviada a la Dirección de Comunicaciones y Prensa tan pronto sean validadas la fecha y la hora.</li>
                                    <li>Es de carácter obligatorio enviar en un rango de 3 días luego de generada la solicitud, todos los insumos del evento (Programa, Mesa Principal, Invitados, etc.).</li>

                                </ul>


                            </div>

                        </div>
                    </div>
                </div>


            </div>*@

        <div class="form-group">
            @Html.Label("Hallazgos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.fondoHallazgos, new { @class = "form-control", @rows = "5" })
                @*<textarea class="form-control" rows="2" id="fondoHallazgos" name="fondoHallazgos"></textarea>*@
                @*@Html.EditorFor(model => model.fondoHallazgos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fondoHallazgos, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Leyes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.fondoLeyes, new { @class = "form-control", @rows = "5" })
                @*<textarea class="form-control" rows="2" id="fondoLeyes" name="fondoLeyes"></textarea>*@
                @*@Html.EditorFor(model => model.fondoLeyes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fondoLeyes, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mejoras", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.fondoMejoras, new { @class = "form-control", @rows = "5" })
                @*<textarea class="form-control" rows="2" id="fondoMejoras" name="fondoMejoras"></textarea>*@
                @*@Html.EditorFor(model => model.fondoMejoras, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fondoMejoras, "", new { @class = "text-danger" })*@
            </div>
        </div>

        @Html.HiddenFor(model => model.fondoFechaAprobacion)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="buttonAceptar button_white " />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
