﻿@model intra.Models.ReposicionFondos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .first{
        width:auto;
        
    }
</style>

<h2>¿Está seguro que desea eliminar esto?</h2>

<div>
    <table class="table table-striped table-hover responsive display no-wrap">
        <thead>
            <tr>
                <th class="first"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="first" style="color:#000;">Fiscalía</td>
                <td style="color:#000;">@ViewBag.Fiscalia</td>
            </tr>
            <tr>
                <td class="first">Titular</td>
                <td>@Html.DisplayFor(model => model.fondoTitular)</td>
            </tr>
            <tr>
                <td class="first">Tipo de fondo</td>
                <td>@ViewBag.Fondo</td>
            </tr>
            <tr>
                <td class="first">Monto Reposición</td>
                <td>RD$@Html.DisplayFor(model => model.fondoMontoReposicion)</td>
            </tr>
            <tr>
                <td class="first">Responsable</td>
                <td>@Html.DisplayFor(model => model.fondoResponsable)</td>
            </tr>
            <tr>
                <td class="first">Auditor</td>
                <td>@Html.DisplayFor(model => model.fondoAuditor)</td>
            </tr>
            <tr>
                <td class="first">Objetivo</td>
                <td>@Html.DisplayFor(model => model.fondoObjetivo)</td>
            </tr>
            <tr>
                <td class="first">Alcance</td>
                <td>@Html.DisplayFor(model => model.fondoAlcance)</td>
            </tr>
            <tr>
                <td class="first">Hallazgos</td>
                <td>@Html.DisplayFor(model => model.fondoHallazgos)</td>
            </tr>
            <tr>
                <td class="first">Leyes</td>
                <td>@Html.DisplayFor(model => model.fondoLeyes)</td>
            </tr>
            <tr>
                <td class="first">Mejoras</td>
                <td>@Html.DisplayFor(model => model.fondoMejoras)</td>
            </tr>
            <tr>
                <td class="first">Contralor</td>
                <td>@ViewBag.Contralor</td>
            </tr>
            <tr>
                <td class="first">Aprobado</td>
                <td>@ViewBag.Aprobacion</td>
            </tr>
            <tr>
                <td class="first">Fecha de aprobación</td>
                <td>@Html.DisplayFor(model => model.fondoFechaAprobacion)</td>
            </tr>
            <tr>
                <td class="first">Fecha de creación</td>
                <td>@Html.DisplayFor(model => model.fondoFechaCreacion)</td>
            </tr>
            <tr>
                <td class="first">Usuario</td>
                <td>@Html.DisplayFor(model => model.usuario)</td>
            </tr>
        </tbody>
    </table>
    <br/>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
