﻿@model intra.Models.ReposicionFondos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReposicionFondos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fiscaliaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiscaliaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoTitular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoTitular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoFondoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoFondoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoMontoReposicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoMontoReposicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoAuditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoAuditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoObjetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoObjetivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoAlcance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoAlcance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoHallazgos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoHallazgos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoLeyes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoLeyes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoMejoras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoMejoras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contralorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contralorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoAprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoAprobado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoFechaAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoFechaAprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fondoFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fondoFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fondoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
