﻿@using System.Globalization;
@model intra.Models.ReposicionFondos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    #fondoObjetivo, #fondoHallazgos, #fondoLeyes, #fondoMejoras {
        width: 100%;
    }
</style>

<h2>Reposición de Fondos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.fondoId)

        <div class="form-group">
            <label for="fiscaliaId" class="control-label col-md-2">Fiscalía y/o Unidad</label>
            <div class="col-md-10">
                @Html.DropDownList("fiscaliaId", (SelectList)ViewBag.Fiscalia, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fiscaliaId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label for="fondoTitular" class="control-label col-md-2">Titular de la Fiscalía y/o Unidad</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoTitular, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.fondoTitular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="tipoFondoId" class="control-label col-md-2">Tipo de Fondo</label>
            <div class="col-md-10">
                @Html.DropDownList("tipoFondoId",(SelectList)ViewBag.TipoFondo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoFondoId, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Monto de Reposición", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoMontoReposicion, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.fondoMontoReposicion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Responsable del Fondo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoResponsable, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.fondoResponsable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Auditor Actuante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoAuditor, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.fondoAuditor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Objetivo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DisplayFor(model => model.fondoObjetivo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.fondoObjetivo, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.fondoObjetivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Alcance", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoAlcance, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.fondoAlcance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hallazgos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DisplayFor(model => model.fondoHallazgos, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.fondoHallazgos, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.fondoHallazgos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Leyes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DisplayFor(model => model.fondoLeyes, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.fondoLeyes, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.fondoLeyes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mejoras", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DisplayFor(model => model.fondoMejoras, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.fondoMejoras, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.fondoMejoras, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="usuario" class="control-label col-md-2">Usuario Creador</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>


        <div class="form-group">
            <label for="fondoFechaCreacion" class="control-label col-md-2">Fecha de Creación</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fondoFechaCreacion, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

        @Html.HiddenFor(model => model.fondoFechaCreacion)
        @Html.HiddenFor(model => model.fiscaliaId)
        @Html.HiddenFor(model => model.fondoTitular)
        @Html.HiddenFor(model => model.tipoFondoId)
        @Html.HiddenFor(model => model.fondoMontoReposicion)
        @Html.HiddenFor(model => model.fondoResponsable)
        @Html.HiddenFor(model => model.fondoAuditor)
        @Html.HiddenFor(model => model.fondoObjetivo)
        @Html.HiddenFor(model => model.fondoAlcance)
        @Html.HiddenFor(model => model.fondoHallazgos)
        @Html.HiddenFor(model => model.fondoLeyes)
        @Html.HiddenFor(model => model.fondoMejoras)


        @*<div class="form-group">
                <label for="fondoAprobado" class="control-label col-md-2">Aprobación</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.fondoAprobado)
                        @Html.ValidationMessageFor(model => model.fondoAprobado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            <label for="fondoFechaCreacion" class="control-label col-md-2">Aprobación</label>
            <div class="col-md-10">
                Si @Html.RadioButtonFor(model => model.fondoAprobado, "1", new { @class = "ArmasFuego" })
                No @Html.RadioButtonFor(model => model.fondoAprobado, "0", new { @class = "ArmasFuego" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonAceptar button_white " />
                <a target="_blank" href="@Url.Action("ReporteRot","ReposicionFondos",new { @id=Model.fondoId})">Generar PDF</a>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
