﻿@model IEnumerable<intra.Models.vw_ReposicionFondos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />


<section class="row">
    <div class="col-lg-10">
        <h2>Reposición de Fondos</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>


<table id="table4" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>

            <th>
                Titular
            </th>
            <th>
                Tipo de Fondo
            </th>
            <th>
                Responsable
            </th>
            <th>
                Fecha de Creación
            </th>
            <th>
               Estado
            </th>
            <th>
                Usuario
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.ActionLink(item.fondoTitular, "Edit", new { id = item.fondoId })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tipoFondoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fondoResponsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fondoFechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fondoAprobado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.fondoId })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
        $(document).ready(function () {
            $('#table4').DataTable({
                "language": {
                    "processing": "...Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron registros disponibles",
                    "emptyTable": "No hay Datos Disponibles en esta Tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "",
                    "search": "Buscar:",
                    "url": "",
                    "infoThousands": ",",
                    "loadingRecords": "...Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                responsive: true



            })
        });
</script>