﻿@using System.Globalization;
@{ 
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            padding: 0px !important;
            margin: 0px !important;
        }

        * {
            padding: 0px;
            margin: 0px;
        }

        #tabla {
            border-collapse: collapse;
            border: 1px solid #333333;
            width: 100%;
        }

        th {
            font-size: 17px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            color: #000;
            background-color: #eaeaea;
            border-right: 1px solid #333333;
        }

        td {
            font-size: 15px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 10px;
            margin-left: 5px;
            height: 35px;
        }

        h1, h2, h3 {
            font-family: Arial, Helvetica, sans-serif;
        }

        /*.div_izquierdo {
            height: 1390px;
            width: 20%;
            background-color: #064b8e;
            display: inline;
            margin: 0px !important;
            padding: 0px !important;
            float: left !important;
            clear: both;
        }*/

        .div_derecho {
            width: 70%;
            float: right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        .div_derecho2 {
            width: 76%;
            float: right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            padding: 20px;
            margin-top: 15px !important;
        }

        .breakhere {
            page-break-after: always;
        }

        .images {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }

            .images img {
                border: 1px solid #f1f1f1;
            }

        .footerpage {
            text-align: center;
            margin-top: 1180px !important;
            color: #064b8e;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 30px;
            background-color: #fff;
            width: 20px;
            margin: auto;
            font-weight: 600;
        }

            .footerpage p {
                font-size: 17px !important;
            }
    </style>

    <title>Reporte Bienes Incautados</title>
</head>



<body>

    <div>
        <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/BI_Images/publico_logo.png" id="imagen" width="150" style="margin-top:20px; margin-left:22px;" />

    </div>
    <div class="div_derecho">
        <i>
            Procuraduría General de la República<br />
            "Año del Desarrollo Agroforestal"
        </i>
        <br /><br />
        <i> <u> Contraloría del Ministerio Público</u></i>
    </div>
    <br /> <br /> <br />


    <div>
        <br /> <br />
        <table id="table2" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">
            <thead>
                <tr>
                    <td rowspan="2"><center><h3> INFORME REVISIÓN DE LOS GASTOS ADJUNTOS A LA REPOSICIÓN DE FONDOS </h3></center></td>
                    <td><center><strong>Fecha de preparación</strong></center></td>
                </tr>
                <tr>
                    <td>
                        @*@ViewBag.VistaFondos.fondoFechaCreacion*@
                        <script type="text/javascript">
                            var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                            var f=new Date();
                            document.write(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                        </script>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <br />

    <div>
        <table id="table3" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">

            <tr>
                <th style="width:30%">Fiscalía y/o Unidad</th>
                <td>@ViewBag.VistaFondos.FiscaliaNombre</td>
            </tr>
            <tr>
                <th style="width:30%">Titular de la Fiscalía y/o Unidad</th>
                <td>@ViewBag.VistaFondos.fondoTitular</td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table id="table4" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">

            <tr>
                <th style="width:30%">Tipo de Fondo</th>
                <td>@ViewBag.VistaFondos.tipoFondoNombre </td>

            </tr>

            <tr>
                <th style="width:30%">Monto de Reposición</th>
                <td>RD$@ViewBag.VistaFondos.fondoMontoReposicion.ToString("N", new CultureInfo("en-US"))</td>
            </tr>

            <tr>
                <th style="width:30%">Responsable del Fondo</th>
                <td>@ViewBag.VistaFondos.fondoResponsable </td>
            </tr>
            <tr>
                <th style="width:30%">Auditor Actuante </th>
                <td>@ViewBag.VistaFondos.fondoAuditor </td>
            </tr>

            <tr>
                <th style="width:30%">Objetivo </th>
                <td>@ViewBag.VistaFondos.fondoObjetivo </td>
            </tr>

            <tr>
                <th style="width:30%">Alcance  </th>
                <td>@ViewBag.VistaFondos.fondoAlcance </td>
            </tr>

            <tr>
                <th style="width:30%">Criterios de la Revisión</th>
                <td>
                    <ul>
                        <div>1)	Ley 340-06  Sobre Compras y Contrataciones </div>
                        <br />
                        <div>2)	Ley 87-01    Sobre la Seguridad ¿social </div>
                        <br />
                        <div>3)	Decreto 254-06  Número de Comprobante Fiscal Gubernamental</div>
                        <br />
                        <div>4)	Comunicación emitida en fecha 04/10/2016  sobre no exceder el monto del fondo asignado </div>
                        <br />
                        <div>5)	Norma de Caja Chica </div>
                        <br />
                        <div>6)	Norma Viáticos </div>
                        <br />
                        <div>7)	Ley 557-05  sobre Retenciones del Estado</div>
                        <br />
                    </ul>
                </td>
            </tr>



        </table>
    </div>
    <br /><br />
    <p class="breakhere"></p>
    <div>
        <table id="table5" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">

            <tr>
                <th style="width:30%">Resumen de la Revisión </th>
            </tr>
            <tr>
                <td>
                    <div style=”text-align: justify>
                        La revisión de los gastos se llevó a cabo en la oficina de la <strong> Contraloría del Ministerio,</strong> en cumplimiento a la <strong> Ley Orgánica del Ministerio Público 133-11,</strong> en su <strong> Artículo 70,</strong> Numerales siguiente:<br /><br />

                        <strong>1.</strong> Fiscalizar y controlar las operaciones y cuentas del Ministerio Público mediante inspecciones y conciliaciones.<br /><br />

                        <strong>2.</strong>	Velar por el cumplimiento de las normativas, políticas y controles administrativos del Ministerio Público, teniendo acceso a todos sus registros.<br /><br />

                        <strong>3.</strong>	Rendir informes directamente al Consejo Superior del Ministerio Público con la periodicidad que este establezca, y en cualquier momento, cuando detecte casos de irregularidades por parte del Ministerio Público.<br /><br />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br /> <br />
    <div>
        <table id="table6" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">

            <tr>
                <th style="width:30%">Hallazgos</th>
            </tr>
            <tr>
                <td>
                    <span hidden="hidden">@{string hallazgo = ViewBag.VistaFondos.fondoHallazgos.ToString().Replace("\r\n","<br/>");}</span>
                    <div>
                        @for (int i = 0; i < ViewBag.Hallazgo.Length; i++)
                        {
                            @ViewBag.Hallazgo[i]
                            <br/>
                        }
                    </div>
                </td>
            </tr>

        </table>
    </div>
    <br /><br />
    <div>
        <table id="table7" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">

            <thead>
            <th style="width:100%">Leyes, Decretos, Normas, Políticas, Resoluciones, Comunicaciones que fueron inobservadas en el proceso de erogación de gastos por parte de la fiscalía y/o unidad revisada.  :</th>
            </thead>
            <tr>
                <td>@ViewBag.VistaFondos.fondoLeyes</td>
            </tr>
            <tr>
                <th style="width:30%">Oportunidades de Mejoras:</th>
            </tr>
            <tr>
                <td>
                    <div>
                        @for (int i = 0; i < ViewBag.Recomendacion.Length; i++)
                        {
                            @ViewBag.Recomendacion[i]
                            <br />
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <div>
        <table id="table8" class="table table-striped table-hover responsive display  no-wrap" width="100%" border="1">

            <tr>
                <th style="width:30%">Contralor del Ministerio Público</th>
                <th style="width:30%">Fecha Impresión</th>
            </tr>
            <tr>
                <td>Lic. Yovanny Feliz Roa</td>
                <td>
                    <script type="text/javascript">
                        var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                        var f=new Date();
                        document.write(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                    </script>
                </td>
            </tr>

        </table>
    </div>
    <p class="breakhere"></p>
    <!--2nd page -->
    <div class="div_izquierdo">

        @*<footer class="footerpage">2</footer>*@
    </div>
    <!--Following pages-->

</body>
</html>
