﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page DepartamentoTituloModal">Nuevo departamento de recursos Humanos</h2>
    </div>
    <div class="col-md-6">
        <div class="pull-right">

            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            <a class="button_white btnAgregarDepartamento"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Guardar</a>
            <a class="button_white btnActualizarDepartamento" style="display: none;"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Actualizar</a>

        </div>
    </div>
</div>
<hr class="hr2" />
<br />
<br />
<br />
<br />

<form id="DepartamentoFormModal" enctype="multipart/form-data">

    <input type="hidden" name="NuestroEquipoDepartamentoID" id="NuestroEquipoDepartamentoID" value="" />

    <div class="row" style="margin:0;">
        <div class="form-horizontal">
            <div class="form-group" style="margin: 0;">
                
                    <div class="control-label col-md-3">
                        <label class="control-label" for="Empleado">Nombre del departamento</label>
                </div>
                    <div class="col-md-9">
                        <input class="form-control NuestroEquipo_Descripcion" name="Descripcion" id="Descripcion" />
                    </div>
            
            </div>
        </div>
    </div>

</form>