﻿@model intra.Models.ViewModel.NuestroEquipoVM
@{
    Layout = null;
}

<div class="row alinear">
    @*<div class="col-md-4">
        <h2 class="h2_title_page">Departamentos</h2>
    </div>*@
    <div class="col-md-12">
        <div class="pull-right">
            @if (User.IsInRole("NE"))
            {
                <button class="button_white btnAgregarDepartamentoModal" id="modal">Agregar</button>
            }
        </div>
    </div>
</div>

<div class="wrapper rh">
    @if (Model.NuestroEquipoDepartamentos != null && Model.NuestroEquipoDepartamentos.Count > 0)
    {
        foreach (var departamento in Model.NuestroEquipoDepartamentos.Where(ned => ned.Estado).OrderBy(ned => ned.NuestroEquipoMiembro.Where(nem => nem.Estado).ToList().Count))
        {
            <div>
                <div class="department-card">
                    <div class="department-header">
                        <h5 class="Descripcion_departamento_@departamento.NuestroEquipoDepartamentoID">@departamento.Descripcion</h5>
                        @if (User.IsInRole("NE"))
                        {
                            <div class="alinear-btn-ctrl">
                                <div class="button-control">
                                    <a class="  btnAbrirAgregarMiembroModal" departamentoID="@departamento.NuestroEquipoDepartamentoID"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                <div class="button-control">
                                    <a class=" btnEditarDepartamentoModal" departamentoID="@departamento.NuestroEquipoDepartamentoID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </div>
                                <div class="button-control">
                                    <a class=" btnRemoverDepartamentoModal" departamentoID="@departamento.NuestroEquipoDepartamentoID"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="department-body">
                        @if (departamento.NuestroEquipoMiembro != null && departamento.NuestroEquipoMiembro.Count > 0)
                        {
                            foreach (var miembro in departamento.NuestroEquipoMiembro.Where(x => x.Estado))
                            {
                                <div class="body-grid">
                                    <div class="miembro_empleado_@miembro.MiembroID">@miembro.empleado.nombre</div>
                                    <div>
                                        @if (User.IsInRole("NE"))
                                        {
                                            <a class="button_white btnEditarMiembroModal boton-cuadrado" div_Miembro="@miembro.MiembroID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a class="button_white btnRemoverMiembroModal boton-cuadrado" div_Miembro="@miembro.MiembroID"><i class="fa fa-times" aria-hidden="true"></i></a>

                                        }
                                    </div>
                                </div>
                                <h6 style="border-bottom:1px solid#c6ecff; padding-bottom: 3px;">

                                    @{ 
                                        var extencion_vacia = !string.IsNullOrEmpty(miembro.Ext);
                                        var flota_vacia = !string.IsNullOrEmpty(miembro.Flota);
                                    }

                                    @if (extencion_vacia)
                                    {
                                        <text>Ext.: </text><span id="miembro_ext_@miembro.MiembroID">@miembro.Ext</span>
                                    }
                                    
                                    @if (extencion_vacia && flota_vacia) {

                                        <text>/</text>

                                    }

                                    @if (flota_vacia)
                                    {
                                        <text>Flota: </text><span id="miembro_flota_@miembro.MiembroID">@miembro.Flota</span>
                                    }

                                </h6>
                                <br />
                            }
                        }

                    </div>
                </div>
            </div>
        }
    }
</div>