﻿
@{
    Layout = null;
}

<style>

    textarea.infomacion_cabecera {
        height: 100% !important;
    }

    textarea.descuento_descripcion {
        height: 100% !important;
    }

    .jqte {
        margin-top: 0px;
    }

    .thumb-image-size {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page EmpresaDescuentoTituloModal">Agregar Descuento al Catálogo</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right">

            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            <a class="button_white btnActualizarNuestroEquipo"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Guardar</a>
            @*<a class="button_white btnActualizarDescuentoEmpresa" style="display: none;"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Actualizar</a>*@

        </div>
    </div>
</div>

<form id="NuestroEquipoFormModal" enctype="multipart/form-data">

    @*<input type="hidden" name="NuestroEquipoDepartamentoID" id="NuestroEquipoDepartamentoID" value="" />*@

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <label>Foto</label>
                    <div class="image-holder2" name=""></div>
                    <div>
                        <input id="image-holder-input2" type="file" style="height: 37px;" class="form-control image-holder-input2" accept="image/*">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label>Descripción</label>
            <div>
                <textarea id="NuestroEquipoDescripcion" name="NuestroEquipoDescripcion" class="descuento_descripcion"  rows="20" required="" style="resize:none">@ViewBag.texto</textarea>
                @*<input id="NuestroEquipoDescripcion" name="NuestroEquipoDescripcion" type="text" class="jqte conteniendo" style="margin: 0!important; border:none;">*@
            </div>
        </div>

    </div>

</form>