﻿@model intra.Models.ViewModel.NuestroEquipoVM
@{
    ViewBag.Title = "Nuestro Equipo";
    Layout = "~/Views/intraMaster.cshtml";
    ViewBag.texto = Model.NuestroEquipo.NuestroEquipoDescripcion;
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

@*SCRIPTS DEL SELECTIZE*@
<script src="~/Content/js/selectize/selectize.min.js"></script>
<script src="~/Content/js/selectize/plugin.js"></script>
<link href="~/Content/js/selectize/css/selectize.bootstrap2.css" rel="stylesheet" />

<style>
    .tabsection {
        border-top: 1px solid #ccc;
        display: none;
        padding: 10px 24px 28px 24px;
        -webkit-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        box-shadow: -1px 19px 51px -3px rgba(0,0,0,0.14);
        border-radius: 5px;
    }

    button > span {
        color: #9e9e9e;
    }
</style>

<div class="tab br-perfil">
    <div class="row">
        <div class="col-sm-6 col-lg-6 center">
            <button id="comprobanteButtonID" class="tablinks" onclick="openCity(event, 'direccion')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/direccion_gestion_humana.svg" />
                </div>
                <span>DIRECCIÓN DE GESTIÓN HUMANA</span>
            </button>
        </div>
        <div class="col-sm-6 col-lg-6 center">
            <div>
                <button class="tablinks" onclick="openCity(event, 'departamento')">
                    <div class="icon_perfil">
                        <img src="~/Content/images/icons/departamento_gestion_humana.svg" />
                    </div>
                    <span>DEPARTAMENTOS</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="direccion" class="tabsection">
            <img src="~/content/images/triangulo.png" class="nuestro-equipo-triangulo-1">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/SobreNosotrosPartial.cshtml");
            }
        </div>
        <div id="departamento" class="tabsection">
            <img src="~/content/images/triangulo.png" class="nuestro-equipo-triangulo-2">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/DepartamentosPartial.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade EditarNuestroEquipoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/EditarNuestroEquipoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade DepartamentoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/DepartamentoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade MiembroModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/MiembroModal.cshtml");
            }
        </div>
    </div>
</div>

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>

<script src="~/scripts/$modulos/nuestro_equipo/nuestro_equipo_main.js"></script>

<script>

    $("#flota").mask('(999)-999-9999');

    //LLama la funcion para cuando se acceda a la vista, muestre el segmento.
    openElement('direccion');

    function openElement(div) {
        $('#comprobanteButtonID').addClass(' active');

        $("#direccion").css("display", "block");
    }

    function openCity(evt, cityName) {
        var i, tabsection, tablinks;
        tabsection = document.getElementsByClassName("tabsection");
        for (i = 0; i < tabsection.length; i++) {
            tabsection[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>