﻿@model intra.Models.ViewModel.NuestroEquipoVM
@{
    ViewBag.Title = "Nuestro Equipo";
    Layout = "~/Views/intraMaster.cshtml";
    ViewBag.texto = Model.NuestroEquipo.NuestroEquipoDescripcion;
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

@*SCRIPTS DEL SELECTIZE*@
<script src="~/Content/js/selectize/selectize.min.js"></script>
<script src="~/Content/js/selectize/plugin.js"></script>
<link href="~/Content/js/selectize/css/selectize.bootstrap2.css" rel="stylesheet" />



<div class="row alinear">
    <div class="col-md-4">
        <h2 class="h2_title_page">Dirección De Gestión Humana</h2>
    </div>
    <div class="col-md-8">
        <div class="pull-right">
            @if (User.IsInRole("NE"))
            {
                <button class="button_white btnAbrirEditarNuestroEquipoModal" id="modal">Editar</button>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img class="img-responsive-main" src="~/Content/images/GH_IMAGES/NuestroEquipoFotos/@Model.NuestroEquipo.NuestroEquipoFoto" />
    </div>
    <div class="col-md-6">
        <h1 style="margin:0;">Sobre Nosotros</h1>
        <p class="text-block">@Model.NuestroEquipo.NuestroEquipoDescripcion</p>
    </div>
</div>
<br />
<div class="row alinear">
    <div class="col-md-4">
        <h2 class="h2_title_page">Departamentos</h2>
    </div>
    <div class="col-md-8">
        <div class="pull-right">
            @if (User.IsInRole("NE"))
            {

                <button class="button_white btnAgregarDepartamentoModal" id="modal">Agregar</button>
            }
        </div>
    </div>
</div>

<div class="wrapper rh">
    @if (Model.NuestroEquipoDepartamentos != null && Model.NuestroEquipoDepartamentos.Count > 0)
    {
        foreach (var departamento in Model.NuestroEquipoDepartamentos.Where(x => x.Estado))
        {
            <div>
                <div class="department-card">
                    <div class="department-header">
                        <h5 class="Descripcion_departamento_@departamento.NuestroEquipoDepartamentoID">@departamento.Descripcion</h5>
                        @if (User.IsInRole("NE"))
                        {
                            <div class="alinear-btn-ctrl">
                                <div class="button-control">
                                    <a class="  btnAbrirAgregarMiembroModal" departamentoID="@departamento.NuestroEquipoDepartamentoID"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                <div class="button-control">
                                    <a class=" btnEditarDepartamentoModal" departamentoID="@departamento.NuestroEquipoDepartamentoID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </div>
                                <div class="button-control">
                                    <a class=" btnRemoverDepartamentoModal" departamentoID="@departamento.NuestroEquipoDepartamentoID"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="department-body">
                        @if (departamento.NuestroEquipoMiembro != null && departamento.NuestroEquipoMiembro.Count > 0)
                        {
                            foreach (var miembro in departamento.NuestroEquipoMiembro.Where(x => x.Estado))
                            {
                                <div class="body-grid">
                                    <div class="miembro_empleado_@miembro.MiembroID">@miembro.empleado.nombre</div>
                                    <div>
                                        @if (User.IsInRole("NE"))
                                        {
                                            <a class="button_white btnEditarMiembroModal boton-cuadrado" div_Miembro="@miembro.MiembroID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a class="button_white btnRemoverMiembroModal boton-cuadrado" div_Miembro="@miembro.MiembroID"><i class="fa fa-times" aria-hidden="true"></i></a>

                                        }
                                    </div>
                                </div>
                                <h6 style="border-bottom:1px solid#c6ecff; padding-bottom: 3px;">
                                    Ext.: <span id="miembro_ext_@miembro.MiembroID">@miembro.Ext</span>
                                </h6>
                                <br />
                            }
                        }

                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="modal fade EditarNuestroEquipoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/EditarNuestroEquipoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade DepartamentoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/DepartamentoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade MiembroModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_NuestroEquipo/MiembroModal.cshtml");
            }
        </div>
    </div>
</div>

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>

<script src="~/scripts/$modulos/nuestro_equipo/nuestro_equipo_main.js"></script>