﻿
@{
    Layout = null;
}

<style>

    .selectize-input.items.not-full.has-options {
        height: 37px;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        font-size: 12px !important;
    }

    .selectize-input.items.has-options.full.has-items .item {
        width: 216px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .selectize-dropdown-content {
        font-size: 12px !important;
        text-align: left !important;
    }

    .selectize-control.single .selectize-input {
        /*width: 500px;*/
        height: 37px;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        font-size: 12px !important;
        background-image: none !important;
        background-color: #fff !important;
    }

    .selectize-input.items.not-full.has-options::after {
        top: 55% !important;
    }

    .selectize-input.items.not-full.has-options .input {
        font-size: 12px !important;
        text-align: left;
    }

    .selectize-dropdown [data-selectable].option {
        opacity: 1;
        cursor: pointer;
    }

    .selectize-input > input {
        height: 18px !important;
    }

    .ancho > .items > .item {
        overflow: unset !important;
    }
    /*HOVER SELECT*/
    .selectize-dropdown [data-selectable].active {
        background-color: #1e90ff !important;
        background-image: rgb(30,144,255) !important;
        background-image: -moz-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -webkit-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -webkit-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -o-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        /*background-image: -moz-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -webkit-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -o-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;*/
        background-repeat: repeat-x;
        color: #fff !important;
        filter: none;
    }

 
    .class-forcecito {
        padding-top: 7px;
        padding-left: 0 !important;
        margin-bottom: 0;
        text-align: left !important;
    }

</style>

<div class="row">
    <div class="col-md-6">
        <h2 class=" MiembroTituloModal">Agregar Miembro al Departamento</h2>

    </div>

    <div class="col-md-6">
        <div class="pull-right">

            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            <a class="button_white btnAgregarMiembro"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Agregar</a>
            <a class="button_white btnActualizarMiembro" style="display: none;"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Actualizar</a>

        </div>
    </div>
</div>

<div class="col-sm-12" style="padding:0;">
    <hr class="hr2" />
</div>

<form id="MiembroFormModal" enctype="multipart/form-data">

    <input type="hidden" name="MiembroID" id="MiembroID" value="" />

    <input type="hidden" name="NuestroEquipo_DepartamentoID" id="NuestroEquipo_DepartamentoID" value="" />

    <div class="row">
        <div class="form-horizontal">

            <div class="form-group" style="margin: 0;">

                @*<div class="form-group" style="margin: 0;">
                        <div class="col-md-12">
                            @Html.Label("Código del empleado", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="EmpleadoID" name="EmpleadoID" />
                            </div>
                        </div>
                    </div>*@

                <div class="row"  style="padding: 0 20px;">

                    <div class="col-md-6 div_nombre_miembro" style="margin:0;">
                            @Html.Label("Nombre del empleado", htmlAttributes: new { @class = "control-label class-forcecito" })
                            <input type="text" disabled id="Nombre" class="form-control" />
                    </div>

                    <div class="col-md-6 select_nombre_miembro" style="margin:0;">
                            @Html.Label("Empleado", htmlAttributes: new { @class = "control-label class-forcecito" })
                            @Html.DropDownList("EmpleadoID", null, "SELECCIONE", new { @class = "selectize" })
                    </div>

                    <div class="col-md-3 form-group" style="margin:0;">
                            @Html.Label("Extensión", htmlAttributes: new { @class = "control-label class-forcecito", @style = "width: 81px;" })
                            <input type="text" id="Ext" name="Ext" class="form-control" />
                    </div>

                    <div class="col-md-3 form-group" style="margin:0;">
                            @Html.Label("Flota", htmlAttributes: new { @class = "control-label class-forcecito" })
                            <input type="text" id="flota" name="flota" class="form-control" />
                    </div>

                </div>

            </div>
        </div>
    </div>

</form>