﻿
@{
    Layout = null;
}

<div class="row alinear">
    @*<div class="col-md-4">
        <h2 class="h2_title_page">Dirección De Gestión Humana</h2>
    </div>*@
    <div class="col-md-12">
        <div class="pull-right">
            @if (User.IsInRole("NE"))
            {
                <button class="button_white btnAbrirEditarNuestroEquipoModal" id="modal">Editar</button>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img class="img-responsive-main" src="~/Content/images/GH_IMAGES/NuestroEquipoFotos/@Model.NuestroEquipo.NuestroEquipoFoto" />
    </div>
    <div class="col-md-6">
        <h1 style="margin:0;">Sobre Nosotros</h1>
        <p class="text-block">@Model.NuestroEquipo.NuestroEquipoDescripcion</p>
    </div>
</div>