﻿@model intra.Models.RolesUsuarios.Sistemas

@{
    ViewBag.Title = "Elminar";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro que desea eliminar este registro?</h3>
<div>
    <h4>Sistemas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Sistema")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaNombre)
        </dd>

        <dt>
            @Html.DisplayName("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaDescripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
