﻿@model intra.Models.RolesUsuarios.Sistemas

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Sistema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Sistema")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaNombre)
        </dd>

        <dt>
            @Html.DisplayName("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SistemaId }) |
    @Html.ActionLink("Volver", "Index")
</p>
