﻿@model intra.Models.RolesUsuarios.Sistemas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SistemaId)
    <div class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Editar Sistemas</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <span class="pull-right ">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn button_white" })
                <input type="submit" value="Crear" class="btn button_white" />
            </span>
        </div>

    </div>
        <div class="row alejar_top">
            <div class="col-lg-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="form-group">
                            @Html.Label("Sistema", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SistemaNombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SistemaNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SistemaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SistemaDescripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
                    }

                  