﻿@model IEnumerable<intra.Models.RolesUsuarios.Sistemas>

@{
    ViewBag.Title = "SISTEMAS";
    Layout = "~/Views/intraMaster.cshtml";
}
@Styles.Render("~/datatables/css")
<style>
    td{
        color: #014984!important;
    }
    th{
        color: #fff!important;
    }
</style>

<h2>Sistemas PGR</h2>


<p class="pull-right">
    @Html.ActionLink("Crear Nuevo ", "Create", null, new { @class="btn button_white"})
</p>
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <tr>
        <th>
            @Html.DisplayName("SISTEMAS")
        </th>
        <th>
            @Html.DisplayName("DESCRIPCION")
        </th>
        <th>ACCIONES</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SistemaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SistemaDescripcion)
            </td>
            <td>
                @Html.ActionLink("EDITAR", "Edit", new { id = item.SistemaId }, new { @class = "btn button_white" })
                @*@Html.ActionLink("DETALLE", "Details", new { id = item.SistemaId }, new { @class = "btn button_white" })*@
                @Html.ActionLink("ELIMINAR", "Delete", new { id = item.SistemaId }, new { @class = "btn button_white" })
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/datatables/js")