﻿@model intra.Models.AvisosActividades.Avisos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    textarea {
        overflow-y: scroll;


        height: 100px;
        resize: none; /* Remove this if you want the user to resize the textarea */
    }
</style>

<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/scripts/jquery-te-1.4.0.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />



@using (Html.BeginForm("create", "Avisos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Crear Aviso</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top">

                <input type="submit" value="Guardar" class="btn button_white" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn button_white" })

            </div>
        </div>
    </section>

    <section>
        <div class="row alejar_top">
            <div class="col-md-6">
                <label>Titulo</label>
                <div>
                    <input type="text" id="AvisosTitulo" name="AvisosTitulo" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <label>Tipo de Actividad</label>
                <div>
                    @Html.DropDownList("AvisoTipoId", null, "Seleccione", new { @class = "form-control chosen-select"})

                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Cargar Imagen</label>
                    <div>
                        <input type="file" name="file" class="form-control" />
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Atachar Documento</label>
                    <div>
                        <input type="file" name="DocGHArchivoVista" class="form-control" />
                    </div>
                </div>
            </div> 
        <div class="row">
            <div class="col-lg-12">
                <label>Contenido</label>
                <div>
                    <input name="__contenido" id ="AvisosCuerpo" type="text" class="jqte-test" style="margin: 0!important; border:none;">

                </div>
            </div>
            @*<textarea id="AvisosCuerpo" name="AvisosCuerpo" rows="5" cols="80"></textarea>*@
            @*<textarea id="TextArea1" rows="2" cols="80" ></textarea>*@
            @*@Html.EditorFor(model => model.AvisosCuerpo, new { htmlAttributes = new { @class = "form-control", rows = "2" } })
                @Html.ValidationMessageFor(model => model.AvisosCuerpo, "", new { @class = "text-danger" })
            </div>*@
        </div>
            @*</div>
        </div>*@
    </section>
}


<script>
	$('.jqte-test').jqte();

	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});

</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>