﻿@model intra.Models.AvisosActividades.Avisos
@using System.Globalization;

@{
    ViewBag.Title = "Resumen Novedades";

    if (ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}

<style>
    .noticias img{
    
        object-fit:cover;
       

    }
    .noticias h2 {  text-align: left;  }

    .img-aviso {
        background:#efefef;
        display: flex;
        justify-content: center;
    }

    /*descargar documento*/
    .download-document img{
        width: 100px;
        height: 100px;
        margin: 0;
        background-color: transparent;
    }
    .download-document a{
        display: inline-block;
        margin-bottom: 10px;
    }
    .download-document p.title{
        padding: 0;
        margin: 0 0 14px 0;
        font-weight: bold !important;
    }
    .download-document .instruction{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .download-document .instruction p{
        margin: 0 0 0 10px;
        font-size: 12px;
    }
    .download-document .instruction .download-icon{
        background: url("http://localhost/intra/content/images/icon-download.svg");
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .hr2 {
        width: 8% !important;
    }

</style>
@if(!string.IsNullOrEmpty(ViewBag.IconImage))
{
    <script>
        $(document).ready(function () {
            $(".OcultarDocumento").show();
        });
    </script>
}

@if (ViewBag.access == "public_user")
{
    <br />
}

    @*<h2>@ViewBag.avisos_tipo</h2>
    <hr class="hr2" />*@

    @*<hr class="hr2" />
    <br /><br />*@

    <section class="row br-avisos br-avisos-in" style="display:flex; justify-content:center;">
        <div class="col-lg-8 noticias br-avisos-feed br-avisos-feed-int" >
            <div class="avisosImagen">
                <h2 class="titulo">@Html.DisplayFor(model => model.AvisosTitulo)</h2>
                <div class="img-aviso">
                    <img src="~/Content/Avisos/@Model.AvisosImagen" />
                </div>

                @*<div>@Model.AvisosDocumentos</div>*@

                <div class="form-group download-document OcultarDocumento" hidden="hidden" style="background-color:#f6f6f6;padding:15px;" id="file_div">
                    <p class="title">Documento</p>
                    <div>
                        <a href='@Url.Action("DownloadFile")/@Model.AvisosId' target="_blank" download="@Model.AvisosDocumentos" title="@Model.AvisosTitulo">
                            <img src="@ViewBag.IconImage" width="100" height="100" />
                        </a>
                        <br />
                        <div class="instruction"><span class="download-icon"></span><p>Haga click en la imagen para descargar</p></div>
                    </div>
                </div>

            </div>

            <div>

                <div class="noticiasFecha">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span style="padding-right:5px;">@Model.AvisosFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</span>
                    <i class="fa fa-eye" aria-hidden="true"></i> <span style="padding-right:5px;">@Model.AvisosVistas Vistas</span>
                    @*<i class="fa fa-user" aria-hidden="true"></i><span> Autor: @ViewBag.Autor</span>*@
                </div>
                <p >@Html.Raw(Model.AvisosCuerpo)</p>
                <a href="~/Avisos/Index?actividad=@Model.AvisoTipoId" class="btn button_white"><i class="fa fa-eye"> Ver Todos</i></a>
                @*<button type="button" id="Volver" name="volver" onclick="volverAtras()" class="btn button_white"><i class="fa fa-arrow-left alejar_icono" aria-hidden="true"></i>Volver</button>*@

                <br />
                <br />
            </div>
        </div>

    </section>

<script>
    function volverAtras() {
        window.history.back();
    }

    var tipo = "@ViewBag.avisos_tipo";

    if (tipo != null) {
        $(".breadcrums_Novedades").text(tipo);
        $(".breadcrums_Novedades").attr('href', '@HttpRuntime.AppDomainAppVirtualPath/Avisos/Index?actividad=@ViewBag.avisos_tipoID');
        $(".breadcrums_Detalle").text("@Html.Raw(Model.AvisosTitulo.Length < 80 ? Model.AvisosTitulo : Model.AvisosTitulo.Substring(0,80)+"...")");
        $(".breadcrums_Detalle").attr('href', '@HttpRuntime.AppDomainAppVirtualPath/Avisos/Details?id=@Model.AvisosId');
    }

</script>