﻿@{
    Layout = null;
}

<style>
    .noticias img {
        object-fit: cover;
    }

    .noticias h2 {
        text-align: left;
    }

    .img-aviso {
        background: #efefef;
        display: flex;
        justify-content: center;
    }

    /*descargar documento*/
    .download-document img {
        width: auto;
        height: 100px;
        margin: 0;
        background-color: transparent;
    }

    .download-document a {
        display: inline-block;
        margin-bottom: 10px;
    }

    .download-document p.title {
        padding: 0;
        margin: 0 0 14px 0;
        font-weight: bold !important;
    }

    .download-document .instruction {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

        .download-document .instruction p {
            margin: 0 0 0 10px;
            font-size: 12px;
        }

        .download-document .instruction .download-icon {
            background: url("http://localhost/intra/content/images/icon-download.svg");
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
        }

    .hr2 {
        width: 8% !important;
    }

    .alejar_icono {
        padding: 0 8px;
    }

    a.button_cerrar {
        display: flex;
        padding: 11px 14px;
    }

    /*a.button_cerrar{
        height: 30px;
        width: 30px;
        display:flex;
        justify-content:center;
        align-items:center;
        color: #fff;
        margin: 0;
        outline: 0;
        padding: 5px; 
        text-transform: uppercase;
        font-size: 13px !important;
        border-radius: 100px;
        margin-bottom: 10px;
        text-decoration: none !important;
        background: #0c4ba4;
        border: none;
        cursor: pointer;
    }*/

   .title{ padding: 5px; width: 120px; text-align:left;}

    .centralizar{display:flex; flex-direction:column; justify-content:center; align-items:center; overflow:hidden; }
    .posicion-cerrar{position:absolute;  left: 70px; z-index: 1100;}

    .width-zero {
        width: 0px;
    }

</style>

@*<div class="row alinear" >
    <div class="col-md-6">
        <h2 class="h2_title_page EmpresaDescuentoTituloModal">@ViewBag.avisos_tipo</h2>

    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
        </div>
    </div>

</div>*@


<section class="row br-avisos br-avisos-in" style="display:flex; justify-content:center;">
    <div class="col-lg-12 noticias br-avisos-feed br-avisos-feed-int">
        <div class="avisosImagen">
            <h2 class="DetalleModalTitulo"></h2>
            <div class="img-aviso">
                <img class="img-aviso-modal" src="Model.AvisosImagen" />
            </div>

            @*<div>@Model.AvisosDocumentos</div>*@

        </div>

        <div>

            <div class="noticiasFecha ">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span style="padding-right:5px;" class="DetalleModalFechaCreacion"></span>
                <i class="fa fa-eye" aria-hidden="true"></i> <span class="DetalleModalVisitas" style="padding-right:5px;">0 Vistas</span>
                @*<i class="fa fa-user" aria-hidden="true"></i><span> Autor: @ViewBag.Autor</span>*@
            </div>
            <p class="DetalleModalCuerpo"></p>
        </div>
    </div>
    <div class="col-lg-2 br-avisos-feed-doc">
        <div class="form-group download-document OcultarDocumento doc-aside centralizar" hidden="hidden" style="background-color:#f6f6f6;padding:15px 0;" id="file_div">
            <p class="title">Documento</p>
            <div class="centralizar">
                <a class="DetalleModalArchivoDescargar " href='Url.Action("DownloadFile")/Model.AvisosId' target="_blank" download="Model.AvisosDocumentos" title="Model.AvisosTitulo">
                    <img class="DetalleModalArchivoIcono" src="ViewBag.IconImage" width="100" height="100" />
                </a>
                <br />
                <div class="instruction"><p class="title">Haga click en la imagen para descargar</p></div>
            </div>
        </div>
    </div>

    <div class="col-md-1 col-cerrar">
        <div class="br-avisos-feed-cross posicion-cerrar">
            <a class="button_cerrar button_white btnCerrarModal" title="Cerrar"><i class="fa fa-times alejar_icono" aria-hidden="true"></i></a>
        </div>
    </div>

</section>