﻿@model intra.Models.AvisosActividades.Avisos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}


<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/scripts/jquery-te-1.4.0.js"></script>
<script src="~/scripts/jquery.validate.js"></script>

@if (!string.IsNullOrEmpty(ViewBag.IconImage))
{
    <script>
        $(document).ready(function () {
            $(".OcultarDocumento").show();
        });
    </script>
}

@using (Html.BeginForm("Edit", "Avisos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AvisosId)

        <input type="hidden" value="@Model.AvisosId" name="Id" id="Id" />

        <section class="row">
            <div class="col-md-6">
                <h2 class="h2_title_page">Editar Avisos</h2>
                <hr class="hr2" />
            </div>
            <div class="col-md-6">
                <div class="pull-right alejar_top">

                    <input type="submit" value="Actualizar" class="btn button_white" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn button_white" })

                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-lg-6">
                <label>Titulo</label>
                <div>
                    @Html.EditorFor(model => model.AvisosTitulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AvisosTitulo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <label>Tipo de Actividad</label>
                <div>
                    @Html.DropDownList("AvisoTipoId", null, "Seleccione", new { @class = "form-control chosen-select" })

                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-md-4">
                    <label>Cargar Foto</label>
                    <div>
                        <input type="file" name="file" class="form-control" />
                        <img src="@Model.AvisosImagen" name="img" width="100px" height="100px" />
                    </div>

                </div>


                <div class="col-md-4">
                    <label>Reemplazar</label>
                    <div>
                        <input type="file" name="DocGHArchivoVista" class="form-control" />
                    </div>
                </div>

                <div class="col-md-4">
                    <a href='@Url.Action("DownloadFile")/@Model.AvisosId' target="_blank" download="@Model.AvisosDocumentos" title="@Model.AvisosTitulo">

                        <div class="OcultarDocumento" hidden="hidden"><img src="@ViewBag.IconImage" width="100" height="100" /><label>Haga click en la imagen para descargar</label></div>
                    </a>
                    <br />

                </div>
            </div>
    </div>


            <div class="row">

                    <label>Contenido</label>
                    @*<div>
                        <textarea id="AvisosCuerpo" name="AvisosCuerpo" rows="5" cols="80">@Model.AvisosCuerpo</textarea>

                    </div>*@
                <div>
                    <input name="__contenido" id="AvisosCuerpo" value="@Model.AvisosCuerpo" type="text" class="jqte-test" style="margin: 0!important; border:none;">

                </div>
            
        @Html.HiddenFor(model => model.AvisosAutor)
        @Html.HiddenFor(model => model.AvisosFechaCreacion)
        
    </div>
}


<script>
	$('.jqte-test').jqte();

	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});

</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

