﻿@model  IEnumerable<intra.Models.AvisosActividades.AvisosTipos>
@{
    if (ViewBag.avisos_tipo != null)
    {
        ViewBag.Title = ViewBag.avisos_tipo;
    }
    else
    {
        ViewBag.Title = "Novedades";
    }

    var primero = "";

    if (Model.Count() > 0)
    {
        primero = Model.First().AvisoTipoNombre;
    }

    Layout = "~/Views/intraMaster.cshtml";
}

@functions{ 
    string GetImagen(int tipoID) {

        string imagen = null;

        switch (tipoID)
        {
            case 1:
                imagen = "novedades";
                break;

            case 2:
                imagen = "actividades";
                break;
            case 3:
                imagen = "jornada-salud";
                break;
            case 4:
                imagen = "capacitacion";
                break;
            default:
                break;
        }

        return imagen;
    }
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<link href="~/Content/css/slider-beneficiarios-style.css" rel="stylesheet" />
<script src="~/Content/js/script-beneficiarios.js"></script>

<style>
    .chosen-container {
        width: 100% !important;
    }

    .estatus {
        cursor: pointer;
    }

    .date-picker-slct {
        width: 110px !important;
    }

    .thumb-image-size {
        width:100%;
    }
    
    .button_badge_repatriados {
        background-color: #ff3c3c;
        border-radius: 50%;
        color: white;
        width: 25px;
        padding: 6px 3px;
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 181px;
        text-align: center;
        height: 25px;
        -webkit-text-fill-color: white !important;
    }

    .accordion-filtro {
        display: none;
    }

    .tabcontent {
        /*height:80vh;*/
        padding: 10px 24px 10px 24px;
    }

    .hidden-cards {
        padding:50px;
        width: auto;
        height: auto;
        overflow: hidden;
        /*height: 80vh;*/
    }

    .button_white {
        margin: 0 2px!important;
    }

    .card-titulos {
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        display: flex;
        justify-content: center;
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

    .card-titulos p {
        color: #fff !important;
        font-weight: bold;
        font-size: 14pt;
    }

    .catalogo-bottom {
        background-color: #dedede;
        text-align: center;
        padding: 40px 0;
        border-radius: 3px;
        margin-top: 20px;
    }
    .catalogo-bottom p {
        margin: 0;
        padding: 0;
    }
    .catalogo-options {
        display: flex;
        justify-content: flex-end;
    }
    .catalogo-options a{
        display: inline-block;
    }
    .catalogo-header {
        display: flex;
        align-items: center;
    }

    body {
        padding-right : 0px !important;
    }

    .col-xs-3{
        display:flex;
        justify-content:center;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tab {
        overflow: hidden;
        background-color: #fff;
        margin: 15px 0px 0px 0px;
    }

    .tgl-active {
        display: block !important;
    }

    .tab-button {
        font-weight: bold;
        font-size: 14px;
    }


    .centrar-imagen-slider {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        overflow: hidden;
        /* background: rgba(1, 73, 132, .1); */
        border-radius: 10px 10px 0px 0px;
    }
    /*POR SI TE ARREPIENTES ORTEGA!! MUAHAHAHAHAH*/
    /*.slide-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }*/

    .button_white_normal {
        width: 55%;
        margin: 0;
        outline: 0;
        padding: 11px 24px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.2rem !important;
        border-radius: 4px;
        margin-bottom: 10px;
        text-decoration: none !important;
        background: #0c4ba4;
        border: none;
        color: #fff;
    }

        .button_white_normal:hover {
            background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        }

    .carousel-wrapper-novedades .carousel .carousel-cell {
        padding: 0px;
        cursor: pointer;
        background-color: #fff;
        width: 30%;
        min-height: 300px;
        min-width: 120px;
        margin: 0 20px;
        transition: transform 500ms ease;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
    }

        .carousel-wrapper-novedades .carousel .carousel-cell:hover {
            border: 1px solid #0588dc8c;
        }

    .flickity-viewport {
       overflow: initial!important;
        position: relative;
        height: 100%;
    }

    .style-title {
        text-align: left;
        line-height: 0;
        line-height: 2;
        font-size: 16pt !important;
    }

    .tab-img {
        max-height: 40px;
        -webkit-filter: grayscale(0%) !important;
        filter: grayscale(0%) !important;
        opacity: 1 !important;
        -webkit-transition: background-color 500ms ease-out 1s;
        -moz-transition: background-color 500ms ease-out 1s;
        -o-transition: background-color 500ms ease-out 1s;
        transition: background-color 500ms ease-out 1s;
    }
    

</style>

@Styles.Render("~/datatables/css")

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>



@if (User.IsInRole("AV_RH"))
{
    <div class="row alinear">
        <div class="col-lg-8">
            @*<h2>álbumes Fotograficos</h2>*@
        </div>
        <div class="col-lg-4">
            @*<a href="~/Avisos/Create" class="btn button_white">Consultar</a>
            <a href="~/Avisos/Create" class="btn button_white">Crear Nuevo</a>*@

            @Html.ActionLink("Consultar", "Listado", "Avisos", null, new { @class = "button_white " })
            @Html.ActionLink("Crear Nuevo", "Create", "Avisos", null, new { @class = "button_white " })
        </div>
    </div>
}

<!-- Content Section -->

@if (Model.Count() == 1) {

     var aviso = Model.FirstOrDefault();

     <div class="container tab br-datos-p-cont">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12 br-datos-p">

                        <div class="col-lg-12" style="padding-bottom:14px;" id="p1">

                            <div class="imagen-icon col-xs-1">
                                <img class="tab-img" src="~/Content/images/icons/@(GetImagen(aviso.AvisoTipoId))-azul.svg" />
                            </div>

                            <button id="btn-1" codigo="1" class="tablinks active style-title">
                                @aviso.AvisoTipoNombre
                            </button>

                            <img style="position: absolute;top: 52px; left: 44px;" class="tgl tgl-active tgl-@aviso.AvisoTipoId" src="~/content/images/triangulo.png">

                        </div>
                    </div>
                    <!-- //col-lg-12 -->
                </div>
                <!-- //row -->
            </div>
        </div>
        <!-- //col-lg-12 -->
     </div>

} else {

     <div class="container tab br-datos-p-cont">
         <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12 br-datos-p">

                        @foreach (var item in Model)
                        {
                            <div class="col-xs-3 " id="p1">
                                <button id="btn-@item.AvisoTipoId" codigo="@item.AvisoTipoId" class="tablinks @((primero == item.AvisoTipoNombre) ? "active" : "")" onclick="openCity(event, 'openCity-@item.AvisoTipoId')">
                                    <div class="icon_perfil">
                                        <img src="~/Content/images/icons/@(GetImagen(item.AvisoTipoId))-azul.svg" />
                                    </div>
                                    @item.AvisoTipoNombre
                                </button>
                                <img style="display:none;" class="tgl @((primero == item.AvisoTipoNombre) ? "tgl-active" : "") tgl-@item.AvisoTipoId" src="~/content/images/triangulo.png">
                            </div>

                        }

                    </div>
                    <!-- //col-lg-12 -->
                </div>
                <!-- //row -->
            </div>
        </div>
        <!-- //col-lg-12 -->
     </div>
}

<div class="row br-tri">
    <div class="col-md-12 tabs_actualizarDatos">

        @foreach (var AvisoTipo in Model)
        {
            <div id="openCity-@AvisoTipo.AvisoTipoId" class="tabcontent" @((primero == AvisoTipo.AvisoTipoNombre) ? "style=display:block;" : "")>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hidden-cards">
                            <div class="carousel-wrapper-novedades">
                                <div class="carousel carousel-@AvisoTipo.AvisoTipoId">

                                    @{ var avisos = AvisoTipo.Avisos.Where(x => x.AvisosEstatus == 1).OrderByDescending(x => x.AvisosId).ToList(); }

                                    @if (avisos.Count() > 0)
                                    {
                                        foreach (var aviso in avisos.Where(x => x.AvisosEstatus == 1).OrderByDescending(x => x.AvisosId).ToList())
                                        {

                                            <div class="carousel-cell" codigo="@aviso.AvisosId" title="Haz click aquí para ver mas detalles">
                                                <div class="centrar-imagen-slider">
                                                    <img class="img-responsive" src="~/Content/Avisos/@aviso.AvisosImagen" />
                                                </div>
                                                <div class="col-lg-12 slide-content">
                                                    <h3 class="h3-title slide-title">@(aviso.AvisosTitulo.ToString().Length > 100 ? aviso.AvisosTitulo.Substring(0, 100) + "..." : aviso.AvisosTitulo )</h3>
                                                    @*<div class="card-text-@aviso.AvisosId button_white_normal">Haz click aqui</div>*@
                                                </div>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <div class="carousel-cell-no">No existen datos en este momento.</div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade DetalleModal br-modal" role="dialog" style="margin-top:10px;" >
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Avisos/DetalleModal.cshtml");
            }
        </div>
    </div>
</div>

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>

@Scripts.Render("~/datatables/js")

<script src="~/scripts/$modulos/avisos/avisos_main.js"></script>

<script>
    $(document).ready(function () {

        $carousel = $('.carousel').flickity({ initialIndex: 1, draggable: false, pageDots: false });

        //remover targeta el carousel // $carousel.flickity('remove',$("[codigo='3']"));

        $(".tablinks").on('click', function () {

            var id = $(this).attr('codigo');

            $(".carousel-" + id).show().flickity('resize');

            $(".tablinks").removeClass("active");

            $(this).addClass("active");

        });

        var tipo = "@ViewBag.avisos_tipo";

        if (tipo != null && tipo != "") {
            $(".breadcrums_Novedades").text(tipo);
            $(".breadcrums_Novedades").attr('href', '@HttpRuntime.AppDomainAppVirtualPath/Avisos/Index?actividad=@ViewBag.avisos_tipoID');
        }

    });

</script>