﻿
@using System.Globalization

@model PagedList.IPagedList<intra.Models.AvisosActividades.Avisos>
@using PagedList.Mvc;


<style>

    /*.noticias img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }*/

    .br-avisos-feed img {
        height: 250px;
    }


    .noticias h2 {
        text-align: left;
    }

    .img-aviso {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eee;
        overflow: hidden;
        
    }

    .img-aviso > img {
        height: 35vh;
        object-fit: cover;
        object-position: center;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    }

    .button_white {
        padding-left: 14px !important;
        padding-right: 20px !important;
    }

</style>


@{

    if (ViewBag.avisos_tipo != null)
    {
        ViewBag.Title = ViewBag.avisos_tipo;
    }
    else
    {

        ViewBag.Title = "Novedades";

    }



    if (ViewBag.access == "public_user")
    {
        Layout = "~/Views/intraMasterPublic.cshtml";
    }
    else
    {
        Layout = "~/Views/intraMaster.cshtml";
    }
}
@using PagedList

@if (ViewBag.access == "public_user")
{
    <br />
}

@if (ViewBag.avisos_tipo != null)
{

    <h2>@ViewBag.avisos_tipo</h2>

}
else
{

    <h2>Novedades</h2>
}
<hr class="hr2" />
<br /><br />
<section class="row ">
    <div class="col-lg-offset-2 col-lg-8">
        @foreach (var item in Model)
        {
            <div class="avisosList noticias" >

                <h3> @item.AvisosTitulo</h3>
                <div class="img-aviso">
                    <img src="@item.AvisosImagen"/>
                </div>
                <br /><br />
                <i style="color:#37AFD3;" class="fa fa-calendar" aria-hidden="true"></i>
                <span style="padding-right:5px;">@item.AvisosFechaCreacion.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</span>
                <p>
                    @if (item.AvisosCuerpo.Length > 250)
                    {
                        var cadena = item.AvisosCuerpo.Substring(30, 250);

                        @Html.Raw(cadena)

                    }
                    else
                    {
                        @Html.Raw(item.AvisosCuerpo)

                    }
                    <br />
                    <br />

                    <a class="btn button_white" href="~/Avisos/Details?id=@item.AvisosId"><i class="fa fa-eye alejar_icono" aria-hidden="true"></i>Leer Más</a>
                </p>
            </div>
        }
        <div>
            @*Paginador*@
            Página  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) De @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("IndexViejo", new { page }))


        </div>
    </div>


</section>

<script>

    var tipo = "@ViewBag.avisos_tipo";

    if (tipo != null && tipo != "") {
        $(".breadcrums_Novedades").text(tipo);
        $(".breadcrums_Novedades").attr('href', '@HttpRuntime.AppDomainAppVirtualPath/Avisos/Index?actividad=@ViewBag.avisos_tipoID');
    }

</script>

@*<div class="col-lg-8  br-avisos-sidebar">
@Html.Action("PalabraIngles", "Home")
@Html.Partial("~/Views/Shared/_noticiasContenidoSecundario.cshtml")
@Html.Action("ListaAvisos", "Avisos")
@Html.Action("vTutoriales", "Tutoriales") <!--Tutoriales-->
@*</div> <!-- br-avisos-sidebar -->*@
