﻿@model IEnumerable<intra.Models.AvisosActividades.Avisos>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/intraMaster.cshtml";

}

@Styles.Render("~/datatables/css")

<style>
    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

    .control-label1 {
        color: inherit;
    }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>

<section class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Novedades</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">

            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn button_white" })

        </div>
    </div>
</section>
<br />

<div class="form-group">
    <label for="someSwitchOptionDefault" class="control-label col-md-2">Ver todos los avisos</label>
    <div class="material-switch pull-right col-md-10">
        <input type="checkbox" id="someSwitchOptionDefault" name="someSwitchOption001" hidden value="0" />
        <label for="someSwitchOptionDefault" class="label-primary"></label>
    </div>
</div>

<table id="table5" class="table table-striped table-hover responsive" style="width:100%">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th style="width:50px">
                Autor
            </th>
            <th>
                Tipo de Actividad
            </th>
            <th style="width:50px">
                Fecha de  Creacion
            </th>
            <th style="width:200px">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.AvisosTitulo.ToUpper(), "Edit", new { id = item.AvisosId })
                </td>
                <td>
                    @item.AvisosAutor.ToUpper()
                </td>
                <td>
                    @(item.AvisosTipo?.AvisoTipoNombre.ToUpper())
                </td>
                <td>
                    @item.AvisosFechaCreacion.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a href="@HttpRuntime.AppDomainAppVirtualPath/Avisos/Details/@item.AvisosId" class="btn button_white">Detalle</a>
                    <a href="@HttpRuntime.AppDomainAppVirtualPath/Avisos/Edit/@item.AvisosId" class="btn button_white">Editar</a>
                    <input type="hidden" id="AvisosId" name="AvisosId" value="@item.AvisosId" />

                    @if (item.AvisosEstatus == 1)
                    {

                        <button class="btn button_white" onclick="Desactivar(@item.AvisosId)">Desactivar</button>
                    }
                    else
                    {

                        <button class="btn button_white" onclick="Activar(@item.AvisosId)">Activar</button>

                    }

                </td>
            </tr>
        }
    </tbody>

</table>

@Scripts.Render("~/datatables/js")
<script src="~/scripts/$modulos/utilities_intranet.js"></script>

<script>
    $(document).ready(function () {

        var tbl_avisos = $('#table5').DataTable({
            "order": [],
            "language": idioma_esp,
            responsive: true
        });

        $("#someSwitchOptionDefault").on('change', function () {

            var valor = $(this).val();


            if (valor == 0) {



            } else {



            }


            console.log();
        
        });

    });
</script>
<script>
    //var Id = $("#AvisosId").val();

    function Desactivar(Id) {

        swal_confirm('Seguro(a) de que quiere desactivar este aviso?', 'info', 'Si, desactivar', function () {

            AnimacionCarga.show();

            var request = $.ajax({
                url: '@Url.Action("DesactivarAvisos")',
                type: 'Post',
                data: { id: Id },
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {

                    swal({
                        title: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Aceptar'
                    }).then(function () { location.reload() });
                    $("#loading-animation-container").hide();

                }
                else {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })

                }
            });

        });

    }

    function Activar(Id) {

        swal_confirm('Seguro(a) de que quiere activar este aviso?', 'info', 'Si, activar', function () {

            var request = $.ajax({
                url: '@Url.Action("ActivarAvisos")',
                type: 'Post',
                data: { id: Id },
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {

                    swal({
                        title: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Aceptar'
                    }).then(function () { location.reload() });
                    $("#loading-animation-container").hide();

                }
                else {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })
                }
            });

        });
    }


    function ActualizarListaAvisos(Avisos, todos) {

        $.ajax({
            url: link + "/RH_Sugerencia/CargarSugerencias",
            method: 'POST',
            dataType: 'json',
            data: {
                todos: todos
            },
            success: function (data, status, xhr) {

                tbl_avisos.clear().draw();

                for (var r in Sugerencias) {

                    var sugerencia = Sugerencias[r];

                    tbl_avisos.row.add({
                        0: sugerencia.Region_Descripcion,
                        1: sugerencia.Motivo_Descripcion,
                        2: moment(sugerencia.FechaCreacion).format("DD/MM/YYYY"),
                        3: sugerencia.Descripcion,
                        4: '<a class="button_white aprobar_sugerencia" codigo=' + sugerencia.SugerenciaID + '>Aprobar</a><a class="button_white rechasar_sugerencia" codigo=' + sugerencia.SugerenciaID + '>Rechazar</a>'
                    }).draw();

                }

                if (data == 'fecha final invalida') {
                    swal('', 'La fecha final no puede ser menor que la fecha inicial', 'error');
                } else if (data == 'fecha invalidas') {
                    swal('', 'Las fechas ingresadas no son válidas', 'error');
                } else {
                    ListarSugenrencias(data);
                }

                $("#loading-animation-container").hide();

            },
            error: function (jqXhr, textStatus, errorMessage) {
                swal('', 'Un Error a ocurrido cargando la lista, favor de refrescar', 'error');
                $("#loading-animation-container").hide();
            }
        });

    }

</script>