﻿@model IEnumerable<intra.Models.AvisosActividades.Avisos>
@using System.Globalization;

<div class="col-md-4">
    <div class="box_informative">
        <h2 class="h2_title_page">Novedades</h2>
        <hr class="hr2" />
        <div style="clear:both;">
            @foreach (var item in Model.OrderByDescending(c => c.AvisosId).Take(4))
            {
                <p><a href="~/Avisos/Details?id=@item.AvisosId">@item.AvisosTitulo</a></p>
            }
            <div class="pull-right pull-right-dont alejar_top">
                <a class="button_white" href="~/Avisos"><i class="fa fa-plus alejar_icono" aria-hidden="true"></i> Más</a>
            </div>
        </div>
    </div>
</div>