﻿@model IEnumerable<intra.Models.AvisosActividades.Avisos>
@using System.Globalization

@*@model PagedList.IPagedList<intra.Models.AvisosActividades.Avisos>
@using PagedList.Mvc;*@


<style>
    .noticias img {
        width: 100%;
    }

    .noticias h2 {
        text-align: left;
    }
</style>


@{
    ViewBag.Title = "Novedades";

    //if (ViewBag.access == "public_user")
    //{
    //    Layout = "~/Views/intraMasterPublic.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/intraMaster.cshtml";
    //}
}
@*@using PagedList*@

@*@if (ViewBag.access == "public_user")
{
    <br />
}*@
<h2>Novedades</h2>

<section class="row br-avisos">
    <div class="col-lg-8 br-avisos-feed">
        @foreach (var item in Model)
        {
            <div class="avisosList noticias" style="margin-bottom:10px; margin-top:10px;    border-bottom: 1px solid #38afd4;">

                <h3> @item.AvisosTitulo</h3>
                <img src="@item.AvisosImagen" />
                <i style="color:#37AFD3;" class="fa fa-calendar" aria-hidden="true"></i>
                <span style="padding-right:5px;">@DateTime.Now.ToString("d MMMM yyyy", new CultureInfo("es-ES"))</span>
                <p>
                    @if (item.AvisosCuerpo.Length > 250)
                    {
                        var cadena = item.AvisosCuerpo.Substring(30, 250);

                        @Html.Raw(cadena)

                        <a href="Avisos/Details?id=@item.AvisosId">...@*Leer Más*@ </a>

                    }
                    else
                    {
                        @Html.Raw(item.AvisosCuerpo)

                        <a href="Avisos/Details?id=@item.AvisosId">...</a>
                    }
                </p>
            </div>
        }
       
    </div>

    @*<div class="col-lg-8  br-avisos-sidebar">
        @Html.Partial("~/Views/Shared/_noticiasContenidoSecundario.cshtml")
        @Html.Action("ListaAvisos", "Avisos")
        @Html.Action("vTutoriales", "Tutoriales")</div>*@<!--Tutoriales-->
    <!-- br-avisos-sidebar -->
</section>
