﻿@model IEnumerable<intra.Models.AvisosActividades.Avisos>

@*<link href="~/Content/slider/amazingslider-1.css" rel="stylesheet" />
    <script src="~/Content/slider/amazingslider.js"></script>
    <script src="~/Content/slider/initslider-1.js"></script>*@
@*<div class="slider-wrapper">
    <div class="amazingslider-1" style="display:block;position:relative;margin:0 auto;">*@


        @foreach (var item in Model)
            {
            <ul class="" style="display:none;">
                <li class="identificador">
                    <a href="~/Avisos/Details?id=">
                        <img src="@item.AvisosImagen" title="@item.AvisosTitulo" />
                    </a>
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li>
                    <img src="@item.AvisosImagen" title="@item.AvisosTitulo" />
                </li>
            </ul>
        }




    @*</div>
</div>*@
