﻿@{
    ViewBag.Title = "Gestión Humana";
    Layout = "~/Views/intraMaster.cshtml";
}


<style>
    .gh_letrero {
        height: 50px;
        margin-left: 25px;
    }

    .gh_logo {
        height: 50px;
        float: right;
        margin-right: 66px;
    }

</style>

<form id="FormAvisos">

    <div class="row" style="margin-bottom: 10px; margin-top: -9px;">
        <div>
            @*<img src="~/Content/images/GH_IMAGES/Logos finales aprobados.png" />*@
            
            @*<img class="gh_letrero" src="~/Content/images/GH_IMAGES/MP Logo Gestion Humana 2-01.jpg" />*@
            <img class="gh_letrero" style="height:auto; width:330px; margin-left:-12px;" src="~/Content/images/GH_IMAGES/Direccion_Recursos_Humanos.png" />

            <img class="gh_logo" style="height:auto;width:230px; margin-right:15px;" src="~/Content/images/GH_IMAGES/MP Logo Gestion Humana 1-01-01.jpg" />
        </div>
    </div>
   
          <div class="tarjeta-gestion-humana">
              <div class="grid-main">
                  @*<div class="btn-gestion-humana">
                      <img class="imagen-boton" src="~/Content/images/icons/novedades.svg" />
                      <a href="~/Avisos/Index?actividad=1" class="btn-gh-accion">Novedades</a>
                  </div>*@
                  <div class="btn-gestion-humana">
                      <img class="imagen-boton" src="~/Content/images/icons/catalogo_beneficios.svg" />
                      <a href="~/Beneficios/" class="btn-gh-accion">Catálogo de Descuentos</a>
                  </div>
    
                          
          <div class="btn-gestion-humana">
            <img class="imagen-boton" src="~/Content/images/icons/album-de-fotos.svg" />
              <a href="~/AlbumGestionHumana/" class="btn-gh-accion">álbumes Fotograficos</a>
            </div>
           <div class="btn-gestion-humana">
            <img class="imagen-boton" src="~/Content/images/icons/actividades.svg" />
            <a href="~/Avisos/Index?actividad=2" class="btn-gh-accion">Actividades</a>
        </div>
        <div class="btn-gestion-humana">
            <img class="imagen-boton" src="~/Content/images/icons/formulario_gh.svg" />
            <a href="~/DocumentoGestionHumana/Documentos" class="btn-gh-accion">Formularios de Recursos Humanos</a>
        </div>
        <div class="btn-gestion-humana">
            <img class="imagen-boton" style="padding:0px;" src="~/Content/images/svg/PGR-ICONOS-1-white.svg" />
            <a href="~/RH_NuestroEquipo" class="btn-gh-accion">Conoce Nuestro Equipo</a>
        </div>
        <div class="btn-gestion-humana">
            <img class="imagen-boton" src="~/Content/images/icons/jornada-salud.svg" />
            <a href="~/Avisos/Index?actividad=3" class="btn-gh-accion">Jornada Salud</a>
        </div>
        <div class="btn-gestion-humana">
            <img class="imagen-boton" src="~/Content/images/icons/actividades.svg" />
            <a href="~/DiasFeriados/DiasFeriados" class="btn-gh-accion">Días Feriados</a>
        </div>
        <div class="btn-gestion-humana">
            <img class="imagen-boton" src="~/Content/images/icons/capacitacion.svg" />
            <a href="~/Avisos/Index?actividad=4" class="btn-gh-accion">Capacitaciones</a>
        </div>
              </div>
          </div>



</form>


