﻿@model  IEnumerable<intra.Models.AvisosActividades.AvisosTipos>
@using intra.Models.AvisosActividades;
@{
    ViewBag.Title = "Catálogo de Beneficios";
    Layout = "~/Views/intraMaster.cshtml";

    var primero = new AvisosTipos();

    if (Model.Count() > 0) {

        primero = Model.First();

    }

}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<link href="~/Content/css/slider-beneficiarios-style.css" rel="stylesheet" />
<script src="~/Content/js/script-beneficiarios.js"></script>

<style>
    .chosen-container {
        width: 100% !important;
    }

    .estatus {
        cursor: pointer;
    }

    .date-picker-slct {
        width: 110px !important;
    }

    .thumb-image-size {
        width: 100%;
    }

    .button_badge_repatriados {
        background-color: #ff3c3c;
        border-radius: 50%;
        color: white;
        width: 25px;
        padding: 6px 3px;
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 181px;
        text-align: center;
        height: 25px;
        -webkit-text-fill-color: white !important;
    }

    .accordion-filtro {
        display: none;
    }

    .tabcontent {
        /*height:80vh;*/
        padding: 10px 24px 10px 24px;
    }

    .hidden-cards {
        padding: 50px;
        width: auto;
        height: auto;
        overflow: hidden;
        /*height: 80vh;*/
    }

    .button_white {
        margin: 0 2px !important;
    }

    .card-titulos {
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        display: flex;
        justify-content: center;
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

        .card-titulos p {
            color: #fff !important;
            font-weight: bold;
            font-size: 14pt;
        }

    .catalogo-bottom {
        background-color: #dedede;
        text-align: center;
        padding: 40px 0;
        border-radius: 3px;
        margin-top: 20px;
    }

        .catalogo-bottom p {
            margin: 0;
            padding: 0;
        }

    .catalogo-options {
        display: flex;
        justify-content: flex-end;
    }

        .catalogo-options a {
            display: inline-block;
        }

    .catalogo-header {
        display: flex;
        align-items: center;
    }

    body {
        padding-right: 0px !important;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tab {
        overflow: hidden;
        background-color: #fff;
        margin: 15px 0px 0px 0px;
    }

    .tgl-active {
        display: block !important;
    }

    .tab button {
        font-weight: bold;
        font-size: 14px;
    }

    .carousel-cell {
        width: 30% !important;
    }
</style>

@Styles.Render("~/datatables/css")

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

<!-- Content Section -->
<div class="container tab br-datos-p-cont">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 br-datos-p">

                    @foreach (var item in Model)
                    {
                        <div class="col-xs-3 " id="p1">
                            <button id="btn-@item.AvisoTipoId" codigo="@item.AvisoTipoId" class="tablinks @((primero != null && primero == item) ? "active" : "")" onclick="openCity(event, 'openCity-@item.AvisoTipoId')">
                                <div class="icon_perfil">

                                    @{
                                        string imagen = null;

                                        switch (item.AvisoTipoId)
                                        {
                                            case 1:
                                                imagen = "novedades";
                                                break;

                                            case 2:
                                                imagen = "actividades";
                                                break;
                                            case 3:
                                                imagen = "jornada-salud";
                                                break;
                                            case 4:
                                                imagen = "capacitacion";
                                                break;
                                            default:
                                                break;
                                        }

                                    }

                                    <img src="~/Content/images/icons/@(imagen)-azul.svg" />
                                </div>
                                @item.AvisoTipoNombre
                            </button>
                            <img style="display:none;" class="tgl @((primero == item) ? "tgl-active" : "") tgl-@item.AvisoTipoId" src="~/content/images/triangulo.png">
                        </div>

                    }

                </div>
                <!-- //col-lg-12 -->
            </div>
            <!-- //row -->
        </div>
    </div>
    <!-- //col-lg-12 -->
</div>

<div class="row br-tri">
    <div class="col-md-12 tabs_actualizarDatos">

        @foreach (var item in Model ?? Enumerable.Empty<intra.Models.AvisosActividades.AvisosTipos>())
        {

            <div id="openCity-@item.AvisoTipoId" class="tabcontent" @((primero == item) ? "style=display:block;" : "")>

                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:40px!important;">

                    </div>
                    <div class="col-lg-12">
                        <div class="hidden-cards">
                            <div class="carousel-wrapper">
                                <div class="carousel carousel-@item.AvisoTipoId">

                                    @foreach (var aviso in item.Avisos.Where(x => x.AvisosEstatus == 1).OrderByDescending(x => x.AvisosId).ToList())
                                    {

                                        <div class="carousel-cell" codigo="@aviso.AvisosId">
                                            <img class="img-responsive" src="@aviso.AvisosImagen" />
                                            <h3>@aviso.AvisosTitulo</h3>
                                            @*<div class="card-text-@aviso.AvisosId">Haz click aqui</div>*@
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }

    </div>
</div>

<div class="modal fade DetalleModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/Avisos/DetalleModal.cshtml");
            }
        </div>
    </div>
</div>

@*
    <div class="modal fade EmpresaModal br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @{
                    Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaModal.cshtml");
                }
            </div>
        </div>
    </div>

    <div class="modal fade EmpresaDescuentoModal br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @{
                    Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaDescuentoModal.cshtml");
                }
            </div>
        </div>
    </div>

    <div class="modal fade EmpresaDescuentoDetalleModal br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @{
                    Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaDescuentoDetalleModal.cshtml");
                }
            </div>
        </div>
    </div>

    <div class="modal fade DescuentoTipoListaModal br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="padding-bottom: 30px;">
                @{
                    Html.RenderPartial("~/Views/RH_EmpresaCatalogo/DescuentoTipoListaModal.cshtml");
                }
            </div>
        </div>
    </div>

    <div class="modal fade DescuentoListaModal br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="padding-bottom: 30px;">
                @{
                    Html.RenderPartial("~/Views/RH_EmpresaCatalogo/DescuentoListaModal.cshtml");
                }
            </div>
        </div>
    </div>
*@

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>

@Scripts.Render("~/datatables/js")

<script src="~/scripts/$modulos/avisos/avisos_main.js"></script>

<script>
    $(document).ready(function () {

        //$('.jqte').jqte();

        //// settings of status
        //var jqteStatus = true;

        //$(".status").click(function () {
        //    jqteStatus = jqteStatus ? false : true;
        //    $('.jqte').jqte({ "status": jqteStatus })
        //});

        $carousel = $('.carousel').flickity({ initialIndex: 1 });

        //remover targeta el carousel // $carousel.flickity('remove',$("[codigo='3']"));

        $(".tablinks").on('click', function () {

            var id = $(this).attr('codigo');

            $(".carousel-" + id).show().flickity('resize');

            $(".tablinks").removeClass("active");

            $(this).addClass("active");

        });

    });

    //$(".btnAgregarCatalogoTipo").on('click', funcionAgregarDescuentoTipo);
</script>