﻿@model intra.Feed

<style>
    .right {
        display: inline-block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background: #A660B6;
        margin-right: 5px;
    }

        .right:after {
            content: '';
            display: inline-block;
            margin-top: 0.50em;
            margin-left: 0.40em;
            width: 1em;
            height: 1em;
            border-top: 0.3em solid #fff;
            border-right: 0.3em solid #fff;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    .arrow-rightWhiteLectura {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #000000 !important;
        display: inline-block;
        padding-right: 8px;
        float: left;
        margin-top: 2px;
    }
</style>

<div class="col-lg-4 leftHomeContent">
    <div class="inicioLecturaDelDia">
        <div class="arrow-rightWhiteLectura"></div>
        <h3>Lectura del Día</h3>

        <div style="padding: 10px 0 0 0;">
            <div class="col-sm-2"><span class="right"></span></div>
            <div class="col-sm-10"><h5>@Model.titulo</h5></div>
        </div>

        <br />
        <br />

        @if (Model.descripcion.Length >= 200)
            {
            <p>@Html.Raw(@Model.descripcion.Substring(0, 350))...</p>

        }
        else
        {
            <p>@Html.Raw(@Model.descripcion)</p>
        }
        <a href="@Model.link" target="_blank" class="botonFlotanteLectura">+ Más</a>

    </div>

</div>


