﻿@model intra.Models.ViewModel.vServiciosIntranet
@{
    dbIntranet db = new dbIntranet();

}
@{
    ViewBag.Title = "ConstanciaViaticos";
    Layout = "~/Views/intraMaster.cshtml";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");

  // var id = Model.SolicitudId;

}
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<input type="hidden" id="solicitud" value="@Model.SolicitudId" />
@*@foreach (var c in Model.EmpleadoViaticos)
{
    if (c.MontoViaticos != 0 || c.MontoViaticos != null)
    {
    <script>$("#Reporte").show();</script>

    }
    else
    {
        <script> $("#Reporte").show();</script> }
}*@

@if (Model.EmpleadoViaticos != null)
{
    <script>$("#Reporte").show();</script>
}
else
{
<script> $("#Reporte").hide();</script> } 


<div class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Constancia de Viáticos</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-8">
        <div class="pull-right alejar_top">
            <div style="float:left; margin-left:4px">
                <label>Fecha Solicitud:</label>
                <input type="text" id="FechaSolicitud1" name="FechaSolicitud1" class="datepicker date-picker form-control Inicio" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
            </div>
           
            <div style="float:left;">
                
                <button style="margin-top: 21px;margin-left: 5px;" id="Guardar" name="Guardar"  type="button" onclick="GetViaticos()" class="button_white"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                <button style="margin-top: 21px;margin-left: 5px;"  id="Reporte" name="Reporte" type="button" onclick="GetUrl()" class="button_white"><i class="fa fa-save alejar_icono"></i>Reporte</button>
            </div>

        </div>


    </div>

</div>
<br />
<br />

@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CODIGO</th>
            <th>MONTO</th>
            <th hidden="hidden">FECHA</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.EmpleadoViaticos)
        {
            decimal monto2;
            if(item.MontoViaticos != null || item.MontoViaticos.ToString() != "" )
            {
                // decimal  monto3 = 0;
                monto2 = Convert.ToDecimal(string.Format("{0:0.00}", item.MontoViaticos));

            }
            else
            {
                monto2 = 0;
            }
            var viaticos = db.VISTA_EMPLEADOS.Where(x => x.empleadoid == item.EmpleadoId.ToString()).FirstOrDefault();
            ViewBag.emlpeadoViaticos = viaticos.nombre.ToUpper();
            <tr>
                <td>@ViewBag.emlpeadoViaticos</td>
                <td>@item.EmpleadoId 
                    <input class="codigo" type="hidden" id="show" name="show" value="@item.EmpleadoViaticoId" />
                </td>
                <td>
                    @if (item.MontoViaticos == null || item.MontoViaticos == 0)
                    {
                        <input type="text" id="montoViatico" name="montoViatico" class="monto" />
                      
                    }
                    else
                    {<input type="text" id="montoViatico" name="montoViatico" value="@monto2" class="monto" /> }

                </td>
                
                <td hidden="hidden">
                    @if (item.FechaSolicitud == null)
                    {

                        <input type="text" id="FechaSolicitud" name="FechaSolicitud" class="datepicker date-picker form-control Inicio" value="@DateTime.Now.ToString("dd/MM/yyyy")" />

                    }
                </td>

            </tr>

        }
    </tbody>
</table>
<script src="~/JS/jquery-ui.min.js"></script>


<script type='text/javascript'>

    $(function () {

            $('.datepicker').each(function () {
                $(this).datepicker();
                dateFormat: "dd/mm/yy"
            });
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy"
            });
        });

</script>
@Scripts.Render("~/datatables/js")


<script>
    function GetViaticos() {
        $("#loading-animation-container").show();

        var selected = $(".monto");
        var solicitados = $(".codigo");
        var Fecha = $("#FechaSolicitud1").val();
        var codigos = [];
        var selectValue = [];

        for (var i = 0; i < selected.length; i++) {
            if (selected[i].value != "") {
                selectValue.push(selected[i].value);
                codigos.push(solicitados[i].value);
            }
        }

        var request = $.ajax({
            url: '@Url.Action("ConstanciaViatico")',
            method: 'Post',
            data: { solicitud: codigos, monto: selectValue, fechaInicio: Fecha }
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success) {
                swal({
                    title: 'Listo!',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.reload() });
            }
            else
            {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.reload() });

            }
        })

    }

    function GetUrl() {
        window.location.href = '@HttpRuntime.AppDomainAppVirtualPath/solicitudesServicios/ReporteConstanciaViaticos/' + $("#solicitud").val();
    }
</script>