﻿@model intra.Models.Servicios.Sol_Registro_Solicitud

@using intra.Models.ViewModel;
@using intra.Models;

@{
    List<AreasProduccionVM> areas = ViewBag.AreasImplicadas;
    List<CategoriaProduccioVM> categorias = ViewBag.CategoriasProduccion;
    List<PersonalPgrModel> Viaticos = ViewBag.Viaticos;
    ViewBag.IdEmpleado = Session["empleadoId"].ToString();
}

@{
    ViewBag.Title = "Solicitud de servicios";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/wickedpicker.min.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="~/Content/css/wickedpicker.css" />
<link href="~/CSS/jquery-customselect.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }
    .chosen-single {
        margin-bottom : 15px;
    } 
    
    .chosen-container-multi .chosen-choices .search-field input[type="text"] {
        background: #38afd4 !important;
        color: #fff !important;
        width: 300px;
    }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }

    .selectize-input.items.not-full.has-options {
        height: 37px;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        font-size: 12px !important;
    }

    .selectize-input.items.has-options.full.has-items .item {
        width: 216px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .selectize-dropdown-content {
        font-size: 12px !important;
        text-align: left !important;
    }

    .selectize-control.single .selectize-input  {
        /*width: 500px;*/
        height: 37px;
        border: 2px solid transparent;
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        font-size: 12px !important;
        background-image: none !important;
        background-color: #fff !important;
    }

    .selectize-input.items.not-full.has-options::after {
        top: 55% !important;
    }

    .selectize-input.items.not-full.has-options .input {
        font-size: 12px !important;
        text-align: left;
    }
        .selectize-dropdown [data-selectable].option {
        opacity: 1;
        cursor: pointer;
    }

    .selectize-input > input {
        height: 18px !important;
    }

    .ancho > .items > .item {
        overflow: unset !important;
    }
       /*HOVER SELECT*/
    .selectize-dropdown [data-selectable].active {
        background-color: #1e90ff !important;
        background-image: rgb(30,144,255) !important;
        background-image: -moz-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -webkit-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -webkit-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: -o-linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        background-image: linear-gradient(left, rgb(30,144,255) 100%, rgb(30,144,255)100%) !important;
        /*background-image: -moz-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -webkit-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: -o-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        background-image: linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;*/
        background-repeat: repeat-x;
        color: #fff !important;
        filter: none;
    }
   ul.chosen-choices{
       height: 37px!important ;border: 2px solid transparent!important;border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%)!important;border-image-slice: 1!important;font-size: 12px !important;
   }
</style>

<div style="width:100%;">

    @if (TempData["PersonalViaticos"] != null)
    {

        <script>
            swal({
                title: 'ERROR',
                text: 'Favor seleccionar la(as) persona(as) beneficiadas de este viatico',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
        </script>
    }
    @if (TempData["Error"] != null)
    {

        <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Error"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
        </script>
    }

    @if (TempData["Msj"] != null)
    {
        <script>
            swal({
                title: '@(TempData["Msj"].ToString()=="CREADO" ? "LISTO!!":"GUARDADO!!")',
                text: '@(TempData["Msj"].ToString()=="CREADO" ? "SERVICIO CREADO CORRECTAMENTE":"LA SOLICITUD SE HA GUARDADO PERO NO SE PUDO ENVIAR EL CORREO, FAVOR DE VERIFICAR CON EL RESPONSABLE")',
                type: '@(TempData["Msj"].ToString()=="CREADO" ? "success" : "warning")',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
        </script>
    }
</div>

<script>
    $(document).ready(function () {
        if ($("#Extension").val() == null ||
            $("#Extension").val() == "") {
            $("#Extension").prop('required', true);
            return;
        }
    });
</script>

@using (Html.BeginForm("CrearServicio", "solicitudesServicios", FormMethod.Post, new { id = "formulario_solicitud" }))
{
    @Html.AntiForgeryToken()

<div class="br-crear-servicio">
    <section class="row">
        <div class="col-md-6" style="margin-bottom:0;">
            <h2 class="h2_title_page">Solicitar Servicio</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button class="button_white solicitar">
                    <i class="fa fa-check alejar_icono"></i> Solicitar Servicio
                </button>
            </div>
        </div>
        
    </section>

    <section class="serviciosSolicitud">
        <h4>Datos del solicitante</h4>
        <div class="row">
            <div class="col-md-2">
                <label>Flota:</label>
                <input type="hidden" value="@TempData["PrimerNombre"]" hidden="hidden" />
                <input type="text" name="Flota" id="Flota" class="form-control text-box" value="@ViewBag.FlotaNum" />

                @*@if (ViewBag.Confirmed != null)
                    {
                        if (ViewBag.Confirmed == false)
                        {
                            <span id="sin_verificar"><label>Dato sin confirmar</label></span>
                            <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/success.png" title="Número verificado" width="25" height="25" id="verificado" style="display:none;" />
                        }
                        else
                        {
                            <span id="sin_verificar" style="display:none;"><label>Dato sin confirmar</label></span>
                            <img src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/success.png" title="Número verificado" width="25" height="25" id="verificado" />
                        }
                    }*@

                <input type="hidden" value="yes" id="flotas" />
            </div>

            <div class="col-md-2">
                <label> Extensión:</label>
                <input type="text" name="Extension" id="Extension" class="form-control text-box" value="@ViewBag.flotaExtencion" required="required" />
                <input type="hidden" value="yes" id="extension" />
            </div>
            <div class="col-md-4">
                <label>Dependencia regional:</label>
                @Html.DropDownList("DependenciaRegionalId", new SelectList(ViewBag.DependenciaRegionalId, "dRegionalId", "dNombre"), "Seleccione", new { id = "select-dependencia-regional", required = "true" })
            </div>
            <div class="campo-departamento-central col-md-4" hidden>
                <label>Solicitud de Servicio a:</label>
                @Html.DropDownList("DepartamentoId", new SelectList(ViewBag.DepartamentoId, "DepartamentoId", "DepNombre"), "Seleccione", new { id = "DepartamentoId" })
            </div>
        </div>


        <h4>Datos de la solicitud</h4>
        <div class="row">

            <div class="campo-sede-central campo-actividad col-md-3" hidden>
                <label>Tipo de Solicitud:</label>
                @*@Html.DropDownList("Tipo_SolicitudId", new SelectList(ViewBag.ActividadesId, "tActividadId", "tActividadNombre"), "Seleccione", new { id = "ActividadesId" })*@
                <select id="ActividadesId" name="Tipo_SolicitudId"></select>
            </div>

            <div class="campo-sede-central campo-servicio col-md-3" hidden>
                <label>Servicio Solicitud:</label>
                @*@Html.DropDownList("Tipo_Sub_SolicitudId", new SelectList(ViewBag.SubActividadesId, "SubactividadId", "SubActividadNombre"), "Seleccione", new { id = "SubActividadesId" })*@
                <select id="SubActividadesId" name="Tipo_Sub_SolicitudId" class="viatico1"></select>
            </div>

            @if ((ViewBag.Supervisor != null) || (ViewBag.Director != null) || (ViewBag.TecnicoAlternartivo != null) || (ViewBag.Produccion != null) || (ViewBag.Dependencia != null))
            {
                <div class="col-md-3">
                    <label>Solicitante:</label>
                    @Html.DropDownList("tecnico", new SelectList(ViewBag.DatosEmpleado, "EmpleadoId", "Descripcion"), "SELECCIONE", new { @class = "selectize" })
                    @*@Html.DropDownListFor(model => model.CodigoOtrosEmpleados, new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "custom-select", id = "EmpleadoOtrosId" })*@
                </div>
            }

            @if (ViewBag.Supervisor != null || ViewBag.Director != null || ViewBag.IdEmpleado == "18211" || ViewBag.IdEmpleado == "2922" || ViewBag.IdEmpleado == "120975" || ViewBag.IdEmpleado == "19766" || ViewBag.IdEmpleado == "19592")
            {
                <div class="col-md-3" id="TecnicoAlternartivoServicio">
                    <label>Responsable:</label>
                    @Html.DropDownList("ResponsableServicioId", new SelectList(ViewBag.DatosEmpleado, "EmpleadoId", "Descripcion"), "SELECCIONE", new { @class = "selectize" })
                    @*@Html.DropDownListFor(model => model.CodigoOtrosEmpleados, new SelectList(Model.Listado_EmpleadoPGR, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "custom-select", id = "EmpleadoOtrosId" })*@
                </div>

            }

        </div>
        <div class="row viaticos" id="Viaticos" hidden="hidden">
            <div class="campo-sede-central col-md-6">
                <label>Seleccionar Personal</label>
                <select data-placeholder="Personal" class="form-control chosen-select prueba-chosen" multiple tabindex="6" name="Viaticos" id="Viaticos">
                    @foreach (var item in Viaticos)
                    {
                        <option value="@item.EmpleadoId">@item.Descripcion</option>
                    }
                </select>
            </div>
        </div>




        <div class="row" id="ProyectoProduccion" hidden="hidden">
            <div class="campo-sede-central col-md-2">
                <label>Fase del Proyecto</label>
                <select id="FaseProyecto" name="FaseProyecto">
                    <option value="">Seleccione</option>
                    <option value="Requerimientos">Requerimientos</option>
                    <option value="Desarrollo">Desarrollo</option>
                    <option value="Implementacion">Implementacion</option>
                    <option value="Pruebas de Sistemas">Pruebas de Sistemas</option>
                    <option value="Pruebas de Usuario">Pruebas de Usuario</option>
                </select>
            </div>
            <div class="campo-sede-central col-md-2">
                <label>Riesgo</label>
                <select id="Riesgo" name="Riesgo">
                    <option value="">Seleccione</option>
                    <option value="Alto">Alto</option>
                    <option value="Medio">Medio</option>
                    <option value="Bajo">Bajo</option>
                </select>
            </div>
            <div class="campo-sede-central col-md-2">
                <label>Impacto</label>
                <select id="Impacto" name="Impacto">
                    <option value="">Seleccione</option>
                    <option value="Alto">Alto</option>
                    <option value="Medio">Medio</option>
                    <option value="Bajo">Bajo</option>
                </select>
            </div>
            <div class="campo-sede-central col-md-3">
                <label>Areas Implicadas</label>
                <select data-placeholder="Areas Implicadas" class="form-control chosen-select" multiple tabindex="4" name="AreasImplicadas" id="AreasImplicadas">
                    @foreach (var item in areas)
                    {
                        <option value="@item.AreaId">@item.AreasDescripcion</option>
                    }
                </select>
            </div>

            <div class="campo-sede-central col-md-3">
                <label>Categorias</label>

                <select data-placeholder="CategoriasProduccion" class="form-control chosen-select ancho" multiple tabindex="4" name="CategoriasProduccion" id="CategoriasProduccion">
                    @foreach (var item in categorias)
                    {
                        <option value="@item.CategoriaId">@item.CategoriaDescripcion</option>
                    }
                </select>
            </div>
        </div>

        <div class="row" hidden="hidden" id="solicitudes">
            <div class="campo-sede-central col-md-4">
                <label>Prioridad</label>
                <select id="Prioridad" name="Prioridad">
                    <option value="">Seleccione</option>
                    <option value="Alta">Alta</option>
                    <option value="Media">Media</option>
                    <option value="Baja">Baja</option>
                </select>
            </div>
            @*<div class="col-lg-8">
                    <label>Solicitante</label>
                    @Html.DropDownList("Solicitante", new SelectList(ViewBag.DatosEmpleado, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "selectize ancho", id = "Solicitante" })
                </div>*@
        </div>

        <div class="row">
            <div class="col-md-12 textarea">
                <label>Descripción de la Solicitud:</label>
                @Html.TextAreaFor(model => model.DescripcionSolicitud, new { @class = "textareafull", @required = "true" })
            </div>
        </div>

        

    </section>
</div>

@*<section class="row" style="display:none;">
 
</section>*@
}
<div id="contenedorFormulario" style="display:none">
    <div id="solicitudEspacios">
        @{
            Html.RenderPartial("~/Views/Eventos/SolicitudEspacios.cshtml", (intra.Models.Eventos)ViewBag.Evento);
        }
    </div>
    <div id="coberturaPrensa">
        @{
            Html.RenderPartial("~/Views/Eventos/CoberturaPrensa.cshtml", new intra.Models.Eventos());
        }
    </div>
    <div id="montajeEventos">
        @{
            Html.RenderPartial("~/Views/Eventos/MontajeEventos.cshtml", new intra.Models.Eventos());
        }
    </div>
</div>
<script src="~/JS/jquery-1.11.0.min.js"></script>

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/scripts/datepicker.js"></script>
<script src="~/scripts/wickedpicker.min.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.js"></script>
<script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/JS/jquery-customselect.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
@*<link href="~/Content/Chossen/bootstrap-chossen.css" rel="stylesheet" />*@
@*SCRIPTS DEL SELECTIZE*@
<script src="~/Content/js/selectize/selectize.min.js"></script>
@*<link href="~/Content/js/selectize/css/selectize.default.css" rel="stylesheet" />*@
<script src="~/Content/js/selectize/plugin.js"></script>
<link href="~/Content/js/selectize/css/selectize.bootstrap2.css" rel="stylesheet" />

<script>

    $("#ActividadesId").change(function () {
        var actividad = +$(this).val();

        if (actividad == "1020" || actividad == 35 ) {
            $("#ProyectoProduccion").show();
            $("#solicitudes").show();
            $("#Viaticos").hide();

        }
        else {
            $("#ProyectoProduccion").hide();
            $("#solicitudes").hide();
        }
    });

    $('#EmpleadoOtrosId').change(function () {
        $.ajax({
            url: '@Url.Action("CargarFlotaExtension")',
            type: 'POST',
            data: { id: $('#EmpleadoOtrosId').val() },
            success: function (data) {
                if(data!='Error')
                {
                    $('#Flota').val(data.flota);
                    $('#Extension').val(data.extension);

                    if (data.flota_verificada == false) {
                        $('#sin_verificar').show();
                        $('#verificado').hide();
                    } else {
                        $('#sin_verificar').hide();
                        $('#verificado').show();
                    }
                }
            }
        });
    });

    $('#formulario_solicitud').submit(function () {

         $("#loading-animation-container").show();

         if ($('#Extension').val() == "" || $('#Extension').val() == null) {
            $("#extension_flota").val("Campo requerido");
         } else {
            return;
         }

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

    $("#select-dependencia-regional").change(function () {
        var dependenciaId = + $(this).val();

        if (dependenciaId == 1) {
            $(".campo-departamento-central").show();
            $('#DepartamentoId').prop("required", true);

        }
        else {
            $(".campo-sede-central,.campo-departamento-central").hide();
            $('#ActividadesId,#SubActividadesId,#DepartamentoId').prop("required", false);
        }
    });

    if ($("#select-dependencia-regional").val() == 1) {
        //alert($("#select-dependencia-regional").val());

        $(".campo-departamento-central,.campo-actividad").show();
        $('#DepartamentoId').prop("required", true);
    }

    $("#DepartamentoId").change(function () {
        var direccion = + $("#DepartamentoId").val();

        //alert(direccion);

        if (direccion > 0) {
            CargarActividades();
            $(".campo-actividad").show();
            $('#ActividadesId').prop("required", true);
            $("#SubActividadesId").empty();
            $(".campo-servicio").hide();
        }
        else {
            $(".campo-actividad,.campo-servicio").hide();

            $('#ActividadesId').prop("required", false);
        }
    });

    if ($("#DepartamentoId").val() != "") {
        //alert($("#DepartamentoId").val());

        CargarActividades();
        $("#ActividadesId").show();
        $('#ActividadesId').prop("required", true);

    }

    $("#ActividadesId").change(function () {

        var url = '@(HttpRuntime.AppDomainAppVirtualPath)/SolicitudesServicios/GetSubActividades'

        $.ajax({
            type: 'POST',
            url: url,
            data: { id: $("#ActividadesId").val() },
            success: function (data) {
                $("#SubActividadesId").empty();

                $("#SubActividadesId").append('<option value>' + "Seleccionar" + '</option>')
                $.each(data, function (i, Subactividades) {
                    $("#SubActividadesId").append('<option value="' + Subactividades.Value + '">' + Subactividades.Text + '</option>')
                })

            }

        });

        //else if (actividad == "1042") {
        //    swal('', 'Recuerde que para solicitar acceso al wifi del 5to piso debe haber actualizado sus datos, ' +
        //        'si ya los a actualizado favor agregue en la descripción la dirreción MAC del dispositivo que quieres registrar. ' +
        //        'Para mas información de como optener la dirreción MAC de su dispositivo llame a la EXT. : 1199, 1246, 1010 o 1011');
        //}

        $('.campo-servicio').show();
        $('#SubActividadesId').prop("required", true);
    });

    $('#ActividadesId').change(function () {

        var valor = $(this).val();

        ValidarActualizado(function (data) {

            if (valor != 0 && valor != "" && data != false) {

                if (valor == 1042 @*|| OTROS SERVICIOS QUE REQUIERAN TENER DATOS ACTUALIZADO) ? data : true)*@) {

                    swal('', 'Recuerde que para solicitar acceso al wifi del 5to piso debe haber actualizado sus datos, ' +
                        'si ya los a actualizado favor agregue en la descripción la dirreción MAC del dispositivo que quieres registrar. ' +
                        'Para mas información de como optener la dirreción MAC de su dispositivo llame a la EXT. : 1199, 1246, 1010 o 1011');

                }

                $('#ActividadesId').val(valor);

            } else {

                if (valor == 1042) {

                    $('#ActividadesId').val("");
                    swal('', 'Para solicitar acceso al wifi debe actualizar sus datos, ' +
                        'Para mas información llame a la EXT. : 1199, 1246, 1010 o 1011', 'error');

                }

                $('.campo-servicio').hide();
                $('#SubActividadesId').prop("required", false);
            }
            $('#solicitudEspacios,#coberturaPrensa,#montajeEventos').hide();

        }, valor);

    });

    $('#SubActividadesId').change(function () {

        if ($(this).val() != 0 && $(this).val() != "") {
            $('.campo-servicio').val($(this).val());

        }

        if ($("#ActividadesId option:selected").html() == "SOLICITUD DE ESPACIOS") {
            $("#TipoEvento option").hide();
            $('#TipoEvento option[value="0"]').show();
            $('#TipoEvento option[value="0"]').prop("selected", "true");
            $("#TipoEvento option.clase_" + $("#SubActividadesId").val() + "").show();
            $('#TipoEvento option[value="0"]').show();
        }
        if
            ($("#ActividadesId option:selected").html() == "COBERTURA DE PRENSA") {
            $("#TipoEvento option").hide();
            $('#TipoEvento option[value="0"]').show();
            $('#TipoEvento option[value="0"]').prop("selected", "true");
            $("#TipoEvento option.clase_" + $("#SubActividadesId").val() + "").show();
            $(".CheckCob").hide();
            $(".claseCob_" + $("#SubActividadesId").val() + "").find("input[type=checkbox]");
            $(".claseCob_" + $("#SubActividadesId").val() + "").show();

        }
        if ($("#ActividadesId option:selected").html() == "MONTAJE DE EVENTOS") {
            $("#TipoEvento option").hide();
            $('#TipoEvento option[value="0"]').show();
            $('#TipoEvento option[value="0"]').prop("selected", "true");
            $("#TipoEvento option.clase_" + $("#SubActividadesId").val() + "").show();
            $(".CheckCobMontaje").hide();
            $(".claseCobM_" + $("#SubActividadesId").val() + "").find("input[type=checkbox]");
            $(".claseCobM_" + $("#SubActividadesId").val() + "").show();
        }
    });

    function CargarActividades() {
        var departamentoId = $("#DepartamentoId").val();

        var url = '@(HttpRuntime.AppDomainAppVirtualPath)/SolicitudesServicios/GetActividades';

        //console.log(url);

        $.ajax({
            type: 'POST',
            url: url,
            data: { id: departamentoId },
            success: function (data) {
                //console.log(data);
               
                var actividades = data;
                $("#ActividadesId").empty();

                $("#ActividadesId").append('<option value>' + "Seleccionar" + '</option>')
                //$.each(data, function (i, actividades) {
                //    $("#ActividadesId").append('<option value="' + actividades.Value + '">' + actividades.Text + '</option>')
                //})
                for (var i in actividades) {
                    var actividad = actividades[i];
                    $("#ActividadesId").append('<option value="' + actividad.Value + '">' + actividad.Text + '</option>');

                }

            }
        });
    }

    function ValidarActualizado(funcion, valor) {

        if (valor == 1042) {

            $("#loading-animation-container").show();

            $.ajax({
                type: 'POST',
                url: "@Url.Action("ValidarActualizacion", "ActualizarDatos")",
                success: funcion
            });

            $("#loading-animation-container").hide();

        } else {

            funcion()

        }

    }


    $('#Flota').mask("999-999-9999");

    $('#terminosCondiciones1').hide();
    $('form button[type="submit"]').prop("disabled", true);
    $("#tc1").click(function () {
        if ($(this).prop("checked") == true) {
            $("#terminosCondiciones1").show();
            $('form button[type="submit"]').prop("disabled", false);

        }
        else if ($(this).prop("checked") == false) {
            $("#terminosCondiciones1").hide();
            $('form button[type="submit"]').prop("disabled", true);
        }
    });

    $('#terminosCondiciones2').hide();
    $('form button[type="submit"]').prop("disabled", true);
    $("#tc2").click(function () {
        if ($(this).prop("checked") == true) {
            $("#terminosCondiciones2").show();
            $('form button[type="submit"]').prop("disabled", false);

        }
        else if ($(this).prop("checked") == false) {
            $("#terminosCondiciones2").hide();
            $('form button[type="submit"]').prop("disabled", true);
        }
    });

    $('#terminosCondiciones3').hide();
    $('form button[type="submit"]').prop("disabled", true);
    $("#tc3").click(function () {
        if ($(this).prop("checked") == true) {
            $("#terminosCondiciones3").show();
            $('form button[type="submit"]').prop("disabled", false);

        }
        else if ($(this).prop("checked") == false) {
            $("#terminosCondiciones3").hide();
            $('form button[type="submit"]').prop("disabled", true);
        }
    });

    });


</script>
<!--Manejo de los Terminos-->
<!--Manejo de las fecha y hora de los formularios -->
<script type="text/javascript">
    $(document).ready(function () {
        //<!-- solicitud de espacios-->
        $("#Sol_EventoFhInicio1").datepicker({

            dateFormat: 'dd/mm/yy'

        });
        $("#Sol_EventoFhFinal2").datepicker({

            dateFormat: 'dd/mm/yy',

        });
        $("#Sol_horario1").wickedpicker();
        $("#Sol_horario2").wickedpicker();
        //<!--  Cobertura de Prensa-->
        $("#Cob_EventoFhInicio1").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Cob_EventoFhFinal2").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Cob_horario1").wickedpicker();
        $("#Cob_horario2").wickedpicker();
        //<!--  Montaje de eventos-->
        $("#Mont_EventoFhInicio1").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Mont_EventoFhFinal2").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#Mont_horario1").wickedpicker();
        $("#Mont_horario2").wickedpicker();

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#solicitudEspacios').hide();
        $('#coberturaPrensa').hide();
        $('#montajeEventos').hide();
        // cambia el formulario por cada vez que se selecciona una de las subActividades//
        $("#DepartamentoId").change(function () {
            if ($("#DepartamentoId").val() == 37) {
                $("#contenedorFormulario").show();
                $("#Solicitar").hide();
            } else {
                $("#contenedorFormulario").hide();
                $('#solicitudEspacios').hide();
                $('#coberturaPrensa').hide();
                $('#montajeEventos').hide();
                $("#Solicitar").show();
            }
        });
        //Llama al formulario de Solicitud de espacios//
        $('#SubActividadesId').change(function () {
            $('#solicitudEspacios').hide();
            $('#coberturaPrensa').hide();
            $('#montajeEventos').hide();
            if ($('#SubActividadesId').val() == 174 || $('#SubActividadesId').val() == 177 || $('#SubActividadesId').val() == 178 || $('#SubActividadesId').val() == 1132 || $('#SubActividadesId').val() == 1135 || $('#SubActividadesId').val() == 1136) {
                setTimeout(function () {
                    $('#solicitudEspacios').show();
                    $('#coberturaPrensa').hide();
                    $('#montajeEventos').hide();
                }, 75);

            } if
            //Llama al formulario de Cobertura de Prensa//
            ($('#SubActividadesId').val() == 179 || $('#SubActividadesId').val() == 175 || $('#SubActividadesId').val() == 180 || $('#SubActividadesId').val() == 1137 || $('#SubActividadesId').val() == 1133 || $('#SubActividadesId').val() == 1138) {
                setTimeout(function () {
                    $('#solicitudEspacios').hide();
                    $('#coberturaPrensa').show();
                    $('#montajeEventos').hide();
                }, 75);
            }  //Llama al formulario de Montaje de eventos//
            if ($('#SubActividadesId').val() == 181 || $('#SubActividadesId').val() == 182 || $('#SubActividadesId').val() == 176 || $('#SubActividadesId').val() == 1139 || $('#SubActividadesId').val() == 1140 || $('#SubActividadesId').val() == 1134) {
                setTimeout(function () {
                    $('#solicitudEspacios').hide();
                    $('#coberturaPrensa').hide();
                    $('#montajeEventos').show();
                }, 75);
            }
        })

    })
</script>
<script type="text/javascript">
    $(function () {
        $("#EmpleadoOtrosId").customselect();

    });
</script>
<script>
 $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<script>
    $(document).ready(function () {
       
        $("#SubActividadesId").change(function () {
            var Actividad1 = +$(this).val();
            if (Actividad1 == "123" || Actividad1 == 123
                //|| Actividad1 == "298" || Actividad1 == 298
              || Actividad1 == 2031 || Actividad1 == "2031") {
                $("#Viaticos").show();

            }
           
            else if (Actividad1 != "123" || Actividad1 != 123
                //|| Actividad1 != "298" || Actividad1 != 298
                || Actividad1 == "2031" || Actividad1 == 2031)
            { $("#Viaticos").hide(); }

        });
    });
 </script>


<script>
    $(document).ready(function () {
        var $select = $('.selectize').selectize({
            plugins: ['clear_on_type']
       , placeholder: "SELECCIONE"
       , maxOptions: 30000
        });

        var control = $select[0].selectize;

        $('#nombre-selectized').attr('autocomplete', 'nope');

    });
</script>