﻿@model intra.Sol_Registro_Solicitud

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sol_Registro_Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SolicitanteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolicitanteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomainUserSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainUserSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TecnicoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomainUserTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainUserTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_SolicitudId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_SolicitudId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Sub_SolicitudId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Sub_SolicitudId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionSolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionSolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipodeAsistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipodeAsistencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FhInicioSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FhInicioSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FhFinalSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FhFinalSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FhModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FhModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FhCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FhCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependenciaRegionalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependenciaRegionalId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
