﻿@model intra.Models.ViewModel.vServiciosIntranet
@{
    Layout = null;
}
@{ 
    dbIntranet db = new dbIntranet();
}
<!DOCTYPE html>
<html>
<head>
    <title>Reporte Solicitud de Viáticos</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Gill Sans MT Italic', sans-serif;
            color: black;
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 8px !important;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 16%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }


        .estatus_pendiente {
            color: white;
            background: #efb11e;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_aprobado {
            color: white;
            background: #68c249;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_cancelado {
            color: white;
            background: #ee3c3c;
            padding: 6px 10px;
            border-radius: 10px;
        }
        th, td{
            padding: 20px 15px!important;
            font-size:14pt!important;
        }
    </style>
</head>

<body>

    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />

        <div class="contenedor">
            <div class="cabecera">
                <h1>REPORTE SOLICITUD DE VIÁTICOS</h1>
            </div>
            <div class="cuerpo">
                <hr style="margin-top:-2px;" />
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row" style="width:20%;">Solicitante:</th>
                            <td><bold>@ViewBag.SolicitanteId2</bold></td>
                            <th scope="row" width="15%">Fecha Solicitud:</th>
                            <td width="20%">@Model.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                        </tr>

                        <tr>
                            <th scope="row">Solicitud:</th>
                            <td width="40%;">@Model.TipoSolicitud</td>
                            <th scope="row" width="15%">Sub-Actividad:</th>
                            <td width="20%"><bol>@Model.SubActividad</bol></td>
                        </tr>
                       
                   
                        <tr>
                            <th scope="row" width="15%">Personal:</th>

                            <td colspan="3" @*width="20%"*@>
                                <ul>
                                    @foreach (var item in Model.EmpleadoViaticos)
                                    {
                                     var viaticos   = db.VISTA_EMPLEADOS.Where(x => x.empleadoid == item.EmpleadoId.ToString()).FirstOrDefault();
                                        ViewBag.emlpeadoViaticos = viaticos.nombre.ToUpper();
                                        <li><bold>@ViewBag.emlpeadoViaticos</bold></li> 
                                    }
                                </ul>
                            </td>
                           
                        </tr>
                        <tr>
                            <th scope="row">Razón:</th>
                            <td colspan="4" height="150">@Model.DescripcionSolicitud</td>
                        </tr>
                    </tbody>
                </table>

                <div style="position: absolute;bottom: 0px; top: 1000px; width:80%; text-align:center;">
                    <p style="font-size: 8pt;">
                        Formulario de Solicitud de viáticos es creado por la Dirección de Tecnologia de la Informacion<b style="color: #0c4ba4;">  (DTI),</b>  
                       de la Procuraduría General de la Republica (PGR). <b style="color: #0c4ba4;">tecnologíadelainformacion@pgr.gob.do</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>