﻿@model intra.Models.ViewModel.vServiciosIntranet
@{
    Layout = null;
}
@{
    dbIntranet db = new dbIntranet();
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}
<!DOCTYPE html>
<html>
<head>
    <title>Reporte Constancia de Viáticos</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Gill Sans MT Italic', sans-serif;
            color: black;
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 8px !important;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 16%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }


        .estatus_pendiente {
            color: white;
            background: #efb11e;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_aprobado {
            color: white;
            background: #68c249;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_cancelado {
            color: white;
            background: #ee3c3c;
            padding: 6px 10px;
            border-radius: 10px;
        }

        /*th, td {
            padding: 20px 15px !important;
            font-size: 12pt !important;
        }*/
    </style>
</head>

<body>

    <div class="container">
        <img class="logoooo" src="~/Content/images/Infracciones.png" />

        <div class="contenedor">
            <div class="cabecera">
                <h1>REPORTE CONSTANCIA DE VIÁTICOS</h1>
            </div>
            <div class="cuerpo">
                <hr style="margin-top:-2px;" />
                <table id="tableGrid">
                        <tr>
                            <th style="width:100px!important;">NOMBRE</th>
                            <th style="width:30px">CÓDIGO</th>
                            <th style="width:50px!important; text-align:center;">MONTO</th>
                            <th style="width:50px!important; text-align:center;">FECHA</th>
                            <th style="width:50px!important;">FIRMA</th>
                        </tr>

                        @foreach (var item in Model.EmpleadoViaticos)
                        {
                            var total1 = db.EmpleadoViaticos.Where(x=> x.SolicitudId == item.SolicitudId).Sum(x => x.MontoViaticos);
                            decimal monto2 = Convert.ToDecimal(string.Format("{0:0.00}", item.MontoViaticos));
                            decimal total2 = Convert.ToDecimal(string.Format("{0:0.00}", total1));
                            ViewBag.TotalGeneral = total2;
                            var viaticos = db.VISTA_EMPLEADOS.Where(x => x.empleadoid == item.EmpleadoId.ToString()).FirstOrDefault();
                            ViewBag.emlpeadoViaticos = viaticos.nombre.ToUpper();
                            <tr>
                                <td style="width:350px !important;">@ViewBag.emlpeadoViaticos</td>
                                <td style="width:30px !important;">
                                    @item.EmpleadoId
                                <input class="codigo" type="hidden" id="show" name="show" value="@item.EmpleadoViaticoId" />
                            </td>
                            <td style="width:40px!important;">
                             
                                <input style="width:95px !important;" type="text" id="montoViatico" name="montoViatico" value="RD$ @monto2" class="monto"  /> 

                            </td>

                            <td style="width: 50px!important;">
                              @item.FechaSolicitud.Value.ToString("dd/MM/yyyy")  
                           @*<input type="text" id="FechaSolicitud" name="FechaSolicitud" class="datepicker form-control" value="@item.FechaSolicitud.Value.ToString("dd/MM/yyyy")" style="width: 100px!important;" />*@
                                
                            </td>
                                <td style="width:50px!important;">___________________________</td>

                        </tr>

                        }
                    <tr>
                        <td></td>
                        <td></td>
                        <td  style="float: right; margin-top:25px;"><label>Total: </label> <input style="width:95px !important;" type="text" id="Total" value="RD$ @ViewBag.TotalGeneral" /></td>
                    </tr>
                  
                </table>
                 
                                 
                                 

                <div style="position: absolute;bottom: 0px; top: 1000px; width:80%; text-align:center;">
                    <p style="font-size: 8pt;">
                        Formulario de Solicitud de viáticos es creado por la Dirección de Tecnologia de la Informacion<b style="color: #0c4ba4;">  (DTI),</b>
                        de la Procuraduría General de la Republica (PGR). <b style="color: #0c4ba4;">tecnologíadelainformacion@pgr.gob.do</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>