﻿@model  IEnumerable< intra.Models.ViewModel.vServiciosIntranet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

@{ 
    dbIntranet db = new dbIntranet();
 
}

@Styles.Render("~/datatables/css")
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<div class="row">

    <div class="col-md-2">
        <h2 class="h2_title_page">Solicitados</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-10">
        <div class="pull-right alejar_top">

            <div style="float:left; margin-left:2px">
                <label>Filtar Por</label>
                <div>
                    <select id="Filtro" class="filtrar" name="Filtro">
                        <option value="">Seleccione</option>
                        <option value="2">Responsable</option>
                        <option value="3">Fecha</option>
                    </select>
                </div>
            </div>
                <div id="Responsables" style="float:left;margin-left:2px;display:none">
                    <label>Responsable:</label>
                    <input type="text" name="Responsable" id="Responsable" class="form-control resp" />
                </div>

                <div id="Fechas" style="float:left;margin-left:2px;display:none">
                    <div style="float:left;margin-left:2px">
                        <label>Fecha Inicial:</label>
                        <input type="text" id="FechaInicial" name="FechaInicial" class="date-picker form-control Inicio" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                    <div style="float:left;margin-left:2px">
                        <label>Fecha Final:</label>
                        <input type="text" id="FechaFinal" name="FechaFinal" class="date-picker form-control Fin" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </div>

            </div>
                <div style="float:left;margin-left:2px">
                    <label>Estados:</label>
                    <select id="Estados" name="Estados" class="state">
                        <option value="4">Todos</option>
                        <option selected="selected" value="1">Pendiente</option>
                        <option value="2">Cerrado</option>
                        <option value="3">Cancelado</option>
                    </select>
                </div>
                <div style="float:left;  margin-left: 8px; margin-top: 20px;">

                    <button id="Consultar" name="Consultar" value="Consultar" class="button_white"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>



        </div>

            </div>
        </div>



        <table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Solicitante
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Responsable
                    </th>
                    <th>Dependencia</th>
                    <th>DIAS TRANSCURRIDOS</th>

                    <th>

                        ESTATUS
                    </th>
                    <th>
                        FECHA
                    </th>


                    <th>
                        Descripcion Solicitud
                    </th>

                </tr>
            </thead>
            <tbody id="table_body">

                @foreach (var item in Model)
                {
                    //var resp = db.VISTA_EMPLEADOS.Where(x => x.empleadoid == item.ResponsableId.ToString()).FirstOrDefault();
                    //ViewBag.Responsables = resp.nombre;
                    var dias = DateTime.Now.Date - item.FechaSolicitud.Date;
                    ViewBag.tiempo = dias.TotalDays;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Solicitante)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SubActividad)
                        </td>
                        <td>
                            
                            @*@ViewBag.Responsables*@
                            @Html.DisplayFor(modelItem => item.Responsable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dependencia)
                        </td>
                        <td>@ViewBag.tiempo Días</td>
                        <td>
                            <a class="estatus estatus_rechazado" href="~/RegistroSolicitud/RegistroSolicitud?id=@item.SolicitudId">
                                @item.Estatus

                            </a>
                            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaSolicitud)
                        </td>

                        <td id="desc" style="width:100%">
                            @Html.DisplayFor(modelItem => item.DescripcionSolicitud)
                        </td>

                    </tr>
                }
            </tbody>
        </table>


        @Scripts.Render("~/datatables/js")
    <script src="~/JS/jquery-ui.min.js"></script>
    <script src="~/scripts/moment.min.js"></script>


<script type='text/javascript'>

        $(function () {
            $('.date-picker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });


        $(function () {
            $(".filtrar").change(function () {
              if ($(this).val() == 2) {
                  
                  $("#Responsables").show();
                    $("#Fechas").hide();
                }
                else if ($(this).val() == 3) {
                   
                    $("#Responsables").hide();
                    $("#Fechas").show();
                }

                else {
                   
                    $("#Responsables").hide();
                    $("#Fechas").hide();
                }
            });
        });

</script>
<script>
    $(document).ready(function (){

        $("#Consultar").click(function () {
            $("#loading-animation-container").show()
            $('#tableGrid').DataTable().clear().draw()
            $.ajax({
                url: '@Url.Action("ServiciosSolicitados")',
                type: 'Post',
                data: {
                    estado: $(".state").val(),
                    filtro: $(".filtrar").val(),
                    FechaInicial: $(".Inicio").val(),
                    FechaFinal: $("#FechaFinal").val(),
                    responsable: $("#Responsable").val()
                },
                success: function (result) {
                    result.forEach(function (element) {
                        var dias = moment().diff(moment(element.FechaSolicitud), 'd')
                        //var filas = $("#tableGrid thead tr th").length - $("#tableGrid thead tr th[hidden='hidden']").length
                        var row = [
                            element.Solicitante,
                            element.SubActividad,
                            element.Responsable,
                            element.Dependencia,
                            dias + " Días",
                            (element.Estatus == 'Cerrado') ?
                                '<a class="estatus estatus_rechazado" href="@HttpRuntime.AppDomainAppVirtualPath/RegistroSolicitud/RegistroSolicitud?id='+ element.SolicitudId+'">'+
                                    element.Estatus +
                                '</a><a target="_blank" href="@HttpRuntime.AppDomainAppVirtualPath/FormularioEncuestas/FormularioEncuesta?id=' + element.SolicitudId + '"><img width="18%" src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/encuesta.png"></img></a>' :

                                '<a class="estatus estatus_rechazado" href="@HttpRuntime.AppDomainAppVirtualPath/RegistroSolicitud/RegistroSolicitud?id=' + element.SolicitudId + '">' +
                                    element.Estatus +
                                '</a> '
                            ,
                             moment(element.FechaSolicitud).format("DD/MM/YYYY"),
                            element.DescripcionSolicitud

                        ]

                        $("#tableGrid").DataTable().row.add(row).draw();

                    })

                    $("#loading-animation-container").hide();
                }
            })
        })
    })


</script>