﻿@model  IEnumerable<intra.Models.ViewModel.vServiciosIntranet>
@{
    ViewBag.Title = "SolicitudesViaticos";
    Layout = "~/Views/intraMaster.cshtml";
    dbIntranet db = new dbIntranet();
}
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@*<script src="~/Content/js/jQuery.js"></script>*@

<h2>Solicitudes Viaticos</h2>
@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table display responsive" cellspacing="0">
    <thead>
        <tr>
            <th>Solicitante</th>
            <th>Solicitud</th>
            <th>Tipo de Solicitud</th>
            <th>Fecha Solicitud</th>
            <th>Detalle</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //var subActividad = db.Sol_Sub_Actividades.Where(x => x.SubActividadId == item.CodigoSubactividad || x.SubActividadId == item.CodigoSubactividad).FirstOrDefault().Descripcion;
            //ViewBag.SubActividad = subActividad;
            var employee = db.VISTA_EMPLEADOS.Where(x => x.empleadoid == item.SolicitanteId.ToString()).FirstOrDefault();
            ViewBag.SolicitanteId2 = employee?.nombre.ToUpper() ?? "PERSONA NO ENCONTRADA";
            <tr>
                <td>@ViewBag.SolicitanteId2 </td>
                <td>@item.TipoSolicitud</td>
                <td>@item.SubActividad</td>
                <td>@item.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                <td>
                 @Html.ActionLink("Detalles", "ReporteViaticos", new {id= item.SolicitudId }, new { @class= "btn button_white" })
                </td>
                <td>
                    <a href="~/SolicitudesServicios/ConstanciaViaticos?id=@item.SolicitudId" class="btn button_white">
                        Completar
                    </a> 
                    @*<button name="Completar" id="Completar" onclick="window.location.href +''
                    <a href="solicitudesServicios/ConstanciaViaticos/0''"></a>
                    @Html.ActionLink("Completar", "ConstanciaViaticos", new { id = item.SolicitudId }, new { @class = "btn button_white" })*@
                </td>

            </tr>


        }
    </tbody>
</table>
@Scripts.Render("~/datatables/js")


@*<script>
   function Viaticos() {
        var detail = $("#Detalle").val();
           window.location.href = @HttpRuntime.AppDomainAppVirtualPath + "/solicitudesServicios/ReporteViaticos/" + detail;

 }

</script>*@