﻿@model  IEnumerable<intra.Models.ViewModel.vServiciosIntranet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

@{
    dbIntranet db = new dbIntranet();

}

<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>
<style>
    .chosen-container-multi .chosen-choices {
        background-color: #494b54 !important;
        border: none !important;
        border-radius: 4px !important;
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            color: #949ba2 !important;
        }

        .chosen-container-multi .chosen-choices select {
            border: 0px !important;
        }
</style>

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

@Styles.Render("~/datatables/css")
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@using (Html.BeginForm("ServiciosAsignados", "SolicitudesServicios", FormMethod.Post, new { id = "solicita" }))
{
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-2">
            <h2 class="h2_title_page">Solicitados</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-10">
            <div class="pull-right alejar_top">

                <div style="float:left; margin-left:2px">
                    <label>Filtar Por</label>
                    <div>
                        <select id="Filtro" class="filtrar" name="Filtro">
                            <option value="">Seleccione</option>
                            <option value="2">Responsable</option>
                            <option value="3">Fecha</option>
                        </select>
                    </div>
                </div>
                <div id="Responsables" style="float:left;margin-left:2px;display:none">
                    <label>Responsable:</label>
                    <input type="text" name="Responsable" id="Responsable" class="form-control resp" />
                </div>

                <div id="Fechas" style="float:left;margin-left:2px;display:none">
                    <div style="float:left;margin-left:2px">
                        <label>Fecha Inicial:</label>
                        <input type="text" id="FechaInicial" name="FechaInicial" class="date-picker form-control Inicio" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                    <div style="float:left;margin-left:2px">
                        <label>Fecha Final:</label>
                        <input type="text" id="FechaFinal" name="FechaFinal" class="date-picker form-control Fin" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>

                </div>
                <div style="float:left;margin-left:2px">
                    <label>Estados:</label>
                    <select id="Estados" name="Estados" class="state">
                        <option value="">Todos</option>
                        <option value="1" selected>Pendiente</option>
                        <option value="2">Cerrado</option>
                        <option value="3">Cancelado</option>
                    </select>
                </div>
                @*<div style="float:left;margin-left:2px">
                    @Html.DropDownList("ActividadId", new SelectList(ViewBag.ActividadId, "ActividadId", "ActividadNombre"));
                    </div>*@

                <div style="float:left;  margin-left: 8px; margin-top: 20px;">
                    @*@Html.ActionLink("OTROS SERVICIOS", "TecnicoAlternativo", "SolicitudesServicios", new {@class= "button_white" })*@
                    <button id="OtrosTecnico" name="OtrosTecnico" onsubmit="window.location.href = 'SolicitudesServicios/TecnicoAlternativo'" class="button_white"><i class="fa fa-search alejar_icono"></i>Otros Servicios</button>
                    <button id="Consultar" name="Consultar" value="Consultar" type="submit" class="button_white"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>



            </div>

        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            @if (ViewBag.Director != null || ViewBag.TecnicoAlternativo != null || ViewBag.Supervisor != null || ViewBag.Otrostecnicos != null)
            {
                <a id="instructivo" class="estatus estatus_informacion" href="javascript:void(0);" onclick="startIntro();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                <button style="margin-bottom:15px;" type="button" name="AgregarAsignacion" id="AgregarAsignacion" onclick="Asignado()" class="estatus estatus_informacion"><i class="fa fa-retweet alejar_icono"></i>Reasignar</button>

            }
        </div>
    </div>

</div>


<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            @*<th>
                    Solicitante
                </th>*@
            <th>
                Servicio
            </th>

            <th>
                Solicitante
            </th>

            @if (ViewBag.Director != null || ViewBag.TecnicoAlternativo != null || ViewBag.Supervisor != null || ViewBag.Otrostecnicos != null)
            {
                <th id="tecnicosss">seleccionar</th>
                @*<th>Cambiar usuario</th>*@
            }
            else
            {
                <th hidden="hidden"></th>

            }
            <th>DIAS TRANSCURRIDOS</th>

            <th>

                ESTATUS
            </th>
            <th>
                FECHA
            </th>
            @if (ViewBag.Director != null || ViewBag.TecnicoAlternativo != null || ViewBag.Supervisor != null || ViewBag.Otrostecnicos != null)
            {
                <th>
                    Responsable:

                </th>
            }

            <th>
                Descripcion Solicitud
            </th>

        </tr>
    </thead>
    <tbody id="table_body">

        @foreach (var item in Model)
        {
            var dias = DateTime.Now.Date - item.FechaSolicitud.Date;
            ViewBag.tiempo = dias.TotalDays;
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Solicitante)
                    </td>*@

                <td>
                    <a href="~/RegistroSolicitud/RegistroSolicitud?id=@item.SolicitudId">
                        @if (item.DependenciaId == 1)
                        {
                            @item.SubActividad
                        }
                        else
                        {
                            @item.Dependencia
                        }
                    </a>
                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Solicitante)
                </td>
                @if ((ViewBag.Director != null) && (item.Estatus == "Pendiente") || (ViewBag.TecnicoAlternativo != null) && (item.Estatus == "Pendiente") || (ViewBag.Supervisor != null) && (item.Estatus == "Pendiente") || (ViewBag.Otrostecnicos != null) && (item.Estatus == "Pendiente"))
                {

                    <td id="td_asignados" style="width:100%">
                        @Html.DropDownList("tecnico", new SelectList(ViewBag.tecnico, "EmpleadoId", "Descripcion"), "Seleccione", new { @class = "form-control chosen-select empleado" })
                        <input class="codigo" type="hidden" id="show" name="show" value="@item.SolicitudId" />
                        <input type="hidden" id="asign" name="asign" value="hola" />
                    </td>
                }
                else
                {
                    <td hidden="hidden"></td>

                }
                <td>@ViewBag.tiempo Días</td>
                <td>
                    <a class="estatus estatus_rechazado" href="~/RegistroSolicitud/RegistroSolicitud?id=@item.SolicitudId">
                        @item.Estatus

                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSolicitud)
                </td>
                @if (ViewBag.Director != null || ViewBag.TecnicoAlternativo != null || ViewBag.Supervisor != null || ViewBag.Otrostecnicos != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsable)

                    </td>
                }

                <td id="desc" style="width:100%">
                    @Html.DisplayFor(modelItem => item.DescripcionSolicitud)
                </td>

            </tr>
        }
    </tbody>
</table>


@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>


<script type='text/javascript'>

        $(function () {
            $('.date-picker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });


        $(function () {
            $(".filtrar").change(function () {
              if ($(this).val() == 2) {

                  $("#Responsables").show();
                    $("#Fechas").hide();
                }
                else if ($(this).val() == 3) {

                    $("#Responsables").hide();
                    $("#Fechas").show();
                }

                else {

                    $("#Responsables").hide();
                    $("#Fechas").hide();
                }
            });
        });

</script>
<script>
    $(document).ready(function (){

        $("#Consultar").submit(  function() {
        var request = $.ajax({
            url: '@Url.Action("SolicitudesServicios/ServiciosAsignados")',
            type: 'Post',

            data: {
                TipoSolicitudId: $("#ActividadId").val(),
                estado: $(".state").val(),
                filtro: $(".filtrar").val(),
                fechaInicial: $(".Inicio").val(),
                fechaInicial: $(".Fin").val(),
                responsable: $("#Responsable").val()
               },
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success == true) {
                alert(data);
                console.log(data);
                $(".state").val(data.estado);
                //$("#tableGrid").DataTable().destroy();
                //$("#table_body").empty();
                //$each()

                //swal({
                //    title: 'Error',
                //    text: data.Mensaje,
                //    type: 'error',
                //    confirmButtonColor: '#18212f',
                //    confirmButtonText: 'Aceptar'
                //})

            }
            else {

            }
        })



    })
    })


</script>


<script>
    $(document).ready(function ()
    {
        if ($(".filtrar").val() != 1 || $("#tecnico").val() != "")
        {
            $("#tecnicosss").hide();

        }

        if($("#asign").val() == "hola")
        {
            $("#AgregarAsignacion").show();
            $("#instructivo").show();
            $("#tecnicosss").show();

        }
        else
        {
            $("#AgregarAsignacion").hide();
            $("#tecnicosss").hide();
            $("#instructivo").hide();
        }

    })
</script>


<script>
    function Asignado(a) {
        $("#loading-animation-container").show();

        var selected = $(".empleado");
        var solicitados = $(".codigo");
        var codigos = [];
        var selectValue = [];

        for (var i = 0; i < selected.length; i++) {
            if (selected[i].value != "") {
                selectValue.push(selected[i].value);
                codigos.push(solicitados[i].value);
            }
        }

        var request = $.ajax({
            url: '@Url.Action("Asignar")',
            method: 'Post',
            data: { solicitudId: codigos, tecnico1: selectValue }
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success) {
                swal({
                    title: 'Servicio reasignado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/SolicitudesServicios/ServiciosAsignados"});
            }
            else
            {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/SolicitudesServicios/ServiciosAsignados" });

            }
        })

    }
</script>

@*<script>
            $("#OtrosTecnico").click(  function() {

                window.location.href= "SolicitudesServicios/TecnicoAlternativo";

                })

    </script>*@


<script type="text/javascript">
    function startIntro() {


        var intro = introJs();

        intro.setOptions({
            steps: [
            {

                intro: "Para asignar uno o mas servicios"
            },
            {
                element: document.querySelector('#td_asignados'),
                intro: "Seleccione  la(s) persona(s) a la que quiere asignar"
            },

            {
                element: document.querySelector('#AgregarAsignacion'),
                intro: "Click en el boton asignar "
            },

            {
                intro: "¡Y listo!",
                position: 'right'
            }
            ]
        });

        intro.start();

        intro.onexit(function () {
            $('#cardnet').hide();
        })
    }

</script>



