﻿@model intra.Models.SistemaRepatriados.SSR_Repatriados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SSR_Repatriados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRetorno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRetorno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoIdentificacionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIdentificacionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RepatriadoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
