﻿@model intra.Models.SistemaRepatriados.SSR_Familiares

@*@{
    ViewBag.Title = "FamiliaresRepatriados";
    Layout = "~/Views/intraMaster.cshtml";
}*@

@*<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />*@
<script src="~/scripts/maskjs.js"></script>
<script src="~/Content/js/CargaDirecciones.js"></script>
@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@
@*<style>
    .chosen-container {
        width: 100% !important;
    }
</style>*@

<form id="FamiliaresRepatriados">
    <input type="hidden" id="RepatriadoFamiliarId" name="RepatriadoFamiliarId" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">DATOS Relacionados del Repatriado</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">
                <a id="listaFamiliares" name="listaFamiliares" class="btn button_white" onclick="cerrarlistaFamiliares()">Cerrar</a>
                @*<button id="listaFamiliares" name="listaFamiliares" onclick="cerrarlistaFamiliares()" class="btn button_white">Cerrar</button>*@
                <button type="button" id="Guardar" onclick="CrearFamiliar()" name="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>

            </div>
        </div>
    </section> <!--section header-->
  

    <div class="row br-info-first">
        <div class="col-lg-3 br-item-2">
            <label>Cedula</label>
            <div>
                <input type="text" id="Cedula" name="Cedula" class="form-control" placeholder="000-0000000-0" />
            </div>
        </div>

        <div class="col-lg-3 br-item-2">
            <label>Nombre</label>
            <div>
                <input type="text" id="NombreFamiliar" name="NombreFamiliar" class="form-control" />
                <input type="hidden" id="Nombres1Familiar" name="Nombres1Familiar" class="form-control" />
             
            </div>
        </div>

        <div class="col-lg-3 br-item-2">
            <label>Primer Apellido</label>
            <div>
                <input type="text" id="Apellido1Familiar" name="Apellido1Familiar" class="form-control" />
                <input type="hidden" id="PrimerApellido" name="PrimerApellido" class="form-control" />
            </div>
        </div>

        <div class="col-lg-3 br-item-2">
            <label>Segundo Apellido</label>
            <div>
                <input type="text" id="Apellido2Familiar" name="Apellido2Familiar" class="form-control" />
                <input type="hidden" id="SegundoApellido" name="SegundoApellido" class="form-control" />
               
            </div>
        </div>

        

        <div class="col-lg-4 br-item-2">
            <label>Parentesco</label>
            <div>
                @Html.DropDownList("ParentescoId",null, "Seleccione", htmlAttributes: new { @class = "form-control chosen-select familiar" })
            </div>
        </div>

        <div class="col-lg-4 br-item-2">
            <label>Nacionalidad</label>
            <div>
                @Html.DropDownList("NacionalidadId", null, htmlAttributes: new { @class = "form-control chosen-select familiar" })
            </div>
        </div>

        <div class="col-lg-4 br-item-2">
            <label>Esta Vivo</label>
            <div class="br-radiobutton">
                <!-- <input type="radio" name="Vive" id="Vive" value="true" class="estaVivo" checked="checked"> Si
                <input type="radio" name="Vive" id="Vive" value="false" class="estaVivo"> No -->
                <div>
                    <input type="radio" id="radio01" id="Vive" name="Vive" value="true" class="estaVivo" checked="checked" />
                    <label for="radio01"><span></span>Si</label>
                </div>

                <div>
                    <input type="radio" id="radio02" id="Vive" name="Vive" value="false" class="estaVivo" />
                    <label for="radio02"><span></span>No</label>
                </div>


            </div>
        </div>

    </div><!--row br-info-first-->

    <div class="br-section-2">
        <div class="row br-info-tel">
            <h2>Telefonos</h2>

            <div class="col-lg-4 br-item-2">
                <label>Tipo Telefono</label>
                @Html.DropDownList("TelefonoTipoId", null, "Seleccione", new { @class = "form-control chosen-select familiar" })
            </div>

            <div class="col-lg-4 br-item-2">
                <label>Telefono</label>
                <input type="text" id="NumeroTelefono1" name="NumeroTelefono1" placeholder="(000)-000-0000" class="form-control" />
            </div>

        </div><!--row br-info-tel-->
        

        <div class="row br-info-direccion">
            <h2>Direcciones</h2>

            <div class="col-lg-4 br-item-2">
                <label>Provincia</label>
                <div id="provincia">
                    @Html.DropDownList("Provincias", null, "Seleccione", new { @class = "form-control provincia chosen-select familiar" })
                </div>
            </div>

            <div class="col-lg-4 br-item-2">
                <label>Municipio</label>
                <div id="municipio">
                    @Html.DropDownList("Municipios", null, "Seleccione", new { @class = "form-control chosen-select mun familiar", @disabled = "disabled" })
                </div>
            </div>

            <div class="col-lg-4 br-item-2">
                <label>Ciudad</label>
                <div id="localidad">
                    @Html.DropDownList("Distritos", null, "Seleccione", new { @class = "form-control chosen-select familiar", @disabled = "disabled" })
                </div>
            </div>

            <div class="col-lg-4 br-item-2">
                <label>Localidad</label>
                <div id="ciudad">
                    @Html.DropDownList("Ciudades", null, "Seleccione", new { @class = "form-control chosen-select familiar", @disabled = "disabled" })
                </div>
            </div>

            <div class="col-lg-4 br-item-2">
                <label>Sector</label>
                <div id="sector">
                    @Html.DropDownList("Sectores", null, "Seleccione", new { @class = "form-control chosen-select familiar", @disabled = "disabled" })
                </div>
            </div>

            <div class="col-lg-3 br-item-2">
                <label>Calle</label>
                <div>
                    <input type="text" name="Calle" id="Calle" class="form-control" />
                </div>
            </div>

            <div class="col-lg-1 br-item-2">
                <label>Número</label>
                <div>
                    <input type="text" name="Numero" id="Numero" class="form-control" />
                </div>
            </div>
            
        </div><!--br-info-direccion-->
    </div><!--br-section-2-->

</form>
<script src="~/JS/jquery-ui.min.js"></script>

<script>
    function cerrarlistaFamiliares() {
        $('#myModalCrearFamiliar').modal('hide');
    };
</script>

<script>
    $("#Cedula").on("keydown", function (e) {
     
       
       // e.preventDefault();

          if (e.keyCode === 13) {
              $("#Cedula").mask('000-0000000-0');
              $("#NumeroTelefono1").mask('(000)-000-0000');
              $("#Cedula").change(function () {
                  var cedula = $("#Cedula").val();
                  $("#loading-animation-container").show();
            
                  $.ajax({
                      type: 'Post',
                      url: '@Url.Action("GetPersona")',
                      dataType: 'json',
                      data: { tipoIdentificacion: 1, cedula: cedula },
                      success: function (data) {
                          var obj = JSON.parse(data)
                          console.log(obj);
                          $("#Cedula").val(obj.Numero);
                          $("#NombreFamiliar").val(obj.Nombres);
                          $("#Apellido1Familiar").val(obj.Apellido1);
                          $("#Apellido2Familiar").val(obj.Apellido2);
                          document.getElementById("PrimerApellido").value = $("#Apellido1Familiar").val();
                          document.getElementById("Nombres1Familiar").value = $("#NombreFamiliar").val();
                          document.getElementById("SegundoApellido").value = $("#Apellido2Familiar").val();
                          $("#loading-animation-container").hide();
                      }

                  });
                  $("#NombreFamiliar").focus();
                  $("#loading-animation-container").hide();

              })

          }
        });
</script>

<script>
    function CrearFamiliar() {
        $("#loading-animation-container").show();
        var familiar1 = $("#RepatriadoFamiliarId").val();
        var request = $.ajax({
            url: '@Url.Action("CrearFamiliarRepatriados")',
            method: 'Post',
            data: $("#FamiliaresRepatriados").serialize(),
        });
        request.done(function (data) {
         if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    ConsultarFamiliares(familiar1);
                    $('#myModalFamiliares').modal('show');
                    $("#myModalCrearFamiliar").modal('hide');
                    $("#FamiliaresRepatriados")[0].reset();
                    $(".familiar").val("");
                    $(".familiar").trigger("chosen:updated");
                    // openCity(event, 'familiares');
                });
               
                $("#loading-animation-container").hide();
                   
            }
            else {

             swal({
                 title: 'Error',
                 text: data.Mensaje,
                 type: 'error',
                 confirmButtonColor: '#18212f',
                 confirmButtonText: 'Aceptar'
             });
                $("#loading-animation-container").hide();

            }
        })
    }
</script>
<script>
    $(document).ready(function () {

        $("#Provincias").change(function () {
            var id = $("#Provincias").val();
            $("#Municipios").prop('disabled', false);
            $.ajax({
                type: 'Post',
                url: 'SeleccionMunicipio',
                data: { provinciaId: id },
                success: function (data) {
                    // var municipio = data;
                    $("#Municipios").empty();
                    $("#Municipios").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, municipio) {
                        $("#Municipios").append('<option value="' + municipio.MunicipioId + '">' + municipio.MunicipioDescripcion + '</option>')
                    })
                    $("#Municipios").trigger("chosen:updated");


                }
            });
        });

    });

//Distritos
$(document).ready(function () {

    $("#Municipios").change(function () {

        //function CargarMunicipios () {

        var id = $("#Municipios").val();
        $("#Distritos").prop('disabled', false);
        $.ajax({
            type: 'Post',
            url: 'SeleccionarDistricto',
            data: { MunicipioId: id },
            success: function (data) {
                // var municipio = data;
                $("#Distritos").empty();
                $("#Distritos").append('<option value>' + "Seleccionar" + '</option>')

                $.each(data, function (i, distrito) {
                    $("#Distritos").append('<option value="' + distrito.DistritoId + '">' + distrito.DistritoDescripcion + '</option>')
                })
                $("#Distritos").trigger("chosen:updated");


            }
        });
    });

});
//Ciudades
$(document).ready(function () {
    $("#Distritos").change(function () {

        //function CargarMunicipios () {
        var id = $("#Distritos").val();
        $("#Ciudades").prop('disabled', false);
        $.ajax({
            type: 'Post',
            url: 'SeleccionarCiudad',
            data: { DistritoId: id },
            success: function (data) {
                // var municipio = data;
                $("#Ciudades").empty();
                $("#Ciudades").append('<option value>' + "Seleccionar" + '</option>')

                $.each(data, function (i, ciudad) {
                    $("#Ciudades").append('<option value="' + ciudad.CiudadId + '">' + ciudad.CiudadDescripcion + '</option>')
                })
                $("#Ciudades").trigger("chosen:updated");


            }
        });
    });

});


$(document).ready(function () {
    $("#Ciudades").change(function () {
        var id = $("#Ciudades").val();
        $("#Sectores").prop('disabled', false);
        $.ajax({
            type: 'Get',
            url:  'SeleccionarSector',
            data: { CiudaId: id },
            success: function (data) {
                $("#Sectores").empty();
                $("#Sectores").append('<option value>' + "Seleccionar" + '</option>')
                $.each(data, function (i, sector) {
                    $("#Sectores").append('<option value="' + sector.SectorId + '">' + sector.SectorDescripcion + '</option>')
                })
                $("#Sectores").trigger("chosen:updated");


            }
        });
    });

});

</script>
