﻿@model  IEnumerable<intra.Models.SistemaRepatriados.SSR_TelefonosRepatriados>

@{
    ViewBag.Title = "ListaContactoRepatriados";
    //Layout = "~/Views/intraMaster.cshtml";
    Layout = null;
}
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

@if (ViewBag.ContactoRepatriados != "")
{

    <script>
            swal({
                title: 'ERROR',
                text: 'Esta Persona no tiene contactos',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

<div class="row" style="margin-bottom:15px">
    <div class="col-md-6">
        <h2 class="h2_title_page">Listado Contactos</h2>
        @*<hr class="hr2" />*@
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">
            <button class="btn button_white" id="modal">Crear Nuevo</button>
        </div>

    </div>

</div>
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Tipo Telefono
            </th>
            <th>
                Numero Telefono
            </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SSR_Telefonos.SSR_TelefonosTipos.Descripcion
                </td>
                <td>
                    @item.SSR_Telefonos.Numero
                </td>
               
                <td></td>

            </tr>
        }
    </tbody>
</table>

