﻿@model IEnumerable<intra.Models.SistemaRepatriados.SSR_Repatriados>

@{ dbIntranet db = new dbIntranet();
    var contactRe = TempData["ContactoRepatriados"];

}

@{
    ViewBag.Title = "ListadoRepatriados";
    Layout = null;
}
<script src="~/scripts/sweetalert2.min.js"></script>
@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@
@*<script src="~/JS/jquery-ui.min.js"></script>*@
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
@*<script src="~/scripts/jquery.js"></script>*@





<style>
    .fila {
        color: #70707a !important;
        font-family: 'Gill Sans MT' !important;
    }

    .ui-widget-content a {
        color: #337ab7;
    }

    .CambiarEstado:hover {
        text-decoration: none;
        cursor: pointer;
    }

    #loading-animation-container {
        display: none;
    }

    .dl-horizontal dt {
        width: 145px;
        margin-top: 0.5%;
    }
    /*TABS NUEVOS*/
    .ui-widget-header {
        border: none !important;
        background: transparent !important;
        color: #222;
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 1.5em;
        text-decoration: none;
    }


    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #fff !important;
        text-decoration: none;
    }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #03607e !important;
        text-decoration: none;
        background-color: #53c7ed;
        font-weight: 500 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #2a9abe;
        background: #38afd5;
        font-weight: normal;
        color: #fff !important;
    }

    /*TABS*/
    .card {
        margin-top: 20px;
        padding: 30px 0;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            /*text-align: center;*/
        }

            .card.hovercard .card-background {
                height: 130px;
            }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard .useravatar {
        /*position: absolute;*/
        top: 15px;
        left: 0;
        right: 0;
    }

    .card.hovercard .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
    }

        .card.hovercard .card-info .card-title {
            padding: 0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .card.hovercard .card-info {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }

    .btn:active, .btn-primary {
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        color: #fff;
    }

    .btn-default:hover {
        background: #eee;
        border: 1px solid #999;
    }

    .well {
        border: none;
        background: transparent;
    }

    dd {
        /* background: #eee; */
        color: #999;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        line-height: 2em;
        font-weight: bold;
    }
</style>

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>


<div class="row" style="margin-bottom:15px">
    <div class="col-md-6">
        <h2 class="h2_title_page">Listado de Repatriados</h2>
     
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">
            <button class="btn button_white" id="modal"><i class="fa fa-plus alejar_icono"></i>Crear Nuevo</button> 
        </div>

    </div>

</div>

@*@Styles.Render("~/datatables/css")*@
@*Listado de Repatriados*@
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Procedencia
            </th>
            <th>
                Sexo
            </th>
            <th>
                Fecha Retorno
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="br-lines">
                <td>
                    @item.NombreCompleto
                    <input type="hidden" id="RepatriadoId" value="@item.RepatriadoId" />
                 
                </td>
                <td>@item.PaisProcedencia.PaisDescripcion</td>
                <td>
                   @if (item.Sexo == true)
                   {
                       ViewBag.Sexo = "Femenino";
                   }else { ViewBag.Sexo = "Masculino"; }
                    @ViewBag.Sexo
                </td>
                <td>
                    @item.FechaRetorno.ToString("dd/MM/yyyy")
                </td> 
                <td>
                    <div class="br-wrap-buttons">
                        <button type="button" id="ContactoRepatriado" class="btn button_white" onclick="Consultar(@item.RepatriadoId)"><span class="phone-icon"></span> Contactos</button>
                    </div>
                </td>
                <td>
                    <div class="br-wrap-buttons">
                        <button type="button" class="btn button_white btnRepatriadoServicio" onclick="CrearServicio(@item.RepatriadoId)"><span class="phone-icon"></span> Servicios</button>
                    </div>
                </td>
                <td>
                    <div class="br-wrap-buttons">
                        <button type="button" id="FamiliaresRepatriado" class="btn button_white" onclick="ConsultarFamiliares(@item.RepatriadoId)"><span class="family-icon"></span>Familiares</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@*Modal Creacion de Repatriados*@

<div id="myModal" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            @{
                Html.RenderPartial("~/Views/SistemaRepatriados/CrearRepatriados.cshtml", new intra.Models.SistemaRepatriados.SSR_Repatriados());
            }
        </div>
    </div>
</div>

@*MODAL CREAR FAMILIAR*@
<div id="myModalCrearFamiliar" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            @{
                Html.RenderPartial("~/Views/SistemaRepatriados/FamiliaresRepatriados.cshtml", new intra.Models.SistemaRepatriados.SSR_Familiares());
            }
        </div>
    </div>
</div>
 

@*MODAL CREAR CONTACTO*@
    <div id="myModalcontacto" class="modal fade br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="">
                <form id="contactosRepatriados">
                  

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" id="RepatriadoContacto" name="RepatriadoContacto" />
                    <section class="row">
                        <div class="col-md-4">
                            <h2 class="h2_title_page">Contacto Repatriado</h2>
                            <hr class="hr2" />
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right alejar_top btn-group botones">
                            
                                <button type="button" id="cerrarCrearContacto" name="cerrarCrearContacto" class="btn button_white">Cerrar</button>
                                <button type="button" id="Guardar" name="Guardar" onclick="CrearContacto()" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                            </div>

                        </div>
                    </section>


                    <div class="row">

                        <div class="col-lg-4">
                            <label>Tipo Telefono</label>
                            @Html.DropDownList("TelefonoTipoId", null, "Seleccione", new { @class = "form-control chosen-select" })
                        </div>

                        <div class="col-lg-4">
                            <label>Telefono</label>
                            <input type="text" id="NumeroTelefono" name="NumeroTelefono"  placeholder="(000)-000-0000" class="form-control" />
                        </div>
                    </div>
                    </form>
                  
            </div>
        </div>
    </div>

@*LISTADO DE CONTACTOS*@
    <div id="myModal1" class="modal fade br-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="">
                <div class="row" style="margin-bottom:15px">
                    <div class="col-md-6">
                        <h2 class="h2_title_page">Listado de contactos</h2>
                     
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right alejar_top">
                            <button type="button" id="listaContacto" name="listaContacto" onclick="cerrarlistaContacto()" class="btn button_white">Cerrar</button>
                            <button class="btn button_white" id="modalCrearContacto">Crear Nuevo</button>
                        </div>

                    </div>
                   
                </div>

                <div class="row" id="table" hidden="hidden">
                    <table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Tipo Telefono</th>
                                <th>Numero</th>

                                <th hidden="hidden"></th>
                            </tr>

                        </thead>
                        <tbody id="contacto1"></tbody>

                    </table>

                </div>


            </div>
        </div>
    </div>

@*LISTADO DE FAMILIARES*@
<div id="myModalFamiliares" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="row" style="margin-bottom:15px">
                <div class="col-md-6">
                    <h2 class="h2_title_page">Listado de Familiares</h2>
                 
                </div>
                <div class="col-md-6">
                    <div class="pull-right alejar_top">
                        <button class="btn button_white" id="modalCrearFamiliares">Crear Nuevo</button>
                    </div>

                </div>
               
            </div>

            <div class="row table-responsive" id="tableFamiliares" hidden="hidden">
                <table id="tableGrid" class="table display table-responsive responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Parentesco</th>
                            <th>Nacionalidad</th>
                            @*<th>Tipo Telefono</th>
                            <th>Numero</th>*@
                            <th>Provincia</th>
                            <th>Municipio</th>
                            <th>Ciudad</th>
                            <th>Distrito</th>
                            <th>Sector</th>
                            <th>Calle</th>
                            <th>Numero Casa</th>
                            <th hidden="hidden"></th>
                        </tr>

                    </thead>
                    <tbody id="familiares1"></tbody>

                </table>

            </div>


        </div>
    </div>
</div>
@*@Scripts.Render("~/datatables/js")*@


<script>
    $('#modal').click(function () {
       
        $('#myModal').modal('show');
    });

    $('#modalCrearContacto').click(function () {
        $('#myModalcontacto').modal();
        $('#myModalcontacto').modal('show');
        $('#myModal1').modal('hide');
    });
    $('#modalCrearFamiliares').click(function () {
        $("#FamiliaresRepatriados").val('');
        $("#myModalCrearFamiliar").modal();
        $('#myModalFamiliares').modal('hide');
    });

    $(document).ready(function () {
        $("#Cedula").mask('000-0000000-0');
        $("#NumeroTelefono").mask('(000)-000-0000');
    });

  $("#cerrarCrearContacto").click(function(){
        $('#myModalcontacto').modal('hide');
    });

  
</script>


@*Lista de contacto*@

<script>
    function Consultar(a) {
        $('#myModal1').modal();
        $("#contactosRepatriados")[0].reset();
         $("#TelefonoTipoId").val("");
   
        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("ListaContactoRepatriados")',
            type: 'POST',
            data: { id: a},
            success: function (data) {

                if (data) {
                   
                    console.log(data);
                    $("#loading-animation-container").hide();
                    $("#tableGrid1").DataTable().destroy();
                   // $("#hiden").val(a);
                    $("#contacto1").empty();
                    $("#RepatriadoContacto").val(a);
                    $.each(data, function (i, state) {
                     
                        $("#contacto1").append('<tr><td>'
                            + state.tipoTelefono + '</td><td>'
                            + state.NumeroTelefono + '</td><td id="contactoRepatriadoId" hidden="hidden">'
                            + state.RepatriadoId + '</td></tr>')
                        console.log(data);
                    });
                    $("#table").show();
                  //  load_datatable();


                }
                else {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'

                    });
                }
            }


        });
    }
    function cerrarModalRepatriado() {
        $("#myModal").modal('hide');
    }

    function cerrarlistaContacto() {
        $("#myModal1").modal('hide');
    };
</script>

@*Lista de familiares*@
<script>
    function ConsultarFamiliares(f) {
        $('#myModalFamiliares').modal();

        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("ListaFamiliaresRepatriados")',
            type: 'POST',
            data: { id: f},
            success: function (data) {

                if (data) {

                    console.log(data);
                    $("#loading-animation-container").hide();
                    $("#tableGridFamiliares").DataTable().destroy();
                   // $("#hiden").val(a);
                    $("#familiares1").empty();
                    $("#RepatriadoFamiliarId").val(f);
                    $.each(data, function (i, state) {

                        $("#familiares1").append('<tr><td>'
                            + state.NombreCompleto + '</td><td>'
                            + state.Parentesco + '</td><td>'
                            + state.Nacionalidad + '</td><td>'
                            //+ state.TipoTelefono + '</td><td>'
                            //+ state.Telefono + '</td><td>'
                            + state.Provincia + '</td><td>'
                            + state.Municipio + '</td><td>'
                            + state.Distrito + '</td><td>'
                            + state.Ciudad + '</td><td>'
                            + state.Sectores + '</td><td>'
                            + state.Calle + '</td><td>'
                            + state.NumeroCasa + '</td></tr>')
                        console.log(data);
                    });
                    $("#tableFamiliares").show();
                    //load_datatable();


                }
                else {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'

                    });
                }
            }


        });
    }
</script>

<script>
    $(document).ready(function () {
        $("#NumeroTelefono").mask('(000)-000-0000');
    });
</script>

@*CREACIÓN DE CONTACTO*@

<script>
    function CrearContacto() {
       var contacto3 = $("#RepatriadoContacto").val();

        $("#loading-animation-container").show();

        var request = $.ajax({
            url: '@Url.Action("CrearContactosRepatriados")',
            method: 'Post',
            data: $("#contactosRepatriados").serialize(),
        });
        request.done(function (data) {
         if (data.success == true) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    Consultar(contacto3);
                    $('#myModal1').modal('show');
                    $("#myModalcontacto").modal('hide');
                    $("#contactosRepatriados")[0].reset();
                    $("#TelefonoTipoId").val("");
                    $("#TelefonoTipoId").trigger("chosen:updated");
                   // openCity(event, 'familiares');
                });

               
                $("#loading-animation-container").hide();
            }
            else {

             swal({
                 title: 'Error',
                 text: data.Mensaje,
                 type: 'error',
                 confirmButtonColor: '#18212f',
                 confirmButtonText: 'Aceptar'
             });
                $("#loading-animation-container").hide();

            }
        })
    }
</script>