﻿
@{
    ViewBag.Title = "index";
    Layout = "~/Views/intraMaster.cshtml";
}

<p>
  Las vacaciones se le otorgarán de acuerdo el Artículo 53 de la Ley No. 41-08, de Función Pública luego de haber cumplido un año de servicio en la Institución, con una autorización previa por
    parte del Supervisor y el Director del área. Dicha autorización debe enviarse a la Dirección de Gestión Humana, como mínimo una semana antes de tomar las mismas.
</p>
<p>Solo se acumulan las vacaciones de dos (2) años consecutivos.</p>
<p>
    <strong>El tiempo a disfrutar de las vacaciones será como lo muestra la siguiente tabla:</strong>
</p>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <td>
                TIEMPO EN LA INSTITUCIÓN
            </td>
            <td>
                PERÍODO DE VACACIONES
            </td>
        </tr>
      </thead>
        <tr>
            <td>De 1 a 5 Años</td>
            <td>15 días</td>
        </tr>
        <tr>
            <td>De 5 a 10 Años</td>
            <td>20 días</td>
        </tr>
        <tr>
            <td>De 10 a 15 Años</td>
            <td>25 días</td>
        </tr>
        <tr>
            <td>De 15 Años en Adelante</td>
            <td>30 días</td>
        </tr>
</table>
<div class="row">
    <div class="col-lg-4">
        <div class="alert alert-info fechaEntrada" role="alert">
            <strong>INGRESO: </strong>	22/09/2016
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-warning tiempo" role="alert">
            <strong>TIEMPO:</strong> 2 AÑOS Y 5 MESES
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-success acumulados" role="alert">DÍAS ACUMULADOS</div>
        <div id="circle1" class="circle">15</div>
    </div>
</div>


<div>
    <h3>Seleccione el Período de sus Vacaciones</h3><hr>
    Fecha de Salida:
    <span style="margin-right: 15px;">
        <select style="width:10%;">
            <option value="Opción 1" selected>1</option>
            <option value="Opción 2">2</option>
            <option value="Opción 3">3</option>
            <option value="Opción 4">4</option>
        </select>
        <select style="width:25%;">
            <option value="Opción 1" selected>Enero</option>
            <option value="Opción 2">Febrero</option>
            <option value="Opción 3">Marzo</option>
            <option value="Opción 4">Abril</option>
        </select>
        <select style="width:20%;">
            <option value="Opción 1" selected>2016</option>
            <option value="Opción 2">2017</option>
        </select>
    </span>
    | Días a tomar:
    <select style="width:15%;">
        <option value="Opción 1" selected>1</option>
        <option value="Opción 2">2</option>
        <option value="Opción 2">3</option>
        <option value="Opción 2">4</option>
    </select>
    <br>
    <button class="buttonEnviar">ENVIAR</button>
</div>


