﻿@model intra.Models.Encuestas.FormularioEncuesta

@{
    ViewBag.Title = "Formulario de Satisfacción";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>

<style>
    input[type=checkbox], input[type=radio] {
        margin: 0 0;
        margin-top: 1px\9;
        line-height: normal;
    }

    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    

    h4.push-right{
    padding-left:15px;
    }


    /* CSS RADIO BUTTOMS */
    .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}

    

.option-input:checked { background: -webkit-linear-gradient(left, #0d48a1 0%, #00aeff 100%) }

.option-input:checked::before {
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  content: '\f00c';
  /*display: inline-block;*/
  font-size: 10px;
  text-align: center;
  line-height: 1px;
}
.option-input.radio {
    border: 3px solid#aaa;
    background-color: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
}
.space{
    padding:30px 0 0 15px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 18px !important;
}

</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="Holaaa">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row">
            <div class="col-md-6">
                <h2 class="h2_title_page">Encuesta de Satisfacción</h2>
                <hr class="hr2" />
            </div>
            <div class="col-md-6">
                <div class="pull-right alejar_top">
                    <button type="submit" value="Guardar" class="button_white">COMPLETAR</button>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <p class="alert alert-info">Para Nosotros es importante su opinión acerca de su satisfación con el servicio brindado para poder así continuar con la calidad del mismo.</p>
                </div>
            </div>

            <input type="hidden" id="solicitud" name="solicitud" value="@ViewBag.solicitud" hidden="hidden" />
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Descripción Servicio Realizado</h4>
                            <textarea style="height:120px !important" maxlength="450" rows="5" width="100%" name="DescripcionSolicitud" id="DescripcionSolicitud" class="form-control" readonly="readonly">@ViewBag.Descripcion</textarea>
                        </div>
                        <div class="col-md-6">
                            <h4>Solución Servicio</h4>
                            <textarea style="height:120px !important" maxlength="450" rows="5" width="100%" name="DescripcionSolicitud" id="DescripcionSolicitud" class="form-control" readonly="readonly">@ViewBag.Solucion</textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" hidden="hidden" id="PreguntasEncuestaId1" name="PreguntasEncuestaId1" value="@ViewBag.PreguntasEncuestaId1" />
                            <h4>Calidad del Servicio Brindado</h4>

                            <fieldset id="group1">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado1" name="Estado1" value="@ViewBag.EstadoId1" /><b class="space">Excelente</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado1" name="Estado1" value="@ViewBag.EstadoId2" /><b class="space">Bueno</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado1" name="Estado1" value="@ViewBag.EstadoId3" /><b class="space">Regular</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado1" name="Estado1" value="@ViewBag.EstadoId4" /><b class="space">Ineficiente</b>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" hidden="hidden" id="PreguntasEncuestaId2" name="PreguntasEncuestaId2" value="@ViewBag.PreguntasEncuestaId2" />
                        <h4 class="push-right">Tiempo de respuesta</h4>
                        <div class="col-md-12">
                            <fieldset id="group1">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado2" name="Estado2" value="@ViewBag.EstadoId1" /><b class="space">Excelente</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado2" name="Estado2" value="@ViewBag.EstadoId2" /><b class="space">Bueno</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado2" name="Estado2" value="@ViewBag.EstadoId3" /><b class="space">Regular</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado2" name="Estado2" value="@ViewBag.EstadoId4" /><b class="space">Ineficiente</b>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" hidden="hidden" id="PreguntasEncuestaId3" name="PreguntasEncuestaId3" value="@ViewBag.PreguntasEncuestaId3" />
                        <h4 class="push-right">Recibió un trato cortes y profesional ?</h4>
                        <div class="col-md-12">
                            <fieldset id="group1">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado3" name="Estado3" value="@ViewBag.EstadoId1" /><b class="space">Excelente</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado3" name="Estado3" value="@ViewBag.EstadoId2" /><b class="space">Bueno</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado3" name="Estado3" value="@ViewBag.EstadoId3" /><b class="space">Regular</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado3" name="Estado3" value="@ViewBag.EstadoId4" /><b class="space">Ineficiente</b>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>



                    <input type="text" hidden="hidden" id="PreguntasEncuestaId4" name="PreguntasEncuestaId4" value="@ViewBag.PreguntasEncuestaId4" />
                    <h4 class="push-right">Todas sus inquietudes fueron respondidas?</h4>
                    <div class="col-md-12">
                        <div class="form-group">
                            <fieldset id="group4">
                                <div class="row">
                                    <div class="col-lg-2">

                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado4" name="Estado4" value="@ViewBag.EstadoId1" /><b class="space">Si</b>
                                        </label>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="radio-inline">
                                            <input type="radio" class="option-input radio" id="Estado4" name="Estado4" value="@ViewBag.EstadoId2" /><b class="space">No</b>
                                        </label>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




}

@if (TempData["Solicitar"] != null)
            {
    <script>
        swal({
            title: 'Gracias por su tiempo',
            text: 'Se ha completado la encuesta satisfactoriamente!',
            type: 'success',
            confirmButtonColor: '#0c4ba4',
            confirmButtonText: 'Aceptar'
        }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index" });
    </script>
}

@if (TempData["Message"] != null)
{
    <script>
        swal({
            title: 'Gracias por su tiempo',
            text: 'Ya se ha realizado la encuesta!',
            type: 'success',
            confirmButtonColor: '#0c4ba4',
            confirmButtonText: 'Aceptar'
        }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index" });
    </script>
}

@if (TempData["Ok"] != null)
            {
    <script>
        wal({
            title: 'Error',
            text: 'Ya usted realizó esta Encuesta!',
            type: 'error',
            confirmButtonColor: '#0c4ba4',
            confirmButtonText: 'Aceptar'
        }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/Index" })

    </script>
}


