﻿@model IEnumerable<intra.Models.ViewModel.vServiciosIntranet>

@{
    ViewBag.Title = "ListadoEncuestadeSastifacion";
    Layout = "~/Views/intraMaster.cshtml";
    dbIntranet db = new dbIntranet();

}
@if (TempData["EncuestaReporte"] != null)
{
    <script>
        $(document).ready(function(){
            $("#encuestaReporte").prop("disabled", true);
        })
    </script>
}

@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@
@if(TempData["EncuestadeSatisfacion"] != null)
{
    <script>
        swal('Error',
              'Esta encuesta no ha sido realizada',
              'error')
    </script>
}
@Styles.Render("~/datatables/css")
<form id="formularioEncuesta" method="post">
    <div class="background_button_titles" id="DatosPersons">
        <div class="row">
            <div class="col-lg-6">
                <h4>Listado Encuesta de Satisfaccion</h4>
            </div>
            <div class="col-lg-6">
                <div class="pull-right actualizarDatos">
                    <button id="encuestaId" type="submit" class="btn button_white">Ver todos<i class="fa fa-eye alejar_icono"></i></button>
                </div>
            </div>
        </div>
    </div>

    <table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>Código Solicitud</th>
                <th>Solicitante</th>
                <th>Asignado</th>
                <th>Servicio</th>
                <th>Tipo solicitud</th>
                <th>Descripción</th>
                <th>Solución</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.SolicitudId
                    </td>
                    <td>
                        @item.Solicitante
                    </td>
                    <td>
                        @item.Responsable
                    </td>
                    <td>@item.TipoSolicitud</td>
                    <td>@item.SubActividad</td>
                    <td>@item.DescripcionSolicitud</td>
                    <td>@item.Solucion</td>
                   
                    <td>
                        <a id="encuestaReporte" href="@HttpRuntime.AppDomainAppVirtualPath/FormularioEncuestas/ReporteEncuestaServicios/@item.SolicitudId" class="btn button_white">Reporte</a>
                    </td>
                    
                </tr>
            }

        </tbody>

    </table>

</form>
@Scripts.Render("~/datatables/js")

<script>

    var tabla = $("#tableGrid").DataTable();

    tabla.order([0, 'desc']).draw();

</script>