﻿@model intra.Logs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Logs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogAccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogAccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sistemaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistemaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
