﻿@model IEnumerable<intra.Logs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogAccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sistemaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogAccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sistemaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogId })
        </td>
    </tr>
}

</table>
