﻿@model intra.Models.SolicitudModel 
@{
    ViewBag.Title = "ListadoChat";
    Layout = "~/Views/intraMaster.cshtml";
}


<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .serviciosSolicitud select {
        text-transform: capitalize;
        font-size: 12px;
        margin: 0 !important;
        padding: 8px !important;
    }

    .table.dataTable tbody th, table.dataTable tbody td span {
        padding-left: 26px;
    }


</style>
        <h2> Servicios Chat</h2>
            <table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
                <thead>
                    <tr>
                        
                        <th>Añadido Por</th>
                        
                        <th>Motivo</th>

                        <th>FechadeSolicitud</th>

                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tb_Vw_Mostrar_Lista_de_Asignacion_Chat)
                    {
                        <tr>
                            <td>@item.TecnicoUsuario</td>

                            <td>@item.Motivo</td>

                            <td>@item.FhCreacion.ToString("dd/MM/yyyy")</td>

                            <td><a href="~/OtrosChat/Chat?id=@item.CodigoSolicitud"><i style="padding-right: 50%; float: right; font-size: 16px;" class="fa fa-hand-o-up" aria-hidden="true"></i>Ir Al Chat</a></td>

                        </tr>
                    }
                </tbody>
            </table>


    
<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>
    
 


