﻿@model intra.Models.SolicitudModel
@using System.Web.Optimization
@using System.Globalization;
@{
    ViewBag.Title = "Servicios Solicitados";
    Layout = "~/Views/intraMaster.cshtml";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}

@Styles.Render("~/datatables/css")

@if (TempData["Actualizar"] != null)
{
    <script>
            swal({
                title: 'LISTO!!',
                text: 'SERVICIO ACTULIZADO CORRECTAMENTE',
                type: 'success',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

@using (Html.BeginForm("Consultas_de_Servicios", "Solicitados", FormMethod.Post))
{
    <div class="row br-solicitados-head">

        <div class="col-md-2 title">
            <h2 class="h2_title_page">Solicitados</h2>
            <hr class="hr2" />
        </div>

        <div class="col-md-10 content">
            <div class="<!--pull-right alejar_top--> cont">
                <div style="float:left; margin-left:2px;" class="br-item">
                    <label>Filtrar Por:</label>
                    @Html.DropDownListFor(model => model.CodigoTipoConsulta, new SelectList(Model.TipoConsulta, "ConsultaId", "Descripcion"), "Seleccione", new { id = "TipoConsultaId" })
                </div>
                <div id="Usuario" style="float:left;margin-left:2px; display:none">
                    <label>Usuario:</label>
                    @Html.TextBoxFor(model => model.FiltrarPorUsuario, new { @class = "form-control" })

                </div>
                <div id="Responsable" style="float:left;margin-left:2px;display:none;">
                    <label>Responsable:</label>
                    @Html.TextBoxFor(model => model.FiltrarPorResponsable, new { @class = "form-control" })
                </div>
                <div id="Fechas" style="float:left;margin-left:2px;display:none">
                    <div style="float:left;margin-left:2px" class="br-item">
                        <label>Fecha Inicial:</label>
                        @*<input type="text" name="FechaInicial" for="FechaInicial" placeholder="Fecha Inicial" class="date-picker form-control" />*@
                        @Html.TextBoxFor(model => model.FechaInicial, DateTime.Now.ToString("{0:dd/MM/yyyy}"), new
                        {@*id = "FechaFinal",*@@class = "date-picker form-control"
                    })
                    </div>
                    <div style="float:left;margin-left:2px" class="br-item">
                        <label>Fecha Final:</label>
                        @*<input type="text" name="FechaFinal" for="FechaFinal" placeholder="Fecha Final" class="date-picker form-control" />*@
                        @Html.TextBoxFor(model => model.FechaFinal, DateTime.Now.ToString("{0:dd/MM/yyyy}"), new
                        {@*id = "FechaFinal",*@@class = "date-picker form-control"
                    })
                    </div>

                </div>
                <div style="float:left;margin-left:2px;" class="br-item">
                    <label>Estados:</label>
                    @Html.DropDownListFor(model => model.CodigoEstadoConsulta, new SelectList(Model.EstadoConsulta, "EstadoId", "Descripcion"), "Todos", new { id = "EstadoConsultaId" })

                </div>
                <div style="float:left;  margin-left: 8px; margin-top: 20px;">

                    <button id="Consultar" name="Consultar" value="Consultar" type="submit" class="button_white"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>

            </div>
        </div>
    </div>


}
<div>
    @if (Model.MensajeError != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.MensajeError.ToString()
        </div>
    }
</div>
<div class="table-responsive br-table">
    <table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Dependencia</th>
                <th>Responsable</th>
                <th>Fecha de la Solicitud</th>
                <th>Días desde la solicitud</th>
                <th>Estatus</th>
                <th>Descripción Solicitud:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TB_Detalle_Lista)
            {
                var dias = DateTime.Now.Date - @item.FechaInicioSolicitud.Date;
                ViewBag.tiempo = dias.TotalDays;
                <tr>
                    <td>@item.NombreSolicitante</td>
                    <td>
                        @if (item.DependenciaId == 1)
                        {
                            @item.SubTipoSolicitud
                        }
                        else
                        {
                            @item.DependenciaNombre
                        }
                    </td>

                    <td>@item.NombreTecnico</td>
                    <td>@item.FechaInicioSolicitud.ToString("dd/MM/yyyy")</td>
                    <td>@ViewBag.tiempo días</td>
                    <td>
                        <a class="estatus estatus_rechazado" href="~/RegistroSolicitud/RegistroSolicitud?id=@item.CodigoSolicitud">
                            @item.EstadoSolicitud

                        </a>
                    </td>
                    <td>@item.DescripcionSolicitud</td>

                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>

<script type='text/javascript'>

    $(document).ready(function () {

        if ($("#TipoConsultaId").val() == 1) { $("#Usuario").show(); }
        else if ($("#TipoConsultaId").val() == 2) { $("#Responsable").show(); }
        else if ($("#TipoConsultaId").val() == 3) { $("#Fechas").show(); }

        $(function () {
            $('.date-picker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });

        $("#Consultar").click(function (e) {

            if ($("#TipoConsultaId").val() == 1 && $("#FiltrarPorUsuario").val() == "") {
                e.preventDefault();
                swal("Ingrese el usuario para buscar.", "", "info");
            }
            if ($("#TipoConsultaId").val() == 2 && $("#FiltrarPorResponsable").val() == "") {
                e.preventDefault();
                swal("Ingrese el responsable para buscar.", "", "info");
            }
            var reg = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
            if ($("#TipoConsultaId").val() == 3 && ($("input[name='FechaInicial']").val().match(reg) == null || $("input[name='FechaFinal']").val().match(reg) == null)) {
                e.preventDefault();
                swal("Ingrese formatos de fecha valida.", "", "info");
            }
        });

        $(function () {
            $("#TipoConsultaId").change(function () {
                if ($(this).val() == 1) {
                    $("#Usuario").show();
                    $("#Responsable").hide();
                    $("#Fechas").hide();
                }
                else if ($(this).val() == 2) {
                    $("#Usuario").hide();
                    $("#Responsable").show();
                    $("#Fechas").hide();
                }
                else if ($(this).val() == 3) {
                    $("#Usuario").hide();
                    $("#Responsable").hide();
                    $("#Fechas").show();
                }

                else {
                    $("#Usuario").hide();
                    $("#Responsable").hide();
                    $("#Fechas").hide();
                }
            });
        });

    });
</script>