﻿@model intra.IncidenciasServicios

@{
    ViewBag.Title = "Nueva Incidencia";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .serviciosSolicitud select, input[type='text'], input[type="datetime"] {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle
    }


 
</style>

<script>
    $(function () {
        $("#SuplidorId").change(function () {
            var url = 'GetSuplidor'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#SuplidorId").val() },
                success: function (data) {
                    $("#IncidenciasTipoId").empty();
                    $("#IncidenciasTipoId").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, IncidenciasTipos) {
                        $("#IncidenciasTipoId").append('<option value="' + IncidenciasTipos.Value + '">' + IncidenciasTipos.Text + '</option>')
                    })
                }

            });

        });

        $('#SuplidorId').change(function () {
            if ($(this).val() != 0) {
                $('#IncidenciasTipoId').val($(this).val());
            }

        });


    });
</script>

<h2>Nueva Incidencia</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="serviciosSolicitud">

        <div class="row">
            <div class="col-lg-3">
                <label for="Suplidor">Suplidor</label>
            </div>
            <div class="col-lg-9">
                @Html.DropDownList("SuplidorId", (SelectList)ViewBag.Suplidor, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.SuplidorId, "", new { @class = "text-danger" })*@
                @*@Html.DropDownListFor(model => model.SuplidorId, new SelectList(ViewBag.Suplidor, "SuplidorId", "Descripcion"), "Seleccione", new { id = "SuplidorId" })*@


            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="IncidenciasTipos">Tipo</label>
            </div>
            <div class="col-lg-9">
                @Html.DropDownList("IncidenciasTipoId", (SelectList)ViewBag.IncidenciasTipos, "--Seleccione")
                
                @*@Html.ValidationMessageFor(model => model.IncidenciasTipoId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="IncidenciasAreas">Area</label>
            </div>
            <div class="col-lg-9">
                @Html.DropDownList("IncidenciasAreaId", (SelectList)ViewBag.IncidenciasAreas, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="Suplidor">Solucion</label>
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.IncidenciasSolucion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasSolucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="Suplidor">Receptor</label>
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.IncidenciasReceptorReporte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasReceptorReporte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row serviciosSolicitud">
            <div class="col-lg-3">
                <label for="Suplidor">Fecha Solucion</label>
            </div>
            <div class="col-lg-9">
                @Html.EditorFor(model => model.IncidenciasFechaSolucion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasFechaSolucion, "", new { @class = "text-danger" })
            </div>
        </div>

    

        <div class="row">
            <div class="col-lg-3">
                <label for="Suplidor">Observaciones</label>
            </div>
            <div class="col-lg-9">
                    @Html.EditorFor(model => model.IncidenciasObservaciones, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IncidenciasObservaciones, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                <input type="submit" value="Crear" class="buttonEnviar" />
            </div>
         </div>



</section>
}

