﻿@model intra.IncidenciasServicios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncidenciasServicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasReceptorReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasReceptorReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasSolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasSolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasFechaSolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasFechaSolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasEstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplidorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasTipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasTipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasAreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasAreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasObservaciones)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
