﻿@model IEnumerable<intra.Models.Repositorio.SubSeccionRepositorio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>División</h2>

<p>
    @if (User.IsInRole("REP (Admin)"))
    {
        @Html.ActionLink("Regresar a Secciones", "Index", "SeccionRepositorios", null, new { @class = "btn btn-primary" })
    }
</p>

<table class="table">
    <tr>
        @*<th>
            @Html.Label("Sección Repositorio")
            @Html.DisplayNameFor(model => model.SeccionRepositorio.SeccionRepositorioDescripcion)
        </th>*@
        <th>
            @Html.Label("Sub-Sección Repositorio")
            @*@Html.DisplayNameFor(model => model.SubSeccionRepositorioDescripcion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
          @Html.DisplayFor(modelItem => item.SeccionRepositorio.SeccionRepositorioDescripcion)
        </td>*@
        <td>
            @Html.ActionLink(item.SubSeccionRepositorioDescripcion, "Index", "Repositorio", new {idSubSeccion = item.SubSeccionRepositorioId, idSeccion = item.SeccionRepositorioId }, null)
        </td>
        <td>
            @*@Html.ActionLink("Index","Repositorio", new {idSubSeccion = item.SubSeccionRepositorioId,idSeccion = item.SeccionRepositorioId})*@
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SubSeccionRepositorioId }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.SubSeccionRepositorioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubSeccionRepositorioId })*@
        </td>
    </tr>
}

</table>
