﻿
@{
    ViewBag.Title = "Areas";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<style>
    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>
<h2>Reporte de empleados por área</h2>

@using (Html.BeginForm("Areas", "sp_report_ponches_Result", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_areas" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" id="DIV_DEPARTAMENTO">
            <label for="DependenciaID" class="control-label col-md-2">Departamento</label>
            <div class="col-md-10">
                <select id="DeptoID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group" id="DIV_DIVISION">
            <label for="DivisionID" class="control-label col-md-2">División</label>
            <div class="col-md-10">
                <select id="DivisionID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group" id="DIV_SECCION">
            <label for="SeccionID" class="control-label col-md-2">Sección</label>
            <div class="col-md-10">
                <select id="SeccionID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="FECHA_INICIO" class="control-label col-md-2">Fecha de inicio</label>
            <div class="col-md-10">
                <input type="datetime" id="FECHA_INICIO" name="FECHA_INICIO" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="FECHA_FIN" class="control-label col-md-2">Fecha de fin</label>
            <div class="col-md-10">
                <input type="datetime" id="FECHA_FIN" name="FECHA_FIN" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="someSwitchOptionDefault" class="control-label col-md-2">Sólo injutificados</label>
            <div class="material-switch pull-right col-md-10">
                <input type="checkbox" id="someSwitchOptionDefault" name="someSwitchOption001" hidden value="0" />
                <label for="someSwitchOptionDefault" class="label-primary"></label>
            </div>
        </div>

        <p align="right"><a id="reporte_areas_link">Generar reporte</a></p>

        <input type="hidden" id="posicion" />
        <input type="hidden" id="hidden_dependency" />
        <input type="hidden" id="hidden_department" />
        <input type="hidden" id="hidden_division" />
        <input type="hidden" id="hidden_section" />

    </div>
}

<form id="form_rpa" method="post" target="Npgr" action="~/sp_report_ponches_Result/ReportAreas">
    <input id="hidden_a" name="a" value="" type="hidden"/>
    <input id="hidden_b" name="b" value="" type="hidden"/>
    <input id="hidden_c" name="c" value="" type="hidden"/>
    <input id="hidden_d" name="d" value="" type="hidden"/>
    <input id="hidden_e" name="e" value="" type="hidden"/>
    <input id="hidden_f" name="f" value="" type="hidden"/>
</form>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script>
    function load_dropdowns() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("LoadView")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (states) {
                if(states=='Empty'){

                }
                else if (states.chain == 'DEPENDENCIA') {
                    $("#DeptoID").append('<option value="' + 0 + '">Seleccione</option>')
                    $.each(states.select_list, function (i, state) {
                        $("#DeptoID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                    });
                    $('#DIV_DIVISION').hide();
                    $('#DIV_SECCION').hide();
                    $('#posicion').val("DEPENDENCIA");
                    $('#hidden_dependency').val(states.hidden_dependency);
                }
                else if(states.chain == 'DEPARTAMENTO'){
                    $("#DivisionID").append('<option value="' + 0 + '">Seleccione</option>')
                    $.each(states.select_list, function (i, state) {
                        $("#DivisionID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                    });
                    $('#DIV_DEPARTAMENTO').hide();
                    $('#DIV_SECCION').hide();
                    $('#posicion').val("DEPARTAMENTO");
                    $('#hidden_dependency').val(states.hidden_dependency);
                    $('#hidden_department').val(states.hidden_department);
                }
                else if (states.chain == 'DIVISION') {
                    if(states.select_list.length>0){
                        $("#SeccionID").append('<option value="' + 0 + '">Seleccione</option>');
                        $.each(states.select_list, function (i, state) {
                            $("#SeccionID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                        });
                        $('#DIV_DEPARTAMENTO').hide();
                        $('#DIV_DIVISION').hide();
                        $('#posicion').val("DIVISION");
                        $('#hidden_dependency').val(states.hidden_dependency);
                        $('#hidden_department').val(states.hidden_department);
                        $('#hidden_division').val(states.hidden_division);
                    } else {
                        $('#DIV_DEPARTAMENTO').hide();
                        $('#DIV_DIVISION').hide();
                        $('#DIV_SECCION').hide();
                        $('#view_employees').hide()
                        //load_employees();
                        $('#posicion').val("DIVISION");
                        $('#hidden_dependency').val(states.hidden_dependency);
                        $('#hidden_department').val(states.hidden_department);
                        $('#hidden_division').val(states.hidden_division);
                        $('#DIV_TABLA').show();
                    }

                } else if (states.chain == 'SECCION') {
                    $('#DIV_DEPARTAMENTO').hide();
                    $('#DIV_DIVISION').hide();
                    $('#DIV_SECCION').hide();
                    $('#view_employees').hide();
                    //load_employees();
                    $('#posicion').val("SECCION");
                    $('#hidden_dependency').val(states.hidden_dependency);
                    $('#hidden_department').val(states.hidden_department);
                    $('#hidden_division').val(states.hidden_division);
                    $('#hidden_section').val(states.hidden_section);
                    $('#DIV_TABLA').show();
                }
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
                load_dropdowns();
            }
        });

        return;
    }
</script>
<script>
    $(document).ready(function () {
        load_dropdowns();
        $('#mostrar_subareas').hide();

    });

    $('#DeptoID').change(function () {
        $('#SeccionID').val(0);
        $('#DivisionID').val(0);
        $('#DIV_SECCION').hide();
        $('#DIV_DIVISION').hide();
        $('#DIV_TABLA').hide();

        $('#mostrar_subareas').hide();

        if ($('#DeptoID').val() != "0") {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
            }).then(function () {
                $.ajax({
                    url: '@Url.Action("ReloadView")',
                    type: 'POST',
                    data: { 'hierarchy': "DEPARTAMENTO", 'department_value': $('#DeptoID').val(), 'division_value': "0", 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {

                        }
                        else if (states.chain == 'DEPARTAMENTO') {
                            if (($('#DIV_DIVISION').is(":hidden") == false) || ($('#DIV_SECCION').is(":hidden") == false)) {
                                //$('#DIV_DIVISION').hide();
                                $('#DIV_SECCION').hide();
                                $('#DivisionID').val(0);
                                $('#SeccionID').val(0);
                            }

                            $("#DivisionID").empty();
                            $("#DivisionID").append('<option value="' + 0 + '">Seleccione</option>')
                            $.each(states.select_list, function (i, state) {
                                $("#DivisionID").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                            });

                            if (states.select_list.length > 0) {
                                $('#DIV_DIVISION').show();
                                $('#DIV_SECCION').hide();
                            } else if ($('#DeptoID').val() > 0) {
                                swal("", "No existen divisiones para este departamento.");
                            }
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });

            })
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadView")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DEPENDENCIA') {
                        //location.reload();
                    }
                },
                error: function (ex) {

                }
            });
        }
    });

    $('#DivisionID').change(function () {
        $('#SeccionID').val(0);
        $('#DIV_SECCION').hide();
        $('#DIV_TABLA').hide();

        $('#mostrar_subareas').hide();

        if ($('#DivisionID').val() != "0") {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
            }).then(function () {
                $.ajax({
                    url: '@Url.Action("ReloadView")',
                    type: 'POST',
                    data: { 'hierarchy': "DIVISION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {

                        }
                        else if (states.chain == 'DIVISION') {
                            $("#SeccionID").empty();
                            $("#SeccionID").append('<option value="' + 0 + '">Seleccione</option>')
                            $.each(states.select_list, function (i, state) {
                                $("#SeccionID").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                            });


                            if (states.select_list.length > 0) {
                                $('#DIV_SECCION').show();
                            } else if ($('#DivisionID').val() > 0) {
                                swal("", "No existen secciones para esta división.", "info");
                            }

                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadView")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DEPARTAMENTO') {
                        //location.reload();
                    }
                },
                error: function (ex) {

                }
            });
        }
    });

    $('#SeccionID').change(function () {

        if ($('#SeccionID').val() == "0") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadView")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DIVISION') {
                        //location.reload();
                    }
                },
                error: function (ex) {

                }
            })
        } else {
            $('#mostrar_subareas').hide();

            $('#DIV_TABLA').hide();
        }
    });
</script>
<script>

    $('#FECHA_INICIO').datepicker({
        dateFormat: "dd/mm/yy"
    });

    $('#FECHA_FIN').datepicker({
        dateFormat: "dd/mm/yy"
    });
</script>
<script>
    $('#mostrar_subareas').click(function () {
        if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == true)
            && ($('#DIV_SECCION').is(":hidden") == true)) {

            $.ajax({
                url: '@Url.Action("ReloadView")',
                type: 'POST',
                data: { 'hierarchy': "DEPARTAMENTO", 'department_value': $('#DeptoID').val(), 'division_value': "0", 'section_value': "0" },
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DEPARTAMENTO') {
                        if (($('#DIV_DIVISION').is(":hidden") == false) || ($('#DIV_SECCION').is(":hidden") == false)) {
                            //$('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').hide();
                            $('#DivisionID').val(0);
                            $('#SeccionID').val(0);
                        }

                        $("#DivisionID").empty();
                        $("#DivisionID").append('<option value="' + 0 + '">Seleccione</option>')
                        $.each(states.select_list, function (i, state) {
                            $("#DivisionID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        });

                        if (states.select_list.length > 0) {
                            $('#DIV_DIVISION').show();
                            $('#DIV_SECCION').hide();
                        } else if ($('#DeptoID').val() > 0) {
                            swal("", "No existen divisiones para este departamento.");
                        }
                    }
                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                    load_dropdowns();
                }
            });
        } else if (($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == true)) {
            $.ajax({
                url: '@Url.Action("ReloadView")',
                type: 'POST',
                data: { 'hierarchy': "DIVISION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': "0" },
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DIVISION') {
                        $("#SeccionID").empty();
                        $("#SeccionID").append('<option value="' + 0 + '">Seleccione</option>')
                        $.each(states.select_list, function (i, state) {
                            $("#SeccionID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        });


                        if (states.select_list.length > 0) {
                            $('#DIV_SECCION').show();
                        } else if ($('#DivisionID').val() > 0) {
                            swal("", "No existen secciones para esta división.", "info");
                        }

                    }
                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                    load_dropdowns();
                }
            });
        } else if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
            && ($('#DIV_SECCION').is(":hidden") == false)) {
            swal("", "No hay sub-áreas", "error");
        }
    });
</script>
<script>
    $(function () {
        $('#someSwitchOptionDefault').on('change', function (e) {
            e.stopPropagation();
            this.value = this.checked ? 1 : 0;
        })
    })
</script>
<script>
    $('#reporte_areas_link').click(function () {
        $('#hidden_a').attr("id", "hidden_1");
        $('#hidden_b').attr("id", "hidden_2");
        $('#hidden_c').attr("id", "hidden_3");
        $('#hidden_d').attr("id", "hidden_4");
        $('#hidden_e').attr("id", "hidden_5");
        $('#hidden_f').attr("id", "hidden_6");

        if ($('#posicion').val() == "DEPENDENCIA") {
            if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == true)
            && ($('#DIV_SECCION').is(":hidden") == true)) {

                $('#hidden_1').val($('#DeptoID').val());
                $('#hidden_2').val("0");
                $('#hidden_3').val("0");
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());

            } else if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
                && ($('#DIV_SECCION').is(":hidden") == true)) {

                $('#hidden_1').val($('#DeptoID').val());
                $('#hidden_2').val($('#DivisionID').val());
                $('#hidden_3').val("0");
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());

            } else if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
                && ($('#DIV_SECCION').is(":hidden") == false)) {

                $('#hidden_1').val($('#DeptoID').val());
                $('#hidden_2').val($('#DivisionID').val());
                $('#hidden_3').val($('#SeccionID').val());
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());
            }
        } else if ($('#posicion').val() == "DEPARTAMENTO") {
            if (($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == true)) {

                $('#hidden_1').val($('#hidden_department').val());
                $('#hidden_2').val($('#DivisionID').val());
                $('#hidden_3').val($('#SeccionID').val());
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());

            } else if (($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == false)) {

                $('#hidden_1').val($('#hidden_department').val());
                $('#hidden_2').val($('#DivisionID').val());
                $('#hidden_3').val("0");
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());

            } else if (($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
                && ($('#DIV_SECCION').is(":hidden") == false)) {

                $('#hidden_1').val($('#DeptoID').val());
                $('#hidden_2').val($('#DivisionID').val());
                $('#hidden_3').val($('#SeccionID').val());
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());
            }
        } else if ($('#posicion').val() == "DIVISION") {
            
            if ($('#DIV_SECCION').is(":hidden") == true) {
                $('#hidden_1').val($('#hidden_department').val());
                $('#hidden_2').val($('#hidden_division').val());
                $('#hidden_3').val("");
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());
            } else if ($('#DIV_SECCION').is(":hidden") == false) {
                $('#hidden_1').val($('#hidden_department').val());
                $('#hidden_2').val($('#hidden_division').val());
                $('#hidden_3').val($('#SeccionID').val());
                $('#hidden_4').val($('#FECHA_INICIO').val());
                $('#hidden_5').val($('#FECHA_FIN').val());
                $('#hidden_6').val($('#someSwitchOptionDefault').val());
            } 
        } else if ($('#posicion').val() == "SECCION") {
            $('#hidden_1').val($('#hidden_department').val());
            $('#hidden_2').val($('#hidden_division').val());
            $('#hidden_3').val($('#hidden_section').val());
            $('#hidden_4').val($('#FECHA_INICIO').val());
            $('#hidden_5').val($('#FECHA_FIN').val());
            $('#hidden_6').val($('#someSwitchOptionDefault').val());
        }

        $('#form_rpa').submit();
    });
</script>