﻿@model intra.Models.GestionHumana.Vw_Mostrar_Personal_Permisos_PGR
@{
    ViewBag.Title = "Acceso denegado";
    Layout = "~/Views/intraMaster.cshtml";
}

<div> 
    <h2>Acceso denegado</h2>
    <div class="form-horizontal">
        <p>No está autorizado para visualizar la información de este empleado.</p>
    </div>
</div>
