﻿@model intra.Models.GestionHumana.Vw_Mostrar_Personal_Permisos_PGR
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}
@using System.Globalization;

<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
@*<link rel="stylesheet" href="~/Content/css/sweetalert.css" />*@
<link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<style>
    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative; 
        width: 40px;  
    }
    .control-label1{
        color:inherit;
      }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }
    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }
    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }
    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>
<h2>Ponches de: <strong>@Model.NombreCompleto</strong></h2>
<div id="formulario_poncha" style="font-size:large; font-weight:bold;color:#38afd4;">
@using (Html.BeginForm("Edit", "sp_report_ponches_Result", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_index" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="FECHA_INICIO" class="control-label col-md-2">Fecha de inicio</label>
            <div class="col-md-10">
                <input type="datetime" id="FECHA_INICIO" name="FECHA_INICIO" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="FECHA_FIN" class="control-label col-md-2">Fecha de fin</label>
            <div class="col-md-10">
                <input type="datetime" id="FECHA_FIN" name="FECHA_FIN" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="someSwitchOptionDefault" class="control-label col-md-2">Sólo injutificados</label>
            <div class="material-switch pull-right col-md-10">
                <input type="checkbox" id="someSwitchOptionDefault" name="someSwitchOption001" hidden value="0"/>
                <label for="someSwitchOptionDefault" class="label-primary"></label>
            </div>
        </div>
        
        <input type="hidden" id="Codigo" name="Codigo" value="@Model.Codigo"/>

        @Html.HiddenFor(model => model.FechaInicio)
        @Html.HiddenFor(model => model.FechaFin)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="actualizar_tabla" value="Mostrar datos" class="btn-default buttonEnviar" />
            </div>
        </div>
    </div>
}

<br/>

<!-- Trigger the modal with a button -->
<button type="button" style="display:none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="background-color:none;opacity:0.0;">

        <!-- Modal content-->
        <div class="modal-content" style="background-color:none">
            <div class="modal-header" style="background-color:none;opacity:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color:none;opacity:1;">
            </div>
            <div class="modal-footer" style="background-color:none;opacity:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <center><img src="~/Content/images/gif_intranet_loading.gif" width="200" height="200" /></center>
</div>

<p align="left"><label id="texto_inicial">Mostrando últimos 30 ponches</label></p>

<table id="tableGrid" class="table table-striped table-hover responsive display no-wrap" width="100%">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora de entrada</th>
            <th>Hora de salida</th>
            <th>Entrada 2</th>
            <th>Salida 2</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody id="table_body">
        @if (Model != null)
            {
                foreach (var item in Model.ponches)
                {
                <tr>
                    @if (@item.Fecha_Ponche != null)
                    {
                        <td><span style="display:none;">@item.Fecha_Ponche.Value.Date.ToString("yyyyMMdd")</span> @item.Fecha_Ponche.Value.Date.ToString("dd-MM-yyyy")</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }

                    @if (@item.poncheENTRADA != null)
                    {
                        <td> @item.poncheENTRADA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }

                    @if (@item.poncheSALIDA != null)
                    {
                        <td> @item.poncheSALIDA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }

                    @if (@item.poncheENTRADA1 != null)
                    {
                        <td> @item.poncheENTRADA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }

                    @if (@item.poncheSALIDA1 != null)
                    {
                        <td> @item.poncheSALIDA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }

                    <td>@item.Observacion</td>
                </tr>
            }
        }
    </tbody>
</table>

<br/>
<form id="form_rp" method="POST" target="Npgr" action="~/sp_report_ponches_Result/Report">
    <input id="hidden_a" name="a" value="@Model.Codigo" type="hidden"/>
    <input id="hidden_b" name="b" value="" type="hidden" />
    <input id="hidden_c" name="c" value="" type="hidden" />
    <input id="hidden_d" name="d" value="@ViewBag.Kpe" type="hidden" />
    <input id="hidden_e" name="e" value="" type="hidden"/>
</form>

<p align="right"><a id="reporte_link">Generar reporte</a></p>
</div>
<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script>
    $(function () {
        $('#someSwitchOptionDefault').on('change', function (e) {
            e.stopPropagation();
            this.value = this.checked ? 1 : 0;
        })
    })
</script>
<script>
    $('#FECHA_INICIO').datepicker({
        dateFormat: "dd/mm/yy"
    });

    $('#FECHA_FIN').datepicker({
        dateFormat: "dd/mm/yy"
    });
</script>
<script>
    function load_datatable() {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    }
</script>
<script>
    $('#actualizar_tabla').click(function () {
        //var _0x7481 = ["\x63\x6C\x69\x63\x6B", "\x5B\x64\x61\x74\x61\x2D\x74\x61\x72\x67\x65\x74\x3D\x22\x23\x6D\x79\x4D\x6F\x64\x61\x6C\x22\x5D", "", "\x76\x61\x6C", "\x23\x46\x45\x43\x48\x41\x5F\x49\x4E\x49\x43\x49\x4F", "\x23\x46\x45\x43\x48\x41\x5F\x46\x49\x4E", "\x40\x55\x72\x6C\x2E\x41\x63\x74\x69\x6F\x6E\x28\x22\x4C\x6F\x61\x64\x50\x6F\x6E\x63\x68\x65\x73\x22\x29", "\x50\x4F\x53\x54", "\x23\x43\x6F\x64\x69\x67\x6F", "\x45\x6D\x70\x74\x79", "\x65\x6D\x70\x74\x79", "\x23\x74\x61\x62\x6C\x65\x5F\x62\x6F\x64\x79", "\x5B\x64\x61\x74\x61\x2D\x64\x69\x73\x6D\x69\x73\x73\x3D\x22\x6D\x6F\x64\x61\x6C\x22\x5D", "\x46\x49\x4D\x59", "\x4C\x61\x20\x66\x65\x63\x68\x61\x20\x64\x65\x20\x69\x6E\x69\x63\x69\x6F\x20\x65\x73\x20\x6D\x61\x79\x6F\x72\x20\x71\x75\x65\x20\x6C\x61\x20\x66\x65\x63\x68\x61\x20\x64\x65\x20\x66\x69\x6E", "\x65\x72\x72\x6F\x72", "\x64\x65\x73\x74\x72\x6F\x79", "\x23\x74\x61\x62\x6C\x65\x47\x72\x69\x64", "\x3C\x74\x72\x3E\x3C\x74\x64\x3E", "\x46\x65\x63\x68\x61\x5F\x50\x6F\x6E\x63\x68\x65", "\x3C\x2F\x74\x64\x3E\x3C\x74\x64\x3E", "\x70\x6F\x6E\x63\x68\x65\x45\x4E\x54\x52\x41\x44\x41", "\x70\x6F\x6E\x63\x68\x65\x53\x41\x4C\x49\x44\x41", "\x4F\x62\x73\x65\x72\x76\x61\x63\x69\x6F\x6E", "\x3C\x2F\x74\x64\x3E\x3C\x2F\x74\x72\x3E", "\x61\x70\x70\x65\x6E\x64", "\x65\x61\x63\x68", "\x23\x46\x65\x63\x68\x61\x49\x6E\x69\x63\x69\x6F", "\x23\x46\x65\x63\x68\x61\x46\x69\x6E", "\x68\x69\x64\x65", "\x23\x74\x65\x78\x74\x6F\x5F\x69\x6E\x69\x63\x69\x61\x6C", "\x73\x68\x6F\x77", "\x23\x72\x65\x70\x6F\x72\x74\x65\x5F\x6C\x69\x6E\x6B", "\x4E\x6F\x20\x70\x75\x64\x6F\x20\x63\x61\x72\x67\x61\x72\x20\x6C\x6F\x73\x20\x74\x69\x70\x6F\x73\x3A\x20", "\x61\x6A\x61\x78", "\x44\x65\x62\x65\x20\x6C\x6C\x65\x6E\x61\x72\x20\x74\x6F\x64\x6F\x73\x20\x6C\x6F\x73\x20\x63\x61\x6D\x70\x6F\x73\x2E"]; $(_0x7481[1])[_0x7481[0]](), _0x7481[2] != $(_0x7481[4])[_0x7481[3]]() && null != $(_0x7481[4])[_0x7481[3]]() && _0x7481[2] != $(_0x7481[5])[_0x7481[3]]() && null != $(_0x7481[5])[_0x7481[3]]() ? $[_0x7481[34]]({ url: _0x7481[6], type: _0x7481[7], data: { begin_date: $(_0x7481[4])[_0x7481[3]](), end_date: $(_0x7481[5])[_0x7481[3]](), employee_id: $(_0x7481[8])[_0x7481[3]]() }, success: function (_0xf1a6x1) { if (_0x7481[9] == _0xf1a6x1) { $(_0x7481[11])[_0x7481[10]](), $(_0x7481[12])[_0x7481[0]]() } else { if (_0x7481[13] == _0xf1a6x1) { $(_0x7481[12])[_0x7481[0]](), swal(_0x7481[2], _0x7481[14], _0x7481[15]) } else { $(_0x7481[17]).DataTable()[_0x7481[16]](), $(_0x7481[11])[_0x7481[10]](), $[_0x7481[26]](_0xf1a6x1, function (_0xf1a6x1, _0xf1a6x2) { $(_0x7481[11])[_0x7481[25]](_0x7481[18] + _0xf1a6x2[_0x7481[19]] + _0x7481[20] + _0xf1a6x2[_0x7481[21]] + _0x7481[20] + _0xf1a6x2[_0x7481[22]] + _0x7481[20] + _0xf1a6x2[_0x7481[23]] + _0x7481[24]) }); var _0xf1a6x2 = $(_0x7481[4])[_0x7481[3]](), _0xf1a6x3 = $(_0x7481[5])[_0x7481[3]](); $(_0x7481[27])[_0x7481[3]](_0xf1a6x2), $(_0x7481[28])[_0x7481[3]](_0xf1a6x3), $(_0x7481[30])[_0x7481[29]](), $(_0x7481[32])[_0x7481[31]](), load_datatable(), $(_0x7481[12])[_0x7481[0]]() } } }, error: function (_0xf1a6x1) { alert(_0x7481[33] + _0xf1a6x1) } }) : ($(_0x7481[12])[_0x7481[0]](), swal(_0x7481[2], _0x7481[35], _0x7481[15]))

        // This is just a sample script. Paste your real code (javascript or HTML) here.
        $("[data-target=\"#myModal\"]").click();

        if (($('#FECHA_INICIO').val() == "" || $('#FECHA_INICIO').val() == null) && ($('#FECHA_FIN').val() == "" || $('#FECHA_FIN').val() == null) && $('#someSwitchOptionDefault').val() == "1") {
            $.ajax({
                url: '@Url.Action("LoadPonches")',
                type: "POST",
                data: {
                    begin_date: "",
                    end_date: "",
                    employee_id: $("#Codigo").val(),
                    only_unjustified: $('#someSwitchOptionDefault').val()
                },
                success: function (_0xf1a6x1) {
                    if ("Empty" == _0xf1a6x1) {
                        $("#table_body").empty();
                        $("[data-dismiss=\"modal\"]").click();
                    } else {
                        if ("FIMY" == _0xf1a6x1) {
                            $("[data-dismiss=\"modal\"]").click();
                            swal("", "La fecha de inicio es mayor que la fecha de fin", "error");
                        } else {
                            $("#tableGrid").DataTable().destroy();
                            $("#table_body").empty();
                            $.each(_0xf1a6x1, function (_0xf1a6x1, _0xf1a6x2) {
                                $("#table_body").append("<tr><td><span style='display:none;'>" + _0xf1a6x2.Fecha_Ponche_IndexSort + "</span>" + _0xf1a6x2.Fecha_Ponche + "</td><td>" + _0xf1a6x2.poncheENTRADA + "</td><td>" + _0xf1a6x2.poncheSALIDA + "</td><td>" + _0xf1a6x2.poncheENTRADA1 + "</td><td>" + _0xf1a6x2.poncheSALIDA1 + "</td><td>" + _0xf1a6x2.Observacion + "</td></tr>");
                            });

                            var _0xf1a6x2 = $("#FECHA_INICIO").val();
                            var _0xf1a6x3 = $("#FECHA_FIN").val();
                            $("#FechaInicio").val(_0xf1a6x2);
                            $("#FechaFin").val(_0xf1a6x3);
                            $("#texto_inicial").hide();
                            $("#reporte_link").show();
                            load_datatable();
                            $("[data-dismiss=\"modal\"]").click();
                        }
                    }
                },
                error: function (_0xf1a6x1) {
                    $("[data-dismiss=\"modal\"]").click();
                    swal("", "Ha ocurrido un error" + _0xf1a6x1, "error");
                    console.log(_0xf1a6x1);
                }
            });
        }else if ("" != $("#FECHA_INICIO").val() && null != $("#FECHA_INICIO").val() && "" != $("#FECHA_FIN").val() && null != $("#FECHA_FIN").val()) {
            $.ajax({
                url: '@Url.Action("LoadPonches")',
                type: "POST",
                data: {
                    begin_date: $("#FECHA_INICIO").val(),
                    end_date: $("#FECHA_FIN").val(),
                    employee_id: $("#Codigo").val(),
                    only_unjustified : $('#someSwitchOptionDefault').val()
                },
                success: function (_0xf1a6x1) {
                        if ("Empty" == _0xf1a6x1) {
                        $("#table_body").empty();
                        $("[data-dismiss=\"modal\"]").click();
                        }else {
                            if ("FIMY" == _0xf1a6x1) {
                                $("[data-dismiss=\"modal\"]").click();
                                swal("", "La fecha de inicio es mayor que la fecha de fin", "error");
                            } else {
                                $("#tableGrid").DataTable().destroy();
                                $("#table_body").empty();
                                $.each(_0xf1a6x1, function (_0xf1a6x1, _0xf1a6x2) {
                                    $("#table_body").append("<tr><td><span style='display:none;'>" + _0xf1a6x2.Fecha_Ponche_IndexSort + "</span>" + _0xf1a6x2.Fecha_Ponche + "</td><td>" + _0xf1a6x2.poncheENTRADA + "</td><td>" + _0xf1a6x2.poncheSALIDA + "</td><td>" + _0xf1a6x2.poncheENTRADA1 + "</td><td>" + _0xf1a6x2.poncheSALIDA1 + "</td><td>" + _0xf1a6x2.Observacion + "</td></tr>");
                                });

                                var _0xf1a6x2 = $("#FECHA_INICIO").val();
                                var _0xf1a6x3 = $("#FECHA_FIN").val();
                                $("#FechaInicio").val(_0xf1a6x2);
                                $("#FechaFin").val(_0xf1a6x3);
                                $("#texto_inicial").hide();
                                $("#reporte_link").show();
                                load_datatable();
                                $("[data-dismiss=\"modal\"]").click();
                            }
                        }
                },
                error: function (_0xf1a6x1) {
                    $("[data-dismiss=\"modal\"]").click();
                    swal("", "Ha ocurrido un error" + _0xf1a6x1, "error");
                    console.log(_0xf1a6x1);
                }
                });
            } else {
            $("[data-dismiss=\"modal\"]").click();
            swal("", "Debe llenar todos los campos.", "error");
        }
    });
</script>
<script>
    $('#reporte_link').click(function () {
        $("#hidden_a").attr("id", "hidden_1");
        $("#hidden_b").attr("id", "hidden_2");
        $("#hidden_c").attr("id", "hidden_3");
        $("#hidden_e").attr("id", "hidden_5");

        var f_ini = $("#FechaInicio").val();
        var f_fin = $("#FechaFin").val();
        var j_unjust = $('#someSwitchOptionDefault').val();

        $("#hidden_2").val(f_ini);
        $("#hidden_3").val(f_fin);
        $("#hidden_5").val(j_unjust);

        $("#form_rp").submit()
    });
</script>
<script>
    $('#someSwitchOptionDefault').change(function () {
        if (($('#FECHA_INICIO').val() == "" || $('#FECHA_INICIO').val() == null) && ($('#FECHA_FIN').val() == "" || $('#FECHA_FIN').val() == null) && $('#someSwitchOptionDefault').val() == "1") {
            location.reload();
        }
    });
</script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.NoPoncha' == '1') {
            $('#formulario_poncha').html("Este empleado está autorizado a no ponchar");
           
        }
        else
        {
           // document.getElementById("#formulario_poncha").className = "control-label1";
            $('#formulario_poncha').addClass("control-label");
           
        }
    });
</script>