﻿

@model IEnumerable<intra.Models.GestionHumana.Vw_Mostrar_Personal_Permisos_PGR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<style>
    .swal2-modal .swal2-title {
    width:100% !important;
}
</style>


<section class="row">
    <div class="col-lg-10">
        <h2 class="h2_title_page">Reporte de empleados</h2>
        <hr class="hr2" />
    </div>
</section>




@using (Html.BeginForm("Create", "sp_report_ponches_Result", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_index" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="hola">

        @Html.ValidationSummary(true,"",new { @class = "text-danger"})
        
        <div class="form-group" id="DIV_DEPARTAMENTO">
            <label for="DependenciaID" class="control-label col-md-2">Departamento</label>
            <div class="col-md-10">
                <select id="DeptoID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group" id="DIV_DIVISION">
            <label for="DivisionID" class="control-label col-md-2">División</label>
            <div class="col-md-10">
                <select id="DivisionID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group" id="DIV_SECCION">
            <label for="SeccionID" class="control-label col-md-2">Sección</label>
            <div class="col-md-10">
                <select id="SeccionID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="view_employees" value="Ver empleados" class="buttonAceptar btn-default" />
                <input type="button" id="mostrar_subareas" value="Mostrar sub-áreas" class="btn-default buttonEnviar" />
            </div>
        </div>

        <input type="hidden" id="posicion" />

    </div>
}
<div id="DIV_TABLA">
    <table id="tableGrid1" class="table table-striped table-hover responsive display  no-wrap" width="100%">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="table_body">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Codigo </td>
                        <td>@Html.ActionLink(item.NombreCompleto, "Edit", new { id = item.Codigo })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>
<script src="~/scripts/sweetalert2.js"></script>
<script>
    function load_datatable() {

        $('#DIV_TABLA').show();

        $('#tableGrid1').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    }
</script>
<script>
    function load_employees() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("LoadWithoutInheritanceEmployees")',
            contentType: "application/json; charset-utf-8",
            dataType: 'json',
            success: function (states) {
                if (states != "Empty") {
                    $('#tableGrid1').DataTable().destroy();
                    $("#table_body").empty();

                    $.each(states, function (i, state) {
                        var url_user = '@Url.Action("Edit")/' + state.Codigo;

                        $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                    });

                    load_datatable();
                }
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
                load_dropdowns();
            }
        })

        return;
    };
</script>
<script>
    function load_dropdowns() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("LoadView")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (states) {
                if (states == 'Empty') {
                    $("#hola").hide();
                    $('#DIV_TABLA').hide();
                    $('#h2').hide();
                    swal(
                       'No Tiene Permisos Para esta Seccion',
                       'Comuniquese a la ext: 1146',
                       'error'
                        ).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home" });
                  
                }
                else if (states.chain == 'DEPENDENCIA') {
                    $("#DeptoID").append('<option value="' + 0 + '">Seleccione</option>')
                    $.each(states.select_list, function (i, state) {
                        $("#DeptoID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                    });
                    $('#DIV_DIVISION').hide();
                    $('#DIV_SECCION').hide();
                    $('#posicion').val("DEPENDENCIA");
                 
                }
                else if(states.chain == 'DEPARTAMENTO'){
                    $("#DivisionID").append('<option value="' + 0 + '">Seleccione</option>')
                    $.each(states.select_list, function (i, state) {
                        $("#DivisionID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                    });
                    $('#DIV_DEPARTAMENTO').hide();
                    $('#DIV_SECCION').hide();
                    $('#posicion').val("DEPARTAMENTO");
                }
                else if (states.chain == 'DIVISION') {
                    if(states.select_list.length>0){
                        $("#SeccionID").append('<option value="' + 0 + '">Seleccione</option>');
                        $.each(states.select_list, function (i, state) {
                            $("#SeccionID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                        });
                        $('#DIV_DEPARTAMENTO').hide();
                        $('#DIV_DIVISION').hide();
                        $('#posicion').val("DIVISION");
                    } else {
                        $('#DIV_DEPARTAMENTO').hide();
                        $('#DIV_DIVISION').hide();
                        $('#DIV_SECCION').hide();
                        $('#view_employees').hide()
                        load_employees();
                        $('#posicion').val("DIVISION");
                        $('#DIV_TABLA').show();
                    }
                    
                } else if (states.chain == 'SECCION') {
                    $('#DIV_DEPARTAMENTO').hide();
                    $('#DIV_DIVISION').hide();
                    $('#DIV_SECCION').hide();
                    $('#view_employees').hide();
                    load_employees();
                    $('#posicion').val("SECCION");
                    $('#DIV_TABLA').show();
                }
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
                //$("#hola").show();
                //$('#DIV_TABLA').show();
                //$('#h2').show();
                load_dropdowns();
              
            }
        });

        return;
    }
</script>
<script>
    $(document).ready(function () {
        load_datatable();
        load_dropdowns();
        $('#mostrar_subareas').hide();
    });

    $('#DeptoID').change(function () {
        $('#SeccionID').val(0);
        $('#DivisionID').val(0);
        $('#DIV_SECCION').hide();
        $('#DIV_DIVISION').hide();
        $('#DIV_TABLA').hide();

        $('#mostrar_subareas').hide();

        if ($('#DeptoID').val() != "0") {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
            }).then(function () {
                $.ajax({
                    url: '@Url.Action("ReloadView")',
                    type: 'POST',
                    data: { 'hierarchy': "DEPARTAMENTO", 'department_value': $('#DeptoID').val(), 'division_value': "0", 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {

                        }
                        else if (states.chain == 'DEPARTAMENTO') {
                            if (($('#DIV_DIVISION').is(":hidden") == false) || ($('#DIV_SECCION').is(":hidden") == false)) {
                                //$('#DIV_DIVISION').hide();
                                $('#DIV_SECCION').hide();
                                $('#DivisionID').val(0);
                                $('#SeccionID').val(0);
                            }

                            $("#DivisionID").empty();
                            $("#DivisionID").append('<option value="' + 0 + '">Seleccione</option>')
                            $.each(states.select_list, function (i, state) {
                                $("#DivisionID").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                            });

                            if (states.select_list.length > 0) {
                                $('#DIV_DIVISION').show();
                                $('#DIV_SECCION').hide();
                            } else if ($('#DeptoID').val() > 0) {
                                swal("", "No existen divisiones para este departamento.");
                            }
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });

            })
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadView")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DEPENDENCIA') {
                        location.reload();
                    }
                },
                error: function (ex) {

                }
            });
        }
    });

    $('#DivisionID').change(function () {
        $('#SeccionID').val(0);
        $('#DIV_SECCION').hide();
        $('#DIV_TABLA').hide();

        $('#mostrar_subareas').hide();

        if ($('#DivisionID').val() != "0") {
            swal({
                title: "",
                text: "¿Desea seguir seleccionando?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#70db70",
                confirmButtonText: "Sí",
            }).then(function () {
                $.ajax({
                    url: '@Url.Action("ReloadView")',
                    type: 'POST',
                    data: { 'hierarchy': "DIVISION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {

                        }
                        else if (states.chain == 'DIVISION') {
                            $("#SeccionID").empty();
                            $("#SeccionID").append('<option value="' + 0 + '">Seleccione</option>')
                            $.each(states.select_list, function (i, state) {
                                $("#SeccionID").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                            });


                            if (states.select_list.length > 0) {
                                $('#DIV_SECCION').show();
                            } else if ($('#DivisionID').val() > 0) {
                                swal("", "No existen secciones para esta división.", "info");
                            }

                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadView")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DEPARTAMENTO') {
                        location.reload();
                    }
                },
                error: function (ex) {

                }
            });
        }
    });
    $('#SeccionID').change(function () {

        if ($('#SeccionID').val() == "0") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadView")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DIVISION') {
                        location.reload();
                    }
                },
                error: function (ex) {

                }
            })
        } else {
            $('#mostrar_subareas').hide();

            $('#DIV_TABLA').hide();
        }
    });
</script>
<script>
    $('#view_employees').click(function () {
        //SI LA PERSONA ES DIRECTORA DE UNA DEPENDENCIA
        if ($('#posicion').val() == "DEPENDENCIA") {
            //si el valor del dropdown Departamento es 0
            if ($('#DeptoID').val() == 0 || $('#DeptoID').val() == "0") { 
                swal("","Debe seleccionar un Departamento.","error");
            //si ha seleccionado ver empleados de un departamento
            } else if (($('#DeptoID').val != 0 || $('#DeptoID').val != "0") && ((($('#DIV_SECCION').is(":hidden") == true) && ($('#DIV_DIVISION').is(":hidden") == true)) || (($('#DIV_DIVISION').is(":hidden") == false)) && (($('#DivisionID').val() == 0 || $('#DivisionID').val() == "0")))) { 
                $.ajax({
                    url: '@Url.Action("LoadEmployees")',
                    type: 'POST',
                    data: { 'hierarchy': "DEPARTAMENTO", 'department_value': $('#DeptoID').val(), 'division_value': "0", 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {
                        }
                        else {
                            //$("#table_body").html("<tr><td></td></tr>");

                            $('#tableGrid1').DataTable().destroy();
                            $("#table_body").empty();

                            $.each(states, function (i, state) {
                                var url_user = '@Url.Action("Edit")/' + state.Codigo;

                                $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                            });

                            load_datatable();

                            $('#mostrar_subareas').show();
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            //si ha seleccionado ver empleados de una división
            } else if ((($('#DIV_SECCION').is(":hidden") == true)) || (($('#DIV_SECCION').is(":hidden") == false) && ($('#SeccionID').val() == 0 || $('#SeccionID').val() == "0"))) {
                $.ajax({
                    url: '@Url.Action("LoadEmployees")',
                    type: 'POST',
                    data: { 'hierarchy': "DIVISION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {

                        }
                        else {
                            //$("#table_body").html("<tr><td></td></tr>");

                            $('#tableGrid1').DataTable().destroy();
                            $("#table_body").empty();

                            $.each(states, function (i, state) {

                                var url_user = '@Url.Action("Edit")/' + state.Codigo; 

                                $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                            });


                            load_datatable();

                            $('#mostrar_subareas').show();
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            //si ha seleccionado ver empleados de una sección
            } else if (($('#DIV_SECCION').is(":hidden") == false) && ($('#SeccionID').val != 0 || $('#SeccionID').val != "0")) {
                $.ajax({
                    url: '@Url.Action("LoadEmployees")',
                    type: 'POST',
                    data: { 'hierarchy': "SECCION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': $('#SeccionID').val() },
                    success: function (states) {
                        if (states == 'Empty') {
                        }
                        else {
                            //$("#table_body").html("<tr><td></td></tr>");

                            $('#tableGrid1').DataTable().destroy();
                            $("#table_body").empty();

                            $.each(states, function (i, state) {
                                var url_user = '@Url.Action("Edit")/' + state.Codigo;

                                $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                            });

                            load_datatable();

                            $('#mostrar_subareas').show();
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            }
        //SI LA PERSONA ES ENCARGADA DE UN DEPARTAMENTO
        } else if ($('#posicion').val() == 'DEPARTAMENTO') {
            //si el valor del dropdown Division es 0
            if ($('#DivisionID').val() == 0 || $('#DivisionID').val() == "0") {
                swal("","Debe seleccionar una División.","error");
            }
            //si ha seleccionado ver empleados de una división
            else if (($('#DivisionID').val() != 0 || $('#DivisionID').val() != "0") && (($('#DIV_SECCION').is(":hidden") == true) || (($('#DIV_SECCION').is(":hidden") == false) && ($('#SeccionID').val() == 0 || $('#SeccionID').val() == "0")))) {
                $.ajax({
                    url: '@Url.Action("LoadEmployees")',
                    type: 'POST',
                    data: { 'hierarchy': "DIVISION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': "0" },
                    success: function (states) {
                        if (states == 'Empty') {
                        }
                        else {
                            //$("#table_body").html("<tr><td></td></tr>");

                            $('#tableGrid1').DataTable().destroy();
                            $("#table_body").empty();

                            $.each(states, function (i, state) {
                                var url_user = '@Url.Action("Edit")/' + state.Codigo;

                                $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                            });

                            load_datatable();

                            $('#mostrar_subareas').show();

                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            //si ha seleccionado ver empleados de una sección 
            } else if (($('#DIV_SECCION').is(":hidden") == false) && ($('#SeccionID').val != 0 || $('#SeccionID').val != "0")) {
                $.ajax({
                    url: '@Url.Action("LoadEmployees")',
                    type: 'POST',
                    data: { 'hierarchy': "SECCION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': $('#SeccionID').val() },
                    success: function (states) {
                        if (states == 'Empty') {
                        }
                        else {
                            //$("#table_body").html("<tr><td></td></tr>");

                            $('#tableGrid1').DataTable().destroy();
                            $("#table_body").empty();

                            $.each(states, function (i, state) {
                                var url_user = '@Url.Action("Edit")/' + state.Codigo;

                                $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                            });

                            $('#mostrar_subareas').show();

                            load_datatable();
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            }
        //SI LA PERSONA ES ENCARGADA DE UNA DIVISION
        } else if ($('#posicion').val() == 'DIVISION') {
            //si el valor del dropdown Division es 0
            if($('#SeccionID').val()==0||$('#SeccionID').val()=="0"){
                swal("","Debe seleccionar una Sección.","error");
            }
            //si ha seleccionado ver empleados de una sección 
            else if (($('#SeccionID').val != 0 || $('#SeccionID').val != "0")) {
                $.ajax({
                    url: '@Url.Action("LoadEmployees")',
                    type: 'POST',
                    data: { 'hierarchy': "SECCION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': $('#SeccionID').val() },
                    success: function (states) {
                        if (states == 'Empty') {
                        }
                        else {
                            //$("#table_body").html("<tr><td></td></tr>");

                            $('#tableGrid1').DataTable().destroy();
                            $("#table_body").empty();

                            $.each(states, function (i, state) {
                                var url_user = '@Url.Action("Edit")/' + state.Codigo;

                                $("#table_body").append('<tr><td><a href="' + url_user + '">' + state.Codigo + '</a></td><td>' + state.NombreCompleto + '</td></tr>');
                            });

                            $('#mostrar_subareas').show();

                            load_datatable();
                        }
                    },
                    error: function (ex) {
                        alert('No pudo cargar los tipos: ' + ex);
                        load_dropdowns();
                    }
                });
            }
        }
    });
</script>
<script>
    $('#mostrar_subareas').click(function () {
        if(($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == true)
            && ($('#DIV_SECCION').is(":hidden") == true)) {
            
            $.ajax({
                url: '@Url.Action("ReloadView")',
                type: 'POST',
                data: { 'hierarchy': "DEPARTAMENTO", 'department_value': $('#DeptoID').val(), 'division_value': "0", 'section_value': "0" },
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DEPARTAMENTO') {
                        if (($('#DIV_DIVISION').is(":hidden") == false) || ($('#DIV_SECCION').is(":hidden") == false)) {
                            //$('#DIV_DIVISION').hide();
                            $('#DIV_SECCION').hide();
                            $('#DivisionID').val(0);
                            $('#SeccionID').val(0);
                        }

                        $("#DivisionID").empty();
                        $("#DivisionID").append('<option value="' + 0 + '">Seleccione</option>')
                        $.each(states.select_list, function (i, state) {
                            $("#DivisionID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        });

                        if (states.select_list.length > 0) {
                            $('#DIV_DIVISION').show();
                            $('#DIV_SECCION').hide();
                        } else if ($('#DeptoID').val() > 0) {
                            swal("", "No existen divisiones para este departamento.");
                        }
                    }
                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                    load_dropdowns();
                }
            });
        } else if (($('#DIV_DIVISION').is(":hidden") == false) && ($('#DIV_SECCION').is(":hidden") == true)) {
            $.ajax({
                url: '@Url.Action("ReloadView")',
                type: 'POST',
                data: { 'hierarchy': "DIVISION", 'department_value': $('#DeptoID').val(), 'division_value': $('#DivisionID').val(), 'section_value': "0" },
                success: function (states) {
                    if (states == 'Empty') {

                    }
                    else if (states.chain == 'DIVISION') {
                        $("#SeccionID").empty();
                        $("#SeccionID").append('<option value="' + 0 + '">Seleccione</option>')
                        $.each(states.select_list, function (i, state) {
                            $("#SeccionID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        });


                        if (states.select_list.length > 0) {
                            $('#DIV_SECCION').show();
                        } else if ($('#DivisionID').val() > 0) {
                            swal("", "No existen secciones para esta división.", "info");
                        }

                    }
                },
                error: function (ex) {
                    alert('No pudo cargar los tipos: ' + ex);
                    load_dropdowns();
                }
            });
        }else if(($('#DIV_DEPARTAMENTO').is(":hidden") == false) && ($('#DIV_DIVISION').is(":hidden") == false)
            && ($('#DIV_SECCION').is(":hidden") == false)) {
            swal("","No hay sub-áreas","error");
        }
    });
</script>