﻿@using System.Globalization;
@using intra.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
         header{
			width: 100%;
			margin: auto;
		}
         #table_employee_info{
             width:97%;
         }
    </style>
    <title>Report</title>
</head>
<body>
    <div class="container"> 
        <br/>
        <header>
            <center><img src="~/Content/images/logo.png" id="imagen" @*width="220"*@ style="margin-top:20px;" /></center>
            <br/><br/>
            <table id="table_employee_info" align="center">
                <tr>
                    <td align="left"><strong>Código:&nbsp;&nbsp;</strong></td>
                    <td>@ViewBag.Codigo</td>
                    <td align="left"><strong>Departamento:&nbsp;&nbsp;</strong></td>
                    <td>@ViewBag.Departamento</td>
                </tr>
                 <tr>
                     <td align="left"><strong>Nombre:&nbsp;&nbsp;</strong></td>
                     <td>@ViewBag.Nombre</td>
                     <td align="left"><strong>División:&nbsp;&nbsp;</strong></td>
                     <td>@ViewBag.Division</td>
                 </tr>   
            </table>
        </header>
        <br/>
        <section style="width:98%;margin:auto;padding-left:0%;padding-right:0%">
            <table class="table table-striped table-hover responsive display no-wrap" @*style="width:100%;margin:0%;"*@>
                <tr>
                    <td style="width:15%;"><strong>Fecha</strong></td>
                    <td style="width:15%;"><strong>Hora de entrada</strong></td>
                    <td style="width:15%;"><strong>Hora de salida</strong></td>
                    @*<td><strong>Entrada 2</strong></td>
                    <td><strong>Salida 2</strong></td>*@
                    <td style="width:55%;"><strong>Observación</strong></td>
                </tr>
                
                <tbody id="table_body">
                 
                @{int obsverations = 0;}
                       
                @foreach (var item in (List<sp_report_ponches_Result>)ViewBag.ponches)
                {
                    if (!string.IsNullOrEmpty(@item.Observacion) && !@item.Observacion.ToUpper().StartsWith("JUSTIFICADO"))
                    {
                        <tr style="color:#ff0000;font-weight:bold;">

                            @if (@item.Fecha_Ponche != null)
                            {
                                <td style="width:15%;">@item.Fecha_Ponche.Value.Date.ToString("dd-MM-yyyy")</td>
                            }
                            else
                            {
                                <td style="width:15%;">N/A</td>
                            }

                            @if (@item.poncheENTRADA != null)
                            {
                                <td style="width:15%;"> @item.poncheENTRADA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                            }
                            else
                            {
                                <td style="width:15%;">N/A</td>
                            }

                            @if (@item.poncheSALIDA != null)
                            {
                                <td style="width:15%;"> @item.poncheSALIDA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                            }
                            else
                            {
                                <td style="width:15%;">N/A</td>
                            }

                            @*@if (@item.poncheENTRADA1 != null)
                            {
                                <td> @item.poncheENTRADA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                            @if (@item.poncheSALIDA1 != null)
                            {
                                <td> @item.poncheSALIDA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }*@

                            <td style="width:55%;">@item.Observacion</td>
                        </tr>

                        obsverations++;
                    }
                    else
                    {
                        <tr>
                            @if (@item.Fecha_Ponche != null)
                            {
                                <td>@item.Fecha_Ponche.Value.Date.ToString("dd-MM-yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                            @if (@item.poncheENTRADA != null)
                            {
                                <td> @item.poncheENTRADA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                            @if (@item.poncheSALIDA != null)
                            {
                                <td> @item.poncheSALIDA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                            @*@if (@item.poncheENTRADA1 != null)
                            {
                                <td> @item.poncheENTRADA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                            @if (@item.poncheSALIDA1 != null)
                            {
                                <td> @item.poncheSALIDA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }*@

                            <td>@item.Observacion</td>
                        </tr>
                    }

                }
                </tbody>
            </table>
        </section>
        <p style="font-size:18px;margin-left:10px;"><strong style="color:#ff0000";>*</strong> Observaciones: @obsverations</p>
    </div>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.js"></script>
</body>
</html>
