﻿@using System.Globalization;
@using intra.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        header {
            width: 100%;
            margin: auto;
        }

        #table_employee_info {
            width: 97%;
        }
        .breakhere{
            page-break-after: always;
        }
    </style>
    <title>Report</title>
</head>
<body>
    <div class="container">
        <br />
        

        @foreach (var item in ViewBag.employees_ponches_list)
        {
            if (item != null && item.Count > 0)
            {
                <header>
                    <center><img src="~/Content/images/logo.png" id="imagen" style="margin-top:20px;" /></center>
                    <br /><br />
                    <table id="table_employee_info" align="center">
                        <tr>
                            <td align="left"><strong>Dependencia:&nbsp;&nbsp;</strong></td>
                            <td>@ViewBag.Dependency</td>
                            <td align="left"><strong>División:&nbsp;&nbsp;</strong></td>
                            <td>@ViewBag.Division</td>
                        </tr>
                        <tr>
                            <td align="left"><strong>Departamento:&nbsp;&nbsp;</strong></td>
                            <td>@ViewBag.Department</td>
                            <td align="left"><strong>Sección:&nbsp;&nbsp;</strong></td>
                            <td>@ViewBag.Section</td>
                        </tr>
                    </table>
                </header>
                <br />

                <section style="width:98%;margin:auto;padding-left:0%;padding-right:0%">
                    <table class="table table-striped table-hover responsive display no-wrap">
                        <tr>
                            <td colspan="4" align="center"><strong>@item[0].Nombre_Completo</strong></td>
                        </tr>
                        <tr>
                            <td style="width:15%;"><strong>Fecha</strong></td>
                            <td style="width:15%;"><strong>Hora de entrada</strong></td>
                            <td style="width:15%;"><strong>Hora de salida</strong></td>
                            <td style="width:55%;"><strong>Observación</strong></td>
                        </tr>

                        <tbody id="table_body">

                            @{int obsverations = 0;}

                            @foreach (var item2 in (List<sp_report_ponches_Result>)item)
                            {
                                if (!string.IsNullOrEmpty(@item2.Observacion) && !@item2.Observacion.ToUpper().StartsWith("JUSTIFICADO"))
                                {
                                    <tr style="color:#ff0000;font-weight:bold;">

                                        @if (@item2.Fecha_Ponche != null)
                                        {
                                            <td style="width:15%;">@item2.Fecha_Ponche.Value.Date.ToString("dd-MM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td style="width:15%;">N/A</td>
                                        }

                                        @if (@item2.poncheENTRADA != null)
                                        {
                                            <td style="width:15%;"> @item2.poncheENTRADA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                                        }
                                        else
                                        {
                                            <td style="width:15%;">N/A</td>
                                        }

                                        @if (@item2.poncheSALIDA != null)
                                        {
                                            <td style="width:15%;"> @item2.poncheSALIDA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                                        }
                                        else
                                        {
                                            <td style="width:15%;">N/A</td>
                                        }

                                        <td style="width:55%;">@item2.Observacion</td>
                                    </tr>

                                    obsverations++;
                                }
                                else
                                {
                                    <tr>
                                        @if (@item2.Fecha_Ponche != null)
                                        {
                                            <td>@item2.Fecha_Ponche.Value.Date.ToString("dd-MM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td>N/A</td>
                                        }

                                        @if (@item2.poncheENTRADA != null)
                                        {
                                            <td> @item2.poncheENTRADA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                                        }
                                        else
                                        {
                                            <td>N/A</td>
                                        }

                                        @if (@item2.poncheSALIDA != null)
                                        {
                                            <td> @item2.poncheSALIDA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                                        }
                                        else
                                        {
                                            <td>N/A</td>
                                        }

                                        
                                        <td>@item2.Observacion</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </section>
                <p style="font-size:18px;margin-left:10px;"><strong style="color:#ff0000" ;>*</strong> Observaciones: @obsverations</p>
                <p class="breakhere"></p>
                <br/>
            }
        }
    </div>

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.js"></script>
</body>
</html>
