﻿
@model intra.Models.GestionHumana.Vw_Mostrar_Personal_Permisos_PGR
@{


}
@using System.Globalization;
<script src="~/scripts/moment.min.js"></script>
@*<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
    <link href="~/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <link href="~/CSS/sweetalert2.css" rel="stylesheet" />*@

@*<style>
        .material-switch > label {
            cursor: pointer;
            height: 0px;
            position: relative;
            width: 40px;
        }

        .control-label1 {
            color: inherit;
        }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 20px;
        }
    </style>*@

<div id="formulario_poncha">
    @using (Html.BeginForm())
    {

        <div class="form-horizontal">

            @*<div class="form-group">
                    <label for="FECHA_INICIO" class="control-label col-md-2">Fecha de inicio</label>
                    <div class="col-md-10">
                        <input type="datetime" id="FECHA_INICIO" name="FECHA_INICIO" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="FECHA_FIN" class="control-label col-md-2">Fecha de fin</label>
                    <div class="col-md-10">
                        <input type="datetime" id="FECHA_FIN" name="FECHA_FIN" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="someSwitchOptionDefault" class="control-label col-md-2">Sólo injutificados</label>
                    <div class="material-switch pull-right col-md-10">
                        <input type="checkbox" id="someSwitchOptionDefault" name="someSwitchOption001" hidden value="0" />
                        <label for="someSwitchOptionDefault" class="label-primary"></label>
                    </div>
                </div>*@

            @*<input type="hidden" id="Codigo" name="Codigo" value="@Model.Codigo" />

                @Html.HiddenFor(model => model.FechaInicio)
                @Html.HiddenFor(model => model.FechaFin)*@

            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="actualizar_tabla" value="Mostrar datos" class="btn-default buttonEnviar" />
                    </div>
                </div>*@
        </div>
    }

    <br />

    <!-- Trigger the modal with a button -->
    @*<button type="button" style="display:none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="background-color:none;opacity:0.0;">

            <!-- Modal content-->
            <div class="modal-content" style="background-color:none">
                <div class="modal-header" style="background-color:none;opacity:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" style="background-color:none;opacity:1;">
                </div>
                <div class="modal-footer" style="background-color:none;opacity:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <center><img src="~/Content/images/gif_intranet_loading.gif" width="200" height="200" /></center>
    </div>


    @*<p align="left"><label id="texto_inicial">Mostrando últimos 30 ponches</label></p>*@


    <table id="TablaPonches" class="table2 display responsive nowrap" cellspacing="0" width="100%">
        <thead id="header1">
            <tr>
                <th>Fecha</th>
                <th>Hora de entrada</th>
                <th>Hora de salida</th>
                @*<th>Entrada 2</th>
                    <th>Salida 2</th>*@
                <th>Observación</th>
            </tr>
        </thead>
        <tbody @*id="table_body"*@>

            @*@if (Model != null)
            {
                foreach (var item in Model.ponches)
                {
                    <tr>
                        @if (@item.Fecha_Ponche != null)
                        {
                            <td id="fecha"><span style="display:none;">@item.Fecha_Ponche.Value.Date.ToString("yyyyMMdd")</span> @item.Fecha_Ponche.Value.Date.ToString("dd-MM-yyyy")</td>
                        }
                        else
                        {
                            <td id="fecha">N/A</td>
                        }

                        @if (@item.poncheENTRADA != null)
                        {
                            <td id="entrada"> @item.poncheENTRADA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                        }
                        else
                        {
                            <td id="entrada">N/A</td>
                        }

                        @if (@item.poncheSALIDA != null)
                        {
                            <td id="salida"> @item.poncheSALIDA.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                        }
                        else
                        {
                            <td id="salida">N/A</td>
                        }

                        @if (@item.poncheENTRADA1 != null)
                        {
                            <td> @item.poncheENTRADA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture)</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }

                        @if (@item.poncheSALIDA1 != null)
                        {
                            <td> @item.poncheSALIDA1.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) </td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        @if (item.Observacion != null || item.Observacion == "")
                        {
                            <td id="Observar" style="color:red;">@item.Observacion</td>
                        }
                        else
                        {
                            <td id="Observar">@item.Observacion</td>
                        }
                    </tr>
                }
            }*@
        </tbody>
    </table>

    <br />
    @*<p align="right"><a id="reporte_link">Generar reporte</a></p>*@
</div>

<script>

    $(document).ready(function () {
        $('#TablaPonches').DataTable({
            "ordering": false,
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    });

    var isLoaded = false;

    $(".btnponches").click(function () {
        if (isLoaded) { return false; }
        $("#TablaPonches_wrapper").hide()
        $("#loading-animation-container").show()

        $.ajax({
        url: "@Url.Action("JsonPonches")",
        method: "POST",
        success: function (result) {

            console.log(result);
            $("#loading-animation-container").hide();

            result.forEach(function (element) {

                $("#TablaPonches").DataTable().row.add({
                    0: (element.poncheENTRADA != null) ? moment(element.Fecha_Ponche).format("DD-MM-YYYY") : "N/A" ,
                    1: (element.poncheENTRADA != null) ? moment(element.poncheENTRADA).format("hh:mm A") : "N/A",
                    2: (element.poncheENTRADA != null) ? moment(element.poncheSALIDA).format("hh:mm A") : "N/A" ,
                    3: '<span style="color:red;">'+element.Observacion+'<span>'
                }).draw();

            })
            $("#TablaPonches_wrapper").show();
            isLoaded = true;

        },
        error: function (ex) {
            error("Ha ocurrido un error")
            $("#loading-animation-container").hide();
        }
        });

    });

</script>


@*<script src="~/scripts/index_incautaciones.js"></script>


    <script src="~/scripts/sweetalert2.js"></script>
    <script src="~/scripts/jquery-ui-1.9.2.min.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>

    <script>
        $(function () {
            $('#someSwitchOptionDefault').on('change', function (e) {
                e.stopPropagation();
                this.value = this.checked ? 1 : 0;
            })
        })
    </script>
    <script>
        $('#FECHA_INICIO').datepicker({
            dateFormat: "dd/mm/yy"
        });

        $('#FECHA_FIN').datepicker({
            dateFormat: "dd/mm/yy"
        });
    </script>
    <script>
        $('#actualizar_tabla').click(function () {

            $("[data-target=\"#myModal\"]").click();



                if ("" != $("#FECHA_INICIO").val() && null != $("#FECHA_INICIO").val() && "" != $("#FECHA_FIN").val() && null != $("#FECHA_FIN").val()) {
                    $.ajax({
                        url: '@Url.Action("LoadPonches")',
                        type: "POST",
                        data: {
                            begin_date: $("#FECHA_INICIO").val(),
                            end_date: $("#FECHA_FIN").val(),
                            employee_id: $("#Codigo").val(),
                            only_unjustified : $('#someSwitchOptionDefault').val()
                        },
                        success: function (_0xf1a6x1) {
                                if ("Empty" == _0xf1a6x1) {
                                $("#table_body").empty();
                                $("[data-dismiss=\"modal\"]").click();
                                }else {
                                    if ("FIMY" == _0xf1a6x1) {
                                        $("[data-dismiss=\"modal\"]").click();
                                        swal("", "La fecha de inicio es mayor que la fecha de fin", "error");
                                    } else {
                                        $("#tableGrid").DataTable().destroy();
                                        $("#table_body").empty();
                                        $.each(_0xf1a6x1, function (_0xf1a6x1, _0xf1a6x2) {
                                            $("#table_body").append("<tr><td><span style='display:none;'>" + _0xf1a6x2.Fecha_Ponche_IndexSort + "</span>" + _0xf1a6x2.Fecha_Ponche + "</td><td>" + _0xf1a6x2.poncheENTRADA + "</td><td>" + _0xf1a6x2.poncheSALIDA + "</td><td id='observar1'>" + _0xf1a6x2.Observacion + "</td></tr>");
                                        });

                                        var _0xf1a6x2 = $("#FECHA_INICIO").val();
                                        var _0xf1a6x3 = $("#FECHA_FIN").val();
                                        $("#FechaInicio").val(_0xf1a6x2);
                                        $("#FechaFin").val(_0xf1a6x3);
                                        $("#texto_inicial").hide();
                                        $("#reporte_link").show();
                                        load_datatable();
                                        $("[data-dismiss=\"modal\"]").click();
                                    }
                                }
                        },
                        error: function (_0xf1a6x1) {
                            $("[data-dismiss=\"modal\"]").click();
                            swal("", "Ha ocurrido un error" + _0xf1a6x1, "error");
                            console.log(_0xf1a6x1);
                        }
                        });
                    } else {
                    $("[data-dismiss=\"modal\"]").click();
                    swal("", "Debe llenar todos los campos.", "error");
                }
            });
    </script>
    <script>
        $('#reporte_link').click(function () {
            $("#hidden_a").attr("id", "hidden_1");
            $("#hidden_b").attr("id", "hidden_2");
            $("#hidden_c").attr("id", "hidden_3");
            $("#hidden_e").attr("id", "hidden_5");

            var f_ini = $("#FechaInicio").val();
            var f_fin = $("#FechaFin").val();
            var j_unjust = $('#someSwitchOptionDefault').val();

            $("#hidden_2").val(f_ini);
            $("#hidden_3").val(f_fin);
            $("#hidden_5").val(j_unjust);

            $("#form_rp").submit()
        });
    </script>
    <script>
        $('#someSwitchOptionDefault').change(function () {
            if (($('#FECHA_INICIO').val() == "" || $('#FECHA_INICIO').val() == null) && ($('#FECHA_FIN').val() == "" || $('#FECHA_FIN').val() == null) && $('#someSwitchOptionDefault').val() == "1") {
                location.reload();
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            if ('@ViewBag.NoPoncha' == '1') {
                $('#formulario_poncha').html("Este empleado está autorizado a no ponchar");

            }
            else
            {
               // document.getElementById("#formulario_poncha").className = "control-label1";
                $('#formulario_poncha').addClass("control-label");

            }
        });
    </script>*@