﻿@model intra.Models.SistemaRepatriados.SSR_Servicios

@{
    ViewBag.Title = "Registro Servicio Repatriados";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<style>
    .form-control {
        height: 38px;
    }
</style>

<form id="editar_servicio">

    @Html.HiddenFor(Model => Model.ServicioId)
    @Html.HiddenFor(Model => Model.CodigoCreador)
    @*@Html.HiddenFor(Model => Model.RepatriadoId)*@

    <section class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Servicio de Repatriados</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right alejar_top btn-group botones">

                <a class="btn button_white EditarServicio"><i class="fa fa-save alejar_icono"></i>Guardar</a>
                <a href="@Url.Action("Index")" class="btn button_white"><i class="fa fa-chevron-left alejar_icono"></i>Volver</a>
                @*<button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>*@
            </div>

        </div>
    </section>


    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <label>Tipo de Servicio</label>

                @if (User.IsInRole("SRA"))
                {

                    @Html.DropDownList("ServicioTipoId", null, "SELECCIONE EL TIPO SERVICIO", new { @class = "form-control" })

                }
                else
                {

                    <input value="@(Model.SSR_ServiciosTipos != null ? Model.SSR_ServiciosTipos.Descripcion : "")" class="form-control" disabled />
                    @Html.HiddenFor(Model => Model.ServicioTipoId)


                }

            </div>

            <div class="col-lg-3">
                <label>Persona Repatriada</label>
                <input value="@(Model.SSR_Repatriados != null ? Model.SSR_Repatriados.NombreCompleto : "")" class="form-control" disabled />
            </div>

            <div class="col-lg-3">
                <label>Institución Responsable</label>

                @if (User.IsInRole("SRA"))
                {

                    @Html.DropDownList("InstitucionId", null, "SELECCIONE LA INSTITUCIÓN", new { @class = "form-control" })

                }
                else
                {

                    <input value="@(Model.SSR_Instituciones != null ? Model.SSR_Instituciones.Descripcion : "")" class="form-control" disabled />
                    @Html.HiddenFor(Model => Model.InstitucionId)
                }


            </div>

            <div class="col-lg-3">
                <label>Estado</label>
                @Html.DropDownList("ServicioEstadoId", null, "SELECCIONE LA INSTITUCIÓN", new { @class = "form-control" })
            </div>

        </div>

        <div class="row">

            @if (User.IsInRole("SRA"))
            {
                <div class="col-lg-3">
                    <label>Fecha de Compromiso</label>
                    <input name="FechaFin" id="FechaFin" value="@Model.FechaFin.GetValueOrDefault().ToString("dd/MM/yyyy")" class="form-control date-picker" />
                </div>
            }
            else
            {
                @Html.HiddenFor(Model => Model.FechaFin)
            }

            @if (User.IsInRole("SRA"))
            {
                <div class="col-lg-3">
                    <label>Persona Responsable</label>
                    @Html.DropDownList("CodigoResponsable", null, null, new { @class = "form-control chosen" })
                </div>
            }
            else
            {
                @Html.HiddenFor(Model => Model.UsuarioResponsable)
            }

        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Notas del servicio</label>
                <textarea id="Notas" name="Notas" rows="6" cols="50" disabled>@Model.Notas</textarea>
            </div>
            <div class="col-lg-6">
                <label>Conclusion</label>
                <textarea id="conclusion" name="conclusion" rows="6" cols="50">@Model.Conclusion</textarea>
            </div>
        </div>

    </div>
</form>

<script src="~/scripts/create_serviciorepatriados.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>