﻿
@{
    Layout = null;
    var lista = ViewBag.lista;
}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            padding: 0px !important;
            margin: 0px !important;
        }

        * {
            padding: 0px;
            margin: 0px;
        }

        .container {
            width: 100%;
            max-width: 1000px;
        }

        #tabla {
            border-collapse: collapse;
            border: 1px solid #333333;
            width: 100%;
        }

        .tabla {
            position: absolute;
            top: 140px;
            margin-right: 50px;
            margin-left: 50px;
        }

        th {
            font-size: 17px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            color: #000;
            background-color: #eaeaea;
            border-right: 1px solid #333333;
        }

        td {
            font-size: 15px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 10px;
            margin-left: 5px;
            height: 35px;
        }

        h1, h2, h3 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .div_izquierdo {
            height: 1390px;
            width: 20%;
            background-color: #064b8e;
            display: inline;
            margin: 0px !important;
            padding: 0px !important;
            float: left !important;
            clear: both;
        }

        .div_derecho {
            width: 70%;
            float: right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        .div_derecho2 {
            width: 76%;
            float: right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            padding: 20px;
            margin-top: 15px !important;
        }

        .breakhere {
            page-break-after: always;
        }

        .images {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }

            .images img {
                border: 1px solid #f1f1f1;
            }

        .footerpage {
            text-align: center;
            margin-top: 1180px !important;
            color: #064b8e;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 30px;
            background-color: #fff;
            width: 20px;
            margin: auto;
            font-weight: 600;
        }

            .footerpage p {
                font-size: 17px !important;
            }

        h1 {
            text-transform: uppercase;
            font-size: 18px;
            color: #014984;
        }

        .datos {
            padding: 40px 40px 0 0;
            float: right;
        }

            .datos p.datos-principales {
                color: #014984;
            }

        tr {
            width: 100%;
        }

            tr.header td {
                font-weight: bold;
                background-color: #014984;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
            }

        td {
            font-size: 12px;
        }

        .logo {
            margin: 30px 0 0 50px;
        }
    </style>

    <title>Reporte De Servicios Repatraidos</title>

</head>
<body>
    <div class="container">
        <img class="logo" src="~/Content/images/logo.png" />
        <div class="datos">

                @if (ViewBag.fecha_inicio != "")
                {
                    <p >Fecha Del @ViewBag.fecha_inicio , Hasta : @ViewBag.fecha_final</p>
                }
                else
                {
                    <p >Fecha : No Especificada.</p>
                }

                @if (ViewBag.tipo != null)
                {
                    <p >
                        Tipo de Reporte : @ViewBag.tipo
                    </p>
                }

                @if (ViewBag.institucion != null)
                {
                    <p>Institución : @ViewBag.institucion</p>
                }

                @if (ViewBag.tipoServicio != null)
                {
                    <p >
                        Tipo de Servicio : @ViewBag.tipoServicio
                    </p>
                }

        </div>

        <p id="demo" hidden></p>

        <div class="tabla">
            <center><h1>Reporte de Servicios Repatriados</h1></center>
            <br />
            <table id="tabla">

                <tr class="header">
                    <td>Nombre</td>
                    <td>Solicitudes Pendientes</td>
                    <td>Solicitudes Cerradas</td>
                    <td>Solicitudes Anuladas</td>
                    <td>Total de Solicitudes</td>
                </tr>
                @for (int x = 0; x < lista.Count; x++)
                {
                <tr>
                    <td>@lista[x].name</td>
                    <td>@lista[x].pending</td>
                    <td>@lista[x].closed</td>
                    <td>@lista[x].canceled</td>
                    <td>@lista[x].total</td>
                </tr>
                }
            </table>
        </div>
    </div>

    @*<script>

            document.getElementById("demo").innerHTML = '@Json.Encode(ViewBag.data)';

            var str = document.getElementById("demo").innerHTML;

            var obj = JSON.parse(str);

            var tabla = document.getElementById("tabla");

            if ( "@ViewBag.state" == "0") {
                for (var i = 0; i < obj[0].length; i++) {

                    var fila = tabla.insertRow(-1);

                    var columna_nombre = fila.insertCell(0);
                    var columna_pendiente = fila.insertCell(1);
                    var columna_cerradas = fila.insertCell(2);
                    var columna_canceladas = fila.insertCell(3);
                    var columna_evaluacion = fila.insertCell(4);
                    var columna_total = fila.insertCell(5);

                    columna_nombre.innerHTML = obj[0][i].name;
                    columna_pendiente.innerHTML = obj[0][i].pending;
                    columna_cerradas.innerHTML = obj[0][i].closed;
                    columna_canceladas.innerHTML = obj[0][i].canceled;
                    columna_evaluacion.innerHTML = obj[0][i].pending_evaluation;
                    columna_total.innerHTML = obj[0][i].total;
                }
            } else {

                for (var i = 0; i < obj[0].length; i++) {

                    var fila = tabla.insertRow(-1);

                    var columna_nombre = fila.insertCell(0);
                    var columna_total = fila.insertCell(1);

                    columna_nombre.innerHTML = obj[0][i].name;
                    columna_total.innerHTML = obj[0][i].total;
                }
            }

        </script>*@
</body>
</html>