﻿<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>
<script src="~/scripts/sweetalert2.min.js"></script>

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2>Nuevo Equipo</h2>

@using (Html.BeginForm("CreateEquipoModal", "Equipo", FormMethod.Post, new { id = "formModal" }))
{

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Tipo")
            </div>
            <div class="col-lg-9">
                @Html.DropDownList("TipoEquipoId", (SelectList)ViewBag.TipoEquipoId, "SELECCIONE EL TIPO")
            </div>
        </div>

        <div div class="row" id="marcaid">
            <div class="col-lg-3">
                @Html.Label("Marca")
            </div>
            <div class="col-lg-9">
                <select class="form-control" id="MarcaEquipoId" name="MarcaEquipoId"></select>
            </div>
        </div>

        <div class="row" id="modeloid">
            <div class="col-lg-3">
                @Html.Label("Modelo equipo")
            </div>
            <div  id="modelo-dropdown" class="col-lg-9">
                <select class="form-control" id="ModeloEquipoId" name="ModeloEquipoId"></select>
                <input type="button" class="btn btn-default" id="btnModelo" value="Agregar Modelo" />
            </div>
            <div  id="modelo-input" style="display: none;" class="col-lg-9">
                <input id="ModeloEquipoDescripcion" class = "form-control" name="ModeloEquipoDescripcion"  />
                <input type="button" class="btn btn-default" id="btnGuardarModelo" value="Guardar Modelo" />
                <input type="button" class="btn btn-default" id="btnCancelarModelo" value="Cancelar" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                @Html.Label("Serie")
            </div>
            <div class="col-lg-9">
                @*@Html.EditorFor(model => model.EquipoSerie, new { htmlAttributes = new { @ } })*@
                <input id="EquipoSerie" name="EquipoSerie" class= "form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">
                <input type="button" id="btnGuardarEquipo" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <script>

    $('#marcaid').hide();
    $('#modeloid').hide();

    $(document).ready(function () {

        $('#TipoEquipoId').change(function () {
            if ($('#TipoEquipoId').val() != "") {
                $('#marcaid').show();
                $('#modeloid').hide();
                $('#ModeloEquipoId').html("");
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#MarcaEquipoId').html("");
                        $('#MarcaEquipoId').append('<option value> ----- SELECCIONE LA MARCA ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#MarcaEquipoId').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });
                $('input[id="TipoSelecionados"]').each(function () { this.checked = false; });
            } else { $('#marcaid').hide(); $('#MarcaEquipoId').html(""); $('#modeloid').hide(); $('#ModeloEquipoId').html(""); }
        });

        $('#MarcaEquipoId').change(function () {
            if ($('#MarcaEquipoId').val() != "") {

                $('#modeloid').show();
                CargarModelos();

            } else { $('#modeloid').hide(); $('#ModeloEquipoId').html(""); }
        });

        $('#btnGuardarModelo').click(function () {

            if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
            if ($('#MarcaEquipoId').val() == "") { swal("Seleccione una marca", "", 'info') }
            if ($('#ModeloEquipoDescripcion').val() == "") { swal("Ingrese la descripcion del Equipo", "", 'info') }

            if ($('#ModeloEquipoDescripcion').val() != "" && $('#TipoEquipoId').val() != "" && $('#MarcaEquipoId').val() != "") {
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/Create",
                    method: "POST",
                    data: { modeloNombre: $('#ModeloEquipoDescripcion').val(), tipoid: $('#TipoEquipoId').val(), marcaid: $('#MarcaEquipoId').val()},
                    success: function (result) {

                        if (result == "Guardado") {

                            CargarModelos();

                            swal({
                                title: result,
                                type: 'success',
                                confirmButtonText: 'OK'
                            }).then( function() {
                                $("#modelo-input").hide();
                                $("#modelo-dropdown").show();
                                })
                            $('#ModeloEquipoDescripcion').val('');

                        } else {
                            swal(result,"","error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        });

        $('#btnGuardarEquipo').click(function () {

            if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
            if ($('#MarcaEquipoId').val() == "") { swal("Seleccione una marca", "", 'info') }
            if ($('#EquipoSerie').val() == "") { swal("Ingrese la serie del Equipo", "", 'info') }

            var TipoEquipoId = $('#TipoEquipoId').val();
            var MarcaEquipoId = $('#MarcaEquipoId').val();
            var EquipoSerie = $('#EquipoSerie').val();

            if ($('#EquipoSerie').val() != "" && $('#TipoEquipoId').val() != "" && $('#MarcaEquipoId').val() != "") {

                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/Equipo/Create",
                    method: "POST",
                    data: $("#formModal").serialize(),
                    success: function (result) {
                        if (result == "Guardado") {
                            swal({
                                title: result,
                                type: 'success',
                                confirmButtonText: 'OK'
                            }).then(function () {

                                $('#myModal').modal('hide');

                            })
                        } else {
                            swal(result, "", "error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        });

        $("#btnModelo").click(function () {
            $("#modelo-input").show();
            $("#modelo-dropdown").hide();
        });

        $("#btnCancelarModelo").click(function () {
            $("#modelo-input").hide();
            $("#modelo-dropdown").show();
        });

        function CargarModelos() {

            $.ajax({
                type: 'POST',
                url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/CargarModelos",
                dataType: 'json',
                data: { tipoid: $('#TipoEquipoId').val(), marcaid: $('#MarcaEquipoId').val() },
                success: function (modelos) {
                    //resetea el select
                    $('#ModeloEquipoId').html("");
                    $('#ModeloEquipoId').append('<option value> NINGUNO </option>');
                    //itera los modelos
                    $.each(modelos, function (i, modelo) {
                        $('#ModeloEquipoId').append('<option value="' + modelo.Value + '">' + modelo.Text + '</option>');
                    });
                }
            });
        }

    });
    </script>