﻿@model intra.Models.TallerPgr.Equipo

@{
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>

<h2>Registro Equipo</h2>
<section class="serviciosSolicitud">

    @using (Html.BeginForm("ActionName","ControllerName",FormMethod.Post, new { id="formModal" }))
    {

        <div class="form-horizontal">
          
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Tipo")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("TipoEquipoId", (SelectList)ViewBag.TipoEquipoId, "SELECCIONE EL TIPO")
                </div>
            </div>

            <div div class="row" id="marca">
                <div class="col-lg-3">
                    @Html.Label("Marca")
                </div>
                <div class="col-lg-9">
                    <select class="form-control" id="MarcaEquipoId" name="MarcaEquipoId"></select>
                    <button type="button" class="btn btn-default" id="modal">Agregar Marca</button>
                </div>
            </div>

            <div class="row" id="modelo">
                <div class="col-lg-3">
                    @Html.Label("Modelo equipo")
                </div>
                <div class="col-lg-9">
                    <select class="form-control" id="ModeloEquipoId" name="ModeloEquipoId"></select>
                    <button type="button" class="btn btn-default" id="modal2">Agregar Modelo</button>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Serie")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EquipoSerie, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-9">
                    <input type="button" id="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div class="btn btn-info">
        @Html.ActionLink("Volver a la Lista", "Index")
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @{
                    Html.RenderPartial("~/Views/MarcaEquipo/MarcaEquipoModal.cshtml", new intra.Models.ViewModel.MarcaTipoViewModel());
                }
            </div>
        </div>
    </div>

    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @{
                Html.RenderPartial("~/Views/ModeloEquipo/ModeloEquipoModal.cshtml", new intra.Models.TallerPgr.ModeloEquipo());
                }
            </div>
        </div>
    </div>

</section>
<script>

    $('#marca').hide();
    $('#modelo').hide();

    $(document).ready(function () {

        $('#TipoEquipoId').change(function () {
            if ($('#TipoEquipoId').val() != "") {
                $('#marca').show();
                $('#modelo').hide();
                $('#ModeloEquipoId').html("");
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#MarcaEquipoId').html("");
                        $('#MarcaEquipoId').append('<option value> ----- SELECCIONE LA MARCA ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#MarcaEquipoId').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });
                $('input[id="TipoSelecionados"]').each(function () { this.checked = false; });
            } else { $('#marca').hide(); $('#MarcaEquipoId').html(""); $('#modelo').hide(); $('#ModeloEquipoId').html(""); }
        });

        $('#MarcaEquipoId').change(function () {
            if ($('#MarcaEquipoId').val() != "") {
                $('#modelo').show();
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/CargarModelos",
                    method: "post",
                    data: { tipoid: $('#TipoEquipoId').val(), marcaid: $('#MarcaEquipoId').val() },
                    success: function (modelos) {
                        $('#ModeloEquipoId').html("");
                        $('#ModeloEquipoId').append('<option value> NINGUNO </option>');
                        $.each(modelos, function (i, modelos) {
                            $('#ModeloEquipoId').append('<option value="' + modelos.Value + '">' + modelos.Text + '</option>');
                        });
                    }
                });
            } else { $('#modelo').hide(); $('#ModeloEquipoId').html(""); }
        });

        $('#submit').click(function () {

            if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
            if ($('#MarcaEquipoId').val() == "") { swal("Seleccione una marca", "", 'info') }
            if ($('#EquipoSerie').val() == "") { swal("Ingrese la serie del Equipo", "", 'info') }

            if ($('#EquipoSerie').val() != "" && $('#TipoEquipoId').val() != "" && $('#MarcaEquipoId').val() != "") {

                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/Equipo/Create",
                    method: "POST",
                    data: $("#formModal").serialize(),
                    success: function (result) {
                        if (result == "Guardado") {
                            swal({
                                title: result,
                                type: 'success',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Equipo/";
                            })
                        } else {
                            swal(result, "", "error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        });

        $('#modal').click(function () {
            $('input[id="TipoSelecionados"]')[parseInt($('#TipoEquipoId').val()) - 1].checked = true;
            $('#myModal').modal();
        });

        $('#modal2').click(function () {
            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                method: "post",
                data: { id: $('#TipoEquipoId').val() },
                success: function (marcas) {
                    $('#marcasM').html("");
                    $('#marcasM').append('<option value> ----- SELECCIONE LA MARCA ----- </option>');
                    $.each(marcas, function (i, marca) {
                        $('#marcasM').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                    });
                    $('#TipoEquipoIdM option[value=' + $('#TipoEquipoId').val() + ']').attr('selected', 'selected');
                    $('#marcasM option[value=' + $('#MarcaEquipoId').val() + ']').attr('selected', 'selected');
                }
            });
            $('#myModal2').modal();
        });
    });
</script>