﻿@model intra.Models.TallerPgr.Equipo

@{
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Equipo</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EquipoId)

        <div class="form-group">
            @Html.Label("Tipo de Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoEquipoId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div id="marca" class="form-group">
            @Html.Label("Marca de Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="marcas"></select>
                <button type="button" class="btn btn-default" id="modal">Agregar Marca</button>
            </div>
        </div>

        <div id="modelo" class="form-group">
            @Html.Label("Modelo de Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="modelos"></select>
                <button type="button" class="btn btn-default" id="modal2">Agregar Modelo</button>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Serie de Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EquipoSerie, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="btn btn-default">
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/MarcaEquipo/MarcaEquipoModal.cshtml", new intra.Models.ViewModel.MarcaTipoViewModel());
            }
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/ModeloEquipo/ModeloEquipoModal.cshtml", new intra.Models.TallerPgr.ModeloEquipo());
            }
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
            method: "post",
            data: { id: @Model.TipoEquipoId },
            success: function (marcas) {
                $('#marcas').html("");
                $('#marcas').append('<option value> ----- Seleccione La Marca ----- </option>');
                $.each(marcas, function (i, marca) {
                    $('#marcas').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                });
                $('#marcas option[value=@Model.MarcaEquipoId]').attr('selected', 'selected');
            }
        });

        $.ajax({
            url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/CargarModelos",
            method: "post",
            data: { tipoid: @Model.TipoEquipoId, marcaid: @Model.MarcaEquipoId },
            success: function (modelos) {
                $('#modelos').html("");
                $('#modelos').append('<option value>NINGUNO</option>');
                $.each(modelos, function (i, modelo) {
                    $('#modelos').append('<option value="' + modelo.Value + '">' + modelo.Text + '</option>');
                });
                $('#modelos option[value=@Model.ModeloEquipoId]').attr('selected', 'selected');
            }
        });

        $('#TipoEquipoId').change(function () {
            if ($('#TipoEquipoId').val() != "") {
                $('#marca').show();
                $('#modelo').hide();
                $('#modelos').html("");
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                    method: "post",
                    data: { id: $('#TipoEquipoId').val() },
                    success: function (marcas) {
                        $('#marcas').html("");
                        $('#marcas').append('<option value> ----- Seleccione La Marca ----- </option>');
                        $.each(marcas, function (i, marca) {
                            $('#marcas').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                        });
                    }
                });
                $('input[id="TipoSelecionados"]').each(function () { this.checked = false; });
            } else { $('#marcas').hide(); $('#marcas').html(""); }
        });

        $('#marcas').change(function () {
            if ($('#marcas').val() != "") {
                $('#modelo').show();
                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/ModeloEquipo/CargarModelos",
                    method: "post",
                    data: { tipoid: $('#TipoEquipoId').val(), marcaid: $('#marcas').val() },
                    success: function (modelos) {
                        $('#modelos').html("");
                        $('#modelos').append('<option value>NINGUNO</option>');
                        $.each(modelos, function (i, modelo) {
                            $('#modelos').append('<option value="' + modelo.Value + '">' + modelo.Text + '</option>');
                        });
                    }
                });
            } else { $('#modelo').hide(); $('#modelos').html(""); }
        });

        $('#modal').click(function () {
            $('input[id="TipoSelecionados"]')[parseInt($('#TipoEquipoId').val()) - 1].checked = true;
            $('#myModal').modal();
        });

        $('#modal2').click(function () {
            $.ajax({
                url: "@HttpRuntime.AppDomainAppVirtualPath/MarcaEquipo/CargarMarcas",
                method: "post",
                data: { id: $('#TipoEquipoId').val() },
                success: function (marcas) {
                    $('#marcasM').html("");
                    $('#marcasM').append('<option value> ----- SELECCIONE LA MARCA ----- </option>');
                    $.each(marcas, function (i, marca) {
                        $('#marcasM').append('<option value="' + marca.Value + '">' + marca.Text + '</option>');
                    });
                    $('#TipoEquipoIdM option[value=' + $('#TipoEquipoId').val() + ']').attr('selected', 'selected');
                    $('#marcasM option[value=' + $('#marcas').val() + ']').attr('selected', 'selected');
                }
            });
            $('#myModal2').modal();
        });

        $('#submit').click(function () {

            if ($('#TipoEquipoId').val() == "") { swal("Seleccione un tipo", "", 'info') }
            if ($('#marcas').val() == "") { swal("Seleccione una marca", "", 'info') }
            if ($('#EquipoSerie').val() == "") { swal("Ingrese la serie del Equipo", "", 'info') }

            if ($('#EquipoSerie').val() != "" && $('#TipoEquipoId').val() != "" && $('#marcas').val() != "") {

                $.ajax({
                    url: "@HttpRuntime.AppDomainAppVirtualPath/Equipo/Edit",
                    method: "POST",
                    data: { id: $('#EquipoId').val(), serie: $('#EquipoSerie').val(), tipoid: $('#TipoEquipoId').val(), marcaid: $('#marcas').val(), modeloid: $('#modelos').val() },
                    success: function (result) {
                        if (result == "Actualizado") {
                            swal({
                                title: result,
                                type: 'success',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Equipo/";
                            })
                        } else {
                            swal(result,"","error");
                        }
                    },
                    error: function (ex) {
                        swal("", "Ha ocurrido un error", "error");
                    }
                });
            }
        });
    });
</script>