﻿@*@model intra.Models.ActualizacionDatos.ActualizacionDependientes*@

@{
    ViewBag.Title = "Create";
    Layout = null;
}


<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@*<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>*@
@*<script src="~/Content/AddMore/addMore.js"></script>
<script src="~/Content/AddMore/addmore.min.js"></script>*@


<form id="FormularioDependientes" action="">


    <div class="background_button_titles" id="DatosPersons">
        <div class="row"> 
            <div class="col-lg-6">
                <h4>Dependientes</h4>
            </div>
            <div class="col-lg-6">
                <div class="pull-right actualizarDatos">
                    <button type="button" id="Guardar" name="Guardar" onclick="CrearDependiente()" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>
    @*<input type="hidden" id="EmpleadoId" name="EmpleadoId" value="@ViewBag.EmpleadoId" class="empleado" />*@

        <div class="row" id="agregarDependientes">
       
            <div class="col-md-3">
                <label>Parentesco</label>
                <div>
                    @Html.DropDownList("parentesco", null, null, new { @class = "parentesco", @required= "required" })

                </div>
            </div>
                <div class="col-md-3 removeDuplication">

                    <label>Genero</label>
                    <div>
                        <select id="Genero" name="Genero" class="form-control genero" required>
                            @*<option value="">Seleccionar</option>*@
                            <option value="false">Masculino</option>
                            <option value="true">Femenino</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-3">
                    <label>Estado Civil</label>
                    <div>
                        <select id="EstadoCivil" name="EstadoCivil" class="form-control estadoCivil" required>
                            <option value="0">NO APLICA</option>
                            <option value="1">CASADO</option>
                            <option value="2">DIVORCIADO</option>
                            <option value="3">SOLTERO</option>
                            <option value="4">VIUDO</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Edad</label>
                    <div>
                        <input type="text" id="Edad" name="Edad" class="form-control edad" required />

                    </div>
                </div>
        
                </div>
            
</form>

@*Guardar Dependientes*@
<script>
    function CrearDependiente() {
        $("#loading-animation-container").show();

        var genero1 = $(".genero");
        var estadoCivil1 = $(".estadoCivil");
        var Parentesco1 = $(".parentesco");
        var edad1 = $(".edad");
        var años = [];
        var Sexo = [];
        var codigoCivil = [];
        var ParentescoId1 = [];

        for (var i = 0; i < Parentesco1.length; i++) {
            if (Parentesco1[i].value != "") {
                Sexo.push(genero1[i].value);
                codigoCivil.push(estadoCivil1[i].value);
                años.push(edad1[i].value);
                //EmpleadoId.push(CodigoEmpleado[i].value);
                ParentescoId1.push(Parentesco1[i].value);
            }
        }

        var request = $.ajax({
            url: '@Url.Action("CrearDependientes")',
            type: 'Post',
            dataType: 'json',
            data: { DataEdad: años, DataEstadoCivil: codigoCivil, DataGenero: Sexo, DataParentesco: ParentescoId1 }
          
        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                });//.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados"});
                console.log(data);
            }
            else
            {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });//.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados" });

            }
        })

    }
</script>




@*Agregar Input Dinamicos*@
<script>
    $(function () {
        $.fn.addmore = function (options) {
            var moreElement = this,
                singlePreSelectedValue = '',
                selectedValue = [],
                defaultOption = {
                    addText: 'add more',
                    removeText: 'Remote',
                    selectBoxDuplicate: true,
                    avoidDuplicationSelection: function (e) {
                        var o = e;
                        if ($.inArray($(o).val(), selectedValue) != -1) {
                            $(o).val(singlePreSelectedValue);
                            alert('Value already selected.');
                        } else {
                            var hasSelectValue = true;
                            /*dif = $.Deferred();*/
                            $.each($('.removeDuplication'), function (i, v) {
                                if ($(this).val() == 'select') {
                                    hasSelectValue = false;
                                    return false;
                                }
                                /*if (i == ($('.removeDuplication').length - 1)) {
                                    dif.resolve();
                                }*/
                            });
                            /*dif.done(function() {
                                if (hasSelectValue) {
                                    $('[data-id="more"]').show();
                                }
                            })*/
                        }
                    },
                    prevSelectedValue: function (e) {
                        var o = e;
                        selectedValue = [];
                        $.each($('.removeDuplication'), function (i, v) {
                            if ($(this).val() != 'select') {
                                selectedValue.push($(this).val());
                            }
                        });
                        singlePreSelectedValue = $(o).val();
                    }
                }
            defaultOption = $.extend(true, defaultOption, options);
            /*if (!defaultOption.selectBoxDuplicate) {
                $(moreElement).find('select').addClass('removeDuplication');
            }*/
            $(this).find('select').prepend('<option value="select" selected>Seleccionar</option>');
            $(moreElement).after('<a href="javascript:void(0)" data-id="more" class="btn button_white">' + defaultOption.addText + '</a>');
            $('[data-id="more"]').click(function () {
                // $('[data-id="more"]').hide();
                var dataMore = this,
                    removeDuplication = [];
                $(dataMore).before($(moreElement).clone().find('input').not('input[type="submit"]').val('').end().end().find('select.removeDuplication').focus(function () {
                    if (!defaultOption.selectBoxDuplicate) {
                        defaultOption.prevSelectedValue(this);
                    }
                }).change(function () {
                    if (!defaultOption.selectBoxDuplicate) {
                        defaultOption.avoidDuplicationSelection(this);
                    }
                }).end().append(function () {
                    return $('<a href="javascript:void(0)" data-id="remove" class="btn button_white"> ' + defaultOption.removeText + '</a>').click(function () {
                        $(this).parent().remove();
                    });
                }));
                if (!defaultOption.selectBoxDuplicate) {
                    $.each($('.removeDuplication'), function (i, v) {
                        if ($(this).val() != 'select') {
                            removeDuplication.push($(this).val());
                        }
                    });
                    $.each(removeDuplication, function (i, v) {
                        $('.removeDuplication').last().find('option[value="' + removeDuplication[i] + '"]').remove();
                    });
                }
            });
            $('.removeDuplication').focus(function (e) {
                defaultOption.prevSelectedValue(this);
            }).change(function () {
                defaultOption.avoidDuplicationSelection(this);
            });
            return this;
        }

        $('#agregarDependientes').addmore({
            addText: 'Agregar',
            removeText: 'Quitar',
            selectBoxDuplicate: false
        });
    });

</script>

<script src="~/JS/jquery-ui.min.js"></script>


