﻿@model IEnumerable<intra.Models.ActualizacionDatos.ActualizacionDependientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CrearDependiente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DependienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DependienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DependienteId })
        </td>
    </tr>
}

</table>
