﻿@model IEnumerable<intra.Models.ActualizacionDatos.vActualizacionDependiente>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Lista de Dependientes</h2>

@*<p>
    @Html.ActionLink("Create New", "CrearDependientes")
</p>*@
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <tr>
        <th>
            Genero
        </th>
        <th>
            Estado Civil
        </th>
        <th>
            Edad
        </th>
        <th>Parentesco</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @item.Genero
            </td>
            <td>
                @item.EstadoCivil
            </td>
            <td>
                @item.Edad
            </td>
            <td>
                @item.ParentescoId
            @*@Html.ActionLink("Edit", "Edit", new { id=item.DependienteId }) |
                @Html.ActionLink("Details", "Details", new { id=item.DependienteId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DependienteId })*@
        </td>
    </tr>
    }

</table>
