﻿@model intra.Models.Inventario.EquiposReds

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>
<script type="text/javascript">

    function load_modelos()
    {
        $("#ModeloId").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Modelo")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ marca: ' + $("#MarcaId").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#ModeloId").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    $(document).ready(function () {

        $("#MarcaId").change(function () {

            load_modelos();
            return false;
        })
    });
</script>
<script type="text/javascript">
    //SELECCIONAR LA REGION Y PROVINCIAS
    $(function () {
        $("#RegionId").change(function () {
            var url = 'GetProvincia'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#RegionId").val() },
                success: function (data) {
                    $("#Province_ID").empty();
                    $("#Province_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, Provinces) {
                        $("#Province_ID").append('<option value="' + Provinces.Value + '">' + Provinces.Text + '</option>')
                    })
                }

            });

        });


        $('#RegionId').change(function () {
            if ($(this).val() != 0) {
                $('#RegionId').val($(this).val());
            }

        });
    });

</script>
<script type='text/javascript'>
    function load_Municipios()
    {
     $("#Municipality_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Province_ID").val() + ' }',
            success: function (states) {
                $("#Municipality_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                $.each(states, function (i, state) {
                    $("#Municipality_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    function loadLocalidad() {
        $("#LocalidadId").empty();
        var url = 'Localidad';
        $.ajax({
            type: 'POST',
            //url: "http://localhost/intra/EquiposRed/Localidad",
            url: '@Url.Action("Localidad")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{Municipio:' + $("#Municipality_ID").val() + '}',
            success: function (res) {

                $.each(res, function (i, res) {
                    $("#LocalidadId").append('<option value ="' + res.Value + '">' + res.Text + '</option>');

                })

            },
            error: function (ex) {
                console.log('no puedo cargar las localidades:' + ex)
            }


        })



    }

    $(document).ready(function () {

        $("#Province_ID").change(function () {

            load_Municipios();
            return false;
        })
    });
</script>
<script type='text/javascript'>
    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

    })
</script>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Registro Inventario Equipos de Red</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Región")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("RegionId", (SelectList)ViewBag.Region, "Seleccione")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Provincia")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("Province_ID", (SelectList)ViewBag.Provincia, "Seleccione")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Municipio")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio, "Seleccione", new { @onchange = "loadLocalidad()" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Localidad")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("LocalidadId", (SelectList)ViewBag.Localidad, "Seleccione")
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3">

                    @Html.Label("Descripción del Equipo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EquipoDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EquipoDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                   @Html.Label("Marcas")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marca, "Seleccione")
                    @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                   @Html.Label("Modelo")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("ModeloId", (SelectList)ViewBag.Modelo, "Seleccione")

                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Serie")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EquipoSerie, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EquipoSerie, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Característica")
                </div>

                <div class="col-lg-9">
                    @Html.EditorFor(model => model.CaracteristicaEquipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CaracteristicaEquipo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Service Tag")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EquipoServiceTag, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EquipoServiceTag, "", new { @class = "text-danger" })
                </div>
            </div>
            

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Proveedor")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("ProveedorId", (SelectList)ViewBag.Proveedor, "Seleccione")

                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Garantía")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.EquipoGarantia, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                    @Html.ValidationMessageFor(model => model.EquipoGarantia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Fecha de Compra")
                </div>
                <div class="col-lg-9">
                    <input style=" margin-bottom: 5px !important; padding: 5px; border-radius: 3px; border solid 1px #4BBCE3;" class="date-picker" name="EquipoFechaCompra" id="datepicker2" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Estatus")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("EstatusId", (SelectList)ViewBag.Estatus, "Seleccione")

                </div>
            </div>


            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver", "Index", "ComputadoraInventario")
                </div>

            </div>
        </div>
    }
</section>