﻿@model intra.Models.Inventario.VistaEquiposReds

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EquiposRed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipoGarantia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoGarantia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipoFechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoFechaCompra)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.EquipoFechaCreación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoFechaCreación)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.EquipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoUsuario)
        </dd>*@

        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDescripción)
        </dd>

        <dt>
            @Html.DisplayName("Modelo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloDescripcion)
        </dd>

        <dt>
            @Html.DisplayName("Estatus")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipoSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoSerie)
        </dd>

        <dt>
            @Html.DisplayName("Caracteristica")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracteristicaEquipo)
        </dd>

        <dt>
            @Html.DisplayName("Service Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoServiceTag)
        </dd>

        <dt>
            @Html.DisplayName("Localidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>

        <dt>
            @Html.DisplayName("proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorNombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index","ComputadoraInventario")
        </div>
    }
</div>
