﻿@model   intra.Models.Inventario.VistaEquiposReds

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h2>Equipos de Red</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Region")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionDescripcion)
        </dd>
        <dt>
            @Html.DisplayName("Provincia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province_Name)
        </dd>

        <dt>
            @Html.DisplayName("Municipio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipality_Name)
        </dd>
        <dt>
            @Html.DisplayName("Localidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>
        <dt>
            @Html.DisplayName("Equipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoDescripcion)
        </dd>
        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDescripción)
        </dd>

        <dt>
            @Html.DisplayName("Modelo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloDescripcion)
        </dd>
        <dt>
            @Html.DisplayName("Serie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoSerie)
        </dd>
        <dt>
            @Html.DisplayName("Caracteristica")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracteristicaEquipo)
        </dd>

        <dt>
            @Html.DisplayName("Service Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoServiceTag)
        </dd>

        <dt>
            @Html.DisplayName("Proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorNombre)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de la Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoFechaCompra)
        </dd>
        <dt>
            @Html.DisplayName("Garantia")
        </dt>

        <dd>
           Restan @ViewBag.calc
        </dd>
        <dt>
            @Html.DisplayName("Fecha de Registro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoFechaCreación)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoUsuario)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.EstatusId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstatusId)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipoId }) |
    @Html.ActionLink("Back to List", "Index","ComputadoraInventario")
</p>
