﻿@model IEnumerable<intra.Models.Inventario.EquiposReds>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipoDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoGarantia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoFechaCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoFechaCreación)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaracteristicaEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoServiceTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalidadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProveedorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoGarantia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoFechaCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoFechaCreación)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaracteristicaEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoServiceTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalidadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProveedorId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipoId })
        </td>
    </tr>
}

</table>
