﻿@model IEnumerable <intra.Models.Inventario.VistaEquiposReds>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />


<style>
    table {
        max-width: 100% !important;
    }
</style>
@*<script type='text/javascript'>

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = $('#Provincia').find('option:selected').text()
        filter = input.toUpperCase();
        if (filter == '-' || filter == 'SELECCIONE') {
            filter = "";

        }
        table = document.getElementById("tableGrid2");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function filterInput() {
        inputVal = document.getElementById("myInput").value;
        var table = $('#tableGrid2');
        table.find('tr').each(function (index, row) {
            var allCells = $(row).find('td');
            if (allCells.length > 0) {
                var found = false;
                allCells.each(function (index, td) {
                    var regExp = new RegExp(inputVal, 'i');
                    if (regExp.test($(td).text())) {
                        found = true;
                        return false;
                    }
                });
                if (found == true) $(row).show(); else $(row).hide();
            }
        });
    }

    function load_Municipios3()
    {
      
     $("#Municipio").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Provincia").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#Municipio").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex,status,error) {
                console.log('No pudo cargar los tipos equiposred: ' + ex,status,error);
            }
        });

        return;
    }

    $(document).ready(function () {
        $("#Provincia").change(function () {

            load_Municipios3();
            return false;
        })
    });
</script>*@

<section class="row">
    <div class="col-lg-10">
        <h2>Equipos de red</h2>
    </div>
    <div class="col-lg-2 col-no-padding">

        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>
   
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Provincia", new { style = "color:#333" })
       </div>
       <div class="col-lg-9">
            @Html.DropDownList("Provincia", (SelectList)ViewBag.Provincia, "Seleccione")
       </div>

        <div class="col-lg-3">
            @Html.Label("Municipio", new { style = "color:#333" })
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("Municipio", (SelectList)ViewBag.Municipio, "Seleccione")
        </div>
    </div>


    <table id="tableGrid2" class="table table-striped table-hover responsive display  no-wrap" width="100%">
        <thead>
            <tr>
                <th>Serie</th>
                <th>Service Tag</th>
                <th>Equipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Localidad</th>
                <th>Provincia</th>

       
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.EquipoSerie, "Edit", new { id = item.EquipoId })</td>
                    <td>@Html.DisplayFor(modelItem => item.EquipoServiceTag)</td>
                    <td>@Html.DisplayFor(modelItem => item.EquipoDescripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.MarcaDescripción)</td>
                    <td>@Html.DisplayFor(modelItem => item.ModeloDescripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocalidadNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Province_Name)</td>
                </tr>
            }

        </tbody>

    </table>
    
<script>
        $(document).ready(function () {
            var tbl=$('#tableGrid2').DataTable({
                "language": {
                    "processing": "...Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron registros disponibles",
                    "emptyTable": "No hay Datos Disponibles en esta Tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "",
                    "search": "Buscar:",
                    "url": "",
                    "infoThousands": ",",
                    "loadingRecords": "...Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                responsive: true



            })
            function load_Municipios3() {

                $("#Municipio").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Municipio")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: '{ Provincia: ' + $("#Provincia").val() + ' }',
                    success: function (states) {
                        $.each(states, function (i, state) {
                            $("#Municipio").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                        });
                    },
                    error: function (ex, status, error) {
                        console.log('No pudo cargar los tipos equiposred: ' + ex, status, error);
                    }
                });

                return;
            }

            $('select#Provincia').on('change', function () {
                var a = $(this).find('option:selected').text();
                if (a == 'Seleccione' || a == '-') {
                    a = "";
                }
                load_Municipios3()
                tbl.columns(6).search(a).draw();
            });
            $('select#Municipio').on('change', function () {
                var b = $(this).find('option:selected').text()
                tbl.columns(7).search(b).draw();
            });
        });
</script>