﻿@model intra.Models.RolesUsuarios.Grupos

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro que desea Eliminar este Registro?</h3>
<div>
    <h4>Grupos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Grupo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoNombre)
        </dd>

        <dt>
            @Html.DisplayName("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoDescripcion)
        </dd>

        <dt>
            @Html.DisplayName("Sistema")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaId)
        </dd>

        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
