﻿@model intra.Models.RolesUsuarios.Grupos

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Grupos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Grupo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoNombre)
        </dd>

        <dt>
            @Html.DisplayName("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoDescripcion)
        </dd>

        <dt>
            @Html.DisplayName("Sistema")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaId)
        </dd>

        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.GrupoId }) |
    @Html.ActionLink("Volver", "Index")
</p>
