﻿@model IEnumerable<intra.Models.RolesUsuarios.Grupos>

@{
    ViewBag.Title = "Grupos";
    Layout = "~/Views/intraMaster.cshtml";
}
@*<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />*@

<h2>Grupos</h2>
@Styles.Render("~/datatables/css")

<p class="pull-right">
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class="btn button_white"} )
</p>
<table class="table" id="tableGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Grupos")
            </th>
            <th>
                @Html.DisplayName("Descripcion")
            </th>
            @*<th>
                @Html.DisplayName("Sistemas")
            </th>
            <th>
                @Html.DisplayName("Categorias")
            </th>*@
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GrupoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrupoDescripcion)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SistemaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaId)
                </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.GrupoId }, new { @class="btn button_white" })
                    @Html.ActionLink("Detalle", "Details", new { id = item.GrupoId }, new { @class="btn button_white" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.GrupoId }, new { @class="btn button_white" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/datatables/js")