﻿
@model intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

@using intra.Models.ActualizacionDatos;
@{
    var Datos = ViewBag.EmpleadoComplemento1;
    vDatosEmpleados empleado = ViewBag.Datos;
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>

@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@
@*<script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/JS/jquery-ui.min.js"></script>
    <link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@

@*<script src="~/js/jquery-1.11.0.min.js"></script>*@



<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: #38afd4 !important;
            color: #fff !important;
            width: 300px;
        }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }




    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>




<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Departamento2").hide();
        $("#Department").hide();
        $(".Depart").change(function () {

            if ($('.Depart:checked').val() == "1") {
                $("#Departamento2").show();
                $("#Department").show();

            }
            else {
                $("#Departamento2").hide();
                $("#Department").hide();
            }
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Cargo2").hide();
        $("#Cargo3").hide()

        $(".Cargos").change(function () {
            if ($('.Cargos:checked').val() == "1") {
                $("#Cargo2").show();
                $("#Cargo3").show()

            }
            else {
                $("#Cargo2").hide();
                $("#Cargo3").hide()
            }
        })


    })
</script>
<script>
    $(document).ready(function () {
        $("#Celular").mask('(000)-000-0000');
        $("#Telefono2").mask('(000)-000-0000');
        $("#telefono1").mask('(000)-000-0000');

    })
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#Dependencia2").hide();
        $("#supervisor1").hide()

        $(".super").change(function () {
            if ($('.super:checked').val() == "1") {
                $("#supervisor1").show();
                $("#Dependencia2").show()

            }
            else {
                $("#Dependencia2").hide();
                $("#supervisor1").hide()
            }
        })
    })
</script>

@if (Datos != null)
{
    <script>
        $(document).ready(function () {

            $("nivel").show();
            $("nivel").hide();
        })
    </script>
}
else
{
    <script>
        $(document).ready(function () {

            $("nivel").show();
            $("nivel1").hide();
        })

    </script>
}


<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@using (Html.BeginForm("ActualizarDatos", "MiPerfil", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.empleadoid)
    <input type="hidden" value="@ViewBag.EmpleadoId" name="Employee" id="Employee" />
    <div class="container alejar_top">
        <div class="row ">
            <div class="col-lg-6">
                <h4>DATOS PERSONALES EMPLEADO</h4>
            </div>
            <div class="col-lg-6">
                <div class="pull-right">
                    <button type="button" id="Guardar" name="Guardar" onclick="Update()" class="button_white">Guardar</button>
                    @Html.ActionLink("Volver", "Index", null, new { @class = "button_white", @style = "padding: 11px 24px !important;" })
                </div>
            </div>
            @*<div class="col-lg-4">
                    <button type="button" id="Actualizar" name="Actualizar" onclick="Editar()" class="button_white">Actualizar</button>
                </div>*@
        </div>

    </div>
    <div class="container">

        <div class="row" style="margin-top:45px;">
            <div class="col-lg-6">
                <label>Nombre</label>
                <div>
                    <input id="nombre" name="nombre" value="@Model.nombre" class="form-control" disabled="disabled" />
                    @*@Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                    @*@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })*@
                </div>
            </div>


            <div class="col-lg-3">
                <label>Cedula</label>
                <div>
                    <input id="cedula" name="cedula" value="@Model.cedula" class="form-control" disabled="disabled" />
                    @*@Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                    @*@Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="col-lg-3">
                <label>Sexo</label>
                <div>
                    <input id="Sexo" name="Sexo" value="@Model.Sexo" class="form-control" disabled="disabled" />
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-3">
                <label>Dependencia</label>
                <div>
                    <input type="text" name="DependenciaId" id="DependenciaId" value="@Model.dependencia" class="form-control" disabled="disabled" />
                    @*@Html.ValidationMessageFor(model => model.dependencia, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-lg-4">
                <label>Departamento</label>
                <div>
                    <input type="text" name="DepartamentoId" id="DepartamentoId" value="@Model.departamento" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-lg-3">
                <label>Cargo</label>
                <div>
                    <input type="text" name="CargoId" id="CargoId" value="@Model.cargo" class="form-control" disabled="disabled" />

                </div>
            </div>
            <div class="col-lg-2">
                <label>Tiempo en el Cargo</label>
                <div>
                    <input id="TiempoCargo" name="TiempoCargo" value="@ViewBag.Tiempo" class="form-control" disabled="disabled" />

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Fecha Nacimiento</label>
                <div>
                    <input type="text" name="Cumpleano" id="Cumpleano" value="@Model.Cumpleano.ToString("dd/MM/yyyy")" class="form-control" disabled="disabled" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Estado Civil</label>
                <div>
                    <select id="EstadoCivil" name="EstadoCivil" onselect="@Model.EstadoCivil" class="form-control">
                        <option value="0">Casado</option>
                        <option value="1">Soltero</option>
                        <option value="2">Divorciado</option>

                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Tipo de Sangre</label>
                <div>
                    <input type="text" name="TipoSangre" id="TipoSangre" value="@Model.TiposSangre" class="form-control" disabled="disabled" />
                </div>
            </div>

            <div class="col-lg-3">
                <label>Grado Academico</label>

                <div>
                    @*@Html.DropDownList("NivelAcademicoID", new SelectList(ViewBag.NivelAcademicoID, "NivelAcademicoId", "Descripcion"), new { @class = "form-control chosen-select" })*@

                    @*@Html.DropDownList("NivelAcademicoId", new SelectList(ViewBag.Niveles, "NivelAcademicoId", "Descripcion"), new { @class = "form-control chosen-select" })
                        </div>*@


                    <div>
                        @Html.DropDownList("NivelAcademicoID", null, new { @class = "form-control chosen-select" })
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <label>Profesión</label>
                <div>
                    <input id="Profesion" name="Profesion" class="form-control" value="@Datos.Profesion" />

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Telefono Residencial</label>
                <div>
                    <input type="text" name="telefono1" id="telefono1" value="@Model.telefono1" class="form-control" />

                </div>
            </div>
            <div class="col-lg-2">
                <label>Celular</label>
                <div>
                    <input type="text" name="Celular" id="Celular" value="@Model.Celular" class="form-control" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Telefono Familiar</label>
                <div>
                    <input type="text" name="Telefono2" id="Telefono2" value="@Model.Telefono2" class="form-control" />
                </div>
            </div>
            <div class="col-lg-6">
                <label>Correo Personal</label>
                <div>
                    <input type="text" name="Email" id="Email" value="@Model.Email" class="form-control" />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Direccion Actual</label>
                <div>
                    <input type="text" name="Direccion" id="Direccion" value="@Model.Direccion" class="form-control" />
                </div>
            </div>

            <div class="col-lg-6">
                <label>Sector</label>
                <div>
                    <input type="text" name="Sector" id="Sector" value="@Model.Sector" class="form-control" />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Cantidad Dependientes</label>
                <div>
                    <input type="text" name="Dependiente" id="Dependiente" value="@Datos.Dependiente" class="form-control" />
                </div>
            </div>
            <div class="col-lg-5">
                <label>Nombre del Seguro (Ars) </label>
                <div>
                    <input type="text" name="NombreArs" id="NombreArs" value="@Datos.ARS" class="form-control" />
                </div>
            </div>
            <div class="col-lg-5">
                <label>Nombre Afp </label>
                <div>
                    <input type="text" name="NombreAfp" id="NombreAfp" value="@Datos.AFP" class="form-control" />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12" style="padding:0px">
                <h2 class="pull-left">Redes Sociales que utiliza</h2>
            </div>
            <div class="col-lg-4">
                <label>Facebook:</label>

                <input class="radio-1" type="radio" value="false" id="Facebook" name="Facebook" onselect="@Datos.Facebook" checked="checked">Si
                <input class="radio-1" type="radio" value="true" id="Facebook" name="Facebook">No

            </div>
            <div class="col-lg-4">
                <label>Twitter:</label>

                <input class="radio-1" type="radio" value="false" id="Twitter" name="Twitter" onselect="@Datos.Twitter" checked="checked">Si
                <input class="radio-1" type="radio" value="true" id="Twitter" name="Twitter">No


            </div>
            <div class="col-lg-4">
                <label>Instagram:</label>

                <input class="radio-1" type="radio" value="false" id="Instagram" name="Instagram" onselect="@Datos.Twitter" checked="checked">Si
                <input class="radio-1" type="radio" value="true" id="Instagram" name="Instagram">No




            </div>

        </div>
        <br />
        <div class="row">

            <div class="col-lg-4">
                <label>Su cargo esta Correcto ?</label>
                <input type="radio" value="0" id="Cargo1" name="Cargo1" class="Cargos radio-1" checked="checked">Si
                <input type="radio" value="1" id="Cargo1" name="Cargo1" class="Cargos radio-1">No
                <br />
                <label id="Cargo3" hidden="hidden">Introducir Cargo</label>
                <input type="text" name="Cargo2" id="Cargo2" hidden="hidden" class="form-control" />
            </div>

            <div class="col-lg-4">
                <label>Su Departamento esta Correcto ?</label>
                <input type="radio" value="0" name="Departamento" class="Depart radio-1" checked="checked">Si
                <input type="radio" value="1" name="Departamento" class="Depart radio-1">No

                <label id="Department" hidden="hidden">Introducir Departamento</label>
                <input type="text" name="Departamento2" id="Departamento2" hidden="hidden" class="form-control" />
            </div>

            <div class="col-lg-4">
                <label>Su Dependencia esta Correcta?</label>
                <input type="radio" value="0" name="Supervisor" class="super radio-1" checked="checked">Si
                <input type="radio" value="1" name="Supervisor" class="super radio-1">No

                <label id="supervisor1" hidden="hidden">Introducir Dependencia</label>
                <input type="text" name="Dependencia2" id="Dependencia2" hidden="hidden" class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <label>Observaciones</label>
                <div>
                    <textarea id="Observaciones" name="Observaciones">@Datos.Observaciones</textarea>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/JS/jquery-ui.min.js"></script>


<script type="text/javascript">

    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>

<script>

    function Update() {
        $("#loading-animation-container").show();
        var request = $.ajax({
            url: '@Url.Action("ActualizarDatos")',
            type: 'Post',
            data:
                $("#formModal").serialize(),

        });
        request.done(function (data) {
            $("#loading-animation-container").hide();
            if (data.success == true) {


                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Miperfil/Index" });


            }
            else {

                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                })


            }
        })
    }
</script>

<script>
    function Editar() {

        $("#Sex1").show();
        $("#Sex").hide();
        $("#telefono1").removeAttr('disabled');
        $("#Direccion").removeAttr('disabled');
        $("#Sector").removeAttr('disabled');
        $("#Celular").removeAttr('disabled');

    }
</script>

