﻿@model intra.VISTA_EMPLEADOS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>VISTA_EMPLEADOS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefono1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefono1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cedula)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cedula)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cargoid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cargoid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.departamentoid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.departamentoid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fechaingreso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fechaingreso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.id_persona)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_persona)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cargo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cargo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dependencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dependencia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dependenciaid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dependenciaid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.departamento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.departamento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.salario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.salario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cumpleano)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cumpleano)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoCivil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sector)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sector)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TiposSangre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TiposSangre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Profesion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Profesion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dependiente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dependiente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ARS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ARS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AFP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AFP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Facebook)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Facebook)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Instagram)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Instagram)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Twitter)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Twitter)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NivelAcademicoId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NivelAcademicoId)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
