﻿<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 100% !important;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
    .container-modal{
        margin:0 auto !important;
        width:95%;
    }
    @@media only screen and (max-width: 630px){
        .br-modal .actualizarDatos{
            flex-direction: column;
        }
        .br-modal .actualizarDatos input{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

    }
</style>

@{
    ViewBag.Title = null;
    Layout = null;
}

    <div class="container-modal">
        
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h2_title_page">Editar Nivel Académico</h2>
                        @*<hr class="hr2" />*@
                    </div>
                    <div class="col-md-6 alejar_top">
                        <div class="pull-right actualizarDatos">
                            <input type="button" id="btnActualizarCarrera" value="Actualizar" class="btn button_white" />
                            <input type="button" data-dismiss="modal" id="btnCancelar" value="Cancelar" class="btn button_white " />
                        </div>
                    </div>

                </div>
                <input type="hidden" id="IDModificar" value="" />
                <div class="row alejar_top">
                    <div class="col-lg-4">
                        <label>Grado Académico</label>
                        <div>
                            <div id="nivelacademico">
                                @Html.DropDownList("NivelAcademicoIdModal", (SelectList)ViewBag.NivelAcademicoId, "Seleccione el Grado Académico", new { @class = "form-control chosen-select" })
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  institucion-div-modal new-checkbox" id="institucion3">
                        <label>Institución</label>
                        <div>
                            <div id="institucion3">

                                @Html.DropDownList("InstitucionModalId", (SelectList)ViewBag.InstitucionId, "Seleccione La Institución", new { @class = "form-control chosen-select institucion-dropdown" })

                            </div>
                            <input id="OtraInstitucionModal" style="display: block; height: 37px;" name="OtraInstitucionModal" class="form-control" />

                        </div>
                        <label class="checkbox-labels-modal InstitucionNolista-label"><input class="checkbox" name="InstitucionModalNolista" id="InstitucionModalNolista" type="checkbox" tipo="InstitucionModal"/>
                            <label for="InstitucionModalNolista">Institución No Listado</label>
                        </label>

                    </div>

                    <div class="col-lg-4 profesion-div-modal new-checkbox" id="institucion3">
                        <label>Profesión</label>
                        <div>
                            <div id="profesion3">
                                @Html.DropDownList("ProfesionModalId", (SelectList)ViewBag.ProfesionId, "Seleccione la Profesión", new { @class = "form-control chosen-select profesion-dropdown" })
                            </div>
                            <input id="OtraProfesionModal" style="display: block; height: 37px;" name="OtraProfesionModal" class="form-control" />

                        </div>
                        <label class="checkbox-labels-modal ProfesionNolista-label"><input class="checkbox" name="ProfesionModalNolista" id="ProfesionModalNolista" type="checkbox"  tipo="ProfesionModal" />
                            <label for="ProfesionModalNolista">Profesión No Listado</label>
                        </label>
                    </div>


                </div>



</form>
        </div>
   


    <script>

        $('#btnActualizarCarrera').click(function () {

                if ($("#NivelAcademicoIDModal").val() == "" && $("#NivelAcademicoIDModal").val() == "0") {

                    info('Por favor, Indique el Grado Académico');
                    return;
                }

                if (($("#InstitucionModalId").val() == "" || $("#InstitucionModalId").val() == "0") && $("#OtraInstitucionModal").val() == "") {

                    info('Por favor, Indique la Institución');
                    return;
                }

                if (($("#ProfesionModalId").val() == "" || $("#ProfesionModalId").val() == "0") && $("#OtraProfesionModal").val() == "") {

                    info('Por favor, Indique la Profesión');
                    return;
                }

                AnimacionCarga.show();
                $.ajax({
                    url: "@Url.Action("EditarCarrera")",
                    method: "POST",
                data: {
                    CarreraId: $('#IDModificar').val(), InstitucionId: $('#InstitucionModalId').val(), ProfesionId: $('#ProfesionModalId').val(),
                    NivelAcademicoId: $('#NivelAcademicoIdModal').val(), OtraProfesion: $('#OtraProfesionModal').val(), OtraInstitucion: $('#OtraInstitucionModal').val()
                },
                success: function (result) {


                    if (result.success == true) {

                        AnimacionCarga.hide();
                        swal({
                            title: result.Mensaje,
                            type: 'success',
                            confirmButtonText: 'OK'
                        })
                        .then(function () {
                            $("#EditarCarreraModal").modal('hide');
                        });

                        CargarCarreras();

                    } else if (result.Mensaje == "Faltan Campos") {

                        info("Favor de Completar todos los campos.");

                    } else {

                        error(result.Mensaje);
                    }

                },
                error: function (ex) {
                    console.log(ex);
                    error("Ha ocurrido un error");
                }
            });
        });

        //$("#InstitucionNolistaModal").change(function () {

        //    var InstitucionNolista = $("#InstitucionNolistaModal:checked").val();

        //    if (InstitucionNolista == "on") {
        //        $("#InstitucionModalId_chosen").hide();
        //        $("#InstitucionModalId").val("0");
        //        $("#InstitucionModalId").trigger("chosen:updated");
        //        $("#OtraInstitucionModal").show();

        //        //$('input[id="ProfesionNolista"]').prop("checked", true);

        //    } else {
        //        $("#OtraInstitucionModal").hide();
        //        $("#OtraInstitucionModal").val("");
        //        $("#InstitucionModalId_chosen").show();

        //        //$('input[id="ProfesionNolista"]').prop("checked", false);

        //    }

        //});

        //$("#ProfesionNolistaModal").change(function () {

        //    var ProfesionNolista = $("#ProfesionNolistaModal:checked").val();

        //    if (ProfesionNolista == "on") {

        //        $("#ProfesionModalId_chosen").hide();
        //        $("#ProfesionModalId").val("0");
        //        $("#ProfesionModalId").trigger("chosen:updated");
        //        $("#OtraProfesionModal").show();

        //    } else {

        //        $("#OtraProfesionModal").hide();
        //        $("#OtraProfesionModal").val("");
        //        $("#ProfesionModalId_chosen").show();

        //    }

        //});

        $("#NivelAcademicoIdModal").change(function () {

            CambiodeNivelAcademicoModal($(this).val());

        });

        function CambiodeNivelAcademicoModal(id) {

            if (id == 5 || id == 6 || id == 3 || id == 7 || id == 1) {
                $("#OtraProfesionModal, #OtraInstitucionModal").show();

                $('input[id="ProfesionNolistaModal"],input[id="InstitucionNolistaModal"]').prop("checked", false);

                $("#ProfesionModalId,#InstitucionModalId").val("0");
                $("#ProfesionModalId,#InstitucionModalId").trigger("chosen:updated");

                $("#InstitucionModalId_chosen, #ProfesionModalId_chosen, .checkbox-labels-modal").hide();

            } else {
                $('input[id="ProfesionNolistaModal"],input[id="InstitucionNolistaModal"]').prop("checked", false);
                $("#InstitucionModalId_chosen, #ProfesionModalId_chosen, .checkbox-labels-modal").show();
                $("#OtraProfesionModal, #OtraInstitucionModal").hide();
                $("#OtraProfesionModal, #OtraInstitucionModal").val('');
            }

        }


    </script>
