﻿@model  intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Actualización de Datos";
    Layout = "~/Views/intraMaster.cshtml";

}

@using intra.Models.ActualizacionDatos
@{
    var Datos = ViewBag.EmpleadoComplemento1;
    vDatosEmpleados empleado = ViewBag.Datos;
}
@*<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@
@*<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>*@
@*<script src="~/scripts/openCityActalizarDatos.js"></script>*@

<style>
    .fila {
        color: #70707a !important;
        font-family: 'Gill Sans MT' !important;
    }

    .ui-widget-content a {
        color: #337ab7;
    }

    .CambiarEstado:hover {
        text-decoration: none;
        cursor: pointer;
    }

    #loading-animation-container {
        display: none;
    }

    .dl-horizontal dt {
        width: 145px;
        margin-top: 0.5%;
    }
    /*TABS NUEVOS*/
    .ui-widget-header {
        border: none !important;
        background: transparent !important;
        color: #222;
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 1.5em;
        text-decoration: none;
    }


    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #fff !important;
        text-decoration: none;
    }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #03607e !important;
        text-decoration: none;
        background-color: #53c7ed;
        font-weight: 500 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #2a9abe;
        background: #38afd5;
        font-weight: normal;
        color: #fff !important;
    }

    /*TABS*/
    .card {
        margin-top: 20px;
        padding: 30px 0;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            /*text-align: center;*/
        }

            .card.hovercard .card-background {
                height: 130px;
            }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard .useravatar {
        /*position: absolute;*/
        top: 15px;
        left: 0;
        right: 0;
    }

    .card.hovercard .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
    }

        .card.hovercard .card-info .card-title {
            padding: 0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .card.hovercard .card-info {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }

    .btn:active, .btn-primary {
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        color: #fff;
    }

    .btn-default:hover {
        background: #eee;
        border: 1px solid #999;
    }

    .well {
        border: none;
        background: transparent;
    }

    dd {
        /* background: #eee; */
        color: #999;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        line-height: 2em;
        font-weight: bold;
    }
    .tab button{
        cursor: auto !important;
    }
    .tab img:hover{
        -webkit-filter: grayscale(100%);
         filter: grayscale(100%);
    }
    .background_button_titles .row{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        border-bottom: 0 !important;
    }
    .background_button_titles .row .col-lg-4{
        margin-top: 0 !important;
    }

    .form-control, .chosen-single {
        margin-top: 10px !important;
    }

    @@media screen and (max-width: 650px){
        .tab button{
            display: none;
        }
        .tab button.active{
            display: block;
        }
        .br-datos-p .col-xs-2{
            margin-bottom: 0;
            width: 100%;
        }
        h4, #vacaciones h4{
            font-size: 16px !important;
        }
        .actualizarDatos .button_white{
            padding: 10px 0 !important;
        }
}
</style>

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

<script>

        $(function  () {
            $("#tabs").tabs()
        });

        $(function () {
            $("#tabs").tabs({
                select:
                    function (event, ui) {

                        return CheckSomething();
                    },

                show:
                    function (event, ui) {
                        //do some stuff
                    }
            });


        });


    </script>

@if (TempData["Index"] != null)
{
    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Index"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/" });
    </script>

 
}

<div class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Datos Personales</h2>
        <hr class="hr2" />
    </div>
    @*<div class="col-md-8">
        <div class="pull-right">
            <h1 class="h1_section">@Session["nombre"].ToString() </h1>
        </div>
    </div>*@
</div>


<!-- Content Section -->
<div class="container tab br-actualizar-datos">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 br-datos-p">
                    <div class="col-xs-2 col-xs-offset-1" id="p1">
                        <button id="comprobanteButtonID" class="tablinks">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/datosgenerales.svg" />
                            </div>
                             Generales
                        </button>
                    </div>
                    <div class="col-xs-2" id="p2">
                        <button id="btnCargo" class="tablinks">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/cargos.svg" />
                            </div>
                            Cargos
                        </button>
                    </div>
                    <div  class="col-xs-2" id="p3">
                        <button id="btnNivelAcademico" class="tablinks">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/nivelacademico.svg" />
                            </div>
                            Nivel Académico
                        </button>
                    </div>
                    <div  class="col-xs-2" id="p4">
                        <button id="btnRedes" class="tablinks btnponches">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/redessociales.svg" />
                            </div>
                            Redes Sociales
                        </button>
                    </div>
                    <div  class="col-xs-2" id="p5">
                        <button id="btnObservaciones" class="tablinks">
                            <div class="icon_perfil">
                                <img src="~/Content/images/icons/observacion.svg" />
                            </div>
                            Observaciones
                        </button>
                    </div>
                </div>
                <!-- //col-lg-12 -->
            </div>
            <!-- //row -->
        </div>
    </div>
    <!-- //col-lg-12 -->
</div>
<!-- //row -->

<!-- //container -->


@*<div class="tab">
    <div class="row">
        <div class="col-sm-6 col-lg-3 center">
            <button id="comprobanteButtonID" class="tablinks" onclick="openCity(event, 'comprobante')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/datosgenerales.svg" />
                </div>
                Datos Generales
            </button>
        </div>
        <div class="col-sm-6 col-lg-3 center">
            <button class="tablinks" onclick="openCity(event, 'permisos')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/cargos.svg" />
                </div>
                Cargos
            </button>
        </div>
        <div class="col-sm-6 col-lg-3 center">
            <button class="tablinks" onclick="openCity(event, 'vacaciones')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/nivelacademico.svg" />
                </div>
                Nivel Académico
            </button>
        </div>
        <div class="col-sm-6 col-lg-3 center">
            <button class="tablinks btnponches" onclick="openCity(event, 'observaciones')">
                <div class="icon_perfil">
                    <img src="~/Content/images/icons/redessociales.svg" />
                </div>
               Redes Sociales
            </button>
        </div>

    </div>
</div>*@


<div class="row">
    <div class="col-md-12 tabs_actualizarDatos">
        <div id="comprobante" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-1">
            @Html.Action("vDatosPersonales", "ActualizarDatos")
        </div>
        <div id="permisos" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-2">
            @Html.Action("vCargo", "ActualizarDatos")
        </div>
        <div id="vacaciones" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-3">
            @Html.Action("vNivelAcademico", "ActualizarDatos")
        </div>
        <div id="ponches" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-4">
            @Html.Action("vRedesSociales", "ActualizarDatos")
        </div>
        <div id="observaciones" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-5">
            @Html.Action("vObservaciones", "ActualizarDatos")
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        // Inmediatamente carga la pagina, realiza una consulta y muestra la informacion

        //load_view_nomina();

        // Realiza la accion cuando se cambia la opcion
        //$('#nomina_value').on('change', function () {

        //    load_view_nomina();
        //});

    });
    //LLama la funcion para cuando se acceda a la vista, muestre el segmento.
    openElement('comprobante');


    function openElement(div) {
        // $('#comprobanteButtonID').removeClass('tablinks');
        $('#comprobanteButtonID').addClass(' active');

        $("#comprobante").css("display", "block");
    }

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

