﻿@model intra.Models.ActualizacionDatos.vDatosEmpleados
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Pase a Produccion</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Gill Sans MT Italic', sans-serif;
            color: black;
        }

        .logoooo {
            width: 97% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            text-align: center;
            margin-left: 8px !important;
        }

        .contenedor {
            width: 96%;
            margin: 0 auto;
            position: relative;
            top: 150px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }

            .contenedor .cabecera {
                text-align: center;
                margin-top: 16%;
            }

                .contenedor .cabecera h1 {
                    font-size: 25px;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                    margin-left: 12%;
                    color: #0c4ba4;
                }

            .contenedor .cuerpo {
                margin-top: 10%;
            }

                .contenedor .cuerpo h2 {
                    font-size: 20px;
                    margin-top: 50px;
                    padding: 0;
                    font-family: 'Gill Sans MT Italic', sans-serif;
                    font-weight: bold;
                }

                .contenedor .cuerpo .table th, .wi-20 {
                    width: 20%;
                }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }


        .estatus_pendiente {
            color: white;
            background: #efb11e;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_aprobado {
            color: white;
            background: #68c249;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_cancelado {
            color: white;
            background: #ee3c3c;
            padding: 6px 10px;
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <div class="container">
      <img class="logoooo" src="@HttpRuntime.AppDomainAppVirtualPath/Content/images/Infracciones.png" />

        @*<img class="logoooo" src="~/Content/images/Infracciones.png" />*@

        <div class="contenedor">
            <div class="cabecera">
                <h1>Solicitud Actualización de Datos</h1>
            </div>
            <div class="cuerpo">
                <h2>Datos Aplicativo</h2>
                <hr style="margin-top:-2px;" />

                <table class="table table-bordered">
                    <tbody>

                        <tr>
                            <th scope="row">Nombre:</th>
                            <td width="40%;">@Model.Nombre</td>
                            <th scope="row">Código:</th>
                            <td>@Model.EmpleadoId</td>

                        </tr>
                        <tr>
                            <th scope="row" width="15%">Departamento:</th>
                            <td width="20%">@Model.DepartamentoAnterior</td>
                            <th scope="row" width="15%">Cedula:</th>
                            <td width="20%">@Model.Cedula</td>



                        </tr>
                        <tr>
                            <th scope="row">Dependencia:</th>
                            <td>@Model.DependenciaAnterior</td>
                            <th scope="row" width="15%">Cargo:</th>
                            <td width="20%">@Model.CargoAnterior</td>
                        </tr>

                    </tbody>
                </table>


                <h2>Datos a Cambiar</h2>


                <table class="table table-bordered">
                    <tbody>

                        <tr>
                            <th scope="row">Nombre:</th>
                            <td width="40%;">@Model.Nombre</td>
                            <th scope="row">Código:</th>
                            <td>@Model.EmpleadoId</td>

                        </tr>
                        <tr>
                            <th scope="row" width="15%">Departamento:</th>
                            <td width="20%">@ViewBag.Departamento</td>

                        </tr>
                        <tr>
                            <th scope="row">Dependencia:</th>
                            <td>@ViewBag.Dependencia </td>
                            <th scope="row" width="15%">Cargo:</th>
                            <td width="20%">@ViewBag.Cargo4</td>
                        </tr>

                    </tbody>
                </table>




                @*<p style="font-size:16px;">
                    Según los datos suministrado por <strong>@Model.Nombre</strong> , Cedula: <strong>@Model.Cedula</strong>, con el codigo de empleado
                    <strong>@Model.EmpleadoId</strong> se debe hacer el cambio en sus datos personales, ya que ella aparece en
                    el Departamento <strong>@Model.DepartamentoAnterior</strong>, pero pertenece a <strong>@Model.DepartamentoActual</strong>, con el cargo de <strong>@Model.CargoAnterior </strong>
                    y le corresponde <strong>@Model.CargoActual</strong> y la depenencia <strong>@Model.DependenciaAnterior</strong>, Pero Pertenece a <strong>@Model.DependenciaActual</strong> , por lo que hago la solicitud de la actualización de los mismo.
                </p>*@


                @*<div style="margin-top:200px;width:100%; height:auto;">
                    <div style="width:70%;float:left;padding: 0 40px 0 0;">
                        <span style="width:15%;font-weight: bold;font-size: 16px;">3. Firma:</span>
                        <div style="width: 85%;float: right;border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:18px;font-weight:bold;">@Model.EncargadoProyecto</div>
                        <h5 style="font-family:'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 0px;">Encargado Proyecto e Implementaciones (PEI)</h5>
                    </div*@
                @*<div style="width:30%;float:right; margin-top:200px;" >
                    <span style="width:20%;font-weight: bold;font-size: 16px;">Fecha:</span>
                    <div style="width: 80%;float: right; margin-top:-20px;display:inline-flex;">
                        @{ var fechaProyecto = Model.FechaAprobacionProyecto; }
                        <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaProyecto!=""? Convert.ToDateTime(fechaProyecto).Day.ToString() :"")" />/
                        <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaProyecto!=""? Convert.ToDateTime(fechaProyecto).Month.ToString() :"")" />/
                        @*<input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaProyecto!=""? Convert.ToDateTime(fechaProyecto).Year.ToString() :"")" />*@
                @*</div>
                        </div>
                    </div>*@


                @*<div style="margin-top:280px;width:100%; height:auto;">
                        <div style="width:70%;float:left;padding: 0 40px 0 0;">
                            <span style="width:15%;font-weight: bold;font-size: 16px;">4. Firma:</span>
                            <div style="width: 85%;float: right;border-bottom: 1px solid;margin-top:-8px;text-align: center;font-size:18px;font-weight:bold;">@Model.LiderEquipo</div>
                            <h5 style="font-family:'Gill Sans MT Italic', sans-serif;text-align: center;margin-left: 130px;font-style: oblique;font-size: 16px;margin-top: 0px;">Líder Proyecto</h5>
                        </div>
                        <div style="width:30%;float:right;">
                            <span style="width:20%;font-weight: bold;font-size: 16px;">Fecha:</span>
                            <div style="width: 80%;float: right; margin-top:-20px;display:inline-flex;">
                                @{ var fechaLider = Model.FechaAprobacionLider; }
                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaLider!=""? Convert.ToDateTime(fechaLider).Day.ToString() :"")" />/
                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaLider!=""? Convert.ToDateTime(fechaLider).Month.ToString() :"")" />/
                                <input style="border: none;border-bottom: 1px solid;width: 55px;" type="text" class="date" value="@(fechaLider!=""? Convert.ToDateTime(fechaLider).Year.ToString() :"")" />
                            </div>
                        </div>
                    </div>*@
                <div style="position: absolute;bottom: 0;top: 150%;width:80%; text-align:center;">
                    <p style="font-size: 8pt;">
                        Formulario de actualización de datos , es creado por <b style="color: #0c4ba4;"> por la Dirección de Tecnologia de la Informacion)</b><b>(DTI)</b> de
                        la ProcuraduríaGeneral de la Republica (PGR). <b style="color: #0c4ba4;">tecnologíadelainformacion@pgr.gob.do</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>