
@model intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = null;
}

@*@using intra.Models.Empleados;
    @{
        var Datos = ViewBag.EmpleadoComplemento1;
        vDatosEmpleados empleado = ViewBag.Datos;
    }*@

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>
@*<script src="~/scripts/openCityActalizarDatos.js"></script>*@

<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: #38afd4 !important;
            color: #fff !important;
            width: 300px;
        }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }



    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Departamento2").hide();
        $("#Department").hide();
        $(".Depart").change(function () {

            if ($('.Depart:checked').val() == "1") {
                $("#Departamento2").show();
                $("#Department").show();

            }
            else {
                $("#Departamento2").hide();
                $("#Department").hide();
            }
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Cargo2").hide();
        $("#Cargo3").hide()

        $(".Cargos").change(function () {
            if ($('.Cargos:checked').val() == "1") {
                $("#Cargo2").show();
                $("#Cargo3").show()

            }
            else {
                $("#Cargo2").hide();
                $("#Cargo3").hide()
            }
        })


    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Dependencia2").hide();
        $("#supervisor1").hide()

        $(".super").change(function () {
            if ($('.super:checked').val() == "1") {
                $("#supervisor1").show();
                $("#Dependencia2").show()

            }
            else {
                $("#Dependencia2").hide();
                $("#supervisor1").hide()
            }
        })
    })
</script>
@if (TempData["Index"] != null)
{
    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Index"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/" });
    </script>
}


@using (Html.BeginForm("vCargo", "ActualizarDatos", FormMethod.Post, new { id = "formCargos" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.empleadoid)
    <input type="hidden" value="@ViewBag.EmpleadoId" name="Employee" id="Employee" />
    <input type="hidden" id="dependenciaCargos" name="dependenciaCargos" value="@Model.dependencia" />
   
    @*<input type="hidden" value="@ViewBag.DependenciaID1" name="dependencia1" id="dependencia1" />*@

    <div class="background_button_titles">
        <div class="row">
            <div class="col-lg-4">
                <h4>CARGO ACTUAL</h4>
            </div>
            <div class="col-lg-8">
                <div class="pull-right actualizarDatos">
                    
                    <div class="br-2en1">
                        <a class="btn button_white" id="volverPersonales" onclick="VolverAtrasPersonales()"><i class="fa fa-arrow-left alejar_icono" aria-hidden="true"></i>Atras</a>
                        <a class="btn button_white" id="siguienteAcademico" onclick="SiguienteAcademico()">Siguiente<i class="fa fa-arrow-right alejarIcono" aria-hidden="true"></i></a>
                    </div><!--br-2en1-->

                    <a class="btn button_white" href="javascript:void(0);" onclick="InstructivoCargos();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                    <button type="button" id="Save5" name="Save5" class="btn button_white"><i class="fa fa-save alejarIcono"></i>Guardar</button>
                 
                    @*@Html.ActionLink("Volver", "Index", null, new { @class = "button_white", @style = "padding: 11px 24px !important;" })*@
                </div>
            </div>
            </div>
        </div>

        <div class="alert alert-warning">
            Favor verificar que las siguientes informaciones esten correctas, de lo contrario hacer clic en el check para poder seleccionar las indicadas y proceda a guardar.
        </div>


        <div class="row">

            <div class="col-lg-6">
                <label>Dependencia</label>
                <div>
                    <input type="text" name="Dependencia" id="Dependencia" value="@Model.dependencia" class="form-control" disabled="disabled" />
                </div>
            </div>

            @*new*@
            <div class="col-lg-2">
                <div class="posicionar_no new-checkbox">
                    <input type="checkbox" value="1" id="Supervisor" name="Supervisor" class="super radio-1" />
                    <label for="Supervisor">Cambiar</label>
                </div>
            </div>
            @*new*@

            @*<div class="col-lg-2">
                <div class="posicionar_no new-checkbox">
                    <input type="checkbox" value="1" id="Supervisor" name="Supervisor" class="super radio-1"><label>Cambiar</label>
                </div>
            </div>*@

            <div class="col-lg-4" id="Dependencia2" hidden="hidden">
                <label style="color:#fff;">.</label>
                <div id="dependencia5">
                    @Html.DropDownList("DependenciaID", null, "Seleccionar Dependencia", new { @class = "form-control chosen-select" })
                    @*<input type="text" name="Dependencia2" id="Dependencia2" hidden="hidden" class="form-control" />*@
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Departamento</label>
                <div>
                    <input type="text" name="DepartamentoId" id="DepartamentoId" value="@Model.departamento" class="form-control" disabled="disabled" />
                </div>
            </div>

            <div class="col-lg-2">
                <div class="posicionar_no new-checkbox">
                    <input type="checkbox" value="1" id="Departamento" name="Departamento" class="Depart radio-1" />
                    <label for="Departamento">Cambiar</label>
                </div>
            </div>

            @*<div class="col-lg-2">
                <div class="posicionar_no new-checkbox">
                    <input type="checkbox" value="1" name="Departamento" id="Departamento" class="Depart radio-1"><label>Cambiar</label>
                </div>
            </div>*@
            <div class="col-lg-4" id="Departamento2" hidden="hidden">
                <label style="color:#fff;">.</label>
                <div id="departamento5">
                    @Html.DropDownList("DeptoID", null, "Seleccionar Departamento", new { @class = "form-control chosen-select" })
                    @*<input type="text" name="Departamento2" id="Departamento2" hidden="hidden" class="form-control" />*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Cargo</label>
                <div>
                    <input type="text" name="Cargo" id="Cargo" value="@Model.cargo" class="form-control" disabled="disabled" />
                </div>
            </div>

            @*<div class="col-lg-2">
                <div class="posicionar_no new-checkbox">
                    <input type="checkbox" value="1" id="Cargo1" name="Cargo1" class="Cargos radio-1"><label>Cambiar</label>
                </div>
            </div>*@

            <div class="col-lg-2">
                <div class="posicionar_no new-checkbox">
                    <input type="checkbox" value="1" id="Cargo1" name="Cargo1" class="Cargos radio-1" />
                    <label for="Cargo1">Cambiar</label>
                </div>
            </div>

            <div class="col-lg-4" id="Cargo2" hidden="hidden">
                <label style="color:#fff;">.</label>
                <div id="cargo5">
                    @Html.DropDownList("CargoId", null, "Seleccionar Cargo", new { @class = "form-control chosen-select" })
                    @*<input type="text" name="Cargo2" id="Cargo2" hidden="hidden" class="form-control" />*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Tiempo Laborando</label>
                <div>
                    <input id="TiempoCargo" name="TiempoCargo" value="@ViewBag.Tiempo" class="form-control" disabled="disabled" />

                </div>
            </div>

        </div>



        }


        <script>
            //Sectores
            $(document).ready(function () {
                $("#DependenciaID").change(function () {

                    var id = $("#DependenciaID").val();
                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("SeleccionarDepartamento")',
                        data: { DependenciaID: id },
                        success: function (data) {
                            // var municipio = data;
                            $("#DeptoID").empty();
                            $("#DeptoID").append('<option value>' + "Seleccionar" + '</option>')

                            $.each(data, function (i, sector) {
                                $("#DeptoID").append('<option value="' + sector.DeptoID + '">' + sector.Descripcion + '</option>')
                            })
                            $("#DeptoID").trigger("chosen:updated");

                        }
                    });
                });

            });
        </script>

<script>
            //Sectores
            $(document).ready(function () {
                $("#DeptoID").change(function () {

                    var id = $("#DeptoID").val();
                    var dependenciaCargos1 = $("#dependenciaCargos").val();
                    var dependencia4 = $("#DependenciaID").val();
                    if (dependencia4 == "")
                    {
                        dependencia4 = 0;
                    }
                 
                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("SeleccionarCargos")',
                        data: { DepartamentoId: id, dependencia2: dependenciaCargos1,  dependencia3 : dependencia4 },
                        success: function (data) {
                            // var municipio = data;
                            $("#CargoId").empty();
                            $("#CargoId").append('<option value>' + "Seleccionar" + '</option>')

                            $.each(data, function (i, cargo) {
                                $("#CargoId").append('<option value="' + cargo.CargoId + '">' + cargo.Cargos + '</option>')
                            })
                            $("#CargoId").trigger("chosen:updated");

                        }
                    });
                });

            });
</script>


        <script>

            $(document).ready(function () {

                $("#Save5").click(function () {
                    $("#loading-animation-container").show();
                    var request = $.ajax({
                        url: '@Url.Action("Cargos")',
                        type: 'Post',
                        data:
                            $("#formCargos").serialize(),
                    });
                    request.done(function (data) {
                        $("#loading-animation-container").hide();
                        if (data.success == true) {


                            swal({
                                title: 'Guardado',
                                text: data.Mensaje,
                                type: 'success',
                                confirmButtonColor: '#18212f',
                                confirmButtonText: 'Aceptar'
                            }).then(function () {
                                openCity(event, 'vacaciones')
                                $('#btnNivelAcademico').toggleClass('active');
                            });
                            $("#loading-animation-container").hide();


                        }
                        else {

                            swal({
                                title: 'Error',
                                text: data.Mensaje,
                                type: 'error',
                                confirmButtonColor: '#18212f',
                                confirmButtonText: 'Aceptar'
                            })


                        }
                    })
                });
            });
        </script>

<script type="text/javascript">
    function InstructivoCargos() {

        $("#Cargo2").show();
        $("#Departamento2").show();
        $("#Dependencia2").show();

        var intro = introJs();

        intro.setOptions({
            steps: [

            {

                intro: "Verifique que su informacion esta correcta",
                position: 'right'
            },
            {
                element: document.querySelector('#Dependencia'),
                intro: "Si su dependencia no es correcta.",
                position: 'right'
            },

            {
                element: document.querySelector('#Supervisor'),
                intro: "Haga click aqui",
                position: 'right'
            },
              {
                  element: document.querySelector('#Dependencia2'),
                  intro: "Seleccione la dependecia correcta.",
                  position: 'right'
              },

             {
                 element: document.querySelector('#DepartamentoId'),
                 intro: "Si su departamento no es correcto",
                 position: 'right'
             },
              {
                  element: document.querySelector('#Departamento'),
                  intro: "Haga click aqui.",
                  position: 'right'
              },
               {
                   element: document.querySelector('#Departamento2'),
                   intro: "Seleccione el departamento correcto.",
                   position: 'right'
               },
                {
                    element: document.querySelector('#Cargo'),
                    intro: "Si su cargo no es correcto.",
                    position: 'right'
                },
                 {
                     element: document.querySelector('#Cargo1'),
                     intro: "Haga click aqui.",
                     position: 'right'
                 },
                     {
                         element: document.querySelector('#Cargo2'),
                         intro: "Seleccione el cargo correcto.",
                         position: 'right'
                     },

                         {
                             element: document.querySelector('#TiempoCargo'),
                             intro: "Verifique su tiempo en la institución.",
                             position: 'right'
                         },
                          {
                              element: document.querySelector('#Save5'),
                              intro: "Haga click en Guardar.",
                              position: 'right'
                          },
               {
                   intro: "¡Y listo!",
                   position: 'right'
               }
            ]
        });

        intro.start();

        intro.onexit(function () {

            $("#Cargo2").hide();
            $("#Departamento2").hide();
            $("#Dependencia2").hide();
        })
    };

 

</script>

<script>
    function VolverAtrasPersonales() {
        openCity(event, 'comprobante');
        $('#comprobanteButtonID').toggleClass('active');
    }

    function SiguienteAcademico() {
        openCity(event, 'vacaciones');
        $('#btnNivelAcademico').toggleClass('active');
    }
</script>