﻿@model intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    /**/

    ViewBag.Title = "Details";
    Layout = null;
}


@using intra.Models.ActualizacionDatos;
@{
    var munici = ViewBag.MunicipioId;
    var contratados = ViewBag.empleadosContratados;
    var Datos = ViewBag.EmpleadoComplemento1;
    vDatosEmpleados empleado = ViewBag.Datos;
    var hola = "@";
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>

@Styles.Render("~/datatables/css")

<style type="text/css">
    h4 {
        width: 50%;
    }

    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: #38afd4 !important;
            color: #fff !important;
            width: 300px;
        }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }


    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }

    input {
        border: 2px solid#014984;
    }

    .actividad {
        padding: 12px 0 8px 0;
        border: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        margin: 0;
    }

    .btn-alinear, .btn-alinear:hover, .btn-alinear:focus, .btn-alinear:active {
        margin-top: 28px;
    }

        .btn-alinear:first-child, .btn-alinear:first-child:hover, .btn-alinear:first-child:focus, .btn-alinear:first-child:active {
            margin-right: 30px;
        }

    .separar{
        margin-top: 25px!important;
        margin-right:10px!important;
    }

    .separar:last-child{
        margin-left:30px;
    }

    .dependientes {
        width: 50%;
    }
    
    input.separar {
        background: #ccc;
        border: 3px solid#014984;
    }
</style>




<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Departamento2").hide();
        $("#Department").hide();
        $(".Depart").change(function () {

            if ($('.Depart:checked').val() == "1") {
                $("#Departamento2").show();
                $("#Department").show();

            }
            else {
                $("#Departamento2").hide();
                $("#Department").hide();
            }
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Cargo2").hide();
        $("#Cargo3").hide()

        $(".Cargos").change(function () {
            if ($('.Cargos:checked').val() == "1") {
                $("#Cargo2").show();
                $("#Cargo3").show()

            }
            else {
                $("#Cargo2").hide();
                $("#Cargo3").hide()
            }
        })


    })
</script>
<script>
    $(document).ready(function () {
        $("#Celular").mask('(000)-000-0000');
        $("#Telefono2").mask('(000)-000-0000');
        $("#telefono1").mask('(000)-000-0000');

        if ($("#MunicipioId").val() != "")
        {
            $("#MunicipioId").prop('disabled', false);

        }
        if ($("#DistritoId").val() != "") {
            $("#DistritoId").prop('disabled', false);

        }
        if ($("#CiudadId").val() != "") {
            $("#CiudadId").prop('disabled', false);

        }
        if ($("#SectorId").val() != "") {
            $("#SectorId").prop('disabled', false);

        }


    });
</script>



@if (TempData["Index"] != null)
{
    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Index"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/" });
    </script>


}

@using (Html.BeginForm("vDatosPersonales", "ActualizarDatos", FormMethod.Post, new { id = "formDatosPersonales" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.empleadoid)
    <input type="hidden" value="@ViewBag.EmpleadoId" name="Employee" id="Employee" />
    <input type="hidden" name="actividades[]" />

    <div class="background_button_titles" id="DatosPersons">
        <div class="row">
            <div class="col-lg-6">
                <h4>DATOS PERSONALES EMPLEADO</h4>
            </div>
            <div class="col-lg-6">
                <div class="pull-right actualizarDatos">
                    <a class="btn button_white" id="SiguientePerson" onclick="SiguientePerson()">Siguiente<i class="fa fa-arrow-right alejar_icono" aria-hidden="true"></i></a>
                    <a class="btn button_white" href="javascript:void(0);" onclick="InstructivoVacaciones();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                    <button type="button" id="Guardar" name="Guardar" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                    @*@Html.ActionLink("Volver", "Index", null, new { @class = "button_white", @style = "padding: 11px 24px !important;" })*@
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="DatosPersonales1">
        <div class="col-lg-4">
            <label>Nombre</label>
            <div>
                <input id="nombre" name="nombre" value="@Model.nombre" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Cédula</label>
            <div>
                <input id="cedula" name="cedula" value="@Model.cedula" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Sexo</label>
            <div>
                <input id="Sexo" name="Sexo" value="@Model.Sexo" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Fecha de Nacimiento</label>
            <div>
                <input type="text" name="Cumpleano" id="Cumpleano" value="@Model.Cumpleano.ToString("dd/MM/yyyy")" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="col-lg-2">
            <label>Tipo de Sangre</label>
            <div>
                <input type="text" name="TipoSangre" id="TipoSangre" value="@Model.TiposSangre" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <label>Estado Civil</label>
            <div>
                <select id="ID_EstadoCivil" name="ID_EstadoCivil" class="form-control">
                    <option id="CASADO" value="1">CASADO(A)</option>
                    <option id="DIVORCIADO" value="2">DIVORCIADO(A)</option>
                    <option id="SOLTERO" value="3">SOLTERO(A)</option>
                    <option id="VIUDO" value="4">VIUDO(A)</option>
                </select>
            </div>
        </div>
        @if (ViewBag.empleadosContratados == null)
        {
            <div class="col-lg-2">
                <label>Teléfono Residencial</label>
                <div>
                    <input type="text" name="telefono1" id="telefono1" value="@Model.telefono1" class="form-control" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Celular</label>
                <div>
                    <input type="text" name="Celular" id="Celular" value="@Model.Celular" class="form-control" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Teléfono Familiar</label>
                <div>
                    <input type="text" name="Telefono2" id="Telefono2" value="@Model.Telefono2" class="form-control" />
                </div>
            </div>
            <div class="col-lg-4">
                <label>Correo Personal</label>
                <div>
                    <input type="email" name="Email" id="Email" placeholder="google@gmail.com" pattern="[a-zA-Z]{3,}hola[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}" value="@Model.Email" class="form-control" />
                </div>
            </div>

        }
        else
        {
            <div class="col-lg-2">
                <label>Teléfono Residencial</label>
                <div>
                    <input type="text" name="telefono1" id="telefono1" value="@contratados.Telefono1" class="form-control" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Celular</label>
                <div>
                    <input type="text" name="Celular" id="Celular" value="@contratados.Celular" class="form-control" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Teléfono Familiar</label>
                <div>
                    <input type="text" name="Telefono2" id="Telefono2" value="@contratados.TelefonoResidencial" class="form-control" />
                </div>
            </div>
            <div class="col-lg-4">
                <label>Correo Personal</label>
                <div>
                    <input type="email" name="Email" id="Email" placeholder="google@gmail.com" pattern="[a-zA-Z]{3,}hola[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}" value="@contratados.Email" class="form-control" />
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-lg-4">
            <label>Provincia</label>
            <div id="provincia">
                @Html.DropDownList("ProvinciaId", null, "Seleccione", new { @class = "form-control provincia chosen-select" })
            </div>
        </div>
        <div class="col-lg-4">
            <label>Municipio</label>
            <div id="municipio">
                @Html.DropDownList("MunicipioId", null, "Seleccione", new { @class = "form-control chosen-select mun", @disabled = "disabled" })
            </div>
        </div>
        <div class="col-lg-4">
            <label>Ciudad</label>
            <div id="localidad">
                @Html.DropDownList("DistritoId", null, "Seleccione", new { @class = "form-control chosen-select", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <label>Localidad</label>
            <div id="ciudad">
                @Html.DropDownList("CiudadId", null, "Seleccione", new { @class = "form-control chosen-select", @disabled = "disabled" })
            </div>
        </div>

        <div class="col-lg-4">
            <label>Sector</label>
            <div id="sector">
                @Html.DropDownList("SectorId", null, "Seleccione", new { @class = "form-control chosen-select", @disabled = "disabled" })
            </div>
        </div>


        <div class="col-lg-3">
            <label>Calle</label>
            <div>
                <input type="text" name="Calle" id="Calle" value="@Datos.Calle" class="form-control" />
            </div>
        </div>
        <div class="col-lg-1">
            <label>Número</label>
            <div>
                <input type="text" name="Numero" id="Numero" value="@Datos.Numero" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        @*<div class="col-lg-4">
                <label>Cantidad de Dependientes</label>
                <div>
                    <select name="Dependiente" id="Dependiente">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>*@
        <div class="col-lg-2">
            <label>Nombre del Seguro (Ars) </label>

            <div id="ars">
                @Html.DropDownList("ArsId", null, new { @class = "form-control chosen-select" })
                @*<input type="text" name="Direccion" id="Direccion" value="@Model.Direccion" class="form-control" />*@
            </div>

        </div>
        <div class="col-lg-2">
            <label>Nombre Afp </label>
            <div id="afp">
                @Html.DropDownList("AfpId", null, new { @class = "form-control chosen-select" })

            </div>
        </div>
        <div class="col-md-2 new-radiobutton">
            <label>Tiene Dependientes?</label><br />
            @*<span class="border-radio"> <input type="radio" name="dependientes2" id="dependientes2" value="true" class="radio-1 dependientes2 dependiente_true separar" /></span> Si
            <input type="radio" name="dependientes2" id="dependientes2" value="false" class="radio-1 dependientes2 separar" checked="checked" /> No*@
            <div style="margin-top: 15px;">
                <input type="radio" name="dependientes2" id="true" value="true" class="dependientes2 dependiente_true" hidden>Si
                <label for="true">
                    <span></span>
                </label>

                <input type="radio" name="dependientes2" id="false" value="false" class="dependientes2" checked="checked" hidden>No
                <label for="false">
                    <span></span>
                </label>
            </div>

        </div>
        <div class="tienedependiente" hidden>
            <div class="col-lg-2">
                <label>Cantidad Dependientes</label>
                <div>
                    <input name="CantDependiente" disabled class="dependientes_total form-control" value="@ViewBag.dependientes" />
                </div>
            </div>
            <div class="col-lg-4">
                <button type="button" id="Agregar" name="Agregar" class="btn button_white btn-alinear "><i class="fa fa-plus-circle"></i>   Agregar </button>
                    <button @(ViewBag.dependientes == 0 ? "style=display:none;" : "" ) type="button" id="Verdependiente" name="Verdependiente" class="btn button_white btn-alinear" onclick="verDependiente()"><i class="fa fa-eye"></i> Ver Dependientes</button>
            </div>
        </div>
    </div>

    <label>Actividades</label><br />
    <div class="row actividad">
        @foreach (var actividad in ViewBag.ActividadPreferencial)
        {

            <div class="col-lg-2">
                <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                    <input type="checkbox" id="@actividad.ActividadId" class="radio-1" value="true" name="actividades"
                           @if (ViewBag.ActividadesSeleccionada.Contains(actividad.ActividadId)) { <text> checked="checked" </text> } />
                    <label for="@actividad.ActividadId">@actividad.ActividadDescripcion</label>
                </div>
            </div>
        }
    </div>



}

<div id="myModal" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">

            <form id="FormularioDependientes" action="">


                <div class="background_button_titles" id="DatosPersons">
                    <div class="row">
                        <div class="col-lg-6 dependientes">
                            <h4>Dependientes</h4>
                        </div>
                        <div class="col-lg-6">
                            <div class="pull-right actualizarDatos">
                                <button type="button" id="listaContacto" name="listaContacto" onclick="cerrarFormularioDependientes()" class="btn button_white"><i class="fa fa-times alejar_icono" aria-hidden="true"></i>Cerrar</button>
                                <button type="button" id="Guardar" name="Guardar" onclick="CrearDependiente()" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*<input type="hidden" id="EmpleadoId" name="EmpleadoId" value="@ViewBag.EmpleadoId" class="empleado" />*@

                <div class="row" id="agregarDependientes">

                    <div class="col-md-4 removeDuplication">
                        <label>Parentesco</label>
                        <div style="margin-top:10px;">
                            @Html.DropDownList("parentesco", null, null, new { @class = "parentesco", @required = "required" })

                        </div>
                    </div>
                    @*<div class="col-md-3">
                        <label>Genero</label>
                        <div>
                            <select id="Genero" name="Genero" class="form-control genero" required>
                                <option value="false">Masculino</option>
                                <option value="true">Femenino</option>
                            </select>
                        </div>
                    </div>*@


                    <div class="col-md-4">
                        <label>Estado Civil</label>
                        <div>
                            <select id="EstadoCivil" name="EstadoCivil" class="form-control estadoCivil" required>
                                @*<option value="">Seleccionar</option>*@
                                <option value="1">CASADO(A)</option>
                                <option value="2">DIVORCIADO(A)</option>
                                <option value="3">SOLTERO(A)</option>
                                <option value="4">VIUDO(A)</option>
                                <option value="5">NO APLICA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Edad</label>
                        <div>
                            <input type="text" id="Edad" name="Edad" class="form-control edad" required />

                        </div>
                    </div>

                </div>

            </form>

            @*@{
                    Html.RenderPartial("~/Views/ActualizacionDependientes/CrearDependientes.cshtml", new intra.Models.ActualizacionDatos.ActualizacionDependientes());
                }*@
        </div>
    </div>
</div>


@*LISTADO DE CONTACTOS*@
<div id="myModal1" class="modal fade br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="row" style="margin-bottom:15px">
                <div class="col-md-6">
                    <h2 class="h2_title_page">Lista de Dependientes</h2>

                </div>
                <div class="col-md-6">
                    <div class="pull-right alejar_top">
                        <button type="button" id="listaContacto" name="listaContacto" onclick="cerrarlistaContacto()" class="btn button_white"><i class="fa fa-times" aria-hidden="true"></i>  Cerrar</button>
                        <button class="btn button_white" id="modalCrearContacto" @*onclick="AgregarNuevo()"*@><i class="fa fa-plus-circle alejar_icono"></i>Crear Nuevo</button>
                    </div>

                </div>

            </div>

            <div class="row" id="table" hidden="hidden">
                <table class="table display responsive nowrap tableGrid" cellspacing="0" width="100%" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th>Parentesco</th>
                            <th> Estado Civil</th>
                            <th> Edad </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="tdependientes"></tbody>

                </table>

            </div>


        </div>
    </div>
</div>

@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>

<script>
    function Consultar() {
        $('#myModal1').modal();
        var a = $("#Employee").val();

        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("ListaDependientes")',
            type: 'POST',
            data: { id: a},
            success: function (data) {
                if (data) {
                    console.log(data);
                    $("#loading-animation-container").hide();
                    $("#tableGrid1").DataTable().destroy();
                    $("#tdependientes").empty();
                    $.each(data, function (i, state) {

                        $("#tdependientes").append('<tr><td>'
                            + state.ParentescoId + '</td><td>'
                            + state.EstadoCivil + '</td><td>'
                            + state.Edad + '</td><td>'
                            + '<a class="boton estatus estatus_informacion" onclick="EliminarDependiente(' + state.DependienteId + ')" >Eliminar</a></td></tr>')
                        //console.log(data);
                    });
                    $("#table").show();
                }
                else {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'

                    });
                }
            }


        });
    }
      function cerrarlistaContacto() {
        $("#myModal1").modal('hide');
      };
      function AgregarNuevo() {
          $("#myModal").modal('show');
      };

      function cerrarFormularioDependientes() {

          $("#myModal").modal('hide');
      }

      $("#modalCrearContacto").click(function () {

          $("#myModal").modal('show');
          $("#myModal1").modal('hide');

      });

      function verDependiente(){
          $("#myModal1").modal('show');
          Consultar();
      }

</script>

<script type="text/javascript">
    //$("#tienedependiente").hide();
    $(document).ready(function () {
        $(".dependientes2").change(function () {

            if ($(".dependientes2:checked").val() == "true") {
                //alert('Hola');
                $(".tienedependiente").show();
            }
            else if ($(".dependientes2:checked").val() == "false") {

                $(".tienedependiente").hide();

            }
        });

        if ('@ViewBag.dependientes' != '0') {
            console.log('@ViewBag.dependientes');

            $(".dependiente_true").attr('checked', 'checked');
            $(".tienedependiente").show();

            //$('#departamento').attr('checked', 'checked');


        }

        $("#Agregar").click(function () {
            $("#myModal").modal();
        })


    });
</script>

@*Guardar Dependientes*@
<script>
    function CrearDependiente() {
        $("#loading-animation-container").show();

        //var genero1 = $(".genero");
        var estadoCivil1 = $(".estadoCivil");
        var Parentesco1 = $(".parentesco");
        var edad1 = $(".edad");
        var años = [];
        var Sexo = [];
        var codigoCivil = [];
        var ParentescoId1 = [];

        for (var i = 0; i < Parentesco1.length; i++) {
            if (Parentesco1[i].value != "") {
                //Sexo.push(genero1[i].value);
                codigoCivil.push(estadoCivil1[i].value);
                años.push(edad1[i].value);
                //EmpleadoId.push(CodigoEmpleado[i].value);
                ParentescoId1.push(Parentesco1[i].value);
            }
        }

        var request = $.ajax({
            url: '@Url.Action("CrearDependientes")',
            type: 'Post',
            dataType: 'json',
            data: { DataEdad: años, DataEstadoCivil: codigoCivil, DataParentesco: ParentescoId1 }

        });
        request.done(function (data) {
            $("#loading-animation-container").hide();

            if (data.success) {
                swal({
                    title: 'Guardado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                }).then(function () {
                    Consultar();

                    if (data.Cantidad > 0) {

                        $("#Verdependiente").show();

                    } else {

                        $("#Verdependiente").hide();

                    }
                    
                    $(".dependientes_total").val(data.Cantidad);

                    $("#myModal").modal('hide');

                });
                console.log(data);
            }
            else
            {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });//.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados" });

            }
        })

    }

    function EliminarDependiente(id) {

        swal({
            title: 'Estas Seguro de que quieres eliminar este dependiente?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
    
        $("#loading-animation-container").show();

        var request = $.ajax({
            url: '@Url.Action("EliminarDependientes")',
            type: 'Post',
            dataType: 'json',
            data: { IdDependiente: id }

        });
        request.done(function (data) {
            $("#loading-animation-container").hide();

            if (data.success) {
                swal({
                    title: 'Eliminado',
                    text: data.Mensaje,
                    type: 'success',
                    confirmButtonColor: '#0c4ba4',
                    confirmButtonText: 'Aceptar'
                }).then(function () {

                    Consultar();

                    if (data.Cantidad > 0) {

                        $("#Verdependiente").show();

                    } else {

                        $("#Verdependiente").hide();

                    }

                    $(".dependientes_total").val(data.Cantidad);

                    //$("#myModal").modal('hide');

                });
                //console.log(data);
            }
            else {
                swal({
                    title: 'Error',
                    text: data.Mensaje,
                    type: 'error',
                    confirmButtonColor: '#18212f',
                    confirmButtonText: 'Aceptar'
                });//.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Asignados/Asignados" });

            }
        })

        })
    }


</script>


<script>

    $(document).ready(function () {
        switch ('@Model.EstadoCivil') {
            case 'CASADO(A)':
                $('#ID_EstadoCivil option[value=' + 1 + ']').attr('selected', 'selected');
                break;
            case 'DIVORCIADO(A)':
                $('#ID_EstadoCivil option[value=' + 2 + ']').attr('selected', 'selected');
                break;
            case 'SOLTERO(A)':
                $('#ID_EstadoCivil option[value=' + 3 + ']').attr('selected', 'selected');
                break;
            case 'VIUDO(A)':
                $('#ID_EstadoCivil option[value=' + 4 + ']').attr('selected', 'selected');
                break;
        }

        $('#Dependiente option[value=' +@Model.Dependiente +']').attr('selected', 'selected');

        $('#ID_EstadoCivil option[value=' +@Model.EstadoCivil +']').attr('selected', 'selected');

    });
</script>

<script>
    $(document).ready(function () {

        $("#ProvinciaId").change(function () {
            var id = $("#ProvinciaId").val();
            $("#MunicipioId").prop('disabled', false);
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionMunicipio")',
                data: { provinciaId: id },
                success: function (data) {
                    console.log(data);
                    // var municipio = data;
                    $("#MunicipioId").empty();
                    $("#MunicipioId").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, municipio) {
                        $("#MunicipioId").append('<option value="' + municipio.MunicipioId + '">' + municipio.MunicipioDescripcion + '</option>')
                    })
                    $("#MunicipioId").trigger("chosen:updated");


                }
            });
        });

    });

    //Distritos
    $(document).ready(function () {

        $("#MunicipioId").change(function () {

            //function CargarMunicipios () {

            var id = $("#MunicipioId").val();
            $("#DistritoId").prop('disabled', false);
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionarDistricto")',
                data: { MunicipioId: id },
                success: function (data) {
                    // var municipio = data;
                    $("#DistritoId").empty();
                    $("#DistritoId").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, distrito) {
                        $("#DistritoId").append('<option value="' + distrito.DistritoId + '">' + distrito.DistritoDescripcion + '</option>')
                    })
                    $("#DistritoId").trigger("chosen:updated");


                }
            });
        });

    });
    //Ciudades
    $(document).ready(function () {
        $("#DistritoId").change(function () {

            //function CargarMunicipios () {

            var id = $("#DistritoId").val();
            $("#CiudadId").prop('disabled', false);
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionarCiudad")',
                data: { DistritoId: id },
                success: function (data) {
                    // var municipio = data;
                    $("#CiudadId").empty();
                    $("#CiudadId").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, ciudad) {
                        $("#CiudadId").append('<option value="' + ciudad.CiudadId + '">' + ciudad.CiudadDescripcion + '</option>')
                    })
                    $("#CiudadId").trigger("chosen:updated");


                }
            });
        });

    });

</script>
<script>
    $(document).ready(function () {
        $("#CiudadId").change(function () {

            //function Cargar Sectores () {

            var id = $("#CiudadId").val();
            $("#SectorId").prop('disabled', false);
            $.ajax({
                type: 'Get',
                url: '@Url.Action("SeleccionarSector")',
                data: { CiudaId: id },
                success: function (data) {
                    console.log(data)
                    $("#SectorId").empty();
                    $("#SectorId").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, sector) {
                        console.log(sector);

                        $("#SectorId").append('<option value="' + sector.SectorId + '">' + sector.SectorDescripcion + '</option>')
                    })
                    $("#SectorId").trigger("chosen:updated");


                }
            });
        });

    });


</script>


<script>

    $(document).ready(function () {

        $("#Guardar").click(function () {

            var actividadesSelecionadas = [];

            $.each($("[name='actividades']:checked"), function () {

                actividadesSelecionadas.push($(this).attr("id"));

            });

            $("[name='actividades[]']").val(actividadesSelecionadas);

            $("#loading-animation-container").show();

            var request = $.ajax({
                url: '@Url.Action("DatosPersonales")',
                type: 'Post',
                data:  $("#formDatosPersonales").serialize() ,
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {


                    swal({
                        title: 'Guardado',
                        text: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    }).then(function () {
                        // $("#loading-animation-container").show();
                        openCity(event, 'permisos');
                        $('#btnCargo').toggleClass('active');

                    });
                    $("#loading-animation-container").hide();

                }
                else {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })


                }
            })
        });
    });
</script>

<script type="text/javascript">
    function InstructivoVacaciones() {
        //$("#cardnet").show();

        var intro = introJs();

        intro.setOptions({
            steps: [
               {element: document.querySelector('#DatosPersonales1'),
                   intro: "Estas informaciones no se modifican.",
                   position: 'right'


             },
            {
                element: document.querySelector('#ID_EstadoCivil'),
                intro: "Seleccione la su estado civil.",
                position: 'right'
            },
            {
                element: document.querySelector('#telefono1'),
                intro: "Ingrese su Telefono Residencial",
                position: 'right'
            },

            {
                element: document.querySelector('#Celular'),
                intro: "Ingrese su Celular",
                position: 'right'
            },
              {
                  element: document.querySelector('#Telefono2'),
                  intro: "Ingrese un numero de contacto",
                  position: 'right'
              },

             {
                 element: document.querySelector('#Email'),
                 intro: "Ingrese su correo personal",
                 position: 'right'
             },
              {
                  element: document.querySelector('#provincia'),
                  intro: "Seleccione su provincia",
                  position: 'right'
              },
               {
                   element: document.querySelector('#municipio'),
                   intro: "Seleccione su municipio",
                   position: 'right'
               },
                {
                    element: document.querySelector('#localidad'),
                    intro: "Seleccione su localidad",
                    position: 'right'
                },
                 {
                     element: document.querySelector('#ciudad'),
                     intro: "Seleccione su ciudad",
                     position: 'right'
                 },
                     {
                         element: document.querySelector('#sector'),
                         intro: "Seleccione su Sector",
                         position: 'right'
                     },
                         {
                             element: document.querySelector('#Calle'),
                             intro: "Ingrese su calle",
                             position: 'right'
                         },
                           {
                               element: document.querySelector('#Numero'),
                               intro: "Ingrese su numero",
                                 position: 'right'
                             },
                                 {
                                     element: document.querySelector('#Dependiente'),
                                     intro: "Seleccione su cantidad de Dependiente (s)",
                                     position: 'right'
                                 },
                                     {
                                         element: document.querySelector('#ars'),
                                         intro: "Seleccione la ars a la que pertenece",
                                         position: 'right'
                                     },
                                      {
                                          element: document.querySelector('#afp'),
                                          intro: "Seleccione la afp a la que pertenece",
                                          position: 'right'
                                      },
                                       {
                                           element: document.querySelector('#Guardar'),
                                           intro: "Haga click en Guardar.",
                                           position: 'right'
                                       },

               {
                intro: "¡Y listo!",
                position: 'right'
            }
            ]
        });

        intro.start();

        intro.onexit(function () {
            $('#cardnet').hide();
        })
    }
</script>
<script>
    function SiguientePerson() {
        openCity(event, 'permisos');
        $('#btnCargo').toggleClass('active');
    }
</script>


@*Agregar Input Dinamicos*@
<script>
    $(function () {
        $.fn.addmore = function (options) {
            var moreElement = this,
                singlePreSelectedValue = '',
                selectedValue = [],
                defaultOption = {
                    addText: 'add more',
                    removeText: 'Remote',
                    selectBoxDuplicate: true,
                    avoidDuplicationSelection: function (e) {
                        var o = e;
                        if ($.inArray($(o).val(), selectedValue) != -1) {
                            $(o).val(singlePreSelectedValue);
                            alert('Value already selected.');
                        } else {
                            var hasSelectValue = true;
                            /*dif = $.Deferred();*/
                            $.each($('.removeDuplication'), function (i, v) {
                                if ($(this).val() == 'select') {
                                    hasSelectValue = false;
                                    return false;
                                }
                                /*if (i == ($('.removeDuplication').length - 1)) {
                                    dif.resolve();
                                }*/
                            });
                            /*dif.done(function() {
                                if (hasSelectValue) {
                                    $('[data-id="more"]').show();
                                }
                            })*/
                        }
                    },
                    prevSelectedValue: function (e) {
                        var o = e;
                        selectedValue = [];
                        $.each($('.removeDuplication'), function (i, v) {
                            if ($(this).val() != 'select') {
                                selectedValue.push($(this).val());
                            }
                        });
                        singlePreSelectedValue = $(o).val();
                    }
                }
            defaultOption = $.extend(true, defaultOption, options);
            /*if (!defaultOption.selectBoxDuplicate) {
                $(moreElement).find('select').addClass('removeDuplication');
            }*/
            $(this).find('select').prepend('<option value="select" selected>Seleccionar</option>');
            $(moreElement).after('<a href="javascript:void(0)" data-id="more" class="btn button_white"><i class="fa fa-plus-circle alejar_icono"></i>' + defaultOption.addText + '</a>');
            $('[data-id="more"]').click(function () {
                // $('[data-id="more"]').hide();
                var dataMore = this,
                    removeDuplication = [];
                $(dataMore).before($(moreElement).clone().find('input').not('input[type="submit"]').val('').end().end().find('select.removeDuplication').focus(function () {
                    if (!defaultOption.selectBoxDuplicate) {
                        defaultOption.prevSelectedValue(this);
                    }
                }).change(function () {
                    if (!defaultOption.selectBoxDuplicate) {
                        defaultOption.avoidDuplicationSelection(this);
                    }
                }).end().append(function () {
                    return $('<a href="javascript:void(0)" data-id="remove" class="btn button_white" style="margin-top: 28px;"><i class="fa fa-minus alejar_icono" aria-hidden="true"></i> ' + defaultOption.removeText + '</a>').click(function () {
                        $(this).parent().remove();
                    });
                }));
                if (!defaultOption.selectBoxDuplicate) {
                    $.each($('.removeDuplication'), function (i, v) {
                        if ($(this).val() != 'select') {
                            removeDuplication.push($(this).val());
                        }
                    });
                    $.each(removeDuplication, function (i, v) {
                        $('.removeDuplication').last().find('option[value="' + removeDuplication[i] + '"]').remove();
                    });
                }
            });
            $('.removeDuplication').focus(function (e) {
                defaultOption.prevSelectedValue(this);
            }).change(function () {
                defaultOption.avoidDuplicationSelection(this);
            });
            return this;
        }

        $('#agregarDependientes').addmore({
            addText: 'Agregar',
            removeText: 'Quitar',
            selectBoxDuplicate: false
        });
    });

</script>