﻿
@{
    ViewBag.Title = null;
    Layout = null;
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
@*<script src="~/scripts/openCityActalizarDatos.js"></script>*@

<style type="text/css">

    #tableGrid_wrapper {
        margin-top: 20px;
    }

    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: #38afd4 !important;
            color: #fff !important;
            width: 300px;
        }

    .chosen-container {
        width: 100% !important;
    }


    .modal-content {
        width: 700px;
        color: #262626;
    }

    .boton:hover {
        cursor: pointer;
        text-decoration: none;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }

    .checkbox {
        float: left;
        margin-right: 10px !important;
        width: 15px;
        height: 15px;
    }

    .checkbox-labels > p {
        float: right;
    }

</style>

@Styles.Render("~/datatables/css")

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Departamento2").hide();
        $("#Department").hide();
        $(".Depart").change(function () {

            if ($('.Depart:checked').val() == "1") {
                $("#Departamento2").show();
                $("#Department").show();

            }
            else {
                $("#Departamento2").hide();
                $("#Department").hide();
            }
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Cargo2").hide();
        $("#Cargo3").hide()

        $(".Cargos").change(function () {
            if ($('.Cargos:checked').val() == "1") {
                $("#Cargo2").show();
                $("#Cargo3").show()

            }
            else {
                $("#Cargo2").hide();
                $("#Cargo3").hide()
            }
        })


    })
</script>
<script>
    $(document).ready(function () {
        $("#Celular").mask('(000)-000-0000');
        $("#Telefono2").mask('(000)-000-0000');
        $("#telefono1").mask('(000)-000-0000');

    })
</script>


@using (Html.BeginForm("vNivelAcademico", "ActualizarDatos", FormMethod.Post, new { id = "formModalNivelAcademico" }))
{

    <input type="hidden" value="@ViewBag.EmpleadoId" name="Empleadoid" id="Empleadoid" />
    <div class="background_button_titles">
        <div class="row ">
            <div class="col-lg-4">
                <h4>Nivel Académico</h4>
            </div>
            <div class="col-lg-8">
                <div class="pull-right actualizarDatos">
                    <div class="br-2en1">
                        <a class="btn button_white" id="volverCargo" onclick="VolverCargo()"><i class="fa fa-arrow-left alejar_icono" aria-hidden="true"></i>Atras</a>
                        <a class="btn button_white" id="siguienteRedes" onclick="SiguienteRedes()">Siguiente<i class="fa fa-arrow-right alejar_icono" aria-hidden="true"></i></a>
                    </div>
                    <a class="btn button_white" href="javascript:void(0);" onclick="InstructivoNivelAcademico();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                    <button type="button" id="GuardarNivelAcademico" class="btn button_white"><i class="fa fa-save alejarIcono"></i>Guardar</button>
                </div>
            </div>
            @*<div class="col-lg-4">
                    <button type="button" id="Actualizar" name="Actualizar" onclick="Editar()" class="button_white">Actualizar</button>
                </div>*@
        </div>
    </div>


    <div class="row">

        <div class="col-lg-4">
            <label>Grado Académico</label>
            <div>
                <div id="nivelacademico">
                    @Html.DropDownList("NivelAcademicoId", null, "Seleccione el Grado Académico", new { @class = "form-control chosen-select" })
                </div>
            </div>
        </div>

        <div class="col-lg-4  institucion-div new-checkbox" hidden id="institucion2">
            <label>Institución</label>
            <div>
                <div id="institucion3">

                    @Html.DropDownList("InstitucionId", null, "Seleccione La Institución", new { @class = "form-control chosen-select institucion-dropdown" })

                </div>
                <input id="OtraInstitucion" style="display: block; height: 37px;" name="OtraInstitucion" class="form-control" />

            </div>

            <label class="checkbox-labels InstitucionNolista-label">
                <input class="checkbox" name="InstitucionNolista" id="InstitucionNolista" type="checkbox" tipo="Institucion" />
                <label for="InstitucionNolista">Otra institución</label>
            </label><br>
            

        </div>

        <div class="col-lg-4 profesion-div new-checkbox" hidden id="profesion2">
            <label>Profesión</label>
            <div>
                <div id="profesion3">
                    @Html.DropDownList("ProfesionId", null, "Seleccione la Profesión", new { @class = "form-control chosen-select profesion-dropdown" })
                </div>
                <input id="OtraProfesion" style="display: block; height: 37px;" name="OtraProfesion" class="form-control" />

            </div>
            <label class="checkbox-labels ProfesionNolista-label"><input class="checkbox" name="ProfesionNolista" id="ProfesionNolista" type="checkbox" tipo="Profesion" />
                <label for="ProfesionNolista">Otra profesión</label>
            </label> <br>
        </div>
    </div>

}



    <table class="table display responsive nowrap tablaNivelAcademico" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Grado Académico</th>
                <th>Institución</th>
                <th>Profesión</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.carreras.Count > 0)
            {
                foreach (var item in ViewBag.carreras)
                {
                    <tr>
                        <td>
                            @item.NivelAcademico.Descripcion
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.OtraInstitucion) ? item.Institucion.DescripcionConSiglas : item.OtraInstitucion )
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.OtraProfesion) ? item.Profesiones.Descripcion : item.OtraProfesion )
                        </td>
                        <td> <a class="boton estatus estatus_informacion" onclick="EditarCarrera(@item.CarreraId)">Editar</a><a class="boton estatus estatus_informacion" onclick="EliminarCarrera(@item.CarreraId)">Eliminar</a>
                         
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

<div id="EditarCarreraModal" class="modal br-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/ActualizarDatos/EditarCarreraModal.cshtml");
            }
        </div>
    </div>
</div>

@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>

<script>

    var NivelAcademico = $("#NivelAcademicoId");
    var Institucion = $("#InstitucionId");
    var AnimacionCarga = $("#loading-animation-container");
    //var tabla = $("#tablaNivelAcademico").DataTable();

    var tabla = $(".tablaNivelAcademico").DataTable({
        "language": idioma_esp,
        responsive: true
    })

    var PageWidth = $(window).width();

    $(document).ready(function () {

        NivelAcademico.change(function () {

            if (NivelAcademico.val() != "") {

                $('input[id="ProfesionNolista"],input[id="InstitucionNolista"]').prop("checked", false);

                $('.ProfesionNolista-label').hide();

                if (NivelAcademico.val() == 5 || NivelAcademico.val() == 6 || NivelAcademico.val() == 3 || NivelAcademico.val() == 7 || NivelAcademico.val() == 1) {
                    $(".profesion-div, .institucion-div, #OtraProfesion, #OtraInstitucion").show();

                    if (PageWidth <= 650) {

                        $("#InstitucionId, #ProfesionId").hide();

                    } else {

                        $("#InstitucionId_chosen, #ProfesionId_chosen").hide();

                    }

                    $(".checkbox-labels").hide();

                } else {

                    $(".profesion-div, .institucion-div, .checkbox-labels").show();

                    if (PageWidth <= 650) {

                        $("#InstitucionId, #ProfesionId").show();

                    } else {

                        $("#InstitucionId_chosen, #ProfesionId_chosen").show();

                    }

                    $("#OtraProfesion, #OtraInstitucion").hide();
                    $("#OtraProfesion, #OtraInstitucion").val('');

                }

            } else {

                $(".profesion-div, .institucion-div").hide();

            }

        });

        $("#GuardarNivelAcademico").click(function () {

            if ($("#InstitucionId").val() == "" && $("#OtraInstitucion").val() == "") {

                info('Por favor, Indique la Institución');
                return;
            }

            if ($("#NivelAcademicoID").val() == "") {

                info('Por favor, Indique el Grado Académico');
                return;
            }

            if ($("#ProfesionId").val() == "" && $("#OtraProfesion").val() == "") {

                info('Por favor, Indique la Profesión');
                return;
            }


            $("#loading-animation-container").show();
            var request = $.ajax({
                url: '@Url.Action("NivelAcademico")',
                type: 'Post',
                data:
                $("#formModalNivelAcademico").serialize(),
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {

                    swal({
                        title: 'Guardado',
                        text: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    });
                    CargarCarreras();
                    LimpiarCampos();
                    $(".profesion-div, .institucion-div").hide();
                    $("#loading-animation-container").hide();
                    @*.then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/ActualizarDatos/" });*@
                }
                else {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })
                }
            })
        });

        $("#ProfesionNolista,#InstitucionNolista,#InstitucionModalNolista,#ProfesionModalNolista").change(function () {

            var tipo = $(this).attr('tipo');

            var ValorNolista = $("#" + tipo + "Nolista:checked").val();

            if (ValorNolista == "on") {

                if (PageWidth <= 650) {

                    $("#" + tipo + "Id").hide();

                } else {

                    $("#" + tipo + "Id_chosen").hide();
                }

                $("#" + tipo + "Id").val("");
                $("#" + tipo + "Id").trigger("chosen:updated");

                $("#Otra" + tipo).show();

            } else {

                if (PageWidth <= 650) {

                    $("#" + tipo + "Id").show();

                } else {
                    $("#" + tipo + "Id_chosen").show();
                }

                $("#Otra" + tipo).hide();
                $("#Otra" + tipo).val("");
            }

        });

        //$("#ProfesionNolista,#InstitucionNolista").change(function () {

            //var ProfesionNolista = $("#ProfesionNolista:checked").val();

            //console.log($(this).attr('tipo'));

            //if (ProfesionNolista == "on") {

            //    $("#ProfesionId_chosen").hide();
            //    $("#ProfesionId").val("");
            //    $("#ProfesionId").trigger("chosen:updated");
            //    $("#OtraProfesion").show();

            //} else {

            //    $("#OtraProfesion").hide();
            //    $("#OtraProfesion").val("");
            //    $("#ProfesionId_chosen").show();

            //}

        //});

    });

    function CargarCarreras() {

        $.ajax({
            url: "@Url.Action("CargarCarreras")",
            method: 'POST',
            dataType: 'json',
            //data: { id: 6493 },
            success: function (data, status, xhr) {

                console.log(data);
                ListarCarreras(data);

            },
            error: function (jqXhr, textStatus, errorMessage) {
                error('Un error ha ocurrido al actualizar lista de carreras.');
            }
        });

    }

    function EditarCarrera(id) {
        console.log(id);
        CargarCarrera(id);
        $('#EditarCarreraModal').modal();
    }

    function EliminarCarrera(id) {

        console.log(id);
        CambiarEstadoCarrera(id);
    }

    function CambiarEstadoCarrera(id) {

        swal({
            title: 'Estas Seguro de que quieres eliminar este registro?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            AnimacionCarga.show();
            $.ajax({
                method: 'POST',
                data: { id: id },
                url: "@Url.Action("CambiarEstadoCarrera")",
                success: function (data) {
                    if (data == 'Eliminado') {
                        success(data);
                        CargarCarreras();
                        return data;
                    } else {
                        error('A ocurrido un error, refresque la pagina y trate otra vez.');
                    }
                },
                error: function (ex) {
                    error('Un error ha ocurrido.');
                }
            });
        })

    }

    function CargarCarrera(id) {

        $.ajax({
            method: 'POST',
            data: { id: id },
            url: "@Url.Action("GetCarrera")",
            success: function (data) {

                $("#IDModificar").val(data.ID);
                $("#NivelAcademicoIdModal").val(data.NivelID);
                $("#NivelAcademicoIdModal").trigger("chosen:updated");
                CambiodeNivelAcademicoModal(data.NivelID);

                if (data.InstitucionID != "0") {

                    $('input[id="InstitucionNolistaModal"]').prop("checked", false);
                    $("#OtraInstitucionModal").val("");
                    $("#InstitucionModalId").val(data.InstitucionID);
                    $("#InstitucionModalId").trigger("chosen:updated");

                    if (PageWidth <= 650) {

                        $("#InstitucionModalId").show();

                    } else {

                        $("#InstitucionModalId_chosen").show();

                    }

                    $("#OtraInstitucionModal").hide();

                }
                else {

                    $('input[id="InstitucionNolistaModal"]').prop("checked", true);

                    $("#OtraInstitucionModal").val(data.OtraInstitucion);
                    $("#InstitucionModalId").val("0");
                    $("#InstitucionModalId").trigger("chosen:updated");

                    $("#OtraInstitucionModal").show();

                    if (PageWidth <= 650) {

                        $("#InstitucionModalId").hide();

                    } else {

                        $("#InstitucionModalId_chosen").hide();

                    }
                }

                if (data.ProfesionID != "0") {

                    $('input[id="ProfesionNolistaModal"]').prop("checked", false);

                    $("#OtraProfesionModal").val("");
                    $("#ProfesionModalId").val(data.ProfesionID);
                    $("#ProfesionModalId").trigger("chosen:updated");


                    if (PageWidth <= 650) {

                        $("#ProfesionModalId").show();

                    } else {

                        $("#ProfesionModalId_chosen").show();

                    }

                    $("#OtraProfesionModal").hide();

                }
                else {

                    $('input[id="ProfesionNolistaModal"]').prop("checked", true);

                    $("#OtraProfesionModal").val(data.OtraProfesion);
                    $("#ProfesionModalId").val("0");
                    $("#ProfesionModalId").trigger("chosen:updated");

                    $("#OtraProfesionModal").show();

                    if (PageWidth <= 650) {

                        $("#ProfesionModalId").hide();

                    } else {

                        $("#ProfesionModalId_chosen").hide();

                    }

                }

            },
            error: function (ex) {
                error('Un error ha ocurrido.');
            }
        });

    }

    function ListarCarreras(carreras) {

        tabla.clear().draw();

        for (var i in carreras) {
            var carrera = carreras[i];

            tabla.row.add({
                0: carrera.Descripcion,
                1: isNullOrEmpty(carrera.OtraInstitucion) ? carrera.DescripcionConSiglas : carrera.OtraInstitucion,
                2: isNullOrEmpty(carrera.OtraProfesion) ? carrera.ProfesionesDescripcion : carrera.OtraProfesion,
                3: `<td> <a class="boton estatus estatus_informacion" onclick="EditarCarrera(` + carrera.CarreraId + `)" >Editar</a>`+
                    ` <a class="boton estatus estatus_informacion" onclick="EliminarCarrera(` + carrera.CarreraId + `)" >Eliminar</a>`
            }).draw();
        }
    }

    function success(mensaje) {
        AnimacionCarga.hide();
        swal({
            title: mensaje,
            type: 'success',
            confirmButtonText: 'OK'
        })
    //.then(function () {
    //        location.reload();
    //    })
    }

    function info(mensaje) {
        AnimacionCarga.hide();
        swal(mensaje,'','info');
    }

    function error(mensaje) {
        AnimacionCarga.hide();
        swal('Error', mensaje, 'error');
    }

    function isNullOrEmpty(s) {
        return (s == null || s === "");
    }

    function LimpiarCampos() {

        $("#NivelAcademicoId,#InstitucionId,#ProfesionId,#OtraInstitucion,#OtraProfesion").val("");
        $("#NivelAcademicoId,#InstitucionId,#ProfesionId").trigger("chosen:updated");
    }

</script>

<script type="text/javascript">
    function InstructivoNivelAcademico() {

        $("#institucion2").show();
        $("#profesion2").show();
        $("#OtraInstitucion").show();

        var intro = introJs();

        intro.setOptions({
            steps: [

            {
                element: document.querySelector('#nivelacademico'),
                intro: "Seleccione su nivel academico.",
                position: 'right'
            },

            {
                element: document.querySelector('#institucion3'),
                intro: "Si su nivel academico es universitario o mayor seleccione la institucion",
                position: 'right'
            },
              {
                  element: document.querySelector('#profesion3'),
                  intro: "Seleccione su profesión",
                  position: 'right'
              },
              {
                  element: document.querySelector('#OtraInstitucion'),
                  intro: "De lo contrario ingrese el nombre de la misma.",
                  position: 'right'
              },


              {
                  element: document.querySelector('#OtraProfesion'),
                  intro: "Ingrese el nombre de su modalidad.",
                  position: 'right'
              },
                 {
                     element: document.querySelector('#GuardarNivelAcademico'),
                     intro: "Haga click en Guardar.",
                     position: 'right'
                 },
               {
                   element: document.querySelector('#tableGrid'),
                   intro: "Aqui puede ver los datos ingresados.",
                   position: 'right'
               },



               {
                   intro: "¡Y listo!",
                   position: 'right'
               }
            ]
        });

        intro.start();

        intro.onexit(function () {

            $("#institucion2").hide();
            $("#profesion2").hide();
            $("#OtraInstitucion").hide();
        })
    };

   
</script>

<script>
    function VolverCargo() {

        openCity(event, 'permisos');
        $('#btnCargo').toggleClass('active');
    }

    function SiguienteRedes() {
        openCity(event, 'ponches');
        $('#btnRedes').toggleClass('active');
    }
    
</script>




