﻿
@model intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = null;
}

@using intra.Models.ActualizacionDatos;
@{
    var Datos = ViewBag.EmpleadoComplemento1;
    vDatosEmpleados empleado = ViewBag.Datos;
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>


<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            background: #38afd4 !important;
            color: #fff !important;
            width: 300px;
        }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }



    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>


@if (TempData["Index"] != null)
{
    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Index"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/" });
    </script>


}

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Departamento2").hide();
        $("#Department").hide();
        $(".Depart").change(function () {

            if ($('.Depart:checked').val() == "1") {
                $("#Departamento2").show();
                $("#Department").show();

            }
            else {
                $("#Departamento2").hide();
                $("#Department").hide();
            }
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Cargo2").hide();
        $("#Cargo3").hide()

        $(".Cargos").change(function () {
            if ($('.Cargos:checked').val() == "1") {
                $("#Cargo2").show();
                $("#Cargo3").show()

            }
            else {
                $("#Cargo2").hide();
                $("#Cargo3").hide()
            }
        })


    })
</script>
<script>
    $(document).ready(function () {
        $("#Celular").mask('(000)-000-0000');
        $("#Telefono2").mask('(000)-000-0000');
        $("#telefono1").mask('(000)-000-0000');

    })
</script>


<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@using (Html.BeginForm("vObservaciones", "ActualizarDatos", FormMethod.Post, new { id = "formObservaciones" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.empleadoid)
    <input type="hidden" value="@ViewBag.EmpleadoId" name="Employee" id="Employee" />

    <div class="background_button_titles">
        <div class="row">
            <div class="col-lg-4">
                <h4>OBSERVACIONES</h4>
            </div>
            <div class="col-lg-8">
                <div class="pull-right actualizarDatos">
                    
                    <div class="br-2en1">
                        <a class="btn button_white" id="volverRedes" onclick="VolverRedes()"><i class="fa fa-arrow-left alejar_icono" aria-hidden="true"></i>Atras</a>
                        <a class="btn button_white" id="SiguientePersonales" onclick="SiguientePersonales()">Siguiente<i class="fa fa-arrow-right alejar_icono" aria-hidden="true"></i></a>
                    </div><!--br-2en1-->

                    <a class="btn button_white" href="javascript:void(0);" onclick="InstructivoObservaciones();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                    <button type="button" id="Save" name="Save" class="btn button_white"><i class="fa fa-save alejarIcono"></i>Guardar</button>
                </div>
            </div>
          
        </div>
    </div>



        <div class="row">
            <div class="col-lg-12">
                <label>Observaciones</label>
                <div>
                    <textarea id="Observaciones" name="Observaciones">@Datos.Observaciones</textarea>
                </div>
            </div>
        </div>


}


<script>

    $(document).ready(function () {

        $("#Save").click(function () {
            $("#loading-animation-container").show();
            var request = $.ajax({
                url: '@Url.Action("Observaciones")',
                type: 'Post',
                data:
                    $("#formObservaciones").serialize(),
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {


                    swal({
                        title: 'Guardado',
                        text: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    }).then(function () {
                        openCity(event, 'comprobante');
                        $('#comprobanteButtonID').toggleClass('active');
                      
                    });
                    $("#loading-animation-container").hide();
                }
                else {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })


                }
            })
        });
    });
</script>

<script type="text/javascript">
    function InstructivoObservaciones() {

        var intro = introJs();

        intro.setOptions({
            steps: [

            {

                intro: "Si tiene alguna quejas, dudas o sugerencias.",
                position: 'right'
            },

            {
                element: document.querySelector('#Observaciones'),
                intro: "Ingresela en esta sección.",
                position: 'right'
            },

                 {
                     element: document.querySelector('#Save'),
                     intro: "Haga click en Guardar.",
                     position: 'right'
                 },

               {
                   intro: "¡Y listo!",
                   position: 'right'
               }
            ]
        });

        intro.start();

        intro.onexit(function () {


        })
    };

  
</script>


<script>
    function VolverRedes() {
        openCity(event, 'ponches');
        $('#btnRedes').toggleClass('active');

    }

    function SiguientePersonales() {
        openCity(event, 'comprobante');
        $('#comprobanteButtonID').toggleClass('active');
    }
</script>