﻿@model intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = null;
}

@using intra.Models.ActualizacionDatos;
@{
    var Datos = ViewBag.EmpleadoComplemento1;
    vDatosEmpleados empleado = ViewBag.Datos;
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>
@*<script src="~/scripts/openCityActalizarDatos.js"></script>*@

<style type="text/css">
    .serviciosSolicitud #verificado {
        margin-top: -34px;
        float: right;
        margin-right: 7px;
    }

    .chosen-container-multi .chosen-choices {
        /*background: #38afd4 !important;*/
        color: red !important;
        /*width: 300px;*/
    }

    .chosen-container-multi .chosen-choices .search-field input[type="text"] {
        background: #38afd4 !important;
        color: #fff !important;
        width: 300px;
    }

    /*.chosen-container-multi .chosen-choices select {
            border: 0px !important;
            width: 300px;
        }*/

    .chosen-container {
        width: 100% !important;
    }



    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
</style>
@if (TempData["Index"] != null)
{
    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Index"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            }).then(function () { window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/Home/" });
    </script>


}

<script type="text/javascript">
    $(document).ready(function () {
        //$("#Facebook1").hide()

        $(".facebook").change(function () {
            if ($('.facebook:checked').val() == "true") {
                $("#Facebook1").show();
                $("#Facebook2").hide();

                //$("#Facebook").show()

            }
            else {
                $("#Facebook1").hide();
                $("#Facebook1").val("");
            }
        })


    })
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".twitter").change(function () {
            if ($('.twitter:checked').val() == "true") {
                $("#twitter1").show();
                $("#twitter2").hide();
                //$("#Facebook").show()

            }
            else {
                $("#twitter1").hide();
                $("#twitter1").val("");
            }
        })


    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#instagram1").hide()

        $(".instagram").change(function () {
            if ($('.instagram:checked').val() == "true") {
                $("#instagram1").show();
                $("#instagram2").hide();

            }
            else {
                $("#instagram1").hide();
                $("#instagram1").val("");
            }
        })


    })
</script>




@using (Html.BeginForm("vRedesSociales", "ActualizarDatos", FormMethod.Post, new { id = "formRedesSociales" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.empleadoid)
    <input type="hidden" value="@ViewBag.EmpleadoId" name="Employee" id="Employee" />
    <div class="background_button_titles">
        <div class="row ">
            <div class="col-lg-4">
                <h4>REDES SOCIALES</h4>
            </div>
            <div class="col-lg-8">
                <div class="pull-right actualizarDatos">

                    <div class="br-2en1">
                        <a class="btn button_white" id="volverAcademico" onclick="VolverAcademico()"><i class="fa fa-arrow-left alejar_icono" aria-hidden="true"></i>Atras</a>
                        <a class="btn button_white" id="SiguienteObservaciones" onclick="SiguienteObservaciones()">Siguiente<i class="fa fa-arrow-right alejar_icono" aria-hidden="true"></i></a>
                    </div><!--br-2en1-->

                    <a class="btn button_white" href="javascript:void(0);" onclick="InstructivoRedesSociales();"><i class="fa fa-info-circle alejarIcono" aria-hidden="true"></i> Instructivo</a>
                    <button type="button" id="Save3" name="Save3" class="btn button_white"><i class="fa fa-save alejar_icono" aria-hidden="true"></i>Guardar</button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        @*<div class="col-lg-2">
            <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                <input class="facebook radio-1" type="checkbox" value="true" id="Facebook" name="Facebook">
                <label>Facebook:</label>
            </div>
        </div>*@

        <div class="col-lg-2">
            <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                <input type="checkbox" id="Facebook" class="facebook radio-1" value="true" name="Facebook"/>
                <label for="Facebook">Facebook</label>
            </div>
        </div>

        <div class="col-lg-4">
            <input type="text" id="Facebook1" name="Facebook1" value="@Datos.Facebook" class="" hidden="hidden" placeholder="Ingresa tu dirección de Facebook aquí" />
            @*<input type="text" id="Facebook2" value="@Datos.Facebook" name="Facebook2" class="form-control" hidden="hidden" />*@
        </div>

    </div>

    <div class="row">

        @*<div class="col-lg-2">
            <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                <input class="twitter radio-1" type="checkbox" value="true" id="Twitter" name="Twitter">
                <label>Twitter:</label>
            </div>
        </div>*@

        <div class="col-lg-2">
            <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                <input type="checkbox" id="Twitter" class="twitter radio-1" value="true" name="Twitter" />
                <label for="Twitter">Twitter</label>
            </div>
        </div>

        <div class="col-lg-4">
            <input type="text" id="twitter1" name="twitter1" value="@Datos.Twitter" class="" hidden="hidden" placeholder="Ingresa tu dirección de Twitter aquí" />
            @*<input type="text" id="twitter2" name="twitter2" value="@Datos.Twitter"  class="form-control" hidden="hidden" />*@
        </div>

    </div>

    <div class="row">

        @*<div class="col-lg-2">
            <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                <input class="instagram radio-1" type="checkbox" value="true" id="Instagram" name="Instagram">
                <label>Instagram:</label>
            </div>
        </div>*@

        <div class="col-lg-2">
            <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                <input type="checkbox" id="Instagram" class="instagram radio-1" value="true" name="Instagram" />
                <label for="Instagram">Instagram</label>
            </div>
        </div>

        <div class="col-lg-4">
            <input type="text" id="instagram1" name="instagram1" value="@Datos.Instagram" class="" hidden="hidden" placeholder="Ingresa tu dirección de Instagram aquí" />
        </div>

    </div>

}


<script>
    $(document).ready(function () {
        if ($("#Facebook1").val() != "") {
            $("#Facebook2").hide();
            $("#Facebook1").show();
            $(".facebook").prop("checked", true);

        }
        else {
            $("#Facebook1").val("");
            $("#Facebook2").show();
            $("#Facebook1").hide();
            $(".facebook").prop("checked", false);
        };

        if($("#twitter1").val() != "")
        {
         $("#twitter1").show();
        $("#twitter2").hide();
        $("#Twitter").prop("checked", true)
         }
         else
          {

         $("#twitter1").val("");
         $("#twitter1").hide();
        $("#twitter2").show();
        $("#Twitter").prop("checked", false);

        }

        if ($("#instagram1").val() != "") {

            $("#instagram1").show();
            $("#instagram2").hide();
            $('.instagram').prop("checked", true);

        }
        else {

            $("#instagram1").val("");
            $("#instagram1").hide();
            $("#instagram2").show();
            $('.instagram').prop("checked", false);

        }

    });
</script>


<script>

    $(document).ready(function () {

        $("#Save3").click(function () {
            $("#loading-animation-container").show();
            var request = $.ajax({
                url: '@Url.Action("RedesSociales")',
                type: 'Post',
                data:
                    $("#formRedesSociales").serialize(),
            });
            request.done(function (data) {
                $("#loading-animation-container").hide();
                if (data.success == true) {


                    swal({
                        title: 'Guardado',
                        text: data.Mensaje,
                        type: 'success',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    }).then(function () {
                        openCity(event, 'observaciones');
                        $('#btnObservaciones').toggleClass('active');
                    });
                    $("#loading-animation-container").hide();


                }
                else {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'
                    })


                }
            })
        });
    });
</script>

<script type="text/javascript">
    function InstructivoRedesSociales() {
        $("#Facebook1").show();
        $("#twitter1").show();
        $("#instagram1").show();

        var intro = introJs();

        intro.setOptions({
            steps: [

            {

                intro: "Si desea proporcionarnos sus redes sociales.",
                position: 'right'
            },

            {
                element: document.querySelector('#Facebook'),
                intro: "Haga click aquí",
                position: 'right'
            },
              {
                  element: document.querySelector('#Facebook1'),
                  intro: "Ingrese el nombre se su cuenta de facebook.",
                  position: 'right'
              },
              {
                  element: document.querySelector('#Twitter'),
                  intro: "Haga click aquí.",
                  position: 'right'
              },
               {
                   element: document.querySelector('#twitter1'),
                   intro: "Ingrese el nombre se su cuenta de twitter.",
                   position: 'right'
               },

                  {
                      element: document.querySelector('#Instagram'),
                      intro: "Haga click aquí.",
                      position: 'right'
                  },
               {
                   element: document.querySelector('#instagram1'),
                   intro: "Ingrese el nombre se su cuenta de instagram.",
                   position: 'right'
               },


                 {
                     element: document.querySelector('#Save3'),
                     intro: "Haga click en Guardar.",
                     position: 'right'
                 },

               {
                   intro: "¡Y listo!",
                   position: 'right'
               }
            ]
        });

        intro.start();

        intro.onexit(function () {
            $("#Facebook1").hide();
            $("#twitter1").hide();
            $("#instagram1").hide();

        })
    };

   
</script>

<script>
    function VolverAcademico() {
        openCity(event, 'vacaciones');
        $('#btnNivelAcademico').toggleClass('active');

    }

    function SiguienteObservaciones() {
        openCity(event, 'observaciones');
        $('#btnObservaciones').toggleClass('active');
    }
   
</script>

