﻿@model intra.Models.BienesIncautados.INV_INCAUTACIONES

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/intraMaster.cshtml";
}

<script type="text/javascript">

    function load_tipos()
    {
        $("#TIPO_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("dbTipos")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ clase: ' + $("#CLAS_ID").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#TIPO_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    $(document).ready(function () {
     
        $("#CLAS_ID").change(function () {
           
            load_tipos();
            return false;
        })
    });
</script>

<h2>Actualizacion</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
       
        <div class="form-group">
            <label for="CASO_ID" class="control-label col-md-2">CASO</label>
            <div class="col-md-10">
                @Html.DropDownList("CASO_ID", (SelectList)ViewBag.Casos)
              
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_FHENTRADA" class="control-label col-md-2">Fecha Entrada</label>      
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_FHENTRADA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_FHENTRADA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_CASO" class="control-label col-md-2">No. Caso</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_CASO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_CASO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="clase" class="control-label col-md-2">Clase</label>
            <div class="col-md-10">
                @Html.DropDownList("CLAS_ID", (SelectList)ViewBag.Clases)
                @Html.ValidationMessageFor(model => model.CLAS_ID, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            <label for="TIPO_ID" class="control-label col-md-2">Tipo</label>    
            <div class="col-md-10">
                @Html.DropDownList("TIPO_ID", (SelectList)ViewBag.Tipos) 
                @Html.ValidationMessageFor(model => model.TIPO_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_LOCALIDADINC" class="control-label col-md-2">Lugar Incautacion</label>
            <div class="col-md-10">
                @Html.DropDownList("INCA_LOCALIDADINC", (SelectList)ViewBag.ProvInc)            
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_LOCALIDADINC" class="control-label col-md-2">Localizacion Actual</label>
            <div class="col-md-10">
                @Html.DropDownList("INCA_LOCALIDADINV", (SelectList)ViewBag.ProvInv)
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_MODELO" class="control-label col-md-2">Modelo</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_MODELO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_MODELO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_MARCA" class="control-label col-md-2">Marca</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_MARCA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_MARCA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_ANO" class="control-label col-md-2">Año</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_ANO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_ANO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_CHASIS" class="control-label col-md-2">CHASIS</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_CHASIS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_CHASIS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="INCA_COLOR" class="control-label col-md-2">COLOR</label>
            <div class="col-md-10">
                @Html.DropDownList("COLOR_ID", (SelectList)ViewBag.Colores)
             
            </div>
        </div>
        <div class="form-group">
            <label for="INCA_ESTATUS" class="control-label col-md-2">Estatus</label>    
            <div class="col-md-10">
                @Html.DropDownList("INCA_ESTATUS", (SelectList)ViewBag.Estatus)
              
                @Html.ValidationMessageFor(model => model.INCA_ESTATUS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_SUJETO" class="control-label col-md-2">Sujeto</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_SUJETO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_SUJETO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_CEDULA" class="control-label col-md-2">Identificacion</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_CEDULA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_VALOR" class="control-label col-md-2">Valor Tasación</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_VALOR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_VALOR, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label for="INCA_ACUERDO" class="control-label col-md-2">Valor Acuerdo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_ACUERDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_ACUERDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_NOTA" class="control-label col-md-2">Nota del BI</label>    
            <div class="col-md-10">
                @Html.EditorFor(model => model.INCA_NOTA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INCA_NOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="INCA_NOTA" class="control-label col-md-2">Foto</label>
            <div class="col-md-10">
              <input type="file" id="bifoto" class="form-control" />
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonAceptar" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    load_tipos();
</script>
