﻿@model intra.Models.BienesIncautados.INV_INCAUTACIONES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>INV_INCAUTACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INCA_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_FHCREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_FHCREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_FHENTRADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_FHENTRADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_CASO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_CASO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_CASO_ESTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_CASO_ESTATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_MODELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_ANO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_ANO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_ESTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_ESTATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_SUJETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_SUJETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCA_NOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCA_NOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUA_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.INCA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
