﻿@model IEnumerable<intra.Models.BienesIncautados.VISTA_INCAUTACIONES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />


<section class="row">
    <div class="col-lg-10">
        <h2 class="h2_title_page">Bienes Incautados</h2>
        <hr class="hr2" />
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @if(User.IsInRole("BIA") || User.IsInRole("BIWR")) { 
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
            }
        </p>
    </div>   
</section>
<table id="tableGrid"  class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>No. BI</th>
            <th>Creacion</th>
            <th>Entrada</th>
            <th>No. Caso</th>
            <th>Tipo</th>
            <th>Estatus</th>
            <th>Sujeto</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.ActionLink(item.INCA_NO, "Edit", new { id = item.INCA_ID })</td>
                <td> @Html.DisplayFor(modelItem => item.INCA_FHCREACION) </td>
                <td> @Html.DisplayFor(modelItem => item.INCA_FHENTRADA) </td>
                <td> @Html.DisplayFor(modelItem => item.INCA_CASO) </td>
                <td> @Html.DisplayFor(modelItem => item.TIPO_NOMBRE) </td>
                <td> @Html.DisplayFor(modelItem => item.ESTA_NOMBRE) </td>
                <td> @Html.DisplayFor(modelItem => item.INCA_SUJETO) </td>
                <td> @Html.DisplayFor(modelItem => item.INCA_VALOR) </td>
            </tr>
        }
    </tbody>
</table>


<script>
        $(document).ready(function () {
            $('#tableGrid').DataTable({
                "language": {
                    "processing": "...Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron registros disponibles",
                    "emptyTable": "No hay Datos Disponibles en esta Tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "",
                    "search": "Buscar:",
                    "url": "",
                    "infoThousands": ",",
                    "loadingRecords": "...Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                responsive: true



            })
        });
</script>
