﻿@model intra.Models.GestionHumana.Sugerencias.RH_Sugerencia

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>

    .form-control {
        width: 100%;
        max-width: 100%;
        border-color: #4BBCE3 !important;
    }
</style>

<form id="">
    <div class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Información de la Sugerencia</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right">

                <a class="button_white" href="@Url.Action("Index", "RH_Sugerencia")">Lista de sugerencias</a>
                @*<a class="button_white btn_aprobar_sugerencia" codigo="@Model.SugerenciaID">Aprobar</a>
                <a class="button_white btn_rechazar_sugerencia" codigo="@Model.SugerenciaID">Rechazar</a>*@

            </div>
        </div>
    </div>


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Motivo</label>
                        <input type="text" value="@Model.SugerenciaMotivo.Descripcion" class="form-control" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Región</label>
                        <input type="text" value="@Model.Dependencia.DependenciaNombre" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label>Detalle Solicitud</label>
                        @Html.TextArea("DetallePaseProduccion", Model.Descripcion, new { @class = "form-control textarea", @rows = "3", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>
<script src="~/scripts/$modulos/sugerencias/sugerencias_main.js"></script>