﻿
<style>
    .br-modal .modal-content {
        padding: 20px;
    }
    .br-solicitados-head .content {
        padding: 1.75px 0;
        display: flex;
        justify-content: flex-end;
        background-color: #f4f4f4;
        padding: 10px 10px 0 10px;
    }
    hr.hr2 {
        width: 40% !important;
        border: solid 1px #70707a !important;
        margin:0;
        margin-top: 12px !important;
    }

    .modal.in .modal-dialog {
        width: 800px;
    }
    .form-control {
        border: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
    }
    .bajar{
        margin-top:15px;
    }
    .confidencial {
        line-height: 3;
        color: #555555;
    }

</style>

@{
    /**/

    ViewBag.Title = "Details";
    Layout = null;
}

<form class="FormularioSugerencia">


    <div class="background_button_titles" id="DatosPersons">
        <div class="row content">
            <div class="col-lg-6 dependientes">
                <h4>BUZÓN DE SUGERENCIA</h4>
                <hr class="hr2" />
            </div>
            <div class="col-lg-6 ">
                <div class="pull-right actualizarDatos">
                    <button type="button" onclick="OcultarModal()" class="btn button_white"><i class="fa fa-times alejar_icono" aria-hidden="true"></i>CERRAR</button>
                    <button type="button" onclick="EnviarSugerencia()" class="btn button_white"><i class="fa fa-paper-plane alejar_icono" aria-hidden="true"></i>ENVIAR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row bajar" id="agregarDependientes">

        <div class="col-md-6">
            <label>MOTIVO</label>
            <div>
                @Html.DropDownList("MotivoID", null, "Seleccione el motivo", new { @class = "form-control" })

            </div>
        </div>

        <div class="col-md-6">
            <label>REGIÓN</label>
            <div>
                @Html.DropDownList("RegionID", null, "Seleccione la región", new { @class = "form-control" })

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <label>DESCRIPCIÓN DE LA SUGERENCIA</label>
            <div>
                <textarea id="Descripcion" name="Descripcion" class="form-control" rows="10" required style="resize:none"></textarea>
                <span class="confidencial">*Tus sugerencias son confidenciales y anónimas.</span>
            </div>
        </div>

    </div>

</form>

<script src="~/scripts/$modulos/sugerencias/sugerencias_create.js"></script>
