﻿@model IEnumerable<intra.Models.GestionHumana.Sugerencias.RH_Sugerencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/material-switch.css" rel="stylesheet" type="text/css">
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
@*<link href="~/CSS/toggle.css" rel="stylesheet" />*@

@Styles.Render("~/datatables/css")

<style>

    .alejar_icono {
        padding-right: 7px;
    }

    .material-switch-label {
        padding-right: 25px;
    }

    .uppercase {
        text-transform: uppercase;
    }
    .title{
        margin-top: 40px;
        padding: 0;
    }
    .left-container h2{
        margin: 0;
    }
    .right-container a{
        margin-bottom: 0;
    }

</style>


<div class="row br-solicitados-head">

    <div class="col-md-12 title container">
        <div class="col-md-8 left-container">
            <h2 class="h2_title_page">Listado de Sugerencias</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-4 right-container">
            <a class="button_white pull-right sugerecia_filtro"><i class="fa fa-filter alejar_icono"></i>Filtro</a>
        </div>
    </div>

    <div class="col-md-10 content sugerencia_filtro_container" style="display: none;">
        <div class="cont">
            <div id="Usuario" style="float:left;margin-left:2px;">
                <label>Región:</label>
                @Html.DropDownList("RegionID", null, "TODAS", new { @class= "form-control uppercase" })
            </div>
            <div id="Responsable" style="float:left;margin-left:2px;">
                <label>Motivo:</label>
                @Html.DropDownList("MotivoID", null, "TODOS", new { @class = "form-control uppercase" })
            </div>
            <div id="Fechas" style="float:left;margin-left:2px;">
                <div style="float:left;margin-left:2px" class="br-item">
                    <label>Fecha Inicial:</label>
                    <input type="text" name="FechaInicial" for="FechaInicial" placeholder="FECHA INICIAL" class="form-control date-picker FechaInicial" autocomplete="off" />
                </div>
                <div style="float:left;margin-left:2px" class="br-item">
                    <label>Fecha Final:</label>
                    <input type="text" name="FechaFinal" for="FechaFinal" placeholder="FECHA FINAL" class="form-control date-picker FechaFinal" autocomplete="off" />

                </div>
                <div style="float:left;margin-left:2px" class="br-item">
                    <label>Tipo de reporte:</label>
                    @*<input for="ReporteTipo" name="ReporteTipo" class="tgl tgl-skewed" id="cb3" type="checkbox" value="false" />
                    <label class="tgl-btn" data-tg-off="Detallado" data-tg-on="Estadístico" for="cb3"></label>*@
                    <select name="ReporteTipo" id="ReporteTipo" class="form-control uppercase ReporteTipo">
                        <option value="0">Estadístico</option>
                        <option value="1">Detallado</option>
                    </select>
                </div>
            </div>
            <div style="float:left;  margin-left: 8px; margin-top: 20px;margin-bottom:30px;">

                <a class="button_white sugerencia_filtrar"><i class="fa fa-search alejar_icono"></i>Consultar</a>
                <a class="button_white sugerencia_pdf">PDF</a>
                <a class="button_white sugerencia_excel">EXCEL</a>
            </div>

        </div>
    </div>
</div>

<table class="table display responsive nowrap tbl_sugerencias" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Región
            </th>
            <th>
                Motivo
            </th>
            <th>
                Fecha de recibida
            </th>
            <th class="none">
                Descripción de la sugerencia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Dependencia.DependenciaNombre
            </td>
            <td>
                @item.SugerenciaMotivo.Descripcion
            </td>
            <td>
                @item.FechaCreacion.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Descripcion
            </td>
        </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/datatables/js")

<script>

    switch ("@TempData["Mensaje"]") {

        case "fecha":
            swal("", "A ocurrido un error", "error");
            break;
        case "error":
            swal("", "A ocurrido un error", "error");
            break;
        default:
    }

    $('#cb3').click(function () {
        if ($(this).val() == "false") {
            $('#div-ruta').show();
            $('#div-archivo').hide();
            $(this).val("true");
        }
        else {
            $('#div-ruta').hide();
            $('#div-archivo').show();
            $(this).val("false");
        }
        //$('#cb3').prop('checked') return boolean
        //alert(jQuery.type( $(this).val() )); return type
    });


    var tbl_sugerencias = $('.tbl_sugerencias').DataTable({
        "order": [],
        "language": idioma_esp,
        responsive: true
    })
</script>

<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/$modulos/sugerencias/sugerencias_main.js"></script>