﻿@{ 
    Layout = null;
    var lista = ViewBag.lista;
}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        body{
            padding:0px !important;
            margin:0px !important;
        }
        *{
            padding:0px;
            margin:0px;
        }

        .container{
            width: 100%;
            max-width: 1000px;

        }

        #tabla {
            border-collapse: collapse;
            border:1px solid #333333;
            width: 100%;
        }

        .tabla{
            /*position:absolute;*/ 
            top:140px; 
            margin-right:50px; 
            margin-left:50px;
        }

        th {
            font-size: 17px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            color: #000;  
            background-color:#eaeaea; 
            border-right:1px solid #333333;
        }
        td {
            font-size: 15px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 10px;            
            margin-left:5px;
            height:35px;
        }
        h1, h2, h3 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .div_izquierdo{
            height:1390px;
            width:20%;
            background-color:#064b8e;            
            display:inline;
            margin:0px !important;
            padding:0px !important;
            float:left !important;
            clear:both;
        }
        .div_derecho{
            width:70%;
            float:right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px; 
        }

        .div_derecho2{
            width:76%;
            float:right !important;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size:17px; 
            padding:20px;
            margin-top:15px !important;
        }
        .breakhere{
            page-break-after: always;
        }
 
        .images{
            text-align:center;
            margin-bottom:10px;
            width:100%;
        }

        .images img{
            border:1px solid #f1f1f1;
        }

        .footerpage{
            text-align:center; margin-top:1180px !important; color:#064b8e; font-family:Arial, Helvetica, sans-serif;
            border-radius:30px;
            background-color:#fff;
            width:20px;
            margin:auto;  
            font-weight:600;          
        }

        .footerpage p{
            font-size:17px !important;
        }

        h1{
            text-transform: uppercase;
            font-size: 18px;
            color: #014984;
        }

        .datos{
            padding:40px 40px 0 0;
            float:right;
        }

        .datos p.datos-principales{
            color: #014984;
        }

        tr{
            width: 100%;
        }

        tr.header td{
            font-weight: bold;
            background-color: #014984;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
        }

        td {
            font-size: 12px;
        }
        .logo {
            margin: 30px 0 0 50px;
        }
        
    </style>

    <title>Reporte de Sugerencias</title>
    
</head>
<body>

    @if (ViewBag.tipo == "0")
    {

        <div class="container">
            <img class="logo" src="~/Content/images/logo.png" />
            <div class="datos">

                @if (!string.IsNullOrEmpty(ViewBag.begin_date))
                {
                    <p>Fecha : Del @ViewBag.begin_date , Hasta : @ViewBag.end_date</p>
                }
                else
                {
                    <p>Fecha : No Especificada.</p>
                }

            </div>

            <div class="tabla">
                <center><h1>Reporte de Sugerencias</h1></center>
                <br />
                <table id="tabla" style="width:100%;">

                    @if (ViewBag.motivo == "0")
                    {

                        <tr class="header">
                            <td style="width:25%">Dependencias</td>
                            <td style="width:25%">Sugerencias</td>
                            <td style="width:25%">Quejas</td>
                            <td style="width:25%">Mejoras</td>
                            <td style="width:25%">Total en dependencia</td>
                        </tr>

                    }
                    else
                    {

                        <tr class="header">
                            <td style="width:100%">Dependencias</td>
                            <td>@ViewBag.motivo<text>s</text></td>
                            @*<td style="width:40%">Total en dependencia</td>*@
                        </tr>
                    }

                    @{ var gran_total = 0; }

                    @if (ViewBag.motivo == "0")
                    {

                        for (int x = 0; x < lista.Count; x++)
                        {
                            <tr>
                                <td>@lista[x].name</td>
                                <td>@lista[x].pending</td>
                                <td>@lista[x].closed</td>
                                <td>@lista[x].canceled</td>
                                <td>@lista[x].total @{ gran_total = gran_total + int.Parse(lista[x].total.ToString()); }</td>
                            </tr>
                        }
                    }
                    else
                    {

                        for (int x = 0; x < lista.Count; x++)
                        {
                            <tr>
                                <td>@lista[x].name</td>

                                @if (ViewBag.motivo == "0")
                                {

                                    <td>@lista[x].pending</td>
                                    <td>@lista[x].closed</td>
                                    <td>@lista[x].canceled</td>
                                }

                                <td>@lista[x].total @{ gran_total = gran_total + int.Parse(lista[x].total.ToString()); }</td>
                            </tr>
                        }

                    }

                    @if (lista.Count != 1)
                    {

                        <tr>
                            <td>TOTAL</td>

                            @if (ViewBag.motivo == "0")
                            {

                                <td></td>
                                <td></td>
                                <td></td>

                            }

                            <td>@gran_total</td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    }
    else
    {
        <div class="container">
            <img class="logo" src="~/Content/images/logo.png" />

            <div class="datos">

                @if (!string.IsNullOrEmpty(ViewBag.begin_date))
                {
                    <p>Fecha : Del @ViewBag.begin_date , Hasta : @ViewBag.end_date</p>
                }
                else
                {
                    <p>Fecha : No Especificada.</p>
                }

            </div>

            <div class="tabla">
                <center><h1>Reporte de Sugerencias</h1></center>
                <br />
                <table id="tabla" style="width:100%;">

                    <tr class="header">
                        <td style="width:25%">Región</td>
                        <td style="width:25%">Motivo</td>
                        <td style="width:25%">Fecha recibida</td>
                        @*<td style="width:25%">Descripción</td>*@
                    </tr>


                    @*@if () {


                    }*@

                    @for (int x = 0; x < (lista.Length > 7 ? 7 : lista.Length); x++)
                    {
                        <tr>
                            <td>@lista[x].Dependencia.DependenciaNombre</td>
                            <td>@lista[x].SugerenciaMotivo.Descripcion</td>
                            <td>@lista[x].FechaCreacion.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr><td colspan="3">@lista[x].Descripcion</td></tr>
                    }

                </table>
            </div>

        </div>

        <!--Following pages-->

        if (lista.Length > 7)
            {
                bool terminar_paginacion = false;
                int filas_contador = 7;
                int filas_restantes = 0;
                int filas_por_paginas = 7;

                if (lista.Length > 7 + filas_contador)
                {
                    filas_restantes = filas_contador + filas_por_paginas; 

                }
                else
                {
                    filas_restantes = lista.Length;
                }

                int pie_pagina = 2;

                do
                {
                    <p class="breakhere"></p>
                    <div class="container">
                        @*<img class="logoooo" src="~/Content/images/Infracciones.png" />*@

                        <div class="tabla">
                            <table id="tabla" style="width:100%;">

                                @for (int x = filas_contador; x < filas_restantes; x++)
                                {
                                    <tr>
                                        <td>@lista[x].Dependencia.DependenciaNombre</td>
                                        <td>@lista[x].SugerenciaMotivo.Descripcion</td>
                                        <td>@lista[x].FechaCreacion.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr><td colspan="3">@lista[x].Descripcion</td></tr>


                                    @*@{ 


                                    }*@
                                }

                            </table>
                        </div>

                        @if (filas_restantes == lista.Length)
                        {
                            terminar_paginacion = true;
                        }

                        @if (filas_restantes < lista.Length)
                        {
                            if (lista.Length - (filas_restantes) >= filas_por_paginas)
                            {
                                filas_contador = filas_restantes;
                                filas_restantes = filas_contador + filas_por_paginas;
                            }
                            else if (lista.Length - (filas_restantes) < filas_por_paginas)
                            {
                                filas_contador = filas_restantes;
                                filas_restantes = lista.Length;
                            }
                        }

                    </div>
                    pie_pagina++;
                } while (!terminar_paginacion);
            }

    }

</body>
</html>