﻿@model intra.Models.GestionHumana.Sugerencias.RH_SugerenciaSupervisor

@{
    ViewBag.Title = "Editar Encargado de Solicitudes de Gestion Humana";
    Layout = "~/Views/intraMaster.cshtml";
}

@Styles.Render("~/datatables/css")

<style>
    .btn-info, .button_white, .btn-primary, .btn-danger, btn-back {
        margin-bottom: 4px;
    }

    .btn-volver {
        margin-left: 2%;
    }

    .form-control > .form-control {
        width: 100%;
    }

    .form-horizontal {
        padding: 0 20%;
    }

    #loading-animation-container {
        display: none;
    }
</style>

@*<script src="~/scripts/sweetalert2.min.js"></script>*@

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.SugerenciaSupervisorID)

    <div class="col-md-12" style="margin-bottom: 2%;">
        <h2 class="h2_title_page">Editar Solicitud</h2>
        <hr class="hr2">
    </div>

    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("Código del Empleado", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.EmpleadoID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre del Empleado", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <input type="text" disabled id="NombreEmpleado" value="@ViewBag.nombre" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Correo del Empleado", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <input type="text" disabled id="CorreoEmpleado" value="@ViewBag.correo" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Guardar" class="button_white btnGuardarSupervisorSolicitud" style="margin-bottom: 3px;" />
            </div>
        </div>

    </div>
}

@if (ViewBag.historial.Count > 0)
{

    <table class="table display responsive nowrap tbl_sugerencias_supervisor" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Fecha de Asignacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.historial)
            {
                <tr>
                    <td hidden>@item.SugerenciaSupervisor_logID</td>
                    <td>@item.VISTA_EMPLEADO.nombre</td>
                    <td>@item.EmpleadoID</td>
                    <td>@item.FechaCreacion</td>
                </tr>
            }
        </tbody>
    </table>


}



@Scripts.Render("~/datatables/js")

<script>

    //GetEmpleado($("#EmpleadoID").val());

    var tbl_sugerencias_supervisor = $('.tbl_sugerencias_supervisor').DataTable({
        "language": idioma_esp,
        responsive: true
    });

    $('.tbl_sugerencias_supervisor').DataTable().order([[0, 'desc']]).draw();

    function GetEmpleado(id) {

        AnimacionCarga.show();

        $.ajax({
            url: '@Url.Action("GetEmpleado", "TipoSolicitudes")',
            data: { codigoEmpleado: id },
            dataType: 'json',
            method: 'POST',
            success: function (data, status, xhr) {
                $("#NombreEmpleado").val(data.displayName);
                $("#CorreoEmpleado").val(data.mail);
                AnimacionCarga.hide();

            },
            error: function (jqXhr, textStatus, errorMessage) {
                swal("", "Ha ocurrido un error", "error");
                console.log('Error' + errorMessage);
                AnimacionCarga.hide();
            }
        });

    }

    $("#EmpleadoID").on("blur", function () {
        GetEmpleado($("#EmpleadoID").val());
    });

    $(".btnGuardarSupervisorSolicitud").click(function () {
        AnimacionCarga.show();

        console.log($("#EmpleadoID").val());

        $.ajax({
            url: '@Url.Action("GuardarSupervisorSolicitud")',
            data: { codigoEmpleado: $("#EmpleadoID").val() },
            dataType: 'json',
            method: 'POST',
            success: function (result) {


                swal(result);


                @*if ($.isNumeric(result)) {
                    swal({
                        title: "Guardado",
                        type: 'success',
                        confirmButtonText: 'OK'
                    })
                        @*.then(function () {
                        window.location.href = "@HttpRuntime.AppDomainAppVirtualPath/TipoSolicitudes/Detalles/" + result;
                        })
                } else {
                    swal(result,"","error");
                }*@
                AnimacionCarga.hide();

            },
            error: function (ex) {
                AnimacionCarga.hide();
                swal("", "Ha ocurrido un error", "error");
            }
        });
    });

</script>