﻿@model intra.Models.GestionHumana.MensajePonches

@{
    Layout = "~/Views/intraMaster.cshtml";
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="~/CSS/jquery-ui.min.css" />
<style>
    #MensajePonchesDescripcion {
        width: 100%;
    }
</style>

<h2>Editar mensaje</h2>

    @using (Html.BeginForm("Edit", "MensajePonches", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MensajePonchesId)
    
            <div class="form-group">
                <label for="DiasFeriadosFecha" class="control-label col-md-2">Tipo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MensajePonchesTipo, new { htmlAttributes = new { @class = "form-control", @readonly = "true"} })
                    @Html.ValidationMessageFor(model => model.MensajePonchesTipo, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label for="DiasFeriadosFecha" class="control-label col-md-2">Descripción</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.MensajePonchesDescripcion, new { @class = "form-control", @rows = "5" } )
                    @Html.ValidationMessageFor(model => model.MensajePonchesDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="buttonAceptar button_white " />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>

