﻿ @model intra.Models.FlotasExtensiones.FlotaExtensionEmpleado
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>FlotaExtensionEmpleado</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FlotExtEmpFlota)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FlotExtEmpFlota)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FlotExtEmpExtesion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FlotExtEmpExtesion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FlotExtEmpEmpleadoId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FlotExtEmpEmpleadoId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FlotExtEmpDatosConfirmados)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FlotExtEmpDatosConfirmados)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FlotExtEmpId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
