﻿@model intra.Models.FlotasExtensiones.FlotaExtensionEmpleado

@{
    ViewBag.Title = "Validar Datos";
    Layout = "~/Views/intraMaster.cshtml";
}

@using (Html.BeginForm("Edit", "FlotaExtensionEmpleado", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario_edit" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FlotExtEmpId)
    
    <div class="form-group">
        <label for="NombreEmpleado" class="control-label col-md-2">Nombre Empleado</label>
        <div class="col-md-10">
            <input type="text" name="NombreEmpleado" id="NombreEmpleado" class="form-control" value="@ViewBag.EmployeeName" readonly="readonly"/>
        </div>
    </div>

    <div class="form-group">
        <label for="CodigoEmpleado" class="control-label col-md-2">Código Empleado</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlotExtEmpEmpleadoId, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.FlotExtEmpEmpleadoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="CargoEmpleado" class="control-label col-md-2">Cargo Empleado</label>
        <div class="col-md-10">
            <input type="text" name="CargoEmpleado" id="CargoEmpleado" class="form-control" value="@ViewBag.EmployeeCharge" readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label for="DepartamentoEmpleado" class="control-label col-md-2">Departamento Empleado</label>
        <div class="col-md-10">
            <input type="text" name="DepartamentoEmpleado" id="DepartamentoEmpleado" class="form-control" value="@ViewBag.EmployeeDepartment" readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        <label for="DocIdVisualNombre" class="control-label col-md-2">Flota</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlotExtEmpFlota, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FlotExtEmpFlota, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="FlotExtEmpExtesion" class="control-label col-md-2">Extensión</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlotExtEmpExtesion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FlotExtEmpExtesion, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="hidden" id="confirmed" value="@ViewBag.FlotaConfirmed"/>
    
    <center><span id="validado"><label style="font-size:20px;color:green;">Estos datos ya han sido validados</label></span></center>

    <div class="form-group" id="submit">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Validar datos" class="buttonAceptar button_white " />
        </div>
    </div>
</div>
}

<script>
    $(document).ready(function () {
        if($('#confirmed').val()=="False") {
            $('#submit').show();
            $('#validado').hide();
        } else {
            $('#FlotExtEmpFlota').attr('readonly', true);
            $('#FlotExtEmpExtesion').attr('readonly', true);
            $('#submit').hide();
            $('#validado').show();
        }
    });
</script>

