﻿@model IEnumerable<intra.Models.FlotasExtensiones.FlotaExtensionEmpleado>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlotExtEmpFlota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlotExtEmpExtesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlotExtEmpEmpleadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlotExtEmpDatosConfirmados)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlotExtEmpFlota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlotExtEmpExtesion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlotExtEmpEmpleadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlotExtEmpDatosConfirmados)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FlotExtEmpId }) |
                @Html.ActionLink("Details", "Details", new { id=item.FlotExtEmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FlotExtEmpId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
