﻿@model intra.Models.GestionHumana.EmpleadosContratados

@{
    ViewBag.Title = "Crear Empleado Contratado";
    Layout = "~/Views/intraMaster.cshtml";
}

@*################### STYLES ###################*@
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/toastr/css/toastr.min.css" rel="stylesheet" />

<style>
    .form-horizontal {
        margin-top: 5%;
    }

    .btn-info, .button_white, .btn-primary, .btn-danger, btn-back {
        margin-bottom: 3px;
    }

    .form-control > .form-control {
        width: 100%;
    }

    .form-horizontal {
        padding: 0 20%;
    }

    #loading-animation-container {
        display: none;
    }
</style>

@using (Html.BeginForm("Create", "EmpleadosContratados", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" style="margin-bottom: 2%;">
        <h2 class="h2_title_page">Crear Empleado Contratado</h2>
        <hr class="hr2">
    </div>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                <input id="boton-validar" type="button" value="Validar cédula" class="btn btn-info" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="input-validation-error form-control text-box single-line" id="DisplayNombre" name="DisplayNombre" type="text" readonly value="@ViewBag.nombre">
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Sexo" id="Sexo">
                    <option value="" disabled="disabled">Seleccioné...</option>
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="FEMENINO">FEMENINO</option>
                </select>
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="Fecha_Nacimiento" name="Fecha_Nacimiento" placeholder="Fecha de nacimiento" class="date-picker form-control" autocomplete="off"
                       value="@((Model != null && Model.Cumpleano != null) ? Model.Cumpleano.GetValueOrDefault().ToString("dd/MM/yyyy"):null)" />
                @Html.ValidationMessageFor(model => model.Cumpleano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="Fecha_Ingreso" name="Fecha_Ingreso" placeholder="Fecha de ingreso" class="date-picker fechaEstadisticas form-control" autocomplete="off"
                       value="@((Model != null && Model.Fechaingreso != null) ? Model.Fechaingreso.GetValueOrDefault().ToString("dd/MM/yyyy"):null)" />
                @Html.ValidationMessageFor(model => model.Fechaingreso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dependencia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DependenciaId", (SelectList)ViewBag.dependencia, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dependencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("DepartamentoId", (SelectList)ViewBag.departamentos, htmlAttributes: new { @class = "form-control" })*@
                <select id="DepartamentoId" name="DepartamentoId" class="form-control" data-placeholder="No hay opciones disponibles"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cargo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("Cargoid", (SelectList)ViewBag.cargos, htmlAttributes: new { @class = "form-control" })*@
                <select id="Cargoid" name="Cargoid" class="form-control" data-placeholder="No hay opciones disponibles"></select>
                @Html.ValidationMessageFor(model => model.Cargoid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Salario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                <input id="CedulaValidada" name="CedulaValidada" type="hidden" value="@ViewBag.validada">
                <input type="submit" value="Crear" class="button_white" id="btnGuardar" style="margin-bottom: 3px;" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "button_white", @style = "margin-left: 2%;" })
            </div>
        </div>
    </div>
}

@*################### SCRIPT ###################*@
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/jquery.maskMoney.min.js"></script>
<script src="~/scripts/create_empleadocontratados.js"></script>
<script src="~/scripts/jquery.maskedinput.js"></script>
<script src="~/Content/toastr/js/toastr.min.js"></script>
<script src="~/Content/toastr/js/toastr-init.js"></script>

<script>

     window.onload = function () {
         showMessage("error", "@TempData["toastrMessage"]")
         @{
             TempData.Clear();
         }
     }

    @if (Model == null) {
        <text>

        cargarDepartamentos(dependencias.val(),15)

        </text>
    }

    $(document).ready(function () {

        @if (Model != null && Model.departamentoid != null) {
            <text>

            cargarDepartamentos(dependencias.val(),@Model.departamentoid)

            @*$('#DepartamentoId option[value=@(Model.departamentoid)]').attr('selected', 'selected');

            $("#DepartamentoId").trigger("chosen:updated");*@
            </text>
        }

        //departamentos.trigger("change");

        @if (Model != null && Model.Cargoid != null) {
            <text>

            cargarCargos(@(Model.DependenciaId), @(Model.departamentoid), @(Model.Cargoid));

            </text>
        }
    });

</script>

@*<script>

        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $("#Salario").val(String($("#Salario").val()).replace(",", "."));

        $('#btnGuardar').click(function (e) {
            //if ($('#Fechaingreso').val() != "") {
            //    var fecha = $('#Fechaingreso').val().split('/');
            //    $('#Fechaingreso').val(fecha[1] + '/' + fecha[0] + '/' + fecha[2]);
            //}

            //if ($('#Cumpleano').val() != "") {
            //    var fecha2 = $('#Cumpleano').val().split('/');
            //    $('#Cumpleano').val(fecha2[1] + '/' + fecha2[0] + '/' + fecha2[2]);
            //}
            console.log($("#Salario"));
            var str = $("#Salario").maskMoney('unmasked')[0];
            console.log(String(str).replace(".", ","));
            $("#Salario").val(String(str).replace(".", ","));
        });

        $("#Salario").maskMoney({ prefix: 'RD$ ', thousands: ',', decimal: '.' });

        document.getElementById('Telefono1').addEventListener('blur', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{3})(\d{3})(\d{4})/);
            e.target.value = '(' + x[1] + ') ' + x[2] + '-' + x[3];
        });

        document.getElementById('Cedula').addEventListener('blur', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{3})(\d{7})(\d{1})/);
            e.target.value = x[1] + '-' + x[2] + '-' + x[3];
        });
    </script>*@
