﻿@model IEnumerable<intra.Models.GestionHumana.EmpleadosContratados>
@{
    ViewBag.Title = "Empleados Contratados";
    Layout = "~/Views/intraMaster.cshtml";
}

@*###### STYLES ######*@
@Styles.Render("~/datatables/css")
<style>
    .th-codigo {
        width:350px !important;
    }

    .th-nombre {
        width:660px !important;
    }

    /*.th-nuevo {
        width: 0px;
        display: none;
    }*/
</style>
<link href="~/Content/toastr/css/toastr.min.css" rel="stylesheet" />

@*###### BODY ######*@
<div class="btn-crear pull-right">
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "button_white" })
</div>

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th class="th-codigo">Código Empleado</th>
            <th class="th-nombre">Nombre</th>
            <th>Cedula</th>
            <th>Cargo</th>
            <th class="none">Departamento</th>
            <th class="none">Fecha de Ingreso</th>
            <th class="none">Estado</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr class="fila" id="@item.id_persona">
                <td class="th-codigo">@Html.DisplayFor(modelItem => item.id_persona)</td>
                <td class="th-nombre">@Html.ActionLink(item.Nombre, "Edit", new { id = item.id_persona })</td>
                <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
                <td>@Html.DisplayFor(modelItem => item.Departamento)</td>
                <td>@(item.Fechaingreso.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                <td><a class="CambiarEstado" id="@item.id_persona">@(item.Estatus == 0 ? "Activo" : "Inactivo")</a></td>
            </tr>
        }
    </tbody>
</table>


@*####### SCRIPTS ######*@
@Scripts.Render("~/datatables/js")
<script src="~/Content/toastr/js/toastr.min.js"></script>
<script src="~/Content/toastr/js/toastr-init.js"></script>

<script>
    var AnimacionCarga = $("#loading-animation-container");
    //var id = '120973';

     window.onload = function () {
         showMessage("success", "@TempData["toastrMessage"]")
         @{
             TempData.Clear();
         }
     }

     $(document).ready(function () {

         $("#tableGrid tbody").on('click', 'a.CambiarEstado', function () {

             var id = $(this).attr('id');

             swal({
                 title: "Seguro/a de que quiere cambiar el estado de este usuario?",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Si, Cambiar',
                 cancelButtonText: 'Cancelar'
             }).then(function () {

                AnimacionCarga.show();

                $.ajax({
                    method: 'POST',
                    data: { id: id },
                    url: "@Url.Action("CambiarEstado")",
                    success: function (data) {
                        if (data == 'Activado' || data == 'Desactivado') {

                            $('#tableGrid').dataTable().fnUpdate(
                                "<a class='CambiarEstado' id=" + id + ">"+(data == 'Activado' ? "Activo" : "Inactivo")+"</a>"
                                , '#' + id, 6);

                            success(data);
                        } else {
                            error('A ocurrido un error, refresque la pagina y trate otra vez.');
                        }
                    },
                    error: function (ex) {
                        error('Un error ha ocurrido.');
                    }
                });
             })
         });
     });

     $('#tableGrid').DataTable().order([[0, 'desc']]).draw();

     function success(mensaje) {
         AnimacionCarga.hide();
         swal({
             title: mensaje,
             type: 'success',
             confirmButtonText: 'OK'
         })
         //    .then(function () {
         //    location.reload();
         //})
     }
     function error(mensaje) {
         AnimacionCarga.hide();
         swal('Error', mensaje, 'error');
     }
</script>


