﻿@{
        ViewBag.Title = "Servicios Repatriados";
        Layout = ViewBag.layout;
    }

    @*@Styles.Render("~/datatables/css")*@

    @if (ViewBag.crear != null)
    {

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Crear nuevo servicio", "Crear")
</p>*@

    }
   

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>

<section class="row br-head-title">
    <div class="col-md-8">
        <h2 class="h2_title_page">Servicio de Repatriados Asignados</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-4">
        <div class="pull-right alejar_top btn-group botones">
            <a class="btn button_white AparecerFiltroAsigandos"><i class="fa fa-filter alejar_icono"></i>Filtro</a>
        </div>
    </div>
</section>

<div class="row br-solicitados-head accordion-filtro accordion-asignados">
    <div class="col-md-10 content">
        <div class="<!-- pull-right --> cont">
            <div style="float:left; margin-left:2px" class="br-item">
                <label>Filtrar Por:</label>
                <select class="form-control OpcionesAsnd">
                    <option>Seleccione</option>
                    <option value="1">Institución</option>
                    <option value="2">Tipo de Servicio</option>
                    <option value="3">Fecha</option>
                </select>
            </div>
            <div style="float:left; margin-left:2px">
                <div style="float:left;margin-left:2px; display:none" class="br-item institucion_div_Asnd">
                    <label>Institución:</label>
                    <div>
                        @Html.DropDownList("institucionAsnd", (SelectList)ViewBag.institucion, "Seleccione", new { @class = "form-control" })
                    </div>
                </div>
                <div style="float:left;margin-left:2px; display:none" class="br-item tipoServicio_div_Asnd">
                    <label>Tipo de Servicio:</label>
                    <div>
                        @Html.DropDownList("tipoServicioAsnd", (SelectList)ViewBag.tipoServicio, "Seleccione", new { @class = "form-control" })
                    </div>
                </div>
                <div style="float:left;margin-left:2px;display:none" class="Fechas_div_Asnd">
                    <div style="float:left;margin-left:2px">
                        <label>Fecha Inicial:</label>
                        @Html.TextBox("fechainicioAsnd", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "date-picker form-control date-picker-filtro" })
                    </div>
                    <div style="float:left;margin-left:6px">
                        <label>Fecha Final:</label>
                        @Html.TextBox("fechafinalAsnd", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "date-picker form-control date-picker-filtro" })
                    </div>
                </div>
            </div>
            <div style="float:left; margin-left:2px" class="br-item">
                <div style="float:left;margin-left:2px">

                    <label>Estados:</label>
                    @Html.DropDownList("estadosAsnd", (SelectList)ViewBag.estados, "Todos", new { @class = "form-control" })
                </div>
                <div style="float:left;">
                    <button style="margin-top: 31px;margin-left: 10px;" type="submit" class="button_white ConsultarAsnd"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>

            </div>

        </div>
    </div>
</div>


<table class="table display responsive nowrap tableGrid tblAsignados br-table-serv-rep" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Repatriado</th>
            <th>Tipo de servicio</th>
            <th>Estado de servicio</th>
            <th class="none">Fecha de solicitud</th>
            <th class="none">Nota</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>
@*
    <div class="modal fade ServicioModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Action("CrearPartial", "ServiciosRepatriados")
            </div>
        </div>
    </div>

    <div class="modal fade ServicioModal2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="crear_servicio">

                    <section class="row">
                        <div class="col-md-4">
                            <h2 class="h2_title_page">Crear Servicio de Repatriados</h2>
                            <hr class="hr2" />
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right alejar_top btn-group botones">

                                <a *id="CrearServicio" * @ class=" btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</a>
                                <a @*href="@Url.Action(" Index")" * @ class="btn button_white pruebamodal2"><i class="fa fa-chevron-left alejar_icono"></i>Volver</a>
                                @*<button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button> * @
                            </div>

                        </div>
                    </section>
                    <div class="container">

                        <div class="row">

                            <div class="col-lg-2">
                                <label>Tipo de Servicio</label>
                                <select class="form-control"></select>
                            </div>

                            <div class="col-lg-2">
                                <label>Persona Repatriada</label>
                                <select class="form-control chosen"></select>
                            </div>

                            <div class="col-lg-2">
                                <label>Institución Responsable</label>
                                <select class="form-control"></select>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <label>Notas del servicio</label>
                                <textarea id="Notas" name="Notas" rows="6" cols="50"></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


                                       Scripts.Render("~/datatables/js")*@
@*<script>
            //$('.tableGrid').DataTable().order([[0, 'desc']]).draw();


            $('.div_oculto').on('click', function () {
                $('.containermodal1').toggle();
                $('.containermodal2').toggle();
            });

            $('.CrearServicioModal').on('click', function () {
                $('.ServicioModal').modal();
            });

            $('.pruebamodal').on('click', function () {
                $('.ServicioModal').modal('hide');
                $('.ServicioModal2').modal();
            });

            $('.pruebamodal2').on('click', function () {
                $('.ServicioModal2').modal('hide');
                $('.ServicioModal').modal();
            });

</script>*@
<script src="~/scripts/create_serviciorepatriados.js"></script>