﻿@model intra.Models.SistemaRepatriados.SSR_Servicios

@{
    ViewBag.Title = null;
    Layout = ViewBag.layout;
}

<link href="~/Content/css/textext/textext.core.css" rel="stylesheet" />
<link href="~/Content/css/textext/textext.plugin.autocomplete.css" rel="stylesheet" />
<link href="~/Content/css/textext/textext.plugin.tags.css" rel="stylesheet" />
<script src="~/Content/js/textext/textext.core.js"></script>
<script src="~/Content/js/textext/textext.plugin.autocomplete.js"></script>
<script src="~/Content/js/textext/textext.plugin.filter.js"></script>
<script src="~/Content/js/textext/textext.plugin.tags.js"></script>

<style>

    .swal-li {
        text-align: left;
    }

    .text-position-below {
        top: 21px !important;
        width: 100px;
    }

    #IdRepatriados_input {
        width: 100px;
    }

</style>


<form id="crear_servicio" method="post" action="">

    <section class="row br-head-title">
        <div class="col-md-6">
            <h2 class="h2_title_page">Crear Servicio de Repatriados</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top btn-group botones">
                <button type="button" class="btn button_white " onclick="SaveServicio()"><i class="fa fa-save alejar_icono"></i>Guardar</button>
                <a class="btn button_white CerrarModal"><i class="fa fa-times-circle alejar_icono"></i>Cerrar</a>
            </div>

        </div>
    </section>

    <div class="container containermodal2">

        <div class="row">

            <div class="col-lg-2">
                <label>Tipo de Servicio</label>
                @Html.DropDownList("ServicioTipoId", null, "SELECCIONE EL TIPO SERVICIO", new { @class = "form-control" })
            </div>

            <div class="col-lg-2">
                <label>Persona Repatriada</label>

                @*<input type="hidden" id="IdRepatriados" />
                <input id="IdRepatriados_input" />*@

                @Html.DropDownList("IdRepatriados", null, "SELECCIONE LA PERSONA REPATRIADA", new { @class = "form-control chosen" })
            </div>

            <div class="col-lg-2">
                <label>Institución Responsable</label>
                @Html.DropDownList("InstitucionId", null, "SELECCIONE LA INSTITUCIÓN", new { @class = "form-control" })
            </div>

        </div>


        <div class="row">
            <div class="col-lg-6">
                <label>Notas del servicio</label>
                <textarea id="Notas" name="Notas" rows="6" cols="50"></textarea>
            </div>
        </div>

    </div>
</form>

<script src="~/scripts/create_serviciorepatriados.js"></script>