﻿@model IEnumerable<intra.Models.SistemaRepatriados.SSR_Servicios>

@{
    ViewBag.Title = "Servicios Repatriados";
    Layout = "~/Views/intraMaster.cshtml";
}

@Styles.Render("~/datatables/css")

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo servicio", "Crear")
</p>
<table class="table display responsive nowrap tablagrid" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Repatriado</th>
            <th>Tipo de servicio</th>
            <th>Estado de servicio</th>
            <th class="none">Fecha de solicitud</th>
            <th class="none">Nota</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ServicioId
                </td>
                <td>
                    @item.SSR_Repatriados.NombreCompleto
                </td>
                <td>
                    @item.SSR_ServiciosTipos.Descripcion
                </td>
                <td>
                    
                    @Html.ActionLink(item.SSR_ServiciosEstados.Descripcion, "RegistroServicio","ServiciosRepatriados", new { id = item.ServicioId }, new { @class = "estatus estatus_rechazado" })
                </td>
                <td>
                    @item.FechaCreacion.GetValueOrDefault().ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Notas
                </td>
            </tr>
        }

    </tbody>


</table>
@Scripts.Render("~/datatables/js")

<script>
    $('.tablagrid').DataTable().order([[0, 'desc']]).draw();
</script>