﻿@model intra.Models.SistemaRepatriados.SSR_Servicios

@{
    ViewBag.Title = null;
    Layout = ViewBag.layout;
}


@*<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script src="~/scripts/maskjs.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@

<style>
    .form-control {
        height: 38px;
    }
</style>

<form id="editar_servicio_modal">

    @*@Html.HiddenFor(Model => Model.ServicioId)
        @Html.HiddenFor(Model => Model.CodigoCreador)*@

    <input class="ServicioIdEditModal" name="ServicioIdEditModal" type="hidden">
    <input class="CodigoCreadorEditModal" name="CodigoCreadorEditModal" type="hidden">
    <input class="TablaSeleccionada" name="TablaSeleccionada" type="hidden" />

    <section class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Servicio de Repatriados</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right alejar_top btn-group botones">

                <a class="btn button_white" onclick="ActualizarServicio()"><i class="fa fa-save alejar_icono"></i>Actualizar</a>
                <a class="btn button_white CerrarModal"><i class="fa fa-times-circle alejar_icono"></i>Cerrar</a>
                @*<button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>*@
            </div>

        </div>
    </section>

    <div class="container br-container-2">

        <div class="row">

            <div class="col-lg-3">
                <label>Tipo de Servicio</label>

                @if (User.IsInRole("SRA"))
                {
                    @Html.DropDownList("ServicioTipoIdModal", (SelectList)ViewBag.ServicioTipoId, "SELECCIONE EL TIPO SERVICIO", new { @class = "form-control" })
                }
                else
                {
                    <input class="form-control ServicioTipoModal" disabled />
                    @*<p>Html.HiddenFor(Model => Model.ServicioTipoId)</p>*@
                }

            </div>

            <div class="col-lg-3">
                <label>Institución Responsable</label>

                @if (User.IsInRole("SRA"))
                {
                    @Html.DropDownList("InstitucionIdModal", (SelectList)ViewBag.InstitucionId, "SELECCIONE LA INSTITUCIÓN", new { @class = "form-control" })
                }
                else
                {
                    <input class="form-control InstitucionModal" disabled />
                }

            </div>

            @if (User.IsInRole("SRA"))
            {
                <div class="col-lg-3">
                    <label>Fecha de Compromiso</label>
                    <input name="FechaFin" id="FechaFin" class="form-control date-picker FechaFinModal" />
                </div>
            }

            <div class="col-lg-3">
                <label>Notas del servicio</label>
                <textarea class="Notas" name="Notas" rows="6" cols="50" disabled></textarea>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3">
                <label>Persona Repatriada</label>
                <input class="form-control PersonaRepatriadaModal" disabled />
            </div>

            @if (User.IsInRole("SRA"))
            {
                <div class="col-lg-3">
                    <label>Persona Responsable</label>
                    @Html.DropDownList("CodigoResponsableModal", (SelectList)ViewBag.CodigoResponsable, new { @class = "form-control chosen" })
                    @*<input class="form-control ResponsableModal" disabled />*@
                </div>
            }

            <div class="col-lg-3">
                <label>Estado</label>
                @Html.DropDownList("ServicioEstadoIdModal", (SelectList)ViewBag.ServicioEstadoId, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                <label>Conclusion</label>
                <textarea class="conclusion" name="conclusion" rows="6" cols="50"></textarea>
            </div>

        </div>

    </div>
</form>

<script src="~/scripts/create_serviciorepatriados.js"></script>
@*<script src="~/JS/jquery-ui.min.js"></script>*@