﻿@{
    ViewBag.Title = "Reporte de Servicios Repatraidos";
    Layout = null;
}

<section class="row">
    <div class="col-md-8">
        <h2 class="h2_title_page">Reporte de Servicios Repatriados</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-4">
        <div class="pull-right alejar_top btn-group botones">
            <a class="btn button_white GenerarReporteServicio">Generar Reporte</a>
        </div>

    </div>

</section>

<form id="reporte">

    <div class="row">

        <div class="col-md-12 fila">
            
                <div class="form-group col-md-2">
                    <div class="label-form">
                        <label for="CASO_ID" class="control-label">Tipo de Reporte</label>
                        <select id="tipoReporte" class="form-control">
                            <option value="1">Por Responsables</option>
                            <option value="2">Por Creadores</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="label-form">
                        <label for="CASO_ID" class="control-label">Institución</label>
                        @Html.DropDownList("institucion_reporte", (SelectList)ViewBag.institucion, "Todos", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="label-form">
                        <label for="clase" class="control-label">Tipo de Servicio</label>
                        @Html.DropDownList("tipoServicio_reporte", (SelectList)ViewBag.tipoServicio, "Todos", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="label-form">
                        <label for="CUST_ID" class="control-label">Fecha Inicial</label>
                        <input type="text" name="FHINICIAL" id="FHINICIAL" @*value="@DateTime.Now.ToString("dd/MM/yyyy")"*@ class="form-control date-picker" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="label-form">
                        <label for="INCA_ESTATUS" class="control-label">Fecha Final</label>
                        <input type="text" name="FHFINAL" id="FHFINAL" @*value="@DateTime.Now.ToString("dd/MM/yyyy")"*@ class="form-control date-picker" autocomplete="off" />
                    </div>
                </div>
            


        </div>

    </div>
</form>



<script>

    $(".GenerarReporteServicio").click(function () {
    
        window.open('@HttpRuntime.AppDomainAppVirtualPath' + "/ServiciosRepatriados/GenerarReporte/?tipo=" + $("#tipoReporte").val() + "&institucion=" + $('#institucion_reporte').val() +
        "&tipoServicio=" + $('#tipoServicio_reporte').val() + "&FHINICIAL=" + $('#FHINICIAL').val() + "&FHFINAL=" + $('#FHFINAL').val(),'_blank');
    
    });

</script>