﻿@*@model IEnumerable<intra.Models.SistemaRepatriados.SSR_Servicios>*@

@{
    ViewBag.Title = "Servicios Repatriados";
    Layout = ViewBag.layout;
}

@if (ViewBag.crear != null)
{

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Crear nuevo servicio", "Crear")
    </p>

}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>

<section class="row">
    <div class="col-md-8 br-head-title">
        <h2 class="h2_title_page">Servicio de Repatriados Solicitados</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-4">
        <div class="pull-right alejar_top btn-group botones">

            <a class="btn button_white CrearServicioModal"><i class="fa fa-plus alejar_icono"></i>Crear Servicio</a>
            <a class="btn button_white AparecerFiltroSolicitados"><i class="fa fa-filter alejar_icono"></i>Filtro</a>

        </div>
    </div>
</section>

<input type="hidden" value="@Session["empleadoId"].ToString()" />

<div class="row br-solicitados-head accordion-solicitados accordion-filtro">
    <div class="col-md-10 content">
        <div class="<!-- pull-right --> cont">
            <div style="float:left; margin-left:2px" class="br-item">
                <label>   Filtrar Por:</label>
                <select class="form-control OpcionesSlct">
                    <option>Seleccione</option>
                    <option value="1">Institución</option>
                    <option value="2">Tipo de Servicio</option>
                    <option value="3">Fecha</option>
                </select>
            </div>
            <div style="float:left; margin-left:2px">
                <div style="float:left;margin-left:2px; display:none" class="br-item institucion_div_Slct">
                    <label>Institución:</label>
                    <div>
                        @Html.DropDownList("institucionSlct", (SelectList)ViewBag.institucion, "Seleccione", new { @class = "form-control" })
                    </div>
                </div>
                <div style="float:left;margin-left:2px; display:none" class="br-item tipoServicio_div_Slct">
                    <label>Tipo de Servicio:</label>
                    <div>
                        @Html.DropDownList("tipoServicioSlct", (SelectList)ViewBag.tipoServicio, "Seleccione", new { @class = "form-control" })
                    </div>
                </div>
                <div style="float:left;margin-left:2px;display:none" class="Fechas_div_Slct">
                    <div style="float:left;margin-left:2px">
                        <label>Fecha Inicial:</label>
                        @Html.TextBox("fechainicioSlct", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "date-picker form-control date-picker-slct" })
                    </div>
                    <div style="float:left;margin-left:6px">
                        <label>Fecha Final:</label>
                        @Html.TextBox("fechafinalSlct", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "date-picker form-control date-picker-slct" })
                    </div>
                </div>
            </div>
            <div style="float:left; margin-left:2px" class="br-item">
                <div style="float:left;margin-left:2px">

                    <label>Estados:</label>
                    @Html.DropDownList("estadosSlct", (SelectList)ViewBag.estados, "Todos", new { @class = "form-control" })
                </div>
                <div style="float:left;">
                    <button style="margin-top: 31px;margin-left: 10px;" type="submit" class="button_white ConsultarSlct"><i class="fa fa-search alejar_icono"></i>Consultar</button>
                </div>

            </div>

    </div>
  </div>
</div>


<table class="table display responsive nowrap tableGrid tblSolicitados br-table-serv-rep" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Repatriado</th>
            <th>Tipo de servicio</th>
            <th>Estado de servicio</th>
            <th class="none">Fecha de solicitud</th>
            <th class="none">Nota</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ServicioId
                </td>
                <td>
                    @item.SSR_Repatriados.NombreCompleto
                </td>
                <td>
                    @item.SSR_ServiciosTipos.Descripcion
                </td>
                <td>
                    @Html.ActionLink(item.SSR_ServiciosEstados.Descripcion, "RegistroServicio", new { id = item.ServicioId }, new { @class = "estatus estatus_rechazado" })
                    <a class="estatus estatus_rechazado" href="/intra/ServiciosRepatriados/RegistroServicio/2015">@item.SSR_ServiciosEstados.Descripcion</a>
                </td>
                <td>
                    @item.FechaCreacion.GetValueOrDefault().ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Notas
                </td>
            </tr>
        }*@

    </tbody>


</table>

<div class="modal fade ServicioModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Action("CrearPartial", "ServiciosRepatriados")
        </div>
    </div>
</div>

<div class="modal fade ServicioModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="crear_servicios">

                <section class="row">
                    <div class="col-md-4">
                        <h2 class="h2_title_page">Crear Servicio de Repatriados</h2>
                        <hr class="hr2" />
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right alejar_top btn-group botones">

                            <a @*id="CrearServicio"*@ class="btn button_white"><i class="fa fa-save alejar_icono"></i>Guardar</a>
                            <a @*href="@Url.Action("Index")"*@ class="btn button_white pruebamodal2"><i class="fa fa-chevron-left alejar_icono"></i>Volver</a>
                            @*<button type="button" value="volver" class="btn button_white" onclick="window.history.back();"><i class="fa fa-chevron-left alejar_icono"></i>Volver</button>*@
                        </div>

                    </div>
                </section>
                <div class="container">

                    <div class="row">

                        <div class="col-lg-2">
                            <label>Tipo de Servicio</label>
                            <select class="form-control"></select>
                        </div>

                        <div class="col-lg-2">
                            <label>Persona Repatriada</label>
                            <select class="form-control chosen"></select>
                        </div>

                        <div class="col-lg-2">
                            <label>Institución Responsable</label>
                            <select class="form-control"></select>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <label>Notas del servicio</label>
                            <textarea id="Notas" name="Notas" rows="6" cols="50"></textarea>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script>

    //$(document).ready(function () {

    //    $('.tblSolicitados').DataTable().order([[0, 'desc']]).draw();

    //});

    $('.div_oculto').on('click', function () {
        $('.containermodal1').toggle();
        $('.containermodal2').toggle();
    });

    $('.pruebamodal').on('click', function () {
        $('.ServicioModal').modal('hide');
        $('.ServicioModal2').modal();
    });

    $('.pruebamodal2').on('click', function () {
        $('.ServicioModal2').modal('hide');
        $('.ServicioModal').modal();
    });

</script>
<script src="~/scripts/create_serviciorepatriados.js"></script>