﻿@model IEnumerable<intra.VISTA_EMPLEADOS>

@{
    ViewBag.Title = "Empleados Actualizados";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<style>
    .table > tbody > tr > td {
        text-transform: uppercase;
    }

    .chosen-container {
        width: 263px !important;
    }
</style>

@Styles.Render("~/datatables/css")

<h2>Empleados Actualizados PGR</h2>

<div class="row">

    <div class="col-lg-3">
        <label>Filtrar Por:</label>
        <div>
            <div>
                <select id="filtro">
                    <option value="">Seleccione</option>
                    <option value=1>Cargo</option>
                    <option value=2>Dependencia</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-3 cargo" hidden>
        <label>Cargo</label>
        <div>
            @Html.DropDownList("cargos", null, "Seleccione el Cargo", new { @class = "form-control chosen-select" })

        </div>
    </div>

    <div class="col-lg-3 dependencia" hidden>
        <label>Dependencia</label>
        <div>
            @Html.DropDownList("dependencias", null, "Seleccione el Dependencia", new { @class = "form-control chosen-select" })

        </div>
    </div>


    <div class="col-lg-3 departamento" hidden>
        <label>Departamento</label>
        <div>
            <select id="departamentos" class="chosen-select"></select>
        </div>
    </div>



</div>

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Cedula
            </th>
            <th>
                Cargo
            </th>
            <th></th>
            <th>
                Departamento
            </th>
            <th>
                Dependencia
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Codigo
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", null, new { @class = "button_white" })
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento , Dependencia
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento , Dependencia
            </td>
        </tr>
    </tbody>

</table>

@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/vista_empleados_filtro.js"></script>

<script>

    $('#tableGrid_wrapper').hide()

    $('.chosen-select').chosen();

    Inicio("@Url.Action("GetEmpleadosCargo")","@Url.Action("GetEmpleadosDepartamento")",true);

    @*$(document).ready(function () {

        var filtro = $('#filtro');

        var cargo = $('.cargo');
        var cargos = $('#cargos');

        var dependencia = $('.dependencia');
        var dependencias = $('#dependencias');

        var departamento = $('.departamento');
        var departamentos = $('#departamentos');

        var tabla = $('#tableGrid');

        filtro.on("change", function () {

            switch (filtro.val()) {

                case "1":
                    cargo.show();
                    dependencia.hide();
                    departamento.hide();

                    break;
                case "2":
                    dependencia.show();
                    cargo.hide();

                    break;

                default:
                    dependencia.hide();
                    cargo.hide();
                    departamento.hide();
            }
        });

        dependencias.on("change", function () {

            var dependenciaselecionada = $('#dependencias').val();

            if (dependenciaselecionada != "") {

                cargarDepartamentos(dependenciaselecionada);
                departamento.show();

            } else {

                departamento.hide();

            }


        });

        cargos.on("change", function () {

            cargarEmpleadosCargo(cargos.val());

        });

        departamentos.on("change", function () {

            cargarEmpleadosDepartamento(dependencias.val(), departamentos.val());

        });

        if (filtro.val() != "") {

            filtro.trigger("change");

        }

        if (cargos.val() != "") {

            cargos.trigger("change");

        }

        if (dependencias.val() != "") {

            dependencias.trigger("change");

        }

        function cargarDepartamentos(dependencia) {

            $.ajax({
                url: '@Url.Action("GetDepartamentos")',
                method: 'POST',
                data: { dependencia: dependencia },
                dataType: 'json',
                success: function (departamentos, status, xhr) {

                    $('#departamentos').html("");
                    $.each(departamentos, function (i, departamento) {
                        $('#departamentos').append('<option value="' + departamento.Value + '">' + departamento.Text + '</option>');
                    });
                    $('#departamentos').trigger('chosen:updated');

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    swal('Un Error a ocurrido','','error');
                }
            });
        }

        function cargarEmpleadosCargo(cargo) {

            $("#loading-animation-container").show();

            $.ajax({
                url: '@Url.Action("GetEmpleadosCargo")',
                method: 'POST',
                data: { cargo: cargo },
                dataType: 'json',
                success: function (empleados, status, xhr) {

                    ListarEmpleados(empleados);
                    $("#tableGrid_wrapper").show();
                    $("#loading-animation-container").hide();

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    swal('Un Error a ocurrido', '', 'error');
                    $("#loading-animation-container").hide();

                }
            });
        }

        function cargarEmpleadosDepartamento(dependencia, departamento) {

            $("#loading-animation-container").show();

            $.ajax({
                url: '@Url.Action("GetEmpleadosDepartamento")',
                method: 'POST',
                data: { dependencia: dependencia, departamento: departamento},
                dataType: 'json',
                success: function (empleados, status, xhr) {

                    ListarEmpleados(empleados);
                    $("#tableGrid_wrapper").show();
                    $("#loading-animation-container").hide();

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    swal('Un Error a ocurrido', '', 'error');
                    $("#loading-animation-container").hide();

                }
            });
        }

        function ListarEmpleados(Empleados) {

            $('#tableGrid').DataTable().clear().draw();

            for (var i in Empleados) {
                var empleado = Empleados[i];

                $('#tableGrid').DataTable().row.add({
                    0: empleado.Nombre,
                    1: empleado.Codigo,
                    2: empleado.Cedula,
                    3: empleado.Cargo,
                    4: '<a class="button_white" href="@HttpRuntime.AppDomainAppVirtualPath/VISTA_EMPLEADOS/Details/' + empleado.Codigo + '">Detalles</a>',
                    5: empleado.Departamento,
                    6: empleado.Dependencia
                }).draw();
            }
        }
    });*@
</script>