﻿@model IEnumerable<intra.Models.GestionHumana.VISTA_EMPLEADOS>

@{
    ViewBag.Title = "ConsultaEmpleado";
    Layout = "~/Views/intraMaster.cshtml";
}
@using System.Globalization;
<script src="~/scripts/moment.min.js"></script>

<style>
    .table > tbody > tr > td {
        text-transform: uppercase;
    }

    .actualizados {
        margin: 15px 0px 15px 0px;
    }

    .control-label {
        width: 125px;
        padding: 0px 0px 0px 0px;
    }

    .chosen-container {
        width: 263px !important;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

    .control-label1 {
        color: inherit;
    }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

</script>
@Styles.Render("~/datatables/css")
<h2>Consulta Empleados</h2>
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()*@
    <div class="row">

        <div class="col-lg-3">
            <label>Filtrar Por:</label>
            <div>
                <div>
                    <select id="filtro" name="filtro">
                        <option value="">Seleccione</option>
                        @*<option value="1">Dependencia</option>*@
                        <option value="2">Departamento</option>
                        <option value="3">Sexo</option>
                        <option value="4">Cumpleaño</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-3 dependencia1">
            <label>Dependencia</label>
            <div>
                @Html.DropDownList("dependencias", null, "Seleccionar", new { @class = "form-control chosen-select" })

            </div>
        </div>

        <div class="col-lg-3 departamento1" hidden="hidden">
            <label>Departamento</label>
            <div>
                <select id="departamentos" class="chosen-select"></select>
            </div>
        </div>
        <div class="col-lg-3" id="sexo1" hidden>
            <label>Sexo</label>
            <div>
                <select id="Genero" name="Genero" class="chosen-select form-control">
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="FEMENINO">FEMENINO</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3" id="Meses" hidden="hidden">

            <label>Mes:</label>
            <select id="Mes" name="Mes" class="form-control">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <div class="col-lg-3 consulta" hidden="hidden">

            <div>
                <button id="consultar" name="consultar" class="btn button_white" onclick="BuscarEmpleados()">Consultar</button>

            </div>
        </div>

    </div>
    @*}*@
    <div id="empleadoTable" hidden="hidden">
        <table id="tableGrid1" class="table display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> Nombre</th>
                    <th> Cedula</th>
                    <th>Fecha Ingreso </th>
                    <th>Dependencia</th>
                    <th>Departamento</th>
                    <th> Cargo</th>
                    <th> Direccion  </th>
                    <th>Telefono</th>
                    <th> Sexo </th>
                    <th>Fecha NACIMIENTO: </th>
                    <th> Email </th>
                </tr>
            </thead>
            <tbody id="employee"></tbody>
        </table>
    </div>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>

<script>
    function load_datatable() {

        $('#DIV_TABLA').show();

        $('#tableGrid1').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },

                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    }
</script>



<script>
    $(document).ready(function () {
        $("#filtro").change(function () {

            if ($("#filtro").val() == 1) {
                $(".dependencia1").show();
                $(".consulta").show();
            }
            else if ($("#filtro").val() == "2") {
                $(".departamento1").show();
                $("#Meses").hide();
                $("#sexo1").hide();
                $(".consulta").show();
            }
            else if ($("#filtro").val() == "3") {
                $("#sexo1").show();
                $("#Meses").hide();
                $(".departamento1").hide();
                $(".consulta").show();
            } else if ($("#filtro").val() == "4") {
                $("#sexo1").hide();
                $(".departamento1").hide();
                $("#Meses").show();
                $(".dependencia1").show();
                $(".consulta").show();
            }

        });

        @*$("#dependencias").change(function () {
            $(".departamento1").show();
            $.ajax({
                url: '@Url.Action("SeleccionarDepartamento")',
                type: 'Post',
                data: { DependenciaId: $("#dependencias").val() },
                success: function (data) {
                    $("#departamentos").empty();
                    $("#departamentos").append('<option value>Seleccionar<option/>')
                    $.each(data, function (i, depto2) {
                        $("#departamentos").append('<option value="' + depto2.DptoId + '"> ' + depto2.Descripcion + '<option/>');
                    })
                    $("#departamentos").trigger("chosen:updated");
                }
            })
        });*@

       
    });


</script>
<script>
    function BuscarEmpleados() {
        $("#loading-animation-container").show();
     
        $.ajax({
            url: '@Url.Action("ConsultaEmpleados")',
            type: 'Post',
            data: {
                Sexo: $("#Genero").val(),
                filtro: $("#filtro").val(),
                cumpleanos: $("#Mes").val(),
                departamento: $("#departamentos").val(),
                dependencia: $("#dependencias").val()
            },        
            success: function (data) {
              if(data){
                  console.log(data);
                  $("#loading-animation-container").hide();
                  $("#tableGrid1").DataTable().destroy();
                  $("#employee").empty(); 
                  $.each(data, function (i, emp) {
                      $("#employee").append('<tr><td>' + emp.nombre
                       + '</td><td>' + emp.cedula
                       + '</td><td>' + moment(emp.fechaingreso).format("DD/MM/YYYY")
                       + '</td><td>' + emp.dependencia
                       + '</td><td>' + emp.departamento
                       + '</td><td>' + emp.cargo
                       + '</td><td>' + emp.Direccion
                       + '</td><td>' + emp.telefono1
                       + '</td><td>' + emp.Sexo
                       + '</td><td>' + moment(emp.Cumpleano).format("DD/MM/YYYY")
                       + '</td><td>' + emp.Email
                       + '</td></tr>')
                  });
                $("#empleadoTable").show();
                load_datatable();
              }
              else {

                  swal({
                      title: 'Error',
                      text: data.Mensaje,
                      type: 'error',
                      confirmButtonColor: '#18212f',
                      confirmButtonText: 'Aceptar'

                  });
              }
            }
            })

    }

</script>
@Scripts.Render("~/datatables/js")