﻿@model intra.Models.GestionHumana.VISTA_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}

<div class="col-md-10">
    <table class="table2">
        <tr>
            <td>NOMBRE:</td>
            <td>@Model.nombre</td>
        </tr>
        <tr>
            <td>CODIGO DE EMPLEADO:</td>
            <td>@Model.empleadoid</td>
        </tr>
        <tr>
            <td>CARGO:</td>
            <td>@Model.cargo</td>
        </tr>
        <tr>
            <td>DEPARTAMENTO:</td>
            <td>@Model.departamento</td>
        </tr>
        <tr>
            <td>DEPENDENCIA:</td>
            <td>@Model.dependencia</td>
        </tr>
        <tr>
            <td>FECHA DE INGRESO: </td>
            <td>@Model.fechaingreso.ToString("d DE MMMM DEL yyyy").ToUpper()</td>
            @*<td>@Model.fechaingreso.ToString()) ).ToUpper()</td>*@
        </tr>
        <tr>
            <td>CEDULA:</td>
            <td>@Model.cedula</td>
        </tr>
        <tr>
            <td>SEXO:</td>
            <td>@Model.Sexo</td>
        </tr>
        <tr>
            <td>TELÉFONO:</td>
            <td>@Model.telefono1</td>
        </tr>
        <tr>
            <td>TELÉFONO 2:</td>
            <td>@Model.Telefono2</td>
        </tr>
        <tr>
            <td>CELULAR:</td>
            <td>@Model.Celular</td>
        </tr>
        <tr>
            <td>CUMPLEAÑOS:</td>
            <td>@Model.Cumpleano.ToString("d DE MMMM DEL yyyy").ToUpper() (@ViewBag.Edad AÑOS)</td>
        </tr>
      
       <tr>
        <td>PROVINCIA:</td>
        <td>@ViewBag.Provincia</td>
    </tr>
    <tr>
        <td>MUNICIPIO:</td>
        <td>@ViewBag.Municipio</td>
    </tr>
    <tr>
        <td>CIUDAD:</td>
        <td>@ViewBag.Ciudad</td>
    </tr>
        <tr>
            <td>LOCALIDAD:</td>
            <td>@ViewBag.Distrito</td>
        </tr>
    <tr>
        <td>SECTOR:</td>
        <td>@ViewBag.Sectores</td>
    </tr>
        <tr>
            <td>CALLE:</td>
            <td>@Model.Direccion</td>
        </tr>
        <tr>
            <td>CORREO:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>ESTADO CIVIL:</td>
            <td>@Model.EstadoCivil</td>
        </tr>
        <tr>
            <td>PROFESIÓN:</td>
            <td>@Model.Profesion</td>
        </tr>
        <tr>
            <td>TIPO DE SANGRE:</td>
            <td>@Model.TiposSangre</td>
        </tr>
        <tr>
            <td>AFP:</td>
            <td>@ViewBag.AFP</td>
        </tr>
        <tr>
            <td>ARS:</td>
            <td>@ViewBag.ARS</td>
        </tr>
        <tr>
            <td>FACEBOOK:</td>
            <td>@Model.Facebook</td>
        </tr>
        <tr>
            <td>TWITTER:</td>
            <td>@Model.Twitter</td>
        </tr>
        <tr>
            <td>INSTAGRAM:</td>
            <td>@Model.Instagram</td>
        </tr>
        <tr>
            <td>OBSERVACIÓN:</td>
            <td>@Model.Observaciones</td>
        </tr>

    </table>
</div>


<div class="form-horizontal">

    <h4>DATOS PERSONALES DEL EMPLEADO</h4>
    @*@ViewBag.avatar*@
    @if (ViewBag.avatar != null)
    {
        <img width="190px" src="http://intranet.pgr.gob.do@(ViewBag.avatar)" />
    }
    else if (Model.Sexo == "FEMENINO")
    {
        <img width="190px" src="http://intranet.pgr.gob.do/PGR/Content/images/icons/woman.svg" />
    }
    else
    {
        <img width="190px" src="http://intranet.pgr.gob.do/PGR/Content/images/icons/man.svg" />
    }
</div>