﻿@*@model IEnumerable<intra.VISTA_EMPLEADOS>*@

@{
    ViewBag.Title = "Vista de Empleados";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>

    .table > tbody > tr > td {
        text-transform: uppercase;
    }

    .actualizados {
    
        margin: 15px 0px 15px 0px;
    
    }

    .control-label {
        width: 125px;
        padding: 0px 0px 0px 0px;
    }
    
    .chosen-container {
        width: 263px !important;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

    .control-label1 {
        color: inherit;
    }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
@Styles.Render("~/datatables/css")

<h2>Empleados PGR</h2>

<div class="row">

   
    <div class="col-lg-12 actualizados" hidden>
        <label for="someSwitchOptionDefault" class="control-label col-md-2">Sólo Actualizados</label>
        <div class="material-switch col-md-10">
            <input type="checkbox" id="someSwitchOptionDefault" name="someSwitchOption001" hidden value="false" />
            <label for="someSwitchOptionDefault" class="label-primary"></label>
        </div>
    </div>

    <div class="col-lg-3">
        <label>Filtrar Por:</label>
        <div>
            <div>
                <select id="filtro">
                    <option value="">Seleccione</option>
                    <option value=1>Cargo</option>
                    <option value=2>Departamento</option>
                    <option value=3>Dependencia</option>
                    <option value="4">Todos Empleados Actualizados</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-3 cargo" hidden>
        <label>Cargo</label>
        <div>
            @Html.DropDownList("cargos", null, "Seleccione el Cargo", new { @class = "form-control chosen-select" })

        </div>
    </div>

    <div class="col-lg-3 dependencia" hidden>
        <label>Dependencia</label>
        <div>
            @Html.DropDownList("dependencias", null, "Seleccione el Dependencia", new { @class = "form-control chosen-select" })

        </div>
    </div>


    <div class="col-lg-3 departamento" hidden>
        <label>Departamento</label>
        <div>
            <select id="departamentos" class="chosen-select"></select>
        </div>
    </div>
    <a href="~/VISTA_EMPLEADOS/ReporteEmpleadosActualizados" class="btn button_white">Reporte</a>
    @*<div class="col-lg-3">
      
        <div>
            <button id="Reporte" name="Reporte" class="btn button_white" onclick="Imprimir()">Reporte</button>
        </div>
    </div>*@
</div>

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Cedula
            </th>
            <th>
                Cargo
            </th>
            <th></th>
            <th>
                Departamento
            </th>
            <th>
                Dependencia
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Codigo
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", null, new { @class = "button_white" })
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento , Dependencia
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento , Dependencia
            </td>
        </tr>
      
    </tbody>

</table>

@Scripts.Render("~/datatables/js")
<script src="~/scripts/vista_empleados_filtro.js"></script>

<script>

    $(document).ready(function () {

        $('#tableGrid_wrapper').hide()

        $('.chosen-select').chosen();

        Inicio("@Url.Action("FiltrarEmpleados")", "@Url.Action("GetDepartamentos")", "@HttpRuntime.AppDomainAppVirtualPath");

    });


</script>

@*<script>
    function Imprimir() {
        if (someSwitchOptionDefault != false)
        {
        Inicio("@Url.Action("ReporteEmpleadosActualizdos")", "@HttpRuntime.AppDomainAppVirtualPath");
        }
    }
</script>*@