﻿@*@model IEnumerable<intra.VISTA_EMPLEADOS>*@

@{
    ViewBag.Title = "Vista de Empleados";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .table > tbody > tr > td {
        text-transform: uppercase;
    }

    .actualizados {
        margin: 15px 0px 15px 0px;
    }

    .control-label {
        width: 125px;
        padding: 0px 0px 0px 0px;
    }

    .chosen-container {
        width: 263px !important;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

    .control-label1 {
        color: inherit;
    }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
@Styles.Render("~/datatables/css")

<h2><bold>Empleados Actualizados</bold></h2>


<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Cedula
            </th>
            <th>
                Cargo
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Codigo
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento
            </td>
            <td>
                Cargo , Nombre , Codigo , Cedula , Departamento
            </td>
            
        </tr>
       
    </tbody>

</table>

@Scripts.Render("~/datatables/js")
<script src="~/scripts/vista_empleados_filtro.js"></script>

<script>

    $(document).ready(function () {

        $('#tableGrid_wrapper').hide()

        $('.chosen-select').chosen();

        Inicio("@Url.Action("FiltrarEmpleados")", "@Url.Action("GetDepartamentos")", "@HttpRuntime.AppDomainAppVirtualPath");

    });

</script>
