﻿@model  IEnumerable<intra.Models.ViewModel.vmEmpleadosActualizados>
@{
    var Empleados = Model.ToArray();
    int filas_por_paginas = 7;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Empleado Actualizados</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style>
        * {
            font-family: 'Gill Sans MT Italic', sans-serif;
            color: black;
        }

      .general{
         
      }

        .logoooo {
            width: 100% !important;
            height: auto !important;
            background-position: left top;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            margin-top: -10px;
        }

        .contenedor {
            width: 100%;
            margin: 0 auto;
            position: relative;
            top: 70px !important;
            font-family: 'Gill Sans MT Italic', sans-serif;
            padding: 0 40px 0 40px;
        }
       
        .breakhere {
            page-break-after: always;
        }

        .contenedor .cabecera {
            text-align: center;
            margin-top: 16%;
        }

        .contenedor .cabecera h1 {
            font-size: 16px;
            font-family: 'Gill Sans MT Italic', sans-serif;
            font-weight: bold;
            margin-left: 12%;
            color: #0c4ba4;
        }

        .contenedor .cuerpo h2 {
            font-size: 12px;
            color: red;
            margin-top: 50px;
            padding: 0;
            font-family: 'Gill Sans MT Italic', sans-serif;
            font-weight: bold;
        }

        .contenedor .cuerpo .table th, .wi-20 {
            width: 20%;
        }

        .container .cuerpo .table {
            font-size: 14px;
        }

            .container .cuerpo .table th {
                font-weight: bold;
            }

        input {
            text-align: center;
        }


        .estatus_pendiente {
            color: white;
            background: #efb11e;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_aprobado {
            color: white;
            background: #68c249;
            padding: 6px 10px;
            border-radius: 10px;
        }

        .estatus_cancelado {
            color: white;
            background: #ee3c3c;
            padding: 6px 10px;
            border-radius: 10px;
        }
        table{
            position:relative;
            z-index:0;
                
        }

        th, td {
            /*padding: 20px 15px !important;*/
            font-size: 11pt !important;
        }

        .thead-td {
            color: #fff;
            background: #014984;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
        }

        td.tbody-td {
            text-transform: capitalize !important;
            font-size: 12pt !important;
        }

        .footerpage {
            text-align: center;
            color: #064b8e;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 30px;
            background-color: #fff;
            width: 45px;
            height: 44px;
            margin: auto;
            font-weight: 600;
            background: #0c4ba4;
            border-radius: 50%;
            position:relative;
            top: 770px;
           
          
        }

        .footerpage p {
            color: #fff;
            font-size: 14pt;
            line-height: 2.3;
        }


    </style>
</head>

<body>
    
    <div class="container general">

        <img class="logoooo" src="~/Content/images/imagen-pgr-formularios-horizontal.svg" />


        <div class="contenedor">

            <footer class="footerpage" style="margin-top:-20px;">
                <p class="bolita">1</p>
            </footer>
            <div class="row">
                <div class="col-lg-6">
                    <h1 style="font-size:16pt; font-weight: bold; color:#014984;">REPORTE EMPLEADOS ACTUALIZADOS</h1>
                </div>
                <div class="col-lg-6">
                   <h1 style="font-size:16pt; font-weight: bold; color:#014984;">Cantidad: @ViewBag.CantidadActualizados</h1>  
                </div>
            </div>
            <div class="cuerpo">
                <hr style="margin-top:-2px;" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="thead-td" style="width:15%;">Nombre</td>
                            <td class="thead-td" style="width:5%;">Codigo</td>
                            <td class="thead-td" style="width:10%;">Cedula</td>
                            <td class="thead-td" style="width:20%;">Dependencia</td>
                            <td class="thead-td" style="width:17%;">Departamento</td>
                            <td class="thead-td" style="width:17%;">Cargo</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < (Empleados.Length < filas_por_paginas ? Empleados.Length : filas_por_paginas); i++)
                {
                    <tr>

                        <td class="tbody-td">@Empleados[i].Nombre</td>
                        <td class="tbody-td">@Empleados[i].Codigo</td>
                        <td class="tbody-td">@Empleados[i].Cedula</td>
                        <td class="tbody-td">@Empleados[i].Dependencia</td>
                        <td class="tbody-td">@Empleados[i].Departamento</td>
                        <td class="tbody-td">@Empleados[i].Cargo</td>
                    </tr>
        }
                    </tbody>
                </table>
            </div>

        </div>

        @if (Empleados.Length > filas_por_paginas)
        {
            bool terminar_tabla = false;
            int filas_contador = filas_por_paginas;
            int filas_faltantes = 0;
            int pie_pagina = 2;


            if (Empleados.Length > (filas_por_paginas * 2))
            {
                filas_faltantes = filas_contador + filas_por_paginas;
            }
            else
            {
                filas_faltantes = Empleados.Length;
            }

            do
            {
                var lista2 = Empleados.Length;
            <p class="breakhere"></p>

            <img class="logoooo" src="~/Content/images/imagen-pgr-formularios-horizontal.svg" />

            <div class="contenedor">
                <footer class="footerpage">
                    <p class="bolita">@pie_pagina</p>
                </footer>
                <h1 style="font-size:16pt; font-weight: bold; color:#014984;">REPORTE EMPLEADOS ACTUALIZADOS</h1>


                <div class="cuerpo">
                    <hr style="margin-top:-2px;" />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="thead-td" style="width:15%;">Nombre</td>
                                <td class="thead-td" style="width:5%;">Codigo</td>
                                <td class="thead-td" style="width:10%;">Cedula</td>
                                <td class="thead-td" style="width:20%;">Dependencia</td>
                                <td class="thead-td" style="width:17%;">Departamento</td>
                                <td class="thead-td" style="width:17%;">Cargo</td>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = filas_contador; i < filas_faltantes; i++)
                {
                    <tr>
                        <td class="tbody-td">@Empleados[i].Nombre</td>
                        <td class="tbody-td">@Empleados[i].Codigo</td>
                        <td class="tbody-td">@Empleados[i].Cedula</td>
                        <td class="tbody-td">@Empleados[i].Dependencia</td>
                        <td class="tbody-td">@Empleados[i].Departamento</td>
                        <td class="tbody-td">@Empleados[i].Cargo</td>
                    </tr>
    }
                        </tbody>
                    </table>
                </div>
                @*<footer class="footerpage">
            <p class="bolita">@pie_pagina</p>
        </footer>*@
                @{ pie_pagina++; }
            </div>

        if (filas_faltantes == lista2)
        {
            terminar_tabla = true;
        }

        if (filas_faltantes < lista2)
        {
            if (lista2 - (filas_faltantes) >= filas_por_paginas)
            {
                filas_contador = filas_faltantes;
                filas_faltantes = filas_contador + filas_por_paginas;
            }
            else if (lista2 - (filas_faltantes) < filas_por_paginas)
            {
                filas_contador = filas_faltantes;
                filas_faltantes = lista2;
            }
        }


    } while (!terminar_tabla);


}


    </div>
</body>
</html>