﻿@model  IEnumerable<intra.Models.Servicios.ReporteSoporteUsuarios>
@{
    ViewBag.Title = "ReporteSoporteUsuarios";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Reporte Soporte a Usuarios</h2>

<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<script src="~/Content/intro.js-2.7.0/intro.js"></script>
<style>
    .chosen-container-multi .chosen-choices {
        background-color: #494b54 !important;
        border: none !important;
        border-radius: 4px !important;
    }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            color: #949ba2 !important;
        }

        .chosen-container-multi .chosen-choices select {
            border: 0px !important;
        }

    .chosen-drop {
        padding-left: 10px;
    }

    #trAjust th {
        width: 5% !important;
    }

    .chosen-container {
        width: 110px !IMPORTANT;
    }

    .chosen-drop {
        width: auto !important;
    }
</style>
<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>
<form method="post" enctype="multipart/form-data">
    <div id="Fechas" class="row">
        <div class="col-md-4">
            <label>Fecha Inicial:</label>
            <input type="text" id="FechaInicial" name="FechaInicial" class="date-picker form-control" />
        </div>
        <div class="col-md-4">
            <label>Fecha Final:</label>
            <input type="text" id="FechaFinal" name="FechaFinal" class="date-picker form-control" />
        </div>
        <div class="col-md-4 pull-right alejar_top">
            <button type="submit" class="btn button_white alejar_top" id="Reporte"><i class="fa fa-file alejar_icono"></i> Reporte</button>
            @*<button type="submit" class="btn button_white alejar_top pull-right" style="margin-left:5px;" id="consultar"><i class="fa fa-search alejar_icono"></i> Consultar</button>*@

            @*@Html.TextBoxFor(model => model.FechaFinal, DateTime.Now.ToString("{0:dd/MM/yyyy}"), new { id = "date-picker2", @class = "date-picker form-control" })*@
        </div>
    </div>




    @*@Styles.Render("~/datatables/css")
    <div style="margin-top:20px;">
        <table id="tableGrid" class="table display table-responsive nowrap alejar_top" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Solicitante</th>
                    <th>Departamento</th>
                    <th>Técnico</th>
                    <th>Descripción Solicitud</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Fecha</td>
                        <td>@item.Solicitante</td>
                        <td>@item.Departamento</td>
                        <td>@item.Tecnico</td>
                        <td>@item.DescripcionSolicitud</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>*@
</form>
<script src="~/JS/jquery-ui.min.js"></script>
@*@Scripts.Render("~/datatables/js")*@

<script>
    $(function () {
        $('.date-picker').datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>

