﻿
@*@model IEnumerable<intra.VISTA_EMPLEADOS>*@

@{
    ViewBag.Title = "Vista de Empleados";
    Layout = "~/Views/intraMaster.cshtml";
}

<style>
    .table > tbody > tr > td {
        text-transform: uppercase;
    }

    .actualizados {
        margin: 15px 0px 15px 0px;
    }

    .control-label {
        width: 125px;
        padding: 0px 0px 0px 0px;
    }

    .chosen-container {
        width: 263px !important;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

    .control-label1 {
        color: inherit;
    }

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
    .posicionar{
        position: absolute;
        right: -20px;
        top: 19px;
    }

</style>
<script src="~/scripts/jquery.js"></script>
<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />

<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

</script>


<h2>Reporte Actualizados</h2>
@using (Html.BeginForm("ReporteEmpleadosActualizados", "VISTA_EMPLEADOS", FormMethod.Post))
{

@*<form id="ReporteActualizados" method="post">*@
    <div class="row">

        <div class="col-lg-2">
            <label>Filtrar Por:</label>
          
                <div>
                    <select id="filtros" name="filtros">
                        <option value="">Seleccione</option>
                        <option value="3">Todos</option>
                        <option value="1">Dependencia</option>
                        <option value="2">Departamento</option>
                        <option value="4">Empleado con Dependientes</option>

                        @*<option value="4">Todos Empleados Actualizados</option>*@
                    </select>
                </div>
        </div>


        <div class="col-lg-3 dependencia1" hidden="hidden">
            <label>Dependencia</label>
            <div>
                @Html.DropDownList("dependencias", null, "Seleccione el Dependencia", new { @class = "form-control chosen-select actualizar" })

            </div>
        </div>


        <div class="col-lg-3 departamento" hidden="hidden">
            <label>Departamento</label>
            <div>
                <select id="DeptoID" name="DeptoID" class="chosen-select ActualizarDepartamento"></select>
            </div>
        </div>
        <div class="col-lg-4" id="formatos" hidden="hidden">
            <label>Tipo de Formato</label>
            <div>
                <select id="formato" name="formato" class="chosen-select">
                    <option value="">Seleccionar</option>
                    <option value="1">PDF</option>
                    <option value="2">EXCEL</option>
                </select>
            </div>
            <button type="submit" id="report" class="btn button_white posicionar reporte">Reporte</button>
        </div>
   


    </div>
    @*</form>*@
}


<script>
    $("#filtros").change(function () {
        if ($("#filtros").val() == "1") {
            $(".dependencia1").show();
            $(".departamento").hide();
            $(".reporte").show();
            $("#formatos").show();
            $(".actualizar").val("");
            $(".actualizar").trigger("chosen:updated");

        }else if($("#filtros").val() == "2")
        {
            $(".dependencia1").show();
            $(".departamento").show();
            $(".reporte").show();
            $("#formatos").show();
            $(".actualizar").val("");
            $(".actualizar").trigger("chosen:updated");
        }
        else if ($("#filtros").val() == "3")
        {
            $("#formatos").show();
            $(".dependencia1").hide();
            $(".departamento").hide();
            $("#formato").hide();
        }
        else if ($("#filtros").val() == "4") {
            $("#formatos").show();
            $(".dependencia1").hide();
            $(".departamento").hide();
            $("#formato").hide();
        }
        else
        {
            $(".dependencia1").hide();
            $(".departamento").hide();
            $(".reporte").hide();
            $("#formatos").hide();
        }
    });
        
</script>

<script>
            //Sectores
            $(document).ready(function () {
                $("#dependencias").change(function () {

                    var id = $("#dependencias").val();
                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("SeleccionarDepartamento")',
                        data: { DependenciaID: id },
                        success: function (data) {
                            // var municipio = data;
                            $("#DeptoID").empty();
                            $("#DeptoID").append('<option value>' + "Seleccionar" + '</option>')

                            $.each(data, function (i, sector) {
                                $("#DeptoID").append('<option value="' + sector.DeptoID + '">' + sector.Descripcion + '</option>')
                            })
                            $("#DeptoID").trigger("chosen:updated");

                        }
                    });
                });

              

            });
    //function ImprimirReporte() {
    //    window.location.href = "VISTA_EMPLEADOS/ReporteEmpleadosActualizados";
    //}
</script>


