﻿@model intra.Models.TallerPgr.TallerPgr

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}

<link rel="stylesheet" href="~/Content/css/sweetalert.css" />
<script src="~/scripts/sweetalert2.min.js"></script>

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>

<h2>Taller Estatus</h2>
<section class="serviciosSolicitud">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Entrada")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("EntradaId", (SelectList)ViewBag.EntradaId, "Seleccione")
                    @Html.ValidationMessageFor(model => model.EntradaId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Avance")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TallerPgrAvance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TallerPgrAvance, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                </div>
            </div>
        </div>
    }
</section>
