﻿@model intra.IncidenciasServicios

@{
    ViewBag.Title = "Nueva Incidencia";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />


<style>
    .serviciosSolicitud select, input[type='text'], input[type="datetime"] {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle
    }


 
</style>
@*/*SELECCIONAR Suplidor*/*@
<script>
    $(function () {
        $("#SuplidorId").change(function () {
            var url = 'GetSuplidor'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#SuplidorId").val() },
                success: function (data) {
                    $("#IncidenciasTipoId").empty();
                    $("#IncidenciasTipoId").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, IncidenciasTipos) {
                        $("#IncidenciasTipoId").append('<option value="' + IncidenciasTipos.Value + '">' + IncidenciasTipos.Text + '</option>')
                    })
                }

            });

        });

        $('#SuplidorId').change(function () {
            if ($(this).val() != 0) {
                $('#IncidenciasTipoId').val($(this).val());
            }

        });


    });
</script>

@*/*SELECCIONAR LA REGION Y PROVINCIAS*/*@

<script type="text/javascript">
    $(function () {
        $("#RegionId").change(function () {
            var url = 'GetProvincia'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#RegionId").val() },
                success: function (data) {
                    $("#Province_ID").empty();
                    $("#Province_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, Provinces) {
                        $("#Province_ID").append('<option value="' + Provinces.Value + '">' + Provinces.Text + '</option>')
                    })
                }

            });

        });


        $('#RegionId').change(function () {
            if ($(this).val() != 0) {
                $('#RegionId').val($(this).val());
            }

        });
    });

</script>
<script type='text/javascript'>
    function load_Municipios()
    {
     $("#Municipality_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Province_ID").val() + ' }',
            success: function (states) {
                $("#Municipality_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                $.each(states, function (i, state) {
                    $("#Municipality_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }
    function loadLocalidad() {
        $("#LocalidadId").empty();
        console.log($("#Municipality_ID").val())
        var obj = {};
        obj.Municipio = $("#Municipality_ID").val();
        var url = 'Localidad';
        $.ajax({
            type: 'POST',
            //url: "/intra/ConectividadInventarios/Localidad",
            url: '@Url.Action("Localidad")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{Municipio:' + $("#Municipality_ID").val() + '}',
            success: function (res) {
                $.each(res, function (i, res) {
                    $("#LocalidadId").append('<option value ="' + res.Value + '">' + res.Text + '</option>');

                })

            },
            error: function (ex) {
                console.log('no puedo cargar las localidades:' + ex)
            }


        })



    }

    $(document).ready(function () {

      /*  $("#Province_ID").change(function () {

            load_Municipios();
            return false;
        })*/
    });
</script>

<script type='text/javascript'>
    $(function () {
        $('.date-picker').datepicker();

    })
</script>
<script type='text/javascript'>
    $(function(){
        $('.date-picker2').datepicker();
    })
</script>

<style>
    .dropd select {
        width: 300px !important;
        margin-top:5px !important;
    }
 
    .serviciosSolicitud select, input[type='text'], input[type="datetime"] {
    width: 300px !important;
}
    .date-picker{
        width:300px !important;
        height:34px !important;
        border-radius: 4px;
    }

    .margenlabel{
        margin-right:22px !important;
        margin-top:5px !important;
    }
</style>

<h2>Nueva Incidencia</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="serviciosSolicitud dropd" style="margin-top:20px;">
 
        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="Region">Región</label>
            </div>

        

            <div class="col-lg-4">
                @Html.DropDownList("RegionId", (SelectList)ViewBag.Region, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="Provincia">Provincia</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("Province_ID", (SelectList)ViewBag.Provincia, "--Seleccione", new { @onchange = "load_Municipios()" })
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="Municipio">Municipio</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio, "--Seleccione", new { @onchange = "loadLocalidad()" })
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasAreas">Localidad</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("LocalidadId", (SelectList)ViewBag.IncidenciasAreas, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="Suplidor">Suplidor</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("SuplidorId", (SelectList)ViewBag.Suplidor, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.SuplidorId, "", new { @class = "text-danger" })*@
                @*@Html.DropDownListFor(model => model.SuplidorId, new SelectList(ViewBag.Suplidor, "SuplidorId", "Descripcion"), "Seleccione", new { id = "SuplidorId" })*@
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasTipos">Tipo</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("IncidenciasTipoId", (SelectList)ViewBag.IncidenciasTipos, "--Seleccione")

                @*@Html.ValidationMessageFor(model => model.IncidenciasTipoId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasNoReporte">No. Reporte</label>
            </div>
            <div class="col-lg-4" style="margin-top: 9px;">
                @Html.EditorFor(model => model.IncidenciasNoReporte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasNoReporte, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasTecnicoNoReporte">Técnico ISP</label>
            </div>
            <div class="col-lg-4" style="margin-top: 9px;">
                @Html.EditorFor(model => model.IncidenciasTecnicoNoReporte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasTecnicoNoReporte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="ConectividadId">Servicio</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("ConectividadId", (SelectList)ViewBag.Servicio, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="MedioId">Medio</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("MedioId", (SelectList)ViewBag.Medio, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="VelocidadId">Velocidad</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("VelocidadId", (SelectList)ViewBag.Velocidad, "--Seleccione")
                @*@Html.ValidationMessageFor(model => model.IncidenciasAreaId, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasTiempoCompromiso">Tiempo Compromiso</label>
            </div>
            <div class="col-lg-4" style="margin-top: 9px;">
                <input style="margin-bottom 5px !important; padding 5px; border-radius 3px; border solid 1px #4BBCE3;" class="date-picker" name="IncidenciasTiempoCompromiso" id="datepicker" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasSolucion">Solución</label>
            </div>
            <div class="col-lg-4" style="margin-top: 9px;">
                @Html.EditorFor(model => model.IncidenciasSolucion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasSolucion, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasFechaSolucion">Fecha Solución</label>
            </div>
            <div class="col-lg-4 serviciosSolicitud" style="margin-top: 9px;">
                <input class="date-picker" name="IncidenciasFechaSolucion" id="datepicker2" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
                <label for="IncidenciasObservaciones">Observaciones</label>
            </div>
            <div class="col-lg-4" style="margin-top: 9px;">
                <textarea class="form-control" rows="3" id="IncidenciasObservaciones" name="IncidenciasObservaciones"></textarea>
                    
                </div>
            <div class="col-lg-1 margenlabel">
                <label for="EstadoId">Estado</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("EstadoId", (SelectList)ViewBag.Estado, "--Seleccione")

                @*@Html.ValidationMessageFor(model => model.IncidenciasTipoId, "", new { @class = "text-danger" })*@
            </div>
            </div>

        <div class="row">
            <div class="col-lg-1 margenlabel">
            </div>
            <div class="col-lg-2" style="margin-top: 9px;">
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                <input type="submit" value="Crear" class="buttonEnviar" />
            </div>
         </div>
        <br />



</section>
}

