﻿@model intra.IncidenciasServicios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IncidenciasServicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasSolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasSolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasFechaSolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasFechaSolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasEstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplidorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasTipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasTipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasAreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasAreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidenciasObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidenciasObservaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncidenciasId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
