﻿@model intra.IncidenciasServicios

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

@*/*SELECCIONAR Suplidor*/*@
<script>
    $(function () {
        $("#SuplidorId").change(function () {
            var url = 'GetSuplidor'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#SuplidorId").val() },
                success: function (data) {
                    $("#IncidenciasTipoId").empty();
                    $("#IncidenciasTipoId").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, IncidenciasTipos) {
                        $("#IncidenciasTipoId").append('<option value="' + IncidenciasTipos.Value + '">' + IncidenciasTipos.Text + '</option>')
                    })
                }

            });

        });

        $('#SuplidorId').change(function () {
            if ($(this).val() != 0) {
                $('#IncidenciasTipoId').val($(this).val());
            }

        });


    });
</script>

@*/*SELECCIONAR LA REGION Y PROVINCIAS*/*@

<script type="text/javascript">
    $(function () {
        $("#RegionId").change(function () {
            var url = 'GetProvincia'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#RegionId").val() },
                success: function (data) {
                    $("#Province_ID").empty();
                    $("#Province_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                    $.each(data, function (i, Provinces) {
                        $("#Province_ID").append('<option value="' + Provinces.Value + '">' + Provinces.Text + '</option>')
                    })
                }

            });

        });


        $('#RegionId').change(function () {
            if ($(this).val() != 0) {
                $('#RegionId').val($(this).val());
            }

        });
    });

</script>
<script type='text/javascript'>
    function load_Municipios()
    {
     $("#Municipality_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Province_ID").val() + ' }',
            success: function (states) {
                $("#Municipality_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                $.each(states, function (i, state) {
                    $("#Municipality_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }
    function loadLocalidad() {
        $("#LocalidadId").empty();
        console.log($("#Municipality_ID").val())
        var obj = {};
        obj.Municipio = $("#Municipality_ID").val();
        var url = 'Localidad';
        $.ajax({
            type: 'POST',
            //url: "/intra/ConectividadInventarios/Localidad",
            url: '@Url.Action("Localidad")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{Municipio:' + $("#Municipality_ID").val() + '}',
            success: function (res) {
                $.each(res, function (i, res) {
                    $("#LocalidadId").append('<option value ="' + res.Value + '">' + res.Text + '</option>');

                })

            },
            error: function (ex) {
                console.log('no puedo cargar las localidades:' + ex)
            }


        })



    }

    $(document).ready(function () {

      /*  $("#Province_ID").change(function () {

            load_Municipios();
            return false;
        })*/
    });
</script>

<script type='text/javascript'>
    $(function(){
        $('.date-picker2').datepicker();
    })
</script>
<script type='text/javascript'>
    $(function(){
        $('.date-picker3').datepicker();
    })
</script>

<style>
    .dropd select {
        width: 300px !important;
        margin-top: 5px !important;
    }

    select, input[type='text'], input[type="datetime"] {
        width: 300px !important;
    }

    .date-picker input {
        width: 300px !important;
        height: 34px !important;
        border-radius: 4px;
    }

    .margenlabel {
        margin-right: 22px !important;
    }

    label{
        text-align:left !important;
        margin-bottom:20px;
    }

</style>

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-bottom:20px;">
        <h4>Incidencias</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IncidenciasId)

        <div class="form-group">
            <label for="RegionId" class="control-label col-md-1 margenlabel">Región</label>
            <div class="col-md-4">
                @Html.DropDownList("RegionId", (SelectList)ViewBag.Region)
                 </div>
            <label for="Province_ID" class="control-label col-md-1 margenlabel">Provincia</label>
            <div class="col-md-4">
                @Html.DropDownList("Province_ID", (SelectList)ViewBag.Provincia)
            </div>
        </div>

        <div class="form-group">
            <label for="Municipality_ID" class="control-label col-md-1 margenlabel">Municipio</label>
            <div class="col-md-4">
                @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio)
               </div>
            <label for="IncidenciasAreas" class="control-label col-md-1 margenlabel">Localidad</label>
            <div class="col-md-4">
                @Html.DropDownList("LocalidadId", (SelectList)ViewBag.IncidenciasAreas)
            </div>
        </div>

        <div class="form-group">
            <label for="SuplidorId" class="control-label col-md-1 margenlabel">Suplidor</label>
            <div class="col-md-4">
                @Html.DropDownList("SuplidorId", (SelectList)ViewBag.Suplidor)
               </div>
            <label for="IncidenciasTipoId" class="control-label col-md-1 margenlabel">Tipo Incidencia</label>
            <div class="col-md-4">
                @Html.DropDownList("IncidenciasTipoId", (SelectList)ViewBag.IncidenciasTipos)
            </div>
        </div>

        <div class="form-group">
            <label for="IncidenciasNoReporte" class="control-label col-md-1 margenlabel">No. Reporte</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.IncidenciasNoReporte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasNoReporte, "", new { @class = "text-danger" })
            </div>
            <label for="IncidenciasTecnicoNoReporte" class="control-label col-md-1 margenlabel">Técnico ISP</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.IncidenciasTecnicoNoReporte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasTecnicoNoReporte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="ConectividadId" class="control-label col-md-1 margenlabel">Servicio</label>
            <div class="col-md-4">
                @Html.DropDownList("ConectividadId", (SelectList)ViewBag.Servicio)
            </div>
            <label for="MedioId" class="control-label col-md-1 margenlabel">Medio</label>
            <div class="col-md-4">
                @Html.DropDownList("MedioId", (SelectList)ViewBag.Medio)
            </div>
        </div>

        <div class="form-group">
            <label for="VelocidadId" class="control-label col-md-1 margenlabel">Velocidad</label>
            <div class="col-md-4">
                @Html.DropDownList("VelocidadId", (SelectList)ViewBag.Medio)
            </div>
            <label for="IncidenciasTiempoCompromiso" class="control-label col-md-1 margenlabel">Tiempo Compromiso</label>
            <div class="col-lg-4 date-picker">
                @Html.TextBox("Tiempo Compromiso", Model.IncidenciasTiempoCompromiso, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date" })
                @Html.ValidationMessageFor(model => model.IncidenciasTiempoCompromiso, "", new { @class = "text-danger" })
            </div> 
        </div>

        <div class="form-group">
            <label for="IncidenciasSolucion" class="control-label col-md-1 margenlabel">Solución</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.IncidenciasSolucion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncidenciasSolucion, "", new { @class = "text-danger" })
            </div>
            <label for="IncidenciasFechaSolucion" class="control-label col-md-1 margenlabel">Fecha Solución</label>
            <div class="col-lg-4 date-picker">
                @Html.TextBox("Fecha Solución", Model.IncidenciasFechaSolucion, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date" })
                @Html.ValidationMessageFor(model => model.IncidenciasFechaSolucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="IncidenciasObservaciones" class="control-label col-md-1 margenlabel">Observaciones</label>
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.IncidenciasObservaciones, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <label for="EstadoId" class="control-label col-md-1 margenlabel">Estado</label>
            <div class="col-md-4">
                @Html.DropDownList("EstadoId", (SelectList)ViewBag.Estado)
            </div>
        </div>

        <div class="form-group">
            <label for="IncidenciasUsuario" class="control-label col-md-1 margenlabel">Usuario</label>
            <div class="col-md-4">
               @Html.DisplayFor(model => model.IncidenciasUsuario)
            </div>
            <label for="IncidenciasFechaCreacion" class="control-label col-md-1 margenlabel">Fecha creación</label>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.IncidenciasFechaCreacion)
            </div>
        </div>

        @Html.HiddenFor(model => model.IncidenciasFechaCreacion)
        @Html.HiddenFor(model => model.IncidenciasUsuario)
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
            <div class="col-md-2">@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })</div>
        </div>
    </div>
}


