.container-slider {
  width: 100%;
  max-width:1000px;
  margin: 0 auto;
  overflow: hidden!important;
  
}


.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

.carousel .carousel-seat{
  padding: 10px;
}

.items-beneficiarios{
    height: 450px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  background: #ddd;
  flex: 1 0 100%;
  order: 2;
}

.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}

/*h2 {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}*/

.controls {

  padding: 1em;
  text-align: center;
}

.controls button {
  background: #aaa;
  border: 0;
  border-radius: 0.25em;
  color: #eee;
  padding: 0.5em 1em;
}

.controls button:hover,
.controls button:focus {
  background: #014984;
  cursor: pointer;
}

/* Tarjetas de beneficiarios*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    max-width: 200px;
    background: linear-gradient(to top left, #014984, #00aeff);
    padding: 10px;
    border-radius: 35px;
}

    .card > img {
        width: 90%;
        background: #fff;
        padding: 10px;
        border-radius: 25px 25px 0 0;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container-card {
    padding: 2px 16px;
    background: #fff;
    margin-top: 2px;
    border-top: 1px solid#eee;
    border-radius: 0 0 25px 25px;
}

p{
    text-transform:capitalize!important;
}

