﻿.card, .card-image, .card-img{
    width:100%;
}

.card{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.10), 2px 2px 20px 0px rgba(0,0,0,.10);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.10), 2px 2px 20px 0px rgba(0,0,0,.10);
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 2px;
    min-height: 400px;
    margin-bottom: 25px;
}

.card-img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.card-body{
    padding: 20px;
}

.card-title{
    color: #337ab7;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.card-title:hover{
    color: #1a476d;
    text-decoration: none;
    -webkit-transition: .2s ease-out;
    transition: all 0.5s ease;
}

.card-text{
    margin-top: 7px;
    font-size: 13px;
    color: #757575;
    font-weight: 100;
}

.card-button{
    border: solid 1px #4ABCE3;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 9px 20px;
    transition: all .1s linear;
    text-transform: uppercase;
    margin-top: 9px;
    font-size: 11px;
    text-decoration: none;
    color: #4ABCE3;
    position: absolute;
    bottom: 15px;
}

.card-button:hover{
    border: solid 1px #4ABCE3;
    background: #4ABCE3;
    text-decoration: none;
    color: #fff;
}
