﻿.control {
    /* border: 14.2px solid #2196f3; */
    background: #2196f3;
    border-radius: 50%;
    margin: 79vh 20px 0;
    /*padding: 28px;*/
    width: 66px;
    height: 64px;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    box-shadow: 2px 2px 10px;
}

    .control,
    .control .left,
    .control .right,
    .control:before {
        display: inline-block;
        vertical-align: middle;
        transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
        transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
    }

        .control:before {
            content: "";
            height: 65px;
        }

        .control.pause .left,
        .control.pause .right {
            margin: -5px;
            border-left: 7.96px solid #fff;
            border-top: 0 solid transparent;
            border-bottom: 0 solid transparent;
            height: 27.992px;
        }

        .control.pause .left {
            border-right: 22.4px solid transparent;
        }

        .control.play .left {
            margin-left: 8px;
            border-left: 0px solid #fff;
            border-top: 19px solid transparent;
            border-bottom: 2px solid transparent;
            border-right: 0px solid transparent;
            height: 56px;
        }

        .control.play .right {
            margin: 0;
            border-left: 30.496px solid #fff;
            border-top: 20px solid transparent;
            border-bottom: 14px solid transparent;
            height: 0px;
        }

        .control:hover {
            border-color: #ddd;
        }

            .control:hover .left,
            .control:hover .right {
                border-left-color: #fff;
            }
