body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#366ca2;
    background-image: url(../images/edificio-pgr-azul.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerform {
  background-color:#fff;
}

.formbg {
  margin-top:48px;
  color:#fff;
  width:94%;
}

.formbg form {
  margin:30px;
}

form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  height:40px;
}

.enviar {
  background:#f1f1f1;
  border:none;
  border-radius:0px;
  padding:11px;
  box-shadow:none;
  text-shadow:none;
  outline:none !important;
  color:#0055a5;
  width:20%;
  font-size:18px;
  font-weight:bold;
}

.enviar:hover {
  background:#003c75;
  border:1px solid #0373dd;
  border-radius:0px;
  padding:11px;
  box-shadow:none;
  text-shadow:none;
  outline:none !important;
  color:#fff;
  width:20%;
}

h2{
    border-bottom:1px solid #fff;
    margin-bottom:25px;
    font-weight:bold;
}

.text-center{
    border-bottom:0px !important;
    font-weight:bold;
    margin-bottom:5px !important;
    margin-top:-10px;
}

.btn-primary {
    color: #0055a5;
    background-color: #fff;
    border-color: #2e6da4;
    height:40px;
    border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left:1px solid #003c75;
    border-radius:0px;
    padding:10px;
}

.btn-primary:hover {
    color: #fff;
    background:#003c75;
    border-color: #2e6da4;
    height:40px;
    border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-radius:0px;
    padding:10px;
    border:1px solid #fff !important;
}

.krajee-default .file-footer-caption {
    color: #fff !important;
}

.btn-default {
    color: #003c75 !important;
    background-color: #fff !important;
    border-color: #ccc;
    border-left:1px solid #003c75 !important;
    height:40px;
}

.btn-default:hover {
    color: #fff !important;
    background-color: #003c75 !important;
    border-left:1px solid #003c75 !important;
    height:40px;
}

.file-drop-zone-title {
    color: #003c75;
    background-color:#fff;
}

.file-preview {
    margin-top: 8px !important;
}

@media (max-width: 1024px) {
    .rephidden {
    display:none;
}
    }

@media (max-width:720px) {
  .formbg {
    margin-top:48px;
    color:#fff;
    width:100%;
  }
}