﻿/*body {
    overflow-y: hidden;
}

.clipout {
    position: relative;
    top: 0px;
}

.form-control-img {
    display: block;
    max-width: 100%;
    padding: .5rem .75rem;
}

fieldset {
    position: absolute;
    top: 0%;
    right: 0;
    background: #fffffff0;
    padding: 11% 12% 36% 7%;
    -moz-box-shadow: inset -11px 10px 33px 2px rgba(0,0,0,0.56);
    -webkit-box-shadow: inset 14px -4px 35px 3px rgba(0,0,0,0.56);
    -moz-box-shadow: inset 14px -4px 35px 3px rgba(0,0,0,0.56);
    box-shadow: inset 14px -4px 35px 3px rgba(0, 0, 0, 0.18);
    width: 40%;
    height: 3000px;
}

input[type="text"], [type="password"] {
    font-style: italic !important;
}

video {
    position: fixed;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}


input[type="text"], [type="password"] {
    padding: 8px 12px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    border-image-slice: 1;
    width: 100%;
    margin-bottom: 15px;
}

.button_white {
    margin: 0;
    outline: 0;
    padding: 11px 24px;
    text-transform: uppercase;
    font-size: 13px !important;
    border-radius: 4px;
    margin-bottom: 10px;
    text-decoration: none !important;
    background: #0c4ba4;
    border: none;
}

.button_white:hover {
        text-decoration: none;
        color: #fff;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

.alejar_icono{
        padding-right: 5px;
}

@media screen and (max-width: 800px) {

    .accesos fieldset {
        top: 0%;
        background: #fff;
        padding: 11% 12% 36% 7%;
        -moz-box-shadow: inset -11px 10px 33px 2px rgba(0,0,0,0.56);
        -webkit-box-shadow: inset 14px -4px 35px 3px rgba(0,0,0,0.56);
        -moz-box-shadow: inset 14px -4px 35px 3px rgba(0,0,0,0.56);
        box-shadow: inset 14px -4px 35px 3px rgba(0, 0, 0, 0.18);
        width: 95%;
        height: auto !important;
        margin: 93px 11px !important;
    }

        .accesos fieldset img {
            width: 100%;
        }
}*/

/* CSS sin el Video con fondo azul para login Temporal */

body {
    background: #014984;
    /*overflow-y: hidden;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control-img {
    display: block;
    max-width: 80%;
    padding: 3rem .75rem;
    align-items: center;
    margin: 0 auto;
}


fieldset {
    background: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    width: 430px;
    box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, .5);
    margin-top: 11%;
    height:550px;
}


input[type="text"], [type="password"] {
    font-style: italic !important;
}


input[type="text"], [type="password"] {
    padding: 8px 12px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    border-image-slice: 1;
   
}

.footer-login{
    font-size:9pt!important;
}

.button_white {
    margin: 0;
    outline: 0;
    padding: 11px 24px;
    text-transform: uppercase;
    font-size: 13px !important;
    border-radius: 4px;
    text-decoration: none !important;
    background: #0c4ba4;
    border: none;
}

    .button_white:hover {
        text-decoration: none;
        color: #fff;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

.alert, .alert-help  {
    padding: 5px 15px;
    margin: 20px 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-help {
    font-size: 8.5pt;
}

.alert-footer {
    display: flex;
    justify-content: center;
    border-radius: 15px !important;
    background: transparent;
    box-shadow: 2px 5px 20px 0 rgba(217, 237, 247, 1) !important;
    border: 1px solid#d9edf7 !important;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 0.9rem !important;
}

.alejar_icono {
    padding-right: 5px;
}

#transparent-element {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 99999;
     background-color: #b4ddf5;
     opacity: .7;
}


@media screen and (max-width: 800px) {

    .accesos fieldset {
        top: 0%;
        background: #fff;
        -moz-box-shadow: inset -11px 10px 33px 2px rgba(0,0,0,0.56);
        -webkit-box-shadow: inset 14px -4px 35px 3px rgba(0,0,0,0.56);
        -moz-box-shadow: inset 14px -4px 35px 3px rgba(0,0,0,0.56);
        box-shadow: inset 14px -4px 35px 3px rgba(0, 0, 0, 0.18);
        width: auto;
        max-width:none;
        height: auto !important;
        margin-top: 30% !important;
    }

        .accesos fieldset img {
            width: 100%;
        }

    .button_white {
        width:100%!important;
    }
}
