﻿

/*Neon*/
.glow-btn-candidatos p {
    text-align: center;
    font-size: 10pt;
    margin: 150px 0 20px 0;
    /*width: 150px;
    height: 150px;
    border: red;*/
}

.glow-btn-candidatos .button {
    text-decoration: none;
}

.glow-btn-candidatos p .button {
    color: #fff;
    background: #0a9c96;
    padding: 5px 15px;
    border: 0;
    position: absolute;
    top: -131px;
    right: 140px;
}

    .glow-btn-candidatos p .button:hover {
        color: #fff;
        padding: 5px 15px;
    }

.glow-btn-candidatos .button {
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

    .glow-btn-candidatos .button:hover {
        background: #24bfb9 !important;
        border: 0 !important;
    }








/*OTRA OPCION*/
.hotspot {
    z-index: 999999;
    height: 60px;
    width: 37px;
    left: 94.5vw;
    top: 78vh;
    position: relative;
    cursor: pointer;
    color: #fff;
    -webkit-animation: none 3s linear infinite;
    -moz-animation: none 3s linear infinite;
    -ms-animation: none 3s linear infinite;
    -o-animation: none 3s linear infinite;
    animation: none 3s linear infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: hotspot-vertical-top;
    -moz-animation-name: hotspot-vertical-top;
    -ms-animation-name: hotspot-vertical-top;
    -o-animation-name: hotspot-vertical-top;
    animation-name: hotspot-vertical-top;
}

.hotspot-inner {
    margin-bottom: 10px;
    background: #0c4ba4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
}

    .hotspot-inner:after {
        content: '';
        position: absolute;
        left: 13px;
        top: 33px;
        margin-left: -5px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #0c4ba4;
    }

.icn {
    display: inline-block;
    height: 38px;
    width: 43px;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
}

@-webkit-keyframes hotspot-vertical-top {
    0%, 30%, 40%, 53.3%, 66.667%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    35% {
        -webkit-transform: translate3d(0, 25px, 0);
        -moz-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        -o-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    46.667% {
        -webkit-transform: translate3d(0, 12.5px, 0);
        -moz-transform: translate3d(0, 12.5px, 0);
        -ms-transform: translate3d(0, 12.5px, 0);
        -o-transform: translate3d(0, 12.5px, 0);
        transform: translate3d(0, 12.5px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: translate3d(0, 6.25px, 0);
        -moz-transform: translate3d(0, 6.25px, 0);
        -ms-transform: translate3d(0, 6.25px, 0);
        -o-transform: translate3d(0, 6.25px, 0);
        transform: translate3d(0, 6.25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-moz-keyframes hotspot-vertical-top {
    0%, 30%, 40%, 53.3%, 66.667%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    35% {
        -webkit-transform: translate3d(0, 25px, 0);
        -moz-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        -o-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    46.667% {
        -webkit-transform: translate3d(0, 12.5px, 0);
        -moz-transform: translate3d(0, 12.5px, 0);
        -ms-transform: translate3d(0, 12.5px, 0);
        -o-transform: translate3d(0, 12.5px, 0);
        transform: translate3d(0, 12.5px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: translate3d(0, 6.25px, 0);
        -moz-transform: translate3d(0, 6.25px, 0);
        -ms-transform: translate3d(0, 6.25px, 0);
        -o-transform: translate3d(0, 6.25px, 0);
        transform: translate3d(0, 6.25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-ms-keyframes hotspot-vertical-top {
    0%, 30%, 40%, 53.3%, 66.667%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    35% {
        -webkit-transform: translate3d(0, 25px, 0);
        -moz-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        -o-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    46.667% {
        -webkit-transform: translate3d(0, 12.5px, 0);
        -moz-transform: translate3d(0, 12.5px, 0);
        -ms-transform: translate3d(0, 12.5px, 0);
        -o-transform: translate3d(0, 12.5px, 0);
        transform: translate3d(0, 12.5px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: translate3d(0, 6.25px, 0);
        -moz-transform: translate3d(0, 6.25px, 0);
        -ms-transform: translate3d(0, 6.25px, 0);
        -o-transform: translate3d(0, 6.25px, 0);
        transform: translate3d(0, 6.25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes hotspot-vertical-top {
    0%, 30%, 40%, 53.3%, 66.667%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    35% {
        -webkit-transform: translate3d(0, 25px, 0);
        -moz-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        -o-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    46.667% {
        -webkit-transform: translate3d(0, 12.5px, 0);
        -moz-transform: translate3d(0, 12.5px, 0);
        -ms-transform: translate3d(0, 12.5px, 0);
        -o-transform: translate3d(0, 12.5px, 0);
        transform: translate3d(0, 12.5px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: translate3d(0, 6.25px, 0);
        -moz-transform: translate3d(0, 6.25px, 0);
        -ms-transform: translate3d(0, 6.25px, 0);
        -o-transform: translate3d(0, 6.25px, 0);
        transform: translate3d(0, 6.25px, 0);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
