﻿
/*
// ==========
// INDEX
// ==========
*/

.boton-navegacion {
    margin-bottom: 20px;
    float: right;
}

.seguro-fila {
    color: #34495E !important;
}

.seguro-celda {
    font-size: 10pt !important;
}

.seguro-celda span {
    margin-left: 20px;
}

.boton-opcion {
    width: 60px;
    float: left;
    margin-bottom: 15px;
    font-size: 15pt;
    color: #38AFD3;
}

.boton-opcion i:hover {
    cursor: pointer;
    color: #34495E;
}

/*
// ==========
// AGREGAR SEGURO
// ==========
*/

#contenedor-botones{
    margin-top: 20px;
    padding: 0;
    padding-left: 157px;
}

/*
// ==========
// VER SEGURO
// ==========
*/

#contenedor-archivos {
    margin-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
    padding: 0;
}

.seguro-archivo {
    margin-bottom: 10px;
    border-bottom: 1px solid #4BBCE3;
    padding: 15px;
}

.seguro-archivo-nombre {
    color: #337AB7;
}

.seguro-archivo-imagen {
    width: 60px;
}

.seguro-archivo-contenedor-botones {
    text-align: center;
    font-size: 16pt;
    color: #337AB7;
}

.seguro-archivo-contenedor-botones i:hover {
    color: #34495E;
    cursor: pointer;
}

/*
// ==========
// ANIMACION DE CARGA
// ==========
*/

#loading-animation-container {
    display: none !important;
}

#loading-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}

#loading-image-container img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#transparent-element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #000000;
    opacity: .7;
}

/*
// ==========
// ESTILOS GENERALES
// ==========
*/

.contenedor-seccion {
    padding: 0;
}

.contenedor-campo {
    margin-top: 20px;
    padding: 0;
    overflow: auto;
}

.contenedor-campos {
    overflow: auto;
    width: 100%;
    padding: 0;
}

.titulo-campo {
    padding-top: 7px;
}

.contenedor-input-campo {
    padding: 0;
}

#seguro-link {
    width: 85%;
    border-radius: 0 3px 3px 0;
}

.campo {
    height: 35px;
    width: 100%;
    float: left;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    padding-top: 0;
}

#elemento-http {
    border: 1px solid #000000;
    width: 15%;
    float: left;
    border-radius: 3px 0 0 3px;
    padding: 7px;
    text-align: center;
}

.file-input{
   width: 650px;
   margin: auto;
}



