﻿
/* CAMPOS */

#carpeta-campo-nombre {
    border: 1px solid #808B96;
    margin-top: 5px;
}

/* CONTENEDORES */

#carpeta-hijos {
    margin-bottom: 50px;
} 

#info-carpeta-actual {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    /*display: none;*/
}

#info-carpeta-actual i {
    color: #F8C471;
}


#volver-atras i,
#volver-home i {
    cursor: pointer;
    font-size: 30px;
    color: #5BC0DE;
}

#carpeta-crear {
    display: none;
    text-align: center;
    margin-bottom: 20px;
    overflow: auto;
}

#archivo-subir {
    display: none;
    margin-bottom: 20px;
}

#controles-navegacion {
    display: none;
    color: #2980B9;
    text-align: center;
    margin-bottom: 20px;
}

#controles-crear-subir {
    margin-bottom: 20px;
}

/* OTROS */

.elemento-hijo {
    border: 0px solid #31B0D5;
    padding: 10px 15px 10px 0;
    border-radius: 0px;
    margin-top: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.elemento-hijo-icono {
    text-align: center;
    height: 100%;
}

.elemento-hijo-icono-carpeta {
    color: #337AB7;
    cursor: pointer;
    font-size: 33px;
}

.elemento-hijo-icono-carpeta:hover {
    color: #286090;
}

.elemento-data {
    display: none;
}

.elemento-botones {
    text-align: center;
}

.elemento-centro {
    height: 100%;
}

.controles-boton {
    height: 40px;
    margin-bottom: 15px;
    width: 100%;
}

.elemento-boton-renombrar {
    color: #5BC0DE;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.elemento-boton-renombrar:hover {
    color: #337AB7;
}

.elemento-boton-eliminar {
    color: #5BC0DE;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.elemento-boton-eliminar:hover {
    color: #337AB7;
}

.elemento-boton-descargar {
    color: #5BC0DE;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.elemento-boton-descargar:hover {
    color: #337AB7;
}

.elemento-nombre {
    color: #337AB7;
    font-weight: bold;
    margin-bottom: 7px
}

.elemento-campo-renombrar {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    border: 1px solid #BDC3C7;
}

.elemento-boton-renombrar-guardar {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #337AB7;
    background-color: #337AB7;
    color: #ffffff;
}

.elemento-boton-renombrar-guardar:hover {
    background-color: #286090;
}

.elemento-contenedor-renombrar {
    display: none;
}

.elemento-boton-toggle-color {
    color: #337AB7;
}

.elemento-hijo-icono-archivo img {
    height: 45px;
}

#loading-animation-container {
    display: none;
}

#loading-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    background: rgba(0, 0, 0, 0.6);
}

#loading-image-container img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
}

.btn-info{
    border: SOLID 1PX #4ABCE3;
    color: #4ABCE3;
    background: #fff;
    font-size: 11px;
    border-radius: 4px;
    transition: all .1s linear;
    text-transform: uppercase;
}

.btn-info:hover, .button_white :hover{
    background: #4ABCE3;
    border: 1px solid #4ABCE3;
    text-decoration: none;
    color: #fff;
    transition: all .1s linear;
}

.back{
    margin-right: 5px;
}

.btn-primary, .button_white {
    color: #33B83D;
    border: 1px solid #33B83D;
    background-color: white;
    transition: all .1s linear;
}


.btn-primary:hover, .button_white :hover{
    color: white;
    background-color: #33B83D;
    border: 1px solid #33B83D;
    transition: all .1s linear;
}



#carpeta-campo-nombre{
    border: solid 1px #4BBCE3;
}

.btn-danger {
    color: #d9534f;
    background-color: white;
    border-color: #d43f3a;
    transition: all .1s linear;
}

.btn-file input[type=file]{
    transition: all .1s linear;
}




