html, body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img .img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}




.h3-title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 15px !important;
}

/*.carousel-wrapper {
  position: relative;
  width: 50%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  background-image: linear-gradient(#FFFFFF 50%, #FFFFFF 50%, #F0F3FC 50%);
  box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

    .carousel-wrapper .carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
*/

.flickity-viewport {
    overflow: initial !important;
    position: relative;
    height: 100%;
}

.carousel-wrapper-album .carousel .carousel-cell {
    padding: 0px;
    cursor: pointer;
    background-color: #fff;
    width: 20%;
    height: 350px;
    min-width: 120px;
    margin: 0 20px;
    transition: transform 500ms ease;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
}

.carousel-wrapper .carousel .carousel-cell {
    padding: 0px;
    cursor: pointer;
    background-color: #fff;
    width: 20%;
    height: 330px;
    min-width: 120px;
    margin: 0 20px;
    transition: transform 500ms ease;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
}

    .carousel-wrapper .carousel .carousel-cell .more {
        display: block;
        opacity: 0;
        margin: 5px 0 15px 0;
        text-align: center;
        font-size: 14px;
        color: #014984;
        text-decoration: none;
        transition: opacity 300ms ease;
    }

        .carousel-wrapper .carousel .carousel-cell .more:hover, .carousel-wrapper .carousel .carousel-cell .more:active, .carousel-wrapper .carousel .carousel-cell .more:visited, .carousel-wrapper .carousel .carousel-cell .more:focus {
            color: #014984;
            text-decoration: none;
        }

    .carousel-wrapper .carousel .carousel-cell .line {
        position: absolute;
        width: 2px;
        height: 0;
        background-color: black;
        left: 50%;
        margin: 5px 0 0 -1px;
        transition: height 300ms ease;
        display: block;
    }
    /*.carousel-wrapper .carousel .carousel-cell .price {
  position: absolute;
  font-weight: 700;
  margin: 45px auto 0 auto;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}*/
    .carousel-wrapper .carousel .carousel-cell .price sup {
        top: 2px;
        position: absolute;
    }
    /*.carousel-wrapper .carousel .carousel-cell.is-selected {
  transform: scale(1.2);
}*/
    .carousel-wrapper .carousel .carousel-cell.is-selected .line {
        height: 35px;
    }

    .carousel-wrapper .carousel .carousel-cell.is-selected .price, .carousel-wrapper .carousel .carousel-cell.is-selected .more {
        opacity: 1;
    }

.carousel-wrapper .flickity-page-dots {
    display: none;
}

.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
    overflow: visible;
}




/*! Flickity v2.0.11
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
    position: relative
}

    .flickity-enabled:focus {
        outline: 0
    }

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 26% !important;
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab
    }

        .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
            cursor: -webkit-grabbing;
            cursor: grabbing
        }

.flickity-prev-next-button {
    position: absolute;
    top: 35%;
    width: 35px;
    height: 35px;
    border: 0 !important;
    border-radius: 50%;
    background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    box-shadow: 2px 2px 5px 2px rgba(0, 34, 53, 0.48);
    transition: 1s;
}

    .flickity-prev-next-button:hover {
        background: -webkit-linear-gradient(left, rgb(6, 54, 125) 0%, rgb(0, 119, 175)100%);
        box-shadow: 1px 1px 2px 2px rgba(0, 34, 53, 0.48);
    }

    .flickity-prev-next-button:focus {
        outline: 0;
        box-shadow: 0 0 0 5px #09f
    }

    .flickity-prev-next-button:active {
        opacity: .6
    }

    .flickity-prev-next-button.previous {
       right: 10px;
    }

    .flickity-prev-next-button.next {
       
          left: 10px;
    }

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px
}

.flickity-prev-next-button:disabled {
    opacity: .3;
    cursor: auto
}

.flickity-prev-next-button svg {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 40%;
    height: 60%;
    transform:rotate(180deg);
}

.flickity-prev-next-button .arrow {
    fill: #fff
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1
}

.flickity-rtl .flickity-page-dots {
    direction: rtl
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer
}

    .flickity-page-dots .dot.is-selected {
        opacity: 1
    }
