﻿@model intra.Models.FlotasExtensiones.MarcasFlotas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Crea Marca de Flotas</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Descipción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MarcaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MarcaDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
    </div>
}

