﻿@model intra.Models.FlotasExtensiones.MarcasFlotas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}



<div>
    <h2>Marca de Flotas</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarcaDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaFhCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaFhCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MarcaId }, new { @class = "buttonAceptar" }) 
    @Html.ActionLink("Volver", "Index", null, new { @class = "buttonAceptar" })
</p>
