﻿@model intra.Models.FlotasExtensiones.MarcasFlotas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Editar Marcas </h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MarcaId)

        <div class="form-group">
            @Html.LabelFor(model => model.MarcaDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MarcaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MarcaDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">*@
            <input id="MarcaFhCreacion" name="MarcaFhCreacion" value="@Model.MarcaFhCreacion" hidden="hidden" />
            @*<label for="MarcaFhCreacion" class="control-label col-md-2">Fecha de Creación</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MarcaFhCreacion)
            </div>
        </div>*@

        <div class="form-group">
            <label for="MarcaUsuario" class="control-label col-md-2">Usuario</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MarcaUsuario)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
    </div>
}


