﻿@model IEnumerable<intra.Models.SeguridadInformatica.vw_Inactividad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

@*<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />*@

<script src="~/Content/Chossen/chosen.jquery.js"></script>
<link href="~/Content/Chossen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />



<style>
    .chosen-container {
        width: 100% !important;
    }
</style>


<script>
    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });

</script>


@*@Styles.Render("~/datatables/css")*@

<h2>Inactividad Empleados</h2>


<div class="container">
    <div class="row" id="busqueda">
        <div class="col-lg-2">
            <div><label>Tipo de Busqueda</label></div>
            <select id="buscar" name="buscar" class="form-control chosen-select busqueda">
                <option value="">Seleccione</option>
                @*<option value="1">Codigo</option>*@
                <option value="2">Departamento</option>
                <option value="3">Estado Empleado</option>
                <option value="4">Inactividad</option>
            </select>
        </div>
        <div class="col-lg-3" id="Dependencia1" hidden="hidden">
            <div><label> Dependencia</label></div>
            <div>
                @Html.DropDownList("DependenciaID", null, "Seleccione", new { @class = "form-control chosen-select" })
            </div>
        </div>
        <div class="col-lg-3" id="seleccione" hidden="hidden">
            @*<div id="Code" hidden="hidden">
                    <label>Introduzca el Código</label>
                    <div>
                        <input type="text" id="codigo" name="codigo" class="form-control" />
                    </div>
                </div>*@

            <div id="Depto" hidden="hidden">
                <label>Seleccione el Departamento</label>
                <div>
                    @Html.DropDownList("DepartamentoId", null, "Seleccione", new { @class = "form-control chosen-select" })
                </div>
            </div>

            <div id="Estate" hidden="hidden">
                <label>Estado Empleado</label>
                <div>
                    <select id="EstadoEmpleado" name="EstadoEmpleado" class="form-control chosen-select">
                        <option value="">Seleccione</option>
                        <option value="0">ACTIVO</option>
                        <option value="1">INACTIVO</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="col-lg-2" id="Inactive" hidden="hidden">
            <div>
                <label>Inactividad</label>
                <div>
                    <select id="Inactividad" name="Inactividad" class="form-control chosen-select">
                        <option value="">Seleccione</option>
                        <option value="1">ACTIVA</option>
                        <option value="0">INACTIVA</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div style="color:white;">.</div>
            <button hidden="hidden" class="boton button_white" id="Consultar" name="Consultar" onclick="Consultar()"><i class="fa fa-search alejar_icono"></i>Consultar</button>
        </div>
        <div class="col-lg-2">
            <button hidden="hidden" class="boton button_white" id="Consultar1" name="Consultar1" onclick="Consultar1()"><i class="fa fa-search alejar_icono"></i>Consultar</button>
        </div>
    </div>
</div>

<hr />
<div class="row" id="table" hidden="hidden">
    <table id="tableGrid1" class="table display responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Dependencia</th>
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Cedula</th>
                <th>Estado</th>
                <th>Inactividad</th>
                <th>Justificación</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
            </tr>

        </thead>
        <tbody id="Inactividad3"></tbody>

    </table>

</div>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>

<script>
    function load_datatable() {

        $('#DIV_TABLA').show();

        $('#tableGrid1').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },

                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        });
    }
</script>


<script>
    $(document).ready(function () {
        $("#buscar").change(function () {
            if ($("#buscar").val() == 1) {
                $("#Code").show();
                $("#Depto").hide();
                $("#Estate").hide();
                $("#Inactive").hide();
                $("#Fecha").hide();
                $("#Dependencia1").hide();
                $("#Consultar1").hide();
                $("#Consultar").show();
                $("#seleccione").show();
            }
            else if ($("#buscar").val() == 2) {
                $("#Depto").show();
                $("#Code").hide();
                $("#Estate").hide();
                $("#Inactive").hide();
                $("#Fecha").hide();
                $("#Consultar1").show();
                $("#Consultar").hide();
                $("#Dependencia1").show();
                $("#Inactive").show();
                $("#seleccione").show();

            }
            else if ($("#buscar").val() == 3) {
                $("#Estate").show();
                $("#Depto").hide();
                $("#Code").hide();
                $("#Inactive").hide();
                $("#Fecha").hide();
                $("#Consultar1").show();
                $("#Consultar").hide();
                $("#Dependencia1").show();
                $("#Inactive").hide();
                $("#seleccione").show();

            }
            else if ($("#buscar").val() == 4) {
                $("#Inactive").show();
                $("#Estate").hide();
                $("#Depto").hide();
                $("#Code").hide();
                $("#Fecha").hide();
                $("#Consultar1").show();
                $("#Consultar").hide();
                $("#Dependencia1").show();
                $("#seleccione").hide();

            }
            else if ($("#buscar").val() == 5) {
                $("#Fecha").show();
                $("#Inactive").hide();
                $("#Estate").hide();
                $("#Depto").hide();
                $("#Code").hide();
                $("#Dependencia1").show();
                $("#Inactive").show();
            }

        })

    })
</script>


<script>
    function Consultar() {

        var tipoBusqueda;
        var codigo = $("#codigo").val();
        var tipo = $("#buscar").val();
        if (tipo == "1")
        { tipoBusqueda = codigo } else if (tipo == "2")
        { tipoBusqueda = $("#DepartamentoId").val(); }
        else if (tipo == "3")
        { tipoBusqueda = $("#EstadoEmpleado").val(); }
        else if (tipo == "4")
        { tipoBusqueda = $("#Inactividad").val(); }
        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("Inactividad")',
            type: 'POST',
            data: { id: tipoBusqueda, buscar: tipo },

            success: function (data) {

                if (data) {
                    console.log(data);
                    $("#loading-animation-container").hide();
                    //$("#tableGrid1").DataTable().destroy();
                    $("#Inactividad3").empty();
                    $.each(data, function (i, state) {
                        if (state.InactividadTemporal == 0) {
                            state.InactividadTemporal = "INACTIVA"
                        }
                        else {
                            state.InactividadTemporal = "ACTIVA"
                        }
                        $("#Inactividad3").append('<tr><td>' + state.CodigoEmpleado + '</td><td>'
                            + state.NombreCompleto + '</td><td>'
                            + state.Dependencia + '</td><td>'
                            + state.Departamento + '</td><td>'
                            + state.Cargo + '</td><td>'
                            + state.Cedula + '</td><td>'
                            + state.EstadoEmpleado + '</td><td>'
                            + state.InactividadTemporal + '</td><td>'
                            + state.JustificacionInactividad + '</td><td>'
                            + state.FechaInicioString + '</td><td>'
                            + state.FechaFinString + '</td></tr>')
                        console.log(data);
                    });
                    $("#table").show();
                    load_datatable();

                }
                else {
                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'

                    });
                }
            }


        });
    }
</script>


<script>
    function Consultar1() {
        var tipoBusqueda;
        var dependencia2 = $("#DependenciaID").val();
        var Inactividad1 = $("#Inactividad").val();
        var codigo = $("#codigo").val();
        var tipo = $("#buscar").val();
        if (tipo == "1")
        { tipoBusqueda = codigo } else if (tipo == "2")
        { tipoBusqueda = $("#DepartamentoId").val(); }
        else if (tipo == "3")
        { tipoBusqueda = $("#EstadoEmpleado").val(); }
        else if (tipo == "4")
        { tipoBusqueda = $("#Inactividad").val(); }
        $("#loading-animation-container").show();
        $.ajax({
            url: '@Url.Action("Inactividad")',
            type: 'POST',
            dataTape: 'json',
            data: { id: tipoBusqueda, buscar: tipo, dependencia: dependencia2, actividad: Inactividad1 },
            success: function (data) {
                if (data) {
                    console.log(data);
                    $("#loading-animation-container").hide();
                    $("#tableGrid1").DataTable().destroy();
                    $("#Inactividad3").empty();
                    $.each(data, function (i, state) {
                        if (state.InactividadTemporal == 0) {
                            state.InactividadTemporal = "INACTIVA"
                        }
                        else {
                            state.InactividadTemporal = "ACTIVA"
                        }
                        $("#Inactividad3").append('<tr><td>' + state.CodigoEmpleado + '</td><td>'
                            + state.NombreCompleto + '</td><td>'
                            + state.Dependencia + '</td><td>'
                            + state.Departamento + '</td><td>'
                            + state.Cargo + '</td><td>'
                            + state.Cedula + '</td><td>'
                            + state.EstadoEmpleado + '</td><td>'
                            + state.InactividadTemporal + '</td><td>'
                            + state.JustificacionInactividad + '</td><td>'
                            + state.FechaInicioString + '</td><td>'
                            + state.FechaFinString + '</td></tr>')
                        console.log(data);
                    });
                    $("#table").show();
                    load_datatable();

                }
                else
                {

                    swal({
                        title: 'Error',
                        text: data.Mensaje,
                        type: 'error',
                        confirmButtonColor: '#18212f',
                        confirmButtonText: 'Aceptar'

                    });
            }
        }


        });
    }
</script>




<script>
    //Sectores
    $(document).ready(function () {
        $("#DependenciaID").change(function () {

            var id = $("#DependenciaID").val();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("SeleccionarDepartamento")',
                data: { DependenciaID: id },
                success: function (data) {
                    // var municipio = data;
                    $("#DepartamentoId").empty();
                    $("#DepartamentoId").append('<option value>' + "Seleccionar" + '</option>')

                    $.each(data, function (i, depto) {
                        $("#DepartamentoId").append('<option value="' + depto.DeptoID + '">' + depto.Descripcion + '</option>')
                    })
                    $("#DepartamentoId").trigger("chosen:updated");

                }
            });
        });

    });
</script>