﻿@model intra.Models.GestionHumana.CulturaOrganizacional

@{
    ViewBag.Title = ViewBag.Nombre;
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>@ViewBag.Nombre</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CulOrgNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CulOrgNombre, new { htmlAttributes = new { @class = "form-control" } })
                @*<input type="text" name="CulOrgNombre" id="CulOrgNombre" class="form-control" value="@Model.CulOrgNombre" required/>*@
                @Html.ValidationMessageFor(model => model.CulOrgNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CulOrgDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<label for="CulOrgDescripcion" class="control-label col-md-2" >Descripción</label>*@
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CulOrgDescripcion, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.CulOrgDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CulOrgTipoId, "CulOrgTipoId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="CulOrgTipoId" class="control-label col-md-2">Tipo</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CulOrgTipoId, (SelectList)ViewBag.Tipos, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CulOrgTipoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
</div>