﻿<style>
    .swal2-popup .swal2-title {
        width: 100% !important;
}
</style>

@model intra.Models.GestionHumana.CulturaOrganizacional
@{
    ViewBag.Title = Model.CulturaOrganizacionalTipo.CulOrgTipoNombre;
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>@Model.CulturaOrganizacionalTipo.CulOrgTipoNombre</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CulOrgId)
        @Html.HiddenFor(model => model.CulOrgFhCreacion)

        <div class="form-group">
            @Html.LabelFor(model => model.CulOrgNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.CulOrgId <= 2)
                {
                    @Html.EditorFor(model => model.CulOrgNombre, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                }
                else
                {
                    @Html.EditorFor(model => model.CulOrgNombre, new { htmlAttributes = new { @class = "form-control" } })
                }
                @Html.ValidationMessageFor(model => model.CulOrgNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CulOrgDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CulOrgDescripcion, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.CulOrgDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.CulOrgId > 2)
        {
            <div class="form-group">
                <label for="CulOrgTipoId" class="control-label col-md-2">Tipo</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CulOrgTipoId, (SelectList)ViewBag.Tipos, htmlAttributes: new { @class = "form-control", @required = "true" })
                    @Html.ValidationMessageFor(model => model.CulOrgTipoId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.CulOrgTipoId)
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn button_white " />
                @if (Model.CulOrgId > 3)
                {<button type="button" id="eliminar" class="btn btn-danger">Eliminar</button>}
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
</div>
<script src="~/scripts/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        $('#eliminar').click(function () {
            swal({
                title: 'Estas seguro/a de que quiere eliminarlo?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("Eliminar")',
                        data: { id: $('#CulOrgId').val() },
                        success: function (data) {
                            if (data != 'Error') {
                                window.location.href = '@HttpRuntime.AppDomainAppVirtualPath' + "/CulturaOrganizacional/Index/" + data;
                            } else {
                                swal('Error', 'A ocurrido un error.', 'error');
                            }
                        },
                        error: function (ex) {
                            swal('Error', 'Un error ha ocurrido.', 'error');
                        }
                    });
                }
            })
        });
    })
</script>