﻿@model IEnumerable<intra.Models.GestionHumana.CulturaOrganizacional>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
<style>
    .contenido_requisitos p {
        margin-top: 10px;
        font-weight: 600;
    }

    .contenido_requisitos {
        padding: 15px;
        text-align: justify !important;
    }

        .contenido_requisitos ul {
            padding: 9px 31px !important;
        }

    .accordionItem.hide div {
        display: none;
    }

    .table {
        width: 100% !important;
    }

        .table td {
            color: #014884 !important;
            font-weight: 600;
            text-align: left;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }

    td.nosotros {
        width: 30%;
    }

    /*td.descripcion {
        width: 55%;
    }

    td.edicion {
        width: 15%;
    }*/

    blockquote {
        color: #aaa;
        padding: 50px 40px 50px 40px;
        font-style: italic;
        font-size: 16px;
        background-color: #fff;
    }

    .nosotros, .descripcion {
        font-size: 13px !important;
    }
</style>

<link href="~/CSS/styles.css" rel="stylesheet" />

<h2>Cultura Organizacional Gestión Humana</h2>
<br />
<blockquote>

    " Somos la institución rectora, representante del Estado en el ejercicio de la acción pública,
    comprometida en la formulación e implementación de la política contra la criminalidad, la investigación
    penal, la administración del sistema penitenciario y correccional, la protección y atención de víctimas
    y testigos, persecución de la corrupción y el fraude, así como proveedora de los servicios jurídicos
    administrativos requeridos por las leyes."

</blockquote>

<div id="accordion">
    @if (Model != null)
    {
        foreach (var item in Model.Where(x => x.CulOrgTipoId < 3))
        {
            <section id="item" class="ac_hidden">
                <p class="pointer"><i style="font-size: 18px;" class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                <h1><a href="#"><strong>@item.CulturaOrganizacionalTipo.CulOrgTipoNombre</strong></a></h1>
                <div class="contenido_requisitos">
                    <p>
                        @item.CulOrgDescripcion<br /><br />
                    @if (User.IsInRole("RRHHA"))
                    {
                        <a class="btn button_white  pull-right" href="@(HttpRuntime.AppDomainAppVirtualPath + "/CulturaOrganizacional/Edit/" + item.CulOrgId)">Editar</a>
                    }
                </p>
            </div>
        </section>
        }
    
        foreach (var item in ViewBag.tipos)
        {
        <section id="item" class="ac_hidden">
                <p class="pointer"><i style="font-size: 18px;" class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                <h1><a href="#"><strong>@item.CulOrgNombre</strong></a></h1>
                <table id="tableGrid" class="table table-striped table-hover responsive display contenido_requisitos no-wrap">
                        @foreach (var cultura in Model.Where(x => x.CulOrgTipoId == item.CulOrgTipoId).ToList())
                        {
                            <tr>
                                <td class="nosotros">@Html.DisplayFor(modelItem => cultura.CulOrgNombre)</td>
                                <td class="descripcion">@Html.DisplayFor(modelItem => cultura.CulOrgDescripcion)</td>
                                <td>
                                @if (User.IsInRole("RRHHA"))
                                {
                                    <a class="btn button_white  pull-right" href="@(HttpRuntime.AppDomainAppVirtualPath + "/CulturaOrganizacional/Edit/" + cultura.CulOrgId)">Editar</a>
                                }
                                </td>
                            </tr>
                        }
                </table>
                    @if (User.IsInRole("RRHHA"))
                    {
                        @Html.ActionLink("Agregar", "Create", "CulturaOrganizacional", new { id = item.CulOrgTipoId }, new { @class = "btn button_white  pull-right" })
                    }
        </section>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion section h1").click(function (e) {
            if ($(this).parents('section').attr("class") == "") {
                $(this).parents("section").addClass("ac_hidden");
            } else {
                $(this).parents().siblings("section").addClass("ac_hidden");
                $(this).parents("section").removeClass("ac_hidden");
            }
            e.preventDefault();
        });
    });
</script>