﻿
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page CatalogoTipoTituloModal">Catálogo de Descuentos</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right">

            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            <a class="button_white btnAgregarCatalogoTipo"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Guardar</a>

        </div>
    </div>
</div>

<form id="CatalogoTipoFormModal" enctype="multipart/form-data">

        <input type="hidden" name="CatDescuentoTipoId" id="CatDescuentoTipoId" value="" />

        <div class="row alejar_top">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Nombre</label>
                        <div>
                            <input id="CatDescuentoDescripcion" style="height: 37px;" name="CatDescuentoDescripcion" class="form-control" />
                        </div>
                    </div>
                    @*<div class="col-lg-12">
                        <label>Información</label>
                        <div>
                            <div id="profesion3">
                                <textarea id="CatInformacionAdicional" name="CatInformacionAdicional" class="form-control" rows="10" required="" style="resize:none"></textarea>
                            </div>

                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 imagen-prevista-div-modal new-checkbox">
                        <label>Icono Actual</label>
                        <div class="imagen-prevista" name=""></div>
                        <br />
                        <div>
                            <a class="button_white switch-image-holder">Cambiar</a>
                        </div>
                    </div>
                    <div class="col-lg-12 image-holder-input-div-modal new-checkbox">
                        <label>Icono</label>
                        <div class="image-holder" name=""></div>
                        <div>
                            <input id="image-holder-input" type="file" style="height: 37px;" class="form-control image-holder-input" accept="image/*" />
                        </div>
                    </div>

                </div>
            </div>




        </div>

        <div class="row profesion-div-modal">
           

        </div>

</form>