﻿@model intra.Models.GestionHumana.CatalogoDescuento.RH_EmpresaCatalogo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}


@if (ViewBag.Catalogo != null)
{
   <script>
       swal('Error',
           'Debe añadir una imagen',
           'error')
   </script>
}

@if (ViewBag.CatalogoError != null)
{
    <script>
       swal('Error',
           'Ha Ocurrido un error Favor Verificar',
           'error')
    </script>
}



@using (Html.BeginForm("CrearEmpresa", "RH_EmpresaCatalogo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Crear Empresa Catalogo</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top">

                <input type="submit" id="Guardar" name="Guardar" value="Guardar" class="btn button_white" />
                <input type="button" id="Volver" value="Volver" name="Volver" onclick="VolverAtras()" class="btn button_white" />

            </div>
        </div>
    </section>

    <section class="alejar_top">
       
        <div class="row">
            <div class="col-lg-6">
                <label>Nombre Empresa</label>
                <div>
                    @Html.EditorFor(model => model.EmpresaNombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmpresaNombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-6">
                <label>Tipo de Empresa</label>
                <div>
                    @Html.DropDownList("CatDescuentoTipoId", null, "Seleccione", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CatDescuentoTipoId, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Estado</label>
                <div>
                    <select id="Estado" name="Estado">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6">
                <label>Logo</label>
                <div>
                    <input type="file" name="file" class="form-control" />

                </div>
                <input type="hidden" id="FechaCreacion" name="FechaCreacion" value="@DateTime.Now" />
            </div>

        </div>
        
    </section>
}


      
<script>
    function VolverAtras() {
        window.history.back();
    };
</script>