﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-md-8">
        <h2 class="h2_title_page">Secciones del Catálogo de Beneficios</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-4">
            <div class="pull-right">
                <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            </div>
     </div>
</div>

<div class="row br-tri">
    <table class="table display responsive nowrap tbl_tipo_descuento" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha de creación
                </th>
                <th>
                    Estado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr codigo="@item.CatDescuentoTipoId">

                    <td>@item.CatDescuentoDescripcion</td>
                    <td>
                        @item.FechaCreacion.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @if (item.Estado) {

                            <button class="button_white btnRemoverCatalogoTipoModal" codigo="@item.CatDescuentoTipoId">Activo</button>

                        } else {

                            <button class="button_white btnActivarTipoDescuento">Inactivo</button>

                        }
                    </td>
                </tr>
             } 
        </tbody>
    </table>
</div>