﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-md-8">
        <h2 class="h2_title_page">Beneficios de la Sección</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-4">
            <div class="pull-right">
                <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            </div>
     </div>
</div>

<div class="row br-tri">
    <table class="table display responsive nowrap tbl_descuento" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Empresa
                </th>
                <th>
                    Fecha de creación
                </th>
                <th>
                    Fecha de Expiración
                </th>
                <th>
                    Estado
                </th>
                <th class="none">
                    Encabezado
                </th>
                <th class="none">
                    Descripción
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>