﻿@model intra.Models.GestionHumana.CatalogoDescuento.RH_EmpresaCatalogo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

@if (ViewBag.CatalogoError != null)
{
    <script>
       swal('Error',
           'Ha Ocurrido un error Favor Verificar',
           'error')
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <section class="row">
        <div class="col-md-6">
            <h2 class="h2_title_page">Editar Empresa</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-6">
            <div class="pull-right alejar_top">

                <input type="submit" id="Guardar" name="Guardar" value="Guardar" class="btn button_white" />
                <input type="button" id="Volver" value="Volver" name="Volver" onclick="VolverAtras()" class="btn button_white" />

            </div>
        </div>
    </section>

    <section>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmpresaCatalogoId)
        <div class="row">
            <div class="col-lg-6">
                <label>Nombre Empresa</label>
                <div>
                    @Html.EditorFor(model => model.EmpresaNombre, new { htmlAttributes = new { @class = "form-control" } })
                  
                </div>
            </div>
            <div class="col-lg-6">
                <label>Tipo Empresa</label>

                <div>
                    @Html.DropDownList("CatDescuentoTipoId", null, htmlAttributes: new { @class = "form-control" })
                  
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-6">
                    <label>Estado</label>
                    <div>
                        <select id="EmpresaEstado" name="EmpresaEstado" onselect="@Model.EmpresaEstado">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>

            <div class="col-lg-6">
                <label>Logo Empresa</label>
                <div>
                    <input type="file" name="file" class="form-control" />
               
                </div>
            </div>

                <input type="hidden" id="FechaCreacion" name="FechaCreacion" value="@DateTime.Now" />

        </div>
        <div class="row">
            <div class="col-lg-8">
                <img src="@Model.EmpresaLogo" name="EmpresaLogo" width="100px" height="100px" />
            </div>
        </div>
       
    </section>
}

<script>
    function VolverAtras() {
        window.history.back();
    };
</script>