﻿@{
    Layout = null;
}

<div class="row alinear">
    <div class="col-md-6">
        <h2 class="h2_title_page EmpresaTituloModal">Detalle del Beneficio</h2>
    </div>
    <div class="col-md-6">
        <div class="pull-right">

            @if (User.IsInRole("SU"))
            {

            <a class="button_white btnEditarEmpresaDescuentoModal"><i class="fa fa-pencil-square-o alejar_icono" aria-hidden="true"></i> Editar</a>
            <a class="button_white btnRemoverEmpresaDescuento"><i class="fa fa-trash alejar_icono" aria-hidden="true"></i> Remover</a>

            }

            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>

        </div>
    </div>
</div>
<br />

<form id="EmpresaDetalleModal" enctype="multipart/form-data">

    <input type="hidden" name="CatDescuentoId_detalle" id="CatDescuentoId_detalle" value="" />

    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Empresa</label>
                    <figure>
                        <img src="~/Content/images/campania.jpg" class="img-aside empresa_detalle"/>
                    </figure>
                </div>
                @*<div class="col-lg-12">
                    <label>Empresa</label>
                    <div>
                        <input type="text" id="empresa_detalle" name="empresa_detalle" class="form-control" disabled />
                    </div>
                </div>*@
                <div class="col-lg-12">
                    <label>Fecha limite de la oferta</label>
                    <div>
                        <input id="FechaExpiracion_detalle" name="FechaExpiracion_detalle" class="form-control" autocomplete="off" disabled />
                    </div>
                </div>
                <div class="col-lg-12">
                    <label>Información de encabezado</label>
                    <div>
                        <textarea id="CatInformacionSucursal_detalle" name="CatInformacionSucursal_detalle" class="form-control infomacion_cabecera" disabled rows="5" required="" style="resize:none"></textarea>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="col-lg-9">
            <label>Descripción</label>
            <div class="disabled">
                @*<textarea id="CatDescripcion" name="CatDescripcion" class="descuento_descripcion"  rows="20" required="" style="resize:none"></textarea>*@
                <textarea id="contenido_detalle" name="contenido_detalle" type="text" class="form-control" rows="20" style="display: none;"></textarea>
                <div class="contenido_detalle"></div>
            </div>
        </div>

    </div>

</form>
