﻿@model IEnumerable<intra.Models.GestionHumana.CatalogoDescuento.RH_EmpresaCatalogo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/material-switch.css" rel="stylesheet" type="text/css">
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

@Styles.Render("~/datatables/css")

<style>

    .alejar_icono {
        padding-right: 7px;
    }

    .thumb-image-size {
       width: 100%;
    }

</style>


<section style="padding-bottom: 15px;" class="row">
    <div class="col-md-8">
        <h2 class="h2_title_page">Listado de las empresas del catalogo</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-4">
        <div class="pull-right alejar_top btn-group botones">
            <a class="btn button_white btnAbrirCrearEmpresaModal"><i class="fa fa-plus alejar_icono"></i>Crear Nuevo</a>
            <a class="btn button_white" href="@Url.Action("Index")"><i class="fa fa-chevron-left alejar_icono"></i>Beneficios</a>
        </div>
    </div>
</section>

<table class="table display responsive nowrap tbl_sugerencias" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Empresa
            </th>
            <th>
                Sección de la empresa
            </th>
            <th>
                Fecha de creación
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr codigo="@item.EmpresaCatalogoId">

                <td class="EditarEmpresa">
                    <img style="width: 100px;" class="btnEditarEmpresa" title="@item.EmpresaNombre" 
                         src="~/Content/images/GH_IMAGES/EmpresasLogo/@(string.IsNullOrEmpty(item.EmpresaLogo) ? "beneficios-pgr.svg" : item.EmpresaLogo)" />
                </td>
                <td>
                    <ul>
                        @foreach (var descuentotipo in item.RH_CatalogoDescuentoTipo) {
                            <li>@descuentotipo.CatDescuentoDescripcion</li>
                        }
                    </ul>
                </td>
                <td>
                    @item.FechaCreacion.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <button class="button_white CambiarEstadoEmpresa">@(item.Estado ? "Activo" : "Inactivo" )</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade EmpresaModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaModal.cshtml");
            }
        </div>
    </div>
</div>

@Scripts.Render("~/datatables/js")

<script>
    function funcionAgregarEmpresa() {
        ($("#EmpresaCatalogoId").val() != "") ? EditarEmpresa(RefrescarPagina) : CrearEmpresa(RefrescarPagina);
    }
</script>

<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/$modulos/catalogo_descuentos/catalogo_descuento_mainv2.js"></script>
<script src="~/scripts/$modulos/catalogo_descuentos/empresas_descuento_mainv1.js"></script>