﻿
@{
    Layout = null;
}

<style>

    textarea.infomacion_cabecera {
        height: 100% !important;
    }

    textarea.descuento_descripcion {
        height: 100% !important;
    }

    .jqte {
        margin-top: 0px;
    }

</style>

<link href="~/Content/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/scripts/jquery-te-1.4.0.min.js"></script>

<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page EmpresaDescuentoTituloModal">Agregar Descuento al Catálogo</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right">

            <a class="button_white btnVolverDescuentoDetalle" style="display: none;"><i class="fa-chevron-left alejar_icono" aria-hidden="true"></i> Volver</a>
            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            <a class="button_white btnAgregarEmpresaDescuento"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Guardar</a>
            <a class="button_white btnActualizarDescuentoEmpresa" style="display: none;"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Actualizar</a>

        </div>
    </div>
</div>

<form id="EmpresaDescuentoFormModal" enctype="multipart/form-data">

    <input type="hidden" name="CatDescuentoId" id="CatDescuentoId" value="" />

    <input type="hidden" name="CatDescuentoTipoId_descuento_modal" id="CatDescuentoTipoId_descuento_modal" value="" />

    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Empresa del Descuento</label>
                    <div>
                        @*@Html.DropDownList("EmpresaCatalogoId", null, "SELECCIONE", new { @class = "form-control" })*@
                        <select id="EmpresaCatalogoIdModal" style="height: 37px;" name="EmpresaCatalogoIdModal" class="form-control"></select>
                        <input type="text" id="EmpresaCatalogo_mostrar" name="EmpresaCatalogo_mostrar" class="form-control" style="display:none;" disabled />
                    </div>
                </div>
                <div class="col-lg-12">
                    <label>Fecha limite de la oferta</label>
                    <div>
                        <input id="FechaExpiracion" name="FechaExpiracion" class="form-control date-picker" autocomplete="off" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <label>Información de encabezado</label>
                    <div>
                        <textarea id="CatInformacionSucursal" name="CatInformacionSucursal" class="form-control infomacion_cabecera" rows="5" required="" style="resize:none"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <label>Descripción</label>
            <div>
                @*<textarea id="CatDescripcion" name="CatDescripcion" class="descuento_descripcion"  rows="20" required="" style="resize:none"></textarea>*@
                <input id="__contenido" name="__contenido" type="text" class="jqte conteniendo" style="margin: 0!important; border:none;">
            </div>
        </div>

    </div>

</form>