﻿@{
    Layout = null;
}

<style>
    .CatalogoTipos {
        padding: 12px 0 8px 0;
        border: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        border-image: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
        border-image-slice: 1;
        margin: 0;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page EmpresaTituloModal">Agregar Empresa</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right">

            <a class="button_white btnCerrarModal"><i class="fa fa-times alejar_icono" aria-hidden="true"></i> Cerrar</a>
            <a class="button_white btnAgregarEmpresa"><i class="fa-floppy-o alejar_icono" aria-hidden="true"></i> Guardar</a>

        </div>
    </div>
</div>

<form id="EmpresaFormModal" enctype="multipart/form-data">

    <input type="hidden" name="EmpresaCatalogoId" id="EmpresaCatalogoId" value="" />

    <input type="hidden" name="CatDescuentoTipoId" id="CatDescuentoTipoId" value="" />

    <div class="row alejar_top">
        <div class="col-lg-6 ">
            <div class="row">
                <div class="col-lg-12">
                    <label>Nombre de la Empresa</label>
                    <div>
                        <input id="EmpresaNombre" style="height: 37px;" name="EmpresaNombre" class="form-control" />
                    </div>
                    <label>Seleccione las secciones donde aparecera la empresa</label><br />
                    <div class="row actividad CatalogoTipos">

                        @if (ViewBag.CatDescuentoTipoId != null)
                        {

                            foreach (var tipo in ViewBag.CatDescuentoTipoId)
                            {
                                <div class="col-lg-6">
                                    <div class="posicionar_no new-checkbox" style="margin-top:0px !important;">
                                        <input type="checkbox" id="@tipo.CatDescuentoTipoId" class="radio-1 descuentotipos" @*value="true"*@ name="descuentotipos" />
                                        @*if (ViewBag.ActividadesSeleccionada.Contains(actividad.ActividadId)) { <text> checked="checked" </text> } *@
                                        <label for="@tipo.CatDescuentoTipoId">@tipo.CatDescuentoDescripcion</label>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 image-holder-input-div-modalempresa new-checkbox">
            <label>Icono</label>
            <div class="image-holder2" name=""></div>
            <div>
                <input id="image-holder-input2" type="file" style="height: 37px;" class="form-control image-holder-input2" accept="image/*" />
            </div>
        </div>
        <div class="col-lg-6 imagen-prevista-div-modalempresa new-checkbox">
            <label>Icono Actual</label>

            <div class="imagen-prevista-modalempresa" name=""></div>
            <br />
            <div>
                <a class="button_white switch-image-holder-modalempresa">Cambiar</a>
            </div>
        </div>

    </div>



</form>