﻿@model  IEnumerable<intra.Models.GestionHumana.CatalogoDescuento.RH_CatalogoDescuentoTipo>

@{
    ViewBag.Title = "Catálogo de Descuentos";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<link href="~/Content/css/beneficiario-slider.css" rel="stylesheet" />

<style>
    .chosen-container {
        width: 100% !important;
    }

    .estatus {
        cursor: pointer;
    }

    .date-picker-slct {
        width: 110px !important;
    }

    .button_badge_repatriados {
        background-color: #ff3c3c;
        border-radius: 50%;
        color: white;
        width: 25px;
        padding: 6px 3px;
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 181px;
        text-align: center;
        height: 25px;
        -webkit-text-fill-color: white !important;
    }

    .accordion-filtro {
        display: none;
    }
</style>

@Styles.Render("~/datatables/css")

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

<div class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">Catálogo de Descuentos</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-8">
        <div class="pull-right">

            <a class="button_white btnAbrirCrearCatalogoTipoModal">Agregar Nuevo</a>
            <a class="button_white btnAbrirCrearEmpresaModal" codigo="8">Agregar Empresa</a>

        </div>
    </div>
    @*<div class="col-md-8">
            <div class="pull-right">
                <h1 class="h1_section">@Session["nombre"].ToString() </h1>
            </div>
        </div>*@
</div>


<!-- Content Section -->
<div class="container tab br-datos-p-cont">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 br-datos-p">

                    @foreach (var item in Model)
                    {

                        <div class="col-xs-3 " id="p1">
                            <button id="btn-@item.CatDescuentoTipoId" class="tablinks" onclick="openCity(event, 'openCity-@item.CatDescuentoTipoId')">
                                <div class="icon_perfil">
                                    <img src="~/Content/images/GH_IMAGES/CatalogoTipoIconos/@(string.IsNullOrEmpty(item.DescuentoTipoIcono) ? "shopping-bag.svg" : item.DescuentoTipoIcono)" />
                                </div>
                                @item.CatDescuentoDescripcion
                            </button>
                        </div>
                        <a class="button_white btnEditarCatalogoTipo" codigo="@item.CatDescuentoTipoId">Eliminar</a>
                    }


                    @*<div class="col-xs-3 " id="p1">
                            <button id="btngenerales" class="tablinks" onclick="openCity(event, 'generales')">
                                <div class="icon_perfil">
                                    <img src="~/Content/images/icons/datosgenerales.svg" />
                                </div>
                                Generales
                            </button>
                        </div>

                        <div class="col-xs-3" id="p4">
                                <button id="btnServicios" class="tablinks btnponches" onclick="openCity(event, 'servicios')">

                                    <div class="icon_perfil">
                                        <span class="button_badge_repatriados">
                                            15
                                        </span>
                                        <img src="~/Content/images/icons/servicios-1.svg" />


                                    </div>

                                    Servicios
                                </button>
                        </div>

                        <div class="col-xs-3" id="p4">
                                <button id="btnBandeja" class="tablinks btnponches" onclick="openCity(event, 'bandeja')">

                                    <div class="icon_perfil">
                                        <span class="button_badge_repatriados">
                                            15
                                        </span>
                                        <img src="~/Content/images/icons/bandeja-de-entrada.svg" />
                                    </div>

                                    Bandeja
                                </button>
                        </div>

                        <div class="col-xs-3" id="p2">
                            <button id="btndocumentos" class="tablinks" onclick="openCity(event, 'reporte')">
                                <div class="icon_perfil">
                                    <img src="~/Content/images/icons/documentos.svg" />
                                </div>
                                Reporte
                            </button>
                        </div>*@

                </div>
                <!-- //col-lg-12 -->
            </div>
            <!-- //row -->
        </div>
    </div>
    <!-- //col-lg-12 -->
</div>



<div class="row br-tri">
    <div class="col-md-12 tabs_actualizarDatos">

        @foreach (var item in Model)
        {

            <div id="openCity-@item.CatDescuentoTipoId" class="tabcontent">
                <img src="~/content/images/triangulo.png" class="triangulo-1">

                <!-- contenido del catalogo -->
               
                    <div class="container-slider" style="overflow:hidden;">
                        <ul class='carousel is-set'>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/LaSirena.jpg" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un Texto Es Una Composición De Signos Codificados En Un Sistema De Escritura Que Forma Aunque No Tienen Sentido Para Cualquier Persona, Sí Puede Ser Descifrado Por Su Destinatario Original werdgwrsgbn</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/jgcVePcI.png" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un Texto Es Una Composición De Signos Codificados En Un Sistema De Escritura Que Forma Aunque No Tienen Sentido Para Cualquier Persona, Sí Puede Ser Descifrado Por Su Destinatario Original werdgwrsgbn</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/image.jpg" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/bravo-logo-1.png" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/886993.png" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/1280px-Samsung_Logo.svg.png" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">
                                        <img src="~/Content/images/logos/1200px-Coca-Cola_bottle_cap.svg.png" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel-seat">
                                <div class="items-beneficiarios">
                                    <div class="card">

                                        <img src="~/Content/images/logos/Mcdonals-Logo.png" alt="Avatar" style="width:100%">
                                        <div class="container-card">
                                            <h4><b>John Doe</b></h4>
                                            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class='controls'>
                        <button class='toggle' data-toggle='prev'> <i class="fa fa-chevron-left"></i> </button>
                        <button class='toggle' data-toggle='next'> <i class="fa fa-chevron-right"></i> </button>
                    </div>


            </div>
        }
        @*
            <div id="servicios" class="tabcontent">
                <img src="~/content/images/triangulo.png" class="triangulo-4">
                @Html.Action("SolicitadosPartial", "ServiciosRepatriados")* @
            </div>

        <div id="servicios" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-4">
            @* @Html.Action("SolicitadosPartial", "ServiciosRepatriados")* @
        </div>

        <div id="bandeja" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-5">
            <div class="br-table table-responsive">
                @* @Html.Action("AsignadosPartial", "ServiciosRepatriados")* @
            </div>
        </div>

        <div id="documentos" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-6">
            @* @Html.Action("vObservaciones", "ActualizarDatos")* @
        </div>

        <div id="reporte" class="tabcontent">
            <img src="~/content/images/triangulo.png" class="triangulo-5">
            @ * @Html.Action("ReporteFiltro", "ServiciosRepatriados") * @
        </div>
=======
            <div id="bandeja" class="tabcontent">
                <img src="~/content/images/triangulo.png" class="triangulo-5">
                <div class="br-table table-responsive">
                    @* @Html.Action("AsignadosPartial", "ServiciosRepatriados")* @
                </div>
            </div>

            <div id="documentos" class="tabcontent">
                <img src="~/content/images/triangulo.png" class="triangulo-6">
                @* @Html.Action("vObservaciones", "ActualizarDatos")* @
            </div>

            <div id="reporte" class="tabcontent">
                <img src="~/content/images/triangulo.png" class="triangulo-5">
                @Html.Action("ReporteFiltro", "ServiciosRepatriados")
            </div>*@

    </div>
</div>

<div class="modal fade RegistroServicioModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/CatalagoTipoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade EmpresaModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade EmpresaDescuentoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaDescuentoModal.cshtml");
            }
        </div>
    </div>
</div>

<script src="~/Content/intro.js-2.7.0/intro.js"></script>
<script src="~/scripts/openCityActalizarDatos.js"></script>
<script src="~/Content/js/script-beneficiario.js"></script>

<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/catalogo_descuentos/catalogo_descuento_main.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>
@Scripts.Render("~/datatables/js")