﻿@model  IEnumerable<intra.Models.GestionHumana.CatalogoDescuento.RH_CatalogoDescuentoTipo>

@{
    ViewBag.Title = "Catálogo de Beneficios";
    Layout = "~/Views/intraMaster.cshtml";
    var primero = (Model.Where(x => x.Estado).First());
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/intro.js-2.7.0/introjs.css" rel="stylesheet" />
<link href="~/Content/css/slider-beneficiarios-style.css" rel="stylesheet" />
<script src="~/Content/js/script-beneficiarios.js"></script>

<style>
    .chosen-container {
        width: 100% !important;
    }

    .estatus {
        cursor: pointer;
    }

    .date-picker-slct {
        width: 110px !important;
    }

    .thumb-image-size {
        width: 100%;
    }

    .button_badge_repatriados {
        background-color: #ff3c3c;
        border-radius: 50%;
        color: white;
        width: 25px;
        padding: 6px 3px;
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 181px;
        text-align: center;
        height: 25px;
        -webkit-text-fill-color: white !important;
    }

    .accordion-filtro {
        display: none;
    }

    .tabcontent {
        /*height:80vh;*/
        padding: 10px 24px 10px 24px;
    }

    .hidden-cards {
        padding: 50px;
        width: auto;
        height: auto;
        overflow: hidden;
        /*height: 80vh;*/
    }

    .button_white {
        margin: 0 2px !important;
    }

    .card-titulos {
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.17);
        box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.17);
        border: 1px solid#ddd;
        border-radius: 10px;
        padding: 25px 5px 10px 5px;
        display: flex;
        justify-content: center;
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%);
    }

        .card-titulos p {
            color: #fff !important;
            font-weight: bold;
            font-size: 14pt;
        }

    .catalogo-bottom {
        background-color: #dedede;
        text-align: center;
        padding: 40px 0;
        border-radius: 3px;
        margin-top: 20px;
    }

        .catalogo-bottom p {
            margin: 0;
            padding: 0;
        }

    .catalogo-options {
        display: flex;
        justify-content: flex-end;
    }

        .catalogo-options a {
            display: inline-block;
        }

    .catalogo-header {
        display: flex;
        align-items: center;
    }

    body {
        padding-right: 0px !important;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
    }

    .col-xs-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tab {
        overflow: hidden;
        background-color: #fff;
        margin: 10px 0px 0px 0px;
    }

    .tgl-active {
        display: block !important;
    }

    .tab button {
        font-weight: bold;
        font-size: 14px;
    }
    /*TU TE COMERAS TUS PALABRAS ORTEGA >:C*/
    /*.class-p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }*/

    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        /*min-height: auto;*/
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }


    .centrar-imagen-slider {
        min-height: 250px;
    }

    .slide-content {
        text-align: center;
        padding: 10px;
            position: relative;
    top: -80px;
    }

    .carousel-cell:hover {
        border: 2px solid #0588dc8c;
    }
  .closebutton {
    position: absolute;
    top: -2px;
    right: -60px;
    color: #014984;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

  .font-size{
      font-size:10px!important;
  }
</style>

@Styles.Render("~/datatables/css")

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>

@if (User.IsInRole("SU"))
{
    <div class="row catalogo-header">
        <div class="col-md-4">
            @*<h2 class="h2_title_page">Catálogo de Beneficios</h2>
                <hr class="hr2" />*@
        </div>
        <div class="col-md-8 catalogo-options">
            <a class="button_white btnAbrirCrearCatalogoTipoModal"><i class="fa fa-plus alejar_icono" aria-hidden="true"></i> Agregar Nuevo</a>
            <a class="button_white" href="@Url.Action("Empresas", "Beneficios")"><i class="fa fa-building-o alejar_icono" aria-hidden="true"></i> Administrar empresas</a>
            <a class="button_white btnAbrirDescuentoTipoListaModal"><i class="fa fa-list-ul alejar_icono" aria-hidden="true"></i> Lista</a>
        </div>

    </div>
}

<!-- Content Section -->
<div class="container tab br-datos-p-cont">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 br-datos-p">

                    @foreach (var item in Model.Where(x => x.Estado))
                    {
                        <div class="col-xs-3 " id="p1">
                            <button id="btn-@item.CatDescuentoTipoId" codigo="@item.CatDescuentoTipoId" class="tablinks @((primero == item) ? "active" : "")" onclick="openCity(event, 'openCity-@item.CatDescuentoTipoId')">
                                <div class="icon_perfil">
                                    <img src="~/Content/images/GH_IMAGES/CatalogoTipoIconos/@(string.IsNullOrEmpty(item.DescuentoTipoIcono) ? "descuento.svg" : item.DescuentoTipoIcono)" />
                                </div>
                                @item.CatDescuentoDescripcion
                            </button>
                            <img style="display:none;" class="tgl @((primero == item) ? "tgl-active" : "") tgl-@item.CatDescuentoTipoId" src="~/content/images/triangulo.png">
                        </div>

                    }

                </div>
                <!-- //col-lg-12 -->
            </div>
            <!-- //row -->
        </div>
    </div>
    <!-- //col-lg-12 -->
</div>

<div class="row br-tri">
    <div class="col-md-12 tabs_actualizarDatos">

        @foreach (var item in Model.Where(x => x.Estado))
        {

            <div id="openCity-@item.CatDescuentoTipoId" class="tabcontent" @((primero == item) ? "style=display:block;" : "")>

                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:40px!important;">

                        <img class="col-lg-2" src="~/Content/images/icons/logoCatalogos.png" />
                        @*<a href="~/Tutoriales/Details/12" id="btnVerRequisitosCatalogoTipo"*@ 
                   <a id="btnVerRequisitosCatalogoTipo" href="~/Tutoriales/Details/12"  type="button" class="button_white pull-right btnVerRequisitosCatalogoTipo font-size"><i class="fa fa-eye alejar_icono" aria-hidden="true"></i>VER REQUISITOS</a>

                        @*<button id="btnVerRequisitosCatalogoTipo" onclick="Requisito()" type="button" class="button_white pull-right btnVerRequisitosCatalogoTipo font-size"><i class="fa fa-eye alejar_icono" aria-hidden="true"></i>VER REQUISITOS</button>*@

                        @if (User.IsInRole("SU"))
                        {

                            <a class="button_white pull-right btnRemoverCatalogoTipo font-size" codigo="@item.CatDescuentoTipoId"><i class="fa fa-trash alejar_icono font-size" aria-hidden="true"></i>Remover</a>
                            <a class="button_white pull-right btnEditarCatalogoTipo font-size" codigo="@item.CatDescuentoTipoId"><i class="fa fa-pencil-square-o alejar_icono font-size" aria-hidden="true"></i>Editar Sección </a>
                            <a class="button_white pull-right btnAbrirDescuentoListaModal font-size" codigo="@item.CatDescuentoTipoId"><i class="fa fa-list-ul alejar_icono font-size" aria-hidden="true"></i> Lista de Beneficios</a>
                            <a class="button_white pull-right btnAbrirCrearDescuentoEmpresaModal font-size" codigo="@item.CatDescuentoTipoId"><i class="fa fa-plus alejar_icono font-size" aria-hidden="true"></i>Agregar Beneficio</a>
                            <a class="button_white pull-right btnAbrirCrearEmpresaModal font-size" codigo="@item.CatDescuentoTipoId"><i class="fa fa-plus alejar_icono font-size" aria-hidden="true"></i>Agregar Empresa</a>

                        }
                    </div>


                    <div class="col-lg-12">
                        <div class="hidden-cards">
                            <div class="carousel-wrapper">
                                <div class="carousel carousel-@item.CatDescuentoTipoId">

                                    @{ var descuentos = item.CatalogoDescuentos.Where(x => x.Estado).OrderByDescending(x => x.CatDescuentoId).ToList(); }

                                    @if (descuentos.Count > 0)
                                    {

                                        foreach (var descuento in descuentos)
                                        {
                                            <div class="carousel-cell" codigo="@descuento.CatDescuentoId">
                                                <div class="centrar-imagen-slider">
                                                    <img class="img-responsive" src="~/Content/images/GH_IMAGES/EmpresasLogo/@(string.IsNullOrEmpty(descuento.RH_EmpresaCatalogo.EmpresaLogo) ? "beneficios-pgr.svg" : descuento.RH_EmpresaCatalogo.EmpresaLogo)" />
                                                </div>
                                                <div class="col-lg-12 slide-content">
                                                    <h3 class="h3-title">@descuento.RH_EmpresaCatalogo.EmpresaNombre</h3>
                                                    <p class="class-p card-text-@descuento.CatDescuentoId">@(descuento.CatInformacionSucursal.Length > 80 ? descuento.CatInformacionSucursal.Substring(0, 80) + "..." : descuento.CatInformacionSucursal)</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {

                                        <div class="carousel-cell-no">No existen beneficios en este momento.</div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    @*footer del tipo del catalogo*@

                    @*<div class="col-lg-12 catalogo-bottom">

                            @if (string.IsNullOrWhiteSpace(item.CatInformacionAdicional))
                            {
                                <p>Información de como recibir el Beneficio en sucursales</p>
                            }
                            else {

                                <p>@item.CatInformacionAdicional</p>

                            }

                        </div>*@

                </div>

            </div>

                                        }

    </div>
</div>



<div id="myModal2" class="modal fade" role="dialog" style="text-align: center; margin-top: 50px; ">
    <div class="modal-dialog" >
        <div class="modal-content">
                <span class="closebutton" style="">&times;</span>

                <div style="height:100%; width:75%;">
                    <img src="~/Content/images/icons/Requisitoscatalogobeneficios-07.jpg" width="150%;" />
              
            </div>
                <div style="width: 100%; font-size: 32pt; color:white; height: 602px; display: none; opacity: 0.8;" id="mask"></div>

            </div>
    </div>
</div>

<div class="modal fade CatalagoTipoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/CatalagoTipoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade EmpresaModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade EmpresaDescuentoModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaDescuentoModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade EmpresaDescuentoDetalleModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/EmpresaDescuentoDetalleModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade DescuentoTipoListaModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding-bottom: 30px;">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/DescuentoTipoListaModal.cshtml");
            }
        </div>
    </div>
</div>

<div class="modal fade DescuentoListaModal br-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding-bottom: 30px;">
            @{
                Html.RenderPartial("~/Views/RH_EmpresaCatalogo/DescuentoListaModal.cshtml");
            }
        </div>
    </div>
</div>

<script>
    function funcionAgregarEmpresa() {
        ($("#EmpresaCatalogoId").val() != "") ? EditarEmpresa() : CrearEmpresa();
    }
    function funcionAgregarDescuentoTipo() {
        ($("#CatDescuentoTipoId").val() != "") ? EditarCatalogoTipo() : CrearCatalogoTipo();
    }
</script>

<script src="~/JS/jquery-ui.min.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/$modulos/utilities_intranet.js"></script>

@Scripts.Render("~/datatables/js")

<script src="~/scripts/$modulos/catalogo_descuentos/catalogo_descuento_mainv2.js"></script>

<script>
    $(document).ready(function () {

        $('.jqte').jqte();

        // settings of status
        var jqteStatus = true;

        $(".status").click(function () {
            jqteStatus = jqteStatus ? false : true;
            $('.jqte').jqte({ "status": jqteStatus })
        });

        $carousel = $('.carousel').flickity({ initialIndex: 2, draggable: false, pageDots: false });

        //remover targeta el carousel // $carousel.flickity('remove',$("[codigo='3']"));

        $(".tablinks").on('click', function () {

            var id = $(this).attr('codigo');

            $(".carousel-" + id).show().flickity('resize');

            $(".tablinks").removeClass("active");

            $(this).addClass("active");

        });

    });

    $(".btnAgregarCatalogoTipo").on('click', funcionAgregarDescuentoTipo);
</script>

<script>
    function Requisito() {
        //alert('hola');
        $("#myModal2").modal();
    };

    $('.closebutton').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();
        $("#myModal2").modal('hide');
       
    });
</script>