﻿@model IEnumerable<intra.Models.GestionHumana.CatalogoDescuento.RH_EmpresaCatalogo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
@Styles.Render("~/datatables/css")


<section class="row">
    <div class="col-md-6">
        <h2 class="h2_title_page">Listado de Empresas</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-6">
        <div class="pull-right alejar_top">

            @Html.ActionLink("CrearNuevo", "CrearEmpresa",null, new { @class = "btn button_white" })
            <input type="button" id="Volver" value="Volver" name="Volver" onclick="VolverAtras()" class="btn button_white" />

        </div>
    </div>
</section>
<br />

<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>

            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarCatalogo", new { id = item.EmpresaCatalogoId }, new { @class = "btn button_white" })
                    @Html.ActionLink("Details", "Details", new { id = item.EmpresaCatalogoId }, new { @class = "btn button_white" })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.EmpresaCatalogoId },  new { @class = "btn button_white" })*@
                </td>
            </tr>
        }
        </tbody>
</table>
@Scripts.Render("~/datatables/js")



<script>
    function VolverAtras() {
        window.history.back();
    };
</script>