﻿@model intra.Models.Inventario.Taller

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}
<script src="~/js/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .serviciosSolicitud select {
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;

    }

    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
</style>


<script type="text/javascript">
    //SELECCIONAR LAS MARCAS Y MODELOS
    function load_modelos()
    {
        $("#ModeloId").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Modelo")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ marca: ' + $("#MarcaId").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#ModeloId").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });
        return;
    }

    $(document).ready(function () {

        $("#MarcaId").change(function () {

            load_modelos();
            return false;
        })
    });

</script>

<script type="text/javascript">
    //SELECCIONAR LA REGION Y PROVINCIAS
    $(function () {
        $("#RegionId").change(function () {
            var url = 'GetProvincia'
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: $("#RegionId").val() },
                success: function (data) {
                    $("#Province_ID").empty();
                    $("#Province_ID").append('<option value="' + 0 + '">' + "seleccionar" + '</option>')
                    $.each(data, function (i, Provinces) {
                        $("#Province_ID").append('<option value="' + Provinces.Value + '">' + Provinces.Text + '</option>')
                    })
                }
            });
        });

        $('#RegionId').change(function () {
            if ($(this).val() != 0) {
                $('#RegionId').val($(this).val());
            }
        });
    });

</script>

<script type='text/javascript'>
    function load_Municipios()
    {
        $("#Municipality_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Province_ID").val() + ' }',
            success: function (states) {
                $("#Municipality_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                $.each(states, function (i, state) {
                    $("#Municipality_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    function loadLocalidad() {
        $("#LocalidadId").empty();
        console.log($("#Municipality_ID").val())
        var obj = {};
        obj.Municipio = $("#Municipality_ID").val();
        var url = 'Localidad';
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Localidad")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{Municipio:' + $("#Municipality_ID").val() + '}',
            success: function (res) {
                $.each(res, function (i, res) {
                    $("#LocalidadId").append('<option value ="' + res.Value + '">' + res.Text + '</option>');

                })

            },
            error: function (ex) {
                console.log('no puedo cargar las localidades:'+ex)
            }

        })
    }

    $(document).ready(function () {

        $("#Province_ID").change(function () {

            load_Municipios();
            return false;
        })

    });

    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

    })
</script>

<script type="text/javascript">
    //$("#Local").hide();
    $(document).ready(function () {
        $(".DeptoLocal").change(function () {
            if ($("#DeptoLocal:checked").val() == "1")
            {
                $("#Local").show();
                $("#Depto").hide();
            }
            else if($("#DeptoLocal:checked").val()=="2")
            {
                $("#Depto").show();
                $("#Local").hide();
            }
        })
    });

</script>


<section class="serviciosSolicitud">
    @using (Html.BeginForm("create", "Taller", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Registro Equipo Taller</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Fiscalia / Departamento")@*Cambio de nombre de Localidad a Fiscalia*@
                </div>
                <div class="col-lg-9">
                    <input type="radio" name="DeptoLocal" id="DeptoLocal" value="1" class="DeptoLocal" checked="checked" >Fiscalia.
                    <input type="radio" name="DeptoLocal" id="DeptoLocal" value="2" class="DeptoLocal" >Departamento.

                </div>
            </div>

            @*aqui dentro va el panel con los datos*@
            <panel id="Local" name="Local" >
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Región")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("RegionId", (SelectList)ViewBag.Region, "Seleccione")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Provincia")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("Province_ID", (SelectList)ViewBag.Provincia, "Seleccione")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Municipio")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio, "Seleccione", new { @onchange = "loadLocalidad()" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Localidad")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("LocalidadId", (SelectList)ViewBag.Localidad, "Seleccione")
                    </div>
                </div>
            </panel>

            <panel id="Depto" name="Depto" hidden="hidden">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Departamento")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.Departamentos, "Seleccione", htmlAttributes: new { @class = "form-control drowpdown chosen - select" })
                    </div>
                </div>
            </panel>

            <div class="row">
                <div class="col-lg-3">
                    @*<label for="MarcaId" class="control-label col-md-2">Marcas</label>*@
                    @Html.Label("Marcas")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marca, "Seleccione")
                    @*@Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @*<label for="ModeloId" class="control-label col-md-2">Modelo</label>*@
                    @Html.Label("Modelo")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("ModeloId", (SelectList)ViewBag.Modelo, "Seleccione")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Serie")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Activo Fijo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model=>model.ActivoFijo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model=>model.ActivoFijo, "", new {@class= "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Razón de Entrada")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TallerRazonEntrada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TallerRazonEntrada, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="row">
                <div class="col-lg-3">
                    @Html.Label("Descripción de Solución")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TallerDescripcionSolucion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TallerDescripcionSolucion, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Tecnico y/o Responsable")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TecnicoOResponsable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TecnicoOResponsable, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="row">
                <div class="col-lg-3">
                    @Html.Label("Fecha de Solución")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.TallerFhSolucion, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:60%" } })
                    @Html.ValidationMessageFor(model => model.TallerFhSolucion, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Estatus")
                </div>
                <div class="col-lg-9">
                    @Html.DropDownList("EstatusId", (SelectList)ViewBag.Estatus, "Seleccione")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <input type="submit" value="Guardar" class="buttonEnviar" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                </div>
            </div>
        </div>
    }

</section>

