﻿@model intra.Models.Inventario.Taller

@{   
    ViewBag.Title = "Editar";
    Layout = "~/Views/intraMaster.cshtml";
    bool salida = (Model.EstatusId == 2) ? true: false;
 }
<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<style>
    .serviciosSolicitud select{
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }
    input[type="text"], input[type="date"] {
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 500px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type="date"]{
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 200px !important;
        text-transform: capitalize;
        font-size: 12px;
    }

    input[type=file]{
        padding: 5px;
        border-radius:3px;
        border:solid 1px #4BBCE3;
        margin-bottom: 5px !important;
        vertical-align: middle;
        width: 250px !important;
        text-transform: capitalize;
        font-size:12px;
    }
</style>

<script type="text/javascript">
    //SELECCIONAR LAS MARCAS Y MODELOS
    function load_modelos()
    {
        $("#ModeloId").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Modelo")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ marca: ' + $("#MarcaId").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#ModeloId").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });
        return;
    }

    $(document).ready(function () {

        $("#MarcaId").change(function () {

            load_modelos();
            return false;
        })
    });

</script>

<script type="text/javascript">
    //SELECCIONAR LA REGION Y PROVINCIAS
    $(function () {
        $("#RegionId").change(function () {
            var url = 'GetProvincia'
            $.ajax({
                type: 'GET',
                url: "http://localhost/intra/Taller/GetProvincia",
                data: { id: $("#RegionId").val() },
                success: function (data) {
                    $("#Province_ID").empty();
                    $("#Province_ID").append('<option value="' + 0 + '">' + "seleccionar" + '</option>')
                    $.each(data, function (i, Provinces) {
                        $("#Province_ID").append('<option value="' + Provinces.Value + '">' + Provinces.Text + '</option>')
                    })
                }
            });
        });

        $('#RegionId').change(function () {
            if ($(this).val() != 0) {
                $('#RegionId').val($(this).val());
            }
        });
    });

</script>

<script type='text/javascript'>
    function load_Municipios()
    {
     $("#Municipality_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Province_ID").val() + ' }',
            success: function (states) {
                $("#Municipality_ID").append('<option value="' + 0 + '">' + "Selecionar" + '</option>')
                $.each(states, function (i, state) {
                    $("#Municipality_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('No pudo cargar los tipos: ' + ex);
            }
        });

        return;
    }

    function loadLocalidad() {
        $("#LocalidadId").empty();
        console.log($("#Municipality_ID").val())
        var obj = {};
        obj.Municipio = $("#Municipality_ID").val();
        var url = 'Localidad';
        $.ajax({
            type: 'POST',
            url: "http://localhost/intra/ComputadoraInventario/Localidad",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{Municipio:' + $("#Municipality_ID").val() + '}',
            success: function (res) {
                $.each(res, function (i, res) {
                    $("#LocalidadId").append('<option value ="' + res.Value + '">' + res.Text + '</option>');

                })

            },
            error: function (ex) {
                console.log('no puedo cargar las localidades:'+ex)
            }

        })
    }

    $(document).ready(function () {

        $("#Province_ID").change(function () {

            load_Municipios();
            return false;
        })
    });

    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });

    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".DeptoLocal").change(function () {
            if ($("#DeptoLocal:checked").val() == "1")
            {
                $("#Local").show();
                $("#Depto").hide();
            }
            else if($("#DeptoLocal:checked").val()=="2")
            {
                $("#Depto").show();
                $("#Local").hide();
            }

        });
        var Local = $(".DeptoLocal")[0];
        var Depto = $(".DeptoLocal")[1];
        if(@Model.DeptoLocal == 1){
            Local.setAttribute("checked", true);
            Depto.removeAttribute("checked");
            $("#Local").show();
            $("#Depto").hide();
        }else if(@Model.DeptoLocal == 2){
            Depto.setAttribute("checked", true);
            Local.removeAttribute("checked");
            $("#Depto").show();
            $("#Local").hide();
        }
    });

</script>

<script type="text/javascript">
    $(document).ready(function(){
        if($("#EstatusId").index()==1){
            $("#panel1").show();
        }else if($("#EstatusId").index()==2){
            $("#panel1").hide(); 
        }  
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){

        if($("#EstatusId").val()==3)
        {  
            $("#panel1").show();
            $("#panel2").hide();


        }else if($("#EstatusId").val()==2)
        {
            $("#panel2").show();
            $("#panel1").hide();
        }

        $("#EstatusId").change(function(){

            if($("#EstatusId").val()==3)
            {  
                $("#panel1").show();
                $("#panel2").hide();


            }else if($("#EstatusId").val()==2)
            {
                $("#panel2").show();
                $("#panel1").hide();
            }

        });
    });
</script>

<h2>Registro Equipo Taller</h2>
<section class="serviciosSolicitud">

    @using (Html.BeginForm("Edit", "Taller", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
          
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model=>model.TallerId)
            @Html.HiddenFor(model => model.TallerFhCreacion)
            @Html.HiddenFor(model=> model.UsuarioRecibe)

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Fiscalia / Departamento")
                </div>
                <div class="col-lg-9">
                   
                    <input type="radio" name="DeptoLocal" id="DeptoLocal" value="1" class="DeptoLocal">Fiscalia.
                    <input type="radio" name="DeptoLocal" id="DeptoLocal" value="2"  class="DeptoLocal">Departamento.

                </div>
            </div>

            <panel id="Local" name="Local">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Región")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("RegionId", (SelectList)ViewBag.Region, "Seleccione")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Provincia")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("Province_ID", (SelectList)ViewBag.Provincia, "Seleccione")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Municipío")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio, "Seleccione", new { @onchange = "loadLocalidad()" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Localidad")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("LocalidadId", (SelectList)ViewBag.Localidad, "Seleccione")
                    </div>
                </div>
            </panel>
            <panel id="Depto" name="Depto" hidden="hidden">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Departamento")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("DepartamentoId", (SelectList)ViewBag.Departamentos, "Seleccione", htmlAttributes: new { @class = "form-control drowpdown chosen - select" })
                    </div>
                </div>
            </panel>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Marcas")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("MarcaId", (SelectList)ViewBag.Marca, "Seleccione")
                        @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Modelo")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("ModeloId", (SelectList)ViewBag.Modelo, "Seleccione")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Serie")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.validationMessageFor(model => model.Serie, "", new {@class= "text-danger" })*@
                    </div>
                </div>

            <div class="row">
                <div class="col-lg-3">
                    @Html.Label("Activo Fijo")
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.ActivoFijo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivoFijo, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="row" id="panel1">
                    <div class="col-lg-3">
                        @Html.Label("Razón de Entrada")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.TallerRazonEntrada, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TallerRazonEntrada, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row" id="panel2">
                    <div class="col-lg-3">
                        @Html.Label("Razón de Salida")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.TallerRazonSalida, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TallerRazonSalida, "", new { @class = "text-danger" })
                    </div>
                </div>                

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Descripción de Solución")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.TallerDescripcionSolucion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TallerDescripcionSolucion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Técnico y/o Responsable")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.TecnicoOResponsable, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TecnicoOResponsable, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Fecha de Solución")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.TallerFhSolucion, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:35%" } })
                        @Html.ValidationMessageFor(model => model.TallerFhSolucion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Fecha de Entrega")
                    </div>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.TallerFhEntrega, new { htmlAttributes = new { @class = "date-picker form-control", Style = "width:35%" } })
                        @Html.ValidationMessageFor(model => model.TallerFhEntrega, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        @Html.Label("Estatus")
                    </div>
                    <div class="col-lg-9">
                        @Html.DropDownList("EstatusId", (SelectList)ViewBag.Estatus, "Seleccione")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-9">
                        <input type="submit" value="Guardar" class="buttonEnviar" />
                        @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
                        @Html.ActionLink("Generar Reporte", "ReporteTallerRotativa", new { id = Model.TallerId, salida = salida }, new { @class = "buttonEnviar" })
                    </div>
                </div>
</div>
    }
</section>

