﻿@model IEnumerable<intra.Models.Inventario.VistaTaller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css"/>

<style>
    table{
        max-width: 100% !important;
    }
</style>

<section class="row">
    <div class="col-lg-10">
        <h2>Equipos</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right">
        <p>
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>
<table id="tableGrid1" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Serie")
            </th>
            <th>
                @Html.DisplayName("Marca")
            </th>
            <th>
                @Html.DisplayName("Modelo")
            </th>
            <th>
                @Html.DisplayName("Localidad / Departamento")
            </th>
            <th>
                @Html.DisplayName("Municipio")
            </th>
            <th>
                @Html.DisplayName("Fecha Registro")@*la fecha de creacion ha sido cambiada a Fecha Registro*@
            </th>
            <th>
                @Html.DisplayName("Usuario Creador")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Serie, "Edit", new { id = item.TallerId }) </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaDescripción)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloDescripcion)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.LocalidadId.ToString()))
                    {
                        @Html.DisplayFor(modelItem => item.LocalidadNombre)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Sol_Departamento.Descripcion)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipality_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TallerFhCreacion)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.UsuarioRecibe)
                 </td>
            </tr>
        }
    </tbody>

</table>

<script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="~/scripts/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tableGrid1').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        })
    });
</script>

