﻿@model intra.Models.Inventario.VistaTaller

@{
    Layout = null;
}

<script src="~/JS/jquery-1.11.0.min.js"></script>
<script src="~/JS/jquery-ui.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>

    <style>
        body{padding:0px !important;
             margin:0px !important;
        }
        *{
            padding:0px;
            margin:0px;
        }
        #tabla{
            border-collapse: collapse;
            border:1px solid #333333;
            width:100%;
        }
        th{
            font-size: 17px;
            border-bottom:1px solid #333333;
            border-collapse:collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Arial, Helvetica, sans-serif;
            padding: 10px;
            background-color: #eaeaea;
            border-right:1px solid #333333;
        }
        td{
            font-size: 15px;
            border-bottom: 1px solid #333333;
            border-collapse: collapse;
            margin: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            padding: 10px;            
            margin-left:5px;
            height:35px;
        }
        h1,h2,h3{
                font-family: Arial, Helvetica, sans-serif;
        }
        #Firma{
            margin-top: 30px;
        }
        #Firma b{
            font-size:25px;
        }
    </style>

    <title> Reporte Taller</title>
</head>
<body>
        <div class="div_izquierdo">
            <img src="~/Content/images/logo.png" id="imagen" width="190" style="margin-top:20px; margin-left:22px;" />
            <footer class="footerpage"></footer>
        </div>
        <div class="div_derecho" style="margin-top:80px; margin-right:25px; font-family: Arial,Arial, Helvetica, sans-serif ">
            <center><h1> Equipo En Taller</h1></center>
            <div>
                <b>Usuario: @ViewBag.Usuario</b>
            </div>
            <div style="margin-top:25px;font-size:12px">

                <b>Fecha @ViewBag.Fecha</b>
            </div>
            <br />
            <table id="tabla">
                <tr class="f1">
                    <th style="width:30%">Fecha Entrada</th>
                    <td>@Model.TallerFhCreacion</td>
                </tr>

                <tr class="f1">
                    <th style="width:30%">Fecha Solución</th>
                    <td>@Model.TallerFhSolucion</td>
                </tr>
                <tr>
                    <th>Fiscalia / Departamento</th>
                    @if (Model.DeptoLocal == 1)
                    {
                        <td id="fisc">@Model.LocalidadNombre</td>
                    }
                    else
                    {
                        <td id="depto">@Model.Descripcion</td>
                    }
                </tr>
      
                @if (Model.DeptoLocal == 1)
                {
                    <tr>
                        <th>Municipío</th>
                        <td>@Model.Municipality_Name</td>
                    </tr>
                    <tr>
                        <th>Provincia</th>
                        <td>@Model.Province_Name</td>
                    </tr>
                }
                <tr>
                    <th>Marca</th>
                    <td>@Model.MarcaDescripción</td>
                </tr>
                <tr>
                    <th>Modelo</th>
                    <td>@Model.ModeloDescripcion</td>
                </tr>
                <tr>
                    <th>Serie</th>
                    <td>@Model.Serie</td>
                </tr>
                <tr>
                    <th>Recibido Por</th>
                    <td>@Model.TecnicoOResponsable</td>
                </tr>

                @if (!ViewBag.salida == true)
                {
                    <tr>
                        <th>Descrición Entrada</th>
                        <td>@Model.TallerRazonEntrada</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>Descrición Salida</th>
                        <td>@Model.TallerRazonSalida</td>
                    </tr>
                }

                @if (ViewBag.salida == true)
                {
                    <tr>
                        <th>Solución</th>
                        <td>@Model.TallerDescripcionSolucion</td>
                    </tr>
                }
                <tr>
                    <th>Estado</th>
                    <td>@Model.EstatusDescripcion</td>
                </tr>
                
                @*<tr id="dep" hidden="hidden">
                    <td>@Model.DeptoLocal</td>
                </tr>*@

            </table>
        
            <div id="Firma" style="margin-top: 120px; margin-left: 30%; text-align:center;">
                <div style="width: 60%">
                    <hr align="center" style="border-color:#000; border-width:1px" />
                    <b style="width:30px; text-align: center">Firma</b>
                </div>
                 
            </div>
        </div>
</body>
</html>

