﻿#dropArea
{
    background:#b5b5b5;
    border: black dashed 1px;
    height: 50px;
    text-align:center;
    color:#fff;
}

.active-drop
{
    background:#77bafa !important;
    border:solid 2px blue !important;
    opacity:5;
    color:black !important;
}