/*Acordion*/


#accordion {
    /*margin-bottom: 30px;*/
}

    #accordion h1 {
        line-height: 1.2;
        font-size: 16px;
        background-color: rgba(12, 66, 113, 0.12);
        margin: 0;
        padding: 12px 10px 10px 12px;
        color: #054884;
        cursor: pointer;
    }

    #accordion ul {
        padding: 24px;
    }

    #accordion section {
        overflow: hidden;
        height: auto;
        /*border: 1px rgba(51, 51, 51, 0.1) solid;*/
        background: rgba(2, 73, 132, 0.07);
    }

.ac_hidden a {
    color: #2a6496 !important;
}

.breadcrumb-item:hover i {
    color: #fff !important;
}

#accordion p {
    padding: 0 10px;
    color: black;
    font-family: "Roboto" ;
}

#accordion section.ac_hidden p:not(.pointer) {
    color: #fff;
}

#accordion section.ac_hidden {
    height: 44px;
}

#accordion .pointer {
    padding: 0;
    margin: 11px 17px 0 6px;
    line-height: 21px;
    width: 13px;
    /* position: absolute; */
    float: right;
}

#accordion section:not(.ac_hidden) h1 {
    background-color: rgb(2, 73, 132);
}

#accordion section:not(.ac_hidden) i, h1 a {
    color: #fff !important;
}

#accordion section:not(.ac_hidden) .pointer {
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0;
}

.Procesado {
    color: aquamarine;
}

.modal-content {
    padding: 15px;
}

.help-accordion {
    background-color: #fff;
    padding: 10px;
    margin: 30px 20px 10px 20px;
}

/*acordion*/

.btn-doc {
    text-align: left;
    border: 2px solid #fafafa;
}

    .btn-doc > .fa {
        font-size: 35px;
        float: left;
        margin-right: 10px;
    }

p .fa fa-exclamation-circle {
    font-size: 36px;
}
