﻿@model intra.Models.Inventario.VistaComputadoraInventario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComputadoraInventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Serie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraSerie)
        </dd>

        <dt>
            @Html.DisplayName("Service Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraServiceTag)
        </dd>

        <dt>
           @Html.Display("Garantia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraGarantia)
        </dd>

        <dt>
            @Html.Display("Fecha Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraFechaCompra)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ComputadoraFechaCreación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraFechaCreación)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ComputadoraUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraUsuario)
        </dd>*@

        <dt>
            @Html.Display("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDescripción)
        </dd>

        <dt>
           @Html.Display("Modelo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloDescripcion)
        </dd>

        <dt>
           @Html.Display("Estatus")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusDescripcion)
        </dd>

        <dt>
        @Html.Display("Caracteristica")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CaracteristicaComputadora)
    </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalidadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputadoraNombreRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraNombreRed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
