﻿@model intra.Models.Inventario.VistaComputadoraInventario

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/intraMaster.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Region")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionDescripcion)
        </dd>
        <dt>
            @Html.DisplayName("Provincia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province_Name)
        </dd>

        <dt>
            @Html.DisplayName("Municipio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipality_Name)
        </dd>
        <dt>
            @Html.DisplayName("Localidad")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalidadNombre)
        </dd>
        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDescripción)
        </dd>

        <dt>
            @Html.DisplayName("Modelo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloDescripcion)
        </dd>

        
        <dt>
            @Html.DisplayName("Serie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraSerie)
        </dd>

        <dt>
            @Html.DisplayName("Service Tag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraServiceTag)
        </dd>


        <dt>
            @Html.DisplayName("Garantia")
        </dt>

        <dd>
            Restan @ViewBag.calc
        </dd>
        <dt>
            @Html.DisplayName("Caracteristica")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracteristicaComputadora)
        </dd>
        <dt>
            @Html.DisplayName("Proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorNombre)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraFechaCompra)
        </dd>
        <dt>
            @Html.DisplayName("Fecha de Registro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraFechaCreación)
        </dd>

       
        <dt>
            @Html.DisplayName("Usuario")
        </dt>
        

        <dd>
            @Html.DisplayFor(model => model.ComputadoraUsuario)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.EstatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ComputadoraNombreRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputadoraNombreRed)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComputadoraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
