﻿@model IEnumerable<intra.Models.Inventario.ComputadoraInventario>
@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/intraMaster.cshtml";
}

@{
    dbIntranet db = new dbIntranet();

}


<style>
    input, select {
        outline: none;
        padding: 10px 15px;
        border: 1px solid #d9d9d9;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #9a9b9d;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
        font-wieght: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    input {
        width: 85%;
    }

    .dataTables_length {
        float: right;
        margin-bottom: 11px;
        width: auto;
    }

    .dataTables_filter {
        float: left;
        margin-bottom: 11px;
    }


    .display {
        margin-top: 11px;
    }
</style>

<link href="jquery-ui.css" rel="stylesheet" />
<script src="jquery-1.11.3.js"></script>
<script src="jquery-ui.js"></script>

@*<%--css del pre-load--%>*@

<link href="css/PreLoadMaster.css" rel="stylesheet" />

<script src="js/bootstrap.js"></script>


<link href="css/bootstrap.min.css" rel="stylesheet" />

@*jquery Datatable*@
<script src="Datatables/media/js/jquery.dataTables.js" async="async"></script>
<script src="Datatables/media/js/GridviewFix.js" async="async"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>



<script src="jquery-1.11.3.js"></script>
<script src="jquery-ui-1.11.4/jquery-ui.js"></script>
<link href="jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" />



@*jquery Datatable*@

<script src="Datatables/media/js/jquery.dataTables.js" async="async"></script>
<script src="Datatables/media/js/GridviewFix.js" async="async"></script>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<script>

        $(function  () {
            $("#tabs").tabs()
        });

        $(function () {
            $("#tabs").tabs({
                select:
                    function (event, ui) {

                        return CheckSomething();
                    },

                show:
                    function (event, ui) {
                        //do some stuff
                    }
            });


        });


</script>
<h2>Inventario</h2>

<div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">COMPUTADORA</a></li>
            <li><a href="#tabs-2">EQUIPOS DE RED</a></li>
            <li><a href="#tabs-3">CONECTIVIDAD</a></li>
           
        </ul>
      
        <div id="tabs-1">
            @Html.Action("vInventario", "ComputadoraInventario")
          
        </div>

        <div id="tabs-2">
           
          @Html.Action("vEquiposRed", "EquiposRed")

            

        </div>

        <div id="tabs-3">

            @Html.Action("vConectividad", "ConectividadInventarios")
        
       </div>
    </div>
</div>
