﻿@model      intra.Models.Inventario.ComputadoraInventario
@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<style>
    table {
        max-width: 100% !important;
    }
</style>
<section class="row">
    <div class="col-lg-10">
        <h2>Computadoras</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</section>
<table id="tableGrid" class="table table-striped table-hover responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputadoraSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputadoraServiceTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputadoraGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputadoraFechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputadoraFechaCreación)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputadoraUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaId)
            </th>
            <th>
                @Html.ActionLink(model => model.ModeloId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusId)
            </th>
            <th>
                @Html.DisplayName("Caracteristica")
            </th>
            <th>
                @Html.ActionLink(model => model.LocalidadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorId)
            </th>
            <th>
                @Html.ActionLink("Index","ConectividadInventario")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            <tr>
                <td>
                    @Html.ActionLink("Index", "ConectividadInventario")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputadoraServiceTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputadoraGarantia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputadoraFechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputadoraFechaCreación)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputadoraUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaracteristicaComputadora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalidadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProveedorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputadoraNombreRed)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ComputadoraId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ComputadoraId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ComputadoraId })
                </td>
            </tr>
        }

  </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#tableGrid').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true

        });
    });

</script>
