﻿@model IEnumerable<intra.Models.Inventario.VistaComputadoraInventario>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />

<style>
    table {
        max-width: 100% !important;
    }
</style>

<script type='text/javascript'>
    function load_Municipios2()
    {
        
     $("#Municipality_ID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Municipio")',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: '{ Provincia: ' + $("#Province_ID").val() + ' }',
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#Municipality_ID").append('<option value="' + state.Value + '">' +
                     state.Text + '</option>');
                });
            },
            error: function (ex) {
                console.log('No pudo cargar los tipos: ' + ex);
            }
        });
                
    }

    $(document).ready(function () {

        $("#Province_ID").change(function () {
            load_Municipios2();
          
        })
    });
</script>

<section class="row">
    <div class="col-lg-10">
        <h2>Computadoras</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
         <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>
<div class="row">
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Provincia", new { style = "color:#333" })
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("Province_ID", (SelectList)ViewBag.Provincia, "Seleccione")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Municipio", new { style = "color:#333" })
        </div>
        <div class="col-lg-9">
            @Html.DropDownList("Municipality_ID", (SelectList)ViewBag.Municipio, "Seleccione")
        </div>
    </div>
</div>

<table id="tableGrid5" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayName("Serie")</th>
            <th>@Html.DisplayName("Service Tag")</th>
            <th>@Html.DisplayName("Marca")</th>
            <th>@Html.DisplayName("Modelo")</th>
            <th>@Html.DisplayName("Localidad")</th>
            <th>@Html.DisplayName("Provincia")</th>
            <th>@Html.DisplayName("Municipio")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) { 
            <tr>
                
                <td>@Html.ActionLink(item.ComputadoraSerie, "Edit", new { id = item.ComputadoraId})</td>
                <td>@Html.DisplayFor(modelItem => item.ComputadoraServiceTag)</td>   
                <td>@Html.DisplayFor(modelItem => item.MarcaDescripción)</td>
                <td>@Html.DisplayFor(modelItem => item.ModeloDescripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.LocalidadNombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Province_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Municipality_Name)</td>
              
            </tr>
            }
        </tbody>
    </table>
    <script>
    $(document).ready(function () {
        var oTable = $('#tableGrid5').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            responsive: true
        //})

        });
        /* Add event listener to the dropdown input */
       $('select#Province_ID').on('change', function () {
           var a = $(this).find('option:selected').text();
           if (a == 'Seleccione' || a =='-') {
               a = "";
           }
            oTable.columns(5).search(a).draw();
        } );
       $('select#Municipality_ID').on('change', function () {
           var b = $(this).find('option:selected').text()
            oTable.columns(6).search(b).draw();
       });

    });

    </script>

