﻿
@model intra.ModeloFlotas


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/intraMaster.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Crear Marca y Modelo de Flotas</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="MarcaId" class="control-label col-md-2">Marcas</label>
            <div class="col-md-10">
                <input type="text" id="MarcaDescripcion" name="MarcaDescripcion" class="form-control" /> 

                @*@Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModeloDescripcion, "", new { @class = "text-danger" })*@

            </div>

        </div>

        <div class="form-group">
            <label for="Modelo" class="control-label col-md-2">Modelo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModeloDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModeloDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
    </div>
}

