﻿@model intra.Models.FlotasExtensiones.MarcasFlotas

<style>
    h2 {
        padding: 10px;
    }

    .modal-content {
        width: 700px;
        color: #262626;
    }

    .form-control-1 {
        margin-left: -5px;
        display: block;
        width: 95%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        margin-bottom: 10px;
    }
    
</style>

@{
    ViewBag.Title = null;
    Layout = null;
}
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>

@if (TempData["CrearMarca"]  != null)
{
    <script>

        
        swal({
            title: 'Listo',
            text: 'Marca Creada Correctamente',
            type: 'success',
            confirmButtonColor: '#0c4ba4',
            confirmButtonText: 'Aceptar'
        })

    </script>
}

@if (TempData["Error"] != null)
{

    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Error"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

@using (Html.BeginForm("CrearMarca", "ModeloFlotas", FormMethod.Post, new { id = "formModal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Crea Marca de Flotas</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="margin-left: -0.5%; margin-right:-0.5%;">
            <div class="col-lg-6">
                <label>Introducir Marca</label>
                <div>
                    <input type="text" id="MarcaDescripcion" name="MarcaDescripcion" class="form-control" />
                </div>
            </div>

            <div class="col-lg-6  pull-right">
                    <input type="submit" id="Guardar" value="Guardar" class="button_white" />
                    @Html.ActionLink("Volver", "MarcasModelosFlotas", null, new { @class = "button_white" })
            </div>
        </div>
    </div>

}

