﻿@model intra.ModeloFlotas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/intraMaster.cshtml";
}



<div>
    <h2>Modelo de Flotas</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloDescripcion)
        </dd>

        <dt>
            @Html.Label("Fecha de Creacion", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloFhCreacion)
        </dd>

        <dt>
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ModeloId }, new { @class = "buttonAceptar" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "buttonAceptar" })
</p>
