﻿@model intra.Models.FlotasExtensiones.MarcasFlotas


@{
    ViewBag.Title = "Editar Marca";
    Layout = "~/Views/intraMaster.cshtml";
}
<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<script src="~/scripts/sweetalert2.min.js"></script>

@if (TempData["CrearMarca"] != null)
{
    <script>


        swal({
            title: 'Listo',
            text: 'Marca Creada Correctamente',
            type: 'success',
            confirmButtonColor: '#0c4ba4',
            confirmButtonText: 'Aceptar'
        })

    </script>
}

@if (TempData["Error"] != null)
{

    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Error"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

<h2>Editar Marca</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MarcaId)

        <div class="row">
            <div class="col-lg-6">
                @*<label>Introducir Marca</label>*@
                <div>
                    @Html.LabelFor(model => model.MarcaDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.MarcaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MarcaDescripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="padding-top:20px;">
                <div>
                    <input type="submit" id="Guardar" value="Guardar" class="button_white" />
                    @Html.ActionLink("Volver", "MarcasModelosFlotas", null, new { @class = "button_white" })
                </div>
            </div>
        </div>
    </div>
}























