﻿@model intra.ModeloFlotas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Editar Modelo de Flota</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ModeloId)

        <div class="form-group">
            @Html.LabelFor(model => model.ModeloDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModeloDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModeloDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

            <input id="ModeloFhCreacion" name="ModeloFhCreacion" value="@Model.ModeloFhCreacion" hidden="hidden" />

        <div class="form-group">
          
            @Html.LabelFor(model => model.ModeloUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModeloUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModeloUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="buttonEnviar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "buttonEnviar" })
            </div>
        </div>
    </div>
}

<div>
   
</div>
