﻿@model intra.Models.FlotasExtensiones.ModeloFlotas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

  <section>
        <h2 style="margin-left: 90px;">Editar Modelo de Flota</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ModeloId)
        <input id="ModeloFhCreacion" name="ModeloFhCreacion" value="@Model.ModeloFhCreacion" hidden="hidden" />
        <input id="ModeloUsuario" name="ModeloUsuario" value="@Model.ModeloUsuario" hidden="hidden" />
     
        <div class="row">
            <div class="col-lg-6">
                <label>Marca</label>
            </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => Model.MarcaId, null)
                    @Html.ValidationMessageFor(model => Model.MarcasFlotas.MarcaDescripcion, "", new { @class = "text-danger" })
                </div>
            </div>

              <div class="row" style="margin-left: 78px;">
                  <div class="col-lg-2">
                      <label>Modelo</label>
                      <div class="col-lg-10" style="margin-left: -14px;">
                          <input type="text" id="ModeloDescripcion" name="ModeloDescripcion" style="width:560px;" value="@Model.ModeloDescripcion" class = "form-control"/>
                          @*@Html.EditorFor(model => model.ModeloDescripcion, new { htmlAttributes = new { @class = "form-control" } })*@
                          @Html.ValidationMessageFor(model => model.ModeloDescripcion, "", new { @class = "text-danger" })
                      </div>
                  </div>
              </div>
             

            <div class="row" style="margin-left: -14px;">
                <div class="col-md-offset-2 col-md-10" style="margin-left:7.666667%">
                    <input type="submit" value="Guardar" class="button_white" />
                    @Html.ActionLink("Volver", "MarcasModelosFlotas", null, new { @class = "button_white" })
                </div>
            </div>
        </section>
    
}

<div>
   
</div>
