﻿@model IEnumerable<intra.Models.FlotasExtensiones.ModeloFlotas>

@{
    ViewBag.Title = "Marcas Modelos";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/sweetalert2.min.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<link href="~/CSS/jquery-ui.min.css" rel="stylesheet" />

<style>
    .fila {
        color: #70707a !important;
        font-family: 'Gill Sans MT' !important;
    }

    .ui-widget-content a {
        color: #337ab7;
    }

    .CambiarEstado:hover {
        text-decoration: none;
        cursor: pointer;
    }

    #loading-animation-container {
        display: none;
    }

    .dl-horizontal dt {
        width: 145px;
        margin-top: 0.5%;
    }
    /*TABS NUEVOS*/
    .ui-widget-header {
        border: none !important;
        background: transparent !important;
        color: #222;
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: 1.5em;
        text-decoration: none;
    }


    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #fff !important;
        text-decoration: none;
    }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #03607e !important;
        text-decoration: none;
        background-color: #53c7ed;
        font-weight: 500 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #2a9abe;
        background: #38afd5;
        font-weight: normal;
        color: #fff !important;
    }

    /*TABS*/
    .card {
        margin-top: 20px;
        padding: 30px 0;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            /*text-align: center;*/
        }

            .card.hovercard .card-background {
                height: 130px;
            }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard .useravatar {
        /*position: absolute;*/
        top: 15px;
        left: 0;
        right: 0;
    }

    .card.hovercard .card-info {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
    }

        .card.hovercard .card-info .card-title {
            padding: 0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

    .card.hovercard .card-info {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }

    .btn:active, .btn-primary {
        background: -webkit-linear-gradient(left, rgb(13, 72, 161) 0%, rgb(0, 174, 255)100%) !important;
        color: #fff;
    }

    .btn-default:hover {
        background: #eee;
        border: 1px solid #999;
    }

    .well {
        border: none;
        background: transparent;
    }

    dd {
        /* background: #eee; */
        color: #999;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        line-height: 2em;
        font-weight: bold;
    }
     .modal-content {
        width: 727px;
        height: 200px;
    }
</style>

<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });

    });
</script>


@if (TempData["CrearMarca"] != null)
{
    <script>


        swal({
            title: 'Listo',
            text: 'Marca Creada Correctamente',
            type: 'success',
            confirmButtonColor: '#0c4ba4',
            confirmButtonText: 'Aceptar'
        })

    </script>
}

@if (TempData["Error"] != null)
{

    <script>
            swal({
                title: 'ERROR',
                text: '@TempData["Error"].ToString()',
                type: 'error',
                confirmButtonColor: '#0c4ba4',
                confirmButtonText: 'Aceptar'
            })
    </script>
}

@Styles.Render("~/datatables/css")
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">MARCAS FLOTAS</a></li>
        <li><a href="#tabs-2">MODELOS FLOTAS</a></li>

    </ul>

    <div id="tabs-1">
        <div class="tab-pane fade in active" id="tab1">
            <div class="row pull-right alejar_top">
                <button class="button_white" id="modal">Agregar Marca</button>
            </div>
            @Html.Action("vMarcas", "ModeloFlotas")

        </div>
    </div>

    <div id="tabs-2">
        <div class="tab-pane fade in" id="tab2">
            <div class="row pull-right alejar_top">
                <button class="button_white" id="modal2">Agregar Modelo</button>
            </div>

            @Html.Action("vModeloFlota", "ModeloFlotas")

        </div>
    </div>
</div>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/ModeloFlotas/CrearMarca.cshtml", new intra.Models.FlotasExtensiones.MarcasFlotas());
            }
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderPartial("~/Views/ModeloFlotas/CrearModelo.cshtml", new intra.Models.FlotasExtensiones.ModeloFlotas());
            }
        </div>
    </div>
</div>

@Scripts.Render("~/datatables/js")
<script src="~/JS/jquery-ui.min.js"></script>
<script>

    var AnimacionCarga = $("#loading-animation-container");

    $("#tabs").tabs();

    $('#modal').click(function () {
        $('#myModal').modal();
    });

    $('#modal2').click(function () {
        $('#myModal2').modal();
    });
</script>