﻿@model IEnumerable<intra.Models.FlotasExtensiones.MarcasFlotas>

@{
    ViewBag.Title = "Marcas";
    Layout = "~/Views/intraMaster.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/scripts/dataTables.responsive.min.js"></script>
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />

<section class="row">
    <div class="col-lg-10">
        <h2>Marcas</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>
@Styles.Render("~/datatables/css")

<table id="tableGrid" class="table table-striped table-hover responsive">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Fecha de Creación
            </th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.MarcaDescripcion, "Edit", new { id = item.MarcaId })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaFhCreacion)
                </td>
               
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/datatables/js")