﻿@model IEnumerable<intra.Models.FlotasExtensiones.MarcasFlotas>

@*<section class="row">
    <div class="col-lg-10">
        <h2>Marcas</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "CrearMarca", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>*@


<table class="table display responsive nowrap tableGrid" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Fecha de Creación
            </th>
            <th>Creado Por</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.MarcaDescripcion, "EditarMarca", new { id = item.MarcaId })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaFhCreacion)
                </td>
                <td>@Html.DisplayFor(modelItem => item.MarcaUsuario)
                </td>

            </tr>
        }
    </tbody>
</table>




