﻿@model IEnumerable<intra.Models.FlotasExtensiones.ModeloFlotas>

@using intra.Models
@{ 
    dbIntranet db = new dbIntranet();
}


<table class="table display responsive nowrap tableGrid" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Modelo
            </th>
            <th>Marca</th>
            <th>
                Fecha de Creación
            </th>

            <th>
                Creado Por

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ModeloDescripcion, "EditarModelo", new { id = item.ModeloId })
                </td>
                <td>
                    @item.MarcasFlotas.MarcaDescripcion
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloFhCreacion)
                </td>
                <td>
                    @item.ModeloUsuario

                </td>
            </tr>
        }
    </tbody>
</table>
