﻿
@{
    ViewBag.Title = "Seguros";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/CSS/fileinput.min.css" rel="stylesheet" />
<link href="~/Content/css/Seguros.css" rel="stylesheet" />

<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/es.js"></script>

<style>
    .fileinput-upload-button {
        display: none;
    }

    .file-input {
        margin-top: 40px;
        width: 100%;
    }
</style>

<div id="loading-animation-container">
    <div id="loading-animation">
        <div id="loading-image-container">
            <img src="~/Content/images/gif_intranet_loading.gif" />
        </div>
    </div>

    <div id="transparent-element">

    </div>
</div>

<div class="contenedor-seccion">
    <h2>Agregar Seguro</h2>

    <div class="contenedor-campos">
        <div class="contenedor-campo">
            <div class="titulo-campo col-lg-2 col-md-2">
                Nombre del seguro
            </div>

            <div class="contenedor-input-campo col-lg-10 col-md-10">
                <input type="text" id="seguro-nombre" class="campo" name="seguroNombre"/>
            </div>
        </div>

        <div class="contenedor-campo">
            <div class="titulo-campo col-lg-2 col-md-2">
                Link del seguro
            </div>

            <div class="contenedor-input-campo col-lg-10 col-md-10">
                <span id="elemento-http">http://</span>
                <input type="text" id="seguro-link" class="campo" name="seguroLink">
            </div>
        </div>

        @if (User.IsInRole("RRHHA"))
        {
            <div class="col-lg-10 col-md-10" style="float: right; padding: 0;">
                <input id="subir-archivo" type="file" name="subir-archivo[]" multiple class="file-loading">
            </div>
        }

        <div id="contenedor-botones" class="col-lg-12 col-md-12">
            <button type="submit" id="boton-guardar-seguro" class="btn button_white ">
                Guardar
            </button>
        </div>

        <div class="col-lg-12 col-md-12" style="padding-top: 30px;">
            <a href="@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/Index")">
                Volver a la lista
            </a>
        </div>
    </div>
</div>

<script src="~/Scripts/sweetalert2.min.js"></script>

<script src="~/scripts/Seguros.js"></script>
<script> IniciarScriptSeguros("@(HttpRuntime.AppDomainAppVirtualPath)", 0); </script>

<script>
    // ==========
    // EJECUTAR BOOTSTRAP FILE INPUT
    // ==========

    EjecutarBootstrapFileInput();

    function EjecutarBootstrapFileInput() {
        $("#subir-archivo").fileinput({
            language: "es",
            maxFileSize: 100000,
            uploadAsync: false,
            uploadUrl: "@(HttpRuntime.AppDomainAppVirtualPath)" + "/Seguros/GuardarSeguro",
            uploadExtraData: function () {
                return {
                    seguroNombre: $("#seguro-nombre").val(),
                    seguroLink: $("#seguro-link").val()
                }
            },
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: false,
                showDrag: false,
            },
            previewFileIcon: '<i class="fa fa-file"></i>',
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: { // configure your icon file extensions
                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                // note for these file types below no extension determination logic
                // has been configured (the keys itself will be used as extensions)
                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
            },
            previewFileExtSettings: { // configure the logic for determining icon file extensions
                'doc': function (ext) {
                    return ext.match(/(doc|docx)$/i);
                },
                'xls': function (ext) {
                    return ext.match(/(xls|xlsx)$/i);
                },
                'ppt': function (ext) {
                    return ext.match(/(ppt|pptx)$/i);
                },
                'zip': function (ext) {
                    return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                },
                'htm': function (ext) {
                    return ext.match(/(htm|html)$/i);
                },
                'txt': function (ext) {
                    return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                },
                'mov': function (ext) {
                    return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                },
                'mp3': function (ext) {
                    return ext.match(/(mp3|wav)$/i);
                }
            }
        });

        $("#subir-archivo").on('filebatchuploadsuccess', function (event, data, previewId, index) {
            if (data.response.Exito == true) {
                var mensaje = "El seguro se guardó con éxito";

                swal(
                    '',
                    '!' + mensaje + '!',
                    'success'
                ).then(function () {
                    $("#loading-animation-container").show();

                    window.location.reload();
                });
            }
            else {
                var mesajeErrores = "";

                for (var i in data.response) {
                    mesajeErrores += "¡ " + data.response[i] + " ! <br/>"
                }

                swal(
                    '',
                    mesajeErrores,
                    'error'
                );
            }
        });
    }
</script>