﻿
@using intra.Models.Seguros

@model Seguro

@{
    ViewBag.Title = "Seguros";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/sweetalert2.css" rel="stylesheet" />
<link href="~/Content/css/Seguros.css" rel="stylesheet" />

<div id="loading-animation-container">
    <div id="loading-animation">
        <div id="loading-image-container">
            <img src="~/Content/images/gif_intranet_loading.gif" />
        </div>
    </div>

    <div id="transparent-element">

    </div>
</div>


<div class="contenedor-seccion">
    <h2>Agregar Seguro</h2>

    <div class="contenedor-campos">
        <div class="contenedor-campo">
            <div class="titulo-campo col-lg-2 col-md-2">
                Nombre del seguro
            </div>

            <div class="contenedor-input-campo col-lg-10 col-md-10">
                <input type="text" id="seguro-nombre" class="campo" value="@Model.SeguroNombre"/>
            </div>
        </div>

        <div class="contenedor-campo">
            <div class="titulo-campo col-lg-2 col-md-2">
                Link del seguro
            </div>

            <div class="contenedor-input-campo col-lg-10 col-md-10">
                <span id="elemento-http">http://</span>
                <input type="text" id="seguro-link" class="campo" value="@Model.SeguroLink">
            </div>
        </div>

        <div id="contenedor-botones" class="col-lg-12 col-md-12">
            <button id="boton-guardar-seguro" class="btn button_white " value="@Model.SeguroId">
                Guardar
            </button>
        </div>

        <div class="col-lg-12 col-md-12" style="padding-top: 30px;">
            <a href="@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/Index")">
                Volver a la lista
            </a>
        </div>
    </div>
</div>

<script src="~/Scripts/sweetalert2.min.js"></script>

<script src="~/scripts/Seguros.js"></script>
<script> IniciarScriptSeguros("@(HttpRuntime.AppDomainAppVirtualPath)", 0); </script>