﻿
@using intra.Models.Seguros

@model List<Seguro>

@{
    ViewBag.Title = "Seguros";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<link href="~/Content/css/Seguros.css" rel="stylesheet" />

<div id="loading-animation-container">
    <div id="loading-animation">
        <div id="loading-image-container">
            <img src="~/Content/images/gif_intranet_loading.gif" />
        </div>
    </div>

    <div id="transparent-element">

    </div>
</div>

<div class="contenedor-seccion">
    @if (User.IsInRole("RRHHA"))
    {
        <a href="@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/AgregarSeguro")" class="boton-navegacion btn button_white " style="margin-right: 0;">
            Agregar Seguro
        </a>
    }

    <h2>Seguros</h2>

    <table id="tabla-seguros" class="table table-striped table-hover responsive display  no-wrap" width="100%">
        <thead>
            <tr>
                <th>
                    Seguro
                </th>

                <th>
                    Link
                </th>

                <th>

                </th>
            </tr>
        </thead>

        <tbody id="contenedor-seguros">
            @foreach (Seguro seguro in Model)
            {
                <tr class="seguro-fila">
                    <td class="seguro-celda">
                        <span>@seguro.SeguroNombre</span>
                    </td>

                    <td class="seguro-celda">
                        <a href="@("http://" + seguro.SeguroLink)" target="_blank">
                            @("http://" + seguro.SeguroLink)
                        </a>
                    </td>

                    <td class="seguro-celda">
                        <div class="boton-opcion col-lg-12 col-md-12">
                            <a href="@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/VerSeguro?seguroId=" + seguro.SeguroId)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>

                        @if (User.IsInRole("RRHHA"))
                        {
                            <div class="boton-opcion col-lg-12 col-md-12">
                                <a href="@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/EditarSeguro?seguroId=" + seguro.SeguroId)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class="boton-opcion col-lg-12 col-md-12">
                                <!-- No quitar esta etiqueta "<a>" -->
                                <a>
                                    <i class="boton-eliminar-seguro fa fa-trash-o" aria-hidden="true"></i>
                                </a>

                                <div hidden>
                                    @seguro.SeguroId
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/scripts/Seguros.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>


<script> IniciarScriptSeguros("@(HttpRuntime.AppDomainAppVirtualPath)", 0, "@User.IsInRole("RRHHA")"); </script>

<script>
    $(document).ready(function () {
        $('#tabla-seguros').DataTable({
            "language": {
                "processing": "...Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron registros disponibles",
                "emptyTable": "No hay Datos Disponibles en esta Tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "infoPostFix": "",
                "search": "Buscar:",
                "url": "",
                "infoThousands": ",",
                "loadingRecords": "...Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            responsive: true
        })
    });
</script>