﻿
@using intra.Models.Seguros

@model Seguro

@{
    ViewBag.Title = "Seguros";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/CSS/fileinput.min.css" rel="stylesheet" />
<link href="~/Content/css/Seguros.css" rel="stylesheet" />

<script src="~/scripts/fileinput.min.js"></script>
<script src="~/scripts/es.js"></script>

<div id="loading-animation-container">
    <div id="loading-animation">
        <div id="loading-image-container">
            <img src="~/Content/images/gif_intranet_loading.gif" />
        </div>
    </div>

    <div id="transparent-element">

    </div>
</div>

<div class="contenedor-seccion">

    <h2>@Model.SeguroNombre</h2>

    @if (User.IsInRole("RRHHA"))
    {
        <input id="subir-archivo" type="file" name="subir-archivo[]" multiple class="file-loading">
    }

    <div id="contenedor-archivos" class="col-lg-12 col-md-12">

    </div>

    <div class="col-lg-12 col-md-12" style="margin-top: 20px;">
        <a href="@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/Index")">
            Volver a la lista
        </a>
    </div>
</div>

<script src="~/scripts/Seguros.js"></script>
<script> IniciarScriptSeguros("@(HttpRuntime.AppDomainAppVirtualPath)", "@Model.SeguroId", "@User.IsInRole("RRHHA")"); </script>

<script>
    // ==========
    // EJECUTAR BOOTSTRAP FILE INPUT
    // ==========

    EjecutarBootstrapFileInput();

    function EjecutarBootstrapFileInput() {
        $("#subir-archivo").fileinput({
            language: "es",
            maxFileSize: 100000,
            uploadAsync: false,
            uploadUrl: "@(HttpRuntime.AppDomainAppVirtualPath + "/Seguros/GuardarArchivos")",
            uploadExtraData: function () {
                return { seguroId: @Model.SeguroId }
            },
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: false,
                showDrag: false,
            },
            previewFileIcon: '<i class="fa fa-file"></i>',
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: { // configure your icon file extensions
                'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                'htm': '<i class="fa fa-file-code-o text-info"></i>',
                'txt': '<i class="fa fa-file-text-o text-info"></i>',
                'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                // note for these file types below no extension determination logic
                // has been configured (the keys itself will be used as extensions)
                'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                'png': '<i class="fa fa-file-photo-o text-primary"></i>'
            },
            previewFileExtSettings: { // configure the logic for determining icon file extensions
                'doc': function (ext) {
                    return ext.match(/(doc|docx)$/i);
                },
                'xls': function (ext) {
                    return ext.match(/(xls|xlsx)$/i);
                },
                'ppt': function (ext) {
                    return ext.match(/(ppt|pptx)$/i);
                },
                'zip': function (ext) {
                    return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                },
                'htm': function (ext) {
                    return ext.match(/(htm|html)$/i);
                },
                'txt': function (ext) {
                    return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                },
                'mov': function (ext) {
                    return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                },
                'mp3': function (ext) {
                    return ext.match(/(mp3|wav)$/i);
                }
            }
        });

        $("#subir-archivo").on('filebatchuploadsuccess', function (event, data, previewId, index) {
            $("#subir-archivo").fileinput("clear");

            var cantidadArchivosSubidos = data.filescount;
            var mensaje = "";

            if (cantidadArchivosSubidos == 0) {
                mensaje = "No se guardó el archivo o los archivos";

                swal(
                    '',
                    '!' + mensaje + '!',
                    'error'
                )
            }
            else if (cantidadArchivosSubidos == 1) {
                mensaje = "Se guardó el archivo";

                swal(
                    '',
                    '!' + mensaje + '!',
                    'success'
                ).then(function () {
                    $("#loading-animation-container").show();

                    window.location.reload();
                })
            }
            else if (cantidadArchivosSubidos > 1) {
                mensaje = "Se guardaron los archivos";

                swal(
                    '',
                    '!' + mensaje + '!',
                    'success'
                ).then(function () {
                    $("#loading-animation-container").show();

                    window.location.reload();
                })
            }
        });
    }
</script>
