﻿@model intra.Models.GestionHumana.EmpleadosNoPonche

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />

<h2>Edit</h2>
<!--.-->
@using (Html.BeginForm("Edit", "EmpleadosNoPonche", FormMethod.Post, new { id = "formulario_edit_empnoponche" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.EmpNoPoncheId)
        @Html.HiddenFor(model => model.jomh)
        @Html.HiddenFor(model => model.EmpNoPoncheCodigo)

        <div class="form-group">
            <label for="clase" class="control-label col-md-2">Empleado</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpNoPoncheEmpleado, new { htmlAttributes = new { @class = "form-control" , @readonly = true} })
                @Html.ValidationMessageFor(model => model.EmpNoPoncheEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="clase" class="control-label col-md-2">Estatus</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EmpNoPoncheEstatus, (SelectList)ViewBag.StatusList, new { @width = "100" })
                @Html.ValidationMessageFor(model => model.EmpNoPoncheEstatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="clase" class="control-label col-md-2">Justificación</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EmpNoPoncheDescripcion, new { @class = "form-control", @rows = "5" })
                @Html.ValidationMessageFor(model => model.EmpNoPoncheDescripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn button_white " />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/jquery-ui.js"></script>
<script>
    $(function () {
        $('#EmpNoPoncheEmpleado').autocomplete({
            source:
                function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetEmployees")',
                        type: "GET",
                        dataType: "json",
                        data: { employee_name: $('#EmpNoPoncheEmpleado').val() },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item };
                            }));
                        },
                        select: function (event, ui) {
                            var x = document.activeElement.getAttribute('name');
                            $("#" + x).val(ui.item.id);
                        }
                    })
                }
        })
    });
</script>