﻿@model IEnumerable<intra.Models.GestionHumana.EmpleadosNoPonche>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}

<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/responsive.dataTables.css" rel="stylesheet" />

<section class="row">
    <div class="col-lg-10">
        <h2>Empleados con privilegios de ponches</h2>
    </div>
    <div class="col-lg-2 col-no-padding">
        <p style="text-align:right;">
            @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "buttonAceptar" })
        </p>
    </div>
</section>


<table id="tableGrid" class="table table-striped table-hover responsive display  no-wrap" width="100%">
    <thead>
        <tr>
            <th>
                Código de empleado
            </th>
            <th>
                Nombre
            </th>
            <th>
                Estatus
            </th>
            @*<th>
                Justificación.
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(item.EmpNoPoncheEmpleado))
                    {
                        @Html.ActionLink(item.EmpNoPoncheCodigo.ToString(), "Edit", new { id = item.EmpNoPoncheId })
                    }
                    else
                    {
                        @item.EmpNoPoncheCodigo
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.EmpNoPoncheEmpleado))
                    {
                        @Html.ActionLink(item.EmpNoPoncheEmpleado, "Edit", new { id = item.EmpNoPoncheId })
                    }
                </td>

                @if (item.EmpNoPoncheEstatus == 0)
                {
                    <td>Inactivo</td>
                }
                else
                {
                    <td>Activo</td>
                }

                @*<td>
                        @Html.DisplayFor(modelItem => item.EmpNoPoncheDescripcion)
                    </td>*@
                @*<td>
                        @Html.ActionLink("Details", "Details", new { id=item.EmpNoPoncheId })
                        @Html.ActionLink("Delete", "Delete", new { id=item.EmpNoPoncheId })
                    </td>*@
            </tr>
        }
    </tbody>


</table>

<script src="~/scripts/index_incautaciones.js"></script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.responsive.min.js"></script>