﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Denuncias - PGR</title>
    <link href="../../Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Content/assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="../../Content/assets/css/styles.css">
</head>

<body>
    
    <div class="formbg container">
    <div class="container">
    <div class="intro">
        <h2 class="text-center">Formulario de Denuncias</h2>
        <p class="text-center">Complete los siguientes campos para realizar su denuncia.</p>
    </div>
    <form>
        <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Cédula</label>
                    <input type="number" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Teléfono</label>
                    <input type="text" class="form-control" />
                </div>                
        </div><br>
        <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Dirección</label>
                    <input type="text" class="form-control" />
                </div>
        </div><br>
        <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Generales</label>
                    <input type="text" class="form-control" />
                </div>
        </div><br>
        <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Denuncia</label>
                    <textarea style="height:150px" class="form-control" ></textarea>
                </div>
        </div>
        <br><br><br>
    </form>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>