﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <link href="~/Content/fileInputBoostrap/css/fileinput.min.css" rel="stylesheet" />
    <script src="~/Content/fileInputBoostrap/js/fileinput.min.js"></script>
    <script src="~/Content/fileInputBoostrap/js/locales/es.js"></script>
    <script src="~/scripts/sweetalert.min.js"></script>
    <script src="~/scripts/sweetalert-dev.js"></script>

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/denuncias.css" rel="stylesheet" />
    <title>Formulario Denuncias - PGR</title>
</head>


    <body>

    <div class="container-fluid" style="background-color:#eaeaea; height:150px; border-bottom:2px solid #fff; padding-top:20px">
        <div class="col-md-3">
            <img src="~/Content/images/logo_PGR.png" style="margin-left:40px;" />
        </div>
        <div class="rephidden" style="float:right; margin-right:120px; width:300px; text-align:right; margin-top:10px;">
            <img src="~/Content/images/escudo_rep_dom.png" style="margin-left:40px;" />
            <h4 style="margin-left:10px; letter-spacing:0.2px; font-size:11px; color: #000 !important; z-index:9999 !important; position:relative; margin-top:15px; font-size:14px;">
                <span>
                    <i class="fa fa-home" aria-hidden="true"></i> <a href="http://pgr.gob.do" target="_self">Volver al Inicio</a>
                     &nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i> <a href="http://pgr.gob.do/contactos/" target="_self">Contacto</a>
                </span>
            </h4>
        </div>
    </div>

    <div class="formbg container" style="margin-bottom:20px">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Formulario de Denuncias</h2>
                <p style="text-align:center;">Complete los siguientes campos para realizar su denuncia.</p>
            </div>

            <form action="" method="post" id="formulario" >
                <h2 style="color:#b8f2ff">Denunciante</h2>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" id="NombreDenunciante" name="NombreDenunciante" required/>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Cédula</label>
                        <input type="text" class="form-control" id="Cedula" name="Cedula" required />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Teléfono</label>
                        <input type="text" class="form-control" id="TelefonoDenunciante" name="TelefonoDenunciante" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" id="EmailDenunciante" name="EmailDenunciante" />
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Dirección</label>
                        <input type="text" class="form-control" id="DireccionDenunciante" name="DireccionDenunciante" />
                    </div>
                </div><br>
                <h2 style="color:#b8f2ff">Denunciado</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Tipo de Denuncia</label>
                        <select type="select" class="form-control" id="TipoDenuncia" name="TipoDenuncia">
                            <option value="0">Seleccionar...</option>
                            <option value="1">Lavado de Activos</option>
                            <option value="2">Soborno</option>
                            <option value="3">Género</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" id="NombreDenunciado" name="NombreDenunciado" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Apellido 1</label>
                        <input type="text" class="form-control" id="Apellido1Denunciado" name="Apellido1Denunciado" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Apellido 2</label>
                        <input type="text" class="form-control" id="Apellido2Denunciado" name="Apellido2Denunciado" />
                    </div>
                </div>


                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Cédula</label>
                        <input type="text" class="form-control" id="CedulaDenunciado" name="CedulaDenunciado" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Alias</label>
                        <input type="text" class="form-control" id="AliasDenunciado" name="AliasDenunciado" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Dirección</label>
                        <input type="text" class="form-control" id="DireccionDenunciado" name="DireccionDenunciado" />
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Denuncia</label>
                        <textarea style="height:150px" class="form-control" id="Denuncia" name="Denuncia"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label" style="margin-top:20px; margin-bottom:-100px !important;">Archivos</label>
                        <input id="OficioAdjunto" type="file" name="file[]" class="file" data-preview-file-type="text" multiple></div>
                </div>
                <br />
                <input type="checkbox" id="Condiciones" /> Términos y Condiciones

                <div class="row">
                    <div class="col-lg-12">
                        <div class="termino-condiciones">
                            <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                                <div id="terminosCondiciones2">

                                    <ul>
                                        <li>Todos los eventos deben ser solicitados con una semana de anterioridad.</li>
                                        <li>La Dirección de Comunicaciones contactará vía telefónica al solicitante a través del número proporcionado.</li>
                                        <li>Todas las solicitudes deben ser impresas y firmadas por el superior inmediato del área que solicita, ésta debe ser enviada a la Dirección de Comunicaciones y Prensa tan pronto sean validadas la fecha y la hora.</li>
                                        <li>Es de carácter obligatorio enviar en un rango de 3 días luego de generada la solicitud, todos los insumos del evento (Programa, Mesa Principal, Invitados, etc.).</li>

                                    </ul>


                                </div>

                            </div>
                        </div>
                    </div>


                </div>



                <br>
                <div id="send">
                    <button class="enviar" id="Aceptar" enable="false" style="float:right;">Enviar</button>
                </div>
                <br>

</form>
        </div>
    </div>
    <script>

        //Iniciliza el Upload y solo permite extenxiones pdf
        $("#OficioAdjunto").fileinput({
            //allowedFileExtensions: ["pdf"],
            uploadUrl: '/file-upload-batch/2',//Activa el Drag and Drop
            uploadAsync:false,
            showUpload: false,
            language: "es"
        });



        $("#Aceptar").click(function (e) {

            var NombreDenunciante = $("#NombreDenunciante").val();
            var Cedula = $("#Cedula").val();
            var TelefonoDenunciante = $("#TelefonoDenunciante").val();
            var EmailDenunciante = $("#EmailDenunciante").val();
            var DireccionDenunciante = $("#DireccionDenunciante").val();
            var TipoDenuncia = $("#TipoDenuncia").val();
            var NombreDenunciado = $("#NombreDenunciado").val();
            var Apellido1Denunciado = $("#Apellido1Denunciado").val();
            var Apellido2Denunciado = $("#Apellido2Denunciado").val();
            var CedulaDenunciado = $("#CedulaDenunciado").val();
            var AliasDenunciado = $("#AliasDenunciado").val();
            var DireccionDenunciado = $("#DireccionDenunciado").val();
            var Denuncia = $("#Denuncia").val();

            var file = $("#OficioAdjunto").get(0).files;

            //Contenedor de la informacion que sera enviada al controllador junto a los archivos cargados via ajax
            var formData = new FormData();
            for (var i in file) {
                formData.append("file", file[i]);
            }
            //formData.append("file", file[0]);
            formData.append("NombreDenunciante", NombreDenunciante);
            formData.append("Cedula", Cedula);
            formData.append("TelefonoDenunciante", TelefonoDenunciante);
            formData.append("EmailDenunciante", EmailDenunciante);
            formData.append("DireccionDenunciante", DireccionDenunciante);
            formData.append("TipoDenuncia", TipoDenuncia);
            formData.append("NombreDenunciado", NombreDenunciado);
            formData.append("Apellido1Denunciado", Apellido1Denunciado);
            formData.append("Apellido2Denunciado", Apellido2Denunciado);
            formData.append("CedulaDenunciado", CedulaDenunciado);
            formData.append("AliasDenunciado", AliasDenunciado);
            formData.append("DireccionDenunciado", DireccionDenunciado);
            formData.append("Denuncia", Denuncia);



            //Validamos si es de tipo PDF
            //if (file.length > 0 && file[0].type != "application/pdf") {
            //    swal(
            //        'Operacion Invalida',
            //        'Extensión de archivo no válido Sólo se permiten archivos pdf',
            //        'error'
            //      );
            //    return false;
            //};

            //Procesamos la informacion enviando los parametros al controlador al metodo Actualizar
            $.ajax({
            url: '@Url.Action("Registrar")',
            type: "POST",
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log(response);
                alert('Guardado ');
                swal(
                    'Procesada',
                    'El Archivo ha sido procesado correctamente!',
                    'success'
                )

            },
            error: function (response, a, b) {
               // console.log(response, a, b);
                swal(
                    'Oops...',
                    'Ha Ocurrido un Problema!' + " " + response,
                    'error'
                );
            }

        });//Fin del metodo Ajax

        });//Fin del Evento Click

</script>
<script type="text/javascript">
    $("#Aceptar").attr("disabled", "disabled");
 
    $(document).ready(function () {
        $("#Condiciones").change(function () {

            if ($("#Condiciones").prop("checked") == true) {
              
                $("#Aceptar").attr("disabled", false);
            }
            else {
                $("#Aceptar").attr("disabled", true);

                 }
        })

    });
        </script>
    <!--<script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
</body>

</html>


