﻿
@model intra.Models.Empleados.Institucion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/intraMaster.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <h2 class="h2_title_page">Editar Centros Educativos</h2>
            <hr class="hr2" />
        </div>
        <div class="col-md-8">
            <div class="pull-right">
                <input type="submit" value="Guardar" class="button_white" />
                @Html.ActionLink("Volver", "ListaUniversidades", null, new { @class = "button_white" })
      
            </div>
        </div>
    </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InstitucionId)
            <div class="row">
                <div class="col-lg-6">
                    <label class="control-label" for="Siglas">Descripción</label>
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="Siglas">Siglas</label>
                    @Html.EditorFor(model => model.Siglas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Siglas, "", new { @class = "text-danger" })
                </div>
            </div>

}

