﻿
@model IEnumerable<intra.Models.Empleados.Profesiones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/intraMaster.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <h2 class="h2_title_page">LIstado Profesiones</h2>
        <hr class="hr2" />
    </div>
    <div class="col-md-8">
        <div class="pull-right">
            @Html.ActionLink("Crear Nuevo", "CrearProfesiones", null, new { @class = "button_white" })
        </div>
    </div>
</div>




@Styles.Render("~/datatables/css")
<table id="tableGrid" class="table display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.FhCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
             
                <td>
                    @item.FhCreacion.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarProfesiones", new { id = item.ProfesionId }, new { @class = "button_details" }) 
                    @*@Html.ActionLink("Details", "Details", new { id = item.ProfesionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProfesionId })*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/JS/jquery-ui.min.js"></script>
@Scripts.Render("~/datatables/js")

